In [1]:
import pymongo 
import io 
import pandas as pd 
import pickle 
import datetime 
import time 
import gzip 
import lzma 
import pytz 
import pyarrow as pa 
import pyarrow.parquet as pq 
import numpy as np 
import re

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)

class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db', version=3): 
        self.db_name = db_name 
        self.uri = uri 
        self.client = pymongo.MongoClient(self.uri) 
        self.db = self.client[self.db_name] 
        self.chunk_size = 20000 
        self.symbol_column = symbol_column 
        self.date_column = 'date' 
        self.version = version

    def parse_uri(self, uri): 
        # mongodb://user:password@example.com 
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}
        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("date must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid date type: " + str(type(x)))
        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)
        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)
        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)
        return query

    def read_tick(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name] 
        query = self.build_query(start_date, end_date, symbol) 
        if not query: 
            print('cannot read the whole table') 
            return None  
        segs = [] 
        for x in collection.find(query): 
            x['data'] = self.deser(x['data'], x['ver']) 
            segs.append(x) 
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start'])) 
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def read_daily(self, table_name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, index_name=None, col=None, return_sdi=True): 
        collection = self.db[table_name]
        # Build projection 
        prj = {'_id': 0} 
        if col is not None: 
            if return_sdi: 
                col = ['skey', 'date', 'index_id'] + col 
            for col_name in col: 
                prj[col_name] = 1 
        # Build query 
        query = {} 
        if skey is not None: 
            query['skey'] = {'$in': skey} 
        if interval is not None: 
            query['interval'] = {'$in': interval} 
        if index_id is not None: 
            query['index_id'] = {'$in': index_id}    
        if index_name is not None:
            n = '' 
            for name in index_name: 
                try: 
                    name = re.compile('[\u4e00-\u9fff]+').findall(name)[0] 
                    if len(n) == 0: 
                        n = n = "|".join(name) 
                    else: 
                        n = n + '|' + "|".join(name) 
                except: 
                    if len(n) == 0: 
                        n = name 
                    else: 
                        n = n + '|' + name 
            query['index_name'] = {'$regex': n}
        if start_date is not None: 
            if end_date is not None: 
                query['date'] = {'$gte': start_date, '$lte': end_date} 
            else: 
                query['date'] = {'$gte': start_date} 
        elif end_date is not None: 
            query['date'] = {'$lte': end_date} 
        # Load data 
        cur = collection.find(query, prj) 
        df = pd.DataFrame.from_records(cur) 
        if df.empty: 
            df = pd.DataFrame() 
        else:
            if 'index_id' in df.columns:
                df = df.sort_values(by=['date', 'index_id', 'skey']).reset_index(drop=True)
            else:
                df = df.sort_values(by=['date','skey']).reset_index(drop=True)
        return df 
 

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = self.version
            ser_data = self.ser(df_seg, version)
            seg = {'ver': version, 'data': ser_data, 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None
        collection.delete_many(query)

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        elif version == 3:
            # 32-bit number needs more space than 64-bit for parquet
            for col_name in s.columns:
                col = s[col_name]
                if col.dtype == np.int32:
                    s[col_name] = s[col_name].astype(np.int64)
                elif col.dtype == np.uint32:
                    s[col_name] = s[col_name].astype(np.uint64)
            tbl = pa.Table.from_pandas(s)
            f = io.BytesIO()
            pq.write_table(tbl, f, use_dictionary=False, compression='ZSTD', compression_level=0)
            f.seek(0)
            data = f.read()
            return data
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        print(version)
        def unpickle(s):
            return pickle.loads(s)
        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        elif version == 3:
            f = io.BytesIO()
            f.write(s)
            f.seek(0)
            return pq.read_table(f, use_threads=False).to_pandas()
        else:
            raise Exception('unknown version')

def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

In [17]:
database_name = 'com_md_eq_cn'
user = 'zhenyuy'
password = 'bnONBrzSMGoE'

start = 20200903
end = 20200903
symbol = 2000001

import sys

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)

order = db1.read_tick('md_order', start_date=start, end_date=end, symbol=symbol)
trade = db1.read_tick('md_trade', start_date=start, end_date=end, symbol=symbol)
print(order)
print(trade)

3
3
3
3
3
3
3
3
3
3
3
           skey      date          time    clockAtArrival  ApplSeqNum  \
0       2000001  20200903   91500000000  1599095700000000         474
1       2000001  20200903   91500000000  1599095700000000        1010
2       2000001  20200903   91500000000  1599095700000000        1051
3       2000001  20200903   91500000000  1599095700000000        1131
4       2000001  20200903   91500000000  1599095700000000        1474
...         ...       ...           ...               ...         ...
107562  2000001  20200903  145957440000  1599116397440000    25633303
107563  2000001  20200903  145957490000  1599116397490000    25633326
107564  2000001  20200903  145957860000  1599116397860000    25633489
107565  2000001  20200903  145958270000  1599116398270000    25633705
107566  2000001  20200903  145959260000  1599116399260000    25634282

        order_side  order_type  order_price  order_qty
0                1           2        13.79        100
1                1           2        13.79        100
2                2           2        16.85      10000
3                2           2        15.32        100
4                2           2        15.32        100
...            ...         ...          ...        ...
107562           2           2        14.89       1000
107563           2           2        14.61      43300
107564           1           2        14.91      10000
107565           1           2        14.90        500
107566           2           2        14.92      13500

[107567 rows x 9 columns]
          skey      date          time    clockAtArrival  ApplSeqNum  \
0      2000001  20200903   91500030000  1599095700030000        2773
1      2000001  20200903   91500040000  1599095700040000        2983
2      2000001  20200903   91500050000  1599095700050000        3852
3      2000001  20200903   91500060000  1599095700060000        4653
4      2000001  20200903   91500430000  1599095700430000       29579
...        ...       ...           ...               ...         ...
93612  2000001  20200903  150000000000  1599116400000000    25635036
93613  2000001  20200903  150000000000  1599116400000000    25635037
93614  2000001  20200903  150000000000  1599116400000000    25635038
93615  2000001  20200903  150000000000  1599116400000000    25635039
93616  2000001  20200903  150000000000  1599116400000000    25635040

       trade_type  trade_flag  trade_price  trade_qty  BidApplSeqNum  \
0               4           0          0.0        100           2771
1               4           0          0.0        100            474
2               4           0          0.0        100           1010
3               4           0          0.0        100           4650
4               4           0          0.0        100           1657
...           ...         ...          ...        ...            ...
93612           1           0         14.9        100       25630795
93613           1           0         14.9       1900       25631606
93614           1           0         14.9       1000       25632054
93615           1           0         14.9       1000       25632201
93616           1           0         14.9        500       25633705

       OfferApplSeqNum
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
93612         25577978
93613         25577978
93614         25577978
93615         25577978
93616         25577978

[93617 rows x 11 columns]

In [10]:
order[order['order_price'] == 999990000]

Empty DataFrame
Columns: [skey, date, time, clockAtArrival, ApplSeqNum, order_side, order_type, order_price, order_qty]
Index: []

In [19]:
table = pa.Table.from_pandas(order)
pq.write_table(table, r'E:\work\MBDzoom-demo\order.parquet', compression='zstd', compression_level=0)

In [20]:
pd.read_csv(r'E:\work\MBDzoom-demo\output.csv')

           skey      date  ApplSeqNum  tradeVol  cancelVol  unfrozenOrderNum
0       2000001  20200903      444237  473762.0        0.0               0.0
1       2000001  20200903      444927       0.0        0.0               0.0
2       2000001  20200903      445955       0.0        0.0               0.0
3       2000001  20200903      447223       0.0        0.0               0.0
4       2000001  20200903      447411       0.0        0.0               0.0
...         ...       ...         ...       ...        ...               ...
120840  2000001  20200903    25525711       0.0     1000.0               0.0
120841  2000001  20200903    25525854     900.0        0.0               0.0
120842  2000001  20200903    25526415       0.0        0.0               0.0
120843  2000001  20200903    25526825     500.0        0.0               0.0
120844  2000001  20200903    25527156       0.0      300.0               0.0

[120845 rows x 6 columns]

In [23]:
test.head(1)

,skey,date,time,clockAtArrival,ordering,ApplSeqNum,bbo_improve,pass_filter,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels
0,2000001,20200903,92500000000,1599096300000000,1,392343,1,2,287,473162,7248841.84,15.32,15.32,15.32,15.23,15.24,15.25,15.26,15.27,15.28,15.29,15.3,15.31,15.32,15.33,15.34,15.35,15.36,15.37,15.38,15.39,15.4,15.41,15.42,20100,14300,38800,18800,4700,28700,21100,23800,4100,29338,1300,1500,7900,1500,900,13300,42400,18438,600,6000,9,5,21,7,3,9,3,13,1,17,4,1,6,1,1,6,7,7,1,4,2681338,5853402,14.813579,15.923983,1335,2492,139,151

In [177]:
order[(order['time'] < 92500000000) & (order['order_price'] > 71.71 * 9) & (order['order_side'] == 2)]['order_qty'].sum()

7482

In [179]:
order[(order['time'] < 92500000000) & (order['order_price'] > 71.71 * 9) & (order['order_side'] == 1)]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
679,2300864,20200824,91957820000,1598231997820000,232188,1,2,1010.0,100
1976,2300864,20200824,92445910000,1598232285910000,331896,1,2,2000.0,1000

In [178]:
trade[trade['OfferApplSeqNum'].isin(order[(order['time'] < 92500000000) & (order['order_price'] > 71.71 * 9) & (order['order_side'] == 2)]['ApplSeqNum'].unique())]

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
2,2300864,20200824,91504570000,1598231704570000,157819,4,0,0.0,500,0,157816
3802,2300864,20200824,93124540000,1598232684540000,1254642,4,0,0.0,500,0,152833
3831,2300864,20200824,93125340000,1598232685340000,1261659,4,0,0.0,500,0,101003
4858,2300864,20200824,93203150000,1598232723150000,1493150,4,0,0.0,200,0,251402
11713,2300864,20200824,94204670000,1598233324670000,4187610,4,0,0.0,500,0,304094
12369,2300864,20200824,94356190000,1598233436190000,4560435,4,0,0.0,500,0,228358
17533,2300864,20200824,95853010000,1598234333010000,7118000,4,0,0.0,300,0,78372
32672,2300864,20200824,111310820000,1598238790820000,14076239,4,0,0.0,500,0,287947
37267,2300864,20200824,132850560000,1598246930560000,17762943,4,0,0.0,400,0,110955
37272,2300864,20200824,132852290000,1598246932290000,17765105,4,0,0.0,100,0,123287
39690,2300864,20200824,135342870000,1598248422870000,19554529,4,0,0.0,500,0,133165
41522,2300864,20200824,141553710000,1598249753710000,21110488,4,0,0.0,300,0,96437

In [183]:
trade[trade['BidApplSeqNum'].isin(order[(order['time'] < 92500000000) & (order['order_price'] > 71.71 * 9) & (order['order_side'] == 1)]['ApplSeqNum'].unique())]

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
1209,2300864,20200824,93000750000,1598232600750000,477085,4,0,0.0,1000,331896,0
1324,2300864,20200824,93002310000,1598232602310000,563153,4,0,0.0,100,232188,0

In [170]:
db1.read_daily('mdbar1d_tr', start_date=20200824, end_date=20200824, skey=[2300864])

,skey,date,time,name,trade_status,listed_days,open,high,low,close,closeL1,yclose,ztClose,dtClose,dayReturn,volume,amount,buy_volume,sell_volume,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,isST,VWAP,TWAP,marketValue,marketShares,totalShares,SW1_name,SW1_code,SW2_code,SW3_code,index_name,index_weight,exchange
0,2300864,20200824,180000000000,å—å¤§çŽ¯å¢ƒ,1,1,133.0,206.0,132.0,166.02,0.0,71.71,0.0,0.0,1.315158,7001276,1.038723e+09,3424687.0,3576589.0,0.615256,0,0,0,0,0,0,0,148.362013,158.609141,1.889215e+09,11379445.0,48000000.0,ç”³ä¸‡å…¬ç”¨äº‹ä¸š,SW801160,SW801162,SW851641,None,0.0,SZSE

In [243]:
order[order['ApplSeqNum'] == 21145147]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
150624,2300869,20200824,145102000000,1598251862000000,21145147,1,2,88.0,100

In [254]:
database_name = 'com_md_eq_cn'
user = 'zhenyuy'
password = 'bnONBrzSMGoE'

import sys

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)

pd.set_option('max_rows', 300)
test1 = db1.read_tick('md_snapshot_l2', start_date=start, end_date=end, symbol=symbol)
test1[(test1['ApplSeqNum'] == -1) & (test1['cum_volume'] > 0) & (test1['time'] <= 145655000000)][['ApplSeqNum', 'time', 'skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
                   'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
                   'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
                   'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
                   'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
                   'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
                   'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']]

3

,ApplSeqNum,time,skey,date,cum_volume,prev_close,open,close,cum_trades_cnt,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity
34,-1,93003000000,2300489,20201112,163400,40.37,43.5,42.00,53,40.39,40.40,40.50,40.53,40.58,40.68,40.70,40.71,40.81,41.00,41.17,42.00,42.88,42.98,43.00,43.02,43.20,43.24,43.28,43.30,2000,34100,400,3000,1000,300,300,8200,300,1500,100,1400,10000,4800,20000,2800,12200,3500,400,36200,1,1,2,1,1,2,2,1,1,1,1,1,1,1,1,1,2,1,1,12,126000,446214
35,-1,93006000000,2300489,20201112,164400,40.37,43.5,41.01,61,40.58,40.60,40.68,40.70,40.71,40.76,40.80,40.81,41.00,41.01,41.17,41.98,41.99,42.00,42.88,42.98,43.00,43.02,43.05,43.20,1000,10000,300,100,200,2000,800,300,2300,5100,1200,7400,1200,1400,10000,4800,42200,2800,5000,12200,1,2,2,1,1,1,1,1,4,3,4,4,8,1,1,1,5,1,1,2,140800,723514
36,-1,93009000000,2300489,20201112,169200,40.37,43.5,41.02,87,40.60,40.68,40.70,40.71,40.76,40.80,40.81,41.00,41.01,41.02,41.17,41.98,41.99,42.00,42.88,42.98,43.00,43.02,43.05,43.20,10000,300,100,200,2000,800,300,2300,3900,5700,800,2800,600,1400,10000,5600,48200,2800,5000,12200,2,2,1,1,1,1,1,4,8,7,3,1,4,1,1,2,6,1,1,2,170500,758714
37,-1,93012000000,2300489,20201112,179600,40.37,43.5,41.37,111,40.80,40.81,41.00,41.01,41.02,41.17,41.18,41.19,41.20,41.37,41.91,41.99,42.00,42.88,42.98,43.00,43.02,43.05,43.20,43.25,800,300,2300,4000,10600,2000,3100,3400,2700,100,7000,600,1400,10000,5200,48200,2800,5000,12200,2000,1,1,4,8,11,4,6,1,5,1,3,4,1,1,2,6,1,1,2,1,186800,758514
38,-1,93015000000,2300489,20201112,183800,40.37,43.5,41.41,119,40.80,40.81,41.00,41.01,41.02,41.03,41.17,41.37,41.39,41.40,41.41,41.50,41.56,41.87,41.88,41.99,42.00,42.88,42.98,43.00,800,300,2500,4100,6400,100,2000,800,3200,2300,2000,100,500,3800,1600,10400,1400,10000,5200,48200,1,1,5,9,8,1,4,4,3,1,4,1,1,1,2,5,1,1,2,6,178000,766614
39,-1,93018000000,2300489,20201112,186200,40.37,43.5,41.39,132,40.70,40.71,40.80,40.81,41.00,41.01,41.02,41.10,41.17,41.18,41.39,41.40,41.41,41.91,41.99,42.00,42.88,42.98,43.00,43.02,100,200,800,300,2500,4100,1400,5000,3300,100,2700,2300,8000,500,10400,1400,10000,5200,48200,2800,1,1,1,1,5,9,7,1,5,1,3,1,11,1,5,1,1,2,6,1,173000,768114
40,-1,93021000000,2300489,20201112,190200,40.37,43.5,41.27,148,40.75,40.80,40.81,41.00,41.01,41.02,41.10,41.17,41.27,41.29,41.30,41.39,41.40,41.41,41.91,41.99,42.00,42.88,42.98,43.00,2700,800,300,2500,4300,1400,5000,2900,4800,3000,100,1600,100,8000,500,10400,1400,10000,5200,48200,1,1,1,5,10,7,1,5,1,1,1,4,1,11,1,5,1,1,2,6,182600,751614
41,-1,93024000000,2300489,20201112,194300,40.37,43.5,41.41,162,40.81,41.00,41.01,41.02,41.10,41.17,41.28,41.37,41.38,41.39,41.41,41.52,41.91,41.99,42.00,42.88,42.98,43.00,43.02,43.20,300,2500,1700,1400,5000,2500,200,400,2900,100,5800,100,500,10400,1400,10000,5200,48200,2800,12200,1,5,9,7,1,3,2,2,1,1,7,1,1,5,1,1,2,6,1,2,169600,741414
42,-1,93027000000,2300489,20201112,208300,40.37,43.5,41.43,193,41.10,41.17,41.28,41.34,41.37,41.40,41.41,41.42,41.43,41.44,41.87,41.88,41.90,41.91,41.99,42.00,42.88,42.98,43.00,43.02,5000,2500,200,500,100,300,100,200,1800,3700,31338,23700,3600,7000,10700,1400,10000,5200,48200,2800,1,3,2,1,1,3,1,1,1,3,14,9,1,14,6,1,1,2,6,1,172000,798552
43,-1,93030000000,2300489,20201112,209400,40.37,43.5,41.47,202,41.17,41.28,41.30,41.34,41.37,41.39,41.40,41.41,41.44,41.45,41.54,41.84,41.85,41.86,41.91,41.99,42.00,42.88,42.98,43.00,2500,200,200,500,700,100,200,100,700,100,600,3600,200,3500,6500,900,1400,10000,5200,48200,3,2,1,1,3,1,2,1,2,1,2,1,2,1,13,5,1,1,2,6,167900,720214
44,-1,93033000000,2300489,20201112,214800,40.37,43.5,41.54,213,41.30,41.34,41.37,41.39,41.40,41.41,41.44,41.45,41.48,41.49,41.53,41.85,41.86,41.91,41.99,42.00,42.88,42.98,43.00,43.02,900,500,700,2300,200,2900,100,500,500,200,3000,200,3500,6500,900,1400,10000,5200,48200,2800,3,1,3,2,2,4,1,4,1,1,1,2,1,13,5,1,1,2,6,1,172100,717314
45,-1,93036000000,2300489,20201112,218300,40.37,43.5,41.46,226,41.30,41.34,41.37,41.39,41.40,41.41,41.43,41.44,41.46,41.47,41.50,41.53,41.85,41.86,41.91,41.99,42.00,42.88,42.98,43.00,1100,500,700,2300,200,3600,200,100,200,100,400,1000,200,3500,400,600,1400,10000,5200,48200,4,1,3,2,2,7,2,1,2,1,4,1,2,1,2,4,1,1,2,6,167300,705014
46,-1,93039000000,2300489,20201112,222300,40.37,43.5,41.53,242,41.34,41.37,41.39,41.40,41.41,41.43,41.44,41.45,41.51,41.53,41.59,41.84,41.85,41.86,41.91,41.99,42.00,42.88,42.98,43.00,500,700,8000,200,3400,200,100,200,100,3800,400,1200,300,3500,400,600,1400,10000,5200,48200,1,3,4,2,6,2,1,1,1,2,1,4,3,1,2,4,1,1,2,6,176400,710514
47,-1,93042000000,2300489,20201112,226900,40.37,43.5,41.53,254,41.37,41.39,41.40,41.41,41.43,41.44,41.46,41.50,41.52,41.53,41.58,41.59,41.85,41.86,41.91,41.99,42.00,42.88,42.98,43.00,700,8000,200,2200,200,100,700,5800,3300,1500,2000,500,300,3500,400,600,1400,10000,5200,48200,3,4,2,3,2,1,1,2,1,2,1,1,3,1,2,4,1,1,2,6,180800,708714
48,-1,93045000000,2300489,20201112,230800,40.37,43.5,41.59,266,41.37,41.39,41.41,41.43,41.44,41.46,41.50,41.52,41.53,41.55,41.57,41.63,41.82,41.85,41.91,41.99,42.00,42.88,42.98,43.00,100,8000,2200,200,100,700,5800,3300,1300,100,3100,200,100,500,400,600,1400,10000,5200,48200,1,4,3,2,1,1,2,1,2,1,1,1,1,4,2,4,1,1,2,6,179800,703914
49,-1,93048000000,2300489,20201112,242900,40.37,43.5,41.52,287,41.30,41.31,41.34,41.37,41.39,41.40,41.41,41.43,41.44,41.46,41.52,41.53,41.54,41.55,41.57,41.58,41.63,41.82,41.85,41.91,700,400,500,100,8000,2000,2200,200,100,700,2200,2900,1600,100,3100,100,200,100,1000,400,2,1,1,1,4,1,3,2,1,1,1,6,1,1,1,1,1,1,5,2,171100,671314
50,-1,93051000000,2300489,20201112,246600,40.37,43.5,41.50,300,41.20,41.28,41.30,41.31,41.34,41.39,41.40,41.41,41.43,41.44,41.46,41.53,41.54,41.57,41.58,41.63,41.82,41.85,41.91,41.99,200,200,200,400,500,8000,2000,2200,100,100,1100,2000,1600,3100,100,200,100,1000,400,600,1,2,1,1,1,4,1,3,1,1,2,5,1,1,1,1,1,5,2,4,169600,657314
51,-1,93054000000,2300489,20201112,247400,40.37,43.5,41.41,305,41.02,41.17,41.20,41.28,41.30,41.31,41.34,41.39,41.40,41.41,41.43,41.44,41.45,41.46,41.47,41.49,41.53,41.54,41.58,41.63,1400,700,200,200,200,400,500,5800,2000,2000,3100,100,900,100,500,200,2000,1600,100,200,7,1,1,2,1,1,1,3,1,3,1,1,4,1,1,1,5,1,1,1,167000,657914
52,-1,93057000000,2300489,20201112,257500,40.37,43.5,41.39,325,40.81,41.00,41.01,41.02,41.17,41.20,41.28,41.30,41.31,41.34,41.39,41.40,41.41,41.43,41.44,41.45,41.46,41.47,41.50,41.53,300,2500,1600,1400,700,200,200,200,400,500,600,1000,6600,3100,3000,700,100,500,300,1100,1,5,8,7,1,1,2,1,1,1,2,3,15,3,1,3,1,1,1,4,157700,669414
53,-1,93100000000,2300489,20201112,261600,40.37,43.5,41.34,342,40.71,40.75,40.81,41.00,41.01,41.02,41.17,41.20,41.28,41.30,41.31,41.32,41.33,41.34,41.39,41.40,41.41,41.43,41.44,41.45,200,2700,300,2500,1600,1400,700,200,200,200,100,300,100,3900,2100,500,6100,3100,3000,700,1,1,1,5,8,7,1,1,2,1,1,3,1,9,2,1,21,3,1,3,156800,672214
54,-1,93103000000,2300489,20201112,262600,40.37,43.5,41.17,352,40.60,40.68,40.70,40.71,40.75,40.81,41.00,41.01,41.02,41.17,41.19,41.29,41.30,41.31,41.33,41.34,41.38,41.39,41.40,41.41,10000,300,100,200,2700,300,2100,1600,1400,400,200,200,1100,100,200,5100,1900,2700,500,5900,2,2,1,1,1,1,3,8,7,1,2,2,7,1,2,11,1,3,1,19,155500,669014
55,-1,93106000000,2300489,20201112,266400,40.37,43.5,41.19,379,40.60,40.68,40.70,40.71,40.75,40.81,41.00,41.01,41.05,41.06,41.17,41.18,41.23,41.24,41.25,41.34,41.38,41.39,41.40,41.41,10000,300,100,200,2700,300,2100,200,100,9000,400,3000,300,100,100,4100,1900,1000,500,5900,2,2,1,1,1,1,3,1,1,13,1,1,3,1,1,9,1,2,1,19,161400,639814
56,-1,93109000000,2300489,20201112,281900,40.37,43.5,41.19,407,40.58,40.60,40.68,40.70,40.71,40.75,40.81,41.00,41.07,41.13,41.32,41.33,41.34,41.38,41.39,41.40,41.41,41.43,41.45,41.46,1000,10000,300,100,200,2700,300,1900,700,600,14450,5200,4600,1900,1000,500,5000,200,700,200,1,2,2,1,1,1,1,2,4,2,9,4,9,1,2,1,18,2,3,2,153200,654664
57,-1,93112000000,2300489,20201112,284200,40.37,43.5,41.11,419,40.50,40.53,40.58,40.60,40.68,40.70,40.71,40.75,40.81,41.00,41.11,41.12,41.13,41.21,41.22,41.33,41.34,41.38,41.39,41.41,20800,3000,1000,10000,300,100,200,2700,300,1200,600,1200,100,100,300,100,4600,1900,1000,4500,3,1,1,2,2,1,1,1,1,2,5,5,1,1,1,1,9,1,2,15,151200,636314
58,-1,93115000000,2300489,20201112,284900,40.37,43.5,41.00,426,40.53,40.58,40.60,40.68,40.70,40.71,40.75,40.81,41.00,41.01,41.02,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,3000,1000,10000,300,100,200,2700,300,900,100,100,100,500,300,900,300,100,3500,1900,1000,1,1,2,2,1,1,1,1,2,1,1,1,1,2,4,3,1,8,1,2,151000,633814
59,-1,93118000000,2300489,20201112,287700,40.37,43.5,40.81,446,40.42,40.50,40.53,40.58,40.60,40.68,40.70,40.71,40.75,40.81,40.94,40.95,41.00,41.06,41.10,41.11,41.12,41.13,41.33,41.34,1000,20800,3000,1000,10000,300,100,200,2700,100,1000,800,200,20000,700,300,900,300,100,3500,1,3,1,1,2,2,1,1,1,1,1,1,2,1,2,2,4,3,1,8,149800,655414
60,-1,93121000000,2300489,20201112,292500,40.37,43.5,40.81,461,40.40,40.42,40.50,40.53,40.58,40.60,40.68,40.70,40.71,40.75,40.80,40.81,40.82,40.94,40.95,41.02,41.06,41.10,41.11,41.12,35500,1000,20800,3000,1000,10000,300,100,200,100,1000,200,400,1000,800,200,20000,700,300,400,2,1,3,1,1,2,2,1,1,1,1,2,1,1,1,2,1,2,2,3,147100,657914
61,-1,93124000000,2300489,20201112,316500,40.37,43.5,41.04,511,40.50,40.53,40.58,40.60,40.68,40.70,40.71,40.75,40.84,40.87,41.04,41.05,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,20800,3000,1000,10000,300,100,200,100,900,2200,700,100,10100,700,300,400,300,100,3500,1900,3,1,1,2,2,1,1,1,1,2,2,1,1,2,2,3,3,1,8,1,150200,644914
62,-1,93127000000,2300489,20201112,318200,40.37,43.5,41.01,520,40.53,40.58,40.60,40.68,40.70,40.75,40.76,40.86,40.88,40.90,41.03,41.04,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,3000,1000,10000,300,100,600,700,2000,100,900,1600,100,10100,700,300,400,300,100,3500,1900,1,1,2,2,1,2,1,1,1,1,2,1,1,2,2,3,3,1,8,1,150800,644514
63,-1,93130000000,2300489,20201112,318300,40.37,43.5,41.02,521,40.60,40.68,40.70,40.75,40.76,40.80,40.81,40.88,40.91,40.93,41.00,41.01,41.02,41.03,41.04,41.06,41.10,41.11,41.12,41.13,10000,300,100,600,700,300,300,900,1800,900,200,100,100,900,100,10100,700,300,400,300,2,2,1,2,1,1,1,1,10,1,2,1,1,1,1,1,2,2,3,3,149000,637914
64,-1,93133000000,2300489,20201112,320000,40.37,43.5,41.03,531,40.68,40.70,40.75,40.76,40.80,40.81,40.88,40.91,40.94,40.96,41.02,41.03,41.04,41.06,41.10,41.11,41.12,41.13,41.33,41.34,300,500,600,700,300,300,900,4900,200,300,400,500,100,10100,700,300,400,300,100,3500,2,2,2,1,1,1,1,12,1,1,4,1,1,1,2,2,3,3,1,8,118000,636414
65,-1,93136000000,2300489,20201112,322100,40.37,43.5,40.96,550,40.75,40.76,40.80,40.81,40.88,40.91,40.93,40.94,40.97,40.98,41.01,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,600,700,300,300,900,4900,1000,200,100,1000,100,10100,700,300,400,300,100,3500,1900,1000,2,1,1,1,1,12,1,1,1,1,1,1,2,2,3,3,1,8,1,2,119800,633414
66,-1,93139000000,2300489,20201112,323400,40.37,43.5,41.00,563,40.80,40.81,40.88,40.91,40.93,40.94,40.97,40.98,40.99,41.01,41.02,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,300,300,900,4900,1000,200,100,300,100,100,400,10200,700,300,400,300,100,3500,1900,1000,1,1,1,12,1,1,1,1,1,1,1,2,2,2,3,3,1,8,1,2,119300,631014
67,-1,93142000000,2300489,20201112,324700,40.37,43.5,41.02,576,40.70,40.75,40.76,40.81,40.88,40.91,40.93,40.94,40.96,41.01,41.02,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,500,600,700,300,900,4900,1000,200,200,200,300,10200,700,300,400,300,100,3500,1900,1000,2,2,1,1,1,12,1,1,1,1,2,2,2,2,3,3,1,8,1,2,118800,615814
68,-1,93145000000,2300489,20201112,331300,40.37,43.5,41.01,595,40.70,40.75,40.76,40.81,40.88,40.91,40.93,40.94,40.96,41.00,41.01,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,500,600,700,300,900,4900,1000,200,200,400,100,5500,700,300,400,300,100,3500,1900,1000,2,2,1,1,1,12,1,1,1,1,1,2,2,2,3,3,1,8,1,2,118900,614314
69,-1,93148000000,2300489,20201112,334500,40.37,43.5,41.02,607,40.75,40.76,40.81,40.88,40.91,40.93,40.94,40.96,41.00,41.02,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,41.41,600,700,300,900,4900,1000,200,200,2700,200,4800,700,300,400,300,100,3500,1900,1000,4500,2,1,1,1,12,1,1,1,1,1,3,2,2,3,3,1,8,1,2,15,121400,615814
70,-1,93151000000,2300489,20201112,342400,40.37,43.5,41.06,627,40.76,40.81,40.88,40.91,40.93,40.94,40.96,41.00,41.05,41.06,41.10,41.11,41.12,41.13,41.33,41.34,41.38,41.39,41.41,41.43,700,300,900,4900,1000,200,200,2700,7000,400,700,300,400,300,100,3500,1900,1000,4500,100,1,1,1,12,1,1,1,1,2,1,2,2,3,3,1,8,1,2,15,1,128600,604714
71,-1,93154000000,2300489,20201112,347800,40.37,43.5,41.06,646,40.88,40.91,40.93,40.94,40.96,41.00,41.01,41.02,41.05,41.09,41.11,41.12,41.13,41.33,41.34,41.38,41.39,41.41,41.43,41.45,900,4900,1000,200,200,2700,400,3400,4500,300,700,200,300,100,3500,1900,1000,4500,100,700,1,12,1,1,1,1,2,4,1,1,3,2,3,1,8,1,2,15,1,3,128800,607914

In [274]:
test1[test1['time'] <= 93000000000].tail(1)[['ApplSeqNum', 'time', 'skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
                   'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
                   'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
                   'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
                   'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
                   'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
                   'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']]

,ApplSeqNum,time,skey,date,cum_volume,prev_close,open,close,cum_trades_cnt,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity
33,284407,92903000000,2300489,20201112,112000,40.37,43.5,43.5,33,39.5,39.75,40.0,40.01,40.11,40.37,40.5,40.68,40.7,43.5,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.0,45.22,45.33,5200,500,200,300,500,600,100,200,200,73000,200,100,200,10000,1000,300,100,1300,600,300,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,109800,19500

In [279]:
test.head(200)[['ApplSeqNum', 'time', 'skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
                   'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
                   'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
                   'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
                   'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
                   'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
                   'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']]

,ApplSeqNum,time,skey,date,cum_volume,prev_close,open,close,cum_trades_cnt,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity
0,284407,92500000000,2300489,20201112,112000,40.37,43.5,43.50,33,39.50,39.75,40.00,40.01,40.11,40.37,40.50,40.68,40.70,43.50,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,45.33,5200,500,200,300,500,600,100,200,200,73000,200,100,200,10000,1000,300,100,1300,600,300,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,109800,19500
1,288975,93000010000,2300489,20201112,117000,40.37,43.5,43.50,34,39.50,39.75,40.00,40.01,40.11,40.37,40.50,40.68,40.70,43.50,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,45.33,5200,500,200,300,500,600,100,200,200,68000,200,100,200,10000,1000,300,100,1300,600,300,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,104800,19500
2,289494,93000010000,2300489,20201112,117000,40.37,43.5,43.50,34,39.50,39.75,40.00,40.01,40.11,40.37,40.50,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,5200,500,200,300,500,600,100,200,200,68000,6700,200,100,200,10000,1000,300,100,1300,600,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,2,1,104800,26200
3,289810,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,39.50,39.75,40.00,40.01,40.11,40.37,40.50,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,5200,500,200,300,500,600,100,200,200,68000,9300,200,100,200,10000,1000,300,100,1300,600,2,1,1,2,1,2,1,1,1,1,2,1,1,1,1,1,1,1,2,1,104800,28800
4,290783,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,39.75,40.00,40.01,40.11,40.37,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,500,200,300,500,600,100,3000,200,200,68000,9300,200,100,200,10000,1000,300,100,1300,600,1,1,2,1,2,1,1,1,1,1,2,1,1,1,1,1,1,1,2,1,107800,28800
5,290823,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,200,300,500,600,2000,100,3000,200,200,68000,9300,200,100,200,10000,1000,300,100,1300,600,1,2,1,2,1,1,1,1,1,1,2,1,1,1,1,1,1,1,2,1,109800,28800
6,291142,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,200,300,500,600,2000,100,3000,200,200,68000,16000,200,100,200,10000,1000,300,100,1300,600,1,2,1,2,1,1,1,1,1,1,3,1,1,1,1,1,1,1,2,1,109800,35500
7,291306,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,200,10000,1000,300,100,1300,600,1,2,1,2,1,1,1,1,1,1,4,1,1,1,1,1,1,1,2,1,109800,42200
8,291742,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.17,44.39,44.55,44.94,44.98,45.00,45.22,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,1900,10000,1000,300,100,1300,600,1,2,1,2,1,1,1,1,1,1,4,1,1,2,1,1,1,1,2,1,109800,43900
9,291821,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.55,44.94,44.98,45.00,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,1000,1900,10000,1000,300,100,1300,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,1,1,1,1,2,109800,44900
10,292096,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.94,44.98,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,1000,1900,10000,400,1000,300,100,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,1,1,1,1,1,109800,45300
11,292225,93000020000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,1000,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,1,1,1,1,1,109800,46300
12,292321,93000030000,2300489,20201112,117000,40.37,43.5,43.50,34,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,68000,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,109800,50100
13,292715,93000030000,2300489,20201112,117500,40.37,43.5,43.50,35,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,67500,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,109300,50100
14,292778,93000030000,2300489,20201112,120000,40.37,43.5,43.50,36,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,65000,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,106800,50100
15,292869,93000030000,2300489,20201112,120100,40.37,43.5,43.50,37,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,64900,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,106700,50100
16,292873,93000030000,2300489,20201112,120700,40.37,43.5,43.50,38,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,64300,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,106100,50100
17,292877,93000030000,2300489,20201112,121100,40.37,43.5,43.50,39,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.92,44.00,44.17,44.39,44.48,44.55,44.80,44.94,200,300,500,600,2000,100,3000,200,200,63900,22700,200,100,4800,1900,10000,400,1000,1000,300,1,2,1,2,1,1,1,1,1,1,4,1,1,2,2,1,1,1,1,1,105700,50100
18,293283,93000030000,2300489,20201112,121100,40.37,43.5,43.50,39,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.39,44.48,44.55,44.80,200,300,500,600,2000,100,3000,200,200,63900,22700,200,300,100,4800,1900,10000,400,1000,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,105700,50400
19,294393,93000040000,2300489,20201112,121600,40.37,43.5,43.50,40,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.39,44.48,44.55,44.80,200,300,500,600,2000,100,3000,200,200,63400,22700,200,300,100,4800,1900,10000,400,1000,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,105200,50400
20,295905,93000060000,2300489,20201112,121600,40.37,43.5,43.50,40,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,63400,22700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,105200,68400
21,297561,93000070000,2300489,20201112,122600,40.37,43.5,43.50,41,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,62400,22700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,104200,68400
22,299580,93000100000,2300489,20201112,123100,40.37,43.5,43.50,42,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,61900,22700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,103700,68400
23,299941,93000100000,2300489,20201112,123100,40.37,43.5,43.50,42,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,61900,22700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,103700,68400
24,300714,93000110000,2300489,20201112,123200,40.37,43.5,43.83,43,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,61900,22600,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,103700,68300
25,302471,93000120000,2300489,20201112,123600,40.37,43.5,43.83,44,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,61900,22200,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,103700,67900
26,302492,93000120000,2300489,20201112,128600,40.37,43.5,43.50,45,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,56900,22200,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98700,67900
27,302829,93000120000,2300489,20201112,128600,40.37,43.5,43.50,45,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,56900,22200,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98700,69900
28,302927,93000120000,2300489,20201112,129100,40.37,43.5,43.50,46,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,56400,22200,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98200,69900
29,303455,93000130000,2300489,20201112,129600,40.37,43.5,43.83,47,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,56400,21700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98200,69400
30,304992,93000140000,2300489,20201112,129600,40.37,43.5,43.83,47,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,200,300,500,600,2000,100,3000,200,200,56400,21700,200,300,100,4800,1900,18000,10000,400,1000,1,2,1,2,1,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98200,69700
31,305255,93000140000,2300489,20201112,129600,40.37,43.5,43.83,47,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,56400,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,98100,69700
32,305662,93000140000,2300489,20201112,150600,40.37,43.5,43.50,48,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,35400,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,77100,69700
33,305755,93000140000,2300489,20201112,151600,40.37,43.5,43.50,49,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,34400,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,76100,69700
34,305843,93000140000,2300489,20201112,152900,40.37,43.5,43.50,50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,33100,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,74800,69700
35,306813,93000150000,2300489,20201112,157900,40.37,43.5,43.50,51,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,28100,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,69800,69700
36,307139,93000150000,2300489,20201112,162900,40.37,43.5,43.50,52,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,500,200,300,500,600,2000,3000,200,200,23100,21700,200,300,100,4800,1900,18000,10000,400,1000,1,1,2,1,2,1,1,1,1,1,4,1,1,1,2,2,1,1,1,1,64800,69700
37,307560,93000150000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,5200,500,200,300,500,600,2000,3000,200,200,21700,200,300,100,4800,1900,18000,10000,400,1000,2,1,1,2,1,2,1,1,1,1,4,1,1,1,2,2,1,1,1,1,41700,69700
38,308098,93000160000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,5200,500,200,300,500,600,2000,3000,200,200,21700,200,300,100,4800,1900,18000,10000,400,3000,2,1,1,2,1,2,1,1,1,1,4,1,1,1,2,2,1,1,1,2,41700,71700
39,308189,93000160000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,5200,500,200,300,500,600,2000,3000,200,200,21700,200,300,100,4800,1900,18000,10000,400,3000,2,1,1,2,1,2,1,1,1,1,4,1,1,1,2,2,1,1,1,2,41700,73700
40,309049,93000170000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.39,44.48,44.55,5200,500,200,300,500,600,2000,3000,200,200,21700,200,300,100,4900,1900,18000,10000,400,3000,2,1,1,2,1,2,1,1,1,1,4,1,1,1,3,2,1,1,1,2,41700,73800
41,309477,93000170000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,44.39,44.48,5200,500,200,300,500,600,2000,3000,200,200,21700,200,300,100,4900,1900,18000,200,10000,400,2,1,1,2,1,2,1,1,1,1,4,1,1,1,3,2,1,1,1,1,41700,74000
42,309482,93000170000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,44.39,5200,500,200,300,500,600,2000,3000,200,200,19800,21700,200,300,100,4900,1900,18000,200,10000,2,1,1,2,1,2,1,1,1,1,1,4,1,1,1,3,2,1,1,1,41700,93800
43,309856,93000170000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,44.39,5200,500,200,300,500,600,2000,3000,200,200,19800,21700,200,300,100,4900,1900,18000,200,10000,2,1,1,2,1,2,1,1,1,1,1,4,1,1,1,3,2,1,1,1,41700,94600
44,310214,93000170000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,44.39,5200,500,200,300,500,600,2000,3000,200,200,20600,21700,200,300,100,4900,1900,18000,200,10000,2,1,1,2,1,2,1,1,1,1,2,4,1,1,1,3,2,1,1,1,41700,95400
45,310381,93000180000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,300,21700,200,300,100,4900,1900,18000,200,2,1,1,2,1,2,1,1,1,1,2,1,4,1,1,1,3,2,1,1,41700,95700
46,310500,93000180000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,300,28400,200,300,100,4900,1900,18000,200,2,1,1,2,1,2,1,1,1,1,2,1,5,1,1,1,3,2,1,1,41700,102400
47,310865,93000180000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,300,28400,200,300,100,4900,2100,18000,200,2,1,1,2,1,2,1,1,1,1,2,1,5,1,1,1,3,3,1,1,41700,102600
48,311159,93000180000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,300,28400,200,300,100,4900,2100,18000,200,2,1,1,2,1,2,1,1,1,1,2,1,5,1,1,1,3,3,1,1,41700,103000
49,311779,93000190000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,20300,28400,200,300,100,4900,2100,18000,200,2,1,1,2,1,2,1,1,1,1,2,2,5,1,1,1,3,3,1,1,41700,123000
50,312277,93000190000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,20300,28400,200,300,100,4900,2100,18000,200,2,1,1,2,1,2,1,1,1,1,2,2,5,1,1,1,3,3,1,1,41700,123500
51,312678,93000190000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,44.36,5200,500,200,300,500,600,2000,3000,200,200,20600,22300,28400,200,300,100,4900,2100,18000,200,2,1,1,2,1,2,1,1,1,1,2,3,5,1,1,1,3,3,1,1,41700,125500
52,313449,93000200000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,5200,500,200,300,500,600,2000,3000,200,200,20600,20000,22300,28400,200,300,100,4900,2100,18000,2,1,1,2,1,2,1,1,1,1,2,1,3,5,1,1,1,3,3,1,41700,145500
53,313465,93000200000,2300489,20201112,162900,40.37,43.5,43.50,52,39.50,39.75,40.00,40.01,40.11,40.37,40.39,40.53,40.68,40.70,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,5200,500,200,300,500,600,2000,3000,200,200,20600,20000,22300,28400,200,300,100,5400,2100,18000,2,1,1,2,1,2,1,1,1,1,2,1,3,5,1,1,1,4,3,1,41700,146000
54,314205,93000200000,2300489,20201112,162900,40.37,43.5,43.50,52,39.75,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,500,200,300,500,600,2000,100,3000,200,200,20600,20000,22300,28400,200,300,100,5400,2100,18000,1,1,2,1,2,1,1,1,1,1,2,1,3,5,1,1,1,4,3,1,41800,146000
55,315557,93000210000,2300489,20201112,162900,40.37,43.5,43.50,52,39.75,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,500,200,300,500,600,2000,100,3000,200,200,20600,20000,22300,28400,700,300,100,5400,2100,18000,1,1,2,1,2,1,1,1,1,1,2,1,3,5,2,1,1,4,3,1,41800,146500
56,316082,93000220000,2300489,20201112,162900,40.37,43.5,43.50,52,39.75,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,500,200,300,500,600,2000,100,3000,200,300,20600,20000,22300,28400,700,300,100,5400,2100,18000,1,1,2,1,2,1,1,1,1,2,2,1,3,5,2,1,1,4,3,1,41900,146500
57,316457,93000220000,2300489,20201112,162900,40.37,43.5,43.50,52,40.00,40.01,40.11,40.37,40.39,40.50,40.53,40.68,40.70,40.81,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,200,300,500,600,2000,100,3000,200,300,300,20600,20000,22300,28400,700,300,100,5400,2100,18000,1,2,1,2,1,1,1,1,2,1,2,1,3,5,2,1,1,4,3,1,42200,146500
58,316652,93000220000,2300489,20201112,162900,40.37,43.5,43.50,52,40.01,40.11,40.13,40.37,40.39,40.50,40.53,40.68,40.70,40.81,43.30,43.49,43.50,43.83,43.84,43.90,43.92,44.00,44.17,44.30,300,500,5000,600,2000,100,3000,200,300,300,20600,20000,22300,28400,700,300,100,5400,2100,18000,2,1,1,2,1,1,1,1,2,1,2,1,3,5,2,1,1,4,3,1,47200,146500

In [284]:
# min order_side 2
40.81 * 0.98

39.9938

In [283]:
# max order_side 1
43.3 * 1.02

44.166

In [13]:
order1 = pd.read_csv(r'\\192.168.10.34\random_backup\Kevin_zhenyu\KR_daily_data\20201112\SZ\order\300489.csv')
trade1 = pd.read_csv(r'\\192.168.10.34\random_backup\Kevin_zhenyu\KR_daily_data\20201112\SZ\tick\300489.csv')
pd.set_option('max_rows', 200)

In [8]:
mbd = pd.concat([order, trade]).sort_values(by='ApplSeqNum')
mbd[mbd['TransactTime'] > 20201112093000000].head(200)

,OrderQty,OrdType,TransactTime,ExpirationDays,Side,ApplSeqNum,Contactor,SendingTime,Price,ChannelNo,ExpirationType,ContactInfo,ConfirmID,BidApplSeqNum,Qty,OfferApplSeqNum,Amt,ExecType
96,5000.0,2.0,20201112093000010,0.0,2.0,288975,NaN,20201112093000000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,20201112093000010,NaN,NaN,288976,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,5000.0,288975.0,0.0,F
97,6700.0,2.0,20201112093000010,0.0,2.0,289494,NaN,20201112093000000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2600.0,2.0,20201112093000020,0.0,2.0,289810,NaN,20201112093000000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,3000.0,2.0,20201112093000020,0.0,1.0,290783,NaN,20201112093000000,40.53,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2000.0,2.0,20201112093000020,0.0,1.0,290823,NaN,20201112093000000,40.39,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,6700.0,2.0,20201112093000020,0.0,2.0,291142,NaN,20201112093000000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,6700.0,2.0,20201112093000020,0.0,2.0,291306,NaN,20201112093000000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,1700.0,2.0,20201112093000020,0.0,2.0,291742,NaN,20201112093000000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,1000.0,2.0,20201112093000020,0.0,2.0,291821,NaN,20201112093000000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,400.0,2.0,20201112093000020,0.0,2.0,292096,NaN,20201112093000000,44.48,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,1000.0,2.0,20201112093000020,0.0,2.0,292225,NaN,20201112093000000,44.80,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,3800.0,2.0,20201112093000030,0.0,2.0,292321,NaN,20201112093000000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,500.0,2.0,20201112093000030,0.0,2.0,292715,NaN,20201112093000000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,20201112093000030,NaN,NaN,292716,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,500.0,292715.0,0.0,F
109,2500.0,2.0,20201112093000030,0.0,2.0,292778,NaN,20201112093000000,43.41,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,20201112093000030,NaN,NaN,292779,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,2500.0,292778.0,0.0,F
110,100.0,2.0,20201112093000030,0.0,2.0,292869,NaN,20201112093000000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,20201112093000030,NaN,NaN,292870,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,100.0,292869.0,0.0,F
111,600.0,2.0,20201112093000030,0.0,2.0,292873,NaN,20201112093000000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,20201112093000030,NaN,NaN,292874,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,600.0,292873.0,0.0,F
112,400.0,2.0,20201112093000030,0.0,2.0,292877,NaN,20201112093000000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,20201112093000030,NaN,NaN,292878,NaN,20201112093000000,43.50,2011,NaN,NaN,NaN,253880.0,400.0,292877.0,0.0,F
113,300.0,2.0,20201112093000030,0.0,2.0,293283,NaN,20201112093000000,43.90,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,500.0,2.0,20201112093000040,0.0,2.0,294393,NaN,20201112093001000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,20201112093000040,NaN,NaN,294394,NaN,20201112093001000,43.50,2011,NaN,NaN,NaN,253880.0,500.0,294393.0,0.0,F
115,18000.0,2.0,20201112093000060,0.0,2.0,295905,NaN,20201112093001000,44.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,1000.0,2.0,20201112093000070,0.0,2.0,297561,NaN,20201112093001000,43.40,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,20201112093000070,NaN,NaN,297562,NaN,20201112093001000,43.50,2011,NaN,NaN,NaN,253880.0,1000.0,297561.0,0.0,F
117,500.0,2.0,20201112093000100,0.0,2.0,299580,NaN,20201112093001000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,20201112093000100,NaN,NaN,299581,NaN,20201112093001000,43.50,2011,NaN,NaN,NaN,253880.0,500.0,299580.0,0.0,F
118,1900.0,2.0,20201112093000100,0.0,2.0,299941,NaN,20201112093001000,42.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,100.0,2.0,20201112093000110,0.0,1.0,300714,NaN,20201112093001000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,20201112093000110,NaN,NaN,300715,NaN,20201112093001000,43.83,2011,NaN,NaN,NaN,300714.0,100.0,289494.0,0.0,F
120,400.0,2.0,20201112093000120,0.0,1.0,302471,NaN,20201112093001000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,20201112093000120,NaN,NaN,302472,NaN,20201112093001000,43.83,2011,NaN,NaN,NaN,302471.0,400.0,289494.0,0.0,F
121,5000.0,2.0,20201112093000120,0.0,2.0,302492,NaN,20201112093002000,43.48,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,20201112093000120,NaN,NaN,302493,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,5000.0,302492.0,0.0,F
122,2000.0,2.0,20201112093000120,0.0,2.0,302829,NaN,20201112093002000,45.05,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,500.0,2.0,20201112093000120,0.0,2.0,302927,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,20201112093000120,NaN,NaN,302928,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,500.0,302927.0,0.0,F
124,500.0,2.0,20201112093000130,0.0,1.0,303455,NaN,20201112093002000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,20201112093000130,NaN,NaN,303456,NaN,20201112093002000,43.83,2011,NaN,NaN,NaN,303455.0,500.0,289494.0,0.0,F
125,300.0,2.0,20201112093000140,0.0,2.0,304992,NaN,20201112093002000,45.10,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,20201112093000140,NaN,NaN,305255,NaN,20201112093002000,0.00,2011,NaN,NaN,NaN,206465.0,100.0,0.0,0.0,4
126,21000.0,2.0,20201112093000140,0.0,2.0,305662,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,20201112093000140,NaN,NaN,305663,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,21000.0,305662.0,0.0,F
127,1000.0,2.0,20201112093000140,0.0,2.0,305755,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,20201112093000140,NaN,NaN,305756,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,1000.0,305755.0,0.0,F
128,1300.0,2.0,20201112093000140,0.0,2.0,305843,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,20201112093000140,NaN,NaN,305844,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,1300.0,305843.0,0.0,F
129,5000.0,2.0,20201112093000150,0.0,2.0,306813,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,20201112093000150,NaN,NaN,306814,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,5000.0,306813.0,0.0,F
130,5000.0,2.0,20201112093000150,0.0,2.0,307139,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,20201112093000150,NaN,NaN,307140,NaN,20201112093002000,43.50,2011,NaN,NaN,NaN,253880.0,5000.0,307139.0,0.0,F
55,NaN,NaN,20201112093000150,NaN,NaN,307560,NaN,20201112093002000,0.00,2011,NaN,NaN,NaN,253880.0,23100.0,0.0,0.0,4
131,2000.0,2.0,20201112093000160,0.0,2.0,308098,NaN,20201112093002000,44.55,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2000.0,2.0,20201112093000160,0.0,2.0,308189,NaN,20201112093002000,48.43,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,100.0,2.0,20201112093000170,0.0,2.0,309049,NaN,20201112093002000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,200.0,2.0,20201112093000170,0.0,2.0,309477,NaN,20201112093002000,44.36,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,19800.0,2.0,20201112093000170,0.0,2.0,309482,NaN,20201112093002000,43.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,800.0,2.0,20201112093000170,0.0,2.0,309856,NaN,20201112093002000,45.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,800.0,2.0,20201112093000170,0.0,2.0,310214,NaN,20201112093002000,43.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,300.0,2.0,20201112093000180,0.0,2.0,310381,NaN,20201112093002000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,6700.0,2.0,20201112093000180,0.0,2.0,310500,NaN,20201112093002000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,200.0,2.0,20201112093000180,0.0,2.0,310865,NaN,20201112093002000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,400.0,2.0,20201112093000180,0.0,2.0,311159,NaN,20201112093003000,45.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,20000.0,2.0,20201112093000190,0.0,2.0,311779,NaN,20201112093003000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,500.0,2.0,20201112093000190,0.0,2.0,312277,NaN,20201112093003000,46.28,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,2000.0,2.0,20201112093000190,0.0,2.0,312678,NaN,20201112093003000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,20000.0,2.0,20201112093000200,0.0,2.0,313449,NaN,20201112093003000,43.49,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,500.0,2.0,20201112093000200,0.0,2.0,313465,NaN,20201112093003000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,100.0,2.0,20201112093000200,0.0,1.0,314205,NaN,20201112093003000,40.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,500.0,2.0,20201112093000210,0.0,2.0,315557,NaN,20201112093003000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,100.0,2.0,20201112093000220,0.0,1.0,316082,NaN,20201112093003000,40.70,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,300.0,2.0,20201112093000220,0.0,1.0,316457,NaN,20201112093003000,40.81,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,5000.0,2.0,20201112093000220,0.0,1.0,316652,NaN,20201112093003000,40.13,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,1000.0,2.0,20201112093000220,0.0,2.0,316780,NaN,20201112093003000,45.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,200.0,2.0,20201112093000230,0.0,1.0,316873,NaN,20201112093003000,44.92,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,10000.0,2.0,20201112093000230,0.0,2.0,317061,NaN,20201112093003000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,900.0,2.0,20201112093000230,0.0,1.0,317622,NaN,20201112093003000,43.85,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,20000.0,2.0,20201112093000230,0.0,2.0,317705,NaN,20201112093003000,45.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,100.0,2.0,20201112093000230,0.0,2.0,317737,NaN,20201112093003000,44.38,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,400.0,2.0,20201112093000240,0.0,1.0,318193,NaN,20201112093003000,46.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,100.0,2.0,20201112093000240,0.0,2.0,318423,NaN,20201112093004000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,34100.0,2.0,20201112093000250,0.0,1.0,319593,NaN,20201112093004000,40.40,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,5000.0,2.0,20201112093000250,0.0,2.0,319642,NaN,20201112093004000,43.49,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,300.0,2.0,20201112093000250,0.0,2.0,319648,NaN,20201112093004000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,200.0,2.0,20201112093000260,0.0,2.0,320355,NaN,20201112093004000,44.10,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,700.0,2.0,20201112093000270,0.0,2.0,321537,NaN,20201112093004000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,2000.0,2.0,20201112093000270,0.0,2.0,321743,NaN,20201112093004000,47.99,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,7000.0,2.0,20201112093000280,0.0,2.0,322177,NaN,20201112093004000,43.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,1000.0,2.0,20201112093000280,0.0,2.0,322269,NaN,20201112093004000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,15000.0,2.0,20201112093000290,0.0,2.0,323021,NaN,20201112093004000,43.88,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,1300.0,2.0,20201112093000290,0.0,2.0,323326,NaN,20201112093004000,43.55,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,400.0,2.0,20201112093000300,0.0,1.0,323823,NaN,20201112093004000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,500.0,2.0,20201112093000320,0.0,2.0,325917,NaN,20201112093005000,44.38,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,1000.0,2.0,20201112093000330,0.0,2.0,326735,NaN,20201112093005000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,7500.0,2.0,20201112093000350,0.0,2.0,328134,NaN,20201112093005000,43.49,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,200.0,2.0,20201112093000350,0.0,2.0,328308,NaN,20201112093005000,43.68,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,500.0,2.0,20201112093000360,0.0,2.0,328519,NaN,20201112093005000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,7500.0,2.0,20201112093000360,0.0,2.0,328584,NaN,20201112093005000,43.49,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,1200.0,2.0,20201112093000360,0.0,2.0,328591,NaN,20201112093005000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,300.0,2.0,20201112093000360,0.0,2.0,328702,NaN,20201112093005000,45.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,200.0,2.0,20201112093000360,0.0,1.0,328763,NaN,20201112093005000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,600.0,2.0,20201112093000370,0.0,2.0,329428,NaN,20201112093005000,44.19,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,1700.0,2.0,20201112093000370,0.0,2.0,329436,NaN,20201112093005000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,500.0,2.0,20201112093000370,0.0,1.0,329468,NaN,20201112093005000,43.99,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,500.0,2.0,20201112093000380,0.0,1.0,330010,NaN,20201112093005000,44.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,20000.0,2.0,20201112093000380,0.0,2.0,330030,NaN,20201112093005000,43.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,1100.0,2.0,20201112093000380,0.0,1.0,330032,NaN,20201112093005000,43.60,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,400.0,2.0,20201112093000380,0.0,2.0,330153,NaN,20201112093005000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,1300.0,2.0,20201112093000390,0.0,1.0,331055,NaN,20201112093005000,44.58,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,4800.0,2.0,20201112093000400,0.0,2.0,331973,NaN,20201112093005000,42.98,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,500.0,2.0,20201112093000410,0.0,2.0,332357,NaN,20201112093005000,45.09,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,100.0,2.0,20201112093000410,0.0,1.0,332923,NaN,20201112093006000,40.01,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,4500.0,2.0,20201112093000410,0.0,2.0,332969,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,5000.0,2.0,20201112093000430,0.0,2.0,333842,NaN,20201112093006000,44.28,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,10000.0,2.0,20201112093000430,0.0,2.0,333849,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,100.0,2.0,20201112093000430,0.0,2.0,333923,NaN,20201112093006000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,100.0,2.0,20201112093000430,0.0,1.0,333965,NaN,20201112093006000,44.72,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,400.0,2.0,20201112093000430,0.0,2.0,334302,NaN,20201112093006000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2000.0,2.0,20201112093000430,0.0,2.0,334431,NaN,20201112093006000,43.49,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,100.0,2.0,20201112093000440,0.0,2.0,335007,NaN,20201112093006000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,100.0,2.0,20201112093000440,0.0,2.0,335008,NaN,20201112093006000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,200.0,2.0,20201112093000440,0.0,2.0,335016,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,16100.0,2.0,20201112093000440,0.0,2.0,335415,NaN,20201112093006000,43.35,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,800.0,2.0,20201112093000440,0.0,1.0,335495,NaN,20201112093006000,44.72,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,600.0,2.0,20201112093000450,0.0,2.0,336083,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,100.0,2.0,20201112093000460,0.0,2.0,336413,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,100.0,2.0,20201112093000460,0.0,1.0,336770,NaN,20201112093006000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,700.0,2.0,20201112093000460,0.0,2.0,336912,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,600.0,2.0,20201112093000470,0.0,2.0,337117,NaN,20201112093006000,43.58,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,1000.0,2.0,20201112093000470,0.0,2.0,337323,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,100.0,2.0,20201112093000470,0.0,1.0,337405,NaN,20201112093006000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,1000.0,2.0,20201112093000470,0.0,2.0,337408,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,100.0,2.0,20201112093000470,0.0,2.0,337435,NaN,20201112093006000,43.79,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,100.0,2.0,20201112093000470,0.0,1.0,337482,NaN,20201112093006000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,300.0,2.0,20201112093000470,0.0,1.0,337573,NaN,20201112093006000,43.95,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,1000.0,2.0,20201112093000470,0.0,2.0,337678,NaN,20201112093006000,43.99,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,1000.0,2.0,20201112093000470,0.0,2.0,337700,NaN,20201112093006000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,200.0,2.0,20201112093000480,0.0,2.0,338019,NaN,20201112093006000,44.17,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,1000.0,2.0,20201112093000480,0.0,2.0,338090,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,5000.0,2.0,20201112093000480,0.0,2.0,338584,NaN,20201112093006000,43.30,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,4000.0,2.0,20201112093000480,0.0,2.0,338660,NaN,20201112093006000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,100.0,2.0,20201112093000490,0.0,1.0,339119,NaN,20201112093006000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,200.0,2.0,20201112093000490,0.0,2.0,339249,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,500.0,2.0,20201112093000500,0.0,2.0,339533,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,200.0,2.0,20201112093000510,0.0,1.0,339985,NaN,20201112093006000,44.39,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,1500.0,2.0,20201112093000510,0.0,2.0,340012,NaN,20201112093006000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,1500.0,2.0,20201112093000510,0.0,1.0,340141,NaN,20201112093006000,41.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,200.0,2.0,20201112093000520,0.0,2.0,340630,NaN,20201112093007000,44.00,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,200.0,2.0,20201112093000540,0.0,2.0,342272,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,200.0,2.0,20201112093000540,0.0,2.0,342311,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,500.0,1.0,20201112093000560,0.0,1.0,342970,NaN,20201112093007000,48.44,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,20201112093000560,NaN,NaN,342971,NaN,20201112093007000,42.00,2011,NaN,NaN,NaN,342970.0,500.0,299941.0,0.0,F
230,100.0,2.0,20201112093000570,0.0,1.0,343315,NaN,20201112093007000,44.39,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,700.0,2.0,20201112093000570,0.0,2.0,343358,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,100.0,2.0,20201112093000580,0.0,1.0,343813,NaN,20201112093007000,43.90,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,1000.0,2.0,20201112093000590,0.0,2.0,344480,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,100.0,2.0,20201112093000590,0.0,1.0,344701,NaN,20201112093007000,48.44,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,7000.0,2.0,20201112093000590,0.0,2.0,344723,NaN,20201112093007000,48.44,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,300.0,2.0,20201112093000600,0.0,1.0,345135,NaN,20201112093007000,43.99,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,100.0,2.0,20201112093000600,0.0,1.0,345201,NaN,20201112093007000,43.84,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,100.0,2.0,20201112093000610,0.0,1.0,345426,NaN,20201112093007000,43.85,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,100.0,2.0,20201112093000610,0.0,2.0,345460,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,1000.0,2.0,20201112093000610,0.0,2.0,345758,NaN,20201112093007000,43.82,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,900.0,2.0,20201112093000610,0.0,2.0,345760,NaN,20201112093007000,43.82,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,1600.0,2.0,20201112093000610,0.0,2.0,345761,NaN,20201112093007000,43.82,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,1000.0,2.0,20201112093000610,0.0,2.0,345762,NaN,20201112093007000,43.82,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,6000.0,2.0,20201112093000610,0.0,2.0,345942,NaN,20201112093007000,43.50,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,2800.0,2.0,20201112093000620,0.0,2.0,346310,NaN,20201112093007000,43.02,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2000.0,2.0,20201112093000630,0.0,1.0,346689,NaN,20201112093007000,44.39,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,1700.0,2.0,20201112093000630,0.0,2.0,346726,NaN,20201112093007000,43.83,2011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
mbd = pd.concat([order, trade]).sort_values(by='ApplSeqNum')
mbd[mbd['time'] >= 93000000000].head(200)

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
96,2300489,20201112,93000010000,1605144600010000,288975,2.0,2.0,43.50,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
35,2300489,20201112,93000010000,1605144600010000,288976,NaN,NaN,NaN,NaN,1.0,0.0,43.50,5000.0,253880.0,288975.0
97,2300489,20201112,93000010000,1605144600010000,289494,2.0,2.0,43.83,6700.0,NaN,NaN,NaN,NaN,NaN,NaN
98,2300489,20201112,93000020000,1605144600020000,289810,2.0,2.0,43.83,2600.0,NaN,NaN,NaN,NaN,NaN,NaN
99,2300489,20201112,93000020000,1605144600020000,290783,1.0,2.0,40.53,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
100,2300489,20201112,93000020000,1605144600020000,290823,1.0,2.0,40.39,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
101,2300489,20201112,93000020000,1605144600020000,291142,2.0,2.0,43.83,6700.0,NaN,NaN,NaN,NaN,NaN,NaN
102,2300489,20201112,93000020000,1605144600020000,291306,2.0,2.0,43.83,6700.0,NaN,NaN,NaN,NaN,NaN,NaN
103,2300489,20201112,93000020000,1605144600020000,291742,2.0,2.0,44.17,1700.0,NaN,NaN,NaN,NaN,NaN,NaN
104,2300489,20201112,93000020000,1605144600020000,291821,2.0,2.0,44.00,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
105,2300489,20201112,93000020000,1605144600020000,292096,2.0,2.0,44.48,400.0,NaN,NaN,NaN,NaN,NaN,NaN
106,2300489,20201112,93000020000,1605144600020000,292225,2.0,2.0,44.80,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
107,2300489,20201112,93000030000,1605144600030000,292321,2.0,2.0,44.00,3800.0,NaN,NaN,NaN,NaN,NaN,NaN
108,2300489,20201112,93000030000,1605144600030000,292715,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
36,2300489,20201112,93000030000,1605144600030000,292716,NaN,NaN,NaN,NaN,1.0,0.0,43.50,500.0,253880.0,292715.0
109,2300489,20201112,93000030000,1605144600030000,292778,2.0,2.0,43.41,2500.0,NaN,NaN,NaN,NaN,NaN,NaN
37,2300489,20201112,93000030000,1605144600030000,292779,NaN,NaN,NaN,NaN,1.0,0.0,43.50,2500.0,253880.0,292778.0
110,2300489,20201112,93000030000,1605144600030000,292869,2.0,2.0,43.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
38,2300489,20201112,93000030000,1605144600030000,292870,NaN,NaN,NaN,NaN,1.0,0.0,43.50,100.0,253880.0,292869.0
111,2300489,20201112,93000030000,1605144600030000,292873,2.0,2.0,43.50,600.0,NaN,NaN,NaN,NaN,NaN,NaN
39,2300489,20201112,93000030000,1605144600030000,292874,NaN,NaN,NaN,NaN,1.0,0.0,43.50,600.0,253880.0,292873.0
112,2300489,20201112,93000030000,1605144600030000,292877,2.0,2.0,43.50,400.0,NaN,NaN,NaN,NaN,NaN,NaN
40,2300489,20201112,93000030000,1605144600030000,292878,NaN,NaN,NaN,NaN,1.0,0.0,43.50,400.0,253880.0,292877.0
113,2300489,20201112,93000030000,1605144600030000,293283,2.0,2.0,43.90,300.0,NaN,NaN,NaN,NaN,NaN,NaN
114,2300489,20201112,93000040000,1605144600040000,294393,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
41,2300489,20201112,93000040000,1605144600040000,294394,NaN,NaN,NaN,NaN,1.0,0.0,43.50,500.0,253880.0,294393.0
115,2300489,20201112,93000060000,1605144600060000,295905,2.0,2.0,44.30,18000.0,NaN,NaN,NaN,NaN,NaN,NaN
116,2300489,20201112,93000070000,1605144600070000,297561,2.0,2.0,43.40,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
42,2300489,20201112,93000070000,1605144600070000,297562,NaN,NaN,NaN,NaN,1.0,0.0,43.50,1000.0,253880.0,297561.0
117,2300489,20201112,93000100000,1605144600100000,299580,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
43,2300489,20201112,93000100000,1605144600100000,299581,NaN,NaN,NaN,NaN,1.0,0.0,43.50,500.0,253880.0,299580.0
118,2300489,20201112,93000100000,1605144600100000,299941,2.0,2.0,42.00,1900.0,NaN,NaN,NaN,NaN,NaN,NaN
119,2300489,20201112,93000110000,1605144600110000,300714,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
44,2300489,20201112,93000110000,1605144600110000,300715,NaN,NaN,NaN,NaN,1.0,0.0,43.83,100.0,300714.0,289494.0
120,2300489,20201112,93000120000,1605144600120000,302471,1.0,2.0,44.00,400.0,NaN,NaN,NaN,NaN,NaN,NaN
45,2300489,20201112,93000120000,1605144600120000,302472,NaN,NaN,NaN,NaN,1.0,0.0,43.83,400.0,302471.0,289494.0
121,2300489,20201112,93000120000,1605144600120000,302492,2.0,2.0,43.48,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
46,2300489,20201112,93000120000,1605144600120000,302493,NaN,NaN,NaN,NaN,1.0,0.0,43.50,5000.0,253880.0,302492.0
122,2300489,20201112,93000120000,1605144600120000,302829,2.0,2.0,45.05,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
123,2300489,20201112,93000120000,1605144600120000,302927,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
47,2300489,20201112,93000120000,1605144600120000,302928,NaN,NaN,NaN,NaN,1.0,0.0,43.50,500.0,253880.0,302927.0
124,2300489,20201112,93000130000,1605144600130000,303455,1.0,2.0,43.84,500.0,NaN,NaN,NaN,NaN,NaN,NaN
48,2300489,20201112,93000130000,1605144600130000,303456,NaN,NaN,NaN,NaN,1.0,0.0,43.83,500.0,303455.0,289494.0
125,2300489,20201112,93000140000,1605144600140000,304992,2.0,2.0,45.10,300.0,NaN,NaN,NaN,NaN,NaN,NaN
49,2300489,20201112,93000140000,1605144600140000,305255,NaN,NaN,NaN,NaN,4.0,0.0,0.00,100.0,206465.0,0.0
126,2300489,20201112,93000140000,1605144600140000,305662,2.0,2.0,43.50,21000.0,NaN,NaN,NaN,NaN,NaN,NaN
50,2300489,20201112,93000140000,1605144600140000,305663,NaN,NaN,NaN,NaN,1.0,0.0,43.50,21000.0,253880.0,305662.0
127,2300489,20201112,93000140000,1605144600140000,305755,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
51,2300489,20201112,93000140000,1605144600140000,305756,NaN,NaN,NaN,NaN,1.0,0.0,43.50,1000.0,253880.0,305755.0
128,2300489,20201112,93000140000,1605144600140000,305843,2.0,2.0,43.50,1300.0,NaN,NaN,NaN,NaN,NaN,NaN
52,2300489,20201112,93000140000,1605144600140000,305844,NaN,NaN,NaN,NaN,1.0,0.0,43.50,1300.0,253880.0,305843.0
129,2300489,20201112,93000150000,1605144600150000,306813,2.0,2.0,43.50,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
53,2300489,20201112,93000150000,1605144600150000,306814,NaN,NaN,NaN,NaN,1.0,0.0,43.50,5000.0,253880.0,306813.0
130,2300489,20201112,93000150000,1605144600150000,307139,2.0,2.0,43.50,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
54,2300489,20201112,93000150000,1605144600150000,307140,NaN,NaN,NaN,NaN,1.0,0.0,43.50,5000.0,253880.0,307139.0
55,2300489,20201112,93000150000,1605144600150000,307560,NaN,NaN,NaN,NaN,4.0,0.0,0.00,23100.0,253880.0,0.0
131,2300489,20201112,93000160000,1605144600160000,308098,2.0,2.0,44.55,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
132,2300489,20201112,93000160000,1605144600160000,308189,2.0,2.0,48.43,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
133,2300489,20201112,93000170000,1605144600170000,309049,2.0,2.0,44.00,100.0,NaN,NaN,NaN,NaN,NaN,NaN
134,2300489,20201112,93000170000,1605144600170000,309477,2.0,2.0,44.36,200.0,NaN,NaN,NaN,NaN,NaN,NaN
135,2300489,20201112,93000170000,1605144600170000,309482,2.0,2.0,43.30,19800.0,NaN,NaN,NaN,NaN,NaN,NaN
136,2300489,20201112,93000170000,1605144600170000,309856,2.0,2.0,45.00,800.0,NaN,NaN,NaN,NaN,NaN,NaN
137,2300489,20201112,93000170000,1605144600170000,310214,2.0,2.0,43.30,800.0,NaN,NaN,NaN,NaN,NaN,NaN
138,2300489,20201112,93000180000,1605144600180000,310381,2.0,2.0,43.50,300.0,NaN,NaN,NaN,NaN,NaN,NaN
139,2300489,20201112,93000180000,1605144600180000,310500,2.0,2.0,43.83,6700.0,NaN,NaN,NaN,NaN,NaN,NaN
140,2300489,20201112,93000180000,1605144600180000,310865,2.0,2.0,44.17,200.0,NaN,NaN,NaN,NaN,NaN,NaN
141,2300489,20201112,93000180000,1605144600180000,311159,2.0,2.0,45.00,400.0,NaN,NaN,NaN,NaN,NaN,NaN
142,2300489,20201112,93000190000,1605144600190000,311779,2.0,2.0,43.50,20000.0,NaN,NaN,NaN,NaN,NaN,NaN
143,2300489,20201112,93000190000,1605144600190000,312277,2.0,2.0,46.28,500.0,NaN,NaN,NaN,NaN,NaN,NaN
144,2300489,20201112,93000190000,1605144600190000,312678,2.0,2.0,43.50,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
145,2300489,20201112,93000200000,1605144600200000,313449,2.0,2.0,43.49,20000.0,NaN,NaN,NaN,NaN,NaN,NaN
146,2300489,20201112,93000200000,1605144600200000,313465,2.0,2.0,44.00,500.0,NaN,NaN,NaN,NaN,NaN,NaN
147,2300489,20201112,93000200000,1605144600200000,314205,1.0,2.0,40.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
148,2300489,20201112,93000210000,1605144600210000,315557,2.0,2.0,43.84,500.0,NaN,NaN,NaN,NaN,NaN,NaN
149,2300489,20201112,93000220000,1605144600220000,316082,1.0,2.0,40.70,100.0,NaN,NaN,NaN,NaN,NaN,NaN
150,2300489,20201112,93000220000,1605144600220000,316457,1.0,2.0,40.81,300.0,NaN,NaN,NaN,NaN,NaN,NaN
151,2300489,20201112,93000220000,1605144600220000,316652,1.0,2.0,40.13,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
152,2300489,20201112,93000220000,1605144600220000,316780,2.0,2.0,45.00,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
153,2300489,20201112,93000230000,1605144600230000,316873,1.0,2.0,44.92,200.0,NaN,NaN,NaN,NaN,NaN,NaN
154,2300489,20201112,93000230000,1605144600230000,317061,2.0,2.0,43.50,10000.0,NaN,NaN,NaN,NaN,NaN,NaN
155,2300489,20201112,93000230000,1605144600230000,317622,1.0,2.0,43.85,900.0,NaN,NaN,NaN,NaN,NaN,NaN
156,2300489,20201112,93000230000,1605144600230000,317705,2.0,2.0,45.30,20000.0,NaN,NaN,NaN,NaN,NaN,NaN
157,2300489,20201112,93000230000,1605144600230000,317737,2.0,2.0,44.38,100.0,NaN,NaN,NaN,NaN,NaN,NaN
158,2300489,20201112,93000240000,1605144600240000,318193,1.0,2.0,46.00,400.0,NaN,NaN,NaN,NaN,NaN,NaN
159,2300489,20201112,93000240000,1605144600240000,318423,2.0,2.0,43.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
160,2300489,20201112,93000250000,1605144600250000,319593,1.0,2.0,40.40,34100.0,NaN,NaN,NaN,NaN,NaN,NaN
161,2300489,20201112,93000250000,1605144600250000,319642,2.0,2.0,43.49,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
162,2300489,20201112,93000250000,1605144600250000,319648,2.0,2.0,43.50,300.0,NaN,NaN,NaN,NaN,NaN,NaN
163,2300489,20201112,93000260000,1605144600260000,320355,2.0,2.0,44.10,200.0,NaN,NaN,NaN,NaN,NaN,NaN
164,2300489,20201112,93000270000,1605144600270000,321537,2.0,2.0,44.00,700.0,NaN,NaN,NaN,NaN,NaN,NaN
165,2300489,20201112,93000270000,1605144600270000,321743,2.0,2.0,47.99,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
166,2300489,20201112,93000280000,1605144600280000,322177,2.0,2.0,43.30,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
167,2300489,20201112,93000280000,1605144600280000,322269,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
168,2300489,20201112,93000290000,1605144600290000,323021,2.0,2.0,43.88,15000.0,NaN,NaN,NaN,NaN,NaN,NaN
169,2300489,20201112,93000290000,1605144600290000,323326,2.0,2.0,43.55,1300.0,NaN,NaN,NaN,NaN,NaN,NaN
170,2300489,20201112,93000300000,1605144600300000,323823,1.0,2.0,43.84,400.0,NaN,NaN,NaN,NaN,NaN,NaN
171,2300489,20201112,93000320000,1605144600320000,325917,2.0,2.0,44.38,500.0,NaN,NaN,NaN,NaN,NaN,NaN
172,2300489,20201112,93000330000,1605144600330000,326735,2.0,2.0,44.17,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
173,2300489,20201112,93000350000,1605144600350000,328134,2.0,2.0,43.49,7500.0,NaN,NaN,NaN,NaN,NaN,NaN
174,2300489,20201112,93000350000,1605144600350000,328308,2.0,2.0,43.68,200.0,NaN,NaN,NaN,NaN,NaN,NaN
175,2300489,20201112,93000360000,1605144600360000,328519,2.0,2.0,44.17,500.0,NaN,NaN,NaN,NaN,NaN,NaN
176,2300489,20201112,93000360000,1605144600360000,328584,2.0,2.0,43.49,7500.0,NaN,NaN,NaN,NaN,NaN,NaN
177,2300489,20201112,93000360000,1605144600360000,328591,2.0,2.0,43.84,1200.0,NaN,NaN,NaN,NaN,NaN,NaN
178,2300489,20201112,93000360000,1605144600360000,328702,2.0,2.0,45.00,300.0,NaN,NaN,NaN,NaN,NaN,NaN
179,2300489,20201112,93000360000,1605144600360000,328763,1.0,2.0,43.84,200.0,NaN,NaN,NaN,NaN,NaN,NaN
180,2300489,20201112,93000370000,1605144600370000,329428,2.0,2.0,44.19,600.0,NaN,NaN,NaN,NaN,NaN,NaN
181,2300489,20201112,93000370000,1605144600370000,329436,2.0,2.0,43.50,1700.0,NaN,NaN,NaN,NaN,NaN,NaN
182,2300489,20201112,93000370000,1605144600370000,329468,1.0,2.0,43.99,500.0,NaN,NaN,NaN,NaN,NaN,NaN
183,2300489,20201112,93000380000,1605144600380000,330010,1.0,2.0,44.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
184,2300489,20201112,93000380000,1605144600380000,330030,2.0,2.0,43.00,20000.0,NaN,NaN,NaN,NaN,NaN,NaN
185,2300489,20201112,93000380000,1605144600380000,330032,1.0,2.0,43.60,1100.0,NaN,NaN,NaN,NaN,NaN,NaN
186,2300489,20201112,93000380000,1605144600380000,330153,2.0,2.0,43.50,400.0,NaN,NaN,NaN,NaN,NaN,NaN
187,2300489,20201112,93000390000,1605144600390000,331055,1.0,2.0,44.58,1300.0,NaN,NaN,NaN,NaN,NaN,NaN
188,2300489,20201112,93000400000,1605144600400000,331973,2.0,2.0,42.98,4800.0,NaN,NaN,NaN,NaN,NaN,NaN
189,2300489,20201112,93000410000,1605144600410000,332357,2.0,2.0,45.09,500.0,NaN,NaN,NaN,NaN,NaN,NaN
190,2300489,20201112,93000410000,1605144600410000,332923,1.0,2.0,40.01,100.0,NaN,NaN,NaN,NaN,NaN,NaN
191,2300489,20201112,93000410000,1605144600410000,332969,2.0,2.0,43.50,4500.0,NaN,NaN,NaN,NaN,NaN,NaN
192,2300489,20201112,93000430000,1605144600430000,333842,2.0,2.0,44.28,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
193,2300489,20201112,93000430000,1605144600430000,333849,2.0,2.0,43.50,10000.0,NaN,NaN,NaN,NaN,NaN,NaN
194,2300489,20201112,93000430000,1605144600430000,333923,2.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
195,2300489,20201112,93000430000,1605144600430000,333965,1.0,2.0,44.72,100.0,NaN,NaN,NaN,NaN,NaN,NaN
196,2300489,20201112,93000430000,1605144600430000,334302,2.0,2.0,44.17,400.0,NaN,NaN,NaN,NaN,NaN,NaN
197,2300489,20201112,93000430000,1605144600430000,334431,2.0,2.0,43.49,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
198,2300489,20201112,93000440000,1605144600440000,335007,2.0,2.0,43.83,100.0,NaN,NaN,NaN,NaN,NaN,NaN
199,2300489,20201112,93000440000,1605144600440000,335008,2.0,2.0,43.83,100.0,NaN,NaN,NaN,NaN,NaN,NaN
200,2300489,20201112,93000440000,1605144600440000,335016,2.0,2.0,43.50,200.0,NaN,NaN,NaN,NaN,NaN,NaN
201,2300489,20201112,93000440000,1605144600440000,335415,2.0,2.0,43.35,16100.0,NaN,NaN,NaN,NaN,NaN,NaN
202,2300489,20201112,93000440000,1605144600440000,335495,1.0,2.0,44.72,800.0,NaN,NaN,NaN,NaN,NaN,NaN
203,2300489,20201112,93000450000,1605144600450000,336083,2.0,2.0,43.50,600.0,NaN,NaN,NaN,NaN,NaN,NaN
204,2300489,20201112,93000460000,1605144600460000,336413,2.0,2.0,43.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
205,2300489,20201112,93000460000,1605144600460000,336770,1.0,2.0,44.17,100.0,NaN,NaN,NaN,NaN,NaN,NaN
206,2300489,20201112,93000460000,1605144600460000,336912,2.0,2.0,43.50,700.0,NaN,NaN,NaN,NaN,NaN,NaN
207,2300489,20201112,93000470000,1605144600470000,337117,2.0,2.0,43.58,600.0,NaN,NaN,NaN,NaN,NaN,NaN
208,2300489,20201112,93000470000,1605144600470000,337323,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
209,2300489,20201112,93000470000,1605144600470000,337405,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
210,2300489,20201112,93000470000,1605144600470000,337408,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
211,2300489,20201112,93000470000,1605144600470000,337435,2.0,2.0,43.79,100.0,NaN,NaN,NaN,NaN,NaN,NaN
212,2300489,20201112,93000470000,1605144600470000,337482,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
213,2300489,20201112,93000470000,1605144600470000,337573,1.0,2.0,43.95,300.0,NaN,NaN,NaN,NaN,NaN,NaN
214,2300489,20201112,93000470000,1605144600470000,337678,2.0,2.0,43.99,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
215,2300489,20201112,93000470000,1605144600470000,337700,2.0,2.0,44.17,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
216,2300489,20201112,93000480000,1605144600480000,338019,2.0,2.0,44.17,200.0,NaN,NaN,NaN,NaN,NaN,NaN
217,2300489,20201112,93000480000,1605144600480000,338090,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
218,2300489,20201112,93000480000,1605144600480000,338584,2.0,2.0,43.30,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
219,2300489,20201112,93000480000,1605144600480000,338660,2.0,2.0,43.84,4000.0,NaN,NaN,NaN,NaN,NaN,NaN
220,2300489,20201112,93000490000,1605144600490000,339119,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
221,2300489,20201112,93000490000,1605144600490000,339249,2.0,2.0,43.50,200.0,NaN,NaN,NaN,NaN,NaN,NaN
222,2300489,20201112,93000500000,1605144600500000,339533,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
223,2300489,20201112,93000510000,1605144600510000,339985,1.0,2.0,44.39,200.0,NaN,NaN,NaN,NaN,NaN,NaN
224,2300489,20201112,93000510000,1605144600510000,340012,2.0,2.0,43.50,1500.0,NaN,NaN,NaN,NaN,NaN,NaN
225,2300489,20201112,93000510000,1605144600510000,340141,1.0,2.0,41.00,1500.0,NaN,NaN,NaN,NaN,NaN,NaN
226,2300489,20201112,93000520000,1605144600520000,340630,2.0,2.0,44.00,200.0,NaN,NaN,NaN,NaN,NaN,NaN
227,2300489,20201112,93000540000,1605144600540000,342272,2.0,2.0,43.50,200.0,NaN,NaN,NaN,NaN,NaN,NaN
228,2300489,20201112,93000540000,1605144600540000,342311,2.0,2.0,43.50,200.0,NaN,NaN,NaN,NaN,NaN,NaN
229,2300489,20201112,93000560000,1605144600560000,342970,1.0,1.0,48.44,500.0,NaN,NaN,NaN,NaN,NaN,NaN
56,2300489,20201112,93000560000,1605144600560000,342971,NaN,NaN,NaN,NaN,1.0,0.0,42.00,500.0,342970.0,299941.0
230,2300489,20201112,93000570000,1605144600570000,343315,1.0,2.0,44.39,100.0,NaN,NaN,NaN,NaN,NaN,NaN
231,2300489,20201112,93000570000,1605144600570000,343358,2.0,2.0,43.50,700.0,NaN,NaN,NaN,NaN,NaN,NaN
232,2300489,20201112,93000580000,1605144600580000,343813,1.0,2.0,43.90,100.0,NaN,NaN,NaN,NaN,NaN,NaN
233,2300489,20201112,93000590000,1605144600590000,344480,2.0,2.0,43.50,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
234,2300489,20201112,93000590000,1605144600590000,344701,1.0,2.0,48.44,100.0,NaN,NaN,NaN,NaN,NaN,NaN
235,2300489,20201112,93000590000,1605144600590000,344723,2.0,2.0,48.44,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
236,2300489,20201112,93000600000,1605144600600000,345135,1.0,2.0,43.99,300.0,NaN,NaN,NaN,NaN,NaN,NaN
237,2300489,20201112,93000600000,1605144600600000,345201,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
238,2300489,20201112,93000610000,1605144600610000,345426,1.0,2.0,43.85,100.0,NaN,NaN,NaN,NaN,NaN,NaN
239,2300489,20201112,93000610000,1605144600610000,345460,2.0,2.0,43.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
240,2300489,20201112,93000610000,1605144600610000,345758,2.0,2.0,43.82,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
241,2300489,20201112,93000610000,1605144600610000,345760,2.0,2.0,43.82,900.0,NaN,NaN,NaN,NaN,NaN,NaN
242,2300489,20201112,93000610000,1605144600610000,345761,2.0,2.0,43.82,1600.0,NaN,NaN,NaN,NaN,NaN,NaN
243,2300489,20201112,93000610000,1605144600610000,345762,2.0,2.0,43.82,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
244,2300489,20201112,93000610000,1605144600610000,345942,2.0,2.0,43.50,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
245,2300489,20201112,93000620000,1605144600620000,346310,2.0,2.0,43.02,2800.0,NaN,NaN,NaN,NaN,NaN,NaN
246,2300489,20201112,93000630000,1605144600630000,346689,1.0,2.0,44.39,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
247,2300489,20201112,93000630000,1605144600630000,346726,2.0,2.0,43.83,1700.0,NaN,NaN,NaN,NaN,NaN,NaN
248,2300489,20201112,93000630000,1605144600630000,346869,2.0,2.0,44.90,5500.0,NaN,NaN,NaN,NaN,NaN,NaN
249,2300489,20201112,93000640000,1605144600640000,347115,1.0,2.0,43.99,300.0,NaN,NaN,NaN,NaN,NaN,NaN
250,2300489,20201112,93000650000,1605144600650000,347375,2.0,2.0,43.50,100.0,NaN,NaN,NaN,NaN,NaN,NaN
251,2300489,20201112,93000650000,1605144600650000,347829,1.0,2.0,40.00,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
252,2300489,20201112,93000670000,1605144600670000,349184,2.0,2.0,43.50,200.0,NaN,NaN,NaN,NaN,NaN,NaN
253,2300489,20201112,93000680000,1605144600680000,349302,1.0,2.0,44.00,300.0,NaN,NaN,NaN,NaN,NaN,NaN
254,2300489,20201112,93000700000,1605144600700000,350063,1.0,2.0,43.84,300.0,NaN,NaN,NaN,NaN,NaN,NaN
255,2300489,20201112,93000700000,1605144600700000,350184,2.0,2.0,43.30,1100.0,NaN,NaN,NaN,NaN,NaN,NaN
256,2300489,20201112,93000720000,1605144600720000,351519,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
257,2300489,20201112,93000730000,1605144600730000,351798,1.0,2.0,44.00,100.0,NaN,NaN,NaN,NaN,NaN,NaN
258,2300489,20201112,93000730000,1605144600730000,351847,2.0,2.0,43.50,500.0,NaN,NaN,NaN,NaN,NaN,NaN
259,2300489,20201112,93000740000,1605144600740000,352260,2.0,2.0,43.24,3500.0,NaN,NaN,NaN,NaN,NaN,NaN
260,2300489,20201112,93000740000,1605144600740000,352516,2.0,2.0,43.39,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
261,2300489,20201112,93000740000,1605144600740000,352549,1.0,2.0,43.84,100.0,NaN,NaN,NaN,NaN,NaN,NaN
262,2300489,20201112,93000750000,1605144600750000,353045,2.0,2.0,48.20,2600.0,NaN,NaN,NaN,NaN,NaN,NaN
263,2300489,20201112,93000770000,1605144600770000,353844,1.0,2.0,44.00,2500.0,NaN,NaN,NaN,NaN,NaN,NaN
264,2300489,20201112,93000770000,1605144600770000,354408,2.0,2.0,43.80,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
265,2300489,20201112,93000780000,1605144600780000,354884,2.0,2.0,43.84,300.0,NaN,NaN,NaN,NaN,NaN,NaN
266,2300489,20201112,93000780000,1605144600780000,355429,2.0,2.0,43.83,100.0,NaN,NaN,NaN,NaN,NaN,NaN

In [298]:
trade[trade['BidApplSeqNum'] == 317622]

,ApplSeqNum,BidApplSeqNum,SendingTime,Price,ChannelNo,Qty,OfferApplSeqNum,Amt,ExecType,TransactTime
1689,1099834,317622,20201112093153000,0.0,2011,900,0,0.0,4,20201112093153190

In [21]:
test = db1.read_tick('md_snapshot_mbd', start_date=start, end_date=end, symbol=symbol)
# test[(test['ApplSeqNum'] >= 317705) & (test['ApplSeqNum'] <= 319593)][['ApplSeqNum', 'time', 'skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
#                    'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
#                    'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
#                    'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
#                    'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
#                    'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
#                    'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']].head()
test[test['cum_volume'] == 163400][['ApplSeqNum', 'time', 'skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
                   'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
                   'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
                   'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
                   'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
                   'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
                   'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']]

3
3
3
3
3
3
3

Empty DataFrame
Columns: [ApplSeqNum, time, skey, date, cum_volume, prev_close, open, close, cum_trades_cnt, bid10p, bid9p, bid8p, bid7p, bid6p, bid5p, bid4p, bid3p, bid2p, bid1p, ask1p, ask2p, ask3p, ask4p, ask5p, ask6p, ask7p, ask8p, ask9p, ask10p, bid10q, bid9q, bid8q, bid7q, bid6q, bid5q, bid4q, bid3q, bid2q, bid1q, ask1q, ask2q, ask3q, ask4q, ask5q, ask6q, ask7q, ask8q, ask9q, ask10q, bid10n, bid9n, bid8n, bid7n, bid6n, bid5n, bid4n, bid3n, bid2n, bid1n, ask1n, ask2n, ask3n, ask4n, ask5n, ask6n, ask7n, ask8n, ask9n, ask10n, total_bid_quantity, total_ask_quantity]
Index: []

In [240]:
trade[(trade['ApplSeqNum'] >= 13743257) & (trade['ApplSeqNum'] <= 13744715) & (trade['trade_type'] == 4)]

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
44730,2300863,20200825,110938160000,1598324978160000,13744715,4,0,0.0,500,0,7034063

In [239]:
order[(order['ApplSeqNum'] >= 13743257) & (order['ApplSeqNum'] <= 13744715)]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
50203,2300863,20200825,110937000000,1598324977000000,13743257,1,2,153.6,1000

In [168]:
cols = ['skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
       'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
       'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
       'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
       'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
       'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']
test = test.drop_duplicates(cols, keep='first')
test = test[cols+['ApplSeqNum']]
if 'ApplSeqNum' in test1.columns:
    test1 = test1[list(test1.columns[test1.columns != 'ApplSeqNum'])]
rl2 = pd.merge(test1, test, on=cols, how='left')
try:
    assert(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)].shape[0] == 0)
except:
    print(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)][['skey', 'date', 'time', 'cum_volume', 'close', 'bid1p', 'bid2p','bid1q', 'bid2q', 'ask1p', 'ask2p', 'ask1q', 'ask2q']])

In [108]:
85.4 * 1.02

87.108

In [101]:
trade[trade['ApplSeqNum'] >= 449323].head()

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
2227,2300919,20201224,93001410000,1608773401410000,449443,1,0,85.0,100,449442,439470
2228,2300919,20201224,93001420000,1608773401420000,450030,4,0,0.0,400,0,255763
2229,2300919,20201224,93001420000,1608773401420000,450146,4,0,0.0,500,0,201100
2230,2300919,20201224,93001420000,1608773401420000,450210,1,0,85.0,300,450209,439470
2231,2300919,20201224,93001420000,1608773401420000,450240,4,0,0.0,500,0,153152

In [103]:
order[order['ApplSeqNum'] == 439470]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
3985,2300919,20201224,93001240000,1608773401240000,439470,2,2,85.0,10000

In [94]:
order[(order['order_price'] == 87.2) & (order['order_side'] == 1) & (order['ApplSeqNum'] <= 454301)]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
1429,2300919,20201224,92258340000,1608772978340000,239412,1,2,87.2,400
1444,2300919,20201224,92300440000,1608772980440000,239967,1,2,87.2,300
1498,2300919,20201224,92312720000,1608772992720000,243311,1,2,87.2,200
1553,2300919,20201224,92325010000,1608773005010000,246840,1,2,87.2,500
1885,2300919,20201224,92407490000,1608773047490000,260469,1,2,87.2,100
2462,2300919,20201224,92443730000,1608773083730000,278866,1,2,87.2,100
2528,2300919,20201224,92447360000,1608773087360000,280833,1,2,87.2,1200
4094,2300919,20201224,93001410000,1608773401410000,449323,1,2,87.2,300

In [106]:
order[(order['order_price'] == 85.39) & (order['order_side'] == 2) & (order['ApplSeqNum'] <= 454301)]

,skey,date,time,clockAtArrival,ApplSeqNum,order_side,order_type,order_price,order_qty
3336,2300919,20201224,93000310000,1608773400310000,376929,2,2,85.39,100
3361,2300919,20201224,93000330000,1608773400330000,378610,2,2,85.39,7500
3484,2300919,20201224,93000480000,1608773400480000,390020,2,2,85.39,50000
3750,2300919,20201224,93000870000,1608773400870000,416605,2,2,85.39,13100

In [98]:
trade[(trade['trade_type'] == 1) & (trade['time'] > 93001400000)].head(50)

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
2227,2300919,20201224,93001410000,1608773401410000,449443,1,0,85.00,100,449442,439470
2230,2300919,20201224,93001420000,1608773401420000,450210,1,0,85.00,300,450209,439470
2232,2300919,20201224,93001420000,1608773401420000,450296,1,0,85.00,600,450295,439470
2233,2300919,20201224,93001430000,1608773401430000,450523,1,0,85.00,300,450522,439470
2235,2300919,20201224,93001460000,1608773401460000,452170,1,0,85.00,100,452169,439470
2236,2300919,20201224,93001460000,1608773401460000,452213,1,0,85.00,100,452212,439470
2237,2300919,20201224,93001480000,1608773401480000,453493,1,0,85.00,100,453492,439470
2238,2300919,20201224,93001490000,1608773401490000,453789,1,0,85.00,100,453788,439470
2239,2300919,20201224,93001490000,1608773401490000,454255,1,0,85.00,100,454254,439470
2240,2300919,20201224,93001490000,1608773401490000,454256,1,0,85.00,800,454254,447073
2241,2300919,20201224,93001490000,1608773401490000,454257,1,0,85.28,3500,454254,449126
2242,2300919,20201224,93001490000,1608773401490000,454258,1,0,85.39,500,454254,416605
2243,2300919,20201224,93001490000,1608773401490000,454259,1,0,85.39,300,445014,416605
2244,2300919,20201224,93001490000,1608773401490000,454260,1,0,85.39,300,449509,416605
2245,2300919,20201224,93001490000,1608773401490000,454261,1,0,85.39,1200,454063,416605
2246,2300919,20201224,93001490000,1608773401490000,454262,1,0,85.39,2200,454064,416605
2248,2300919,20201224,93001510000,1608773401510000,455030,1,0,85.39,300,455029,416605
2249,2300919,20201224,93001510000,1608773401510000,455044,1,0,85.39,1200,455043,416605
2251,2300919,20201224,93001510000,1608773401510000,455151,1,0,85.39,500,455150,416605
2252,2300919,20201224,93001530000,1608773401530000,455387,1,0,85.39,200,455386,416605
2253,2300919,20201224,93001530000,1608773401530000,455579,1,0,85.39,400,455578,416605
2254,2300919,20201224,93001530000,1608773401530000,455817,1,0,85.39,100,455816,416605
2255,2300919,20201224,93001540000,1608773401540000,455890,1,0,85.39,32,455889,416605
2256,2300919,20201224,93001540000,1608773401540000,455891,1,0,85.40,100,455889,435615
2257,2300919,20201224,93001540000,1608773401540000,455892,1,0,85.50,468,455889,378356
2258,2300919,20201224,93001540000,1608773401540000,455893,1,0,85.50,300,449323,378356
2260,2300919,20201224,93001540000,1608773401540000,455910,1,0,85.50,5000,455909,378356
2261,2300919,20201224,93001540000,1608773401540000,456109,1,0,85.50,32,456108,378356
2262,2300919,20201224,93001540000,1608773401540000,456110,1,0,85.50,68,456108,383731
2264,2300919,20201224,93001540000,1608773401540000,456380,1,0,85.50,100,456379,383731
2266,2300919,20201224,93001590000,1608773401590000,458117,1,0,85.50,100,458116,383731
2267,2300919,20201224,93001600000,1608773401600000,458519,1,0,85.50,100,458518,383731
2268,2300919,20201224,93001600000,1608773401600000,458661,1,0,85.50,100,458660,383731
2269,2300919,20201224,93001600000,1608773401600000,458686,1,0,85.50,200,458685,383731
2270,2300919,20201224,93001600000,1608773401600000,459005,1,0,85.50,332,459004,383731
2271,2300919,20201224,93001600000,1608773401600000,459006,1,0,85.50,400,459004,386314
2272,2300919,20201224,93001600000,1608773401600000,459007,1,0,85.50,300,459004,387329
2273,2300919,20201224,93001600000,1608773401600000,459008,1,0,85.50,168,459004,396272
2274,2300919,20201224,93001600000,1608773401600000,459046,1,0,85.50,32,459045,396272
2275,2300919,20201224,93001600000,1608773401600000,459047,1,0,85.50,68,459045,403192
2276,2300919,20201224,93001610000,1608773401610000,459072,1,0,85.50,32,459071,403192
2277,2300919,20201224,93001610000,1608773401610000,459073,1,0,85.50,668,459071,415025
2278,2300919,20201224,93001610000,1608773401610000,459311,1,0,85.50,200,459310,415025
2279,2300919,20201224,93001610000,1608773401610000,459371,1,0,85.50,200,459370,415025
2281,2300919,20201224,93001610000,1608773401610000,459653,1,0,85.50,100,459652,415025
2282,2300919,20201224,93001620000,1608773401620000,459750,1,0,85.50,300,459749,415025
2284,2300919,20201224,93001620000,1608773401620000,459963,1,0,85.50,532,459962,415025
2285,2300919,20201224,93001620000,1608773401620000,459964,1,0,85.50,68,459962,424314
2286,2300919,20201224,93001620000,1608773401620000,459969,1,0,85.50,32,459968,424314
2287,2300919,20201224,93001620000,1608773401620000,459970,1,0,85.50,268,459968,424521

In [95]:
trade[trade['BidApplSeqNum'] == 449323]

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
2258,2300919,20201224,93001540000,1608773401540000,455893,1,0,85.5,300,449323,378356

In [76]:
order[order['ApplSeqNum'] == 17246327]

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
19998,2300085,20201209,141716740000,1607494636740000,17246401,1,0,20.43,500,17246400,17241637
19999,2300085,20201209,141716900000,1607494636900000,17246568,1,0,20.43,800,17246567,17241637

In [57]:
trade = pd.read_csv(r'\\192.168.10.34\trading\dailyRawData\20201209\logs_20201209_zs_96_03_day_pcap\mdTradePcap_SZ_20201209_0900.csv')
y = 20201209
trade = trade[trade['ID'] == 2300085]
trade["SecurityID"] = trade["ID"] - 2000000
trade = trade.rename(columns={"time":'TransactTime'})
trade['skey'] = trade['SecurityID'] + 2000000
trade["TradeBSFlag"] = 'N'
trade['date'] = int(y)
trade['time1'] = int(y) * 1000000000 + trade['TransactTime']
trade["TransactTime"] = trade['TransactTime'].astype('int64') * 1000
trade["clockAtArrival"] = trade["time1"].astype(str).apply(
    lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp() * 1e6))
trade.drop("time1", axis=1, inplace=True)
trade['datetime'] = trade["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x / 1e6))
trade['TradePrice'] = (trade['TradePrice'] / 10000).round(2)
trade = trade.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", "ExecType":"trade_type", 'TransactTime':'time'})
trade["trade_flag"] = 0
trade["trade_type"] = np.where(trade["trade_type"] == 'F', 1, trade["trade_type"])
for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
    trade[col] = trade[col].astype('int32')
trade = trade.sort_values(by=['skey', 'ApplSeqNum']).reset_index(drop=True)
trade = trade[["skey", "date", "time", "clockAtArrival", "ApplSeqNum", "trade_type", "trade_flag",
                                             "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
print(trade['date'].iloc[0])
print("trade finished")
db1.write('md_trade', trade)

212

In [254]:
order = pd.read_csv(r'\\192.168.10.34\random_backup\Kevin_zhenyu\KR_daily_data\20200728\SZ\order\000750.csv')
order['SecurityID'] = 750

order = order.rename(columns={"OrdType": "OrderType"})
order["date"] = order["TransactTime"].iloc[0]//1000000000
order["OrderType"] = np.where(order["OrderType"] == 'U', 3, order["OrderType"])
order["skey"] = order["SecurityID"] + 2000000
order["clockAtArrival"] = order["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
order['datetime'] = order["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
order["time"] = (order['TransactTime'] - int(order['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
order = order[order['ChannelNo'] != 4001]

for col in ["skey", "date", "ApplSeqNum", "OrderQty", "Side", "OrderType"]:
    order[col] = order[col].astype('int32')
#     for cols in ["Price"]:
#         print(cols)
#         print(order[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

assert(order[((order["Side"] != 1) & (order["Side"] != 2)) | (order["OrderType"].isnull())].shape[0] == 0)

order = order.rename(columns={"Side":"order_side", "OrderType":"order_type", "Price":"order_price", "OrderQty":"order_qty"})
order = order[["skey", "date", "time", "clockAtArrival", "ApplSeqNum", "order_side", "order_type", "order_price",
                                             "order_qty"]]

print(order["date"].iloc[0])
print("order finished")

database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

db1 = DB("192.168.10.178", database_name, user, password)
db1.write('md_order', order)

20200728
order finished

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:235: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [266]:
kk = pd.read_csv(r'L:\no_order.csv')

In [267]:
for i in range(0, kk.shape[0]):
    print(kk.iloc[i, 1:])
    data = db1.read_tick('md_order', start_date=int(kk.iloc[i, 1]), end_date=int(kk.iloc[i, 1]), symbol=int(kk.iloc[i, 2]))
    print(data['time'].max())

date    20171226
skey     2300631
Name: 0, dtype: int64
3
145959630000
date    20200727
skey     2000001
Name: 1, dtype: int64
3
3
3
3
3
3
3
145959790000
date    20200728
skey     2000750
Name: 2, dtype: int64
3
3
3
3
3
145958360000

In [242]:
trade = pd.read_csv(r'\\192.168.10.34\random_backup\Kevin_zhenyu\KR_daily_data\20201021\SZ\tick\300999.csv')
trade['SecurityID'] = 300171

trade = trade[trade["ChannelNo"] != 4001]
trade["date"] = trade["TransactTime"].iloc[0]//1000000000
trade = trade.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
trade["trade_money"] = trade["trade_price"] * trade["trade_qty"]
trade["trade_flag"] = 0
trade["skey"] = trade["SecurityID"] + 2000000
trade["clockAtArrival"] = trade["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
trade['datetime'] = trade["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
trade["time"] = (trade['TransactTime'] - int(trade['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
trade["trade_type"] = np.where(trade["trade_type"] == 'F', 1, trade["trade_type"])
for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
    trade[col] = trade[col].astype('int32')

for cols in ["trade_money"]:
    trade[cols] = trade[cols].round(2)

trade = trade[["skey", "date", "time", "clockAtArrival", "ApplSeqNum", "trade_type", "trade_flag",
                                             "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
print("trade finished")


database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

db1 = DB("192.168.10.178", database_name, user, password)
db1.write('md_trade', trade)

trade finished

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:235: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [205]:
trade

,skey,date,time,clockAtArrival,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
0,2000722,20170714,91505380000,1499994905380000,85122,4,0,0.00,400,0,82011
1,2000722,20170714,92500000000,1499995500000000,177277,1,0,12.85,400,148466,86300
2,2000722,20170714,92500000000,1499995500000000,177278,1,0,12.85,200,153554,86300
3,2000722,20170714,92500000000,1499995500000000,177279,1,0,12.85,600,153554,169061
4,2000722,20170714,92500000000,1499995500000000,177280,1,0,12.85,1000,153554,130318
5,2000722,20170714,92500000000,1499995500000000,177281,1,0,12.85,400,153554,157131
6,2000722,20170714,92500000000,1499995500000000,177282,1,0,12.85,1600,153554,106096
7,2000722,20170714,92500000000,1499995500000000,177283,1,0,12.85,700,153554,135926
8,2000722,20170714,92500000000,1499995500000000,177284,1,0,12.85,500,153554,174426
9,2000722,20170714,92500000000,1499995500000000,177285,1,0,12.85,800,54317,174426
10,2000722,20170714,93000080000,1499995800080000,194663,1,0,12.86,100,194662,168441
11,2000722,20170714,93000080000,1499995800080000,194664,1,0,12.86,900,194662,174549
12,2000722,20170714,93000220000,1499995800220000,206595,1,0,12.85,4000,54317,206594
13,2000722,20170714,93000290000,1499995800290000,212171,1,0,12.86,600,212170,174549
14,2000722,20170714,93000330000,1499995800330000,214582,4,0,0.00,2000,199304,0
15,2000722,20170714,93000410000,1499995800410000,217790,1,0,12.86,2000,217789,174549
16,2000722,20170714,93001250000,1499995801250000,247874,1,0,12.86,100,247873,174549
17,2000722,20170714,93001260000,1499995801260000,248008,1,0,12.86,400,248007,174549
18,2000722,20170714,93001320000,1499995801320000,249303,1,0,12.87,800,249302,161804
19,2000722,20170714,93001320000,1499995801320000,249372,4,0,0.00,3700,44364,0
20,2000722,20170714,93001550000,1499995801550000,253730,1,0,12.86,1000,248007,253729
21,2000722,20170714,93001750000,1499995801750000,258399,1,0,12.87,2000,258398,161804
22,2000722,20170714,93009850000,1499995809850000,303005,1,0,12.87,1200,303004,161804
23,2000722,20170714,93009850000,1499995809850000,303006,1,0,12.87,200,303004,269753
24,2000722,20170714,93014750000,1499995814750000,309839,1,0,12.87,500,309838,269753
25,2000722,20170714,93016370000,1499995816370000,311543,1,0,12.87,300,311542,269753
26,2000722,20170714,93016370000,1499995816370000,311544,1,0,12.88,200,311542,160116
27,2000722,20170714,93023130000,1499995823130000,318593,1,0,12.88,2400,318592,160116
28,2000722,20170714,93026460000,1499995826460000,322306,4,0,0.00,6000,0,106090
29,2000722,20170714,93027190000,1499995827190000,323100,1,0,12.88,1400,323099,160116