In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz
import numpy as np

test = pd.read_pickle(r'M:\tickData_AMAC\tick_stock_202001\Tick_CSIH11041.pkl')
test['date'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[0].replace("-", "")))
test['time'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(":", "")))
test['datetime'] = test['date'] * 1000000 + test['time']
test["clockAtArrival"] = test["datetime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
test['datetime'] = test["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
test['time'] = test['time'].astype('int64') * 1000000
test['skey'] = test['ID'].str[4:].astype(int) + 3000000
test = test.rename(columns={'industry_open':"open"})
test['open1'] = test.groupby(['skey', 'date'])['open'].transform('max')
test['close1'] = test['close'].shift(1)
# 每天只有一条tick cum_volume==0, 且当时open==today's open, close==yesterday's close
assert(sum(test[test['cum_volume'] == 0].groupby('date')['ordering'].size() != 1) == 0)
assert((test[test['cum_volume'] == 0]['open'].min() > 0) & (test[test['open'] != test['open1']].shape[0] == 0))
assert(sum(test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close'] != 
    test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close1']) == 0)
test = test[test['cum_volume'] != 0]
test = test.sort_values(by=['date', 'ordering'])
test = test[["skey", "date", "time", "clockAtArrival", "datetime", "cum_volume", "cum_amount", 
             "open", "close"]]
# change to second level tick data
k1 = test.groupby(['date', 'skey'])['datetime'].min().reset_index()
k1 = k1.rename(columns={'datetime':'min'})
k2 = test.groupby(['date', 'skey'])['datetime'].max().reset_index()
k2 = k2.rename(columns={'datetime':'max'})
k = pd.merge(k1, k2, on=['date', 'skey'])
k['diff'] = (k['max']-k['min']).apply(lambda x: x.seconds)

df = pd.DataFrame()
for i in np.arange(k.shape[0]):
    df1 = pd.DataFrame()
    df1['datetime1'] = [k.loc[i, 'min'] + datetime.timedelta(seconds=int(x)) for x in np.arange(0, k.loc[i, 'diff'] + 1)]
    df1['skey'] = k.loc[i, 'skey']
    df1['date'] = k.loc[i, 'date']
    assert(df1['datetime1'].min() == k.loc[i, 'min'])
    assert(df1['datetime1'].max() == k.loc[i, 'max'])
    df = pd.concat([df, df1])
test = pd.merge(test, df, left_on=['skey', 'datetime', 'date'], right_on=['skey', 'datetime1', 'date'], how='outer').sort_values(by=['skey', 'date', 'datetime1']).reset_index(drop=True)
assert(test[test['datetime1'].isnull()].shape[0] == 0)
for cols in ['cum_volume', 'cum_amount', 'open', 'close']:
    test[cols] = test.groupby('skey')[cols].ffill()
test.drop(["datetime"],axis=1,inplace=True)
test = test.rename(columns={'datetime1':'datetime'})
test['skey'] = test['skey'].astype('int32')
test["time"] = test['datetime'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(':', ""))).astype(np.int64)
test['SendingTime'] = test['date'] * 1000000 + test['time']
test["clockAtArrival"] = test["SendingTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
test.drop(["SendingTime"],axis=1,inplace=True)
test['time'] = test['time'] * 1000000

assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
test["open"] = np.where(test["cum_volume"] > 0, test.groupby(["skey", 'date'])["open"].transform("max"), test["open"])
assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
assert(test[test["cum_volume"] > 0]["open"].min() > 0)

test['date'] = test['date'].astype('int32')
test['cum_volume'] = test['cum_volume'].astype('int64')
test = test.sort_values(by=['date', 'skey', 'time'])
test["ordering"] = test.groupby(["skey", 'date']).cumcount() + 1
test['ordering'] = test['ordering'].astype('int32')

assert(test['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)
assert(test['open'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)
assert(test['close'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)

test = test[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "cum_volume", "cum_amount", 
         "open", "close"]]

FileNotFoundError: [Errno 2] No such file or directory: 'M:\\tickData_AMAC\\tick_stock_202001\\Tick_CSIH11041.pkl'

In [4]:
import sys
sys.path.append("C:/progrma files/Tinysoft/Analyse.NET")
import TSLPy3
data = TSLPy3.RemoteExecute("return 1;", {})

ModuleNotFoundError: No module named 'TSLPy3'

In [9]:
test[test['time'] >= 130000000000].groupby('date').first()

,skey,time,clockAtArrival,datetime,cum_volume,cum_amount,open,close
date,,,,,,,,
20200102,3011041,130005000000,1577941205000000,2020-01-02 13:00:05,776537904.0,426913.1022,1735.0651,1741.3676
20200103,3011041,130005000000,1578027605000000,2020-01-03 13:00:05,631666243.0,381000.5140,1742.8987,1743.6417
20200106,3011041,130004000000,1578286804000000,2020-01-06 13:00:04,808174846.0,488619.4116,1741.6024,1742.3595
20200107,3011041,130001000000,1578373201000000,2020-01-07 13:00:01,879092634.0,547724.7280,1740.8944,1744.4468
20200108,3011041,130002000000,1578459602000000,2020-01-08 13:00:02,780720214.0,470607.7068,1745.7644,1740.6562
20200109,3011041,130001000000,1578546001000000,2020-01-09 13:00:01,714341777.0,408561.9773,1737.7325,1733.3469
20200110,3011041,130001000000,1578632401000000,2020-01-10 13:00:01,614852604.0,363957.5615,1740.6900,1728.7751
20200113,3011041,130002000000,1578891602000000,2020-01-13 13:00:02,592580069.0,331362.5415,1727.9399,1728.4251
20200114,3011041,130000000000,1578978000000000,2020-01-14 13:00:00,758181621.0,415746.3226,1737.1173,1739.7512
20200115,3011041,130003000000,1579064403000000,2020-01-15 13:00:03,645670581.0,362149.5136,1739.2733,1729.4077
20200116,3011041,130005000000,1579150805000000,2020-01-16 13:00:05,492241019.0,297941.9875,1728.6409,1722.6023
20200117,3011041,130004000000,1579237204000000,2020-01-17 13:00:04,427567213.0,290425.0290,1715.5208,1705.0013
20200120,3011041,130004000000,1579496404000000,2020-01-20 13:00:04,506813157.0,320519.3783,1704.1873,1705.1445
20200121,3011041,130004000000,1579582804000000,2020-01-21 13:00:04,610982794.0,344703.4730,1704.9506,1695.0889
20200122,3011041,130003000000,1579669203000000,2020-01-22 13:00:03,525873750.0,298149.7045,1688.2535,1683.8723
20200123,3011041,130003000000,1579755603000000,2020-01-23 13:00:03,534387940.0,289794.8060,1676.0461,1663.7475

In [10]:
test[test['time'] < 130000000000].groupby('date').last()

,skey,time,clockAtArrival,datetime,cum_volume,cum_amount,open,close
date,,,,,,,,
20200102,3011041,113010000000,1577935810000000,2020-01-02 11:30:10,772485160.0,424815.7186,1735.0651,1741.5859
20200103,3011041,113005000000,1578022205000000,2020-01-03 11:30:05,628413339.0,379335.8051,1742.8987,1743.9610
20200106,3011041,113014000000,1578281414000000,2020-01-06 11:30:14,805051811.0,487146.1411,1741.6024,1742.3351
20200107,3011041,113006000000,1578367806000000,2020-01-07 11:30:06,878877134.0,547650.8115,1740.8944,1744.4468
20200108,3011041,113012000000,1578454212000000,2020-01-08 11:30:12,780714014.0,470604.1963,1745.7644,1740.6562
20200109,3011041,113011000000,1578540611000000,2020-01-09 11:30:11,714193889.0,408481.9900,1737.7325,1733.4006
20200110,3011041,113011000000,1578627011000000,2020-01-10 11:30:11,614834304.0,363937.6582,1740.6900,1728.7751
20200113,3011041,113012000000,1578886212000000,2020-01-13 11:30:12,592575169.0,331360.4456,1727.9399,1728.5299
20200114,3011041,113010000000,1578972610000000,2020-01-14 11:30:10,758172921.0,415742.9979,1737.1173,1739.7512
20200115,3011041,113008000000,1579059008000000,2020-01-15 11:30:08,645663581.0,362140.7356,1739.2733,1729.4077
20200116,3011041,113010000000,1579145410000000,2020-01-16 11:30:10,490353735.0,297014.7339,1728.6409,1722.5577
20200117,3011041,113014000000,1579231814000000,2020-01-17 11:30:14,425623788.0,289523.8326,1715.5208,1704.9415
20200120,3011041,113009000000,1579491009000000,2020-01-20 11:30:09,503182014.0,318648.7477,1704.1873,1705.0904
20200121,3011041,113009000000,1579577409000000,2020-01-21 11:30:09,609222652.0,343912.4795,1704.9506,1694.7180
20200122,3011041,113008000000,1579663808000000,2020-01-22 11:30:08,525713348.0,298071.2016,1688.2535,1683.7218
20200123,3011041,113013000000,1579750213000000,2020-01-23 11:30:13,534105540.0,289670.7287,1676.0461,1663.7673

In [81]:
assert(test['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)
assert(test['open'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)
assert(test['close'].astype(str).apply(lambda x: len(x.split('.')[1])).max() == 4)

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()











import pandas as pd
import random
import numpy as np
import glob
import pickle
import os
import datetime
import time
pd.set_option("max_columns", 200)

year = "2017"
startDate = '201701'
endDate = '201712'
readPath = 'M:\\tickData_AMAC\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[2] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
wr_ong = []
mi_ss = []
less = []

for data in np.sort(dataPathLs):
    d = np.array(glob.glob(data + '\\***'))
    test = []
    for dd in d:
        df = pd.read_pickle(dd)
        test += [df]
    test = pd.concat(test)
    test['date'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[0].replace("-", "")))
    test['time'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(":", "")))
    test['datetime'] = test['date'] * 1000000 + test['time']
    test["clockAtArrival"] = test["datetime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
    test['datetime'] = test["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    test['time'] = test['time'].astype('int64') * 1000000
    test['skey'] = test['ID'].str[4:].astype(int) + 3000000
    test = test.rename(columns={'industry_open':"open"})
    test['open1'] = test.groupby(['skey', 'date'])['open'].transform('max')
    test = test.sort_values(by=['skey', 'date', 'ordering'])
    test['close1'] = test.groupby(['skey'])['close'].shift(1)
    # 每天只有一条tick cum_volume==0, 且当时open==today's open, close==yesterday's close
    # 20180215, 20180220, 20180221不满足条件，这几天无交易，close=0；20180215, 20180222 close close1也无法对上
    assert(sum(test[test['cum_volume'] == 0].groupby(['skey', 'date'])['ordering'].size() != 1) == 0)
    assert(sum(test[test['cum_volume'] == 0].groupby(['skey', 'date'])['ordering'].unique() != 0) == 0)
    try:
        assert((test[test['cum_volume'] == 0]['open'].min() > 0) & (test[test['open'] != test['open1']].shape[0] == 0))
        assert(sum(test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close'] != 
        test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close1']) == 0)
    except:
        print(test[(test['cum_volume'] == 0) & (test['open'] == 0)]['datetime'].unique())
        print(test[(test['cum_volume'] == 0) & (~test['close1'].isnull())][test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close'] != 
        test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close1']]['datetime'].unique())
    test = test[test['cum_volume'] != 0]
    test = test.sort_values(by=['skey', 'date', 'ordering'])
    test = test[["skey", "date", "time", "clockAtArrival", "datetime", "cum_volume", "cum_amount", 
                 "open", "close"]]
    # change to second level tick data
    k1 = test.groupby(['date', 'skey'])['datetime'].min().reset_index()
    k1 = k1.rename(columns={'datetime':'min'})
    k2 = test.groupby(['date', 'skey'])['datetime'].max().reset_index()
    k2 = k2.rename(columns={'datetime':'max'})
    k = pd.merge(k1, k2, on=['date', 'skey'])
    k['diff'] = (k['max']-k['min']).apply(lambda x: x.seconds)

    df = pd.DataFrame()
    for i in np.arange(k.shape[0]):
        df1 = pd.DataFrame()
        df1['datetime1'] = [k.loc[i, 'min'] + datetime.timedelta(seconds=int(x)) for x in np.arange(0, k.loc[i, 'diff'] + 1)]
        df1['skey'] = k.loc[i, 'skey']
        df1['date'] = k.loc[i, 'date']
        assert(df1['datetime1'].min() == k.loc[i, 'min'])
        assert(df1['datetime1'].max() == k.loc[i, 'max'])
        df = pd.concat([df, df1])
    test = pd.merge(test, df, left_on=['skey', 'datetime', 'date'], right_on=['skey', 'datetime1', 'date'], how='outer').sort_values(by=['skey', 'date', 'datetime1']).reset_index(drop=True)
    assert(test[test['datetime1'].isnull()].shape[0] == 0)
    for cols in ['cum_volume', 'cum_amount', 'open', 'close']:
        test[cols] = test.groupby(['skey', 'date'])[cols].ffill()
    test.drop(["datetime"],axis=1,inplace=True)
    test = test.rename(columns={'datetime1':'datetime'})
    test['skey'] = test['skey'].astype('int32')
    test["time"] = test['datetime'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(':', ""))).astype(np.int64)
    test['SendingTime'] = test['date'] * 1000000 + test['time']
    test["clockAtArrival"] = test["SendingTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
    test.drop(["SendingTime"],axis=1,inplace=True)
    test['time'] = test['time'] * 1000000

    assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
    test["open"] = np.where(test["cum_volume"] > 0, test.groupby(["skey", 'date'])["open"].transform("max"), test["open"])
    assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
    assert(test[test["cum_volume"] > 0]["open"].min() > 0)

    test['date'] = test['date'].astype('int32')
    test['cum_volume'] = test['cum_volume'].astype('int64')
    
    m_in = test[test['time'] <= 113500000000].groupby('skey').last()['time'].min()
    m_ax = test[test['time'] >= 125500000000].groupby('skey').first()['time'].max()
    assert(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].drop_duplicates(['cum_volume', 'open',  
                                               'close', 'cum_amount', 'skey', 'date'], keep=False).shape[0] == 0
           & (sum(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].groupby('skey')['cum_volume'].nunique() != 1) == 0) & 
           (sum(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].groupby('skey')['close'].nunique() != 1) == 0))
    test = pd.concat([test[test['time'] <= 113500000000], test[test['time'] >= 125500000000]])
    
    test = test.sort_values(by=["skey", 'date', 'time'])
    test["ordering"] = test.groupby(["skey", 'date']).cumcount() + 1
    test['ordering'] = test['ordering'].astype('int32')

    for cols in ['open', 'cum_amount', 'close']:
        test[cols] = test[cols].apply(lambda x: round(x, 4)).astype('float64')
    assert(test['time'].max() < 150500000000)

    test = test[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "cum_volume", "cum_amount", 
             "open", "close"]]
    
    display(data)
    print("index finished")
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_index', test)
    
    del test

['2017-05-29T08:59:51.000000000']
['2017-05-29T08:59:51.000000000' '2017-05-31T08:59:55.000000000']

'M:\\tickData_AMAC\\tick_stock_201705'

index finished

'M:\\tickData_AMAC\\tick_stock_201706'

index finished

'M:\\tickData_AMAC\\tick_stock_201707'

index finished

'M:\\tickData_AMAC\\tick_stock_201708'

index finished

'M:\\tickData_AMAC\\tick_stock_201709'

index finished

'M:\\tickData_AMAC\\tick_stock_201710'

index finished

'M:\\tickData_AMAC\\tick_stock_201711'

index finished

'M:\\tickData_AMAC\\tick_stock_201712'

index finished

In [28]:
k = pd.read_pickle(r'M:\tickData_AMAC\tick_stock_201812\Tick_CSIH11030.pkl')
k['date'] = k['time'].astype(str).str[:10]
k = k.sort_values(by=['ID', 'date', 'ordering'])
k['close1'] = k.groupby(['ID'])['close'].shift(1)
k[(k['cum_volume'] == 0) & (k['close'] != k['close1'])]

,intdate,minute,morning,time,close,industry_open,cum_volume,cum_amount,ID,ordering,month,date,close1
0,43437,541,1,2018-12-03 09:00:01,1957.1232,1956.8878,0.0,0.0,CSIH11030,0.0,201812,2018-12-03,NaN
53966,43462,540,1,2018-12-28 09:00:00,1946.3828,1932.5982,0.0,0.0,CSIH11030,0.0,201812,2018-12-28,1945.9439

In [34]:
k[(k['date'] == '2018-12-27')]

,intdate,minute,morning,time,close,industry_open,cum_volume,cum_amount,ID,ordering,month,date,close1
51116,43461,540,1,2018-12-27 08:59:59,1967.3388,1987.6867,0.0,0.0000,CSIH11030,0.0,201812,2018-12-27,1967.3388
51117,43461,566,1,2018-12-27 09:25:04,1987.6867,1987.6867,3234187.0,2502.0035,CSIH11030,1.0,201812,2018-12-27,1967.3388
51118,43461,571,1,2018-12-27 09:30:03,1990.5268,1987.6867,5975050.0,4547.6110,CSIH11030,2.0,201812,2018-12-27,1987.6867
51119,43461,571,1,2018-12-27 09:30:08,1989.6967,1987.6867,7303493.0,5588.1182,CSIH11030,3.0,201812,2018-12-27,1990.5268
51120,43461,571,1,2018-12-27 09:30:13,1991.0568,1987.6867,7753194.0,5871.2612,CSIH11030,4.0,201812,2018-12-27,1989.6967
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53961,43461,897,0,2018-12-27 14:56:51,1943.5599,1987.6867,287853119.0,216778.8715,CSIH11030,2845.0,201812,2018-12-27,1943.7983
53962,43461,897,0,2018-12-27 14:56:56,1944.7028,1987.6867,288117008.0,216957.6529,CSIH11030,2846.0,201812,2018-12-27,1943.5599
53963,43461,898,0,2018-12-27 14:57:02,1944.2455,1987.6867,288289067.0,217067.0984,CSIH11030,2847.0,201812,2018-12-27,1944.7028
53964,43461,901,0,2018-12-27 15:00:01,1943.8656,1987.6867,292844255.0,219837.7588,CSIH11030,2848.0,201812,2018-12-27,1944.2455
53965,43461,901,0,2018-12-27 15:00:06,1945.9439,1987.6867,292903915.0,219934.3371,CSIH11030,2849.0,201812,2018-12-27,1943.8656

In [8]:
import pymongo 
import io 
import pandas as pd 
import pickle 
import datetime 
import time 
import gzip 
import lzma 
import pytz 
import pyarrow as pa 
import pyarrow.parquet as pq 
import numpy as np 
import re

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)

class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db', version=3): 
        self.db_name = db_name 
        self.uri = uri 
        self.client = pymongo.MongoClient(self.uri) 
        self.db = self.client[self.db_name] 
        self.chunk_size = 20000 
        self.symbol_column = symbol_column 
        self.date_column = 'date' 
        self.version = version

    def parse_uri(self, uri): 
        # mongodb://user:password@example.com 
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}
        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("date must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid date type: " + str(type(x)))
        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)
        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)
        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)
        return query

    def read_tick(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name] 
        query = self.build_query(start_date, end_date, symbol) 
        if not query: 
            print('cannot read the whole table') 
            return None  
        segs = [] 
        for x in collection.find(query): 
            x['data'] = self.deser(x['data'], x['ver']) 
            segs.append(x) 
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start'])) 
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def read_daily(self, table_name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, index_name=None, col=None, return_sdi=True): 
        collection = self.db[table_name]
        # Build projection 
        prj = {'_id': 0} 
        if col is not None: 
            if return_sdi: 
                col = ['skey', 'date', 'index_id'] + col 
            for col_name in col: 
                prj[col_name] = 1 
        # Build query 
        query = {} 
        if skey is not None: 
            query['skey'] = {'$in': skey} 
        if interval is not None: 
            query['interval'] = {'$in': interval} 
        if index_id is not None: 
            query['index_id'] = {'$in': index_id}    
        if index_name is not None:
            n = '' 
            for name in index_name: 
                try: 
                    name = re.compile('[\u4e00-\u9fff]+').findall(name)[0] 
                    if len(n) == 0: 
                        n = n = "|".join(name) 
                    else: 
                        n = n + '|' + "|".join(name) 
                except: 
                    if len(n) == 0: 
                        n = name 
                    else: 
                        n = n + '|' + name 
            query['index_name'] = {'$regex': n}
        if start_date is not None: 
            if end_date is not None: 
                query['date'] = {'$gte': start_date, '$lte': end_date} 
            else: 
                query['date'] = {'$gte': start_date} 
        elif end_date is not None: 
            query['date'] = {'$lte': end_date} 
        # Load data 
        cur = collection.find(query, prj) 
        df = pd.DataFrame.from_records(cur) 
        if df.empty: 
            df = pd.DataFrame() 
        else:
            if 'index_id' in df.columns:
                df = df.sort_values(by=['date', 'index_id', 'skey']).reset_index(drop=True)
            else:
                df = df.sort_values(by=['date','skey']).reset_index(drop=True)
        return df 
 

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = self.version
            ser_data = self.ser(df_seg, version)
            seg = {'ver': version, 'data': ser_data, 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        elif version == 3:
            # 32-bit number needs more space than 64-bit for parquet
            for col_name in s.columns:
                col = s[col_name]
                if col.dtype == np.int32:
                    s[col_name] = s[col_name].astype(np.int64)
                elif col.dtype == np.uint32:
                    s[col_name] = s[col_name].astype(np.uint64)
            tbl = pa.Table.from_pandas(s)
            f = io.BytesIO()
            pq.write_table(tbl, f, use_dictionary=False, compression='ZSTD', compression_level=0)
            f.seek(0)
            data = f.read()
            return data
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)
        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        elif version == 3:
            f = io.BytesIO()
            f.write(s)
            f.seek(0)
            return pq.read_table(f, use_threads=False).to_pandas()
        else:
            raise Exception('unknown version')

def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()






# import pandas as pd
# import random
# import numpy as np
# import glob
# import pickle
# import os
# import datetime
# import time
# import TSLPy3


# ul = pd.read_csv(r'D:\work\project 17 AMAC\tickStockList_AMAC.csv')
# ul = ul['StockID'].values

# startDate = '20201208T'
# endDate = '20201208T'
# for num in range(len(ul)):
#     stock=ul[num]
#     tickname = 'Tick_'+ stock
#     if num%10 == 0: print('Processing ' + str(num) +' AMAC '+stock)
#     tsstr="""
#            BegT :=%s;
#            EndT :=%s + 0.99;
#            setSysParam(pn_stock(),'%s');
#            returnData := select ['date'],['close'],['sectional_open'],['sectional_vol'],['sectional_amount']
#                          from tradetable datekey BegT to EndT of DefaultStockID() end;
#            return returnData;
#            """%(startDate,endDate,stock)
#     Tick_Stock = pd.DataFrame(TSLPy3.RemoteExecute(tsstr,{})[1])
#     Tick_Stock.columns = list(pd.Series(Tick_Stock.columns).str.decode('GBK'))
#     Tick_Stock['intdate'] = Tick_Stock.date.astype(int)
#     Tick_Stock['time'] = Tick_Stock.date.map(lambda x: datetime.datetime.utcfromtimestamp(round((x - 25569) * 86400.0)))
#     Tick_Stock['adjTime'] = Tick_Stock.date.map(lambda x: datetime.datetime.utcfromtimestamp(round((x - 25569) * 86400.0) - 1))
#     Tick_Stock['minute'] = Tick_Stock.adjTime.map(lambda x: (x.hour*60 + x.minute + 1))
#     assert (Tick_Stock.minute.max() >= 900) & (Tick_Stock.minute.min() <= 570)
#     Tick_Stock['morning'] = np.where(Tick_Stock.minute <= 690, 1, 0)          
#     Tick_Stock.rename(columns = {'sectional_open':'industry_open','sectional_vol':'cum_volume','sectional_amount':'cum_amount'}, inplace=True)            
#     Tick_Stock = Tick_Stock[['intdate','minute','morning','time','close','industry_open','cum_volume','cum_amount']].reset_index(drop = True)
#     Tick_Stock['ID'] = stock
#     ## ordering per day per stock
#     for intD in Tick_Stock.intdate.unique():
#         Tick_Stock.loc[Tick_Stock.intdate == intD, 'ordering'] = range(0, len(Tick_Stock.loc[Tick_Stock.intdate == intD, 'ID']))
#     Tick_Stock['month'] = Tick_Stock.time.dt.month + Tick_Stock.time.dt.year * 100
#     test = Tick_Stock

#     test['date'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[0].replace("-", "")))
#     test['time'] = test['time'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(":", "")))
#     test['datetime'] = test['date'] * 1000000 + test['time']
#     test["clockAtArrival"] = test["datetime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
#     test['datetime'] = test["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
#     test['time'] = test['time'].astype('int64') * 1000000
#     test['skey'] = test['ID'].str[4:].astype(int) + 3000000
#     test = test.rename(columns={'industry_open':"open"})
#     test['open1'] = test.groupby(['skey', 'date'])['open'].transform('max')
#     test = test.sort_values(by=['skey', 'date', 'ordering'])
#     test['close1'] = test.groupby(['skey'])['close'].shift(1)
#     # 每天只有一条tick cum_volume==0, 且当时open==today's open, close==yesterday's close
#     # 20180215, 20180220, 20180221不满足条件，这几天无交易，close=0；20180215, 20180222 close close1也无法对上
#     assert(sum(test[test['cum_volume'] == 0].groupby(['skey', 'date'])['ordering'].size() != 1) == 0)
#     assert(sum(test[test['cum_volume'] == 0].groupby(['skey', 'date'])['ordering'].unique() != 0) == 0)
#     try:
#         assert((test[test['cum_volume'] == 0]['open'].min() > 0) & (test[test['open'] != test['open1']].shape[0] == 0))
#         assert(sum(test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close'] != 
#         test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close1']) == 0)
#     except:
#         print(test[(test['cum_volume'] == 0) & (test['open'] == 0)]['datetime'].unique())
#         print(test[(test['cum_volume'] == 0) & (~test['close1'].isnull())][test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close'] != 
#         test[(test['cum_volume'] == 0) & (~test['close1'].isnull())]['close1']]['datetime'].unique())
#     test = test[test['cum_volume'] != 0]
#     test = test.sort_values(by=['skey', 'date', 'ordering'])
#     test = test[["skey", "date", "time", "clockAtArrival", "datetime", "cum_volume", "cum_amount", 
#                  "open", "close"]]
    
#     test['td'] = (test['datetime'] - test['datetime'].shift(1)).apply(lambda x: x.seconds).fillna(0).astype('int64')
#     test['up'] = test[test['time'] >= 130000000000]['time'].min()
#     assert(test[(test['time'] > 93000000000) & (test['time'].shift(1) > 93000000000) & (test['time'] < 150000000000)\
#         & (test['time'] != test['up'])]['td'].max() < 40)
#     print(test[(test['time'] > 93000000000) & (test['time'].shift(1) > 93000000000) & (test['time'] < 150000000000)\
#         & (test['time'] != test['up'])]['td'].unique())
#     print(test[(test['time'] > 93000000000) & (test['time'].shift(1) > 93000000000) & (test['time'] < 150000000000)\
#         & (test['time'] != test['up']) & (test['td'] == 30)])
#     # change to second level tick data
#     k1 = test.groupby(['date', 'skey'])['datetime'].min().reset_index()
#     k1 = k1.rename(columns={'datetime':'min'})
#     k2 = test.groupby(['date', 'skey'])['datetime'].max().reset_index()
#     k2 = k2.rename(columns={'datetime':'max'})
#     k = pd.merge(k1, k2, on=['date', 'skey'])
#     k['diff'] = (k['max']-k['min']).apply(lambda x: x.seconds)

#     df = pd.DataFrame()
#     for i in np.arange(k.shape[0]):
#         df1 = pd.DataFrame()
#         df1['datetime1'] = [k.loc[i, 'min'] + datetime.timedelta(seconds=int(x)) for x in np.arange(0, k.loc[i, 'diff'] + 1)]
#         df1['skey'] = k.loc[i, 'skey']
#         df1['date'] = k.loc[i, 'date']
#         assert(df1['datetime1'].min() == k.loc[i, 'min'])
#         assert(df1['datetime1'].max() == k.loc[i, 'max'])
#         df = pd.concat([df, df1])
#     test = pd.merge(test, df, left_on=['skey', 'datetime', 'date'], right_on=['skey', 'datetime1', 'date'], how='outer').sort_values(by=['skey', 'date', 'datetime1']).reset_index(drop=True)
#     assert(test[test['datetime1'].isnull()].shape[0] == 0)
#     for cols in ['cum_volume', 'cum_amount', 'open', 'close']:
#         test[cols] = test.groupby(['skey', 'date'])[cols].ffill()
#     test.drop(["datetime"],axis=1,inplace=True)
#     test = test.rename(columns={'datetime1':'datetime'})
#     test['skey'] = test['skey'].astype('int32')
#     test["time"] = test['datetime'].astype(str).apply(lambda x: int(x.split(' ')[1].replace(':', ""))).astype(np.int64)
#     test['SendingTime'] = test['date'] * 1000000 + test['time']
#     test["clockAtArrival"] = test["SendingTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
#     test.drop(["SendingTime"],axis=1,inplace=True)
#     test['time'] = test['time'] * 1000000

#     assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
#     test["open"] = np.where(test["cum_volume"] > 0, test.groupby(["skey", 'date'])["open"].transform("max"), test["open"])
#     assert(sum(test[test["open"] != 0].groupby(["skey", 'date'])["open"].nunique() != 1) == 0)
#     assert(test[test["cum_volume"] > 0]["open"].min() > 0)

#     test['date'] = test['date'].astype('int32')
#     test['cum_volume'] = test['cum_volume'].astype('int64')

#     m_in = test[test['time'] <= 113500000000].groupby('skey').last()['time'].min()
#     m_ax = test[test['time'] >= 125500000000].groupby('skey').first()['time'].max()
#     assert(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].drop_duplicates(['cum_volume', 'open',  
#                                                'close', 'cum_amount', 'skey', 'date'], keep=False).shape[0] == 0
#            & (sum(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].groupby('skey')['cum_volume'].nunique() != 1) == 0) & 
#            (sum(test[(test['time'] >= m_in) & (test['time'] <= m_ax)].groupby('skey')['close'].nunique() != 1) == 0))
#     test = pd.concat([test[test['time'] <= 113500000000], test[test['time'] >= 125500000000]])

#     test = test.sort_values(by=["skey", 'date', 'time'])
#     test["ordering"] = test.groupby(["skey", 'date']).cumcount() + 1
#     test['ordering'] = test['ordering'].astype('int32')

#     for cols in ['open', 'cum_amount', 'close']:
#         test[cols] = test[cols].apply(lambda x: round(x, 4)).astype('float64')
#     assert(test['time'].max() < 150500000000)

#     test = test[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "cum_volume", "cum_amount", 
#              "open", "close"]]

#     print("index finished")

#     database_name = 'com_md_eq_cn'
#     user = "zhenyuy"
#     password = "bnONBrzSMGoE"

#     db1 = DB("192.168.10.178", database_name, user, password)
#     db1.write('md_index', test)

#     del test

In [9]:
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db1 = DB("192.168.10.178", database_name, user, password)
data = db1.read_tick('md_index', 20201223)
db1.write('md_index', data)