In [1]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

In [35]:
import pandas as pd
import numpy as np
import glob
import os
import datetime

startDate = '20200916'
endDate = '20200930'



readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
rawOrderLog = []
for thisDate, thisPath in zip(dateLs, dataPathLs):
    data = pd.read_csv(thisPath)
    data = data.rename(columns={'mdClockAtArrival': 'caamd'})
    rawOrderLog += [data]
rawOrderLog = pd.concat(rawOrderLog, sort=False)

# rawOrderLog = pd.read_pickle(r'A:\temp\speedCheck\zt96_statwo_20200818.pkl')


for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
            'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
    rawOrderLog[col] = rawOrderLog[col].astype('int64')   
rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]

rawOrderLog['clock'] = rawOrderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
rawOrderLog['broker'] = rawOrderLog['accCode'] // 100
rawOrderLog["broker"] = np.where(rawOrderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), rawOrderLog['accCode'] // 10000, rawOrderLog["broker"])
rawOrderLog['colo_broker'] = rawOrderLog['colo'].str[:2] + '_' + rawOrderLog['broker'].astype('str')
rawOrderLog['order'] = rawOrderLog.groupby(['date', 'accCode', 'secid', 'vai']).grouper.group_info[0]
rawOrderLog['group'] = rawOrderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
rawOrderLog['startClock'] = rawOrderLog.groupby(['order'])['clockAtArrival'].transform('first')
rawOrderLog['duration'] = rawOrderLog['clockAtArrival'] - rawOrderLog['startClock']
rawOrderLog['orderPrice'] = rawOrderLog['orderPrice'].apply(lambda x: round(x, 2))
rawOrderLog['tradePrice'] = rawOrderLog['tradePrice'].apply(lambda x: round(x, 2))
rawOrderLog['orderDirection1'] = np.where(rawOrderLog["orderDirection"] == -2, -1, np.where(
    rawOrderLog["orderDirection"] == 2, 1, rawOrderLog["orderDirection"]))
orderLog = rawOrderLog.copy()

### Assertion 1:  make sure same direction in same date, secid, vai
print('=======================================================================================')
print('1. same date, secid, vai: same direction')
orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
if len(orderLog[orderLog['directNum'] != 1]) > 0:
    print('opposite direction for same date, same secid, same vai')
    display(orderLog[(orderLog['directNum'] != 1) & (orderLog['updateType'] == 0)][['date', 'accCode', 'secid', 'vai', 'orderDirection', 'order']])
    orderLog = orderLog[orderLog['directNum'] == 1]

assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

## Assertion 2:  make sure each account, secid, vai only has one insertion
print('=======================================================================================')
print('2. same date, secid, vai, accCode: one insertion')
a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'accCode', 'secid', 'vai', 'order'])['clockAtArrival'].count()
if len(a[a > 1]) > 0:
    print('more than one insertion at same time')
    a = a[a>1].reset_index()
    display(a)
    orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                             np.where(orderLog['mse'] == 100, 1, 0), np.nan)
orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


### Assertion 3:  check IPO stocks selling status
print('=======================================================================================')
print('3. IPO stocks selling (ars = 301, 302)')
if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
    kk = orderLog[orderLog['ars'].isin([301, 302])]
    print(kk)
    try:
        assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
        print('we only sell, never buy')
    except:
        print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk[kk['orderDirection1'] == 1])
    kk1 = kk[kk['updateType'] == 0]
    kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
    kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
    kk1['diff'] = kk1['diff'].fillna(0)
    try:
        assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
        print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
    except:
        print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk1[kk1['diff'] < 10e6])
    kk2 = kk[(kk['updateType'] == 1)]
    try:
        assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
        print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
    except:
        print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk2[kk2['duration'] < 3e6])


### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
print('=======================================================================================')
print('4. updateType 7 orders')
if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
    assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().max() < 20)
    assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().sum() < 100)

### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
print('=======================================================================================')
print('5. updateType 6 orders')
k1 = orderLog[orderLog['updateType'] == 6].groupby('accCode')['order'].nunique().reset_index()
k2 = orderLog.groupby('accCode')['order'].nunique().reset_index()
k = pd.merge(k1, k2, on='accCode', how='left')
k['prob'] = k['order_x']/k['order_y']
try:
    assert(sum(k['prob'] >= 0.05) == 0)
except:
    print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    print(k[k['prob'] >= 0.05])

### Assertion 6: check CYB orders, make sure CYB stocks total absOrderSize < 30w
print('=======================================================================================')
print('6. CYB stocks total order size < 30w')
try:
    assert(orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)]['absOrderSize'].max() <= 300000)
except:
    print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    
     
### Assertion 7:  make sure there is no unexpected updateType 
print('=======================================================================================')
print('7. unexpected updateType')
def getTuple(x):
    return tuple(i for i in x)

checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                     np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                               (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                               (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                     np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))

orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

### Assertion 8:  make sure status==0 got all traded
print('=======================================================================================')
print('8. status == 0: all traded')
a = orderLog[orderLog['status'] == 0]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in total trade, any fill != total cases')
display(a[a['filled'] != a['total']])
if a[a['filled'] != a['total']].shape[0] > 0:
    removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 9:  make sure status==1 got partial traded
print('=======================================================================================')
print('9. status == 1: partial traded')
a = orderLog[orderLog['status'] == 1]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
    removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 10: make sure no cancellation within 1 sec
print('=======================================================================================')
print('10. no cancellation within 1 sec')
a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
print('any cancellation within 1 sec')
display(a)
if a.shape[0] > 0:
    removeOrderLs = a['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


### Assertion 11: make sure no order has shares > 80w or notional > 800w
print('=======================================================================================')
print('11. Orders with size > 80w or notional > 800w')
orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
    print('some order quantity are > 80w')
    print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                         'orderNtl', 'orderDirection', 'clock', 'order']])
            
if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
    print('some order ntl are > 800w')
    print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                      'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                      "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
orderLog['tradeNtl'] = orderLog.groupby('order')['tradeNtl'].transform('sum')
orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')
orderLog['sta'] = np.where(orderLog['ars'].isin([121, 221, 321, 131, 231, 331]), 'statwo', 'staone')
orderLog['cumFillSize'] = orderLog.groupby(['order'])['absOrderSizeCumFilled'].transform('max')
orderLog['status'] = np.where(orderLog['cumFillSize'] == 0, '3. no filled', 
                                np.where(orderLog['cumFillSize'] < orderLog['absOrderSize'], '2. partial filled', '1. full filled'))


startDate = '20200916'
endDate = '20200930'
readPath = r'L:\orderLog\result\marketPos'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'SZspeed_***.pkl')))
dateLs = np.array([os.path.basename(i).split('.')[0].split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
checkData = []
for path in dataPathLs:
    data = pd.read_pickle(path)
    checkData += [data]
checkLog = pd.concat(checkData).reset_index(drop=True)   
checkLog['date'].unique()

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

             date  accCode    secid       vai  orderDirection   order
25078    20200916     9248  1600650   1273426               1   38363
25082    20200916     9741  1600650   1273426              -1   44617
25086    20200916   522501  1600650   1273426              -1   54727
25089    20200916   527601  1600650   1273426              -1   58474
25095    20200916   529001  1600650   1273426              -1   63585
25098    20200916   975602  1600650   1273426              -1   67738
71034    20200916     8854  1603606  11802970              -1   32502
71043    20200916     9551  1603606  11802970               1   42827
214422   20200916     8854  2300326  18003082               1   32930
214427   20200916     9685  2300326  18003082              -1   44071
341331   20200917     9741  1603090    417200               1  120029
341335   20200917     9741  1603090    417200              -1  120029
341338   20200917   975602  1603090    417200               1  147921
341342   20200917   975602  1603090    417200              -1  147921
374639   20200917     9248  1603757   1898460              -1  113657
374643   20200917   527701  1603757   1898460               1  138929
374646   20200917   529101  1603757   1898460               1  144300
417615   20200917     6683  2002022   5480190               1  102198
417619   20200917     9685  2002022   5480190              -1  118544
666305   20200918     8854  1603222   1126105              -1  176858
666309   20200918     8943  1603222   1126105               1  179240
825855   20200918     5474  2300470   1431580              -1  168877
825858   20200918     6480  2300470   1431580              -1  171812
825863   20200918     9756  2300470   1431580               1  194892
905039   20200921     8854  1601001  18229865              -1  241570
905042   20200921   528401  1601001  18229865               1  268903
965028   20200921     8854  2000582   5091740               1  241690
965032   20200921     9243  2000582   5091740              -1  247379
1067986  20200921     5474  2300277   5728600              -1  233020
1067989  20200921     9756  2300277   5728600               1  259088
1670996  20200923     6623  2300685   1896242               1  371265
1670999  20200923     6627  2300685   1896242               1  372474
1671002  20200923     6683  2300685   1896242               1  374413
1671006  20200923     8854  2300685   1896242              -1  375530
1700557  20200924     9741  1600262    564300              -1  468645
1700561  20200924     9741  1600262    564300               1  468645
1700565  20200924   975602  1600262    564300              -1  499770
1700569  20200924   975602  1600262    564300               1  499770
1783819  20200924     9441  1603486   1181230               1  462330
1783823  20200924   522401  1603486   1181230               1  480818
1783827  20200924   522601  1603486   1181230               1  482559
1783830  20200924   528901  1603486   1181230               1  492718
1783834  20200924   966301  1603486   1181230              -1  498718
1870134  20200924     8854  2002320   5284742               1  452747
1870137  20200924     8865  2002320   5284742              -1  453442
2131824  20200925     9741  1603655   3241444              -1  554594
2131827  20200925   522501  1603655   3241444               1  566953
2131830  20200925   527601  1603655   3241444               1  572658
2131833  20200925   527701  1603655   3241444               1  573852
2131836  20200925   528101  1603655   3241444               1  574610
2131839  20200925   529001  1603655   3241444               1  578225
2131842  20200925   529101  1603655   3241444               1  579194
2131845  20200925   975602  1603655   3241444              -1  584323
2202240  20200925     5290  2002208   1097300              -1  522525
2202243  20200925     5474  2002208   1097300               1  527488
2249242  20200925     6623  2002791   2157330               1  533194
2249245  20200925     6627  2002791   2157330               1  534756
2249250  20200925     6683  2002791   2157330               1  536848
2249254  20200925     8854  2002791   2157330              -1  538715
2361269  20200925     5290  2300738    694919               1  524509
2361272  20200925     5474  2300738    694919              -1  528816
2361275  20200925     9756  2300738    694919               1  563786
2365688  20200925     6683  2300766   1542201              -1  537934
2365692  20200925     8854  2300766   1542201               1  539017
2515761  20200928     5291  2002250   5461738              -1  604689
2515766  20200928     6678  2002250   5461738              -1  614514
2515769  20200928   896702  2002250   5461738              -1  653033
2515773  20200928   966301  2002250   5461738               1  654330
2690207  20200929     8854  1600897   2356224               1  684045
2690210  20200929     9551  1600897   2356224              -1  693572
2824320  20200929     8854  2002933   1729059               1  684520
2824323  20200929     9685  2002933   1729059              -1  694777
3070644  20200930     5275  2002677   1616000              -1  729966
3070648  20200930     5287  2002677   1616000              -1  733475
3070652  20200930     6623  2002677   1616000              -1  745314
3070656  20200930     6627  2002677   1616000              -1  746402
3070660  20200930     8854  2002677   1616000               1  749002
3070663  20200930     8865  2002677   1616000              -1  749579
3070667  20200930     9471  2002677   1616000              -1  758415

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

         date  accCode    secid      vai   order  clockAtArrival
0    20200916     5225  2002805    98400    2173               2
1    20200916     6683  2300725  1374239   31106               2
2    20200916     6683  2300788   333400   31192               2
3    20200916     8854  1603429  5619973   32484               2
4    20200916     8854  2300788   445700   33084               2
..        ...      ...      ...      ...     ...             ...
488  20200930     9741  2002735  1029020  762557               2
489  20200930     9741  2002802   340600  762660               2
490  20200930     9741  2300492   151700  763460               2
491  20200930     9741  2300522  1074820  763546               2
492  20200930     9741  2300681   468700  763971               2

[493 rows x 6 columns]

99.63% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled  total
4332      5930     100    300
5661      7734   14700  38100
11194    14550     100   1100
13092    17100     500   1300
14316    18491     300    400
...        ...     ...    ...
552415  775880     500    800
552515  776001   19050  49000
552850  776429   19500  23300
554609  779191     500    700
556473  782010   20000  22000

[329 rows x 3 columns]

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

array([20200916, 20200917, 20200918, 20200921, 20200922, 20200923,
       20200924, 20200925, 20200928, 20200929, 20200930], dtype=int64)

In [36]:
checkLog = checkLog.drop_duplicates(['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
checkLog = checkLog[~checkLog['accCode'].isnull()]
targetStockSZ = checkLog['SecurityID'].unique()

In [42]:
startTm = datetime.datetime.now()

startDate = '20200916'
endDate = '20200930'

readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
dateLs = dateLs[(dateLs >= startDate) & (dateLs <= endDate)]
OrderLog = []
TradeLog = []
for date in dateLs:
    readPath = 'A:\\rawData'
    mdOrderLogPath = glob.glob(os.path.join(readPath, 'logs_%s_zs_92_01***'%date, 'mdOrderLog***.csv'))[-1]
    OrderLog1 = pd.read_csv(mdOrderLogPath)
    OrderLog1 = OrderLog1[OrderLog1['SecurityID'].isin(targetStockSZ)]
    OrderLog1['OrderType'] = OrderLog1['OrderType'].astype(str)
    OrderLog1 = OrderLog1[['clockAtArrival', 'sequenceNo', 'TransactTime', 'SecurityID', 'ApplSeqNum', 'Side',
                             'OrderType', 'Price', 'OrderQty']]
    OrderLog1['date'] = int(date)
    OrderLog += [OrderLog1]
    del OrderLog1

    
    mdTradeLogPath = glob.glob(os.path.join(readPath, 'logs_%s_zs_92_01***'%date, 'mdTradeLog***.csv'))[-1]
    TradeLog1 = pd.read_csv(mdTradeLogPath, encoding='utf-8')
    TradeLog1['ExecType'] = TradeLog1['ExecType'].astype(str)
    TradeLog1 = TradeLog1[TradeLog1['SecurityID'].isin(targetStockSZ)]
    TradeLog1 = TradeLog1[['clockAtArrival', 'sequenceNo', 'TransactTime', 'SecurityID', 'ApplSeqNum',
                             'ExecType', 'TradePrice', 'TradeQty', 'TradeMoney', 'BidApplSeqNum', 'OfferApplSeqNum']]
    TradeLog1['date'] = int(date)
    TradeLog += [TradeLog1]
OrderLog = pd.concat(OrderLog).reset_index(drop=True)
TradeLog = pd.concat(TradeLog).reset_index(drop=True)
checkLog = checkLog[['date', 'SecurityID', 'sequenceNo', 'colo', 'accCode', 'secid', 'ApplSeqNum', 'Side']]
checkLog = pd.merge(checkLog, OrderLog[['SecurityID', 'date', 'sequenceNo', 'ApplSeqNum']],
             on=['date', 'SecurityID', 'sequenceNo'], validate='one_to_one')
checkLog = checkLog.rename(columns={'ApplSeqNum_y':'ApplSeqNum_order', 'ApplSeqNum_x':'ApplSeqNum'})
checkLog = pd.merge(checkLog, OrderLog[['SecurityID', 'date', 'ApplSeqNum', 'clockAtArrival']],
             on=['date', 'SecurityID', 'ApplSeqNum'], validate='many_to_one')
checkLog = checkLog.rename(columns={'clockAtArrival':'market_insert'})

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

MemoryError:

In [5]:
orderLog['ApplSeqNum'] = orderLog.groupby(['order'])['ApplSeqNum'].transform('first')
orderLog['caamd'] = orderLog.groupby(['order'])['caamd'].transform('first')
checkLog = pd.merge(checkLog, orderLog[(orderLog['exchange'] == 'SZE')
                                & (orderLog['ApplSeqNum'] != 0)][['date', 'colo', 'accCode', 'secid', 'ApplSeqNum', 'clockAtArrival', 'caamd', 'updateType', 'order']],
             on=['date', 'colo', 'accCode', 'secid', 'ApplSeqNum'], validate='one_to_many')
checkLog = checkLog.rename(columns={'clockAtArrival':'internal_trade', 'caamd':'internal_insert'})
checkLog = checkLog[checkLog['updateType'] == 4]
checkLog1 = checkLog[checkLog['Side'] == 1]
checkLog2 = checkLog[checkLog['Side'] == 2]

In [6]:
checkLog1 = pd.merge(checkLog1, TradeLog,
             left_on=['date', 'SecurityID', 'ApplSeqNum_order'], right_on=['date', 'SecurityID', 'BidApplSeqNum'], validate='many_to_many')
checkLog1 = checkLog1.rename(columns={'clockAtArrival':"market_trade", 'sequenceNo_x':'sequenceNo_order','sequenceNo_y':'sequenceNo_trade'})
checkLog1 = checkLog1.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'internal_trade'])
checkLog1['count1'] = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order', 'internal_trade']).cumcount()
checkLog1 = checkLog1.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade'])
checkLog1['count2'] = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade']).cumcount()
c1 = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order'])['count1'].max().reset_index()
c2 = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order'])['count2'].max().reset_index()
cc = pd.merge(c1, c2, on=['date', 'secid', 'ApplSeqNum_order'])
assert(cc[cc['count1'] != cc['count2']].shape[0] == 0)
checkLog1 = checkLog1[checkLog1['count1'] == checkLog1['count2']]

In [7]:
checkLog2 = pd.merge(checkLog2, TradeLog[['SecurityID', 'date', 'clockAtArrival', 'OfferApplSeqNum', 'sequenceNo']],
             left_on=['date', 'SecurityID', 'ApplSeqNum_order'], right_on=['date', 'SecurityID', 'OfferApplSeqNum'], validate='many_to_many')
del TradeLog
checkLog2 = checkLog2.rename(columns={'clockAtArrival':"market_trade", 'sequenceNo_x':'sequenceNo_order','sequenceNo_y':'sequenceNo_trade'})
checkLog2 = checkLog2.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'internal_trade'])
checkLog2['count1'] = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order', 'internal_trade']).cumcount()
checkLog2 = checkLog2.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade'])
checkLog2['count2'] = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade']).cumcount()
c1 = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order'])['count1'].max().reset_index()
c2 = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order'])['count2'].max().reset_index()
cc = pd.merge(c1, c2, on=['date', 'secid', 'ApplSeqNum_order'])
assert(cc[cc['count1'] != cc['count2']].shape[0] == 0)
checkLog2 = checkLog2[checkLog2['count1'] == checkLog2['count2']]

In [8]:
checkLog = pd.concat([checkLog1, checkLog2])
checkLog['interval1'] = checkLog['internal_trade'] - checkLog['internal_insert']
checkLog['interval2'] = checkLog['market_trade'] - checkLog['market_insert']
checkLog['diff'] = checkLog['interval1'] - checkLog['interval2']

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [10]:
checkLog.head(50)

,ApplSeqNum,ApplSeqNum_order,BidApplSeqNum,OfferApplSeqNum,SecurityID,Side,accCode,colo,count1,count2,date,internal_insert,internal_trade,market_insert,market_trade,order,secid,sequenceNo_order,sequenceNo_trade,updateType,interval1,interval2,diff
0,8468262.0,8468265,8468265.0,NaN,1,1.0,9655.0,zs_96_02,0,0,20200930,1601434639762749,1601434639765727,1601434642603108,1601434642605758,41896,2000001,50674895,50674896,4,2978,2650,328
1,2008810.0,2008817,2008817.0,NaN,11,1.0,5275.0,zs_52_06,0,0,20200930,1601429827766694,1601429827769748,1601429830962514,1601429830965427,11324,2000011,10592096,10592097,4,3054,2913,141
2,2013151.0,2013159,2013159.0,NaN,11,1.0,9758.0,zs_96_06,0,0,20200930,1601429829638366,1601429829640947,1601429832699719,1601429832702281,50915,2000011,10614518,10614521,4,2581,2562,19
3,2013151.0,2013161,2013161.0,NaN,11,1.0,5275.0,zs_52_06,0,0,20200930,1601429829503876,1601429829506836,1601429832699719,1601429832702390,11325,2000011,10614522,10614523,4,2960,2671,289
4,8220840.0,8220849,8220849.0,NaN,11,1.0,9208.0,zs_92_01,0,0,20200930,1601434206407455,1601434206410112,1601434206407456,1601434206410256,37587,2000011,48314653,48314654,4,2657,2800,-143
5,8225882.0,8225895,8225895.0,NaN,11,1.0,5275.0,zs_52_06,0,0,20200930,1601434206355440,1601434206358514,1601434209572101,1601434209574895,11331,2000011,48341887,48341888,4,3074,2794,280
8,8225882.0,8225895,8225895.0,NaN,11,1.0,5275.0,zs_52_06,1,1,20200930,1601434206355440,1601434206358572,1601434209572101,1601434209574896,11331,2000011,48341887,48341889,4,3132,2795,337
9,13363259.0,13363284,13363284.0,NaN,11,1.0,9685.0,zs_96_08,0,0,20200930,1601445048940636,1601445048944356,1601445052010758,1601445052014447,42005,2000011,82689283,82689284,4,3720,3689,31
10,13397536.0,13397554,13397554.0,NaN,11,1.0,9685.0,zs_96_08,0,0,20200930,1601445066934446,1601445066937793,1601445070004570,1601445070007912,42006,2000011,82907265,82907266,4,3347,3342,5
11,13445031.0,13445040,13445040.0,NaN,11,1.0,9685.0,zs_96_08,0,0,20200930,1601445087182685,1601445087185465,1601445090252812,1601445090255471,42007,2000011,83169164,83169165,4,2780,2659,121
12,13445031.0,13445042,13445042.0,NaN,11,1.0,9758.0,zs_96_06,0,0,20200930,1601445087178435,1601445088229970,1601445090252812,1601445091304532,50918,2000011,83169166,83184578,4,1051535,1051720,-185
15,13445031.0,13445042,13445042.0,NaN,11,1.0,9758.0,zs_96_06,1,1,20200930,1601445087178435,1601445091507285,1601445090252812,1601445094581644,50918,2000011,83169166,83219537,4,4328850,4328832,18
16,13455861.0,13455864,13455864.0,NaN,11,1.0,9471.0,zs_94_05,0,0,20200930,1601445096351960,1601445096354642,1601445096806485,1601445096809341,40088,2000011,83237336,83237337,4,2682,2856,-174
17,13455861.0,13455866,13455866.0,NaN,11,1.0,9758.0,zs_96_06,0,0,20200930,1601445093732018,1601445093734972,1601445096806485,1601445096809343,50919,2000011,83237338,83237339,4,2954,2858,96
18,3941761.0,3941772,3941772.0,NaN,14,1.0,5225.0,zs_52_09,0,0,20200930,1601430811848027,1601430811851285,1601430815124712,1601430815128031,1825,2000014,22624881,22624882,4,3258,3319,-61
19,3942018.0,3942025,3942025.0,NaN,14,1.0,5273.0,zs_52_06,0,0,20200930,1601430812114088,1601430812117352,1601430815314724,1601430815317484,8214,2000014,22626457,22626458,4,3264,2760,504
20,7811444.0,7811454,7811454.0,NaN,14,1.0,9454.0,zs_94_05,0,0,20200930,1601434228560192,1601434228562779,1601434229012735,1601434229015429,39318,2000014,48506095,48506096,4,2587,2694,-107
21,7811444.0,7811456,7811456.0,NaN,14,1.0,5226.0,zs_52_09,0,0,20200930,1601434225721045,1601434225723932,1601434229012735,1601434229015431,3726,2000014,48506097,48506098,4,2887,2696,191
22,7828589.0,7828599,7828599.0,NaN,14,1.0,9454.0,zs_94_05,0,0,20200930,1601434245283218,1601434245286700,1601434245735657,1601434245739414,39319,2000014,48610974,48610975,4,3482,3757,-275
23,7828589.0,7828603,7828603.0,NaN,14,1.0,9741.0,zs_96_08,0,0,20200930,1601434242663854,1601434266025780,1601434245735657,1601434269097580,43926,2000014,48610978,48747148,4,23361926,23361923,3
27,7828589.0,7828603,7828603.0,NaN,14,1.0,9741.0,zs_96_08,1,1,20200930,1601434242663854,1601434291294554,1601434245735657,1601434294366510,43926,2000014,48610978,48889981,4,48630700,48630853,-153
31,7828589.0,7828603,7828603.0,NaN,14,1.0,9741.0,zs_96_08,2,2,20200930,1601434242663854,1601434307726026,1601434245735657,1601434310797820,43926,2000014,48610978,48975655,4,65062172,65062163,9
32,8460170.0,8460176,8460176.0,NaN,14,1.0,5225.0,zs_52_09,0,0,20200930,1601435094462144,1601435094465001,1601435097757416,1601435097760337,1826,2000014,53120903,53120904,4,2857,2921,-64
33,12732066.0,12732078,12732078.0,NaN,14,1.0,9756.0,zs_96_06,0,0,20200930,1601445094161158,1601445094164080,1601445097235570,1601445097238477,48500,2000014,83243875,83243876,4,2922,2907,15
34,9065830.0,9065843,9065843.0,NaN,20,1.0,6480.0,zs_64_01,0,0,20200930,1601434230844855,1601434230849017,1601434233748193,1601434233752629,26061,2000020,48536282,48536283,4,4162,4436,-274
35,9069156.0,9069162,9069162.0,NaN,20,1.0,6480.0,zs_64_01,0,0,20200930,1601434233776946,1601434233780713,1601434236680462,1601434236684360,26062,2000020,48554614,48554615,4,3767,3898,-131
36,2099845.0,2099863,2099863.0,NaN,21,1.0,5276.0,zs_52_08,0,0,20200930,1601429826461748,1601429826465616,1601429829514009,1601429829517405,13068,2000021,10559172,10559173,4,3868,3396,472
37,2099845.0,2099869,2099869.0,NaN,21,1.0,9448.0,zs_94_03,0,0,20200930,1601429824526266,1601429825586872,1601429829514009,1601429830574808,38551,2000021,10559184,10586401,4,1060606,1060799,-193
38,2103356.0,2103374,2103374.0,NaN,21,1.0,5276.0,zs_52_08,0,0,20200930,1601429827239575,1601429827242475,1601429830291769,1601429830294399,13069,2000021,10578144,10578145,4,2900,2630,270
43,2103356.0,2103374,2103374.0,NaN,21,1.0,5276.0,zs_52_08,1,1,20200930,1601429827239575,1601429827242596,1601429830291769,1601429830294400,13069,2000021,10578144,10578146,4,3021,2631,390
48,2103356.0,2103374,2103374.0,NaN,21,1.0,5276.0,zs_52_08,2,2,20200930,1601429827239575,1601429827242693,1601429830291769,1601429830294401,13069,2000021,10578144,10578147,4,3118,2632,486
53,2103356.0,2103374,2103374.0,NaN,21,1.0,5276.0,zs_52_08,3,3,20200930,1601429827239575,1601429827242782,1601429830291769,1601429830294402,13069,2000021,10578144,10578148,4,3207,2633,574
54,2111628.0,2111653,2111653.0,NaN,21,1.0,9448.0,zs_94_03,0,0,20200930,1601429827837016,1601429828032863,1601429832825021,1601429833020940,38552,2000021,10617604,10621628,4,195847,195919,-72
57,2111628.0,2111653,2111653.0,NaN,21,1.0,9448.0,zs_94_03,1,1,20200930,1601429827837016,1601429829265446,1601429832825021,1601429834253597,38552,2000021,10617604,10646092,4,1428430,1428576,-146
58,2309157.0,2309175,2309175.0,NaN,21,1.0,5276.0,zs_52_08,0,0,20200930,1601429901016451,1601429901019661,1601429904068889,1601429904072065,13071,2000021,11637021,11637022,4,3210,3176,34
59,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,0,0,20200930,1601429901827235,1601429901830884,1601429904879610,1601429904883094,13072,2000021,11647021,11647022,4,3649,3484,165
66,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,1,1,20200930,1601429901827235,1601429901830966,1601429904879610,1601429904883094,13072,2000021,11647021,11647023,4,3731,3484,247
73,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,2,2,20200930,1601429901827235,1601429901831064,1601429904879610,1601429904883095,13072,2000021,11647021,11647024,4,3829,3485,344
80,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,3,3,20200930,1601429901827235,1601429901831142,1601429904879610,1601429904883096,13072,2000021,11647021,11647025,4,3907,3486,421
87,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,4,4,20200930,1601429901827235,1601429901831231,1601429904879610,1601429904883097,13072,2000021,11647021,11647026,4,3996,3487,509
94,2311099.0,2311128,2311128.0,NaN,21,1.0,5276.0,zs_52_08,5,5,20200930,1601429901827235,1601429901831313,1601429904879610,1601429904883097,13072,2000021,11647021,11647027,4,4078,3487,591
95,2465896.0,2465901,2465901.0,NaN,21,1.0,5276.0,zs_52_08,0,0,20200930,1601429964614457,1601429964617653,1601429967667159,1601429967669833,13073,2000021,12439659,12439660,4,3196,2674,522
99,2465896.0,2465901,2465901.0,NaN,21,1.0,5276.0,zs_52_08,1,1,20200930,1601429964614457,1601429964617740,1601429967667159,1601429967669834,13073,2000021,12439659,12439661,4,3283,2675,608
103,2465896.0,2465901,2465901.0,NaN,21,1.0,5276.0,zs_52_08,2,2,20200930,1601429964614457,1601429964617819,1601429967667159,1601429967669835,13073,2000021,12439659,12439662,4,3362,2676,686
104,3970263.0,3970292,3970292.0,NaN,21,1.0,5229.0,zs_52_08,0,0,20200930,1601430600910166,1601430600913117,1601430603964709,1601430603967328,5269,2000021,20180985,20180986,4,2951,2619,332
105,3970263.0,3970302,3970302.0,NaN,21,1.0,896702.0,zs_88_04,0,0,20200930,1601430604370998,1601430607880056,1601430603964709,1601430607470050,64579,2000021,20181008,20235892,4,3509058,3505341,3717
108,3970263.0,3970302,3970302.0,NaN,21,1.0,896702.0,zs_88_04,1,1,20200930,1601430604370998,1601430607893748,1601430603964709,1601430607481413,64579,2000021,20181008,20236080,4,3522750,3516704,6046
109,3970263.0,3970326,3970326.0,NaN,21,1.0,5386.0,zs_52_08,0,0,20200930,1601430600910166,1601430604432775,1601430603964709,1601430607486305,20607,2000021,20181107,20236175,4,3522609,3521596,1013
113,3970263.0,3970326,3970326.0,NaN,21,1.0,5386.0,zs_52_08,1,1,20200930,1601430600910166,1601430604464831,1601430603964709,1601430607518272,20607,2000021,20181107,20236621,4,3554665,3553563,1102
117,3970263.0,3970326,3970326.0,NaN,21,1.0,5386.0,zs_52_08,2,2,20200930,1601430600910166,1601430604478495,1601430603964709,1601430607531697,20607,2000021,20181107,20236797,4,3568329,3566988,1341

In [21]:
orderlog = pd.read_csv(r'A:\orderLog\equityTradeLogs\speedCompare_20200930.csv')

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
order = pd.read_csv(r'A:\rawData\logs_20200930_zs_92_01_day_data\mdOrderLog_20200930_0832.csv')

In [23]:
trade = pd.read_csv(r'A:\rawData\logs_20200930_zs_92_01_day_data\mdTradeLog_20200930_0832.csv')

In [26]:
orderlog[(orderlog['accCode'] == 5276) & (orderlog['internalId'] == 532)]

,Unnamed: 0,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,internalId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,l4tr
100006,100006,1601429826461803,1601429826461748,2000021,0,2463700,131.0,0,1,8500,0,20.58,-1.00,20200930,5276,100,zs_52_08,NaN,532.0,NaN,93706450.0,0.001593,2099845.0,0.001167,0.001167,0.001593,-0.002027,2463700.0,2057.0,2058.0,0.0
100007,100007,1601429826465506,1601429826465228,2000021,2,2463700,-1.0,0,1,8500,0,20.58,-1.00,20200930,5276,0,zs_52_08,261859.0,532.0,NaN,-1.0,-1.000000,0.0,0.001167,-1.000000,0.001490,-0.002358,2472200.0,2057.0,2059.0,0.0
100008,100008,1601429826465616,1601429826465544,2000021,4,2463700,-1.0,8500,1,8500,8500,20.58,20.58,20200930,5276,0,zs_52_08,NaN,532.0,103000002857721.0,-1.0,-1.000000,0.0,0.001167,-1.000000,0.001561,-0.002024,2472200.0,2058.0,2059.0,0.0

In [28]:
order[(order['ApplSeqNum'] == 2099845) & (order['SecurityID'] == 21)]

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,Side,OrderType,__origTickSeq,Price,OrderQty
4717245,1601429829514009,10559127,2,1,0,93706450,2013,2099845,21,2000021,4,1,2,20579657,205700,1300

In [29]:
order[(order['ApplSeqNum'] == 2099863) & (order['SecurityID'] == 21)]

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,Side,OrderType,__origTickSeq,Price,OrderQty
4717268,1601429829517403,10559172,2,1,0,93706460,2013,2099863,21,2000021,4,1,2,20579723,205800,8500

In [31]:
trade[(trade['BidApplSeqNum'] == 2099863) & (trade['SecurityID'] == 21)]

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,ExecType,TradeBSFlag,__origTickSeq,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
4092037,1601429829517405,10559173,2,1,0,93706460,2013,2099864,21,2000021,4,F,N,20579724,205800,8500,1749300000,2099863,1665261

In [32]:
1601429829517405 - 1601429829514009

3396

In [33]:
1601429826465616 - 1601429826461748

3868

In [ ]:
checkLog['diff'].describe([0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99]).astype(np.int64)

In [77]:
checkLog[checkLog['diff'] == -89187]

,ApplSeqNum,ApplSeqNum_order,BidApplSeqNum,OfferApplSeqNum,SecurityID,Side,accCode,colo,count1,count2,date,internal_insert,internal_trade,market_insert,market_trade,order,secid,sequenceNo_order,sequenceNo_trade,updateType,interval1,interval2,diff
75098,10034020.0,10037301,NaN,10037301.0,2791,2.0,6683,zs_66_01,0,0,20200930,1601442002886844,1601442002890297,1601442005197716,1601442005290356,29645,2002791,61580315,61580316,4,3453,92640,-89187

In [16]:
orderLog[(orderLog['secid'] == 2000011) & (orderLog['ApplSeqNum'] == 8225882) & (orderLog['accCode'] == 5275)]

,Unnamed: 0,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,internalId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,l4tr,clock,broker,colo_broker,order,group,startClock,duration,orderDirection1,directNum,isMsg,status,orderNtl,exchange,tradeNtl,sta,cumFillSize
99375,99694,1601434206355483,1601434206355440,2000011,0,5809000,131.0,0,1,2200,0,17.69,-1.00,20200930,5275,100,zs_52_06,NaN,3783.0,NaN,105006500.0,0.001578,8225882.0,0.001742,0.001742,0.001578,-0.002188,5809000.0,1768.0,1769.0,0.0,2020-09-30 10:50:06.355483,52,zs_52,11331,12512,1601434206355483,0,1,1,1.0,1. full filled,38918.0,SZE,38918.0,statwo,2200
99376,99695,1601434206358289,1601434206355440,2000011,2,5809000,131.0,0,1,2200,0,17.69,-1.00,20200930,5275,0,zs_52_06,836718.0,3783.0,NaN,-1.0,-1.000000,8225882.0,0.001742,-1.000000,-1.000000,-1.000000,5811600.0,1768.0,1769.0,0.0,2020-09-30 10:50:06.358289,52,zs_52,11331,12512,1601434206355483,2806,1,1,1.0,1. full filled,38918.0,SZE,38918.0,statwo,2200
99377,99696,1601434206358514,1601434206355440,2000011,4,5809000,131.0,1500,1,2200,1500,17.69,17.69,20200930,5275,0,zs_52_06,836718.0,3783.0,104000011633104.0,-1.0,-1.000000,8225882.0,0.001742,-1.000000,-1.000000,-1.000000,5811600.0,1768.0,1769.0,0.0,2020-09-30 10:50:06.358514,52,zs_52,11331,12512,1601434206355483,3031,1,1,1.0,1. full filled,38918.0,SZE,38918.0,statwo,2200
99378,99697,1601434206358572,1601434206355440,2000011,4,5809000,131.0,700,1,2200,2200,17.69,17.69,20200930,5275,0,zs_52_06,NaN,3783.0,104000011633106.0,-1.0,-1.000000,8225882.0,0.001742,-1.000000,-1.000000,-1.000000,5811600.0,1768.0,1769.0,0.0,2020-09-30 10:50:06.358572,52,zs_52,11331,12512,1601434206355483,3089,1,1,1.0,1. full filled,38918.0,SZE,38918.0,statwo,2200

In [20]:
1601434206358514 - 1601434206355440

3074

In [19]:
1601434209574895 - 1601434209572101

2794

In [18]:
TradeLog[(TradeLog['BidApplSeqNum'] == 8225895) & (TradeLog['SecurityID'] == 11)]

,clockAtArrival,sequenceNo,TransactTime,SecurityID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,date
11139888,1601434209574895,48341888,105006510,11,8225896,F,176900,1500,265350000,8225895,8176586,20200930
11139889,1601434209574896,48341889,105006510,11,8225897,F,176900,700,123830000,8225895,8176824,20200930

In [13]:
OrderLog[(OrderLog['ApplSeqNum'] == 8225882) & (OrderLog['SecurityID'] == 11)]

,clockAtArrival,sequenceNo,TransactTime,SecurityID,ApplSeqNum,Side,OrderType,Price,OrderQty,date
13465433,1601434209572101,48341855,105006500,11,8225882,1,2,176900,1700,20200930

In [80]:
from IPython.display import display, HTML
checkLog['accCode'] = checkLog['accCode'].astype(int)
HTML(checkLog.groupby(['colo'])['diff'].describe().sort_values(by='mean').astype(int).to_html())