In [1]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import datetime

date_list = ['20200917', '20200918', '20200921', '20200922', '20200923', '20200924', 
             '20200925', '20200928', '20200929', '20200930']
re = []   
for d in date_list:
    startDate = d
    endDate = d

    readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
    dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
    dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
    rawOrderLog = []
    for thisDate, thisPath in zip(dateLs, dataPathLs):
        data = pd.read_csv(thisPath)
        data = data.rename(columns={'mdClockAtArrival': 'caamd'})
        rawOrderLog += [data]
    rawOrderLog = pd.concat(rawOrderLog, sort=False)

    # rawOrderLog = pd.read_pickle(r'A:\temp\speedCheck\zt96_statwo_20200818.pkl')


    for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
                'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
        rawOrderLog[col] = rawOrderLog[col].astype('int64')   
    rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

    rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]

    rawOrderLog['clock'] = rawOrderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    rawOrderLog['broker'] = rawOrderLog['accCode'] // 100
    rawOrderLog["broker"] = np.where(rawOrderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), rawOrderLog['accCode'] // 10000, rawOrderLog["broker"])
    rawOrderLog['colo_broker'] = rawOrderLog['colo'].str[:2] + '_' + rawOrderLog['broker'].astype('str')
    rawOrderLog['order'] = rawOrderLog.groupby(['date', 'accCode', 'secid', 'vai']).grouper.group_info[0]
    rawOrderLog['group'] = rawOrderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
    rawOrderLog['startClock'] = rawOrderLog.groupby(['order'])['clockAtArrival'].transform('first')
    rawOrderLog['duration'] = rawOrderLog['clockAtArrival'] - rawOrderLog['startClock']
    rawOrderLog['orderPrice'] = rawOrderLog['orderPrice'].apply(lambda x: round(x, 2))
    rawOrderLog['tradePrice'] = rawOrderLog['tradePrice'].apply(lambda x: round(x, 2))
    rawOrderLog['orderDirection1'] = np.where(rawOrderLog["orderDirection"] == -2, -1, np.where(
        rawOrderLog["orderDirection"] == 2, 1, rawOrderLog["orderDirection"]))
    orderLog = rawOrderLog.copy()

    ### Assertion 1:  make sure same direction in same date, secid, vai
    print('=======================================================================================')
    print('1. same date, secid, vai: same direction')
    orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
    if len(orderLog[orderLog['directNum'] != 1]) > 0:
        print('opposite direction for same date, same secid, same vai')
        display(orderLog[(orderLog['directNum'] != 1) & (orderLog['updateType'] == 0)][['date', 'accCode', 'secid', 'vai', 'orderDirection', 'order']])
        orderLog = orderLog[orderLog['directNum'] == 1]

    assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

    ## Assertion 2:  make sure each account, secid, vai only has one insertion
    print('=======================================================================================')
    print('2. same date, secid, vai, accCode: one insertion')
    a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'accCode', 'secid', 'vai', 'order'])['clockAtArrival'].count()
    if len(a[a > 1]) > 0:
        print('more than one insertion at same time')
        a = a[a>1].reset_index()
        display(a)
        orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

    orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                                 np.where(orderLog['mse'] == 100, 1, 0), np.nan)
    orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

    placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
    print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


    ### Assertion 3:  check IPO stocks selling status
    print('=======================================================================================')
    print('3. IPO stocks selling (ars = 301, 302)')
    if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
        kk = orderLog[orderLog['ars'].isin([301, 302])]
        print(kk)
        try:
            assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
            print('we only sell, never buy')
        except:
            print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk[kk['orderDirection1'] == 1])
        kk1 = kk[kk['updateType'] == 0]
        kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
        kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
        kk1['diff'] = kk1['diff'].fillna(0)
        try:
            assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
            print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
        except:
            print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk1[kk1['diff'] < 10e6])
        kk2 = kk[(kk['updateType'] == 1)]
        try:
            assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
            print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
        except:
            print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk2[kk2['duration'] < 3e6])


    ### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
    print('=======================================================================================')
    print('4. updateType 7 orders')
    if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
        assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().max() < 20)
        assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().sum() < 100)

    ### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
    print('=======================================================================================')
    print('5. updateType 6 orders')
    k1 = orderLog[orderLog['updateType'] == 6].groupby('accCode')['order'].nunique().reset_index()
    k2 = orderLog.groupby('accCode')['order'].nunique().reset_index()
    k = pd.merge(k1, k2, on='accCode', how='left')
    k['prob'] = k['order_x']/k['order_y']
    try:
        assert(sum(k['prob'] >= 0.05) == 0)
    except:
        print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(k[k['prob'] >= 0.05])

    ### Assertion 6: check CYB orders, make sure CYB stocks total absOrderSize < 30w
    print('=======================================================================================')
    print('6. CYB stocks total order size < 30w')
    try:
        assert(orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)]['absOrderSize'].max() <= 300000)
    except:
        print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')


    ### Assertion 7:  make sure there is no unexpected updateType 
    print('=======================================================================================')
    print('7. unexpected updateType')
    def getTuple(x):
        return tuple(i for i in x)

    checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
    checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
    checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                         np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                                   (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                                   (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                         np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))

    orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
    orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

    ### Assertion 8:  make sure status==0 got all traded
    print('=======================================================================================')
    print('8. status == 0: all traded')
    a = orderLog[orderLog['status'] == 0]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    print('in total trade, any fill != total cases')
    display(a[a['filled'] != a['total']])
    if a[a['filled'] != a['total']].shape[0] > 0:
        removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### Assertion 9:  make sure status==1 got partial traded
    print('=======================================================================================')
    print('9. status == 1: partial traded')
    a = orderLog[orderLog['status'] == 1]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
    display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
    if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
        removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### Assertion 10: make sure no cancellation within 1 sec
    print('=======================================================================================')
    print('10. no cancellation within 1 sec')
    a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
    print('any cancellation within 1 sec')
    display(a)
    if a.shape[0] > 0:
        removeOrderLs = a['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


    ### Assertion 11: make sure no order has shares > 80w or notional > 800w
    print('=======================================================================================')
    print('11. Orders with size > 80w or notional > 800w')
    orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
    if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
        print('some order quantity are > 80w')
        print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
        display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                             'orderNtl', 'orderDirection', 'clock', 'order']])

    if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
        print('some order ntl are > 800w')
        print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
        display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                          'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                          "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

    removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

    orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
    orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
    orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
    orderLog['tradeNtl'] = orderLog.groupby('order')['tradeNtl'].transform('sum')
    orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')
    orderLog['sta'] = np.where(orderLog['ars'].isin([121, 221, 321, 131, 231, 331]), 'statwo', 'staone')
    orderLog['cumFillSize'] = orderLog.groupby(['order'])['absOrderSizeCumFilled'].transform('max')
    orderLog['status'] = np.where(orderLog['cumFillSize'] == 0, '3. no filled', 
                                    np.where(orderLog['cumFillSize'] < orderLog['absOrderSize'], '2. partial filled', '1. full filled'))


    startDate = d
    endDate = d
    readPath = r'L:\orderLog\result\marketPos'
    dataPathLs = np.array(glob.glob(os.path.join(readPath, 'SZspeed_***.pkl')))
    dateLs = np.array([os.path.basename(i).split('.')[0].split('_')[1] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
    checkData = []
    for path in dataPathLs:
        data = pd.read_pickle(path)
        checkData += [data]
    checkLog = pd.concat(checkData).reset_index(drop=True)   
    checkLog['date'].unique()
    
    
    checkLog = checkLog.drop_duplicates(['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
    checkLog = checkLog[~checkLog['accCode'].isnull()]
    targetStockSZ = checkLog['SecurityID'].unique()
    
    startDate = d
    endDate = d

    readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
    dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
    dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
    dateLs = dateLs[(dateLs >= startDate) & (dateLs <= endDate)]
    OrderLog = []
    TradeLog = []
    for date in dateLs:
        readPath = 'A:\\rawData'
        mdOrderLogPath = glob.glob(os.path.join(readPath, 'logs_%s_zs_92_01***'%date, 'mdOrderLog***.csv'))[-1]
        OrderLog1 = pd.read_csv(mdOrderLogPath)
        OrderLog1 = OrderLog1[OrderLog1['SecurityID'].isin(targetStockSZ)]
        OrderLog1['OrderType'] = OrderLog1['OrderType'].astype(str)
        OrderLog1 = OrderLog1[['clockAtArrival', 'sequenceNo', 'TransactTime', 'SecurityID', 'ApplSeqNum', 'Side',
                                 'OrderType', 'Price', 'OrderQty']]
        OrderLog1['date'] = int(date)
        OrderLog += [OrderLog1]
        del OrderLog1


        mdTradeLogPath = glob.glob(os.path.join(readPath, 'logs_%s_zs_92_01***'%date, 'mdTradeLog***.csv'))[-1]
        TradeLog1 = pd.read_csv(mdTradeLogPath, encoding='utf-8')
        TradeLog1['ExecType'] = TradeLog1['ExecType'].astype(str)
        TradeLog1 = TradeLog1[TradeLog1['SecurityID'].isin(targetStockSZ)]
        TradeLog1 = TradeLog1[['clockAtArrival', 'sequenceNo', 'TransactTime', 'SecurityID', 'ApplSeqNum',
                                 'ExecType', 'TradePrice', 'TradeQty', 'TradeMoney', 'BidApplSeqNum', 'OfferApplSeqNum']]
        TradeLog1['date'] = int(date)
        TradeLog1 = TradeLog1[TradeLog1['ExecType'] == '4']
        TradeLog += [TradeLog1]
        del TradeLog1
    OrderLog = pd.concat(OrderLog).reset_index(drop=True)
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    checkLog = checkLog[['date', 'SecurityID', 'sequenceNo', 'colo', 'accCode', 'secid', 'ApplSeqNum', 'Side']]
    checkLog = pd.merge(checkLog, OrderLog[['SecurityID', 'date', 'sequenceNo', 'ApplSeqNum']],
                 on=['date', 'SecurityID', 'sequenceNo'], validate='one_to_one')
    checkLog = checkLog.rename(columns={'ApplSeqNum_y':'ApplSeqNum_order', 'ApplSeqNum_x':'ApplSeqNum'})
    checkLog = pd.merge(checkLog, OrderLog[['SecurityID', 'date', 'ApplSeqNum', 'clockAtArrival']],
                 on=['date', 'SecurityID', 'ApplSeqNum'], validate='many_to_one')
    checkLog = checkLog.rename(columns={'clockAtArrival':'market_insert'})
    del OrderLog
    
    orderLog['ApplSeqNum'] = orderLog.groupby(['order'])['ApplSeqNum'].transform('first')
    orderLog['caamd'] = orderLog.groupby(['order'])['caamd'].transform('first')
    checkLog = pd.merge(checkLog, orderLog[(orderLog['exchange'] == 'SZE')
                                    & (orderLog['ApplSeqNum'] != 0)][['date', 'colo', 'accCode', 'secid', 'ApplSeqNum', 'clockAtArrival', 'caamd', 'updateType', 'order']],
                 on=['date', 'colo', 'accCode', 'secid', 'ApplSeqNum'], validate='one_to_many')
    checkLog = checkLog.rename(columns={'clockAtArrival':'internal_trade', 'caamd':'internal_insert'})
    checkLog = checkLog[checkLog['updateType'] == 3]
    checkLog1 = checkLog[checkLog['Side'] == 1]
    checkLog2 = checkLog[checkLog['Side'] == 2]
    
    checkLog1 = pd.merge(checkLog1, TradeLog[['SecurityID', 'date', 'clockAtArrival', 'BidApplSeqNum', 'sequenceNo']],
             left_on=['date', 'SecurityID', 'ApplSeqNum_order'], right_on=['date', 'SecurityID', 'BidApplSeqNum'], validate='many_to_many')
    checkLog1 = checkLog1.rename(columns={'clockAtArrival':"market_trade", 'sequenceNo_x':'sequenceNo_order','sequenceNo_y':'sequenceNo_trade'})
    checkLog1 = checkLog1.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'internal_trade'])
    checkLog1['count1'] = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order', 'internal_trade']).cumcount()
    checkLog1 = checkLog1.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade'])
    checkLog1['count2'] = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade']).cumcount()
    c1 = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order'])['count1'].max().reset_index()
    c2 = checkLog1.groupby(['date', 'secid', 'ApplSeqNum_order'])['count2'].max().reset_index()
    cc = pd.merge(c1, c2, on=['date', 'secid', 'ApplSeqNum_order'])
    assert(cc[cc['count1'] != cc['count2']].shape[0] == 0)
    checkLog1 = checkLog1[checkLog1['count1'] == checkLog1['count2']]
    
    checkLog2 = pd.merge(checkLog2, TradeLog[['SecurityID', 'date', 'clockAtArrival', 'OfferApplSeqNum', 'sequenceNo']],
             left_on=['date', 'SecurityID', 'ApplSeqNum_order'], right_on=['date', 'SecurityID', 'OfferApplSeqNum'], validate='many_to_many')
    del TradeLog
    checkLog2 = checkLog2.rename(columns={'clockAtArrival':"market_trade", 'sequenceNo_x':'sequenceNo_order','sequenceNo_y':'sequenceNo_trade'})
    checkLog2 = checkLog2.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'internal_trade'])
    checkLog2['count1'] = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order', 'internal_trade']).cumcount()
    checkLog2 = checkLog2.sort_values(by=['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade'])
    checkLog2['count2'] = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order', 'sequenceNo_trade']).cumcount()
    c1 = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order'])['count1'].max().reset_index()
    c2 = checkLog2.groupby(['date', 'secid', 'ApplSeqNum_order'])['count2'].max().reset_index()
    cc = pd.merge(c1, c2, on=['date', 'secid', 'ApplSeqNum_order'])
    assert(cc[cc['count1'] != cc['count2']].shape[0] == 0)
    checkLog2 = checkLog2[checkLog2['count1'] == checkLog2['count2']]
    
    checkLog = pd.concat([checkLog1, checkLog2])
    checkLog['interval1'] = checkLog['internal_trade'] - checkLog['internal_insert']
    checkLog['interval2'] = checkLog['market_trade'] - checkLog['market_insert']
    checkLog['diff'] = checkLog['interval1'] - checkLog['interval2']
    
    re += [checkLog]
    print(d)
re = pd.concat(re).reset_index(drop=True)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
70141   20200917     9741  1603090   417200               1  51208
70145   20200917     9741  1603090   417200              -1  51208
70148   20200917   975602  1603090   417200               1  79100
70152   20200917   975602  1603090   417200              -1  79100
103449  20200917     9248  1603757  1898460              -1  44836
103453  20200917   527701  1603757  1898460               1  70108
103456  20200917   529101  1603757  1898460               1  75479
146425  20200917     6683  2002022  5480190               1  33377
146429  20200917     9685  2002022  5480190              -1  49723

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200917     5273  2002536     4000   6189               2
1   20200917     6683  2002791   858006  34112               2
2   20200917     6683  2300785   645598  35260               2
3   20200917     8854  2300776   370012  37465               2
4   20200917     9551  1603039   519005  48753               2
5   20200917     9741  1603016   340200  51081               2
6   20200917     9741  1603139   329900  51275               3
7   20200917     9741  1603860   401500  51811               2
8   20200917     9741  2002896  1105700  52746               2
9   20200917     9741  2300374   698520  53170               2
10  20200917     9741  2300530   539668  53487               2
11  20200917     9741  2300767  1291100  54010               2
12  20200917     9756  2002633  1003250  57662               2
13  20200917     9756  2300530   539668  59308               2
14  20200917     9756  2300690  1561971  59905               2
15  20200917     9756  2300757   317290  60149               2
16  20200917     9756  2300769  1625725  60187               2
17  20200917   975602  1603016   340200  78934               2
18  20200917   975602  1603016   343400  78935               2
19  20200917   975602  1603139   329900  79198               3
20  20200917   975602  1603860   401500  79993               2
21  20200917   975602  1603926   794200  80106               2

99.59% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
191      269     400   1100
3328    4408     100    400
8521   11204   21700  25600
16598  20928     400    600
17974  22650     600   1300
25790  34192     300   1300
25993  34475    2080   8200
27548  36818     200    500
29908  40252    1500   3400
31253  42055     600  10000
35863  47761     880   4300
36442  48373    1100   1200
36745  48763     100   1200
37023  49203     200    400
37250  49496    9200  13800
38300  50720     100    300
39356  52427    1000   1400
39540  52737     100    300
45308  61296   42000  52100
46014  62361   17300  20700
46765  63359     600   2800
51767  70319    4200   6800
53299  72597    3100   3400
54747  74746    6000   6800
57526  78789     500   1300

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200917

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
71063   20200918     8854  1603222  1126105              -1  27872
71067   20200918     8943  1603222  1126105               1  30254
230613  20200918     5474  2300470  1431580              -1  19891
230616  20200918     6480  2300470  1431580              -1  22826
230621  20200918     9756  2300470  1431580               1  45906

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

         date  accCode    secid       vai  order  clockAtArrival
0    20200918     5226  2002968    331550   3721               2
1    20200918     6683  2300659    783140  26748               2
2    20200918     8854  2002309  13759576  28246               2
3    20200918     8854  2002309  13865676  28247               2
4    20200918     8854  2300533    798800  28514               2
..        ...      ...      ...       ...    ...             ...
291  20200918   975602  1603196  10073400  63245               2
292  20200918   975602  1603196  11352900  63249               2
293  20200918   975602  1603297    669645  63359               2
294  20200918   975602  1603580    454416  63548               2
295  20200918   975602  1603716   2160200  63710               2

[296 rows x 6 columns]

99.70% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
2399    3328     600   3200
3608    5062     500   1600
4327    6076     900   2200
7544   10371   77200  81500
10639  14172   20400  35300
11243  14848    1800   3200
13005  17035     200   8500
13415  17622     100   4100
13657  17965    2100   3700
19389  25924    2200   4400
20706  27920     100    400
21002  28301     100    900
21215  28561     246    600
22667  30670    9200  27300
25433  34293     652    900
27135  36114    2100   2300
29152  38550    3500   5500
31693  42404   11000  37500
31884  42680    2400  51900
32065  42945    1900   5500
33486  44914     200    600
35986  48630     700   1700
36916  49906    1000  11200
37176  50295      20    100
38191  51769     800   1500
38297  51905   13560  24900
38597  52246   24100  27500
42129  57277    3100  14500
44584  61012     100    400
45567  62306   11760  16300
45914  63079     500   5200

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200918

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid       vai  orderDirection  order
39252   20200921     8854  1601001  18229865              -1  28529
39255   20200921   528401  1601001  18229865               1  55862
99241   20200921     8854  2000582   5091740               1  28649
99245   20200921     9243  2000582   5091740              -1  34338
202199  20200921     5474  2300277   5728600              -1  19979
202202  20200921     9756  2300277   5728600               1  46047

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

       date  accCode    secid      vai  order  clockAtArrival
0  20200921     6683  2300523   857588  27278               2
1  20200921     9551  1603039   186600  38467               2
2  20200921     9551  1603579  1203276  38720               2
3  20200921     9741  2002865  2177900  41750               2
4  20200921     9741  2300583   304200  42532               2
5  20200921     9741  2300811   362179  43006               3
6  20200921   975602  1603045  2228080  62598               2

99.81% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   accCode  order_x  order_y      prob
3     9551       75     1004  0.074701
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
3211    4584     400    900
3636    5224     100   1000
16827  22432     100    122
20716  28044    1800   2000
21388  28946    1400   1800
21481  29047     100   2100
21485  29051    1500   1800
21937  29762     698   3500
28813  38499     400    700
30695  41141     100    200
30867  41391     400   1000
31269  42065     200    800
33357  45165    1000   1700
34215  46437    1200   1400
34598  47089     100    800
34921  47611     350   1000
35846  48854   49300  51000
36498  49836     900   2500
36541  49897   17000  33600
37154  50752     904   5900
41786  57106     600   9500
45484  62498    1000   1800
45565  62630     300    800
45773  63025     200    700
45845  63147    1500   2400
45952  63325    1400   2500

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200921

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

       date  accCode    secid      vai  order  clockAtArrival
0  20200922     9741  1600593   845000  43134               2
1  20200922     9741  1603192   294700  43456               2
2  20200922     9741  1603657   870800  43740               2
3  20200922     9741  1603922  2350100  44011               2
4  20200922     9741  2000096  1623000  44105               3
5  20200922     9756  2002395   127300  48919               2
6  20200922     9756  2002896  1303800  49565               2
7  20200922     9756  2300192  2232100  49853               2
8  20200922   975602  1600593   845000  67054               2
9  20200922   975602  1603922  2350100  68145               2

99.69% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
5475    7499    7000   8700
8171   11010    1600   4500
8688   11686    1100   6200
10974  14490    4700   7800
17896  23577   10000  13700
17985  23717    2700   8300
19122  25967    7100   8500
21958  29705     300    400
22364  30290    1700   1800
22391  30319     900   1600
22475  30420     100    300
23728  32289     100    200
25409  34622     200    400
26139  35643     200   4500
27337  37235   16500  25500
30001  40266    1000   2000
32344  43364    4600   4700
33007  44544     200    400
33609  45571    1100   1300
33825  45986     500    600
34891  47612    1300   9000
35283  48167    1900   6200
40502  55808   38336  78600
41263  56833     600   1300
44176  61136     500    800
45215  62694     200    400
46404  64675     100    300
48084  66952    7800   9800

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200922

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
267021  20200923     6623  2300685  1896242               1  26641
267024  20200923     6627  2300685  1896242               1  27850
267027  20200923     6683  2300685  1896242               1  29789
267031  20200923     8854  2300685  1896242              -1  30906

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200923     8854  1603489   414350  30361               3
1   20200923     9741  1603926   746930  45172               2
2   20200923     9741  1603991   415600  45222               2
3   20200923     9741  2002757  2452376  45725               2
4   20200923     9741  2300530   325650  46709               2
5   20200923     9741  2300592   982400  46925               2
6   20200923     9741  2300620   653930  46980               2
7   20200923     9741  2300749   762200  47285               2
8   20200923     9756  2300565   918619  51410               2
9   20200923     9756  2300769   626615  52083               2
10  20200923   975602  1603661   284300  69325               2
11  20200923   975602  1603926   746930  69621               2
12  20200923   975602  1603991   415600  69707               2

99.57% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
3883    5378    3000   3500
4311    5967     590    800
7274    9925    1700   3300
14452  18599     100    300
16089  20890     500   1500
18370  24459     200    229
18557  24910     300    600
18883  25480    6200   6700
21628  28982     100   2800
21736  29165     100    400
23585  31808     600   4300
23770  32091   15500  15800
25818  34992    1500   2900
26277  35576     483    900
33449  44488     200    900
33870  45261    2700   2800
34159  45696     100    400
35305  47706    1539  10300
37432  50839     500   2400
37688  51249     300    700
38656  52807    1500  15200
39360  53721     900  10300
39555  54062    1700   2700
44682  61070     800   1300
46147  63165    1400   5000
48384  66527     100    300
49837  68396     400   1100
50423  69344     100    400

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200923

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
13347   20200924     9741  1600262   564300              -1  54300
13351   20200924     9741  1600262   564300               1  54300
13355   20200924   975602  1600262   564300              -1  85425
13359   20200924   975602  1600262   564300               1  85425
96609   20200924     9441  1603486  1181230               1  47985
96613   20200924   522401  1603486  1181230               1  66473
96617   20200924   522601  1603486  1181230               1  68214
96620   20200924   528901  1603486  1181230               1  78373
96624   20200924   966301  1603486  1181230              -1  84373
182924  20200924     8854  2002320  5284742               1  38402
182927  20200924     8865  2002320  5284742              -1  39097

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200924     5225  2300543    44900   3414               2
1   20200924     6282  1603338  1101606  30266               2
2   20200924     6683  2002880   801032  36515               3
3   20200924     6683  2002913   258615  36576               2
4   20200924     6683  2300394   850245  37187               2
5   20200924     8854  1603489   515727  38134               2
6   20200924     8854  2300520  4742358  38700               2
7   20200924     8854  2300523  1729848  38718               2
8   20200924     8854  2300768  1204319  38774               2
9   20200924     9551  1603345   408563  51951               2
10  20200924     9551  1603345   412163  51953               2
11  20200924     9741  1603131  1163807  54734               2
12  20200924     9741  1603203   586963  54829               2
13  20200924     9741  1603388  2117060  54947               2
14  20200924     9741  1603507   456900  54986               2
15  20200924     9741  1603860   197200  55236               2
16  20200924     9741  2002715   602610  55956               2
17  20200924     9741  2002729   787200  56001               2
18  20200924     9741  2002857  1387800  56266               2
19  20200924     9741  2002857  1390200  56267               2
20  20200924     9741  2002968   193300  56459               2
21  20200924     9741  2300492   145800  56877               2
22  20200924     9741  2300757   435390  57520               2
23  20200924     9741  2300757   436190  57521               3
24  20200924     9756  2002729   787200  61124               3
25  20200924     9756  2002968   193300  61746               2
26  20200924     9756  2300492   216500  62751               2
27  20200924     9756  2300626  5186900  63381               2
28  20200924     9756  2300757   435390  64008               2
29  20200924     9756  2300757   436190  64009               2
30  20200924     9758  2300366    46000  64546               2
31  20200924   975602  1603388  2117060  86416               2
32  20200924   975602  1603507   456900  86458               2

99.69% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   accCode  order_x  order_y      prob
1     9551      230     1234  0.186386
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
3397    4497      60    900
13901  17816    1700   2500
19380  24448     600   2200
19619  24783     100   1000
20293  25807    1700   6600
23301  29929     100    199
23922  31630     700    900
25645  33977    1500   2600
27161  35838    1600  12400
28729  38033     800   2100
28928  38289     600   1700
28972  38342     300   1000
30260  40261     100    300
30826  41051     800   2200
33935  45709    1100   7900
38657  51402     200   2400
38690  51475     300   1700
38885  51812     500   1300
39819  53215    3000   3700
40911  54602     100    400
42275  57013     200    900
42540  57499     100    900
45745  62294    2700   3400
46421  63366     200   1100
50093  68592     300   3900
51692  70763    2300  18000
53206  72669     220    400
53217  72686     400    700
56156  77138    5700   6000
56883  78144     100   1700
58343  80197    1800   4000
61125  84351    2100   2400
61512  84844     600  13400
62175  85774     100   1100
62592  86491     200    300
62842  86913     152   2000
62863  86945     400    900

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200924

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
95151   20200925     9741  1603655  3241444              -1  53144
95154   20200925   522501  1603655  3241444               1  65503
95157   20200925   527601  1603655  3241444               1  71208
95160   20200925   527701  1603655  3241444               1  72402
95163   20200925   528101  1603655  3241444               1  73160
95166   20200925   529001  1603655  3241444               1  76775
95169   20200925   529101  1603655  3241444               1  77744
95172   20200925   975602  1603655  3241444              -1  82873
165567  20200925     5290  2002208  1097300              -1  21075
165570  20200925     5474  2002208  1097300               1  26038
212569  20200925     6623  2002791  2157330               1  31744
212572  20200925     6627  2002791  2157330               1  33306
212577  20200925     6683  2002791  2157330               1  35398
212581  20200925     8854  2002791  2157330              -1  37265
324596  20200925     5290  2300738   694919               1  23059
324599  20200925     5474  2300738   694919              -1  27366
324602  20200925     9756  2300738   694919               1  62336
329015  20200925     6683  2300766  1542201              -1  36484
329019  20200925     8854  2300766  1542201               1  37567

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200925     6683  2002712  1607100  35305               2
1   20200925     6683  2002712  2658160  35308               2
2   20200925     6683  2002880   723058  35505               2
3   20200925     6683  2300741  1222561  36454               2
4   20200925     9551  1603039   439053  49848               2
5   20200925     9551  1603489   519654  50157               3
6   20200925     9551  1603613  1103196  50294               2
7   20200925     9551  1603992  1052310  50549               2
8   20200925     9741  1603192   445733  52850               2
9   20200925     9741  1603322   517500  52986               2
10  20200925     9741  1603859   499800  53344               2
11  20200925     9741  1603991   296200  53456               2
12  20200925     9741  2002395   594669  53892               2
13  20200925     9741  2002395   595269  53893               2
14  20200925     9741  2002801  2085950  54242               2
15  20200925     9741  2002801  2086050  54243               2
16  20200925     9741  2002862   405050  54400               2
17  20200925     9741  2300483   324800  55243               2
18  20200925     9741  2300546   493350  55485               2
19  20200925     9741  2300553   182900  55527               2
20  20200925     9741  2300557   723881  55554               2
21  20200925     9741  2300583   713100  55637               2
22  20200925     9741  2300703  2981785  56028               2
23  20200925     9741  2300791   458221  56225               2
24  20200925     9756  2002395   595269  59700               2
25  20200925     9756  2002729   776600  59987               2
26  20200925     9756  2002801  2086050  60140               2
27  20200925     9756  2002862   405050  60332               2
28  20200925     9756  2300174   171900  60732               2
29  20200925     9756  2300546   493350  61580               2
30  20200925     9756  2300583   713100  61777               2
31  20200925     9756  2300791   458221  62567               2
32  20200925   975602  1603192   445733  82401               2
33  20200925   975602  1603297   462866  82550               2
34  20200925   975602  1603322   517500  82596               2
35  20200925   975602  1603722  1671500  82974               2
36  20200925   975602  1603991   296200  83388               2

99.54% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
7466   10620     100    900
8813   12543     300   3300
10730  15066     100   1100
14755  20204    1100   1700
20620  28292     100   4100
26175  36844     200   1600
26558  37329     300   6700
29201  41678    2250   2600
30818  43971     587   1100
35838  50279     400   3400
36467  51123   22200  28800
37454  52331     100    200
38353  53971    7600   8200
45418  65434     400    500
46499  67119   26100  86600
48606  70114    8800  17100
52138  75472      86   4700
52379  75871   15200  17100
54361  78948    9800  12500
56982  82894     100    400
57080  83068     300    600

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200925

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
143614  20200928     5291  2002250  5461738              -1  19813
143619  20200928     6678  2002250  5461738              -1  29638
143622  20200928   896702  2002250  5461738              -1  68157
143626  20200928   966301  2002250  5461738               1  69454

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200928     5225  2002674    11500   1846               2
1   20200928     5273  2002674    11500   8464               2
2   20200928     6683  2002907   265800  30724               2
3   20200928     6683  2002933   209000  30774               2
4   20200928     6683  2300659   834484  31420               2
5   20200928     8854  1600990   747201  31847               2
6   20200928     9551  1603236   343054  42678               2
7   20200928     9551  1603610   673545  42971               2
8   20200928     9741  1603297   424393  45300               4
9   20200928     9741  1603580   340085  45442               2
10  20200928     9741  1603679   453940  45495               2
11  20200928     9741  1603991   324500  45747               2
12  20200928     9741  2002395   363100  46071               2
13  20200928     9741  2002718   488600  46204               2
14  20200928     9741  2300356  8516400  46844               2
15  20200928     9756  2002623   790700  50622               2
16  20200928     9756  2002715   284201  50707               2
17  20200928     9756  2300356  8516400  51722               2
18  20200928     9756  2300619   311016  52565               2
19  20200928     9756  2300756   206272  53058               2
20  20200928     9756  2300769   125300  53104               2
21  20200928   975602  1603029   369400  70539               2
22  20200928   975602  1603165   945620  70691               2
23  20200928   975602  1603297   424393  70830               3
24  20200928   975602  1603679   453940  71100               2
25  20200928   975602  1603991   324500  71391               2

99.50% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
2504    3596     100    600
5880    8429     600    800
8767   12318    9400   9800
10765  14617     900   6500
12384  16682    2300   3700
13078  17493     400    800
13558  18099     500    600
17061  23065     300   4300
18434  24840    1600   1800
18500  24981     300    400
21884  30385    2500   3400
21962  30482    1200   2500
22224  30880   11900  12700
23048  32104     200    300
23155  32235     400    900
23361  32478     100    800
23369  32487     900   1100
23371  32491     100    300
24736  34725    1018   3000
27883  39180     300   1200
30672  42435    1000   1100
30724  42506     100    400
31115  43112     100   2200
31187  43235    2700   2900
32754  45105     100    200
32934  45445     300    600
33026  45592     400   1200
33151  45820     100    300
33559  46480     100    300
33672  46676     400    700
34194  47672     900   1000
36476  51000     400    500
36546  51131     200    500
36637  51301     100    600
37531  52839     200   1100
38789  54616     200   1200
39001  54964     400    500
39703  56045     100    300
40338  57065     100    500
40767  57684     200    800
43230  61014    5500   6800
45752  64900     200    500
49479  70392    1300   2200
50009  71359     300    700

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200928

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
31585   20200929     8854  1600897  2356224               1  27758
31588   20200929     9551  1600897  2356224              -1  37285
165698  20200929     8854  2002933  1729059               1  28233
165701  20200929     9685  2002933  1729059              -1  38490

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai  order  clockAtArrival
0   20200929     8854  1603222   953100  27882               2
1   20200929     8854  2300762  2042771  28420               2
2   20200929     8854  2300799   401810  28433               2
3   20200929     9741  1603683  1362800  39697               2
4   20200929     9741  1603922   489800  39902               2
5   20200929     9741  2300550   616700  41448               2
6   20200929     9741  2300609   437100  41580               2
7   20200929     9741  2300609   744200  41592               2
8   20200929     9741  2300609   749400  41595               2
9   20200929     9741  2300727   531900  41902               2
10  20200929     9741  2300763   691520  42003               2
11  20200929   966301  1603659  2068856  59912               2

99.62% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
5634    8010    3500   4600
8441   11746     800   2400
14294  19732     400   3600
16521  22966     220    300
16530  23014     600    800
17109  24297    4700   6300
18644  26314     500   6300
20070  28016     100    900
20173  28142     100    200
21028  29446     200   1000
21641  30415    5000   6600
22770  32067   10600  12700
23531  33187    1300   3900
23719  33440    1200   1300
26867  37171     200    600
26931  37257    1900   2000
28736  39648    4700   4900
28792  39753     300   1300
29190  40372    1000   1300
30635  42837   21000  22400
32897  46359     100    200
33181  46716    1800   2200
34733  48964     187    400
35398  50054     387    400
36787  52029   12800  13300
40994  57972   10000  13200
43387  61717     500   1100

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

20200929

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid      vai  orderDirection  order
162734  20200930     5275  2002677  1616000              -1  11877
162738  20200930     5287  2002677  1616000              -1  15386
162742  20200930     6623  2002677  1616000              -1  27225
162746  20200930     6627  2002677  1616000              -1  28313
162750  20200930     8854  2002677  1616000               1  30913
162753  20200930     8865  2002677  1616000              -1  31490
162757  20200930     9471  2002677  1616000              -1  40326

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

       date  accCode    secid      vai  order  clockAtArrival
0  20200930     5225  2300705    30400   3517               2
1  20200930     9741  1603297   253000  43476               2
2  20200930     9741  1603726   610540  43720               2
3  20200930     9741  1603811   449140  43767               2
4  20200930     9741  2002735  1029020  44468               2
5  20200930     9741  2002802   340600  44571               2
6  20200930     9741  2300492   151700  45371               2
7  20200930     9741  2300522  1074820  45457               2
8  20200930     9741  2300681   468700  45882               2

99.61% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   accCode  order_x  order_y      prob
2     9551      118      916  0.128821
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

       order  filled  total
359      562     300    600
509      851     500    700
1090    1918     900   2700
2494    3902    1800   3400
2506    3917    6900  10000
5621    8365    1200   2200
6751   10016     300    600
6777   10062    2770  21400
8969   13324    1543   3000
9522   14067     500   1300
12497  17993   19900  21700
13667  19797    2443   3000
19110  28373    2700   2900
21049  30846     500   1900
21305  31145     100    600
21357  31209    1000   1300
23625  34723     500   7500
23929  35122     100    900
30115  43098     300    400
30733  44235    5600   9200
30736  44239    2000   2200
30806  44348     100    500
30834  44383    2400   5500
31066  44779     100    400
31134  44909     100   1000
31216  45031    5400   7100
31575  45672     300   1100
31584  45689    1000   1300
31827  46146     600   1100
31922  46332    1800   7500
38216  56108    4600   6700
39384  57791     500    800
39484  57912   19050  49000
39819  58340   19500  23300
41578  61102     500    700
43442  63921   20000  22000

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

[0 rows x 42 columns]

=======================================================================================
11. Orders with size > 80w or notional > 800w

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20200930

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:322: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [2]:
re['diff'].describe([0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99]).astype(np.int64)

count         59409
mean         -44908
std        12454598
min     -3017972141
1%            -2158
5%             -461
10%            -214
20%             -90
30%             -21
40%              36
50%              92
60%             152
70%             236
80%             663
90%            3662
95%           25222
99%           54743
max        40100252
Name: diff, dtype: int64

In [3]:
from IPython.display import display, HTML
re['accCode'] = re['accCode'].astype(int)
HTML(re.groupby(['colo'])['diff'].describe().sort_values(by='mean').astype(int).to_html())