In [18]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 300)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

startDate = '20201201'
endDate = '20201202'

readPath = r'\\192.168.10.28\equityTradeLogs'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

rawOrderLog = []
for thisPath in dataPathLs:
    data = pd.read_csv(thisPath)
    data = data.rename(columns={'mdClockAtArrival': 'caamd'})
    rawOrderLog += [data]
rawOrderLog = pd.concat(rawOrderLog, sort=False)

for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
            'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
    rawOrderLog[col] = rawOrderLog[col].fillna(0).astype('int64')   
rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]

if rawOrderLog[rawOrderLog.duplicated(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep=False)].shape[0] != 0:
    display('There are accounts with duplicated ticks:')
    display(rawOrderLog[rawOrderLog.duplicated(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep=False)]\
.groupby(['date', 'colo', 'accCode'])['ars'].size())
    rawOrderLog = rawOrderLog.drop_duplicates(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep='first')

display('There are ticks with orderDirection 0')
display(rawOrderLog[rawOrderLog['orderDirection'] == 0][['date', 'colo', 'accCode', \
            'secid', 'vai', 'updateType', 'sdd', 'orderDirection', 'absOrderSize', 'internalId', 'orderId']])

assert(rawOrderLog[rawOrderLog['updateType'] == 0][rawOrderLog[rawOrderLog['updateType'] == 0]\
                                                   .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                'vai', 'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
try:
    assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
except:
    print('There are orders with all things same except sdd')
    print(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId'], keep=False)])
    assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId', 'sdd'], keep=False)].shape[0] == 0)
try:
    assert(sum(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() != 1) == 0) 
except:
    print('There are orders with same internalId but different orderId other than accCode 8856 case')
    print(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique()[rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() > 1])

r2 = rawOrderLog[(rawOrderLog['accCode'] != 8856) & (rawOrderLog['orderDirection'] != 0)]
r1 = rawOrderLog[(rawOrderLog['accCode'] == 8856) & (rawOrderLog['orderDirection'] != 0)]
r1['test'] = r1.groupby(['date', 'colo', 'accCode', 'secid', 
            'orderDirection', 'absOrderSize']).grouper.group_info[0]
r1 = r1.sort_values(by=['test', 'clockAtArrival'])
r1.loc[r1['updateType'] != 0, 'vai'] = np.nan
r1['vai'] = r1.groupby('test')['vai'].ffill()
r2['test'] = r2.groupby(['date', 'colo', 'accCode', 'secid', 
            'orderDirection', 'absOrderSize', 'internalId']).grouper.group_info[0]
r2 = r2.sort_values(by=['test', 'clockAtArrival'])
r2.loc[r2['updateType'] != 0, 'vai'] = np.nan
r2['vai'] = r2.groupby('test')['vai'].ffill()
assert(sum(r1[r1['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
try:
    assert(sum(r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
except:
    a = r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique()[r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1].reset_index()
    print(pd.merge(r2, a[['test', 'vai']], on=['test', 'vai'], how='inner')[['secid', 'accCode', 'colo', 'vai', 'updateType', 'sdd', 'internalId', 'orderId', 'absOrderSize', 'absFilledThisUpdate', 'absOrderSizeCumFilled', 'orderPrice', 'tradePrice']])
orderLog = pd.concat([r1, r2])
del r1
del r2    

orderLog['clock'] = orderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
orderLog['broker'] = orderLog['accCode'] // 100
orderLog["broker"] = np.where(orderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), orderLog['accCode'] // 10000, orderLog["broker"])
orderLog['colo_broker'] = orderLog['colo'].str[:2] + '_' + orderLog['broker'].astype('str')
orderLog['order'] = orderLog.groupby(['date', 'colo', 'accCode', 'secid', 'vai', 'internalId']).grouper.group_info[0]
orderLog['group'] = orderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
orderLog['startClock'] = orderLog.groupby(['order'])['clockAtArrival'].transform('first')
orderLog['duration'] = orderLog['clockAtArrival'] - orderLog['startClock']
orderLog['orderPrice'] = orderLog['orderPrice'].apply(lambda x: round(x, 2))
orderLog['tradePrice'] = orderLog['tradePrice'].apply(lambda x: round(x, 2))
orderLog['orderDirection1'] = np.where(orderLog["orderDirection"] == -2, -1, np.where(
    orderLog["orderDirection"] == 2, 1, orderLog["orderDirection"]))
orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')


### Assertion 1:  make sure same direction in same date, secid, vai
print('=======================================================================================')
print('1. same date, secid, vai: same direction')
orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
if len(orderLog[orderLog['directNum'] != 1]) > 0:
    print('opposite direction for same date, same secid, same vai')
    display(orderLog[(orderLog['directNum'] != 1) & (orderLog['updateType'] == 0)].groupby(['accCode'])['orderDirection'].size())
    orderLog = orderLog[orderLog['directNum'] == 1]

assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

## Assertion 2:  make sure each account, secid, vai only has one insertion
print('=======================================================================================')
print('2. same date, secid, vai, accCode: one insertion')
a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'colo', 'accCode', 'secid', 'vai'])['clockAtArrival'].count()
if len(a[a > 1]) > 0:
    print('more than one insertion at same time')
    a = a[a>1].reset_index()
    display(a)
    display(a.groupby(['accCode'])['date'].size())
    a = pd.merge(a, orderLog[orderLog['updateType'] == 0][['date', 'colo', 'accCode', 'secid', 'vai', 'order']], on=['date', 'colo', 'accCode', 'secid', 'vai'], how='left')
    orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                             np.where(orderLog['mse'] == 100, 1, 0), np.nan)
orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


### Assertion 3:  check IPO stocks selling status
print('=======================================================================================')
print('3. IPO stocks selling (ars = 301, 302)')
if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
    kk = orderLog[orderLog['ars'].isin([301, 302])]
    print(kk)
    try:
        assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
        print('we only sell, never buy')
    except:
        print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk[kk['orderDirection1'] == 1])
    kk1 = kk[kk['updateType'] == 0]
    kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
    kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
    kk1['diff'] = kk1['diff'].fillna(0)
    try:
        assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
        print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
    except:
        print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk1[kk1['diff'] < 10e6])
    kk2 = kk[(kk['updateType'] == 1)]
    try:
        assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
        print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
    except:
        print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk2[kk2['duration'] < 3e6])


### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
print('=======================================================================================')
print('4. updateType 7 orders')
if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
    assert(orderLog[orderLog['updateType'] == 7].groupby(['date', 'accCode'])['order'].nunique().max() < 20)
    assert(orderLog[orderLog['updateType'] == 7].groupby(['date', 'accCode'])['order'].nunique().sum() < 100)

### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
print('=======================================================================================')
print('5. updateType 6 orders')
k1 = orderLog[orderLog['updateType'] == 6].groupby(['date', 'accCode'])['order'].nunique().reset_index()
k2 = orderLog.groupby(['date', 'accCode'])['order'].nunique().reset_index()
k = pd.merge(k1, k2, on=['date', 'accCode'], how='left')
k['prob'] = k['order_x']/k['order_y']
try:
    assert(sum(k['prob'] >= 0.05) == 0)
except:
    print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    print(k[k['prob'] >= 0.05])

### Assertion 6: check CYB orders, make sure all CYB stocks have absOrderSize < 30w
print('=======================================================================================')
print('6. CYB stocks order size < 30w')
try:
    cyb = orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)].groupby('date')['absOrderSize'].max().reset_index()
    assert(cyb[cyb['absOrderSize'] > 300000].shape[0] == 0)
except:
    print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    
     
### Assertion 7:  make sure there is no unexpected updateType 
print('=======================================================================================')
print('7. unexpected updateType')
def getTuple(x):
    return tuple(i for i in x)

checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                     np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                               (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                               (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                     np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))

orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

### Assertion 8:  make sure status==0 got all traded
print('=======================================================================================')
print('8. status == 0: all traded')
a = orderLog[orderLog['status'] == 0]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in total trade, any fill != total cases')
display(a[a['filled'] != a['total']])
if a[a['filled'] != a['total']].shape[0] > 0:
    removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 9:  make sure status==1 got partial traded
print('=======================================================================================')
print('9. status == 1: partial traded')
a = orderLog[orderLog['status'] == 1]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
    removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 10: make sure no cancellation within 1 sec
print('=======================================================================================')
print('10. no cancellation within 1 sec')
a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
print('any cancellation within 1 sec')
display(a)
if a.shape[0] > 0:
    removeOrderLs = a['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


### Assertion 11: make sure no order has shares > 80w or notional > 800w
print('=======================================================================================')
print('11. Orders with size > 80w or notional > 800w')
orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
    print('some order quantity are > 80w')
    print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                         'orderNtl', 'orderDirection', 'clock', 'order']])
            
if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
    print('some order ntl are > 800w')
    print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                      'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                      "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

orderLog["mrsb90"] = orderLog.groupby(['order'])['mrsb90'].transform('first')
orderLog["mrss90"] = orderLog.groupby(['order'])['mrss90'].transform('first')
orderLog["aaa"] = orderLog.groupby(['order'])['aaa'].transform('first')

orderLog['m1'] = orderLog['mrstaat'].apply(lambda x: x - (x // 10000) * 10000)
orderLog['m2'] = orderLog['mrstauc'].apply(lambda x: x - (x // 10000) * 10000)
if orderLog[orderLog['mrsb90'] == '-'].shape[0] != 0:
    display(orderLog[orderLog['mrsb90'] == '-'])
orderLog = orderLog[orderLog['mrsb90'] != '-']
orderLog['mrsb90'] = orderLog['mrsb90'].astype(float)
if orderLog[orderLog['aaa'] == '-'].shape[0] != 0:
    display(orderLog[orderLog['aaa'] == '-'])
orderLog = orderLog[orderLog['aaa'] != '-']
orderLog['aaa'] = orderLog['aaa'].astype(float)
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstauc'] = \
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm2']

orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstaat'] = \
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm1']

orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstauc'] = \
orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm2']

orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstaat'] = \
orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm1']    

orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
orderLog["mrstaat"] = orderLog.groupby(['order'])['mrstaat'].transform('first')
orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')
orderLog["mrstauc"] = orderLog.groupby(['order'])['mrstauc'].transform('first')
orderLog = orderLog[~orderLog['ars'].isnull()]
orderLog['sta'] = np.where(orderLog['mrstaat'] == 1000, '1. staone', np.where(
orderLog['mrstaat'] == 3000, '2. statwo', np.where(
orderLog['mrstaat'].isin([11000, 13000]), '3. sta300', 'else')))
display(orderLog[orderLog['sta'] == 'else'][['date', 'secid', 'colo', 'accCode', 'updateType', 'vai', 'absOrderSize', 'orderDirection', 'mrstaat', 'mrstauc', 'sdd', 'ApplSeqNum', 'sta']])
orderLog = orderLog[orderLog['mrstaat'].isin([11000, 13000, 1000, 3000])]
display(orderLog[orderLog['updateType'] == 0].groupby(['mrstaat', 'mrstauc'])['date'].size())

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (54,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'There are ticks with orderDirection 0'

,date,colo,accCode,secid,vai,updateType,sdd,orderDirection,absOrderSize,internalId,orderId
356179,20201201,zs_52_06,5269,2002054,-1,1,53519.0,0,0,-1.0,1.565274e+06
364036,20201201,zs_54_01,5474,2002090,-1,7,39529.0,0,0,-1.0,8.689054e+08
383430,20201201,zs_52_09,5291,2002191,-1,1,47233.0,0,0,-1.0,1.105797e+06
472188,20201201,zs_54_01,5474,2002729,-1,1,39751.0,0,0,-1.0,8.689061e+08
602842,20201201,zs_52_06,5269,2300402,-1,1,35269.0,0,0,-1.0,2.996450e+05
667032,20201201,zs_54_01,5474,2300635,-1,1,47774.0,0,0,-1.0,8.689105e+08
690343,20201201,zs_54_01,5474,2300708,-1,1,52912.0,0,0,-1.0,8.689160e+08
993891,20201202,zs_96_02,9655,2000100,-1,7,39512.0,0,0,-1.0,-1.000000e+00
1008845,20201202,zs_64_01,6480,2000554,-1,1,53781.0,0,0,-1.0,1.373330e+05
1039368,20201202,zs_52_06,5269,2000893,-1,1,38864.0,0,0,-1.0,7.671610e+05
1066716,20201202,zs_64_01,6480,2002116,-1,1,48949.0,0,0,-1.0,1.026550e+05
1075223,20201202,zs_96_08,9685,2002167,-1,1,53797.0,0,0,-1.0,7.221449e+17
1080076,20201202,zs_66_01,6634,2002199,-1,1,34755.0,0,0,-1.0,1.812801e+10
1101186,20201202,zs_52_06,5269,2002347,-1,1,38271.0,0,0,-1.0,7.286290e+05
1176015,20201202,zs_64_01,6480,2002817,-1,1,41016.0,0,0,-1.0,8.585500e+04
1246575,20201202,zs_52_06,5269,2300225,-1,1,35013.0,0,0,-1.0,2.680320e+05
1317739,20201202,zs_54_01,5474,2300566,-1,1,40256.0,0,0,-1.0,8.689079e+08
1319573,20201202,zs_52_06,5269,2300575,-1,1,37360.0,0,0,-1.0,6.289380e+05
1329219,20201202,zs_66_01,6634,2300600,-1,7,41305.0,0,0,-1.0,-1.000000e+00
1356449,20201202,zs_54_01,5474,2300696,-1,1,52869.0,0,0,-1.0,8.689124e+08
1359239,20201202,zs_94_05,9471,2300702,-1,7,51932.0,0,0,-1.0,-1.000000e+00
1380216,20201202,zs_66_01,6634,2300757,-1,1,38745.0,0,0,-1.0,1.812805e+10
1380734,20201202,zs_52_06,5269,2300758,-1,1,35073.0,0,0,-1.0,2.777940e+05
1391379,20201202,zs_96_08,9685,2300793,-1,1,48112.0,0,0,-1.0,7.221449e+17

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

accCode
5275       2
5287       1
5386       1
5456       1
6237      45
6282      42
6623       2
6683       1
8886       4
9441      18
9471       2
9685       1
9754       1
9758       5
522201     1
522401     2
522601     3
523001     1
527301     1
528901     1
537403     1
897002     3
897102     1
Name: orderDirection, dtype: int64

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date      colo  accCode    secid         vai  clockAtArrival
0   20201201  zs_54_01     5456  2000910    252100.0               2
1   20201201  zs_54_01     5456  2002034    390040.0               2
2   20201201  zs_66_01     6631  2300411     21100.0               2
3   20201201  zs_66_01     6634  2300689     18600.0               2
4   20201201  zs_94_03     9461  2002938   3740239.0               2
5   20201201  zs_96_06     9758  2300143    790090.0               2
6   20201201  zs_96_06     9758  2300363   4132500.0               2
7   20201201  zs_96_06     9758  2300579     31600.0               2
8   20201201  zs_96_06     9758  2300634     11500.0               2
9   20201201  zs_96_06     9758  2300653     10400.0               2
10  20201201  zs_96_06     9758  2300653     10500.0               2
11  20201201  zs_96_06     9758  2300653   1196022.0               3
12  20201201  zs_96_06     9758  2300661    704121.0               2
13  20201201  zs_96_06     9758  2300661    969585.0               2
14  20201201  zs_96_06     9758  2300672      4900.0               2
15  20201201  zs_96_06     9758  2300792    872380.0               2
16  20201201  zs_96_06     9758  2300800      5900.0               2
17  20201201  zs_96_06     9765  2002311    718436.0               2
18  20201201  zs_96_08     6237  2002191   8221797.0               2
19  20201201  zs_96_08     6237  2002191  11236497.0               2
20  20201201  zs_96_08     6237  2002368   1258280.0               2
21  20201201  zs_96_08     6237  2002372  10721092.0               2
22  20201201  zs_96_08     6237  2002387   5871255.0               2
23  20201201  zs_96_08     6237  2002818   2341506.0               2
24  20201201  zs_96_08     6237  2300595   6829661.0               2
25  20201201  zs_96_08     6282  2002191  11236497.0               2
26  20201201  zs_96_08     6282  2002368   1258280.0               2
27  20201201  zs_96_08     6282  2002818   2341506.0               2
28  20201201  zs_96_08     6282  2300595   6829661.0               2
29  20201201  zt_94_06     9441  1603515   1235764.0               2
30  20201202  zs_54_01     5456  2300570   1116487.0               4
31  20201202  zs_54_01     5456  2300788    340691.0               2
32  20201202  zs_66_01     6634  2300650      8000.0               2
33  20201202  zs_94_03     9461  1688557       302.0               5
34  20201202  zs_94_03     9461  1688578       302.0               3
35  20201202  zs_94_05     9451  1688557       302.0               5
36  20201202  zs_94_05     9451  1688578       302.0               3
37  20201202  zs_96_06     9758  2002643    205105.0               2
38  20201202  zs_96_06     9758  2300143      7400.0               2
39  20201202  zs_96_06     9758  2300143     94900.0               2
40  20201202  zs_96_06     9758  2300348  10117428.0               2
41  20201202  zs_96_06     9758  2300379    931021.0               2
42  20201202  zs_96_06     9758  2300439   2465800.0               2
43  20201202  zs_96_06     9758  2300653    672501.0               3
44  20201202  zs_96_06     9758  2300659   1791843.0               2
45  20201202  zs_96_06     9758  2300725    175988.0               2
46  20201202  zs_96_06     9758  2300762   1153666.0               2
47  20201202  zs_96_08     6237  1600486   1442056.0               2
48  20201202  zs_96_08     6237  1603444   1092429.0               2
49  20201202  zs_96_08     6237  1603515   1401269.0               2
50  20201202  zs_96_08     6237  1603786    338112.0               2
51  20201202  zs_96_08     6237  1603786    914508.0               2
52  20201202  zs_96_08     6237  1603786   1170685.0               2
53  20201202  zs_96_08     6237  1603868    708707.0               2
54  20201202  zs_96_08     6282  1600486   1442056.0               2
55  20201202  zs_96_08     6282  1601799    870350.0               2
56  20201202  zs_96_08     6282  1603444   1092429.0               2
57  20201202  zs_96_08     6282  1603786    338112.0               2
58  20201202  zs_96_08     6282  1603786    914508.0               2
59  20201202  zs_96_08     6282  1603786   1170685.0               2
60  20201202  zs_96_08     6282  1603868    708707.0               2
61  20201202  zt_52_04   522201  1688557       302.0               2
62  20201202  zt_52_04   522601  1688557       302.0               5
63  20201202  zt_52_04   526901  1688557       302.0               4
64  20201202  zt_52_04   527301  1688557       302.0               2
65  20201202  zt_52_04   528401  1688557       302.0               2
66  20201202  zt_52_05   522901  1688557       302.0               5
67  20201202  zt_52_05   527501  1688557       302.0               2
68  20201202  zt_52_05   527601  1688557       302.0               2
69  20201202  zt_52_05   528701  1688557       302.0               5
70  20201202  zt_52_07   523001  1688557       302.0               5
71  20201202  zt_52_07   527701  1688557       302.0               2
72  20201202  zt_52_07   528101  1688557       302.0               3
73  20201202  zt_52_10   522401  1688557       302.0               3
74  20201202  zt_52_10   528901  1688557       302.0               2
75  20201202  zt_52_10   529001  1688557       302.0               5
76  20201202  zt_52_10   529101  1688557       302.0               2
77  20201202  zt_88_06     8854  1688557       302.0               2
78  20201202  zt_88_06     8854  1688578       302.0               8
79  20201202  zt_88_06     8886  1688557       302.0               2
80  20201202  zt_88_06     8886  1688578       302.0               5
81  20201202  zt_94_06     9441  1600132   1114928.0               2
82  20201202  zt_94_06     9441  1600486   1442056.0               2
83  20201202  zt_94_06     9441  1603355    611883.0               2
84  20201202  zt_96_09   966701  1688557       302.0               4
85  20201202  zt_96_09   966701  1688578       302.0               4
86  20201202  zt_96_09   968501  1688557       302.0               4

accCode
5456       4
6237      14
6282      11
6631       1
6634       2
8854       2
8886       2
9441       4
9451       2
9461       3
9758      22
9765       1
522201     1
522401     1
522601     1
522901     1
523001     1
526901     1
527301     1
527501     1
527601     1
527701     1
528101     1
528401     1
528701     1
528901     1
529001     1
529101     1
966701     2
968501     1
Name: date, dtype: int64

99.87% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled  total
1015      1685      50    300
5768      8753   14800  15400
7667     11696   18300  18400
9687     14654    1000   4500
15020    22332     100   1700
22890    32509    1400   8600
26023    37080     998   1200
28654    40720     100    300
35235    49565    4000   5500
44735    62262   11400  12200
45471    63373     100   1700
51874    70912    2000  11100
67332    90767    2600   3100
72430    97544    2000   2600
73312    99010     100   1400
79806   110751    5400   6000
81470   113688   39600  40100
87275   122241     300   3000
92797   130123    5700   6500
93749   131498     700  11500
99250   139363    1100   1400
103245  145235    1100   1400
107258  151410     200    500
108217  152734    1200   2200
111326  157372     600   1100
111679  157886    3800  20000
112656  159262   20555  43500
113784  160746     142    300
120236  170206     300    600
142783  201427    1400   4100
145639  204861   13200  18900
151179  212862     900   2100
153113  215512    1200   5000
160916  225813     400   9100
162289  227319     600   2600
163915  229333     400   9900
167244  234000    1900   2000
167517  234356    9959  10600
176406  244989    2200  11700
198399  275009     200    700
205007  285896    3420   4000
217185  303393    2700   4900
217688  304064     200   2100
217996  304480   13200  17300
219194  306372     800   6600
219329  306635     800   1800
225431  315977     300   1000
225562  316198    2460   5400
225959  316843     200   1200
228841  321201    2400   3200
229392  321855     200   1400
241427  338788   18200  32800

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [ApplSeqNum, aaa, absFilledThisUpdate, absOrderSize, absOrderSizeCumFilled, accCode, ars, caamd, cancellationPending, cfe, clock, clockAtArrival, cumSharesBought, cumSharesBuyInserted, cumSharesSellInserted, cumSharesSold, date, finalState, gfe, hee, insertedShortOrder, insertionPending, internalId, inv_L, inv_L0, inv_S, inv_S0, l4tr, locateShares, locateSharesTotal, mfe, mra100, mrb100, mrm, mrm25, mrmum, mrrlma, mrsb300, mrsb90, mrss300, mrss90, mrstaat, mrstauc, mrstaum, mrv, ms, mse, mt, mta, mv, orderDirection, orderId, orderOutstanding, orderPrice, orderSysId, sdd, secid, sequenceNo, session, threadId, totalActions, totalCanceled, tradeId, tradePrice, underlyingIndex, updateType, vai, zipFile, colo, test, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

,date,secid,colo,accCode,updateType,vai,absOrderSize,orderDirection,mrstaat,mrstauc,sdd,ApplSeqNum,sta
177632,20201201,1603045,zt_52_10,529001,0,0.0,500,-1,NaN,NaN,145636000.0,NaN,else
258124,20201201,1603811,zs_96_08,974101,0,0.0,200,-1,NaN,NaN,145637000.0,NaN,else
344337,20201201,2000961,zs_88_04,8967,0,34243047.0,6200,1,NaN,NaN,145255020.0,NaN,else
625404,20201201,2300487,zs_54_01,5456,0,1787257.0,500,-1,NaN,NaN,145348400.0,NaN,else
982958,20201202,1688557,zs_96_08,9685,0,302.0,1021,-1,0.0,0.0,134154000.0,0.0,else
982959,20201202,1688557,zt_96_09,966501,0,302.0,1021,-1,0.0,0.0,134154000.0,0.0,else
982960,20201202,1688557,zt_96_09,966501,2,302.0,1021,-1,0.0,0.0,-1.0,0.0,else
982961,20201202,1688557,zt_96_09,966501,4,302.0,1021,-1,0.0,0.0,-1.0,0.0,else
982962,20201202,1688557,zt_96_09,966501,4,302.0,1021,-1,0.0,0.0,-1.0,0.0,else
982963,20201202,1688578,zt_52_10,522401,0,302.0,4729,-1,0.0,0.0,134257000.0,0.0,else
982964,20201202,1688578,zt_52_10,522401,2,302.0,4729,-1,0.0,0.0,-1.0,0.0,else
982965,20201202,1688578,zt_52_10,522401,4,302.0,4729,-1,0.0,0.0,-1.0,0.0,else
982966,20201202,1688578,zt_52_10,522401,4,302.0,4729,-1,0.0,0.0,-1.0,0.0,else
982967,20201202,1688578,zt_52_07,527701,0,302.0,5449,-1,0.0,0.0,134257000.0,0.0,else
982968,20201202,1688578,zt_52_07,527701,2,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982969,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982970,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982971,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982972,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982973,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982974,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982975,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982976,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982977,20201202,1688578,zt_52_07,527701,4,302.0,5449,-1,0.0,0.0,-1.0,0.0,else
982978,20201202,1688578,zt_96_09,966501,0,302.0,2630,-1,0.0,0.0,134257000.0,0.0,else
982979,20201202,1688578,zt_96_09,966501,2,302.0,2630,-1,0.0,0.0,-1.0,0.0,else
982980,20201202,1688578,zt_96_09,966501,4,302.0,2630,-1,0.0,0.0,-1.0,0.0,else
982981,20201202,1688578,zt_96_09,966501,4,302.0,2630,-1,0.0,0.0,-1.0,0.0,else
982982,20201202,1688578,zt_96_09,966501,4,302.0,2630,-1,0.0,0.0,-1.0,0.0,else
1257931,20201202,2300290,zs_94_05,9454,0,11140150.0,4900,1,NaN,NaN,145641090.0,NaN,else

mrstaat  mrstauc
1000.0   0.0         52744
3000.0   1000.0     229501
         2000.0      16566
         3000.0       6771
11000.0  10000.0      1477
         20000.0       124
         30000.0        96
13000.0  11000.0     28686
         12000.0      1106
         13000.0       347
         21000.0       903
         22000.0       953
         23000.0       162
         31000.0       401
         32000.0       337
         33000.0       426
Name: date, dtype: int64

In [2]:
IF_group = pd.read_table(r'E:\stockGroup_IF.txt', header=None)
IC_group = pd.read_table(r'E:\stockGroup_IC.txt', header=None)
CSI1000_group = pd.read_table(r'E:\stockGroup_CSI1000.txt', header=None)
IF_group1 = IF_group.iloc[0, :].values[0][1:-2].split(', ')
IF_group2 = IF_group.iloc[1, :].values[0][1:-2].split(', ')
IC_group1 = IC_group.iloc[0, :].values[0][1:-2].split(', ')
IC_group2 = IC_group.iloc[1, :].values[0][1:-2].split(', ')
CSI1000_group1 = CSI1000_group.iloc[0, :].values[0][1:-2].split(', ')
CSI1000_group2 = CSI1000_group.iloc[1, :].values[0][1:-2].split(', ')
assert(len(IF_group1) == len(IF_group2))
assert(len(IC_group1) == len(IC_group2))
assert(len(CSI1000_group1) == len(CSI1000_group2))

test1 = orderLog[orderLog['secid'].isin(IF_group1 + IF_group2)]
test1['group_tag'] = np.where(test1['secid'].isin(IF_group1), 1, 2)
display(test1[(test1['updateType'] == 0)].groupby(['colo', 'accCode', 'group_tag'])['ars'].unique())
display(test1[(test1['updateType'] == 0) & (test1['accCode'] == 9461)].groupby(['colo', 'accCode', 'group_tag'])['secid'].nunique())
test2 = orderLog[orderLog['secid'].isin(IC_group1 + IC_group2)]
test2['group_tag'] = np.where(test2['secid'].isin(IC_group1), 1, 2)
display(test2[(test2['updateType'] == 0)].groupby(['colo', 'accCode', 'group_tag'])['ars'].unique())
display(test2[(test2['updateType'] == 0) & (test2['accCode'] == 9441)].groupby(['colo', 'accCode', 'group_tag'])['secid'].nunique())
test3 = orderLog[orderLog['secid'].isin(CSI1000_group1 + CSI1000_group2)]
test3['group_tag'] = np.where(test3['secid'].isin(CSI1000_group1), 1, 2)
display(test3[(test3['updateType'] == 0)].groupby(['colo', 'accCode', 'group_tag'])['ars'].unique())
display(test3[(test3['updateType'] == 0) & (test3['accCode'].isin([5456, 9758]))].groupby(['colo', 'accCode', 'group_tag'])['secid'].nunique())

test = test3[test3['accCode'] == 5456]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

colo      accCode  group_tag
zs_52_06  5384     1            [1.0]
                   2            [1.0]
zs_52_08  5281     1            [1.0]
                   2            [1.0]
zs_52_09  5264     1            [1.0]
                   2            [1.0]
zs_88_04  8967     1            [1.0]
                   2            [1.0]
          892402   1            [1.0]
                   2            [1.0]
zs_94_03  9461     1            [2.0]
                   2            [1.0]
zs_94_05  9435     1            [1.0]
                   2            [1.0]
zs_96_02  9655     1            [1.0]
                   2            [1.0]
zs_96_06  9765     1            [1.0]
                   2            [1.0]
zt_88_06  8970     1            [1.0]
                   2            [1.0]
          8971     1            [1.0]
                   2            [1.0]
Name: ars, dtype: object

colo      accCode  group_tag
zs_94_03  9461     1            29
                   2            32
Name: secid, dtype: int64

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

colo      accCode  group_tag
zs_52_06  5332     1                 [1.0]
                   2                 [1.0]
zs_52_08  5229     1                 [1.0]
                   2                 [1.0]
          5276     1                 [1.0]
                   2                 [1.0]
          5292     1                 [1.0]
                   2                 [1.0]
          5377     1                 [1.0]
                   2                 [1.0]
          5386     1                 [1.0]
                   2                 [1.0]
zs_52_09  5289     1                 [1.0]
                   2                 [1.0]
          5291     1                 [1.0]
                   2                 [1.0]
zs_88_04  8856     1                 [1.0]
                   2                 [1.0]
          8924     1                 [1.0]
                   2                 [1.0]
          896702   1                 [1.0]
                   2                 [1.0]
zs_94_03  9448     1                 [1.0]
                   2                 [1.0]
zs_96_08  6237     1                 [2.0]
                   2                 [2.0]
          6282     1                 [2.0]
                   2                 [2.0]
          9754     1                 [1.0]
                   2                 [1.0]
zt_52_04  522201   1                 [1.0]
                   2                 [1.0]
          522601   1                 [1.0]
                   2                 [1.0]
          527301   1                 [1.0]
                   2                 [1.0]
zt_52_05  537403   1                 [1.0]
                   2                 [1.0]
zt_52_07  523001   1                 [1.0]
                   2                 [1.0]
zt_52_10  522401   1                 [1.0]
                   2                 [1.0]
          528901   1                 [1.0]
                   2                 [1.0]
zt_88_03  897002   1                 [1.0]
                   2                 [1.0]
zt_88_06  8886     1                 [1.0]
                   2                 [1.0]
zt_94_06  9441     1            [2.0, 3.0]
                   2            [1.0, 7.0]
zt_96_01  966301   1                 [2.0]
                   2                 [2.0]
zt_96_09  966501   1                 [1.0]
                   2                 [1.0]
Name: ars, dtype: object

colo      accCode  group_tag
zt_94_06  9441     1            37
                   2            29
Name: secid, dtype: int64

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

colo      accCode  group_tag
zs_52_06  5232     1                      [1.0]
                   2                      [1.0]
          5275     1                      [1.0]
                   2                      [1.0]
          5287     1                      [1.0]
                   2                      [1.0]
zs_54_01  5456     1                 [3.0, 2.0]
                   2                      [1.0]
zs_66_01  6623     1                      [1.0]
                   2                      [1.0]
          6627     1                      [1.0]
                   2                      [1.0]
          6683     1                      [1.0]
                   2                      [1.0]
zs_88_04  8865     1                      [1.0]
                   2                      [1.0]
zs_92_02  9243     1                      [1.0]
                   2                      [1.0]
zs_94_05  9471     1                      [1.0]
                   2                      [1.0]
zs_96_06  9758     1                      [2.0]
                   2                      [1.0]
zs_96_08  9685     1                      [1.0]
                   2                      [1.0]
zt_88_03  8833     1                      [1.0]
                   2                      [1.0]
zt_88_06  8854     1                 [2.0, 1.0]
                   2            [2.0, 1.0, 3.0]
Name: ars, dtype: object

colo      accCode  group_tag
zs_54_01  5456     1            87
                   2            79
zs_96_06  9758     1            84
                   2            83
Name: secid, dtype: int64

In [17]:
orderLog[(orderLog['ars'] == 3) & (orderLog['accCode'] == 966301) & (orderLog['updateType'] == 0)][['colo', 'accCode', 'vai', 'ars', 'orderDirection', 'absOrderSize', 'orderPrice', 'absFilledThisUpdate', 'mrstaat', 'mrstauc', 'sdd', 'mra100', 'mrb100']]

,colo,accCode,vai,ars,orderDirection,absOrderSize,orderPrice,absFilledThisUpdate,mrstaat,mrstauc,sdd,mra100,mrb100
50101,zt_96_01,966301,17204900.0,3.0,-1,100,10.38,0,1000.0,0.0,131542000.0,1038.0,1037.0
52185,zt_96_01,966301,58347512.0,3.0,-1,7100,8.66,0,1000.0,0.0,145534000.0,866.0,865.0
66258,zt_96_01,966301,58064149.0,3.0,-1,200,4.70,0,1000.0,0.0,130133000.0,470.0,469.0
87425,zt_96_01,966301,24637769.0,3.0,-1,2400,6.75,0,1000.0,0.0,130133000.0,675.0,674.0
87428,zt_96_01,966301,24697369.0,3.0,-1,1000,6.75,0,1000.0,0.0,130142000.0,675.0,674.0
88288,zt_96_01,966301,6063831.0,3.0,1,100,8.27,0,1000.0,0.0,141546000.0,828.0,827.0
88336,zt_96_01,966301,8564231.0,3.0,1,1000,8.16,0,1000.0,0.0,144530000.0,817.0,816.0
89333,zt_96_01,966301,4728268.0,3.0,1,100,4.37,0,1000.0,0.0,141558000.0,438.0,437.0
101512,zt_96_01,966301,2818031.0,3.0,1,100,5.23,0,1000.0,0.0,130143000.0,524.0,523.0
113009,zt_96_01,966301,3074931.0,3.0,1,100,4.65,0,1000.0,0.0,141613000.0,466.0,465.0
115462,zt_96_01,966301,5197716.0,3.0,1,100,5.66,0,1000.0,0.0,141538000.0,567.0,566.0
115466,zt_96_01,966301,5222016.0,3.0,1,100,5.66,0,1000.0,0.0,141613000.0,567.0,566.0
115470,zt_96_01,966301,5376216.0,3.0,1,100,5.67,0,1000.0,0.0,142510000.0,568.0,567.0
116822,zt_96_01,966301,56757603.0,3.0,-1,400,2.93,0,1000.0,0.0,145537000.0,293.0,292.0
125870,zt_96_01,966301,9845228.0,3.0,1,1400,5.94,0,1000.0,0.0,130134000.0,595.0,594.0
125875,zt_96_01,966301,15025228.0,3.0,1,1700,5.80,0,1000.0,0.0,145536000.0,581.0,580.0
125879,zt_96_01,966301,15159528.0,3.0,1,1700,5.79,0,1000.0,0.0,145621000.0,580.0,579.0
127181,zt_96_01,966301,1531579.0,3.0,1,700,7.10,0,1000.0,0.0,141603000.0,711.0,710.0
132059,zt_96_01,966301,11704803.0,3.0,1,500,11.52,0,1000.0,0.0,130433000.0,1153.0,1152.0
132363,zt_96_01,966301,22518443.0,3.0,1,400,11.40,0,1000.0,0.0,145537000.0,1141.0,1140.0
134386,zt_96_01,966301,32131348.0,3.0,-1,100,1.53,0,1000.0,0.0,145549000.0,153.0,152.0
135294,zt_96_01,966301,37778194.0,3.0,-1,100,2.74,0,1000.0,0.0,145534000.0,274.0,273.0
136938,zt_96_01,966301,2152400.0,3.0,1,1700,3.80,0,1000.0,0.0,130240000.0,381.0,380.0
136942,zt_96_01,966301,2196200.0,3.0,1,900,3.80,0,1000.0,0.0,131446000.0,381.0,380.0
136945,zt_96_01,966301,2208800.0,3.0,-1,900,3.80,0,1000.0,0.0,131702000.0,380.0,379.0
149163,zt_96_01,966301,60024509.0,3.0,-1,200,4.49,0,1000.0,0.0,130145000.0,449.0,448.0
156791,zt_96_01,966301,4141055.0,3.0,1,300,5.04,0,1000.0,0.0,141536000.0,505.0,504.0
156795,zt_96_01,966301,4396555.0,3.0,1,300,5.05,0,1000.0,0.0,142625000.0,506.0,505.0
295933,zt_96_01,966301,65979723.0,3.0,-1,14400,6.44,0,1000.0,0.0,130135090.0,644.0,643.0
295937,zt_96_01,966301,66231023.0,3.0,-1,14400,6.42,0,1000.0,0.0,130232380.0,642.0,641.0
295946,zt_96_01,966301,66263723.0,3.0,-1,1400,6.43,0,1000.0,0.0,130245830.0,643.0,642.0
313814,zt_96_01,966301,15588240.0,3.0,1,100,9.85,0,1000.0,0.0,141534080.0,986.0,985.0
313818,zt_96_01,966301,15756080.0,3.0,1,100,9.86,0,1000.0,0.0,141618070.0,987.0,986.0
314326,zt_96_01,966301,25584097.0,3.0,1,1000,9.63,0,1000.0,0.0,145532920.0,964.0,963.0
317997,zt_96_01,966301,5590900.0,3.0,1,300,3.77,0,1000.0,0.0,130137460.0,378.0,377.0
318000,zt_96_01,966301,5958700.0,3.0,1,2200,3.76,0,1000.0,0.0,131559890.0,377.0,376.0
326087,zt_96_01,966301,10277067.0,3.0,1,3500,3.66,0,1000.0,0.0,141534800.0,367.0,366.0
326091,zt_96_01,966301,10351467.0,3.0,1,3500,3.67,0,1000.0,0.0,141708210.0,368.0,367.0
326094,zt_96_01,966301,10488767.0,3.0,1,300,3.67,0,1000.0,0.0,141722060.0,368.0,367.0
345369,zt_96_01,966301,82629123.0,3.0,-1,4300,5.53,0,1000.0,0.0,145532670.0,553.0,552.0
348956,zt_96_01,966301,92100080.0,3.0,-1,100,3.93,0,1000.0,0.0,145532540.0,393.0,392.0
348960,zt_96_01,966301,93020180.0,3.0,-1,100,3.92,0,1000.0,0.0,145534960.0,392.0,391.0
356151,zt_96_01,966301,2089244.0,3.0,1,100,7.30,0,1000.0,0.0,141551760.0,731.0,730.0
356155,zt_96_01,966301,2236844.0,3.0,1,100,7.31,0,1000.0,0.0,142520230.0,732.0,731.0
369646,zt_96_01,966301,104172910.0,3.0,-1,100,3.27,0,1000.0,0.0,145535910.0,327.0,326.0
545266,zt_96_01,966301,20501983.0,3.0,1,2000,6.17,0,1000.0,0.0,130133050.0,618.0,617.0
639734,zt_96_01,966301,76103282.0,3.0,-1,300,3.89,0,1000.0,0.0,144533940.0,389.0,388.0
639738,zt_96_01,966301,77182364.0,3.0,-1,300,3.88,0,1000.0,0.0,144907460.0,388.0,387.0
639741,zt_96_01,966301,80756564.0,3.0,-1,300,3.87,0,1000.0,0.0,145539210.0,387.0,386.0
757232,zt_96_01,966301,20595804.0,3.0,-1,100,4.63,0,1000.0,0.0,140034000.0,463.0,462.0
757245,zt_96_01,966301,20757272.0,3.0,-1,100,4.62,0,1000.0,0.0,140339000.0,462.0,461.0
768277,zt_96_01,966301,34875121.0,3.0,1,100,12.97,0,1000.0,0.0,134600000.0,1298.0,1297.0
769672,zt_96_01,966301,15904450.0,3.0,-1,100,7.39,0,1000.0,0.0,130133000.0,739.0,738.0
787351,zt_96_01,966301,71790066.0,3.0,1,200,1.67,0,1000.0,0.0,134542000.0,168.0,167.0
787355,zt_96_01,966301,80316966.0,3.0,1,400,1.68,0,1000.0,0.0,142639000.0,169.0,168.0
787358,zt_96_01,966301,83533066.0,3.0,-1,400,1.69,0,1000.0,0.0,144637000.0,169.0,168.0
793714,zt_96_01,966301,14354567.0,3.0,1,100,3.00,0,1000.0,0.0,134540000.0,301.0,300.0
793717,zt_96_01,966301,15408467.0,3.0,1,100,2.99,0,1000.0,0.0,140034000.0,300.0,299.0
828492,zt_96_01,966301,2075752.0,3.0,1,100,5.54,0,1000.0,0.0,134953000.0,555.0,554.0
829619,zt_96_01,966301,9601744.0,3.0,1,100,3.25,0,1000.0,0.0,134601000.0,326.0,325.0
829622,zt_96_01,966301,11080774.0,3.0,1,100,3.25,0,1000.0,0.0,143051000.0,326.0,325.0
846055,zt_96_01,966301,8277500.0,3.0,-1,100,5.70,0,1000.0,0.0,134540000.0,570.0,569.0
846084,zt_96_01,966301,11406000.0,3.0,-1,100,5.73,0,1000.0,0.0,143040000.0,573.0,572.0
862459,zt_96_01,966301,19120138.0,3.0,1,200,5.17,0,1000.0,0.0,140054000.0,518.0,517.0
862528,zt_96_01,966301,54586910.0,3.0,1,100,1.56,0,1000.0,0.0,134612000.0,157.0,156.0
862531,zt_96_01,966301,59293210.0,3.0,1,100,1.56,0,1000.0,0.0,140031000.0,157.0,156.0
862564,zt_96_01,966301,77338082.0,3.0,1,1500,1.57,0,1000.0,0.0,145532000.0,158.0,157.0
882285,zt_96_01,966301,19126693.0,3.0,-1,100,6.44,0,1000.0,0.0,133045000.0,644.0,643.0
882301,zt_96_01,966301,21628993.0,3.0,-1,100,6.53,0,1000.0,0.0,134531000.0,653.0,652.0
882304,zt_96_01,966301,22689193.0,3.0,-1,100,6.51,0,1000.0,0.0,140031000.0,651.0,650.0
882308,zt_96_01,966301,22839093.0,3.0,-1,100,6.50,0,1000.0,0.0,140243000.0,650.0,649.0
882346,zt_96_01,966301,24403093.0,3.0,-1,200,6.49,0,1000.0,0.0,143113000.0,649.0,648.0
882350,zt_96_01,966301,24547693.0,3.0,-1,200,6.48,0,1000.0,0.0,143310000.0,648.0,647.0
882354,zt_96_01,966301,24774493.0,3.0,-1,200,6.47,0,1000.0,0.0,143607000.0,647.0,646.0
882358,zt_96_01,966301,26264193.0,3.0,-1,300,6.47,0,1000.0,0.0,145534000.0,647.0,646.0
884626,zt_96_01,966301,54974029.0,3.0,1,2400,11.36,0,1000.0,0.0,143131000.0,1137.0,1136.0
884655,zt_96_01,966301,55123629.0,3.0,1,2400,11.38,0,1000.0,0.0,143143000.0,1139.0,1138.0
884663,zt_96_01,966301,55244537.0,3.0,1,2400,11.40,0,1000.0,0.0,143222000.0,1141.0,1140.0
1024358,zt_96_01,966301,27128400.0,3.0,1,100,2.98,0,1000.0,0.0,134532650.0,299.0,298.0
1034816,zt_96_01,966301,14733451.0,3.0,1,2700,3.35,0,1000.0,0.0,133036410.0,336.0,335.0
1034819,zt_96_01,966301,15788151.0,3.0,1,2700,3.35,0,1000.0,0.0,135936430.0,336.0,335.0
1034822,zt_96_01,966301,16039551.0,3.0,1,2300,3.34,0,1000.0,0.0,140230310.0,335.0,334.0
1034828,zt_96_01,966301,18050352.0,3.0,1,2700,3.34,0,1000.0,0.0,143052880.0,335.0,334.0
1034832,zt_96_01,966301,18147452.0,3.0,1,2600,3.33,0,1000.0,0.0,143159600.0,334.0,333.0
1034836,zt_96_01,966301,18355197.0,3.0,1,2600,3.34,0,1000.0,0.0,143858540.0,335.0,334.0
1035496,zt_96_01,966301,9196584.0,3.0,-1,100,3.71,0,1000.0,0.0,140108140.0,371.0,370.0
1035500,zt_96_01,966301,9588884.0,3.0,-1,100,3.70,0,1000.0,0.0,140600750.0,370.0,369.0
1049089,zt_96_01,966301,42845775.0,3.0,-1,100,3.20,0,1000.0,0.0,133034590.0,320.0,319.0
1049101,zt_96_01,966301,69158051.0,3.0,1,7000,3.20,0,1000.0,0.0,143040430.0,321.0,320.0
1049104,zt_96_01,966301,69372951.0,3.0,1,7000,3.20,0,1000.0,0.0,143101250.0,321.0,320.0
1049110,zt_96_01,966301,69428851.0,3.0,1,7100,3.19,0,1000.0,0.0,143102210.0,320.0,319.0
1049113,zt_96_01,966301,70319851.0,3.0,1,1500,3.19,0,1000.0,0.0,143454530.0,320.0,319.0
1049159,zt_96_01,966301,74915941.0,3.0,1,100,3.19,0,1000.0,0.0,145539050.0,320.0,319.0
1068506,zt_96_01,966301,9919507.0,3.0,-1,1100,10.60,0,1000.0,0.0,133356860.0,1060.0,1059.0
1068571,zt_96_01,966301,10096707.0,3.0,-1,1100,10.58,0,1000.0,0.0,133546020.0,1058.0,1057.0
1068620,zt_96_01,966301,10193007.0,3.0,-1,1100,10.57,0,1000.0,0.0,133655040.0,1057.0,1056.0
1068627,zt_96_01,966301,10335007.0,3.0,-1,600,10.56,0,1000.0,0.0,133803600.0,1056.0,1055.0
1068655,zt_96_01,966301,11028707.0,3.0,-1,600,10.53,0,1000.0,0.0,134048350.0,1053.0,1052.0
1113503,zt_96_01,966301,4004900.0,3.0,1,700,6.93,0,1000.0,0.0,143033890.0,694.0,693.0
1220376,zt_96_01,966301,16532139.0,3.0,-1,100,6.09,0,1000.0,0.0,133046300.0,609.0,608.0
1220380,zt_96_01,966301,16788039.0,3.0,-1,100,6.08,0,1000.0,0.0,133646620.0,608.0,607.0
1309631,zt_96_01,966301,27223553.0,3.0,-1,200,3.85,0,1000.0,0.0,130143100.0,385.0,384.0
1464065,zt_96_01,966301,73210409.0,3.0,-1,500,1.70,0,1000.0,0.0,103243000.0,170.0,169.0
1472616,zt_96_01,966301,25723695.0,3.0,1,3200,5.46,0,1000.0,0.0,103212000.0,547.0,546.0
1518965,zt_96_01,966301,5027125.0,3.0,1,1300,3.27,0,1000.0,0.0,103217000.0,328.0,327.0
1518968,zt_96_01,966301,5137925.0,3.0,-1,1300,3.28,0,1000.0,0.0,103253000.0,328.0,327.0
1541202,zt_96_01,966301,5661443.0,3.0,-1,2200,5.82,0,1000.0,0.0,103216000.0,582.0,581.0
1541205,zt_96_01,966301,5810843.0,3.0,-1,2200,5.82,0,1000.0,0.0,103301000.0,582.0,581.0
1541210,zt_96_01,966301,5814143.0,3.0,-1,2200,5.82,0,1000.0,0.0,103303000.0,582.0,581.0
1541220,zt_96_01,966301,5816443.0,3.0,-1,700,5.82,0,1000.0,0.0,103313000.0,582.0,581.0
1553270,zt_96_01,966301,5132500.0,3.0,-1,100,5.65,0,1000.0,0.0,103216000.0,565.0,564.0
1589257,zt_96_01,966301,22544664.0,3.0,-1,6200,6.48,0,1000.0,0.0,103213000.0,648.0,647.0
1589260,zt_96_01,966301,22567364.0,3.0,-1,2900,6.49,0,1000.0,0.0,103228000.0,649.0,648.0
1774431,zt_96_01,966301,16098164.0,3.0,-1,2700,3.33,0,1000.0,0.0,103230960.0,333.0,332.0
1784046,zt_96_01,966301,14279465.0,3.0,1,1500,3.67,0,1000.0,0.0,103217110.0,368.0,367.0
1792108,zt_96_01,966301,29346682.0,3.0,-1,7000,3.20,0,1000.0,0.0,103218440.0,320.0,319.0
1792112,zt_96_01,966301,29589342.0,3.0,-1,7100,3.19,0,1000.0,0.0,103309730.0,319.0,318.0
1792118,zt_96_01,966301,29738642.0,3.0,-1,7100,3.19,0,1000.0,0.0,103312740.0,319.0,318.0
1847935,zt_96_01,966301,10376515.0,3.0,-1,11,4.32,0,1000.0,0.0,103214760.0,432.0,431.0
1848543,zt_96_01,966301,6035800.0,3.0,-1,3900,10.68,0,1000.0,0.0,103305940.0,1068.0,1067.0
1878051,zt_96_01,966301,2377220.0,3.0,-1,1200,6.84,0,1000.0,0.0,103226830.0,684.0,683.0
1888441,zt_96_01,966301,2460450.0,3.0,-1,2400,9.85,0,1000.0,0.0,103214180.0,985.0,984.0

In [5]:
orderLog[orderLog['ars'] == 3]['accCode'].unique()

array([  8854, 966301,   5456,   9441], dtype=int64)

In [90]:
test['index_name'] = 'CSI1000'
test['order_type'] = np.where(test['ars'] == 1, 'take', np.where(
test['ars'] == 2, 'improved-NBBO make', 'on-NBBO make'))
test['Side'] = np.where(test['orderDirection'] == 1, 'Buy', 'Sell')
test['duration'] = np.where(test['date'] == 20201201, '20201201-20201201', '20201202-20201202')
f1 = test[(test['updateType'] == 0)].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['orderNtl'].sum().reset_index()
f2 = test[(test['updateType'] == 4)].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['tradeNtl'].sum().reset_index()
f = pd.merge(f1, f2, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
f['fill_rate'] = f['tradeNtl'] / f['orderNtl']
f1 = test[(test['updateType'] == 0)].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['order'].nunique().reset_index()
f2 = test[(test['updateType'] == 3)].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['order'].nunique().reset_index()
ff = pd.merge(f1, f2, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
ff['cancel_rate'] = ff['order_y'] / ff['order_x']
f = pd.merge(f, ff[['duration', 'Side', 'order_type', 'cancel_rate', 'accCode', 'index_name']], on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
test['cancel_duration_med'] = test['clockAtArrival'] - test['startClock']
test['cancel_duration_90p'] = test['clockAtArrival'] - test['startClock']
ff = test[test['updateType'] == 3].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['cancel_duration_med'].median().reset_index()
f = pd.merge(f, ff, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
ff = test[test['updateType'] == 3].groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['cancel_duration_90p'].quantile(0.9).reset_index()
f = pd.merge(f, ff, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
test1 = test[test['updateType'] == 4]
test1['mid'] = (test1['mra100'] + test1['mrb100'])/200
test1['tp'] = (test1['mrm'] + 1) * test1['mid']
test1['mrm_return'] = np.where(test1['Side'] == 'Sell', test1['tradePrice']/test1['tp'] - 1, test1['tp']/test1['tradePrice'] - 1)
test1['sumNtl'] = test1.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['tradeNtl'].transform(sum)
test1['sum_return'] = test1['mrm_return'] * test1['tradeNtl']
test1['sum_return'] = test1.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['sum_return'].transform(sum)
test1['mrm_return'] = test1['sum_return'] / test1['sumNtl']
ff = test1.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['mrm_return'].first().reset_index()
f = pd.merge(f, ff, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
from IPython.display import display, HTML
HTML(f.groupby(['duration', 'Side',  'index_name', 'accCode', 'order_type']).first().to_html())

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [105]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 100)
pd.set_option('max_columns', 100)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

import pymongo
import pandas as pd
import numpy as np
import pickle
import datetime
import time
import gzip
import lzma
import pytz

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_memb_daily(db, name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date', 'interval'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_id is not None:
        query['index_id'] = {'$in': index_id}
    if interval is not None:
        query['interval'] = {'$in': interval}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'index_id', 'skey'])
    return df    

def build_query(start_date=None, end_date=None, index_id=None):
    query = {}
    def parse_date(x):
        if type(x) == int:
            return x
        elif type(x) == str:
            if len(x) != 8:
                raise Exception("date must be YYYYMMDD format")
            return int(x)
        elif type(x) == datetime.datetime or type(x) == datetime.date:
            return x.strftime("%Y%m%d").astype(int)
        else:
            raise Exception("invalid date type: " + str(type(x)))
    if start_date is not None or end_date is not None:
        query['date'] = {}
        if start_date is not None:
            query['date']['$gte'] = parse_date(start_date)
        if end_date is not None:
            query['date']['$lte'] = parse_date(end_date)
    def parse_symbol(x):
        if type(x) == int:
            return x
        else:
            return int(x)
    if index_id:
        if type(index_id) == list or type(index_id) == tuple:
            query['index_id'] = {'$in': [parse_symbol(x) for x in index_id]}
        else:
            query['index_id'] = parse_symbol(index_id)
    return query

def write_memb_data(db, name, df):
    collection = db[name]
    df1 = []
    for symbol in df['index_id'].unique():
        if symbol in collection.distinct('index_id'):
            symbol = int(symbol)
            m_ax = pd.DataFrame.from_records(collection.find({'index_id':{'$in':[symbol]}}).sort([('date',-1)]).skip(0).limit(1))['date'].values[0]
            df2 = df[(df['index_id'] == symbol) & (df['date'] > m_ax)]
            print(df2)
            df1 += [df2]
        else:
            print(symbol)
            df2 = df[(df['index_id'] == symbol)]
            print(df2)
            df1 += [df2]
    df1 = pd.concat(df1).reset_index(drop=True)
    df1 = df1.to_dict('records')
    collection.insert_many(df1) 

def delete_memb_data(db, name, start_date=None, end_date=None, index_id=None):
    collection = db[name]
    query = build_query(start_date, end_date, index_id)
    if not query:
        print('cannot delete the whole table')
        return None
    collection.delete_many(query)  


database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)

import os
import glob
import datetime
import numpy as np
import pandas as pd
import pickle
from IPython.display import display, HTML
# 上次遗留问题：调整图间间距
# 调整标签位置，不要和图中重合
startDate = '20201201'
endDate = '20201202'

readPath = "L:\\orderLog\\ret\\***"
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
df = []
add = read_memb_daily(db1, 'index_memb', int(startDate), int(endDate), index_id=[1000300, 1000905, 1000852, 1000985])
add = add.rename(columns={'skey':'secid'})

dateLs = np.sort(dateLs)
dataPathLs = np.sort(dataPathLs)
for thisDate, thisPath in zip(dateLs, dataPathLs):
    data = pd.read_pickle(thisPath)
    data = data.iloc[:, 1:]
    data = data.sort_values(by=['order', 'innerSeq'])
    if 'mrstaat' in data.columns:
        data["mrstaat"] = data.groupby(['order'])['mrstaat'].transform('first')
        data["mrstauc"] = data.groupby(['order'])['mrstauc'].transform('first')
        data["mrsb90"] = data.groupby(['order'])['mrsb90'].transform('first')
        data["mrss90"] = data.groupby(['order'])['mrss90'].transform('first')
        data["aaa"] = data.groupby(['order'])['aaa'].transform('first')
    data["ars"] = data.groupby(['order'])['ars'].transform('first')
    data["sdd"] = data.groupby(['order'])['sdd'].transform('first')
    
    data = data[data['updateType'] == 4]
    data = data[data['secid'].isin(add['secid'].unique())]
    print('1. Loading Data ' + thisDate )
    if data[data['absFilledThisUpdate'] == 0].shape[0] != 0:
        print('There are stocks with zero trade size')
        print(data[data['absFilledThisUpdate'] == 0].groupby(['colo', 'accCode'])['secid'].size())
        data = data[data['absFilledThisUpdate'] != 0]
    if data[data['beta_60'].isnull()].shape[0] != 0:
        print('There are stocks with null beta')
        print(data[data['beta_60'].isnull()])
        data = data[~data['beta_60'].isnull()]
    data['max_trade'] = data.groupby('order')['absOrderSizeCumFilled'].transform('max')
    data['last'] = 0
    data.loc[data['max_trade'] == data['absOrderSizeCumFilled'], 'last'] = 1

    data["buyRet"] = np.where(data["orderDirection"].isin([1, 2]), data["adjMid_F90s"] / data["tradePrice"] - 1, np.nan)
    data["buyRet1"] = np.where(data["orderDirection"].isin([1, 2]), data["adjMid_F300s"] / data["tradePrice"] - 1, np.nan)
    data["sellRet"] = np.where(data["orderDirection"].isin([-1, -2]), data["tradePrice"] / data["adjMid_F90s"] - 1, np.nan)
    data["sellRet1"] = np.where(data["orderDirection"].isin([-1, -2]), data["tradePrice"] / data["adjMid_F300s"] - 1, np.nan)
    data["indexRet"] = data["indexClose_F90s"]/data["indexClose"] - 1
    data["indexRet1"] = data["indexClose_F300s"]/data["indexClose"] - 1
    data["buyAlpha"] = np.where(data["orderDirection"].isin([1, 2]), data["buyRet"] - data["indexRet"] * data["beta_60"], np.nan)
    data["buyAlpha1"] = np.where(data["orderDirection"].isin([1, 2]), data["buyRet1"] - data["indexRet1"] * data["beta_60"], np.nan)
    data["sellAlpha"] = np.where(data["orderDirection"].isin([-1, -2]), data["sellRet"] + data["indexRet"] * data["beta_60"], np.nan)
    data["sellAlpha1"] = np.where(data["orderDirection"].isin([-1, -2]), data["sellRet1"] + data["indexRet1"] * data["beta_60"], np.nan)
    data["buyNum"] = np.where((data["orderDirection"].isin([1, 2])) & (data['last'] == 1), 1, 0)
    data["sellNum"] = np.where((data["orderDirection"].isin([-1, -2])) & (data['last'] == 1), 1, 0)
    data['server_account'] = data['colo'].apply(lambda x: x.replace('_', '')) + '_' + data['accCode'].astype(str)
    df += [data]
df = pd.concat(df, sort=False)

print('2. Orders with nan ars in updateType 0')
if df[df['ars'].isnull()].shape[0] != 0:
    print(df[df['ars'].isnull()])
    df = df[~df['ars'].isnull()]
df.loc[(df['date'] <= 20201013) & (df['ars'].isin([121, 131])), 'mrstauc'] = 1000
df.loc[(df['date'] <= 20201013) & (df['ars'].isin([221, 231])), 'mrstauc'] = 2000
df.loc[(df['date'] <= 20201013) & (df['ars'].isin([321, 331])), 'mrstauc'] = 3000
df.loc[(df['date'] <= 20201013) & (~df['ars'].isin([121, 221, 321, 131, 231, 331])), 'mrstauc'] = 0
df.loc[(df['date'] <= 20201013) & (df['mrstauc'].isin([1000, 2000, 3000])), 'mrstaat'] = 3000
df.loc[(df['date'] <= 20201013) & (df['mrstauc'] == 0), 'mrstaat'] = 1000

print('3. Current strategy status')
if 2 in df['mrstauc'].unique():
    print(df[df['mrstauc'] == 2].groupby('mrstaat')['mrstauc'].unique())
    df.loc[df['mrstauc'] == 2, 'mrstauc'] = 0
print(df.groupby('mrstaat')['mrstauc'].unique())

print('4. Strange strategy')
if df[(df["mrstaat"].isnull()) | (df['mrstaat'] == 0) | (df['mrstaat'] == 2000)].shape[0] != 0:
    print('1) null mrstaat value')
    print(df[(df["mrstaat"].isnull())][['date', 'secid', 'vai', 'sdd', 'absFilledThisUpdate', 'colo', 'accCode', 'mrstaat', 'mrstauc', 'ars']])
    print(df[(df["mrstaat"].isnull())].groupby(['date', 'colo', 'accCode'])['secid'].size())
    print('2) 0 mrstaat value')
    print(df[(df["mrstaat"] == 0)][['date', 'secid', 'vai', 'sdd', 'absFilledThisUpdate', 'colo', 'accCode', 'mrstaat', 'mrstauc', 'ars']])
    print('3) 2000 mrstaat value')
    print(df[(df["mrstaat"] == 2000)][['date', 'secid', 'vai', 'sdd', 'absFilledThisUpdate', 'colo', 'accCode', 'mrstaat', 'mrstauc', 'ars']])
df = df[(~df["mrstaat"].isnull()) & (df['mrstaat'] != 0) & (df['mrstaat'] != 2000)]

if 'mrsb90' in df.columns:
    df['m1'] = df['mrstaat'].apply(lambda x: x - (x // 10000) * 10000)
    df['m2'] = df['mrstauc'].apply(lambda x: x - (x // 10000) * 10000)
    if df[df['mrsb90'] == '-'].shape[0] != 0:
        print('There are ticks with mrsb90 value -')
        print(df[df['mrsb90'] == '-'][['date', 'secid', 'vai', 'sdd', 'absFilledThisUpdate', 'colo', 'accCode', 'mrstaat', 'mrstauc', 'aaa', 'ars']])
        df = df[df['mrsb90'] != '-']
    if df[df['aaa'] == '-'].shape[0] != 0:
        print('There are ticks with aaa value -')
        print(df[df['aaa'] == '-'][['date', 'secid', 'vai', 'sdd', 'absFilledThisUpdate', 'colo', 'accCode', 'mrstaat', 'mrstauc', 'aaa', 'ars']])
        df = df[df['aaa'] != '-']   
    df['mrsb90'] = df['mrsb90'].astype(float)
    df['aaa'] = df['aaa'].astype(float)
    df.loc[(df['orderDirection'] >= 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrsb90']) < 1e-12), 'mrstauc'] = \
    df.loc[(df['orderDirection'] >= 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrsb90']) < 1e-12), 'm2']

    df.loc[(df['orderDirection'] >= 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrsb90']) < 1e-12), 'mrstaat'] = \
    df.loc[(df['orderDirection'] >= 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrsb90']) < 1e-12), 'm1']

    df.loc[(df['orderDirection'] < 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrss90']) < 1e-12), 'mrstauc'] = \
    df.loc[(df['orderDirection'] < 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrss90']) < 1e-12), 'm2']

    df.loc[(df['orderDirection'] < 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrss90']) < 1e-12), 'mrstaat'] = \
    df.loc[(df['orderDirection'] < 1) &\
             (df['mrstaat'].isin([11000, 13000])) & (abs(df['aaa'] - df['mrss90']) < 1e-12), 'm1']   

df = pd.merge(df, add[['date', 'secid', 'index_name']], on=['date', 'secid'], how='left')

1. Loading Data 20201201
There are stocks with zero trade size
colo      accCode
zs_88_04  8924       1
Name: secid, dtype: int64
1. Loading Data 20201202
2. Orders with nan ars in updateType 0
3. Current strategy status
mrstaat
1000.0                                                 [0.0]
3000.0                              [1000.0, 2000.0, 3000.0]
11000.0                          [10000.0, 20000.0, 30000.0]
13000.0    [11000.0, 31000.0, 22000.0, 21000.0, 12000.0, ...
Name: mrstauc, dtype: object
4. Strange strategy

C:\Users\win\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [93]:
df3 = df[df['secid'].isin(CSI1000_group1 + CSI1000_group2)]
rdf = df3[df3['accCode'] == 5456]
rdf['order_type'] = np.where(rdf['ars'] == 1, 'take', np.where(
rdf['ars'] == 2, 'improved-NBBO make', 'on-NBBO make'))
rdf['duration'] = np.where(rdf['date'] == 20201201, '20201201-20201201', '20201202-20201202')
rdf['tradeNtl'] = rdf['tradePrice']*rdf['absFilledThisUpdate']
rdf['Side'] = np.where(rdf['orderDirection'] == 1, 'Buy', 'Sell')
rdf['F90s_return'] = np.where(rdf['Side'] == 'Buy', rdf['buyRet'], rdf['sellRet'])
rdf['F300s_return'] = np.where(rdf['Side'] == 'Buy', rdf['buyRet1'], rdf['sellRet1'])

rdf['sumNtl'] = rdf.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['tradeNtl'].transform(sum)
rdf['sum_return'] = rdf['F90s_return'] * rdf['tradeNtl']
rdf['sum_return'] = rdf.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['sum_return'].transform(sum)
rdf['F90s_return'] = rdf['sum_return'] / rdf['sumNtl']
rdf['sum_return1'] = rdf['F300s_return'] * rdf['tradeNtl']
rdf['sum_return1'] = rdf.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['sum_return1'].transform(sum)
rdf['F300s_return'] = rdf['sum_return1'] / rdf['sumNtl']
ff = rdf.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['F90s_return'].first().reset_index()
f = pd.merge(f, ff, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
ff = rdf.groupby(['duration', 'Side', 'order_type', 'accCode', 'index_name'])['F300s_return'].first().reset_index()
f = pd.merge(f, ff, on=['duration', 'Side', 'order_type', 'accCode', 'index_name'])
HTML(f.groupby(['duration', 'Side',  'index_name', 'accCode', 'order_type']).first().to_html())

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
rdf[(rdf['ars'] == 3) & (rdf['Side'] == 'Sell')]['sellRet'].describe()*10000

count    460000.000000
mean          4.588213
std          24.459948
min         -81.906095
25%          -4.356799
50%           4.453021
75%          15.500324
max          53.444150
Name: sellRet, dtype: float64

In [40]:
rdf[(rdf['ars'] == 3) & (rdf['Side'] == 'Sell')]['tradeNtl'].describe()

count        46.000000
mean      11842.739130
std       18440.466495
min        1589.000000
25%        3296.500000
50%        9697.000000
75%       11387.250000
max      117720.000000
Name: tradeNtl, dtype: float64

In [39]:
rdf[(rdf['ars'] == 2) & (rdf['Side'] == 'Sell')]['sellRet'].describe()*10000

count    200000.000000
mean          3.747541
std          26.769662
min         -57.197988
25%          -1.179508
50%          13.193924
75%          19.746507
max          30.210381
Name: sellRet, dtype: float64

In [50]:
rdf[(rdf['ars'] == 2) & (rdf['Side'] == 'Sell') & (rdf['sellRet'] < -0.0057)]

,aaa,absFilledThisUpdate,absOrderSize,absOrderSizeCumFilled,accCode,ars,caamd,cancellationPending,cfe,clock,clockAtArrival,cumSharesBought,cumSharesBuyInserted,cumSharesSellInserted,cumSharesSold,date,finalState,gfe,hee,insertedShortOrder,insertionPending,internalId,inv_L,inv_L0,inv_S,inv_S0,l4tr,locateShares,locateSharesTotal,mfe,mra100,mrb100,mrm,mrm25,mrmum,mrrlma,mrsb300,mrsb90,mrss300,mrss90,mrstaat,mrstauc,mrstaum,mrv,ms,mse,mt,mta,mv,orderDirection,orderId,orderOutstanding,orderPrice,orderSysId,sdd,secid,sequenceNo,session,threadId,totalActions,totalCanceled,tradeId,tradePrice,underlyingIndex,updateType,vai,zipFile,colo,test,order,firstUpdateType,insertNum,innerSeq,firstClock,indexCat,beta_60,mdStartClock,mdClockAtArrival,adjMid_F30s,adjMid_F90s,adjMid_F300s,indexClose,indexClose_F30s,indexClose_F90s,indexClose_F300s,max_trade,last,buyRet,buyRet1,sellRet,sellRet1,indexRet,indexRet1,buyAlpha,buyAlpha1,sellAlpha,sellAlpha1,buyNum,sellNum,server_account,m1,m2,index_name,order_type,duration,tradeNtl,Side,F90s_return,F300s_return,sumNtl,sum_return,sum_return1
79551,0.000987,200.0,200.0,200.0,5456,2.0,1.606787e+15,0.0,786017.0906,1.606787e+15,1.606787e+15,0.0,0.0,800.0,400.0,20201201,1.0,786016.0906,-1.0,0.0,0.0,118.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,14424.0,14389.0,-0.001001,0.000519,1.0,-0.001187,-1.0,-0.002047,-1.0,-0.001506,1000.0,0.0,0.0,59600.0,09:35:52.030187,0.0,-1.0,-1.0,4843356.53,-1.0,868900387.0,0.0,144.28,NaN,93500320.0,2300613.0,11390198.0,0,14023.0,128.0,30.0,1.01e+14,144.28,852,4.0,59000.0,logs_20201201_zs_54_01_day_5456,zs_54_01,53090,53088,0.0,1,654878,1.606787e+15,1000852,1.587835,1.606787e+15,1.606787e+15,144.189167,145.11,143.49,6611.0734,6616.0573,6623.8237,6636.132,200.0,1,NaN,NaN,-0.00572,0.005506,0.001929,0.00379,NaN,NaN,-0.002657,0.011524,0,1,zs5401_5456,1000.0,0.0,CSI1000,improved-NBBO make,1201-1201,28856.0,Sell,0.000207,-0.001991,496358.2,102.544775,-988.411873

In [51]:
rdf[(rdf['ars'] == 3) & (rdf['Side'] == 'Sell') & (rdf['sellRet'] < -0.0081)]

,aaa,absFilledThisUpdate,absOrderSize,absOrderSizeCumFilled,accCode,ars,caamd,cancellationPending,cfe,clock,clockAtArrival,cumSharesBought,cumSharesBuyInserted,cumSharesSellInserted,cumSharesSold,date,finalState,gfe,hee,insertedShortOrder,insertionPending,internalId,inv_L,inv_L0,inv_S,inv_S0,l4tr,locateShares,locateSharesTotal,mfe,mra100,mrb100,mrm,mrm25,mrmum,mrrlma,mrsb300,mrsb90,mrss300,mrss90,mrstaat,mrstauc,mrstaum,mrv,ms,mse,mt,mta,mv,orderDirection,orderId,orderOutstanding,orderPrice,orderSysId,sdd,secid,sequenceNo,session,threadId,totalActions,totalCanceled,tradeId,tradePrice,underlyingIndex,updateType,vai,zipFile,colo,test,order,firstUpdateType,insertNum,innerSeq,firstClock,indexCat,beta_60,mdStartClock,mdClockAtArrival,adjMid_F30s,adjMid_F90s,adjMid_F300s,indexClose,indexClose_F30s,indexClose_F90s,indexClose_F300s,max_trade,last,buyRet,buyRet1,sellRet,sellRet1,indexRet,indexRet1,buyAlpha,buyAlpha1,sellAlpha,sellAlpha1,buyNum,sellNum,server_account,m1,m2,index_name,order_type,duration,tradeNtl,Side,F90s_return,F300s_return,sumNtl,sum_return,sum_return1
79424,0.00075,500.0,500.0,500.0,5456,3.0,1.606787e+15,0.0,482722.2118,1.606787e+15,1.606787e+15,1100.0,2200.0,1000.0,500.0,20201201,1.0,482721.2118,-1.0,0.0,0.0,305.0,1100.0,1100.0,0.0,0.0,0.0,0.0,0.0,-1.0,2789.0,2788.0,-0.00037,0.002262,1.0,-0.00179,-1.0,-0.001497,-1.0,-0.000652,1000.0,0.0,0.0,401200.0,09:40:22.242211,0.0,-1.0,-1.0,4997585.49,-1.0,868900975.0,0.0,27.89,NaN,93942440.0,2002918.0,17248127.0,0,14023.0,310.0,78.0,1.02e+14,27.89,852,4.0,400300.0,logs_20201201_zs_54_01_day_5456,zs_54_01,52917,52917,0.0,1,655376,1.606787e+15,1000852,0.75452,1.606787e+15,1.606787e+15,28.035333,28.120323,28.054545,6637.3654,6636.732,6638.0176,6629.7632,500.0,1,NaN,NaN,-0.008191,-0.005865,0.000098,-0.001145,NaN,NaN,-0.008116,-0.006729,0,1,zs5401_5456,1000.0,0.0,CSI1000,on-NBBO make,1201-1201,13945.0,Sell,0.001632,0.000058,544766.0,889.122309,31.585074

In [42]:
rdf[(rdf['ars'] == 2) & (rdf['Side'] == 'Sell')]['tradeNtl'].describe()

count        20.000000
mean      24817.910000
std       30956.752815
min        1621.000000
25%        7224.400000
50%       18681.000000
75%       28466.000000
max      142736.000000
Name: tradeNtl, dtype: float64

In [94]:
for i in ['fill_rate', 'cancel_rate']:
    f[i] = f[i].apply(lambda x: '%.1f%%'%(x*100))
for i in ['orderNtl', 'tradeNtl']:
    f[i] = (f[i]/1000).astype(int)
for i in ['cancel_duration_med', 'cancel_duration_90p']:
    f[i] = (f[i]/1000000).apply(lambda x: '%.0f'%(x))
for i in ['mrm_return', 'F90s_return', 'F300s_return']:
     f[i] = f[i].apply(lambda x: '%.2f'%(x*10000))
f

,duration,Side,order_type,accCode,index_name,orderNtl,tradeNtl,fill_rate,cancel_rate,cancel_duration_med,cancel_duration_90p,mrm_return,F90s_return,F300s_return
0,20201201-20201201,Buy,improved-NBBO make,5456,CSI1000,1673,491,29.3%,74.5%,10,57,8.72,13.87,32.70
1,20201201-20201201,Buy,on-NBBO make,5456,CSI1000,1305,417,32.0%,77.3%,12,51,6.43,16.98,30.40
2,20201201-20201201,Buy,take,5456,CSI1000,710,617,86.8%,8.6%,1,1,0.72,18.36,45.96
3,20201201-20201201,Sell,improved-NBBO make,5456,CSI1000,1477,496,33.6%,67.3%,11,58,16.75,2.07,-19.91
4,20201201-20201201,Sell,on-NBBO make,5456,CSI1000,1563,544,34.8%,64.4%,18,102,17.64,16.32,0.58
5,20201201-20201201,Sell,take,5456,CSI1000,885,830,93.7%,3.8%,1,3,5.92,7.45,-15.81
6,20201202-20201202,Buy,improved-NBBO make,5456,CSI1000,1964,495,25.2%,77.1%,5,31,9.84,0.88,-36.50
7,20201202-20201202,Buy,on-NBBO make,5456,CSI1000,2701,582,21.6%,80.4%,15,52,15.77,9.66,0.81
8,20201202-20201202,Buy,take,5456,CSI1000,582,561,96.5%,4.7%,1,1,2.19,2.87,2.41
9,20201202-20201202,Sell,improved-NBBO make,5456,CSI1000,1939,532,27.5%,74.6%,6,77,17.03,12.62,-6.16
10,20201202-20201202,Sell,on-NBBO make,5456,CSI1000,2631,574,21.8%,77.1%,17,66,13.05,1.36,20.20
11,20201202-20201202,Sell,take,5456,CSI1000,608,556,91.4%,9.8%,3,5,-1.19,13.69,45.58

In [95]:
f['stockGroup'] = np.where(f['order_type'].isin(['improved-NBBO make', 'on-NBBO make']), 'groupA', 'groupB')
f = f.rename(columns={'order_type':'orderType', 'fill_rate':'fillRate', 'cancel_rate':'cancelRate', 'mrm_return':'Mta'})
HTML(f.groupby(['duration', 'Side',  'index_name', 'accCode', 'stockGroup', 'orderType'])['orderNtl', 'tradeNtl', 'cancelRate', 'cancel_duration_med', 'cancel_duration_90p', 'fillRate', 'Mta', 'F90s_return', 'F300s_return'].first().to_html())

In [111]:
rdf[(rdf['date'] == 20201202) & (rdf['ars'] == 2) & (rdf['Side'] == 'Buy')].groupby('secid')['F300s_return'].describe() * 10000

,count,mean,std,min,25%,50%,75%,max
secid,,,,,,,,
2002459.0,50000.0,-66.619632,0.000000,-66.619632,-66.619632,-66.619632,-66.619632,-66.619632
2002597.0,20000.0,3.214476,12.955816,-5.946669,-1.366096,3.214476,7.795049,12.375622
2002605.0,10000.0,77.494139,NaN,77.494139,77.494139,77.494139,77.494139,77.494139
2002918.0,50000.0,1.535267,24.872094,-35.093200,-3.427005,-3.427005,24.811773,24.811773
2002959.0,10000.0,-102.416841,NaN,-102.416841,-102.416841,-102.416841,-102.416841,-102.416841
2300073.0,30000.0,-72.495131,0.000000,-72.495131,-72.495131,-72.495131,-72.495131,-72.495131
2300676.0,10000.0,11.764481,NaN,11.764481,11.764481,11.764481,11.764481,11.764481
2300709.0,20000.0,-14.363545,53.293394,-52.047665,-33.205605,-14.363545,4.478516,23.320576
2300788.0,10000.0,28.666193,NaN,28.666193,28.666193,28.666193,28.666193,28.666193

In [118]:
rdf[(rdf['date'] == 20201202) & (rdf['ars'] == 2) & (rdf['Side'] == 'Buy')]['sdd']

332263     93959170.0
332264     93959170.0
332265     93959170.0
332266     93959170.0
332267     93959170.0
332292     95733490.0
332293     95738540.0
332295     93653770.0
332354     93212560.0
332355     93212560.0
332357     93323730.0
332358     93323730.0
332362     94731150.0
332364     93710920.0
332393     94737560.0
332394     94737560.0
332395     94737560.0
332506    102615620.0
332521     93212220.0
332522     94015620.0
332544    100613860.0
Name: sdd, dtype: float64

In [112]:
rdf[(rdf['date'] == 20201202) & (rdf['ars'] == 2) & (rdf['Side'] == 'Buy')].groupby('secid')['tradeNtl'].sum()

secid
2002459.0     82575.0
2002597.0     45025.0
2002605.0     16752.0
2002918.0     55422.0
2002959.0     44052.0
2300073.0    143251.0
2300676.0     78414.0
2300709.0     24924.0
2300788.0      4690.0
Name: tradeNtl, dtype: float64