In [2]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 300)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

startDate = '20201221'
endDate = '20201224'

readPath = r'L:\orderLog\data\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
print(dataPathLs)

rawOrderLog = []
for thisPath in dataPathLs:
    data = pickle.load(open(thisPath, 'rb'))
    data = data.rename(columns={'mdClockAtArrival': 'caamd'})
    rawOrderLog += [data]
rawOrderLog = pd.concat(rawOrderLog, sort=False)

# readPath = r'\\192.168.10.28\equityTradeLogs'
# dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
# dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
# dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

# rawOrderLog = []
# for thisPath in dataPathLs:
#     data = pd.read_csv(thisPath)
#     data = data.rename(columns={'mdClockAtArrival': 'caamd'})
#     rawOrderLog += [data]
# rawOrderLog = pd.concat(rawOrderLog, sort=False)

for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
            'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
    rawOrderLog[col] = rawOrderLog[col].fillna(0).astype('int64')   
rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]

if rawOrderLog[rawOrderLog.duplicated(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep=False)].shape[0] != 0:
    display('There are accounts with duplicated ticks:')
    display(rawOrderLog[rawOrderLog.duplicated(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep=False)]\
.groupby(['date', 'colo', 'accCode'])['ars'].size())
    rawOrderLog = rawOrderLog.drop_duplicates(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                    'orderDirection', 'absOrderSize'], keep='first')

display('There are ticks with orderDirection 0')
display(rawOrderLog[rawOrderLog['orderDirection'] == 0][['date', 'colo', 'accCode', \
            'secid', 'vai', 'updateType', 'sdd', 'orderDirection', 'absOrderSize', 'internalId', 'orderId']])

assert(rawOrderLog[rawOrderLog['updateType'] == 0][rawOrderLog[rawOrderLog['updateType'] == 0]\
                                                   .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                'vai', 'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
try:
    assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
except:
    print('There are orders with all things same except sdd')
    print(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId'], keep=False)])
    assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'absOrderSize', 'internalId', 'sdd'], keep=False)].shape[0] == 0)
try:
    assert(sum(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() != 1) == 0) 
except:
    print('There are orders with same internalId but different orderId other than accCode 8856 case')
    print(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique()[rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() > 1])

r2 = rawOrderLog[(rawOrderLog['accCode'] != 8856) & (rawOrderLog['orderDirection'] != 0)]
r1 = rawOrderLog[(rawOrderLog['accCode'] == 8856) & (rawOrderLog['orderDirection'] != 0)]
r1['test'] = r1.groupby(['date', 'colo', 'accCode', 'secid', 
            'orderDirection', 'absOrderSize']).grouper.group_info[0]
r1 = r1.sort_values(by=['test', 'clockAtArrival'])
r1.loc[r1['updateType'] != 0, 'vai'] = np.nan
r1['vai'] = r1.groupby('test')['vai'].ffill()
r2['test'] = r2.groupby(['date', 'colo', 'accCode', 'secid', 
            'orderDirection', 'absOrderSize', 'internalId']).grouper.group_info[0]
r2 = r2.sort_values(by=['test', 'clockAtArrival'])
r2.loc[r2['updateType'] != 0, 'vai'] = np.nan
r2['vai'] = r2.groupby('test')['vai'].ffill()
assert(sum(r1[r1['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
try:
    assert(sum(r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
except:
    a = r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique()[r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1].reset_index()
    print('There are orders in 8856 with same internalId and various orderId!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    print(pd.merge(r2, a[['test', 'vai']], on=['test', 'vai'], how='inner')[['secid', 'accCode', 'colo', 'vai', 'updateType', 'sdd', 'internalId', 'orderId', 'absOrderSize', 'absFilledThisUpdate', 'absOrderSizeCumFilled', 'orderPrice', 'tradePrice']])
orderLog = pd.concat([r1, r2])
del r1
del r2    

orderLog = orderLog.sort_values(by=['date', 'colo', 'accCode', 'secid', 'vai', 'clockAtArrival']).reset_index(drop=True)
orderLog['clock'] = orderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
orderLog["broker"] = np.where(orderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), orderLog['accCode'] // 10000, orderLog['accCode'] // 100)
orderLog['colo_broker'] = orderLog['colo'].str[:2] + '_' + orderLog['broker'].astype('str')
orderLog['order'] = orderLog.groupby(['date', 'colo', 'accCode', 'secid', 'vai', 'orderDirection', 'absOrderSize', 'internalId']).grouper.group_info[0]
orderLog['group'] = orderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
orderLog['startClock'] = orderLog.groupby(['order'])['clockAtArrival'].transform('first')
orderLog['duration'] = orderLog['clockAtArrival'] - orderLog['startClock']
orderLog['orderPrice'] = orderLog['orderPrice'].apply(lambda x: round(x, 2))
orderLog['tradePrice'] = orderLog['tradePrice'].apply(lambda x: round(x, 2))
orderLog['orderDirection1'] = np.where(orderLog["orderDirection"] == -2, -1, np.where(
    orderLog["orderDirection"] == 2, 1, orderLog["orderDirection"]))
orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')
orderLog['sdd'] = orderLog.groupby('order')['sdd'].transform('first')
orderLog['caamd'] = orderLog.groupby('order')['caamd'].transform('first')
df = orderLog.copy()


### Assertion 1:  make sure same direction in same date, secid, vai
print('=======================================================================================')
print('1. same date, secid, vai: same direction')
taking = orderLog[orderLog['ars'].isin([1, 7])]
making = orderLog[orderLog['ars'].isin([2, 3])]
else_orders = orderLog[~(orderLog['ars'].isin([1, 2, 3, 7]))]
display('orders with abnormal ars values')
display(else_orders[else_orders['updateType'] == 0].groupby('ars')['date'].size().sort_values(ascending=False))
display(else_orders[else_orders['updateType'] == 0].groupby('accCode')['date'].size().sort_values(ascending=False))
# else_orders[else_orders['updateType'] == 0].groupby('ars')['date'].size().sort_values(ascending=False).reset_index()['ars'].values
# kk = else_orders[else_orders['updateType'] == 0].groupby('accCode')['date'].size().sort_values(ascending=False)
# kk[kk > 20].index.values
taking['directNum'] = taking.groupby(['date', 'secid', 'vai', 'sdd'])['orderDirection1'].transform('nunique')

if len(taking[taking['directNum'] != 1]) > 0:
    print('opposite direction for same date, same secid, same vai')
    display(taking[(taking['directNum'] != 1) & (taking['updateType'] == 0)].groupby(['accCode'])['orderDirection'].size())
    taking = taking[taking['directNum'] == 1]

assert((taking.groupby(['date', 'secid', 'vai', 'sdd'])['orderDirection1'].nunique() == 1).all() == True)
orderLog = pd.concat([taking, making]).sort_values(by=['date', 'colo', 'accCode', 'secid', 'vai', 'clockAtArrival']).reset_index(drop=True)

## Assertion 2:  make sure each account, secid, vai only has one insertion
print('=======================================================================================')
print('2. same date, secid, vai, accCode: one insertion')
a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'colo', 'accCode', 'secid', 'vai', 'sdd'])['clockAtArrival'].count()
if len(a[a > 1]) > 0:
    print('more than one insertion at same time')
    a = a[a>1].reset_index()
    display(a)
    display(a.groupby(['accCode'])['date'].size())
    orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                             np.where(orderLog['mse'] == 100, 1, 0), np.nan)
orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


### Assertion 3:  check IPO stocks selling status
print('=======================================================================================')
print('3. IPO stocks selling (ars = 301, 302)')
if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
    kk = orderLog[orderLog['ars'].isin([301, 302])]
    print(kk)
    try:
        assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
        print('we only sell, never buy')
    except:
        print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk[kk['orderDirection1'] == 1])
    kk1 = kk[kk['updateType'] == 0]
    kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
    kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
    kk1['diff'] = kk1['diff'].fillna(0)
    try:
        assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
        print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
    except:
        print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk1[kk1['diff'] < 10e6])
    kk2 = kk[(kk['updateType'] == 1)]
    try:
        assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
        print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
    except:
        print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk2[kk2['duration'] < 3e6])


### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
print('=======================================================================================')
print('4. updateType 7 orders')
if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
    assert(orderLog[orderLog['updateType'] == 7].groupby(['date', 'accCode'])['order'].nunique().max() < 20)
    assert(orderLog[orderLog['updateType'] == 7].groupby(['date', 'accCode'])['order'].nunique().sum() < 100)

### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
print('=======================================================================================')
print('5. updateType 6 orders')
k1 = orderLog[orderLog['updateType'] == 6].groupby(['date', 'accCode'])['order'].nunique().reset_index()
k2 = orderLog.groupby(['date', 'accCode'])['order'].nunique().reset_index()
k = pd.merge(k1, k2, on=['date', 'accCode'], how='left')
k['prob'] = k['order_x']/k['order_y']
try:
    assert(sum(k['prob'] >= 0.05) == 0)
except:
    print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    print(k[k['prob'] >= 0.05])

### Assertion 6: check CYB orders, make sure all CYB stocks have absOrderSize < 30w
print('=======================================================================================')
print('6. CYB stocks order size < 30w')
try:
    cyb = orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)].groupby('date')['absOrderSize'].max().reset_index()
    assert(cyb[cyb['absOrderSize'] > 300000].shape[0] == 0)
except:
    print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    
     
### Assertion 7:  make sure there is no unexpected updateType 
print('=======================================================================================')
print('7. unexpected updateType')
def getTuple(x):
    return tuple(i for i in x)

checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                     np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                               (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                               (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                     np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))
display(checkLog[checkLog['status'] == 3].groupby('updateType')['order'].size())
orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

### Assertion 8:  make sure status==0 got all traded
print('=======================================================================================')
print('8. status == 0: all traded')
a = orderLog[orderLog['status'] == 0]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in total trade, any fill != total cases')
display(a[a['filled'] != a['total']])
if a[a['filled'] != a['total']].shape[0] > 0:
    removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 9:  make sure status==1 got partial traded
print('=======================================================================================')
print('9. status == 1: partial traded')
a = orderLog[orderLog['status'] == 1]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
    removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    
### Assertion 10: make sure no cancellation within 1 sec
print('=======================================================================================')
print('10. no cancellation within 1 sec')
a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
print('any cancellation within 1 sec')
display(a)
if a.shape[0] > 0:
    removeOrderLs = a['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


### Assertion 11: make sure no order has shares > 80w or notional > 800w
print('=======================================================================================')
print('11. Orders with size > 80w or notional > 800w')
orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
    print('some order quantity are > 80w')
    print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                         'orderNtl', 'orderDirection', 'clock', 'order']])
            
if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
    print('some order ntl are > 800w')
    print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                      'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                      "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

orderLog["mrsb90"] = orderLog.groupby(['order'])['mrsb90'].transform('first')
orderLog["mrss90"] = orderLog.groupby(['order'])['mrss90'].transform('first')
orderLog["aaa"] = orderLog.groupby(['order'])['aaa'].transform('first')

orderLog['m1'] = orderLog['mrstaat'].apply(lambda x: x - (x // 10000) * 10000)
orderLog['m2'] = orderLog['mrstauc'].apply(lambda x: x - (x // 10000) * 10000)
try:
    orderLog['mrsb90'] = orderLog['mrsb90'].astype(float)
except:
    print(orderLog[orderLog['mrsb90'] == '-'])
    orderLog = orderLog[orderLog['mrsb90'] != '-']
    orderLog['mrsb90'] = orderLog['mrsb90'].astype(float)
try:
    orderLog['mrss90'] = orderLog['mrss90'].astype(float)
except:
    print(orderLog[orderLog['mrss90'] == '-'])
    orderLog = orderLog[orderLog['mrss90'] != '-']
    orderLog['mrss90'] = orderLog['mrss90'].astype(float)
try:
    orderLog['aaa'] = orderLog['aaa'].astype(float)
except:
    print(orderLog[orderLog['aaa'] == '-'])
    orderLog = orderLog[orderLog['aaa'] != '-']
    orderLog['aaa'] = orderLog['aaa'].astype(float)
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstauc'] = \
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm2']

orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstaat'] = \
orderLog.loc[(orderLog['orderDirection'] >= 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm1']

orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstauc'] = \
orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm2']

orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstaat'] = \
orderLog.loc[(orderLog['orderDirection'] < 1) &\
         (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm1']    

orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
orderLog["mrstaat"] = orderLog.groupby(['order'])['mrstaat'].transform('first')
orderLog["mrstauc"] = orderLog.groupby(['order'])['mrstauc'].transform('first')
orderLog['sta'] = np.where(orderLog['mrstaat'] == 1000, '1. staone', np.where(
orderLog['mrstaat'] == 3000, '2. statwo', np.where(
orderLog['mrstaat'].isin([11000, 13000]), '3. sta300', 'else')))
display(orderLog[orderLog['sta'] == 'else'][['date', 'secid', 'colo', 'accCode', 'updateType', 'vai', 'absOrderSize', 'orderDirection', 'mrstaat', 'mrstauc', 'sdd', 'ApplSeqNum', 'sta']])
orderLog = orderLog[orderLog['mrstaat'].isin([11000, 13000, 1000, 3000])]
display(orderLog[orderLog['updateType'] == 0].groupby(['mrstaat', 'mrstauc'])['date'].size())

['L:\\orderLog\\data\\20201221.pkl' 'L:\\orderLog\\data\\20201222.pkl'
 'L:\\orderLog\\data\\20201223.pkl' 'L:\\orderLog\\data\\20201224.pkl']

'There are ticks with orderDirection 0'

,date,colo,accCode,secid,vai,updateType,sdd,orderDirection,absOrderSize,internalId,orderId
253781,20201221,zs_64_01,6480,2000055,-1,1,53712.0,0,0,-1.0,1.802910e+05
261412,20201221,zs_66_01,6634,2000521,-1,7,34692.0,0,0,-1.0,-1.000000e+00
267029,20201221,zs_94_03,9448,2000559,-1,7,34464.0,0,0,-1.0,-1.000000e+00
302417,20201221,zs_64_01,6480,2000920,-1,7,53526.0,0,0,-1.0,-1.000000e+00
303451,20201221,zs_92_02,9243,2000925,-1,7,48266.0,0,0,-1.0,-1.000000e+00
309279,20201221,zs_66_01,6634,2000985,-1,7,34948.0,0,0,-1.0,-1.000000e+00
322662,20201221,zs_96_08,9685,2002043,-1,1,41216.0,0,0,-1.0,7.221449e+17
355048,20201221,zs_66_01,6634,2002248,-1,1,49085.0,0,0,-1.0,1.812810e+10
363039,20201221,zs_64_01,6480,2002321,-1,1,40367.0,0,0,-1.0,1.027570e+05
368342,20201221,zs_52_09,5291,2002375,-1,1,39321.0,0,0,-1.0,8.751160e+05
368853,20201221,zs_66_01,6634,2002381,-1,1,53486.0,0,0,-1.0,1.812813e+10
392331,20201221,zs_52_09,5291,2002544,-1,1,47718.0,0,0,-1.0,1.118259e+06
504041,20201221,zs_64_01,6480,2300243,-1,1,52567.0,0,0,-1.0,1.702250e+05
551876,20201221,zs_52_09,5291,2300474,-1,1,53728.0,0,0,-1.0,1.528070e+06
558855,20201221,zs_64_01,6480,2300490,-1,1,47685.0,0,0,-1.0,1.194800e+05
569344,20201221,zs_66_01,6634,2300535,-1,1,53740.0,0,0,-1.0,1.812813e+10
572345,20201221,zs_64_01,6480,2300545,-1,1,52663.0,0,0,-1.0,1.710560e+05
608925,20201221,zs_64_01,6480,2300680,-1,1,50550.0,0,0,-1.0,1.443290e+05
634337,20201221,zs_64_01,6480,2300756,-1,1,40434.0,0,0,-1.0,1.034730e+05
965884,20201222,zs_52_09,5291,2000009,-1,7,34231.0,0,0,-1.0,-1.000000e+00
979400,20201222,zs_66_01,6634,2000426,-1,1,48441.0,0,0,-1.0,1.812809e+10
992939,20201222,zs_52_09,5291,2000600,-1,7,53766.0,0,0,-1.0,-1.000000e+00
999908,20201222,zs_66_01,6634,2000655,-1,1,34208.0,0,0,-1.0,1.812800e+10
1002404,20201222,zs_92_01,9208,2000682,-1,1,48479.0,0,0,-1.0,8.250503e+09
1027444,20201222,zs_66_01,6634,2000888,-1,1,53168.0,0,0,-1.0,1.812814e+10
1094475,20201222,zs_96_08,9685,2002222,-1,1,47592.0,0,0,-1.0,7.221449e+17
1117857,20201222,zs_64_01,6480,2002350,-1,1,40849.0,0,0,-1.0,8.594600e+04
1154411,20201222,zs_64_01,6480,2002520,-1,1,52281.0,0,0,-1.0,1.500530e+05
1192211,20201222,zs_64_01,6480,2002703,-1,1,50896.0,0,0,-1.0,1.332180e+05
1196887,20201222,zs_66_01,6634,2002725,-1,1,40969.0,0,0,-1.0,1.812808e+10
1214837,20201222,zs_52_09,5291,2002815,-1,7,48152.0,0,0,-1.0,-1.000000e+00
1215730,20201222,zs_66_01,6634,2002817,-1,1,47440.0,0,0,-1.0,1.812808e+10
1293202,20201222,zs_66_01,6634,2300159,-1,7,34403.0,0,0,-1.0,-1.000000e+00
1424364,20201222,zs_64_01,6480,2300588,-1,1,37010.0,0,0,-1.0,4.855600e+04
1435382,20201222,zs_64_01,6480,2300621,-1,1,52887.0,0,0,-1.0,1.555830e+05
1457288,20201222,zs_64_01,6480,2300680,-1,1,52543.0,0,0,-1.0,1.538260e+05
1482986,20201222,zs_66_01,6634,2300743,-1,7,51422.0,0,0,-1.0,-1.000000e+00
1771010,20201223,zs_52_09,5291,2002013,-1,1,53379.0,0,0,-1.0,1.466053e+06
1807231,20201223,zs_64_01,6480,2002278,-1,1,47744.0,0,0,-1.0,1.156340e+05
1853611,20201223,zs_64_01,6480,2002652,-1,1,39917.0,0,0,-1.0,9.446500e+04
1915687,20201223,zs_54_01,5474,2300086,-1,7,35871.0,0,0,-1.0,-1.000000e+00
1935730,20201223,zs_64_01,6480,2300218,-1,1,53014.0,0,0,-1.0,1.694310e+05
1945727,20201223,zs_64_01,6480,2300273,-1,1,37019.0,0,0,-1.0,6.143900e+04
1980723,20201223,zs_64_01,6480,2300449,-1,1,34981.0,0,0,-1.0,2.815500e+04
2004107,20201223,zs_64_01,6480,2300542,-1,1,50019.0,0,0,-1.0,1.372330e+05
2019394,20201223,zs_66_01,6634,2300592,-1,1,50173.0,0,0,-1.0,1.812810e+10
2057589,20201223,zs_64_01,6480,2300736,-1,1,49390.0,0,0,-1.0,1.325320e+05
2436583,20201224,zs_64_01,6480,2000622,-1,1,48064.0,0,0,-1.0,1.162010e+05
2448623,20201224,zs_64_01,6480,2000721,-1,1,52413.0,0,0,-1.0,1.574720e+05
2547174,20201224,zs_54_01,5474,2002282,-1,1,48185.0,0,0,-1.0,8.689137e+08
2560689,20201224,zs_54_01,5474,2002360,-1,1,37983.0,0,0,-1.0,8.689086e+08
2583452,20201224,zs_54_01,5474,2002457,-1,1,48999.0,0,0,-1.0,8.689142e+08
2620467,20201224,zs_64_01,6480,2002634,-1,1,34989.0,0,0,-1.0,3.009500e+04
2652954,20201224,zs_64_01,6480,2002778,-1,1,39247.0,0,0,-1.0,8.701200e+04
2657560,20201224,zs_54_01,5474,2002799,-1,1,49731.0,0,0,-1.0,8.689149e+08
2678572,20201224,zs_64_01,6480,2002878,-1,1,35427.0,0,0,-1.0,3.846200e+04
2845015,20201224,zs_66_01,6634,2300475,-1,7,53339.0,0,0,-1.0,1.812814e+10
2860989,20201224,zs_64_01,6480,2300512,-1,1,37403.0,0,0,-1.0,6.712400e+04
2888325,20201224,zs_64_01,6480,2300583,-1,1,40029.0,0,0,-1.0,9.359500e+04

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

=======================================================================================
1. same date, secid, vai: same direction

'orders with abnormal ars values'

ars
0.0           593
18068920.0     25
3098216.0      22
18037006.0     11
3110663.0       8
2802520.0       8
3105378.0       7
3112860.0       5
3114659.0       4
3532722.0       2
3117942.0       2
3103427.0       2
3109533.0       1
3095409.0       1
3093885.0       1
2807523.0       1
Name: date, dtype: int64

accCode
966301    229
966701     20
9451       19
527701     18
523001     15
527301     15
522401     14
526901     14
968501     14
8854       13
9685       13
527601     13
529001     13
528401     13
523101     13
9454       13
6631       13
522201     13
528101     12
522901     12
9461       12
5470       12
528901     11
9471       11
522501     10
8886       10
529101     10
8865       10
522601      9
5276        9
5287        8
528701      8
5290        7
5275        7
5269        7
5291        7
966501      7
5474        6
5225        5
6683        5
6634        5
5229        5
6627        5
6623        5
5230        5
5289        5
5273        2
9448        2
5281        1
532801      1
537403      1
5326        1
5456        1
5264        1
9758        1
9655        1
7293        1
5222        1
Name: date, dtype: int64

opposite direction for same date, same secid, same vai

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

accCode
8943      1
8967      1
9461      2
9655      1
9765      2
526901    1
528701    1
Name: orderDirection, dtype: int64

=======================================================================================
2. same date, secid, vai, accCode: one insertion
99.74% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks order size < 30w
=======================================================================================
7. unexpected updateType

updateType
(0, 2, 1, 3, 4)           11
(0, 2, 4, 1)              14
(0, 2, 4, 1, 3, 4)        11
(0, 2, 4, 1, 4, 3, 4)      1
(0, 2, 6)                 30
(0, 6)                   216
Name: order, dtype: int64

=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled   total
263        378    1600    1700
6560      9442    5200    6500
12445    17152     700     900
17614    23967   17794   31200
21075    28158    3050   20000
34359    46299     100     500
47074    62152     800    3700
61925    80760     600     700
70925    92985   10620   16200
71910    95467    1500    2300
81654   109446     100     300
83118   111401   27070   39900
83310   111708   14600   15300
87313   117464    2600    3800
88945   119633      30    7800
92591   124903     900    1000
93234   125805     100     800
96641   131109   12500   19100
97444   132411   16000   19100
103373  141280    1000    2500
103692  141641     400     500
106723  145838    1500    8800
121934  167282    2800    3600
132956  181939    2000    2200
135152  184568    3200    3600
135293  184734     100     800
141950  193527   33900   50100
143149  195024    1600    3500
143225  195113    1300    1800
152264  207067    6360   10600
163416  220760     300     500
168209  228440     300    2200
192155  258055     200     700
208625  277732   31400   54300
217163  289657     100     700
217409  290341     200     300
217965  291935     300     500
218211  292637     200     700
218497  293271    4100    6900
220519  295644    5900    6500
223400  299865    6100   12200
227965  305886    2100   12000
228290  306315     100     400
228646  306792    1000    1600
229174  307652    1200    4000
232205  311915  154200  170100
234432  315239    4200    8000
241829  325703     100     200
248359  335285    5100    7200
258044  349854     100     200
258483  350391     200    1200
258687  350634     100     200
261664  354423    2900  120700
264924  358806    1400    1600
268269  363594     200    2800
273471  371004    1500    2100
277458  376691     200     800
284847  386068     200    2100
286095  387742   36000   56900
286731  388495    2800    3000
286941  388764   14200   21600
288323  390659    1200    2700
288728  391254    2300    2900
302470  408845     100     400
303214  410049    2600    3500
307363  415978    1000    9400
308644  417654     200     400
312842  423302       8    2800
319210  430607    1000    2100
336722  451502     300    1400
339846  456387     650    3400
342512  459622    6900    8400
343819  462097    1100    2500
354046  477141     100     200
355554  479146     500    2000
357827  482289    7000    7300
362428  488722    1100    6200
363609  490414     400    1300
364746  492010    1500    3800
366033  493959    2300    6200
366099  494068   40200  132600
369045  498473    2300    3400
372585  503470    1100    1600
383530  518800     600    1000
385891  522137     100     700
395099  535685     200     800
395991  536900   46500   65400
404036  547003     591    2000
404081  547075    3500    4600
404292  547434     900    5900
404449  547710    2300    5000
405093  548610     700    4400
405192  548759    5700    7500
405225  548814    2400    5000
405757  549454   76700   76800
406539  550304    4800   10300
407369  551193    2600    2900
413006  557943    1000    6500
414285  559652    1400    1600
416272  562349   23700   27000
416892  563201     288     400
435089  587355     900    1000
435293  587695    2500    4300
465352  626648     995    1500
493472  663475    1500    2600
499182  671248    1100    4500
499422  671585    4000    8800
499789  672114    3800    8900
501409  674255     900    5500
502339  675642    1400    1600
502629  676071    3800    5500
505313  680033    4400    5600
510814  687494     300     500
510996  687758    1200    2400
513583  691443    9700   15200
515333  693858     500   10500
518076  698279     500    1000
521261  702967    7500   16500
523611  706563      97    1600
531929  718670     100    1900
541927  732317     200    1800
542143  732750     100     300
544714  736725     100     300
544800  736900     300    2100
546722  739673     200     300

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [ApplSeqNum, aaa, absFilledThisUpdate, absOrderSize, absOrderSizeCumFilled, accCode, ars, caamd, cancellationPending, cfe, clock, clockAtArrival, cumSharesBought, cumSharesBuyInserted, cumSharesSellInserted, cumSharesSold, date, finalState, gfe, hee, insertedShortOrder, insertionPending, internalId, inv_L, inv_L0, inv_S, inv_S0, l4algoDebug, l4tr, locateShares, locateSharesTotal, mfe, mra100, mrb100, mrm, mrm25, mrmum, mrrlma, mrsb300, mrsb90, mrss300, mrss90, mrstaat, mrstauc, mrstaum, mrv, ms, mse, mt, mta, mv, orderDirection, orderId, orderOutstanding, orderPrice, orderSysId, sdd, secid, sequenceNo, session, threadId, totalActions, totalCanceled, tradeId, tradePrice, underlyingIndex, updateType, vai, zipFile, colo, caa_orderLog, start_time, Price, OrderQty, Side, statusLs, TradePriceLs, TradeQtyLs, beta_60, adjMid_F30s, adjMid_F90s, adjMid_F300s, indexClose, indexClose_F30s, indexClose_F90s, indexClose_F300s, resa, test, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

,date,secid,colo,accCode,updateType,vai,absOrderSize,orderDirection,mrstaat,mrstauc,sdd,ApplSeqNum,sta
4494,20201221,1600064,zt_96_09,966501,0,77292.0,200,1,NaN,NaN,145616000.0,NaN,else
107784,20201221,1600869,zs_52_06,5332,0,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107785,20201221,1600869,zs_52_06,5332,2,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107786,20201221,1600869,zs_52_06,5332,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107787,20201221,1600869,zs_52_06,5332,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107788,20201221,1600869,zs_52_06,5332,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107789,20201221,1600869,zs_52_06,5332,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107790,20201221,1600869,zt_94_06,9441,0,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107791,20201221,1600869,zt_94_06,9441,2,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107792,20201221,1600869,zt_94_06,9441,4,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107793,20201221,1600869,zt_52_10,522401,0,12439081.0,500,-1,2000.0,1000.0,133407000.0,0.0,else
107794,20201221,1600869,zt_52_10,522401,2,12439081.0,500,-1,2000.0,1000.0,133407000.0,0.0,else
107795,20201221,1600869,zt_52_10,522401,4,12439081.0,500,-1,2000.0,1000.0,133407000.0,0.0,else
107796,20201221,1600869,zt_52_04,522601,0,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107797,20201221,1600869,zt_52_04,522601,2,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107798,20201221,1600869,zt_52_04,522601,4,12439081.0,400,-1,2000.0,1000.0,133407000.0,0.0,else
107799,20201221,1600869,zt_52_07,523001,0,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107800,20201221,1600869,zt_52_07,523001,2,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107801,20201221,1600869,zt_52_07,523001,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107802,20201221,1600869,zt_52_04,527301,0,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107803,20201221,1600869,zt_52_04,527301,2,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107804,20201221,1600869,zt_52_04,527301,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107805,20201221,1600869,zt_52_04,527301,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107806,20201221,1600869,zt_52_04,527301,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107807,20201221,1600869,zt_52_04,527301,4,12439081.0,16500,-1,2000.0,1000.0,133407000.0,0.0,else
107808,20201221,1600869,zt_88_06,897102,0,12439081.0,2700,-2,12000.0,11000.0,133407000.0,0.0,else
107809,20201221,1600869,zt_88_06,897102,2,12439081.0,2700,-2,12000.0,11000.0,133407000.0,0.0,else
107810,20201221,1600869,zt_88_06,897102,4,12439081.0,2700,-2,12000.0,11000.0,133407000.0,0.0,else
107811,20201221,1600869,zt_88_06,897102,4,12439081.0,2700,-2,12000.0,11000.0,133407000.0,0.0,else
161927,20201221,1603128,zt_52_07,527101,0,43129159.0,7800,1,NaN,NaN,145646000.0,NaN,else
425247,20201221,2002780,zs_52_06,5269,0,0.0,200,-1,NaN,NaN,145649110.0,NaN,else
580347,20201221,2300577,zs_94_05,9451,0,806.0,100,-1,NaN,NaN,145646720.0,NaN,else
750704,20201222,1600648,zt_88_06,8886,0,4116724.0,900,-1,NaN,NaN,145630000.0,NaN,else
750874,20201222,1600660,zt_88_06,8971,0,0.0,700,1,NaN,NaN,145649000.0,NaN,else
803025,20201222,1601100,zt_94_06,9561,0,0.0,200,-1,NaN,NaN,145629000.0,NaN,else
1199512,20201222,2002735,zs_54_01,5470,0,573000.0,100,-1,NaN,NaN,145649700.0,NaN,else
1236064,20201222,2002911,zs_52_06,5232,0,0.0,300,-1,NaN,NaN,145629030.0,NaN,else
1269848,20201222,2300059,zs_96_02,9655,0,230149539.0,1100,1,NaN,NaN,145601740.0,NaN,else
1505101,20201222,2300802,zs_52_06,5269,0,167558.0,200,-1,NaN,NaN,145646610.0,NaN,else
1741665,20201223,2000708,zs_96_06,9765,0,0.0,500,1,NaN,NaN,145649850.0,NaN,else
1788586,20201223,2002138,zs_52_06,5332,0,137975.0,3000,1,NaN,NaN,145649100.0,NaN,else
1931229,20201223,2300207,zs_94_03,9448,0,340965.0,500,1,NaN,NaN,145528310.0,NaN,else
1959469,20201223,2300357,zs_96_08,9754,0,0.0,300,1,NaN,NaN,145646840.0,NaN,else
2011771,20201223,2300576,zs_52_09,5326,0,4861641.0,600,1,NaN,NaN,145646730.0,NaN,else
2082749,20201224,1600053,zt_52_04,522201,0,768023.0,200,-1,2000.0,1000.0,131617000.0,0.0,else
2082750,20201224,1600053,zt_52_04,522201,4,768023.0,200,-1,2000.0,1000.0,131617000.0,0.0,else
2082751,20201224,1600053,zt_52_10,528901,0,768023.0,163,-1,2000.0,1000.0,131617000.0,0.0,else
2082752,20201224,1600053,zt_52_10,528901,2,768023.0,163,-1,2000.0,1000.0,131617000.0,0.0,else
2082753,20201224,1600053,zt_52_10,528901,1,768023.0,163,-1,2000.0,1000.0,131617000.0,0.0,else
2082754,20201224,1600053,zt_52_10,528901,3,768023.0,163,-1,2000.0,1000.0,131617000.0,0.0,else
2122711,20201224,1600316,zt_52_05,537403,0,70737.0,200,1,NaN,NaN,145645000.0,NaN,else

mrstaat  mrstauc
1000.0   0.0         98545
3000.0   1000.0     343495
         2000.0      24780
         3000.0       9614
11000.0  10000.0      8571
         20000.0       779
         30000.0       516
13000.0  11000.0    224017
         12000.0      7209
         13000.0      1340
         21000.0      6167
         22000.0      6573
         23000.0      1218
         31000.0      2939
         32000.0      2323
         33000.0      2830
Name: date, dtype: int64

In [1]:
orderLog[orderLog['accCode'].isin([6878, 687801])].groupby('accCode')['order'].nunique()

NameError: name 'orderLog' is not defined

In [5]:
orderLog[(orderLog['updateType'] == 0) & (orderLog['accCode'] == 9435) & (orderLog['exchange'] == 'SZE')].groupby('date')['order'].size()

date
20201221    474
20201222    557
20201224    473
Name: order, dtype: int64

In [6]:
df[(df['updateType'] == 0) & (df['accCode'] == 9435) & (df['secid'] > 2000000)].groupby('date')['order'].size()

date
20201221    474
20201222    557
20201224    473
Name: order, dtype: int64

In [23]:
import pymongo
import pandas as pd
import numpy as np
import pickle
import datetime
import time
import gzip
import lzma
import pytz

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_memb_daily(db, name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date', 'interval'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_id is not None:
        query['index_id'] = {'$in': index_id}
    if interval is not None:
        query['interval'] = {'$in': interval}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'index_id', 'skey'])
    return df    

def read_beta_daily(db, name, start_date=None, end_date=None, skey=None, interval=None, col=None, return_sdi=True): 
    collection = db[name] 
    # Build projection 
    prj = {'_id': 0} 
    if col is not None: 
        if return_sdi: 
            col = ['skey', 'date'] + col 
        for col_name in col: 
            prj[col_name] = 1 
 
    # Build query 
    query = {} 
    if skey is not None: 
        query['skey'] = {'$in': skey} 
    if interval is not None: 
        query['interval'] = {'$in': interval} 
    if start_date is not None: 
        if end_date is not None: 
            query['date'] = {'$gte': start_date, '$lte': end_date} 
        else: 
            query['date'] = {'$gte': start_date} 
    elif end_date is not None: 
        query['date'] = {'$lte': end_date} 
 
    # Load data 
    cur = collection.find(query, prj) 
    df = pd.DataFrame.from_records(cur) 
    if df.empty: 
        df = pd.DataFrame() 
    else: 
        df = df.sort_values(by=['date','skey']) 
    return df  

def build_query(start_date=None, end_date=None, index_id=None):
    query = {}
    def parse_date(x):
        if type(x) == int:
            return x
        elif type(x) == str:
            if len(x) != 8:
                raise Exception("date must be YYYYMMDD format")
            return int(x)
        elif type(x) == datetime.datetime or type(x) == datetime.date:
            return x.strftime("%Y%m%d").astype(int)
        else:
            raise Exception("invalid date type: " + str(type(x)))
    if start_date is not None or end_date is not None:
        query['date'] = {}
        if start_date is not None:
            query['date']['$gte'] = parse_date(start_date)
        if end_date is not None:
            query['date']['$lte'] = parse_date(end_date)
    def parse_symbol(x):
        if type(x) == int:
            return x
        else:
            return int(x)
    if index_id:
        if type(index_id) == list or type(index_id) == tuple:
            query['index_id'] = {'$in': [parse_symbol(x) for x in index_id]}
        else:
            query['index_id'] = parse_symbol(index_id)
    return query

def write_memb_data(db, name, df):
    collection = db[name]
    df1 = []
    for symbol in df['index_id'].unique():
        if symbol in collection.distinct('index_id'):
            symbol = int(symbol)
            m_ax = pd.DataFrame.from_records(collection.find({'index_id':{'$in':[symbol]}}).sort([('date',-1)]).skip(0).limit(1))['date'].values[0]
            df2 = df[(df['index_id'] == symbol) & (df['date'] > m_ax)]
            print(df2)
            df1 += [df2]
        else:
            print(symbol)
            df2 = df[(df['index_id'] == symbol)]
            print(df2)
            df1 += [df2]
    df1 = pd.concat(df1).reset_index(drop=True)
    df1 = df1.to_dict('records')
    collection.insert_many(df1) 

def delete_memb_data(db, name, start_date=None, end_date=None, index_id=None):
    collection = db[name]
    query = build_query(start_date, end_date, index_id)
    if not query:
        print('cannot delete the whole table')
        return None
    collection.delete_many(query)  


database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)
tag = read_memb_daily(db1, 'index_memb', 20201221, 20201224, index_id=[1000300, 1000852, 1000905, 1000985])

In [26]:
tag = tag.rename(columns={'skey':'secid'})
orderLog = pd.merge(orderLog, tag[['date', 'secid', 'index_name']], on=['date', 'secid'], how='left')
orderLog[orderLog['accCode'].isin([6878, 687801])].groupby(['colo', 'exchange', 'accCode'])['index_name'].unique()

colo      exchange  accCode
zs_68_01  SZE       6878       [IC]
zt_68_02  SSE       687801     [IC]
Name: index_name, dtype: object

In [36]:
orderLog = orderLog[~orderLog['mrstauc'].isnull()]
orderLog['sta_uc'] = orderLog['sta'] + '_' + orderLog['mrstauc'].astype(int).astype(str)
orderLog["server"] = orderLog["colo"].apply(lambda x: x.split("_")[0] + x.split("_")[1] + x.split("_")[2])
orderLog["server_account"] = orderLog["server"] + '_' + orderLog['accCode'].astype('str')
checkLog = orderLog[orderLog['updateType'].isin([0, 3, 4])].reset_index(drop=True)
checkLog = checkLog[checkLog['date'] >= 20201224]
checkLog = checkLog[checkLog['duration'] <= 1e6]

checkLog["time"] = checkLog["clock"].apply(lambda x: x.strftime("%H%M%S")).astype(int)
# ol = checkLog[(checkLog["updateType"] == 0) & (~checkLog["ars"].isin([121, 221, 321, 131, 231, 331])) & (checkLog["time"]>= 93000)
#              & (checkLog["time"] < 93300)]["order"].unique()

sta_list = orderLog['sta_uc'].unique()

result = {}
for col in ['date', 'broker1', 'broker2', 'isFast']:
    result[col] = []
            
for i in sta_list:
    checkLog1 = checkLog[checkLog['sta_uc'] == i]
    checkLog1['accountNum'] = checkLog1.groupby(['date', 'secid', 'vai'])['colo_broker'].transform('nunique')
    checkLog1 = checkLog1[checkLog1['accountNum'] >= 2]
    checkLog1['cumFillSize'] = checkLog1.groupby(['order'])['absOrderSizeCumFilled'].transform('max')
    checkLog1['status'] = np.where(checkLog1['cumFillSize'] == 0, 2, 
                                    np.where(checkLog1['cumFillSize'] < checkLog1['absOrderSize'], 1, 0))
    checkLog1 = checkLog1.groupby(['group', 'order'])[['date', 'colo_broker', 'secid', 'vai', 'status']].first().reset_index()

    for exchg in ['SSE']:

        print(exchg)

        if exchg == 'SSE':
            exchangeLog = checkLog1[checkLog1['secid'] < 2000000]
        else:
            exchangeLog = checkLog1[checkLog1['secid'] >= 2000000]

        for group, groupData in exchangeLog.groupby(['group']):
            date = groupData['date'].values[0]
            brokerLs = groupData['colo_broker'].values
            if len(brokerLs) == 0:
                continue
            statusLs = groupData['status'].values
            ixLs = [i for i in range(len(brokerLs))]
            for k, broker1, status1 in zip(ixLs[:-1], brokerLs[:-1], statusLs[:-1]):
                for broker2, status2 in zip(brokerLs[k+1:], statusLs[k+1:]):
                    if broker1 != broker2:
                        result['date'] += [date, date]
                        result['broker1'] += [broker1, broker2]
                        result['broker2'] += [broker2, broker1]

                        if status1 < status2:
                            result['isFast'] += [1, 0]
                        elif status1 > status2:
                            result['isFast'] += [0, 1]
                        else:
                            result['isFast'] += [-1, -1]                

result = pd.DataFrame(result)
result = result[result['isFast'] != -1]
result['count'] = result.groupby(['broker1', 'broker2'])['isFast'].transform('count')
result['fasterSum'] = result.groupby(['broker1', 'broker2'])['isFast'].transform('sum')
result['faster'] = result['fasterSum']/result['count']


summary = pd.DataFrame()
summaryCols = []
countCols = []
fasterCols = []
for date in result['date'].unique():
    a = result[result['date'] == date].reset_index(drop=True)
    a['count'] = a.groupby(['broker1', 'broker2'])['isFast'].transform('count')
    a['fasterSum'] = a.groupby(['broker1', 'broker2'])['isFast'].transform('sum')
    a['faster'] = a['fasterSum']/a['count']
    a = a.groupby(['broker1', 'broker2'])[['count', 'faster']].mean().reset_index()
    a.columns = ['broker1', 'broker2', '%s count'%date, '%s faster'%date]
    summaryCols += ['%s count'%date, '%s faster'%date]
    countCols += ['%s count'%date]
    fasterCols += ['%s faster'%date]

    if summary.empty:
        summary = a.copy()
    else:
        summary = pd.merge(summary, a, how='outer', on=['broker1', 'broker2'], validate='one_to_one')

a = result.groupby(['broker1', 'broker2'])[['count', 'faster']].mean().reset_index()
a.columns = ['broker1', 'broker2', 'total count', 'total faster']
summary = pd.merge(summary, a, how='outer', on=['broker1', 'broker2'], validate='one_to_one')
summaryCols = ['total count', 'total faster'] + summaryCols

countCols += ['total count']
fasterCols += ['total faster']
# summary['b1'] = summary['broker1'].str[7:11].astype(int) // 100
# summary['b2'] = summary['broker2'].str[7:11].astype(int) // 100
#     summary = summary.groupby(['broker1', 'broker2'])[summaryCols].first()
for col in countCols:
    summary[col] = summary[col].fillna(0)
    summary[col] = summary[col].astype('int64')

for col in fasterCols:
    summary[col] = summary[col].fillna(-1)
    summary[col] = summary[col].apply(lambda x: '%.0f%%'%(x*100))
    summary[col] = np.where(summary[col] == '-100%', ' ', summary[col])

#     summary = summary.rename(columns={"broker1":"account1", "broker2":"account2"})
#     summary = summary.groupby(['account1', 'account2'])[summaryCols].first()
#     from IPython.display import display, HTML
#     display(HTML(summary.iloc[:, :2].to_html()))
#     summary["tt"]=summary[["broker1", "broker2"]].min(axis=1).astype(str) + ' - ' + summary[["broker1", "broker2"]].max(axis=1).astype(str)
#     summary = summary.sort_values(by=["tt", "broker1"])
#     s1 = summary.groupby("tt").first().reset_index(drop=True)
s1 = summary
display(s1[(s1["broker1"] == 'zt_68')])

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SSE
SSE
SSE

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SSE

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SSE
SSE

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SSE
SSE
SSE
SSE
SSE
SSE

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SSE
SSE
SSE
SSE

   broker1 broker2  20201224 count 20201224 faster  total count total faster
59   zt_68   zs_52               7            100%            7         100%
60   zt_68   zs_53              31            100%           31         100%
61   zt_68   zt_52             281             49%          281          49%
62   zt_68   zt_89              11             36%           11          36%
63   zt_68   zt_94              45             51%           45          51%
64   zt_68   zt_96               6            100%            6         100%

In [39]:
checkLog = orderLog[(orderLog["updateType"] == 0)]
checkLog = checkLog[checkLog['caamd'] != 0]
checkLog['internal_latency'] = checkLog["clockAtArrival"] - checkLog["caamd"]
SSE = checkLog[checkLog['secid'] < 2000000]
SSE["exchange"] = "SH"

c1 = SSE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].quantile(.95).reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].mean().reset_index()
c2 = SSE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].median().reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].mean().reset_index()
c3 = SSE.groupby(['colo_broker', 'exchange'])["internal_latency"].count().reset_index()
c4 = SSE.groupby(['colo_broker', 'exchange'])["date"].unique().str.len().reset_index()
c5 = SSE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].quantile(.95).reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].std().reset_index()

re1 = pd.merge(c3, c1, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency_x': 'count', 'internal_latency_y': '95 percentile'})
re1 = pd.merge(re1, c2, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency': 'median'})
re1 = pd.merge(re1, c4, on=['colo_broker', 'exchange'])
re1 = pd.merge(re1, c5, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency': 'std'})


# re1 = pd.merge(re1[re1["isMsg"] == 1], re1[re1["isMsg"] == 0], on=["exchange", "colo_broker_account"], how="outer").sort_values(by="median_x").reset_index(drop=True)
# re2 = pd.merge(re2[re2["isMsg"] == 1], re2[re2["isMsg"] == 0], on=["exchange", "colo_broker_account"], how="outer").sort_values(by="median_y").reset_index(drop=True)
re = pd.concat([re1]).reset_index(drop=True)


for col in ['median', '95 percentile']:
    re[col] = re[col].astype(int)
for col in ['std']:
    re[col] = re[col].apply(lambda x: '%.2f'%(x))
    
    
from IPython.display import display, HTML

display(HTML(re.groupby(['colo_broker', 'exchange'])["count", "median", "95 percentile", "std"].first().to_html()))

SZE = checkLog[checkLog['secid'] >= 2000000]
SZE["exchange"] = "SZ"

c1 = SZE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].quantile(.95).reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].mean().reset_index()
c2 = SZE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].median().reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].mean().reset_index()
c3 = SZE.groupby(['colo_broker', 'exchange'])["internal_latency"].count().reset_index()
c4 = SZE.groupby(['colo_broker', 'exchange'])["date"].unique().str.len().reset_index()
c5 = SZE.groupby(['colo_broker', 'exchange', "date"])["internal_latency"].quantile(.95).reset_index().groupby(['colo_broker', 'exchange'])["internal_latency"].std().reset_index()

re1 = pd.merge(c3, c1, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency_x': 'count', 'internal_latency_y': '95 percentile'})
re1 = pd.merge(re1, c2, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency': 'median'})
re1 = pd.merge(re1, c4, on=['colo_broker', 'exchange'])
re1 = pd.merge(re1, c5, on=['colo_broker', 'exchange'])
re1 = re1.rename(columns = {'internal_latency': 'std'})


# re1 = pd.merge(re1[re1["isMsg"] == 1], re1[re1["isMsg"] == 0], on=["exchange", "colo_broker_account"], how="outer").sort_values(by="median_x").reset_index(drop=True)
# re2 = pd.merge(re2[re2["isMsg"] == 1], re2[re2["isMsg"] == 0], on=["exchange", "colo_broker_account"], how="outer").sort_values(by="median_y").reset_index(drop=True)
re = pd.concat([re1]).reset_index(drop=True)


for col in ['median', '95 percentile']:
    re[col] = re[col].astype(int)
for col in ['std']:
    re[col] = re[col].apply(lambda x: '%.2f'%(x))
    
    
from IPython.display import display, HTML

display(HTML(re.groupby(['colo_broker', 'exchange'])["count", "median", "95 percentile", "std"].first().to_html()))

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [40]:
checkLog = orderLog[(orderLog['updateType'] == 0) & (~orderLog['caa_orderLog'].isnull())].drop_duplicates(['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
checkLog = checkLog.reset_index(drop=True)
checkLog['ordering'] = checkLog.index
checkLog['time_diff'] = checkLog['caa_orderLog'] - checkLog['start_time']
checkLog['colo1'] = checkLog['colo'].str[:2]
checkLog['colo_broker'] = checkLog['colo1'] + '_' + checkLog["accCode"].astype(str).str[:2]
ol = pd.merge(checkLog[checkLog['sta'] == '1. staone'], checkLog[checkLog['sta'] == '2. statwo'][['colo', 'accCode']].drop_duplicates(),
         on=['colo', 'accCode'], how='inner')['ordering'].unique()
ol1 = pd.merge(checkLog[checkLog['sta'] == '1. staone'], checkLog[checkLog['sta'] == '3. sta300'][['colo', 'accCode']].drop_duplicates(),
         on=['colo', 'accCode'], how='inner')['ordering'].unique()
ol2 = pd.merge(checkLog[checkLog['sta'] == '2. statwo'], checkLog[checkLog['sta'] == '3. sta300'][['colo', 'accCode']].drop_duplicates(),
         on=['colo', 'accCode'], how='inner')['ordering'].unique()
checkLog1 = checkLog[(checkLog['sta'] == '1. staone') & (~checkLog['ordering'].isin(ol)) & (~checkLog['ordering'].isin(ol1))]
checkLog2 = checkLog[(checkLog['sta'] == '2. statwo') & (~checkLog['ordering'].isin(ol2))]
checkLog3 = checkLog[checkLog['sta'] == '3. sta300']

from IPython.display import display, HTML
re1 = checkLog1.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].describe().fillna(0).astype(int).reset_index()
# re1 = re1[re1['count'] > 20].reset_index()
c1 = checkLog1.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.1])['10%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"10%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '10%']], on=['sta', 'colo', 'colo_broker'])
c1 = checkLog1.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.9])['90%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"90%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '90%']], on=['sta', 'colo', 'colo_broker'])

display(HTML(re1[['sta', 'colo', 'colo_broker', 'count',  '10%', '25%', '50%', '75%', '90%']].groupby(['sta', 'colo', 'colo_broker']).first().sort_values(by='50%').to_html()))

from IPython.display import display, HTML
re1 = checkLog2.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].describe().fillna(0).astype(int).reset_index()
# re1 = re1[re1['count'] > 20].reset_index()
c1 = checkLog2.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.1])['10%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"10%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '10%']], on=['sta', 'colo', 'colo_broker'])
c1 = checkLog2.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.9])['90%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"90%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '90%']], on=['sta', 'colo', 'colo_broker'])

display(HTML(re1[['sta', 'colo', 'colo_broker', 'count',  '10%', '25%', '50%', '75%', '90%']].groupby(['sta', 'colo', 'colo_broker']).first().sort_values(by='50%').to_html()))

from IPython.display import display, HTML
re1 = checkLog3.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].describe().fillna(0).astype(int).reset_index()
# re1 = re1[re1['count'] > 20].reset_index()
c1 = checkLog3.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.1])['10%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"10%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '10%']], on=['sta', 'colo', 'colo_broker'])
c1 = checkLog3.groupby(['sta', 'colo', 'colo_broker'])['time_diff'].apply(lambda x: x.describe([0.9])['90%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"90%"})
re1 = pd.merge(re1, c1[['sta', 'colo', 'colo_broker', '90%']], on=['sta', 'colo', 'colo_broker'])

display(HTML(re1[['sta', 'colo', 'colo_broker', 'count',  '10%', '25%', '50%', '75%', '90%']].groupby(['sta', 'colo', 'colo_broker']).first().sort_values(by='50%').to_html()))

In [41]:
a = orderLog[(orderLog['updateType'] == 0) & (orderLog['exchange'] == 'SZE')].groupby('colo_broker')['orderNtl'].sum()
b = orderLog[(orderLog['updateType'] == 4) & (orderLog['exchange'] == 'SZE')].groupby('colo_broker')['tradeNtl'].sum()
re = pd.merge(a, b, on='colo_broker')
re['fill rate'] = re['tradeNtl'] / re['orderNtl']
re['fill rate'] = re['fill rate'].apply(lambda x: '%.1f%%'%(100*x))
re

                 orderNtl      tradeNtl fill rate
colo_broker
zs_52        9.344477e+09  7.315534e+09     78.3%
zs_53        2.645675e+09  1.834166e+09     69.3%
zs_54        5.983910e+08  4.575806e+08     76.5%
zs_62        3.419119e+08  1.350536e+08     39.5%
zs_64        2.519540e+08  1.630779e+08     64.7%
zs_66        2.110318e+09  1.786315e+09     84.6%
zs_68        2.780487e+06  1.151237e+06     41.4%
zs_72        6.638713e+06  3.819119e+06     57.5%
zs_88        1.723918e+08  1.291775e+08     74.9%
zs_89        1.912120e+09  1.303373e+09     68.2%
zs_92        2.848784e+07  2.161226e+07     75.9%
zs_94        1.402611e+09  1.251704e+09     89.2%
zs_96        4.477457e+08  4.177281e+08     93.3%
zs_97        2.795917e+09  1.983085e+09     70.9%
zt_88        1.047491e+08  7.171880e+07     68.5%
zt_89        7.428758e+08  5.055330e+08     68.1%

In [42]:
a = orderLog[(orderLog['updateType'] == 0) & (orderLog['exchange'] == 'SSE')].groupby('colo_broker')['orderNtl'].sum()
b = orderLog[(orderLog['updateType'] == 4) & (orderLog['exchange'] == 'SSE')].groupby('colo_broker')['tradeNtl'].sum()
re = pd.merge(a, b, on='colo_broker')
re['fill rate'] = re['tradeNtl'] / re['orderNtl']
re['fill rate'] = re['fill rate'].apply(lambda x: '%.1f%%'%(100*x))
re

                 orderNtl      tradeNtl fill rate
colo_broker
zs_52        1.458729e+08  9.967173e+07     68.3%
zs_53        1.985486e+08  7.975741e+07     40.2%
zs_62        2.494172e+08  9.285491e+07     37.2%
zs_89        2.411448e+08  1.375705e+08     57.0%
zs_97        1.668968e+09  1.186988e+09     71.1%
zt_52        8.858371e+09  6.105702e+09     68.9%
zt_53        1.282675e+09  9.267725e+08     72.3%
zt_68        2.412079e+06  1.288445e+06     53.4%
zt_88        5.013871e+08  3.605128e+08     71.9%
zt_89        1.755681e+09  1.331805e+09     75.9%
zt_92        1.533799e+07  1.170395e+07     76.3%
zt_94        2.413150e+08  1.133512e+08     47.0%
zt_95        1.064546e+09  7.199268e+08     67.6%
zt_96        1.303228e+09  9.890992e+08     75.9%

In [43]:
orderLog[orderLog['accCode'] == 6878]['colo'].unique()

array(['zs_68_01'], dtype=object)