In [3]:
import pymongo 
import io 
import pandas as pd 
import pickle 
import datetime 
import time 
import gzip 
import lzma 
import pytz 
import pyarrow as pa 
import pyarrow.parquet as pq 
import numpy as np 
import re

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)

class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db', version=3): 
        self.db_name = db_name 
        self.uri = uri 
        self.client = pymongo.MongoClient(self.uri) 
        self.db = self.client[self.db_name] 
        self.chunk_size = 20000 
        self.symbol_column = symbol_column 
        self.date_column = 'date' 
        self.version = version

    def parse_uri(self, uri): 
        # mongodb://user:password@example.com 
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}
        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("date must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid date type: " + str(type(x)))
        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)
        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)
        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)
        return query

    def read_tick(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name] 
        query = self.build_query(start_date, end_date, symbol) 
        if not query: 
            print('cannot read the whole table') 
            return None  
        segs = [] 
        for x in collection.find(query): 
            x['data'] = self.deser(x['data'], x['ver']) 
            segs.append(x) 
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start'])) 
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def read_daily(self, table_name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, index_name=None, col=None, return_sdi=True): 
        collection = self.db[table_name]
        # Build projection 
        prj = {'_id': 0} 
        if col is not None: 
            if return_sdi: 
                col = ['skey', 'date', 'index_id'] + col 
            for col_name in col: 
                prj[col_name] = 1 
        # Build query 
        query = {} 
        if skey is not None: 
            query['skey'] = {'$in': skey} 
        if interval is not None: 
            query['interval'] = {'$in': interval} 
        if index_id is not None: 
            query['index_id'] = {'$in': index_id}    
        if index_name is not None:
            n = '' 
            for name in index_name: 
                try: 
                    name = re.compile('[\u4e00-\u9fff]+').findall(name)[0] 
                    if len(n) == 0: 
                        n = n = "|".join(name) 
                    else: 
                        n = n + '|' + "|".join(name) 
                except: 
                    if len(n) == 0: 
                        n = name 
                    else: 
                        n = n + '|' + name 
            query['index_name'] = {'$regex': n}
        if start_date is not None: 
            if end_date is not None: 
                query['date'] = {'$gte': start_date, '$lte': end_date} 
            else: 
                query['date'] = {'$gte': start_date} 
        elif end_date is not None: 
            query['date'] = {'$lte': end_date} 
        # Load data 
        cur = collection.find(query, prj) 
        df = pd.DataFrame.from_records(cur) 
        if df.empty: 
            df = pd.DataFrame() 
        else:
            if 'index_id' in df.columns:
                df = df.sort_values(by=['date', 'index_id', 'skey']).reset_index(drop=True)
            else:
                df = df.sort_values(by=['date','skey']).reset_index(drop=True)
        return df 
 

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = self.version
            ser_data = self.ser(df_seg, version)
            seg = {'ver': version, 'data': ser_data, 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None
        collection.delete_many(query)

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        elif version == 3:
            # 32-bit number needs more space than 64-bit for parquet
            for col_name in s.columns:
                col = s[col_name]
                if col.dtype == np.int32:
                    s[col_name] = s[col_name].astype(np.int64)
                elif col.dtype == np.uint32:
                    s[col_name] = s[col_name].astype(np.uint64)
            tbl = pa.Table.from_pandas(s)
            f = io.BytesIO()
            pq.write_table(tbl, f, use_dictionary=False, compression='ZSTD', compression_level=0)
            f.seek(0)
            data = f.read()
            return data
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        print(version)
        def unpickle(s):
            return pickle.loads(s)
        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        elif version == 3:
            f = io.BytesIO()
            f.write(s)
            f.seek(0)
            return pq.read_table(f, use_threads=False).to_pandas()
        else:
            raise Exception('unknown version')

def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

# startTm = datetime.datetime.now()
# readPath = 'L:\\ShareWithServer\\day_stock_20200820\\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

dataPathLs = ['K:\\data\\2017\\201712\\20171227\\SZ\\snapshot\\Level2\\002921.csv']

wr_ong = []
mi_ss = []
less = []

for data in np.sort(dataPathLs):    
    startTm = datetime.datetime.now()
    SZ = pd.read_csv(data, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
    SZ['StockID'] = 2921
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

0:00:00.019309
0:00:00.050858
1
2
3
4
5
6
7
8
0:00:00.347044
0:00:00.026928

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:464: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
0,2300599,20171227,12.12,12.34,12.08,12.18,12.27,0.994347,-0.007335,0.020956,-0.007555,-0.004046,2310499.0,2.815995e+07,0.030401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76000000.0,3.040000e+08,NaN,NaN
1,2300567,20171227,129.60,131.80,128.10,128.75,129.52,0.995790,-0.005945,-0.017101,-0.007555,-0.004046,327208.0,4.245173e+07,0.007950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41159000.0,8.190700e+07,NaN,NaN
2,2002389,20171227,20.34,20.80,20.25,20.35,20.34,0.997555,0.000492,-0.038280,-0.007555,-0.004046,3807045.0,7.817206e+07,0.007089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,537006242.0,7.088469e+08,NaN,NaN
3,2000584,20171227,14.90,15.14,14.82,14.85,14.88,1.000000,-0.002016,0.006780,-0.007555,-0.004046,4126301.0,6.164310e+07,0.006750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,611275481.0,6.133243e+08,NaN,NaN
4,2300568,20171227,26.51,28.81,26.36,27.01,26.57,0.619946,0.016560,0.020015,-0.007555,-0.004046,3811295.0,1.041914e+08,0.029841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127718760.0,1.920000e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,2300131,20171227,7.05,7.09,7.00,7.07,7.04,0.491879,0.004261,0.036657,-0.007555,-0.004046,2286500.0,1.609987e+07,0.003642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,627814728.0,1.069526e+09,NaN,NaN
1923,2000985,20171227,20.00,20.48,19.96,20.07,20.10,0.994821,-0.001493,0.013636,-0.007555,-0.004046,768399.0,1.555493e+07,0.005927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129639500.0,1.296395e+08,NaN,NaN
1924,2300423,20171227,26.10,26.13,25.51,25.95,25.81,0.829686,0.005424,-0.017418,-0.007555,-0.004046,193520.0,5.001243e+06,0.004260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45429262.0,1.109627e+08,NaN,NaN
1925,2300672,20171227,64.67,67.40,63.63,64.75,63.59,1.000000,0.018242,0.119274,-0.007555,-0.004046,5579380.0,3.636908e+08,0.199683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27941200.0,1.117647e+08,NaN,NaN
1926,2002093,20171227,9.38,9.38,9.11,9.15,9.38,0.998840,-0.024520,-0.022436,-0.007555,-0.004046,8636993.0,7.931558e+07,0.010183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,848179894.0,1.007500e+09,NaN,NaN

0:00:00.309173
massive missing
{13395, 9301, 9302, 9303, 9304, 9305, 9311, 9312, 9313, 9314, 9315, 9321, 9322, 9323, 9324, 9325, 9331, 9332, 9333, 9334, 9335, 9341, 9342, 9343, 9344, 9345, 9351, 9352, 9353, 9354, 9355, 9361, 9362, 9363, 9364, 9365, 14481, 9371, 9372, 9373, 9374, 9375, 14495, 9381, 9382, 9383, 9384, 9385, 14501, 9391, 9392, 9393, 9394, 9395, 9401, 9402, 9403, 9404, 9405, 9411, 9412, 9413, 9414, 9415, 9421, 9422, 9423, 9424, 9425, 9431, 9432, 9433, 9434, 9435, 9441, 9442, 9443, 9444, 9445, 9451, 9452, 9453, 9454, 9455, 14571, 14572, 14573, 14574, 14575, 9461, 9462, 9463, 9464, 9465, 14581, 14582, 14583, 14584, 14585, 9471, 9472, 9473, 9474, 9475, 14591, 14592, 14593, 14594, 14595, 9481, 9482, 9483, 9484, 9485, 9491, 9492, 9493, 9494, 9495, 9501, 9502, 9503, 9504, 9505, 9511, 9512, 9513, 9514, 9515, 9521, 9522, 9523, 9524, 9525, 9531, 9532, 9533, 9534, 9535, 9541, 9542, 9543, 9544, 9545, 9551, 9552, 9553, 9554, 9555, 9561, 9562, 9563, 9564, 9565, 13154, 9571, 9572, 9573, 9574, 9575, 9581, 9582, 9583, 9584, 9585, 11121, 9591, 9592, 9593, 9594, 9595}
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:00:00.797899

20171227

SZ finished
0:00:00.112693
           ID      date  d_open  d_high   d_low  d_close_x  d_yclose  \
0     2300599  20171227   12.12   12.34   12.08      12.18     12.27
1     2300567  20171227  129.60  131.80  128.10     128.75    129.52
2     2002389  20171227   20.34   20.80   20.25      20.35     20.34
3     2000584  20171227   14.90   15.14   14.82      14.85     14.88
4     2300568  20171227   26.51   28.81   26.36      27.01     26.57
...       ...       ...     ...     ...     ...        ...       ...
1921  2300131  20171227    7.05    7.09    7.00       7.07      7.04
1922  2000985  20171227   20.00   20.48   19.96      20.07     20.10
1923  2300423  20171227   26.10   26.13   25.51      25.95     25.81
1924  2300672  20171227   64.67   67.40   63.63      64.75     63.59
1925  2002093  20171227    9.38    9.38    9.11       9.15      9.38

      d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0         0.994347    -0.007335      0.020956      -0.007555       -0.004046
1         0.995790    -0.005945     -0.017101      -0.007555       -0.004046
2         0.997555     0.000492     -0.038280      -0.007555       -0.004046
3         1.000000    -0.002016      0.006780      -0.007555       -0.004046
4         0.619946     0.016560      0.020015      -0.007555       -0.004046
...            ...          ...           ...            ...             ...
1921      0.491879     0.004261      0.036657      -0.007555       -0.004046
1922      0.994821    -0.001493      0.013636      -0.007555       -0.004046
1923      0.829686     0.005424     -0.017418      -0.007555       -0.004046
1924      1.000000     0.018242      0.119274      -0.007555       -0.004046
1925      0.998840    -0.024520     -0.022436      -0.007555       -0.004046

       d_volume    d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  \
0     2310499.0  2.815995e+07  0.030401    0.0    0.0   0.0    0.0    0.0
1      327208.0  4.245173e+07  0.007950    0.0    0.0   0.0    0.0    0.0
2     3807045.0  7.817206e+07  0.007089    0.0    0.0   0.0    0.0    0.0
3     4126301.0  6.164310e+07  0.006750    0.0    0.0   0.0    0.0    0.0
4     3811295.0  1.041914e+08  0.029841    0.0    0.0   0.0    0.0    0.0
...         ...           ...       ...    ...    ...   ...    ...    ...
1921  2286500.0  1.609987e+07  0.003642    0.0    0.0   0.0    0.0    0.0
1922   768399.0  1.555493e+07  0.005927    0.0    0.0   0.0    0.0    0.0
1923   193520.0  5.001243e+06  0.004260    0.0    0.0   0.0    0.0    0.0
1924  5579380.0  3.636908e+08  0.199683    0.0    0.0   0.0    0.0    0.0
1925  8636993.0  7.931558e+07  0.010183    0.0    0.0   0.0    0.0    0.0

      isDT  tmrHalted  haltedDays  marketShares   totalShares  d_close_y  \
0      0.0        0.0         0.0    76000000.0  3.040000e+08        NaN
1      0.0        0.0         0.0    41159000.0  8.190700e+07        NaN
2      0.0        0.0         0.0   537006242.0  7.088469e+08        NaN
3      0.0        0.0         0.0   611275481.0  6.133243e+08        NaN
4      0.0        0.0         0.0   127718760.0  1.920000e+08        NaN
...    ...        ...         ...           ...           ...        ...
1921   0.0        0.0         0.0   627814728.0  1.069526e+09        NaN
1922   0.0        0.0         0.0   129639500.0  1.296395e+08        NaN
1923   0.0        0.0         0.0    45429262.0  1.109627e+08        NaN
1924   0.0        0.0         0.0    27941200.0  1.117647e+08        NaN
1925   0.0        0.0         0.0   848179894.0  1.007500e+09        NaN

      d_amount_y
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
1921         NaN
1922         NaN
1923         NaN
1924         NaN
1925         NaN

[1926 rows x 27 columns]
   cum_trades_cnt  total_bid_quantity  total_ask_quantity  close  \
0               9            11832300                   0  16.63

   total_ask_vwap  cum_amount  cum_volume   open   high  prev_close    low  \
0             0.0    60134.34        3669  13.86  16.63       11.55  13.86

   total_bid_vwap     skey      date          time    clockAtArrival  \
0           16.19  2002921  20171227  100003000000  1514340003000000

             datetime  bid1p  bid2p  bid3p  bid4p  bid5p  bid6p  bid7p  bid8p  \
0 2017-12-27 10:00:03  16.63  16.62  16.61   16.6  16.59  16.58  16.57  16.56

   bid9p  bid10p  ask1p  ask2p  ask3p  ask4p  ask5p  ask6p  ask7p  ask8p  \
0  16.55   16.54    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

   ask9p  ask10p    bid1q  bid2q  bid3q  bid4q  bid5q  bid6q  bid7q  bid8q  \
0    0.0     0.0  7539800  46000  10000  56200   4200   4600   3500   5200

   bid9q  bid10q  ask1q  ask2q  ask3q  ask4q  ask5q  ask6q  ask7q  ask8q  \
0  18900    1500      0      0      0      0      0      0      0      0

   ask9q  ask10q  bid1n  bid2n  bid3n  bid4n  bid5n  bid6n  bid7n  bid8n  \
0      0       0   1888     42     17     48      6      6      4      8

   bid9n  bid10n  ask1n  ask2n  ask3n  ask4n  ask5n  ask6n  ask7n  ask8n  \
0      7       3      0      0      0      0      0      0      0      0

   ask9n  ask10n  bid1Top1q  bid1Top2q  bid1Top3q  bid1Top4q  bid1Top5q  \
0      0       0      40500      43300      39800      13900      66900

   bid1Top6q  bid1Top7q  bid1Top8q  bid1Top9q  bid1Top10q  bid1Top11q  \
0      76300      11400      43500      14500       67800       31900

   bid1Top12q  bid1Top13q  bid1Top14q  bid1Top15q  bid1Top16q  bid1Top17q  \
0       22100      350000       12900       17200       63700       18100

   bid1Top18q  bid1Top19q  bid1Top20q  bid1Top21q  bid1Top22q  bid1Top23q  \
0        3700       31200      123800       32500        9400       14100

   bid1Top24q  bid1Top25q  bid1Top26q  bid1Top27q  bid1Top28q  bid1Top29q  \
0       42200       62300      301400        3800        5900       52600

   bid1Top30q  bid1Top31q  bid1Top32q  bid1Top33q  bid1Top34q  bid1Top35q  \
0       14200       91800       60000       27900        9200        1500

   bid1Top36q  bid1Top37q  bid1Top38q  bid1Top39q  bid1Top40q  bid1Top41q  \
0       17900      163800       59600       41600       49800       65600

   bid1Top42q  bid1Top43q  bid1Top44q  bid1Top45q  bid1Top46q  bid1Top47q  \
0       50000       31500       61700       33300       43400      121900

   bid1Top48q  bid1Top49q  bid1Top50q  ask1Top1q  ask1Top2q  ask1Top3q  \
0       32500       14100       11800          0          0          0

   ask1Top4q  ask1Top5q  ask1Top6q  ask1Top7q  ask1Top8q  ask1Top9q  \
0          0          0          0          0          0          0

   ask1Top10q  ask1Top11q  ask1Top12q  ask1Top13q  ask1Top14q  ask1Top15q  \
0           0           0           0           0           0           0

   ask1Top16q  ask1Top17q  ask1Top18q  ask1Top19q  ask1Top20q  ask1Top21q  \
0           0           0           0           0           0           0

   ask1Top22q  ask1Top23q  ask1Top24q  ask1Top25q  ask1Top26q  ask1Top27q  \
0           0           0           0           0           0           0

   ask1Top28q  ask1Top29q  ask1Top30q  ask1Top31q  ask1Top32q  ask1Top33q  \
0           0           0           0           0           0           0

   ask1Top34q  ask1Top35q  ask1Top36q  ask1Top37q  ask1Top38q  ask1Top39q  \
0           0           0           0           0           0           0

   ask1Top40q  ask1Top41q  ask1Top42q  ask1Top43q  ask1Top44q  ask1Top45q  \
0           0           0           0           0           0           0

   ask1Top46q  ask1Top47q  ask1Top48q  ask1Top49q  ask1Top50q  ordering  \
0           0           0           0           0           0       112

   total_bid_orders  total_ask_orders  total_bid_levels  total_ask_levels  \
0                 0                 0                 0                 0

   bid_trade_max_duration  ask_trade_max_duration  cum_canceled_buy_orders  \
0                       0                       0                        0

   cum_canceled_buy_volume  cum_canceled_buy_amount  cum_canceled_sell_orders  \
0                        0                      0.0                         0

   cum_canceled_sell_volume  cum_canceled_sell_amount  has_missing
0                         0                       0.0            1

In [5]:
from WindPy import *
w.start()


import os
import glob
import time
import datetime
import pandas as pd
pd.set_option('display.max_columns',200)
pd.options.mode.chained_assignment = None
import numpy as np

database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

il = pd.read_csv(r'D:\work\project 17 AMAC\tickStockList_AMAC.csv')
il['StockID'] = il['StockID'].str[3:] + '.CSI'
il = il['StockID'].values

import pymongo
import pandas as pd
import numpy as np
import pickle
import datetime
import time
import gzip
import lzma
import pytz
import TSLPy3

def updateAShare(date):
    TRDate = str(date)
    tsstr = """
           BegT:=%s;
           EndT:=%s;
           SetSysParam(pn_stock(),'SH000001');
           SetSysParam(PN_Cycle(),cy_day());
           dateArr:=MarketTradeDayQk(BegT,EndT);
           r:=array();
           for nI:=0 to length(dateArr)-1 do
           begin
             echo dateArr[nI];
             t:= getabkbydate('A股',dateArr[nI]);
             r:=r union2 t;
           end;
           r:= select [0] as 'StockID' from `r end;
           r := select * from r order by ['StockID'] end;
           return r;
            """%(TRDate + 'T', TRDate + 'T + 0.99')
    stockList = pd.DataFrame(TSLPy3.RemoteExecute(tsstr,[],{})[1])
    stockList.columns = list(pd.Series(stockList.columns).str.decode('GBK'))
    stockList['StockID'] = stockList['StockID'].str.decode('GBK')
    stockList['skey'] = np.where(stockList['StockID'].str[:2] == 'SH', 1000000 + stockList['StockID'].str[2:].astype(int),
                                2000000 + stockList['StockID'].str[2:].astype(int))
    stockList['date'] = int(TRDate)
    return stockList


database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

# pd.set_option('max_columns', 200)
# startDate = 20200501
# endDate = 20201016
# db = DB("192.168.10.178", database_name, user, password)
# dl = db.read_daily('index_memb', start_date=startDate, end_date=endDate, index_id=[1000905])
# dl = dl['date'].unique()

# total_stock = []
# for d in dl:
#     data = updateAShare(d)
#     total_stock += [data]
# total_stock = pd.concat(total_stock, sort=False)
# stockList = total_stock['skey'].unique()
# stockList

stockList = updateAShare(20201029)['skey'].unique()

In [6]:
2000939 in stockList

False

In [6]:
db[(db["date"] == da_te) & (db['ID'] == 'SZ002921')]

,ID,date,d_open,d_high,d_low,d_close,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares
0,SZ002921,2017-12-27,13.86,16.63,13.86,16.63,11.55,1.0,0.439827,0.439827,-0.007555,-0.004046,9269.0,153262.34,0.000463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20000000.0,80000000.0

In [4]:
data

'K:\\data\\2017\\201712\\20171227\\SZ\\snapshot\\Level2\\002921.csv'