In [1]:
import pandas as pd
import numpy as np
import pickle

fr = pd.read_pickle(r'G:\2020_new_data.pkl')

In [10]:
fr[fr['tag'] == 'order'][fr[fr['tag'] == 'order']['sequenceNo_x'].duplicated(keep=False)]

Empty DataFrame
Columns: [SecurityID, StockID, clockAtArrival_y, count, seq1, sequenceNo_x, sequenceNo_y, tag]
Index: []

In [21]:
import pandas as pd
import numpy as np
import pickle

SZ = pd.read_csv(r'A:\temp\pcapRawData\prevde\L2NGTSIndex.csv', index_col=False)
pd.set_option('max_columns', 300)
pd.set_option('max_rows', 200)

In [22]:
SZ[(SZ['SecurityID'] == 16) & (SZ['DataTimestamp'] > 93000.0)].head(5)

,clockAtArrival,sequenceNo,vdeSequence,VdeTime1,VdeTime2,DataTimestamp,DataStatus,SecurityID,PreCloseIndex,OpenIndex,Turnover,HighIndex,LowIndex,LastIndex,TradeTime,TotalVolumeTraded,CloseIndex
29512,1589938203000106261,666330,2040201216,3890546946,3890546946,93003,NaN,16,NaN,NaN,4.225557e+09,NaN,286076920.0,286106910.0,9300174.0,2.172550e+10,NaN
29707,1589938208000198456,703948,1167982592,1358498050,1358498050,93008,NaN,16,NaN,NaN,5.281850e+09,NaN,286001870.0,286001870.0,9300568.0,2.683380e+10,NaN
29924,1589938213000160273,740714,1084293120,856492546,856492546,93013,NaN,16,NaN,NaN,5.844771e+09,NaN,NaN,286061560.0,9301166.0,3.003810e+10,NaN
30160,1589938218000132116,778248,2175008768,2652899842,2652899842,93018,NaN,16,NaN,NaN,6.284577e+09,NaN,NaN,286041210.0,9301679.0,3.253250e+10,NaN
30348,1589938223000096871,814936,531103744,120850946,120850946,93023,NaN,16,NaN,NaN,6.591641e+09,NaN,NaN,286024400.0,9302066.0,3.452330e+10,NaN

In [28]:
SZ[(SZ['SecurityID'] == 16)]['TotalVolumeTraded'].max()

1994922900000.0

In [29]:
SZ[(SZ['SecurityID'] == 16)]['Turnover'].max()

375613485000.0

In [27]:
SZ[(SZ['SecurityID'] == 16) & (SZ['LowIndex'] != 0)]['LowIndex'].min()

284725530.0

In [19]:
SZ['SecurityIDSource'].unique()

array([102], dtype=int64)

In [13]:
SZ[SZ['MDStreamID'] == 11]['SecurityID'].max()

300832

In [8]:
SZ1 = pd.read_csv(r'L:\ShareWithServer\data\logs_20200520_zs_92_01_day_data\mdTradeLog_20200520_0857.csv')
SZ1[(SZ1['SecurityID'] == 600000) & (SZ1['TransactTime'] > 93000000)].head(5)

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,ExecType,TradeBSFlag,__origTickSeq,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
302102,1589938218691994,1959691,1,1,0,93000140,5,16053,600000,1600000,4,F,S,7499788,103600,200,20720000,9021,163190
302103,1589938218691995,1959692,1,1,0,93000140,5,16054,600000,1600000,4,F,S,7499789,103600,100,10360000,43697,163190
302104,1589938218691997,1959693,1,1,0,93000140,5,16055,600000,1600000,4,F,S,7499790,103600,700,72520000,149888,163190
325076,1589938219168928,2026164,1,1,0,93000290,5,16590,600000,1600000,4,F,B,7570564,103700,2400,248880000,164466,134993
335066,1589938219295376,2047934,1,1,0,93000390,5,17068,600000,1600000,4,F,B,7593913,103700,2400,248880000,166002,134993

In [35]:
SZ1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique()

array([1, 2, 6], dtype=int64)