In [1]:
import pymongo 
import io 
import pandas as pd 
import pickle 
import datetime 
import time 
import gzip 
import lzma 
import pytz 
import pyarrow as pa 
import pyarrow.parquet as pq 
import numpy as np 
import re

def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)

class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db', version=3): 
        self.db_name = db_name 
        self.uri = uri 
        self.client = pymongo.MongoClient(self.uri) 
        self.db = self.client[self.db_name] 
        self.chunk_size = 20000 
        self.symbol_column = symbol_column 
        self.date_column = 'date' 
        self.version = version

    def parse_uri(self, uri): 
        # mongodb://user:password@example.com 
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}
        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("date must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid date type: " + str(type(x)))
        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)
        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)
        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)
        return query

    def read_tick(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name] 
        query = self.build_query(start_date, end_date, symbol) 
        if not query: 
            print('cannot read the whole table') 
            return None  
        segs = [] 
        for x in collection.find(query): 
            x['data'] = self.deser(x['data'], x['ver']) 
            segs.append(x) 
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start'])) 
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def read_daily(self, table_name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, index_name=None, col=None, return_sdi=True): 
        collection = self.db[table_name]
        # Build projection 
        prj = {'_id': 0} 
        if col is not None: 
            if return_sdi: 
                col = ['skey', 'date', 'index_id'] + col 
            for col_name in col: 
                prj[col_name] = 1 
        # Build query 
        query = {} 
        if skey is not None: 
            query['skey'] = {'$in': skey} 
        if interval is not None: 
            query['interval'] = {'$in': interval} 
        if index_id is not None: 
            query['index_id'] = {'$in': index_id}    
        if index_name is not None:
            n = '' 
            for name in index_name: 
                try: 
                    name = re.compile('[\u4e00-\u9fff]+').findall(name)[0] 
                    if len(n) == 0: 
                        n = n = "|".join(name) 
                    else: 
                        n = n + '|' + "|".join(name) 
                except: 
                    if len(n) == 0: 
                        n = name 
                    else: 
                        n = n + '|' + name 
            query['index_name'] = {'$regex': n}
        if start_date is not None: 
            if end_date is not None: 
                query['date'] = {'$gte': start_date, '$lte': end_date} 
            else: 
                query['date'] = {'$gte': start_date} 
        elif end_date is not None: 
            query['date'] = {'$lte': end_date} 
        # Load data 
        cur = collection.find(query, prj) 
        df = pd.DataFrame.from_records(cur) 
        if df.empty: 
            df = pd.DataFrame() 
        else:
            if 'index_id' in df.columns:
                df = df.sort_values(by=['date', 'index_id', 'skey']).reset_index(drop=True)
            else:
                df = df.sort_values(by=['date','skey']).reset_index(drop=True)
        return df 
 

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = self.version
            ser_data = self.ser(df_seg, version)
            seg = {'ver': version, 'data': ser_data, 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None
        collection.delete_many(query)

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        elif version == 3:
            # 32-bit number needs more space than 64-bit for parquet
            for col_name in s.columns:
                col = s[col_name]
                if col.dtype == np.int32:
                    s[col_name] = s[col_name].astype(np.int64)
                elif col.dtype == np.uint32:
                    s[col_name] = s[col_name].astype(np.uint64)
            tbl = pa.Table.from_pandas(s)
            f = io.BytesIO()
            pq.write_table(tbl, f, use_dictionary=False, compression='ZSTD', compression_level=0)
            f.seek(0)
            data = f.read()
            return data
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        print(version)
        def unpickle(s):
            return pickle.loads(s)
        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        elif version == 3:
            f = io.BytesIO()
            f.write(s)
            f.seek(0)
            return pq.read_table(f, use_threads=False).to_pandas()
        else:
            raise Exception('unknown version')

def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()



import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

startTm = datetime.datetime.now()
year = "2017"
startDate = "0714"
endDate = "0714"
df = []
bad = []
readPath = 'L:\\backup data\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
#     if len(np.array(glob.glob(data +'\\***'))) == 0:
#         continue
    
#     if len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z'))) == 1:
#         date = os.path.basename(data)
#         path = 'L:\\backup data\\' + year 
#         os.chdir(data)
#         try:
#             a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
#         except:
#             print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
#             print(data + '\\am_hq_trade_spot.7z')
#             bad.append(data + '\\am_hq_trade_spot.7z')
#             continue
#         path1 = path + '\\' + date
#         a.extractall(path = path1)
#         a.close()
#         try:
#             a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
#         except:
#             print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
#             print(data + '\\pm_hq_trade_spot.7z')
#             bad.append(data + '\\pm_hq_trade_spot.7z')
#             continue
#         a.extractall(path = path1)
#         a.close()

#         am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
#         am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
#                    "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
#         pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
#         pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
#                    "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
#         TradeLogSZ1 = pd.concat([am_trade, pm_trade])
#         del am_trade
#         del pm_trade
        
#     elif len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z.001'))) == 1:
#         date = os.path.basename(data)
#         path = 'L:\\backup data\\' + year 
#         os.chdir(data)
#         os.system("copy /b am_hq_trade_spot.7z.* am_hq_trade_spot.7z")
#         try:
#             a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
#         except:
#             print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
#             print(data + '\\am_hq_trade_spot.7z')
#             bad.append(data + '\\am_hq_trade_spot.7z')
#             continue
#         path1 = path + '\\' + date
#         a.extractall(path = path1)
#         a.close()
#         os.system("copy /b pm_hq_trade_spot.7z.* pm_hq_trade_spot.7z")
#         try:
#             a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
#         except:
#             print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
#             print(data + '\\pm_hq_trade_spot.7z')
#             bad.append(data + '\\pm_hq_trade_spot.7z')
#             continue
#         a.extractall(path = path1)
#         a.close()
        
#         am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
#         am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
#                    "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
#         pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
#         pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
#                    "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
#         TradeLogSZ1 = pd.concat([am_trade, pm_trade])
#         del am_trade
#         del pm_trade
        
#     elif len(np.array(glob.glob(data +'\\hq_trade.7z'))) == 1:
#         date = os.path.basename(data)
#         path = 'L:\\backup data\\' + year 
#         os.chdir(data)
#         try:
#             a = py7zr.SevenZipFile(data + '\\hq_trade.7z','r',filters=None)
#         except:
#             print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
#             print(data + '\\hq_trade.7z')
#             bad.append(data + '\\hq_trade.7z')
#             continue
#         path1 = path + '\\' + date
#         a.extractall(path = path1)
#         a.close()
        
#         TradeLogSZ1 = pd.read_table(path1 + "\\hq_trade.txt",header=None)
#         TradeLogSZ1.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
#                    "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]


    am_trade = pd.read_table(data + "\\am_hq_trade_spot.txt",header=None)
    am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
               "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
    pm_trade = pd.read_table(data + "\\pm_hq_trade_spot.txt",header=None)
    pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
               "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
    TradeLogSZ1 = pd.concat([am_trade, pm_trade])
    del am_trade
    del pm_trade
    TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1["SecurityID"] < 4000) | (TradeLogSZ1["SecurityID"] > 300000)]
    TradeLogSZ1["trade_money"] = TradeLogSZ1["trade_price"] * TradeLogSZ1["trade_qty"]
    TradeLogSZ1["trade_flag"] = 0
    TradeLogSZ1["skey"] = TradeLogSZ1["SecurityID"] + 2000000
    TradeLogSZ1["clockAtArrival"] = TradeLogSZ1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLogSZ1['datetime'] = TradeLogSZ1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLogSZ1["time"] = (TradeLogSZ1['TransactTime'] - int(TradeLogSZ1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLogSZ1["trade_type"] = np.where(TradeLogSZ1["trade_type"] == 'F', 1, TradeLogSZ1["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLogSZ1[col] = TradeLogSZ1[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLogSZ1[cols] = TradeLogSZ1[cols].round(2)
    display(TradeLogSZ1["trade_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
 
    TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print("trade finished")

    print(datetime.datetime.now() - startTm)

array([1, 2], dtype=int64)

trade finished
0:04:18.452466

In [2]:
database_name = 'com_md_eq_cn'
user = 'zhenyuy'
password = 'bnONBrzSMGoE'

import sys
TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)
db1.write('md_trade', TradeLogSZ1)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:235: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]

In [51]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None
    
    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

def dailyDB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_stock_daily(db, name, start_date=None, end_date=None, skey=None, index_name=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_name is not None:
        query['index_name'] = {'$in': index_name}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'skey'])
    return df    

database_name = 'com_md_eq_cn'
user = 'zhenyuy'
password = 'bnONBrzSMGoE'

import sys

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)
db = dailyDB("192.168.10.178", database_name, user, password)
# trade = db1.read('md_trade', start_date=20200221, end_date=20200221)
# check = read_stock_daily(db, 'mdbar1d_tr', start_date=20200221, end_date=20200221)

In [8]:
display(TradeLogSZ1.dtypes)
display(trade.dtypes)

skey                        int32
date                        int32
time                        int64
clockAtArrival              int64
datetime           datetime64[ns]
ApplSeqNum                  int32
trade_type                  int32
trade_flag                  int32
trade_price               float64
trade_qty                   int32
BidApplSeqNum               int32
OfferApplSeqNum             int32
dtype: object

skey                        int32
date                        int32
time                        int64
clockAtArrival              int64
datetime           datetime64[ns]
ApplSeqNum                  int32
trade_type                  int32
trade_flag                  int32
trade_price               float64
trade_qty                   int32
BidApplSeqNum               int32
OfferApplSeqNum             int32
dtype: object

In [17]:
re1

         skey  trade_qty
0     2000001   99507102
1     2000002  105920154
2     2000004    6313742
3     2000005   13090051
4     2000006   10850429
...       ...        ...
2190  2300815    4190165
2191  2300816    5490562
2192  2300817      34904
2193  2300818    5251440
2194  2300820    1281659

[2195 rows x 2 columns]

In [44]:
# TradeLogSZ1['trade_money'] = TradeLogSZ1["trade_price"] * TradeLogSZ1["trade_qty"]
# trade1 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
# trade1.columns=["skey", "cum_volume"]
# trade2 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
# trade2.columns=["skey", "cum_amount"]
# re1 = pd.merge(trade1, trade2, on="skey")
re2 = check[['skey', 'volume', 'amount']]
re2 = re2[re2['skey'] > 2000000]
display(set(re1['skey']) - set(re2['skey']))
display(set(re2['skey']) - set(re1['skey']))
display(re1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
display(re2['amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
re = pd.merge(re1, re2, on=['skey'], how='outer')
display(re[re['cum_volume'] != re['volume']])
re['cum_amount'] = re['cum_amount'].round(2)
display(re[re['cum_amount'] != re['amount']])

set()

{2000029, 2002450}

array([2, 6, 1, 8, 7, 9, 5], dtype=int64)

array([2, 1], dtype=int64)

         skey  cum_volume  cum_amount  volume  amount
2195  2000029         NaN         NaN       0     0.0
2196  2002450         NaN         NaN       0     0.0

         skey  cum_volume  cum_amount  volume  amount
2195  2000029         NaN         NaN       0     0.0
2196  2002450         NaN         NaN       0     0.0

In [54]:
db1.write('md_trade', TradeLogSZ1)

In [52]:
TradeLogSZ1.dtypes

skey                        int32
date                        int32
time                        int64
clockAtArrival              int64
datetime           datetime64[ns]
ApplSeqNum                  int32
trade_type                  int32
trade_flag                  int32
trade_price               float64
trade_qty                   int32
BidApplSeqNum               int32
OfferApplSeqNum             int32
dtype: object

In [3]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

startTm = datetime.datetime.now()
year = "2020"
startDate = "0106"
endDate = "0106"
df = []
bad = []
readPath = 'L:\\backup data\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    if len(np.array(glob.glob(data +'\\***'))) == 0:
        continue
    
    if len(np.array(glob.glob(data +'\\pm_hq_order_spot.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup_data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_order_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_order_spot.7z')
            bad.append(data + '\\am_hq_order_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_order_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_order_spot.7z')
            bad.append(data + '\\pm_hq_order_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()
        
        am_order = pd.read_table(path1 + '\\am_hq_order_spot.txt',header=None)
        am_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
                   "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
        pm_order = pd.read_table(path1 + '\\pm_hq_order_spot.txt',header=None)
        pm_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
                   "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
        OrderLog1 = pd.concat([am_order, pm_order])
        del am_order
        del pm_order
  
    
    elif len(np.array(glob.glob(data +'\\pm_hq_order_spot.7z.001'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup_data\\' + year 
        os.chdir(data)
        os.system("copy /b am_hq_order_spot.7z.* am_hq_order_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_order_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_order_spot.7z')
            bad.append(data + '\\am_hq_order_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        os.system("copy /b pm_hq_order_spot.7z.* pm_hq_order_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_order_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_order_spot.7z')
            bad.append(data + '\\pm_hq_order_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()
        
        am_order = pd.read_table(path1 + '\\am_hq_order_spot.txt',header=None)
        am_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
                   "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
        pm_order = pd.read_table(path1 + '\\pm_hq_order_spot.txt',header=None)
        pm_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
                   "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
        OrderLog1 = pd.concat([am_order, pm_order])
        del am_order
        del pm_order

    elif len(np.array(glob.glob(data +'\\hq_order.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup_data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\hq_order.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\hq_order.7z')
            bad.append(data + '\\hq_order.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        OrderLog1 = pd.read_table(path1 + '\\hq_order.txt',header=None)
        OrderLog1.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
                   "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
    
    
    OrderLog1 = OrderLog1[(OrderLog1["SecurityID"] < 4000) | (OrderLog1["SecurityID"] > 300000)]
    OrderLog1["skey"] = OrderLog1["SecurityID"] + 2000000
    OrderLog1["clockAtArrival"] = OrderLog1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    OrderLog1['datetime'] = OrderLog1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    OrderLog1["time"] = (OrderLog1['TransactTime'] - int(OrderLog1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    OrderLog1["order_type"] =np.where(OrderLog1["order_type"] == 'U', 3, OrderLog1["order_type"])
    for col in ["skey", "date", "ApplSeqNum", "order_qty", "order_side", "order_type"]:
        OrderLog1[col] = OrderLog1[col].astype('int32')
    display(OrderLog1["order_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    assert(OrderLog1[((OrderLog1["order_side"] != 1) & (OrderLog1["order_side"] != 2)) | (OrderLog1["order_type"].isnull())].shape[0] == 0)
    
    OrderLog1 = OrderLog1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "order_side", "order_type", "order_price",
                                                 "order_qty"]]
    
    print(OrderLog1.dtypes)
    print(OrderLog1["date"].iloc[0])
    print("order finished")
    
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array([2, 1], dtype=int64)

skey                       int32
date                       int32
time                       int64
clockAtArrival             int64
datetime          datetime64[ns]
ApplSeqNum                 int32
order_side                 int32
order_type                 int32
order_price              float64
order_qty                  int32
dtype: object
20200106
order finished
0:24:26.446792

In [14]:
trade[trade['trade_type'] == 1].head(20)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
150016,2002973,20200106,92500000000,1578273900000000,2020-01-06 09:25:00.000,295880,1,0,6.89,500,3,266119
150017,2002973,20200106,92500000000,1578273900000000,2020-01-06 09:25:00.000,295881,1,0,6.89,100,3,141266
150018,2002973,20200106,92500000000,1578273900000000,2020-01-06 09:25:00.000,295882,1,0,6.89,500,3,221586
238666,2002973,20200106,93000000000,1578274200000000,2020-01-06 09:30:00.000,317475,1,0,6.97,500,20,236319
238667,2002973,20200106,93000000000,1578274200000000,2020-01-06 09:30:00.000,317476,1,0,7.05,500,20,234077
279276,2002973,20200106,93000230000,1578274200230000,2020-01-06 09:30:00.230,341180,1,0,7.76,500,662,341179
9110058,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111624,1,0,8.27,400,2,5109328
9110059,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111625,1,0,8.27,500,2,5108650
9110060,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111626,1,0,8.27,500,2,5110614
9110061,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111627,1,0,8.27,500,2,5106876
9110062,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111628,1,0,8.27,500,2,5103582
9110063,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111629,1,0,8.27,500,2,5108160
9110064,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111630,1,0,8.27,500,2,5100097
9110065,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111631,1,0,8.27,500,2,5100444
9110066,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111632,1,0,8.27,500,2,5102019
9110067,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111633,1,0,8.27,500,2,5102897
9110068,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111634,1,0,8.27,500,2,5103263
9110069,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111635,1,0,8.27,500,2,5103281
9110070,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111636,1,0,8.27,500,2,5104592
9110071,2002973,20200106,100001000000,1578276001000000,2020-01-06 10:00:01.000,5111637,1,0,8.27,500,2,5105224

In [15]:
order[order['ApplSeqNum'] == 20]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
115,2002973,20200106,91500000000,1578273300000000,2020-01-06 09:15:00,20,1,2,7.58,1300

In [16]:
order[order['ApplSeqNum'] == 236319]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
978084,2002973,20200106,92405270000,1578273845270000,2020-01-06 09:24:05.270,236319,2,2,6.97,500

In [17]:
order[order['ApplSeqNum'] == 234077]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
968865,2002973,20200106,92359210000,1578273839210000,2020-01-06 09:23:59.210,234077,2,2,7.05,500