# 1. snapshot data check

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os
# pd.set_option("max_columns", 200)

# readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200513\Tick\SH\20200513\***'
# dataPathLs = np.array(glob.glob(readPath))
# dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
# dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))| (dateLs == 16) | (dateLs == 300)
#                        | (dateLs == 852) | (dateLs == 905)]
# logSH1 = []
# for i in dataPathLs:
#     df = pd.read_csv(i, compression='gzip')[["code", "time", "accvolume", "price", "volume", "open", 
#                                             "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
#                                             "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
#                                             "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
#     logSH1 += [df]
# logSH1 = pd.concat(logSH1).reset_index(drop=True)
# logSH1 = logSH1.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
#                                "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
#                                "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
#                                "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
#                                 "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200515_Tick\20200515_Tick\SZ\20200515\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
logSZ1 = []
for i in dataPathLs:
    df = pd.read_csv(i, encoding='GBK')[["code", "time", "accvolume", "price", "volume", "open", 
                                            "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
                                            "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
                                            "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
    logSZ1 += [df]
logSZ1 = pd.concat(logSZ1).reset_index(drop=True)
logSZ1 = logSZ1.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
                               "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
                               "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
                               "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
                                "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    logSZ1[col] = logSZ1[col]/10000
#     logSH1[col] = logSH1[col]/10000

    
# logSH = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200513_zs_92_01_day_data\mdLog_SH_20200513_0831.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
#                                               "exchange", "time", "cum_volume", "cum_amount", "close",
#                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                               "ask4q", "ask5q", "openPrice"]]
# logSH2 = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200513_zt_96_04_day_96data\mdLog_SH_20200513_0832.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
#                                               "exchange", "time", "cum_volume", "cum_amount", "close",
#                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                               "ask4q", "ask5q", "openPrice"]]
logSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200515_zs_92_01_day_data\mdLog_SZ_20200515_0834.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
# logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
# logSH2["time"] = logSH2["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))  
# display(logSH2["source"].unique())

In [7]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200527\20200527_Tick\SZ\20200527\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
logSZ11 = []
for i in dataPathLs:
    df = pd.read_csv(i, encoding='GBK')[["code", "time", "accvolume", "price", "volume", "open", 
                                            "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
                                            "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
                                            "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
    logSZ11 += [df]
logSZ11 = pd.concat(logSZ11).reset_index(drop=True)
logSZ11 = logSZ11.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
                               "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
                               "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
                               "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
                                "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    logSZ11[col] = logSZ11[col]/10000

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200527\20200527_Tick_2\20200527_Tick\SZ\20200527\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
logSZ12 = []
for i in dataPathLs:
    df = pd.read_csv(i, encoding='GBK')[["code", "time", "accvolume", "price", "volume", "open", 
                                            "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
                                            "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
                                            "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
    logSZ12 += [df]
logSZ12 = pd.concat(logSZ12).reset_index(drop=True)
logSZ12 = logSZ12.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
                               "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
                               "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
                               "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
                                "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    logSZ12[col] = logSZ12[col]/10000

display(logSZ11.shape[0])
display(logSZ12.shape[0])
logSZ1 = pd.concat([logSZ11, logSZ12]).drop_duplicates()
display(logSZ1.shape[0])

    

logSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200527_zs_92_01_day_data\mdLog_SZ_20200527_0838.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

## 1.1 SH lv2 comparison

In [2]:
in_dex = [16, 300, 852, 905]
data1 = logSH2[~logSH2["StockID"].isin(in_dex) & (logSH2["cum_volume"] > 0) & (logSH2["time"] <= 145700000)
              & (logSH2["source"] == 13)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()

n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]

test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["time_x"].count()
n2 = test["time_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["time_y"])])
    display(len(test[np.isnan(test["time_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["time_x"])])
    display(n2-n1)
    print((n2-n1)/n1)

1600
1602
5116051
5116051
5116051
-----------------------------------------------

In [ ]:
display(data1_1[(data1_1["StockID"] == 688169) & (data1_1["cum_volume"] == 1011)])
display(data2_1[(data2_1["StockID"] == 688169) & (data2_1["cum_volume"] == 1011)])

## 1.2 SH index comparison

In [3]:
in_dex = list(set(in_dex) & set(logSH1["StockID"].unique()))
print(in_dex)
data1 = logSH[(logSH["StockID"].isin(in_dex)) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)]
data2 = logSH1[(logSH1["StockID"].isin(in_dex)) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]

data2["cum_volume"] = data2["cum_volume"]/100

# data2 = data2[data2["openPrice"] != 0]
columns = ["StockID", "cum_volume", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
columns = ["StockID", "cum_volume", "close", "openPrice"]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["time_x"].count()
n2 = test["time_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["time_y"])])

[300]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2847
2847
2847

## 1.3 SZ lv2 comparison

In [8]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) ]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]

columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["time_x"].count()
n2 = test["time_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["time_y"])])
    print(len(test[np.isnan(test["time_y"])])/n1)
    print(np.sort(test[np.isnan(test["time_y"])]["time_x"].unique()))
    print(len(np.sort(test[np.isnan(test["time_y"])]["StockID"].unique())))
    print(np.sort(test[np.isnan(test["time_y"])]["StockID"].unique()))
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["time_x"])])
    display(n2-n1)

2203
2567
6813370
6813370
6813370
-----------------------------------------------

In [6]:
pd.set_option("max_columns", 200)
data2[(data2["StockID"] == 1)]

,StockID,time,cum_volume,close,volume,openPrice,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q
6695300,1,92500000,291800,13.05,291800,13.05,13.05,13.04,13.03,13.02,13.01,101400,160000,200,1000,86900,13.06,13.07,13.08,13.09,13.10,13400,35400,76800,97700,71200
6695301,1,93000000,370800,13.06,79000,13.05,13.05,13.04,13.03,13.02,13.01,93300,160000,200,1500,86900,13.06,13.07,13.08,13.09,13.10,28700,237800,117800,97700,71700
6695302,1,93003000,813000,13.07,442200,13.05,13.06,13.05,13.04,13.03,13.02,475900,139700,147600,12200,27000,13.07,13.08,13.09,13.10,13.11,31400,145500,106400,91400,113600
6695303,1,93006000,925100,13.07,112100,13.05,13.06,13.05,13.04,13.03,13.02,424400,142900,144200,16200,27900,13.07,13.08,13.09,13.10,13.11,27700,148100,108000,96900,116200
6695304,1,93009000,978500,13.07,53400,13.05,13.07,13.06,13.05,13.04,13.03,38200,428400,141700,148200,16200,13.08,13.09,13.10,13.11,13.12,148100,108000,98700,117200,67700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6700003,1,145648000,47823194,13.00,4108,13.05,12.99,12.98,12.97,12.96,12.95,223700,140400,125700,202900,344100,13.00,13.01,13.02,13.03,13.04,5692,172492,87300,109400,115300
6700004,1,145651000,47827994,13.00,4800,13.05,12.99,12.98,12.97,12.96,12.95,227000,136400,125700,202900,343800,13.00,13.01,13.02,13.03,13.04,12692,172492,86300,109400,115300
6700005,1,145654000,47829994,13.00,2000,13.05,12.99,12.98,12.97,12.96,12.95,225900,133600,132200,202900,343800,13.00,13.01,13.02,13.03,13.04,31492,172492,86300,109400,115300
6700006,1,145657000,47851594,13.01,21600,13.05,13.00,12.99,12.98,12.97,12.96,1000,370700,133900,131400,202900,13.01,13.02,13.03,13.04,13.05,141692,70800,108600,115300,171800
6697160,1,104412000,26062889,13.03,11800,13.05,13.02,13.00,12.99,12.98,12.97,20500,29600,179000,208500,160200,13.03,13.04,13.05,13.06,13.07,8380,40800,71745,30500,18300

In [4]:
data1[(data1["StockID"] == 1) & (data1["cum_volume"] == 794409)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
322018,1589505917302915,1846306,4,1,SZ,92500000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
322028,1589505917303893,1846316,3,1,SZ,92500000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
327782,1589505977307026,2019591,4,1,SZ,92600000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
327813,1589505977310015,2019622,3,1,SZ,92600000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
332182,1589506037303812,2028819,4,1,SZ,92700000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
332237,1589506037309860,2028876,3,1,SZ,92700000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
336612,1589506097303953,2038068,4,1,SZ,92800000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
336661,1589506097310331,2038135,3,1,SZ,92800000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
341043,1589506157304219,2047324,4,1,SZ,92900000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39
341096,1589506157314523,2047377,3,1,SZ,92900000,794409,10637136.51,13.39,13.39,...,13.41,13.42,13.43,13.44,88300,32500,11600,23800,171100,13.39

# 2. Order data check

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os
pd.set_option("max_columns", 200)

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200513\Order\SZ\20200513\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
OrderLogSZ1 = []
for i in dataPathLs:
    df = pd.read_csv(i, compression='gzip')
    OrderLogSZ1 += [df]
OrderLogSZ1 = pd.concat(OrderLogSZ1).reset_index(drop=True)
OrderLogSZ1 = OrderLogSZ1.rename(columns={"code":"SecurityID", "time":"TransactTime", "function_code":"Side", "order_kind":"OrderType",
                             "order_price":"Price", "order_volume":"OrderQty", "order":"ApplSeqNum"})
OrderLogSZ1["Side"] = np.where(OrderLogSZ1["Side"] == 66, 1, 2)
OrderLogSZ1["OrderType"] = np.where(OrderLogSZ1["OrderType"] == 48, '2', np.where(
OrderLogSZ1["OrderType"] == 49, '1', 'U'))
OrderLogSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200513_zs_92_01_day_data\mdOrderLog_20200513_0831.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
sl = list(set(OrderLogSZ["SecurityID"].unique()) & set(OrderLogSZ1['SecurityID'].unique()))
OrderLogSZ = OrderLogSZ[OrderLogSZ["SecurityID"].isin(sl)]
OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["SecurityID"].isin(sl)]
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))

print(OrderLogSZ1.columns)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2207
2207
Index(['SecurityID', 'wind_code', 'name', 'date', 'TransactTime', 'ApplSeqNum',
       'OrderType', 'Side', 'Price', 'OrderQty'],
      dtype='object')

In [2]:
columns = ["ApplSeqNum", "TransactTime","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo"].count()
n2 = ree["date"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["date"])])
    print(len(ree[np.isnan(ree["date"])]))
    print(np.sort(ree[np.isnan(ree["date"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["date"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["date"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

35944783
35944828
35944828
-----------------------------------------------

'test is complete, baseline is not complete:'

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,wind_code,name,date
35944783,NaN,NaN,NaN,145959990,16242217,2466,1,2,184700,5000,002466.SZ,天齐锂业,20200513
35944784,NaN,NaN,NaN,145959980,16242209,300683,1,2,503200,200,300683.SZ,海特生物,20200513
35944785,NaN,NaN,NaN,145959990,17033962,2456,1,2,163700,600,002456.SZ,欧菲光,20200513
35944786,NaN,NaN,NaN,145959960,16702867,300353,1,2,101800,14700,300353.SZ,东土科技,20200513
35944787,NaN,NaN,NaN,145959960,17419914,2291,1,2,215100,5200,002291.SZ,星期六,20200513
35944788,NaN,NaN,NaN,145959970,17419915,2291,2,2,215100,1300,002291.SZ,星期六,20200513
35944789,NaN,NaN,NaN,145959980,17033959,300490,1,2,84000,500,300490.SZ,华自科技,20200513
35944790,NaN,NaN,NaN,145959980,16702873,300207,1,2,158100,200,300207.SZ,欣旺达,20200513
35944791,NaN,NaN,NaN,145959960,16242207,300045,1,2,130000,300,300045.SZ,华力创通,20200513
35944792,NaN,NaN,NaN,145959950,17033953,300368,1,2,97000,1000,300368.SZ,汇金股份,20200513
35944793,NaN,NaN,NaN,145959970,17033956,300368,1,2,96000,500,300368.SZ,汇金股份,20200513
35944794,NaN,NaN,NaN,145959990,17419922,2495,1,2,26900,2500,002495.SZ,佳隆股份,20200513
35944795,NaN,NaN,NaN,145959990,17033960,300567,1,2,691800,100,300567.SZ,精测电子,20200513
35944796,NaN,NaN,NaN,145959970,17419917,300698,2,2,226100,500,300698.SZ,万马科技,20200513
35944797,NaN,NaN,NaN,145959950,16242205,2216,1,2,238800,400,002216.SZ,三全食品,20200513
35944798,NaN,NaN,NaN,145959960,16702866,802,2,2,62800,100,000802.SZ,北京文化,20200513
35944799,NaN,NaN,NaN,145959970,17033957,2607,1,2,282300,100,002607.SZ,中公教育,20200513
35944800,NaN,NaN,NaN,145959960,17419913,2131,1,2,41700,300,002131.SZ,利欧股份,20200513
35944801,NaN,NaN,NaN,145959990,17419920,2241,2,2,209000,200,002241.SZ,歌尔股份,20200513
35944802,NaN,NaN,NaN,145959990,17419921,2241,2,2,209400,900,002241.SZ,歌尔股份,20200513
35944803,NaN,NaN,NaN,145959970,16702870,300146,1,2,191400,200,300146.SZ,汤臣倍健,20200513
35944804,NaN,NaN,NaN,145959950,16242204,300607,1,2,750000,200,300607.SZ,拓斯达,20200513
35944805,NaN,NaN,NaN,145959990,16242214,300234,1,2,62700,1900,300234.SZ,开尔新材,20200513
35944806,NaN,NaN,NaN,145959970,17419919,725,1,2,39000,20000,000725.SZ,京东方Ａ,20200513
35944807,NaN,NaN,NaN,145959950,17419912,2510,1,2,48000,1000,002510.SZ,天汽模,20200513
35944808,NaN,NaN,NaN,145959970,16242208,2437,2,2,31100,16200,002437.SZ,誉衡药业,20200513
35944809,NaN,NaN,NaN,145959990,16242215,848,2,2,64800,7000,000848.SZ,承德露露,20200513
35944810,NaN,NaN,NaN,145959980,16702872,596,1,2,1494900,1300,000596.SZ,古井贡酒,20200513
35944811,NaN,NaN,NaN,145959980,16242210,2332,1,2,150500,800,002332.SZ,仙琚制药,20200513
35944812,NaN,NaN,NaN,145959990,17033961,2947,2,2,535800,1000,002947.SZ,恒铭达,20200513
35944813,NaN,NaN,NaN,145959970,17419918,300584,2,2,244900,300,300584.SZ,海辰药业,20200513
35944814,NaN,NaN,NaN,145959960,17033955,2973,2,2,279400,800,002973.SZ,侨银环保,20200513
35944815,NaN,NaN,NaN,145959990,16702874,2185,1,2,141200,3000,002185.SZ,华天科技,20200513
35944816,NaN,NaN,NaN,145959960,17033954,19,1,2,99000,1200,000019.SZ,深粮控股,20200513
35944817,NaN,NaN,NaN,145959960,16702868,2117,2,2,110300,20000,002117.SZ,东港股份,20200513
35944818,NaN,NaN,NaN,145959950,16702865,300298,1,2,203500,100,300298.SZ,三诺生物,20200513
35944819,NaN,NaN,NaN,145959970,16702869,2601,1,2,174800,100,002601.SZ,龙蟒佰利,20200513
35944820,NaN,NaN,NaN,145959990,16242213,300200,2,2,143500,2500,300200.SZ,高盟新材,20200513
35944821,NaN,NaN,NaN,145959990,16242216,2421,1,2,41900,1000,002421.SZ,达实智能,20200513
35944822,NaN,NaN,NaN,145959970,17419916,300552,1,2,793000,400,300552.SZ,万集科技,20200513
35944823,NaN,NaN,NaN,145959980,16242211,300459,2,2,25500,216000,300459.SZ,金科文化,20200513
35944824,NaN,NaN,NaN,145959980,17033958,636,1,2,234700,100,000636.SZ,风华高科,20200513
35944825,NaN,NaN,NaN,145959950,16242206,2371,1,2,1588000,100,002371.SZ,北方华创,20200513
35944826,NaN,NaN,NaN,145959990,16242212,953,1,2,53500,300,000953.SZ,*ST河化,20200513
35944827,NaN,NaN,NaN,145959980,16702871,2808,2,2,91600,1300,002808.SZ,恒久科技,20200513

[145959950 145959960 145959970 145959980 145959990]
42
[  2466 300683   2456 300353   2291 300490 300207 300045 300368   2495
 300567 300698   2216    802   2607   2131   2241 300146 300607 300234
    725   2510   2437    848    596   2332   2947 300584   2973   2185
     19   2117 300298   2601 300200   2421 300552 300459    636   2371
    953   2808]

45

# 3. Trade data check

## 3.1 SH trade data check

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os
pd.set_option("max_columns", 200)

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200513\Transaction\SH\20200513\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= 600000) & (dateLs <= 700000)]
SH1 = []
for i in dataPathLs:
    df = pd.read_csv(i, compression='gzip')
    SH1 += [df]
SH1 = pd.concat(SH1).reset_index(drop=True)

SH1 = SH1.rename(columns={"code":"SecurityID", "time":"TransactTime", "bs_flag":"TradeBSFlag", "function_code":"ExecType",
                             "trade_price":"TradePrice", "trade_volume":"TradeQty", "ask_order":"OfferApplSeqNum", 
                              "bid_order":"BidApplSeqNum"})
SH1["ExecType"] = np.where(SH1["ExecType"] == 67, '4', 'F')
SH1["TradeMoney"] = SH1["TradePrice"] * SH1["TradeQty"]
SH1["TradeBSFlag"] = np.where(SH1["TradeBSFlag"] == 83, 'S', np.where(
SH1["TradeBSFlag"] == 66, 'B', 'N'))


SH = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200513_zs_92_01_day_data\mdTradeLog_20200513_0831.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
sl = list(set(SH["SecurityID"].unique()) & set(SH1['SecurityID'].unique()))
SH = SH[SH["SecurityID"].isin(sl)]
SH1 = SH1[SH1["SecurityID"].isin(sl)]
print(len(SH["SecurityID"].unique()))
print(len(SH1["SecurityID"].unique()))

print(SH1.columns)

1600
1600
Index(['SecurityID', 'wind_code', 'name', 'date', 'TransactTime', 'ExecType',
       'order_kind', 'TradeBSFlag', 'TradePrice', 'TradeQty',
       'OfferApplSeqNum', 'BidApplSeqNum', 'TradeMoney'],
      dtype='object')

In [2]:
# Wind少ApplSeqNum 
SH["ExecType"] = SH["ExecType"].apply(lambda x: str(x))
SH1["ExecType"] = SH1["ExecType"].apply(lambda x: str(x))
columns = ["TransactTime", "SecurityID", "TradePrice", "TradeQty", "TradeMoney", "TradeBSFlag","ExecType",
           "BidApplSeqNum", "OfferApplSeqNum"]
n1 = len(SH["SecurityID"].unique())
n2 = len(SH1["SecurityID"].unique())
print(n1)
print(n2)
if n1 > n2:
    SH = SH[SH["SecurityID"].isin(SH1["SecurityID"].unique())]
if n2 > n1:
    SH1 = SH1[SH1["SecurityID"].isin(SH["SecurityID"].unique())]
re = pd.merge(SH, SH1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo"].count()
n2 = re["name"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["name"])])
    print(len(re[np.isnan(re["name"])]))
    print(np.sort(re[np.isnan(re["name"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["name"])]["SecurityID"].unique()))
    print(re[np.isnan(re["name"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo"])])
    print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

1600
1600
13877616
13877810
13877810
-----------------------------------------------

'baseline is not complete:'

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,wind_code,name,date,order_kind
13877616,NaN,NaN,NaN,150500080,NaN,688126,F,N,182800,1000,182800000,88,85,688126.SH,沪硅产业-U,20200513,0
13877617,NaN,NaN,NaN,150500080,NaN,688126,F,N,182800,250,45700000,100,85,688126.SH,沪硅产业-U,20200513,0
13877618,NaN,NaN,NaN,150500080,NaN,688126,F,N,182800,1000,182800000,119,85,688126.SH,沪硅产业-U,20200513,0
13877619,NaN,NaN,NaN,150500080,NaN,688126,F,N,182800,300,54840000,155,85,688126.SH,沪硅产业-U,20200513,0
13877620,NaN,NaN,NaN,150500080,NaN,688126,F,N,182800,2500,457000000,157,85,688126.SH,沪硅产业-U,20200513,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13877805,NaN,NaN,NaN,151858000,NaN,688298,F,S,922100,13,11987300,416,419,688298.SH,东方生物,20200513,0
13877806,NaN,NaN,NaN,151456360,NaN,688111,F,B,2633700,903,2378231100,385,75,688111.SH,金山办公,20200513,0
13877807,NaN,NaN,NaN,150829600,NaN,688388,F,B,561600,289,162302400,279,251,688388.SH,嘉元科技,20200513,0
13877808,NaN,NaN,NaN,151931680,NaN,688388,F,B,561600,11,6177600,430,251,688388.SH,嘉元科技,20200513,0
13877809,NaN,NaN,NaN,151931680,NaN,688388,F,B,561600,189,106142400,430,350,688388.SH,嘉元科技,20200513,0

[150000210 150500080 150502370 150503510 150516700 150522440 150535610
 150536690 150546510 150554130 150606560 150616140 150619380 150632740
 150645850 150647260 150658330 150707140 150729790 150731020 150742780
 150746210 150747500 150748760 150804420 150809650 150816620 150829600
 150835300 150836370 150838080 150844640 150850470 150851440 150905000
 150905600 150905740 150906070 150921650 150937200 150937620 150939910
 150949800 151016620 151017650 151021240 151028760 151039380 151049090
 151051640 151055940 151105350 151134110 151134150 151215200 151225200
 151237650 151244810 151253790 151300270 151324260 151329210 151340980
 151343760 151345490 151349210 151355960 151403700 151419340 151422950
 151438540 151439040 151440260 151444790 151452420 151456360 151457580
 151503930 151505500 151507620 151512520 151529130 151556550 151626630
 151648860 151652130 151652210 151719320 151724470 151754340 151858000
 151905440 151911710 151931680 151938640 151958090 152004030 152038030
 152147470 152207460 152231370 152239820 152250200 152311560 152331350
 152500640 152517320 152543870 152629220 152635570 152636770 152655000
 152800910 152815430 152825320 152911920 152913500 152920370 152927830
 152928460 152948490 152952080]
56
[688126 688085 688233 688398 688026 688068 688098 688101 688066 688389
 688266 688366 688037 688012 688186 688177 688108 688116 688159 688089
 688222 688096 688007 688158 688018 688099 688358 688086 688396 688088
 688138 688128 688228 688365 688299 688310 688189 688321 688080 688123
 688399 688368 603439 688333 688258 688020 688318 688003 688011 688300
 688051 688139 688181 688298 688111 688388]

194

## 3.2 SZ trade data check

In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os
pd.set_option("max_columns", 200)

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200513\Transaction\SZ\20200513\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
TradeLogSZ1 = []
for i in dataPathLs:
    df = pd.read_csv(i, compression='gzip')
    TradeLogSZ1 += [df]
TradeLogSZ1 = pd.concat(TradeLogSZ1).reset_index(drop=True)

TradeLogSZ1 = TradeLogSZ1.rename(columns={"code":"SecurityID", "time":"TransactTime", "bs_flag":"TradeBSFlag", "function_code":"ExecType",
                             "trade_price":"TradePrice", "trade_volume":"TradeQty", "ask_order":"OfferApplSeqNum", 
                              "bid_order":"BidApplSeqNum"})
TradeLogSZ1["ExecType"] = np.where(TradeLogSZ1["ExecType"] == 67, '4', 'F')
TradeLogSZ1["TradeMoney"] = TradeLogSZ1["TradePrice"] * TradeLogSZ1["TradeQty"]
TradeLogSZ1["TradeBSFlag"] = np.where(TradeLogSZ1["TradeBSFlag"] == 83, 'S', np.where(
TradeLogSZ1["TradeBSFlag"] == 66, 'B', 'N'))


TradeLogSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200513_zs_92_01_day_data\mdTradeLog_20200513_0831.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
sl = list(set(TradeLogSZ["SecurityID"].unique()) & set(TradeLogSZ1['SecurityID'].unique()))
TradeLogSZ = TradeLogSZ[TradeLogSZ["SecurityID"].isin(sl)]
TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["SecurityID"].isin(sl)]
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))

print(TradeLogSZ1.columns)

2207
2207
Index(['SecurityID', 'wind_code', 'name', 'date', 'TransactTime', 'ExecType',
       'order_kind', 'TradeBSFlag', 'TradePrice', 'TradeQty',
       'OfferApplSeqNum', 'BidApplSeqNum', 'TradeMoney'],
      dtype='object')

In [4]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

TradeLogSZ1["TradeBSFlag"] = 'N'

columns = ["TransactTime","SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo"].count()
n2 = re["name"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["name"])])
    print(len(re[np.isnan(re["name"])]))
    print(np.sort(re[np.isnan(re["name"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["name"])]["SecurityID"].unique()))
    print(re[np.isnan(re["name"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo"])])
    print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

31625685
31625685
31625685
-----------------------------------------------