In [122]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

startDate = "20200612"
endDate = "20200616"
readPath = r'\\192.168.10.30\Kevin_zhenyu\rawData\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
opath = []
tpath = []
for i in dataPathLs:
    tpath.append(glob.glob(os.path.join(i, "mdLog_SH***")))
tpath1 = tpath[::2]
tpath2 = tpath[1::2]
print(tpath1)
print(tpath2)

for i in range(1):
    logSH = pd.read_csv(tpath1[i][0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    logSH1 = pd.read_csv(tpath2[i][0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
#     logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
#     logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
    
#     # completeness check
#     in_dex = [16, 300, 852, 905]
#     data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)
#               & (logSH["source"] == 3)]
#     data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)
#                   & (logSH1["source"] == 9)]
#     columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#            "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#            "ask4q", "ask5q", "openPrice"]
#     data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
#     data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
#     n1 = len(data1_1["StockID"].unique())
#     n2 = len(data2_1["StockID"].unique())
#     print(n1)
#     print(n2)
#     if n1 != n2:
#         sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
#         data1_1 = data1_1[data1_1["StockID"].isin(sl)]
#         data2_1 = data2_1[data2_1["StockID"].isin(sl)]

#     test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
#     n1 = test["sequenceNo_x"].count()
#     n2 = test["sequenceNo_y"].count()
#     len1 = len(test)
#     print(n1)
#     print(n2)
#     print(len1)
#     print("-----------------------------------------------")
#     if n2 < len1:
#         display("test is not complete:")
#         display(test[np.isnan(test["sequenceNo_y"])])
#         print(n1-n2)
#         display(len(test[np.isnan(test["sequenceNo_y"])]["StockID"].unique()))
#         display(test[np.isnan(test["sequenceNo_y"])]["StockID"].unique())
#         display(len(test[np.isnan(test["sequenceNo_y"])]["time_x"].unique()))
#         display(np.sort(test[np.isnan(test["sequenceNo_y"])]["time_x"].unique()))
        
#     if (len1 == n2) & (n1 < len1):
#         display("baseline is not complete:")
#         display(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0))])
#         display(n2-n1)
#         display(len(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0))]["StockID"].unique()))
#         display(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0))]["StockID"].unique())
#         display(len(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0))]["time_y"].unique()))
#         display(np.sort(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0))]["time_y"].unique()))

[['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200612_zs_92_01_day_data\\mdLog_SH_20200612_0846.csv'], ['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200615_zs_92_01_day_data\\mdLog_SH_20200615_0831.csv'], ['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200616_zs_92_01_day_data\\mdLog_SH_20200616_0840.csv']]
[['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200612_zt_96_04_day_96data\\mdLog_SH_20200612_0846.csv'], ['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200615_zt_96_04_day_96data\\mdLog_SH_20200615_0831.csv'], ['\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_20200616_zt_96_04_day_96data\\mdLog_SH_20200616_0843.csv']]

In [75]:
test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0)]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
5046234,NaN,NaN,NaN,NaN,600868,NaN,NaN,559500,1706379.0,3.05,3.04,3.03,3.02,3.01,3.00,120000,174900,57600,103600,185700,3.05,3.06,3.07,3.08,3.09,65100,266400,35800,90700,425350,3.05,358352.0,1.591925e+15,4201255.0,9.0,SH,93009730.0
5046235,NaN,NaN,NaN,NaN,603979,NaN,NaN,200400,1999997.0,9.92,9.91,9.90,9.89,9.88,9.86,1400,10300,2500,24000,100,9.92,9.94,9.95,9.96,9.98,1200,8600,30200,22100,24300,10.00,358412.0,1.591925e+15,4201513.0,9.0,SH,93010040.0
5046236,NaN,NaN,NaN,NaN,688021,NaN,NaN,130928,9463766.0,72.36,72.36,72.35,72.30,72.25,72.50,5818,19186,14228,500,6500,72.50,72.58,72.80,72.94,73.49,2600,206,2378,211,3881,72.22,358414.0,1.591925e+15,4202552.0,9.0,SH,93010890.0
5046237,NaN,NaN,NaN,NaN,688025,NaN,NaN,23834,1154822.0,48.39,48.43,48.30,48.11,48.10,48.09,313,236,200,400,500,48.58,48.59,48.60,48.98,48.99,3473,500,9504,5000,9500,48.41,358415.0,1.591925e+15,4202553.0,9.0,SH,93010150.0
5046238,NaN,NaN,NaN,NaN,600101,NaN,NaN,107100,629101.0,5.87,5.87,5.86,5.85,5.84,5.83,2600,45800,23300,23300,41100,5.88,5.89,5.90,5.91,5.92,3700,16400,74560,4900,4400,5.88,383562.0,1.591925e+15,5286379.0,9.0,SH,93033770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047967,NaN,NaN,NaN,NaN,688288,NaN,NaN,3014783,122705697.0,41.43,41.43,41.34,41.28,41.27,41.26,5000,9408,1270,6200,3304,41.44,41.45,41.47,41.48,41.49,3000,4443,200,200,2106,39.69,11660959.0,1.591945e+15,127679353.0,9.0,SH,145659780.0
5047968,NaN,NaN,NaN,NaN,688310,NaN,NaN,1040734,35364670.0,34.39,34.29,34.28,34.27,34.21,34.20,400,1141,18,5900,1791,34.39,34.40,34.41,34.42,34.45,1047,1741,4381,200,1100,33.60,11660960.0,1.591945e+15,127679354.0,9.0,SH,145649220.0
5047969,NaN,NaN,NaN,NaN,688388,NaN,NaN,1700640,88027767.0,51.78,51.76,51.75,51.73,51.72,51.71,1997,800,2000,4009,1210,51.78,51.82,51.84,51.86,51.88,4625,4000,700,200,200,50.98,11660961.0,1.591945e+15,127679355.0,9.0,SH,145659700.0
5104598,NaN,NaN,NaN,NaN,600306,NaN,NaN,652400,3301144.0,5.06,5.06,5.05,5.02,5.01,4.98,2239500,600,21100,3000,600,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,5.06,11782095.0,1.591945e+15,128649075.0,9.0,SH,145101370.0
5104599,NaN,NaN,NaN,NaN,603389,NaN,NaN,883560,3405555.0,3.90,3.89,3.88,3.86,3.85,3.84,26200,2400,11200,35600,1840,3.90,3.91,3.92,3.94,3.95,7180,18380,10000,13900,12000,3.85,11782447.0,1.591945e+15,128649427.0,9.0,SH,145627970.0

In [76]:
test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0)]["time_y"].describe([0.1, 0.2, 0.3, 
                                                                                                        0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count         1738
mean     120619690
std       20620442
min       93009730
10%       94124656
20%      100277804
30%      102563965
40%      105703410
50%      112693815
60%      133274812
70%      141133745
80%      144453638
90%      145655811
max      145659950
Name: time_y, dtype: int64

In [73]:
rr = pd.merge(data2_1, test[(np.isnan(test["sequenceNo_y"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0)][["StockID","cum_volume",\
    "close", "time_x"]], on=["StockID", "cum_volume", "close"], how="inner")
rr[["StockID", "cum_volume", "time_x"]]

    StockID  cum_volume      time_x
0    603323     2316930  94322250.0
1    603323     2316930  94322250.0
2    603323     2316930  94322250.0
3    603323     2316930  94322250.0
4    603323     2316930  94322250.0
5    603868      361000  94322250.0
6    603868      361000  94322250.0
7    603868      361000  94322250.0
8    603868      361000  94322250.0
9    603868      361000  94322250.0
10   603868      361000  94322250.0
11   603868      361000  94322250.0
12   688218      245640  94322250.0
13   688218      245640  94322250.0
14   688218      245640  94322250.0
15   688218      245640  94322250.0
16   688218      245640  94322250.0
17   688218      245640  94322250.0
18   688218      245640  94322250.0
19   600926     2459477  94322250.0
20   600926     2459477  94322250.0
21   603101     2753696  94322250.0
22   603101     2753696  94322250.0
23   603101     2753696  94322250.0
24   603013      522500  94322250.0
25   603013      522500  94322250.0
26   601860     2855310  94322250.0
27   603222       68000  94322250.0
28   603222       68000  94322250.0
29   603222       68000  94322250.0
30   603327      877899  94322250.0
31   603327      877899  94322250.0
32   603439    13664888  94322250.0
33   603879     2940359  94322250.0
34   603885     2889714  94322250.0
35   603017      522400  94322250.0
36   603017      522400  94322250.0
37   603017      522400  94322250.0
38   603017      522400  94322250.0
39   603067     1718200  94322250.0
40   688005      614744  94322250.0
41   688005      614744  94322250.0
42   688005      614744  94322250.0
43   688005      614744  94322250.0
44   688081      322437  94322250.0
45   688099      244057  94322250.0
46   603266     2904208  94322250.0
47   603730      614400  94322250.0
48   603730      614400  94322250.0
49   603798      195100  94322250.0
50   603886      910200  94322250.0
51   603886      910200  94322250.0
52   688228      263799  94322250.0
53   688228      263799  94322250.0
54   688228      263799  94322250.0
55   688228      263799  94322250.0

In [91]:
test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0)) & (test["cum_volume"] <= test["max_volume"])]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,max_volume
13812,NaN,NaN,NaN,NaN,600604,NaN,NaN,24742165,203040869.0,8.28,8.28,8.27,8.26,8.25,8.24,40500,31000,20500,77700,60100,8.29,8.30,8.31,8.32,8.33,51300,110900,110400,59100,35600,8.17,9369347.0,1.591942e+15,103433592.0,9.0,SH,140920380.0,29888865
20717,NaN,NaN,NaN,NaN,600970,NaN,NaN,8625442,46137736.0,5.34,5.34,5.33,5.32,5.31,5.30,173950,653900,353708,353800,362900,5.36,5.37,5.38,5.39,5.40,54084,212100,232200,262900,134800,5.32,6789347.0,1.591939e+15,79686749.0,9.0,SH,131053360.0,16123684
20718,NaN,NaN,NaN,NaN,600970,NaN,NaN,12208276,65376309.0,5.38,5.38,5.37,5.35,5.34,5.33,500,17200,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,11400,198100,122950,136400,152700,5.32,8951869.0,1.591942e+15,99296459.0,9.0,SH,140029570.0,16123684
20719,NaN,NaN,NaN,NaN,600970,NaN,NaN,12259176,65650201.0,5.39,5.39,5.37,5.35,5.34,5.33,5800,3000,212600,176000,523500,5.40,5.40,5.41,5.42,5.43,196700,196700,116650,136400,152700,5.32,8992601.0,1.591942e+15,99721874.0,9.0,SH,140125490.0,16123684
20720,NaN,NaN,NaN,NaN,600970,NaN,NaN,12775376,68432334.0,5.40,5.38,5.37,5.36,5.35,5.34,18900,85500,165200,203200,153200,5.40,5.41,5.42,5.43,5.44,35900,144350,143000,148100,57700,5.32,9369421.0,1.591942e+15,103433673.0,9.0,SH,140921420.0,16123684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5086059,NaN,NaN,NaN,NaN,688002,NaN,NaN,2132115,97736150.0,45.80,45.79,45.78,45.72,45.71,45.70,2595,300,2300,2725,701,45.80,45.92,45.93,45.96,45.98,2643,1900,300,4697,200,45.30,9637854.0,1.591942e+15,106221022.0,9.0,SH,141453120.0,2357823
5088287,NaN,NaN,NaN,NaN,688003,NaN,NaN,881856,25091439.0,28.54,28.52,28.51,28.50,28.49,28.48,2564,1000,1380,3556,8158,28.54,28.55,28.56,28.57,28.60,3724,3758,650,1981,6576,28.69,2322647.0,1.591928e+15,38776438.0,9.0,SH,100516680.0,2357372
5088981,NaN,NaN,NaN,NaN,600301,NaN,NaN,1251207,8627470.0,7.05,7.03,7.02,7.01,6.97,6.95,100,100,1495,1000,5200,7.04,7.05,7.06,7.07,7.08,1000,10800,19100,6000,11000,6.79,11660754.0,1.591945e+15,127679135.0,9.0,SH,145647070.0,1251207
5091050,NaN,NaN,NaN,NaN,600620,NaN,NaN,4356631,26217843.0,6.01,6.01,6.00,5.99,5.98,5.97,36388,255600,118400,82600,55000,6.02,6.03,6.04,6.05,6.06,19600,27000,36000,12700,29400,6.05,11660787.0,1.591945e+15,127679168.0,9.0,SH,145647650.0,4356631
5100798,NaN,NaN,NaN,NaN,600847,NaN,NaN,294900,3234934.0,11.03,11.03,11.01,11.00,11.00,10.99,2200,3200,5000,5000,1400,11.04,11.05,11.06,11.07,11.09,1300,100,1800,2600,2000,10.96,9959543.0,1.591943e+15,109373524.0,9.0,SH,142113960.0,320900

In [118]:
rr = pd.merge(data1_1, test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | (test["ask2p"] != 0)) & (test["cum_volume"] <= test["max_volume"])][["StockID","cum_volume",\
    "close", "time_y"]], on=["StockID", "cum_volume", "close"], how="inner")
pd.merge(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0) & (test["cum_volume"] <= test["max_volume"])],
                rr.drop_duplicates(["StockID", "cum_volume", "close"])[["StockID", "cum_volume", "close"]], on=["StockID", "cum_volume", "close"], how="inner")

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,max_volume
0,NaN,NaN,NaN,NaN,600604,NaN,NaN,24742165,203040869.0,8.28,8.28,8.27,8.26,8.25,8.24,40500,31000,20500,77700,60100,8.29,8.30,8.31,8.32,8.33,51300,110900,110400,59100,35600,8.17,9369347.0,1.591942e+15,103433592.0,9.0,SH,140920380.0,29888865
1,NaN,NaN,NaN,NaN,600970,NaN,NaN,8625442,46137736.0,5.34,5.34,5.33,5.32,5.31,5.30,173950,653900,353708,353800,362900,5.36,5.37,5.38,5.39,5.40,54084,212100,232200,262900,134800,5.32,6789347.0,1.591939e+15,79686749.0,9.0,SH,131053360.0,16123684
2,NaN,NaN,NaN,NaN,600970,NaN,NaN,12208276,65376309.0,5.38,5.38,5.37,5.35,5.34,5.33,500,17200,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,11400,198100,122950,136400,152700,5.32,8951869.0,1.591942e+15,99296459.0,9.0,SH,140029570.0,16123684
3,NaN,NaN,NaN,NaN,600970,NaN,NaN,12259176,65650201.0,5.39,5.39,5.37,5.35,5.34,5.33,5800,3000,212600,176000,523500,5.40,5.40,5.41,5.42,5.43,196700,196700,116650,136400,152700,5.32,8992601.0,1.591942e+15,99721874.0,9.0,SH,140125490.0,16123684
4,NaN,NaN,NaN,NaN,600970,NaN,NaN,12775376,68432334.0,5.40,5.38,5.37,5.36,5.35,5.34,18900,85500,165200,203200,153200,5.40,5.41,5.42,5.43,5.44,35900,144350,143000,148100,57700,5.32,9369421.0,1.591942e+15,103433673.0,9.0,SH,140921420.0,16123684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,NaN,NaN,NaN,NaN,688008,NaN,NaN,1573283,138917317.0,88.80,88.80,88.51,88.50,88.49,88.46,200,3330,5695,1000,359,88.82,88.84,88.85,89.00,89.02,559,1000,3603,550,200,87.18,5965249.0,1.591932e+15,73569585.0,9.0,SH,112752240.0,2511773
1346,NaN,NaN,NaN,NaN,688001,NaN,NaN,1721231,73654614.0,42.97,42.96,42.95,42.94,42.91,42.90,120,300,1200,200,1898,42.98,43.00,43.02,43.07,43.10,1702,500,13292,1843,2570,42.60,11274732.0,1.591945e+15,122854618.0,9.0,SH,144948950.0,1821379
1347,NaN,NaN,NaN,NaN,600301,NaN,NaN,1251207,8627470.0,7.05,7.03,7.02,7.01,6.97,6.95,100,100,1495,1000,5200,7.04,7.05,7.06,7.07,7.08,1000,10800,19100,6000,11000,6.79,11660754.0,1.591945e+15,127679135.0,9.0,SH,145647070.0,1251207
1348,NaN,NaN,NaN,NaN,600620,NaN,NaN,4356631,26217843.0,6.01,6.01,6.00,5.99,5.98,5.97,36388,255600,118400,82600,55000,6.02,6.03,6.04,6.05,6.06,19600,27000,36000,12700,29400,6.05,11660787.0,1.591945e+15,127679168.0,9.0,SH,145647650.0,4356631
1349,NaN,NaN,NaN,NaN,600847,NaN,NaN,294900,3234934.0,11.03,11.03,11.01,11.00,11.00,10.99,2200,3200,5000,5000,1400,11.04,11.05,11.06,11.07,11.09,1300,100,1800,2600,2000,10.96,9959543.0,1.591943e+15,109373524.0,9.0,SH,142113960.0,320900

In [119]:
pd.merge(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0) & (test["cum_volume"] <= test["max_volume"])],
                rr.drop_duplicates(["StockID", "cum_volume", "close"])[["StockID", "cum_volume", "close"]], on=["StockID", "cum_volume", "close"], how="inner")["time_y"]\
.describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count         1350
mean     118401130
std       20066131
min       93010890
10%       94051940
20%       95306810
30%      102020035
40%      104620404
50%      111591835
60%      131316442
70%      135282655
80%      142146948
90%      144828097
max      145656850
Name: time_y, dtype: int64

In [102]:
rr[rr["source"].isnull()][["StockID", "cum_volume"]]

         StockID  cum_volume
5046253   600503    37629687
5046254   603777     6643205
5046255   603929     6282100
5046256   603353     6607224
5046257   601186    34976975
...          ...         ...
5046636   601788     6004123
5046637   601098      638500
5046638   688002     2132115
5046639   688003      881856
5046640   601113     2509900

[388 rows x 2 columns]

In [99]:
np.sort(pd.merge(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0)],
                rr[rr["source"].isnull()][["StockID", "cum_volume"]], on=["StockID", "cum_volume"], how="inner")["time_y"].astype('int64').unique())

array([100115360, 100115890, 100259560, 100516680, 100748660, 101154510,
       105855220, 110435420, 111847650, 111910610, 112032970, 112033300,
       112346530, 112410410, 112504250, 131856390, 132523540, 135958630,
       141453120, 141517360, 141517810, 141608720, 141610860, 141611250,
       144811990], dtype=int64)

In [79]:
pd.merge(test[(np.isnan(test["sequenceNo_x"])) & ((test["bid2p"] != 0) | test["ask2p"] != 0)],
                rr[rr["source"].isnull()][["StockID", "cum_volume"]], on=["StockID", "cum_volume"], how="inner")["time_y"].describe([0.1,\
                            0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count          181
mean     142107877
std       10853696
min      100115360
10%      141453120
20%      145657160
30%      145657730
40%      145658250
50%      145658740
60%      145659150
70%      145659370
80%      145659610
90%      145659780
max      145659950
Name: time_y, dtype: int64

In [90]:
k = data1_1.groupby("StockID")["cum_volume"].max().reset_index()
k = k.rename(columns={"cum_volume":"max_volume"})
test = pd.merge(test, k, on="StockID", how="inner")
test

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,max_volume
0,396095.0,1.591925e+15,1974046.0,3.0,600109,SH,92500320.0,1147500,11589750.0,10.10,10.09,10.08,10.07,10.06,10.05,31200,77800,24000,46900,51100,10.10,10.11,10.12,10.13,10.14,227571,45100,68300,53800,35600,10.10,322647.0,1.591925e+15,2172364.0,9.0,SH,92500020.0,53459161
1,426222.0,1.591925e+15,2476181.0,3.0,600109,SH,93000200.0,1182300,11940877.0,10.08,10.08,10.07,10.06,10.05,10.04,77300,24000,46900,51100,16200,10.09,10.10,10.11,10.12,10.13,35600,227771,45100,68300,53800,10.10,343681.0,1.591925e+15,2555496.0,9.0,SH,93000100.0,53459161
2,429866.0,1.591925e+15,2910823.0,3.0,600109,SH,93003330.0,1785200,18021341.0,10.07,10.07,10.06,10.05,10.04,10.03,30400,69800,87100,24700,52900,10.10,10.11,10.12,10.13,10.14,170551,44100,18900,18400,30600,10.10,347497.0,1.591925e+15,3041732.0,9.0,SH,93003080.0,53459161
3,433218.0,1.591925e+15,3324028.0,3.0,600109,SH,93006290.0,2393600,24158570.0,10.08,10.07,10.06,10.05,10.04,10.03,10600,251100,110900,27200,71000,10.08,10.09,10.10,10.11,10.12,90700,25800,218551,38300,11800,10.10,350747.0,1.591925e+15,3398503.0,9.0,SH,93006050.0,53459161
4,436321.0,1.591925e+15,3741122.0,3.0,600109,SH,93009280.0,2748700,27737539.0,10.08,10.08,10.06,10.05,10.04,10.03,36200,220300,120500,32200,90300,10.09,10.10,10.11,10.12,10.13,52600,125451,38300,11800,18400,10.10,353956.0,1.591925e+15,3745702.0,9.0,SH,93009050.0,53459161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104595,12562975.0,1.591945e+15,118047773.0,3.0,600265,SH,145634350.0,109000,2160850.0,19.75,19.70,19.69,19.67,19.66,19.65,1000,3000,500,100,1000,19.79,19.82,19.88,19.91,19.93,500,1400,4000,5100,2800,19.62,11636107.0,1.591945e+15,127385387.0,9.0,SH,145634220.0,109000
5104596,NaN,NaN,NaN,NaN,600265,NaN,NaN,109000,2160850.0,19.75,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,19.62,11662107.0,1.591945e+15,127695766.0,9.0,SH,145634220.0,109000
5104597,NaN,NaN,NaN,NaN,600265,NaN,NaN,109000,2160850.0,19.75,19.75,0.00,0.00,0.00,0.00,2300,700,0,0,0,19.75,0.00,0.00,0.00,0.00,2300,0,0,0,0,19.62,11678518.0,1.591945e+15,127793484.0,9.0,SH,145634220.0,109000
5104598,NaN,NaN,NaN,NaN,600265,NaN,NaN,109000,2160850.0,19.75,19.75,0.00,0.00,0.00,0.00,2300,1700,0,0,0,19.75,0.00,0.00,0.00,0.00,2300,0,0,0,0,19.62,11729361.0,1.591945e+15,128083279.0,9.0,SH,145634220.0,109000
5104599,NaN,NaN,NaN,NaN,600265,NaN,NaN,109000,2160850.0,19.75,19.75,0.00,0.00,0.00,0.00,2400,1600,0,0,0,19.75,0.00,0.00,0.00,0.00,2400,0,0,0,0,19.62,11742212.0,1.591945e+15,128150858.0,9.0,SH,145634220.0,109000

In [132]:
display(logSH[(logSH["StockID"] == 600970) & (logSH["cum_volume"] >= 12259176) & (logSH["source"] == 3)].head(10))
display(logSH1[(logSH1["StockID"] == 600970) & (logSH1["cum_volume"] >= 12259176) & (logSH1["source"] == 9)].head(10))

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
9752698,1591941683272318,92712451,3,600970,SH,14:01:22.570,12259176,65650201.0,5.39,5.39,5.37,5.36,5.35,5.34,5800,3000,170100,212600,176000,5.40,5.41,5.42,5.43,5.44,196700,116650,136400,152700,57700,5.32
9755199,1591941686266925,92733723,3,600970,SH,14:01:25.570,12264976,65681463.0,5.39,5.37,5.36,5.35,5.34,5.33,3000,170100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,1100,196700,116650,136400,152700,5.32
9757634,1591941689269381,92755115,3,600970,SH,14:01:28.570,12266776,65691171.0,5.40,5.37,5.36,5.35,5.34,5.33,3000,170100,212600,176000,523500,5.40,5.41,5.42,5.43,5.44,197600,116650,136400,152700,56700,5.32
9760028,1591941692266251,92776664,3,600970,SH,14:01:31.570,12266776,65691171.0,5.40,5.38,5.37,5.36,5.35,5.34,200,3000,171100,212600,176000,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9760724,1591941692852430,92780307,3,600970,SH,14:01:32.110,12266776,65691171.0,5.40,5.38,5.37,5.36,5.35,5.34,200,3000,171100,212600,176000,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9762430,1591941695270968,92798696,3,600970,SH,14:01:34.570,12266776,65691171.0,5.40,5.38,5.37,5.36,5.35,5.34,200,41100,171100,212600,176000,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9764943,1591941698275449,92821309,3,600970,SH,14:01:37.580,12270976,65713729.0,5.37,5.37,5.36,5.35,5.34,5.33,38600,171100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9767416,1591941701271657,92842895,3,600970,SH,14:01:40.580,12281976,65773019.0,5.39,5.37,5.36,5.35,5.34,5.33,42000,171100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,4000,197600,116650,136400,153800,5.32
9769864,1591941704268699,92863957,3,600970,SH,14:01:43.570,12281976,65773019.0,5.39,5.38,5.37,5.36,5.35,5.34,6300,42600,170900,212600,176000,5.39,5.40,5.41,5.42,5.43,4000,197600,118250,136400,153800,5.32
9772385,1591941707267922,92885607,3,600970,SH,14:01:46.570,12282776,65777331.0,5.39,5.38,5.37,5.36,5.35,5.34,10200,39400,170900,212600,176000,5.39,5.40,5.41,5.42,5.43,3200,197600,118250,136400,153800,5.32

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
8990391,1591941683483883,99699048,9,600970,SH,14:01:20.570,12259176,65650201.0,5.39,5.39,5.37,5.36,5.35,5.34,5800,3000,170100,212600,176000,5.40,5.41,5.42,5.43,5.44,196700,116650,136400,152700,57700,5.32
8992601,1591941686438416,99721874,9,600970,SH,14:01:25.490,12259176,65650201.0,5.39,5.39,5.37,5.35,5.34,5.33,5800,3000,212600,176000,523500,5.40,5.40,5.41,5.42,5.43,196700,196700,116650,136400,152700,5.32
8993186,1591941687436603,99727834,9,600970,SH,14:01:25.490,12264976,65681463.0,5.39,5.37,5.36,5.35,5.34,5.33,3000,170100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,1100,196700,116650,136400,152700,5.32
8994925,1591941689491986,99745485,9,600970,SH,14:01:27.850,12266776,65691171.0,5.40,5.37,5.36,5.35,5.34,5.33,3000,170100,212600,176000,523500,5.40,5.41,5.42,5.43,5.44,197600,116650,136400,152700,56700,5.32
8997173,1591941692457825,99769158,9,600970,SH,14:01:27.850,12266776,65691171.0,5.40,5.38,5.37,5.36,5.35,5.34,200,3000,171100,212600,176000,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
8999434,1591941695471662,99794003,9,600970,SH,14:01:27.850,12266776,65691171.0,5.40,5.38,5.37,5.36,5.35,5.34,200,41100,171100,212600,176000,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9001833,1591941698550518,99818699,9,600970,SH,14:01:35.850,12270976,65713729.0,5.37,5.37,5.36,5.35,5.34,5.33,38600,171100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,15000,197600,116650,136400,152700,5.32
9004214,1591941701516655,99841817,9,600970,SH,14:01:39.750,12281976,65773019.0,5.39,5.37,5.36,5.35,5.34,5.33,42000,171100,212600,176000,523500,5.39,5.40,5.41,5.42,5.43,4000,197600,116650,136400,153800,5.32
9006451,1591941704516047,99864495,9,600970,SH,14:01:39.750,12281976,65773019.0,5.39,5.38,5.37,5.36,5.35,5.34,6300,42600,170900,212600,176000,5.39,5.40,5.41,5.42,5.43,4000,197600,118250,136400,153800,5.32
9008720,1591941707521718,99888456,9,600970,SH,14:01:44.120,12282776,65777331.0,5.39,5.38,5.37,5.36,5.35,5.34,10200,39400,170900,212600,176000,5.39,5.40,5.41,5.42,5.43,3200,197600,118250,136400,153800,5.32

In [164]:
logSH[(logSH["time"] <= '14:57:00.000') & (logSH["bid2p"] == 0) & (logSH["ask2p"] == 0) & 
      (logSH["source"] == 3) & (logSH["cum_volume"] > 0)]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice]
Index: []

In [178]:
sum(logSH1[(logSH1["time"] <= '14:57:00.000') & (logSH1["bid2p"] == 0) & (logSH1["ask2p"] == 0) & 
      (logSH1["source"] == 9) & (logSH1["cum_volume"] > 0)& (logSH1["bid1p"] != 0) & (~logSH1["StockID"].isin([16, 300, 852, 905]))].groupby("StockID")["time"].nunique() != 1)

0

In [172]:
logSH1[(logSH1["StockID"] == 600000) & (logSH1["source"] == 9) & (logSH1["cum_volume"] > 22503782)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
11782005,1591945205082381,128648985,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11783455,1591945206126943,128656372,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11788429,1591945266059686,128853138,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11792716,1591945326035867,128899426,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11796943,1591945386065451,128937339,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11801153,1591945446132207,128970201,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11805387,1591945506041786,129002766,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11809594,1591945566103045,129032722,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11813810,1591945626150277,129058100,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11818018,1591945686116395,129082745,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58
11822225,1591945746089456,129106681,9,600000,SH,15:00:00.580,25514482,267574331.0,10.55,10.52,10.48,10.47,10.46,10.45,5500,162100,35700,92397,218632,10.55,10.56,10.57,10.58,10.59,191599,315235,717900,812172,216000,10.58

In [163]:
logSH1[(logSH1["sequenceNo"] >= 127651188) & (logSH1["StockID"] == 600000)].head(20)[["clockAtArrival", "sequenceNo", "StockID", "source", "time", "cum_volume",
                                                                                    "close", "bid1p", "bid2p", "ask1p", "ask2p", "bid1q", "bid2q", "ask1q", "ask2q"]]

,clockAtArrival,sequenceNo,StockID,source,time,cum_volume,close,bid1p,bid2p,ask1p,ask2p,bid1q,bid2q,ask1q,ask2q
11657411,1591945018375638,127651188,600000,13,14:56:58.000,22500453,10.49,10.47,10.46,10.49,10.5,3329,27897,18100,42500
11658577,1591945020098653,127667675,600000,9,14:56:57.940,22500453,10.49,10.47,10.46,10.49,10.5,3329,27897,18100,42500
11659697,1591945020388555,127671691,600000,13,14:57:00.000,22503782,10.47,0.00,0.00,0.00,0.0,0,0,0,0
11661744,1591945023430527,127690250,600000,13,14:57:03.000,22503782,10.47,10.47,0.00,10.47,0.0,1100,0,1100,5571
11661920,1591945024076123,127695566,600000,9,14:56:59.490,22503782,10.47,10.47,0.00,10.47,0.0,1100,0,1100,5571
11664175,1591945025053030,127701149,600000,13,14:57:04.000,22503782,10.47,10.46,0.00,10.46,0.0,3200,26197,3200,0
11664604,1591945026072823,127705283,600000,9,14:56:59.490,22503782,10.47,10.46,0.00,10.46,0.0,3200,26197,3200,0
11666001,1591945028057822,127712998,600000,13,14:57:07.000,22503782,10.47,10.60,0.00,10.60,0.0,1900600,0,1900600,93211
11666686,1591945028968985,127716809,600000,9,14:56:59.490,22503782,10.47,10.60,0.00,10.60,0.0,1900600,0,1900600,93211
11668240,1591945031056562,127730216,600000,13,14:57:10.000,22503782,10.47,10.60,0.00,10.60,0.0,1924700,0,1924700,73511
11668841,1591945031993476,127734150,600000,9,14:56:59.490,22503782,10.47,10.60,0.00,10.60,0.0,1924700,0,1924700,73511
11670379,1591945034047205,127743652,600000,13,14:57:13.000,22503782,10.47,10.60,0.00,10.60,0.0,1949200,0,1949200,129611
11670968,1591945035003118,127747779,600000,9,14:56:59.490,22503782,10.47,10.60,0.00,10.60,0.0,1949200,0,1949200,129611
11672467,1591945037061529,127756383,600000,13,14:57:16.000,22503782,10.47,10.59,0.00,10.59,0.0,1949200,0,1949200,18011
11672946,1591945038003679,127760008,600000,9,14:56:59.490,22503782,10.47,10.59,0.00,10.59,0.0,1949200,0,1949200,18011
11674468,1591945040037980,127770773,600000,13,14:57:19.000,22503782,10.47,10.59,0.00,10.59,0.0,1952500,0,1952500,92064
11675094,1591945041015019,127774450,600000,9,14:56:59.490,22503782,10.47,10.59,0.00,10.59,0.0,1952500,0,1952500,92064
11676690,1591945043049738,127783188,600000,13,14:57:22.000,22503782,10.47,10.59,0.00,10.59,0.0,1972100,0,1972100,78664
11677177,1591945044052234,127786325,600000,9,14:56:59.490,22503782,10.47,10.59,0.00,10.59,0.0,1972100,0,1972100,78664
11678487,1591945046054806,127793412,600000,13,14:57:25.000,22503782,10.47,10.67,0.00,10.67,0.0,2860100,0,2860100,82764

In [154]:
import datetime
datetime.datetime.fromtimestamp(1591945024076136/1e6).strftime("%Y-%m-%d %H:%M:%S %f")

'2020-06-12 14:57:04 076136'

In [149]:
logSH1[(logSH1["time"] <= '14:57:00.000') & (logSH1["bid2p"] == 0) & (logSH1["ask2p"] == 0) & 
      (logSH1["source"] == 13) & (logSH1["cum_volume"] > 0) & (~logSH1["StockID"].isin([16, 300, 852, 905]))]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
11659403,1591945020237271,127669763,13,600050,SH,14:57:00.000,145498520,7.135805e+08,4.92,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4.90
11659404,1591945020237276,127669764,13,600479,SH,14:57:00.000,5924260,5.583258e+07,9.55,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,9.30
11659405,1591945020237279,127669765,13,600771,SH,14:57:00.000,15093073,2.053529e+08,13.63,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,13.65
11659406,1591945020237283,127669766,13,601369,SH,14:57:00.000,3326430,1.963665e+07,5.96,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,5.90
11659407,1591945020237286,127669767,13,601968,SH,14:57:00.000,4854200,2.519274e+07,5.21,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,5.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11661353,1591945021181903,127681183,13,688118,SH,14:57:00.000,2060482,8.233059e+07,40.07,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,39.51
11661354,1591945021181907,127681184,13,688128,SH,14:57:00.000,1928045,3.681091e+07,19.17,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,18.87
11661355,1591945021181911,127681185,13,688588,SH,14:57:00.000,5329390,2.355812e+08,44.27,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,43.20
11661356,1591945021231555,127681636,13,688006,SH,14:57:00.000,2512714,1.167184e+08,47.42,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,46.10
11661357,1591945021231562,127681637,13,688008,SH,14:57:00.000,2511773,2.219206e+08,88.20,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,87.18