In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


# database_name = 
# user = 
# password = 

# db = white_db.DB("192.168.10.223", database_name, user, password)
# data = db.read(table, ***)

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20170101
endDate = 20171123
targetStockLs = [2000001]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    print(startDate)

    SZ = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SZ = SZ[SZ['skey'] > 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:04:15.472472
20170901
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
527,2001872,20170901,28.26,28.38,27.36,27.72,27.85,0.958067,-0.004668,0.048411,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
886,2001914,20170901,10.65,10.66,10.56,10.57,10.60,0.986228,-0.002830,-0.001889,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.765932
0:00:03.772912
20170904
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
526,2001872,20170904,27.45,27.71,27.11,27.45,27.72,0.958067,-0.009740,0.030792,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
886,2001914,20170904,10.58,10.60,10.38,10.48,10.57,0.986228,-0.008515,-0.011321,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.603367
0:00:03.612343
20170905
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
527,2001872,20170905,27.39,27.85,27.39,27.45,27.45,0.958067,0.000000,0.003656,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
888,2001914,20170905,10.42,10.82,10.41,10.63,10.48,0.986228,0.014313,0.000942,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.468726
0:00:03.475707
20170906
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
525,2001872,20170906,27.45,27.45,26.80,27.07,27.45,0.958067,-0.013843,-0.031485,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
885,2001914,20170906,10.60,10.76,10.55,10.65,10.63,0.986228,0.001881,-0.002809,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.477702
0:00:03.484684
20170907
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
523,2001872,20170907,27.18,27.18,26.82,26.87,27.07,0.958067,-0.007388,-0.035189,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
882,2001914,20170907,10.51,10.75,10.51,10.63,10.65,0.986228,-0.001878,0.002830,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.583419
0:00:03.591398
20170908
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
521,2001872,20170908,26.83,27.87,26.73,27.19,26.87,0.958067,0.011909,-0.019120,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
879,2001914,20170908,10.60,10.83,10.50,10.82,10.63,0.986228,0.017874,0.023652,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.845719
0:00:03.852700
20170911
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
523,2001872,20170911,27.05,27.33,26.83,27.19,27.19,0.958067,0.000000,-0.009472,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
879,2001914,20170911,10.78,10.86,10.70,10.77,10.82,0.986228,-0.004621,0.027672,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.459750
0:00:03.466731
20170912
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
525,2001872,20170912,27.29,27.86,27.18,27.22,27.19,0.958067,0.001103,-0.008379,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
882,2001914,20170912,10.78,10.92,10.73,10.77,10.77,0.986228,0.000000,0.013170,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.871649
0:00:03.879628
20170913
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
526,2001872,20170913,26.89,27.19,26.73,26.91,27.22,0.958067,-0.011389,-0.005911,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
882,2001914,20170913,10.70,10.78,10.60,10.62,10.77,0.986228,-0.013928,-0.002817,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.480695
0:00:03.487676
20170914
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
527,2001872,20170914,26.99,27.50,26.83,27.08,26.91,0.958067,0.006317,0.007815,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
884,2001914,20170914,10.62,10.82,10.57,10.79,10.62,0.986228,0.016008,0.015052,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.633286
0:00:03.640268
20170915
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
528,2001872,20170915,27.01,27.05,26.72,26.77,27.08,0.958067,-0.011448,-0.015447,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
886,2001914,20170915,10.99,11.05,10.72,10.86,10.79,0.986228,0.006487,0.003697,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.390934
0:00:03.397916
20170918
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
526,2001872,20170918,26.73,26.94,26.7,26.78,26.77,0.958067,0.000374,-0.015079,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
886,2001914,20170918,10.90,10.90,10.6,10.68,10.86,0.986228,-0.016575,-0.008357,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.330096
0:00:03.337078
20170919
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
531,2001872,20170919,26.78,26.88,26.20,26.43,26.78,0.958067,-0.013069,-0.029023,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
892,2001914,20170919,10.69,10.92,10.62,10.75,10.68,0.986228,0.006554,-0.001857,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.387364
0:00:03.394345
20170920
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
530,2001872,20170920,26.44,26.67,26.2,26.47,26.43,0.958067,0.001513,-0.016351,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
891,2001914,20170920,10.69,10.78,10.6,10.72,10.75,0.986228,-0.002791,0.009416,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.640268
0:00:03.647250
20170921
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
529,2001872,20170921,26.3,26.50,26.15,26.16,26.47,0.958067,-0.011711,-0.033973,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
891,2001914,20170921,10.7,10.75,10.39,10.44,10.72,0.986228,-0.026119,-0.032437,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.712076
0:00:03.719057
20170922
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
532,2001872,20170922,26.17,26.29,26.01,26.06,26.16,0.958067,-0.003823,-0.026522,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
894,2001914,20170922,10.44,10.66,10.30,10.54,10.44,0.986228,0.009579,-0.029466,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.563473
0:00:03.571451
20170925
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
532,2001872,20170925,26.06,26.12,25.23,25.30,26.06,0.958067,-0.029163,-0.055265,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
895,2001914,20170925,10.43,10.67,10.41,10.45,10.54,0.986228,-0.008539,-0.021536,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.338075
0:00:03.345057
20170926
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
535,2001872,20170926,25.3,25.59,25.30,25.48,25.30,0.958067,0.007115,-0.035944,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
898,2001914,20170926,10.4,10.66,10.37,10.49,10.45,0.986228,0.003828,-0.024186,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.510615
0:00:03.519590
20170927
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
534,2001872,20170927,25.48,25.54,25.32,25.45,25.48,0.958067,-0.001177,-0.038534,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
895,2001914,20170927,10.47,10.58,10.42,10.50,10.49,0.986228,0.000953,-0.020522,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.246322
0:00:03.254300
20170928
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
536,2001872,20170928,25.45,25.50,24.95,24.96,25.45,0.958067,-0.019253,-0.045872,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
896,2001914,20170928,10.54,10.77,10.50,10.60,10.50,0.986228,0.009524,0.015326,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.498647
0:00:03.505628
20170929
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20170929,24.97,25.56,24.97,25.41,24.96,0.958067,0.018029,-0.024942,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
897,2001914,20170929,10.70,10.75,10.50,10.60,10.60,0.986228,0.000000,0.005693,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.231360
0:00:03.238342
20171009
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171009,25.42,25.98,25.42,25.90,25.41,0.958067,0.019284,0.023715,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
894,2001914,20171009,10.73,10.73,10.52,10.57,10.60,0.986228,-0.002830,0.011483,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.313142
0:00:03.320123
20171010
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171010,25.79,26.00,25.74,25.92,25.90,0.958067,0.000772,0.017268,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
893,2001914,20171010,10.57,10.63,10.53,10.59,10.57,0.986228,0.001892,0.009533,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.457755
0:00:03.465734
20171011
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
535,2001872,20171011,25.93,27.50,25.67,26.73,25.92,0.958067,0.031250,0.050295,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
891,2001914,20171011,10.63,10.72,10.56,10.64,10.59,0.986228,0.004721,0.013333,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.808817
0:00:03.816796
20171012
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171012,26.57,26.85,26.11,26.66,26.73,0.958067,-0.002619,0.068109,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
894,2001914,20171012,10.68,10.73,10.56,10.65,10.64,0.986228,0.000940,0.004717,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.424843
0:00:03.431824
20171013
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
539,2001872,20171013,26.61,26.98,26.40,26.71,26.66,0.958067,0.001875,0.051161,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
897,2001914,20171013,10.66,10.69,10.51,10.58,10.65,0.986228,-0.006573,-0.001887,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.395921
0:00:03.402903
20171016
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
538,2001872,20171016,27.11,27.34,26.25,26.49,26.71,0.958067,-0.008237,0.022780,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
896,2001914,20171016,10.60,10.60,10.26,10.31,10.58,0.986228,-0.025520,-0.024598,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.625307
0:00:03.632288
20171017
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171017,26.29,26.56,26.20,26.4,26.49,0.958067,-0.003398,0.018519,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
895,2001914,20171017,10.25,10.32,10.06,10.1,10.31,0.986228,-0.020369,-0.046270,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.445758
0:00:03.452740
20171018
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
536,2001872,20171018,26.40,26.99,25.58,25.64,26.4,0.958067,-0.028788,-0.040778,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
895,2001914,20171018,10.16,10.17,9.98,10.01,10.1,0.986228,-0.008911,-0.059211,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.398241
0:00:04.408215
20171019
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171019,25.45,25.79,24.74,24.76,25.64,0.958067,-0.034321,-0.071268,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
897,2001914,20171019,9.99,10.06,9.90,10.00,10.01,0.986228,-0.000999,-0.061033,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.554497
0:00:03.561478
20171020
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
537,2001872,20171020,24.94,26.80,24.94,26.13,24.76,0.958067,0.055331,-0.021715,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
898,2001914,20171020,10.00,10.24,9.95,10.22,10.00,0.986228,0.022000,-0.034026,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.323115
0:00:03.330097
20171023
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
536,2001872,20171023,26.40,26.63,25.98,26.24,26.13,0.958067,0.004210,-0.009438,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
899,2001914,20171023,10.22,10.37,10.16,10.37,10.22,0.986228,0.014677,0.005820,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.342065
0:00:03.349047
20171024
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
535,2001872,20171024,26.21,26.72,25.51,26.50,26.24,0.958067,0.009909,0.003788,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
897,2001914,20171024,10.37,10.57,10.31,10.45,10.37,0.986228,0.007715,0.034653,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.405894
0:00:03.413872
20171025
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
535,2001872,20171025,26.39,26.47,25.88,26.12,26.50,0.958067,-0.014340,0.018721,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
897,2001914,20171025,10.46,10.48,10.35,10.40,10.45,0.986228,-0.004785,0.038961,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.417862
0:00:03.426838
20171026
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
538,2001872,20171026,26.02,26.49,25.93,26.12,26.12,0.958067,0.000000,0.054927,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
901,2001914,20171026,10.39,10.43,10.26,10.34,10.40,0.986228,-0.005769,0.034000,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.599376
0:00:03.606358
20171027
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
538,2001872,20171027,26.22,26.48,26.10,26.24,26.12,0.958067,0.004594,0.00421,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
902,2001914,20171027,10.39,10.39,10.18,10.22,10.34,0.986228,-0.011605,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.498647
0:00:03.506626
20171030
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
540,2001872,20171030,26.26,26.39,25.00,25.17,26.24,0.958067,-0.040777,-0.040777,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
904,2001914,20171030,10.23,10.31,9.98,10.04,10.22,0.986228,-0.017613,-0.031823,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.764907
0:00:03.771888
20171031
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
542,2001872,20171031,25.10,25.89,24.91,25.38,25.17,0.958067,0.008343,-0.042264,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
908,2001914,20171031,10.07,10.80,10.01,10.49,10.04,0.986228,0.044821,0.003828,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.507622
0:00:03.514603
20171101
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
542,2001872,20171101,25.35,25.35,25.01,25.02,25.38,0.958067,-0.014184,-0.042113,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
908,2001914,20171101,10.52,10.68,10.38,10.45,10.49,0.986228,-0.003813,0.004808,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.496651
0:00:03.503632
20171102
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
542,2001872,20171102,24.99,25.25,24.43,24.44,25.02,0.958067,-0.023181,-0.064319,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
910,2001914,20171102,10.50,10.55,10.41,10.47,10.45,0.986228,0.001914,0.012573,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.534550
0:00:03.542528
20171103
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
545,2001872,20171103,24.51,24.77,24.22,24.41,24.44,0.958067,-0.001227,-0.069741,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
913,2001914,20171103,10.54,10.60,10.40,10.60,10.47,0.986228,0.012416,0.037182,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.314140
0:00:03.322119
20171106
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
544,2001872,20171106,24.43,24.50,23.70,24.10,24.41,0.958067,-0.012700,-0.042511,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
912,2001914,20171106,10.52,10.65,10.47,10.62,10.60,0.986228,0.001887,0.057769,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.343062
0:00:03.350044
20171107
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
545,2001872,20171107,24.11,26.25,24.00,25.32,24.10,0.958067,0.050622,-0.002364,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
914,2001914,20171107,10.55,10.96,10.54,10.87,10.62,0.986228,0.023540,0.036225,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.308155
0:00:03.315136
20171108
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
545,2001872,20171108,25.27,25.28,24.73,24.88,25.32,0.958067,-0.017378,-0.005596,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
913,2001914,20171108,10.86,11.07,10.78,10.86,10.87,0.986228,-0.000920,0.039234,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.450774
0:00:03.457755
20171109
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
546,2001872,20171109,24.90,24.95,24.52,24.61,24.88,0.958067,-0.010852,0.006956,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
915,2001914,20171109,10.91,10.91,10.75,10.78,10.86,0.986228,-0.007366,0.029608,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.484683
0:00:03.492661
20171110
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
546,2001872,20171110,24.80,25.11,24.61,24.97,24.61,0.958067,0.014628,0.022941,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
914,2001914,20171110,10.78,10.85,10.64,10.83,10.78,0.986228,0.004638,0.021698,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.437809
0:00:03.445788
20171113
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
547,2001872,20171113,25.35,25.35,24.71,24.76,24.97,0.958067,-0.008410,0.027386,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
913,2001914,20171113,10.78,10.92,10.73,10.81,10.83,0.986228,-0.001847,0.017891,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.450774
0:00:03.458753
20171114
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
547,2001872,20171114,24.74,24.87,24.35,24.54,24.76,0.958067,-0.008885,-0.030806,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
914,2001914,20171114,10.81,10.90,10.71,10.80,10.81,0.986228,-0.000925,-0.006440,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.484683
0:00:03.492662
20171115
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
548,2001872,20171115,24.54,24.68,24.11,24.30,24.54,0.958067,-0.009780,-0.023312,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
916,2001914,20171115,10.83,10.98,10.66,10.74,10.80,0.986228,-0.005556,-0.011050,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.364005
0:00:03.371984
20171116
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
546,2001872,20171116,24.01,24.45,24.01,24.14,24.30,0.958067,-0.006584,-0.019098,...,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
910,2001914,20171116,10.73,10.77,10.58,10.61,10.74,0.986228,-0.012104,-0.015770,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.254299
0:00:03.261281
20171117
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
547,2001872,20171117,24.30,24.55,23.88,24.14,24.14,0.958067,0.000000,-0.033240,...,0.0,0.0,0.0,0.0,1.0,155.0,464866050.0,644763730.0,NaN,NaN
911,2001914,20171117,10.52,10.66,10.30,10.47,10.61,0.986228,-0.013195,-0.033241,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.592395
0:00:03.600374
20171120
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20171120,10.48,10.48,10.01,10.25,10.47,0.986228,-0.021012,-0.051804,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.291201
0:00:03.297186
20171121
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20171121,10.19,10.38,10.12,10.22,10.25,0.986228,-0.002927,-0.053704,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.317132
0:00:03.324113
20171122
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
905,2001914,20171122,10.2,10.29,10.18,10.25,10.22,0.986228,0.002935,-0.045624,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.291201
0:00:03.298183
20171123
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
904,2001914,20171123,10.24,10.47,10.15,10.18,10.25,0.986228,-0.006829,-0.040528,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.296188
0:00:03.303168

In [3]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20180102
endDate = 20180309
targetStockLs = [2000001]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    print(startDate)

    SZ = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SZ = SZ[SZ['skey'] > 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:56.635350
20180102
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
905,2001914,20180102,9.75,9.93,9.72,9.9,9.71,0.986228,0.019567,0.00304,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.425841
0:00:03.432822
20180103
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180103,9.93,9.93,9.72,9.82,9.9,0.986228,-0.008081,0.002041,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.383953
0:00:03.390935
20180104
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180104,9.79,9.84,9.73,9.78,9.82,0.986228,-0.004073,0.001024,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.940465
0:00:03.947446
20180105
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180105,9.78,10.15,9.76,10.1,9.78,0.986228,0.03272,0.045549,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.578433
0:00:03.587409
20180108
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180108,10.08,10.22,9.95,10.06,10.1,0.986228,-0.00396,0.036045,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.486679
0:00:03.493660
20180109
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180109,9.99,10.14,9.99,10.01,10.06,0.986228,-0.00497,0.011111,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.361014
0:00:03.370987
20180110
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180110,9.98,10.01,9.7,9.78,10.01,0.986228,-0.022977,-0.004073,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.460747
0:00:03.468726
20180111
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180111,9.76,9.88,9.57,9.86,9.78,0.986228,0.00818,0.00818,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.319126
0:00:03.326107
20180112
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180112,9.84,10.65,9.77,10.17,9.86,0.986228,0.03144,0.006931,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.275244
0:00:03.282225
20180115
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180115,10.18,10.2,9.92,10.02,10.17,0.986228,-0.014749,-0.003976,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.599378
0:00:03.607356
20180116
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180116,9.93,10.44,9.93,10.24,10.02,0.986228,0.021956,0.022977,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.399910
0:00:03.405894
20180117
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180117,10.12,10.31,10.05,10.11,10.24,0.986228,-0.012695,0.033742,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.496652
0:00:03.503633
20180118
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180118,10.16,10.19,9.97,10.0,10.11,0.986228,-0.01088,0.014199,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.290203
0:00:03.297184
20180119
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180119,9.99,10.06,9.81,9.81,10.0,0.986228,-0.019,-0.035398,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.418860
0:00:03.425841
20180122
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180122,9.78,10.15,9.68,10.08,9.81,0.986228,0.027523,0.005988,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.334087
0:00:03.341095
20180123
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180123,10.04,10.35,10.04,10.18,10.08,0.986228,0.009921,-0.005859,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.325110
0:00:03.333089
20180124
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180124,10.23,10.49,10.11,10.26,10.18,0.986228,0.007859,0.014837,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.605362
0:00:03.612343
20180125
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180125,10.24,10.32,9.99,10.11,10.26,0.986228,-0.01462,0.011,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.597383
0:00:03.604364
20180126
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180126,10.05,10.16,10.01,10.12,10.11,0.986228,0.000989,0.0316,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.423846
0:00:03.430827
20180129
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180129,10.13,10.17,9.91,9.98,10.12,0.986228,-0.013834,-0.009921,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.450774
0:00:03.456758
20180130
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180130,9.92,10.04,9.92,10.01,9.98,0.986228,0.003006,-0.016699,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.302172
0:00:03.308156
20180131
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
916,2001914,20180131,10.02,10.17,9.94,10.02,10.01,0.986228,0.000999,-0.023392,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.401233
0:00:04.410209
20180201
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180201,10.09,10.09,9.53,9.63,10.02,0.986228,-0.038922,-0.047478,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.645254
0:00:03.653233
20180202
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
887,2001914,20180202,9.52,9.59,9.33,9.41,9.63,0.986228,-0.022845,-0.070158,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.323116
0:00:03.330096
20180205
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
867,2001914,20180205,9.22,9.42,9.2,9.33,9.41,0.986228,-0.008502,-0.06513,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.038848
0:00:03.045830
20180206
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
865,2001914,20180206,9.23,9.23,8.48,8.55,9.33,0.986228,-0.083601,-0.145854,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.345057
0:00:03.351041
20180207
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
860,2001914,20180207,8.74,8.95,8.36,8.76,8.55,0.986228,0.024561,-0.125749,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.351041
0:00:03.358022
20180208
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
863,2001914,20180208,8.64,8.84,8.61,8.7,8.76,0.986228,-0.006849,-0.096573,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.056828
0:00:03.062812
20180209
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
864,2001914,20180209,8.38,8.68,8.1,8.37,8.7,0.986228,-0.037931,-0.110521,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.252305
0:00:03.258289
20180212
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
871,2001914,20180212,8.44,8.53,8.35,8.46,8.37,0.986228,0.010753,-0.093248,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.012945
0:00:03.019926
20180213
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
872,2001914,20180213,8.52,8.83,8.51,8.6,8.46,0.986228,0.016548,0.005848,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.063809
0:00:03.069793
20180214
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
880,2001914,20180214,8.59,8.68,8.55,8.6,8.6,0.986228,0.0,-0.018265,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:02.632960
0:00:02.638944
20180222
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
885,2001914,20180222,8.65,8.69,8.61,8.67,8.6,0.986228,0.00814,-0.003448,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:02.876310
0:00:02.882294
20180223
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
891,2001914,20180223,8.68,8.7,8.6,8.68,8.67,0.986228,0.001153,0.037037,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.167531
0:00:03.173515
20180226
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
896,2001914,20180226,8.68,8.83,8.64,8.83,8.68,0.986228,0.017281,0.043735,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.196459
0:00:03.202438
20180227
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180227,8.9,8.9,8.71,8.77,8.83,0.986228,-0.006795,0.019767,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.547515
0:00:03.554511
20180228
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180228,8.8,9.38,8.71,9.22,8.77,0.986228,0.051311,0.072093,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.396918
0:00:03.402902
20180301
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
899,2001914,20180301,9.01,9.2,9.01,9.17,9.22,0.986228,-0.005423,0.05767,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.492662
0:00:03.499643
20180302
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180302,9.07,9.28,9.07,9.18,9.17,0.986228,0.001091,0.057604,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.483685
0:00:03.490668
20180305
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180305,9.23,9.23,8.96,9.03,9.18,0.986228,-0.01634,0.02265,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.319126
0:00:03.327105
20180306
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180306,9.03,9.15,9.01,9.12,9.03,0.986228,0.009967,0.039909,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.675173
0:00:03.682154
20180307
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180307,9.15,9.17,9.02,9.03,9.12,0.986228,-0.009868,-0.020607,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.393926
0:00:03.400908
20180308
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180308,9.03,9.12,8.95,9.01,9.03,0.986228,-0.002215,-0.017448,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.141254
0:00:05.150230
20180309
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180309,8.98,9.19,8.97,9.18,9.01,0.986228,0.018868,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.859681
0:00:03.867659

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20190225
endDate = 20190311
targetStockLs = [2000001]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    print(startDate)

    SZ = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SZ = SZ[SZ['skey'] > 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:43.665378
20190225
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190225,7.92,8.29,7.89,8.23,7.87,0.973838,0.045743,0.02875,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.316785
0:00:05.325761
20190226
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190226,8.24,8.4,8.15,8.21,8.23,0.973838,-0.00243,0.041878,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.094381
0:00:05.103357
20190227
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190227,8.23,8.44,8.17,8.38,8.21,0.973838,0.020706,0.059418,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.085405
0:00:05.095377
20190228
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190228,8.37,8.51,8.22,8.31,8.38,0.973838,-0.008353,0.061303,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.860006
0:00:04.869979
20190301
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190301,8.29,8.38,8.23,8.33,8.31,0.973838,0.002407,0.05845,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.808146
0:00:04.817121
20190304
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190304,8.33,8.58,8.31,8.4,8.33,0.973838,0.008403,0.020656,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.173169
0:00:05.183142
20190305
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190305,8.35,8.57,8.35,8.57,8.4,0.973838,0.020238,0.043849,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.394577
0:00:05.404550
20190306
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190306,8.58,8.78,8.51,8.74,8.57,0.973838,0.019837,0.042959,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.215058
0:00:05.225031
20190307
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190307,8.69,9.09,8.61,9.0,8.74,0.973838,0.029748,0.083032,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.290854
0:00:05.299830
20190308
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190308,8.9,9.26,8.61,8.69,9.0,0.973838,-0.034444,0.043217,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.423500
0:00:05.433474
20190311
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190311,8.82,9.04,8.69,8.98,8.69,0.973838,0.033372,0.069048,...,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.153222
0:00:05.162198

In [3]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20200219
endDate = 20200303
targetStockLs = [2000001]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    print(startDate)

    SZ = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SZ = SZ[SZ['skey'] > 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:41.866676
20200219
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:05.003623
0:00:05.014594
20200220
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:04.944780
0:00:04.955751
20200221
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.009606
0:00:05.018582
20200224
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:04.974700
0:00:04.984674
20200225
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.152624
0:00:05.161600
20200226
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.064461
0:00:05.073437
20200227
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.108665
0:00:05.117641
20200228
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.145232
0:00:05.156203
20200302
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:04.903890
0:00:04.914861
20200303
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1]
[1]
[1 2]
[1 2]
0:00:05.052492
0:00:05.063463