In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


# database_name = 
# user = 
# password = 

# db = white_db.DB("192.168.10.223", database_name, user, password)
# data = db.read(table, ***)

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20170101
endDate = 20171221
targetStockLs = [1600000]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    print(startDate)

    SH = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SH = SH[SH['skey'] < 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SH[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SH["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 1000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SH["cum_max"] = SH.groupby("skey")["cum_volume"].transform(max)
    s2 = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey").first().reset_index()
    dd = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey")["time"].first().reset_index()
    SH.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    if SH["date"].iloc[0] < 20180820:
        s2["auction"] = 0
    else:
        dd["auction"] = np.where(dd["time"]<=145700000000, 0, 1)
        dd = dd.rename(columns={"skey": "ID"})
        s2 = pd.merge(s2, dd[["ID", "auction"]], on="ID")
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount", "auction"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(re[re["d_amount_y"].isnull()])
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SH[SH["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SH[SH["has_missing"] == 1])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:01:57.791900
20170901
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:02.721747
0:00:02.727708
20170904
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.673851
0:00:02.678838
20170905
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.616006
0:00:02.620993
20170906
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:03.340072
0:00:03.349046
20170907
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.691131
0:00:03.706092
20170908
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:02.770593
0:00:02.776577
20170911
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.636951
0:00:02.641938
20170912
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.719759
0:00:02.725740
20170913
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.808490
0:00:02.813478
20170914
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.592070
0:00:02.598054
20170915
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.564145
0:00:02.569131
20170918
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.495329
0:00:02.500315
20170919
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.569131
0:00:02.574118
20170920
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.578108
0:00:02.585089
20170921
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.698785
0:00:02.704769
20170922
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.568134
0:00:02.574118
20170925
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.601046
0:00:02.606033
20170926
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.516273
0:00:02.521284
20170927
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.425515
0:00:02.430502
20170928
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.429505
0:00:02.435489
20170929
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.413547
0:00:02.418534
20171009
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.616006
0:00:02.620993
20171010
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.745660
0:00:02.750647
20171011
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.771590
0:00:02.776577
20171012
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.711749
0:00:02.716736
20171013
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.536220
0:00:02.544198
20171016
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.864342
0:00:02.869328
20171017
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.490341
0:00:02.495328
20171018
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:02.494331
0:00:02.500315
20171019
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.536219
0:00:02.541206
20171020
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.428508
0:00:02.433494
20171023
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.442469
0:00:02.447456
20171024
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.449451
0:00:02.454438
20171025
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.499318
0:00:02.504305
20171026
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.601047
0:00:02.606034
20171027
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:02.545195
0:00:02.550182
20171030
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 2 3]
0:00:02.674848
0:00:02.680832
20171031
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]

[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.526245
0:00:02.531232
20171101
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.881298
0:00:02.886284
20171102
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.751643
0:00:02.759621
20171103
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.752641
0:00:02.758625
20171106
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.702774
0:00:02.708758
20171107
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
355  1601360  20171107    9.67    9.67   9.67       9.67      8.79

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
355      0.970913     0.100114      0.138987  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
355        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
355      NaN

[1 rows x 28 columns]
0:00:02.730699
0:00:02.735686
20171108
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171108   10.64   10.64  10.64      10.64      9.67

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913      0.10031      0.253239  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:04.236673
0:00:04.241660
20171109
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171109    11.7    11.7   11.7       11.7     10.64

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913     0.099624      0.347926  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:02.585088
0:00:02.590074
20171110
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
357  1601360  20171110   12.87   12.87  12.87      12.87      11.7

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
357      0.970913          0.1      0.464164  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
357        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
357      NaN

[1 rows x 28 columns]
0:00:02.657894
0:00:02.662881
20171113
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
357  1601360  20171113   14.16   14.16  14.16      14.16     12.87

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
357      0.970913     0.100233      0.610922  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
357        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
357      NaN

[1 rows x 28 columns]
0:00:02.638944
0:00:02.643930
20171114
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
357  1601360  20171114   15.58   15.58  15.58      15.58     14.16

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
357      0.970913     0.100282      0.611169  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
357        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
357      NaN

[1 rows x 28 columns]
0:00:02.839409
0:00:02.845393
20171115
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171115   17.14   17.14  17.14      17.14     15.58

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913     0.100128      0.610902  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:02.746657
0:00:02.751643
20171116
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171116   18.85   18.85  18.85      18.85     17.14

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913     0.099767      0.611111  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:02.682828
0:00:02.687814
20171117
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171117   20.74   20.74  20.74      20.74     18.85

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913     0.100265        0.6115  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:02.969063
0:00:02.975047
20171120
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
356  1601360  20171120   22.81   22.81  22.81      22.81     20.74

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
356      0.970913     0.099807      0.610876  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
356        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
356      NaN

[1 rows x 28 columns]
0:00:02.634955
0:00:02.639942
20171121

[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
355  1601360  20171121   25.09   25.09  25.09      25.09     22.81

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
355      0.970913     0.099956      0.610398  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
355        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
355      NaN

[1 rows x 28 columns]
0:00:02.551179
0:00:02.556166
20171122
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
355  1601360  20171122    27.6    27.6   27.6       27.6     25.09

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
355      0.970913      0.10004      0.610268  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
355        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
355      NaN

[1 rows x 28 columns]
0:00:02.653904
0:00:02.661883
20171123
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
355  1601360  20171123   30.36   30.36  30.36      30.36      27.6

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
355      0.970913          0.1       0.61061  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
355        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
355      NaN

[1 rows x 28 columns]
0:00:02.579105
0:00:02.584092
20171124
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171124    33.4    33.4   33.4       33.4     30.36

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913     0.100132      0.610415  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.424519
0:00:02.429506
20171127
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
350  1601360  20171127   36.74   36.74  36.74      36.74      33.4

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
350      0.970913          0.1      0.610697  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
350        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
350      NaN

[1 rows x 28 columns]
0:00:02.387617
0:00:02.392604
20171128
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
351  1601360  20171128   40.41   40.41  40.41      40.41     36.74

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
351      0.970913     0.099891      0.610602  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
351        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
351      NaN

[1 rows x 28 columns]
0:00:02.377643
0:00:02.382630
20171129
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
351  1601360  20171129   44.45   44.45  44.45      44.45     40.41

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
351      0.970913     0.099975      0.610507  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
351        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
351      NaN

[1 rows x 28 columns]
0:00:02.543201
0:00:02.548188
20171130
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
352  1601360  20171130    48.9    48.9   48.9       48.9     44.45

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
352      0.970913     0.100112      0.610672  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
352        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
352      NaN

[1 rows x 28 columns]
0:00:02.396591
0:00:02.401576
20171201
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171201    49.5   53.79  48.93      52.97      48.9

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913     0.083231      0.585928  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.745659
0:00:02.750646
20171204
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171204   47.67   47.67  47.67      47.67     52.97

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913    -0.100057      0.297496  ...    1.0    1.0   1.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.472390
0:00:02.477377
20171205
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171205    42.9   49.88   42.9      45.97     47.67

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913    -0.035662       0.13759  ...    0.0    1.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.592070
0:00:02.597057
20171206

[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171206   45.21   47.19  43.74      46.96     45.97

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913     0.021536      0.056468  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.448454
0:00:02.453440
20171207
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171207    46.4   51.66  45.82       50.3     46.96

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913     0.071124       0.02863  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.382629
0:00:02.386619
20171208
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171208    50.3   52.83  49.28      49.91      50.3

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913    -0.007753     -0.057769  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.437483
0:00:02.442469
20171211
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171211    49.9   54.48  49.52      53.13     49.91

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913     0.064516      0.114537  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.405569
0:00:02.410556
20171212
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171212    53.0   53.31  47.95      50.09     53.13

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913    -0.057218      0.089624  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.454438
0:00:02.460422
20171213
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171213   49.61   50.45  48.02      49.02     50.09

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913    -0.021362      0.043867  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.288881
0:00:02.292870
20171214
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171214    48.6   49.64   47.5      48.72     49.02

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913     -0.00612     -0.031412  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.364678
0:00:02.368668
20171215
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
353  1601360  20171215   48.56   51.39   48.5      49.31     48.72

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
353      0.970913      0.01211     -0.012022  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
353        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
353      NaN

[1 rows x 28 columns]
0:00:02.363681
0:00:02.368668
20171218
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171218    49.0    49.0  44.38      44.47     49.31

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913    -0.098155     -0.162996  ...    0.0    1.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.318801
0:00:02.323787
20171219
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
354  1601360  20171219    45.0   46.26   44.6      45.14     44.47

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
354      0.970913     0.015066     -0.098822  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
354        0.0         0.0   397182443.0  397182443.0        NaN         NaN

     auction
354      NaN

[1 rows x 28 columns]
0:00:02.405578
0:00:02.409541
20171220
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
355  1601360  20171220    45.5    46.2   42.9      45.97     45.14

     d_cumprodCAA  d_dayReturn  d_5dayReturn  ...  allDT  hasDT  isDT  \
355      0.970913     0.018387      -0.06222  ...    0.0    0.0   0.0

     tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y  \
355        1.0         7.0   397182443.0  397182443.0        NaN         NaN

     auction
355      NaN

[1 rows x 28 columns]
0:00:02.357696
0:00:02.362683
20171221

[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.282225
0:00:03.293196

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20180323
endDate = 20180424
targetStockLs = [1600000]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    da_te = startDate
    print(startDate)

    SH = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SH = SH[SH['skey'] < 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SH[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SH["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 1000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SH["cum_max"] = SH.groupby("skey")["cum_volume"].transform(max)
    s2 = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey").first().reset_index()
    dd = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey")["time"].first().reset_index()
    SH.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    if SH["date"].iloc[0] < 20180820:
        s2["auction"] = 0
    else:
        dd["auction"] = np.where(dd["time"]<=145700000000, 0, 1)
        dd = dd.rename(columns={"skey": "ID"})
        s2 = pd.merge(s2, dd[["ID", "auction"]], on="ID")
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount", "auction"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(re[re["d_amount_y"].isnull()])
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SH[SH["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SH[SH["has_missing"] == 1])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:01:53.776865
20180323
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:04.043190
0:00:04.051169
20180326
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.690806
0:00:02.698785
20180327
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.826443
0:00:02.832428
20180328
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.703771
0:00:02.709754
20180329
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.725713
0:00:02.730700
20180330
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.611476
0:00:02.617460
20180402
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.732694
0:00:02.737709
20180403
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.969062
0:00:02.974048
20180404
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.628972
0:00:02.633958
20180409
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.699782
0:00:02.704768
20180410
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.766602
0:00:02.772587
20180411
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.699781
0:00:02.704768
20180412
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:02.760619
0:00:02.765605
20180413
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.561152
0:00:02.566139
20180416
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.738678
0:00:02.743664
20180417
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.769595
0:00:02.775580
20180418
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:02.710725
0:00:02.715712
20180419
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.654902
0:00:02.659889
20180420
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:02.697788
0:00:02.702775
20180423
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.013942
0:00:03.021921
20180424
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.752967
0:00:03.763938

In [3]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20190314
endDate = 20190404
targetStockLs = [1600000]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    da_te = startDate
    print(startDate)

    SH = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SH = SH[SH['skey'] < 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SH[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SH["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 1000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SH["cum_max"] = SH.groupby("skey")["cum_volume"].transform(max)
    s2 = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey").first().reset_index()
    dd = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey")["time"].first().reset_index()
    SH.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    if SH["date"].iloc[0] < 20180820:
        s2["auction"] = 0
    else:
        dd["auction"] = np.where(dd["time"]<=145700000000, 0, 1)
        dd = dd.rename(columns={"skey": "ID"})
        s2 = pd.merge(s2, dd[["ID", "auction"]], on="ID")
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount", "auction"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(re[re["d_amount_y"].isnull()])
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SH[SH["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SH[SH["has_missing"] == 1])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:01:48.761292
20190314
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:03.229366
0:00:03.235350
20190315
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.144592
0:00:03.150576
20190318
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.185484
0:00:03.191468
20190319
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.172517
0:00:03.178501
20190320
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.223382
0:00:03.229379
20190321
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.231361
0:00:03.237345
20190322
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.233356
0:00:03.239340
20190325
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.151575
0:00:03.157559
20190326
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.232358
0:00:03.239339
20190327
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.114673
0:00:03.120657
20190328
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:03.087744
0:00:03.095723
20190329
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.222385
0:00:03.228369
20190401
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.353035
0:00:03.360016
20190402
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.383952
0:00:03.389936
20190403
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.211414
0:00:03.218396
20190404
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.285217
0:00:03.291200

In [4]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20200303
endDate = 20200323
targetStockLs = [1600000]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
dbb = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    dbb = pd.concat([dbb, dayData])
print(datetime.datetime.now() - startTm)

for i in range(len(data['date'].unique())):
    startDate = str(data['date'].unique()[i])
    endDate = str(data['date'].unique()[i])
    da_te = startDate
    print(startDate)

    SH = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SH = SH[SH['skey'] < 2000000]
    
    for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p',
                'cum_amount', 'cum_canceled_sell_amount', 'cum_canceled_buy_amount', 'total_bid_vwap', 'total_ask_vwap']:
        print(SH[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SH["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = dbb[dbb["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 1000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SH["cum_max"] = SH.groupby("skey")["cum_volume"].transform(max)
    s2 = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey").first().reset_index()
    dd = SH[SH["cum_volume"] == SH["cum_max"]].groupby("skey")["time"].first().reset_index()
    SH.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    if SH["date"].iloc[0] < 20180820:
        s2["auction"] = 0
    else:
        dd["auction"] = np.where(dd["time"]<=145700000000, 0, 1)
        dd = dd.rename(columns={"skey": "ID"})
        s2 = pd.merge(s2, dd[["ID", "auction"]], on="ID")
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount", "auction"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(re[re["d_amount_y"].isnull()])
    print(datetime.datetime.now() - startTm)
    
    # check 2
    if SH[SH["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SH[SH["has_missing"] == 1])
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:01:45.851005
20200303
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:03.618326
0:00:03.625308
20200304
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.593392
0:00:03.600374
20200305
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.717062
0:00:03.725040
20200306
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.678165
0:00:03.685147
20200309
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:03.637276
0:00:03.644257
20200310
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.611345
0:00:03.618326
20200311
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.606359
0:00:03.613340
20200312
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.544522
0:00:03.551504
20200313
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.603366
0:00:03.610347
20200316
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.646251
0:00:03.653233
20200317
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2 3]
[1 3 2]
0:00:03.512609
0:00:03.519590
20200318
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.455762
0:00:03.462743
20200319
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.523580
0:00:03.530561
20200320
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 2 3]
0:00:03.355031
0:00:03.361015
20200323
[2 1]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 2]
[1 3 2]
[1 3 2]
0:00:03.380961
0:00:03.386945

In [42]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time

startDate = 20180312
endDate = 20180312
targetStockLs = [2000001]
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db = DB("192.168.10.223", database_name, user, password)
data = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate, symbol=targetStockLs)
data[data['has_missing'] == 1]

,skey,date,time,clockAtArrival,datetime,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,...,total_bid_levels,total_ask_levels,bid_trade_max_duration,ask_trade_max_duration,cum_canceled_buy_orders,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount
412,2000001,20180312,94606000000,1520819166000000,2018-03-12 09:46:06,413,1,5412,19039305,2.303256e+08,...,0,0,0,0,0,0,0.0,0,0,0.0

In [41]:
data[data['time'] <= 113006000000].tail(5)

,skey,date,time,clockAtArrival,datetime,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,...,total_bid_levels,total_ask_levels,bid_trade_max_duration,ask_trade_max_duration,cum_canceled_buy_orders,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount
2392,1600000,20180813,112942000000,1534130982000000,2018-08-13 11:29:42,2393,0,5273,10201815,1.015029e+08,...,65,107,5505,1628,764,2949400,29005209.0,696,3991917,39775395.52
2393,1600000,20180813,112951000000,1534130991000000,2018-08-13 11:29:51,2394,0,5275,10215815,1.016422e+08,...,65,107,5505,3402,764,2949400,29005209.0,696,3991917,39775395.52
2394,1600000,20180813,112954000000,1534130994000000,2018-08-13 11:29:54,2395,0,5275,10215815,1.016422e+08,...,65,107,5505,3402,768,2969600,29205295.0,696,3991917,39775395.52
2395,1600000,20180813,112957000000,1534130997000000,2018-08-13 11:29:57,2396,0,5279,10221315,1.016969e+08,...,65,107,5505,3402,768,2969600,29205295.0,696,3991917,39775395.52
2396,1600000,20180813,113002000000,1534131002000000,2018-08-13 11:30:02,2397,0,5279,10221315,1.016969e+08,...,65,107,5505,3402,768,2969600,29205295.0,696,3991917,39775395.52

In [13]:
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SH["group"] = SH["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    date[date['group'] == 11300]

                     Orig       time  group
10800 2019-06-10 11:30:00  113000000  11300
10801 2019-06-10 11:30:01  113001000  11300
10802 2019-06-10 11:30:02  113002000  11300
10803 2019-06-10 11:30:03  113003000  11300
10804 2019-06-10 11:30:04  113004000  11300
10805 2019-06-10 11:30:05  113005000  11300
10806 2019-06-10 11:30:06  113006000  11300
10807 2019-06-10 11:30:07  113007000  11300
10808 2019-06-10 11:30:08  113008000  11300
10809 2019-06-10 11:30:09  113009000  11300