In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz

class DB(object):
    def __init__(self, uri, symbol_column='skey'):
        self.db_name = 'white_db'
        user, passwd, host = self.parse_uri(uri)
        auth_db = 'admin' if user in ('admin', 'root') else self.db_name
        self.uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)

        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        if version == 1:
            return gzip.compress(pickle.dumps(s), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200424\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190102'
endDate = '20190318'
readPath = 'G:\\KR\\' + year + '\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:    
    
    readPath = data + '\\snapshot\\***2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
#     startTm = datetime.datetime.now()
#     BidPrice = np.array([i[1:-1].split(',') for i in SZ['BidPrice'].values])
#     SZ.drop(["BidPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sp"%i] = BidPrice[:, i-1]
#     del BidPrice
#     print("1")
    
#     OfferPrice = np.array([i[1:-1].split(',') for i in SZ['OfferPrice'].values])
#     SZ.drop(["OfferPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sp"%i] = OfferPrice[:, i-1]
#     del OfferPrice
#     print("2")
    
#     BidOrderQty = np.array([i[1:-1].split(',') for i in SZ['BidOrderQty'].values])
#     SZ.drop(["BidOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sq"%i] = BidOrderQty[:, i-1]
#     del BidOrderQty
#     print("3")
    
#     OfferOrderQty = np.array([i[1:-1].split(',') for i in SZ['OfferOrderQty'].values])
#     SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sq"%i] = OfferOrderQty[:, i-1]
#     del OfferOrderQty
#     print("4")
    
#     BidNumOrders = np.array([i[1:-1].split(',') for i in SZ['BidNumOrders'].values]).astype(np.int32)
#     SZ.drop(["BidNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sn"%i] = BidNumOrders[:, i-1]
#     del BidNumOrders
#     print("5")
    
#     OfferNumOrders = np.array([i[1:-1].split(',') for i in SZ['OfferNumOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sn"%i] = OfferNumOrders[:, i-1]
#     del OfferNumOrders
#     print("6")
    
#     bidOrders = np.array([i[1:-1].split(',') for i in SZ['BidOrders'].values]).astype(np.int32)
#     SZ.drop(["BidOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["bid1Top%sq"%i] = bidOrders[:, i-1]
#     del bidOrders
#     print("7")
    
#     offerOrders = np.array([i[1:-1].split(',') for i in SZ['OfferOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["ask1Top%sq"%i] = offerOrders[:, i-1]
#     del offerOrders
#     print("8")
#     print(datetime.datetime.now() - startTm)
    
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
#     SZ = SZ.rename(columns={"NumTrades":"cum_trades_cnt", "TotalBidQty":"total_bid_quantity", "TotalOfferQty":"total_ask_quantity", 
#                            "HighPx":"high", "OpenPx":"open", "PreClosePx":"prev_close", "LowPx":"low", "LastPx":"close", "WeightedAvgBidPx":"total_bid_vwap", 
#                            "WeightedAvgOfferPx":"total_ask_vwap", "Amount":"cum_amount", "Volume":"cum_volume"})
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
    SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
    tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
    SZ.drop("p1", axis=1, inplace=True)
    try:
        assert(tt[tt == 0].shape[0] == 0)
    except:
        display(tt[tt == 0])
    SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

    
        
        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    print(datetime.datetime.now() - startTm)
    
    startDate = str(SZ["date"].iloc[0])
    endDate = str(SZ["date"].iloc[0])
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    # delete all stocks from certain period
    db1.delete('snapshot', start_date=startDate, end_date=endDate)
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  app.launch_new_instance()

0:04:17.589786
0:00:48.282598
0:01:10.804115
1
2
3
4
5
6
7
8
0:08:53.864388
0:00:28.256396

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:268: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190102,7.48,7.58,7.42,7.44,7.48,0.973838,-0.005348,-0.002681,-0.008656,-0.004853,1484088.0,11059300.11,0.002226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.484676
no massive missing
0:01:50.091437

20190102

SZ finished
0:00:02.178172
0:01:39.460879
0:01:13.146289
1
2
3
4
5
6
7
8
0:09:02.359849
0:00:29.812233

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190103,7.41,7.62,7.18,7.55,7.44,0.973838,0.014785,0.006667,-0.004635,-0.007183,3523797.0,26558986.95,0.005284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.315130
no massive missing
0:01:57.723018

20190103

SZ finished
0:00:02.455431
0:01:41.486460
0:01:21.619617
1
2
3
4
5
6
7
8
0:10:01.491635
0:00:32.954825

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190104,7.46,7.78,7.42,7.76,7.55,0.973838,0.027815,0.033289,0.023845,0.027653,3647801.0,27877048.68,0.00547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.564786
no massive missing
0:02:22.032974

20190104

SZ finished
0:00:02.523248
0:02:35.478757
0:01:23.280590
1
2
3
4
5
6
7
8
0:10:22.255461
0:00:32.101109

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190107,7.71,7.95,7.71,7.95,7.76,0.973838,0.024485,0.065684,0.018392,0.0214,3747879.0,29401749.87,0.005621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.647241
no massive missing
0:02:11.534536

20190107

SZ finished
0:00:02.685814
0:02:10.695641
0:01:17.817788
1
2
3
4
5
6
7
8
0:09:48.474465
0:00:30.576189

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190108,7.93,7.97,7.84,7.94,7.95,0.973838,-0.001258,0.061497,-0.002571,-0.001984,2170084.0,17154895.17,0.003254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.714062
no massive missing
0:02:06.727925

20190108

SZ finished
0:00:02.534219
0:01:47.828492
0:01:23.976310
1
2
3
4
5
6
7
8
0:10:34.249987
0:00:33.178227

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190109,7.9,7.98,7.84,7.85,7.94,0.973838,-0.011335,0.055108,0.002683,0.002117,3183084.0,25205117.58,0.004774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.854686
no massive missing
0:02:12.607193

20190109

SZ finished
0:00:02.711744
0:01:39.836874
0:01:18.337399
1
2
3
4
5
6
7
8
0:09:44.542983
0:00:30.353784

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190110,7.85,7.9,7.81,7.84,7.85,0.973838,-0.001274,0.038411,-0.001611,-0.002667,1284462.0,10078827.78,0.001926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.615326
no massive missing
0:02:03.401824

20190110

SZ finished
0:00:02.489340
0:01:42.913642
0:01:18.294513
1
2
3
4
5
6
7
8
0:09:32.516162
0:00:32.628698

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190111,7.85,7.89,7.78,7.88,7.84,0.973838,0.005102,0.015464,0.00771,0.008539,1832879.0,14370527.04,0.002749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.443786
no massive missing
0:02:00.220336

20190111

SZ finished
0:00:02.423515
0:01:49.271630
0:01:16.986015
1
2
3
4
5
6
7
8
0:09:24.006930
0:00:29.498074

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190114,7.9,7.93,7.68,7.73,7.88,0.973838,-0.019036,-0.027673,-0.006565,-0.005933,1912636.0,14871870.42,0.002868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.442788
no massive missing
0:01:59.532177

20190114

SZ finished
0:00:02.940134
0:01:40.267721
0:01:19.950083
1
2
3
4
5
6
7
8
0:09:50.353437
0:00:31.087821

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190115,7.73,7.81,7.68,7.75,7.73,0.973838,0.002587,-0.023929,0.014186,0.010878,1799500.0,13922067.0,0.002699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.535540
no massive missing
0:02:02.682747

20190115

SZ finished
0:00:02.480364
0:02:03.260202
0:01:18.698433
1
2
3
4
5
6
7
8
0:09:46.592499
0:00:30.537293

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190121,7.81,7.88,7.67,7.74,7.79,0.973838,-0.006418,0.001294,0.005939,0.006203,2361718.0,18362042.54,0.003542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.863663
no massive missing
0:02:02.002568

20190121

SZ finished
0:00:02.482357
0:01:41.248128
0:01:17.128604
1
2
3
4
5
6
7
8
0:09:37.225562
0:00:30.377720

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190122,7.79,7.81,7.66,7.74,7.74,0.973838,0.0,-0.00129,-0.014949,-0.011151,2572745.0,19910513.08,0.003858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.747972
no massive missing
0:01:58.818087

20190122

SZ finished
0:00:02.398583
0:02:20.400342
0:01:14.043887
1
2
3
4
5
6
7
8
0:09:04.335562
0:00:29.661637

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190123,7.75,7.75,7.66,7.74,7.74,0.973838,0.0,-0.026415,0.001725,0.001405,1354203.0,10434827.97,0.002031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.699103
no massive missing
0:01:56.826416

20190123

SZ finished
0:00:02.319793
0:01:39.823882
0:01:19.064453
1
2
3
4
5
6
7
8
0:09:42.203244
0:00:30.214158

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190124,7.79,7.82,7.72,7.78,7.74,0.973838,0.005168,0.001287,0.00521,0.005657,2977257.0,23146333.97,0.004465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.786868
no massive missing
0:01:58.809111

20190124

SZ finished
0:00:02.444460
0:02:24.203166
0:01:17.482686
1
2
3
4
5
6
7
8
0:09:33.249200
0:00:30.334863

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190125,7.75,7.84,7.74,7.79,7.78,0.973838,0.001285,0.0,-0.004548,-0.005997,2077062.0,16188605.92,0.003115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.736974
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:59.233975

20190125

SZ finished
0:00:02.466400
0:02:20.642693
0:01:17.509614
1
2
3
4
5
6
7
8
0:09:38.087256
0:00:33.105423

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190128,7.84,7.88,7.7,7.71,7.79,0.973838,-0.01027,-0.003876,-0.002599,-0.008148,2499185.0,19423594.21,0.003748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.845710
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:03.410798

20190128

SZ finished
0:00:02.456428
0:01:39.728165
0:01:19.453412
1
2
3
4
5
6
7
8
0:09:46.594494
0:00:31.683228

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190129,7.68,7.69,7.37,7.61,7.71,0.973838,-0.01297,-0.016796,-0.012289,-0.01758,2883388.0,21659758.7,0.004324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.940456
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:02.062408

20190129

SZ finished
0:00:02.498315
0:01:31.314676
0:01:13.692826
1
2
3
4
5
6
7
8
0:09:06.258418
0:00:29.825199

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190130,7.49,7.62,7.47,7.5,7.61,0.973838,-0.014455,-0.031008,-0.010028,-0.014903,2293462.0,17275411.79,0.003439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.665193
no massive missing
0:01:55.957741

20190130

SZ finished
0:00:02.315804
0:01:41.993105
0:01:18.906874
1
2
3
4
5
6
7
8
0:09:41.174995
0:00:30.961160

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190131,7.49,7.6,7.21,7.31,7.5,0.973838,-0.025333,-0.060411,-0.008346,-0.015238,2739777.0,20258619.37,0.004109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.828756
no massive missing
0:02:04.588647

20190131

SZ finished
0:00:02.902235
0:02:25.036936
0:01:15.827115
1
2
3
4
5
6
7
8
0:09:24.666167
0:00:29.513033

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
134,2002528,20190201,3.43,3.55,3.43,3.54,3.43,0.769594,0.032070,-0.045822,0.028205,0.029214,3707036.0,13015507.20,0.004290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,864163174.0,1.198675e+09,NaN,NaN
995,2001914,20190201,7.50,7.50,7.33,7.44,7.31,0.973838,0.017784,-0.044929,0.028205,0.029214,1502778.0,11161549.58,0.002254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,6.669614e+08,NaN,NaN

0:00:03.639263
no massive missing
0:01:55.758275

20190201

SZ finished
0:00:02.382625
0:01:39.501771
0:01:18.003292
1
2
3
4
5
6
7
8
0:09:45.987120
0:00:30.716813

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190211,7.45,7.66,7.45,7.64,7.44,0.973838,0.026882,-0.009079,0.025289,0.028741,2928462.0,22143814.94,0.004392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.775897
no massive missing
0:02:05.047420

20190211

SZ finished
0:00:02.482359
0:02:04.383198
0:01:22.328719
1
2
3
4
5
6
7
8
0:10:13.158975
0:00:32.329498

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
128,2002080,20190212,10.12,10.23,9.89,10.04,10.20,0.606517,-0.015686,0.094875,0.008317,0.013869,13536901.0,1.357729e+08,0.021151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.400000e+08,1.290864e+09,NaN,NaN
892,2000839,20190212,3.43,3.59,3.42,3.52,3.44,0.391993,0.023256,0.053892,0.008317,0.013869,63223888.0,2.221057e+08,0.016133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.919007e+09,3.919826e+09,NaN,NaN
995,2001914,20190212,7.74,7.75,7.63,7.70,7.64,0.973838,0.007853,0.011827,0.008317,0.013869,2464338.0,1.896763e+07,0.003696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.668197e+08,6.669614e+08,NaN,NaN
1909,2002431,20190212,4.02,4.05,3.99,4.05,3.99,0.397550,0.015038,0.017588,0.008317,0.013869,18457800.0,7.426123e+07,0.014535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.269897e+09,1.486985e+09,NaN,NaN

0:00:03.935471
no massive missing
0:02:10.767116

20190212

SZ finished
0:00:02.601040
0:01:55.336403
0:01:27.041110
1
2
3
4
5
6
7
8
0:10:57.417998
0:00:34.750022

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190213,7.75,7.88,7.71,7.86,7.7,0.973838,0.020779,0.048,0.016426,0.017972,3594728.0,28082831.32,0.005391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.284536
no massive missing
0:02:14.348534

20190213

SZ finished
0:00:02.744656
0:01:48.776954
0:01:24.170791
1
2
3
4
5
6
7
8
0:10:29.506707
0:00:33.450469

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190214,7.86,7.92,7.8,7.86,7.86,0.973838,0.0,0.075239,0.004379,0.004248,2421625.0,19009695.35,0.003632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.107011
no massive missing
0:02:08.512149

20190214

SZ finished
0:00:02.603036
0:01:44.962161
0:01:23.822721
1
2
3
4
5
6
7
8
0:10:26.098796
0:00:33.000703

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190215,7.85,7.91,7.77,7.85,7.86,0.973838,-0.001272,0.055108,-0.006495,-0.001366,2565181.0,20152770.82,0.003847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.052157
no massive missing
0:02:12.175348

20190215

SZ finished
0:00:02.683820
0:01:59.979979
0:01:31.369530
1
2
3
4
5
6
7
8
0:11:30.615173
0:00:35.376346

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190218,7.86,8.04,7.8,8.0,7.85,0.973838,0.019108,0.04712,0.035148,0.035479,4633172.0,36730828.99,0.006948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.340387
no massive missing
0:02:22.117746

20190218

SZ finished
0:00:03.957413
0:02:45.119203
0:01:33.126828
1
2
3
4
5
6
7
8
0:11:33.973189
0:00:35.881993

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190219,8.04,8.08,7.8,7.88,8.0,0.973838,-0.015,0.023377,0.001348,0.004223,4655502.0,36901598.59,0.006982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.407208
no massive missing
0:02:21.371743

20190219

SZ finished
0:00:02.895253
0:01:51.095721
0:01:28.921081
1
2
3
4
5
6
7
8
0:10:54.166696
0:00:38.950783

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190220,7.88,7.92,7.77,7.91,7.88,0.973838,0.003807,0.006361,0.000073,0.000662,3267831.0,25667336.93,0.004901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.288525
no massive missing
0:02:18.306943

20190220

SZ finished
0:00:02.785546
0:02:00.559428
0:01:34.863182
1
2
3
4
5
6
7
8
0:11:46.500670
0:00:36.447480

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190221,7.92,7.96,7.81,7.83,7.91,0.973838,-0.010114,-0.003817,-0.001817,-0.003902,3857454.0,30462105.59,0.005785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.472035
no massive missing
0:02:23.520992

20190221

SZ finished
0:00:02.974042
0:02:13.148744
0:01:33.668379
1
2
3
4
5
6
7
8
0:11:28.829950
0:00:35.537914

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190222,7.83,7.92,7.77,7.87,7.83,0.973838,0.005109,0.002548,0.02536,0.022607,3666450.0,28742624.12,0.005498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.304483
no massive missing
0:02:20.140038

20190222

SZ finished
0:00:02.882288
0:02:11.624822
0:01:42.366106
1
2
3
4
5
6
7
8
0:12:41.057602
0:00:39.427507

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190225,7.92,8.29,7.89,8.23,7.87,0.973838,0.045743,0.02875,0.0559,0.052325,9854330.0,80103423.95,0.014778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.776220
no massive missing
0:02:36.627523

20190225

SZ finished
0:00:03.217391
0:02:18.231089
0:01:43.330434
1
2
3
4
5
6
7
8
0:12:46.543230
0:00:39.596056

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190226,8.24,8.40,8.15,8.21,8.23,0.973838,-0.002430,0.041878,-0.00115,-0.000092,9275906.0,7.657565e+07,0.013911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN
1923,2300295,20190226,15.04,15.12,14.12,14.38,14.93,0.984789,-0.036839,0.100230,-0.00115,-0.000092,12934512.0,1.905012e+08,0.072793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177688440.0,192996000.0,NaN,NaN

0:00:04.791180
no massive missing
0:02:36.434441

20190226

SZ finished
0:00:03.229359
0:02:20.257723
0:01:40.373439
1
2
3
4
5
6
7
8
0:12:20.919578
0:00:38.487023

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190227,8.23,8.44,8.17,8.38,8.21,0.973838,0.020706,0.059418,-0.0041,-0.002533,9424092.0,78393415.96,0.014133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.617645
no massive missing
0:02:32.380315

20190227

SZ finished
0:00:03.125637
0:02:01.378238
0:01:35.304006
1
2
3
4
5
6
7
8
0:11:41.133027
0:00:36.552200

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190228,8.37,8.51,8.22,8.31,8.38,0.973838,-0.008353,0.061303,0.001476,0.003778,5906665.0,49341446.85,0.008858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.454083
no massive missing
0:02:27.872349

20190228

SZ finished
0:00:03.000971
0:02:10.546707
0:01:33.630480
1
2
3
4
5
6
7
8
0:11:31.484846
0:00:37.802854

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190301,8.29,8.38,8.23,8.33,8.31,0.973838,0.002407,0.05845,0.008345,0.006384,4805943.0,39828301.92,0.007207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.425161
no massive missing
0:02:26.715444

20190301

SZ finished
0:00:02.928165
0:02:03.535466
0:01:41.505409
1
2
3
4
5
6
7
8
0:12:28.439872
0:00:39.350018

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
27,2002066,20190304,8.97,9.58,8.80,9.43,9.01,1.000000,0.046615,0.082664,0.017963,0.021984,17306765.0,1.595905e+08,0.074921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.310000e+08,2.310000e+08,NaN,NaN
69,2000990,20190304,13.06,13.41,13.00,13.07,13.03,0.980653,0.003070,-0.009848,0.017963,0.021984,6066464.0,7.994105e+07,0.015648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.876827e+08,1.253012e+09,NaN,NaN
83,2002911,20190304,17.62,17.90,17.51,17.80,17.62,0.988413,0.010216,0.016562,0.017963,0.021984,4105893.0,7.277962e+07,0.015151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.710000e+08,5.560000e+08,NaN,NaN
87,2002174,20190304,20.53,20.93,19.77,20.14,20.34,0.330475,-0.009833,0.051697,0.017963,0.021984,18000595.0,3.663012e+08,0.028027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.422617e+08,8.884679e+08,NaN,NaN
98,2002663,20190304,3.38,3.47,3.28,3.35,3.34,0.994126,0.002994,0.066879,0.017963,0.021984,73654959.0,2.482233e+08,0.058931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.249851e+09,1.795890e+09,NaN,NaN
118,2002650,20190304,3.75,3.93,3.75,3.86,3.80,0.987865,0.015789,0.021164,0.017963,0.021984,45919848.0,1.754810e+08,0.048485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.470943e+08,1.152000e+09,NaN,NaN
165,2002917,20190304,27.74,29.50,27.70,29.50,28.28,0.994078,0.043140,0.318730,0.017963,0.021984,12455868.0,3.573359e+08,0.367864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.386000e+07,1.130600e+08,NaN,NaN
343,2002181,20190304,5.25,5.56,5.10,5.56,5.05,0.997596,0.100990,0.025830,0.017963,0.021984,47822130.0,2.566796e+08,0.042155,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.134433e+09,1.161058e+09,NaN,NaN
479,2002227,20190304,13.73,14.53,13.66,14.19,13.52,0.997584,0.049556,0.084034,0.017963,0.021984,9728666.0,1.375746e+08,0.044241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.199025e+08,2.205974e+08,NaN,NaN
501,2002909,20190304,11.13,11.66,11.04,11.60,11.06,0.706300,0.048825,0.056466,0.017963,0.021984,8030840.0,9.114742e+07,0.106759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.522392e+07,1.680000e+08,NaN,NaN
619,2002868,20190304,18.50,20.24,18.01,20.24,18.40,0.979964,0.100000,0.195511,0.017963,0.021984,4339382.0,8.288115e+07,0.112828,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.846000e+07,1.200000e+08,NaN,NaN
641,2300032,20190304,3.71,3.89,3.67,3.71,3.72,0.986610,-0.002688,0.033426,0.017963,0.021984,59552521.0,2.235602e+08,0.075444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.893575e+08,8.031696e+08,NaN,NaN
674,2002639,20190304,8.03,8.33,7.85,8.14,8.16,0.997829,-0.002451,-0.019277,0.017963,0.021984,44035796.0,3.560949e+08,0.085307,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.162050e+08,6.740728e+08,NaN,NaN
678,2002322,20190304,11.58,11.93,11.44,11.51,11.44,0.940270,0.006119,0.019486,0.017963,0.021984,6082298.0,7.108890e+07,0.016856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.608326e+08,3.966622e+08,NaN,NaN
696,2002687,20190304,6.54,6.60,6.42,6.49,6.48,0.948570,0.001543,-0.016667,0.017963,0.021984,19503900.0,1.269276e+08,0.061060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.194220e+08,3.548520e+08,NaN,NaN
711,2002840,20190304,17.22,18.80,17.22,18.25,17.25,0.662633,0.057971,0.139201,0.017963,0.021984,14658676.0,2.658736e+08,0.099898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.467361e+08,2.680000e+08,NaN,NaN
750,2000951,20190304,14.38,15.03,14.38,14.58,14.33,0.576126,0.017446,0.017446,0.017963,0.021984,8795908.0,1.299105e+08,0.013111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.709024e+08,6.710808e+08,NaN,NaN
759,2002308,20190304,5.80,5.98,5.58,5.81,5.44,0.994036,0.068015,0.075926,0.017963,0.021984,77670386.0,4.484920e+08,0.086130,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.017841e+08,9.103566e+08,NaN,NaN
791,2002825,20190304,15.50,17.05,15.50,17.05,15.50,0.706665,0.100000,0.089457,0.017963,0.021984,6376341.0,1.052853e+08,0.156898,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.063994e+07,1.402827e+08,NaN,NaN
803,2002186,20190304,12.67,13.01,12.65,13.00,12.68,0.961643,0.025237,0.035857,0.017963,0.021984,3373077.0,4.340885e+07,0.011011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.063240e+08,3.084640e+08,NaN,NaN
836,2002489,20190304,3.17,3.22,3.12,3.16,3.13,0.984526,0.009585,0.012821,0.017963,0.021984,21611061.0,6.850040e+07,0.011554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.870424e+09,2.175737e+09,NaN,NaN
933,2300036,20190304,16.91,17.64,16.91,17.16,16.87,0.494673,0.017190,0.012987,0.017963,0.021984,19463768.0,3.365544e+08,0.058573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.323002e+08,4.495374e+08,NaN,NaN
944,2002609,20190304,6.90,7.06,6.81,6.92,6.79,0.929472,0.019146,-0.007174,0.017963,0.021984,12892503.0,8.930962e+07,0.032846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.925095e+08,6.590439e+08,NaN,NaN
954,2002862,20190304,24.13,25.53,23.80,24.32,23.97,0.997478,0.014602,-0.128003,0.017963,0.021984,6629763.0,1.630451e+08,0.212765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.116000e+07,8.000000e+07,NaN,NaN
994,2002738,20190304,16.38,16.84,16.36,16.50,16.35,0.659554,0.009174,0.019778,0.017963,0.021984,3202965.0,5.316049e+07,0.017776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.801891e+08,2.511071e+08,NaN,NaN
995,2001914,20190304,8.33,8.58,8.31,8.40,8.33,0.973838,0.008403,0.020656,0.017963,0.021984,7710606.0,6.514744e+07,0.011563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.668197e+08,6.669614e+08,NaN,NaN
1033,2300065,20190304,13.68,14.21,13.68,14.06,13.75,0.663413,0.022545,0.004286,0.017963,0.021984,12580469.0,1.757371e+08,0.041912,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.001653e+08,3.981740e+08,NaN,NaN
1044,2002554,20190304,3.01,3.07,2.99,3.03,3.00,0.489485,0.010000,-0.006557,0.017963,0.021984,27381269.0,8.309983e+07,0.035583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.694952e+08,1.070810e+09,NaN,NaN
1109,2002864,20190304,35.70,36.16,35.36,35.50,35.72,0.998340,-0.006159,0.015737,0.017963,0.021984,2620503.0,9.368004e+07,0.058321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.493225e+07,8.667000e+07,NaN,NaN
1304,2002629,20190304,3.91,4.11,3.91,4.01,3.96,1.000000,0.012626,0.022959,0.017963,0.021984,16201338.0,6.525127e+07,0.047015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.446004e+08,4.119480e+08,NaN,NaN
1417,2002563,20190304,10.52,10.72,10.34,10.52,10.51,0.921708,0.000951,0.035433,0.017963,0.021984,21890517.0,2.308070e+08,0.011904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.838844e+09,2.699848e+09,NaN,NaN
1445,2002870,20190304,25.30,26.90,24.50,25.89,25.78,0.991453,0.004267,-0.100417,0.017963,0.021984,11857924.0,3.045218e+08,0.295561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.012000e+07,1.106700e+08,NaN,NaN
1466,2002897,20190304,23.99,25.88,22.20,24.30,23.99,0.617988,0.012922,0.096076,0.017963,0.021984,24030626.0,5.694939e+08,0.356763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.735731e+07,1.706720e+08,NaN,NaN
1521,2300050,20190304,6.33,6.58,6.30,6.38,6.27,0.493537,0.017544,-0.022971,0.017963,0.021984,23481298.0,1.514238e+08,0.063605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.691762e+08,5.448467e+08,NaN,NaN
1541,2002757,20190304,31.54,32.00,31.31,31.67,31.47,0.985934,0.006355,0.057429,0.017963,0.021984,1555537.0,4.926078e+07,0.015852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.813022e+07,1.313810e+08,NaN,NaN
1578,2002866,20190304,12.18,12.49,12.08,12.36,12.07,0.584875,0.024027,-0.022152,0.017963,0.021984,7811676.0,9.601100e+07,0.096889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.062539e+07,2.477754e+08,NaN,NaN
1623,2300001,20190304,24.20,25.73,24.18,24.57,23.90,0.994745,0.028033,0.100806,0.017963,0.021984,24296316.0,6.057429e+08,0.026274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.247211e+08,9.975701e+08,NaN,NaN
1687,2002253,20190304,16.80,17.39,16.68,16.86,16.60,0.656680,0.015663,0.015663,0.017963,0.021984,10190345.0,1.729153e+08,0.049283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.067722e+08,2.256261e+08,NaN,NaN
1689,2002206,20190304,4.52,4.58,4.42,4.44,4.48,0.361419,-0.008929,-0.028446,0.017963,0.021984,18178642.0,8.210547e+07,0.019900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.135038e+08,1.223029e+09,NaN,NaN
1772,2002849,20190304,15.45,15.99,15.35,15.82,15.59,0.662316,0.014753,0.003171,0.017963,0.021984,3167132.0,4.979173e+07,0.055093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.748690e+07,1.324070e+08,NaN,NaN
1803,2002033,20190304,6.45,6.64,6.42,6.52,6.44,0.743525,0.012422,-0.001531,0.017963,0.021984,10507539.0,6.851584e+07,0.019123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.494802e+08,5.494907e+08,NaN,NaN
1896,2002796,20190304,49.89,50.40,47.58,48.32,48.93,0.976296,-0.012467,-0.039746,0.017963,0.021984,3268716.0,1.606867e+08,0.089490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.652586e+07,1.122168e+08,NaN,NaN
1919,2300012,20190304,8.13,8.53,8.10,8.27,8.11,0.246907,0.019729,0.020988,0.017963,0.021984,42962569.0,3.579805e+08,0.028553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.504666e+09,1.657531e+09,NaN,NaN
1933,2002262,20190304,11.22,11.85,11.22,11.48,11.22,0.476692,0.023173,0.072897,0.017963,0.021984,39762133.0,4.599518e+08,0.044971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.841750e+08,1.020016e+09,NaN,NaN
1941,2002871,20190304,23.52,23.98,22.75,23.75,23.38,0.584716,0.015825,0.039842,0.017963,0.021984,7175330.0,1.677886e+08,0.248281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.890000e+07,1.167420e+08,NaN,NaN
2037,2002771,20190304,14.00,15.28,14.00,15.28,13.89,0.492152,0.100072,0.118594,0.017963,0.021984,2095921.0,3.162201e+07,0.022904,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,9.151078e+07,1.615442e+08,NaN,NaN
2062,2002916,20190304,116.52,121.89,115.33,116.66,116.52,0.993191,0.001202,-0.034112,0.017963,0.021984,6006048.0,7.110966e+08,0.073094,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.216873e+07,2.828000e+08,NaN,NaN
2108,2002715,20190304,17.80,18.23,17.72,18.14,17.77,1.000000,0.020822,-0.018398,0.017963,0.021984,2524591.0,4.545908e+07,0.030430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.296430e+07,9.200000e+07,NaN,NaN

0:00:04.709400
no massive missing
0:02:33.524286

20190304

SZ finished
0:00:03.141187
0:02:53.593855
0:01:39.833881
1
2
3
4
5
6
7
8
0:12:19.885137
0:00:39.187150

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190305,8.35,8.57,8.35,8.57,8.4,0.973838,0.020238,0.043849,0.026567,0.031375,6311950.0,53417863.37,0.009466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.670503
no massive missing
0:02:40.133226

20190305

SZ finished
0:00:03.196448
0:02:12.266122
0:01:43.136047
1
2
3
4
5
6
7
8
0:12:51.530282
0:00:41.109007

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190306,8.58,8.78,8.51,8.74,8.57,0.973838,0.019837,0.042959,0.017892,0.021695,8679376.0,75058252.34,0.013016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.940780
no massive missing
0:02:38.105968

20190306

SZ finished
0:00:03.226367
0:02:05.821514
0:01:45.869831
1
2
3
4
5
6
7
8
0:12:55.165126
0:00:41.039194

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
626,2300666,20190307,45.50,46.31,44.85,45.49,45.65,0.999161,-0.003505,0.039771,0.012725,0.017366,7123708.0,3.243825e+08,0.079913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89143467.0,218760000.0,NaN,NaN
994,2001914,20190307,8.69,9.09,8.61,9.00,8.74,0.973838,0.029748,0.083032,0.012725,0.017366,10827498.0,9.679785e+07,0.016238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.894922
no massive missing
0:02:42.867210

20190307

SZ finished
0:00:03.250303
0:03:01.337156
0:01:46.147737
1
2
3
4
5
6
7
8
0:13:43.794492
0:00:46.488934

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190308,8.9,9.26,8.61,8.69,9.0,0.973838,-0.034444,0.043217,-0.039005,-0.041512,10483685.0,94009001.08,0.015722,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.121803
no massive missing
0:02:50.570958

20190308

SZ finished
0:00:03.319205
0:02:29.280125
0:01:43.299229
1
2
3
4
5
6
7
8
0:12:35.850362
0:00:40.336057

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190311,8.82,9.04,8.69,8.98,8.69,0.973838,0.033372,0.069048,0.040163,0.04314,8480851.0,75329994.55,0.012718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.766105
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:43.480941

20190311

SZ finished
0:00:03.245318
0:02:15.104524
0:01:45.770782
1
2
3
4
5
6
7
8
0:13:12.936114
0:00:42.580504

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190312,9.04,9.14,8.89,9.03,8.98,0.973838,0.005568,0.053676,0.017342,0.022095,10455553.0,94059152.15,0.01568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.201083
no massive missing
0:02:45.614668

20190312

SZ finished
0:00:03.356020
0:02:14.220001
0:01:46.869045
1
2
3
4
5
6
7
8
0:13:31.997270
0:00:40.711073

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190313,9.1,9.83,9.06,9.32,9.03,0.973838,0.032115,0.066362,-0.022724,-0.023233,26093211.0,2.457382e+08,0.039131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.136257
no massive missing
0:02:40.205351

20190313

SZ finished
0:00:03.275236
0:03:05.905130
0:01:43.815230
1
2
3
4
5
6
7
8
0:12:19.226355
0:00:38.688483

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190314,9.22,9.22,8.63,8.8,9.32,0.973838,-0.055794,-0.022222,-0.023293,-0.030287,12659253.0,1.126639e+08,0.018985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.948759
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:31.283224

20190314

SZ finished
0:00:03.103695
0:02:11.639781
0:01:38.472525
1
2
3
4
5
6
7
8
0:12:24.463525
0:00:40.436806

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190315,8.63,9.0,8.63,8.83,8.8,0.973838,0.003409,0.01611,0.01142,0.015496,9240835.0,81738081.56,0.013858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.658536
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:45.332123

20190315

SZ finished
0:00:03.103696
0:03:25.958932
0:01:38.469533
1
2
3
4
5
6
7
8
0:12:17.626960
0:00:39.635950

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190318,8.82,8.95,8.65,8.94,8.83,0.973838,0.012458,-0.004454,0.02653,0.024101,8638731.0,75941355.59,0.012955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.764252
no massive missing
0:02:35.052140

20190318

SZ finished
0:00:03.159546
0:03:16.335680
0:01:38.231170
1
2

KeyboardInterrupt:

In [14]:
kk = pd.read_csv(r"G:\KR\2019\SZ\20190226\snapshot\Level_2\300295.csv")
pd.set_option("max_rows", 200)
kk["bid1p"] = kk["BidPrice"].str[1:-1].apply(lambda x: float(x.split(',')[0]))
kk["ask1p"] = kk["OfferPrice"].str[1:-1].apply(lambda x: float(x.split(',')[0]))
display(kk[(kk["Volume"] > 0) & (kk["ask1p"] == 0) & (kk["bid1p"] == 0) & (kk["QuotTime"] < 20190201145700000)])
kk[kk["QuotTime"] >= 20190201092450000].head(20)[["NumTrades", "QuotTime", "Volume", "Amount", "BidPrice", "BidOrderQty", "OfferPrice", "OfferOrderQty",
                                                 "OpenPx", "HighPx", "PreClosePx", "LowPx", "LastPx"]]
# kk[kk["QuotTime"] >= 20190717145650000].head(50)[["NumTrades", "QuotTime", "Volume", "Amount", "BidPrice", "BidOrderQty", "OfferPrice", "OfferOrderQty",
#                                                  "OpenPx", "HighPx", "PreClosePx", "LowPx", "LastPx", "InstrumentStatus"]]

FileNotFoundError: [Errno 2] File b'G:\\KR\\2019\\SZ\\20190226\\snapshot\\Level_2\\300295.csv' does not exist: b'G:\\KR\\2019\\SZ\\20190226\\snapshot\\Level_2\\300295.csv'

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200424\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190319'
endDate = '20190930'
readPath = 'G:\\KR\\' + year + '\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:    
    
    readPath = data + '\\snapshot\\***2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
#     startTm = datetime.datetime.now()
#     BidPrice = np.array([i[1:-1].split(',') for i in SZ['BidPrice'].values])
#     SZ.drop(["BidPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sp"%i] = BidPrice[:, i-1]
#     del BidPrice
#     print("1")
    
#     OfferPrice = np.array([i[1:-1].split(',') for i in SZ['OfferPrice'].values])
#     SZ.drop(["OfferPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sp"%i] = OfferPrice[:, i-1]
#     del OfferPrice
#     print("2")
    
#     BidOrderQty = np.array([i[1:-1].split(',') for i in SZ['BidOrderQty'].values])
#     SZ.drop(["BidOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sq"%i] = BidOrderQty[:, i-1]
#     del BidOrderQty
#     print("3")
    
#     OfferOrderQty = np.array([i[1:-1].split(',') for i in SZ['OfferOrderQty'].values])
#     SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sq"%i] = OfferOrderQty[:, i-1]
#     del OfferOrderQty
#     print("4")
    
#     BidNumOrders = np.array([i[1:-1].split(',') for i in SZ['BidNumOrders'].values]).astype(np.int32)
#     SZ.drop(["BidNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sn"%i] = BidNumOrders[:, i-1]
#     del BidNumOrders
#     print("5")
    
#     OfferNumOrders = np.array([i[1:-1].split(',') for i in SZ['OfferNumOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sn"%i] = OfferNumOrders[:, i-1]
#     del OfferNumOrders
#     print("6")
    
#     bidOrders = np.array([i[1:-1].split(',') for i in SZ['BidOrders'].values]).astype(np.int32)
#     SZ.drop(["BidOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["bid1Top%sq"%i] = bidOrders[:, i-1]
#     del bidOrders
#     print("7")
    
#     offerOrders = np.array([i[1:-1].split(',') for i in SZ['OfferOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["ask1Top%sq"%i] = offerOrders[:, i-1]
#     del offerOrders
#     print("8")
#     print(datetime.datetime.now() - startTm)
    
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
#     SZ = SZ.rename(columns={"NumTrades":"cum_trades_cnt", "TotalBidQty":"total_bid_quantity", "TotalOfferQty":"total_ask_quantity", 
#                            "HighPx":"high", "OpenPx":"open", "PreClosePx":"prev_close", "LowPx":"low", "LastPx":"close", "WeightedAvgBidPx":"total_bid_vwap", 
#                            "WeightedAvgOfferPx":"total_ask_vwap", "Amount":"cum_amount", "Volume":"cum_volume"})
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
    SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
    tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
    SZ.drop("p1", axis=1, inplace=True)
    try:
        assert(tt[tt == 0].shape[0] == 0)
    except:
        display(tt[tt == 0])
    SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

    
        
        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    print(datetime.datetime.now() - startTm)
    
    startDate = str(SZ["date"].iloc[0])
    endDate = str(SZ["date"].iloc[0])
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    # delete all stocks from certain period
    db1.delete('snapshot', start_date=startDate, end_date=endDate)
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  app.launch_new_instance()

0:04:09.530093
0:01:04.254080
0:01:40.633742
1
2
3
4
5
6
7
8
0:12:27.904398

skey
2300763    0.0
Name: p1, dtype: float64

0:00:48.425433

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:274: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190319,8.96,9.08,8.82,8.86,8.94,0.973838,-0.008949,-0.018826,0.003817,0.004321,7288302.0,65109072.01,0.01093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.053478
no massive missing
0:02:42.482259

20190319

SZ finished
0:00:03.435806
0:03:53.055451
0:01:43.355459
1
2
3
4
5
6
7
8
0:12:29.215382
0:00:48.411469

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190320,8.8,8.91,8.67,8.85,8.86,0.973838,-0.001129,-0.050429,-0.001158,-0.002649,5245859.0,46131031.2,0.007867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.701420
no massive missing
0:02:42.082329

20190320

SZ finished
0:00:03.257285
0:02:26.466112
0:01:43.477133
1
2
3
4
5
6
7
8
0:12:50.421339
0:00:53.015152

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190321,8.85,8.91,8.76,8.84,8.85,0.973838,-0.00113,0.004545,0.01336,0.010879,7586672.0,67126988.49,0.011377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.027549
no massive missing
0:02:42.666764

20190321

SZ finished
0:00:03.204426
0:02:12.458592
0:01:43.187908
1
2
3
4
5
6
7
8
0:12:39.622213

skey
2300765    0.0
Name: p1, dtype: float64

0:00:48.012527

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190322,8.84,8.84,8.68,8.81,8.84,0.973838,-0.003394,-0.002265,0.005844,0.003991,6182626.0,54117740.1,0.009272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.762258
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:41.364250

20190322

SZ finished
0:00:03.141594
0:02:11.919033
0:01:40.797305
1
2
3
4
5
6
7
8
0:12:24.475065

skey
2300766    0.0
Name: p1, dtype: float64

0:00:48.974961

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190325,8.7,9.08,8.61,8.88,8.81,0.973838,0.007946,-0.006711,-0.01289,-0.00883,9919276.0,87900986.09,0.014876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.901885
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:46.645120

20190325

SZ finished
0:00:03.108682
0:02:23.926906
0:01:43.087178
1
2
3
4
5
6
7
8
0:12:35.225300

skey
2002958    0.0
Name: p1, dtype: float64

0:00:52.068398

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190326,8.88,8.94,8.5,8.58,8.88,0.973838,-0.033784,-0.031603,-0.027892,-0.029032,6881838.0,59865043.08,0.01032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.876952
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:37.118528

20190326

SZ finished
0:00:03.243322
0:02:08.902107
0:01:38.658029
1
2
3
4
5
6
7
8
0:11:53.965884
0:00:49.460662

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
990,2001914,20190327,8.58,8.65,8.3,8.5,8.58,0.973838,-0.009324,-0.039548,0.009824,0.006594,3909085.0,33326082.76,0.005862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.294833
no massive missing
0:02:32.181216

20190327

SZ finished
0:00:03.081042
0:02:06.766819
0:01:36.401676
1
2
3
4
5
6
7
8
0:11:59.213655

skey
2002952    0.0
Name: p1, dtype: float64

0:00:47.737273

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190328,8.52,8.75,8.47,8.54,8.5,0.973838,0.004706,-0.033937,-0.014273,-0.013501,5255599.0,45453324.0,0.007882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.635597
no massive missing
0:02:31.100711

20190328

SZ finished
0:00:03.099707
0:02:12.232483
0:01:44.047235
1
2
3
4
5
6
7
8
0:12:48.699250

skey
2300767    0.0
Name: p1, dtype: float64

0:00:54.176045

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190329,8.54,8.8,8.54,8.78,8.54,0.973838,0.028103,-0.003405,0.033059,0.028419,5938098.0,51685286.79,0.008905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.534194
no massive missing
0:02:39.319178

20190329

SZ finished
0:00:03.183483
0:02:41.707332
0:01:45.570533
1
2
3
4
5
6
7
8
0:13:09.424108
0:00:49.281176

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190401,8.79,9.04,8.79,9.0,8.78,0.973838,0.025057,0.013514,0.037887,0.038321,11091945.0,99184823.64,0.016634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.960727
no massive missing
0:02:51.909240

20190401

SZ finished
0:00:03.489664
0:02:23.074903
0:01:45.763318
1
2
3
4
5
6
7
8
0:13:20.990850
0:00:49.286129

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190402,9.0,9.66,8.93,9.25,9.0,0.973838,0.027778,0.078089,0.003076,0.006062,17052868.0,1.584217e+08,0.025573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.950754
no massive missing
0:02:39.791458

20190402

SZ finished
0:00:03.443786
0:02:26.183719
0:01:43.786684
1
2
3
4
5
6
7
8
0:12:49.325519
0:00:51.448343

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190403,9.12,9.47,9.01,9.36,9.25,0.973838,0.011892,0.101176,0.010473,0.010053,10894192.0,1.010551e+08,0.016338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.900888
no massive missing
0:02:40.135537

20190403

SZ finished
0:00:03.231354
0:02:19.917634
0:01:44.693053
1
2
3
4
5
6
7
8
0:12:50.326946
0:00:56.453950

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190404,9.44,9.5,9.23,9.39,9.36,0.973838,0.003205,0.099532,0.006086,0.003696,12108005.0,1.135168e+08,0.018158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.055473
no massive missing
0:02:50.168694

20190404

SZ finished
0:00:03.190463
0:02:19.558594
0:01:46.005877
1
2
3
4
5
6
7
8
0:12:55.507036
0:00:56.501822

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190408,9.45,9.57,9.16,9.31,9.39,0.973838,-0.00852,0.060364,-0.004075,-0.004769,10178375.0,95437930.18,0.015264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.502277
no massive missing
0:02:44.745204

20190408

SZ finished
0:00:03.355024
0:02:14.225863
0:01:42.659994
1
2
3
4
5
6
7
8
0:12:34.345245
0:00:57.168040

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190409,9.34,9.4,9.22,9.38,9.31,0.973838,0.007519,0.042222,0.001781,0.002443,8275021.0,77198658.07,0.01241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.264914
no massive missing
0:02:53.092868

20190409

SZ finished
0:00:03.146580
0:02:30.492340
0:01:42.491868
1
2
3
4
5
6
7
8
0:12:43.141122
0:00:50.041862

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190410,9.38,9.59,9.25,9.47,9.38,0.973838,0.009595,0.023784,-0.001244,-0.001557,9847888.0,92914717.34,0.014768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.983666
no massive missing
0:02:42.307517

20190410

SZ finished
0:00:03.672175
0:02:01.753417
0:01:41.689915
1
2
3
4
5
6
7
8
0:12:43.459683
0:00:50.752206

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190411,9.47,9.51,9.19,9.29,9.47,0.973838,-0.019007,-0.007479,-0.021123,-0.020648,9506939.0,88749420.69,0.014257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.937788
no massive missing
0:02:39.960007

20190411

SZ finished
0:00:03.241328
0:02:01.378238
0:01:38.625069
1
2
3
4
5
6
7
8
0:12:00.079663

skey
2300768    0.0
Name: p1, dtype: float64

0:00:53.088953

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
999,2001914,20190412,9.35,10.2,9.27,10.04,9.29,0.973838,0.080732,0.069223,-0.002236,-0.000941,22227839.0,2.190968e+08,0.033334,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,666819666.0,666961416.0,NaN,NaN

0:00:05.270898
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:44.945667

20190412

SZ finished
0:00:03.376965
0:02:52.740810
0:01:38.083565
1
2
3
4
5
6
7
8
0:12:08.392097

skey
2300769    0.0
Name: p1, dtype: float64

0:00:47.964665
0:00:05.033532
no massive missing
0:02:31.831756

20190415

SZ finished
0:00:03.072777
0:02:02.647841
0:01:40.884071
1
2
3
4
5
6
7
8
0:12:32.036832
0:00:50.249551
0:00:04.806141
no massive missing
0:02:39.529160

20190416

SZ finished
0:00:03.218389
0:02:28.313171
0:01:41.608134
1
2
3
4
5
6
7
8
0:12:27.153898
0:00:54.524114
0:00:04.586728
no massive missing
0:02:45.195997

20190417

SZ finished
0:00:03.301167
0:02:59.206510
0:01:37.827251
1
2
3
4
5
6
7
8
0:12:21.731407
0:00:48.909136
0:00:04.867975
no massive missing
0:02:43.280125

20190418

SZ finished
0:00:03.319119
0:02:27.796553
0:01:39.495786
1
2
3
4
5
6
7
8
0:12:27.379294

skey
2300770    0.0
Name: p1, dtype: float64

0:00:50.976606
0:00:04.966711
no massive missing
0:02:39.018526

20190419

SZ finished
0:00:03.658212
0:02:39.243923
0:01:39.635413
1
2
3
4
5
6
7
8
0:12:37.329272

skey
2300771    0.0
Name: p1, dtype: float64

0:00:52.233243
0:00:04.739320
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:35.743290

20190422

SZ finished
0:00:03.112671
0:02:35.798143
0:01:39.527701
1
2
3
4
5
6
7
8
0:12:16.488434
0:00:52.244214
0:00:04.921831
no massive missing
0:02:35.646548

20190423

SZ finished
0:00:03.105691
0:02:49.851541
0:01:39.609482
1
2
3
4
5
6
7
8
0:12:11.753105
0:00:49.209334
0:00:04.744306
no massive missing
0:02:41.729273

20190424

SZ finished
0:00:03.581418
0:03:52.997586
0:01:42.809920
1
2
3
4
5
6
7
8
0:12:34.186082

skey
2300773    0.0
Name: p1, dtype: float64

0:00:48.418450
0:00:04.819106
no massive missing
0:02:37.419804

20190425

SZ finished
0:00:03.115664
0:02:46.782753
0:01:37.327587
1
2
3
4
5
6
7
8
0:12:07.627143

skey
2300772    0.0
Name: p1, dtype: float64

0:00:50.627540
0:00:04.700424
no massive missing
0:02:33.723692

20190426

SZ finished
0:00:03.113670
0:02:35.817091
0:01:39.477835
1
2
3
4
5
6
7
8
0:12:04.457624
0:00:47.853961

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
991,2001914,20190429,10.21,11.04,10.14,11.04,10.04,0.973838,0.099602,0.185822,-0.026337,-0.036318,25177296.0,2.707674e+08,0.037757,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.073425
no massive missing
0:02:35.153867

20190429

SZ finished
0:00:03.102698
0:03:01.731754
0:01:31.309689
1
2
3
4
5
6
7
8
0:11:08.054538
0:00:46.107634

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
988,2001914,20190430,12.1,12.12,10.41,10.54,11.04,0.973838,-0.04529,0.123667,0.007968,0.010627,57674713.0,6.532201e+08,0.086492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.442114
no massive missing
0:02:20.616763

20190430

SZ finished
0:00:03.100703
0:02:52.947258
0:01:36.650401
1
2
3
4
5
6
7
8
0:11:44.430209
0:00:52.363894

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190506,11.22,11.59,10.99,11.59,10.54,0.973838,0.09962,0.223865,-0.075131,-0.076626,77651856.0,889096250.2,0.116451,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.865981
no massive missing
0:02:33.042515

20190506

SZ finished
0:00:03.054827
0:02:14.897066
0:01:36.573606
1
2
3
4
5
6
7
8
0:11:35.331554
0:00:46.279174

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190507,11.25,11.57,10.7,11.35,11.59,0.973838,-0.020708,0.221744,0.013161,0.012515,43525757.0,4.891206e+08,0.065274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.742312
no massive missing
0:02:40.077692

20190507

SZ finished
0:00:03.560473
0:02:38.903833
0:01:33.389126
1
2
3
4
5
6
7
8
0:11:26.254840
0:00:47.493924

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190508,10.64,11.59,10.46,10.85,11.35,0.973838,-0.044053,0.080677,-0.00516,-0.003718,31791054.0,3.501744e+08,0.047676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.949756
no massive missing
0:02:26.038257

20190508

SZ finished
0:00:03.036874
0:02:54.960871
0:01:29.288098
1
2
3
4
5
6
7
8
0:10:57.103838

skey
2002953    0.0
Name: p1, dtype: float64

0:00:42.909191

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190509,10.68,11.94,10.63,11.07,10.85,0.973838,0.020276,0.002717,-0.011991,-0.010377,30295011.0,3.428115e+08,0.045432,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.112995
no massive missing
0:02:23.877039

20190509

SZ finished
0:00:02.982022
0:02:14.629781
0:01:35.612178
1
2
3
4
5
6
7
8
0:11:53.481991

skey
2300778    0.0
Name: p1, dtype: float64

0:00:45.080382

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190510,11.5,12.18,11.41,12.18,11.07,0.973838,0.100271,0.155598,0.035985,0.039654,50088950.0,600675204.8,0.075116,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.542844
no massive missing
0:02:34.729004

20190510

SZ finished
0:00:03.076768
0:02:08.019468
0:01:27.859920
1
2
3
4
5
6
7
8
0:10:53.790703
0:00:45.845335

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190513,11.58,12.18,11.58,11.93,12.18,0.973838,-0.020525,0.029336,-0.011535,-0.007329,31790642.0,376899751.7,0.047675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.791180
no massive missing
0:02:22.750055

20190513

SZ finished
0:00:03.117658
0:04:16.995377
0:01:27.805067
1
2
3
4
5
6
7
8
0:10:52.946960
0:00:40.941456

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190514,11.71,12.09,11.54,11.8,11.93,0.973838,-0.010897,0.039648,-0.008049,-0.006916,15005863.0,1.767003e+08,0.022504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.182808
no massive missing
0:02:15.490479

20190514

SZ finished
0:00:02.828432
0:02:11.980869
0:01:28.681721
1
2
3
4
5
6
7
8
0:11:12.660215
0:00:42.574087

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190515,11.99,12.04,11.51,11.82,11.8,0.973838,0.001695,0.089401,0.022342,0.022011,13964505.0,1.644749e+08,0.020942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.376291
no massive missing
0:02:18.933267

20190515

SZ finished
0:00:02.788540
0:03:12.065107
0:01:30.510828
1
2
3
4
5
6
7
8
0:11:16.317429

skey
2300777    0.0
Name: p1, dtype: float64

0:00:42.299822

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190516,11.71,12.23,11.02,12.05,11.82,0.973838,0.019459,0.088528,0.006265,0.007453,21884444.0,2.533430e+08,0.032819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.331410
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:22.080846

20190516

SZ finished
0:00:02.921184
0:03:58.194682
0:01:35.242167
1
2
3
4
5
6
7
8
0:11:53.965701

skey
2300776    0.0
Name: p1, dtype: float64

0:00:45.132239

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190517,11.89,12.09,11.5,11.53,12.05,0.973838,-0.043154,-0.053366,-0.032453,-0.035513,12182747.0,1.432742e+08,0.01827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.508936
no massive missing
0:02:25.731078

20190517

SZ finished
0:00:02.995984
0:03:15.107964
0:01:27.768166
1
2
3
4
5
6
7
8
0:10:46.652800
0:00:47.465999

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190520,11.45,11.56,11.15,11.2,11.53,0.973838,-0.028621,-0.06119,-0.003848,-0.003346,6184371.0,69685220.56,0.009274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.360333
no massive missing
0:02:17.505089

20190520

SZ finished
0:00:02.748645
0:02:15.408697
0:01:30.518806
1
2
3
4
5
6
7
8
0:11:04.066209

skey
2300775    0.0
Name: p1, dtype: float64

0:00:42.896226

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190521,11.22,11.63,11.13,11.23,11.2,0.973838,0.002679,-0.048305,0.017531,0.019743,8357128.0,95074475.32,0.012533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.326424
no massive missing
0:02:29.488026

20190521

SZ finished
0:00:03.351034
0:02:43.342956
0:01:28.278799
1
2
3
4
5
6
7
8
0:10:59.929277

skey
2300779    0.0
Name: p1, dtype: float64

0:00:40.789862

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190522,11.36,11.44,11.08,11.2,11.23,0.973838,-0.002671,-0.052453,-0.006683,-0.004174,4542366.0,51035554.34,0.006812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.341411
no massive missing
0:02:17.367430

20190522

SZ finished
0:00:02.732688
0:01:45.910623
0:01:28.218960
1
2
3
4
5
6
7
8
0:10:50.284084

skey
2002955    0.0
Name: p1, dtype: float64

0:00:41.244645

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190523,11.19,11.19,10.6,10.6,11.2,0.973838,-0.053571,-0.120332,-0.020793,-0.02365,7700732.0,83380161.8,0.011548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.144909
no massive missing
0:02:22.322200

20190523

SZ finished
0:00:02.936144
0:01:45.969466
0:01:23.506569
1
2
3
4
5
6
7
8
0:10:22.238125
0:00:37.922533

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190524,10.61,10.9,10.55,10.64,10.6,0.973838,0.003774,-0.07719,-0.006395,-0.012729,5185210.0,55780193.15,0.007776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.967384
no massive missing
0:02:07.156777

20190524

SZ finished
0:00:02.626971
0:02:26.293574
0:01:29.442685
1
2
3
4
5
6
7
8
0:11:03.551586
0:00:47.828030

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190527,10.72,10.84,10.37,10.7,10.64,0.973838,0.005639,-0.044643,0.02503,0.029584,6262275.0,66640290.41,0.009391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.149896
no massive missing
0:02:30.943133

20190527

SZ finished
0:00:02.804496
0:02:29.126991
0:01:28.865230
1
2
3
4
5
6
7
8
0:11:02.415626
0:00:43.383920

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
999,2001914,20190528,10.68,11.05,10.57,10.84,10.7,0.973838,0.013084,-0.034728,-0.001503,-0.00002,9474418.0,1.027646e+08,0.014208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.221705
no massive missing
0:02:17.035345

20190528

SZ finished
0:00:02.836411
0:01:50.130332
0:01:26.180413
1
2
3
4
5
6
7
8
0:10:45.312388
0:00:41.100031

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190529,10.79,11.31,10.75,10.92,10.84,0.973838,0.00738,-0.025,0.000278,0.004106,7948613.0,88067920.86,0.01192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.067118
no massive missing
0:02:16.727060

20190529

SZ finished
0:00:02.804477
0:01:51.488698
0:01:27.968629
1
2
3
4
5
6
7
8
0:10:50.359882
0:00:41.259604

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190530,10.86,10.99,10.75,10.98,10.92,0.973838,0.005495,0.035849,-0.006145,-0.006423,3978952.0,43319594.2,0.005967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.201759
no massive missing
0:02:22.447863

20190530

SZ finished
0:00:03.625300
0:03:50.254924
0:01:26.866578
1
2
3
4
5
6
7
8
0:10:55.662693

skey
2300780    0.0
Name: p1, dtype: float64

0:00:40.200439

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190531,10.99,11.18,10.91,11.05,10.98,0.973838,0.006375,0.038534,-0.002924,-0.001448,6494864.0,71812345.88,0.00974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.100030
no massive missing
0:02:18.036665

20190531

SZ finished
0:00:03.353029
0:01:50.697814
0:01:28.711641
1
2
3
4
5
6
7
8
0:11:02.764691
0:00:43.031863

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190603,11.05,11.23,10.76,10.97,11.05,0.973838,-0.00724,0.025234,-0.011846,-0.014843,5164386.0,57027078.96,0.007745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.227688
no massive missing
0:02:19.870759

20190603

SZ finished
0:00:02.838405
0:01:56.863318
0:01:26.914449
1
2
3
4
5
6
7
8
0:10:32.330515
0:00:43.386914

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190604,10.98,11.03,10.64,10.79,10.97,0.973838,-0.016408,-0.004613,-0.012032,-0.017906,4206537.0,45367872.74,0.006308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.202754
no massive missing
0:02:23.219798

20190604

SZ finished
0:00:03.433812
0:03:53.916128
0:01:25.018522
1
2
3
4
5
6
7
8
0:10:35.204432
0:00:39.741667

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190605,10.85,10.97,10.61,10.8,10.79,0.973838,0.000927,-0.010989,-0.002417,-0.000487,4275747.0,45985584.88,0.006412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.094045
no massive missing
0:02:09.607220

20190605

SZ finished
0:00:02.629963
0:02:25.919575
0:01:26.362924
1
2
3
4
5
6
7
8
0:10:36.616654

skey
2300781    0.0
Name: p1, dtype: float64

0:00:41.823097

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190606,10.61,10.63,9.96,9.96,10.5,0.946787,-0.051429,-0.066979,-0.021957,-0.024749,6494107.0,66315909.46,0.009739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.462061
no massive missing
0:02:10.486866

20190606

SZ finished
0:00:02.701770
0:02:33.332714
0:01:23.762881
1
2
3
4
5
6
7
8
0:10:13.430691
0:00:39.355699

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190610,10.03,10.35,9.95,10.2,9.96,0.946787,0.024096,-0.050549,0.009934,0.013544,8682107.0,87934873.6,0.01302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.513922
no massive missing
0:02:15.263111

20190610

SZ finished
0:00:03.301143
0:03:32.782675
0:01:33.490853
1
2
3
4
5
6
7
8
0:11:38.826204
0:00:43.974341

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190611,10.26,10.39,10.13,10.36,10.2,0.946787,0.015686,-0.028624,0.037291,0.037397,7725420.0,79422382.17,0.011585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.304483
no massive missing
0:02:30.476382

20190611

SZ finished
0:00:02.872315
0:01:49.516974
0:01:30.132838
1
2
3
4
5
6
7
8
0:10:59.069794
0:00:42.139251

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190612,10.33,10.34,9.9,9.99,10.36,0.946787,-0.035714,-0.04769,-0.007749,-0.004677,7639001.0,76981681.7,0.011456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.183805
no massive missing
0:02:32.623196

20190612

SZ finished
0:00:03.187471
0:02:53.774073
0:01:28.467268
1
2
3
4
5
6
7
8
0:10:58.779354
0:00:42.163188

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190613,9.93,10.13,9.86,10.02,9.99,0.946787,0.003003,-0.045714,0.002911,0.005551,3433400.0,34393444.0,0.005149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.105017
no massive missing
0:02:19.201717

20190613

SZ finished
0:00:02.822449
0:02:02.153165
0:01:28.481257
1
2
3
4
5
6
7
8
0:10:59.328884
0:00:40.760939

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190614,10.1,10.25,9.9,9.98,10.02,0.946787,-0.003992,0.002008,-0.016837,-0.022864,4543212.0,45969302.79,0.006813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.264589
no massive missing
0:02:21.258047

20190614

SZ finished
0:00:02.941131
0:01:48.520640
0:01:23.138552
1
2
3
4
5
6
7
8
0:10:17.749136
0:00:42.414515

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190617,9.95,10.23,9.81,10.04,9.98,0.946787,0.006012,-0.015686,0.001521,-0.002396,5436866.0,54626593.24,0.008153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.553816
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:12.495492

20190617

SZ finished
0:00:02.621984
0:01:54.797844
0:01:22.218016
1
2
3
4
5
6
7
8
0:10:18.576343

skey
2300782    0.0
Name: p1, dtype: float64

0:00:38.104047

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190618,10.01,10.21,9.9,10.05,10.04,0.946787,0.000996,-0.029923,-0.001181,0.00004,5318412.0,53426993.17,0.007976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.944447
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:15.960558

20190618

SZ finished
0:00:02.605030
0:01:54.207424
0:01:29.355917
1
2
3
4
5
6
7
8
0:11:06.051989

skey
2002956    0.0
2300054    0.0
Name: p1, dtype: float64

0:00:45.161148

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190619,10.25,10.9,10.04,10.4,10.05,0.946787,0.034826,0.041041,0.012876,0.014222,9425761.0,97580775.85,0.014135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.494972
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:23.364907

20190619

SZ finished
0:00:03.122645
0:02:31.872961
0:01:35.436647
1
2
3
4
5
6
7
8
0:11:57.937490
0:00:47.671449

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190620,10.42,10.81,10.32,10.63,10.4,0.946787,0.022115,0.060878,0.01972,0.015864,7672162.0,81511763.44,0.011506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.619640
no massive missing
0:02:29.473066

20190620

SZ finished
0:00:03.061807
0:02:06.061706
0:01:36.125803
1
2
3
4
5
6
7
8
0:12:01.674072
0:00:46.546964

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190621,10.8,11.11,10.71,10.99,10.63,0.946787,0.033866,0.101202,0.013436,0.016687,6406300.0,70021509.45,0.009607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.842045
no massive missing
0:02:43.170417

20190621

SZ finished
0:00:02.976037
0:02:30.084430
0:01:32.109550
1
2
3
4
5
6
7
8
0:11:24.054028
0:00:42.212057

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190624,11.05,11.19,10.81,11.05,10.99,0.946787,0.00546,0.100598,0.000577,-0.000415,4937723.0,54363507.15,0.007405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.447101
no massive missing
0:02:26.401285

20190624

SZ finished
0:00:03.171515
0:02:01.286372
0:01:32.763799
1
2
3
4
5
6
7
8
0:11:32.312096
0:00:43.627271

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190625,10.97,12.16,10.93,11.76,11.05,0.946787,0.064253,0.170149,-0.009796,-0.009643,22381983.0,2.655138e+08,0.033565,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.471037
no massive missing
0:02:22.710161

20190625

SZ finished
0:00:02.888272
0:02:57.016600
0:01:27.507862
1
2
3
4
5
6
7
8
0:10:48.789534
0:00:41.531877

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190626,11.75,11.99,11.52,11.72,11.76,0.946787,-0.003401,0.126923,-0.002491,-0.000056,10623540.0,1.249925e+08,0.015932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.147901
no massive missing
0:02:16.172653

20190626

SZ finished
0:00:02.688806
0:01:59.328720
0:01:29.354920
1
2
3
4
5
6
7
8
0:11:07.986320
0:00:41.489988

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190627,11.9,12.46,11.9,12.08,11.72,0.946787,0.030717,0.136406,0.009046,0.00863,15288419.0,1.854266e+08,0.022927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.110004
no massive missing
0:02:22.012029

20190627

SZ finished
0:00:02.927168
0:01:51.349072
0:01:29.961298
1
2
3
4
5
6
7
8
0:10:54.500924
0:00:50.070032

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190628,12.06,12.29,11.8,11.85,12.08,0.946787,-0.01904,0.078253,-0.011384,-0.014106,7775297.0,93650491.05,0.01166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.976683
no massive missing
0:02:27.534254

20190628

SZ finished
0:00:02.761611
0:03:16.262842
0:01:34.859192
1
2
3
4
5
6
7
8
0:11:43.320363
0:00:43.774875

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190701,12.23,12.71,12.02,12.54,11.85,0.946787,0.058228,0.134842,0.030256,0.030062,13454384.0,1.660814e+08,0.020177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.887921
no massive missing
0:02:30.506303

20190701

SZ finished
0:00:02.998976
0:01:56.389585
0:01:33.783072
1
2
3
4
5
6
7
8
0:11:35.902159
0:00:43.286182

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190702,12.54,12.65,12.24,12.38,12.54,0.946787,-0.012759,0.052721,-0.003108,0.000384,7264822.0,90656008.57,0.010895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.398233
no massive missing
0:02:30.467419

20190702

SZ finished
0:00:03.233348
0:02:56.456840
0:01:30.723258
1
2
3
4
5
6
7
8
0:11:15.714597
0:00:42.661852

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190703,12.51,12.52,11.83,11.99,12.38,0.946787,-0.031502,0.023038,-0.008592,-0.01003,13841465.0,1.662719e+08,0.020757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.336398
no massive missing
0:02:20.156993

20190703

SZ finished
0:00:02.845387
0:01:53.722721
0:01:27.886848
1
2
3
4
5
6
7
8
0:10:58.884244
0:00:42.357667

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190704,12.0,12.17,11.66,11.8,11.99,0.946787,-0.015847,-0.023179,-0.003115,-0.004445,7968921.0,94882874.62,0.011951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.128952
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:13.814962

20190704

SZ finished
0:00:02.761611
0:01:47.306888
0:01:26.963321
1
2
3
4
5
6
7
8
0:10:33.098336

skey
2300788    0.0
Name: p1, dtype: float64

0:00:40.536539

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190705,11.96,12.02,11.4,11.66,11.8,0.946787,-0.011864,-0.016034,0.00351,0.003676,7947345.0,92629231.14,0.011918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.111998
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:17.461206

20190705

SZ finished
0:00:03.036875
0:02:59.189556
0:01:34.006398
1
2
3
4
5
6
7
8
0:11:21.921980
0:00:42.690775

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190708,11.86,11.87,11.18,11.56,11.66,0.946787,-0.008576,-0.07815,-0.034085,-0.033181,10011284.0,1.158416e+08,0.015013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.253620
no massive missing
0:02:22.606902

20190708

SZ finished
0:00:03.723039
0:02:05.762531
0:01:22.609943
1
2
3
4
5
6
7
8
0:10:23.835850
0:00:41.359337

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190709,11.59,11.79,11.38,11.5,11.56,0.946787,-0.00519,-0.071082,0.002226,0.003066,6403721.0,73868841.92,0.009603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.099033
no massive missing
0:02:07.734231

20190709

SZ finished
0:00:02.624977
0:02:50.123374
0:01:21.421147
1
2
3
4
5
6
7
8
0:09:59.496972
0:00:42.691774

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190710,11.52,11.6,11.3,11.45,11.5,0.946787,-0.004348,-0.045038,-0.007735,-0.008688,5177838.0,59249696.28,0.007765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.326423
no massive missing
0:02:13.338237

20190710

SZ finished
0:00:02.503302
0:03:18.166779
0:01:24.745254
1
2
3
4
5
6
7
8
0:10:18.011434
0:00:39.469395

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190711,11.53,11.91,11.36,11.64,11.45,0.946787,0.016594,-0.013559,0.000141,-0.001581,8185101.0,95327846.41,0.012275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.930483
no massive missing
0:02:10.224381

20190711

SZ finished
0:00:02.690800
0:02:44.441019
0:01:21.099009
1
2
3
4
5
6
7
8
0:10:03.156539

skey
2300783    0.0
Name: p1, dtype: float64

0:00:37.530581

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190712,11.6,12.17,11.54,11.99,11.64,0.946787,0.030069,0.028302,0.003513,0.002457,7415908.0,88343362.64,0.011121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.857678
no massive missing
0:02:08.858224

20190712

SZ finished
0:00:02.591067
0:02:15.158367
0:01:30.498860
1
2
3
4
5
6
7
8
0:11:23.495178

skey
2300785    0.0
Name: p1, dtype: float64

0:00:42.433463

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190715,12.0,12.3,11.92,12.11,11.99,0.946787,0.010008,0.047578,0.013114,0.010466,5579829.0,67343693.03,0.008368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.292515
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:18.506408

20190715

SZ finished
0:00:02.774577
0:02:10.815961
0:01:26.468644
1
2
3
4
5
6
7
8
0:10:34.402577
0:00:39.239039

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190716,12.13,13.02,12.01,12.82,12.11,0.946787,0.058629,0.114783,0.001365,0.002164,14335857.0,1.817690e+08,0.021499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.962399
no massive missing
0:02:14.412167

20190716

SZ finished
0:00:02.685814
0:02:18.399693
0:01:24.644523
1
2
3
4
5
6
7
8
0:10:39.334995
0:00:53.089580

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190717,12.82,12.98,12.58,12.79,12.82,0.946787,-0.00234,0.117031,-0.0006,0.000794,6822341.0,87079519.26,0.010231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.805144
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:11.433531

20190717

SZ finished
0:00:02.820453
0:01:45.496731
0:01:23.733048
1
2
3
4
5
6
7
8
0:10:17.125713
0:00:39.428504

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190718,12.61,12.98,12.53,12.55,12.79,0.946787,-0.018765,0.078179,-0.01724,-0.017927,5173359.0,65589678.67,0.007758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.009273
no massive missing
0:02:10.950626

20190718

SZ finished
0:00:02.557158
0:02:21.736766
0:01:23.190414
1
2
3
4
5
6
7
8
0:10:15.065726
0:00:39.082302

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190719,12.54,12.96,12.51,12.64,12.55,0.946787,0.007171,0.054212,0.007139,0.004895,5171022.0,65977649.41,0.007755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.040191
no massive missing
0:02:17.499104

20190719

SZ finished
0:00:03.041861
0:02:47.560671
0:01:24.658158
1
2
3
4
5
6
7
8
0:10:44.390903
0:00:41.679950

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190722,12.69,12.88,12.4,12.59,12.64,0.946787,-0.003956,0.039637,-0.020931,-0.028102,5961945.0,75578639.06,0.008941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.118980
no massive missing
0:02:12.939943

20190722

SZ finished
0:00:02.640934
0:01:42.349152
0:01:21.534844
1
2
3
4
5
6
7
8
0:10:04.290810

skey
2300786    0.0
Name: p1, dtype: float64

0:00:39.083427

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190723,12.61,12.72,12.31,12.61,12.59,0.946787,0.001589,-0.016381,0.009912,0.011386,4608473.0,57436710.41,0.006911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.007278
no massive missing
0:02:04.657465

20190723

SZ finished
0:00:02.571121
0:03:06.647205
0:01:25.526165
1
2
3
4
5
6
7
8
0:10:32.765047
0:00:48.109277

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190724,12.61,12.78,12.3,12.63,12.61,0.946787,0.001586,-0.01251,0.01018,0.012421,5885004.0,73672669.34,0.008825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.943773
no massive missing
0:02:15.223194

20190724

SZ finished
0:00:02.674843
0:01:43.220387
0:01:24.370571
1
2
3
4
5
6
7
8
0:10:21.302597
0:00:39.289875

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190725,12.6,12.78,12.39,12.62,12.63,0.946787,-0.000792,0.005578,0.00382,0.003129,4105122.0,51644757.24,0.006156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.244642
no massive missing
0:02:10.321310

20190725

SZ finished
0:00:02.584086
0:01:41.933264
0:01:21.602663
1
2
3
4
5
6
7
8
0:10:03.485645

skey
2002957    0.0
Name: p1, dtype: float64

0:00:40.035386

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190726,12.99,13.38,12.9,13.1,12.62,0.946787,0.038035,0.036392,0.001322,0.001059,9015921.0,1.179235e+08,0.013521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.334403
no massive missing
0:02:32.663857

20190726

SZ finished
0:00:04.030216
0:02:03.145510
0:01:21.034443
1
2
3
4
5
6
7
8
0:09:59.192786
0:00:45.429449

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190729,13.17,13.65,13.1,13.3,13.1,0.946787,0.015267,0.056394,-0.000223,0.000456,7043940.0,93880152.03,0.010563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.891587
no massive missing
0:02:08.427377

20190729

SZ finished
0:00:02.469392
0:01:44.214162
0:01:23.336025
1
2
3
4
5
6
7
8
0:10:22.459532
0:00:39.007630

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190730,13.31,13.6,13.15,13.37,13.3,0.946787,0.005263,0.06027,0.005289,0.003973,5877729.0,78702267.45,0.008815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.234670
no massive missing
0:02:16.159688

20190730

SZ finished
0:00:02.573115
0:01:46.560883
0:01:21.436107
1
2
3
4
5
6
7
8
0:10:16.668029
0:00:39.290872

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190731,13.35,13.44,12.93,12.99,13.37,0.946787,-0.028422,0.028504,-0.004005,-0.007562,6214592.0,81674183.7,0.00932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.992318
no massive missing
0:02:07.274462

20190731

SZ finished
0:00:02.573115
0:01:50.774608
0:01:22.836361
1
2
3
4
5
6
7
8
0:10:20.446919
0:00:41.734334

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190801,12.97,13.13,12.62,12.76,12.99,0.946787,-0.017706,0.011094,-0.006676,-0.005166,6191700.0,79419488.1,0.009285,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.763255
no massive missing
0:02:12.069631

20190801

SZ finished
0:00:02.583089
0:01:46.633688
0:01:26.621234
1
2
3
4
5
6
7
8
0:10:40.081383

skey
2002966    0.0
Name: p1, dtype: float64

0:00:40.856682

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190802,12.6,12.9,12.4,12.52,12.76,0.946787,-0.018809,-0.044275,-0.012432,-0.015883,7973378.0,1.004562e+08,0.011957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.105017
no massive missing
0:02:19.666306

20190802

SZ finished
0:00:02.728699
0:01:43.193892
0:01:24.695386
1
2
3
4
5
6
7
8
0:10:24.786308
0:00:39.683821

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190805,12.57,12.65,12.05,12.06,12.52,0.946787,-0.036741,-0.093233,-0.012045,-0.011475,5688349.0,70406702.64,0.008531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.055150
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:02:16.116803

20190805

SZ finished
0:00:03.398906
0:02:43.055723
0:01:31.074320
1
2
3
4
5
6
7
8
0:11:10.315488
0:00:40.893584

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190806,12.03,12.48,11.84,12.2,12.06,0.946787,0.011609,-0.087509,-0.021343,-0.026393,14622796.0,1.774794e+08,0.021929,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.135934
no massive missing
0:02:27.013679

20190806

SZ finished
0:00:02.955061
0:01:50.192168
0:01:22.476323
1
2
3
4
5
6
7
8
0:10:19.428643
0:00:39.208094

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190807,12.22,13.1,12.22,12.99,12.2,0.946787,0.064754,0.0,-0.005203,-0.002934,11267411.0,1.441497e+08,0.016897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.958408
no massive missing
0:02:15.391743

20190807

SZ finished
0:00:02.783577
0:01:49.123027
0:01:20.240307
1
2
3
4
5
6
7
8
0:10:01.475689
0:00:44.334378

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190808,12.99,13.08,12.56,12.67,12.99,0.946787,-0.024634,-0.007053,0.006428,0.007755,7537679.0,96232068.56,0.011304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.608669
no massive missing
0:02:03.703017

20190808

SZ finished
0:00:02.514273
0:01:45.915610
0:01:22.796468
1
2
3
4
5
6
7
8
0:10:14.710774

skey
2002960    0.0
Name: p1, dtype: float64

0:00:39.490338

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190809,12.75,12.83,12.3,12.41,12.67,0.946787,-0.020521,-0.008786,-0.011973,-0.010874,5140408.0,64388890.4,0.007709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.951427
no massive missing
0:02:10.226564

20190809

SZ finished
0:00:02.633952
0:01:46.184889
0:01:21.016231
1
2
3
4
5
6
7
8
0:09:59.599721
0:00:39.293841

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190812,12.33,13.09,12.33,13.0,12.41,0.946787,0.047542,0.077944,0.01841,0.016926,10103765.0,1.300337e+08,0.015153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:03.847704
no massive missing
0:02:07.010170

20190812

SZ finished
0:00:02.643925
0:01:37.775390
0:01:19.701748
1
2
3
4
5
6
7
8
0:09:44.123106
0:00:41.849028

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190813,12.89,13.34,12.76,13.12,13.0,0.946787,0.009231,0.07541,-0.00569,-0.004796,7155893.0,93773540.98,0.010732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:03.861668
no massive missing
0:02:12.085588

20190813

SZ finished
0:00:02.934150
0:01:53.762615
0:01:21.165830
1
2
3
4
5
6
7
8
0:10:12.471257
0:00:42.966039

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190814,13.15,13.38,13.15,13.23,13.12,0.946787,0.008384,0.018476,0.005464,0.006754,4504466.0,59662398.82,0.006755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:03.905551
no massive missing
0:02:05.091302

20190814

SZ finished
0:00:02.499314
0:01:50.333788
0:01:25.047445
1
2
3
4
5
6
7
8
0:10:32.584443
0:00:41.584734

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190815,13.07,13.57,12.95,13.5,13.23,0.946787,0.020408,0.065509,0.004849,0.004771,5132156.0,68286931.52,0.007697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.352355
no massive missing
0:02:12.587246

20190815

SZ finished
0:00:02.648939
0:01:57.228341
0:01:27.424086
1
2
3
4
5
6
7
8
0:10:43.326699
0:00:40.952428

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190816,13.36,13.53,13.25,13.3,13.5,0.946787,-0.014815,0.071716,0.003423,0.005649,4356077.0,58164721.63,0.006533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.141918
no massive missing
0:02:21.421608

20190816

SZ finished
0:00:03.103696
0:02:00.398858
0:01:31.994856
1
2
3
4
5
6
7
8
0:11:44.421234
0:00:43.787840

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190819,13.49,13.85,13.35,13.52,13.3,0.946787,0.016541,0.04,0.032264,0.031832,5321195.0,71961808.06,0.00798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.331411
no massive missing
0:02:25.601426

20190819

SZ finished
0:00:02.927168
0:01:53.770593
0:01:29.651127
1
2
3
4
5
6
7
8
0:11:20.831352
0:00:42.463383

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190820,13.51,13.54,12.66,12.85,13.52,0.946787,-0.049556,-0.020579,-0.000498,0.002337,10076869.0,1.312309e+08,0.015112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.264590
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:21.894344

20190820

SZ finished
0:00:02.861345
0:01:48.296267
0:01:27.324326
1
2
3
4
5
6
7
8
0:10:50.620185
0:00:40.687136

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190821,12.85,13.5,12.8,13.38,12.85,0.946787,0.041245,0.011338,0.002076,0.000262,9789645.0,1.299213e+08,0.014682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.540851
no massive missing
0:02:20.257723

20190821

SZ finished
0:00:03.097712
0:02:37.611292
0:01:26.594306
1
2
3
4
5
6
7
8
0:11:02.488431
0:00:40.679157

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190822,13.33,13.54,12.85,13.06,13.38,0.946787,-0.023916,-0.032593,0.001064,0.004228,8615233.0,1.125088e+08,0.01292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.807140
no massive missing
0:02:14.038363

20190822

SZ finished
0:00:02.871317
0:01:48.689189
0:01:26.333005
1
2
3
4
5
6
7
8
0:10:57.778034

skey
2002959    0.0
Name: p1, dtype: float64

0:00:42.706732

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190823,13.0,13.22,12.88,12.99,13.06,0.946787,-0.00536,-0.023308,-0.000002,-0.002113,3910013.0,51096707.86,0.005864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.502952
no massive missing
0:02:15.953240

20190823

SZ finished
0:00:02.800507
0:01:47.650967
0:01:27.059062
1
2
3
4
5
6
7
8
0:10:40.656844

skey
2003816    0.0
Name: p1, dtype: float64

0:00:41.071108

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190826,13.71,14.29,13.71,14.29,12.99,0.946787,0.100077,0.056953,-0.006638,-0.005554,8607301.0,1.216483e+08,0.012908,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.065123
no massive missing
0:02:15.057638

20190826

SZ finished
0:00:02.955093
0:01:57.013914
0:01:32.057688
1
2
3
4
5
6
7
8
0:11:41.541939
0:00:50.177743

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190827,14.98,15.72,14.82,15.28,14.29,0.946787,0.069279,0.189105,0.016613,0.018956,44360710.0,680580296.2,0.066528,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.636594
no massive missing
0:02:24.963161

20190827

SZ finished
0:00:03.798850
0:01:52.052190
0:01:29.526461
1
2
3
4
5
6
7
8
0:11:13.313467

skey
2300789    0.0
Name: p1, dtype: float64

0:00:42.256936

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190828,15.18,15.68,14.8,15.38,15.28,0.946787,0.006545,0.149477,-0.001607,-0.00199,21272123.0,3.244748e+08,0.031902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.349363
no massive missing
0:02:25.527623

20190828

SZ finished
0:00:02.936144
0:01:45.242411
0:01:24.430096
1
2
3
4
5
6
7
8
0:10:46.731590
0:00:39.550178

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
0,2300567,20190829,51.13,51.17,46.71,46.71,51.90,0.328326,-0.100000,-0.044590,0.001216,0.000908,16133580.0,7.642315e+08,0.126355,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.276850e+08,2.454012e+08,NaN,NaN
3,2300568,20190829,27.81,28.09,27.40,28.01,27.66,0.610900,0.012654,-0.017193,0.001216,0.000908,3108655.0,8.648066e+07,0.024151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.287151e+08,2.304065e+08,NaN,NaN
32,2002151,20190829,22.15,22.49,22.02,22.26,22.10,0.659300,0.007240,-0.001794,0.001216,0.000908,5100361.0,1.137533e+08,0.013930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.661551e+08,4.905680e+08,NaN,NaN
52,2300636,20190829,22.09,22.30,21.78,21.84,22.24,0.994064,-0.017986,0.010643,0.001216,0.000908,1220100.0,2.676202e+07,0.025878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.714789e+07,8.095100e+07,NaN,NaN
63,2300726,20190829,27.28,27.77,26.90,27.60,27.23,0.985841,0.013588,0.035259,0.001216,0.000908,13950830.0,3.816436e+08,0.128640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.084488e+08,4.001000e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,2002217,20190829,5.53,5.59,5.45,5.52,5.51,0.490920,0.001815,-0.028169,0.001216,0.000908,36649922.0,2.025384e+08,0.013574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.699965e+09,3.116416e+09,NaN,NaN
2044,2002395,20190829,22.25,22.96,22.25,22.76,22.16,0.985062,0.027076,0.029398,0.001216,0.000908,1124507.0,2.548558e+07,0.006289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.788060e+08,1.788060e+08,NaN,NaN
2065,2002771,20190829,10.35,10.54,10.34,10.46,10.35,0.376526,0.010628,0.016521,0.001216,0.000908,2259320.0,2.365062e+07,0.017588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.284569e+08,2.098936e+08,NaN,NaN
2091,2002916,20190829,132.22,139.00,132.22,136.46,130.66,0.822057,0.044390,0.046633,0.001216,0.000908,7669440.0,1.039702e+09,0.077688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.872088e+07,3.393600e+08,NaN,NaN
2136,2002715,20190829,15.90,15.99,15.60,15.67,15.89,1.000000,-0.013845,0.004487,0.001216,0.000908,331500.0,5.213324e+06,0.003891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.519196e+07,9.200000e+07,NaN,NaN

0:00:03.911533
no massive missing
0:02:10.728221

20190829

SZ finished
0:00:02.732688
0:02:00.134565
0:01:33.191654
1
2
3
4
5
6
7
8
0:11:24.840624
0:00:53.015151

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190830,15.17,16.0,15.06,15.86,15.1,0.946787,0.050331,0.220939,-0.009665,-0.014825,17390769.0,2.692377e+08,0.026081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.315454
no massive missing
0:02:27.743693

20190830

SZ finished
0:00:02.880293
0:02:28.930518
0:01:34.152084
1
2
3
4
5
6
7
8
0:11:43.433876
0:00:42.925148

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190902,15.78,15.86,15.23,15.6,15.86,0.946787,-0.016393,0.091672,0.024926,0.025965,12797295.0,1.982176e+08,0.019192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.301491
no massive missing
0:02:30.599054

20190902

SZ finished
0:00:03.341060
0:01:53.185159
0:01:31.265807
1
2
3
4
5
6
7
8
0:11:31.622479
0:00:42.668834

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190903,15.5,16.26,15.3,16.1,15.6,0.946787,0.032051,0.053665,0.007165,0.007433,10681770.0,1.700114e+08,0.01602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.349363
no massive missing
0:02:26.244704

20190903

SZ finished
0:00:02.911211
0:01:54.113675
0:01:33.262464
1
2
3
4
5
6
7
8
0:11:36.669974
0:00:50.890835

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190904,16.18,16.18,15.6,15.78,16.1,0.946787,-0.019876,0.026008,0.009731,0.007027,7887792.0,1.245354e+08,0.011829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.385267
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:02:21.433576

20190904

SZ finished
0:00:02.866331
0:02:08.019468
0:01:40.262735
1
2
3
4
5
6
7
8
0:12:34.713670

skey
2002961    0.0
Name: p1, dtype: float64

0:00:47.933747

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190905,15.83,15.98,15.38,15.6,15.78,0.946787,-0.011407,0.033113,0.008862,0.009429,9676916.0,1.513843e+08,0.014513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.637592
no massive missing
0:02:39.553096

20190905

SZ finished
0:00:03.238335
0:01:58.323412
0:01:34.025424
1
2
3
4
5
6
7
8
0:11:42.402635
0:00:46.050785

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190906,15.57,15.68,15.4,15.48,15.6,0.946787,-0.007692,-0.02396,0.003159,0.004202,7551167.0,117094451.6,0.011325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.741313
no massive missing
0:02:26.624689

20190906

SZ finished
0:00:02.944122
0:01:49.253679
0:01:37.082244
1
2
3
4
5
6
7
8
0:12:08.555660
0:00:45.642877

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190909,15.54,15.9,15.31,15.63,15.48,0.946787,0.00969,0.001923,0.021111,0.024464,7641315.0,1.192731e+08,0.01146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.945767
no massive missing
0:02:32.288533

20190909

SZ finished
0:00:02.995984
0:01:59.441444
0:01:36.249448
1
2
3
4
5
6
7
8
0:11:57.711674
0:00:45.466349

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190910,15.53,15.57,15.05,15.47,15.63,0.946787,-0.010237,-0.039130,-0.003449,0.002202,6288530.0,96444746.32,0.009431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN
1180,2300210,20190910,4.20,4.29,4.13,4.24,4.18,0.551972,0.014354,0.046914,-0.003449,0.002202,21556608.0,90672263.82,0.053875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400124143.0,484219953.0,NaN,NaN

0:00:05.070434
no massive missing
0:02:25.925558

20190910

SZ finished
0:00:02.949109
0:02:11.295703
0:01:34.491176
1
2
3
4
5
6
7
8
0:11:34.841866
0:00:43.905525

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190911,15.47,15.58,15.1,15.12,15.47,0.946787,-0.022624,-0.041825,-0.005341,-0.008579,4455503.0,68181663.42,0.006682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.430147
no massive missing
0:02:23.034293

20190911

SZ finished
0:00:02.889270
0:02:15.459561
0:01:31.313679
1
2
3
4
5
6
7
8
0:11:12.894588
0:00:41.292516

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190912,15.39,15.55,15.09,15.18,15.12,0.946787,0.003968,-0.026923,0.004853,0.004763,5298452.0,80955587.03,0.007946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.257609
no massive missing
0:02:20.541962

20190912

SZ finished
0:00:02.856358
0:02:13.964562
0:01:32.992188
1
2
3
4
5
6
7
8
0:11:25.145808
0:00:46.012886

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190916,15.20,15.56,15.08,15.10,15.18,0.946787,-0.005270,-0.024548,0.001474,0.006135,4908200.0,75044539.0,0.007361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN
1302,2300464,20190916,9.36,9.68,9.20,9.45,9.37,0.397666,0.008538,0.139928,0.001474,0.006135,5533200.0,51670864.0,0.028009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,197551281.0,317990433.0,NaN,NaN

0:00:04.291518
no massive missing
0:02:18.487459

20190916

SZ finished
0:00:02.840400
0:02:25.568514
0:01:37.456243
1
2
3
4
5
6
7
8
0:11:50.927825

skey
2002962    0.0
Name: p1, dtype: float64

0:00:44.393220

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190917,15.1,15.26,15.0,15.01,15.1,0.946787,-0.00596,-0.039667,-0.02093,-0.023993,4116700.0,62232333.0,0.006174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.461064
no massive missing
0:02:25.207480

20190917

SZ finished
0:00:02.979029
0:02:11.704608
0:01:29.955313
1
2
3
4
5
6
7
8
0:10:55.462229
0:00:40.500636

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190918,14.98,15.32,14.7,15.28,15.01,0.946787,0.017988,-0.012282,0.000114,-0.001155,4834500.0,73042431.0,0.00725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.109006
no massive missing
0:02:14.911029

20190918

SZ finished
0:00:02.759616
0:02:16.316269
0:01:31.547054
1
2
3
4
5
6
7
8
0:10:57.792993
0:00:40.447778

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190919,15.17,15.3,15.11,15.22,15.28,0.946787,-0.003927,0.006614,0.009848,0.011763,3357832.0,51027297.76,0.005036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.101027
no massive missing
0:02:13.970545

20190919

SZ finished
0:00:02.782555
0:02:14.696603
0:01:32.178365
1
2
3
4
5
6
7
8
0:11:07.771177

skey
2300790    0.0
Name: p1, dtype: float64

0:00:41.979678

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190920,15.3,16.42,15.3,16.35,15.22,0.946787,0.074244,0.077075,0.002469,0.001094,11414420.0,1.825820e+08,0.017118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.260600
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:23.794686

20190920

SZ finished
0:00:02.874333
0:02:14.701791
0:01:29.986122
1
2
3
4
5
6
7
8
0:11:08.143047
0:00:42.342700

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190923,16.35,16.98,15.89,16.09,16.35,0.946787,-0.015902,0.065563,-0.006341,-0.009946,9475079.0,154710762.9,0.01421,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.282515
no massive missing
0:02:16.861450

20190923

SZ finished
0:00:02.802504
0:02:11.948720
0:01:32.245456
1
2
3
4
5
6
7
8
0:11:16.887193
0:00:42.563493

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190924,16.1,17.06,16.0,16.73,16.09,0.946787,0.039776,0.11459,0.00179,0.005031,10267540.0,1.706457e+08,0.015398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.331631
no massive missing
0:02:20.984201

20190924

SZ finished
0:00:02.857383
0:02:08.776714
0:01:31.386997
1
2
3
4
5
6
7
8
0:11:19.554190

skey
2300791    0.0
Name: p1, dtype: float64

0:00:43.452342

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190925,16.67,17.02,16.47,16.7,16.73,0.946787,-0.001793,0.092932,-0.018093,-0.019401,7423000.0,1.240191e+08,0.011132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.418218
no massive missing
0:02:23.316299

20190925

SZ finished
0:00:02.828405
0:02:17.928213
0:01:34.240018
1
2
3
4
5
6
7
8
0:11:21.543362
0:00:43.063777

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190926,16.71,17.43,16.42,16.45,16.7,0.946787,-0.01497,0.080815,-0.022954,-0.032748,10584496.0,1.798915e+08,0.015874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:04.458100
no massive missing
0:02:20.549159

20190926

SZ finished
0:00:02.890267
0:02:10.412187
0:01:26.632060
1
2
3
4
5
6
7
8
0:10:25.732405

skey
2300792    0.0
Name: p1, dtype: float64

0:00:39.373007

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190927,16.4,17.61,16.31,17.32,16.45,0.946787,0.052888,0.059327,0.00712,0.009031,12168232.0,2.083130e+08,0.018249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:03.995310
no massive missing
has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:02:13.982524

20190927

SZ finished
0:00:02.706758
0:02:04.619454
0:01:22.278861
1
2
3
4
5
6
7
8
0:09:57.846905
0:00:37.959955

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190930,17.17,17.63,16.91,17.01,17.32,0.946787,-0.017898,0.057178,-0.012931,-0.011159,7920893.0,1.366788e+08,0.011879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:03.922475
no massive missing
0:02:04.679856

20190930

SZ finished
0:00:02.586284

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200424\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190102'
endDate = '20190930'
readPath = 'G:\\KR\\' + year + '\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:    
    
    readPath = data + '\\snapshot\\***2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
#     startTm = datetime.datetime.now()
#     BidPrice = np.array([i[1:-1].split(',') for i in SZ['BidPrice'].values])
#     SZ.drop(["BidPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sp"%i] = BidPrice[:, i-1]
#     del BidPrice
#     print("1")
    
#     OfferPrice = np.array([i[1:-1].split(',') for i in SZ['OfferPrice'].values])
#     SZ.drop(["OfferPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sp"%i] = OfferPrice[:, i-1]
#     del OfferPrice
#     print("2")
    
#     BidOrderQty = np.array([i[1:-1].split(',') for i in SZ['BidOrderQty'].values])
#     SZ.drop(["BidOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sq"%i] = BidOrderQty[:, i-1]
#     del BidOrderQty
#     print("3")
    
#     OfferOrderQty = np.array([i[1:-1].split(',') for i in SZ['OfferOrderQty'].values])
#     SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sq"%i] = OfferOrderQty[:, i-1]
#     del OfferOrderQty
#     print("4")
    
#     BidNumOrders = np.array([i[1:-1].split(',') for i in SZ['BidNumOrders'].values]).astype(np.int32)
#     SZ.drop(["BidNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sn"%i] = BidNumOrders[:, i-1]
#     del BidNumOrders
#     print("5")
    
#     OfferNumOrders = np.array([i[1:-1].split(',') for i in SZ['OfferNumOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sn"%i] = OfferNumOrders[:, i-1]
#     del OfferNumOrders
#     print("6")
    
#     bidOrders = np.array([i[1:-1].split(',') for i in SZ['BidOrders'].values]).astype(np.int32)
#     SZ.drop(["BidOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["bid1Top%sq"%i] = bidOrders[:, i-1]
#     del bidOrders
#     print("7")
    
#     offerOrders = np.array([i[1:-1].split(',') for i in SZ['OfferOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["ask1Top%sq"%i] = offerOrders[:, i-1]
#     del offerOrders
#     print("8")
#     print(datetime.datetime.now() - startTm)
    
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
#     SZ = SZ.rename(columns={"NumTrades":"cum_trades_cnt", "TotalBidQty":"total_bid_quantity", "TotalOfferQty":"total_ask_quantity", 
#                            "HighPx":"high", "OpenPx":"open", "PreClosePx":"prev_close", "LowPx":"low", "LastPx":"close", "WeightedAvgBidPx":"total_bid_vwap", 
#                            "WeightedAvgOfferPx":"total_ask_vwap", "Amount":"cum_amount", "Volume":"cum_volume"})
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

    
        
        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    print(datetime.datetime.now() - startTm)
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  app.launch_new_instance()

0:04:51.034356
0:01:54.180954
0:01:10.885161
1
2
3
4
5
6
7
8
0:08:36.669531
0:00:26.261397

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:274: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190102,7.48,7.58,7.42,7.44,7.48,0.973838,-0.005348,-0.002681,-0.008656,-0.004853,1484088.0,11059300.11,0.002226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.907572
no massive missing
0:01:53.078138

20190102

SZ finished
0:00:02.244737
0:01:40.438799
0:01:13.682559
1
2
3
4
5
6
7
8
0:08:58.872275
0:00:27.601128

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190103,7.41,7.62,7.18,7.55,7.44,0.973838,0.014785,0.006667,-0.004635,-0.007183,3523797.0,26558986.95,0.005284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.484649
no massive missing
0:02:03.734720

20190103

SZ finished
0:00:02.833419
0:01:53.367752
0:01:20.612312
1
2
3
4
5
6
7
8
0:10:08.799227
0:00:30.198493

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190104,7.46,7.78,7.42,7.76,7.55,0.973838,0.027815,0.033289,0.023845,0.027653,3647801.0,27877048.68,0.00547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.856712
no massive missing
0:02:10.434711

20190104

SZ finished
0:00:02.707727
0:01:44.967934
0:01:21.756700
1
2
3
4
5
6
7
8
0:10:17.933631
0:00:30.090491

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190107,7.71,7.95,7.71,7.95,7.76,0.973838,0.024485,0.065684,0.018392,0.0214,3747879.0,29401749.87,0.005621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.878625
no massive missing
0:02:10.843984

20190107

SZ finished
0:00:02.672822
0:01:37.586921
0:01:19.069089
1
2
3
4
5
6
7
8
0:09:36.456208
0:00:31.400956

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190108,7.93,7.97,7.84,7.94,7.95,0.973838,-0.001258,0.061497,-0.002571,-0.001984,2170084.0,17154895.17,0.003254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.588399
no massive missing
0:02:11.221053

20190108

SZ finished
0:00:02.537211
0:01:53.228894
0:01:24.100977
1
2
3
4
5
6
7
8
0:10:27.362244
0:00:31.052973

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190109,7.9,7.98,7.84,7.85,7.94,0.973838,-0.011335,0.055108,0.002683,0.002117,3183084.0,25205117.58,0.004774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.119978
no massive missing
0:02:13.902785

20190109

SZ finished
0:00:02.722715
0:01:37.842239
0:01:19.346868
1
2
3
4
5
6
7
8
0:09:51.561382
0:00:29.041324

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190110,7.85,7.9,7.81,7.84,7.85,0.973838,-0.001274,0.038411,-0.001611,-0.002667,1284462.0,10078827.78,0.001926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.752958
no massive missing
0:02:12.690479

20190110

SZ finished
0:00:02.820453
0:02:43.123778
0:01:17.161279
1
2
3
4
5
6
7
8
0:09:46.606366
0:00:28.321558

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190111,7.85,7.89,7.78,7.88,7.84,0.973838,0.005102,0.015464,0.00771,0.008539,1832879.0,14370527.04,0.002749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.822742
no massive missing
0:02:06.206580

20190111

SZ finished
0:00:02.545161
0:01:34.715041
0:01:16.941299
1
2
3
4
5
6
7
8
0:09:40.818304
0:00:27.620071

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190114,7.9,7.93,7.68,7.73,7.88,0.973838,-0.019036,-0.027673,-0.006565,-0.005933,1912636.0,14871870.42,0.002868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.616326
no massive missing
0:02:05.650705

20190114

SZ finished
0:00:02.512311
0:01:44.073950
0:01:20.452102
1
2
3
4
5
6
7
8
0:09:55.553603
0:00:31.350541

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190115,7.73,7.81,7.68,7.75,7.73,0.973838,0.002587,-0.023929,0.014186,0.010878,1799500.0,13922067.0,0.002699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.238630
no massive missing
0:02:10.170758

20190115

SZ finished
0:00:02.587047
0:01:39.841607
0:01:19.584043
1
2
3
4
5
6
7
8
0:10:04.565846
0:00:30.146282

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190121,7.81,7.88,7.67,7.74,7.79,0.973838,-0.006418,0.001294,0.005939,0.006203,2361718.0,18362042.54,0.003542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.022012
no massive missing
0:02:10.464418

20190121

SZ finished
0:00:02.556122
0:01:44.697040
0:01:18.742345
1
2
3
4
5
6
7
8
0:09:47.060394
0:00:28.624414

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190122,7.79,7.81,7.66,7.74,7.74,0.973838,0.0,-0.00129,-0.014949,-0.011151,2572745.0,19910513.08,0.003858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.958410
no massive missing
0:02:09.888347

20190122

SZ finished
0:00:02.605030
0:01:49.316596
0:01:14.119683
1
2
3
4
5
6
7
8
0:09:23.960236
0:00:27.182391

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190123,7.75,7.75,7.66,7.74,7.74,0.973838,0.0,-0.026415,0.001725,0.001405,1354203.0,10434827.97,0.002031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.805817
no massive missing
0:01:59.654361

20190123

SZ finished
0:00:02.421495
0:01:43.989786
0:01:18.760997
1
2
3
4
5
6
7
8
0:09:49.872322
0:00:31.090813

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190124,7.79,7.82,7.72,7.78,7.74,0.973838,0.005168,0.001287,0.00521,0.005657,2977257.0,23146333.97,0.004465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.084073
no massive missing
0:02:07.594981

20190124

SZ finished
0:00:02.581094
0:01:43.266791
0:01:18.868967
1
2
3
4
5
6
7
8
0:09:41.362379
0:00:29.552955

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190125,7.75,7.84,7.74,7.79,7.78,0.973838,0.001285,0.0,-0.004548,-0.005997,2077062.0,16188605.92,0.003115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.736300
no massive missing
0:02:14.824526

20190125

SZ finished
0:00:02.497290
0:02:15.960159
0:01:18.067917
1
2
3
4
5
6
7
8
0:09:50.513265
0:00:29.101495

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190128,7.84,7.88,7.7,7.71,7.79,0.973838,-0.01027,-0.003876,-0.002599,-0.008148,2499185.0,19423594.21,0.003748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.994282
no massive missing
0:02:05.617121

20190128

SZ finished
0:00:02.590097
0:01:40.869971
0:01:20.470871
1
2
3
4
5
6
7
8
0:09:57.813193
0:00:30.981141

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190129,7.68,7.69,7.37,7.61,7.71,0.973838,-0.01297,-0.016796,-0.012289,-0.01758,2883388.0,21659758.7,0.004324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.066115
no massive missing
0:02:08.466525

20190129

SZ finished
0:00:02.549149
0:01:32.506663
0:01:15.193934
1
2
3
4
5
6
7
8
0:09:15.915432
0:00:27.897357

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190130,7.49,7.62,7.47,7.5,7.61,0.973838,-0.014455,-0.031008,-0.010028,-0.014903,2293462.0,17275411.79,0.003439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.798344
no massive missing
0:02:01.290213

20190130

SZ finished
0:00:02.440469
0:01:46.554960
0:01:19.955284
1
2
3
4
5
6
7
8
0:09:45.128965
0:00:32.145969

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190131,7.49,7.6,7.21,7.31,7.5,0.973838,-0.025333,-0.060411,-0.008346,-0.015238,2739777.0,20258619.37,0.004109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.962695
no massive missing
0:02:20.167693

20190131

SZ finished
0:00:02.963073
0:02:39.383314
0:01:16.593254
1
2
3
4
5
6
7
8
0:09:37.011328
0:00:30.276990

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
134,2002528,20190201,3.43,3.55,3.43,3.54,3.43,0.769594,0.032070,-0.045822,0.028205,0.029214,3707036.0,13015507.20,0.004290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,864163174.0,1.198675e+09,NaN,NaN
995,2001914,20190201,7.50,7.50,7.33,7.44,7.31,0.973838,0.017784,-0.044929,0.028205,0.029214,1502778.0,11161549.58,0.002254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,6.669614e+08,NaN,NaN

0:00:03.746975
no massive missing
0:02:00.354975

20190201

SZ finished
0:00:02.989003
0:01:41.384570
0:01:19.266495
1
2
3
4
5
6
7
8
0:09:56.130657
0:00:28.572621

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190211,7.45,7.66,7.45,7.64,7.44,0.973838,0.026882,-0.009079,0.025289,0.028741,2928462.0,22143814.94,0.004392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:03.857679
no massive missing
0:02:09.784316

20190211

SZ finished
0:00:02.647885
0:01:47.906458
0:01:22.919907
1
2
3
4
5
6
7
8
0:10:30.711145
0:00:32.124483

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
128,2002080,20190212,10.12,10.23,9.89,10.04,10.20,0.606517,-0.015686,0.094875,0.008317,0.013869,13536901.0,1.357729e+08,0.021151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.400000e+08,1.290864e+09,NaN,NaN
892,2000839,20190212,3.43,3.59,3.42,3.52,3.44,0.391993,0.023256,0.053892,0.008317,0.013869,63223888.0,2.221057e+08,0.016133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.919007e+09,3.919826e+09,NaN,NaN
995,2001914,20190212,7.74,7.75,7.63,7.70,7.64,0.973838,0.007853,0.011827,0.008317,0.013869,2464338.0,1.896763e+07,0.003696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.668197e+08,6.669614e+08,NaN,NaN
1909,2002431,20190212,4.02,4.05,3.99,4.05,3.99,0.397550,0.015038,0.017588,0.008317,0.013869,18457800.0,7.426123e+07,0.014535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.269897e+09,1.486985e+09,NaN,NaN

0:00:04.400227
no massive missing
0:02:12.712747

20190212

SZ finished
0:00:02.708253
0:01:57.524575
0:01:28.641272
1
2
3
4
5
6
7
8
0:11:04.709509
0:00:33.082513

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190213,7.75,7.88,7.71,7.86,7.7,0.973838,0.020779,0.048,0.016426,0.017972,3594728.0,28082831.32,0.005391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.459109
no massive missing
0:02:29.353022

20190213

SZ finished
0:00:02.793525
0:02:04.269595
0:01:24.233303
1
2
3
4
5
6
7
8
0:10:32.245374
0:00:34.561557

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190214,7.86,7.92,7.8,7.86,7.86,0.973838,0.0,0.075239,0.004379,0.004248,2421625.0,19009695.35,0.003632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.146874
no massive missing
0:02:24.262971

20190214

SZ finished
0:00:02.709750
0:02:26.395090
0:01:25.045356
1
2
3
4
5
6
7
8
0:10:44.598785
0:00:31.263324

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190215,7.85,7.91,7.77,7.85,7.86,0.973838,-0.001272,0.055108,-0.006495,-0.001366,2565181.0,20152770.82,0.003847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.241651
no massive missing
0:02:14.415501

20190215

SZ finished
0:00:02.720720
0:02:04.560755
0:01:32.208253
1
2
3
4
5
6
7
8
0:11:43.070065
0:00:36.030623

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190218,7.86,8.04,7.8,8.0,7.85,0.973838,0.019108,0.04712,0.035148,0.035479,4633172.0,36730828.99,0.006948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.789187
no massive missing
0:02:27.304898

20190218

SZ finished
0:00:02.993958
0:01:55.452783
0:01:35.105064
1
2
3
4
5
6
7
8
0:11:45.138606
0:00:35.424369

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190219,8.04,8.08,7.8,7.88,8.0,0.973838,-0.015,0.023377,0.001348,0.004223,4655502.0,36901598.59,0.006982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.751288
no massive missing
0:02:41.217643

20190219

SZ finished
0:00:03.422350
0:02:34.174123
0:01:29.318934
1
2
3
4
5
6
7
8
0:11:18.138724
0:00:33.907263

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190220,7.88,7.92,7.77,7.91,7.88,0.973838,0.003807,0.006361,0.000073,0.000662,3267831.0,25667336.93,0.004901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.364323
no massive missing
0:02:24.331284

20190220

SZ finished
0:00:02.846357
0:02:03.789862
0:01:36.801057
1
2
3
4
5
6
7
8
0:12:01.729311
0:00:35.962266

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190221,7.92,7.96,7.81,7.83,7.91,0.973838,-0.010114,-0.003817,-0.001817,-0.003902,3857454.0,30462105.59,0.005785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.780209
no massive missing
0:02:39.584179

20190221

SZ finished
0:00:03.105664
0:02:14.136307
0:01:32.887536
1
2
3
4
5
6
7
8
0:11:41.326782
0:00:34.064854

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190222,7.83,7.92,7.77,7.87,7.83,0.973838,0.005109,0.002548,0.02536,0.022607,3666450.0,28742624.12,0.005498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.608642
no massive missing
0:02:27.476447

20190222

SZ finished
0:00:02.985006
0:02:16.192665
0:01:41.870432
1
2
3
4
5
6
7
8
0:12:40.846280
0:00:42.174157

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190225,7.92,8.29,7.89,8.23,7.87,0.973838,0.045743,0.02875,0.0559,0.052325,9854330.0,80103423.95,0.014778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.954069
no massive missing
0:02:41.593734

20190225

SZ finished
0:00:03.250271
0:02:18.832564
0:01:41.530343
1
2
3
4
5
6
7
8
0:12:43.897163
0:00:38.039220

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190226,8.24,8.40,8.15,8.21,8.23,0.973838,-0.002430,0.041878,-0.00115,-0.000092,9275906.0,7.657565e+07,0.013911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN
1923,2300295,20190226,15.04,15.12,14.12,14.38,14.93,0.984789,-0.036839,0.100230,-0.00115,-0.000092,12934512.0,1.905012e+08,0.072793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177688440.0,192996000.0,NaN,NaN

0:00:04.987655
no massive missing
0:02:44.006227

20190226

SZ finished
0:00:03.368987
0:02:21.962351
0:01:40.259743
1
2
3
4
5
6
7
8
0:12:19.653091
0:00:36.791567

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190227,8.23,8.44,8.17,8.38,8.21,0.973838,0.020706,0.059418,-0.0041,-0.002533,9424092.0,78393415.96,0.014133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.844033
no massive missing
0:02:46.681026

20190227

SZ finished
0:00:03.556485
0:02:50.878762
0:01:35.123513
1
2
3
4
5
6
7
8
0:11:56.892656
0:00:36.363732

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190228,8.37,8.51,8.22,8.31,8.38,0.973838,-0.008353,0.061303,0.001476,0.003778,5906665.0,49341446.85,0.008858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.585703
no massive missing
0:02:32.608676

20190228

SZ finished
0:00:03.356020
0:02:02.006557
0:01:34.408398
1
2
3
4
5
6
7
8
0:11:54.000664
0:00:34.614415

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190301,8.29,8.38,8.23,8.33,8.31,0.973838,0.002407,0.05845,0.008345,0.006384,4805943.0,39828301.92,0.007207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.624597
no massive missing
0:02:30.945127

20190301

SZ finished
0:00:03.077735
0:02:07.763155
0:01:41.504443
1
2
3
4
5
6
7
8
0:12:41.972246
0:00:39.081433

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
27,2002066,20190304,8.97,9.58,8.80,9.43,9.01,1.000000,0.046615,0.082664,0.017963,0.021984,17306765.0,1.595905e+08,0.074921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.310000e+08,2.310000e+08,NaN,NaN
69,2000990,20190304,13.06,13.41,13.00,13.07,13.03,0.980653,0.003070,-0.009848,0.017963,0.021984,6066464.0,7.994105e+07,0.015648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.876827e+08,1.253012e+09,NaN,NaN
83,2002911,20190304,17.62,17.90,17.51,17.80,17.62,0.988413,0.010216,0.016562,0.017963,0.021984,4105893.0,7.277962e+07,0.015151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.710000e+08,5.560000e+08,NaN,NaN
87,2002174,20190304,20.53,20.93,19.77,20.14,20.34,0.330475,-0.009833,0.051697,0.017963,0.021984,18000595.0,3.663012e+08,0.028027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.422617e+08,8.884679e+08,NaN,NaN
98,2002663,20190304,3.38,3.47,3.28,3.35,3.34,0.994126,0.002994,0.066879,0.017963,0.021984,73654959.0,2.482233e+08,0.058931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.249851e+09,1.795890e+09,NaN,NaN
118,2002650,20190304,3.75,3.93,3.75,3.86,3.80,0.987865,0.015789,0.021164,0.017963,0.021984,45919848.0,1.754810e+08,0.048485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.470943e+08,1.152000e+09,NaN,NaN
165,2002917,20190304,27.74,29.50,27.70,29.50,28.28,0.994078,0.043140,0.318730,0.017963,0.021984,12455868.0,3.573359e+08,0.367864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.386000e+07,1.130600e+08,NaN,NaN
343,2002181,20190304,5.25,5.56,5.10,5.56,5.05,0.997596,0.100990,0.025830,0.017963,0.021984,47822130.0,2.566796e+08,0.042155,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.134433e+09,1.161058e+09,NaN,NaN
479,2002227,20190304,13.73,14.53,13.66,14.19,13.52,0.997584,0.049556,0.084034,0.017963,0.021984,9728666.0,1.375746e+08,0.044241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.199025e+08,2.205974e+08,NaN,NaN
501,2002909,20190304,11.13,11.66,11.04,11.60,11.06,0.706300,0.048825,0.056466,0.017963,0.021984,8030840.0,9.114742e+07,0.106759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.522392e+07,1.680000e+08,NaN,NaN
619,2002868,20190304,18.50,20.24,18.01,20.24,18.40,0.979964,0.100000,0.195511,0.017963,0.021984,4339382.0,8.288115e+07,0.112828,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.846000e+07,1.200000e+08,NaN,NaN
641,2300032,20190304,3.71,3.89,3.67,3.71,3.72,0.986610,-0.002688,0.033426,0.017963,0.021984,59552521.0,2.235602e+08,0.075444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.893575e+08,8.031696e+08,NaN,NaN
674,2002639,20190304,8.03,8.33,7.85,8.14,8.16,0.997829,-0.002451,-0.019277,0.017963,0.021984,44035796.0,3.560949e+08,0.085307,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.162050e+08,6.740728e+08,NaN,NaN
678,2002322,20190304,11.58,11.93,11.44,11.51,11.44,0.940270,0.006119,0.019486,0.017963,0.021984,6082298.0,7.108890e+07,0.016856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.608326e+08,3.966622e+08,NaN,NaN
696,2002687,20190304,6.54,6.60,6.42,6.49,6.48,0.948570,0.001543,-0.016667,0.017963,0.021984,19503900.0,1.269276e+08,0.061060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.194220e+08,3.548520e+08,NaN,NaN
711,2002840,20190304,17.22,18.80,17.22,18.25,17.25,0.662633,0.057971,0.139201,0.017963,0.021984,14658676.0,2.658736e+08,0.099898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.467361e+08,2.680000e+08,NaN,NaN
750,2000951,20190304,14.38,15.03,14.38,14.58,14.33,0.576126,0.017446,0.017446,0.017963,0.021984,8795908.0,1.299105e+08,0.013111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.709024e+08,6.710808e+08,NaN,NaN
759,2002308,20190304,5.80,5.98,5.58,5.81,5.44,0.994036,0.068015,0.075926,0.017963,0.021984,77670386.0,4.484920e+08,0.086130,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.017841e+08,9.103566e+08,NaN,NaN
791,2002825,20190304,15.50,17.05,15.50,17.05,15.50,0.706665,0.100000,0.089457,0.017963,0.021984,6376341.0,1.052853e+08,0.156898,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.063994e+07,1.402827e+08,NaN,NaN
803,2002186,20190304,12.67,13.01,12.65,13.00,12.68,0.961643,0.025237,0.035857,0.017963,0.021984,3373077.0,4.340885e+07,0.011011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.063240e+08,3.084640e+08,NaN,NaN
836,2002489,20190304,3.17,3.22,3.12,3.16,3.13,0.984526,0.009585,0.012821,0.017963,0.021984,21611061.0,6.850040e+07,0.011554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.870424e+09,2.175737e+09,NaN,NaN
933,2300036,20190304,16.91,17.64,16.91,17.16,16.87,0.494673,0.017190,0.012987,0.017963,0.021984,19463768.0,3.365544e+08,0.058573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.323002e+08,4.495374e+08,NaN,NaN
944,2002609,20190304,6.90,7.06,6.81,6.92,6.79,0.929472,0.019146,-0.007174,0.017963,0.021984,12892503.0,8.930962e+07,0.032846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.925095e+08,6.590439e+08,NaN,NaN
954,2002862,20190304,24.13,25.53,23.80,24.32,23.97,0.997478,0.014602,-0.128003,0.017963,0.021984,6629763.0,1.630451e+08,0.212765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.116000e+07,8.000000e+07,NaN,NaN
994,2002738,20190304,16.38,16.84,16.36,16.50,16.35,0.659554,0.009174,0.019778,0.017963,0.021984,3202965.0,5.316049e+07,0.017776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.801891e+08,2.511071e+08,NaN,NaN
995,2001914,20190304,8.33,8.58,8.31,8.40,8.33,0.973838,0.008403,0.020656,0.017963,0.021984,7710606.0,6.514744e+07,0.011563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.668197e+08,6.669614e+08,NaN,NaN
1033,2300065,20190304,13.68,14.21,13.68,14.06,13.75,0.663413,0.022545,0.004286,0.017963,0.021984,12580469.0,1.757371e+08,0.041912,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.001653e+08,3.981740e+08,NaN,NaN
1044,2002554,20190304,3.01,3.07,2.99,3.03,3.00,0.489485,0.010000,-0.006557,0.017963,0.021984,27381269.0,8.309983e+07,0.035583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.694952e+08,1.070810e+09,NaN,NaN
1109,2002864,20190304,35.70,36.16,35.36,35.50,35.72,0.998340,-0.006159,0.015737,0.017963,0.021984,2620503.0,9.368004e+07,0.058321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.493225e+07,8.667000e+07,NaN,NaN
1304,2002629,20190304,3.91,4.11,3.91,4.01,3.96,1.000000,0.012626,0.022959,0.017963,0.021984,16201338.0,6.525127e+07,0.047015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.446004e+08,4.119480e+08,NaN,NaN
1417,2002563,20190304,10.52,10.72,10.34,10.52,10.51,0.921708,0.000951,0.035433,0.017963,0.021984,21890517.0,2.308070e+08,0.011904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.838844e+09,2.699848e+09,NaN,NaN
1445,2002870,20190304,25.30,26.90,24.50,25.89,25.78,0.991453,0.004267,-0.100417,0.017963,0.021984,11857924.0,3.045218e+08,0.295561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.012000e+07,1.106700e+08,NaN,NaN
1466,2002897,20190304,23.99,25.88,22.20,24.30,23.99,0.617988,0.012922,0.096076,0.017963,0.021984,24030626.0,5.694939e+08,0.356763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.735731e+07,1.706720e+08,NaN,NaN
1521,2300050,20190304,6.33,6.58,6.30,6.38,6.27,0.493537,0.017544,-0.022971,0.017963,0.021984,23481298.0,1.514238e+08,0.063605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.691762e+08,5.448467e+08,NaN,NaN
1541,2002757,20190304,31.54,32.00,31.31,31.67,31.47,0.985934,0.006355,0.057429,0.017963,0.021984,1555537.0,4.926078e+07,0.015852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.813022e+07,1.313810e+08,NaN,NaN
1578,2002866,20190304,12.18,12.49,12.08,12.36,12.07,0.584875,0.024027,-0.022152,0.017963,0.021984,7811676.0,9.601100e+07,0.096889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.062539e+07,2.477754e+08,NaN,NaN
1623,2300001,20190304,24.20,25.73,24.18,24.57,23.90,0.994745,0.028033,0.100806,0.017963,0.021984,24296316.0,6.057429e+08,0.026274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.247211e+08,9.975701e+08,NaN,NaN
1687,2002253,20190304,16.80,17.39,16.68,16.86,16.60,0.656680,0.015663,0.015663,0.017963,0.021984,10190345.0,1.729153e+08,0.049283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.067722e+08,2.256261e+08,NaN,NaN
1689,2002206,20190304,4.52,4.58,4.42,4.44,4.48,0.361419,-0.008929,-0.028446,0.017963,0.021984,18178642.0,8.210547e+07,0.019900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.135038e+08,1.223029e+09,NaN,NaN
1772,2002849,20190304,15.45,15.99,15.35,15.82,15.59,0.662316,0.014753,0.003171,0.017963,0.021984,3167132.0,4.979173e+07,0.055093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.748690e+07,1.324070e+08,NaN,NaN
1803,2002033,20190304,6.45,6.64,6.42,6.52,6.44,0.743525,0.012422,-0.001531,0.017963,0.021984,10507539.0,6.851584e+07,0.019123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.494802e+08,5.494907e+08,NaN,NaN
1896,2002796,20190304,49.89,50.40,47.58,48.32,48.93,0.976296,-0.012467,-0.039746,0.017963,0.021984,3268716.0,1.606867e+08,0.089490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.652586e+07,1.122168e+08,NaN,NaN
1919,2300012,20190304,8.13,8.53,8.10,8.27,8.11,0.246907,0.019729,0.020988,0.017963,0.021984,42962569.0,3.579805e+08,0.028553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.504666e+09,1.657531e+09,NaN,NaN
1933,2002262,20190304,11.22,11.85,11.22,11.48,11.22,0.476692,0.023173,0.072897,0.017963,0.021984,39762133.0,4.599518e+08,0.044971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.841750e+08,1.020016e+09,NaN,NaN
1941,2002871,20190304,23.52,23.98,22.75,23.75,23.38,0.584716,0.015825,0.039842,0.017963,0.021984,7175330.0,1.677886e+08,0.248281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.890000e+07,1.167420e+08,NaN,NaN
2037,2002771,20190304,14.00,15.28,14.00,15.28,13.89,0.492152,0.100072,0.118594,0.017963,0.021984,2095921.0,3.162201e+07,0.022904,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,9.151078e+07,1.615442e+08,NaN,NaN
2062,2002916,20190304,116.52,121.89,115.33,116.66,116.52,0.993191,0.001202,-0.034112,0.017963,0.021984,6006048.0,7.110966e+08,0.073094,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.216873e+07,2.828000e+08,NaN,NaN
2108,2002715,20190304,17.80,18.23,17.72,18.14,17.77,1.000000,0.020822,-0.018398,0.017963,0.021984,2524591.0,4.545908e+07,0.030430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.296430e+07,9.200000e+07,NaN,NaN

0:00:05.537157
no massive missing
0:02:47.355220

20190304

SZ finished
0:00:03.264289
0:02:02.584038
0:01:39.316267
1
2
3
4
5
6
7
8
0:12:31.658877
0:00:37.812828

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190305,8.35,8.57,8.35,8.57,8.4,0.973838,0.020238,0.043849,0.026567,0.031375,6311950.0,53417863.37,0.009466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.896895
no massive missing
0:02:42.589971

20190305

SZ finished
0:00:03.192431
0:02:14.865245
0:01:43.360541
1
2
3
4
5
6
7
8
0:12:50.971265
0:00:39.095364

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190306,8.58,8.78,8.51,8.74,8.57,0.973838,0.019837,0.042959,0.017892,0.021695,8679376.0,75058252.34,0.013016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.967708
no massive missing
0:02:56.489780

20190306

SZ finished
0:00:03.895578
0:02:50.612386
0:01:43.801234
1
2
3
4
5
6
7
8
0:12:56.079625
0:00:38.864016

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
626,2300666,20190307,45.50,46.31,44.85,45.49,45.65,0.999161,-0.003505,0.039771,0.012725,0.017366,7123708.0,3.243825e+08,0.079913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89143467.0,218760000.0,NaN,NaN
994,2001914,20190307,8.69,9.09,8.61,9.00,8.74,0.973838,0.029748,0.083032,0.012725,0.017366,10827498.0,9.679785e+07,0.016238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.111294
no massive missing
0:02:51.138099

20190307

SZ finished
0:00:03.542522
0:02:26.817201
0:01:46.688513
1
2
3
4
5
6
7
8
0:13:10.306437
0:00:42.078414

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190308,8.9,9.26,8.61,8.69,9.0,0.973838,-0.034444,0.043217,-0.039005,-0.041512,10483685.0,94009001.08,0.015722,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.852666
no massive missing
0:03:06.599728

20190308

SZ finished
0:00:03.442819
0:02:39.337643
0:01:41.884396
1
2
3
4
5
6
7
8
0:12:43.281745
0:00:38.676516

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190311,8.82,9.04,8.69,8.98,8.69,0.973838,0.033372,0.069048,0.040163,0.04314,8480851.0,75329994.55,0.012718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.081433
no massive missing
0:02:48.017448

20190311

SZ finished
0:00:03.420819
0:02:13.030062
0:01:45.830811
1
2
3
4
5
6
7
8
0:13:24.280081
0:00:38.832094

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190312,9.04,9.14,8.89,9.03,8.98,0.973838,0.005568,0.053676,0.017342,0.022095,10455553.0,94059152.15,0.01568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.167147
no massive missing
0:02:52.386758

20190312

SZ finished
0:00:03.917518
0:02:36.966806
0:01:42.407027
1
2
3
4
5
6
7
8
0:12:52.010419
0:00:37.839755

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190313,9.1,9.83,9.06,9.32,9.03,0.973838,0.032115,0.066362,-0.022724,-0.023233,26093211.0,2.457382e+08,0.039131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.022562
no massive missing
0:02:43.929394

20190313

SZ finished
0:00:03.339030
0:02:04.448052
0:01:37.676626
1
2
3
4
5
6
7
8
0:12:15.180597
0:00:37.698121

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190314,9.22,9.22,8.63,8.8,9.32,0.973838,-0.055794,-0.022222,-0.023293,-0.030287,12659253.0,1.126639e+08,0.018985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.738318
no massive missing
0:02:37.833702

20190314

SZ finished
0:00:03.270222
0:02:04.275514
0:01:38.118472
1
2
3
4
5
6
7
8
0:12:05.814383
0:00:41.796202

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190315,8.63,9.0,8.63,8.83,8.8,0.973838,0.003409,0.01611,0.01142,0.015496,9240835.0,81738081.56,0.013858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.531169
no massive missing
0:02:52.076614

20190315

SZ finished
0:00:03.273215
0:02:23.396332
0:01:38.179281
1
2
3
4
5
6
7
8
0:12:23.809845
0:00:36.646946

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190318,8.82,8.95,8.65,8.94,8.83,0.973838,0.012458,-0.004454,0.02653,0.024101,8638731.0,75941355.59,0.012955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.889916
no massive missing
0:02:45.974914

20190318

SZ finished
0:00:03.291194
0:02:03.508539
0:01:38.941270
1
2
3
4
5
6
7
8
0:12:28.342743
0:00:37.776896

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190319,8.96,9.08,8.82,8.86,8.94,0.973838,-0.008949,-0.018826,0.003817,0.004321,7288302.0,65109072.01,0.01093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.975688
no massive missing
0:02:44.324331

20190319

SZ finished
0:00:03.992319
0:02:16.489805
0:01:41.281010
1
2
3
4
5
6
7
8
0:12:28.067602
0:00:37.262332

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190320,8.8,8.91,8.67,8.85,8.86,0.973838,-0.001129,-0.050429,-0.001158,-0.002649,5245859.0,46131031.2,0.007867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.915843
no massive missing
0:02:38.481153

20190320

SZ finished
0:00:03.139571
0:02:11.011638
0:01:39.353167
1
2
3
4
5
6
7
8
0:12:40.083452
0:00:37.088764

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190321,8.85,8.91,8.76,8.84,8.85,0.973838,-0.00113,0.004545,0.01336,0.010879,7586672.0,67126988.49,0.011377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.828082
no massive missing
0:02:41.698417

20190321

SZ finished
0:00:03.305156
0:02:10.010226
0:01:38.994204
1
2
3
4
5
6
7
8
0:12:16.961371
0:00:43.322083

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190322,8.84,8.84,8.68,8.81,8.84,0.973838,-0.003394,-0.002265,0.005844,0.003991,6182626.0,54117740.1,0.009272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.065772
no massive missing
0:02:39.526289

20190322

SZ finished
0:00:03.176474
0:02:05.913199
0:01:36.886888
1
2
3
4
5
6
7
8
0:12:22.762710
0:00:39.176179

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190325,8.7,9.08,8.61,8.88,8.81,0.973838,0.007946,-0.006711,-0.01289,-0.00883,9919276.0,87900986.09,0.014876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.033578
no massive missing
0:02:39.246897

20190325

SZ finished
0:00:03.272218
0:02:07.518800
0:01:41.370769
1
2
3
4
5
6
7
8
0:12:30.593740
0:00:43.781856

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190326,8.88,8.94,8.5,8.58,8.88,0.973838,-0.033784,-0.031603,-0.027892,-0.029032,6881838.0,59865043.08,0.01032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.870294
no massive missing
0:02:51.033409

20190326

SZ finished
0:00:03.312107
0:02:02.394519
0:01:34.967901
1
2
3
4
5
6
7
8
0:11:54.296811
0:00:36.773608

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
990,2001914,20190327,8.58,8.65,8.3,8.5,8.58,0.973838,-0.009324,-0.039548,0.009824,0.006594,3909085.0,33326082.76,0.005862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.914876
no massive missing
0:02:41.363225

20190327

SZ finished
0:00:03.195450
0:02:01.801106
0:01:35.190338
1
2
3
4
5
6
7
8
0:11:46.835847
0:00:35.682513

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190328,8.52,8.75,8.47,8.54,8.5,0.973838,0.004706,-0.033937,-0.014273,-0.013501,5255599.0,45453324.0,0.007882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.861993
no massive missing
0:02:38.293435

20190328

SZ finished
0:00:03.008949
0:03:00.641277
0:01:37.905042
1
2
3
4
5
6
7
8
0:12:25.130423
0:00:38.211723

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190329,8.54,8.8,8.54,8.78,8.54,0.973838,0.028103,-0.003405,0.033059,0.028419,5938098.0,51685286.79,0.008905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.853045
no massive missing
0:02:41.876878

20190329

SZ finished
0:00:03.396881
0:02:11.727672
0:01:40.182944
1
2
3
4
5
6
7
8
0:12:53.090616
0:00:38.369331

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190401,8.79,9.04,8.79,9.0,8.78,0.973838,0.025057,0.013514,0.037887,0.038321,11091945.0,99184823.64,0.016634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.036497
no massive missing
0:02:51.707574

20190401

SZ finished
0:00:03.849700
0:03:26.668340
0:01:44.067556
1
2
3
4
5
6
7
8
0:13:07.133099
0:00:40.217393

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190402,9.0,9.66,8.93,9.25,9.0,0.973838,0.027778,0.078089,0.003076,0.006062,17052868.0,1.584217e+08,0.025573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.321761
no massive missing
0:02:51.363496

20190402

SZ finished
0:00:03.462735
0:02:08.090343
0:01:41.592178
1
2
3
4
5
6
7
8
0:12:48.146814
0:00:39.890297

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190403,9.12,9.47,9.01,9.36,9.25,0.973838,0.011892,0.101176,0.010473,0.010053,10894192.0,1.010551e+08,0.016338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.769562
no massive missing
0:02:44.372205

20190403

SZ finished
0:00:03.326070
0:02:11.219878
0:01:42.337211
1
2
3
4
5
6
7
8
0:12:51.707349
0:00:38.364349

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190404,9.44,9.5,9.23,9.39,9.36,0.973838,0.003205,0.099532,0.006086,0.003696,12108005.0,1.135168e+08,0.018158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.023557
no massive missing
0:02:38.548787

20190404

SZ finished
0:00:03.261274
0:02:15.546332
0:01:41.952216
1
2
3
4
5
6
7
8
0:12:46.951136
0:00:38.117014

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190408,9.45,9.57,9.16,9.31,9.39,0.973838,-0.00852,0.060364,-0.004075,-0.004769,10178375.0,95437930.18,0.015264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.952779
no massive missing
0:02:42.690700

20190408

SZ finished
0:00:03.427801
0:02:06.570318
0:01:37.810323
1
2
3
4
5
6
7
8
0:12:19.231198
0:00:37.089041

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190409,9.34,9.4,9.22,9.38,9.31,0.973838,0.007519,0.042222,0.001781,0.002443,8275021.0,77198658.07,0.01241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.850990
no massive missing
0:02:41.002609

20190409

SZ finished
0:00:03.780911
0:02:36.041710
0:01:39.061800
1
2
3
4
5
6
7
8
0:12:41.275636
0:00:37.412894

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190410,9.38,9.59,9.25,9.47,9.38,0.973838,0.009595,0.023784,-0.001244,-0.001557,9847888.0,92914717.34,0.014768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.208068
no massive missing
0:02:42.021200

20190410

SZ finished
0:00:03.306156
0:01:57.335529
0:01:39.498173
1
2
3
4
5
6
7
8
0:12:33.113940
0:00:38.364587

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190411,9.47,9.51,9.19,9.29,9.47,0.973838,-0.019007,-0.007479,-0.021123,-0.020648,9506939.0,88749420.69,0.014257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.156950
no massive missing
0:02:50.911268

20190411

SZ finished
0:00:03.884607
0:02:57.875430
0:01:35.926123
1
2
3
4
5
6
7
8
0:11:57.383902
0:00:37.319120

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
999,2001914,20190412,9.35,10.2,9.27,10.04,9.29,0.973838,0.080732,0.069223,-0.002236,-0.000941,22227839.0,2.190968e+08,0.033334,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,666819666.0,666961416.0,NaN,NaN

0:00:05.512251
no massive missing
0:02:39.506908

20190412

SZ finished
0:00:03.190436
0:02:06.580575
0:01:38.797002
1
2
3
4
5
6

MemoryError:

In [ ]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200424\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190417'
endDate = '20190930'
readPath = 'G:\\KR\\' + year + '\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:    
    
    readPath = data + '\\snapshot\\***2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
#     startTm = datetime.datetime.now()
#     BidPrice = np.array([i[1:-1].split(',') for i in SZ['BidPrice'].values])
#     SZ.drop(["BidPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sp"%i] = BidPrice[:, i-1]
#     del BidPrice
#     print("1")
    
#     OfferPrice = np.array([i[1:-1].split(',') for i in SZ['OfferPrice'].values])
#     SZ.drop(["OfferPrice"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sp"%i] = OfferPrice[:, i-1]
#     del OfferPrice
#     print("2")
    
#     BidOrderQty = np.array([i[1:-1].split(',') for i in SZ['BidOrderQty'].values])
#     SZ.drop(["BidOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sq"%i] = BidOrderQty[:, i-1]
#     del BidOrderQty
#     print("3")
    
#     OfferOrderQty = np.array([i[1:-1].split(',') for i in SZ['OfferOrderQty'].values])
#     SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sq"%i] = OfferOrderQty[:, i-1]
#     del OfferOrderQty
#     print("4")
    
#     BidNumOrders = np.array([i[1:-1].split(',') for i in SZ['BidNumOrders'].values]).astype(np.int32)
#     SZ.drop(["BidNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["bid%sn"%i] = BidNumOrders[:, i-1]
#     del BidNumOrders
#     print("5")
    
#     OfferNumOrders = np.array([i[1:-1].split(',') for i in SZ['OfferNumOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
#     for i in range(1, 11):
#         SZ["ask%sn"%i] = OfferNumOrders[:, i-1]
#     del OfferNumOrders
#     print("6")
    
#     bidOrders = np.array([i[1:-1].split(',') for i in SZ['BidOrders'].values]).astype(np.int32)
#     SZ.drop(["BidOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["bid1Top%sq"%i] = bidOrders[:, i-1]
#     del bidOrders
#     print("7")
    
#     offerOrders = np.array([i[1:-1].split(',') for i in SZ['OfferOrders'].values]).astype(np.int32)
#     SZ.drop(["OfferOrders"],axis=1,inplace=True)
#     for i in range(1, 51):
#         SZ["ask1Top%sq"%i] = offerOrders[:, i-1]
#     del offerOrders
#     print("8")
#     print(datetime.datetime.now() - startTm)
    
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
#     SZ = SZ.rename(columns={"NumTrades":"cum_trades_cnt", "TotalBidQty":"total_bid_quantity", "TotalOfferQty":"total_ask_quantity", 
#                            "HighPx":"high", "OpenPx":"open", "PreClosePx":"prev_close", "LowPx":"low", "LastPx":"close", "WeightedAvgBidPx":"total_bid_vwap", 
#                            "WeightedAvgOfferPx":"total_ask_vwap", "Amount":"cum_amount", "Volume":"cum_volume"})
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

    
        
        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    print(datetime.datetime.now() - startTm)
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  app.launch_new_instance()

0:04:32.304583
0:01:56.519014

In [4]:
np.array(glob.glob(dataPathLs[0] + '\\snapshot\\***2'))[0]

'G:\\KR\\2019\\SZ\\20190102\\snapshot\\Level2'

In [10]:
SZ[(SZ["time"]>93000000000) & (SZ["skey"] == 2000001)]

,skey,date,time,clockAtArrival,datetime,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,high,low,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,bid1Top1q,bid1Top2q,bid1Top3q,bid1Top4q,bid1Top5q,bid1Top6q,bid1Top7q,bid1Top8q,bid1Top9q,bid1Top10q,bid1Top11q,bid1Top12q,bid1Top13q,bid1Top14q,bid1Top15q,bid1Top16q,bid1Top17q,bid1Top18q,bid1Top19q,bid1Top20q,bid1Top21q,bid1Top22q,bid1Top23q,bid1Top24q,bid1Top25q,bid1Top26q,bid1Top27q,bid1Top28q,bid1Top29q,bid1Top30q,bid1Top31q,bid1Top32q,bid1Top33q,bid1Top34q,bid1Top35q,bid1Top36q,bid1Top37q,bid1Top38q,bid1Top39q,bid1Top40q,bid1Top41q,bid1Top42q,bid1Top43q,bid1Top44q,bid1Top45q,bid1Top46q,bid1Top47q,bid1Top48q,bid1Top49q,bid1Top50q,ask1Top1q,ask1Top2q,ask1Top3q,ask1Top4q,ask1Top5q,ask1Top6q,ask1Top7q,ask1Top8q,ask1Top9q,ask1Top10q,ask1Top11q,ask1Top12q,ask1Top13q,ask1Top14q,ask1Top15q,ask1Top16q,ask1Top17q,ask1Top18q,ask1Top19q,ask1Top20q,ask1Top21q,ask1Top22q,ask1Top23q,ask1Top24q,ask1Top25q,ask1Top26q,ask1Top27q,ask1Top28q,ask1Top29q,ask1Top30q,ask1Top31q,ask1Top32q,ask1Top33q,ask1Top34q,ask1Top35q,ask1Top36q,ask1Top37q,ask1Top38q,ask1Top39q,ask1Top40q,ask1Top41q,ask1Top42q,ask1Top43q,ask1Top44q,ask1Top45q,ask1Top46q,ask1Top47q,ask1Top48q,ask1Top49q,ask1Top50q,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels,bid_trade_max_duration,ask_trade_max_duration,cum_canceled_buy_orders,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount
4444207,2000001,20200106,93003000000,1578274203000000,2020-01-06 09:30:03,72,0,725,1428041,2.429671e+07,17.18,17.01,17.06,17.00,17.01,16.91,16.92,16.93,16.94,16.95,16.96,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.07,17.08,17.09,17.10,17.11,126000,23200,17200,3900,50900,14600,12200,30100,20000,119359,89400,9000,10000,29000,26000,2000,8900,20100,85600,44600,19,16,11,3,20,14,16,11,14,55,23,6,4,4,4,1,5,7,28,20,9559,10000,1200,3000,200,2000,1000,100,2900,1000,800,300,1000,1000,10000,500,1000,100,1000,300,2000,11000,300,2000,900,500,400,1000,1000,3100,2200,4000,900,1200,1000,1000,2000,10000,200,1000,100,1000,100,1500,5800,2500,1500,600,1500,5000,27900,100,2300,5000,3000,3000,200,100,1500,3200,5000,100,2000,600,1000,500,1000,100,500,28900,1300,500,1600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2029659,4209360,16.55,17.66,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4444208,2000001,20200106,93006000000,1578274206000000,2020-01-06 09:30:06,73,0,942,1817460,3.091914e+07,17.18,17.01,17.06,16.99,17.00,16.90,16.91,16.92,16.93,16.94,16.95,16.96,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.07,17.08,17.09,17.10,87900,129200,27200,17200,7000,55300,26700,11600,30500,17540,7600,293754,3100,4400,44300,31700,200,9200,19700,81800,57,24,19,11,6,25,17,16,13,13,2,35,4,3,9,7,1,5,7,28,440,100,1000,1000,300,100,300,500,10000,1000,1000,800,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6300,1300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2140240,4463714,16.55,17.63,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4444209,2000001,20200106,93009000000,1578274209000000,2020-01-06 09:30:09,74,0,1031,1969360,3.350182e+07,17.18,17.01,17.06,16.99,16.99,16.90,16.91,16.92,16.93,16.94,16.95,16.96,16.97,16.98,16.99,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,94600,132200,27200,17200,7000,56900,29600,11600,30500,6240,254794,8700,4900,46900,33900,200,400,10000,19900,80500,61,26,19,11,6,28,19,16,13,2,36,8,4,10,8,1,2,7,8,28,140,6100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2294,1000,20000,700,1700,900,100,100,201000,1000,9000,100,100,500,500,500,1200,600,1200,400,3900,100,1200,400,1000,200,700,200,1000,100,1200,200,400,500,500,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2057840,4428354,16.61,17.63,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4444210,2000001,20200106,93012000000,1578274212000000,2020-01-06 09:30:12,75,0,1077,2027960,3.449796e+07,17.18,17.01,17.06,16.98,16.99,16.90,16.91,16.92,16.93,16.94,16.95,16.96,16.97,16.98,16.99,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,99300,137200,27200,17200,7000,56900,30000,11600,26240,2300,280751,7400,4900,49900,35000,200,400,10000,19900,80600,68,27,19,11,6,28,20,16,8,1,41,8,4,11,9,1,2,7,8,29,2300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8051,700,1700,900,100,100,201000,1000,9000,100,100,500,500,500,1200,600,1200,400,3900,100,1200,400,1000,700,200,1000,100,1200,200,400,500,500,300,500,35300,100,100,2000,2000,1000,400,0,0,0,0,0,0,0,0,0,2060640,4467611,16.61,17.62,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4444211,2000001,20200106,93015000000,1578274215000000,2020-01-06 09:30:15,76,0,1100,2053260,3.492816e+07,17.18,17.01,17.06,16.98,16.99,16.90,16.91,16.92,16.93,16.94,16.95,16.96,16.97,16.98,16.99,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,100800,174800,27200,17200,7000,56900,30000,11600,33140,9400,263851,6100,4900,47300,35000,200,400,10000,19900,80600,71,29,19,11,6,28,20,16,10,1,37,8,4,10,9,1,2,7,8,29,9400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,194551,1000,9000,100,100,500,500,500,1200,600,1200,400,3900,100,1200,400,1000,700,200,1000,100,1200,200,400,500,500,300,500,35300,100,100,2000,2000,1000,400,100,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,2117440,4454611,16.62,17.63,0,0,0,0,0,0,0,0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4449132,2000001,20200106,161703000000,1578298623000000,2020-01-06 16:17:03,4997,0,48856,86208350,1.477930e+09,17.18,17.01,17.34,16.91,17.07,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,17.11,17.12,17.13,17.14,17.15,17.16,87000,52100,44800,124865,244200,31700,79000,131500,162898,278800,52852,21800,31700,291465,268400,127300,154000,39700,84500,35800,32,19,12,57,25,23,22,48,95,28,21,11,13,77,26,27,23,15,34,10,1000,2000,500,1000,1000,700,200,500,500,1000,100,400,500,2500,1900,600,1000,600,200,600,300,255300,3200,400,500,300,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3132,3000,20000,1300,1800,2600,300,100,2300,100,200,500,2220,100,200,300,200,300,6900,7200,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4936220,15259322,16.81,17.58,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4449133,2000001,20200106,161803000000,1578298683000000,2020-01-06 16:18:03,4998,0,48856,86208350,1.477930e+09,17.18,17.01,17.34,16.91,17.07,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,17.11,17.12,17.13,17.14,17.15,17.16,87000,52100,44800,124865,244200,31700,79000,131500,162898,278800,52852,21800,31700,291465,268400,127300,154000,39700,84500,35800,32,19,12,57,25,23,22,48,95,28,21,11,13,77,26,27,23,15,34,10,1000,2000,500,1000,1000,700,200,500,500,1000,100,400,500,2500,1900,600,1000,600,200,600,300,255300,3200,400,500,300,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3132,3000,20000,1300,1800,2600,300,100,2300,100,200,500,2220,100,200,300,200,300,6900,7200,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4936220,15259322,16.81,17.58,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4449134,2000001,20200106,161903000000,1578298743000000,2020-01-06 16:19:03,4999,0,48856,86208350,1.477930e+09,17.18,17.01,17.34,16.91,17.07,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,17.11,17.12,17.13,17.14,17.15,17.16,87000,52100,44800,124865,244200,31700,79000,131500,162898,278800,52852,21800,31700,291465,268400,127300,154000,39700,84500,35800,32,19,12,57,25,23,22,48,95,28,21,11,13,77,26,27,23,15,34,10,1000,2000,500,1000,1000,700,200,500,500,1000,100,400,500,2500,1900,600,1000,600,200,600,300,255300,3200,400,500,300,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3132,3000,20000,1300,1800,2600,300,100,2300,100,200,500,2220,100,200,300,200,300,6900,7200,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4936220,15259322,16.81,17.58,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4449135,2000001,20200106,162003000000,1578298803000000,2020-01-06 16:20:03,5000,0,48856,86208350,1.477930e+09,17.18,17.01,17.34,16.91,17.07,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,17.11,17.12,17.13,17.14,17.15,17.16,87000,52100,44800,124865,244200,31700,79000,131500,162898,278800,52852,21800,31700,291465,268400,127300,154000,39700,84500,35800,32,19,12,57,25,23,22,48,95,28,21,11,13,77,26,27,23,15,34,10,1000,2000,500,1000,1000,700,200,500,500,1000,100,400,500,2500,1900,600,1000,600,200,600,300,255300,3200,400,500,300,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3132,3000,20000,1300,1800,2600,300,100,2300,100,200,500,2220,100,200,300,200,300,6900,7200,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4936220,15259322,16.81,17.58,0,0,0,0,0,0,0,0,0.0,0,0,0.0
4449136,2000001,20200106,162103000000,1578298863000000,2020-01-06 16:21:03,5001,0,48856,86208350,1.477930e+09,17.18,17.01,17.34,16.91,17.07,16.97,16.98,16.99,17.00,17.01,17.02,17.03,17.04,17.05,17.06,17.07,17.08,17.09,17.10,17.11,17.12,17.13,17.14,17.15,17.16,87000,52100,44800,124865,244200,31700,79000,131500,162898,278800,52852,21800,31700,291465,268400,127300,154000,39700,84500,35800,32,19,12,57,25,23,22,48,95,28,21,11,13,77,26,27,23,15,34,10,1000,2000,500,1000,1000,700,200,500,500,1000,100,400,500,2500,1900,600,1000,600,200,600,300,255300,3200,400,500,300,1000,1000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3132,3000,20000,1300,1800,2600,300,100,2300,100,200,500,2220,100,200,300,200,300,6900,7200,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4936220,15259322,16.81,17.58,0,0,0,0,0,0,0,0,0.0,0,0,0.0

In [2]:
pd.set_option("max_rows", 200)
SZ.dtypes

skey                                 int32
date                                 int32
time                                 int64
clockAtArrival                       int64
datetime                    datetime64[ns]
ordering                             int32
has_missing                          int32
cum_trades_cnt                       int32
cum_volume                           int64
cum_amount                         float64
prev_close                         float64
open                               float64
high                               float64
low                                float64
close                              float64
bid10p                             float64
bid9p                              float64
bid8p                              float64
bid7p                              float64
bid6p                              float64
bid5p                              float64
bid4p                              float64
bid3p                              float64
bid2p                              float64
bid1p                              float64
ask1p                              float64
ask2p                              float64
ask3p                              float64
ask4p                              float64
ask5p                              float64
ask6p                              float64
ask7p                              float64
ask8p                              float64
ask9p                              float64
ask10p                             float64
bid10q                               int64
bid9q                                int64
bid8q                                int64
bid7q                                int64
bid6q                                int64
bid5q                                int64
bid4q                                int64
bid3q                                int64
bid2q                                int64
bid1q                                int64
ask1q                                int64
ask2q                                int64
ask3q                                int64
ask4q                                int64
ask5q                                int64
ask6q                                int64
ask7q                                int64
ask8q                                int64
ask9q                                int64
ask10q                               int64
bid10n                               int32
bid9n                                int32
bid8n                                int32
bid7n                                int32
bid6n                                int32
bid5n                                int32
bid4n                                int32
bid3n                                int32
bid2n                                int32
bid1n                                int32
ask1n                                int32
ask2n                                int32
ask3n                                int32
ask4n                                int32
ask5n                                int32
ask6n                                int32
ask7n                                int32
ask8n                                int32
ask9n                                int32
ask10n                               int32
bid1Top1q                            int32
bid1Top2q                            int32
bid1Top3q                            int32
bid1Top4q                            int32
bid1Top5q                            int32
bid1Top6q                            int32
bid1Top7q                            int32
bid1Top8q                            int32
bid1Top9q                            int32
bid1Top10q                           int32
bid1Top11q                           int32
bid1Top12q                           int32
bid1Top13q                           int32
bid1Top14q                           int32
bid1Top15q                           int32
bid1Top16q                           int32
bid1Top17q                           int32
bid1Top18q                           int32
bid1Top19q                           int32
bid1Top20q                           int32
bid1Top21q                           int32
bid1Top22q                           int32
bid1Top23q                           int32
bid1Top24q                           int32
bid1Top25q                           int32
bid1Top26q                           int32
bid1Top27q                           int32
bid1Top28q                           int32
bid1Top29q                           int32
bid1Top30q                           int32
bid1Top31q                           int32
bid1Top32q                           int32
bid1Top33q                           int32
bid1Top34q                           int32
bid1Top35q                           int32
bid1Top36q                           int32
bid1Top37q                           int32
bid1Top38q                           int32
bid1Top39q                           int32
bid1Top40q                           int32
bid1Top41q                           int32
bid1Top42q                           int32
bid1Top43q                           int32
bid1Top44q                           int32
bid1Top45q                           int32
bid1Top46q                           int32
bid1Top47q                           int32
bid1Top48q                           int32
bid1Top49q                           int32
bid1Top50q                           int32
ask1Top1q                            int32
ask1Top2q                            int32
ask1Top3q                            int32
ask1Top4q                            int32
ask1Top5q                            int32
ask1Top6q                            int32
ask1Top7q                            int32
ask1Top8q                            int32
ask1Top9q                            int32
ask1Top10q                           int32
ask1Top11q                           int32
ask1Top12q                           int32
ask1Top13q                           int32
ask1Top14q                           int32
ask1Top15q                           int32
ask1Top16q                           int32
ask1Top17q                           int32
ask1Top18q                           int32
ask1Top19q                           int32
ask1Top20q                           int32
ask1Top21q                           int32
ask1Top22q                           int32
ask1Top23q                           int32
ask1Top24q                           int32
ask1Top25q                           int32
ask1Top26q                           int32
ask1Top27q                           int32
ask1Top28q                           int32
ask1Top29q                           int32
ask1Top30q                           int32
ask1Top31q                           int32
ask1Top32q                           int32
ask1Top33q                           int32
ask1Top34q                           int32
ask1Top35q                           int32
ask1Top36q                           int32
ask1Top37q                           int32
ask1Top38q                           int32
ask1Top39q                           int32
ask1Top40q                           int32
ask1Top41q                           int32
ask1Top42q                           int32
ask1Top43q                           int32
ask1Top44q                           int32
ask1Top45q                           int32
ask1Top46q                           int32
ask1Top47q                           int32
ask1Top48q                           int32
ask1Top49q                           int32
ask1Top50q                           int32
total_bid_quantity                   int64
total_ask_quantity                   int64
total_bid_vwap                     float64
total_ask_vwap                     float64
total_bid_orders                     int32
total_ask_orders                     int32
total_bid_levels                     int32
total_ask_levels                     int32
bid_trade_max_duration               int32
ask_trade_max_duration               int32
cum_canceled_buy_orders              int32
cum_canceled_buy_volume              int64
cum_canceled_buy_amount            float64
cum_canceled_sell_orders             int32
cum_canceled_sell_volume             int64
cum_canceled_sell_amount           float64
dtype: object

In [2]:
SZ.columns.values

array(['NumTrades', 'TotalBidQty', 'TotalOfferQty', 'LastPx',
       'WeightedAvgOfferPx', 'Amount', 'Volume', 'OpenPx', 'HighPx',
       'PreClosePx', 'LowPx', 'WeightedAvgBidPx', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q'],
      dtype=object)

In [8]:
SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']

In [9]:
for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
             'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap"]:
#         SH[cols] = SH[cols].apply(lambda x: round(x, 2)).astype('float64')
    print(cols)
    print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

prev_close
[2 1]
open
[1 2]
high
[1 2]
low
[1 2]
close
[1 2]
bid10p
[1 2]
bid9p
[1 2]
bid8p
[1 2]
bid7p
[1 2]
bid6p
[1 2]
bid5p
[1 2]
bid4p
[1 2]
bid3p
[1 2]
bid2p
[1 2]
bid1p
[1 2]
ask1p
[1 2]
ask2p
[1 2]
ask3p
[1 2]
ask4p
[1 2]
ask5p
[1 2]
ask6p
[1 2]
ask7p
[1 2]
ask8p
[1 2]
ask9p
[1 2]
ask10p
[1 2]
total_bid_vwap
[1 2]
total_ask_vwap
[1 2]

In [10]:
for cols in ['cum_amount']:
#         SH[cols] = SH[cols].apply(lambda x: round(x, 2)).astype('float64')
    print(cols)
    print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

cum_amount
[1 2]

In [1]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)




year = "2020"
startDate = '20200103'
endDate = '20200103'
readPath = 'L:\\DB\\' + year + '\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:    
    
    readPath = data + '\\snapshot\\Level_2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []

    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)

    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)

1
2
3
4
5
6
7
8
0:11:36.507336

In [17]:
offerOrders

array([[   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       ...,
       [4700,    0,    0, ...,    0,    0,    0],
       [4700,    0,    0, ...,    0,    0,    0],
       [4700,    0,    0, ...,    0,    0,    0]])