In [15]:
import pandas as pd
import random
import numpy as np
import glob
import os


columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", 
            "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]


server = "zs_94_03"
Id = 2
ex = "SZE"

readPath = os.path.join(r'\\192.168.10.30\Kevin_zhenyu\check\20200306', server)
dataPathLs = np.array(glob.glob(os.path.join(readPath,'full_20200306***.tar.gz')))
accountLs = np.array([os.path.basename(i).split('_')[6].split('.')[0] for i in dataPathLs])
display(accountLs)
path = []
for i in accountLs:
    dataPathLs = np.array(glob.glob(os.path.join(readPath, "full_20200306_" + server + '_day_' + i, "mdTradeLog***")))
    for j in dataPathLs:
#         if (int(os.path.basename(j).split('_')[2].split('.')[0]) < 1456) & (
#         int(os.path.basename(j).split('_')[2].split('.')[0]) > 833):
        if int(os.path.basename(j).split('_')[2].split('.')[0]) < 1456:
            path.append(j)
display(path)

Trade1 = pd.read_csv(path[0]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                      "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                      "OfferApplSeqNum"]]
Trade1 = Trade1[Trade1["exchId"] == Id]
Trade1["exes"] = int(accountLs[0])
Trade1["ExecType"] = Trade1["ExecType"].apply(lambda x: str(x))
Trade1 = Trade1[~Trade1.duplicated(columns, keep="first")].reset_index(drop=True)

Trade2 = pd.read_csv(path[1]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                      "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                      "OfferApplSeqNum"]]
Trade2 = Trade2[Trade2["exchId"] == Id]
Trade2["exes"] = int(accountLs[1])
Trade2["ExecType"] = Trade2["ExecType"].apply(lambda x: str(x))
Trade2 = Trade2[~Trade2.duplicated(columns, keep="first")].reset_index(drop=True)

if len(path) == 3:
    Trade3 = pd.read_csv(path[2]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                      "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                      "OfferApplSeqNum"]]
    Trade3 = Trade3[Trade3["exchId"] == Id]
    Trade3["exes"] = int(accountLs[2])
    Trade3["ExecType"] = Trade3["ExecType"].apply(lambda x: str(x))
    Trade3 = Trade3[~Trade3.duplicated(columns, keep="first")].reset_index(drop=True)


display(Trade1[Trade1["ExecType"]!="4"].head(10))
display(Trade2[Trade2["ExecType"]!="4"].head(10))
if len(path) == 3:
    display(Trade3[Trade3["ExecType"]!="4"].head(10))

array(['9448', '9451', '9454'], dtype='<U4')

['\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9448\\mdTradeLog_20200306_0831.csv',
 '\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9451\\mdTradeLog_20200306_0831.csv',
 '\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9454\\mdTradeLog_20200306_0831.csv']

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,exes
59365,1583457896716700,2504183,2,92500000,410870,5,F,N,30200,200,6040000,8026,353431,9448
59366,1583457896716704,2504184,2,92500000,410871,5,F,N,30200,200,6040000,24546,353431,9448
59367,1583457896716798,2504185,2,92500000,410872,5,F,N,30200,100,3020000,67872,353431,9448
59368,1583457896716802,2504186,2,92500000,410873,5,F,N,30200,3000,90600000,74047,353431,9448
59369,1583457896716809,2504187,2,92500000,410874,5,F,N,30200,1300,39260000,187270,353431,9448
59370,1583457896716812,2504188,2,92500000,410875,5,F,N,30200,500,15100000,24932,353431,9448
59371,1583457896716878,2504189,2,92500000,410876,5,F,N,30200,200,6040000,33971,353431,9448
59372,1583457896716948,2504190,2,92500000,410877,5,F,N,30200,1700,51340000,33971,402866,9448
59373,1583457896716984,2504191,2,92500000,410878,5,F,N,30200,9900,298980000,33971,313608,9448
59374,1583457896716995,2504192,2,92500000,410879,5,F,N,30200,1700,51340000,33971,326977,9448

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,exes
59365,1583457896716744,2503923,2,92500000,410870,5,F,N,30200,200,6040000,8026,353431,9451
59366,1583457896716748,2503924,2,92500000,410871,5,F,N,30200,200,6040000,24546,353431,9451
59367,1583457896716819,2503925,2,92500000,410872,5,F,N,30200,100,3020000,67872,353431,9451
59368,1583457896716823,2503926,2,92500000,410873,5,F,N,30200,3000,90600000,74047,353431,9451
59369,1583457896716824,2503927,2,92500000,410874,5,F,N,30200,1300,39260000,187270,353431,9451
59370,1583457896716825,2503928,2,92500000,410875,5,F,N,30200,500,15100000,24932,353431,9451
59371,1583457896716907,2503929,2,92500000,410876,5,F,N,30200,200,6040000,33971,353431,9451
59372,1583457896716961,2503930,2,92500000,410877,5,F,N,30200,1700,51340000,33971,402866,9451
59373,1583457896717011,2503931,2,92500000,410878,5,F,N,30200,9900,298980000,33971,313608,9451
59374,1583457896717014,2503932,2,92500000,410879,5,F,N,30200,1700,51340000,33971,326977,9451

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,exes
59365,1583457896716707,2500016,2,92500000,410870,5,F,N,30200,200,6040000,8026,353431,9454
59366,1583457896716711,2500017,2,92500000,410871,5,F,N,30200,200,6040000,24546,353431,9454
59367,1583457896716809,2500018,2,92500000,410872,5,F,N,30200,100,3020000,67872,353431,9454
59368,1583457896716812,2500019,2,92500000,410873,5,F,N,30200,3000,90600000,74047,353431,9454
59369,1583457896716814,2500020,2,92500000,410874,5,F,N,30200,1300,39260000,187270,353431,9454
59370,1583457896716821,2500021,2,92500000,410875,5,F,N,30200,500,15100000,24932,353431,9454
59371,1583457896716882,2500022,2,92500000,410876,5,F,N,30200,200,6040000,33971,353431,9454
59372,1583457896716961,2500023,2,92500000,410877,5,F,N,30200,1700,51340000,33971,402866,9454
59373,1583457896716978,2500024,2,92500000,410878,5,F,N,30200,9900,298980000,33971,313608,9454
59374,1583457896716991,2500025,2,92500000,410879,5,F,N,30200,1700,51340000,33971,326977,9454

In [16]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

server = "zs_94_03"
readPath = "E:\\"
dataPathLs = []

dataPathLs = np.array(glob.glob(readPath + "sec_***_" + server + ".csv"))

df = pd.read_csv(dataPathLs[0], encoding="utf-8")
sl = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
print(df[df["inStrategy"] == 1]["secName"].str[:2].unique())

for i in dataPathLs[1:]:
    df = pd.read_csv(i, encoding="utf-8")
    list1 = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
    sl = list(set(sl) | set(list1))

['SZ']

In [17]:
if len(path) == 3:
    Trade1 = Trade1[(Trade1["TransactTime"] >= 93000000) & (Trade1["TransactTime"] <= 145655000)].reset_index(drop=True)
    Trade2 = Trade2[(Trade2["TransactTime"] >= 93000000) & (Trade2["TransactTime"] <= 145655000)].reset_index(drop=True)
    Trade3 = Trade3[(Trade3["TransactTime"] >= 93000000) & (Trade3["TransactTime"] <= 145655000)].reset_index(drop=True)
    Trade1 = Trade1[Trade1["SecurityID"].isin(sl)]
    Trade2 = Trade2[Trade2["SecurityID"].isin(sl)]
    Trade3 = Trade3[Trade3["SecurityID"].isin(sl)]
    l1 = Trade1["SecurityID"].unique()
    l2 = Trade2["SecurityID"].unique()
    l3 = Trade3["SecurityID"].unique()
    c123 = list(set(l1) & set(l2) & set(l3))
    display(len(l1))
    display(len(l2))
    display(len(l3))
    display(len(c123))
    Trade1 = Trade1[Trade1["SecurityID"].isin(c123)]
    Trade2 = Trade2[Trade2["SecurityID"].isin(c123)]
    Trade3 = Trade3[Trade3["SecurityID"].isin(c123)]
if len(path) == 2:
    Trade1 = Trade1[(Trade1["TransactTime"] >= 93000000) & (Trade1["TransactTime"] <= 145655000)].reset_index(drop=True)
    Trade2 = Trade2[(Trade2["TransactTime"] >= 93000000) & (Trade2["TransactTime"] <= 145655000)].reset_index(drop=True)
    Trade1 = Trade1[Trade1["SecurityID"].isin(sl)]
    Trade2 = Trade2[Trade2["SecurityID"].isin(sl)]
    l1 = Trade1["SecurityID"].unique()
    l2 = Trade2["SecurityID"].unique()
    c12 = list(set(l1) & set(l2))
    display(len(l1))
    display(len(l2))
    display(len(c12))
    Trade1 = Trade1[Trade1["SecurityID"].isin(c12)]
    Trade2 = Trade2[Trade2["SecurityID"].isin(c12)]

1415

1415

1415

1415

In [12]:
set(sl) - set(c12)

{600310, 603399}

In [3]:
# Trade1["TradeMoney"] = Trade1["TradeMoney"] * 10000
# Trade3["TradeMoney"] = Trade3["TradeMoney"] * 10000
# Trade1["TransactTime"] = Trade1["TransactTime"] * 10
# Trade3["TransactTime"] = Trade3["TransactTime"] * 10
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradeQty", 
#             "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]

In [ ]:
de = pd.merge(Trade1, Trade2, on=columns, indicator="one_to_one")
del Trade1
del Trade2
de = de.rename(columns={"clockAtArrival_x": "caa1", "clockAtArrival_y": "caa2"})
de = de.iloc[:, :-1]
de = pd.merge(de, Trade3, on=columns, indicator="one_to_one")
del Trade3
de = de.rename(columns={"clockAtArrival": "caa3"})
de["caa_max"] = de[["caa1", "caa2", "caa3"]].max(axis=1)
de["caa_min"] = de[["caa1", "caa2", "caa3"]].min(axis=1)
de["jitter"] = de["caa_max"] - de["caa_min"]
display(de["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
# check distribution of abs(difference)
display(de["jitter"].abs().quantile(0.5))
display(de["jitter"].abs().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
import seaborn as sns
sns.distplot(de["jitter"].abs()[de["jitter"].abs() <= de["jitter"].abs().quantile(0.95)])
de["faster"] = np.where(de["caa_min"] == de["caa1"], int(accountLs[0]), np.where(
de["caa_min"] == de["caa2"], int(accountLs[1]), int(accountLs[2])))
de[["TransactTime", "faster", "jitter"]].to_pickle("E:\\jitter\\data\\" + server + "_" + ex + "_trade.pkl")
# check mornings and afternoons are the same, check numbers don't change across days
display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[0]))].head(30))
display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[0]))].head(30))
display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[1]))].head(30))
display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[1]))].head(30))
display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[2]))].head(30))
display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[2]))].head(30))

if Id == 1:
    mo = de[de["TransactTime"] <= 93500000]
    el = de[de["TransactTime"] > 93500000]
    
    n1 = mo["jitter"].abs().quantile(.5)
    n2 = el["jitter"].abs().quantile(.5)
    de1 = el.groupby(["faster"])["jitter"].count().reset_index()
    de1 = de1.rename(columns={"jitter": "fastest_RestOfDay"})
    de1 = pd.concat([de1, el.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "jitter_RestOfDay"})
    de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].count().reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "fastest_MktOpen"})
    de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "jitter_MktOpen"})
    de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"] / de1["fastest_RestOfDay"].sum()
    de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"].apply(lambda x: '%.f%%'%(x*100))
    de1["fastest_MktOpen"] = de1["fastest_MktOpen"] / de1["fastest_MktOpen"].sum()
    de1["fastest_MktOpen"] = de1["fastest_MktOpen"].apply(lambda x: '%.f%%'%(x*100))
    de1["jitter_RestOfDay"] = de1["jitter_RestOfDay"].abs()
    de1["jitter_MktOpen"] = de1["jitter_MktOpen"].abs()
    de1 = de1.rename(columns={"faster": "account"})
    de1.loc[-1] = ["total", "", n2, "", n1]
    de1.index = de1.index + 1
    de1.sort_index(inplace=True)
    
    list1 = de[de["faster"] == int(accountLs[0])]["TransactTime"].describe([0.05, 0.5, 0.95])
    list2 = de[de["faster"] == int(accountLs[1])]["TransactTime"].describe([0.05, 0.5, 0.95])
    list3 = de[de["faster"] == int(accountLs[2])]["TransactTime"].describe([0.05, 0.5, 0.95])
    t1 = [np.nan, list1["5%"], list2["5%"], list3["5%"]]
    t2 = [np.nan, list1["50%"], list2["50%"], list3["50%"]]
    t3 = [np.nan, list1["95%"], list2["95%"], list3["95%"]]
    de1["time_5p"] = pd.Series(t1)
    de1["time_50p"] = pd.Series(t2)
    de1["time_95p"] = pd.Series(t3)
    de1["cat"] = ex + " trade"
    for col in ["time_5p", "time_50p", "time_95p"]:
        de1[col] = de1[col].fillna(1)
        de1[col] = de1[col].astype(int)
        de1[col] = np.where(de1[col] == 1, '', de1[col])        
    de1 = de1.fillna("")
    de1 = de1.loc[:, ["cat", "account", "fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
                 "time_5p", "time_50p", "time_95p"]]
    de1.to_csv("E:\\jitter\\result\\" + server + "_" + ex + "_trade.csv", encoding="utf-8")
    de1

count    2.824506e+07
mean     1.154789e+08
std      1.980110e+07
min      9.300000e+07
10%      9.360771e+07
20%      9.471556e+07
30%      1.003581e+08
40%      1.024324e+08
50%      1.056578e+08
60%      1.300029e+08
70%      1.330409e+08
80%      1.404394e+08
90%      1.438047e+08
max      1.456550e+08
Name: TransactTime, dtype: float64

15.0

count    2.824506e+07
mean     2.924576e+01
std      1.188210e+02
min      0.000000e+00
10%      6.000000e+00
20%      8.000000e+00
30%      1.000000e+01
40%      1.300000e+01
50%      1.500000e+01
60%      1.800000e+01
70%      2.200000e+01
80%      2.700000e+01
90%      4.200000e+01
max      1.422900e+04
Name: jitter, dtype: float64

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_y,caa3,sequenceNo,exchId,exes,one_to_one,caa_max,caa_min,jitter,faster
2,1583458196465248,3047641,2,93000000,479305,300160,4,N,0,109800,...,9451,1583458196465249,3043496,2,9454,both,1583458196465271,1583458196465248,23,9448
4,1583458196465315,3047644,2,93000000,497712,2824,F,N,241000,200,...,9451,1583458196465337,3043499,2,9454,both,1583458196465337,1583458196465315,22,9448
5,1583458196465350,3047646,2,93000000,497715,2317,F,N,132100,1000,...,9451,1583458196465363,3043501,2,9454,both,1583458196465363,1583458196465350,13,9448
6,1583458196465400,3047647,2,93000000,497716,2317,F,N,132100,100,...,9451,1583458196465407,3043502,2,9454,both,1583458196465450,1583458196465400,50,9448
7,1583458196465404,3047648,2,93000000,497717,2317,F,N,132100,1000,...,9451,1583458196465416,3043503,2,9454,both,1583458196465453,1583458196465404,49,9448
8,1583458196465426,3047649,2,93000000,497718,2317,F,N,132100,1000,...,9451,1583458196465426,3043504,2,9454,both,1583458196465454,1583458196465426,28,9448
9,1583458196465435,3047650,2,93000000,497719,2317,F,N,132100,300,...,9451,1583458196465449,3043505,2,9454,both,1583458196465455,1583458196465435,20,9448
10,1583458196465453,3047651,2,93000000,497720,2317,F,N,132000,100,...,9451,1583458196465456,3043506,2,9454,both,1583458196465485,1583458196465453,32,9448
11,1583458196465471,3047652,2,93000000,497721,2317,F,N,132000,2000,...,9451,1583458196465473,3043507,2,9454,both,1583458196465488,1583458196465471,17,9448
12,1583458196465504,3047653,2,93000000,497722,2317,F,N,132000,400,...,9451,1583458196465512,3043508,2,9454,both,1583458196465519,1583458196465504,15,9448
13,1583458196465508,3047654,2,93000000,497723,2317,F,N,132000,200,...,9451,1583458196465520,3043509,2,9454,both,1583458196465522,1583458196465508,14,9448
17,1583458196465602,3047658,2,93000000,497727,2317,F,N,132000,300,...,9451,1583458196465607,3043513,2,9454,both,1583458196465607,1583458196465602,5,9448
18,1583458196465618,3047659,2,93000000,497728,2317,F,N,132000,600,...,9451,1583458196465618,3043514,2,9454,both,1583458196465638,1583458196465618,20,9448
20,1583458196465644,3047661,2,93000000,497730,2317,F,N,131900,1000,...,9451,1583458196465659,3043516,2,9454,both,1583458196465678,1583458196465644,34,9448
21,1583458196465755,3047662,2,93000000,497731,2317,F,N,131900,300,...,9451,1583458196465757,3043517,2,9454,both,1583458196465777,1583458196465755,22,9448
22,1583458196465856,3047664,2,93000000,497733,1,4,N,0,200,...,9451,1583458196465872,3043519,2,9454,both,1583458196465872,1583458196465856,16,9448
23,1583458196465915,3047666,2,93000000,497735,300249,F,N,78900,1500,...,9451,1583458196465930,3043521,2,9454,both,1583458196465935,1583458196465915,20,9448
24,1583458196465971,3047667,2,93000000,497736,300249,F,N,78900,200,...,9451,1583458196465986,3043522,2,9454,both,1583458196465986,1583458196465971,15,9448
30,1583458196466222,3047673,2,93000000,497742,300249,F,N,78500,1400,...,9451,1583458196466228,3043528,2,9454,both,1583458196466232,1583458196466222,10,9448
31,1583458196466267,3047676,2,93000000,497745,300683,4,N,0,15800,...,9451,1583458196466277,3043531,2,9454,both,1583458196466284,1583458196466267,17,9448
33,1583458196467013,3047697,2,93000000,497770,300683,4,N,0,60100,...,9451,1583458196467013,3043552,2,9454,both,1583458196467026,1583458196467013,13,9448
34,1583458196467391,3047706,2,93000000,497780,2050,F,N,219900,300,...,9451,1583458196467393,3043561,2,9454,both,1583458196467404,1583458196467391,13,9448
35,1583458196467419,3047708,2,93000000,497782,300698,F,N,200100,800,...,9451,1583458196467434,3043563,2,9454,both,1583458196467434,1583458196467419,15,9448
37,1583458196467548,3047712,2,93000000,497787,890,F,N,48400,8000,...,9451,1583458196467553,3043567,2,9454,both,1583458196467566,1583458196467548,18,9448
39,1583458196467609,3047715,2,93000000,497790,876,F,N,283700,600,...,9451,1583458196467613,3043570,2,9454,both,1583458196467635,1583458196467609,26,9448
41,1583458196467691,3047717,2,93000000,497792,876,F,N,283800,3100,...,9451,1583458196467693,3043572,2,9454,both,1583458196467701,1583458196467691,10,9448
42,1583458196468053,3047731,2,93000000,497806,300249,4,N,0,2800,...,9451,1583458196468054,3043586,2,9454,both,1583458196468058,1583458196468053,5,9448
43,1583458196468334,3047737,2,93000000,497814,2886,F,N,372200,200,...,9451,1583458196468341,3043592,2,9454,both,1583458196468342,1583458196468334,8,9448
44,1583458196468376,3047738,2,93000000,497815,2886,F,N,371500,500,...,9451,1583458196468386,3043593,2,9454,both,1583458196468386,1583458196468376,10,9448
45,1583458196468380,3047739,2,93000000,497816,2886,F,N,371300,200,...,9451,1583458196468390,3043594,2,9454,both,1583458196468390,1583458196468380,10,9448

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_y,caa3,sequenceNo,exchId,exes,one_to_one,caa_max,caa_min,jitter,faster
16812240,1583470796385790,88074183,2,130000000,14557274,300346,4,N,0,700,...,9451,1583470796385796,88071968,2,9454,both,1583470796385800,1583470796385790,10,9448
16812241,1583470796385819,88074189,2,130000000,14557281,300698,4,N,0,52000,...,9451,1583470796385830,88071974,2,9454,both,1583470796385830,1583470796385819,11,9448
16812244,1583470796386057,88074207,2,130000000,14557299,300270,F,N,90900,1000,...,9451,1583470796386065,88071992,2,9454,both,1583470796386070,1583470796386057,13,9448
16812245,1583470796386058,88074208,2,130000000,14557300,300270,F,N,90900,400,...,9451,1583470796386066,88071993,2,9454,both,1583470796386073,1583470796386058,15,9448
16812248,1583470796386077,88074212,2,130000000,14557304,2937,F,N,165200,2600,...,9451,1583470796386078,88071997,2,9454,both,1583470796386102,1583470796386077,25,9448
16812252,1583470796386507,88074230,2,130000000,14557322,300408,F,N,246500,3500,...,9451,1583470796386510,88072015,2,9454,both,1583470796386544,1583470796386507,37,9448
16812253,1583470796386516,88074231,2,130000000,14557323,300408,F,N,246600,2000,...,9451,1583470796386529,88072016,2,9454,both,1583470796386548,1583470796386516,32,9448
16812254,1583470796386548,88074232,2,130000000,14557324,300408,F,N,246600,2500,...,9451,1583470796386554,88072017,2,9454,both,1583470796386565,1583470796386548,17,9448
16812255,1583470796386592,88074233,2,130000000,14557325,300408,F,N,246700,600,...,9451,1583470796386596,88072018,2,9454,both,1583470796386607,1583470796386592,15,9448
16812256,1583470796386597,88074234,2,130000000,14557326,300408,F,N,246800,1500,...,9451,1583470796386599,88072019,2,9454,both,1583470796386611,1583470796386597,14,9448
16812257,1583470796386598,88074235,2,130000000,14557327,300408,F,N,246800,1000,...,9451,1583470796386600,88072020,2,9454,both,1583470796386612,1583470796386598,14,9448
16812258,1583470796386600,88074236,2,130000000,14557328,300408,F,N,246800,1000,...,9451,1583470796386602,88072021,2,9454,both,1583470796386614,1583470796386600,14,9448
16812259,1583470796386601,88074237,2,130000000,14557329,300408,F,N,246800,1000,...,9451,1583470796386603,88072022,2,9454,both,1583470796386615,1583470796386601,14,9448
16812260,1583470796386603,88074238,2,130000000,14557330,300408,F,N,246800,700,...,9451,1583470796386605,88072023,2,9454,both,1583470796386617,1583470796386603,14,9448
16812263,1583470796386735,88074245,2,130000000,14557337,300481,F,N,182700,1000,...,9451,1583470796386743,88072030,2,9454,both,1583470796386743,1583470796386735,8,9448
16812264,1583470796386777,88074246,2,130000000,14557338,300481,F,N,182700,1000,...,9451,1583470796386786,88072031,2,9454,both,1583470796386788,1583470796386777,11,9448
16812265,1583470796386796,88074247,2,130000000,14557339,300481,F,N,182700,300,...,9451,1583470796386803,88072032,2,9454,both,1583470796386819,1583470796386796,23,9448
16812266,1583470796386829,88074248,2,130000000,14557340,300481,F,N,182800,100,...,9451,1583470796386831,88072033,2,9454,both,1583470796386855,1583470796386829,26,9448
16812268,1583470796386888,88074251,2,130000000,14557343,300721,F,N,201200,700,...,9451,1583470796386903,88072036,2,9454,both,1583470796386903,1583470796386888,15,9448
16812275,1583470796387692,88074272,2,130000000,14557364,2177,4,N,0,2000,...,9451,1583470796387694,88072057,2,9454,both,1583470796387703,1583470796387692,11,9448
16812276,1583470796387839,88074274,2,130000000,14557366,300440,F,N,102500,179,...,9451,1583470796387845,88072059,2,9454,both,1583470796387871,1583470796387839,32,9448
16812277,1583470796387847,88074275,2,130000000,14557367,300440,F,N,102500,500,...,9451,1583470796387847,88072060,2,9454,both,1583470796387875,1583470796387847,28,9448
16812278,1583470796387873,88074276,2,130000000,14557368,300440,F,N,102500,2421,...,9451,1583470796387885,88072061,2,9454,both,1583470796387903,1583470796387873,30,9448
16812282,1583470796388045,88074288,2,130000000,14557381,2532,F,N,64400,580,...,9451,1583470796388195,88072073,2,9454,both,1583470796388195,1583470796388045,150,9448
16812283,1583470796388083,88074294,2,130000000,14557387,2483,4,N,0,3100,...,9451,1583470796388213,88072079,2,9454,both,1583470796388213,1583470796388083,130,9448
16812285,1583470796390552,88074556,2,130000000,14557649,2083,F,N,74500,2000,...,9451,1583470796390553,88072341,2,9454,both,1583470796390562,1583470796390552,10,9448
16812288,1583470796390587,88074559,2,130000000,14557652,2083,F,N,74500,200,...,9451,1583470796390592,88072344,2,9454,both,1583470796390596,1583470796390587,9,9448
16812289,1583470796390594,88074560,2,130000000,14557653,2083,F,N,74500,1000,...,9451,1583470796390594,88072345,2,9454,both,1583470796390637,1583470796390594,43,9448
16812301,1583470796391194,88074592,2,130000000,14557687,300397,F,N,497600,300,...,9451,1583470796391196,88072377,2,9454,both,1583470796391221,1583470796391194,27,9448
16812302,1583470796391208,88074593,2,130000000,14557688,300397,F,N,497600,900,...,9451,1583470796391215,88072378,2,9454,both,1583470796391224,1583470796391208,16,9448

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_y,caa3,sequenceNo,exchId,exes,one_to_one,caa_max,caa_min,jitter,faster
3,1583458196465286,3047643,2,93000000,479307,2667,F,N,74600,286100,...,9451,1583458196465280,3043498,2,9454,both,1583458196465286,1583458196465278,8,9451
25,1583458196465992,3047668,2,93000000,497737,300249,F,N,78900,4600,...,9451,1583458196465989,3043523,2,9454,both,1583458196465992,1583458196465979,13,9451
26,1583458196466073,3047669,2,93000000,497738,300249,F,N,78900,200,...,9451,1583458196466085,3043524,2,9454,both,1583458196466085,1583458196466071,14,9451
27,1583458196466101,3047670,2,93000000,497739,300249,F,N,78800,1600,...,9451,1583458196466100,3043525,2,9454,both,1583458196466101,1583458196466099,2,9451
28,1583458196466178,3047671,2,93000000,497740,300249,F,N,78800,10000,...,9451,1583458196466167,3043526,2,9454,both,1583458196466178,1583458196466166,12,9451
29,1583458196466210,3047672,2,93000000,497741,300249,F,N,78600,500,...,9451,1583458196466225,3043527,2,9454,both,1583458196466225,1583458196466209,16,9451
40,1583458196467672,3047716,2,93000000,497791,876,F,N,283800,1000,...,9451,1583458196467674,3043571,2,9454,both,1583458196467674,1583458196467663,11,9451
46,1583458196468401,3047740,2,93000000,497817,2886,F,N,370900,300,...,9451,1583458196468400,3043595,2,9454,both,1583458196468401,1583458196468398,3,9451
47,1583458196468421,3047741,2,93000000,497818,2886,F,N,370100,2000,...,9451,1583458196468421,3043596,2,9454,both,1583458196468421,1583458196468417,4,9451
50,1583458196468553,3047744,2,93000000,497821,2886,F,N,370000,100,...,9451,1583458196468560,3043599,2,9454,both,1583458196468560,1583458196468549,11,9451
55,1583458196468741,3047749,2,93000000,497826,2886,F,N,370000,100,...,9451,1583458196468745,3043604,2,9454,both,1583458196468745,1583458196468740,5,9451
56,1583458196468766,3047750,2,93000000,497827,2886,F,N,370000,200,...,9451,1583458196468764,3043605,2,9454,both,1583458196468766,1583458196468757,9,9451
58,1583458196468816,3047752,2,93000000,497829,2886,F,N,370000,1000,...,9451,1583458196468812,3043607,2,9454,both,1583458196468816,1583458196468809,7,9451
59,1583458196468842,3047753,2,93000000,497830,2886,F,N,370000,100,...,9451,1583458196468834,3043608,2,9454,both,1583458196468842,1583458196468834,8,9451
61,1583458196468864,3047755,2,93000000,497832,2886,F,N,369900,100,...,9451,1583458196468868,3043610,2,9454,both,1583458196468868,1583458196468860,8,9451
64,1583458196468949,3047758,2,93000000,497835,2886,F,N,369900,500,...,9451,1583458196468953,3043613,2,9454,both,1583458196468953,1583458196468947,6,9451
248,1583458196474665,3048042,2,93000000,479380,636,F,N,223800,500,...,9451,1583458196474663,3043897,2,9454,both,1583458196474665,1583458196474654,11,9451
249,1583458196474689,3048043,2,93000000,479381,636,F,N,223800,500,...,9451,1583458196474685,3043898,2,9454,both,1583458196474689,1583458196474684,5,9451
254,1583458196474836,3048051,2,93000000,479385,636,F,N,223700,2000,...,9451,1583458196474836,3043906,2,9454,both,1583458196474836,1583458196474825,11,9451
262,1583458196475272,3048075,2,93000000,479396,2838,F,N,534600,100,...,9451,1583458196475273,3043930,2,9454,both,1583458196475273,1583458196475268,5,9451
265,1583458196475344,3048079,2,93000000,479400,2324,F,N,200200,5000,...,9451,1583458196475331,3043934,2,9454,both,1583458196475344,1583458196475331,13,9451
267,1583458196475454,3048082,2,93000000,498070,716,F,N,45300,200,...,9451,1583458196475451,3043937,2,9454,both,1583458196475454,1583458196475446,8,9451
268,1583458196475457,3048083,2,93000000,498071,716,F,N,45300,200,...,9451,1583458196475467,3043938,2,9454,both,1583458196475467,1583458196475448,19,9451
276,1583458196475694,3048097,2,93000000,498079,716,F,N,45100,1000,...,9451,1583458196475697,3043952,2,9454,both,1583458196475697,1583458196475684,13,9451
277,1583458196475731,3048099,2,93000000,498080,716,F,N,45100,2400,...,9451,1583458196475729,3043954,2,9454,both,1583458196475731,1583458196475727,4,9451
280,1583458196475881,3048106,2,93000000,498083,716,F,N,45100,300,...,9451,1583458196475862,3043961,2,9454,both,1583458196475881,1583458196475853,28,9451
1041,1583458196484359,3049251,2,93000000,495473,2062,F,N,70300,200,...,9451,1583458196483228,3045106,2,9454,both,1583458196484359,1583458196483223,1136,9451
1042,1583458196484361,3049252,2,93000000,495474,2062,F,N,70300,9000,...,9451,1583458196483231,3045107,2,9454,both,1583458196484361,1583458196483225,1136,9451
1043,1583458196484363,3049253,2,93000000,495475,2062,F,N,70300,1900,...,9451,1583458196483233,3045108,2,9454,both,1583458196484363,1583458196483226,1137,9451
1044,1583458196484364,3049254,2,93000000,495476,2062,F,N,70300,2700,...,9451,1583458196483235,3045109,2,9454,both,1583458196484364,1583458196483228,1136,9451

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_y,caa3,sequenceNo,exchId,exes,one_to_one,caa_max,caa_min,jitter,faster
16812242,1583470796385836,88074191,2,130000000,14557283,300698,4,N,0,21200,...,9451,1583470796385838,88071976,2,9454,both,1583470796385838,1583470796385832,6,9451
16812261,1583470796386703,88074243,2,130000000,14557335,300481,F,N,182400,400,...,9451,1583470796386697,88072028,2,9454,both,1583470796386703,1583470796386695,8,9451
16812269,1583470796386971,88074252,2,130000000,14557344,300721,F,N,201200,200,...,9451,1583470796386968,88072037,2,9454,both,1583470796386971,1583470796386957,14,9451
16812270,1583470796386975,88074253,2,130000000,14557345,63,4,N,0,300,...,9451,1583470796386972,88072038,2,9454,both,1583470796386975,1583470796386959,16,9451
16812271,1583470796387144,88074257,2,130000000,14557349,2317,F,N,136100,100,...,9451,1583470796386987,88072042,2,9454,both,1583470796387144,1583470796386976,168,9451
16812272,1583470796387151,88074259,2,130000000,14557351,2223,F,N,325100,1000,...,9451,1583470796386991,88072044,2,9454,both,1583470796387151,1583470796386979,172,9451
16812751,1583470796402661,88075708,2,130000000,14256830,2026,F,N,57800,3200,...,9451,1583470796402705,88073493,2,9454,both,1583470796402705,1583470796402614,91,9451
16812752,1583470796402667,88075710,2,130000000,14256832,2384,F,N,305200,10000,...,9451,1583470796402710,88073495,2,9454,both,1583470796402710,1583470796402618,92,9451
16812753,1583470796402779,88075735,2,130000000,14256859,895,4,N,0,500,...,9451,1583470796402811,88073520,2,9454,both,1583470796402811,1583470796402702,109,9451
16812754,1583470796402787,88075737,2,130000000,14256861,300342,4,N,0,5000,...,9451,1583470796402818,88073522,2,9454,both,1583470796402818,1583470796402707,111,9451
16812755,1583470796402892,88075740,2,130000000,14256864,725,F,N,52500,2100,...,9451,1583470796403174,88073525,2,9454,both,1583470796403174,1583470796402774,400,9451
16812756,1583470796402898,88075742,2,130000000,14256866,300115,F,N,226700,200,...,9451,1583470796403179,88073527,2,9454,both,1583470796403179,1583470796402780,399,9451
16812757,1583470796402907,88075744,2,130000000,14256868,2480,F,N,50200,600,...,9451,1583470796403184,88073529,2,9454,both,1583470796403184,1583470796402785,399,9451
16812776,1583470796403170,88075771,2,130000000,14256897,2271,F,N,325000,200,...,9451,1583470796403347,88073556,2,9454,both,1583470796403347,1583470796403103,244,9451
16812777,1583470796403173,88075772,2,130000000,14256898,2271,F,N,325000,300,...,9451,1583470796403350,88073557,2,9454,both,1583470796403350,1583470796403104,246,9451
16812778,1583470796403176,88075773,2,130000000,14256899,2271,F,N,325000,200,...,9451,1583470796403352,88073558,2,9454,both,1583470796403352,1583470796403105,247,9451
16812779,1583470796403178,88075774,2,130000000,14256900,2271,F,N,325000,500,...,9451,1583470796403361,88073559,2,9454,both,1583470796403361,1583470796403107,254,9451
16812780,1583470796403189,88075775,2,130000000,14256901,2271,F,N,325000,5000,...,9451,1583470796403362,88073560,2,9454,both,1583470796403362,1583470796403110,252,9451
16812781,1583470796403192,88075776,2,130000000,14256902,2271,F,N,325000,200,...,9451,1583470796403363,88073561,2,9454,both,1583470796403363,1583470796403115,248,9451
16812782,1583470796403195,88075777,2,130000000,14256903,2271,F,N,325000,100,...,9451,1583470796403364,88073562,2,9454,both,1583470796403364,1583470796403118,246,9451
16812783,1583470796403198,88075778,2,130000000,14256904,2271,F,N,325000,100,...,9451,1583470796403366,88073563,2,9454,both,1583470796403366,1583470796403120,246,9451
16812784,1583470796403200,88075779,2,130000000,14256905,2271,F,N,325000,400,...,9451,1583470796403367,88073564,2,9454,both,1583470796403367,1583470796403123,244,9451
16812785,1583470796403209,88075780,2,130000000,14256906,2271,F,N,324800,100,...,9451,1583470796403368,88073565,2,9454,both,1583470796403368,1583470796403126,242,9451
16812786,1583470796403215,88075781,2,130000000,14256907,2271,F,N,324800,100,...,9451,1583470796403371,88073566,2,9454,both,1583470796403371,1583470796403132,239,9451
16812787,1583470796403220,88075782,2,130000000,14256908,2271,F,N,324800,100,...,9451,1583470796403373,88073567,2,9454,both,1583470796403373,1583470796403136,237,9451
16812788,1583470796403223,88075783,2,130000000,14256909,2271,F,N,324800,200,...,9451,1583470796403423,88073568,2,9454,both,1583470796403423,1583470796403139,284,9451
16812789,1583470796403234,88075785,2,130000000,14256912,725,4,N,0,1000,...,9451,1583470796403428,88073570,2,9454,both,1583470796403428,1583470796403150,278,9451
16812790,1583470796403242,88075787,2,130000000,14256914,2302,F,N,116500,300,...,9451,1583470796403436,88073572,2,9454,both,1583470796403436,1583470796403156,280,9451
16812791,1583470796403248,88075789,2,130000000,14256916,300325,F,N,37700,100,...,9451,1583470796403439,88073574,2,9454,both,1583470796403439,1583470796403160,279,9451
16812792,1583470796403251,88075790,2,130000000,14256917,725,4,N,0,100,...,9451,1583470796403440,88073575,2,9454,both,1583470796403440,1583470796403163,277,9451

In [13]:
de = pd.merge(Trade1, Trade2, on=columns, indicator="one_to_one")
del Trade1
del Trade2
de = de.rename(columns={"clockAtArrival_x": "caa1", "clockAtArrival_y": "caa2"})

de["caa_max"] = de[["caa1", "caa2"]].max(axis=1)
de["caa_min"] = de[["caa1", "caa2"]].min(axis=1)
de["jitter"] = de["caa_max"] - de["caa_min"]
display(de["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
# check distribution of abs(difference)
display(de["jitter"].abs().quantile(0.5))
display(de["jitter"].abs().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
import seaborn as sns
from matplotlib import pyplot as plt
sns.distplot(de["jitter"].abs()[de["jitter"].abs() <= de["jitter"].abs().quantile(0.95)])
plt.show()
de["faster"] = np.where(de["caa_min"] == de["caa1"], int(accountLs[0]), int(accountLs[1]))
de[["TransactTime", "faster", "jitter"]].to_pickle("E:\\jitter\\data\\" + server + "_" + ex + "_trade.pkl")
# check mornings and afternoons are the same, check numbers don't change across days
display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[0]))].head(30))
display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[0]))].head(30))
display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[1]))].head(30))
display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[1]))].head(30))

if Id == 1:
    mo = de[de["TransactTime"] <= 93500000]
    el = de[de["TransactTime"] > 93500000]
    
    n1 = mo["jitter"].abs().quantile(.5)
    n2 = el["jitter"].abs().quantile(.5)
    de1 = el.groupby(["faster"])["jitter"].count().reset_index()
    de1 = de1.rename(columns={"jitter": "fastest_RestOfDay"})
    de1 = pd.concat([de1, el.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "jitter_RestOfDay"})
    de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].count().reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "fastest_MktOpen"})
    de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
    de1 = de1.rename(columns={"jitter": "jitter_MktOpen"})
    de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"] / de1["fastest_RestOfDay"].sum()
    de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"].apply(lambda x: '%.f%%'%(x*100))
    de1["fastest_MktOpen"] = de1["fastest_MktOpen"] / de1["fastest_MktOpen"].sum()
    de1["fastest_MktOpen"] = de1["fastest_MktOpen"].apply(lambda x: '%.f%%'%(x*100))
    de1["jitter_RestOfDay"] = de1["jitter_RestOfDay"].abs()
    de1["jitter_MktOpen"] = de1["jitter_MktOpen"].abs()
    de1 = de1.rename(columns={"faster": "account"})
    de1.loc[-1] = ["total", "", n2, "", n1]
    de1.index = de1.index + 1
    de1.sort_index(inplace=True)
    
    list1 = de[de["faster"] == int(accountLs[0])]["TransactTime"].describe([0.05, 0.5, 0.95])
    list2 = de[de["faster"] == int(accountLs[1])]["TransactTime"].describe([0.05, 0.5, 0.95])
    t1 = [np.nan, list1["5%"], list2["5%"]]
    t2 = [np.nan, list1["50%"], list2["50%"]]
    t3 = [np.nan, list1["95%"], list2["95%"]]
    de1["time_5p"] = pd.Series(t1)
    de1["time_50p"] = pd.Series(t2)
    de1["time_95p"] = pd.Series(t3)
    de1["cat"] = ex + " trade"
    for col in ["time_5p", "time_50p", "time_95p"]:
        de1[col] = de1[col].fillna(1)
        de1[col] = de1[col].astype(int)
        de1[col] = np.where(de1[col] == 1, '', de1[col])
    
    de1 = de1.fillna("")
    de1 = de1.loc[:, ["cat", "account", "fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
                 "time_5p", "time_50p", "time_95p"]]
    de1.to_csv("E:\\jitter\\result\\" + server + "_" + ex + "_trade.csv", encoding="utf-8")
    display(de1)

count    1.017207e+07
mean     1.143313e+08
std      1.962621e+07
min      9.300000e+07
10%      9.360746e+07
20%      9.464030e+07
30%      1.001325e+08
40%      1.019046e+08
50%      1.047340e+08
60%      1.119494e+08
70%      1.325021e+08
80%      1.402087e+08
90%      1.436491e+08
max      1.456550e+08
Name: TransactTime, dtype: float64

72.0

count    1.017207e+07
mean     4.043360e+02
std      3.930967e+03
min      0.000000e+00
10%      1.100000e+01
20%      2.300000e+01
30%      3.700000e+01
40%      5.400000e+01
50%      7.200000e+01
60%      9.200000e+01
70%      1.170000e+02
80%      1.510000e+02
90%      2.090000e+02
max      1.050690e+05
Name: jitter, dtype: float64

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_x,caa2,sequenceNo_y,exchId_y,exes_y,one_to_one,caa_max,caa_min,jitter,faster
1,1583458198802116,3059014,1,93000010,39318,600585,F,S,584600,200,...,9551,1583458198802118,3058911,1,9561,both,1583458198802118,1583458198802116,2,9551
2,1583458198802117,3059015,1,93000010,39319,600318,F,B,138000,4800,...,9551,1583458198802119,3058912,1,9561,both,1583458198802119,1583458198802117,2,9551
3,1583458198802118,3059016,1,93000010,39320,600517,F,B,82900,1600,...,9551,1583458198802173,3058913,1,9561,both,1583458198802173,1583458198802118,55,9551
4,1583458198802119,3059017,1,93000010,39321,601700,F,S,68200,200,...,9551,1583458198802178,3058914,1,9561,both,1583458198802178,1583458198802119,59,9551
5,1583458198802121,3059018,1,93000010,39322,601700,F,S,68200,1700,...,9551,1583458198802179,3058915,1,9561,both,1583458198802179,1583458198802121,58,9551
6,1583458198802122,3059019,1,93000010,39323,601789,F,S,49100,200,...,9551,1583458198802181,3058916,1,9561,both,1583458198802181,1583458198802122,59,9551
7,1583458198802124,3059020,1,93000010,39324,601789,F,S,49100,14400,...,9551,1583458198802186,3058917,1,9561,both,1583458198802186,1583458198802124,62,9551
8,1583458198802168,3059021,1,93000010,39325,601700,F,S,68200,300,...,9551,1583458198802188,3058918,1,9561,both,1583458198802188,1583458198802168,20,9551
9,1583458198802170,3059022,1,93000010,39326,601700,F,S,68200,2600,...,9551,1583458198802189,3058919,1,9561,both,1583458198802189,1583458198802170,19,9551
10,1583458198802171,3059023,1,93000010,39327,601700,F,S,68200,6000,...,9551,1583458198802190,3058920,1,9561,both,1583458198802190,1583458198802171,19,9551
11,1583458198802172,3059024,1,93000010,39328,601700,F,S,68200,6400,...,9551,1583458198802192,3058921,1,9561,both,1583458198802192,1583458198802172,20,9551
12,1583458198802173,3059025,1,93000010,39329,601700,F,S,68200,800,...,9551,1583458198802199,3058922,1,9561,both,1583458198802199,1583458198802173,26,9551
13,1583458198802174,3059026,1,93000010,39330,601700,F,S,68200,15000,...,9551,1583458198802200,3058923,1,9561,both,1583458198802200,1583458198802174,26,9551
14,1583458198802176,3059027,1,93000010,39331,601700,F,S,68100,5000,...,9551,1583458198802201,3058924,1,9561,both,1583458198802201,1583458198802176,25,9551
15,1583458198802177,3059028,1,93000010,39332,601700,F,S,68100,1000,...,9551,1583458198802202,3058925,1,9561,both,1583458198802202,1583458198802177,25,9551
16,1583458198802179,3059029,1,93000010,39333,601700,F,S,68100,200,...,9551,1583458198802204,3058926,1,9561,both,1583458198802204,1583458198802179,25,9551
17,1583458198802181,3059030,1,93000010,39334,601700,F,S,68000,7500,...,9551,1583458198802206,3058927,1,9561,both,1583458198802206,1583458198802181,25,9551
18,1583458198802183,3059031,1,93000010,39335,601700,F,S,68000,900,...,9551,1583458198802209,3058928,1,9561,both,1583458198802209,1583458198802183,26,9551
19,1583458198802185,3059032,1,93000010,39336,601700,F,S,68000,800,...,9551,1583458198802212,3058929,1,9561,both,1583458198802212,1583458198802185,27,9551
20,1583458198802186,3059033,1,93000010,39337,601700,F,S,68000,100,...,9551,1583458198802217,3058930,1,9561,both,1583458198802217,1583458198802186,31,9551
21,1583458198802188,3059034,1,93000010,39338,601700,F,S,68000,100,...,9551,1583458198802218,3058931,1,9561,both,1583458198802218,1583458198802188,30,9551
22,1583458198802189,3059035,1,93000010,39339,601700,F,S,68000,500,...,9551,1583458198802221,3058932,1,9561,both,1583458198802221,1583458198802189,32,9551
23,1583458198802190,3059036,1,93000010,39340,601700,F,S,68000,500,...,9551,1583458198802230,3058933,1,9561,both,1583458198802230,1583458198802190,40,9551
24,1583458198802191,3059037,1,93000010,39341,601700,F,S,68000,3000,...,9551,1583458198802234,3058934,1,9561,both,1583458198802234,1583458198802191,43,9551
25,1583458198802192,3059038,1,93000010,39342,601700,F,S,68000,1000,...,9551,1583458198802237,3058935,1,9561,both,1583458198802237,1583458198802192,45,9551
26,1583458198802193,3059039,1,93000010,39343,601700,F,S,68000,2000,...,9551,1583458198802239,3058936,1,9561,both,1583458198802239,1583458198802193,46,9551
27,1583458198802194,3059040,1,93000010,39344,601700,F,S,68000,3000,...,9551,1583458198802242,3058937,1,9561,both,1583458198802242,1583458198802194,48,9551
28,1583458198802212,3059041,1,93000010,39345,601700,F,S,68000,1000,...,9551,1583458198802244,3058938,1,9561,both,1583458198802244,1583458198802212,32,9551
29,1583458198802214,3059042,1,93000010,39346,601700,F,S,68000,2000,...,9551,1583458198802246,3058939,1,9561,both,1583458198802246,1583458198802214,32,9551
30,1583458198802215,3059043,1,93000010,39347,601700,F,S,68000,1000,...,9551,1583458198802248,3058940,1,9561,both,1583458198802248,1583458198802215,33,9551

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_x,caa2,sequenceNo_y,exchId_y,exes_y,one_to_one,caa_max,caa_min,jitter,faster
6389683,1583470798639726,88081506,1,130000010,2364602,600517,F,B,89800,500,...,9551,1583470798639746,88081403,1,9561,both,1583470798639746,1583470798639726,20,9551
6389684,1583470798639726,88081507,1,130000010,2364603,600517,F,B,89800,10000,...,9551,1583470798639749,88081404,1,9561,both,1583470798639749,1583470798639726,23,9551
6389685,1583470798639727,88081508,1,130000010,2364604,600517,F,B,89800,200,...,9551,1583470798639751,88081405,1,9561,both,1583470798639751,1583470798639727,24,9551
6389686,1583470798639729,88081509,1,130000010,2364605,600517,F,B,89800,1000,...,9551,1583470798639752,88081406,1,9561,both,1583470798639752,1583470798639729,23,9551
6389687,1583470798639730,88081510,1,130000010,2364606,600517,F,B,89800,1000,...,9551,1583470798639753,88081407,1,9561,both,1583470798639753,1583470798639730,23,9551
6389688,1583470798639731,88081511,1,130000010,2364607,600517,F,B,89800,300,...,9551,1583470798639754,88081408,1,9561,both,1583470798639754,1583470798639731,23,9551
6389689,1583470798639753,88081512,1,130000010,2364608,600517,F,B,89800,5000,...,9551,1583470798639755,88081409,1,9561,both,1583470798639755,1583470798639753,2,9551
6389690,1583470798639755,88081513,1,130000010,2364609,600517,F,B,89800,100,...,9551,1583470798639757,88081410,1,9561,both,1583470798639757,1583470798639755,2,9551
6389691,1583470798639756,88081514,1,130000010,2364610,600517,F,B,89800,1000,...,9551,1583470798639758,88081411,1,9561,both,1583470798639758,1583470798639756,2,9551
6389692,1583470798639757,88081515,1,130000010,2364611,600517,F,B,89800,700,...,9551,1583470798639759,88081412,1,9561,both,1583470798639759,1583470798639757,2,9551
6389693,1583470798639758,88081516,1,130000010,2364612,600517,F,B,89800,2000,...,9551,1583470798639760,88081413,1,9561,both,1583470798639760,1583470798639758,2,9551
6389694,1583470798639759,88081517,1,130000010,2364613,600517,F,B,89800,300,...,9551,1583470798639762,88081414,1,9561,both,1583470798639762,1583470798639759,3,9551
6389695,1583470798639760,88081518,1,130000010,2364614,600517,F,B,89800,500,...,9551,1583470798639764,88081415,1,9561,both,1583470798639764,1583470798639760,4,9551
6389696,1583470798639761,88081519,1,130000010,2364615,600517,F,B,89800,1000,...,9551,1583470798639766,88081416,1,9561,both,1583470798639766,1583470798639761,5,9551
6389697,1583470798639762,88081520,1,130000010,2364616,600517,F,B,89800,800,...,9551,1583470798639768,88081417,1,9561,both,1583470798639768,1583470798639762,6,9551
6389698,1583470798639764,88081521,1,130000010,2364617,600517,F,B,89800,1000,...,9551,1583470798639769,88081418,1,9561,both,1583470798639769,1583470798639764,5,9551
6389699,1583470798639766,88081522,1,130000010,2364618,600517,F,B,89800,500,...,9551,1583470798639775,88081419,1,9561,both,1583470798639775,1583470798639766,9,9551
6389700,1583470798639769,88081523,1,130000010,2364619,600517,F,B,89800,300,...,9551,1583470798639776,88081420,1,9561,both,1583470798639776,1583470798639769,7,9551
6389701,1583470798639770,88081524,1,130000010,2364620,600517,F,B,89800,2000,...,9551,1583470798639777,88081421,1,9561,both,1583470798639777,1583470798639770,7,9551
6389702,1583470798639771,88081525,1,130000010,2364621,600517,F,B,89800,5000,...,9551,1583470798639778,88081422,1,9561,both,1583470798639778,1583470798639771,7,9551
6389703,1583470798639773,88081526,1,130000010,2364622,600517,F,B,89800,1000,...,9551,1583470798639846,88081423,1,9561,both,1583470798639846,1583470798639773,73,9551
6389704,1583470798639774,88081527,1,130000010,2364623,600517,F,B,89800,1200,...,9551,1583470798639851,88081424,1,9561,both,1583470798639851,1583470798639774,77,9551
6389705,1583470798639775,88081528,1,130000010,2364624,600517,F,B,89800,2000,...,9551,1583470798639852,88081425,1,9561,both,1583470798639852,1583470798639775,77,9551
6389706,1583470798639776,88081529,1,130000010,2364625,600517,F,B,89800,300,...,9551,1583470798639853,88081426,1,9561,both,1583470798639853,1583470798639776,77,9551
6389707,1583470798639777,88081530,1,130000010,2364626,600517,F,B,89800,28760,...,9551,1583470798639854,88081427,1,9561,both,1583470798639854,1583470798639777,77,9551
6389711,1583470798640132,88081625,1,130000010,2364696,600383,F,B,148800,100,...,9551,1583470798640132,88081522,1,9561,both,1583470798640132,1583470798640132,0,9551
6389712,1583470798640136,88081628,1,130000010,2364697,600383,F,B,148800,500,...,9551,1583470798640139,88081525,1,9561,both,1583470798640139,1583470798640136,3,9551
6389713,1583470798640138,88081630,1,130000010,2364698,600383,F,B,148800,200,...,9551,1583470798640144,88081527,1,9561,both,1583470798640144,1583470798640138,6,9551
6389720,1583470798640261,88081648,1,130000010,2364705,600383,F,B,149000,200,...,9551,1583470798640261,88081545,1,9561,both,1583470798640261,1583470798640261,0,9551
6389721,1583470798640262,88081649,1,130000010,2364706,600383,F,B,149000,1200,...,9551,1583470798640262,88081546,1,9561,both,1583470798640262,1583470798640262,0,9551

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_x,caa2,sequenceNo_y,exchId_y,exes_y,one_to_one,caa_max,caa_min,jitter,faster
0,1583458198802114,3059013,1,93000010,39317,600585,F,S,584600,200,...,9551,1583458198802112,3058910,1,9561,both,1583458198802114,1583458198802112,2,9561
44,1583458198802561,3059126,1,93000010,39432,600318,F,B,138000,1800,...,9551,1583458198802458,3059023,1,9561,both,1583458198802561,1583458198802458,103,9561
45,1583458198802562,3059127,1,93000010,39433,600318,F,B,138000,3800,...,9551,1583458198802459,3059024,1,9561,both,1583458198802562,1583458198802459,103,9561
46,1583458198802564,3059128,1,93000010,39434,600318,F,B,138000,500,...,9551,1583458198802460,3059025,1,9561,both,1583458198802564,1583458198802460,104,9561
47,1583458198802565,3059129,1,93000010,39435,600318,F,B,138000,600,...,9551,1583458198802461,3059026,1,9561,both,1583458198802565,1583458198802461,104,9561
48,1583458198802568,3059130,1,93000010,39436,600318,F,B,138000,100,...,9551,1583458198802463,3059027,1,9561,both,1583458198802568,1583458198802463,105,9561
49,1583458198802572,3059131,1,93000010,39437,600318,F,B,138000,14600,...,9551,1583458198802465,3059028,1,9561,both,1583458198802572,1583458198802465,107,9561
50,1583458198802573,3059132,1,93000010,39438,600318,F,B,138000,500,...,9551,1583458198802468,3059029,1,9561,both,1583458198802573,1583458198802468,105,9561
51,1583458198802574,3059133,1,93000010,39439,600318,F,B,138000,100,...,9551,1583458198802471,3059030,1,9561,both,1583458198802574,1583458198802471,103,9561
52,1583458198802575,3059134,1,93000010,39440,600318,F,B,138000,2400,...,9551,1583458198802477,3059031,1,9561,both,1583458198802575,1583458198802477,98,9561
53,1583458198802577,3059135,1,93000010,39441,600285,F,B,93700,7500,...,9551,1583458198802482,3059032,1,9561,both,1583458198802577,1583458198802482,95,9561
54,1583458198802578,3059136,1,93000010,39442,600285,F,B,93800,12500,...,9551,1583458198802484,3059033,1,9561,both,1583458198802578,1583458198802484,94,9561
55,1583458198802580,3059137,1,93000010,39443,600529,F,B,358800,200,...,9551,1583458198802485,3059034,1,9561,both,1583458198802580,1583458198802485,95,9561
56,1583458198802582,3059138,1,93000010,39444,601789,F,S,49100,10000,...,9551,1583458198802490,3059035,1,9561,both,1583458198802582,1583458198802490,92,9561
57,1583458198802583,3059139,1,93000010,39445,601700,F,S,67800,1000,...,9551,1583458198802492,3059036,1,9561,both,1583458198802583,1583458198802492,91,9561
58,1583458198802584,3059140,1,93000010,39446,601700,F,S,67800,500,...,9551,1583458198802493,3059037,1,9561,both,1583458198802584,1583458198802493,91,9561
59,1583458198802586,3059141,1,93000010,39447,601700,F,S,67800,5800,...,9551,1583458198802495,3059038,1,9561,both,1583458198802586,1583458198802495,91,9561
60,1583458198802587,3059142,1,93000010,39448,601700,F,S,67800,300,...,9551,1583458198802497,3059039,1,9561,both,1583458198802587,1583458198802497,90,9561
61,1583458198802590,3059143,1,93000010,39449,601700,F,S,67700,500,...,9551,1583458198802500,3059040,1,9561,both,1583458198802590,1583458198802500,90,9561
62,1583458198802591,3059144,1,93000010,39450,601700,F,S,67700,3000,...,9551,1583458198802501,3059041,1,9561,both,1583458198802591,1583458198802501,90,9561
63,1583458198802592,3059145,1,93000010,39451,601700,F,S,67700,1900,...,9551,1583458198802505,3059042,1,9561,both,1583458198802592,1583458198802505,87,9561
64,1583458198802593,3059146,1,93000010,39452,601700,F,S,67700,100,...,9551,1583458198802507,3059043,1,9561,both,1583458198802593,1583458198802507,86,9561
65,1583458198802596,3059147,1,93000010,39453,601700,F,S,67700,700,...,9551,1583458198802509,3059044,1,9561,both,1583458198802596,1583458198802509,87,9561
66,1583458198802597,3059148,1,93000010,39454,601700,F,S,67700,6700,...,9551,1583458198802511,3059045,1,9561,both,1583458198802597,1583458198802511,86,9561
67,1583458198802598,3059149,1,93000010,39455,601700,F,S,67600,2000,...,9551,1583458198802512,3059046,1,9561,both,1583458198802598,1583458198802512,86,9561
68,1583458198802600,3059150,1,93000010,39456,601700,F,S,67600,1000,...,9551,1583458198802514,3059047,1,9561,both,1583458198802600,1583458198802514,86,9561
69,1583458198802601,3059151,1,93000010,39457,601700,F,S,67600,2200,...,9551,1583458198802515,3059048,1,9561,both,1583458198802601,1583458198802515,86,9561
70,1583458198802603,3059152,1,93000010,39458,601700,F,S,67500,1700,...,9551,1583458198802516,3059049,1,9561,both,1583458198802603,1583458198802516,87,9561
71,1583458198802605,3059153,1,93000010,39459,601700,F,S,67500,11500,...,9551,1583458198802517,3059050,1,9561,both,1583458198802605,1583458198802517,88,9561
72,1583458198802607,3059155,1,93000020,39461,600332,F,S,352000,500,...,9551,1583458198802529,3059052,1,9561,both,1583458198802607,1583458198802529,78,9561

,caa1,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,...,exes_x,caa2,sequenceNo_y,exchId_y,exes_y,one_to_one,caa_max,caa_min,jitter,faster
6389673,1583470798639713,88081496,1,130000010,2364592,600517,F,B,89800,2840,...,9551,1583470798639699,88081393,1,9561,both,1583470798639713,1583470798639699,14,9561
6389674,1583470798639714,88081497,1,130000010,2364593,600517,F,B,89800,2000,...,9551,1583470798639700,88081394,1,9561,both,1583470798639714,1583470798639700,14,9561
6389675,1583470798639716,88081498,1,130000010,2364594,600517,F,B,89800,1000,...,9551,1583470798639707,88081395,1,9561,both,1583470798639716,1583470798639707,9,9561
6389676,1583470798639717,88081499,1,130000010,2364595,600517,F,B,89800,20000,...,9551,1583470798639708,88081396,1,9561,both,1583470798639717,1583470798639708,9,9561
6389677,1583470798639718,88081500,1,130000010,2364596,600517,F,B,89800,1700,...,9551,1583470798639709,88081397,1,9561,both,1583470798639718,1583470798639709,9,9561
6389678,1583470798639719,88081501,1,130000010,2364597,600517,F,B,89800,200,...,9551,1583470798639710,88081398,1,9561,both,1583470798639719,1583470798639710,9,9561
6389679,1583470798639721,88081502,1,130000010,2364598,600517,F,B,89800,2000,...,9551,1583470798639712,88081399,1,9561,both,1583470798639721,1583470798639712,9,9561
6389680,1583470798639723,88081503,1,130000010,2364599,600517,F,B,89800,1200,...,9551,1583470798639715,88081400,1,9561,both,1583470798639723,1583470798639715,8,9561
6389681,1583470798639724,88081504,1,130000010,2364600,600517,F,B,89800,1000,...,9551,1583470798639717,88081401,1,9561,both,1583470798639724,1583470798639717,7,9561
6389682,1583470798639725,88081505,1,130000010,2364601,600517,F,B,89800,1700,...,9551,1583470798639718,88081402,1,9561,both,1583470798639725,1583470798639718,7,9561
6389708,1583470798640121,88081618,1,130000010,2364693,600383,F,B,148800,4200,...,9551,1583470798640114,88081515,1,9561,both,1583470798640121,1583470798640114,7,9561
6389709,1583470798640129,88081622,1,130000010,2364694,600383,F,B,148800,10100,...,9551,1583470798640124,88081519,1,9561,both,1583470798640129,1583470798640124,5,9561
6389710,1583470798640131,88081624,1,130000010,2364695,600383,F,B,148800,23500,...,9551,1583470798640129,88081521,1,9561,both,1583470798640131,1583470798640129,2,9561
6389714,1583470798640239,88081634,1,130000010,2364699,600383,F,B,148900,13300,...,9551,1583470798640156,88081531,1,9561,both,1583470798640239,1583470798640156,83,9561
6389715,1583470798640244,88081638,1,130000010,2364700,600383,F,B,148900,200,...,9551,1583470798640164,88081535,1,9561,both,1583470798640244,1583470798640164,80,9561
6389716,1583470798640245,88081639,1,130000010,2364701,600383,F,B,148900,100,...,9551,1583470798640166,88081536,1,9561,both,1583470798640245,1583470798640166,79,9561
6389717,1583470798640247,88081641,1,130000010,2364702,600383,F,B,148900,1000,...,9551,1583470798640170,88081538,1,9561,both,1583470798640247,1583470798640170,77,9561
6389718,1583470798640254,88081643,1,130000010,2364703,600383,F,B,149000,400,...,9551,1583470798640174,88081540,1,9561,both,1583470798640254,1583470798640174,80,9561
6389719,1583470798640258,88081645,1,130000010,2364704,600383,F,B,149000,100,...,9551,1583470798640254,88081542,1,9561,both,1583470798640258,1583470798640254,4,9561
6389742,1583470798640499,88081673,1,130000020,2364730,600030,F,S,252800,2000,...,9551,1583470798640313,88081570,1,9561,both,1583470798640499,1583470798640313,186,9561
6389743,1583470798640500,88081674,1,130000050,2364731,600517,F,B,89800,1200,...,9551,1583470798640319,88081571,1,9561,both,1583470798640500,1583470798640319,181,9561
6389744,1583470798640507,88081677,1,130000050,2364738,600517,F,B,89800,40,...,9551,1583470798640328,88081574,1,9561,both,1583470798640507,1583470798640328,179,9561
6389745,1583470798640510,88081678,1,130000050,2364739,600517,F,B,89800,960,...,9551,1583470798640330,88081575,1,9561,both,1583470798640510,1583470798640330,180,9561
6389746,1583470798640512,88081679,1,130000050,2364740,600517,F,B,89800,2000,...,9551,1583470798640332,88081576,1,9561,both,1583470798640512,1583470798640332,180,9561
6389747,1583470798640513,88081680,1,130000050,2364741,600517,F,S,89600,500,...,9551,1583470798640333,88081577,1,9561,both,1583470798640513,1583470798640333,180,9561
6389748,1583470798640516,88081682,1,130000050,2364744,600030,F,B,252800,1000,...,9551,1583470798640339,88081579,1,9561,both,1583470798640516,1583470798640339,177,9561
6389749,1583470798640517,88081683,1,130000050,2364745,600183,F,B,315000,5900,...,9551,1583470798640340,88081580,1,9561,both,1583470798640517,1583470798640340,177,9561
6389750,1583470798640518,88081684,1,130000050,2364746,601069,F,B,156300,4300,...,9551,1583470798640341,88081581,1,9561,both,1583470798640518,1583470798640341,177,9561
6389751,1583470798640539,88081700,1,130000090,2364762,603501,F,B,1721800,100,...,9551,1583470798640371,88081597,1,9561,both,1583470798640539,1583470798640371,168,9561
6389752,1583470798640540,88081701,1,130000090,2364763,601700,F,B,69200,600,...,9551,1583470798640374,88081598,1,9561,both,1583470798640540,1583470798640374,166,9561