In [1]:
colnames=['StockID', 'DateTime', 'PreClosePx', 'openPrice','HighPx','LowPx','close','cum_volume','cum_amount','InstrumentStatus',
         'bid1p','bid2p','bid3p','bid4p','bid5p','bid6p','bid7p','bid8p','bid9p','bid10p','bid1q','bid2q','bid3q','bid4q','bid5q','bid6q','bid7q',
         'bid8q','bid9q','bid10q','b1','b2','b3','b4','b5','b6','b7','b8','b9','b10','b11','b12','b13','b14','b15','b16','b17','b18','b19','b20',
          'b21','b22','b23','b24','b25','b26','b27','b28','b29','b30','b31','b32','b33','b34','b35','b36','b37','b38','b39','b40','b41','b42','b43',
          'b44','b45','b46','b47','b48','b49','b50','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p','ask1q','ask2q',
          'ask3q','ask4q','ask5q','ask6q','ask7q','ask8q','ask9q','ask10q','a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11','a12','a13','a14',
         'a15','a16','a17','a18','a19','a20','a21','a22','a23','a24','a25','a26','a27','a28','a29','a30','a31','a32','a33','a34','a35','a36','a37','a38',
         'a39','a40','a41','a42','a43','a44','a45','a46','a47','a48','a49','a50','NumTrades','IOPV','TotalBidQty','TotalOfferQty','WeightedAvgBidPx',
         'WeightedAvgOfferPx','TotalBidNumber','TotalOfferNumber','BidTradeMaxDuration','OfferTradeMaxDuration','NumBidOrders','NumOfferOrders','WithdrawBuyNumber',
         'WithdrawBuyAmount','WithdrawBuyMoney','WithdrawSellNumber','WithdrawSellAmount','WithdrawSellMoney','ETFBuyNumber','ETFBuyAmount','ETFBuyMoney',
         'ETFSellNumber','ETFSellAmount','ETFSellMoney'] 
colnames1=['StockID', 'DateTime', 'PreClosePx', 'openPrice','HighPx','LowPx','close','cum_volume','cum_amount','InstrumentStatus',
         'bid1p','bid2p','bid3p','bid4p','bid5p','bid6p','bid7p','bid8p','bid9p','bid10p','bid1q','bid2q','bid3q','bid4q','bid5q','bid6q','bid7q',
         'bid8q','bid9q','bid10q','b1n', 'b2n', 'b3n', 'b4n', 'b5n', 'b6n', 'b7n', 'b8n', 'b9n', 'b10n','b1','b2','b3','b4','b5','b6','b7','b8','b9','b10','b11','b12','b13','b14','b15','b16','b17','b18','b19','b20',
          'b21','b22','b23','b24','b25','b26','b27','b28','b29','b30','b31','b32','b33','b34','b35','b36','b37','b38','b39','b40','b41','b42','b43',
          'b44','b45','b46','b47','b48','b49','b50','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p','ask1q','ask2q',
          'ask3q','ask4q','ask5q','ask6q','ask7q','ask8q','ask9q','ask10q','a1n', 'a2n', 'a3n', 'a4n', 'a5n', 'a6n', 'a7n', 'a8n', 'a9n', 'a10n','a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11','a12','a13','a14',
         'a15','a16','a17','a18','a19','a20','a21','a22','a23','a24','a25','a26','a27','a28','a29','a30','a31','a32','a33','a34','a35','a36','a37','a38',
         'a39','a40','a41','a42','a43','a44','a45','a46','a47','a48','a49','a50','NumTrades','IOPV','TotalBidQty','TotalOfferQty','WeightedAvgBidPx',
         'WeightedAvgOfferPx','TotalBidNumber','TotalOfferNumber','BidTradeMaxDuration','OfferTradeMaxDuration','NumBidOrders','NumOfferOrders','WithdrawBuyNumber',
         'WithdrawBuyAmount','WithdrawBuyMoney','WithdrawSellNumber','WithdrawSellAmount','WithdrawSellMoney','ETFBuyNumber','ETFBuyAmount','ETFBuyMoney',
         'ETFSellNumber','ETFSellAmount','ETFSellMoney'] 

import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
from decimal import Decimal, ROUND_HALF_UP
import datetime
from unrar import rarfile
import py7zr

startDate = "20190731"
endDate = "20190731"

readPath = 'F:\\2019\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

startTm = datetime.datetime.now()
diff = {}
bad = []
for col in ['Date', 'Data', 'Condition', 'Prob', 'Time']:
    diff[col] = []

for p in dataPathLs:
    print("*************************************************************************************************")
    snapshot = pd.read_csv(p + '\\Snapshot.csv', header=None, names=colnames1).iloc[1:, :]
    print(datetime.datetime.now() - startTm)
    
    snapshot["DateTime"] = snapshot["DateTime"].apply(lambda x: int(x))
    dd = int(snapshot["DateTime"].iloc[0]//1000000 * 1000000)
    snapshot['time'] = (snapshot["DateTime"] - dd)*1000
    snapshot["StockID"] = snapshot["StockID"].astype(int)
    
    path = "K:\\recordData\\logs_" + os.path.basename(p).split('.')[0] + "_zs_92_01_day_data\\mdLog_SH_***" 
    if len(np.array(glob.glob(path))) == 0:
        print(os.path.basename(p).split('.')[0])
        print("92 SSE snapshot data is missing")
        continue
    if len(np.array(glob.glob(path))) == 2:
        logSH1 = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH2 = pd.read_csv(np.array(glob.glob(path))[1], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH = pd.concat([logSH1, logSH2])
    else:
        logSH = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    print(datetime.datetime.now() - startTm)
    
    logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
    logSH1 = snapshot[["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice",'TotalBidQty', 'TotalOfferQty','time']]
    
    # SH lv2 data check here
    display(os.path.basename(p).split('.')[0] + " SH lv2 check:")
    in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
    data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000) & (logSH["cum_volume"] > 0)
              & (logSH["source"] == 4)]
    data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000) & (logSH1["cum_volume"] > 0)]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    del data1
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    del data2
    n1 = len(data1_1["StockID"].unique())
    n2 = len(data2_1["StockID"].unique())
    if n1 > n2:
        data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
    if n2 > n1:
        data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("lv2 data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    if (n2 < len1) & (n1 < len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])])/n1)
        if len(test[np.isnan(test["time_y"])])/n1 > 0.001:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
    
    if (n2 < len1) & (n1 == len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])]))
        if len(test[np.isnan(test["time_y"])]) > 10:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
          
    if len1 == n2:
        display("SSE lv2 test is complete")
        diff["Condition"].append("SSE lv2 test is complete")
        diff["Prob"].append('C')
    
    # SH snapshot data check here
    display(os.path.basename(p).split('.')[0] + " SH index check:")
    data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000)]
    data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000)]
    columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    columns = ["StockID", "cum_volume", "close", "openPrice"]
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("index data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    if n2 < len1:
        display("SSE index test is not complete:")
        display(test[np.isnan(test["time_y"])])
        piu = pd.merge(pd.merge(data1_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]), pd.merge(data2_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]),
         on=["StockID", "cum_volume"])
        print(len(test[np.isnan(test["time_y"])]))
        if all(abs(piu["close_x"] - piu["close_y"]) <= 0.011) & all(abs(piu["openPrice_x"] - piu["openPrice_y"]) <= 0.011):
            display("test is complete, the difference is caused by round difference")
            diff["Condition"].append("SSE index test is complete with round difference")
            diff["Prob"].append('C')
        else:
            diff["Condition"].append("SSE index test is not complete")
            diff["Prob"].append(piu[(abs(piu["close_x"] - piu["close_y"]) > 0.011) | (abs(piu["openPrice_x"] - piu["openPrice_y"]) > 0.011)].shape[0])
    if len1 == n2:
        display("SSE index test is complete")
        diff["Condition"].append("SSE index test is complete")
        diff["Prob"].append('C')
       
    
diff = pd.DataFrame(diff)
diff.to_csv("F:\\SH1.csv")
print(diff)
print(bad)

*************************************************************************************************

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0:00:56.823308
0:02:30.052688

'20190731 SH lv2 check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

4270865
4270992
4271035
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3858819,9436366.0,1.564555e+15,70363977.0,4.0,601318,SH,143723000.0,50892177,4.511057e+09,87.91,...,1556,2300,7900,6200,22600,89.41,NaN,NaN,NaN,NaN
3859790,9438526.0,1.564555e+15,70378592.0,4.0,601318,SH,143726000.0,50921677,4.513650e+09,87.90,...,1400,5600,1500,1656,7900,89.41,NaN,NaN,NaN,NaN
3861686,9442760.0,1.564555e+15,70408046.0,4.0,601318,SH,143732000.0,50984176,4.519144e+09,87.91,...,600,900,300,1656,7700,89.41,NaN,NaN,NaN,NaN
3862629,9444831.0,1.564555e+15,70423540.0,4.0,601318,SH,143735000.0,50992076,4.519838e+09,87.91,...,2100,200,300,1656,7700,89.41,NaN,NaN,NaN,NaN
3863393,9446773.0,1.564555e+15,70438631.0,4.0,601318,SH,143738000.0,51013776,4.521746e+09,87.91,...,856,7700,100,5700,20200,89.41,NaN,NaN,NaN,NaN
3864364,9448945.0,1.564555e+15,70454063.0,4.0,601318,SH,143741000.0,51027776,4.522976e+09,87.92,...,9600,556,7700,100,5100,89.41,NaN,NaN,NaN,NaN
3865498,9451259.0,1.564555e+15,70470759.0,4.0,601318,SH,143744000.0,51034876,4.523601e+09,87.91,...,10200,656,1400,100,5100,89.41,NaN,NaN,NaN,NaN
3866455,9453406.0,1.564555e+15,70487115.0,4.0,601318,SH,143747000.0,51042676,4.524286e+09,87.91,...,1700,9700,7356,1400,100,89.41,NaN,NaN,NaN,NaN
3867283,9455466.0,1.564555e+15,70502280.0,4.0,601318,SH,143750000.0,51053376,4.525227e+09,87.93,...,2500,8056,1400,100,1800,89.41,NaN,NaN,NaN,NaN
3868426,9457820.0,1.564555e+15,70518305.0,4.0,601318,SH,143753000.0,51077076,4.527311e+09,87.93,...,600,1100,4000,100,1800,89.41,NaN,NaN,NaN,NaN
3869403,9459973.0,1.564555e+15,70534208.0,4.0,601318,SH,143756000.0,51094576,4.528849e+09,87.93,...,2600,1200,4200,10100,1800,89.41,NaN,NaN,NaN,NaN
3870400,9462172.0,1.564555e+15,70550898.0,4.0,601318,SH,143759000.0,51099376,4.529272e+09,87.94,...,2800,10100,1800,10100,17400,89.41,NaN,NaN,NaN,NaN
3871450,9464467.0,1.564555e+15,70572299.0,4.0,601318,SH,143802000.0,51109576,4.530169e+09,87.95,...,1600,10100,1400,10100,17400,89.41,NaN,NaN,NaN,NaN
3899329,9525805.0,1.564555e+15,71042481.0,4.0,601318,SH,143923000.0,51746769,4.586208e+09,87.96,...,100,3700,24400,15500,17900,89.41,NaN,NaN,NaN,NaN
3900293,9527936.0,1.564555e+15,71058369.0,4.0,601318,SH,143926000.0,51755369,4.586964e+09,87.96,...,800,24400,15500,17900,20200,89.41,NaN,NaN,NaN,NaN
3901084,9529889.0,1.564555e+15,71072746.0,4.0,601318,SH,143929000.0,51765369,4.587844e+09,87.96,...,23900,15500,17900,20200,500,89.41,NaN,NaN,NaN,NaN
3902206,9532198.0,1.564555e+15,71088293.0,4.0,601318,SH,143932000.0,51773469,4.588556e+09,87.97,...,23800,15500,17900,20200,500,89.41,NaN,NaN,NaN,NaN
3902996,9534122.0,1.564555e+15,71102982.0,4.0,601318,SH,143935000.0,51781969,4.589304e+09,87.96,...,21900,15500,18000,20200,500,89.41,NaN,NaN,NaN,NaN
3904094,9536406.0,1.564555e+15,71118365.0,4.0,601318,SH,143938000.0,51794369,4.590395e+09,87.98,...,15600,16300,17800,20200,500,89.41,NaN,NaN,NaN,NaN
3905046,9538528.0,1.564555e+15,71132640.0,4.0,601318,SH,143941000.0,51817169,4.592401e+09,87.98,...,16200,17800,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3905995,9540613.0,1.564555e+15,71147506.0,4.0,601318,SH,143944000.0,51832369,4.593738e+09,87.98,...,16200,17800,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3906953,9542733.0,1.564555e+15,71162565.0,4.0,601318,SH,143947000.0,51856369,4.595850e+09,87.99,...,19700,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3907788,9544784.0,1.564555e+15,71177654.0,4.0,601318,SH,143950000.0,51880969,4.598014e+09,87.98,...,500,19500,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3908889,9547046.0,1.564555e+15,71192658.0,4.0,601318,SH,143953000.0,51883969,4.598278e+09,87.99,...,1000,28100,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3909805,9549097.0,1.564555e+15,71207525.0,4.0,601318,SH,143956000.0,51890069,4.598815e+09,87.99,...,27600,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3910765,9551254.0,1.564555e+15,71222332.0,4.0,601318,SH,143959000.0,51907669,4.600363e+09,87.99,...,28300,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3911579,9553246.0,1.564555e+15,71239515.0,4.0,601318,SH,144002000.0,51921369,4.601569e+09,88.00,...,18100,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3912793,9555729.0,1.564555e+15,71257232.0,4.0,601318,SH,144005000.0,51933969,4.602678e+09,87.99,...,4200,16000,20200,500,5100,89.41,NaN,NaN,NaN,NaN
3913906,9558116.0,1.564555e+15,71275955.0,4.0,601318,SH,144008000.0,51970069,4.605854e+09,87.99,...,20200,500,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3914787,9560250.0,1.564555e+15,71291515.0,4.0,601318,SH,144011000.0,51973169,4.606127e+09,88.00,...,20200,1000,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3915967,9562669.0,1.564555e+15,71308274.0,4.0,601318,SH,144014000.0,51977269,4.606488e+09,88.00,...,20500,1000,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3965001,9671095.0,1.564555e+15,72131568.0,4.0,601318,SH,144241000.0,52711369,4.671172e+09,88.12,...,10320,200,24100,18200,3300,89.41,NaN,NaN,NaN,NaN
3965950,9673167.0,1.564555e+15,72147017.0,4.0,601318,SH,144244000.0,52721869,4.672098e+09,88.12,...,3020,500,21900,18200,3300,89.41,NaN,NaN,NaN,NaN
3966923,9675317.0,1.564555e+15,72164011.0,4.0,601318,SH,144247000.0,52754369,4.674961e+09,88.11,...,1100,4720,800,21100,18200,89.41,NaN,NaN,NaN,NaN
3970734,9683836.0,1.564555e+15,72225984.0,4.0,601318,SH,144259000.0,52801769,4.679138e+09,88.11,...,10520,1300,14300,18200,3300,89.41,NaN,NaN,NaN,NaN
4055337,9869911.0,1.564556e+15,73681330.0,4.0,601318,SH,144705000.0,53918934,4.777524e+09,88.11,...,6200,4400,17800,5600,7700,89.41,NaN,NaN,NaN,NaN
4056257,9872109.0,1.564556e+15,73697351.0,4.0,601318,SH,144708000.0,53923034,4.777885e+09,88.12,...,4700,6200,4400,17800,5600,89.41,NaN,NaN,NaN,NaN
4057457,9874548.0,1.564556e+15,73716445.0,4.0,601318,SH,144711000.0,53955134,4.780714e+09,88.12,...,28300,6300,4400,17500,5600,89.41,NaN,NaN,NaN,NaN
4058314,9876624.0,1.564556e+15,73732053.0,4.0,601318,SH,144714000.0,53958734,4.781031e+09,88.11,...,28000,8600,4400,17500,5700,89.41,NaN,NaN,NaN,NaN
4193711,10173539.0,1.564556e+15,76216100.0,4.0,601318,SH,145335000.0,56735449,5.025563e+09,87.97,...,12749,6500,433300,300,2000,89.41,NaN,NaN,NaN,NaN
4194836,10175984.0,1.564556e+15,76236766.0,4.0,601318,SH,145338000.0,56768549,5.028474e+09,87.95,...,23300,1500,7900,11449,6500,89.41,NaN,NaN,NaN,NaN
4195928,10178366.0,1.564556e+15,76257550.0,4.0,601318,SH,145341000.0,56810949,5.032203e+09,87.95,...,26700,6400,9700,11649,6300,89.41,NaN,NaN,NaN,NaN
4197041,10180770.0,1.564556e+15,76278996.0,4.0,601318,SH,145344000.0,56829749,5.033857e+09,87.95,...,8200,6700,10400,12249,8600,89.41,NaN,NaN,NaN,NaN

1.0068218030773626e-05

'20190731 SH index check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11392
11392
11998
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
0,293798.0,1.564536e+15,1446372.0,5.0,16,SH,92504000.0,0,0.000000e+00,2944.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,293799.0,1.564536e+15,1446373.0,5.0,300,SH,92504000.0,0,0.000000e+00,3869.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,293800.0,1.564536e+15,1446374.0,5.0,852,SH,92504000.0,0,0.000000e+00,5239.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293801.0,1.564536e+15,1446375.0,5.0,905,SH,92504000.0,0,0.000000e+00,4922.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,336283.0,1.564537e+15,2360095.0,5.0,16,SH,93019000.0,445993,6.717891e+08,2931.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11319,10265467.0,1.564556e+15,77080742.0,5.0,905,SH,145529000.0,61222713,5.737616e+10,4902.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11366,10314025.0,1.564556e+15,77557695.0,5.0,852,SH,145629000.0,80498073,7.458228e+10,5198.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11382,10330387.0,1.564556e+15,77716411.0,5.0,852,SH,145649000.0,80779424,7.484042e+10,5199.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11387,10334050.0,1.564556e+15,77748985.0,5.0,905,SH,145654000.0,61909247,5.800773e+10,4903.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11390,10338161.0,1.564556e+15,77786573.0,5.0,852,SH,145659000.0,80916820,7.496857e+10,5199.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

606
       Date        Data                       Condition     Prob    Time
0  20190731    lv2 data        SSE lv2 test is complete  0.00001  0.9999
1  20190731  index data  SSE index test is not complete  8.00000  0.0000
[]

In [21]:
display(data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 207397)][["StockID", "cum_volume", "cum_amount", "close", "time", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]])
display(data2_1[(data2_1["StockID"] == 16) & (data2_1["cum_volume"] == 207397)][["StockID", "cum_volume", "cum_amount", "close", "time", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]])

,StockID,cum_volume,cum_amount,close,time,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
4,16,207397,309731743.0,2931.85,92519000,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85

,StockID,cum_volume,cum_amount,close,time,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,16,207397.0,309731743.0,2931.85,92503000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2931.85

In [10]:
test[(test["StockID"] == 16) & (test["cum_volume"] == 13767778)]

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5768,5346472.0,1.564544e+15,45448687.0,5.0,16,SH,113004000.0,13767778,2.149599e+10,2917.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5772,5346820.0,1.564544e+15,45449035.0,5.0,16,SH,113009000.0,13767778,2.149599e+10,2917.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11704,NaN,NaN,NaN,NaN,16,NaN,NaN,13767778,NaN,2917.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112959000.0
11706,NaN,NaN,NaN,NaN,16,NaN,NaN,13767778,NaN,2917.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,113003000.0

In [8]:
pd.merge(data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 13767778)], data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 13767778)],
        on=["StockID", "cum_volume"])

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount_x,close_x,...,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,openPrice_y
0,5346472,1564543819945394,45448687,5,16,SH,113004000,13767778,2.149599e+10,2917.25,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85
1,5346472,1564543819945394,45448687,5,16,SH,113004000,13767778,2.149599e+10,2917.25,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85
2,5346820,1564543825040563,45449035,5,16,SH,113009000,13767778,2.149599e+10,2917.43,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85
3,5346820,1564543825040563,45449035,5,16,SH,113009000,13767778,2.149599e+10,2917.43,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85

In [6]:
display(data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 13767778)])
display(data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 13767778)])

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
5768,5346472,1564543819945394,45448687,5,16,SH,113004000,13767778,2.149599e+10,2917.25,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85
5772,5346820,1564543825040563,45449035,5,16,SH,113009000,13767778,2.149599e+10,2917.43,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2931.85

,index,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,...,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,TotalBidQty,TotalOfferQty,time
5764,2984766,16,13767778.0,2.149599e+10,2917.24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2931.85,0.0,0.0,112959000
5768,2984957,16,13767778.0,2.149599e+10,2917.42,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2931.85,0.0,0.0,113003000

In [2]:
diff

,Date,Data,Condition,Prob,Time
0,20190703,lv2 data,SSE lv2 test is complete,0.0001443,0.999972
1,20190703,index data,SSE index test is complete with round difference,C,0.000000
2,20190704,lv2 data,SSE lv2 test is complete,8.81895e-05,0.999930
3,20190704,index data,SSE index test is complete with round difference,C,0.000000
4,20190705,lv2 data,SSE lv2 test is complete,6.46599e-05,0.999958
...,...,...,...,...,...
123,20190927,index data,SSE index test is complete with round difference,C,0.000000
124,20191008,lv2 data,SSE lv2 test is complete,1,0.999933
125,20191008,index data,SSE index test is complete with round difference,C,0.000000
126,20191009,lv2 data,SSE lv2 test is complete,C,0.999963
127,20191009,index data,SSE index test is complete with round difference,C,0.000000

In [2]:
diff = pd.DataFrame(diff)
diff.to_csv("F:\\SH_check_result1.csv")
print(diff)
print(bad)

       Date        Data                                         Condition  \
0  20190627    lv2 data                          SSE lv2 test is complete
1  20190627  index data                    SSE index test is not complete
2  20190628    lv2 data                          SSE lv2 test is complete
3  20190628  index data  SSE index test is complete with round difference
4  20190701    lv2 data                          SSE lv2 test is complete
5  20190701  index data  SSE index test is complete with round difference
6  20190702    lv2 data                          SSE lv2 test is complete
7  20190702  index data                    SSE index test is not complete

          Prob      Time
0  0.000182315  0.999917
1            2  0.000000
2  2.29729e-05  0.999949
3            C  0.000000
4  0.000316711  0.999925
5            C  0.000000
6  4.69849e-05  0.999962
7            2  0.000000
[]

In [26]:
piu[(abs(piu["close_x"] - piu["close_y"]) > 0.011) | (abs(piu["openPrice_x"] - piu["openPrice_y"]) > 0.011)][["StockID", "cum_volume", "close_x", "close_y"]]

     StockID  cum_volume  close_x  close_y
304       16    20067010  2944.83  2944.87
305       16    20067010  2944.87  2944.82

In [31]:
pd.set_option("max_columns", 200)
data1_1[(data1_1["StockID"] == 16) & (data1_1["cum_volume"] == 20067010)]

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
5768,5548355,1561606243115875,51111316,5,16,SH,113004000,20067010,3.390590e+10,2944.83,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,2917.2
5772,5548721,1561606248092537,51111682,5,16,SH,113009000,20067010,3.390590e+10,2944.87,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,2917.2

In [24]:
data2_1[(data2_1["StockID"] == 16) & (data2_1["cum_volume"] == 20067010)]["close"]

5764    2944.82
5768    2944.87
Name: close, dtype: float64