## SH

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

pd.set_option('max_columns', 100)

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

colnames=['StockID', 'DateTime', 'PreClosePx', 'openPrice','HighPx','LowPx','close','cum_volume','cum_amount','InstrumentStatus',
         'bid1p','bid2p','bid3p','bid4p','bid5p','bid6p','bid7p','bid8p','bid9p','bid10p','bid1q','bid2q','bid3q','bid4q','bid5q','bid6q','bid7q',
         'bid8q','bid9q','bid10q','b1','b2','b3','b4','b5','b6','b7','b8','b9','b10','b11','b12','b13','b14','b15','b16','b17','b18','b19','b20',
          'b21','b22','b23','b24','b25','b26','b27','b28','b29','b30','b31','b32','b33','b34','b35','b36','b37','b38','b39','b40','b41','b42','b43',
          'b44','b45','b46','b47','b48','b49','b50','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p','ask1q','ask2q',
          'ask3q','ask4q','ask5q','ask6q','ask7q','ask8q','ask9q','ask10q','a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11','a12','a13','a14',
         'a15','a16','a17','a18','a19','a20','a21','a22','a23','a24','a25','a26','a27','a28','a29','a30','a31','a32','a33','a34','a35','a36','a37','a38',
         'a39','a40','a41','a42','a43','a44','a45','a46','a47','a48','a49','a50','NumTrades','IOPV','TotalBidQty','TotalOfferQty','WeightedAvgBidPx',
         'WeightedAvgOfferPx','TotalBidNumber','TotalOfferNumber','BidTradeMaxDuration','OfferTradeMaxDuration','NumBidOrders','NumOfferOrders','WithdrawBuyNumber',
         'WithdrawBuyAmount','WithdrawBuyMoney','WithdrawSellNumber','WithdrawSellAmount','WithdrawSellMoney','ETFBuyNumber','ETFBuyAmount','ETFBuyMoney',
         'ETFSellNumber','ETFSellAmount','ETFSellMoney'] 
snapshot = pd.read_csv(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shanghai\20191209\Snapshot\Snapshot.csv", names=colnames, header=None)
colnames=['SecurityID', 'TradeTime', 'TradePrice', 'TradeQty','TradeAmount','BuyNo','SellNo'] 
tick = pd.read_csv(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shanghai\20191209\Tick\Tick.csv", names=colnames, header=None)
colnames=['SecurityID', 'DateTime', 'Price', 'VirtualAuctionQty','LeaveQty','Side'] 
auction = pd.read_csv(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shanghai\20191209\Auction\Auction.csv", names=colnames, header=None)
snapshot['time'] = (snapshot["DateTime"] - 20191209000000)*1000
display(snapshot[(snapshot["StockID"] == 600004) & (snapshot["time"] >= 143000000) & (snapshot["time"] <= 145000000)])

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,StockID,DateTime,PreClosePx,openPrice,HighPx,LowPx,close,cum_volume,cum_amount,InstrumentStatus,bid1p,bid2p,bid3p,bid4p,bid5p,bid6p,bid7p,bid8p,bid9p,bid10p,bid1q,bid2q,bid3q,bid4q,bid5q,bid6q,bid7q,bid8q,bid9q,bid10q,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12,b13,b14,b15,b16,b17,b18,b19,b20,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,a35,a36,a37,a38,a39,a40,a41,a42,a43,a44,a45,a46,a47,a48,a49,a50,NumTrades,IOPV,TotalBidQty,TotalOfferQty,WeightedAvgBidPx,WeightedAvgOfferPx,TotalBidNumber,TotalOfferNumber,BidTradeMaxDuration,OfferTradeMaxDuration,NumBidOrders,NumOfferOrders,WithdrawBuyNumber,WithdrawBuyAmount,WithdrawBuyMoney,WithdrawSellNumber,WithdrawSellAmount,WithdrawSellMoney,ETFBuyNumber,ETFBuyAmount,ETFBuyMoney,ETFSellNumber,ETFSellAmount,ETFSellMoney,time
8716719,600004,20191209143002,17.81,17.81,17.93,17.46,17.56,9201733,162482541.0,TRADE,17.54,17.53,17.52,17.51,17.50,17.49,17.48,17.47,17.46,17.45,21500,37100,31100,40400,90700,13900,38600,14800,44800,118100,2500,100,500,1300,200,100,1300,500,200,900,200,1000,400,100,1000,500,5100,5100,500,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11728,0.0,1175900,2739274,17.232,18.335,999,1720,8461,3239,97,169,2098,2875467,50475200.89,1750,2420544,43078571.65,0,0,0.0,0,0,0.0,143002000
8718415,600004,20191209143004,17.81,17.81,17.93,17.46,17.56,9204433,162529939.0,TRADE,17.54,17.53,17.52,17.51,17.50,17.49,17.48,17.47,17.46,17.45,20800,37100,31100,40400,90700,13900,39000,14800,44800,118100,1800,100,500,1300,200,100,1300,500,200,900,200,1000,400,100,1000,500,5100,5100,500,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11735,0.0,1175600,2735374,17.232,18.336,1000,1716,8461,3239,97,169,2098,2875467,50475200.89,1751,2422444,43111935.65,0,0,0.0,0,0,0.0,143004000
8720275,600004,20191209143007,17.81,17.81,17.93,17.46,17.56,9206733,162570321.0,TRADE,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,17.47,17.46,400,20300,37100,31100,40400,90700,13900,39000,14800,44800,400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11740,0.0,1175500,2734574,17.232,18.336,1000,1715,8461,3239,98,169,2099,2875967,50483970.89,1751,2422444,43111935.65,0,0,0.0,0,0,0.0,143007000
8722005,600004,20191209143010,17.81,17.81,17.93,17.46,17.56,9207133,162577343.0,TRADE,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,17.47,17.46,700,10600,37100,31100,40400,90700,13900,39000,14800,44800,200,300,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11742,0.0,1166100,2734474,17.229,18.336,1001,1716,8461,3239,98,169,2101,2886167,50662878.89,1751,2422444,43111935.65,0,0,0.0,0,0,0.0,143010000
8723991,600004,20191209143013,17.81,17.81,17.93,17.46,17.57,9211133,162647618.0,TRADE,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,17.47,17.46,10800,11600,37100,31100,40400,90700,13900,39000,14800,44800,100,300,200,10000,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11753,0.0,1177200,2730574,17.232,18.337,1004,1710,8461,3239,98,168,2101,2886167,50662878.89,1751,2422444,43111935.65,0,0,0.0,0,0,0.0,143013000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9455814,600004,20191209144947,17.81,17.81,17.93,17.46,17.58,9991333,176358526.0,TRADE,17.57,17.56,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,2600,13200,4200,9100,14900,28000,35100,76100,18700,33600,700,400,100,1400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13315,0.0,1056200,2690374,17.221,18.345,929,1687,8461,3804,95,169,2385,3313067,58124449.89,1939,2647644,47099439.65,0,0,0.0,0,0,0.0,144947000
9457709,600004,20191209144950,17.81,17.81,17.93,17.46,17.57,9991633,176363797.0,TRADE,17.57,17.56,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,2500,13200,4200,9100,14900,28000,35100,76100,18700,33600,400,400,100,1400,100,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13316,0.0,1056100,2688074,17.221,18.345,931,1685,8461,3804,95,169,2385,3313067,58124449.89,1941,2649944,47140180.65,0,0,0.0,0,0,0.0,144950000
9459833,600004,20191209144953,17.81,17.81,17.93,17.46,17.57,9991633,176363797.0,TRADE,17.57,17.56,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,2600,13200,4200,9100,14900,28000,35100,76100,18700,33600,400,400,100,1400,100,100,100,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13316,0.0,1056200,2687574,17.221,18.345,932,1684,8461,3804,95,169,2385,3313067,58124449.89,1942,2650444,47149020.65,0,0,0.0,0,0,0.0,144953000
9461631,600004,20191209144956,17.81,17.81,17.93,17.46,17.57,9991633,176363797.0,TRADE,17.57,17.56,17.55,17.54,17.53,17.52,17.51,17.50,17.49,17.48,23600,17000,4200,9100,14900,28000,35100,76100,18700,33600,400,400,100,1400,100,100,100,1000,20000,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13316,0.0,1081000,2686874,17.229,18.345,935,1684,8461,3804,95,169,2385,3313067,58124449.89,1943,2651244,47164660.65,0,0,0.0,0,0,0.0,144956000
9463571,600004,20191209144959,17.81,17.81,17.93,17.46,17.59,9995833,176437661.0,TRADE,17.58,17.57,17.56,17.55,17.54,17.53,17.52,17.51,17.50,17.49,200,21500,17000,4200,9100,14900,27100,35100,76100,18700,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13325,0.0,1078200,2684774,17.228,18.346,934,1683,8461,3804,96,168,2388,3316367,58182385.89,1944,2651344,47166510.65,0,0,0.0,0,0,0.0,144959000

In [3]:
logSH = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20191209_zs_92_01_day_data\mdLog_SH_20191209_0850.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
TradeLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20191209_zs_92_01_day_data\mdTradeLog_20191209_0850.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
SH = TradeLog[TradeLog["exchId"] == 1]
del TradeLog
display(logSH["source"].unique())
logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
display(logSH[(logSH["StockID"] == 600004) & (logSH["time"] >= 143000000) & (logSH["time"] <= 145000000)])
logSH1 = snapshot[["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice",'TotalBidQty', 'TotalOfferQty','time']]
display(logSH1[(logSH1["StockID"] == 600004) & (logSH1["time"] >= 143000000) & (logSH1["time"] <= 145000000)])

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
9693223,1575873003416655,78389497,4,600004,SH,143002000,9201733,162482541.0,17.56,17.54,17.53,17.52,17.51,17.50,21500,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,5100,5600,200,3200,2900,17.81
9693581,1575873003881147,78391265,3,600004,SH,143002600,9201733,162482541.0,17.56,17.54,17.53,17.52,17.51,17.50,21500,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,5100,5600,200,3200,2900,17.81
9695152,1575873006077860,78407040,4,600004,SH,143004000,9204433,162529939.0,17.56,17.54,17.53,17.52,17.51,17.50,20800,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,1200,5600,200,3200,2900,17.81
9695928,1575873006880773,78410838,3,600004,SH,143005600,9205633,162551011.0,17.56,17.54,17.53,17.52,17.51,17.50,20800,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,900,5600,200,3200,2900,17.81
9697398,1575873009081828,78425671,4,600004,SH,143007000,9206733,162570321.0,17.56,17.55,17.54,17.53,17.52,17.51,400,20300,37100,31100,40400,17.56,17.57,17.59,17.60,17.61,400,5600,200,3200,2900,17.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10622125,1575874195016363,85663410,3,600004,SH,144953730,9991633,176363797.0,17.57,17.57,17.56,17.55,17.54,17.53,3600,13200,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,500,5500,6300,7400,7600,17.81
10624228,1575874197658541,85682001,4,600004,SH,144956000,9991633,176363797.0,17.57,17.57,17.56,17.55,17.54,17.53,23600,17000,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,600,5500,6300,7400,7600,17.81
10624615,1575874198017337,85684009,3,600004,SH,144956730,9993933,176404248.0,17.59,17.57,17.56,17.55,17.54,17.53,21200,17000,4200,9100,14900,17.59,17.60,17.61,17.62,17.63,3800,6300,7400,7600,10100,17.81
10626822,1575874200903028,85702542,4,600004,SH,144959000,9995833,176437661.0,17.59,17.58,17.57,17.56,17.55,17.54,200,21500,17000,4200,9100,17.59,17.60,17.61,17.62,17.63,2300,7600,7400,7600,10100,17.81
10626980,1575874201043962,85703588,3,600004,SH,144959730,9995933,176439420.0,17.59,17.58,17.57,17.56,17.55,17.54,200,21500,17200,4200,9100,17.59,17.60,17.61,17.62,17.63,2200,9600,7400,7600,10100,17.81

,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,TotalBidQty,TotalOfferQty,time
8716719,600004,9201733,162482541.0,17.56,17.54,17.53,17.52,17.51,17.50,21500,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,5100,5600,200,3200,2900,17.81,1175900,2739274,143002000
8718415,600004,9204433,162529939.0,17.56,17.54,17.53,17.52,17.51,17.50,20800,37100,31100,40400,90700,17.56,17.57,17.59,17.60,17.61,1200,5600,200,3200,2900,17.81,1175600,2735374,143004000
8720275,600004,9206733,162570321.0,17.56,17.55,17.54,17.53,17.52,17.51,400,20300,37100,31100,40400,17.56,17.57,17.59,17.60,17.61,400,5600,200,3200,2900,17.81,1175500,2734574,143007000
8722005,600004,9207133,162577343.0,17.56,17.55,17.54,17.53,17.52,17.51,700,10600,37100,31100,40400,17.56,17.57,17.59,17.60,17.61,300,5600,200,3200,2900,17.81,1166100,2734474,143010000
8723991,600004,9211133,162647618.0,17.57,17.55,17.54,17.53,17.52,17.51,10800,11600,37100,31100,40400,17.57,17.59,17.60,17.61,17.62,2000,200,3200,2900,6400,17.81,1177200,2730574,143013000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9455814,600004,9991333,176358526.0,17.58,17.57,17.56,17.55,17.54,17.53,2600,13200,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,500,5500,6300,7400,7600,17.81,1056200,2690374,144947000
9457709,600004,9991633,176363797.0,17.57,17.57,17.56,17.55,17.54,17.53,2500,13200,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,500,5500,6300,7400,7600,17.81,1056100,2688074,144950000
9459833,600004,9991633,176363797.0,17.57,17.57,17.56,17.55,17.54,17.53,2600,13200,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,500,5500,6300,7400,7600,17.81,1056200,2687574,144953000
9461631,600004,9991633,176363797.0,17.57,17.57,17.56,17.55,17.54,17.53,23600,17000,4200,9100,14900,17.58,17.59,17.60,17.61,17.62,600,5500,6300,7400,7600,17.81,1081000,2686874,144956000
9463571,600004,9995833,176437661.0,17.59,17.58,17.57,17.56,17.55,17.54,200,21500,17000,4200,9100,17.59,17.60,17.61,17.62,17.63,2300,7600,7400,7600,10100,17.81,1078200,2684774,144959000

In [14]:
logSH.sort_values(by="clockAtArrival")[logSH["time"] >= 93000000].head(20)

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
287068,1575855001282849,1515036,4,600968,SH,93000000,378922,1079927.70,2.85,2.85,2.84,2.83,2.82,2.81,603478,293200,316200,340400,288700,2.86,2.87,2.88,2.89,2.90,116100,212500,360700,275800,289200,2.85
287069,1575855001282957,1515037,4,603127,SH,93000000,15445,919131.95,59.51,59.53,59.51,59.50,59.25,59.02,500,2055,2100,200,100,59.66,59.67,59.69,59.70,59.78,100,200,100,100,200,59.51
287070,1575855001282964,1515038,4,603226,SH,93000000,73307,1382570.02,18.86,18.86,18.82,18.80,18.77,18.76,12693,2000,1200,200,1200,18.88,18.89,18.90,18.91,18.92,18300,2700,14700,300,300,18.86
287071,1575855001283031,1515039,4,600000,SH,93000000,177200,2108680.00,11.90,11.89,11.88,11.87,11.86,11.85,28500,48500,31000,80400,66500,11.90,11.91,11.92,11.93,11.94,105300,9800,59500,52000,9100,11.90
287072,1575855001283037,1515040,4,600069,SH,93000000,76000,204440.00,2.69,2.68,2.67,2.66,2.65,2.64,4400,3500,51500,57600,43300,2.69,2.70,2.71,2.72,2.73,9900,23400,31000,41200,52300,2.69
287073,1575855001283051,1515041,4,600180,SH,93000000,7800,52806.00,6.77,6.77,6.75,6.70,6.69,6.65,2200,2600,2000,5900,1300,6.79,6.80,6.82,6.83,6.84,1000,3200,7000,11651,21900,6.77
287074,1575855001283056,1515042,4,600372,SH,93000000,33500,462970.00,13.82,13.82,13.81,13.80,13.79,13.77,2600,100,14400,1200,3200,13.85,13.87,13.92,13.95,13.96,3400,16800,400,900,1000,13.82
287075,1575855001283067,1515043,4,600378,SH,93000000,1500,23545.00,15.75,15.68,15.67,15.66,15.65,15.64,200,8100,6000,3000,2000,15.90,15.95,16.00,16.06,16.08,200,500,2300,1000,1200,15.68
287076,1575855001283071,1515044,4,600576,SH,93000000,2137734,10902511.40,5.13,5.10,5.09,5.08,5.07,5.06,135266,5300,7100,3500,7600,5.13,5.14,5.15,5.16,5.17,8100,24000,7100,89300,438680,5.10
287077,1575855001283076,1515045,4,600612,SH,93000000,42000,2015580.00,47.99,47.99,47.98,47.97,47.96,47.91,100,100,200,100,300,48.00,48.12,48.19,48.35,48.36,4600,200,500,900,1700,47.99
287078,1575855001283080,1515046,4,600975,SH,93000000,16100,118015.00,7.34,7.33,7.32,7.31,7.30,7.29,54900,2000,1000,16600,2600,7.34,7.35,7.36,7.37,7.38,800,1000,11400,1300,17700,7.33
287079,1575855001283085,1515047,4,601006,SH,93000000,30000,236100.00,7.87,7.87,7.86,7.85,7.84,7.83,6100,38500,59000,173500,156900,7.88,7.89,7.90,7.91,7.92,18000,40100,32500,70800,64600,7.87
287080,1575855001283090,1515048,4,601086,SH,93000000,171700,825597.00,4.80,4.80,4.79,4.78,4.75,4.74,500,10000,8000,4000,13000,4.81,4.82,4.83,4.85,4.86,44900,10100,3100,10700,32800,4.81
287081,1575855001283096,1515049,4,601318,SH,93000000,242100,20520396.00,84.76,84.76,84.75,84.74,84.73,84.71,100300,5000,10700,100,300,84.77,84.78,84.79,84.80,84.81,600,1000,200,600,1000,84.76
287082,1575855001283100,1515050,4,601872,SH,93000000,2375700,15537078.00,6.54,6.53,6.52,6.51,6.50,6.49,4400,23700,118200,151900,2600,6.54,6.55,6.56,6.57,6.58,67432,136500,253800,608900,265700,6.54
287083,1575855001283110,1515051,4,603335,SH,93000000,885200,4426000.00,5.00,5.00,4.99,4.98,4.97,4.96,98900,23100,47700,20000,223600,5.03,5.06,5.08,5.09,5.11,2500,1400,5000,2800,9500,5.00
287084,1575855001283115,1515052,4,603659,SH,93000000,44200,3138224.00,71.24,71.00,70.99,70.88,70.81,70.80,300,100,1500,400,11100,71.24,71.89,71.95,71.99,72.10,200,100,900,100,500,71.00
287085,1575855001288953,1515859,4,600105,SH,93000000,441700,1961148.00,4.44,4.43,4.42,4.41,4.40,4.39,9000,14500,74600,135100,28100,4.44,4.45,4.46,4.47,4.48,100300,166100,98400,188300,121730,4.44
287086,1575855001288969,1515860,4,600712,SH,93000000,151100,886957.00,5.87,5.87,5.86,5.85,5.84,5.83,255245300,12900,35300,13000,9200,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,5.87
287087,1575855001288975,1515861,4,600703,SH,93000000,622400,10991025.00,17.59,17.59,17.58,17.57,17.56,17.55,2000,24000,6700,29000,1000,17.66,17.67,17.68,17.69,17.70,78600,166800,107200,73400,29000,17.66

In [12]:
logSH1.sort_values(by="time")[logSH1["time"] >= 93000000].head(20)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,TotalBidQty,TotalOfferQty,time
258634,603196,22100,177905.0,8.050,8.050,8.040,8.020,8.010,8.000,1500,4100,13800,1500,2000,8.060,8.090,8.100,8.130,8.140,1000,1500,1000,1100,900,8.050,144100,275000,93000000
258635,688066,0,0.0,0.000,31.120,31.020,30.980,30.950,30.940,300,600,200,500,200,31.190,31.300,31.500,31.600,31.630,1000,400,200,900,200,0.000,31200,83175,93000000
258636,512400,38200,24600.8,0.644,0.641,0.640,0.639,0.638,0.637,8200,21600,22200,1100,3800,0.644,0.645,0.646,0.647,0.648,149700,171200,20200,27500,202400,0.644,528800,2174100,93000000
258638,600289,24000,71280.0,2.970,2.960,2.950,2.940,2.920,2.910,4000,1000,4000,3000,2000,2.970,2.980,2.990,3.000,3.010,10200,7300,1000,20000,5200,2.970,202100,174240,93000000
258639,600336,1600,6816.0,4.260,4.250,4.240,4.230,4.220,4.200,11800,7500,3000,9500,11000,4.260,4.270,4.290,4.320,4.350,400,100,10000,16400,13800,4.260,134200,352000,93000000
258640,600481,2100,6762.0,3.220,3.200,3.190,3.180,3.170,3.160,10000,36000,16100,13200,75900,3.220,3.230,3.240,3.250,3.260,4245,3500,18000,13500,16000,3.220,472500,356245,93000000
258633,603031,11500,207000.0,18.000,18.000,17.980,17.970,17.960,17.950,1300,3200,3000,3000,3000,18.090,18.100,18.180,18.200,18.240,400,1200,2100,700,800,18.000,121500,78000,93000000
258641,600526,200,1004.0,5.020,5.020,5.000,4.970,4.960,4.950,900,7100,7000,10000,1400,5.030,5.050,5.060,5.110,5.120,100,18000,200,5300,1400,5.020,43500,120995,93000000
258642,600592,114700,1610388.0,14.040,14.040,14.030,14.000,13.980,13.930,36800,10400,400,1900,1000,14.050,14.060,14.080,14.090,14.100,20000,53000,40000,2000,30000,14.040,69200,313400,93000000
258637,512750,24500,24867.5,1.015,1.015,1.014,1.013,1.011,1.009,8200,300,1300,3300,5000,1.016,1.017,1.019,1.021,1.022,800,1000,9000,37800,16300,1.015,475600,1227500,93000000
258632,601588,14100,43428.0,3.080,3.070,3.060,3.050,3.040,3.030,48500,106800,151000,123700,49600,3.080,3.090,3.100,3.110,3.120,16000,169200,123300,113200,139900,3.080,651800,1439700,93000000
258626,600662,2500,11400.0,4.560,4.550,4.540,4.520,4.510,4.500,200,3000,14000,2600,33100,4.560,4.590,4.600,4.620,4.630,1000,9100,1500,16900,700,4.560,268700,730300,93000000
258630,601128,62000,508400.0,8.200,8.200,8.190,8.180,8.170,8.160,50800,7900,54000,1000,25800,8.210,8.220,8.230,8.250,8.260,600,62800,300,5200,2000,8.200,529600,493800,93000000
258629,600973,23600,86140.0,3.650,3.650,3.640,3.630,3.620,3.610,6300,10000,3400,107300,26500,3.660,3.670,3.680,3.690,3.700,17700,19000,8200,13400,6800,3.650,375200,570821,93000000
258628,600963,900,3780.0,4.200,4.200,4.190,4.180,4.170,4.160,29300,12500,19100,2200,32200,4.210,4.220,4.230,4.250,4.270,8000,20600,12300,11000,22800,4.200,304700,532920,93000000
258627,600848,32200,782460.0,24.300,24.300,24.250,24.220,24.200,24.180,4000,5500,7500,1600,500,24.350,24.470,24.480,24.500,24.530,1000,4500,2000,4100,600,24.300,69600,172800,93000000
258625,600608,0,0.0,0.000,4.450,4.440,4.400,4.380,4.300,3000,19400,15100,5100,12000,4.460,4.480,4.500,4.510,4.520,1500,3000,12000,1300,26200,0.000,60200,133300,93000000
258624,600561,1500,8805.0,5.870,5.860,5.850,5.830,5.820,5.810,45700,3200,6000,600,29000,5.870,5.880,5.890,5.900,5.920,3200,9000,6800,3600,1000,5.870,196600,479600,93000000
258623,600490,192700,818975.0,4.250,4.240,4.230,4.220,4.210,4.200,51100,5700,23100,53900,29000,4.250,4.260,4.270,4.280,4.290,107200,118900,56600,18000,50700,4.250,334300,1257100,93000000
258622,600306,10200,58446.0,5.730,5.730,5.710,5.700,5.680,5.670,2800,1600,100,3000,6300,5.770,5.780,5.790,5.800,5.830,1000,14000,9200,9900,2600,5.730,113800,342100,93000000

In [8]:
in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)
              & (logSH["source"] == 4)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q"]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo"].count()
n2 = test["TotalBidQty"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["TotalBidQty"])])
    print(len(test[np.isnan(test["TotalBidQty"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo"])])
    display(n2-n1)
    print((n2-n1)/n1)

1538
2337
4682537
4696562
4729654
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice_x,index_y,openPrice_y,TotalBidQty,TotalOfferQty,time_y
4428,291554.0,1.575855e+15,2045152.0,4.0,603185,SH,93003000.0,1300,3.017500e+04,23.19,23.19,23.18,23.14,23.12,23.08,600,3800,1000,200,1300,23.20,23.22,23.24,23.28,23.30,300,200,100,700,800,0.00,NaN,NaN,NaN,NaN,NaN
4483,291901.0,1.575855e+15,2070696.0,4.0,688368,SH,93003000.0,1400,9.566600e+04,68.11,68.11,68.01,67.88,67.72,67.70,118,200,600,200,3000,68.39,68.40,68.43,68.45,68.46,1704,600,250,250,400,0.00,NaN,NaN,NaN,NaN,NaN
4788,292235.0,1.575855e+15,2097877.0,4.0,603871,SH,93003000.0,8200,2.312440e+05,28.22,28.04,28.02,28.01,28.00,27.97,1000,2800,1100,700,2000,28.20,28.27,28.34,28.35,28.42,200,12000,500,500,4700,0.00,NaN,NaN,NaN,NaN,NaN
4931,292501.0,1.575855e+15,2111332.0,4.0,603416,SH,93003000.0,2500,6.502000e+04,25.65,25.65,25.62,25.61,25.60,25.51,1900,1500,4500,5200,300,25.96,26.00,26.11,26.12,26.42,1000,400,12600,800,900,0.00,NaN,NaN,NaN,NaN,NaN
5610,294443.0,1.575855e+15,2336028.0,4.0,601028,SH,93006000.0,6400,3.519200e+04,5.50,5.50,5.48,5.45,5.41,5.35,3800,200,5000,600,4400,5.53,5.54,5.55,5.56,5.57,2400,6700,23200,31000,12880,5.48,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4679548,10981814.0,1.575875e+15,89107591.0,4.0,600976,SH,145656000.0,1258800,2.090009e+07,16.56,16.56,16.55,16.54,16.53,16.52,10300,23900,4200,6200,4500,16.58,16.59,16.60,16.62,16.68,2500,3800,7300,100,2000,16.78,NaN,NaN,NaN,NaN,NaN
4680062,10983142.0,1.575875e+15,89119823.0,4.0,603970,SH,145657000.0,854332,1.044248e+07,12.19,12.18,12.17,12.16,12.15,12.14,300,14200,13100,9500,7700,12.20,12.23,12.24,12.25,12.26,10100,8160,10220,1100,5700,12.30,NaN,NaN,NaN,NaN,NaN
4680388,10983543.0,1.575875e+15,89125201.0,4.0,603709,SH,145658000.0,274236,6.642665e+06,24.35,24.33,24.26,24.25,24.24,24.23,3600,3549,500,400,300,24.35,24.36,24.37,24.38,24.39,1100,200,3600,4500,300,24.19,NaN,NaN,NaN,NaN,NaN
4680569,10984289.0,1.575875e+15,89132145.0,4.0,603099,SH,145659000.0,739200,6.424466e+06,8.68,8.68,8.67,8.66,8.65,8.64,1100,10800,17500,13400,100,8.69,8.70,8.71,8.72,8.74,31700,5300,500,17600,1400,8.70,NaN,NaN,NaN,NaN,NaN
4680822,10984819.0,1.575875e+15,89135072.0,4.0,601633,SH,145659000.0,16109983,1.439833e+08,8.92,8.92,8.91,8.90,8.89,8.88,2500,4100,43200,27700,77700,8.93,8.94,8.95,8.96,8.97,5400,4800,26900,56300,38900,8.94,NaN,NaN,NaN,NaN,NaN

0.007067109133360825

In [9]:
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
test1 = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
test1[np.isnan(test1["TotalBidQty"])]

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
0,260368.0,1.575855e+15,1285057.0,4.0,600104,SH,92500000.0,82902,1.886850e+06,22.76,22.76,22.75,22.74,22.72,22.71,12998,59500,100,1600,32400,22.78,22.79,22.80,22.81,22.82,1400,600,4700,2200,3000,0.00,NaN,NaN,NaN,NaN
1,260370.0,1.575855e+15,1285911.0,4.0,601162,SH,92500000.0,424500,2.343240e+06,5.52,5.52,5.51,5.50,5.49,5.48,412400,239700,323700,67800,18700,5.53,5.54,5.55,5.56,5.57,60100,65500,68600,60900,101600,0.00,NaN,NaN,NaN,NaN
2,260371.0,1.575855e+15,1285912.0,4.0,601238,SH,92500000.0,41300,4.865140e+05,11.78,11.75,11.73,11.72,11.70,11.69,100,800,100,700,100,11.78,11.79,11.80,11.81,11.82,53100,10900,65100,1000,5900,0.00,NaN,NaN,NaN,NaN
3,260372.0,1.575855e+15,1285913.0,4.0,601888,SH,92500000.0,29800,2.609586e+06,87.57,87.57,87.37,87.29,87.28,87.23,2500,1100,300,7200,100,87.60,87.69,87.70,87.71,87.75,400,700,700,800,300,0.00,NaN,NaN,NaN,NaN
4,260373.0,1.575855e+15,1285914.0,4.0,600383,SH,92500000.0,782700,9.611556e+06,12.28,12.26,12.25,12.24,12.21,12.20,19000,1400,3000,20700,10200,12.28,12.29,12.30,12.31,12.32,46718,101700,361000,47200,27800,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4679524,10981814.0,1.575875e+15,89107591.0,4.0,600976,SH,145656000.0,1258800,2.090009e+07,16.56,16.56,16.55,16.54,16.53,16.52,10300,23900,4200,6200,4500,16.58,16.59,16.60,16.62,16.68,2500,3800,7300,100,2000,16.78,NaN,NaN,NaN,NaN
4680038,10983142.0,1.575875e+15,89119823.0,4.0,603970,SH,145657000.0,854332,1.044248e+07,12.19,12.18,12.17,12.16,12.15,12.14,300,14200,13100,9500,7700,12.20,12.23,12.24,12.25,12.26,10100,8160,10220,1100,5700,12.30,NaN,NaN,NaN,NaN
4680364,10983543.0,1.575875e+15,89125201.0,4.0,603709,SH,145658000.0,274236,6.642665e+06,24.35,24.33,24.26,24.25,24.24,24.23,3600,3549,500,400,300,24.35,24.36,24.37,24.38,24.39,1100,200,3600,4500,300,24.19,NaN,NaN,NaN,NaN
4680545,10984289.0,1.575875e+15,89132145.0,4.0,603099,SH,145659000.0,739200,6.424466e+06,8.68,8.68,8.67,8.66,8.65,8.64,1100,10800,17500,13400,100,8.69,8.70,8.71,8.72,8.74,31700,5300,500,17600,1400,8.70,NaN,NaN,NaN,NaN
4680798,10984819.0,1.575875e+15,89135072.0,4.0,601633,SH,145659000.0,16109983,1.439833e+08,8.92,8.92,8.91,8.90,8.89,8.88,2500,4100,43200,27700,77700,8.93,8.94,8.95,8.96,8.97,5400,4800,26900,56300,38900,8.94,NaN,NaN,NaN,NaN

In [31]:
re = test[np.isnan(test["TotalBidQty"])]
re1 = test1[np.isnan(test1["TotalBidQty"])]
kk = pd.merge(re[["StockID", "sequenceNo", "source", "time"]], re1[["StockID", "sequenceNo", "source"]], on=["StockID", "sequenceNo"], how="outer")
kk[(kk["source_y"].isnull()) & (kk["time"] > 103000000)]

       StockID  sequenceNo  source_x       time  source_y
11164   603279  34493327.0       4.0  103024000       NaN
11212   601007  34626661.0       4.0  103046000       NaN
11227   603319  34662669.0       4.0  103053000       NaN
11235   688005  34682079.0       4.0  103056000       NaN
11285   600796  34814877.0       4.0  103118000       NaN
...        ...         ...       ...        ...       ...
35698   603158  88096971.0       4.0  145504000       NaN
35777   600594  88395202.0       4.0  145536000       NaN
35788   600228  88429184.0       4.0  145540000       NaN
35882   603633  88733648.0       4.0  145614000       NaN
35908   600982  88867463.0       4.0  145628000       NaN

[788 rows x 5 columns]

In [58]:
display(logSH[(logSH["StockID"] == 601007) & (logSH["cum_volume"] == 226816) & (logSH["source"] == 4) ][["StockID", "sequenceNo", "time", "cum_volume", "cum_amount", "source", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice", "time"]])
display(logSH1[(logSH1["StockID"] == 601007) & (logSH1["cum_volume"] == 226816)][["StockID", "time", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]])

,StockID,sequenceNo,time,cum_volume,cum_amount,source,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,time
3248553,601007,34626661,103046000,226816,2013804.08,4,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.9,8.91,8.92,6600,12200,16400,11300,4500,8.88,103046000

,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
2589692,601007,102946000,226816,2013804.08,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.9,8.91,8.92,6600,12200,16400,11300,4500,8.88
2626408,601007,103046000,226816,2013804.08,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.9,8.91,8.92,6600,12200,16400,11300,4500,8.88

In [60]:
logSH[(logSH["StockID"] == 601007) & (logSH["time"] >= 102946000) ][["StockID", "sequenceNo", "time", "cum_volume", "cum_amount", "source", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice", "time"]]

,StockID,sequenceNo,time,cum_volume,cum_amount,source,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,time
3203505,601007,34260735,102946000,225316,2000499.08,4,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.90,8.91,8.92,8100,12200,16400,11300,4500,8.88,102946000
3203652,601007,34261617,102946940,226816,2013804.00,3,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.90,8.91,8.92,6600,12200,16400,11300,4500,8.88,102946940
3208765,601007,34301546,102952950,226816,2013804.00,3,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.90,8.91,8.92,6600,12200,16400,11300,4500,8.88,102952950
3231622,601007,34493808,103022970,226816,2013804.00,3,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.90,8.91,8.92,6600,12200,16400,11300,4500,8.88,103022970
3248553,601007,34626661,103046000,226816,2013804.08,4,8.87,8.86,8.85,8.84,8.83,8.82,1300,1600,5400,5500,7200,8.87,8.89,8.90,8.91,8.92,6600,12200,16400,11300,4500,8.88,103046000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11113583,601007,89900471,150405000,500516,4444217.08,4,8.90,8.89,8.88,8.87,8.86,8.85,30400,22600,8600,9500,4900,8.90,8.91,8.92,8.93,8.94,48600,13300,4500,9200,2000,8.88,150405000
11115307,601007,89902195,150429910,500516,4444217.00,3,8.90,8.89,8.88,8.87,8.86,8.85,30400,22600,8600,9500,4900,8.90,8.91,8.92,8.93,8.94,48600,13300,4500,9200,2000,8.88,150429910
11117669,601007,89904557,150459910,500516,4444217.00,3,8.90,8.89,8.88,8.87,8.86,8.85,30400,22600,8600,9500,4900,8.90,8.91,8.92,8.93,8.94,48600,13300,4500,9200,2000,8.88,150459910
11119145,601007,89908439,150503830,500516,4444217.00,3,8.90,8.89,8.88,8.87,8.86,8.85,30400,22600,8600,9500,4900,8.90,8.91,8.92,8.93,8.94,48600,13300,4500,9200,2000,8.88,150503830
11119623,601007,89910867,150505000,500516,4444217.08,4,8.90,8.89,8.88,8.87,8.86,8.85,30400,22600,8600,9500,4900,8.90,8.91,8.92,8.93,8.94,48600,13300,4500,9200,2000,8.88,150505000

In [37]:
in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
columns = ["StockID", "cum_volume", "close", "openPrice"]
# data1_1["openPrice"] = data1_1["openPrice"].round(3)
# data1_1["close"] = data1_1["close"].round(3)
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo"].count()
n2 = test["TotalBidQty"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["TotalBidQty"])])
    print(len(test[np.isnan(test["TotalBidQty"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo"])])
    display(n2-n1)
    print((n2-n1)/n1)

11388
11388
22577
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,bid1p_x,bid2p_x,bid3p_x,bid4p_x,bid5p_x,bid1q_x,bid2q_x,bid3q_x,bid4q_x,bid5q_x,ask1p_x,ask2p_x,ask3p_x,ask4p_x,ask5p_x,ask1q_x,ask2q_x,ask3q_x,ask4q_x,ask5q_x,openPrice,index_y,cum_amount_y,bid1p_y,bid2p_y,bid3p_y,bid4p_y,bid5p_y,bid1q_y,bid2q_y,bid3q_y,bid4q_y,bid5q_y,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1,265772.0,1.575855e+15,1470054.0,5.0,300,SH,92517000.0,801451,1.081418e+09,3909.5297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3909.5297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,265773.0,1.575855e+15,1470055.0,5.0,852,SH,92517000.0,1031407,9.716717e+08,5286.2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5286.2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,265774.0,1.575855e+15,1470056.0,5.0,905,SH,92517000.0,811051,8.035561e+08,5020.2216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5020.2216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,290031.0,1.575855e+15,1801080.0,5.0,300,SH,93002000.0,949737,1.282366e+09,3909.5297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3909.5297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,290032.0,1.575855e+15,1801095.0,5.0,852,SH,93002000.0,1136468,1.057651e+09,5286.2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5286.2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11383,10978067.0,1.575875e+15,89074859.0,5.0,905,SH,145652000.0,87294468,9.125950e+10,5023.9068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5020.2216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11384,10982488.0,1.575875e+15,89111097.0,5.0,16,SH,145657000.0,24758073,3.760641e+10,2931.9577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2944.1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11385,10982491.0,1.575875e+15,89111745.0,5.0,300,SH,145657000.0,94245375,1.293466e+11,3894.4906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3909.5297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11386,10982494.0,1.575875e+15,89111846.0,5.0,852,SH,145657000.0,110779364,1.082614e+11,5293.7780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5286.2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11387,10982495.0,1.575875e+15,89111847.0,5.0,905,SH,145657000.0,87349018,9.131134e+10,5024.2616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5020.2216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0.9825254654021778

In [39]:
display(data2_1[(data2_1["StockID"] == 852) & (data2_1["cum_volume"] == 1031407)])
display(data1_1[(data1_1["StockID"] == 852) & (data1_1["cum_volume"] == 1031407)])

,index,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,TotalBidQty,TotalOfferQty,time
2,209672,852,1031407,971671721.1,5286.203,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,5286.203,0,0,92517000

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
2,265773,1575854718415994,1470055,5,852,SH,92517000,1031407,971671721.1,5286.2025,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,5286.2025

In [4]:
tick = tick.rename(columns={"TradeAmount":"TradeMoney", "BuyNo":"BidApplSeqNum","SellNo":"OfferApplSeqNum"})
tick["TransactTime"] = (tick['TradeTime'] - 2019120900000000)*10
tick["TradePrice"] = tick["TradePrice"]*10000
tick["TradeMoney"] = tick["TradeMoney"]*10000
# tick["TradePrice"] = tick["TradePrice"].astype(int)
tick["TradeMoney"] = tick["TradeMoney"].round(2)
tick.head()

,SecurityID,TradeTime,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,TransactTime
0,600507,2019120909250000,89900.0,5500,494450000.0,95642,92920,92500000
1,600507,2019120909250000,89900.0,100,8990000.0,104678,92920,92500000
2,600507,2019120909250000,89900.0,1200,107880000.0,104499,92920,92500000
3,600507,2019120909250000,89900.0,100,8990000.0,14229,92920,92500000
4,600507,2019120909250000,89900.0,3000,269700000.0,96423,92920,92500000

In [69]:
tick["TradeMoney"] = tick["TradeMoney"].round(2)
tick["TradePrice"] = tick["TradePrice"].round(2)
columns = ["TransactTime", "SecurityID", "TradeQty","TradePrice","TradeMoney",
           "BidApplSeqNum", "OfferApplSeqNum"]
n1 = len(SH["SecurityID"].unique())
n2 = len(tick["SecurityID"].unique())
print(n1)
print(n2)
if n1 > n2:
    SH = SH[SH["SecurityID"].isin(tick["SecurityID"].unique())]
if n2 > n1:
    tick = tick[tick["SecurityID"].isin(SH["SecurityID"].unique())]
re = pd.merge(SH, tick, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo"].count()
n2 = re["TradeTime"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["TradeTime"])])
    print(len(re[np.isnan(re["TradeTime"])]))
    print(np.sort(re[np.isnan(re["TradeTime"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["TradeTime"])]["SecurityID"].unique()))
    print(re[np.isnan(re["TradeTime"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo"])])
    print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

1538
1538
11042718
11042838
11042930
-----------------------------------------------

'test is not complete:'

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,TradeTime
97227,1.575855e+15,2368779.0,1.0,93001670,19585.0,603390,F,B,181900,200,36380000,135685,133976,NaN
97228,1.575855e+15,2368780.0,1.0,93001670,19586.0,600848,F,B,243500,800,194800000,135693,132880,NaN
97229,1.575855e+15,2368781.0,1.0,93001670,19587.0,600061,F,B,115000,500,57500000,135697,124434,NaN
97230,1.575855e+15,2368782.0,1.0,93001670,19590.0,601555,F,B,87600,1600,140160000,135730,100316,NaN
97231,1.575855e+15,2368783.0,1.0,93001670,19592.0,600406,F,S,209200,200,41840000,132861,135738,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97314,1.575855e+15,2368868.0,1.0,93001510,21449.0,601615,F,S,124300,900,111870000,129047,138733,NaN
97315,1.575855e+15,2368869.0,1.0,93001510,21450.0,600988,F,B,46200,500,23100000,138736,136620,NaN
97316,1.575855e+15,2368870.0,1.0,93001510,21451.0,600252,F,S,30100,1400,42140000,137807,138737,NaN
97317,1.575855e+15,2368871.0,1.0,93001510,21452.0,600252,F,S,30100,11400,343140000,137841,138737,NaN
97318,1.575855e+15,2368872.0,1.0,93001510,21453.0,600252,F,S,30100,7200,216720000,138145,138737,NaN

92
[93001510 93001670]
49
[603390 600848 600061 601555 600406 600576 603369 603348 600460 600490
 600188 600908 603823 603608 600606 600273 601865 603773 601872 600107
 601099 601318 603019 600633 600571 603533 603313 600025 601599 600212
 601608 601988 601330 600198 600485 603012 600252 600329 603718 601881
 600249 603283 603009 603005 600740 601116 600986 601615 600988]

In [70]:
tick[(tick["SecurityID"] == 603390) & (tick["TransactTime"] == 93001670) & (tick["TradeQty"] == 33518)]

Empty DataFrame
Columns: [SecurityID, TradeTime, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum, TransactTime]
Index: []

In [71]:
SH[(SH["SecurityID"] == 603390) & (SH["TransactTime"] == 93001670)& (SH["TradeQty"] == 33518)]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, ExecType, TradeBSFlag, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum]
Index: []

In [6]:
n1 = len(SH["SecurityID"].unique())
n2 = len(tick["SecurityID"].unique())
tick = tick.reset_index(drop=True)
tick["innerSeq"] = tick.index.values
print(n1)
print(n2)
if n1 > n2:
    SH = SH[SH["SecurityID"].isin(tick["SecurityID"].unique())]
if n2 > n1:
    tick = tick[tick["SecurityID"].isin(SH["SecurityID"].unique())]
columns = ["TransactTime", "SecurityID", "TradeQty",
           "BidApplSeqNum", "OfferApplSeqNum"]
stocks = SH["SecurityID"].unique()
m = 0
diff = []
for i in stocks:
    re1 = pd.merge(SH[SH["SecurityID"] == i], tick[tick["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
    if (sorted(re1["innerSeq"]) != re1["innerSeq"]).any() == False:
        m = m + 1
    else:
        diff.append(i)
if m == len(stocks):
    print("SHE Trade Data have same ordering within stocks")
else:
    print("SHE Trade Data don't have same ordering within stocks")

1538
1538
SHE Trade Data have same ordering within stocks

In [32]:
display(re[np.isnan(re["sequenceNo"])])
print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
display(n2-n1)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice_x,TradeQty,TradeMoney_x,BidApplSeqNum,OfferApplSeqNum,TradeTime,TradePrice_y,TradeMoney_y
11042718,NaN,NaN,NaN,150500160,NaN,688101,NaN,NaN,NaN,2000,NaN,139,143,2.019121e+15,189700.0,379400000.0
11042719,NaN,NaN,NaN,150500160,NaN,688008,NaN,NaN,NaN,500,NaN,146,153,2.019121e+15,719000.0,359500000.0
11042720,NaN,NaN,NaN,150500160,NaN,688009,NaN,NaN,NaN,500,NaN,108,81,2.019121e+15,66900.0,33450000.0
11042721,NaN,NaN,NaN,150500160,NaN,688009,NaN,NaN,NaN,200,NaN,169,81,2.019121e+15,66900.0,13380000.0
11042722,NaN,NaN,NaN,150500160,NaN,688012,NaN,NaN,NaN,267,NaN,199,198,2.019121e+15,784000.0,209328000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11042925,NaN,NaN,NaN,152821020,NaN,688003,NaN,NaN,NaN,200,NaN,436,607,2.019121e+15,257500.0,51500000.0
11042926,NaN,NaN,NaN,152823580,NaN,688007,NaN,NaN,NaN,200,NaN,221,608,2.019121e+15,259800.0,51960000.0
11042927,NaN,NaN,NaN,152908970,NaN,688139,NaN,NaN,NaN,788,NaN,582,614,2.019121e+15,269400.0,212287200.0
11042928,NaN,NaN,NaN,152910200,NaN,688036,NaN,NaN,NaN,700,NaN,205,616,2.019121e+15,397700.0,278390000.0
11042929,NaN,NaN,NaN,152934580,NaN,688009,NaN,NaN,NaN,1000,NaN,386,618,2.019121e+15,66900.0,66900000.0

[150500160 150500370 150509040 150509320 150509850 150512340 150521270
 150524360 150531670 150532060 150533890 150537310 150537860 150540190
 150545400 150552630 150554630 150555930 150601970 150603010 150606480
 150613080 150615350 150616950 150623750 150623790 150626180 150627860
 150628810 150630330 150631260 150640580 150644890 150651280 150655360
 150702310 150704220 150715460 150724510 150730370 150735490 150736440
 150750150 150751250 150829710 150836820 150847150 150850050 150852970
 150857570 150859480 150908590 150923040 150934390 150935560 150938600
 150939590 150940860 150947360 150951740 150953740 151020840 151026000
 151035600 151041380 151048600 151121550 151127090 151130890 151131810
 151154570 151159780 151206930 151209480 151221640 151221720 151227110
 151241030 151247840 151308250 151329330 151329360 151330830 151336770
 151354260 151412160 151418730 151420180 151428930 151429590 151445740
 151449690 151453920 151455240 151514130 151542060 151549380 151549760
 151612690 151613580 151626700 151629990 151636760 151638510 151646970
 151737330 151744800 151745380 151747590 151747890 151759140 151806890
 151816660 151821960 151844400 151919530 151920530 151939040 151943580
 151948940 152007360 152009320 152023660 152030110 152044400 152151230
 152200110 152312180 152322040 152405370 152407030 152432240 152524810
 152642800 152659250 152702820 152730720 152734860 152742930 152743380
 152815880 152821020 152823580 152908970 152910200 152934580]
39
[688101 688008 688009 688012 688029 688033 688369 688002 688099 688036
 688128 688196 688028 688007 688010 688015 688368 688058 688030 688138
 688022 688321 688288 688025 688388 688066 688299 688300 688088 688003
 688139 688108 688116 688122 688111 688202 688098 688011 688199]

120

## SZ1

In [50]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_snap1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_snap_spot\am_hq_snap_spot.txt", header=None).iloc[:, :22]
am_snap1.columns = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
am_snap2 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_snap_level_spot\am_snap_level_spot.txt",header=None)
am_snap2.columns = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]

logSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdLog_SZ_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
sl = logSZ["StockID"].unique()
am_snap1 = am_snap1[am_snap1["SecurityID"].isin(sl)]
am_snap2 = am_snap2[am_snap2["SecurityID"].isin(sl)]
am_snap2["time"] = am_snap2["OrigTime"] - 20190315000000000
am = pd.merge(am_snap2[['Date',"OrigTime","SecurityID",'ask1p','bid1p',"ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p',
                            'bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p','bid5p',"ask5q","bid5q","time"]], am_snap1[['Date',
                            "OrigTime","SecurityID",'close','cum_volume',"cum_amount","openPrice"]], on=['Date',"OrigTime","SecurityID"])
am.rename(columns={"SecurityID":"StockID"})

pm_snap1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_snap_spot\pm_hq_snap_spot.txt", header=None).iloc[:, :22]
pm_snap1.columns = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase"]
pm_snap2 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_snap_level_spot\pm_snap_level_spot.txt",header=None)
pm_snap2.columns = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
pm_snap1 = pm_snap1[pm_snap1["SecurityID"].isin(sl)]
pm_snap2 = pm_snap2[pm_snap2["SecurityID"].isin(sl)]
pm_snap2["time"] = pm_snap2["OrigTime"] - 20190315000000000
pm = pd.merge(pm_snap2[['Date',"OrigTime","SecurityID",'ask1p','bid1p',"ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p',
                            'bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p','bid5p',"ask5q","bid5q","time"]], pm_snap1[['Date',
                            "OrigTime","SecurityID",'close','cum_volume',"cum_amount","openPrice"]], on=['Date',"OrigTime","SecurityID"])
logSZ1 = pd.concat([am, pm]).sort_values(by=["SecurityID", "OrigTime"])
logSZ1 = logSZ1.rename(columns={"SecurityID":"StockID"})
logSZ1['time'] = (logSZ1['OrigTime'] - 20190315000000000).astype(int)


display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 144500000) & (logSZ["time"] <= 145000000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 144500000) & (logSZ1["time"] <= 145000000)])

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (51,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyboardInterrupt:

In [18]:
pm_snap1["t1"] = am_snap1["OrigTime"] - 20190315000000000
am_snap1["t2"] = am_snap1["SendTime"] - 20190315000000000
am_snap1["t3"] = am_snap1["ercvtime"] - 20190315000000000
am_snap1["t4"] = am_snap1["dbtime"] - 20190315000000000
am_snap1['d1'] = am_snap1["t2"] - am_snap1["t1"]
am_snap1['d2'] = am_snap1["t3"] - am_snap1["t2"]
am_snap1['d3'] = am_snap1["t4"] - am_snap1["t3"]
display(am_snap1['d1'].describe())
display(am_snap1['d2'].describe())
display(am_snap1['d3'].describe([0.3, 0.4, 0.42]))

count    4.367037e+06
mean     5.273091e+02
std      2.604432e+02
min      6.400000e+01
25%      3.100000e+02
50%      5.330000e+02
75%      7.430000e+02
max      2.226000e+03
Name: d1, dtype: float64

count    4.367037e+06
mean     5.822950e+06
std      2.927982e+06
min     -7.707358e+07
25%      3.373503e+06
50%      6.401650e+06
75%      8.437335e+06
max      9.302084e+06
Name: d2, dtype: float64

count    4.367037e+06
mean    -3.569624e+01
std      1.432388e+05
min     -8.000000e+07
30%      0.000000e+00
40%      0.000000e+00
42%      1.000000e+00
50%      1.000000e+00
max      8.000000e+07
Name: d3, dtype: float64

In [7]:
display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 144500000) & (logSZ["time"] <= 145000000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 144500000) & (logSZ1["time"] <= 145000000)])

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
15515384,1552632319565482,105980758,4,1,SZ,144500000,98516870,1.236077e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,20400,299400,107724,205560,338920,12.34
15515404,1552632319576685,105980839,3,1,SZ,144500000,98516870,1.236077e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,20400,299400,107724,205560,338920,12.34
15518917,1552632322602110,106004717,3,1,SZ,144503000,98529170,1.236231e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,63600,246900,107724,205560,338920,12.34
15519070,1552632322645478,106005077,4,1,SZ,144503000,98529170,1.236231e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,63600,246900,107724,205560,338920,12.34
15522705,1552632325636375,106027952,4,1,SZ,144506000,98603870,1.237165e+09,12.52,12.50,...,12.52,12.53,12.54,12.55,51300,240000,107724,205860,338920,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15867699,1552632613635301,108513225,4,1,SZ,144954000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,24108,93300,55500,185615,88840,12.34
15871022,1552632616566338,108539518,3,1,SZ,144957000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,20308,91700,55500,186615,88840,12.34
15871285,1552632616635533,108540198,4,1,SZ,144957000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,20308,91700,55500,186615,88840,12.34
15874661,1552632619566277,108567120,4,1,SZ,145000000,100302055,1.258372e+09,12.47,12.46,...,12.48,12.49,12.50,12.51,21808,91700,55500,186615,88840,12.34
15874675,1552632619566698,108567134,3,1,SZ,145000000,100302055,1.258372e+09,12.47,12.46,...,12.48,12.49,12.50,12.51,21808,91700,55500,186615,88840,12.34

,Date,OrigTime,StockID,ask1p,bid1p,ask1q,bid1q,ask2p,bid2p,ask2q,...,bid4q,ask5p,bid5p,ask5q,bid5q,time,close,cum_volume,cum_amount,openPrice
3502976,20190315,20190315144500000,1,12.51,12.50,20400,125385,12.52,12.49,299400,...,93700,12.55,12.46,338920,89700,144500000,12.51,98516870,1.236077e+09,12.34
3504880,20190315,20190315144503000,1,12.51,12.50,63600,184785,12.52,12.49,246900,...,160800,12.55,12.46,338920,156800,144503000,12.51,98529170,1.236231e+09,12.34
3506714,20190315,20190315144506000,1,12.51,12.50,51300,189385,12.52,12.49,240000,...,160800,12.55,12.46,338920,156800,144506000,12.52,98603870,1.237165e+09,12.34
3508541,20190315,20190315144509000,1,12.51,12.50,94400,191885,12.52,12.49,239900,...,160800,12.55,12.46,338920,156800,144509000,12.51,98605870,1.237190e+09,12.34
3510201,20190315,20190315144512000,1,12.51,12.50,90900,192285,12.52,12.49,240900,...,160800,12.55,12.46,338920,147400,144512000,12.50,98610270,1.237245e+09,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3679336,20190315,20190315144948000,1,12.47,12.46,23708,258200,12.48,12.45,93700,...,283164,12.51,12.42,88840,203100,144948000,12.47,100285755,1.258169e+09,12.34
3681175,20190315,20190315144951000,1,12.47,12.46,23308,263200,12.48,12.45,93300,...,283464,12.51,12.42,88840,203100,144951000,12.47,100288755,1.258206e+09,12.34
3683014,20190315,20190315144954000,1,12.47,12.46,24108,265200,12.48,12.45,93300,...,283464,12.51,12.42,88840,203100,144954000,12.46,100291855,1.258245e+09,12.34
3684841,20190315,20190315144957000,1,12.47,12.46,20308,273200,12.48,12.45,91700,...,280164,12.51,12.42,88840,203100,144957000,12.46,100291855,1.258245e+09,12.34
3686587,20190315,20190315145000000,1,12.47,12.46,21808,201700,12.48,12.45,91700,...,281264,12.51,12.42,88840,203100,145000000,12.47,100302055,1.258372e+09,12.34

In [5]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) & (logSZ["source"] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]
n1 = len(data1["StockID"].unique())
n2 = len(data2["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1 = data1[data1["StockID"].isin(data2["StockID"].unique())]
if n2 > n1:
    data2 = data2[data2["StockID"].isin(data1["StockID"].unique())]
p = pd.merge(data1, data2, on=["StockID", "time"], how="outer")
display(p[p["openPrice_x"].isnull()].groupby("time")["StockID"].unique())
display(p[p["openPrice_y"].isnull()].groupby("time")["StockID"].unique())
display(len(p[p["openPrice_x"].isnull()]))
display(len(p[p["openPrice_y"].isnull()]))

Series([], Name: StockID, dtype: float64)

time
114503000    [300002, 300005, 300007, 300008, 300013, 30001...
114600000    [1, 10, 11, 2, 4, 6, 7, 16, 17, 19, 20, 5, 8, ...
114603000    [300002, 300005, 300007, 300008, 300013, 30001...
114700000    [1, 10, 2, 4, 6, 7, 16, 17, 19, 20, 5, 8, 9, 1...
114703000    [300002, 300005, 300007, 300008, 300013, 30001...
                                   ...
124203000    [300002, 300005, 300007, 300008, 300013, 30001...
124300000    [1, 10, 2, 4, 6, 7, 16, 17, 19, 20, 5, 8, 9, 1...
124303000    [300002, 300005, 300007, 300008, 300013, 30001...
124400000    [5, 1, 10, 2, 4, 6, 7, 16, 17, 19, 20, 18, 26,...
124403000    [300002, 300005, 300007, 300008, 300013, 30001...
Name: StockID, Length: 119, dtype: object

0

126118

In [3]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) & (logSZ["source"] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo"].count()
n2 = test["OrigTime"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["OrigTime"])])
    print(len(test[np.isnan(test["OrigTime"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo"])])
    display(n2-n1)

2125
2125
8145194
8145194
8145194
-----------------------------------------------

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_trade = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_trade_spot\am_hq_trade_spot.txt",header=None)
am_trade.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]
pm_trade = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_trade_spot\pm_hq_trade_spot.txt",header=None)
pm_trade.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]

TradeLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdTradeLog_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLogSZ = TradeLog[TradeLog["exchId"] != 1]
del TradeLog
sl = TradeLogSZ["SecurityID"].unique()
am_trade = am_trade[am_trade["SecurityID"].isin(sl)]
pm_trade = pm_trade[pm_trade["SecurityID"].isin(sl)]
TradeLogSZ1 = pd.concat([am_trade, pm_trade])[["ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum","OrigTime","SendTime","recvtime","dbtime",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]]
TradeLogSZ1["TransactTime"] = TradeLogSZ1["TransactTime"] - 20190315000000000 
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
print(TradeLogSZ[TradeLogSZ["SecurityID"] == 2].head())
print(TradeLogSZ1[TradeLogSZ1["SecurityID"] == 2].head())

2125
2125
       clockAtArrival  sequenceNo  exchId  TransactTime  ApplSeqNum  \
305  1552612530474039      348711       2      91501230       49005
828  1552612538087900      490976       2      91502400       83986
885  1552612538401008      496142       2      91502440       85132
886  1552612538401025      496150       2      91502440       85140
914  1552612538512746      498227       2      91502460       85620

     SecurityID ExecType TradeBSFlag  TradePrice  TradeQty  TradeMoney  \
305           2        4           N           0      4500           0
828           2        4           N           0      1700           0
885           2        4           N           0       100           0
886           2        4           N           0       100           0
914           2        4           N           0       500           0

     BidApplSeqNum  OfferApplSeqNum
305              0            43049
828          83356                0
885          79675                0
886          85136                0
914          63300                0
      ApplSeqNum  SecurityID  SecurityIDSource  BidApplSeqNum  \
460        49005           2               102              0
997        83986           2               102          83356
1055       85132           2               102          79675
1056       85140           2               102          85136
1084       85620           2               102          63300

               OrigTime           SendTime           recvtime  \
460   20190315091501230  20190315091511031  20190315091524595
997   20190315091502400  20190315091518645  20190315091535951
1055  20190315091502440  20190315091518956  20190315091536328
1056  20190315091502440  20190315091518956  20190315091536329
1084  20190315091502460  20190315091519071  20190315091536473

                 dbtime  OfferApplSeqNum  TradePrice  TradeQty ExecType  \
460   20190315091524595            43049         0.0      4500        4
997   20190315091535951                0         0.0      1700        4
1055  20190315091536328                0         0.0       100        4
1056  20190315091536329                0         0.0       100        4
1084  20190315091536474                0         0.0       500        4

      TransactTime
460       91501230
997       91502400
1055      91502440
1056      91502440
1084      91502460

In [8]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeQty","BidApplSeqNum","OfferApplSeqNum"]
re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo"].count()
n2 = re["OrigTime"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["OrigTime"])])
    print(len(re[np.isnan(re["OrigTime"])]))
    print(np.sort(re[np.isnan(re["OrigTime"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["OrigTime"])]["SecurityID"].unique()))
    print(re[np.isnan(re["OrigTime"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo"])])
    print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

31810282
31810282
31810282
-----------------------------------------------

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_order = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_order_spot\am_hq_order_spot.txt",header=None)
am_order.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "Price",
                   "OrderQty","TransactTime","Side","OrderType","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
pm_order = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_order_spot\pm_hq_order_spot.txt",header=None)
pm_order.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "Price",
                   "OrderQty","TransactTime","Side","OrderType","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]


OrderLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdOrderLog_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
sl = OrderLog["SecurityID"].unique()
am_order = am_order[am_order["SecurityID"].isin(sl)]
pm_order = pm_order[pm_order["SecurityID"].isin(sl)]
OrderLog1 = pd.concat([am_order, pm_order])[["TransactTime", "OrigTime","SendTime","recvtime","dbtime","ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]]
OrderLog1["TransactTime"] = OrderLog1["TransactTime"] - 20190315000000000
print(len(OrderLog["SecurityID"].unique()))
print(len(OrderLog1["SecurityID"].unique()))
print(OrderLog[OrderLog["SecurityID"] == 2].head())
print(OrderLog1[OrderLog1["SecurityID"] == 2].head())

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2125
2125
        clockAtArrival  sequenceNo  exchId  TransactTime  ApplSeqNum  \
2924  1552612519613409      162812       2      91500000         312
3119  1552612519621179      163278       2      91500000         512
3140  1552612519622739      163354       2      91500010         534
3262  1552612519623387      163492       2      91500010         659
3596  1552612519624278      163835       2      91500020         977

      SecurityID  Side OrderType   Price  OrderQty
2924           2     2         2  281000      5000
3119           2     2         2  277700      5000
3140           2     2         2  280000       100
3262           2     1         2  260100       400
3596           2     2         2  300000       800
      TransactTime           OrigTime           SendTime           recvtime  \
3453      91500000  20190315091500000  20190315091500230  20190315091502060
3748      91500000  20190315091500000  20190315091500239  20190315091502081
3770      91500010  20190315091500010  20190315091500240  20190315091502082
3948      91500010  20190315091500010  20190315091500244  20190315091502095
4353      91500020  20190315091500020  20190315091500256  20190315091502124

                 dbtime  ApplSeqNum  Side OrderType  Price  OrderQty  \
3453  20190315091502061         312     2         2  28.10      5000
3748  20190315091502081         512     2         2  27.77      5000
3770  20190315091502083         534     2         2  28.00       100
3948  20190315091502096         659     1         2  26.01       400
4353  20190315091502125         977     2         2  30.00       800

      SecurityID
3453           2
3748           2
3770           2
3948           2
4353           2

In [2]:
print(am_order["OrderType"].unique())

[2 1 '2' '1' 'U']

In [21]:
OrderLog["OrderType"] = OrderLog["OrderType"].apply(lambda x: str(x))
OrderLog1["OrderType"] = OrderLog1["OrderType"].apply(lambda x: str(x))
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'OrderQty', "SecurityID"]
ree = pd.merge(OrderLog, OrderLog1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo"].count()
n2 = ree["OrigTime"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["OrigTime"])])
    print(len(ree[np.isnan(ree["OrigTime"])]))
    print(np.sort(ree[np.isnan(ree["OrigTime"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["OrigTime"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["OrigTime"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

35723026
35723026
35723026
-----------------------------------------------

In [ ]:
# TradeLogSZ1["tradeseq"] = TradeLogSZ1.index.values
# OrderLog1["orderseq"] = OrderLog1.index.values
# SZ = pd.concat([TradeLogSZ, OrderLog]).sort_values(by=["sequenceNo", "clockAtArrival"])
SZ1 = pd.concat([TradeLogSZ1, OrderLog1])

print(len(SZ["SecurityID"].unique()))
print(len(SZ1["SecurityID"].unique()))
SZ1 = SZ1.reset_index(drop=True)
SZ1["innerSeq"] = SZ1.index.values
columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeQty",
           "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "OrderQty"]
stocks = SZ["SecurityID"].unique()
m = 0
diff = []
for i in stocks:
    re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
    if (sorted(re1["innerSeq"]) != re1["innerSeq"]).any() == False:
        m = m + 1
    else:
        diff.append(i)
if m == len(stocks):
    print("SZE Trade + Order Data have same ordering within stocks")
print(m)
print(diff)

if len(diff) != 0:
    for i in diff:
        re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
        display(re1[sorted(re1["innerSeq"]) != re1["innerSeq"]])

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
SZ[(SZ["SecurityID"] == 2) & (SZ["TransactTime"] > 93000000)]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival,exchId,sequenceNo
1051511,320066,NaN,NaN,NaN,1300.0,2,275100.0,2,2.0,NaN,NaN,NaN,NaN,93000010,1552613419719553,2,1848219
1053144,321279,NaN,NaN,NaN,500.0,2,275100.0,2,1.0,NaN,NaN,NaN,NaN,93000020,1552613419959041,2,1852797
269416,321280,321279.0,F,276432.0,NaN,NaN,NaN,2,NaN,N,137550000.0,275100.0,500.0,93000020,1552613419959043,2,1852798
1053416,321498,NaN,NaN,NaN,300.0,2,295400.0,2,2.0,NaN,NaN,NaN,NaN,93000020,1552613419973955,2,1853264
1054949,322197,NaN,NaN,NaN,1000.0,2,275100.0,2,1.0,NaN,NaN,NaN,NaN,93000030,1552613420129062,2,1856432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48775390,17782973,17761882.0,F,17781165.0,NaN,NaN,NaN,2,NaN,N,225402100.0,280700.0,803.0,150000000,1552633219887232,2,113105039
48775391,17782974,17761882.0,F,17781814.0,NaN,NaN,NaN,2,NaN,N,28070000.0,280700.0,100.0,150000000,1552633219887234,2,113105040
48775392,17782975,17761882.0,F,17781961.0,NaN,NaN,NaN,2,NaN,N,28070000.0,280700.0,100.0,150000000,1552633219887236,2,113105041
48775393,17782976,17761882.0,F,17782338.0,NaN,NaN,NaN,2,NaN,N,251787900.0,280700.0,897.0,150000000,1552633219887238,2,113105042
48775394,17782977,17763166.0,F,17782338.0,NaN,NaN,NaN,2,NaN,N,56982100.0,280700.0,203.0,150000000,1552633219887240,2,113105043

In [20]:
SZ1[(SZ1["SecurityID"] == 2) & (SZ1["TransactTime"] > 93000000)].sort_values(by=["TransactTime", "ApplSeqNum"])

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,OrigTime,Price,SecurityID,SecurityIDSource,Side,TradePrice,TradeQty,TransactTime,orderseq,tradeseq,innerSeq
1223278,320066,NaN,NaN,NaN,1300.0,2,20190315093000010,27.51,2,NaN,2.0,NaN,NaN,93000010,1092755.0,NaN,1223278
1228093,321279,NaN,NaN,NaN,500.0,2,20190315093000020,27.51,2,NaN,1.0,NaN,NaN,93000020,1094994.0,NaN,1228093
1229375,321280,321279.0,F,276432.0,NaN,NaN,20190315093000020,NaN,2,102.0,NaN,27.51,500.0,93000020,NaN,178313.0,1229375
1228214,321498,NaN,NaN,NaN,300.0,2,20190315093000020,29.54,2,NaN,2.0,NaN,NaN,93000020,1095272.0,NaN,1228214
1230781,322197,NaN,NaN,NaN,1000.0,2,20190315093000030,27.51,2,NaN,1.0,NaN,NaN,93000030,1097158.0,NaN,1230781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67302186,17782973,17761882.0,F,17781165.0,NaN,NaN,20190315150000000,NaN,2,102.0,NaN,28.07,803.0,150000000,NaN,13883732.0,67302186
67302187,17782974,17761882.0,F,17781814.0,NaN,NaN,20190315150000000,NaN,2,102.0,NaN,28.07,100.0,150000000,NaN,13883733.0,67302187
67302188,17782975,17761882.0,F,17781961.0,NaN,NaN,20190315150000000,NaN,2,102.0,NaN,28.07,100.0,150000000,NaN,13883734.0,67302188
67302189,17782976,17761882.0,F,17782338.0,NaN,NaN,20190315150000000,NaN,2,102.0,NaN,28.07,897.0,150000000,NaN,13883735.0,67302189
67302190,17782977,17763166.0,F,17782338.0,NaN,NaN,20190315150000000,NaN,2,102.0,NaN,28.07,203.0,150000000,NaN,13883736.0,67302190

## SZ2 (æ·±äº¤æ‰€æ•°æ®ï¼‰

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

snap1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315(æ·±äº¤æ‰€æ•°æ®)\hq_snap\hq_snap.txt", header=None, encoding="UTF-8-sig").iloc[:, :22]
snap1.columns = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase"]
snap2 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315(æ·±äº¤æ‰€æ•°æ®)\snap_level\snap_level.txt",header=None, encoding="UTF-8-sig")
snap2.columns = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]

logSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdLog_SZ_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
sl = logSZ["StockID"].unique()
snap2["SecurityID"] = snap2["SecurityID"].astype(int)
snap1["SecurityID"] = snap1["SecurityID"].astype(int)
snap1 = snap1[snap1["SecurityID"].isin(sl)]
snap2 = snap2[snap2["SecurityID"].isin(sl)]
snap2["time"] = snap2["OrigTime"] - 20190315000000000
logSZ1 = pd.merge(snap2[['Date',"OrigTime","SecurityID",'ask1p','bid1p',"ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p',
                            'bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p','bid5p',"ask5q","bid5q","time"]], snap1[['Date',
                            "OrigTime","SecurityID",'close','cum_volume',"cum_amount","openPrice"]], on=['Date',"OrigTime","SecurityID"])
logSZ1 = logSZ1.rename(columns={"SecurityID":"StockID"})

display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 144500000) & (logSZ["time"] <= 145000000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 144500000) & (logSZ1["time"] <= 145000000)])

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
15515384,1552632319565482,105980758,4,1,SZ,144500000,98516870,1.236077e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,20400,299400,107724,205560,338920,12.34
15515404,1552632319576685,105980839,3,1,SZ,144500000,98516870,1.236077e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,20400,299400,107724,205560,338920,12.34
15518917,1552632322602110,106004717,3,1,SZ,144503000,98529170,1.236231e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,63600,246900,107724,205560,338920,12.34
15519070,1552632322645478,106005077,4,1,SZ,144503000,98529170,1.236231e+09,12.51,12.50,...,12.52,12.53,12.54,12.55,63600,246900,107724,205560,338920,12.34
15522705,1552632325636375,106027952,4,1,SZ,144506000,98603870,1.237165e+09,12.52,12.50,...,12.52,12.53,12.54,12.55,51300,240000,107724,205860,338920,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15867699,1552632613635301,108513225,4,1,SZ,144954000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,24108,93300,55500,185615,88840,12.34
15871022,1552632616566338,108539518,3,1,SZ,144957000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,20308,91700,55500,186615,88840,12.34
15871285,1552632616635533,108540198,4,1,SZ,144957000,100291855,1.258245e+09,12.46,12.46,...,12.48,12.49,12.50,12.51,20308,91700,55500,186615,88840,12.34
15874661,1552632619566277,108567120,4,1,SZ,145000000,100302055,1.258372e+09,12.47,12.46,...,12.48,12.49,12.50,12.51,21808,91700,55500,186615,88840,12.34
15874675,1552632619566698,108567134,3,1,SZ,145000000,100302055,1.258372e+09,12.47,12.46,...,12.48,12.49,12.50,12.51,21808,91700,55500,186615,88840,12.34

,Date,OrigTime,StockID,ask1p,bid1p,ask1q,bid1q,ask2p,bid2p,ask2q,...,bid4q,ask5p,bid5p,ask5q,bid5q,time,close,cum_volume,cum_amount,openPrice
249,20190315,20190315144500000,1,12.51,12.50,20400.0,125385.0,12.52,12.49,299400.0,...,93700.0,12.55,12.46,338920.0,89700.0,144500000,12.51,98516870.0,1.236077e+09,12.34
250,20190315,20190315144503000,1,12.51,12.50,63600.0,184785.0,12.52,12.49,246900.0,...,160800.0,12.55,12.46,338920.0,156800.0,144503000,12.51,98529170.0,1.236231e+09,12.34
251,20190315,20190315144506000,1,12.51,12.50,51300.0,189385.0,12.52,12.49,240000.0,...,160800.0,12.55,12.46,338920.0,156800.0,144506000,12.52,98603870.0,1.237165e+09,12.34
252,20190315,20190315144509000,1,12.51,12.50,94400.0,191885.0,12.52,12.49,239900.0,...,160800.0,12.55,12.46,338920.0,156800.0,144509000,12.51,98605870.0,1.237190e+09,12.34
253,20190315,20190315144512000,1,12.51,12.50,90900.0,192285.0,12.52,12.49,240900.0,...,160800.0,12.55,12.46,338920.0,147400.0,144512000,12.50,98610270.0,1.237245e+09,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,20190315,20190315144948000,1,12.47,12.46,23708.0,258200.0,12.48,12.45,93700.0,...,283164.0,12.51,12.42,88840.0,203100.0,144948000,12.47,100285755.0,1.258169e+09,12.34
346,20190315,20190315144951000,1,12.47,12.46,23308.0,263200.0,12.48,12.45,93300.0,...,283464.0,12.51,12.42,88840.0,203100.0,144951000,12.47,100288755.0,1.258206e+09,12.34
347,20190315,20190315144954000,1,12.47,12.46,24108.0,265200.0,12.48,12.45,93300.0,...,283464.0,12.51,12.42,88840.0,203100.0,144954000,12.46,100291855.0,1.258245e+09,12.34
348,20190315,20190315144957000,1,12.47,12.46,20308.0,273200.0,12.48,12.45,91700.0,...,280164.0,12.51,12.42,88840.0,203100.0,144957000,12.46,100291855.0,1.258245e+09,12.34
349,20190315,20190315145000000,1,12.47,12.46,21808.0,201700.0,12.48,12.45,91700.0,...,281264.0,12.51,12.42,88840.0,203100.0,145000000,12.47,100302055.0,1.258372e+09,12.34

In [5]:
import pandas as pd
pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315(æ·±äº¤æ‰€æ•°æ®)\hq_snap\hq_snap.txt", header=None, encoding="UTF-8-sig")

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,20190315,20190315143233000,20190315143233000,20190315143233000,20190315143233000,NaN,000001,102,10,12.43,...,12.22,0.0,0.0,0.0,13.67,11.19,NaN,NaN,NaN,NaN
1,20190315,20190315143236000,20190315143236000,20190315143236000,20190315143236000,NaN,000001,102,10,12.43,...,12.22,0.0,0.0,0.0,13.67,11.19,NaN,NaN,NaN,NaN
2,20190315,20190315143239000,20190315143239000,20190315143239000,20190315143239000,NaN,000001,102,10,12.43,...,12.22,0.0,0.0,0.0,13.67,11.19,NaN,NaN,NaN,NaN
3,20190315,20190315143242000,20190315143242000,20190315143242000,20190315143242000,NaN,000001,102,10,12.43,...,12.22,0.0,0.0,0.0,13.67,11.19,NaN,NaN,NaN,NaN
4,20190315,20190315143245000,20190315143245000,20190315143245000,20190315143245000,NaN,000001,102,10,12.43,...,12.22,0.0,0.0,0.0,13.67,11.19,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9777472,20190315,20190315145700000,20190315145700000,20190315145700000,20190315145700000,NaN,300762,102,10,23.44,...,25.70,0.0,0.0,0.0,25.78,21.10,NaN,NaN,NaN,NaN
9777473,20190315,20190315145703000,20190315145703000,20190315145703000,20190315145703000,NaN,300762,102,10,23.44,...,0.00,0.0,0.0,0.0,25.78,21.10,NaN,NaN,NaN,NaN
9777474,20190315,20190315145803000,20190315145803000,20190315145803000,20190315145803000,NaN,300762,102,10,23.44,...,0.00,0.0,0.0,0.0,25.78,21.10,NaN,NaN,NaN,NaN
9777475,20190315,20190315145903000,20190315145903000,20190315145903000,20190315145903000,NaN,300762,102,10,23.44,...,0.00,0.0,0.0,0.0,25.78,21.10,NaN,NaN,NaN,NaN
9777476,20190315,20190315150003000,20190315150003000,20190315150003000,20190315150003000,NaN,300762,102,10,23.44,...,25.70,0.0,0.0,0.0,25.78,21.10,NaN,NaN,NaN,NaN

In [5]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) & (logSZ["source"] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]
n1 = len(data1["StockID"].unique())
n2 = len(data2["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1 = data1[data1["StockID"].isin(data2["StockID"].unique())]
if n2 > n1:
    data2 = data2[data2["StockID"].isin(data1["StockID"].unique())]
p = pd.merge(data1, data2, on=["StockID", "time"], how="outer")
display(p[p["openPrice_x"].isnull()].groupby("time")["StockID"].unique())
display(p[p["openPrice_y"].isnull()].groupby("time")["StockID"].unique())
display(len(p[p["openPrice_x"].isnull()]))
display(len(p[p["openPrice_y"].isnull()]))
display(p[p["openPrice_y"].isnull()]["time"].unique())

2125
2125

Series([], Name: StockID, dtype: float64)

time
92603000     [10, 11, 23, 25, 35, 40, 42, 45, 61, 62, 66, 6...
92703000     [10, 11, 23, 25, 35, 40, 42, 45, 61, 62, 66, 6...
92803000     [10, 11, 23, 25, 35, 40, 42, 45, 61, 62, 66, 6...
92903000     [10, 11, 23, 25, 35, 40, 42, 45, 61, 62, 66, 6...
113003000    [300005, 300013, 300018, 300029, 300048, 30005...
                                   ...
125800000    [1, 10, 11, 2, 4, 6, 7, 16, 17, 19, 20, 18, 26...
125803000    [300010, 300014, 300015, 300019, 300021, 30002...
125900000    [1, 18, 10, 11, 23, 25, 35, 5, 8, 9, 12, 14, 3...
125903000    [300002, 300005, 300007, 300008, 300013, 30001...
143921000    [300160, 300163, 300165, 300195, 300203, 30020...
Name: StockID, Length: 184, dtype: object

0

197859

array([ 92603000,  92703000,  92803000,  92903000, 113003000, 113100000,
       113103000, 113200000, 113203000, 113300000, 113303000, 113400000,
       113403000, 113500000, 113503000, 113600000, 113603000, 113700000,
       113703000, 113800000, 113803000, 113900000, 113903000, 114000000,
       114003000, 114100000, 114103000, 114200000, 114203000, 114300000,
       114303000, 114400000, 114403000, 114500000, 114503000, 114600000,
       114603000, 114700000, 114703000, 114800000, 114803000, 114900000,
       114903000, 115000000, 115003000, 115100000, 115103000, 115200000,
       115203000, 115300000, 115303000, 115400000, 115403000, 115500000,
       115503000, 115600000, 115603000, 115700000, 115703000, 115800000,
       115803000, 115900000, 115903000, 120000000, 120003000, 120100000,
       120103000, 120200000, 120203000, 120300000, 120303000, 120400000,
       120403000, 120500000, 120503000, 120600000, 120603000, 120700000,
       120703000, 120800000, 120803000, 120900000, 120903000, 121000000,
       121003000, 121100000, 121103000, 121200000, 121203000, 121300000,
       121303000, 121400000, 121403000, 121500000, 121503000, 121600000,
       121603000, 121700000, 121703000, 121800000, 121803000, 121900000,
       121903000, 122000000, 122003000, 122100000, 122103000, 122200000,
       122203000, 122300000, 122303000, 122400000, 122403000, 122500000,
       122503000, 122600000, 122603000, 122700000, 122703000, 122800000,
       122803000, 122900000, 122903000, 123000000, 123003000, 123100000,
       123103000, 123200000, 123203000, 123300000, 123303000, 123400000,
       123403000, 123500000, 123503000, 123600000, 123603000, 123700000,
       123703000, 123800000, 123803000, 123900000, 123903000, 124000000,
       124003000, 124100000, 124103000, 124200000, 124203000, 124300000,
       124303000, 124400000, 124403000, 124500000, 124503000, 124600000,
       124603000, 124700000, 124703000, 124800000, 124803000, 124900000,
       124903000, 125000000, 125003000, 125100000, 125103000, 125200000,
       125203000, 125300000, 125303000, 125400000, 125403000, 125500000,
       125503000, 125600000, 125603000, 125700000, 125703000, 125800000,
       125803000, 125900000, 125903000, 143921000], dtype=int64)

In [2]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) & (logSZ["source"] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo"].count()
n2 = test["OrigTime"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["OrigTime"])])
    print(len(test[np.isnan(test["OrigTime"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo"])])
    display(n2-n1)

2125
2125
8145194
8136853
8145194
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,...,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,Date,OrigTime
2083,221580,1552613182548158,1808536,4,10,SZ,92603000,31100,1.153810e+05,3.71,...,3.82,10000,3500,1400,13300,11900,3.71,NaN,NaN,NaN
2084,221582,1552613182548178,1808538,4,11,SZ,92603000,39700,4.120860e+05,10.38,...,10.50,4200,3800,2000,3500,500,10.38,NaN,NaN,NaN
2085,221583,1552613182548197,1808539,4,23,SZ,92603000,9800,1.505280e+05,15.36,...,15.50,500,200,700,4000,800,15.36,NaN,NaN,NaN
2086,221584,1552613182548207,1808540,4,25,SZ,92603000,15330,4.966920e+05,32.40,...,32.49,100,4100,500,700,500,32.40,NaN,NaN,NaN
2087,221585,1552613182548215,1808541,4,35,SZ,92603000,16100,8.629600e+04,5.36,...,5.41,1000,6400,3000,900,3000,5.36,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7493924,15115785,1552631981170723,103304906,4,300203,SZ,143921000,8781202,2.558433e+08,28.88,...,28.96,4100,4000,3400,600,9800,29.41,NaN,NaN,NaN
7493925,15115786,1552631981170743,103304907,4,300205,SZ,143921000,11948548,1.387886e+08,11.83,...,11.87,10900,36100,15300,22700,17400,11.70,NaN,NaN,NaN
7493926,15115787,1552631981170749,103304908,4,300206,SZ,143921000,5012270,3.380031e+07,6.73,...,6.77,2900,13100,33300,15000,16200,6.63,NaN,NaN,NaN
7493927,15115788,1552631981170755,103304909,4,300208,SZ,143921000,8374684,5.837907e+07,6.94,...,6.98,9500,20100,29900,10800,51000,6.97,NaN,NaN,NaN
7493928,15115789,1552631981170798,103304910,4,2885,SZ,143921000,2047701,4.679054e+07,22.77,...,22.83,3200,1550,6000,600,1400,22.92,NaN,NaN,NaN

0.0010240394519762206

In [28]:
display(data1_1[(data1_1["StockID"] == 300163) & (data1_1["cum_volume"] == 4870479)][["bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q"]])
display(data2_1[(data2_1["StockID"] == 300163) & (data2_1["cum_volume"] == 4870479)][["bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q"]])

,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q
6998451,4.07,4.06,4.05,4.04,4.03,26000,35900,32800,35000,55000,4.08,4.09,4.1,4.11,4.12,33300,15900,60000,23700,7300

Empty DataFrame
Columns: [bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q]
Index: []

In [7]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

TradeLogSZ1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315(æ·±äº¤æ‰€æ•°æ®)\hq_trade\hq_trade.txt",header=None, encoding="UTF-8-sig")
TradeLogSZ1.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]
TradeLogSZ1["SecurityID"] = TradeLogSZ1["SecurityID"].astype(int)
TradeLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdTradeLog_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLogSZ = TradeLog[TradeLog["exchId"] != 1]
del TradeLog
sl = TradeLogSZ["SecurityID"].unique()
TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["SecurityID"].isin(sl)][["ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum","OrigTime",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]]
TradeLogSZ1["TransactTime"] = TradeLogSZ1["TransactTime"] - 20190315000000000 
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
TradeLogSZ1 = TradeLogSZ1.sort_values(by=["SecurityID","ApplSeqNum"])
print(TradeLogSZ[(TradeLogSZ["SecurityID"] == 2) & (TradeLogSZ["TradePrice"] != 0)].head())
print(TradeLogSZ1[(TradeLogSZ1["SecurityID"] == 2) & (TradeLogSZ1["TradePrice"] != 0)].head())

         clockAtArrival  sequenceNo  exchId  TransactTime  ApplSeqNum  \
31898  1552613119616713     1563065       2      92500000      282556
31899  1552613119616723     1563066       2      92500000      282557
31900  1552613119616728     1563067       2      92500000      282558
31901  1552613119616732     1563068       2      92500000      282559
31902  1552613119616737     1563069       2      92500000      282560

       SecurityID ExecType TradeBSFlag  TradePrice  TradeQty  TradeMoney  \
31898           2        F           N      275000       100    27500000
31899           2        F           N      275000       200    55000000
31900           2        F           N      275000       100    27500000
31901           2        F           N      275000       400   110000000
31902           2        F           N      275000       100    27500000

       BidApplSeqNum  OfferApplSeqNum
31898         211369           142026
31899         264616           153444
31900          55830           153444
31901          59997           153444
31902         121526           153444
       ApplSeqNum  SecurityID  SecurityIDSource  BidApplSeqNum  \
65258      282556           2               102         211369
64575      282557           2               102         264616
64536      282558           2               102          55830
65259      282559           2               102          59997
64576      282560           2               102         121526

                OrigTime  OfferApplSeqNum  TradePrice  TradeQty ExecType  \
65258  20190315092500000           142026        27.5     100.0        F
64575  20190315092500000           153444        27.5     200.0        F
64536  20190315092500000           153444        27.5     100.0        F
65259  20190315092500000           153444        27.5     400.0        F
64576  20190315092500000           153444        27.5     100.0        F

       TransactTime
65258      92500000
64575      92500000
64536      92500000
65259      92500000
64576      92500000

In [8]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeQty","BidApplSeqNum","OfferApplSeqNum"]
re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo"].count()
n2 = re["OrigTime"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["OrigTime"])])
    print(len(re[np.isnan(re["OrigTime"])]))
    print(np.sort(re[np.isnan(re["OrigTime"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["OrigTime"])]["SecurityID"].unique()))
    print(re[np.isnan(re["OrigTime"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo"])])
    print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)

31810282
31803026
31810282
-----------------------------------------------

'test is not complete:'

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice_x,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,SecurityIDSource,OrigTime,TradePrice_y
28717580,1552631976804381,103271957,2,143917310,16275383,2848,4,N,0,1000,0,16195293,0,NaN,NaN,NaN
28717582,1552631976804929,103271960,2,143917310,14673813,2339,4,N,0,14700,0,0,14435221,NaN,NaN,NaN
28717583,1552631976805151,103271962,2,143917310,14983243,300182,F,N,57700,1200,69240000,14971666,14983242,NaN,NaN,NaN
28717584,1552631976805155,103271963,2,143917310,14983244,300182,F,N,57700,100,5770000,14971713,14983242,NaN,NaN,NaN
28717585,1552631976805157,103271964,2,143917310,14983245,300182,F,N,57700,500,28850000,14971752,14983242,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28724832,1552631979807756,103295655,2,143920310,14677175,300705,4,N,0,1000,0,12920883,0,NaN,NaN,NaN
28724833,1552631979807919,103295657,2,143920310,16278852,2411,F,N,202300,1500,303450000,16278851,16272862,NaN,NaN,NaN
28724834,1552631979807922,103295658,2,143920310,16278853,2411,F,N,202300,1000,202300000,16278851,16275380,NaN,NaN,NaN
28724835,1552631979807924,103295659,2,143920310,16278854,2411,F,N,202300,100,20230000,16278851,16276965,NaN,NaN,NaN
28724836,1552631979808666,103295661,2,143920310,14677177,70,F,N,150700,300,45210000,14672265,14677176,NaN,NaN,NaN

7256
[143917310 143917320 143917330 143917340 143917350 143917360 143917370
 143917380 143917390 143917400 143917410 143917420 143917430 143917440
 143917450 143917460 143917470 143917480 143917490 143917500 143917510
 143917520 143917530 143917540 143917550 143917560 143917570 143917580
 143917590 143917600 143917610 143917620 143917630 143917640 143917650
 143917660 143917670 143917680 143917690 143917700 143917710 143917720
 143917730 143917740 143917750 143917760 143917770 143917780 143917790
 143917800 143917810 143917820 143917830 143917840 143917850 143917860
 143917870 143917880 143917890 143917900 143917910 143917920 143917930
 143917940 143917950 143917960 143917970 143917980 143917990 143918000
 143918010 143918020 143918030 143918040 143918050 143918060 143918070
 143918080 143918090 143918100 143918110 143918120 143918130 143918140
 143918150 143918160 143918170 143918180 143918190 143918200 143918210
 143918220 143918230 143918240 143918250 143918260 143918270 143918280
 143918290 143918300 143918310 143918320 143918330 143918340 143918350
 143918360 143918370 143918380 143918390 143918400 143918410 143918420
 143918430 143918440 143918450 143918460 143918470 143918480 143918490
 143918500 143918510 143918520 143918530 143918540 143918550 143918560
 143918570 143918580 143918590 143918600 143918610 143918620 143918630
 143918640 143918650 143918660 143918670 143918680 143918690 143918700
 143918710 143918720 143918730 143918740 143918750 143918760 143918770
 143918780 143918790 143918800 143918810 143918820 143918830 143918840
 143918850 143918860 143918870 143918880 143918890 143918900 143918910
 143918920 143918930 143918940 143918950 143918960 143918970 143918980
 143918990 143919000 143919010 143919020 143919030 143919040 143919050
 143919060 143919070 143919080 143919090 143919100 143919110 143919120
 143919130 143919140 143919150 143919160 143919170 143919180 143919190
 143919200 143919210 143919220 143919230 143919240 143919250 143919260
 143919270 143919280 143919290 143919300 143919310 143919320 143919330
 143919340 143919350 143919360 143919370 143919380 143919390 143919400
 143919410 143919420 143919430 143919440 143919450 143919460 143919470
 143919480 143919490 143919500 143919510 143919520 143919530 143919540
 143919550 143919560 143919570 143919580 143919590 143919600 143919610
 143919620 143919630 143919640 143919650 143919660 143919670 143919680
 143919690 143919700 143919710 143919720 143919730 143919740 143919750
 143919760 143919770 143919780 143919790 143919800 143919810 143919820
 143919830 143919840 143919850 143919860 143919870 143919880 143919890
 143919900 143919910 143919920 143919930 143919940 143919950 143919960
 143919970 143919980 143919990 143920000 143920010 143920020 143920030
 143920040 143920050 143920060 143920070 143920080 143920090 143920100
 143920110 143920120 143920130 143920140 143920150 143920160 143920170
 143920180 143920190 143920200 143920210 143920220 143920230 143920240
 143920250 143920260 143920270 143920280 143920290 143920300 143920310]
1490
[  2848   2339 300182 ... 300587 300577 300597]

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

OrderLog1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315(æ·±äº¤æ‰€æ•°æ®)\hq_order\hq_order.txt",header=None, encoding="UTF-8-sig")
OrderLog1.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "Price",
                   "OrderQty","TransactTime","Side","OrderType","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
OrderLog1["SecurityID"] = OrderLog1["SecurityID"].astype(int)

OrderLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20190315_zs_92_01_day_data\mdOrderLog_20190315_0857.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
sl = OrderLog["SecurityID"].unique()
OrderLog1 = OrderLog1[OrderLog1["SecurityID"].isin(sl)][["TransactTime", "OrigTime","ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]]
OrderLog1["TransactTime"] = OrderLog1["TransactTime"] - 20190315000000000
print(len(OrderLog["SecurityID"].unique()))
print(len(OrderLog1["SecurityID"].unique()))
OrderLog1 = OrderLog1.sort_values(by=["SecurityID", "ApplSeqNum"])
print(OrderLog[OrderLog["SecurityID"] == 2].head())
print(OrderLog1[OrderLog1["SecurityID"] == 2].head())

        clockAtArrival  sequenceNo  exchId  TransactTime  ApplSeqNum  \
2924  1552612519613409      162812       2      91500000         312
3119  1552612519621179      163278       2      91500000         512
3140  1552612519622739      163354       2      91500010         534
3262  1552612519623387      163492       2      91500010         659
3596  1552612519624278      163835       2      91500020         977

      SecurityID  Side OrderType   Price  OrderQty
2924           2     2         2  281000      5000
3119           2     2         2  277700      5000
3140           2     2         2  280000       100
3262           2     1         2  260100       400
3596           2     2         2  300000       800
        TransactTime           OrigTime  ApplSeqNum  Side OrderType  Price  \
156808      91500000  20190315091500000         312     2         2  28.10
156809      91500000  20190315091500000         512     2         2  27.77
156810      91500010  20190315091500010         534     2         2  28.00
156811      91500010  20190315091500010         659     1         2  26.01
156812      91500020  20190315091500020         977     2         2  30.00

        OrderQty  SecurityID
156808    5000.0           2
156809    5000.0           2
156810     100.0           2
156811     400.0           2
156812     800.0           2

In [ ]:
OrderLog["OrderType"] = OrderLog["OrderType"].apply(lambda x: str(x))
OrderLog1["OrderType"] = OrderLog1["OrderType"].apply(lambda x: str(x))
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'OrderQty', "SecurityID"]
ree = pd.merge(OrderLog, OrderLog1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo"].count()
n2 = ree["OrigTime"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["OrigTime"])])
    print(len(ree[np.isnan(ree["OrigTime"])]))
    print(np.sort(ree[np.isnan(ree["OrigTime"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["OrigTime"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["OrigTime"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo"])]["SecurityID"].unique())
    display(n2-n1)