## 1. Tianruan data check

In [ ]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

In [36]:
pd.set_option('max_columns', 200)

In [1]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

F2 = open('F:\\SZ.pkl', 'rb')
SZ = pickle.load(F2)
p1 = SZ[SZ["date"].isin(['2019-01-09', "2019-03-14", "2019-03-15"])].groupby(["ID", "date"]).first().reset_index()
p2 = SZ[SZ["date"].isin(['2019-01-09', "2019-03-14", "2019-03-15"])].groupby(["ID", "date"]).last().reset_index()
p3 = SZ[~SZ["date"].isin(['2019-01-09', "2019-03-14", "2019-03-15"])]
SZ = pd.concat([p1, p3])

readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200416\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
date = SZ["date"].unique()
date1 = db["date"].unique()
date1 = date1[(date1>=date.min()) & (date1 <= date.max())]
display(set(date1) - set(date))
db = db[db["date"].isin(date)]
s1 = SZ["ID"].unique()
s2 = db["ID"].unique()
ss = list(set(s1) & set(s2))
SZ = SZ[SZ["ID"].isin(ss)]
db = db[db["ID"].isin(ss)]

# 注意
# 1. diff里包括所有的不匹配，可能是close price造成的，需要在下一步验证
# 2. 第二次merge仍有不匹配，继续查找原因
# 3. 天软数据包括当天停牌的股票，openPrice == 0
# 4. 实际的收盘价调整是两次merge相减的结果
# 5. 深交所数据那天会重复
# 6. SZ包括当天停牌的股票，SH应该不包括，再确认
df = pd.merge(SZ, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"], how="outer")
if sum(df["d_amount_x"].isnull()) != 0:
    diff = df[df["d_amount_x"].isnull()][["ID", "date"]]
    df = pd.merge(SZ, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    if sum(df["d_amount_x"].isnull()) == 0:
        print("Not all stocks have same close price as Tianruan")
    else:
        print(df[df["d_amount_x"].isnull()])
        print(df[(df["d_amount_y"].isnull()) & (df["d_open"] != 0)])
else:
    print("All equal")
print(diff)
display(diff["ID"].unique())
display(len(diff["ID"].unique()))
display(diff["date"].unique())
display(len(diff["date"].unique()))

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

{'2019-04-01',
 '2019-04-04',
 '2019-05-16',
 '2019-08-22',
 '2019-09-03',
 '2019-11-19',
 '2019-11-20'}

Not all stocks have same close price as Tianruan
              ID        date
474936  SZ000411  2019-06-13
474937  SZ000411  2019-08-12
474938  SZ300636  2019-01-22
474939  SZ300636  2019-01-23
474940  SZ002853  2019-05-14
...          ...         ...
475155  SZ000899  2019-06-10
475156  SZ002315  2019-01-22
475157  SZ002620  2019-06-25
475158  SZ300218  2019-01-10
475159  SZ002715  2019-07-30

[224 rows x 2 columns]

array(['SZ000411', 'SZ300636', 'SZ002853', 'SZ300330', 'SZ000010',
       'SZ002883', 'SZ002029', 'SZ002826', 'SZ002890', 'SZ300619',
       'SZ300486', 'SZ002802', 'SZ002778', 'SZ000421', 'SZ000809',
       'SZ002107', 'SZ300668', 'SZ002150', 'SZ002336', 'SZ002749',
       'SZ300419', 'SZ000893', 'SZ300421', 'SZ002096', 'SZ002053',
       'SZ002791', 'SZ000782', 'SZ300243', 'SZ000153', 'SZ002781',
       'SZ002633', 'SZ300439', 'SZ002678', 'SZ300677', 'SZ300354',
       'SZ002868', 'SZ300305', 'SZ300151', 'SZ300658', 'SZ000548',
       'SZ002339', 'SZ300483', 'SZ002062', 'SZ002652', 'SZ002775',
       'SZ002735', 'SZ300434', 'SZ300530', 'SZ002187', 'SZ002598',
       'SZ000978', 'SZ002290', 'SZ300641', 'SZ300695', 'SZ300250',
       'SZ002671', 'SZ002833', 'SZ002520', 'SZ300617', 'SZ300669',
       'SZ002561', 'SZ000532', 'SZ300334', 'SZ002394', 'SZ002738',
       'SZ000902', 'SZ000403', 'SZ002559', 'SZ002337', 'SZ300065',
       'SZ002286', 'SZ000428', 'SZ300729', 'SZ002469', 'SZ002682',
       'SZ300204', 'SZ002039', 'SZ300681', 'SZ300321', 'SZ000803',
       'SZ300029', 'SZ000756', 'SZ002397', 'SZ002623', 'SZ000419',
       'SZ002483', 'SZ002569', 'SZ002144', 'SZ000504', 'SZ002799',
       'SZ002627', 'SZ300272', 'SZ000498', 'SZ300385', 'SZ300727',
       'SZ000420', 'SZ002896', 'SZ000752', 'SZ002116', 'SZ000048',
       'SZ002816', 'SZ300649', 'SZ000096', 'SZ000780', 'SZ002499',
       'SZ000417', 'SZ002566', 'SZ300557', 'SZ002206', 'SZ002809',
       'SZ002026', 'SZ002613', 'SZ300475', 'SZ002289', 'SZ002779',
       'SZ300515', 'SZ002729', 'SZ300616', 'SZ000668', 'SZ000880',
       'SZ300150', 'SZ002762', 'SZ002037', 'SZ300258', 'SZ300374',
       'SZ300381', 'SZ300472', 'SZ002880', 'SZ300395', 'SZ300289',
       'SZ300501', 'SZ300286', 'SZ002275', 'SZ000546', 'SZ000719',
       'SZ002205', 'SZ002705', 'SZ002829', 'SZ002817', 'SZ002832',
       'SZ000692', 'SZ000899', 'SZ002315', 'SZ002620', 'SZ300218',
       'SZ002715'], dtype=object)

146

array(['2019-06-13', '2019-08-12', '2019-01-22', '2019-01-23',
       '2019-05-14', '2019-02-11', '2019-08-14', '2019-09-04',
       '2019-11-18', '2019-07-17', '2019-08-13', '2019-06-04',
       '2019-07-26', '2019-05-17', '2019-10-23', '2019-11-27',
       '2019-08-28', '2019-01-21', '2019-05-24', '2019-11-13',
       '2019-06-18', '2019-08-01', '2019-08-30', '2019-11-07',
       '2019-09-10', '2019-12-02', '2019-12-06', '2019-05-31',
       '2019-12-03', '2019-11-26', '2019-07-09', '2019-11-21',
       '2019-08-09', '2019-01-09', '2019-02-12', '2019-05-22',
       '2019-07-25', '2019-08-06', '2019-06-14', '2019-09-17',
       '2019-01-30', '2019-07-24', '2019-08-02', '2019-01-03',
       '2019-01-10', '2019-01-08', '2019-09-26', '2019-10-17',
       '2019-06-05', '2019-08-21', '2019-08-26', '2019-12-04',
       '2019-07-29', '2019-04-18', '2019-11-29', '2019-07-16',
       '2019-10-08', '2019-11-01', '2019-10-15', '2019-08-07',
       '2019-07-10', '2019-06-10', '2019-08-27', '2019-10-24',
       '2019-07-19', '2019-09-16', '2019-09-25', '2019-08-23',
       '2019-12-09', '2019-06-25', '2019-09-30', '2019-01-28',
       '2019-12-05', '2019-08-29', '2019-01-02', '2019-10-29',
       '2019-06-26', '2019-07-11', '2019-07-18', '2019-05-09',
       '2019-08-19', '2019-08-15', '2019-09-20', '2019-05-13',
       '2019-10-11', '2019-07-23', '2019-08-16', '2019-10-14',
       '2019-07-22', '2019-09-11', '2019-11-06', '2019-11-08',
       '2019-11-28', '2019-02-01', '2019-06-06', '2019-07-30',
       '2019-05-29', '2019-09-18', '2019-11-12', '2019-11-05',
       '2019-10-18', '2019-07-12', '2019-07-31', '2019-01-16',
       '2019-09-02', '2019-01-31', '2019-04-12', '2019-05-07',
       '2019-01-04', '2019-05-23', '2019-05-20', '2019-11-14',
       '2019-10-09', '2019-08-08', '2019-06-12', '2019-01-29',
       '2019-01-15', '2019-05-21'], dtype=object)

118

In [3]:
display(db[(db["ID"] == "SZ000411") & (db["date"] == "2019-06-13")])
display(SZ[(SZ["ID"] == "SZ000411") & (SZ["date"] == "2019-06-13")])
display(SZ[(SZ["ID"] == "SZ000411") & (SZ["date"] == "2019-06-14")])

,ID,date,d_open,d_high,d_low,d_close,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares
1645,SZ000411,2019-06-13,12.28,12.53,12.24,12.41,12.27,0.989683,0.01141,0.004045,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207310071.0,207449946.0

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
94376,SZ000411,2019-06-13,12.28,12.27,12.53,12.24,12.4,879064.0,10889547.12

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
96573,SZ000411,2019-06-14,12.46,12.41,12.52,12.18,12.19,748231.0,9231817.64

In [1]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

F1 = open('F:\\SH1.pkl', 'rb')
SH = pickle.load(F1)

readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200416\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
date = SH["date"].unique()
date1 = db["date"].unique()
date1 = date1[(date1>=date.min()) & (date1 <= date.max())]
display(set(date1) - set(date))
db = db[db["date"].isin(date)]
s1 = SH["ID"].unique()
s2 = db["ID"].unique()
ss = list(set(s1) & set(s2))
SH = SH[SH["ID"].isin(ss)]
db = db[db["ID"].isin(ss)]

# 注意
# 1. diff里包括所有的不匹配，可能是close price造成的，需要在下一步验证
# 2. 第二次merge仍有不匹配，继续查找原因
# 3. 天软数据包括当天停牌的股票，openPrice == 0
# 4. 实际的收盘价调整是两次merge相减的结果
# 5. 深交所数据那天会重复
# 6. SZ包括当天停牌的股票，SH应该不包括，再确认
df = pd.merge(SH, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"], how="outer")
if sum(df["d_amount_x"].isnull()) != 0:
    diff = df[df["d_amount_x"].isnull()][["ID", "date"]]
    df = pd.merge(SH, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    if sum(df["d_amount_x"].isnull()) == 0:
        print("Not all stocks have same close price as Tianruan")
    else:
        print(df[df["d_amount_x"].isnull()])
        print(df[(df["d_amount_y"].isnull()) & (df["d_open"] != 0)])
else:
    print("All equal")
print(diff)
display(diff["ID"].unique())
display(len(diff["ID"].unique()))
display(diff["date"].unique())
display(len(diff["date"].unique()))

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  del sys.path[0]

set()

Not all stocks have same close price as Tianruan
             ID        date
79658  SH603990  2019-01-14
79659  SH603990  2019-03-21
79660  SH603203  2019-01-30
79661  SH600819  2019-01-17
79662  SH600106  2019-01-21
...         ...         ...
79720  SH603991  2019-01-28
79721  SH600539  2019-01-09
79722  SH600539  2019-01-10
79723  SH600539  2019-01-15
79724  SH603269  2019-01-29

[67 rows x 2 columns]

## 2. SH data check

In [1]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
from decimal import Decimal, ROUND_HALF_UP
import datetime

startDate = "20190201"
endDate = "20191210"

readPath = 'F:\\SH\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

startTm = datetime.datetime.now()
diff = {}
for col in ['Date', 'Data', 'Condition', 'Prob', 'Time']:
    diff[col] = []

for p in dataPathLs:
    print("*************************************************************************************************")
    F1 = open(p, 'rb')
    snapshot = pickle.load(F1)
    print(datetime.datetime.now() - startTm)
    
    snapshot["DateTime"] = snapshot["DateTime"].apply(lambda x: int(x))
    dd = int(snapshot["DateTime"].iloc[0]//1000000 * 1000000)
    snapshot['time'] = (snapshot["DateTime"] - dd)*1000
    
    path = "J:\\recordData\\logs_" + os.path.basename(p).split('.')[0] + "_zs_92_01_day_data\\mdLog_SH_***" 
    if len(np.array(glob.glob(path))) == 0:
        print(os.path.basename(p).split('.')[0])
        print("92 SSE snapshot data is missing")
        continue
    if len(np.array(glob.glob(path))) == 2:
        logSH1 = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH2 = pd.read_csv(np.array(glob.glob(path))[1], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH = pd.concat([logSH1, logSH2])
    else:
        logSH = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    print(datetime.datetime.now() - startTm)
    
    logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
    logSH1 = snapshot[["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice",'TotalBidQty', 'TotalOfferQty','time']]
    
    # SH lv2 data check here
    display(os.path.basename(p).split('.')[0] + " SH lv2 check:")
    in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
    data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000) & (logSH["cum_volume"] > 0)
              & (logSH["source"] == 4)]
    data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000) & (logSH1["cum_volume"] > 0)]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    del data1
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    del data2
    n1 = len(data1_1["StockID"].unique())
    n2 = len(data2_1["StockID"].unique())
    if n1 > n2:
        data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
    if n2 > n1:
        data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("lv2 data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    if (n2 < len1) & (n1 < len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])])/n1)
        if len(test[np.isnan(test["time_y"])])/n1 > 0.001:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
    
    if (n2 < len1) & (n1 == len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])]))
        if len(test[np.isnan(test["time_y"])]) > 10:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
          
    if len1 == n2:
        display("SSE lv2 test is complete")
        diff["Condition"].append("SSE lv2 test is complete")
        diff["Prob"].append('C')
    
    # SH snapshot data check here
    display(os.path.basename(p).split('.')[0] + " SH index check:")
    data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000)]
    data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000)]
    columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    columns = ["StockID", "cum_volume", "close", "openPrice"]
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("index data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    # Here!!! index double check wether n1 == n2
    if n2 < len1:
        display("SSE index test is not complete:")
        display(test[np.isnan(test["time_y"])])
        piu = pd.merge(pd.merge(data1_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]), pd.merge(data2_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]),
         on=["StockID", "cum_volume"])
        print(len(test[np.isnan(test["time_y"])]))
        if all(abs(piu["close_x"] - piu["close_y"]) <= 0.011) & all(abs(piu["openPrice_x"] - piu["openPrice_y"]) <= 0.011):
            display("test is complete, the difference is caused by round difference")
            diff["Condition"].append("SSE index test is complete with round difference")
            diff["Prob"].append('C')
        else:
            diff["Condition"].append("SSE index test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
    if len1 == n2:
        display("SSE index test is complete")
        diff["Condition"].append("SSE index test is complete")
        diff["Prob"].append('C')

   
    
#     # SH trade data check here
#     path = "G:\\recordData\\logs_" + os.path.basename(p).split('.')[0] + "_zs_92_01_day_data\\mdTradeLog_***" 
#     TradeLog = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
#                                                  "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
#                                                  "OfferApplSeqNum"]]
#     SH = TradeLog[TradeLog["exchId"] == 1]
#     del TradeLog
#     colnames=['SecurityID', 'TradeTime', 'TradePrice', 'TradeQty','TradeAmount','BuyNo','SellNo'] 
#     tick = pd.read_csv(path2[i], names=colnames, header=None)
#     tick = tick.rename(columns={"TradeAmount":"TradeMoney", "BuyNo":"BidApplSeqNum","SellNo":"OfferApplSeqNum"})
#     tick = tick.dropna(axis=0)
#     tick["TradeTime"] = tick["TradeTime"].apply(lambda x: int(x))
#     tick["TransactTime"] = (tick['TradeTime'] - 2019120900000000)*10
#     tick["TradePrice"] = tick["TradePrice"]*10000
#     tick["TradeMoney"] = tick["TradeMoney"]*10000
#     display(os.path.basename(p) + " SH trade check:")
#     tick["TradeMoney"] = tick["TradeMoney"].round(2)
#     tick["TradePrice"] = tick["TradePrice"].round(2)
#     columns = ["TransactTime", "SecurityID", "TradeQty","TradePrice","TradeMoney",
#            "BidApplSeqNum", "OfferApplSeqNum"]
#     n1 = len(SH["SecurityID"].unique())
#     n2 = len(tick["SecurityID"].unique())
#     if n1 > n2:
#         SH = SH[SH["SecurityID"].isin(tick["SecurityID"].unique())]
#     if n2 > n1:
#         tick = tick[tick["SecurityID"].isin(SH["SecurityID"].unique())]
#     re = pd.merge(SH, tick, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
#     n1 = re["sequenceNo"].count()
#     n2 = re["TradeTime"].count()
#     len1 = len(re)
#     print(n1)
#     print(n2)
#     print(len1)
#     print("-----------------------------------------------")
#     if n2 < len1:
#         display("SSE trade test is not complete:")
#         display(re[np.isnan(re["TradeTime"])])
#         print(len(re[np.isnan(re["TradeTime"])]))
#         print(np.sort(re[np.isnan(re["TradeTime"])]["TransactTime"].unique()))
#         print(len(re[np.isnan(re["TradeTime"])]["SecurityID"].unique()))
#         print(re[np.isnan(re["TradeTime"])]["SecurityID"].unique())
#     if (len1 == n2) & (n1 < len1):
#         display("SSE trade baseline is not complete:")
#         display(re[np.isnan(re["sequenceNo"])])
#         print(np.sort(re[np.isnan(re["sequenceNo"])]["TransactTime"].unique()))
#         print(len(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique()))
#         print(re[np.isnan(re["sequenceNo"])]["SecurityID"].unique())
#         display(n2-n1)
#     if (len1 == n2) & (len1 == n1):
#         display("SSE trade baseline and test exactly same")
    
    
diff = pd.DataFrame(diff)
diff.to_csv("F:\\SH_check_result2.csv")
print(diff)

*************************************************************************************************
0:00:38.079676
0:03:06.153334

'20190201 SH lv2 check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

3945769
3945769
3945769
-----------------------------------------------

'SSE lv2 test is complete'

'20190201 SH index check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11392
11392
11400
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
834,1037124.0,1.548986e+15,9940990.0,5.0,852,SH,94712000.0,12793889,8.399414e+09,4399.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4311,3754080.0,1.548990e+15,28039653.0,5.0,905,SH,105937000.0,27508874,1.961076e+10,4238.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6107,5355963.0,1.548998e+15,36004107.0,5.0,905,SH,130652000.0,34404687,2.448211e+10,4244.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6351,5507730.0,1.548998e+15,36860854.0,5.0,905,SH,131157000.0,35101004,2.497846e+10,4242.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6550,5640865.0,1.548998e+15,37619958.0,5.0,852,SH,131607000.0,44115878,3.074201e+10,4438.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7722,6447841.0,1.549000e+15,42255740.0,5.0,852,SH,134032000.0,48906476,3.454593e+10,4451.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9686,8031378.0,1.549002e+15,52418773.0,5.0,852,SH,142127000.0,60746103,4.311349e+10,4475.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11367,9514532.0,1.549004e+15,62686188.0,5.0,905,SH,145627000.0,64582486,4.658495e+10,4293.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

8

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:04:42.293487
0:06:14.703476

'20190211 SH lv2 check:'

4178992
4178990
4178992
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1119,254875,1549848319124162,1122566,4,601811,SH,92504000,86300,920821.0,10.67,...,181900,5200,0,0,0,10.67,NaN,NaN,NaN,NaN
1230,255642,1549848328269850,1123333,4,600867,SH,92512000,118800,1426788.0,12.01,...,209700,2256,0,0,0,12.01,NaN,NaN,NaN,NaN

2

'20190211 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1258,1533584.0,1.549850e+15,13903919.0,5.0,852,SH,95605000.0,21498722,1.554324e+10,4524.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,2242118.0,1.549851e+15,19510454.0,5.0,16,SH,101240000.0,6777657,8.704677e+09,2495.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7862,7154963.0,1.549864e+15,49282568.0,5.0,905,SH,134330000.0,51698416,3.891268e+10,4371.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:07:54.632798
0:09:25.036530

'20190212 SH lv2 check:'

4412500
4412499
4412500
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
374,213803,1549934715974475,1082526,4,600622,SH,92501000,1600,10464.0,6.54,...,22117,0,0,0,0,6.54,NaN,NaN,NaN,NaN

1

'20190212 SH index check:'

11391
11391
11400
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
343,606018.0,1.549935e+15,6357834.0,5.0,905,SH,93700000.0,7261489,4.713616e+09,4418.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,1146700.0,1.549936e+15,11896799.0,5.0,905,SH,94805000.0,13885100,9.373600e+09,4410.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,1443790.0,1.549936e+15,14748819.0,5.0,852,SH,95420000.0,24759200,1.707465e+10,4636.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2552,2725618.0,1.549938e+15,25455480.0,5.0,16,SH,102305000.0,8113936,1.143050e+10,2520.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,3870132.0,1.549940e+15,33785675.0,5.0,905,SH,105005000.0,38014428,2.739840e+10,4431.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6477,6407245.0,1.549948e+15,48619350.0,5.0,852,SH,131440000.0,73410338,5.348640e+10,4674.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6942,6778438.0,1.549949e+15,51003526.0,5.0,905,SH,132420000.0,56228710,4.055255e+10,4440.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,7206824.0,1.549950e+15,53841188.0,5.0,16,SH,133520000.0,18031829,2.426583e+10,2529.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8019,7676998.0,1.549950e+15,57161067.0,5.0,16,SH,134650000.0,19204362,2.574588e+10,2527.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

9

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:11:13.724673
0:13:48.659195

'20190213 SH lv2 check:'

4678155
4678155
4678155
-----------------------------------------------

'SSE lv2 test is complete'

'20190213 SH index check:'

11388
11388
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2039,2264608.0,1.550024e+15,23742677.0,5.0,905,SH,101220000.0,28713062,2.064433e+10,4472.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5535,5315312.0,1.550028e+15,46708994.0,5.0,905,SH,112510000.0,57825409,4.243403e+10,4479.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6630,6599997.0,1.550035e+15,53955479.0,5.0,852,SH,131755000.0,81522074,6.269588e+10,4735.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8655,8397894.0,1.550038e+15,66467609.0,5.0,905,SH,140005000.0,83769282,6.199576e+10,4514.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10579,10168149.0,1.550040e+15,79137748.0,5.0,905,SH,144010000.0,102228734,7.492169e+10,4525.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:15:41.356121
0:18:02.212431

'20190214 SH lv2 check:'

4409270
4409270
4409270
-----------------------------------------------

'SSE lv2 test is complete'

'20190214 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1784,2079888.0,1.550110e+15,24222016.0,5.0,16,SH,100702000.0,8719391,1.117334e+10,2573.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4339,4354087.0,1.550113e+15,41781000.0,5.0,905,SH,110012000.0,50298249,3.726160e+10,4503.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10174,9324374.0,1.550126e+15,72835574.0,5.0,852,SH,143137000.0,106180209,8.214182e+10,4797.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:19:47.791597
0:21:21.230042

'20190215 SH lv2 check:'

4396080
4396079
4396080
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
604,219134,1550193916307630,1255107,4,601218,SH,92501000,286400,819104.0,2.86,...,1068500,173400,0,0,0,2.86,NaN,NaN,NaN,NaN

1

'20190215 SH index check:'

11388
11388
11391
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3996,4030080.0,1.550199e+15,37796099.0,5.0,16,SH,105306000.0,12866173,1.702041e+10,2543.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5226,4997077.0,1.550201e+15,44479664.0,5.0,852,SH,111841000.0,70209202,5.282860e+10,4789.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8090,7603273.0,1.550210e+15,60714201.0,5.0,852,SH,134816000.0,91264936,6.914372e+10,4798.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:23:09.745828
0:25:32.940276

'20190218 SH lv2 check:'

4862869
4862869
4862895
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4656942,10910168.0,1.550473e+15,90053604.0,4.0,601318,SH,144819000.0,67593511,4.381234e+09,65.14,...,16500,15900,38800,17600,16400,63.9,NaN,NaN,NaN,NaN
4658044,10912578.0,1.550473e+15,90074093.0,4.0,601318,SH,144822000.0,67595911,4.381390e+09,65.14,...,16700,15900,39200,17600,16400,63.9,NaN,NaN,NaN,NaN
4722613,11052899.0,1.550473e+15,91296784.0,4.0,601318,SH,145113000.0,69273270,4.490710e+09,65.23,...,9300,160294,63200,21950,26000,63.9,NaN,NaN,NaN,NaN
4723818,11055485.0,1.550473e+15,91320834.0,4.0,601318,SH,145116000.0,69292670,4.491976e+09,65.30,...,158294,63200,21950,21100,42300,63.9,NaN,NaN,NaN,NaN
4727364,11063139.0,1.550473e+15,91392496.0,4.0,601318,SH,145125000.0,69493177,4.505069e+09,65.31,...,53300,21950,23800,37400,78700,63.9,NaN,NaN,NaN,NaN
4728556,11065704.0,1.550473e+15,91416950.0,4.0,601318,SH,145128000.0,69524977,4.507145e+09,65.30,...,44700,21950,23800,37400,78700,63.9,NaN,NaN,NaN,NaN
4729941,11068481.0,1.550473e+15,91439325.0,4.0,601318,SH,145131000.0,69624677,4.513658e+09,65.31,...,36650,78700,62150,15100,82500,63.9,NaN,NaN,NaN,NaN
4730891,11070755.0,1.550473e+15,91462193.0,4.0,601318,SH,145134000.0,69656277,4.515721e+09,65.31,...,52000,1000,36650,79400,62150,63.9,NaN,NaN,NaN,NaN
4732047,11073241.0,1.550473e+15,91485963.0,4.0,601318,SH,145137000.0,69694577,4.518223e+09,65.31,...,24900,1200,36650,79400,62150,63.9,NaN,NaN,NaN,NaN
4733434,11075990.0,1.550473e+15,91509722.0,4.0,601318,SH,145140000.0,69700777,4.518627e+09,65.31,...,22200,2500,200,36650,80200,63.9,NaN,NaN,NaN,NaN
4734627,11078546.0,1.550473e+15,91533203.0,4.0,601318,SH,145143000.0,69762377,4.522651e+09,65.32,...,500,1700,22950,80200,62150,63.9,NaN,NaN,NaN,NaN
4735802,11081098.0,1.550473e+15,91557149.0,4.0,601318,SH,145146000.0,69770377,4.523173e+09,65.31,...,7000,22950,89000,62450,15100,63.9,NaN,NaN,NaN,NaN
4736779,11083423.0,1.550473e+15,91580253.0,4.0,601318,SH,145149000.0,69794477,4.524748e+09,65.34,...,8850,93500,62450,15100,77700,63.9,NaN,NaN,NaN,NaN
4737986,11086245.0,1.550473e+15,91607300.0,4.0,601318,SH,145152000.0,69810077,4.525767e+09,65.32,...,500,400,8850,92700,62450,63.9,NaN,NaN,NaN,NaN
4739383,11088831.0,1.550473e+15,91628707.0,4.0,601318,SH,145155000.0,69821377,4.526505e+09,65.33,...,11600,10050,93300,62550,15100,63.9,NaN,NaN,NaN,NaN
4740342,11091149.0,1.550473e+15,91651789.0,4.0,601318,SH,145158000.0,69824177,4.526688e+09,65.33,...,10500,10050,93300,62550,15100,63.9,NaN,NaN,NaN,NaN
4741531,11093695.0,1.550473e+15,91674492.0,4.0,601318,SH,145201000.0,69842277,4.527870e+09,65.31,...,4600,11300,11150,93500,62650,63.9,NaN,NaN,NaN,NaN
4742714,11096229.0,1.550473e+15,91699484.0,4.0,601318,SH,145204000.0,69849477,4.528341e+09,65.32,...,1100,13400,12650,94800,62650,63.9,NaN,NaN,NaN,NaN
4743898,11098792.0,1.550473e+15,91723420.0,4.0,601318,SH,145207000.0,69852677,4.528550e+09,65.32,...,18800,12650,95900,62650,13100,63.9,NaN,NaN,NaN,NaN
4744862,11101106.0,1.550473e+15,91747370.0,4.0,601318,SH,145210000.0,69858677,4.528941e+09,65.32,...,1300,18500,12850,96500,62650,63.9,NaN,NaN,NaN,NaN
4746285,11103893.0,1.550473e+15,91772752.0,4.0,601318,SH,145213000.0,69865077,4.529360e+09,65.32,...,4900,18800,13850,97500,62650,63.9,NaN,NaN,NaN,NaN
4747496,11106508.0,1.550473e+15,91796570.0,4.0,601318,SH,145216000.0,69894477,4.531280e+09,65.31,...,8100,100,14550,97600,62650,63.9,NaN,NaN,NaN,NaN
4748670,11109052.0,1.550473e+15,91820969.0,4.0,601318,SH,145219000.0,69936577,4.534031e+09,65.32,...,1400,85550,62650,13500,82700,63.9,NaN,NaN,NaN,NaN
4749844,11111589.0,1.550473e+15,91844749.0,4.0,601318,SH,145222000.0,69947577,4.534749e+09,65.32,...,1000,10100,1600,85650,62850,63.9,NaN,NaN,NaN,NaN
4751233,11114342.0,1.550473e+15,91868288.0,4.0,601318,SH,145225000.0,69968377,4.536108e+09,65.33,...,1600,86750,62850,13500,82900,63.9,NaN,NaN,NaN,NaN
4752188,11116664.0,1.550473e+15,91890886.0,4.0,601318,SH,145228000.0,69990277,4.537538e+09,65.31,...,13000,100,5417,1100,87350,63.9,NaN,NaN,NaN,NaN

5.346637962075474e-06

'20190218 SH index check:'

11388
11388
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
74,291287.0,1.550454e+15,3276038.0,5.0,852,SH,93125000.0,6324270,4.568671e+09,4822.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,2495645.0,1.550456e+15,27595974.0,5.0,852,SH,101625000.0,52296034,3.952797e+10,4848.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3279,3507656.0,1.550458e+15,36071621.0,5.0,905,SH,103810000.0,47105845,3.449132e+10,4595.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3611,3822691.0,1.550458e+15,38459229.0,5.0,905,SH,104505000.0,49865249,3.660218e+10,4597.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4676,4760907.0,1.550459e+15,45152414.0,5.0,16,SH,110720000.0,16750025,2.265396e+10,2565.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4871,4926441.0,1.550459e+15,46351043.0,5.0,905,SH,111120000.0,58817675,4.373050e+10,4603.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6792,7004768.0,1.550467e+15,60018632.0,5.0,16,SH,132120000.0,22051339,2.884392e+10,2570.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10911,10849941.0,1.550472e+15,89556502.0,5.0,905,SH,144705000.0,115637226,8.603970e+10,4651.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

8

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:27:34.734952
0:30:39.640685

'20190219 SH lv2 check:'

4876540
4876698
4876999
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3345131,8021624.0,1.550555e+15,76693547.0,4.0,601318,SH,133729000.0,64869268,4.297925e+09,65.83,...,5800,20878,7900,7300,3701,65.58,NaN,NaN,NaN,NaN
3345769,8023223.0,1.550555e+15,76707607.0,4.0,601318,SH,133732000.0,64874068,4.298240e+09,65.83,...,5600,20378,7900,7300,3701,65.58,NaN,NaN,NaN,NaN
3346900,8025701.0,1.550555e+15,76724694.0,4.0,601318,SH,133735000.0,64874768,4.298287e+09,65.83,...,28100,20278,10100,7300,3701,65.58,NaN,NaN,NaN,NaN
3378513,8096384.0,1.550555e+15,77257325.0,4.0,601318,SH,133917000.0,65101792,4.313209e+09,65.63,...,30600,200,2700,1600,4100,65.58,NaN,NaN,NaN,NaN
3384481,8109244.0,1.550555e+15,77354132.0,4.0,601318,SH,133935000.0,65175322,4.318032e+09,65.60,...,23730,28100,1000,26900,1800,65.58,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852131,11377954.0,1.550559e+15,102079430.0,4.0,601318,SH,145602000.0,77565794,5.130648e+09,65.67,...,2000,1900,21315,18600,8301,65.58,NaN,NaN,NaN,NaN
4854254,11382771.0,1.550559e+15,102134160.0,4.0,601318,SH,145608000.0,77593052,5.132438e+09,65.66,...,200,7300,1900,20715,18600,65.58,NaN,NaN,NaN,NaN
4859333,11393359.0,1.550559e+15,102242811.0,4.0,601318,SH,145620000.0,77644979,5.135848e+09,65.66,...,13500,11100,23015,18600,8301,65.58,NaN,NaN,NaN,NaN
4861641,11398357.0,1.550559e+15,102298444.0,4.0,601318,SH,145626000.0,77692690,5.138981e+09,65.67,...,7400,10800,23615,18600,5300,65.58,NaN,NaN,NaN,NaN
4866400,11408630.0,1.550559e+15,102417817.0,4.0,601318,SH,145638000.0,77812578,5.146856e+09,65.69,...,29371,18600,5600,10600,18000,65.58,NaN,NaN,NaN,NaN

6.172409126142716e-05

'20190219 SH index check:'

11392
11392
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
136,426293.0,1.550540e+15,5444105.0,5.0,16,SH,93242000.0,1316258,1.652421e+09,2582.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,4713387.0,1.550545e+15,51411602.0,5.0,852,SH,110102000.0,105487190,7.819450e+10,4986.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7648,8085616.0,1.550555e+15,77177228.0,5.0,16,SH,133902000.0,29972446,3.971983e+10,2575.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10303,10357387.0,1.550558e+15,93335595.0,5.0,905,SH,143417000.0,130332635,9.502593e+10,4648.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10331,10383415.0,1.550558e+15,93538261.0,5.0,905,SH,143452000.0,130592697,9.529456e+10,4650.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:32:40.054372
0:34:47.373282

'20190220 SH lv2 check:'

4637367
4637365
4637367
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
243,241122,1550625917008915,1416604,4,603789,SH,92501000,181300,2375030.0,13.1,...,205600,0,0,0,0,13.1,NaN,NaN,NaN,NaN
244,241131,1550625917017526,1416855,4,600707,SH,92501000,312900,2002560.0,6.4,...,563900,164800,0,0,0,6.4,NaN,NaN,NaN,NaN

2

'20190220 SH index check:'

11392
11392
11398
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
888,1241576.0,1.550627e+15,16445764.0,5.0,16,SH,94822000.0,5044423,6.732373e+09,2595.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,3472450.0,1.550630e+15,37597883.0,5.0,16,SH,103622000.0,12115213,1.576475e+10,2591.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5291,5256965.0,1.550633e+15,50970030.0,5.0,905,SH,112002000.0,73727037,5.186780e+10,4658.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6591,6737769.0,1.550640e+15,60445281.0,5.0,905,SH,131657000.0,84324084,5.981844e+10,4626.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8239,8117718.0,1.550642e+15,69766397.0,5.0,905,SH,135117000.0,94396058,6.740894e+10,4632.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9575,9263956.0,1.550644e+15,77638358.0,5.0,905,SH,141907000.0,102400580,7.362136e+10,4653.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:36:41.091193
0:38:26.768479

'20190221 SH lv2 check:'

4976132
4976489
4976635
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
828,244382.0,1.550712e+15,1536540.0,4.0,603803,SH,92506000.0,39500,4.562250e+05,11.55,...,42500,4700,0,0,0,11.55,NaN,NaN,NaN,NaN
4425276,10434614.0,1.550731e+15,93972158.0,4.0,600030,SH,143221000.0,211500647,4.322619e+09,20.31,...,4400,3000,18700,48093,75800,19.95,NaN,NaN,NaN,NaN
4425910,10436315.0,1.550731e+15,93988263.0,4.0,600030,SH,143224000.0,211515147,4.322914e+09,20.32,...,34900,7000,17500,48093,75800,19.95,NaN,NaN,NaN,NaN
4427087,10438809.0,1.550731e+15,94006799.0,4.0,600030,SH,143227000.0,211555747,4.323738e+09,20.32,...,30700,8200,17500,48093,75800,19.95,NaN,NaN,NaN,NaN
4427901,10440694.0,1.550731e+15,94023086.0,4.0,600030,SH,143230000.0,211611247,4.324866e+09,20.32,...,1900,17500,49093,78400,7700,19.95,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929488,11533785.0,1.550732e+15,104245355.0,4.0,600030,SH,145503000.0,228861869,4.675023e+09,20.38,...,82600,28083,91100,30300,36200,19.95,NaN,NaN,NaN,NaN
4931305,11537041.0,1.550732e+15,104272885.0,4.0,600030,SH,145506000.0,228942769,4.676671e+09,20.38,...,9800,50383,94700,30300,36200,19.95,NaN,NaN,NaN,NaN
4932068,11539168.0,1.550732e+15,104296499.0,4.0,600030,SH,145509000.0,228969669,4.677220e+09,20.38,...,16700,50783,155400,30300,34800,19.95,NaN,NaN,NaN,NaN
4933223,11541694.0,1.550732e+15,104320956.0,4.0,600030,SH,145512000.0,229035669,4.678564e+09,20.39,...,69783,157400,32200,19000,58600,19.95,NaN,NaN,NaN,NaN
4933972,11543642.0,1.550732e+15,104342515.0,4.0,600030,SH,145515000.0,229048469,4.678825e+09,20.38,...,71183,158400,32200,19000,68600,19.95,NaN,NaN,NaN,NaN

2.9340057699434017e-05

'20190221 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5411,5418383.0,1.550719e+15,52069217.0,5.0,905,SH,112234000.0,68646625,5.125449e+10,4714.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9013,9268646.0,1.550729e+15,83503410.0,5.0,852,SH,140729000.0,147751932,1.141377e+11,4996.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10917,11132015.0,1.550732e+15,100341438.0,5.0,852,SH,144709000.0,179062991,1.381004e+11,4931.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:40:28.001697
0:43:16.918563

'20190222 SH lv2 check:'

4793920
4793920
4794340
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3541582,8502503.0,1.550815e+15,74718393.0,4.0,600030,SH,140005000.0,211686656,4.401968e+09,21.22,...,24544,31800,143100,50352,34900,20.58,NaN,NaN,NaN,NaN
3557795,8538442.0,1.550815e+15,75056829.0,4.0,600030,SH,140053000.0,213125850,4.432600e+09,21.30,...,46200,268600,106200,181758,647300,20.58,NaN,NaN,NaN,NaN
3559271,8541539.0,1.550815e+15,75082608.0,4.0,600030,SH,140056000.0,213250150,4.435247e+09,21.30,...,32900,268600,105100,181758,651800,20.58,NaN,NaN,NaN,NaN
3566411,8557144.0,1.550815e+15,75218749.0,4.0,600030,SH,140117000.0,213789550,4.446739e+09,21.30,...,114505,43100,206400,112400,182358,20.58,NaN,NaN,NaN,NaN
3656033,8755458.0,1.550816e+15,76938096.0,4.0,600030,SH,140541000.0,220708110,4.593637e+09,21.14,...,42893,31200,62996,35400,6600,20.58,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789374,11230855.0,1.550819e+15,100408980.0,4.0,600030,SH,145653000.0,391137149,8.368347e+09,22.43,...,0,0,0,0,0,20.58,NaN,NaN,NaN,NaN
4790286,11232342.0,1.550819e+15,100430074.0,4.0,601318,SH,145654000.0,75086321,4.946058e+09,67.03,...,8000,179472,56100,106493,134200,65.36,NaN,NaN,NaN,NaN
4790391,11233302.0,1.550819e+15,100440447.0,4.0,600030,SH,145656000.0,391177649,8.369255e+09,22.43,...,0,0,0,0,0,20.58,NaN,NaN,NaN,NaN
4791900,11236733.0,1.550819e+15,100477933.0,4.0,600030,SH,145659000.0,391249349,8.370863e+09,22.43,...,0,0,0,0,0,20.58,NaN,NaN,NaN,NaN
4792600,11237493.0,1.550819e+15,100483733.0,4.0,600030,SH,145700000.0,391251949,8.370921e+09,22.43,...,0,0,0,0,0,20.58,NaN,NaN,NaN,NaN

8.761097390027368e-05

'20190222 SH index check:'

11392
11392
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1283,1579208.0,1.550801e+15,20180720.0,5.0,905,SH,95632000.0,31917997,2.255496e+10,4652.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8299,8176838.0,1.550815e+15,72212800.0,5.0,905,SH,135232000.0,99250733,7.462801e+10,4716.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8327,8202022.0,1.550815e+15,72410495.0,5.0,905,SH,135307000.0,99496649,7.484085e+10,4715.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8830,8662407.0,1.550815e+15,76151080.0,5.0,852,SH,140337000.0,128821878,1.009514e+11,5024.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,9616466.0,1.550817e+15,84400555.0,5.0,16,SH,142432000.0,30678700,3.927323e+10,2603.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:45:24.434263
0:48:09.212695

'20190225 SH lv2 check:'

5527352
5527352
5528637
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
442259,1292204.0,1.551059e+15,22244560.0,4.0,600030,SH,94626000.0,182709724,4.330483e+09,24.18,...,87600,73900,77400,58000,17600,23.55,NaN,NaN,NaN,NaN
443587,1295030.0,1.551059e+15,22289276.0,4.0,600030,SH,94629000.0,182809024,4.332887e+09,24.23,...,52900,81200,74100,77400,58100,23.55,NaN,NaN,NaN,NaN
444897,1297854.0,1.551059e+15,22334580.0,4.0,600030,SH,94632000.0,182933324,4.335897e+09,24.25,...,73300,69100,77400,49600,23800,23.55,NaN,NaN,NaN,NaN
446208,1300668.0,1.551059e+15,22379567.0,4.0,600030,SH,94635000.0,183129224,4.340644e+09,24.23,...,57800,77400,49600,23800,611863,23.55,NaN,NaN,NaN,NaN
448362,1304693.0,1.551059e+15,22427095.0,4.0,600030,SH,94638000.0,183245324,4.343457e+09,24.25,...,70800,77400,48800,23800,681863,23.55,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5505307,12734924.0,1.551078e+15,131706951.0,4.0,601318,SH,145614000.0,217016443,1.522019e+10,72.82,...,408,7500,7600,26800,19900,68.22,NaN,NaN,NaN,NaN
5520282,12766197.0,1.551078e+15,132089390.0,4.0,600519,SH,145647000.0,8173489,5.968365e+09,742.32,...,200,9914,400,1014,200,730.75,NaN,NaN,NaN,NaN
5521101,12768512.0,1.551078e+15,132122338.0,4.0,600519,SH,145650000.0,8173789,5.968588e+09,742.13,...,10000,100,200,10014,400,730.75,NaN,NaN,NaN,NaN
5522128,12771013.0,1.551078e+15,132153741.0,4.0,600519,SH,145653000.0,8174659,5.969234e+09,742.11,...,9800,100,200,200,10014,730.75,NaN,NaN,NaN,NaN
5524114,12774465.0,1.551078e+15,132188094.0,4.0,600519,SH,145656000.0,8175759,5.970050e+09,742.20,...,9400,100,200,200,10014,730.75,NaN,NaN,NaN,NaN

0.0002324802183758154

'20190225 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8886,10138568.0,1.551075e+15,107964797.0,5.0,905,SH,140450000.0,198934422,1.560845e+11,5003.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9794,11062679.0,1.551076e+15,115778237.0,5.0,905,SH,142345000.0,212006933,1.666311e+11,5017.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:50:33.611446
0:52:33.102249

'20190226 SH lv2 check:'

5562736
5562732
5564654
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
335,75658.0,1.551144e+15,485354.0,4.0,600287,SH,92501000.0,428300,2.719705e+06,6.35,...,1278500,101721,0,0,0,6.35,NaN,NaN,NaN,NaN
336,75773.0,1.551144e+15,486135.0,4.0,600687,SH,92501000.0,32400,1.555200e+05,4.80,...,401100,0,0,0,0,4.80,NaN,NaN,NaN,NaN
337,75908.0,1.551144e+15,486603.0,4.0,601998,SH,92501000.0,754500,4.889160e+06,6.48,...,1607200,95701,0,0,0,6.48,NaN,NaN,NaN,NaN
338,76023.0,1.551144e+15,487717.0,4.0,600789,SH,92502000.0,164300,1.557564e+06,9.48,...,180200,54000,0,0,0,9.48,NaN,NaN,NaN,NaN
478068,1112363.0,1.551146e+15,24129401.0,4.0,600030,SH,94732000.0,169353854,4.335272e+09,25.73,...,5900,12700,181200,76000,116800,25.42,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5533737,12523620.0,1.551164e+15,142674006.0,4.0,601688,SH,145556000.0,189863383,4.737308e+09,24.12,...,2800,5700,15000,6300,100,25.12,NaN,NaN,NaN,NaN
5538945,12534657.0,1.551164e+15,142819488.0,4.0,601668,SH,145608000.0,731976153,4.688378e+09,6.32,...,1028180,339500,439600,538820,338640,6.30,NaN,NaN,NaN,NaN
5540632,12537813.0,1.551164e+15,142856186.0,4.0,600776,SH,145611000.0,149638217,5.352070e+09,31.40,...,13900,1000,2100,700,400,37.07,NaN,NaN,NaN,NaN
5550798,12559680.0,1.551164e+15,143160815.0,4.0,601688,SH,145635000.0,190286391,4.747509e+09,24.14,...,8600,800,1200,3200,1200,25.12,NaN,NaN,NaN,NaN
5558742,12576492.0,1.551164e+15,143391835.0,4.0,600776,SH,145653000.0,154137898,5.491796e+09,30.73,...,16200,100,200,188700,400,37.07,NaN,NaN,NaN,NaN

0.00034551343080095837

'20190226 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5563,6142290.0,1.551152e+15,82271026.0,5.0,905,SH,112543000.0,156293283,1.174461e+11,5087.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:54:46.207524
0:56:41.741368

'20190227 SH lv2 check:'

5340994
5340992
5342707
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
40,307187.0,1.551231e+15,1749769.0,4.0,600678,SH,92501000.0,96600,6.114780e+05,6.33,...,123400,52500,0,0,0,6.33,NaN,NaN,NaN,NaN
642,308580.0,1.551231e+15,1798980.0,4.0,603882,SH,92502000.0,16100,3.944500e+05,24.50,...,30200,0,0,0,0,24.50,NaN,NaN,NaN,NaN
1156975,2831964.0,1.551234e+15,39882889.0,4.0,600030,SH,101623000.0,176191438,4.320963e+09,24.00,...,132015,1000,14500,115500,88700,24.30,NaN,NaN,NaN,NaN
1158150,2834520.0,1.551234e+15,39914973.0,4.0,600030,SH,101626000.0,176432838,4.326754e+09,24.00,...,103215,13600,65700,56700,89100,24.30,NaN,NaN,NaN,NaN
1159321,2837055.0,1.551234e+15,39946330.0,4.0,600030,SH,101629000.0,176609653,4.330996e+09,24.00,...,29000,104300,80100,97900,132100,24.30,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326298,12389047.0,1.551251e+15,126459313.0,4.0,601099,SH,145628000.0,1116092715,4.511204e+09,4.07,...,0,0,0,0,0,3.83,NaN,NaN,NaN,NaN
5326845,12389893.0,1.551251e+15,126466327.0,4.0,600816,SH,145629000.0,578286911,4.975782e+09,8.41,...,55204,225400,239160,130700,83870,8.30,NaN,NaN,NaN,NaN
5327863,12392089.0,1.551251e+15,126499099.0,4.0,600816,SH,145632000.0,578421571,4.976914e+09,8.40,...,283940,109604,225400,239160,130700,8.30,NaN,NaN,NaN,NaN
5329341,12395231.0,1.551251e+15,126534938.0,4.0,600816,SH,145635000.0,578620771,4.978587e+09,8.40,...,93840,112504,225400,239160,130700,8.30,NaN,NaN,NaN,NaN
5339575,12417119.0,1.551251e+15,126803777.0,4.0,600776,SH,145700000.0,177631001,5.095533e+09,28.48,...,0,0,0,0,0,28.71,NaN,NaN,NaN,NaN

0.000321101278151595

'20190227 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8863,9763692.0,1.551247e+15,99802124.0,5.0,905,SH,140417000.0,165508926,1.227595e+11,5024.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:58:58.650388
1:01:57.580450

'20190228 SH lv2 check:'

4986911
4986911
4987791
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2483129,5766777.0,1.551324e+15,60845395.0,4.0,600030,SH,112226000.0,186673352,4.386844e+09,23.45,...,6000,5601,33940,57000,122000,23.74,NaN,NaN,NaN,NaN
2484223,5769149.0,1.551324e+15,60866838.0,4.0,600030,SH,112229000.0,186683152,4.387074e+09,23.45,...,300,5601,33940,57000,122500,23.74,NaN,NaN,NaN,NaN
2485292,5771526.0,1.551324e+15,60888199.0,4.0,600030,SH,112232000.0,186688752,4.387205e+09,23.46,...,3101,33940,57000,122500,11900,23.74,NaN,NaN,NaN,NaN
2486399,5773958.0,1.551324e+15,60909518.0,4.0,600030,SH,112235000.0,186705292,4.387593e+09,23.45,...,2101,33640,57000,122500,11900,23.74,NaN,NaN,NaN,NaN
2487699,5776573.0,1.551324e+15,60930662.0,4.0,600030,SH,112238000.0,186713892,4.387795e+09,23.45,...,200,1101,36640,57000,122100,23.74,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4972119,11689276.0,1.551337e+15,105723399.0,4.0,600030,SH,145629000.0,294258339,6.910883e+09,23.51,...,101262,119400,81900,61900,310700,23.74,NaN,NaN,NaN,NaN
4981802,11709987.0,1.551337e+15,105968453.0,4.0,601099,SH,145651000.0,1221885717,4.954718e+09,3.92,...,756121,322000,941550,1055110,186340,4.06,NaN,NaN,NaN,NaN
4983293,11712919.0,1.551337e+15,105999132.0,4.0,601099,SH,145654000.0,1221982017,4.955095e+09,3.92,...,796921,317000,993850,1053110,186340,4.06,NaN,NaN,NaN,NaN
4984350,11715412.0,1.551337e+15,106030076.0,4.0,601099,SH,145657000.0,1222219017,4.956024e+09,3.93,...,819121,317000,990850,1053110,186340,4.06,NaN,NaN,NaN,NaN
4985547,11717476.0,1.551337e+15,106054734.0,4.0,601099,SH,145700000.0,1223372517,4.960530e+09,3.90,...,0,0,0,0,0,4.06,NaN,NaN,NaN,NaN

0.00017646194207195597

'20190228 SH index check:'

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:04:10.003046
1:06:35.551225

'20190301 SH lv2 check:'

4932016
4932016
4933074
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1882351,4415943.0,1.551409e+15,48027733.0,4.0,600030,SH,105401000.0,186865287,4.443097e+09,24.21,...,25900,213500,34300,36500,116600,23.75,NaN,NaN,NaN,NaN
1883775,4418719.0,1.551409e+15,48048140.0,4.0,600030,SH,105404000.0,186955987,4.445293e+09,24.20,...,197200,34300,37300,141700,112700,23.75,NaN,NaN,NaN,NaN
1884488,4420687.0,1.551409e+15,48065605.0,4.0,600030,SH,105407000.0,186982187,4.445927e+09,24.20,...,183000,34300,37300,142200,113000,23.75,NaN,NaN,NaN,NaN
1885468,4422882.0,1.551409e+15,48084286.0,4.0,600030,SH,105410000.0,187180687,4.450735e+09,24.22,...,33300,35300,141700,112500,119200,23.75,NaN,NaN,NaN,NaN
1886960,4425646.0,1.551409e+15,48103173.0,4.0,600030,SH,105413000.0,187415287,4.456420e+09,24.23,...,78500,115729,119200,153300,281800,23.75,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4860165,11435039.0,1.551423e+15,101656875.0,4.0,600519,SH,145413000.0,5947174,4.607792e+09,788.50,...,317,100,100,200,200,761.50,NaN,NaN,NaN,NaN
4861696,11438230.0,1.551423e+15,101690265.0,4.0,600519,SH,145416000.0,5948491,4.608831e+09,788.58,...,100,800,100,500,200,761.50,NaN,NaN,NaN,NaN
4863370,11441362.0,1.551423e+15,101724428.0,4.0,600519,SH,145419000.0,5949491,4.609619e+09,788.60,...,500,100,500,200,13800,761.50,NaN,NaN,NaN,NaN
4911517,11545132.0,1.551423e+15,102988104.0,4.0,601318,SH,145616000.0,88512354,6.328311e+09,72.30,...,52129,15600,79400,20100,15200,70.69,NaN,NaN,NaN,NaN
4912794,11547893.0,1.551423e+15,103022791.0,4.0,601318,SH,145619000.0,88522954,6.329078e+09,72.31,...,10100,38100,15600,80100,20100,70.69,NaN,NaN,NaN,NaN

0.00021451674122711687

'20190301 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7747,8096093.0,1.551419e+15,74236315.0,5.0,905,SH,134102000.0,105396135,7.991234e+10,4991.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:08:41.030627
1:10:42.914911

'20190304 SH lv2 check:'

5547285
5547282
5549460
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
138,291326.0,1.551663e+15,1746270.0,4.0,600030,SH,92501000.0,914600,2.259062e+07,24.70,...,9504391,0,0,0,0,24.70,NaN,NaN,NaN,NaN
686,292330.0,1.551663e+15,1792784.0,4.0,600118,SH,92501000.0,12600,2.838780e+05,22.53,...,67523,0,0,0,0,22.53,NaN,NaN,NaN,NaN
696,292467.0,1.551663e+15,1793476.0,4.0,600157,SH,92501000.0,577430,1.258797e+06,2.18,...,2573110,0,0,0,0,2.18,NaN,NaN,NaN,NaN
1409893,3357377.0,1.551666e+15,45526385.0,4.0,600030,SH,102619000.0,179389454,4.378780e+09,24.36,...,5800,29700,14900,97500,2800,24.70,NaN,NaN,NaN,NaN
1411029,3359874.0,1.551666e+15,45550588.0,4.0,600030,SH,102622000.0,179486254,4.381138e+09,24.34,...,56500,7500,29900,14900,107300,24.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5509616,12702745.0,1.551683e+15,132699855.0,4.0,600519,SH,145535000.0,8370138,6.592240e+09,780.90,...,821,1500,400,100,800,795.00,NaN,NaN,NaN,NaN
5511117,12705934.0,1.551683e+15,132731659.0,4.0,600519,SH,145538000.0,8371538,6.593333e+09,780.90,...,100,21,200,1500,400,795.00,NaN,NaN,NaN,NaN
5511877,12707899.0,1.551683e+15,132761364.0,4.0,600519,SH,145541000.0,8371738,6.593489e+09,780.89,...,200,1500,300,100,800,795.00,NaN,NaN,NaN,NaN
5513376,12711045.0,1.551683e+15,132792895.0,4.0,600519,SH,145544000.0,8372438,6.594036e+09,780.90,...,100,1500,300,100,800,795.00,NaN,NaN,NaN,NaN
5514884,12713993.0,1.551683e+15,132824534.0,4.0,600519,SH,145547000.0,8372750,6.594280e+09,780.91,...,1500,300,100,800,2000,795.00,NaN,NaN,NaN,NaN

0.0003926245000932889

'20190304 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
187,532609.0,1.551663e+15,8048851.0,5.0,905,SH,93343000.0,15876115,1.165198e+10,5109.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10954,12296532.0,1.551682e+15,128554362.0,5.0,905,SH,144753000.0,222292356,1.757330e+11,5134.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:13:08.734570
1:16:17.898944

'20190305 SH lv2 check:'

5310453
5310662
5311410
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
805,231572.0,1.551749e+15,1808544.0,4.0,600015,SH,92501000.0,252800,2.148800e+06,8.50,...,557400,190179,0,0,0,8.50,NaN,NaN,NaN,NaN
1294,232494.0,1.551749e+15,1866915.0,4.0,601099,SH,92502000.0,6730200,2.833414e+07,4.21,...,13351600,841935,0,0,0,4.21,NaN,NaN,NaN,NaN
1326,234816.0,1.551749e+15,1942380.0,4.0,600651,SH,92505000.0,575200,2.697688e+06,4.69,...,10031900,703070,0,0,0,4.69,NaN,NaN,NaN,NaN
2118833,4874999.0,1.551755e+15,59313512.0,4.0,600030,SH,110029000.0,178355969,4.379222e+09,24.78,...,10500,1000,39781,64200,44000,24.65,NaN,NaN,NaN,NaN
2120982,4879312.0,1.551755e+15,59356234.0,4.0,600030,SH,110035000.0,178521969,4.383336e+09,24.77,...,5142,100,23400,20381,64600,24.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5297421,12250740.0,1.551769e+15,125628686.0,4.0,601318,SH,145633000.0,64654492,4.665044e+09,72.07,...,8684,6022,15098,3100,56800,72.48,NaN,NaN,NaN,NaN
5302031,12261112.0,1.551769e+15,125780153.0,4.0,600030,SH,145644000.0,308209355,7.567623e+09,24.76,...,22200,521070,213818,471842,1145600,24.65,NaN,NaN,NaN,NaN
5303364,12263959.0,1.551769e+15,125822847.0,4.0,600030,SH,145647000.0,308270955,7.569148e+09,24.76,...,78400,538070,227918,475242,1145700,24.65,NaN,NaN,NaN,NaN
5304310,12265208.0,1.551769e+15,125838197.0,4.0,601318,SH,145648000.0,64731964,4.670627e+09,72.09,...,1900,56900,900,7500,1000,72.48,NaN,NaN,NaN,NaN
5304719,12266843.0,1.551769e+15,125865532.0,4.0,600030,SH,145650000.0,308373155,7.571679e+09,24.76,...,59200,532070,233218,474542,1145300,24.65,NaN,NaN,NaN,NaN

0.0001408542736372961

'20190305 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:18:27.335201
1:20:37.277602

'20190306 SH lv2 check:'

5524120
5524266
5525910
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
243,159049.0,1.551836e+15,1029620.0,4.0,600019,SH,92502000.0,134300,1.032767e+06,7.69,...,281800,12400,0,0,0,7.69,NaN,NaN,NaN,NaN
919,162338.0,1.551836e+15,1229183.0,4.0,600895,SH,92505000.0,1977500,4.338635e+07,21.94,...,2219400,118516,0,0,0,21.94,NaN,NaN,NaN,NaN
920,162339.0,1.551836e+15,1229184.0,4.0,600203,SH,92505000.0,1645600,1.053184e+07,6.40,...,1652600,445000,0,0,0,6.40,NaN,NaN,NaN,NaN
1247698,2851652.0,1.551839e+15,51008535.0,4.0,600030,SH,101730000.0,171635740,4.299354e+09,25.17,...,23100,33300,171959,65900,12400,24.80,NaN,NaN,NaN,NaN
1248855,2854191.0,1.551839e+15,51036647.0,4.0,600030,SH,101733000.0,171701040,4.300997e+09,25.16,...,8000,500,31700,169659,71700,24.80,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5498193,12558187.0,1.551855e+15,143556872.0,4.0,601688,SH,145603000.0,199132558,4.731918e+09,24.56,...,1300,2000,1200,151244,85100,23.44,NaN,NaN,NaN,NaN
5499588,12560833.0,1.551855e+15,143595079.0,4.0,601688,SH,145606000.0,199473158,4.740297e+09,24.54,...,9696,2300,200,25000,100,23.44,NaN,NaN,NaN,NaN
5502157,12566404.0,1.551855e+15,143678227.0,4.0,601688,SH,145612000.0,199987158,4.752919e+09,24.53,...,1400,8513,100,2000,1500,23.44,NaN,NaN,NaN,NaN
5515573,12594985.0,1.551855e+15,144100706.0,4.0,601688,SH,145642000.0,201655973,4.793815e+09,24.45,...,17100,1000,24800,19400,155940,23.44,NaN,NaN,NaN,NaN
5522684,12610813.0,1.551855e+15,144342140.0,4.0,600030,SH,145700000.0,546345159,1.394665e+10,26.66,...,0,0,0,0,0,24.80,NaN,NaN,NaN,NaN

0.00029760396226005226

'20190306 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:22:52.944185
20190307
92 SSE snapshot data is missing
*************************************************************************************************
1:23:49.539626
1:25:57.876348

'20190308 SH lv2 check:'

5601982
5602142
5606433
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
109,368097.0,1.552008e+15,2466535.0,4.0,600355,SH,92502000.0,103100,4.948800e+05,4.80,...,412500,21300,0,0,0,4.80,NaN,NaN,NaN,NaN
110,368206.0,1.552008e+15,2466644.0,4.0,601598,SH,92502000.0,13028300,9.640942e+07,7.40,...,16132000,4017303,0,0,0,7.40,NaN,NaN,NaN,NaN
112,368513.0,1.552008e+15,2467722.0,4.0,600291,SH,92502000.0,659331,9.810845e+06,14.88,...,710500,4631,0,0,0,14.88,NaN,NaN,NaN,NaN
113,368629.0,1.552008e+15,2467838.0,4.0,600604,SH,92502000.0,6858600,1.067884e+08,15.57,...,7424100,16605634,0,0,0,15.57,NaN,NaN,NaN,NaN
128,368672.0,1.552008e+15,2469320.0,4.0,601108,SH,92502000.0,7129158,9.816851e+07,13.77,...,25987000,231204,0,0,0,13.77,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5599842,12959210.0,1.552028e+15,154936881.0,4.0,601318,SH,145657000.0,90026404,6.206032e+09,68.69,...,4600,16900,2552,4500,4300,68.66,NaN,NaN,NaN,NaN
5600290,12959663.0,1.552028e+15,154938969.0,4.0,600776,SH,145657000.0,137142980,5.187763e+09,36.44,...,11294389,203800,117900,38300,14800,36.44,NaN,NaN,NaN,NaN
5600545,12960620.0,1.552028e+15,154965285.0,4.0,600776,SH,145700000.0,137143480,5.187781e+09,36.44,...,0,0,0,0,0,36.44,NaN,NaN,NaN,NaN
5600559,12960634.0,1.552028e+15,154965736.0,4.0,601318,SH,145700000.0,90047804,6.207502e+09,68.68,...,0,0,0,0,0,68.66,NaN,NaN,NaN,NaN
5600798,12960873.0,1.552028e+15,154968293.0,4.0,601108,SH,145700000.0,555028848,8.008201e+09,14.02,...,0,0,0,0,0,13.77,NaN,NaN,NaN,NaN

0.0007659788981828217

'20190308 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:28:12.012745
1:30:10.987752

'20190311 SH lv2 check:'

5255977
5256316
5257542
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
288,401825.0,1.552268e+15,2126044.0,4.0,600667,SH,92501000.0,5960945,4.768756e+07,8.00,...,7003500,179545,0,0,0,8.00,NaN,NaN,NaN,NaN
920,403105.0,1.552268e+15,2218027.0,4.0,600589,SH,92501000.0,625200,4.301376e+06,6.88,...,3727800,298333,0,0,0,6.88,NaN,NaN,NaN,NaN
1224271,3065416.0,1.552271e+15,45950134.0,4.0,600030,SH,101836000.0,183289203,4.329109e+09,23.30,...,151600,2600,100,8100,103600,24.00,NaN,NaN,NaN,NaN
1225278,3067893.0,1.552271e+15,45987165.0,4.0,600030,SH,101839000.0,183636003,4.337188e+09,23.30,...,200,94700,6800,4400,6200,24.00,NaN,NaN,NaN,NaN
1226516,3070562.0,1.552271e+15,46025236.0,4.0,600030,SH,101842000.0,183765803,4.340213e+09,23.30,...,6000,67100,36000,7300,6200,24.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228528,12308591.0,1.552287e+15,127957238.0,4.0,600837,SH,145559000.0,324867434,4.697798e+09,14.35,...,300,30600,60400,104200,137000,14.56,NaN,NaN,NaN,NaN
5229550,12310944.0,1.552287e+15,127994237.0,4.0,600837,SH,145602000.0,324910834,4.698421e+09,14.35,...,28400,65900,104500,178000,140990,14.56,NaN,NaN,NaN,NaN
5230836,12313661.0,1.552287e+15,128031579.0,4.0,600837,SH,145605000.0,324941434,4.698860e+09,14.37,...,7400,73000,65700,104500,176600,14.56,NaN,NaN,NaN,NaN
5245001,12344038.0,1.552287e+15,128462829.0,4.0,601318,SH,145638000.0,73407049,5.051480e+09,68.72,...,7100,25300,14500,44100,3900,68.80,NaN,NaN,NaN,NaN
5246324,12346855.0,1.552287e+15,128503965.0,4.0,601318,SH,145641000.0,73410049,5.051687e+09,68.75,...,26000,1601,23900,14800,44100,68.80,NaN,NaN,NaN,NaN

0.00023325825055931561

'20190311 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:32:22.571411
1:34:31.057437

'20190312 SH lv2 check:'

5619455
5619488
5621673
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
496,374043.0,1.552354e+15,2225437.0,4.0,600105,SH,92502000.0,33500,1.839150e+05,5.49,...,350700,11648,0,0,0,5.49,NaN,NaN,NaN,NaN
497,374206.0,1.552354e+15,2225600.0,4.0,600635,SH,92502000.0,1277800,9.302384e+06,7.28,...,2893300,1108690,0,0,0,7.28,NaN,NaN,NaN,NaN
498,374373.0,1.552354e+15,2226433.0,4.0,600022,SH,92502000.0,1163560,2.362027e+06,2.03,...,2669100,3127860,0,0,0,2.03,NaN,NaN,NaN,NaN
1940875,4584068.0,1.552359e+15,63524078.0,4.0,600030,SH,104747000.0,178525000,4.389723e+09,24.75,...,195410,331064,448550,398650,1448378,24.17,NaN,NaN,NaN,NaN
1941387,4585805.0,1.552359e+15,63543475.0,4.0,600030,SH,104750000.0,178565200,4.390718e+09,24.76,...,201110,331064,448750,401050,1446178,24.17,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5616003,12995089.0,1.552374e+15,147011275.0,4.0,600837,SH,145656000.0,315865229,4.558285e+09,14.10,...,12600,27600,38655,78500,23400,14.52,NaN,NaN,NaN,NaN
5617654,12998264.0,1.552374e+15,147050593.0,4.0,600050,SH,145659000.0,940266910,6.942513e+09,7.50,...,5300,947900,1296101,2321800,1856508,6.94,NaN,NaN,NaN,NaN
5617758,12998370.0,1.552374e+15,147050699.0,4.0,600837,SH,145659000.0,315889329,4.558625e+09,14.10,...,24500,38655,78500,23400,41500,14.52,NaN,NaN,NaN,NaN
5618133,12999172.0,1.552374e+15,147056260.0,4.0,600837,SH,145700000.0,315889329,4.558625e+09,14.10,...,0,0,0,0,0,14.52,NaN,NaN,NaN,NaN
5618227,12999266.0,1.552374e+15,147056711.0,4.0,600050,SH,145700000.0,940271510,6.942547e+09,7.51,...,0,0,0,0,0,6.94,NaN,NaN,NaN,NaN

0.0003888277421920809

'20190312 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:36:47.324587
1:38:51.871845

'20190313 SH lv2 check:'

5486155
5486258
5487858
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
368,305235.0,1.552440e+15,2087908.0,4.0,603011,SH,92502000.0,611700,4.392006e+06,7.18,...,924300,162200,0,0,0,7.18,NaN,NaN,NaN,NaN
369,305322.0,1.552440e+15,2087995.0,4.0,600879,SH,92502000.0,53700,3.920100e+05,7.30,...,623100,0,0,0,0,7.30,NaN,NaN,NaN,NaN
382,305450.0,1.552440e+15,2091453.0,4.0,600703,SH,92502000.0,418827,6.822692e+06,16.29,...,856627,0,0,0,0,16.29,NaN,NaN,NaN,NaN
390,305650.0,1.552440e+15,2091653.0,4.0,600999,SH,92502000.0,1877025,3.491266e+07,18.60,...,3811100,92280,0,0,0,18.60,NaN,NaN,NaN,NaN
393,305767.0,1.552440e+15,2093102.0,4.0,600667,SH,92502000.0,2068752,1.723270e+07,8.33,...,2080952,0,0,0,0,8.33,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5478845,12680769.0,1.552460e+15,143133809.0,4.0,600030,SH,145647000.0,295864644,7.158202e+09,23.93,...,114445,169100,279725,20700,73800,24.73,NaN,NaN,NaN,NaN
5479200,12681134.0,1.552460e+15,143134625.0,4.0,600460,SH,145647000.0,276945346,4.725045e+09,16.96,...,41000,48844,51000,65667,166727,16.40,NaN,NaN,NaN,NaN
5479211,12681145.0,1.552460e+15,143134636.0,4.0,600604,SH,145647000.0,259518431,5.140194e+09,20.27,...,0,0,0,0,0,19.58,NaN,NaN,NaN,NaN
5484196,12692006.0,1.552460e+15,143272150.0,4.0,600460,SH,145659000.0,277360544,4.732075e+09,16.95,...,22802,11272,22900,49944,25367,16.40,NaN,NaN,NaN,NaN
5484782,12692656.0,1.552460e+15,143278786.0,4.0,600460,SH,145700000.0,277414244,4.732981e+09,16.95,...,0,0,0,0,0,16.40,NaN,NaN,NaN,NaN

0.00029164323647436137

'20190313 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:41:04.518319
1:43:38.787063

'20190314 SH lv2 check:'

5227797
5228006
5229351
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
962,296601.0,1.552527e+15,1946784.0,4.0,603956,SH,92502000.0,355178,1.070862e+07,30.15,...,2579200,81040,0,0,0,30.15,NaN,NaN,NaN,NaN
1171,298363.0,1.552527e+15,2044557.0,4.0,601258,SH,92505000.0,945100,1.776788e+06,1.88,...,1704900,0,0,0,0,1.88,NaN,NaN,NaN,NaN
219744,786253.0,1.552528e+15,13008137.0,4.0,603496,SH,93806000.0,559616,2.013137e+07,36.13,...,700,2405,400,4800,1200,35.49,NaN,NaN,NaN,NaN
219745,786254.0,1.552528e+15,13008138.0,4.0,603499,SH,93806000.0,558800,1.772613e+07,32.01,...,1100,2300,3300,900,3000,31.22,NaN,NaN,NaN,NaN
219746,786255.0,1.552528e+15,13008139.0,4.0,603508,SH,93806000.0,118300,5.529626e+06,46.70,...,5800,500,200,1000,2400,46.66,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5224872,12212692.0,1.552547e+15,122750924.0,4.0,600030,SH,145656000.0,280386160,6.612519e+09,23.37,...,498800,418917,236100,112700,69000,23.75,NaN,NaN,NaN,NaN
5225989,12215185.0,1.552547e+15,122780680.0,4.0,601318,SH,145659000.0,104601233,7.597545e+09,72.77,...,22700,18200,14000,88600,33000,71.77,NaN,NaN,NaN,NaN
5226092,12215336.0,1.552547e+15,122781325.0,4.0,600030,SH,145659000.0,280434460,6.613648e+09,23.36,...,477200,415917,236000,112700,69000,23.75,NaN,NaN,NaN,NaN
5226443,12215702.0,1.552547e+15,122784092.0,4.0,601318,SH,145700000.0,104601233,7.597545e+09,72.77,...,0,0,0,0,0,71.77,NaN,NaN,NaN,NaN
5226482,12215741.0,1.552547e+15,122784654.0,4.0,600030,SH,145700000.0,280441860,6.613821e+09,23.37,...,0,0,0,0,0,23.75,NaN,NaN,NaN,NaN

0.00025727854390673546

'20190314 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:45:50.069572
1:48:52.949312

'20190315 SH lv2 check:'

5134931
5135042
5136784
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
24,266096.0,1.552613e+15,1745913.0,4.0,600836,SH,92503000.0,91000,4.959500e+05,5.45,...,839600,0,0,0,0,5.45,NaN,NaN,NaN,NaN
1316221,3154691.0,1.552617e+15,38989031.0,4.0,601318,SH,102447000.0,58648963,4.375339e+09,74.55,...,3600,28689,86700,16650,15800,73.10,NaN,NaN,NaN,NaN
1317358,3157193.0,1.552617e+15,39017919.0,4.0,601318,SH,102450000.0,58681063,4.377732e+09,74.55,...,15700,1400,28689,900,86700,73.10,NaN,NaN,NaN,NaN
1318507,3159757.0,1.552617e+15,39045091.0,4.0,601318,SH,102453000.0,58706563,4.379633e+09,74.55,...,23700,2200,25489,1300,85700,73.10,NaN,NaN,NaN,NaN
1457203,3466118.0,1.552617e+15,41906629.0,4.0,601318,SH,103114000.0,61612577,4.596511e+09,74.71,...,300,300,800,8291,41700,73.10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5110693,11962161.0,1.552633e+15,111979092.0,4.0,600895,SH,145605000.0,177306841,4.543198e+09,25.75,...,9900,11000,70500,132100,15700,23.85,NaN,NaN,NaN,NaN
5111713,11964634.0,1.552633e+15,112010660.0,4.0,600895,SH,145608000.0,177422341,4.546174e+09,25.76,...,7200,2700,5500,50600,137300,23.85,NaN,NaN,NaN,NaN
5118168,11978281.0,1.552633e+15,112172531.0,4.0,600895,SH,145623000.0,177736860,4.554264e+09,25.70,...,400,109200,3200,17300,700,23.85,NaN,NaN,NaN,NaN
5119151,11980670.0,1.552633e+15,112204525.0,4.0,600895,SH,145626000.0,178305360,4.568772e+09,25.60,...,6100,4000,7000,200,5100,23.85,NaN,NaN,NaN,NaN
5120385,11983360.0,1.552633e+15,112236779.0,4.0,600895,SH,145629000.0,178337960,4.569608e+09,25.67,...,1800,3400,29800,227300,2200,23.85,NaN,NaN,NaN,NaN

0.00033924506483144567

'20190315 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:51:05.291585
1:54:14.106500

'20190318 SH lv2 check:'

5225272
5225270
5226496
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
913,222966.0,1.552872e+15,1610697.0,4.0,603002,SH,92502000.0,500,2.175000e+03,4.35,...,12500,600,0,0,0,4.35,NaN,NaN,NaN,NaN
1205,223885.0,1.552872e+15,1669465.0,4.0,600695,SH,92502000.0,3352900,2.296736e+07,6.85,...,3094400,0,0,0,0,6.85,NaN,NaN,NaN,NaN
2433478,5568780.0,1.552879e+15,60351228.0,4.0,601318,SH,111623000.0,58337234,4.328165e+09,74.90,...,900,844011,31000,45100,7400,74.43,NaN,NaN,NaN,NaN
2434571,5570975.0,1.552879e+15,60368481.0,4.0,601318,SH,111626000.0,59249637,4.396588e+09,75.00,...,31000,45100,7400,18000,34300,74.43,NaN,NaN,NaN,NaN
2435389,5572987.0,1.552879e+15,60387235.0,4.0,601318,SH,111629000.0,59360337,4.404892e+09,75.00,...,1500,34300,2800,6100,18800,74.43,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5209478,12086737.0,1.552892e+15,114164564.0,4.0,600519,SH,145627000.0,8053442,6.436015e+09,810.51,...,800,100,1700,4526,800,778.80,NaN,NaN,NaN,NaN
5210328,12088544.0,1.552892e+15,114192706.0,4.0,600030,SH,145629000.0,294815356,7.096891e+09,24.60,...,151012,135507,188046,154300,565390,23.75,NaN,NaN,NaN,NaN
5211622,12091336.0,1.552892e+15,114231954.0,4.0,600030,SH,145632000.0,294989656,7.101180e+09,24.60,...,38912,127307,196546,154300,565190,23.75,NaN,NaN,NaN,NaN
5223477,12116579.0,1.552892e+15,114566554.0,4.0,600030,SH,145659000.0,295863268,7.122682e+09,24.61,...,208507,198162,161500,601790,175100,23.75,NaN,NaN,NaN,NaN
5224000,12117597.0,1.552892e+15,114573379.0,4.0,600030,SH,145700000.0,295874768,7.122965e+09,24.62,...,0,0,0,0,0,23.75,NaN,NaN,NaN,NaN

0.00023462893414926534

'20190318 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:56:24.614547
1:58:50.361227

'20190319 SH lv2 check:'

5176180
5176400
5177332
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
547,312412.0,1.552959e+15,1924615.0,4.0,601198,SH,92502000.0,19156,2.660768e+05,13.89,...,280356,0,0,0,0,13.89,NaN,NaN,NaN,NaN
548,312458.0,1.552959e+15,1924661.0,4.0,600585,SH,92502000.0,172424,6.227955e+06,36.12,...,205324,0,0,0,0,36.12,NaN,NaN,NaN,NaN
1098,313131.0,1.552959e+15,1979127.0,4.0,601519,SH,92503000.0,1965200,2.116520e+07,10.77,...,3349500,0,0,0,0,10.77,NaN,NaN,NaN,NaN
1205,315546.0,1.552959e+15,2064955.0,4.0,600895,SH,92506000.0,83200,1.921920e+06,23.10,...,777300,115600,0,0,0,23.10,NaN,NaN,NaN,NaN
1231,316430.0,1.552959e+15,2119829.0,4.0,600653,SH,92512000.0,316800,8.395200e+05,2.65,...,324100,0,0,0,0,2.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5147052,12059378.0,1.552979e+15,113080076.0,4.0,601318,SH,145554000.0,100098336,7.586087e+09,75.20,...,900,3500,6900,2000,1500,75.73,NaN,NaN,NaN,NaN
5147553,12060587.0,1.552979e+15,113099317.0,4.0,600030,SH,145556000.0,212099320,5.177809e+09,24.19,...,143512,205700,303800,137300,146900,24.65,NaN,NaN,NaN,NaN
5150646,12066958.0,1.552979e+15,113172765.0,4.0,601318,SH,145603000.0,100110853,7.587029e+09,75.19,...,2100,17800,1800,200,1900,75.73,NaN,NaN,NaN,NaN
5152573,12071359.0,1.552979e+15,113227897.0,4.0,600030,SH,145608000.0,212331509,5.183426e+09,24.19,...,238112,208000,134600,127900,146900,24.65,NaN,NaN,NaN,NaN
5156992,12080730.0,1.552979e+15,113340568.0,4.0,601318,SH,145618000.0,100164808,7.591085e+09,75.15,...,9004,11300,19644,23700,17600,75.73,NaN,NaN,NaN,NaN

0.0001800555622099695

'20190319 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:00:58.411973
2:03:05.926520

'20190320 SH lv2 check:'

5292910
5292908
5294278
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
420,273699.0,1.553045e+15,1858004.0,4.0,600621,SH,92501000.0,1752500,2.483292e+07,14.17,...,1987100,8500,0,0,0,14.17,NaN,NaN,NaN,NaN
524,274926.0,1.553045e+15,1912760.0,4.0,600797,SH,92503000.0,615400,6.707860e+06,10.90,...,1254200,129800,0,0,0,10.90,NaN,NaN,NaN,NaN
2182283,5073979.0,1.553051e+15,55817400.0,4.0,601318,SH,110506000.0,59133947,4.506848e+09,77.43,...,38900,40700,66674,121600,507446,75.06,NaN,NaN,NaN,NaN
2183486,5076444.0,1.553051e+15,55836458.0,4.0,601318,SH,110509000.0,59151847,4.508234e+09,77.44,...,2600,36600,40700,65874,120600,75.06,NaN,NaN,NaN,NaN
2184509,5078739.0,1.553051e+15,55854436.0,4.0,601318,SH,110512000.0,59170147,4.509652e+09,77.43,...,30500,40700,65974,120600,509346,75.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5287296,12308855.0,1.553065e+15,117395971.0,4.0,600030,SH,145650000.0,256279001,6.278153e+09,24.55,...,346404,220784,449900,211200,612900,24.15,NaN,NaN,NaN,NaN
5288135,12311156.0,1.553065e+15,117429120.0,4.0,600030,SH,145653000.0,256310901,6.278936e+09,24.55,...,340604,172684,449900,211200,612700,24.15,NaN,NaN,NaN,NaN
5289432,12313917.0,1.553065e+15,117463614.0,4.0,600030,SH,145656000.0,256326901,6.279329e+09,24.56,...,339704,162300,449000,208200,611700,24.15,NaN,NaN,NaN,NaN
5290898,12316837.0,1.553065e+15,117497735.0,4.0,600030,SH,145659000.0,256414101,6.281470e+09,24.55,...,277604,152300,449600,198100,611700,24.15,NaN,NaN,NaN,NaN
5291566,12317575.0,1.553065e+15,117501934.0,4.0,600030,SH,145700000.0,256432601,6.281925e+09,24.56,...,0,0,0,0,0,24.15,NaN,NaN,NaN,NaN

0.00025883682133268847

'20190320 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:05:17.255481
2:08:03.931519

'20190321 SH lv2 check:'

5418045
5418163
5419015
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
975,266627.0,1.553132e+15,1886442.0,4.0,600800,SH,92502000.0,584500,4.909800e+06,8.40,...,1924300,1556300,0,0,0,8.40,NaN,NaN,NaN,NaN
1057,266769.0,1.553132e+15,1904761.0,4.0,600096,SH,92502000.0,104200,7.043920e+05,6.76,...,428100,0,0,0,0,6.76,NaN,NaN,NaN,NaN
1065,266778.0,1.553132e+15,1905704.0,4.0,601298,SH,92502000.0,1988600,2.048258e+07,10.30,...,4492700,310275,0,0,0,10.30,NaN,NaN,NaN,NaN
2730959,6259178.0,1.553139e+15,68739635.0,4.0,600030,SH,112726000.0,178403774,4.432897e+09,25.00,...,411959,44000,38300,4600,7800,24.65,NaN,NaN,NaN,NaN
2731933,6261374.0,1.553139e+15,68756513.0,4.0,600030,SH,112729000.0,178602174,4.437857e+09,24.99,...,226659,44000,38300,15700,7800,24.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5396531,12501026.0,1.553151e+15,125306841.0,4.0,600030,SH,145614000.0,349971606,8.751672e+09,24.94,...,500,25200,39800,39000,43400,24.65,NaN,NaN,NaN,NaN
5397589,12503543.0,1.553151e+15,125347801.0,4.0,600030,SH,145617000.0,350043206,8.753456e+09,24.94,...,5000,28600,36400,41800,39000,24.65,NaN,NaN,NaN,NaN
5398908,12506346.0,1.553151e+15,125392265.0,4.0,600030,SH,145620000.0,350086006,8.754524e+09,24.92,...,41100,36900,41800,39800,51900,24.65,NaN,NaN,NaN,NaN
5400210,12509137.0,1.553151e+15,125431098.0,4.0,600030,SH,145623000.0,350169706,8.756610e+09,24.94,...,62500,37300,47100,39800,51900,24.65,NaN,NaN,NaN,NaN
5401769,12512180.0,1.553151e+15,125475500.0,4.0,600030,SH,145626000.0,350445506,8.763487e+09,24.93,...,500,57200,37500,47100,39500,24.65,NaN,NaN,NaN,NaN

0.0001572522930318962

'20190321 SH index check:'

11395
11395
11395
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:10:18.553294
2:13:49.487215

'20190322 SH lv2 check:'

5308009
5308371
5308818
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1136,303227.0,1.553218e+15,1995225.0,4.0,600868,SH,92503000.0,121900,5.071040e+05,4.16,...,307000,38300,0,0,0,4.16,NaN,NaN,NaN,NaN
1154,303297.0,1.553218e+15,2000611.0,4.0,603888,SH,92503000.0,1283679,3.465933e+07,27.00,...,1580200,426579,0,0,0,27.00,NaN,NaN,NaN,NaN
1158,303301.0,1.553218e+15,2000615.0,4.0,603713,SH,92503000.0,75400,2.804880e+06,37.20,...,142900,2500,0,0,0,37.20,NaN,NaN,NaN,NaN
1261,306605.0,1.553218e+15,2157153.0,4.0,600509,SH,92512000.0,15626300,1.051650e+08,6.73,...,17015380,0,0,0,0,6.73,NaN,NaN,NaN,NaN
15893,357734.0,1.553218e+15,3134815.0,4.0,603799,SH,93030000.0,167900,6.677788e+06,39.87,...,800,15600,7000,3200,300,39.74,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5275905,12307512.0,1.553238e+15,119951136.0,4.0,600030,SH,145548000.0,200717612,4.949702e+09,24.80,...,59453,252878,185200,189393,229107,24.77,NaN,NaN,NaN,NaN
5276702,12310241.0,1.553238e+15,119988146.0,4.0,600030,SH,145551000.0,200819512,4.952230e+09,24.80,...,3053,256578,175000,189693,229107,24.77,NaN,NaN,NaN,NaN
5281273,12319549.0,1.553238e+15,120097510.0,4.0,601318,SH,145600000.0,75985296,5.702378e+09,74.60,...,100,500,13200,80000,8700,75.76,NaN,NaN,NaN,NaN
5296857,12352931.0,1.553238e+15,120536391.0,4.0,601318,SH,145636000.0,76153029,5.714895e+09,74.65,...,60680,9300,7800,1004,34019,75.76,NaN,NaN,NaN,NaN
5300900,12361306.0,1.553238e+15,120648610.0,4.0,601318,SH,145645000.0,76247335,5.721934e+09,74.61,...,10294,200,18080,10300,7800,75.76,NaN,NaN,NaN,NaN

8.421236663313871e-05

'20190322 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:16:08.603393
2:18:55.016296

'20190325 SH lv2 check:'

5250427
5250695
5251723
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
354,370937.0,1.553477e+15,2158895.0,4.0,600503,SH,92502000.0,238600,1.126192e+06,4.72,...,270800,34400,0,0,0,4.72,NaN,NaN,NaN,NaN
715,371440.0,1.553477e+15,2211033.0,4.0,603919,SH,92503000.0,75900,1.161270e+06,15.30,...,102400,0,0,0,0,15.30,NaN,NaN,NaN,NaN
716,371457.0,1.553477e+15,2211752.0,4.0,600487,SH,92503000.0,331100,7.025942e+06,21.22,...,515600,42260,0,0,0,21.22,NaN,NaN,NaN,NaN
729,371664.0,1.553477e+15,2212733.0,4.0,601607,SH,92503000.0,361600,8.096224e+06,22.39,...,566700,74779,0,0,0,22.39,NaN,NaN,NaN,NaN
730,371667.0,1.553477e+15,2212736.0,4.0,600958,SH,92503000.0,25800,3.034080e+05,11.76,...,306800,46100,0,0,0,11.76,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5243840,12314777.0,1.553497e+15,119563075.0,4.0,600030,SH,145648000.0,250009831,6.023800e+09,23.69,...,60800,112900,16300,19600,77400,24.30,NaN,NaN,NaN,NaN
5245147,12317733.0,1.553497e+15,119600793.0,4.0,600030,SH,145651000.0,250048831,6.024724e+09,23.69,...,56100,112900,16300,19600,77400,24.30,NaN,NaN,NaN,NaN
5246447,12320520.0,1.553497e+15,119636658.0,4.0,600030,SH,145654000.0,250092631,6.025761e+09,23.68,...,37000,115100,19700,19600,77400,24.30,NaN,NaN,NaN,NaN
5247732,12323322.0,1.553497e+15,119673046.0,4.0,600030,SH,145657000.0,250137931,6.026834e+09,23.68,...,34400,117500,19700,20600,77400,24.30,NaN,NaN,NaN,NaN
5249028,12325751.0,1.553497e+15,119704261.0,4.0,600030,SH,145700000.0,250235031,6.029134e+09,23.69,...,0,0,0,0,0,24.30,NaN,NaN,NaN,NaN

0.00019579359926345037

'20190325 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:21:08.854558
2:23:14.743244

'20190326 SH lv2 check:'

5355576
5355792
5357100
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
172,190162.0,1.553564e+15,1277571.0,4.0,600386,SH,92501000.0,100,5.140000e+02,5.14,...,16400,14900,0,0,0,5.14,NaN,NaN,NaN,NaN
883,191795.0,1.553564e+15,1431266.0,4.0,601608,SH,92502000.0,445900,2.407860e+06,5.40,...,914900,0,0,0,0,5.40,NaN,NaN,NaN,NaN
884,191799.0,1.553564e+15,1431335.0,4.0,601226,SH,92502000.0,6841800,4.406119e+07,6.44,...,7470650,0,0,0,0,6.44,NaN,NaN,NaN,NaN
2057086,4710815.0,1.553569e+15,54216571.0,4.0,600352,SH,105900000.0,292075947,4.316142e+09,14.46,...,50000,55100,95607,378700,41400,15.20,NaN,NaN,NaN,NaN
2058408,4713452.0,1.553569e+15,54236380.0,4.0,600352,SH,105903000.0,292091547,4.316368e+09,14.47,...,38200,55800,95607,377700,41400,15.20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5336571,12294065.0,1.553583e+15,118840914.0,4.0,601318,SH,145618000.0,62522931,4.543281e+09,72.73,...,8500,45430,12100,24500,86358,72.99,NaN,NaN,NaN,NaN
5337632,12296583.0,1.553583e+15,118873252.0,4.0,601318,SH,145621000.0,62534431,4.544118e+09,72.74,...,3400,45430,12100,24500,86058,72.99,NaN,NaN,NaN,NaN
5338882,12299259.0,1.553583e+15,118908089.0,4.0,601318,SH,145624000.0,62545331,4.544911e+09,72.73,...,1000,45230,14200,24500,86058,72.99,NaN,NaN,NaN,NaN
5352927,12329483.0,1.553583e+15,119266513.0,4.0,600536,SH,145657000.0,74522396,4.748783e+09,60.25,...,1400,2900,8100,28100,8000,62.01,NaN,NaN,NaN,NaN
5354622,12331865.0,1.553583e+15,119289514.0,4.0,600536,SH,145700000.0,74534196,4.749493e+09,60.25,...,0,0,0,0,0,62.01,NaN,NaN,NaN,NaN

0.0002442314328094681

'20190326 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:25:24.102832
2:28:04.467615

'20190327 SH lv2 check:'

5063218
5063440
5064699
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1235,264468.0,1.553650e+15,1756213.0,4.0,601066,SH,92502000.0,985900,2.464750e+07,25.00,...,1062000,0,0,0,0,25.00,NaN,NaN,NaN,NaN
1240,264474.0,1.553650e+15,1756219.0,4.0,601226,SH,92502000.0,609300,3.655800e+06,6.00,...,1723700,62400,0,0,0,6.00,NaN,NaN,NaN,NaN
723921,1849612.0,1.553652e+15,24995821.0,4.0,600017,SH,95839000.0,14032064,4.866098e+07,3.48,...,13651,73800,100100,99200,108100,3.49,NaN,NaN,NaN,NaN
723923,1849614.0,1.553652e+15,24995823.0,4.0,600021,SH,95839000.0,1088146,9.699911e+06,8.93,...,1100,4300,23116,8080,18300,8.93,NaN,NaN,NaN,NaN
723951,1849644.0,1.553652e+15,24995867.0,4.0,600190,SH,95839000.0,24764832,1.061565e+08,4.59,...,286400,105600,32200,29900,38600,4.14,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5060319,11852647.0,1.553670e+15,107600419.0,4.0,601318,SH,145656000.0,75180796,5.552864e+09,74.22,...,4400,1600,600,7000,200,73.20,NaN,NaN,NaN,NaN
5060831,11853724.0,1.553670e+15,107612520.0,4.0,600572,SH,145657000.0,406059700,4.369682e+09,11.28,...,0,0,0,0,0,10.00,NaN,NaN,NaN,NaN
5061572,11855318.0,1.553670e+15,107630127.0,4.0,601318,SH,145659000.0,75199296,5.554238e+09,74.24,...,6800,200,9300,1000,7350,73.20,NaN,NaN,NaN,NaN
5061898,11855695.0,1.553670e+15,107635179.0,4.0,601318,SH,145700000.0,75199496,5.554253e+09,74.24,...,0,0,0,0,0,73.20,NaN,NaN,NaN,NaN
5062327,11856390.0,1.553670e+15,107637489.0,4.0,600572,SH,145700000.0,406059700,4.369682e+09,11.28,...,0,0,0,0,0,10.00,NaN,NaN,NaN,NaN

0.0002486560918372466

'20190327 SH index check:'

11395
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1381,1847982,1553651938924898,24972668,5,300,SH,95836180,31630593,4.044954e+10,3730.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1382,1847983,1553651938934828,24972741,5,852,SH,95836190,41430887,3.939806e+10,5806.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1383,1847984,1553651938934832,24972742,5,905,SH,95836190,37195162,3.386746e+10,5425.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:30:25.807115
2:33:28.167971

'20190328 SH lv2 check:'

5038819
5038816
5040138
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
556,202512.0,1.553736e+15,1631885.0,4.0,600695,SH,92502000.0,309000,2.224800e+06,7.20,...,334600,4800,0,0,0,7.20,NaN,NaN,NaN,NaN
566,202612.0,1.553736e+15,1631985.0,4.0,603963,SH,92502000.0,323100,5.977350e+06,18.50,...,557900,104400,0,0,0,18.50,NaN,NaN,NaN,NaN
570,202627.0,1.553736e+15,1632666.0,4.0,601398,SH,92502000.0,900000,4.941000e+06,5.49,...,1962200,0,0,0,0,5.49,NaN,NaN,NaN,NaN
1538141,3569580.0,1.553740e+15,44894949.0,4.0,600352,SH,103408000.0,254658663,4.320985e+09,16.62,...,39200,74200,15700,50700,36500,17.00,NaN,NaN,NaN,NaN
1873414,4319241.0,1.553741e+15,50858604.0,4.0,600352,SH,105041000.0,266783037,4.521519e+09,16.70,...,24800,9000,40100,4400,81900,17.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4967660,11598197.0,1.553756e+15,105872845.0,4.0,600460,SH,145414000.0,292204882,5.563547e+09,17.10,...,30400,5000,17700,13700,382771,19.53,NaN,NaN,NaN,NaN
4969155,11601549.0,1.553756e+15,105905067.0,4.0,600460,SH,145417000.0,292239782,5.564142e+09,17.10,...,34200,5000,17700,16200,382771,19.53,NaN,NaN,NaN,NaN
5010158,11689984.0,1.553756e+15,106904471.0,4.0,600460,SH,145556000.0,296210300,5.631544e+09,16.90,...,41449,24700,3900,35500,78000,19.53,NaN,NaN,NaN,NaN
5010685,11690743.0,1.553756e+15,106907524.0,4.0,600352,SH,145556000.0,400311747,6.731182e+09,16.13,...,3100,5200,65288,1000,2000,17.00,NaN,NaN,NaN,NaN
5011786,11692799.0,1.553756e+15,106930422.0,4.0,600352,SH,145559000.0,400420647,6.732939e+09,16.13,...,62888,1000,2100,18700,62200,17.00,NaN,NaN,NaN,NaN

0.00026236306563105365

'20190328 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:35:41.453558
2:38:17.864141

'20190329 SH lv2 check:'

5344435
5344732
5347990
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
996,254243.0,1.553823e+15,1771316.0,4.0,601008,SH,92506000.0,3978900,2.236142e+07,5.62,...,12664560,0,0,0,0,5.62,NaN,NaN,NaN,NaN
1758964,4112265.0,1.553828e+15,48126236.0,4.0,600519,SH,104442000.0,5112171,4.295603e+09,849.96,...,7000,108149,200,100,200,835.00,NaN,NaN,NaN,NaN
1759863,4114544.0,1.553828e+15,48153147.0,4.0,600519,SH,104445000.0,5114471,4.297558e+09,849.99,...,5700,108449,200,100,200,835.00,NaN,NaN,NaN,NaN
1761239,4117290.0,1.553828e+15,48182143.0,4.0,600519,SH,104448000.0,5123971,4.305633e+09,849.98,...,600,104849,200,100,200,835.00,NaN,NaN,NaN,NaN
1762681,4120131.0,1.553828e+15,48211138.0,4.0,600519,SH,104451000.0,5136571,4.316343e+09,850.00,...,95049,200,100,200,600,835.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329089,12361614.0,1.553843e+15,120696985.0,4.0,600519,SH,145627000.0,8997771,7.620495e+09,853.55,...,100,100,800,500,1400,835.00,NaN,NaN,NaN,NaN
5329987,12364002.0,1.553843e+15,120729648.0,4.0,600519,SH,145630000.0,8998971,7.621520e+09,853.65,...,227,800,100,1000,500,835.00,NaN,NaN,NaN,NaN
5331954,12367459.0,1.553843e+15,120772135.0,4.0,600519,SH,145633000.0,9002098,7.624188e+09,853.56,...,700,200,100,3100,500,835.00,NaN,NaN,NaN,NaN
5332786,12369784.0,1.553843e+15,120808367.0,4.0,600519,SH,145636000.0,9004898,7.626579e+09,853.80,...,600,507,1500,500,1400,835.00,NaN,NaN,NaN,NaN
5338632,12381723.0,1.553843e+15,120961759.0,4.0,600519,SH,145648000.0,9010438,7.631310e+09,853.80,...,100,200,807,100,200,835.00,NaN,NaN,NaN,NaN

0.0006096060668714279

'20190329 SH index check:'

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:40:32.032733
2:43:19.952524

'20190401 SH lv2 check:'

5542189
5542186
5544611
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
260,319937.0,1.554082e+15,1931989.0,4.0,600648,SH,92502000.0,114600,2.245014e+06,19.59,...,929874,0,0,0,0,19.59,NaN,NaN,NaN,NaN
261,320072.0,1.554082e+15,1932366.0,4.0,600281,SH,92502000.0,36000,1.566000e+05,4.35,...,52000,12700,0,0,0,4.35,NaN,NaN,NaN,NaN
262,320236.0,1.554082e+15,1934286.0,4.0,600260,SH,92502000.0,1300,2.974400e+04,22.88,...,275200,1500,0,0,0,22.88,NaN,NaN,NaN,NaN
806564,2065278.0,1.554084e+15,33481335.0,4.0,600030,SH,100007000.0,173135277,4.308788e+09,24.99,...,11800,68013,52300,214900,100600,24.77,NaN,NaN,NaN,NaN
807848,2068031.0,1.554084e+15,33517170.0,4.0,600030,SH,100010000.0,173246977,4.311580e+09,24.99,...,198000,359913,53100,179100,100600,24.77,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483235,12695232.0,1.554102e+15,130777299.0,4.0,601318,SH,145450000.0,114370780,8.990714e+09,78.65,...,133721,4200,13000,13800,86000,78.00,NaN,NaN,NaN,NaN
5484847,12698609.0,1.554102e+15,130814234.0,4.0,601318,SH,145453000.0,114393680,8.992516e+09,78.66,...,129721,4200,13000,13800,86000,78.00,NaN,NaN,NaN,NaN
5486547,12701905.0,1.554102e+15,130849777.0,4.0,601318,SH,145456000.0,114410080,8.993806e+09,78.66,...,130021,5400,13000,14100,86000,78.00,NaN,NaN,NaN,NaN
5487962,12704803.0,1.554102e+15,130884183.0,4.0,601318,SH,145459000.0,114551980,9.004967e+09,78.65,...,36221,5400,13000,14100,86500,78.00,NaN,NaN,NaN,NaN
5488916,12707168.0,1.554102e+15,130917359.0,4.0,601318,SH,145502000.0,114563680,9.005887e+09,78.66,...,39321,5400,13000,14100,85900,78.00,NaN,NaN,NaN,NaN

0.00043755274314896155

'20190401 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:45:38.009235
2:48:31.830666

'20190402 SH lv2 check:'

5522405
5522403
5523893
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
327,288906.0,1.554168e+15,2027722.0,4.0,600768,SH,92501000.0,88400,1.031628e+06,11.67,...,108100,0,0,0,0,11.67,NaN,NaN,NaN,NaN
1170,290977.0,1.554168e+15,2190007.0,4.0,600393,SH,92504000.0,247900,7.387420e+05,2.98,...,405200,103300,0,0,0,2.98,NaN,NaN,NaN,NaN
3123892,7512014.0,1.554182e+15,86635266.0,4.0,600030,SH,131231000.0,174467094,4.460044e+09,25.57,...,32721,109300,227888,114173,83020,25.52,NaN,NaN,NaN,NaN
3125444,7514931.0,1.554182e+15,86658815.0,4.0,600030,SH,131234000.0,174514694,4.461261e+09,25.56,...,5021,107500,220888,108500,85020,25.52,NaN,NaN,NaN,NaN
3126178,7517017.0,1.554182e+15,86680042.0,4.0,600030,SH,131237000.0,174545194,4.462041e+09,25.57,...,3500,92921,215888,110000,86220,25.52,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5520452,12739945.0,1.554188e+15,138230141.0,4.0,600776,SH,145658000.0,175425270,5.747124e+09,31.30,...,1900,4500,3900,5900,100,32.10,NaN,NaN,NaN,NaN
5520971,12741017.0,1.554188e+15,138253711.0,4.0,601318,SH,145700000.0,76241490,5.990376e+09,78.98,...,0,0,0,0,0,78.54,NaN,NaN,NaN,NaN
5521000,12741046.0,1.554188e+15,138253800.0,4.0,601989,SH,145700000.0,795743050,5.288216e+09,6.46,...,0,0,0,0,0,6.68,NaN,NaN,NaN,NaN
5521037,12741083.0,1.554188e+15,138253912.0,4.0,600570,SH,145700000.0,44021700,4.370774e+09,97.40,...,0,0,0,0,0,96.32,NaN,NaN,NaN,NaN
5521050,12741096.0,1.554188e+15,138253962.0,4.0,600776,SH,145700000.0,175473470,5.748633e+09,31.30,...,0,0,0,0,0,32.10,NaN,NaN,NaN,NaN

0.0002698099831504571

'20190402 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:50:49.083597
2:53:31.526276

'20190403 SH lv2 check:'

5375851
5375966
5378028
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
572,262210.0,1.554255e+15,2022971.0,4.0,600666,SH,92502000.0,13200,5.372400e+04,4.07,...,70300,36600,0,0,0,4.07,NaN,NaN,NaN,NaN
573,262294.0,1.554255e+15,2023420.0,4.0,600218,SH,92502000.0,487900,5.645003e+06,11.57,...,539300,106500,0,0,0,11.57,NaN,NaN,NaN,NaN
1113,262966.0,1.554255e+15,2070743.0,4.0,600572,SH,92502000.0,1506300,1.477680e+07,9.81,...,2183890,0,0,0,0,9.81,NaN,NaN,NaN,NaN
720384,1835490.0,1.554257e+15,29836964.0,4.0,600352,SH,95741000.0,205156617,4.357534e+09,21.31,...,42600,62900,106000,192600,18600,20.97,NaN,NaN,NaN,NaN
721425,1837817.0,1.554257e+15,29869937.0,4.0,600352,SH,95744000.0,205285217,4.360277e+09,21.31,...,7500,105400,192800,18600,89100,20.97,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372030,12458907.0,1.554275e+15,127583648.0,4.0,600837,SH,145654000.0,332301909,5.046603e+09,15.97,...,1802828,0,0,0,0,14.41,NaN,NaN,NaN,NaN
5372314,12459242.0,1.554275e+15,127585518.0,4.0,601318,SH,145654000.0,75074180,5.970227e+09,79.87,...,300,35300,25500,53019,7900,78.48,NaN,NaN,NaN,NaN
5373234,12461574.0,1.554275e+15,127621947.0,4.0,601318,SH,145657000.0,75080880,5.970762e+09,79.84,...,1400,2100,35300,25500,53319,78.48,NaN,NaN,NaN,NaN
5373449,12461794.0,1.554275e+15,127623098.0,4.0,600837,SH,145657000.0,332400609,5.048180e+09,15.97,...,1744928,0,0,0,0,14.41,NaN,NaN,NaN,NaN
5374452,12464035.0,1.554275e+15,127656544.0,4.0,600837,SH,145700000.0,333494509,5.065660e+09,15.97,...,0,0,0,0,0,14.41,NaN,NaN,NaN,NaN

0.00038356717848020714

'20190403 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:55:44.603728
2:57:58.157077

'20190404 SH lv2 check:'

5410348
5410347
5413381
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1168,289678.0,1.554341e+15,2106402.0,4.0,600109,SH,92504000.0,1471200,1.830173e+07,12.44,...,1483003,0,0,0,0,12.44,NaN,NaN,NaN,NaN
1375276,3274803.0,1.554345e+15,48491237.0,4.0,600352,SH,102350000.0,197620889,4.353805e+09,21.83,...,11200,12086,19500,6200,23000,21.44,NaN,NaN,NaN,NaN
1429907,3394306.0,1.554345e+15,49751700.0,4.0,600352,SH,102608000.0,200710181,4.421675e+09,22.16,...,1200,40100,80600,169100,4800,21.44,NaN,NaN,NaN,NaN
1431085,3396888.0,1.554345e+15,49778849.0,4.0,600352,SH,102611000.0,200774181,4.423093e+09,22.16,...,41800,28500,46900,81100,169600,21.44,NaN,NaN,NaN,NaN
1581548,3728558.0,1.554345e+15,52939124.0,4.0,600352,SH,103247000.0,205042775,4.516753e+09,21.87,...,85100,1000,15399,5000,41500,21.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5404990,12543969.0,1.554361e+15,131150927.0,4.0,600030,SH,145652000.0,270603090,7.023904e+09,25.98,...,62999,606200,43000,84100,34500,26.21,NaN,NaN,NaN,NaN
5405824,12544831.0,1.554361e+15,131153216.0,4.0,601318,SH,145652000.0,78084095,6.260275e+09,80.25,...,36188,19800,84680,89100,334597,80.08,NaN,NaN,NaN,NaN
5406775,12547249.0,1.554361e+15,131194463.0,4.0,600030,SH,145655000.0,270616690,7.024257e+09,25.98,...,71499,619000,43000,84100,34400,26.21,NaN,NaN,NaN,NaN
5407606,12549564.0,1.554361e+15,131230752.0,4.0,600030,SH,145658000.0,270680390,7.025913e+09,25.98,...,100199,634700,46100,84100,34400,26.21,NaN,NaN,NaN,NaN
5408928,12551725.0,1.554361e+15,131258523.0,4.0,600030,SH,145700000.0,270695290,7.026300e+09,25.99,...,0,0,0,0,0,26.21,NaN,NaN,NaN,NaN

0.0005607772365104795

'20190404 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:00:12.813865
3:02:29.845878

'20190408 SH lv2 check:'

5558899
5558896
5562588
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
365,310576.0,1.554687e+15,1980717.0,4.0,601108,SH,92501000.0,21000,2.954700e+05,14.07,...,950805,0,0,0,0,14.07,NaN,NaN,NaN,NaN
972,311415.0,1.554687e+15,2032421.0,4.0,603636,SH,92502000.0,27500,4.070000e+05,14.80,...,75000,0,0,0,0,14.80,NaN,NaN,NaN,NaN
973,311427.0,1.554687e+15,2032433.0,4.0,603118,SH,92502000.0,5400,6.301800e+04,11.67,...,224300,13320,0,0,0,11.67,NaN,NaN,NaN,NaN
377350,1138115.0,1.554688e+15,20025613.0,4.0,600352,SH,94353000.0,177977917,4.463678e+09,25.28,...,543617,4430834,0,0,0,25.00,NaN,NaN,NaN,NaN
378525,1140799.0,1.554688e+15,20074011.0,4.0,600352,SH,94356000.0,178192817,4.469113e+09,25.29,...,377017,4450534,0,0,0,25.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554914,12828685.0,1.554707e+15,136626016.0,4.0,600030,SH,145654000.0,287831443,7.376031e+09,25.35,...,70900,274716,106200,138827,89400,26.25,NaN,NaN,NaN,NaN
5555555,12830264.0,1.554707e+15,136651210.0,4.0,600519,SH,145656000.0,6520323,5.850378e+09,899.08,...,140,100,100,300,2600,900.00,NaN,NaN,NaN,NaN
5556411,12831662.0,1.554707e+15,136662733.0,4.0,600030,SH,145657000.0,287900043,7.377769e+09,25.35,...,59400,274116,104600,137827,90400,26.25,NaN,NaN,NaN,NaN
5557533,12834050.0,1.554707e+15,136689315.0,4.0,600030,SH,145700000.0,287952343,7.379095e+09,25.35,...,0,0,0,0,0,26.25,NaN,NaN,NaN,NaN
5557545,12834062.0,1.554707e+15,136689327.0,4.0,600516,SH,145700000.0,238463674,7.102322e+09,29.60,...,0,0,0,0,0,29.00,NaN,NaN,NaN,NaN

0.0006641602950512323

'20190408 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
257,642615.0,1.554687e+15,10860214.0,5.0,300,SH,93514000.0,25577404,3.291904e+10,4104.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417,2008797.0,1.554689e+15,33197012.0,5.0,300,SH,95924000.0,79168462,9.898297e+10,4114.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:04:44.690701
3:07:00.202841

'20190409 SH lv2 check:'

5271849
5271847
5273098
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
832,330167.0,1.554773e+15,2053763.0,4.0,600720,SH,92502000.0,136500,1.324050e+06,9.70,...,865700,0,0,0,0,9.70,NaN,NaN,NaN,NaN
875,330272.0,1.554773e+15,2073570.0,4.0,600801,SH,92503000.0,853900,2.689785e+07,31.50,...,1023900,11700,0,0,0,31.50,NaN,NaN,NaN,NaN
689709,1831527.0,1.554775e+15,29201474.0,4.0,600352,SH,95627000.0,174347967,4.402281e+09,24.50,...,84573,4100,34200,11200,2900,25.19,NaN,NaN,NaN,NaN
690972,1834228.0,1.554775e+15,29236510.0,4.0,600352,SH,95630000.0,174818767,4.413819e+09,24.53,...,8300,36873,51300,39000,17800,25.19,NaN,NaN,NaN,NaN
691983,1836670.0,1.554775e+15,29269348.0,4.0,600352,SH,95633000.0,175117167,4.421131e+09,24.50,...,33600,11300,100,12900,31273,25.19,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260030,12305800.0,1.554793e+15,120796529.0,4.0,600030,SH,145636000.0,195451476,4.944935e+09,25.39,...,4784,40400,57000,62700,44800,25.28,NaN,NaN,NaN,NaN
5261365,12308634.0,1.554793e+15,120832369.0,4.0,600030,SH,145639000.0,195485476,4.945798e+09,25.39,...,6884,27900,57000,62700,44800,25.28,NaN,NaN,NaN,NaN
5263996,12314258.0,1.554793e+15,120905436.0,4.0,600030,SH,145645000.0,195668076,4.950435e+09,25.39,...,111884,21500,44400,62700,46100,25.28,NaN,NaN,NaN,NaN
5265524,12317469.0,1.554793e+15,120944287.0,4.0,600030,SH,145648000.0,195823876,4.954392e+09,25.40,...,63934,22200,44900,72700,46100,25.28,NaN,NaN,NaN,NaN
5266577,12319761.0,1.554793e+15,120978388.0,4.0,600030,SH,145651000.0,195893076,4.956149e+09,25.39,...,24600,22034,28500,46800,74300,25.28,NaN,NaN,NaN,NaN

0.00023729814719655287

'20190409 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:09:11.020805
20190410
92 SSE snapshot data is missing
*************************************************************************************************
3:10:08.087141
20190411
92 SSE snapshot data is missing
*************************************************************************************************
3:11:01.700751
20190412
92 SSE snapshot data is missing
*************************************************************************************************
3:11:56.903134
20190415
92 SSE snapshot data is missing
*************************************************************************************************
3:12:52.391035
20190416
92 SSE snapshot data is missing
*************************************************************************************************
3:13:47.238131
20190417
92 SSE snapshot data is missing
*************************************************************************************************
3:14:41.089586
3:17:04.331262

'20190418 SH lv2 check:'

5085714
5085714
5087961
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1326973,3262922.0,1.555554e+15,43681517.0,4.0,600352,SH,102407000.0,198309245,4.457272e+09,23.34,...,18400,44500,63000,133300,145500,21.7,NaN,NaN,NaN,NaN
1327662,3264870.0,1.555554e+15,43702271.0,4.0,600352,SH,102410000.0,198519045,4.462166e+09,23.32,...,3200,10600,31600,4000,59700,21.7,NaN,NaN,NaN,NaN
1328945,3267527.0,1.555554e+15,43724798.0,4.0,600352,SH,102413000.0,198634445,4.464856e+09,23.30,...,49300,14300,1800,70800,13600,21.7,NaN,NaN,NaN,NaN
1329791,3269661.0,1.555554e+15,43745894.0,4.0,600352,SH,102416000.0,198751345,4.467579e+09,23.30,...,271100,12800,30395,18300,145700,21.7,NaN,NaN,NaN,NaN
1331233,3272408.0,1.555554e+15,43768937.0,4.0,600352,SH,102419000.0,198965045,4.472558e+09,23.27,...,4700,15200,12000,118600,13200,21.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918696,11663797.0,1.555570e+15,111469448.0,4.0,601138,SH,145020000.0,348095980,6.661741e+09,19.66,...,105368,113900,199000,739400,12304760,18.4,NaN,NaN,NaN,NaN
4919920,11666440.0,1.555570e+15,111495426.0,4.0,601138,SH,145023000.0,348130680,6.662423e+09,19.65,...,93168,113800,200000,740400,12295460,18.4,NaN,NaN,NaN,NaN
4921145,11669070.0,1.555570e+15,111524171.0,4.0,601138,SH,145026000.0,348209980,6.663982e+09,19.65,...,36468,113800,200500,740300,12294360,18.4,NaN,NaN,NaN,NaN
4972405,11779790.0,1.555570e+15,112666984.0,4.0,601138,SH,145232000.0,351484942,6.728462e+09,19.69,...,11369460,0,0,0,0,18.4,NaN,NaN,NaN,NaN
4973627,11782435.0,1.555570e+15,112695391.0,4.0,601138,SH,145235000.0,351554242,6.729827e+09,19.70,...,11338260,0,0,0,0,18.4,NaN,NaN,NaN,NaN

0.00044182586751830716

'20190418 SH index check:'

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:19:14.074961
3:22:30.227789

'20190419 SH lv2 check:'

5050487
5050756
5051793
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
867919,2242668.0,1.555640e+15,25700897.0,4.0,600749,SH,100457000.0,1386201,1.910202e+07,13.72,...,5400,300,2000,3900,3000,13.67,NaN,NaN,NaN,NaN
867920,2242669.0,1.555640e+15,25700898.0,4.0,600751,SH,100457000.0,4041400,1.573048e+07,3.88,...,84400,178600,157900,147800,132700,3.89,NaN,NaN,NaN,NaN
867921,2242670.0,1.555640e+15,25700899.0,4.0,600753,SH,100457000.0,311300,5.646205e+06,18.25,...,600,200,8600,3700,17100,18.01,NaN,NaN,NaN,NaN
867922,2242671.0,1.555640e+15,25700900.0,4.0,600755,SH,100457000.0,18576150,1.716217e+08,9.16,...,58862,20800,31315,73481,45900,9.29,NaN,NaN,NaN,NaN
867923,2242672.0,1.555640e+15,25700901.0,4.0,600756,SH,100457000.0,12411950,3.669737e+08,29.87,...,9100,2000,11800,25901,3000,28.98,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947056,11727935.0,1.555657e+15,94128685.0,4.0,600352,SH,145300000.0,387816668,8.585313e+09,21.67,...,138800,364900,541300,7900,12872,23.19,NaN,NaN,NaN,NaN
4949016,11731384.0,1.555657e+15,94158563.0,4.0,600352,SH,145303000.0,387904368,8.587214e+09,21.68,...,134700,364800,541300,7900,12872,23.19,NaN,NaN,NaN,NaN
4967294,11771370.0,1.555657e+15,94555308.0,4.0,600352,SH,145348000.0,389712591,8.626437e+09,21.72,...,17800,10500,81000,174000,6300,23.19,NaN,NaN,NaN,NaN
4991722,11823619.0,1.555657e+15,95089389.0,4.0,600352,SH,145445000.0,391746991,8.670641e+09,21.71,...,2600,76700,145900,169700,236600,23.19,NaN,NaN,NaN,NaN
4995750,11832041.0,1.555657e+15,95174072.0,4.0,600352,SH,145454000.0,392512091,8.687243e+09,21.70,...,130700,93000,206600,154900,241900,23.19,NaN,NaN,NaN,NaN

0.00020532673383774673

'20190419 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:24:40.437594
3:28:01.664608

'20190422 SH lv2 check:'

5143194
5143189
5144162
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
269,359262.0,1.555896e+15,1971737.0,4.0,601258,SH,92501000.0,1397000,2.472690e+06,1.77,...,1443600,0,0,0,0,1.77,NaN,NaN,NaN,NaN
270,359336.0,1.555896e+15,1971811.0,4.0,600854,SH,92501000.0,20200,1.018080e+05,5.04,...,83700,2600,0,0,0,5.04,NaN,NaN,NaN,NaN
275,359481.0,1.555896e+15,1972914.0,4.0,600973,SH,92501000.0,402500,2.016525e+06,5.01,...,863100,322000,0,0,0,5.01,NaN,NaN,NaN,NaN
282,359588.0,1.555896e+15,1973753.0,4.0,600345,SH,92501000.0,20300,6.664490e+05,32.83,...,74900,0,0,0,0,32.83,NaN,NaN,NaN,NaN
821,360536.0,1.555896e+15,2026343.0,4.0,603888,SH,92501000.0,2200,6.065400e+04,27.57,...,87400,0,0,0,0,27.57,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5129978,12088616.0,1.555916e+15,99406363.0,4.0,601318,SH,145631000.0,92550644,7.976811e+09,84.99,...,100,17805,1100,300,2700,87.22,NaN,NaN,NaN,NaN
5131243,12091315.0,1.555916e+15,99436516.0,4.0,601318,SH,145634000.0,92566844,7.978188e+09,84.97,...,100,1700,15705,1100,300,87.22,NaN,NaN,NaN,NaN
5132506,12094064.0,1.555916e+15,99463899.0,4.0,601318,SH,145637000.0,92573444,7.978749e+09,85.00,...,18805,1100,300,2700,1500,87.22,NaN,NaN,NaN,NaN
5133599,12096646.0,1.555916e+15,99491397.0,4.0,601318,SH,145640000.0,92577044,7.979055e+09,84.95,...,4900,1300,300,50305,1100,87.22,NaN,NaN,NaN,NaN
5134649,12099153.0,1.555916e+15,99517637.0,4.0,601318,SH,145643000.0,92587744,7.979964e+09,84.99,...,2500,92005,1000,300,2700,87.22,NaN,NaN,NaN,NaN

0.00018918205301997164

'20190422 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:30:12.064821
3:32:43.472514

'20190423 SH lv2 check:'

5134839
5134836
5135243
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
103,335058.0,1.555983e+15,1813686.0,4.0,603128,SH,92501000.0,48700,5.001490e+05,10.27,...,66900,0,0,0,0,10.27,NaN,NaN,NaN,NaN
104,335139.0,1.555983e+15,1813767.0,4.0,601003,SH,92501000.0,18300,1.370670e+05,7.49,...,24000,0,0,0,0,7.49,NaN,NaN,NaN,NaN
646,338172.0,1.555983e+15,1897386.0,4.0,600526,SH,92504000.0,837200,4.437160e+06,5.30,...,3727200,3554,0,0,0,5.30,NaN,NaN,NaN,NaN
3599422,8683657.0,1.555998e+15,73463530.0,4.0,601318,SH,134431000.0,50030429,4.295369e+09,87.08,...,12600,24700,26140,3900,7000,84.75,NaN,NaN,NaN,NaN
3599915,8685219.0,1.555998e+15,73482256.0,4.0,601318,SH,134434000.0,50043529,4.296509e+09,87.07,...,58800,24800,25340,3900,9000,84.75,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5131882,12068179.0,1.556003e+15,98271257.0,4.0,600519,SH,145655000.0,4836424,4.677921e+09,975.00,...,966,600,400,100,600,951.00,NaN,NaN,NaN,NaN
5132874,12070594.0,1.556003e+15,98294653.0,4.0,600352,SH,145658000.0,208795286,4.513286e+09,21.30,...,176700,50600,28000,55800,19400,21.90,NaN,NaN,NaN,NaN
5132892,12070612.0,1.556003e+15,98294671.0,4.0,600519,SH,145658000.0,4837990,4.679448e+09,975.00,...,100,400,100,600,400,951.00,NaN,NaN,NaN,NaN
5133497,12072045.0,1.556003e+15,98305409.0,4.0,600352,SH,145700000.0,208826186,4.513944e+09,21.29,...,0,0,0,0,0,21.90,NaN,NaN,NaN,NaN
5134534,12073082.0,1.556003e+15,98308413.0,4.0,600519,SH,145700000.0,4838290,4.679741e+09,975.00,...,0,0,0,0,0,951.00,NaN,NaN,NaN,NaN

7.926246567808649e-05

'20190423 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:34:51.408862
3:37:04.879320

'20190424 SH lv2 check:'

4970828
4970950
4971986
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
16,328929.0,1.556069e+15,1728542.0,4.0,600509,SH,92501000.0,1026000,6.156000e+06,6.00,...,1562600,0,0,0,0,6.00,NaN,NaN,NaN,NaN
2500326,5884394.0,1.556076e+15,50796355.0,4.0,601318,SH,112640000.0,50455139,4.304880e+09,83.63,...,100,3500,500,91200,9108,86.08,NaN,NaN,NaN,NaN
2501231,5886630.0,1.556076e+15,50813247.0,4.0,601318,SH,112643000.0,50621861,4.318820e+09,83.66,...,83778,9108,100,8300,1100,86.08,NaN,NaN,NaN,NaN
2506093,5896726.0,1.556076e+15,50881743.0,4.0,601318,SH,112655000.0,50756422,4.330079e+09,83.70,...,8500,600,61678,9008,8200,86.08,NaN,NaN,NaN,NaN
2507069,5898953.0,1.556076e+15,50898203.0,4.0,601318,SH,112658000.0,50771606,4.331350e+09,83.69,...,2400,300,61278,9008,8200,86.08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4967432,11758430.0,1.556089e+15,92179167.0,4.0,600352,SH,145655000.0,236518051,4.894166e+09,20.61,...,29600,87100,40800,88600,236300,21.54,NaN,NaN,NaN,NaN
4968518,11760905.0,1.556089e+15,92203162.0,4.0,601318,SH,145658000.0,80559189,6.854935e+09,85.04,...,1100,100,110718,51800,43672,86.08,NaN,NaN,NaN,NaN
4969081,11761497.0,1.556089e+15,92205466.0,4.0,600352,SH,145658000.0,236578451,4.895411e+09,20.59,...,3400,23600,87100,36400,86200,21.54,NaN,NaN,NaN,NaN
4969398,11762591.0,1.556089e+15,92215444.0,4.0,600352,SH,145700000.0,236611551,4.896093e+09,20.61,...,0,0,0,0,0,21.54,NaN,NaN,NaN,NaN
4969562,11762755.0,1.556089e+15,92216105.0,4.0,601318,SH,145700000.0,80559589,6.854969e+09,85.05,...,0,0,0,0,0,86.08,NaN,NaN,NaN,NaN

0.0002084159822065861

'20190424 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:39:08.269491
3:42:20.987869

'20190425 SH lv2 check:'

5116976
5116974
5117093
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
185,335880.0,1.556156e+15,1857690.0,4.0,600166,SH,92501000.0,926500,2.723910e+06,2.94,...,2565900,653400,0,0,0,2.94,NaN,NaN,NaN,NaN
186,336006.0,1.556156e+15,1858482.0,4.0,600094,SH,92501000.0,1173000,9.489570e+06,8.09,...,1745900,0,0,0,0,8.09,NaN,NaN,NaN,NaN
4493334,10691783.0,1.556174e+15,102783978.0,4.0,601318,SH,143204000.0,51161673,4.303481e+09,83.33,...,3600,33559,30182,19700,3300,84.35,NaN,NaN,NaN,NaN
4494722,10694614.0,1.556174e+15,102809763.0,4.0,601318,SH,143207000.0,51193473,4.306133e+09,83.39,...,15459,27400,18700,3300,600,84.35,NaN,NaN,NaN,NaN
4527299,10765468.0,1.556174e+15,103491365.0,4.0,601318,SH,143331000.0,51954606,4.369621e+09,83.38,...,16300,1400,6900,1800,16100,84.35,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5090294,11975970.0,1.556175e+15,117525277.0,4.0,600352,SH,145601000.0,214376604,4.367219e+09,20.68,...,73000,32400,58600,149400,22900,20.56,NaN,NaN,NaN,NaN
5090892,11978004.0,1.556175e+15,117560687.0,4.0,600352,SH,145604000.0,214544904,4.370702e+09,20.71,...,31500,60600,149500,22500,649900,20.56,NaN,NaN,NaN,NaN
5092370,11980959.0,1.556175e+15,117597824.0,4.0,600352,SH,145607000.0,214708404,4.374086e+09,20.70,...,918400,19100,63000,150900,27500,20.56,NaN,NaN,NaN,NaN
5093958,11984045.0,1.556175e+15,117636897.0,4.0,600352,SH,145610000.0,214912004,4.378300e+09,20.70,...,798600,32600,66400,150900,28100,20.56,NaN,NaN,NaN,NaN
5095486,11987052.0,1.556175e+15,117674920.0,4.0,600352,SH,145613000.0,215130467,4.382821e+09,20.69,...,65900,780600,25900,68600,151200,20.56,NaN,NaN,NaN,NaN

2.325592302953932e-05

'20190425 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:44:35.548552
3:47:20.452536

'20190426 SH lv2 check:'

4972067
4972529
4972804
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3753620,9075302.0,1.556258e+15,83440470.0,4.0,601318,SH,135903000.0,51848763,4.338174e+09,83.39,...,3000,400,6500,700,19200,83.0,NaN,NaN,NaN,NaN
3755054,9078054.0,1.556258e+15,83462643.0,4.0,601318,SH,135906000.0,51851938,4.338438e+09,83.39,...,125,2400,400,6500,700,83.0,NaN,NaN,NaN,NaN
3756097,9080364.0,1.556258e+15,83480557.0,4.0,601318,SH,135909000.0,51854538,4.338655e+09,83.39,...,725,2400,400,6600,1700,83.0,NaN,NaN,NaN,NaN
3756982,9082489.0,1.556258e+15,83499203.0,4.0,601318,SH,135912000.0,51867138,4.339706e+09,83.39,...,925,2700,400,2500,1700,83.0,NaN,NaN,NaN,NaN
3758380,9085179.0,1.556258e+15,83518821.0,4.0,601318,SH,135915000.0,51871263,4.340050e+09,83.40,...,2700,400,200,2500,1700,83.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4939594,11691320.0,1.556262e+15,105650016.0,4.0,601318,SH,145542000.0,63732557,5.327917e+09,83.20,...,300,100,500,20923,25100,83.0,NaN,NaN,NaN,NaN
4940802,11693875.0,1.556262e+15,105677152.0,4.0,601318,SH,145545000.0,63740457,5.328575e+09,83.20,...,2900,800,20923,25100,10300,83.0,NaN,NaN,NaN,NaN
4941982,11696487.0,1.556262e+15,105707846.0,4.0,601318,SH,145548000.0,63745257,5.328974e+09,83.20,...,2400,2800,20923,25100,10300,83.0,NaN,NaN,NaN,NaN
4944601,11701869.0,1.556262e+15,105764735.0,4.0,601318,SH,145554000.0,63761957,5.330363e+09,83.21,...,3600,20923,27300,10300,4500,83.0,NaN,NaN,NaN,NaN
4945167,11703739.0,1.556262e+15,105791730.0,4.0,601318,SH,145557000.0,63774657,5.331420e+09,83.21,...,16323,27300,10300,4500,9200,83.0,NaN,NaN,NaN,NaN

5.530898919905946e-05

'20190426 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************

MemoryError:

In [1]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
from decimal import Decimal, ROUND_HALF_UP
import datetime

startDate = "20190427"
endDate = "20191210"

readPath = 'F:\\SH\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

startTm = datetime.datetime.now()
diff = {}
for col in ['Date', 'Data', 'Condition', 'Prob', 'Time']:
    diff[col] = []

for p in dataPathLs:
    print("*************************************************************************************************")
    F1 = open(p, 'rb')
    snapshot = pickle.load(F1)
    print(datetime.datetime.now() - startTm)
    
    snapshot["DateTime"] = snapshot["DateTime"].apply(lambda x: int(x))
    dd = int(snapshot["DateTime"].iloc[0]//1000000 * 1000000)
    snapshot['time'] = (snapshot["DateTime"] - dd)*1000
    
    path = "J:\\recordData\\logs_" + os.path.basename(p).split('.')[0] + "_zs_92_01_day_data\\mdLog_SH_***" 
    if len(np.array(glob.glob(path))) == 0:
        print(os.path.basename(p).split('.')[0])
        print("92 SSE snapshot data is missing")
        continue
    if len(np.array(glob.glob(path))) == 2:
        logSH1 = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH2 = pd.read_csv(np.array(glob.glob(path))[1], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
        logSH = pd.concat([logSH1, logSH2])
    else:
        logSH = pd.read_csv(np.array(glob.glob(path))[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    print(datetime.datetime.now() - startTm)
    
    logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
    logSH1 = snapshot[["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice",'TotalBidQty', 'TotalOfferQty','time']]
    
    # SH lv2 data check here
    display(os.path.basename(p).split('.')[0] + " SH lv2 check:")
    in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
    data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000) & (logSH["cum_volume"] > 0)
              & (logSH["source"] == 4)]
    data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000) & (logSH1["cum_volume"] > 0)]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    del data1
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    del data2
    n1 = len(data1_1["StockID"].unique())
    n2 = len(data2_1["StockID"].unique())
    if n1 > n2:
        data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
    if n2 > n1:
        data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("lv2 data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    if (n2 < len1) & (n1 < len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])])/n1)
        if len(test[np.isnan(test["time_y"])])/n1 > 0.001:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])])/n1)
    
    if (n2 < len1) & (n1 == len1):
        display("SSE lv2 test is not complete:")
        display(test[np.isnan(test["time_y"])])
        print(len(test[np.isnan(test["time_y"])]))
        if len(test[np.isnan(test["time_y"])]) > 10:
            diff["Condition"].append("SSE lv2 test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
        else:
            diff["Condition"].append("SSE lv2 test is complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
          
    if len1 == n2:
        display("SSE lv2 test is complete")
        diff["Condition"].append("SSE lv2 test is complete")
        diff["Prob"].append('C')
    
    # SH snapshot data check here
    display(os.path.basename(p).split('.')[0] + " SH index check:")
    data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["time"] > 92500000) & (logSH["time"] <= 145700000)]
    data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["time"] > 92500000) & (logSH1["time"] <= 145700000)]
    columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
    data1["openPrice"] = data1.groupby("StockID")["openPrice"].transform("max")
    data2["openPrice"] = data2.groupby("StockID")["openPrice"].transform("max")
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
    columns = ["StockID", "cum_volume", "close", "openPrice"]
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.000'), rounding=ROUND_HALF_UP)))
    data1_1["openPrice"] = data1_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data1_1["close"] = data1_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["openPrice"] = data2_1["openPrice"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    data2_1["close"] = data2_1["close"].apply(lambda x: float(Decimal(str(x)).quantize(Decimal('0.00'), rounding=ROUND_HALF_UP)))
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    diff["Date"].append(os.path.basename(p).split('.')[0])
    diff["Data"].append("index data")
    re = test[(~np.isnan(test["time_y"]))&(~np.isnan(test["time_x"]))]
    diff["Time"].append(re[re["time_x"] == re["time_y"]].shape[0]/re.shape[0])
    if n2 < len1:
        display("SSE index test is not complete:")
        display(test[np.isnan(test["time_y"])])
        piu = pd.merge(pd.merge(data1_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]), pd.merge(data2_1, test[np.isnan(test["time_y"])][["StockID", "cum_volume"]]),
         on=["StockID", "cum_volume"])
        print(len(test[np.isnan(test["time_y"])]))
        if all(abs(piu["close_x"] - piu["close_y"]) <= 0.011) & all(abs(piu["openPrice_x"] - piu["openPrice_y"]) <= 0.011):
            display("test is complete, the difference is caused by round difference")
            diff["Condition"].append("SSE index test is complete with round difference")
            diff["Prob"].append('C')
        else:
            diff["Condition"].append("SSE index test is not complete")
            diff["Prob"].append(len(test[np.isnan(test["time_y"])]))
    if len1 == n2:
        display("SSE index test is complete")
        diff["Condition"].append("SSE index test is complete")
        diff["Prob"].append('C')
       
    
diff = pd.DataFrame(diff)
diff.to_csv("F:\\SH_check_result2.csv")
print(diff)

*************************************************************************************************
0:00:50.608045
0:04:04.928428

'20190429 SH lv2 check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5042984
5043119
5043673
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1213,321998.0,1.556501e+15,1716772.0,4.0,600198,SH,92506000.0,726700,1.358929e+07,18.70,...,3219900,1115,0,0,0,18.70,NaN,NaN,NaN,NaN
2719912,6684681.0,1.556514e+15,67949539.0,4.0,601318,SH,130017000.0,51277883,4.347276e+09,85.96,...,500,6925,14800,16230,31500,83.88,NaN,NaN,NaN,NaN
2720831,6686894.0,1.556514e+15,68004150.0,4.0,601318,SH,130020000.0,51288283,4.348170e+09,85.95,...,3600,14025,16230,31500,206025,83.88,NaN,NaN,NaN,NaN
2721733,6688740.0,1.556514e+15,68047190.0,4.0,601318,SH,130023000.0,51307283,4.349802e+09,85.97,...,100,10725,16230,31500,206025,83.88,NaN,NaN,NaN,NaN
2722616,6690708.0,1.556514e+15,68088206.0,4.0,601318,SH,130026000.0,51329483,4.351710e+09,85.95,...,7000,300,1925,16230,31500,83.88,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037966,11845332.0,1.556521e+15,108050654.0,4.0,601318,SH,145650000.0,93243518,7.975018e+09,86.32,...,26500,2100,12700,100,700,83.88,NaN,NaN,NaN,NaN
5039171,11847964.0,1.556521e+15,108076641.0,4.0,601318,SH,145653000.0,93311418,7.980879e+09,86.33,...,100,21600,2600,12700,5100,83.88,NaN,NaN,NaN,NaN
5040383,11850588.0,1.556521e+15,108101404.0,4.0,601318,SH,145656000.0,93333718,7.982804e+09,86.34,...,500,7600,2600,12700,5100,83.88,NaN,NaN,NaN,NaN
5041590,11853385.0,1.556521e+15,108126913.0,4.0,601318,SH,145659000.0,93365818,7.985576e+09,86.37,...,4700,4200,1100,19900,4900,83.88,NaN,NaN,NaN,NaN
5041700,11853498.0,1.556521e+15,108128084.0,4.0,601318,SH,145700000.0,93366018,7.985593e+09,86.36,...,0,0,0,0,0,83.88,NaN,NaN,NaN,NaN

0.00010985559343436347

'20190429 SH index check:'

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
0:06:15.335805
0:08:36.182868

'20190430 SH lv2 check:'

4717894
4718008
4718872
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1277,336179.0,1.556588e+15,1602416.0,4.0,600864,SH,92506000.0,94800,7.650360e+05,8.07,...,1600400,0,0,0,0,8.07,NaN,NaN,NaN,NaN
1216299,3004733.0,1.556591e+15,32760582.0,4.0,601318,SH,102138000.0,49912277,4.295351e+09,85.81,...,2600,2100,8535,5900,1500,86.50,NaN,NaN,NaN,NaN
1220231,3013525.0,1.556591e+15,32824075.0,4.0,601318,SH,102150000.0,49939877,4.297721e+09,85.88,...,16539,1900,9735,3400,1500,86.50,NaN,NaN,NaN,NaN
1220856,3015310.0,1.556591e+15,32839297.0,4.0,601318,SH,102153000.0,49947777,4.298399e+09,85.88,...,12739,800,9735,3400,1500,86.50,NaN,NaN,NaN,NaN
1223763,3021861.0,1.556591e+15,32886667.0,4.0,601318,SH,102202000.0,50005350,4.303344e+09,85.88,...,774,20400,37400,12335,5000,86.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4689312,11180357.0,1.556607e+15,90499137.0,4.0,601318,SH,145553000.0,90524159,7.785172e+09,86.00,...,2800,100,1000,8300,9800,86.50,NaN,NaN,NaN,NaN
4690898,11183491.0,1.556607e+15,90523950.0,4.0,601318,SH,145556000.0,90533186,7.785948e+09,86.01,...,2900,1700,1000,8300,9800,86.50,NaN,NaN,NaN,NaN
4691835,11185650.0,1.556607e+15,90546803.0,4.0,601318,SH,145559000.0,90536386,7.786224e+09,86.01,...,300,1700,1000,7800,9800,86.50,NaN,NaN,NaN,NaN
4693443,11188809.0,1.556607e+15,90573378.0,4.0,601318,SH,145602000.0,90571415,7.789236e+09,86.00,...,5700,9800,700,5900,100,86.50,NaN,NaN,NaN,NaN
4706028,11216600.0,1.556607e+15,90863709.0,4.0,601318,SH,145635000.0,90718566,7.801900e+09,86.08,...,336,13200,10800,1200,7000,86.50,NaN,NaN,NaN,NaN

0.00018313255872217562

'20190430 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
0:10:38.254717
0:12:22.112320

'20190506 SH lv2 check:'

5040428
5040427
5041799
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1364,323185.0,1.557106e+15,1924716.0,4.0,601166,SH,92506000.0,3431200,6.622216e+07,19.30,...,4901700,1057800,0,0,0,19.3,NaN,NaN,NaN,NaN
600770,1624560.0,1.557108e+15,23756991.0,4.0,601318,SH,95244000.0,52513799,4.340861e+09,82.00,...,28798,14400,100,7200,22400,82.8,NaN,NaN,NaN,NaN
601990,1627222.0,1.557108e+15,23784867.0,4.0,601318,SH,95247000.0,52538799,4.342911e+09,81.98,...,49398,14500,100,7200,400,82.8,NaN,NaN,NaN,NaN
619741,1665936.0,1.557108e+15,24183135.0,4.0,601318,SH,95332000.0,53105785,4.389397e+09,81.99,...,4093,75000,3600,200,500,82.8,NaN,NaN,NaN,NaN
623342,1673759.0,1.557108e+15,24260957.0,4.0,601318,SH,95341000.0,53326053,4.407451e+09,81.99,...,29993,13100,100,500,1300,82.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026190,11788974.0,1.557126e+15,104295332.0,4.0,600030,SH,145625000.0,278038795,5.910807e+09,20.74,...,58400,148800,4500,21800,24800,21.6,NaN,NaN,NaN,NaN
5027276,11791371.0,1.557126e+15,104315808.0,4.0,600030,SH,145628000.0,278097695,5.912029e+09,20.75,...,175800,148800,6300,16800,24800,21.6,NaN,NaN,NaN,NaN
5028537,11793444.0,1.557126e+15,104336928.0,4.0,600030,SH,145631000.0,278134695,5.912797e+09,20.75,...,172100,148800,6300,16800,24800,21.6,NaN,NaN,NaN,NaN
5031310,11799804.0,1.557126e+15,104385967.0,4.0,601318,SH,145638000.0,178869545,1.456373e+10,81.05,...,3600,11300,2800,22200,500,82.8,NaN,NaN,NaN,NaN
5032353,11802143.0,1.557126e+15,104406489.0,4.0,601318,SH,145641000.0,178890145,1.456540e+10,81.10,...,9000,25500,800,8200,50900,82.8,NaN,NaN,NaN,NaN

0.0002721991069012393

'20190506 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
9891,10461337.0,1.557124e+15,94949150.0,5.0,905,SH,142544000.0,130018710,1.058358e+11,4913.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:14:27.217976
0:16:19.283979

'20190507 SH lv2 check:'

4896248
4896248
4897858
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1789765,4234268.0,1.557197e+15,43974512.0,4.0,600519,SH,104917000.0,4795903,4.324651e+09,903.80,...,738,200,100,200,100,893.28,NaN,NaN,NaN,NaN
1790685,4236325.0,1.557197e+15,43988193.0,4.0,600519,SH,104920000.0,4796703,4.325374e+09,903.60,...,3638,200,100,200,100,893.28,NaN,NaN,NaN,NaN
1791249,4238027.0,1.557197e+15,44001801.0,4.0,600519,SH,104923000.0,4797203,4.325826e+09,903.49,...,400,100,3938,200,100,893.28,NaN,NaN,NaN,NaN
1805213,4269231.0,1.557197e+15,44209843.0,4.0,600519,SH,105008000.0,4803590,4.331588e+09,901.80,...,9300,100,200,300,200,893.28,NaN,NaN,NaN,NaN
1805632,4270787.0,1.557197e+15,44222707.0,4.0,600519,SH,105011000.0,4803590,4.331588e+09,901.80,...,9500,100,200,300,200,893.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891201,11518785.0,1.557212e+15,98658608.0,4.0,600519,SH,145650000.0,9911517,8.891830e+09,895.50,...,100,429,600,200,800,893.28,NaN,NaN,NaN,NaN
4891951,11520876.0,1.557212e+15,98682228.0,4.0,600519,SH,145653000.0,9913417,8.893530e+09,895.00,...,429,600,200,800,100,893.28,NaN,NaN,NaN,NaN
4893320,11523598.0,1.557212e+15,98707832.0,4.0,600519,SH,145656000.0,9914817,8.894783e+09,895.00,...,329,600,200,700,100,893.28,NaN,NaN,NaN,NaN
4894656,11526265.0,1.557212e+15,98730509.0,4.0,600519,SH,145659000.0,9915817,8.895679e+09,895.50,...,29,600,200,700,100,893.28,NaN,NaN,NaN,NaN
4895613,11527237.0,1.557212e+15,98734865.0,4.0,600519,SH,145700000.0,9915817,8.895679e+09,895.50,...,0,0,0,0,0,893.28,NaN,NaN,NaN,NaN

0.0003288232132032528

'20190507 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1019,1474359.0,1.557194e+15,19165268.0,5.0,905,SH,95103000.0,23478090,1.904597e+10,4939.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:18:24.931316
0:21:08.120494

'20190508 SH lv2 check:'

4796319
4796317
4797452
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1066,285802.0,1.557279e+15,1567828.0,4.0,600366,SH,92504000.0,27000,1.633500e+05,6.05,...,33800,2400,0,0,0,6.05,NaN,NaN,NaN,NaN
1071,285823.0,1.557279e+15,1567849.0,4.0,601099,SH,92504000.0,58600,2.051000e+05,3.50,...,1714800,632800,0,0,0,3.50,NaN,NaN,NaN,NaN
1551747,3702661.0,1.557283e+15,39676092.0,4.0,600519,SH,103747000.0,5006193,4.378902e+09,899.95,...,700,100,1100,1400,37827,860.00,NaN,NaN,NaN,NaN
1552828,3705011.0,1.557283e+15,39698705.0,4.0,600519,SH,103750000.0,5007093,4.379712e+09,899.55,...,4550,500,900,100,1100,860.00,NaN,NaN,NaN,NaN
1553893,3707383.0,1.557283e+15,39720175.0,4.0,600519,SH,103753000.0,5054019,4.421942e+09,900.00,...,500,500,100,100,200,860.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791341,11341309.0,1.557299e+15,95822953.0,4.0,600519,SH,145650000.0,8134886,7.170478e+09,883.97,...,100,1400,500,1300,300,860.00,NaN,NaN,NaN,NaN
4792479,11343827.0,1.557299e+15,95848046.0,4.0,600519,SH,145653000.0,8138586,7.173745e+09,882.00,...,400,100,1400,500,300,860.00,NaN,NaN,NaN,NaN
4793214,11345872.0,1.557299e+15,95869674.0,4.0,600519,SH,145656000.0,8138686,7.173833e+09,883.87,...,2000,400,100,600,1600,860.00,NaN,NaN,NaN,NaN
4794337,11348275.0,1.557299e+15,95892156.0,4.0,600519,SH,145659000.0,8139186,7.174275e+09,883.00,...,1500,100,300,100,600,860.00,NaN,NaN,NaN,NaN
4795303,11349297.0,1.557299e+15,95901460.0,4.0,600519,SH,145700000.0,8139186,7.174275e+09,883.00,...,0,0,0,0,0,860.00,NaN,NaN,NaN,NaN

0.00023663980648493146

'20190508 SH index check:'

11390
11390
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4386,4787969.0,1.557285e+15,48872312.0,5.0,905,SH,110112000.0,58059950,4.789289e+10,4987.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5094,5392608.0,1.557285e+15,53270523.0,5.0,905,SH,111557000.0,62883049,5.176192e+10,4991.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:23:11.602118
0:25:58.700889

'20190509 SH lv2 check:'

4508734
4508378
4510867
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
788,329464.0,1.557365e+15,1653861.0,4.0,600010,SH,92504000.0,443800,7.056420e+05,1.59,...,1311710,0,0,0,0,1.59,NaN,NaN,NaN,NaN
12994,375431.0,1.557365e+15,2459895.0,4.0,600011,SH,93026000.0,240500,1.608027e+06,6.69,...,42100,33400,30100,21400,16500,6.70,NaN,NaN,NaN,NaN
12995,375432.0,1.557365e+15,2459896.0,4.0,600017,SH,93026000.0,345400,1.080847e+06,3.13,...,189200,174900,275200,148000,137034,3.13,NaN,NaN,NaN,NaN
12996,375433.0,1.557365e+15,2459897.0,4.0,600019,SH,93026000.0,811300,5.473953e+06,6.75,...,148823,98300,403080,234600,224256,6.75,NaN,NaN,NaN,NaN
12997,375434.0,1.557365e+15,2459898.0,4.0,600021,SH,93026000.0,41600,3.351060e+05,8.06,...,11600,100,4200,1600,4000,8.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4503443,10816855.0,1.557385e+15,87410733.0,4.0,600519,SH,145649000.0,9121815,7.835229e+09,858.98,...,1100,1516,800,100,200,875.00,NaN,NaN,NaN,NaN
4504363,10818898.0,1.557385e+15,87433425.0,4.0,600519,SH,145652000.0,9122215,7.835572e+09,858.99,...,700,3116,800,100,200,875.00,NaN,NaN,NaN,NaN
4505507,10821353.0,1.557385e+15,87456460.0,4.0,600519,SH,145655000.0,9123115,7.836345e+09,858.99,...,600,3016,800,100,200,875.00,NaN,NaN,NaN,NaN
4506827,10824154.0,1.557385e+15,87480102.0,4.0,600519,SH,145658000.0,9123815,7.836947e+09,858.98,...,600,3016,800,100,200,875.00,NaN,NaN,NaN,NaN
4507510,10825153.0,1.557385e+15,87493761.0,4.0,600519,SH,145700000.0,9123915,7.837033e+09,858.98,...,0,0,0,0,0,875.00,NaN,NaN,NaN,NaN

0.0005520396634620716

'20190509 SH index check:'

11399
11399
11399
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
0:27:57.574570
0:29:58.858885

'20190510 SH lv2 check:'

4932856
4932988
4935361
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2010712,4805240.0,1.557458e+15,46791955.0,4.0,601318,SH,110433000.0,56746493,4.497183e+09,78.74,...,300,300,4300,27300,100,77.95,NaN,NaN,NaN,NaN
2011658,4807297.0,1.557458e+15,46806829.0,4.0,601318,SH,110436000.0,56783593,4.500103e+09,78.77,...,1500,27300,100,26500,1800,77.95,NaN,NaN,NaN,NaN
2012564,4809394.0,1.557458e+15,46822242.0,4.0,601318,SH,110439000.0,56806293,4.501891e+09,78.75,...,17500,100,1200,1800,2300,77.95,NaN,NaN,NaN,NaN
2013489,4811455.0,1.557458e+15,46837161.0,4.0,601318,SH,110442000.0,56815493,4.502616e+09,78.77,...,400,12800,100,1200,1800,77.95,NaN,NaN,NaN,NaN
2014377,4813455.0,1.557458e+15,46850205.0,4.0,601318,SH,110445000.0,56834593,4.504120e+09,78.78,...,2200,8600,2500,13900,3500,77.95,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4867260,11542881.0,1.557471e+15,103350900.0,4.0,600519,SH,145423000.0,7875190,7.016379e+09,907.75,...,17,1000,500,100,400,875.66,NaN,NaN,NaN,NaN
4869145,11546170.0,1.557471e+15,103379135.0,4.0,600519,SH,145426000.0,7875590,7.016742e+09,907.10,...,117,100,1100,600,100,875.66,NaN,NaN,NaN,NaN
4874676,11558620.0,1.557471e+15,103510922.0,4.0,600519,SH,145441000.0,7877707,7.018663e+09,907.10,...,100,1000,4600,600,400,875.66,NaN,NaN,NaN,NaN
4894953,11602746.0,1.557471e+15,103974739.0,4.0,600030,SH,145532000.0,265967516,5.441042e+09,20.66,...,79900,90700,96100,121200,360000,20.10,NaN,NaN,NaN,NaN
4896424,11605637.0,1.557471e+15,104003818.0,4.0,600030,SH,145535000.0,266055816,5.442866e+09,20.66,...,52500,96200,99800,121300,362000,20.10,NaN,NaN,NaN,NaN

0.00048106005932465896

'20190510 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
947,1431423.0,1.557453e+15,18123030.0,5.0,905,SH,94933000.0,21307265,1.763285e+10,5026.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:31:59.212060
0:33:41.696276

'20190513 SH lv2 check:'

4530584
4530631
4531557
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
0,347920.0,1.557711e+15,1734410.0,4.0,600066,SH,92502000.0,23100,3.164700e+05,13.70,...,62700,0,0,0,0,13.70,NaN,NaN,NaN,NaN
46,348577.0,1.557711e+15,1775578.0,4.0,600469,SH,92502000.0,756000,4.725000e+06,6.25,...,1831700,37200,0,0,0,6.25,NaN,NaN,NaN,NaN
49,348584.0,1.557711e+15,1775585.0,4.0,603598,SH,92502000.0,6400,5.670400e+04,8.86,...,48100,0,0,0,0,8.86,NaN,NaN,NaN,NaN
2846048,7116611.0,1.557725e+15,61325878.0,4.0,601318,SH,132615000.0,55176116,4.379931e+09,79.00,...,68300,25400,7400,43600,4500,79.25,NaN,NaN,NaN,NaN
2846950,7118649.0,1.557725e+15,61341797.0,4.0,601318,SH,132618000.0,55185316,4.380658e+09,78.99,...,7600,68500,25400,3600,43600,79.25,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4525391,10883465.0,1.557731e+15,89285766.0,4.0,601318,SH,145648000.0,83216081,6.588552e+09,78.72,...,8900,106600,42799,25200,20484,79.25,NaN,NaN,NaN,NaN
4526107,10885462.0,1.557731e+15,89308188.0,4.0,601318,SH,145651000.0,83237681,6.590252e+09,78.72,...,1700,2600,13300,106600,40510,79.25,NaN,NaN,NaN,NaN
4527623,10888384.0,1.557731e+15,89335702.0,4.0,601318,SH,145654000.0,83260681,6.592063e+09,78.74,...,35700,106600,40510,9500,14884,79.25,NaN,NaN,NaN,NaN
4528346,10890354.0,1.557731e+15,89356210.0,4.0,601318,SH,145657000.0,83333881,6.597824e+09,78.69,...,142289,20000,30000,108000,20510,79.25,NaN,NaN,NaN,NaN
4529215,10892530.0,1.557731e+15,89373572.0,4.0,601318,SH,145700000.0,83343781,6.598603e+09,78.68,...,0,0,0,0,0,79.25,NaN,NaN,NaN,NaN

0.0002043886615941786

'20190513 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
67,442741.0,1.557711e+15,4162510.0,5.0,905,SH,93114000.0,4069275,3.561895e+09,4999.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:35:34.866463
0:37:48.565510

'20190514 SH lv2 check:'

4546320
4545755
4547367
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
34076,443601.0,1.557798e+15,4299105.0,4.0,600004,SH,93111000.0,406850,6.641323e+06,16.40,...,5286,3000,1000,3100,9400,16.30,NaN,NaN,NaN,NaN
34077,443602.0,1.557798e+15,4299106.0,4.0,600008,SH,93111000.0,907400,3.128178e+06,3.45,...,85400,126400,190100,62100,79600,3.45,NaN,NaN,NaN,NaN
34078,443603.0,1.557798e+15,4299107.0,4.0,600009,SH,93111000.0,379530,2.630461e+07,69.95,...,11300,100,1000,100,6229,68.65,NaN,NaN,NaN,NaN
34079,443604.0,1.557798e+15,4299108.0,4.0,600015,SH,93111000.0,1677145,1.251108e+07,7.51,...,365799,116640,144400,39600,284900,7.45,NaN,NaN,NaN,NaN
34080,443605.0,1.557798e+15,4299109.0,4.0,600031,SH,93111000.0,4292989,5.182414e+07,12.14,...,25610,197516,3900,5000,25400,12.05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4541047,10915695.0,1.557817e+15,90975819.0,4.0,601318,SH,145650000.0,77606309,6.112844e+09,78.30,...,1300,11900,9967,13400,5800,77.96,NaN,NaN,NaN,NaN
4541784,10917745.0,1.557817e+15,91000488.0,4.0,601318,SH,145653000.0,77611309,6.113235e+09,78.31,...,700,12500,9967,13400,5800,77.96,NaN,NaN,NaN,NaN
4542929,10920216.0,1.557817e+15,91024489.0,4.0,601318,SH,145656000.0,77624909,6.114300e+09,78.31,...,15100,9967,13400,5800,13600,77.96,NaN,NaN,NaN,NaN
4544065,10922698.0,1.557817e+15,91048320.0,4.0,601318,SH,145659000.0,77639409,6.115436e+09,78.30,...,2300,400,600,15300,10567,77.96,NaN,NaN,NaN,NaN
4545357,10924525.0,1.557817e+15,91059859.0,4.0,601318,SH,145700000.0,77639509,6.115444e+09,78.30,...,0,0,0,0,0,77.96,NaN,NaN,NaN,NaN

0.00035457248939801863

'20190514 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
0:39:46.649656
0:42:49.984692

'20190515 SH lv2 check:'

4632345
4632021
4633592
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
837,342811.0,1.557884e+15,1711343.0,4.0,603068,SH,92504000.0,58400,2.800280e+06,47.95,...,115200,714,0,0,0,47.95,NaN,NaN,NaN,NaN
1100,343575.0,1.557884e+15,1733053.0,4.0,600093,SH,92510000.0,422400,5.702400e+06,13.50,...,783300,51200,0,0,0,13.50,NaN,NaN,NaN,NaN
32193,430930.0,1.557884e+15,3907813.0,4.0,600000,SH,93110000.0,978383,1.103387e+07,11.25,...,3900,21200,21100,94945,7100,11.28,NaN,NaN,NaN,NaN
32194,430931.0,1.557884e+15,3907814.0,4.0,600012,SH,93110000.0,77200,4.760160e+05,6.17,...,22200,10700,3000,5300,23100,6.17,NaN,NaN,NaN,NaN
32195,430932.0,1.557884e+15,3907815.0,4.0,600025,SH,93110000.0,668100,2.565562e+06,3.82,...,73500,379000,130100,122000,57100,3.81,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4607622,11027439.0,1.557903e+15,92245284.0,4.0,601318,SH,145601000.0,78965324,6.320868e+09,80.54,...,2700,17897,21900,8400,20300,78.95,NaN,NaN,NaN,NaN
4609242,11030456.0,1.557903e+15,92275537.0,4.0,601318,SH,145604000.0,78991324,6.322962e+09,80.54,...,21197,21900,8400,20300,5378,78.95,NaN,NaN,NaN,NaN
4610407,11033015.0,1.557903e+15,92304218.0,4.0,601318,SH,145607000.0,79045024,6.327287e+09,80.55,...,4297,21900,8400,20300,5378,78.95,NaN,NaN,NaN,NaN
4611180,11035135.0,1.557903e+15,92333683.0,4.0,601318,SH,145610000.0,79049124,6.327617e+09,80.54,...,3197,21900,8400,20300,5378,78.95,NaN,NaN,NaN,NaN
4612364,11037714.0,1.557903e+15,92362254.0,4.0,601318,SH,145613000.0,79057624,6.328302e+09,80.54,...,7497,21900,8400,20300,5378,78.95,NaN,NaN,NaN,NaN

0.00033913708931437533

'20190515 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
9062,8836582.0,1.557901e+15,73869739.0,5.0,905,SH,140830000.0,74365644,6.704036e+10,5075.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:44:51.951476
0:47:15.090654

'20190516 SH lv2 check:'

4684897
4684896
4685164
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
244,319710.0,1.557970e+15,1672854.0,4.0,600018,SH,92501000.0,43900,3.332010e+05,7.59,...,265700,79576,0,0,0,7.59,NaN,NaN,NaN,NaN
3606853,8773810.0,1.557987e+15,77174244.0,4.0,601318,SH,140344000.0,53157659,4.298694e+09,80.93,...,10822,400,63703,5200,17700,80.82,NaN,NaN,NaN,NaN
3620864,8805136.0,1.557987e+15,77398093.0,4.0,601318,SH,140429000.0,53220904,4.303813e+09,80.97,...,800,63703,5800,18800,800,80.82,NaN,NaN,NaN,NaN
3621852,8807290.0,1.557987e+15,77413523.0,4.0,601318,SH,140432000.0,53223704,4.304039e+09,80.96,...,2900,63703,5800,19100,800,80.82,NaN,NaN,NaN,NaN
3622783,8809347.0,1.557987e+15,77430608.0,4.0,601318,SH,140435000.0,53226604,4.304274e+09,80.95,...,3300,63703,5800,19100,800,80.82,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669061,11122390.0,1.557990e+15,96517789.0,4.0,601318,SH,145623000.0,62503520,5.054297e+09,80.96,...,4000,1929,37200,42700,97455,80.82,NaN,NaN,NaN,NaN
4670248,11124762.0,1.557990e+15,96546140.0,4.0,601318,SH,145626000.0,62507920,5.054653e+09,80.96,...,400,3129,37200,42700,100655,80.82,NaN,NaN,NaN,NaN
4671432,11127372.0,1.557990e+15,96574995.0,4.0,601318,SH,145629000.0,62513920,5.055139e+09,80.96,...,3729,37300,42700,101255,3100,80.82,NaN,NaN,NaN,NaN
4672606,11130053.0,1.557990e+15,96606238.0,4.0,601318,SH,145632000.0,62524720,5.056013e+09,80.96,...,6429,37300,42700,101255,3100,80.82,NaN,NaN,NaN,NaN
4673629,11132294.0,1.557990e+15,96635989.0,4.0,601318,SH,145635000.0,62535120,5.056855e+09,80.96,...,100,4829,37300,43000,101655,80.82,NaN,NaN,NaN,NaN

5.720509970656772e-05

'20190516 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2451,2913247.0,1.557973e+15,35325073.0,5.0,905,SH,102054000.0,40777992,3.621496e+10,5087.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5139,5322658.0,1.557977e+15,54721776.0,5.0,905,SH,111654000.0,61838404,5.474639e+10,5080.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:49:14.367387
0:51:04.044157

'20190517 SH lv2 check:'

4929451
4929699
4929981
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
342,327874.0,1.558056e+15,1698924.0,4.0,600677,SH,92501000.0,757400,1.452693e+07,19.18,...,961492,0,0,0,0,19.18,NaN,NaN,NaN,NaN
1189,331309.0,1.558056e+15,1789411.0,4.0,601828,SH,92506000.0,3464000,4.988160e+07,14.40,...,5981400,7531,0,0,0,14.40,NaN,NaN,NaN,NaN
4285675,10244080.0,1.558075e+15,92501155.0,4.0,601318,SH,142857000.0,56874554,4.539086e+09,79.12,...,400,20400,22500,10600,83000,81.06,NaN,NaN,NaN,NaN
4291731,10256914.0,1.558075e+15,92605315.0,4.0,601318,SH,142912000.0,56965750,4.546300e+09,79.10,...,23437,1900,1400,27500,20600,81.06,NaN,NaN,NaN,NaN
4347764,10381027.0,1.558075e+15,93631841.0,4.0,601318,SH,143154000.0,57852844,4.616430e+09,79.06,...,500,25000,1200,10807,11600,81.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926648,11638454.0,1.558076e+15,106557286.0,4.0,600519,SH,145655000.0,4946561,4.517024e+09,905.00,...,1400,200,600,200,100,927.02,NaN,NaN,NaN,NaN
4926955,11639601.0,1.558076e+15,106576057.0,4.0,601318,SH,145657000.0,67722102,5.397042e+09,79.10,...,900,600,148165,35500,13000,81.06,NaN,NaN,NaN,NaN
4927853,11641046.0,1.558076e+15,106582127.0,4.0,600519,SH,145658000.0,4947661,4.518020e+09,905.00,...,300,200,600,400,100,927.02,NaN,NaN,NaN,NaN
4928036,11641881.0,1.558076e+15,106597995.0,4.0,600519,SH,145700000.0,4948061,4.518382e+09,905.30,...,0,0,0,0,0,927.02,NaN,NaN,NaN,NaN
4928106,11641951.0,1.558076e+15,106599755.0,4.0,601318,SH,145700000.0,67793502,5.402694e+09,79.15,...,0,0,0,0,0,81.06,NaN,NaN,NaN,NaN

5.720718189510353e-05

'20190517 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
0:53:04.223737
0:54:57.582136

'20190520 SH lv2 check:'

4480610
4480545
4481371
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1070302,2619562.0,1.558318e+15,33836439.0,4.0,600720,SH,101344000.0,3471617,2.815956e+07,8.13,...,10600,800,5000,14700,30900,8.22,NaN,NaN,NaN,NaN
1070303,2619563.0,1.558318e+15,33836442.0,4.0,600738,SH,101344000.0,3759168,2.924520e+07,7.80,...,19400,100000,1300,2500,2500,8.02,NaN,NaN,NaN,NaN
1070304,2619564.0,1.558318e+15,33836445.0,4.0,600751,SH,101344000.0,15632602,5.108487e+07,3.22,...,3500,630900,535800,96000,240700,3.40,NaN,NaN,NaN,NaN
1070305,2619566.0,1.558318e+15,33836450.0,4.0,600755,SH,101344000.0,7976947,6.352552e+07,7.92,...,5600,25000,52500,24400,9200,8.13,NaN,NaN,NaN,NaN
1070306,2619567.0,1.558318e+15,33836453.0,4.0,600756,SH,101344000.0,9898278,2.237377e+08,22.55,...,3300,400,7800,3500,13600,22.75,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252877,10229402.0,1.558335e+15,87375737.0,4.0,600755,SH,144608000.0,17423607,1.390478e+08,8.03,...,27200,13800,112500,26900,73900,8.13,NaN,NaN,NaN,NaN
4252878,10229403.0,1.558335e+15,87375738.0,4.0,600756,SH,144608000.0,20075027,4.539505e+08,22.61,...,1100,3400,3000,5800,13100,22.75,NaN,NaN,NaN,NaN
4252879,10229404.0,1.558335e+15,87375739.0,4.0,600759,SH,144608000.0,75237755,2.323757e+08,3.11,...,219700,535000,443565,205200,508400,3.21,NaN,NaN,NaN,NaN
4252880,10229405.0,1.558335e+15,87375740.0,4.0,600766,SH,144608000.0,13409500,1.074838e+08,7.99,...,53800,14500,26600,62600,35600,8.38,NaN,NaN,NaN,NaN
4252881,10229406.0,1.558335e+15,87375741.0,4.0,600773,SH,144608000.0,5827105,3.922685e+07,6.84,...,11100,97600,6600,41000,56600,6.84,NaN,NaN,NaN,NaN

0.00018434989878610277

'20190520 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
371,733395.0,1.558316e+15,10450041.0,5.0,905,SH,93732000.0,12167233,1.071663e+10,4908.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
0:56:51.282844
0:59:47.777806

'20190521 SH lv2 check:'

4536371
4536500
4536647
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
371,303153.0,1.558402e+15,1497621.0,4.0,603777,SH,92501000.0,1534740,1.955259e+07,12.74,...,1717500,0,0,0,0,12.74,NaN,NaN,NaN,NaN
372,303160.0,1.558402e+15,1497628.0,4.0,601006,SH,92501000.0,24400,1.995920e+05,8.18,...,31400,35381,0,0,0,8.18,NaN,NaN,NaN,NaN
3848803,9335564.0,1.558420e+15,80631090.0,4.0,601318,SH,142110000.0,54832759,4.305356e+09,78.18,...,7,6200,7200,1351,31700,78.05,NaN,NaN,NaN,NaN
3966241,9601783.0,1.558420e+15,82362545.0,4.0,601318,SH,142807000.0,55631460,4.367778e+09,78.12,...,9300,50200,47800,30000,5200,78.05,NaN,NaN,NaN,NaN
3967093,9603769.0,1.558420e+15,82375115.0,4.0,601318,SH,142810000.0,55632460,4.367856e+09,78.13,...,13900,50200,47900,30000,5200,78.05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487090,10757185.0,1.558422e+15,91362646.0,4.0,601318,SH,145452000.0,61529236,4.828900e+09,78.19,...,11778,68900,9800,9200,10000,78.05,NaN,NaN,NaN,NaN
4488404,10759841.0,1.558422e+15,91385931.0,4.0,601318,SH,145455000.0,61539836,4.829729e+09,78.19,...,7478,68900,9800,9200,10000,78.05,NaN,NaN,NaN,NaN
4518235,10825308.0,1.558422e+15,92054744.0,4.0,601318,SH,145616000.0,62131287,4.875978e+09,78.20,...,2300,43300,35800,10000,2000,78.05,NaN,NaN,NaN,NaN
4519996,10828465.0,1.558422e+15,92083722.0,4.0,601318,SH,145619000.0,62138087,4.876510e+09,78.21,...,100,44500,42700,10100,2000,78.05,NaN,NaN,NaN,NaN
4521122,10830920.0,1.558422e+15,92108514.0,4.0,601318,SH,145622000.0,62139887,4.876651e+09,78.21,...,47200,45900,10100,2000,3700,78.05,NaN,NaN,NaN,NaN

3.240475701833029e-05

'20190521 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2883,3131276.0,1.558406e+15,34252236.0,5.0,905,SH,102953000.0,36759286,3.340301e+10,4963.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4791,4889222.0,1.558408e+15,49574013.0,5.0,905,SH,110938000.0,54953865,4.996502e+10,5023.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:01:45.030689
1:04:05.917470

'20190522 SH lv2 check:'

4384259
4384489
4384585
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
247,291645.0,1.558488e+15,1636690.0,4.0,600111,SH,92502000.0,6251600,8.439660e+07,13.50,...,12441000,785474,0,0,0,13.5,NaN,NaN,NaN,NaN
4261071,10287610.0,1.558508e+15,89757621.0,4.0,600111,SH,145121000.0,327399905,4.295429e+09,12.86,...,25700,286157,33100,155400,9697,13.5,NaN,NaN,NaN,NaN
4262104,10289864.0,1.558508e+15,89778793.0,4.0,600111,SH,145124000.0,327417305,4.295653e+09,12.87,...,132000,286657,33600,157800,8697,13.5,NaN,NaN,NaN,NaN
4262999,10292005.0,1.558508e+15,89798718.0,4.0,600111,SH,145127000.0,327536505,4.297187e+09,12.87,...,135600,296657,39000,158500,8697,13.5,NaN,NaN,NaN,NaN
4264258,10294566.0,1.558508e+15,89819618.0,4.0,600111,SH,145130000.0,327606205,4.298083e+09,12.87,...,163477,297857,39000,161000,8697,13.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4357734,10499653.0,1.558508e+15,91828170.0,4.0,600111,SH,145551000.0,335032330,4.393176e+09,12.74,...,11200,54500,190500,256650,351150,13.5,NaN,NaN,NaN,NaN
4358823,10502029.0,1.558508e+15,91854228.0,4.0,600111,SH,145554000.0,335138130,4.394524e+09,12.75,...,5000,15600,186700,246650,354450,13.5,NaN,NaN,NaN,NaN
4359946,10504470.0,1.558508e+15,91879526.0,4.0,600111,SH,145557000.0,335199930,4.395311e+09,12.74,...,16100,195900,243950,356150,322400,13.5,NaN,NaN,NaN,NaN
4361031,10506858.0,1.558508e+15,91904178.0,4.0,600111,SH,145600000.0,335301430,4.396605e+09,12.74,...,8900,186800,239250,352450,319400,13.5,NaN,NaN,NaN,NaN
4362129,10509231.0,1.558508e+15,91932044.0,4.0,600111,SH,145603000.0,335424430,4.398171e+09,12.75,...,230700,236750,348750,309400,258950,13.5,NaN,NaN,NaN,NaN

2.1896516606341003e-05

'20190522 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3443,3633137.0,1.558493e+15,41457173.0,5.0,905,SH,104135000.0,43629486,4.081584e+10,4983.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:05:56.923379
1:07:41.102774

'20190523 SH lv2 check:'

4411157
4411156
4411270
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
487,292842.0,1.558575e+15,1581692.0,4.0,600091,SH,92501000.0,145900,5.660920e+05,3.88,...,292200,0,0,0,0,3.88,NaN,NaN,NaN,NaN
4035985,9800790.0,1.558594e+15,85441872.0,4.0,601318,SH,143958000.0,57467785,4.349776e+09,75.20,...,8800,800,748,38200,100,76.50,NaN,NaN,NaN,NaN
4036820,9802596.0,1.558594e+15,85461466.0,4.0,601318,SH,144001000.0,57534085,4.354762e+09,75.23,...,15500,3300,1400,748,38200,76.50,NaN,NaN,NaN,NaN
4037881,9804896.0,1.558594e+15,85484001.0,4.0,601318,SH,144004000.0,57558785,4.356619e+09,75.22,...,16000,3300,200,1400,100,76.50,NaN,NaN,NaN,NaN
4038942,9807218.0,1.558594e+15,85506085.0,4.0,601318,SH,144007000.0,57579085,4.358146e+09,75.24,...,2300,3800,200,1400,100,76.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406159,10611058.0,1.558595e+15,92901352.0,4.0,600519,SH,145650000.0,5709863,4.980156e+09,861.00,...,59,300,100,700,100,881.00,NaN,NaN,NaN,NaN
4407329,10613913.0,1.558595e+15,92931850.0,4.0,600519,SH,145653000.0,5710622,4.980810e+09,861.08,...,100,700,100,100,100,881.00,NaN,NaN,NaN,NaN
4408457,10616037.0,1.558595e+15,92950727.0,4.0,600519,SH,145656000.0,5711122,4.981240e+09,861.08,...,100,700,100,100,100,881.00,NaN,NaN,NaN,NaN
4409555,10618409.0,1.558595e+15,92972469.0,4.0,600519,SH,145659000.0,5711722,4.981757e+09,861.20,...,200,100,100,100,200,881.00,NaN,NaN,NaN,NaN
4410059,10619284.0,1.558595e+15,92977336.0,4.0,600519,SH,145700000.0,5711822,4.981843e+09,861.12,...,0,0,0,0,0,881.00,NaN,NaN,NaN,NaN

2.58435598642261e-05

'20190523 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
6730,6554033.0,1.558589e+15,60804479.0,5.0,905,SH,131955000.0,57347010,5.332652e+10,4914.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10086,9370933.0,1.558593e+15,82111838.0,5.0,905,SH,142950000.0,77366457,7.081289e+10,4883.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:09:28.559247
1:11:22.609560

'20190524 SH lv2 check:'

4176679
4176679
4176679
-----------------------------------------------

'SSE lv2 test is complete'

'20190524 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4023,3949335.0,1.558666e+15,40008791.0,5.0,905,SH,105336000.0,37349154,3.372106e+10,4856.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5255,4875593.0,1.558668e+15,46343544.0,5.0,905,SH,111916000.0,43457213,3.877771e+10,4858.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8971,8046998.0,1.558678e+15,66888377.0,5.0,905,SH,140631000.0,60309063,5.404300e+10,4844.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:13:11.071577
1:16:05.346499

'20190527 SH lv2 check:'

4521502
4521740
4521741
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4516283,10823930.0,1.558940e+15,90121132.0,4.0,601318,SH,145648000.0,58239473,4.459063e+09,77.19,...,21400,42300,9300,1800,8400,76.25,NaN,NaN,NaN,NaN

2.2116544458014174e-07

'20190527 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:18:03.195211
1:20:40.368992

'20190528 SH lv2 check:'

4530552
4530552
4530815
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3322501,8126911.0,1.559023e+15,69653248.0,4.0,601318,SH,135525000.0,58128353,4.544545e+09,78.70,...,7800,13800,54370,151545,388600,77.44,NaN,NaN,NaN,NaN
3323049,8128368.0,1.559023e+15,69664807.0,4.0,601318,SH,135528000.0,58131553,4.544797e+09,78.74,...,6600,21000,53570,156545,388400,77.44,NaN,NaN,NaN,NaN
3324571,8131164.0,1.559023e+15,69679048.0,4.0,601318,SH,135531000.0,58137753,4.545285e+09,78.74,...,200,400,14100,36000,53870,77.44,NaN,NaN,NaN,NaN
3325130,8132840.0,1.559023e+15,69691892.0,4.0,601318,SH,135534000.0,58160853,4.547103e+09,78.70,...,100,19500,37400,52370,156845,77.44,NaN,NaN,NaN,NaN
3325989,8134750.0,1.559023e+15,69704362.0,4.0,601318,SH,135537000.0,58169853,4.547811e+09,78.71,...,41300,800,30700,40900,52070,77.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4519457,10782524.0,1.559027e+15,91947902.0,4.0,600519,SH,145634000.0,6655575,5.941438e+09,880.25,...,100,3000,100,100,4500,877.99,NaN,NaN,NaN,NaN
4520196,10784392.0,1.559027e+15,91973454.0,4.0,600519,SH,145637000.0,6657475,5.943110e+09,880.32,...,100,200,3000,100,100,877.99,NaN,NaN,NaN,NaN
4521973,10787761.0,1.559027e+15,92000528.0,4.0,600519,SH,145640000.0,6658075,5.943639e+09,880.30,...,100,100,1000,200,200,877.99,NaN,NaN,NaN,NaN
4528471,10802078.0,1.559027e+15,92142196.0,4.0,600519,SH,145658000.0,6688475,5.970406e+09,880.98,...,5500,100,100,100,12000,877.99,NaN,NaN,NaN,NaN
4529187,10803277.0,1.559027e+15,92151746.0,4.0,600519,SH,145700000.0,6689275,5.971110e+09,880.98,...,0,0,0,0,0,877.99,NaN,NaN,NaN,NaN

5.805032146193223e-05

'20190528 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
1:22:34.389480
1:24:28.637053

'20190529 SH lv2 check:'

4328720
4329022
4329720
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2669568,6743771.0,1.559108e+15,58206150.0,4.0,600519,SH,132712000.0,5010268,4.542548e+09,911.00,...,1000,400,100,300,100,888.01,NaN,NaN,NaN,NaN
2670132,6745437.0,1.559108e+15,58219593.0,4.0,600519,SH,132715000.0,5010968,4.543186e+09,911.01,...,1000,300,600,300,100,888.01,NaN,NaN,NaN,NaN
2671320,6747791.0,1.559108e+15,58234752.0,4.0,600519,SH,132718000.0,5011968,4.544097e+09,911.00,...,1000,300,600,300,100,888.01,NaN,NaN,NaN,NaN
2671995,6749556.0,1.559108e+15,58248703.0,4.0,600519,SH,132721000.0,5012268,4.544370e+09,911.00,...,100,1000,300,600,100,888.01,NaN,NaN,NaN,NaN
2673023,6751648.0,1.559108e+15,58262945.0,4.0,600519,SH,132724000.0,5012768,4.544825e+09,911.00,...,1100,200,300,600,100,888.01,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4310697,10420970.0,1.559113e+15,86847037.0,4.0,601318,SH,145615000.0,95427229,7.565982e+09,79.86,...,2954,200,40400,8600,30800,77.50,NaN,NaN,NaN,NaN
4311849,10423459.0,1.559113e+15,86874710.0,4.0,601318,SH,145618000.0,95465929,7.569073e+09,79.88,...,3154,7300,45400,11700,30900,77.50,NaN,NaN,NaN,NaN
4325371,10452830.0,1.559113e+15,87184003.0,4.0,601318,SH,145654000.0,95740474,7.590998e+09,79.86,...,25309,11000,16800,18700,54500,77.50,NaN,NaN,NaN,NaN
4326486,10455261.0,1.559113e+15,87208370.0,4.0,601318,SH,145657000.0,95747074,7.591525e+09,79.86,...,22009,7200,17900,18700,53700,77.50,NaN,NaN,NaN,NaN
4327303,10457398.0,1.559113e+15,87229158.0,4.0,601318,SH,145700000.0,95761974,7.592715e+09,79.86,...,0,0,0,0,0,77.50,NaN,NaN,NaN,NaN

0.00016124859080744424

'20190529 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5239,4949064.0,1.559100e+15,46956526.0,5.0,905,SH,111859000.0,45069912,4.118021e+10,4961.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:26:20.263693
1:28:18.862557

'20190530 SH lv2 check:'

4451453
4451740
4451740
-----------------------------------------------

'SSE lv2 test is complete'

'20190530 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1955,2362899.0,1.559182e+15,29961583.0,5.0,905,SH,101032000.0,37078811,3.091399e+10,4908.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5519,5345674.0,1.559187e+15,52335015.0,5.0,905,SH,112447000.0,56940055,4.760531e+10,4903.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:30:14.480184
1:33:00.396396

'20190531 SH lv2 check:'

4455182
4455181
4455182
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
195,272551,1559265936240601,1431395,4,600667,SH,92501000,217200,1633344.0,7.52,...,945700,319900,0,0,0,7.52,NaN,NaN,NaN,NaN

1

'20190531 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3047,3305161.0,1.559270e+15,35284796.0,5.0,905,SH,103318000.0,36595370,3.140862e+10,4942.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9050,8553812.0,1.559283e+15,71858515.0,5.0,905,SH,140813000.0,68572382,5.985577e+10,4912.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:34:55.384132
1:37:21.792263

'20190603 SH lv2 check:'

4603391
4603512
4603514
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
99,213132.0,1.559525e+15,1335079.0,4.0,601988,SH,92501000.0,2372200,8800862.0,3.71,...,3374400,1115590,0,0,0,3.71,NaN,NaN,NaN,NaN
630,214378.0,1.559525e+15,1392931.0,4.0,601598,SH,92502000.0,2602060,14831742.0,5.70,...,3923060,0,0,0,0,5.70,NaN,NaN,NaN,NaN

4.3446233439653507e-07

'20190603 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5071,5135655.0,1.559532e+15,53225902.0,5.0,905,SH,111527000.0,62647151,5.197103e+10,4848.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5147,5197573.0,1.559532e+15,53640595.0,5.0,905,SH,111702000.0,63042185,5.231128e+10,4845.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:39:16.704537
1:40:39.552087

'20190604 SH lv2 check:'

3499502
4435376
4435376
-----------------------------------------------

'SSE lv2 test is complete'

'20190604 SH index check:'

9395
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7654,5981238.0,1.559629e+15,45980687.0,5.0,905,SH,142043000.0,71425791,6.427270e+10,4792.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9373,7423667.0,1.559631e+15,59004799.0,5.0,852,SH,145633000.0,117168563,1.015958e+11,5158.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:42:25.209219
1:45:04.417869

'20190605 SH lv2 check:'

4350521
4350519
4350521
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
446,321417,1559697936620995,1517026,4,603906,SH,92501000,117600,1674624.0,14.24,...,396010,0,0,0,0,14.24,NaN,NaN,NaN,NaN
460,321446,1559697936638934,1517055,4,600827,SH,92501000,6300,58653.0,9.31,...,9100,0,0,0,0,9.31,NaN,NaN,NaN,NaN

2

'20190605 SH index check:'

11388
11388
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
331,709711.0,1.559699e+15,8304398.0,5.0,905,SH,93641000.0,9235988,8.156206e+09,4829.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,958470.0,1.559699e+15,11334312.0,5.0,852,SH,94141000.0,15573231,1.366224e+10,5188.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5383,5055488.0,1.559705e+15,45392087.0,5.0,905,SH,112156000.0,45040308,4.068568e+10,4802.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10583,9719410.0,1.559717e+15,77740175.0,5.0,905,SH,144011000.0,72817006,6.522813e+10,4781.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:46:57.675299
1:49:26.393236

'20190606 SH lv2 check:'

4386826
4386825
4386826
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
471,292691,1559784336820359,1393158,4,600936,SH,92501000,320900,1540320.0,4.8,...,1326400,305300,0,0,0,4.8,NaN,NaN,NaN,NaN

1

'20190606 SH index check:'

11391
11391
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2979,3185058.0,1.559788e+15,33592898.0,5.0,905,SH,103154000.0,34745002,2.955753e+10,4723.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3807,3882366.0,1.559789e+15,39414794.0,5.0,905,SH,104909000.0,40188774,3.415541e+10,4720.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6301,6248994.0,1.559798e+15,54497623.0,5.0,852,SH,131059000.0,71941785,5.840383e+10,5067.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10270,9478303.0,1.559803e+15,76847881.0,5.0,905,SH,143339000.0,72855731,6.180703e+10,4669.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10662,9837441.0,1.559803e+15,79666269.0,5.0,905,SH,144149000.0,75403187,6.387725e+10,4683.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11042,10191903.0,1.559804e+15,82427354.0,5.0,905,SH,144944000.0,78246283,6.622756e+10,4690.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:51:12.794334
1:52:58.254971

'20190610 SH lv2 check:'

4236977
4236977
4237319
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3294826,8059192.0,1.560147e+15,64946087.0,4.0,600519,SH,140311000.0,4984875,4.298546e+09,869.96,...,60,1129,200,700,1000,857.98,NaN,NaN,NaN,NaN
3295831,8061291.0,1.560147e+15,64959365.0,4.0,600519,SH,140314000.0,4984875,4.298546e+09,869.96,...,60,829,200,700,1000,857.98,NaN,NaN,NaN,NaN
3296379,8062864.0,1.560147e+15,64972397.0,4.0,600519,SH,140317000.0,4984936,4.298599e+09,869.92,...,60,1100,200,700,1000,857.98,NaN,NaN,NaN,NaN
3302789,8077154.0,1.560147e+15,65064838.0,4.0,600519,SH,140338000.0,4985820,4.299368e+09,870.00,...,1000,400,400,1000,300,857.98,NaN,NaN,NaN,NaN
3303496,8078687.0,1.560147e+15,65077100.0,4.0,600519,SH,140341000.0,4985920,4.299455e+09,870.00,...,900,400,400,1000,300,857.98,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4220915,10144240.0,1.560150e+15,79711499.0,4.0,601318,SH,145620000.0,63618046,5.003108e+09,79.09,...,61874,18000,33300,47232,18500,77.79,NaN,NaN,NaN,NaN
4225214,10153679.0,1.560150e+15,79804554.0,4.0,601318,SH,145632000.0,63660604,5.006474e+09,79.10,...,64527,18100,32100,47232,18300,77.79,NaN,NaN,NaN,NaN
4226753,10156872.0,1.560150e+15,79831906.0,4.0,601318,SH,145635000.0,63669404,5.007170e+09,79.09,...,59127,18300,32200,47732,18300,77.79,NaN,NaN,NaN,NaN
4227685,10158811.0,1.560150e+15,79854761.0,4.0,601318,SH,145638000.0,63688404,5.008672e+09,79.10,...,55327,18400,32100,48732,19300,77.79,NaN,NaN,NaN,NaN
4228983,10161394.0,1.560150e+15,79877667.0,4.0,601318,SH,145641000.0,63700104,5.009598e+09,79.10,...,50927,18400,32000,48732,19300,77.79,NaN,NaN,NaN,NaN

8.071792695594052e-05

'20190610 SH index check:'

11392
11392
11399
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
522,829069.0,1.560131e+15,10889075.0,5.0,852,SH,94041000.0,14981291,1.194650e+10,5044.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,1442968.0,1.560132e+15,17673944.0,5.0,905,SH,95346000.0,17391327,1.464662e+10,4672.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951,2192403.0,1.560133e+15,25092583.0,5.0,905,SH,101026000.0,24809166,2.100953e+10,4691.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5103,4788898.0,1.560137e+15,44582226.0,5.0,905,SH,111606000.0,43346581,3.702788e+10,4748.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6678,6399363.0,1.560144e+15,53760241.0,5.0,852,SH,131846000.0,66065726,5.449487e+10,5111.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10522,9396970.0,1.560149e+15,73821124.0,5.0,852,SH,143851000.0,88415878,7.311971e+10,5094.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11182,9971028.0,1.560150e+15,78154181.0,5.0,852,SH,145236000.0,94093569,7.781036e+10,5094.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:54:51.432414
1:57:12.067904

'20190611 SH lv2 check:'

4832121
4832121
4833249
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2402366,5627040.0,1.560224e+15,55443067.0,4.0,600519,SH,112559000.0,5004515,4.477947e+09,907.00,...,4479,100,100,1400,100,876.00,NaN,NaN,NaN,NaN
2403292,5629096.0,1.560224e+15,55460139.0,4.0,600519,SH,112602000.0,5004515,4.477947e+09,907.00,...,4579,100,100,1400,100,876.00,NaN,NaN,NaN,NaN
2404226,5631200.0,1.560224e+15,55477125.0,4.0,600519,SH,112605000.0,5004915,4.478310e+09,906.80,...,100,700,4579,100,200,876.00,NaN,NaN,NaN,NaN
2405143,5633234.0,1.560224e+15,55494415.0,4.0,600519,SH,112608000.0,5004915,4.478310e+09,906.80,...,8700,700,4679,100,200,876.00,NaN,NaN,NaN,NaN
2476982,6189843.0,1.560229e+15,57942756.0,4.0,600519,SH,130002000.0,5079645,4.545936e+09,904.80,...,100,300,2500,100,100,876.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4826710,11397052.0,1.560236e+15,100370807.0,4.0,600030,SH,145649000.0,219452524,4.548713e+09,21.09,...,362400,654117,309700,234400,241300,20.08,NaN,NaN,NaN,NaN
4827474,11399116.0,1.560236e+15,100396511.0,4.0,600030,SH,145652000.0,219497624,4.549664e+09,21.09,...,327000,653617,309700,234700,241300,20.08,NaN,NaN,NaN,NaN
4829124,11402171.0,1.560236e+15,100423469.0,4.0,600030,SH,145655000.0,219543224,4.550626e+09,21.08,...,312600,664617,309700,234700,241300,20.08,NaN,NaN,NaN,NaN
4829646,11403937.0,1.560236e+15,100448942.0,4.0,600030,SH,145658000.0,219601024,4.551844e+09,21.09,...,289300,659717,310200,234700,241300,20.08,NaN,NaN,NaN,NaN
4830880,11406124.0,1.560236e+15,100463065.0,4.0,600030,SH,145700000.0,219609024,4.552013e+09,21.09,...,0,0,0,0,0,20.08,NaN,NaN,NaN,NaN

0.0002334378630005333

'20190611 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2387,2719122.0,1.560220e+15,30464351.0,5.0,905,SH,101934000.0,35859123,2.989565e+10,4801.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
1:59:14.748501
2:02:04.000887

'20190612 SH lv2 check:'

4530463
4530742
4531510
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
963,299039.0,1.560303e+15,1674876.0,4.0,600332,SH,92502000.0,25600,9.984000e+05,39.00,...,27900,20556,0,0,0,39.00,NaN,NaN,NaN,NaN
1070,301446.0,1.560303e+15,1714983.0,4.0,603777,SH,92505000.0,622800,8.283240e+06,13.30,...,808600,151100,0,0,0,13.30,NaN,NaN,NaN,NaN
2411690,5661681.0,1.560310e+15,58024517.0,4.0,600111,SH,112915000.0,303148684,4.427036e+09,14.48,...,76303,4800,21169,76100,243100,13.80,NaN,NaN,NaN,NaN
2412688,5663814.0,1.560310e+15,58038597.0,4.0,600111,SH,112918000.0,303392187,4.430567e+09,14.51,...,21169,74800,136300,87626,91700,13.80,NaN,NaN,NaN,NaN
2419503,5679533.0,1.560310e+15,58158494.0,4.0,600111,SH,112945000.0,304189365,4.442115e+09,14.47,...,1200,167900,145939,137600,36569,13.80,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4506370,10758503.0,1.560323e+15,96354587.0,4.0,600352,SH,145557000.0,317398851,4.882692e+09,14.93,...,405330,333400,162200,68600,21900,16.35,NaN,NaN,NaN,NaN
4506892,10760232.0,1.560323e+15,96378151.0,4.0,600352,SH,145600000.0,317475151,4.883831e+09,14.93,...,336830,333400,162200,68600,21900,16.35,NaN,NaN,NaN,NaN
4508138,10762775.0,1.560323e+15,96404560.0,4.0,600352,SH,145603000.0,317559051,4.885084e+09,14.93,...,267130,334100,162200,68600,21900,16.35,NaN,NaN,NaN,NaN
4509634,10765760.0,1.560323e+15,96432422.0,4.0,600352,SH,145606000.0,317693151,4.887086e+09,14.93,...,142730,334100,162200,68600,21900,16.35,NaN,NaN,NaN,NaN
4510535,10767799.0,1.560323e+15,96456107.0,4.0,600352,SH,145609000.0,317774551,4.888301e+09,14.93,...,64430,334700,162200,68600,21900,16.35,NaN,NaN,NaN,NaN

0.00016951909771694416

'20190612 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2527,2892241.0,1.560306e+15,34870189.0,5.0,905,SH,102230000.0,42941063,3.671091e+10,4904.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2643,2996824.0,1.560306e+15,35782296.0,5.0,905,SH,102455000.0,43917066,3.761664e+10,4900.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3243,3551106.0,1.560307e+15,40876287.0,5.0,905,SH,103725000.0,50512798,4.330707e+10,4889.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:04:02.861159
2:05:52.203055

'20190613 SH lv2 check:'

4440317
4440679
4440681
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
205,295065.0,1.560389e+15,1483073.0,4.0,601636,SH,92501000.0,100,371.0,3.71,...,66800,235700,0,0,0,3.71,NaN,NaN,NaN,NaN
903,298447.0,1.560389e+15,1569719.0,4.0,600010,SH,92506000.0,26400,46200.0,1.75,...,28805111,0,0,0,0,1.75,NaN,NaN,NaN,NaN

4.504182922075158e-07

'20190613 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:07:46.286816
2:10:39.249896

'20190614 SH lv2 check:'

4503509
4503624
4503625
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
49,298934.0,1.560476e+15,1592977.0,4.0,601933,SH,92502000.0,400,4060.0,10.15,...,40800,5842,0,0,0,10.15,NaN,NaN,NaN,NaN

2.2204907328929508e-07

'20190614 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:12:32.646642
2:14:15.145341

'20190617 SH lv2 check:'

4270916
4271047
4271047
-----------------------------------------------

'SSE lv2 test is complete'

'20190617 SH index check:'

11391
11395
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4674,4050066.0,1.560741e+15,41155197.0,5.0,852,SH,110718000.0,53158430,4.613457e+10,5157.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:16:01.141729
2:18:18.964941

'20190618 SH lv2 check:'

4251841
4251956
4251956
-----------------------------------------------

'SSE lv2 test is complete'

'20190618 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
718,1045305.0,1.560822e+15,11997459.0,5.0,852,SH,94448000.0,14786004,1.285180e+10,5155.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9163,8319464.0,1.560838e+15,63577568.0,5.0,905,SH,141033000.0,53471812,4.548122e+10,4783.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11134,9978463.0,1.560841e+15,75047805.0,5.0,852,SH,145138000.0,86929320,7.550426e+10,5152.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:20:10.854983
20190619
92 SSE snapshot data is missing
*************************************************************************************************
2:21:05.074612
20190620
92 SSE snapshot data is missing
*************************************************************************************************
2:21:59.420089
20190621
92 SSE snapshot data is missing
*************************************************************************************************
2:22:50.542372
20190624
92 SSE snapshot data is missing
*************************************************************************************************
2:23:44.064864
20190625
92 SSE snapshot data is missing
*************************************************************************************************
2:24:33.537497
20190626
92 SSE snapshot data is missing
*************************************************************************************************
2:25:24.117270
2:28:18.492366

'20190627 SH lv2 check:'

4492220
4492333
4493152
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2391930,6075102.0,1.561612e+15,53257564.0,4.0,601318,SH,130329000.0,52847152,4.644048e+09,88.36,...,400,9270,1900,41500,15300,87.0,NaN,NaN,NaN,NaN
2393032,6077350.0,1.561612e+15,53270656.0,4.0,601318,SH,130332000.0,52900652,4.648773e+09,88.35,...,9200,8370,100,41700,15400,87.0,NaN,NaN,NaN,NaN
2393818,6079232.0,1.561612e+15,53282971.0,4.0,601318,SH,130335000.0,52919352,4.650425e+09,88.35,...,26214,8470,1400,41700,15400,87.0,NaN,NaN,NaN,NaN
2394336,6080575.0,1.561612e+15,53294766.0,4.0,601318,SH,130338000.0,52928452,4.651229e+09,88.35,...,23314,8470,11400,41700,15400,87.0,NaN,NaN,NaN,NaN
2395476,6083004.0,1.561612e+15,53307963.0,4.0,601318,SH,130341000.0,52933652,4.651688e+09,88.35,...,500,20514,9170,11400,41700,87.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470340,10716821.0,1.561619e+15,87900919.0,4.0,600030,SH,145608000.0,216479822,5.182870e+09,23.90,...,1655,106563,125100,335562,286000,23.5,NaN,NaN,NaN,NaN
4480391,10738091.0,1.561619e+15,88129594.0,4.0,600519,SH,145633000.0,4708153,4.683363e+09,996.12,...,308,100,100,4200,100,985.0,NaN,NaN,NaN,NaN
4481630,10740762.0,1.561619e+15,88158101.0,4.0,600519,SH,145636000.0,4709653,4.684857e+09,996.00,...,8,100,100,4200,100,985.0,NaN,NaN,NaN,NaN
4483035,10743539.0,1.561619e+15,88184466.0,4.0,600519,SH,145639000.0,4712753,4.687945e+09,996.01,...,8,100,100,4200,100,985.0,NaN,NaN,NaN,NaN
4484222,10746112.0,1.561619e+15,88210471.0,4.0,600519,SH,145642000.0,4714561,4.689746e+09,996.15,...,3000,100,200,100,1476,985.0,NaN,NaN,NaN,NaN

0.00018231520272827243

'20190627 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:30:23.104723
2:32:17.375650

'20190628 SH lv2 check:'

4483550
4483661
4483764
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3542609,8604275.0,1.561702e+15,69424964.0,4.0,601318,SH,140824000.0,48600563,4.295404e+09,88.12,...,134,7000,8500,17326,11334,87.96,NaN,NaN,NaN,NaN
3543707,8606583.0,1.561702e+15,69444128.0,4.0,601318,SH,140827000.0,48623363,4.297412e+09,88.06,...,2634,7100,17326,11334,800,87.96,NaN,NaN,NaN,NaN
3586885,8703437.0,1.561702e+15,70130418.0,4.0,601318,SH,141051000.0,48839897,4.316492e+09,88.10,...,300,13534,2100,2900,7594,87.96,NaN,NaN,NaN,NaN
3588045,8705742.0,1.561702e+15,70146214.0,4.0,601318,SH,141054000.0,48840897,4.316580e+09,88.12,...,13434,2100,2900,7594,600,87.96,NaN,NaN,NaN,NaN
3588935,8707995.0,1.561702e+15,70161497.0,4.0,601318,SH,141057000.0,48842397,4.316712e+09,88.10,...,13434,2100,2900,7594,600,87.96,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4198931,10071651.0,1.561704e+15,80161238.0,4.0,601318,SH,144327000.0,55080709,4.868888e+09,88.67,...,14300,3200,5700,14100,21900,87.96,NaN,NaN,NaN,NaN
4200093,10073501.0,1.561704e+15,80175779.0,4.0,601318,SH,144330000.0,55085909,4.869349e+09,88.68,...,12800,3200,5700,13900,21900,87.96,NaN,NaN,NaN,NaN
4458427,10644454.0,1.561705e+15,84904291.0,4.0,601318,SH,145554000.0,58053262,5.132176e+09,88.59,...,7722,44834,23034,2800,5000,87.96,NaN,NaN,NaN,NaN
4459107,10645819.0,1.561705e+15,84923396.0,4.0,601318,SH,145557000.0,58059462,5.132726e+09,88.58,...,4922,45134,23034,3400,5000,87.96,NaN,NaN,NaN,NaN
4459970,10647949.0,1.561705e+15,84944718.0,4.0,601318,SH,145600000.0,58072362,5.133868e+09,88.58,...,9722,46634,23034,3400,5100,87.96,NaN,NaN,NaN,NaN

2.2972867482240636e-05

'20190628 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3555,3766268.0,1.561690e+15,38706907.0,5.0,905,SH,104354000.0,36598856,3.319745e+10,4936.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:34:14.078008
2:36:35.119107

'20190701 SH lv2 check:'

4764593
4764831
4766340
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1126720,2858912.0,1.561947e+15,35347519.0,4.0,601318,SH,101733000.0,46958132,4.295010e+09,92.27,...,5500,26500,54300,55000,16600,90.60,NaN,NaN,NaN,NaN
1127934,2861448.0,1.561947e+15,35367481.0,4.0,601318,SH,101736000.0,46989132,4.297870e+09,92.27,...,3900,1100,26500,55200,55000,90.60,NaN,NaN,NaN,NaN
1129008,2863607.0,1.561947e+15,35387302.0,4.0,601318,SH,101739000.0,47003832,4.299227e+09,92.29,...,27800,54400,55000,16900,35900,90.60,NaN,NaN,NaN,NaN
1129891,2865770.0,1.561947e+15,35407818.0,4.0,601318,SH,101742000.0,47019832,4.300703e+09,92.20,...,300,600,1400,29100,54600,90.60,NaN,NaN,NaN,NaN
1131121,2868315.0,1.561947e+15,35425991.0,4.0,601318,SH,101745000.0,47022232,4.300924e+09,92.27,...,7500,4100,29500,55400,55000,90.60,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4758697,11348579.0,1.561964e+15,98162337.0,4.0,600519,SH,145648000.0,5145723,5.234772e+09,1031.88,...,100,300,700,5540,200,1004.52,NaN,NaN,NaN,NaN
4759700,11350919.0,1.561964e+15,98190325.0,4.0,600519,SH,145651000.0,5146623,5.235701e+09,1031.88,...,200,300,200,700,5540,1004.52,NaN,NaN,NaN,NaN
4761148,11353842.0,1.561964e+15,98220031.0,4.0,600519,SH,145654000.0,5147423,5.236526e+09,1031.99,...,600,5840,200,1100,100,1004.52,NaN,NaN,NaN,NaN
4762369,11356450.0,1.561964e+15,98248285.0,4.0,600519,SH,145657000.0,5148723,5.237868e+09,1031.88,...,600,5840,200,1100,100,1004.52,NaN,NaN,NaN,NaN
4763317,11358516.0,1.561964e+15,98268715.0,4.0,600519,SH,145700000.0,5151123,5.240344e+09,1031.88,...,0,0,0,0,0,1004.52,NaN,NaN,NaN,NaN

0.0003167112070222997

'20190701 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5147,5457400.0,1.561951e+15,56078013.0,5.0,905,SH,111705000.0,67953016,6.634559e+10,5092.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9286,9360169.0,1.561962e+15,81892316.0,5.0,905,SH,141310000.0,92332106,8.973347e+10,5095.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:38:38.306121
2:41:44.407256

'20190702 SH lv2 check:'

4767493
4767556
4767780
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3696823,8938720.0,1.562047e+15,79077937.0,4.0,601318,SH,140430000.0,48693615,4.445629e+09,90.95,...,161098,61000,64000,5700,58940,91.69,NaN,NaN,NaN,NaN
3698117,8941180.0,1.562047e+15,79094937.0,4.0,601318,SH,140433000.0,48704415,4.446612e+09,90.96,...,172298,60900,59700,5700,59040,91.69,NaN,NaN,NaN,NaN
3699042,8943252.0,1.562047e+15,79108426.0,4.0,601318,SH,140436000.0,48728715,4.448822e+09,90.95,...,2300,169398,60800,59700,5700,91.69,NaN,NaN,NaN,NaN
3700127,8945507.0,1.562047e+15,79123995.0,4.0,601318,SH,140439000.0,48730515,4.448985e+09,90.95,...,3400,168498,61000,59700,5700,91.69,NaN,NaN,NaN,NaN
3700883,8947369.0,1.562047e+15,79138814.0,4.0,601318,SH,140442000.0,48733615,4.449267e+09,90.94,...,16900,156200,61000,59700,5700,91.69,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4521244,10764050.0,1.562050e+15,92589742.0,4.0,601318,SH,144612000.0,57684355,5.264932e+09,91.20,...,500,72700,13600,3700,8400,91.69,NaN,NaN,NaN,NaN
4576407,10884390.0,1.562050e+15,93630208.0,4.0,601318,SH,144842000.0,58214850,5.313283e+09,91.11,...,53600,600,7100,8200,22400,91.69,NaN,NaN,NaN,NaN
4595374,10925813.0,1.562050e+15,94001378.0,4.0,601318,SH,144933000.0,58386098,5.328886e+09,91.13,...,600,38600,2000,16800,12425,91.69,NaN,NaN,NaN,NaN
4596528,10928306.0,1.562050e+15,94023753.0,4.0,601318,SH,144936000.0,58389098,5.329160e+09,91.12,...,3100,37300,2000,16800,12425,91.69,NaN,NaN,NaN,NaN
4597239,10930303.0,1.562050e+15,94044093.0,4.0,601318,SH,144939000.0,58391698,5.329397e+09,91.12,...,20200,300,20200,2000,16800,91.69,NaN,NaN,NaN,NaN

4.698486185506722e-05

'20190702 SH index check:'

11395
11395
11398
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7538,7791192.0,1.562046e+15,71033994.0,5.0,905,SH,133638000.0,69630612,6.627136e+10,5078.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10414,10318105.0,1.562049e+15,89141254.0,5.0,905,SH,143633000.0,86549216,8.198631e+10,5093.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11278,11173305.0,1.562050e+15,96368862.0,5.0,905,SH,145433000.0,94288315,8.907033e+10,5086.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:43:48.084472
2:46:35.402870

'20190703 SH lv2 check:'

4615384
4615384
4616050
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2138312,5092521.0,1.562124e+15,49316435.0,4.0,600968,SH,111410000.0,953014733,4.294995e+09,4.60,...,63900,750806,662205,717638,954476,4.50,NaN,NaN,NaN,NaN
2159845,5140805.0,1.562124e+15,49649827.0,4.0,600968,SH,111522000.0,954403844,4.301383e+09,4.60,...,798511,689005,734838,980976,2084666,4.50,NaN,NaN,NaN,NaN
2161045,5143138.0,1.562124e+15,49664289.0,4.0,600968,SH,111525000.0,954450844,4.301599e+09,4.60,...,807411,692505,736338,979976,2083666,4.50,NaN,NaN,NaN,NaN
2217830,5273146.0,1.562124e+15,50480847.0,4.0,600968,SH,111852000.0,959248166,4.323654e+09,4.59,...,134480,1000726,767405,867343,1025776,4.50,NaN,NaN,NaN,NaN
2218920,5275316.0,1.562124e+15,50492795.0,4.0,600968,SH,111855000.0,959279366,4.323797e+09,4.60,...,153980,1002926,770905,869343,1026576,4.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4603864,10995151.0,1.562137e+15,91499020.0,4.0,600968,SH,145634000.0,1160066499,5.245353e+09,4.59,...,2376616,1007486,966710,781457,659500,4.50,NaN,NaN,NaN,NaN
4604108,10995400.0,1.562137e+15,91499570.0,4.0,601318,SH,145634000.0,64332148,5.839039e+09,90.62,...,1082,3000,52436,600,9000,91.16,NaN,NaN,NaN,NaN
4605510,10998198.0,1.562137e+15,91526926.0,4.0,600968,SH,145637000.0,1160338599,5.246603e+09,4.59,...,2281416,1008486,965210,779457,658500,4.50,NaN,NaN,NaN,NaN
4606239,11000258.0,1.562137e+15,91550877.0,4.0,600968,SH,145640000.0,1160500699,5.247348e+09,4.59,...,2266616,1007486,963210,778257,656500,4.50,NaN,NaN,NaN,NaN
4607183,11002537.0,1.562137e+15,91575935.0,4.0,600968,SH,145643000.0,1160728599,5.248395e+09,4.59,...,2184016,1011486,963210,777757,655700,4.50,NaN,NaN,NaN,NaN

0.00014430001924000256

'20190703 SH index check:'

11395
11395
11395
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:48:32.251472
2:50:35.790366

'20190704 SH lv2 check:'

4456312
4456578
4456971
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3349649,8245045.0,1.562220e+15,66441643.0,4.0,601318,SH,140135000.0,47861408,4.309548e+09,89.92,...,8400,8500,27500,5500,13800,90.7,NaN,NaN,NaN,NaN
3350640,8247113.0,1.562220e+15,66455820.0,4.0,601318,SH,140138000.0,47864908,4.309863e+09,89.92,...,8400,8500,27500,5500,13800,90.7,NaN,NaN,NaN,NaN
3351524,8248973.0,1.562220e+15,66469974.0,4.0,601318,SH,140141000.0,47882208,4.311418e+09,89.92,...,10600,5200,27500,5500,11800,90.7,NaN,NaN,NaN,NaN
3358592,8264825.0,1.562220e+15,66585390.0,4.0,601318,SH,140205000.0,47915602,4.314421e+09,89.92,...,2400,9506,10500,7100,29300,90.7,NaN,NaN,NaN,NaN
3386219,8326632.0,1.562220e+15,67035870.0,4.0,601318,SH,140338000.0,48083893,4.329554e+09,89.91,...,3600,10285,15600,500,4800,90.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450597,10672534.0,1.562223e+15,85472001.0,4.0,600519,SH,145648000.0,4580668,4.491457e+09,981.27,...,100,100,300,685,100,985.8,NaN,NaN,NaN,NaN
4451727,10675027.0,1.562223e+15,85496926.0,4.0,600519,SH,145651000.0,4580768,4.491555e+09,981.20,...,200,100,300,100,685,985.8,NaN,NaN,NaN,NaN
4452657,10677296.0,1.562223e+15,85520045.0,4.0,600519,SH,145654000.0,4580968,4.491751e+09,981.20,...,100,100,300,100,685,985.8,NaN,NaN,NaN,NaN
4453820,10679809.0,1.562223e+15,85543218.0,4.0,600519,SH,145657000.0,4581768,4.492536e+09,981.27,...,100,200,100,685,100,985.8,NaN,NaN,NaN,NaN
4455317,10682631.0,1.562223e+15,85565868.0,4.0,600519,SH,145700000.0,4581968,4.492732e+09,981.20,...,0,0,0,0,0,985.8,NaN,NaN,NaN,NaN

8.818951635343307e-05

'20190704 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1475,1875479.0,1.562206e+15,21559105.0,5.0,905,SH,100034000.0,21247857,1.877921e+10,5044.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4503,4591500.0,1.562209e+15,44084200.0,5.0,905,SH,110339000.0,43458424,3.884929e+10,5036.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
2:52:28.240793
2:54:38.702116

'20190705 SH lv2 check:'

4330352
4330431
4330711
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3647446,8972055.0,1.562308e+15,66417753.0,4.0,600519,SH,142405000.0,4464643,4.429685e+09,1005.01,...,200,9399,200,400,100,986.0,NaN,NaN,NaN,NaN
3648047,8973760.0,1.562308e+15,66432753.0,4.0,600519,SH,142408000.0,4465143,4.430188e+09,1005.01,...,700,9399,200,400,100,986.0,NaN,NaN,NaN,NaN
3649153,8976060.0,1.562308e+15,66447489.0,4.0,600519,SH,142411000.0,4465243,4.430289e+09,1005.90,...,700,9499,200,400,100,986.0,NaN,NaN,NaN,NaN
3650272,8978313.0,1.562308e+15,66463167.0,4.0,600519,SH,142414000.0,4465543,4.430590e+09,1005.03,...,600,100,200,100,9499,986.0,NaN,NaN,NaN,NaN
3651082,8980311.0,1.562308e+15,66480979.0,4.0,600519,SH,142417000.0,4466043,4.431093e+09,1005.90,...,400,100,200,100,9499,986.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320258,10453112.0,1.562310e+15,78185579.0,4.0,601318,SH,145638000.0,50079836,4.535483e+09,90.83,...,2406,16600,3500,6300,138600,90.0,NaN,NaN,NaN,NaN
4322080,10456420.0,1.562310e+15,78213924.0,4.0,601318,SH,145641000.0,50083536,4.535819e+09,90.83,...,1306,17100,3500,6300,138700,90.0,NaN,NaN,NaN,NaN
4322768,10458447.0,1.562310e+15,78237939.0,4.0,600519,SH,145644000.0,4965371,4.931027e+09,999.80,...,500,246,1300,700,5400,986.0,NaN,NaN,NaN,NaN
4323881,10460913.0,1.562310e+15,78262307.0,4.0,600519,SH,145647000.0,4965771,4.931427e+09,999.80,...,100,246,100,1300,700,986.0,NaN,NaN,NaN,NaN
4325018,10463409.0,1.562310e+15,78286257.0,4.0,600519,SH,145650000.0,4965871,4.931527e+09,999.80,...,246,100,1300,700,4700,986.0,NaN,NaN,NaN,NaN

6.465987060636179e-05

'20190705 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
2:56:35.975028
2:59:46.335170

'20190708 SH lv2 check:'

4750304
4750365
4751507
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2015764,4715566.0,1.562555e+15,49710715.0,4.0,601318,SH,105738000.0,48418577,4.296450e+09,88.00,...,84600,11600,11600,700,11600,89.99,NaN,NaN,NaN,NaN
2017090,4718092.0,1.562555e+15,49735292.0,4.0,601318,SH,105741000.0,48442677,4.298571e+09,88.00,...,64700,11600,11600,800,11600,89.99,NaN,NaN,NaN,NaN
2017833,4720176.0,1.562555e+15,49758164.0,4.0,601318,SH,105744000.0,48523377,4.305672e+09,88.00,...,8600,11600,800,11600,7600,89.99,NaN,NaN,NaN,NaN
2018766,4722449.0,1.562555e+15,49781982.0,4.0,601318,SH,105747000.0,48554877,4.308445e+09,88.01,...,800,11600,7600,1500,5000,89.99,NaN,NaN,NaN,NaN
2019904,4724896.0,1.562555e+15,49806221.0,4.0,601318,SH,105750000.0,48571877,4.309941e+09,88.02,...,21100,7200,7600,1500,5000,89.99,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4726582,11192635.0,1.562569e+15,92768586.0,4.0,601318,SH,145602000.0,77772023,6.892879e+09,88.56,...,11400,800,13981,2700,6300,89.99,NaN,NaN,NaN,NaN
4746547,11235420.0,1.562569e+15,93197991.0,4.0,601318,SH,145653000.0,77992500,6.912412e+09,88.63,...,23104,13100,15300,4600,600,89.99,NaN,NaN,NaN,NaN
4747273,11237467.0,1.562569e+15,93220427.0,4.0,601318,SH,145656000.0,77997500,6.912855e+09,88.61,...,1200,23704,15500,15200,4600,89.99,NaN,NaN,NaN,NaN
4748181,11239671.0,1.562569e+15,93243465.0,4.0,601318,SH,145659000.0,77999400,6.913024e+09,88.61,...,1600,10000,23904,15500,14700,89.99,NaN,NaN,NaN,NaN
4748887,11240473.0,1.562569e+15,93246621.0,4.0,601318,SH,145700000.0,77999700,6.913050e+09,88.61,...,0,0,0,0,0,89.99,NaN,NaN,NaN,NaN

0.00024040566666891215

'20190708 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
9563,9566182.0,1.562567e+15,80519568.0,5.0,905,SH,141900000.0,78192341,6.913118e+10,4872.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:01:46.425341
3:04:22.376124

'20190709 SH lv2 check:'

4284307
4284307
4285717
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
417331,1194102.0,1.562637e+15,13728844.0,4.0,601155,SH,94719000.0,161439191,4.558938e+09,28.23,...,28926,93427,32200,47200,76700,28.11,NaN,NaN,NaN,NaN
424119,1208908.0,1.562637e+15,13899014.0,4.0,601155,SH,94737000.0,161702991,4.566388e+09,28.25,...,28553,47900,82700,61000,407800,28.11,NaN,NaN,NaN,NaN
425277,1211440.0,1.562637e+15,13927644.0,4.0,601155,SH,94740000.0,161813291,4.569504e+09,28.25,...,28153,47900,82700,61000,407000,28.11,NaN,NaN,NaN,NaN
426419,1213941.0,1.562637e+15,13955255.0,4.0,601155,SH,94743000.0,161850991,4.570569e+09,28.25,...,25653,47900,82700,61000,407000,28.11,NaN,NaN,NaN,NaN
427594,1216504.0,1.562637e+15,13982241.0,4.0,601155,SH,94746000.0,161894191,4.571790e+09,28.26,...,17353,47900,82700,61000,407000,28.11,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4279270,10305698.0,1.562655e+15,77256490.0,4.0,601318,SH,145650000.0,55227873,4.848647e+09,87.54,...,1300,800,3900,21432,53400,88.68,NaN,NaN,NaN,NaN
4280132,10307823.0,1.562655e+15,77276357.0,4.0,601318,SH,145653000.0,55228273,4.848682e+09,87.55,...,1600,1100,3900,21432,53400,88.68,NaN,NaN,NaN,NaN
4281196,10310167.0,1.562655e+15,77297506.0,4.0,601318,SH,145656000.0,55235873,4.849347e+09,87.53,...,3500,600,3100,6900,18032,88.68,NaN,NaN,NaN,NaN
4282069,10312307.0,1.562655e+15,77316930.0,4.0,601318,SH,145659000.0,55243273,4.849995e+09,87.56,...,1100,6900,18032,53400,300,88.68,NaN,NaN,NaN,NaN
4282880,10313376.0,1.562655e+15,77323541.0,4.0,601318,SH,145700000.0,55245773,4.850214e+09,87.53,...,0,0,0,0,0,88.68,NaN,NaN,NaN,NaN

0.0003291080681193014

'20190709 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7483,6977804.0,1.562651e+15,53722815.0,5.0,905,SH,133540000.0,40611468,3.842432e+10,4857.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:06:09.275910
3:07:59.192563

'20190710 SH lv2 check:'

4164153
4164153
4164153
-----------------------------------------------

'SSE lv2 test is complete'

'20190710 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:09:42.200254
3:11:54.396466

'20190711 SH lv2 check:'

4233862
4233922
4233922
-----------------------------------------------

'SSE lv2 test is complete'

'20190711 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8274,7557442.0,1.562824e+15,56627687.0,5.0,852,SH,135202000.0,63111344,5.890338e+10,5202.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8931,8118676.0,1.562825e+15,60785997.0,5.0,905,SH,140542000.0,49005396,4.388824e+10,4828.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:13:42.246498
3:16:31.745738

'20190712 SH lv2 check:'

4109044
4108812
4109229
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
12948,336639.0,1.562895e+15,2291140.0,4.0,600011,SH,93027000.0,134700,8.384480e+05,6.21,...,1800,93200,66800,136300,221967,6.23,NaN,NaN,NaN,NaN
12950,336641.0,1.562895e+15,2291142.0,4.0,600019,SH,93027000.0,308300,1.953157e+06,6.32,...,28200,53200,177786,118600,66572,6.34,NaN,NaN,NaN,NaN
12951,336643.0,1.562895e+15,2291144.0,4.0,600026,SH,93027000.0,78200,4.783970e+05,6.15,...,11200,94700,16000,18600,7000,6.11,NaN,NaN,NaN,NaN
12952,336644.0,1.562895e+15,2291145.0,4.0,600037,SH,93027000.0,40100,3.907020e+05,9.73,...,12200,24300,300,25000,3700,9.75,NaN,NaN,NaN,NaN
12953,336645.0,1.562895e+15,2291146.0,4.0,600050,SH,93027000.0,668800,3.979387e+06,5.95,...,162646,173700,294100,273700,400900,5.95,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4103849,10005745.0,1.562915e+15,73609571.0,4.0,601318,SH,145650000.0,56991974,5.069910e+09,88.76,...,15572,9000,12800,8100,43500,88.15,NaN,NaN,NaN,NaN
4105323,10008535.0,1.562915e+15,73633895.0,4.0,601318,SH,145653000.0,57001174,5.070726e+09,88.76,...,42000,3900,12800,8100,43500,88.15,NaN,NaN,NaN,NaN
4106040,10010513.0,1.562915e+15,73654235.0,4.0,601318,SH,145656000.0,57021374,5.072519e+09,88.75,...,7900,42600,3900,12800,8100,88.15,NaN,NaN,NaN,NaN
4107317,10013084.0,1.562915e+15,73675453.0,4.0,601318,SH,145659000.0,57031774,5.073442e+09,88.75,...,42700,3900,12800,8400,43500,88.15,NaN,NaN,NaN,NaN
4107599,10013434.0,1.562915e+15,73679089.0,4.0,601318,SH,145700000.0,57034574,5.073691e+09,88.74,...,0,0,0,0,0,88.15,NaN,NaN,NaN,NaN

0.00010148345941294374

'20190712 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
3:18:23.087837
3:21:07.275989

'20190715 SH lv2 check:'

4558286
4558286
4558677
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2238770,5236851.0,1.563161e+15,50549361.0,4.0,600519,SH,112014000.0,4496600,4.330141e+09,975.20,...,2109,400,100,100,100,967.8,NaN,NaN,NaN,NaN
2240144,5239513.0,1.563161e+15,50570632.0,4.0,600519,SH,112017000.0,4496700,4.330239e+09,976.00,...,2109,400,100,100,100,967.8,NaN,NaN,NaN,NaN
2241161,5241728.0,1.563161e+15,50590986.0,4.0,600519,SH,112020000.0,4499000,4.332483e+09,976.00,...,909,400,100,100,100,967.8,NaN,NaN,NaN,NaN
2241963,5243686.0,1.563161e+15,50609703.0,4.0,600519,SH,112023000.0,4499600,4.333069e+09,975.80,...,509,400,100,100,100,967.8,NaN,NaN,NaN,NaN
2243194,5246182.0,1.563161e+15,50631566.0,4.0,600519,SH,112026000.0,4500100,4.333557e+09,976.00,...,709,400,100,100,100,967.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4553351,10826889.0,1.563174e+15,90045517.0,4.0,601318,SH,145650000.0,58781289,5.150253e+09,87.99,...,18200,12600,22300,2500,2300,88.1,NaN,NaN,NaN,NaN
4554424,10829301.0,1.563174e+15,90068853.0,4.0,601318,SH,145653000.0,58835689,5.155039e+09,88.00,...,18000,12600,22300,2500,2300,88.1,NaN,NaN,NaN,NaN
4555590,10831859.0,1.563174e+15,90092243.0,4.0,601318,SH,145656000.0,58890289,5.159844e+09,88.00,...,2400,2500,2300,2100,2800,88.1,NaN,NaN,NaN,NaN
4556638,10834190.0,1.563174e+15,90113733.0,4.0,601318,SH,145659000.0,58894289,5.160196e+09,88.00,...,2000,2500,2300,2100,2800,88.1,NaN,NaN,NaN,NaN
4556840,10834704.0,1.563174e+15,90119688.0,4.0,601318,SH,145700000.0,58895189,5.160275e+09,88.02,...,0,0,0,0,0,88.1,NaN,NaN,NaN,NaN

8.577785597481158e-05

'20190715 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2570,2847131.0,1.563157e+15,31430431.0,5.0,852,SH,102322000.0,38161534,3.508496e+10,5200.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6679,6854533.0,1.563168e+15,61835230.0,5.0,905,SH,131847000.0,60328749,5.368147e+10,4925.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6763,6924665.0,1.563168e+15,62354463.0,5.0,905,SH,132032000.0,60761737,5.408152e+10,4922.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:22:59.755537
3:24:53.466224

'20190716 SH lv2 check:'

4237764
4237788
4237788
-----------------------------------------------

'SSE lv2 test is complete'

'20190716 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2086,2388729.0,1.563243e+15,26035195.0,5.0,905,SH,101316000.0,21740779,2.017213e+10,4936.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3486,3592740.0,1.563245e+15,35914354.0,5.0,905,SH,104226000.0,30858809,2.855059e+10,4927.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:26:41.226902
3:29:12.496274

'20190717 SH lv2 check:'

4290449
4290449
4290449
-----------------------------------------------

'SSE lv2 test is complete'

'20190717 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
55,349565.0,1.563327e+15,3076967.0,5.0,905,SH,93100000.0,1890676,1.469364e+09,4914.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:31:01.099061
3:33:56.665500

'20190718 SH lv2 check:'

4192715
4192715
4192715
-----------------------------------------------

'SSE lv2 test is complete'

'20190718 SH index check:'

11395
11395
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7762,7197380.0,1.563428e+15,58957788.0,5.0,905,SH,134118000.0,51566428,4.271458e+10,4856.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:35:41.376255
3:37:51.709052

'20190719 SH lv2 check:'

4127464
4127464
4127882
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3015649,7576504.0,1.563516e+15,59820710.0,4.0,601318,SH,135446000.0,49037116,4.323292e+09,88.19,...,3197,18000,3000,5500,3500,87.31,NaN,NaN,NaN,NaN
3273117,8161867.0,1.563517e+15,63759788.0,4.0,601318,SH,141022000.0,50630171,4.463806e+09,88.22,...,19400,26668,13500,5200,11800,87.31,NaN,NaN,NaN,NaN
3274091,8163886.0,1.563517e+15,63772741.0,4.0,601318,SH,141025000.0,50631171,4.463895e+09,88.23,...,19300,26668,13500,5200,11800,87.31,NaN,NaN,NaN,NaN
3275067,8165917.0,1.563517e+15,63785386.0,4.0,601318,SH,141028000.0,50632371,4.464001e+09,88.24,...,18300,26668,13500,5200,11800,87.31,NaN,NaN,NaN,NaN
3275738,8167638.0,1.563517e+15,63798275.0,4.0,601318,SH,141031000.0,50634571,4.464195e+09,88.23,...,18500,26768,13500,5200,11800,87.31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3914751,9605557.0,1.563519e+15,74182492.0,4.0,601318,SH,144704000.0,56784384,5.007112e+09,88.31,...,24000,21300,14200,3900,18000,87.31,NaN,NaN,NaN,NaN
3915599,9607585.0,1.563519e+15,74202243.0,4.0,601318,SH,144707000.0,56793484,5.007915e+09,88.31,...,5300,22900,21800,14200,4100,87.31,NaN,NaN,NaN,NaN
3916790,9610061.0,1.563519e+15,74223417.0,4.0,601318,SH,144710000.0,56802684,5.008728e+09,88.31,...,7500,18700,21800,14200,4100,87.31,NaN,NaN,NaN,NaN
3917628,9612278.0,1.563519e+15,74243190.0,4.0,601318,SH,144713000.0,56812484,5.009593e+09,88.31,...,2900,17900,21800,14200,4100,87.31,NaN,NaN,NaN,NaN
3918455,9614116.0,1.563519e+15,74260411.0,4.0,601318,SH,144716000.0,56819784,5.010238e+09,88.30,...,5000,18500,21800,14200,4300,87.31,NaN,NaN,NaN,NaN

0.00010127283969042491

'20190719 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1203,1575365.0,1.563501e+15,17710527.0,5.0,905,SH,95454000.0,15357218,1.265128e+10,4887.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3347,3497893.0,1.563504e+15,34372950.0,5.0,905,SH,103934000.0,31018730,2.561764e+10,4902.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:39:39.253781
3:41:42.000790

'20190722 SH lv2 check:'

4513494
4513835
4514798
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
994467,2466075.0,1.563761e+15,30380174.0,4.0,688009,SH,101039000.0,460002606,4.297542e+09,9.20,...,946588,2600,1000,1000,2000,11.7,NaN,NaN,NaN,NaN
996359,2470483.0,1.563761e+15,30420609.0,4.0,688009,SH,101045000.0,461169920,4.308278e+09,9.20,...,53183,6700,1000,3000,52297,11.7,NaN,NaN,NaN,NaN
1003788,2486698.0,1.563761e+15,30557452.0,4.0,688009,SH,101106000.0,464261564,4.336666e+09,9.14,...,64861,900,3000,295540,192952,11.7,NaN,NaN,NaN,NaN
1008698,2497720.0,1.563761e+15,30649625.0,4.0,688009,SH,101121000.0,465576507,4.348734e+09,9.18,...,484757,102901,1600,2200,3700,11.7,NaN,NaN,NaN,NaN
1009327,2499540.0,1.563761e+15,30665768.0,4.0,688009,SH,101124000.0,465671123,4.349604e+09,9.19,...,470491,103401,1600,2200,3700,11.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4490927,10755694.0,1.563779e+15,86297543.0,4.0,688008,SH,145603000.0,57785821,4.523955e+09,74.91,...,200,50000,200,2100,3100,91.3,NaN,NaN,NaN,NaN
4494459,10763536.0,1.563779e+15,86370835.0,4.0,688008,SH,145612000.0,57814286,4.526088e+09,74.91,...,200,40085,200,2300,3350,91.3,NaN,NaN,NaN,NaN
4504851,10786103.0,1.563779e+15,86588686.0,4.0,688008,SH,145639000.0,57953878,4.536547e+09,74.93,...,100,31576,900,1600,4650,91.3,NaN,NaN,NaN,NaN
4509376,10795580.0,1.563779e+15,86675998.0,4.0,688008,SH,145651000.0,58014759,4.541109e+09,74.94,...,5582,29953,1100,1600,4550,91.3,NaN,NaN,NaN,NaN
4510528,10798462.0,1.563779e+15,86699040.0,4.0,688008,SH,145654000.0,58023759,4.541784e+09,74.93,...,9200,5882,30353,1100,1600,91.3,NaN,NaN,NaN,NaN

0.00021336020386866582

'20190722 SH index check:'

11388
11388
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1786,2300608.0,1.563761e+15,28934304.0,5.0,852,SH,100705000.0,36171245,3.113074e+10,5136.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5007,5089073.0,1.563765e+15,49535388.0,5.0,905,SH,111410000.0,42042005,3.542105e+10,4795.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5042,5120003.0,1.563765e+15,49739860.0,5.0,852,SH,111455000.0,59045002,5.103511e+10,5101.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5342,5373517.0,1.563766e+15,51397618.0,5.0,852,SH,112110000.0,60483185,5.226944e+10,5114.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5771,5721778.0,1.563766e+15,53695650.0,5.0,905,SH,113005000.0,45517413,3.832516e+10,4821.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:43:33.927941
3:46:06.771685

'20190723 SH lv2 check:'

4192291
4192291
4192291
-----------------------------------------------

'SSE lv2 test is complete'

'20190723 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1602,1950244.0,1.563847e+15,20186041.0,5.0,852,SH,100312000.0,19970779,1.805668e+10,5110.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,4450717.0,1.563851e+15,38570079.0,5.0,852,SH,110657000.0,36901936,3.367339e+10,5096.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9319,8357588.0,1.563862e+15,62112411.0,5.0,905,SH,141347000.0,42956256,3.834224e+10,4814.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:47:56.444830
3:50:58.150043

'20190724 SH lv2 check:'

4382301
4382302
4382365
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3459359,8499468.0,1.563949e+15,67344487.0,4.0,601318,SH,140832000.0,50175485,4.463510e+09,88.74,...,11200,400,37100,1300,2200,87.97,NaN,NaN,NaN,NaN
3460046,8501213.0,1.563949e+15,67356553.0,4.0,601318,SH,140835000.0,50177285,4.463669e+09,88.74,...,12600,400,37100,1300,2600,87.97,NaN,NaN,NaN,NaN
3460875,8503144.0,1.563949e+15,67369250.0,4.0,601318,SH,140838000.0,50177885,4.463723e+09,88.75,...,13300,800,37100,1300,2600,87.97,NaN,NaN,NaN,NaN
3461856,8505204.0,1.563949e+15,67381628.0,4.0,601318,SH,140841000.0,50179385,4.463856e+09,88.74,...,12400,800,37100,1300,2600,87.97,NaN,NaN,NaN,NaN
3462832,8507268.0,1.563949e+15,67393807.0,4.0,601318,SH,140844000.0,50180985,4.463998e+09,88.74,...,10900,5600,37100,1300,2600,87.97,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344844,10471950.0,1.563951e+15,82179601.0,4.0,600519,SH,145523000.0,4573714,4.352730e+09,944.81,...,1000,11600,100,300,1600,958.31,NaN,NaN,NaN,NaN
4346320,10474936.0,1.563951e+15,82203488.0,4.0,601318,SH,145526000.0,57901041,5.147639e+09,88.74,...,4900,2700,16600,13700,12400,87.97,NaN,NaN,NaN,NaN
4347395,10477587.0,1.563951e+15,82229504.0,4.0,601318,SH,145529000.0,57912141,5.148624e+09,88.74,...,4900,2900,16600,13700,12400,87.97,NaN,NaN,NaN,NaN
4348199,10479680.0,1.563951e+15,82253795.0,4.0,601318,SH,145532000.0,57919841,5.149308e+09,88.74,...,1200,2900,16600,13700,12400,87.97,NaN,NaN,NaN,NaN
4349591,10482173.0,1.563951e+15,82276208.0,4.0,601318,SH,145535000.0,57924041,5.149680e+09,88.75,...,800,3000,16600,13900,12400,87.97,NaN,NaN,NaN,NaN

1.4376009315654037e-05

'20190724 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8555,8074827.0,1.563948e+15,64369966.0,5.0,905,SH,135752000.0,52731795,4.837479e+10,4873.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:52:52.282618
3:55:08.908601

'20190725 SH lv2 check:'

4263865
4264283
4264283
-----------------------------------------------

'SSE lv2 test is complete'

'20190725 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2999,3162400.0,1.564022e+15,31141511.0,5.0,905,SH,103218000.0,25848212,2.597774e+10,4879.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10722,9701884.0,1.564037e+15,75080813.0,5.0,905,SH,144303000.0,60691997,5.934804e+10,4883.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
3:56:58.658210
3:58:58.120239

'20190726 SH lv2 check:'

4190301
4190301
4190301
-----------------------------------------------

'SSE lv2 test is complete'

'20190726 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2035,2322740.0,1.564107e+15,23640769.0,5.0,905,SH,101211000.0,17888049,1.811982e+10,4879.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:00:44.176847
4:03:24.128309

'20190729 SH lv2 check:'

4144508
4144794
4144794
-----------------------------------------------

'SSE lv2 test is complete'

'20190729 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2507,2725073.0,1.564367e+15,27044950.0,5.0,905,SH,102204000.0,21023478,2.156674e+10,4884.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7178,6646925.0,1.564378e+15,51363126.0,5.0,905,SH,132914000.0,37306878,3.714208e+10,4882.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:05:17.174916
4:08:09.476975

'20190730 SH lv2 check:'

4319115
4319115
4319115
-----------------------------------------------

'SSE lv2 test is complete'

'20190730 SH index check:'

11395
11395
11395
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
4:09:59.397544
4:12:06.298998

'20190731 SH lv2 check:'

4270865
4270992
4271035
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3858819,9436366.0,1.564555e+15,70363977.0,4.0,601318,SH,143723000.0,50892177,4.511057e+09,87.91,...,1556,2300,7900,6200,22600,89.41,NaN,NaN,NaN,NaN
3859790,9438526.0,1.564555e+15,70378592.0,4.0,601318,SH,143726000.0,50921677,4.513650e+09,87.90,...,1400,5600,1500,1656,7900,89.41,NaN,NaN,NaN,NaN
3861686,9442760.0,1.564555e+15,70408046.0,4.0,601318,SH,143732000.0,50984176,4.519144e+09,87.91,...,600,900,300,1656,7700,89.41,NaN,NaN,NaN,NaN
3862629,9444831.0,1.564555e+15,70423540.0,4.0,601318,SH,143735000.0,50992076,4.519838e+09,87.91,...,2100,200,300,1656,7700,89.41,NaN,NaN,NaN,NaN
3863393,9446773.0,1.564555e+15,70438631.0,4.0,601318,SH,143738000.0,51013776,4.521746e+09,87.91,...,856,7700,100,5700,20200,89.41,NaN,NaN,NaN,NaN
3864364,9448945.0,1.564555e+15,70454063.0,4.0,601318,SH,143741000.0,51027776,4.522976e+09,87.92,...,9600,556,7700,100,5100,89.41,NaN,NaN,NaN,NaN
3865498,9451259.0,1.564555e+15,70470759.0,4.0,601318,SH,143744000.0,51034876,4.523601e+09,87.91,...,10200,656,1400,100,5100,89.41,NaN,NaN,NaN,NaN
3866455,9453406.0,1.564555e+15,70487115.0,4.0,601318,SH,143747000.0,51042676,4.524286e+09,87.91,...,1700,9700,7356,1400,100,89.41,NaN,NaN,NaN,NaN
3867283,9455466.0,1.564555e+15,70502280.0,4.0,601318,SH,143750000.0,51053376,4.525227e+09,87.93,...,2500,8056,1400,100,1800,89.41,NaN,NaN,NaN,NaN
3868426,9457820.0,1.564555e+15,70518305.0,4.0,601318,SH,143753000.0,51077076,4.527311e+09,87.93,...,600,1100,4000,100,1800,89.41,NaN,NaN,NaN,NaN
3869403,9459973.0,1.564555e+15,70534208.0,4.0,601318,SH,143756000.0,51094576,4.528849e+09,87.93,...,2600,1200,4200,10100,1800,89.41,NaN,NaN,NaN,NaN
3870400,9462172.0,1.564555e+15,70550898.0,4.0,601318,SH,143759000.0,51099376,4.529272e+09,87.94,...,2800,10100,1800,10100,17400,89.41,NaN,NaN,NaN,NaN
3871450,9464467.0,1.564555e+15,70572299.0,4.0,601318,SH,143802000.0,51109576,4.530169e+09,87.95,...,1600,10100,1400,10100,17400,89.41,NaN,NaN,NaN,NaN
3899329,9525805.0,1.564555e+15,71042481.0,4.0,601318,SH,143923000.0,51746769,4.586208e+09,87.96,...,100,3700,24400,15500,17900,89.41,NaN,NaN,NaN,NaN
3900293,9527936.0,1.564555e+15,71058369.0,4.0,601318,SH,143926000.0,51755369,4.586964e+09,87.96,...,800,24400,15500,17900,20200,89.41,NaN,NaN,NaN,NaN
3901084,9529889.0,1.564555e+15,71072746.0,4.0,601318,SH,143929000.0,51765369,4.587844e+09,87.96,...,23900,15500,17900,20200,500,89.41,NaN,NaN,NaN,NaN
3902206,9532198.0,1.564555e+15,71088293.0,4.0,601318,SH,143932000.0,51773469,4.588556e+09,87.97,...,23800,15500,17900,20200,500,89.41,NaN,NaN,NaN,NaN
3902996,9534122.0,1.564555e+15,71102982.0,4.0,601318,SH,143935000.0,51781969,4.589304e+09,87.96,...,21900,15500,18000,20200,500,89.41,NaN,NaN,NaN,NaN
3904094,9536406.0,1.564555e+15,71118365.0,4.0,601318,SH,143938000.0,51794369,4.590395e+09,87.98,...,15600,16300,17800,20200,500,89.41,NaN,NaN,NaN,NaN
3905046,9538528.0,1.564555e+15,71132640.0,4.0,601318,SH,143941000.0,51817169,4.592401e+09,87.98,...,16200,17800,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3905995,9540613.0,1.564555e+15,71147506.0,4.0,601318,SH,143944000.0,51832369,4.593738e+09,87.98,...,16200,17800,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3906953,9542733.0,1.564555e+15,71162565.0,4.0,601318,SH,143947000.0,51856369,4.595850e+09,87.99,...,19700,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3907788,9544784.0,1.564555e+15,71177654.0,4.0,601318,SH,143950000.0,51880969,4.598014e+09,87.98,...,500,19500,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3908889,9547046.0,1.564555e+15,71192658.0,4.0,601318,SH,143953000.0,51883969,4.598278e+09,87.99,...,1000,28100,20200,500,1400,89.41,NaN,NaN,NaN,NaN
3909805,9549097.0,1.564555e+15,71207525.0,4.0,601318,SH,143956000.0,51890069,4.598815e+09,87.99,...,27600,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3910765,9551254.0,1.564555e+15,71222332.0,4.0,601318,SH,143959000.0,51907669,4.600363e+09,87.99,...,28300,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3911579,9553246.0,1.564555e+15,71239515.0,4.0,601318,SH,144002000.0,51921369,4.601569e+09,88.00,...,18100,20200,500,1400,1800,89.41,NaN,NaN,NaN,NaN
3912793,9555729.0,1.564555e+15,71257232.0,4.0,601318,SH,144005000.0,51933969,4.602678e+09,87.99,...,4200,16000,20200,500,5100,89.41,NaN,NaN,NaN,NaN
3913906,9558116.0,1.564555e+15,71275955.0,4.0,601318,SH,144008000.0,51970069,4.605854e+09,87.99,...,20200,500,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3914787,9560250.0,1.564555e+15,71291515.0,4.0,601318,SH,144011000.0,51973169,4.606127e+09,88.00,...,20200,1000,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3915967,9562669.0,1.564555e+15,71308274.0,4.0,601318,SH,144014000.0,51977269,4.606488e+09,88.00,...,20500,1000,5100,1800,1600,89.41,NaN,NaN,NaN,NaN
3965001,9671095.0,1.564555e+15,72131568.0,4.0,601318,SH,144241000.0,52711369,4.671172e+09,88.12,...,10320,200,24100,18200,3300,89.41,NaN,NaN,NaN,NaN
3965950,9673167.0,1.564555e+15,72147017.0,4.0,601318,SH,144244000.0,52721869,4.672098e+09,88.12,...,3020,500,21900,18200,3300,89.41,NaN,NaN,NaN,NaN
3966923,9675317.0,1.564555e+15,72164011.0,4.0,601318,SH,144247000.0,52754369,4.674961e+09,88.11,...,1100,4720,800,21100,18200,89.41,NaN,NaN,NaN,NaN
3970734,9683836.0,1.564555e+15,72225984.0,4.0,601318,SH,144259000.0,52801769,4.679138e+09,88.11,...,10520,1300,14300,18200,3300,89.41,NaN,NaN,NaN,NaN
4055337,9869911.0,1.564556e+15,73681330.0,4.0,601318,SH,144705000.0,53918934,4.777524e+09,88.11,...,6200,4400,17800,5600,7700,89.41,NaN,NaN,NaN,NaN
4056257,9872109.0,1.564556e+15,73697351.0,4.0,601318,SH,144708000.0,53923034,4.777885e+09,88.12,...,4700,6200,4400,17800,5600,89.41,NaN,NaN,NaN,NaN
4057457,9874548.0,1.564556e+15,73716445.0,4.0,601318,SH,144711000.0,53955134,4.780714e+09,88.12,...,28300,6300,4400,17500,5600,89.41,NaN,NaN,NaN,NaN
4058314,9876624.0,1.564556e+15,73732053.0,4.0,601318,SH,144714000.0,53958734,4.781031e+09,88.11,...,28000,8600,4400,17500,5700,89.41,NaN,NaN,NaN,NaN
4193711,10173539.0,1.564556e+15,76216100.0,4.0,601318,SH,145335000.0,56735449,5.025563e+09,87.97,...,12749,6500,433300,300,2000,89.41,NaN,NaN,NaN,NaN
4194836,10175984.0,1.564556e+15,76236766.0,4.0,601318,SH,145338000.0,56768549,5.028474e+09,87.95,...,23300,1500,7900,11449,6500,89.41,NaN,NaN,NaN,NaN
4195928,10178366.0,1.564556e+15,76257550.0,4.0,601318,SH,145341000.0,56810949,5.032203e+09,87.95,...,26700,6400,9700,11649,6300,89.41,NaN,NaN,NaN,NaN
4197041,10180770.0,1.564556e+15,76278996.0,4.0,601318,SH,145344000.0,56829749,5.033857e+09,87.95,...,8200,6700,10400,12249,8600,89.41,NaN,NaN,NaN,NaN

1.0068218030773626e-05

'20190731 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1051,1437755.0,1.564538e+15,16340221.0,5.0,905,SH,95144000.0,14071689,1.329769e+10,4903.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:13:56.963199
4:16:07.376921

'20190801 SH lv2 check:'

4363149
4363149
4363149
-----------------------------------------------

'SSE lv2 test is complete'

'20190801 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
50,398983.0,1.564623e+15,3003136.0,5.0,852,SH,93053000.0,2410141,2.095673e+09,5160.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:18:01.366542
4:20:50.219563

'20190802 SH lv2 check:'

4540894
4540894
4541908
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2306775,5535704.0,1.564716e+15,52427258.0,4.0,688009,SH,112411000.0,380742413,4.296848e+09,11.64,...,15300,37839,35653,55136,8500,10.35,NaN,NaN,NaN,NaN
2307724,5537725.0,1.564716e+15,52438862.0,4.0,688009,SH,112414000.0,380760544,4.297060e+09,11.65,...,5188,82727,35653,56136,8500,10.35,NaN,NaN,NaN,NaN
2312477,5548739.0,1.564716e+15,52506183.0,4.0,688009,SH,112432000.0,381097482,4.300985e+09,11.64,...,5423,44760,5056,35653,58904,10.35,NaN,NaN,NaN,NaN
2336547,5603458.0,1.564716e+15,52879673.0,4.0,688009,SH,112559000.0,382505150,4.317384e+09,11.65,...,69337,20405,42604,68611,40979,10.35,NaN,NaN,NaN,NaN
2340938,5614002.0,1.564716e+15,52947437.0,4.0,688009,SH,112617000.0,382745006,4.320178e+09,11.65,...,33846,38317,43604,73111,43279,10.35,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531263,10928789.0,1.564729e+15,88735035.0,4.0,688009,SH,145638000.0,595757068,6.928775e+09,12.13,...,78224,325313,460809,424018,253727,10.35,NaN,NaN,NaN,NaN
4532393,10931496.0,1.564729e+15,88760502.0,4.0,688009,SH,145641000.0,595930605,6.930879e+09,12.12,...,30062,217960,315613,453009,416281,10.35,NaN,NaN,NaN,NaN
4536668,10940777.0,1.564729e+15,88847742.0,4.0,688009,SH,145653000.0,596535695,6.938212e+09,12.12,...,176415,314725,375355,400881,244227,10.35,NaN,NaN,NaN,NaN
4537607,10943221.0,1.564729e+15,88870579.0,4.0,688009,SH,145656000.0,596654260,6.939649e+09,12.13,...,194857,314525,378455,402581,244427,10.35,NaN,NaN,NaN,NaN
4538703,10945457.0,1.564729e+15,88890190.0,4.0,688009,SH,145659000.0,597037174,6.944290e+09,12.13,...,137989,314025,376955,397581,244427,10.35,NaN,NaN,NaN,NaN

0.00022330404541484562

'20190802 SH index check:'

11391
11391
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2275,2797576.0,1.564712e+15,31979438.0,5.0,905,SH,101715000.0,30330217,2.898516e+10,4797.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2858,3316466.0,1.564713e+15,36001658.0,5.0,852,SH,102925000.0,42896972,3.978081e+10,5089.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4138,4390216.0,1.564715e+15,43614371.0,5.0,852,SH,105605000.0,50509129,4.662926e+10,5092.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5322,5396534.0,1.564716e+15,51471054.0,5.0,852,SH,112045000.0,60645333,5.528678e+10,5062.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:22:50.087259
4:25:56.257735

'20190805 SH lv2 check:'

4420312
4420453
4420790
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3426762,8430837.0,1.564985e+15,67550755.0,4.0,601318,SH,140642000.0,51404469,4.374468e+09,84.74,...,5200,61710,27046,2300,24700,85.06,NaN,NaN,NaN,NaN
3428357,8434705.0,1.564985e+15,67584180.0,4.0,601318,SH,140648000.0,51456227,4.378854e+09,84.74,...,12300,51939,27046,2300,24700,85.06,NaN,NaN,NaN,NaN
3429468,8437048.0,1.564985e+15,67601679.0,4.0,601318,SH,140651000.0,51462327,4.379370e+09,84.73,...,3300,10000,51939,27046,2300,85.06,NaN,NaN,NaN,NaN
3441912,8464661.0,1.564985e+15,67826359.0,4.0,601318,SH,140730000.0,51832466,4.410735e+09,84.78,...,4746,200,23200,2000,21000,85.06,NaN,NaN,NaN,NaN
3442748,8466673.0,1.564985e+15,67845295.0,4.0,601318,SH,140733000.0,51850966,4.412303e+09,84.77,...,800,11146,2000,21000,10800,85.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412694,10612916.0,1.564988e+15,84723468.0,4.0,688009,SH,145642000.0,395162021,4.861749e+09,12.53,...,552004,716341,1040643,419536,238760,12.12,NaN,NaN,NaN,NaN
4414750,10617421.0,1.564988e+15,84770331.0,4.0,688009,SH,145648000.0,395731078,4.868877e+09,12.52,...,215755,724341,1053243,419536,238560,12.12,NaN,NaN,NaN,NaN
4415675,10619712.0,1.564988e+15,84794077.0,4.0,688009,SH,145651000.0,396054334,4.872928e+09,12.53,...,710841,1059143,425086,238560,962402,12.12,NaN,NaN,NaN,NaN
4418298,10625181.0,1.564988e+15,84840947.0,4.0,601318,SH,145657000.0,67519354,5.740222e+09,84.66,...,1294,62200,19700,12600,25423,85.06,NaN,NaN,NaN,NaN
4419250,10627030.0,1.564988e+15,84859365.0,4.0,601318,SH,145700000.0,67523054,5.740535e+09,84.65,...,0,0,0,0,0,85.06,NaN,NaN,NaN,NaN

7.623896231759207e-05

'20190805 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4155,4251283.0,1.564974e+15,40831429.0,5.0,905,SH,105623000.0,34138758,3.422322e+10,4818.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4930,4846522.0,1.564975e+15,44865283.0,5.0,852,SH,111233000.0,48609781,4.621013e+10,5094.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6242,6244355.0,1.564982e+15,52689643.0,5.0,852,SH,130943000.0,55223931,5.226185e+10,5082.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9687,9037058.0,1.564986e+15,71863082.0,5.0,905,SH,142128000.0,57665165,5.680366e+10,4767.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:28:00.047748
4:30:53.385410

'20190806 SH lv2 check:'

4778957
4779351
4781150
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1583251,3795853.0,1.565059e+15,45268352.0,4.0,601318,SH,103512000.0,52592660,4.352476e+09,82.89,...,28166,23500,42030,11100,1700,83.10,NaN,NaN,NaN,NaN
1584399,3798469.0,1.565059e+15,45292676.0,4.0,601318,SH,103515000.0,52600160,4.353098e+09,82.88,...,2531,26766,23600,42430,11100,83.10,NaN,NaN,NaN,NaN
1585868,3801336.0,1.565059e+15,45319275.0,4.0,601318,SH,103518000.0,52604060,4.353421e+09,82.88,...,2331,25766,23400,42430,11100,83.10,NaN,NaN,NaN,NaN
1586862,3803675.0,1.565059e+15,45354106.0,4.0,601318,SH,103521000.0,52609360,4.353860e+09,82.87,...,3400,3931,25566,23400,42430,83.10,NaN,NaN,NaN,NaN
1587335,3805257.0,1.565059e+15,45383463.0,4.0,601318,SH,103524000.0,52612460,4.354117e+09,82.87,...,3400,13700,25566,23400,42430,83.10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4776245,11387099.0,1.565075e+15,99525704.0,4.0,600887,SH,145654000.0,203844059,5.760665e+09,28.10,...,43853,83922,150800,192400,42085,29.29,NaN,NaN,NaN,NaN
4776844,11388935.0,1.565075e+15,99544951.0,4.0,688009,SH,145657000.0,545489024,7.019812e+09,12.06,...,557180,43714,233209,163693,349942,12.38,NaN,NaN,NaN,NaN
4776940,11389038.0,1.565075e+15,99545367.0,4.0,600887,SH,145657000.0,203852959,5.760915e+09,28.11,...,39053,86022,149200,192400,43985,29.29,NaN,NaN,NaN,NaN
4777548,11390401.0,1.565075e+15,99558501.0,4.0,688009,SH,145700000.0,545635549,7.021578e+09,12.04,...,0,0,0,0,0,12.38,NaN,NaN,NaN,NaN
4777584,11390437.0,1.565075e+15,99558774.0,4.0,600887,SH,145700000.0,203897459,5.762166e+09,28.10,...,0,0,0,0,0,29.29,NaN,NaN,NaN,NaN

0.0003764419725894165

'20190806 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
182,582260.0,1.565055e+15,7401512.0,5.0,852,SH,93337000.0,10128557,8.654768e+09,4920.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3679,4356693.0,1.565060e+15,50337748.0,5.0,905,SH,104627000.0,57943245,4.773306e+10,4602.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4295,4903316.0,1.565060e+15,54110403.0,5.0,905,SH,105917000.0,61072370,5.031767e+10,4589.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9403,9617139.0,1.565072e+15,85993900.0,5.0,905,SH,141532000.0,86514680,7.340909e+10,4656.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:32:54.081893
4:34:53.259787

'20190807 SH lv2 check:'

4316027
4316282
4316287
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4255108,10323747.0,1.565161e+15,81137466.0,4.0,601318,SH,145417000.0,51337323,4.311625e+09,83.57,...,23800,4100,28292,2400,600,84.81,NaN,NaN,NaN,NaN
4256229,10326191.0,1.565161e+15,81158037.0,4.0,601318,SH,145420000.0,51343723,4.312160e+09,83.53,...,2800,23800,4100,25892,2400,84.81,NaN,NaN,NaN,NaN
4304323,10431705.0,1.565161e+15,82217456.0,4.0,601318,SH,145632000.0,52339857,4.395338e+09,83.50,...,100,2100,5800,100,5700,84.81,NaN,NaN,NaN,NaN
4306578,10436609.0,1.565161e+15,82266182.0,4.0,601318,SH,145638000.0,52363357,4.397300e+09,83.50,...,364,200,500,2382,5700,84.81,NaN,NaN,NaN,NaN
4307491,10438838.0,1.565161e+15,82292408.0,4.0,601318,SH,145641000.0,52368357,4.397718e+09,83.49,...,1064,4500,5000,5600,5700,84.81,NaN,NaN,NaN,NaN

1.1584728269772178e-06

'20190807 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1846,2231521.0,1.565144e+15,24260788.0,5.0,852,SH,100821000.0,29241744,2.673416e+10,4925.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8357,7874253.0,1.565157e+15,62528122.0,5.0,852,SH,135346000.0,65067290,5.894326e+10,4917.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9345,8665875.0,1.565158e+15,68000436.0,5.0,852,SH,141421000.0,70599590,6.376648e+10,4909.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:36:43.255273
4:39:02.899978

'20190808 SH lv2 check:'

4158328
4158328
4158402
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3871341,9486235.0,1.565247e+15,71837321.0,4.0,601318,SH,144253000.0,51448047,4.325328e+09,84.26,...,4150,16300,22825,200,400,83.99,NaN,NaN,NaN,NaN
3872438,9488462.0,1.565247e+15,71852661.0,4.0,601318,SH,144256000.0,51448747,4.325387e+09,84.27,...,19800,1000,5050,18000,22825,83.99,NaN,NaN,NaN,NaN
3873174,9490347.0,1.565247e+15,71867624.0,4.0,601318,SH,144259000.0,51453847,4.325816e+09,84.26,...,17100,1000,8650,18900,22825,83.99,NaN,NaN,NaN,NaN
3874280,9492610.0,1.565247e+15,71883433.0,4.0,601318,SH,144302000.0,51454447,4.325867e+09,84.27,...,26900,1000,8750,18900,22825,83.99,NaN,NaN,NaN,NaN
3875025,9494436.0,1.565247e+15,71898586.0,4.0,601318,SH,144305000.0,51492747,4.329095e+09,84.27,...,5850,19000,22525,200,400,83.99,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111358,10016311.0,1.565247e+15,76310980.0,4.0,601318,SH,145453000.0,54672409,4.597162e+09,84.41,...,1174,14700,12100,6333,13500,83.99,NaN,NaN,NaN,NaN
4113557,10021167.0,1.565247e+15,76351322.0,4.0,601318,SH,145459000.0,54718909,4.601088e+09,84.41,...,2974,2000,10800,10800,8533,83.99,NaN,NaN,NaN,NaN
4120871,10037254.0,1.565247e+15,76517641.0,4.0,601318,SH,145520000.0,54889209,4.615466e+09,84.41,...,2574,1700,900,500,100,83.99,NaN,NaN,NaN,NaN
4156649,10115806.0,1.565247e+15,77282721.0,4.0,601318,SH,145659000.0,55674342,4.681774e+09,84.48,...,44899,126038,19500,22010,22100,83.99,NaN,NaN,NaN,NaN
4157252,10116807.0,1.565247e+15,77287663.0,4.0,601318,SH,145700000.0,55674442,4.681783e+09,84.48,...,0,0,0,0,0,83.99,NaN,NaN,NaN,NaN

1.7795614006398725e-05

'20190808 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
311,668436.0,1.565228e+15,7610763.0,5.0,905,SH,93620000.0,6418344,5.807320e+09,4653.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:40:54.770760
4:43:52.541395

'20190809 SH lv2 check:'

4218777
4218777
4218777
-----------------------------------------------

'SSE lv2 test is complete'

'20190809 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
235,594157.0,1.565314e+15,6103108.0,5.0,905,SH,93441000.0,4086178,4.140140e+09,4671.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4759,4553547.0,1.565320e+15,41935502.0,5.0,905,SH,110856000.0,33934289,3.511329e+10,4632.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:45:43.065135
4:47:56.441619

'20190812 SH lv2 check:'

4147416
4147485
4148415
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1236803,3057113.0,1.565577e+15,27005786.0,4.0,600519,SH,103209000.0,4361089,4.380299e+09,1000.00,...,400,1600,100,300,400,1010.31,NaN,NaN,NaN,NaN
1237978,3059538.0,1.565577e+15,27025379.0,4.0,600519,SH,103212000.0,4361489,4.380699e+09,1000.00,...,400,100,1000,600,100,1010.31,NaN,NaN,NaN,NaN
1238958,3061694.0,1.565577e+15,27041549.0,4.0,600519,SH,103215000.0,4362889,4.382099e+09,1000.00,...,200,800,600,100,300,1010.31,NaN,NaN,NaN,NaN
1239942,3063878.0,1.565577e+15,27058239.0,4.0,600519,SH,103218000.0,4363389,4.382599e+09,1000.00,...,800,600,100,300,100,1010.31,NaN,NaN,NaN,NaN
1240708,3065844.0,1.565577e+15,27075875.0,4.0,600519,SH,103221000.0,4364889,4.384099e+09,1000.00,...,800,700,100,300,100,1010.31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4141758,10069247.0,1.565593e+15,75403861.0,4.0,600519,SH,145648000.0,8106329,8.164163e+09,1018.63,...,100,1300,4223,200,100,1010.31,NaN,NaN,NaN,NaN
4142862,10071677.0,1.565593e+15,75429868.0,4.0,600519,SH,145651000.0,8106429,8.164265e+09,1018.63,...,100,100,1100,1500,4223,1010.31,NaN,NaN,NaN,NaN
4143986,10074116.0,1.565593e+15,75452728.0,4.0,600519,SH,145654000.0,8106829,8.164672e+09,1018.62,...,100,100,200,1200,1500,1010.31,NaN,NaN,NaN,NaN
4145138,10076612.0,1.565593e+15,75476539.0,4.0,600519,SH,145657000.0,8107129,8.164978e+09,1018.63,...,100,100,200,1400,1800,1010.31,NaN,NaN,NaN,NaN
4146281,10078434.0,1.565593e+15,75493410.0,4.0,600519,SH,145700000.0,8107129,8.164978e+09,1018.63,...,0,0,0,0,0,1010.31,NaN,NaN,NaN,NaN

0.00022423600622652757

'20190812 SH index check:'

11391
11391
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2170,2339297.0,1.565576e+15,20795903.0,5.0,852,SH,101502000.0,25510912,2.297476e+10,4875.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2979,3044841.0,1.565577e+15,26910584.0,5.0,905,SH,103152000.0,22672437,2.243949e+10,4633.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8142,7296393.0,1.565589e+15,53832630.0,5.0,905,SH,134917000.0,40371393,4.065199e+10,4629.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8974,7963965.0,1.565590e+15,58713419.0,5.0,905,SH,140637000.0,44330099,4.482974e+10,4638.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9242,8172905.0,1.565590e+15,60145992.0,5.0,905,SH,141212000.0,45331526,4.589224e+10,4635.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11278,9963182.0,1.565593e+15,74332054.0,5.0,905,SH,145437000.0,59673022,5.996389e+10,4678.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:49:42.581175
4:51:42.029641

'20190813 SH lv2 check:'

4054514
4054514
4054554
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3992989,9789765.0,1.565679e+15,73892711.0,4.0,601318,SH,145407000.0,50605978,4.325320e+09,85.00,...,37600,4400,2700,3700,1400,85.95,NaN,NaN,NaN,NaN
3993900,9791953.0,1.565679e+15,73912738.0,4.0,601318,SH,145410000.0,50624478,4.326893e+09,84.99,...,20600,4400,2700,3700,1400,85.95,NaN,NaN,NaN,NaN
3995335,9794730.0,1.565679e+15,73933219.0,4.0,601318,SH,145413000.0,50637578,4.328006e+09,85.00,...,9300,4400,2700,3700,1400,85.95,NaN,NaN,NaN,NaN
3996551,9797218.0,1.565679e+15,73953262.0,4.0,601318,SH,145416000.0,50661801,4.330065e+09,85.00,...,2400,2700,5700,1400,6400,85.95,NaN,NaN,NaN,NaN
3997592,9799480.0,1.565679e+15,73972456.0,4.0,601318,SH,145419000.0,50667001,4.330507e+09,85.00,...,3500,5700,1400,6400,600,85.95,NaN,NaN,NaN,NaN
3998635,9801763.0,1.565679e+15,73992701.0,4.0,601318,SH,145422000.0,50668901,4.330669e+09,85.01,...,1700,6900,1400,6400,600,85.95,NaN,NaN,NaN,NaN
3999314,9803666.0,1.565679e+15,74011621.0,4.0,601318,SH,145425000.0,50671101,4.330856e+09,85.00,...,5700,6900,1400,6400,600,85.95,NaN,NaN,NaN,NaN
4000685,9806311.0,1.565679e+15,74031792.0,4.0,601318,SH,145428000.0,50674101,4.331111e+09,85.02,...,500,5900,6900,1400,6400,85.95,NaN,NaN,NaN,NaN
4001536,9808361.0,1.565679e+15,74051555.0,4.0,601318,SH,145431000.0,50687001,4.332208e+09,85.01,...,1200,500,6900,1400,6400,85.95,NaN,NaN,NaN,NaN
4002790,9811108.0,1.565679e+15,74073234.0,4.0,601318,SH,145434000.0,50690601,4.332514e+09,85.01,...,1100,300,6900,1400,6400,85.95,NaN,NaN,NaN,NaN
4003798,9813160.0,1.565679e+15,74092453.0,4.0,601318,SH,145437000.0,50693701,4.332777e+09,85.01,...,700,6900,2600,6400,600,85.95,NaN,NaN,NaN,NaN
4004668,9815279.0,1.565679e+15,74110376.0,4.0,601318,SH,145440000.0,50697801,4.333126e+09,85.01,...,3900,6900,2600,6400,600,85.95,NaN,NaN,NaN,NaN
4005678,9817619.0,1.565679e+15,74130312.0,4.0,601318,SH,145443000.0,50714801,4.334571e+09,85.02,...,1800,7200,4600,6400,600,85.95,NaN,NaN,NaN,NaN
4006789,9819908.0,1.565679e+15,74149296.0,4.0,601318,SH,145446000.0,50715501,4.334630e+09,85.01,...,2100,7300,4600,6400,600,85.95,NaN,NaN,NaN,NaN
4007898,9822266.0,1.565679e+15,74167550.0,4.0,601318,SH,145449000.0,50721101,4.335106e+09,85.01,...,5600,4600,7700,600,1000,85.95,NaN,NaN,NaN,NaN
4011647,9830920.0,1.565679e+15,74242877.0,4.0,601318,SH,145501000.0,50763150,4.338681e+09,85.04,...,7400,7500,600,1000,3200,85.95,NaN,NaN,NaN,NaN
4012523,9833027.0,1.565679e+15,74263567.0,4.0,601318,SH,145504000.0,50769850,4.339251e+09,85.04,...,1800,7500,2600,1000,7200,85.95,NaN,NaN,NaN,NaN
4014036,9835832.0,1.565679e+15,74284765.0,4.0,601318,SH,145507000.0,50772350,4.339464e+09,85.03,...,2600,7500,2600,1000,17200,85.95,NaN,NaN,NaN,NaN
4015051,9838348.0,1.565679e+15,74306783.0,4.0,601318,SH,145510000.0,50776750,4.339838e+09,85.04,...,12700,7500,2600,1200,17200,85.95,NaN,NaN,NaN,NaN
4015999,9840287.0,1.565679e+15,74329417.0,4.0,601318,SH,145513000.0,50784150,4.340467e+09,85.03,...,1600,12900,7500,2900,4300,85.95,NaN,NaN,NaN,NaN
4016887,9842435.0,1.565679e+15,74354821.0,4.0,601318,SH,145516000.0,50793250,4.341241e+09,85.02,...,3300,13900,6500,2900,4300,85.95,NaN,NaN,NaN,NaN
4017970,9844831.0,1.565679e+15,74380589.0,4.0,601318,SH,145519000.0,50796350,4.341504e+09,85.03,...,3500,13900,7900,2900,4600,85.95,NaN,NaN,NaN,NaN
4019254,9847425.0,1.565679e+15,74404799.0,4.0,601318,SH,145522000.0,50801150,4.341912e+09,85.03,...,5200,13900,7900,2900,5100,85.95,NaN,NaN,NaN,NaN
4020309,9849735.0,1.565679e+15,74427947.0,4.0,601318,SH,145525000.0,50810650,4.342720e+09,85.02,...,4000,13900,7900,2900,5100,85.95,NaN,NaN,NaN,NaN
4021160,9851863.0,1.565679e+15,74450893.0,4.0,601318,SH,145528000.0,50823250,4.343792e+09,85.03,...,3500,7900,2900,6100,20100,85.95,NaN,NaN,NaN,NaN
4022208,9854154.0,1.565679e+15,74473635.0,4.0,601318,SH,145531000.0,50832350,4.344565e+09,85.03,...,3700,8900,2900,6100,20100,85.95,NaN,NaN,NaN,NaN
4023470,9856720.0,1.565679e+15,74497717.0,4.0,601318,SH,145534000.0,50861050,4.347005e+09,85.02,...,14400,2400,10500,2900,6100,85.95,NaN,NaN,NaN,NaN
4024619,9859125.0,1.565679e+15,74520451.0,4.0,601318,SH,145537000.0,50865450,4.347379e+09,85.02,...,14900,10800,2400,8900,2900,85.95,NaN,NaN,NaN,NaN
4025372,9861117.0,1.565679e+15,74542099.0,4.0,601318,SH,145540000.0,50871250,4.347873e+09,85.02,...,9700,11300,3800,8900,2900,85.95,NaN,NaN,NaN,NaN
4026211,9863172.0,1.565679e+15,74562424.0,4.0,601318,SH,145543000.0,50878750,4.348510e+09,85.02,...,4000,11600,3900,8900,100,85.95,NaN,NaN,NaN,NaN
4027256,9865440.0,1.565679e+15,74583543.0,4.0,601318,SH,145546000.0,50893150,4.349735e+09,85.02,...,7400,4400,37500,100,2900,85.95,NaN,NaN,NaN,NaN
4029780,9870635.0,1.565679e+15,74625978.0,4.0,601318,SH,145552000.0,50913450,4.351460e+09,85.02,...,32202,7200,6400,37500,100,85.95,NaN,NaN,NaN,NaN
4030742,9872622.0,1.565679e+15,74645817.0,4.0,601318,SH,145555000.0,50922250,4.352209e+09,85.02,...,27102,8800,5000,37500,100,85.95,NaN,NaN,NaN,NaN
4031728,9874979.0,1.565679e+15,74666944.0,4.0,601318,SH,145558000.0,50936150,4.353390e+09,85.02,...,23702,8700,5000,37500,700,85.95,NaN,NaN,NaN,NaN
4032572,9877110.0,1.565679e+15,74689025.0,4.0,601318,SH,145601000.0,50952896,4.354814e+09,85.02,...,7902,9700,5000,37500,2400,85.95,NaN,NaN,NaN,NaN
4033669,9879306.0,1.565679e+15,74710837.0,4.0,601318,SH,145604000.0,50954296,4.354933e+09,85.02,...,10902,9700,4900,37500,2400,85.95,NaN,NaN,NaN,NaN
4034898,9881832.0,1.565679e+15,74733157.0,4.0,601318,SH,145607000.0,51008396,4.359532e+09,85.02,...,13202,9700,10100,37500,2400,85.95,NaN,NaN,NaN,NaN
4036070,9884497.0,1.565679e+15,74756482.0,4.0,601318,SH,145610000.0,51027296,4.361139e+09,85.02,...,3902,11700,9200,37500,2400,85.95,NaN,NaN,NaN,NaN
4036652,9886118.0,1.565679e+15,74776954.0,4.0,601318,SH,145613000.0,51042196,4.362405e+09,85.02,...,1902,11500,6200,37500,2400,85.95,NaN,NaN,NaN,NaN
4037725,9888473.0,1.565679e+15,74800080.0,4.0,601318,SH,145616000.0,51082453,4.365827e+09,85.00,...,12018,300,3202,8900,5700,85.95,NaN,NaN,NaN,NaN

9.865547387430404e-06

'20190813 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4770,4462382.0,1.565666e+15,39571092.0,5.0,852,SH,110912000.0,44219868,4.329903e+10,4916.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4895,4558227.0,1.565666e+15,40209617.0,5.0,905,SH,111147000.0,32708952,3.331498e+10,4650.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8647,7693208.0,1.565676e+15,58987100.0,5.0,905,SH,135947000.0,45527648,4.521020e+10,4641.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9886,8643102.0,1.565678e+15,65254871.0,5.0,852,SH,142537000.0,66036389,6.336512e+10,4925.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:53:30.058838
4:56:25.428293

'20190814 SH lv2 check:'

4164808
4165226
4165238
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3996224,9779479.0,1.565765e+15,77765499.0,4.0,601318,SH,144901000.0,50086923,4.300437e+09,85.07,...,11900,100,2796,52908,6600,86.38,NaN,NaN,NaN,NaN
3997262,9781533.0,1.565765e+15,77783767.0,4.0,601318,SH,144904000.0,50103223,4.301824e+09,85.08,...,2796,52908,6600,43200,3000,86.38,NaN,NaN,NaN,NaN
3998280,9784024.0,1.565765e+15,77803443.0,4.0,601318,SH,144907000.0,50105223,4.301994e+09,85.09,...,896,54008,6600,43200,3000,86.38,NaN,NaN,NaN,NaN
3999273,9786025.0,1.565765e+15,77818954.0,4.0,601318,SH,144910000.0,50111323,4.302513e+09,85.10,...,51604,6600,43200,3000,31100,86.38,NaN,NaN,NaN,NaN
4000260,9788373.0,1.565765e+15,77837783.0,4.0,601318,SH,144913000.0,50112323,4.302598e+09,85.10,...,69404,9200,43200,3000,31100,86.38,NaN,NaN,NaN,NaN
4001242,9790540.0,1.565765e+15,77854633.0,4.0,601318,SH,144916000.0,50116123,4.302922e+09,85.10,...,67204,9200,43200,3000,31100,86.38,NaN,NaN,NaN,NaN
4002214,9792511.0,1.565765e+15,77871357.0,4.0,601318,SH,144919000.0,50174223,4.307866e+09,85.10,...,9104,8200,43200,3000,31100,86.38,NaN,NaN,NaN,NaN
4003190,9794839.0,1.565765e+15,77890720.0,4.0,601318,SH,144922000.0,50177923,4.308181e+09,85.10,...,6704,8200,43200,3000,31100,86.38,NaN,NaN,NaN,NaN
4004168,9796821.0,1.565765e+15,77905671.0,4.0,601318,SH,144925000.0,50184523,4.308742e+09,85.09,...,13400,7404,8200,44200,3000,86.38,NaN,NaN,NaN,NaN
4073830,9950294.0,1.565766e+15,79297620.0,4.0,601318,SH,145246000.0,51127872,4.389024e+09,85.08,...,2700,15200,26900,34500,31800,86.38,NaN,NaN,NaN,NaN
4074881,9952423.0,1.565766e+15,79317772.0,4.0,601318,SH,145249000.0,51145372,4.390512e+09,85.06,...,10800,1200,26900,33500,31800,86.38,NaN,NaN,NaN,NaN
4075943,9954728.0,1.565766e+15,79338393.0,4.0,601318,SH,145252000.0,51148272,4.390759e+09,85.08,...,13400,1200,26900,33500,31800,86.38,NaN,NaN,NaN,NaN

2.8812852837393703e-06

'20190814 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
46,395502.0,1.565746e+15,3451231.0,5.0,852,SH,93050000.0,4025019,3.869702e+09,4987.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
4:58:21.283664
5:00:58.891731

'20190815 SH lv2 check:'

4387086
4387086
4387297
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3442728,8561058.0,1.565849e+15,68279580.0,4.0,601318,SH,141013000.0,52237257,4.437728e+09,85.92,...,1600,400,15500,67700,33000,83.8,NaN,NaN,NaN,NaN
3445017,8566109.0,1.565849e+15,68331158.0,4.0,601318,SH,141019000.0,52247158,4.438578e+09,85.90,...,44700,3294,1300,15500,68100,83.8,NaN,NaN,NaN,NaN
3480684,8644450.0,1.565850e+15,68992691.0,4.0,601318,SH,141201000.0,52660313,4.474045e+09,85.74,...,500,100,27800,2000,4200,83.8,NaN,NaN,NaN,NaN
3481542,8646492.0,1.565850e+15,69012477.0,4.0,601318,SH,141204000.0,52668513,4.474748e+09,85.70,...,2100,900,25500,2000,4200,83.8,NaN,NaN,NaN,NaN
3486881,8658325.0,1.565850e+15,69107667.0,4.0,601318,SH,141219000.0,52735507,4.480488e+09,85.63,...,3500,24162,500,12800,2000,83.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375018,10628418.0,1.565852e+15,85299890.0,4.0,601318,SH,145631000.0,68618260,5.848243e+09,86.30,...,15400,2300,1500,21300,40085,83.8,NaN,NaN,NaN,NaN
4375945,10630477.0,1.565852e+15,85323031.0,4.0,601318,SH,145634000.0,68633860,5.849590e+09,86.30,...,2000,3400,2100,33500,33685,83.8,NaN,NaN,NaN,NaN
4383694,10647374.0,1.565852e+15,85485836.0,4.0,601318,SH,145655000.0,68849678,5.868216e+09,86.31,...,4200,20800,33285,199840,36500,83.8,NaN,NaN,NaN,NaN
4384620,10649625.0,1.565852e+15,85506889.0,4.0,601318,SH,145658000.0,68878178,5.870675e+09,86.32,...,5000,27200,38385,201640,36500,83.8,NaN,NaN,NaN,NaN
4385612,10651611.0,1.565852e+15,85521434.0,4.0,601318,SH,145700000.0,68884078,5.871184e+09,86.31,...,0,0,0,0,0,83.8,NaN,NaN,NaN,NaN

4.80957063526906e-05

'20190815 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3606,3830618.0,1.565837e+15,37643552.0,5.0,852,SH,104500000.0,45276511,4.248084e+10,4911.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,8014913.0,1.565849e+15,64039758.0,5.0,905,SH,135705000.0,56311388,5.174123e+10,4663.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10302,9623551.0,1.565851e+15,76681330.0,5.0,905,SH,143420000.0,68641913,6.351801e+10,4698.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:02:53.083793
5:04:57.902158

'20190816 SH lv2 check:'

4445767
4416704
4447050
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
847285,2202384.0,1.565921e+15,24000476.0,4.0,600791,SH,100805000.0,332000,1.184681e+06,3.58,...,50600,139800,47000,110500,26500,3.55,NaN,NaN,NaN,NaN
847286,2202385.0,1.565921e+15,24000477.0,4.0,600797,SH,100805000.0,3870426,3.222229e+07,8.35,...,75300,31100,59200,168200,39800,8.30,NaN,NaN,NaN,NaN
847287,2202386.0,1.565921e+15,24000478.0,4.0,600798,SH,100805000.0,1499300,5.278199e+06,3.52,...,69800,113400,330700,217800,104400,3.51,NaN,NaN,NaN,NaN
847288,2202387.0,1.565921e+15,24000479.0,4.0,600808,SH,100805000.0,6735000,1.794759e+07,2.67,...,877601,836400,1172000,1107900,889800,2.68,NaN,NaN,NaN,NaN
847289,2202388.0,1.565921e+15,24000480.0,4.0,600827,SH,100805000.0,454824,3.942269e+06,8.67,...,9100,23000,17400,27800,11800,8.67,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421924,10660325.0,1.565939e+15,86202135.0,4.0,601318,SH,145559000.0,92086368,8.048818e+09,87.48,...,9500,101600,4300,27500,33124,87.00,NaN,NaN,NaN,NaN
4423015,10662673.0,1.565939e+15,86227093.0,4.0,601318,SH,145602000.0,92264158,8.064369e+09,87.46,...,64200,3873,15200,102200,4600,87.00,NaN,NaN,NaN,NaN
4423930,10664754.0,1.565939e+15,86252035.0,4.0,601318,SH,145605000.0,92296613,8.067207e+09,87.46,...,57900,4700,16300,101900,4600,87.00,NaN,NaN,NaN,NaN
4425103,10667351.0,1.565939e+15,86278262.0,4.0,601318,SH,145608000.0,92311013,8.068466e+09,87.45,...,43900,12400,5100,29500,103900,87.00,NaN,NaN,NaN,NaN
4426234,10669889.0,1.565939e+15,86304023.0,4.0,601318,SH,145611000.0,92335013,8.070565e+09,87.46,...,29900,18500,5100,31700,105500,87.00,NaN,NaN,NaN,NaN

0.006825818806968516

'20190816 SH index check:'

11391
11323
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1836,2205490.0,1.565921e+15,24024046.0,5.0,16,SH,100809000.0,6034293,1.053181e+10,2815.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1837,2205491.0,1.565921e+15,24024073.0,5.0,300,SH,100809000.0,22149333,3.332011e+10,3701.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,2205492.0,1.565921e+15,24024074.0,5.0,852,SH,100809000.0,27453058,2.779211e+10,5013.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1839,2205493.0,1.565921e+15,24024075.0,5.0,905,SH,100809000.0,20563530,2.078181e+10,4724.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1840,2208916.0,1.565921e+15,24057145.0,5.0,16,SH,100814000.0,6041905,1.054849e+10,2815.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6086,6185450.0,1.565932e+15,52457595.0,5.0,905,SH,130629000.0,44886203,4.442728e+10,4737.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9229,8756660.0,1.565936e+15,71210361.0,5.0,852,SH,141159000.0,76064485,7.616039e+10,5033.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9313,8827939.0,1.565936e+15,71693417.0,5.0,852,SH,141344000.0,76628322,7.668306e+10,5032.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9682,9145438.0,1.565937e+15,73990662.0,5.0,905,SH,142124000.0,65120854,6.422901e+10,4741.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11189,10507896.0,1.565938e+15,84749715.0,5.0,852,SH,145249000.0,91923369,9.132103e+10,5013.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

74

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:06:56.319351
5:09:31.095526

'20190819 SH lv2 check:'

4851434
4851788
4852518
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2611713,6514224.0,1.566191e+15,60870425.0,4.0,601318,SH,130806000.0,49696005,4.359837e+09,87.64,...,2700,11500,20300,23500,12100,88.30,NaN,NaN,NaN,NaN
2836359,7013652.0,1.566192e+15,64910639.0,4.0,601318,SH,131918000.0,53231884,4.670523e+09,88.06,...,34520,300,500,19900,38040,88.30,NaN,NaN,NaN,NaN
2844909,7032482.0,1.566192e+15,65062006.0,4.0,601318,SH,131942000.0,53372584,4.682909e+09,88.00,...,2900,2000,300,900,15000,88.30,NaN,NaN,NaN,NaN
2846173,7035078.0,1.566192e+15,65081505.0,4.0,601318,SH,131945000.0,53387384,4.684211e+09,88.03,...,700,1500,300,1500,10900,88.30,NaN,NaN,NaN,NaN
2847018,7037137.0,1.566192e+15,65098365.0,4.0,601318,SH,131948000.0,53403084,4.685593e+09,88.00,...,1400,6700,500,300,1700,88.30,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4845243,11449682.0,1.566198e+15,100310743.0,4.0,600030,SH,145648000.0,242504208,5.443075e+09,23.13,...,221200,424433,271450,269855,488700,21.88,NaN,NaN,NaN,NaN
4846648,11452463.0,1.566198e+15,100339216.0,4.0,600030,SH,145651000.0,242677808,5.447088e+09,23.12,...,2500,5200,228700,433733,266550,21.88,NaN,NaN,NaN,NaN
4847842,11455039.0,1.566198e+15,100367194.0,4.0,600030,SH,145654000.0,242726108,5.448205e+09,23.11,...,5700,16200,235200,447833,269250,21.88,NaN,NaN,NaN,NaN
4848812,11457394.0,1.566198e+15,100392820.0,4.0,600030,SH,145657000.0,242767408,5.449160e+09,23.12,...,19800,242700,470533,269850,267955,21.88,NaN,NaN,NaN,NaN
4850424,11460366.0,1.566198e+15,100418887.0,4.0,600030,SH,145700000.0,242795408,5.449807e+09,23.12,...,0,0,0,0,0,21.88,NaN,NaN,NaN,NaN

0.00015047097414908663

'20190819 SH index check:'

11388
11388
11390
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3882,4015441.0,1.566183e+15,42564134.0,5.0,852,SH,105045000.0,56556886,5.573483e+10,5103.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5550,5567406.0,1.566185e+15,55410547.0,5.0,852,SH,112530000.0,73525234,7.095072e+10,5135.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:11:38.333378
5:14:35.277126

'20190820 SH lv2 check:'

4698348
4698483
4698485
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4603991,10975666.0,1.566284e+15,95160509.0,4.0,601318,SH,145257000.0,48891090,4.299618e+09,87.97,...,600,1500,27897,37400,8000,88.3,NaN,NaN,NaN,NaN
4604899,10977908.0,1.566284e+15,95183477.0,4.0,601318,SH,145300000.0,48894090,4.299882e+09,87.96,...,14100,27897,37400,8000,32600,88.3,NaN,NaN,NaN,NaN

4.256815374254951e-07

'20190820 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1895,2402435.0,1.566267e+15,30002269.0,5.0,905,SH,100918000.0,36606147,3.425396e+10,4902.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2395,2887518.0,1.566268e+15,34525861.0,5.0,905,SH,101943000.0,41646704,3.909134e+10,4898.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2635,3125984.0,1.566268e+15,36852775.0,5.0,905,SH,102443000.0,44282871,4.151706e+10,4889.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7919,8024625.0,1.566280e+15,71695649.0,5.0,905,SH,134438000.0,74323946,7.072101e+10,4880.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:16:37.267411
5:19:46.076758

'20190821 SH lv2 check:'

4512648
4513071
4513071
-----------------------------------------------

'SSE lv2 test is complete'

'20190821 SH index check:'

11392
11392
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3350,3654212.0,1.566355e+15,37675624.0,5.0,852,SH,103936000.0,52048870,4.926300e+10,5177.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5931,6096718.0,1.566364e+15,52962236.0,5.0,905,SH,130311000.0,50424119,4.888586e+10,4879.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6718,6722928.0,1.566365e+15,57484418.0,5.0,852,SH,131936000.0,73458229,7.044605e+10,5198.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10967,10402007.0,1.566370e+15,85355399.0,5.0,905,SH,144806000.0,79454856,7.795828e+10,4874.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11179,10613190.0,1.566370e+15,87241349.0,5.0,905,SH,145231000.0,81399963,7.973323e+10,4877.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:21:48.025854
5:24:25.688254

'20190822 SH lv2 check:'

4476518
4476646
4476646
-----------------------------------------------

'SSE lv2 test is complete'

'20190822 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
678,1094639.0,1.566438e+15,13668477.0,5.0,852,SH,94357000.0,18963754,1.824669e+10,5190.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4327,4457195.0,1.566443e+15,44911361.0,5.0,905,SH,105957000.0,45454647,4.604864e+10,4869.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:26:21.776210
5:28:25.880005

'20190823 SH lv2 check:'

4429805
4429805
4430945
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1954435,4680548.0,1.566530e+15,46578133.0,4.0,601318,SH,110749000.0,50009618,4.462627e+09,90.14,...,59485,25000,1400,6000,22000,87.95,NaN,NaN,NaN,NaN
1955434,4682634.0,1.566530e+15,46591825.0,4.0,601318,SH,110752000.0,50041218,4.465475e+09,90.13,...,59085,25500,1400,5900,19800,87.95,NaN,NaN,NaN,NaN
1956476,4684999.0,1.566530e+15,46607363.0,4.0,601318,SH,110755000.0,50124318,4.472965e+09,90.11,...,10900,300,6500,58285,25200,87.95,NaN,NaN,NaN,NaN
1957207,4686655.0,1.566530e+15,46619441.0,4.0,601318,SH,110758000.0,50145518,4.474875e+09,90.11,...,36300,58285,25400,1400,5900,87.95,NaN,NaN,NaN,NaN
1957758,4688209.0,1.566530e+15,46632724.0,4.0,601318,SH,110801000.0,50152318,4.475488e+09,90.09,...,200,23200,100,56000,44500,87.95,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4423977,10645501.0,1.566543e+15,89783781.0,4.0,601318,SH,145649000.0,87601941,7.843108e+09,89.93,...,5500,109500,44042,21400,8700,87.95,NaN,NaN,NaN,NaN
4425350,10648211.0,1.566543e+15,89807939.0,4.0,601318,SH,145652000.0,87604741,7.843360e+09,89.91,...,9200,1200,9100,109200,44042,87.95,NaN,NaN,NaN,NaN
4426525,10650812.0,1.566543e+15,89835744.0,4.0,601318,SH,145655000.0,87618541,7.844601e+09,89.91,...,10000,2000,12000,106200,45042,87.95,NaN,NaN,NaN,NaN
4428003,10653682.0,1.566543e+15,89858232.0,4.0,601318,SH,145658000.0,87623041,7.845005e+09,89.90,...,4700,2000,12900,105400,58042,87.95,NaN,NaN,NaN,NaN
4428569,10654520.0,1.566543e+15,89870365.0,4.0,601318,SH,145700000.0,87652136,7.847622e+09,89.93,...,0,0,0,0,0,87.95,NaN,NaN,NaN,NaN

0.0002573476710600128

'20190823 SH index check:'

11391
11391
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5805,5946242.0,1.566536e+15,53919048.0,5.0,852,SH,130040000.0,72969020,6.871878e+10,5200.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6814,6729165.0,1.566538e+15,59479415.0,5.0,905,SH,132140000.0,53603079,5.213279e+10,4878.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6861,6768492.0,1.566538e+15,59787782.0,5.0,852,SH,132240000.0,79548072,7.500682e+10,5191.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7201,7044524.0,1.566538e+15,61832255.0,5.0,852,SH,132945000.0,82145187,7.747095e+10,5189.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8361,7999527.0,1.566540e+15,69070056.0,5.0,852,SH,135355000.0,91101508,8.584756e+10,5182.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:30:22.154943
5:32:45.809424

'20190826 SH lv2 check:'

4438634
4436490
4439976
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
941684,2468035.0,1.566785e+15,30127507.0,4.0,600004,SH,100949000.0,3006027,5.519390e+07,18.33,...,332,15421,1300,200,11990,18.26,NaN,NaN,NaN,NaN
941685,2468037.0,1.566785e+15,30127509.0,4.0,600009,SH,100949000.0,1493163,1.286653e+08,86.49,...,3400,4500,1500,19900,300,86.08,NaN,NaN,NaN,NaN
941686,2468038.0,1.566785e+15,30127510.0,4.0,600031,SH,100949000.0,33988155,4.706888e+08,13.70,...,72900,32300,30100,30100,23400,13.80,NaN,NaN,NaN,NaN
941687,2468039.0,1.566785e+15,30127511.0,4.0,600066,SH,100949000.0,2360975,3.121170e+07,13.16,...,14800,19200,12300,32400,7900,13.19,NaN,NaN,NaN,NaN
941688,2468040.0,1.566785e+15,30127512.0,4.0,600085,SH,100949000.0,2123373,6.061850e+07,28.58,...,1300,14600,22400,3200,1000,28.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433546,10763906.0,1.566803e+15,89344222.0,4.0,601318,SH,145650000.0,97850994,8.598901e+09,87.25,...,657,15400,9540,13525,1000,88.30,NaN,NaN,NaN,NaN
4434683,10766368.0,1.566803e+15,89368356.0,4.0,601318,SH,145653000.0,97852494,8.599032e+09,87.31,...,757,15900,9540,13525,1000,88.30,NaN,NaN,NaN,NaN
4435840,10768928.0,1.566803e+15,89392352.0,4.0,601318,SH,145656000.0,97859694,8.599661e+09,87.31,...,857,17400,9540,13525,1000,88.30,NaN,NaN,NaN,NaN
4437158,10771597.0,1.566803e+15,89416009.0,4.0,601318,SH,145659000.0,97913644,8.604368e+09,87.32,...,200,5257,17500,9540,13825,88.30,NaN,NaN,NaN,NaN
4437713,10772162.0,1.566803e+15,89420576.0,4.0,601318,SH,145700000.0,97913744,8.604377e+09,87.31,...,0,0,0,0,0,88.30,NaN,NaN,NaN,NaN

0.0007853767623102062

'20190826 SH index check:'

11388
11388
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
55,481883.0,1.566783e+15,4742323.0,5.0,905,SH,93101000.0,5353094,4.570502e+09,4804.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4918,5049190.0,1.566789e+15,50253908.0,5.0,852,SH,111221000.0,74843963,6.666437e+10,5162.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6591,6736655.0,1.566797e+15,59874396.0,5.0,905,SH,131701000.0,61737464,6.037346e+10,4857.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9451,9021463.0,1.566800e+15,75673818.0,5.0,905,SH,141636000.0,74033648,7.291066e+10,4833.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9510,9073655.0,1.566800e+15,76064079.0,5.0,852,SH,141751000.0,103237468,9.216160e+10,5151.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10791,10178387.0,1.566802e+15,84149341.0,5.0,905,SH,144431000.0,81809544,8.042796e+10,4847.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:34:47.788711
5:37:55.819238

'20190827 SH lv2 check:'

4823381
4823581
4823829
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3321663,8131475.0,1.566885e+15,73056847.0,4.0,601318,SH,134127000.0,50672114,4.473957e+09,87.83,...,8000,15600,23300,16000,7800,88.05,NaN,NaN,NaN,NaN
3322661,8133689.0,1.566885e+15,73075866.0,4.0,601318,SH,134130000.0,50682914,4.474906e+09,87.84,...,15600,23300,16000,7800,14600,88.05,NaN,NaN,NaN,NaN
3323668,8135902.0,1.566885e+15,73093575.0,4.0,601318,SH,134133000.0,50686814,4.475249e+09,87.84,...,100,15800,23300,16000,7800,88.05,NaN,NaN,NaN,NaN
3331705,8153737.0,1.566885e+15,73235730.0,4.0,601318,SH,134157000.0,50847014,4.489317e+09,87.82,...,5300,13700,23500,12800,8600,88.05,NaN,NaN,NaN,NaN
3332700,8155953.0,1.566885e+15,73254172.0,4.0,601318,SH,134200000.0,50853414,4.489880e+09,87.82,...,4900,13700,23500,12800,8600,88.05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4801630,11413656.0,1.566889e+15,99399214.0,4.0,601318,SH,145609000.0,68338054,6.025358e+09,87.92,...,2100,10212,13200,25600,37100,88.05,NaN,NaN,NaN,NaN
4803809,11418157.0,1.566889e+15,99453318.0,4.0,600519,SH,145614000.0,4510218,5.047342e+09,1116.25,...,152,100,400,238,100,1117.00,NaN,NaN,NaN,NaN
4809914,11431831.0,1.566889e+15,99606838.0,4.0,600519,SH,145629000.0,4514251,5.051845e+09,1116.40,...,100,100,200,400,100,1117.00,NaN,NaN,NaN,NaN
4821244,11456469.0,1.566889e+15,99876551.0,4.0,600519,SH,145659000.0,4523056,5.061676e+09,1116.30,...,400,100,200,2433,100,1117.00,NaN,NaN,NaN,NaN
4822211,11458157.0,1.566889e+15,99886054.0,4.0,600519,SH,145700000.0,4523056,5.061676e+09,1116.30,...,0,0,0,0,0,1117.00,NaN,NaN,NaN,NaN

5.141621613552817e-05

'20190827 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
5:40:03.791172
5:43:11.898489

'20190828 SH lv2 check:'

4646971
4647256
4647595
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3407174,8358929.0,1.566972e+15,72329024.0,4.0,600519,SH,135500000.0,3911814,4.301305e+09,1097.48,...,300,800,200,200,100,1109.00,NaN,NaN,NaN,NaN
3418916,8385574.0,1.566972e+15,72525965.0,4.0,600519,SH,135539000.0,3915669,4.305535e+09,1097.49,...,45,1800,100,200,100,1109.00,NaN,NaN,NaN,NaN
4186306,10099767.0,1.566974e+15,85363481.0,4.0,601166,SH,143554000.0,251694241,4.401945e+09,17.37,...,172905,103000,114658,170600,62671,17.62,NaN,NaN,NaN,NaN
4187356,10101772.0,1.566974e+15,85382736.0,4.0,601166,SH,143557000.0,251702341,4.402086e+09,17.37,...,165205,2800,109400,112958,170600,17.62,NaN,NaN,NaN,NaN
4188618,10104674.0,1.566974e+15,85405055.0,4.0,601166,SH,143600000.0,251703041,4.402098e+09,17.37,...,167405,7800,117100,113458,170600,17.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4619855,11050165.0,1.566975e+15,93643137.0,4.0,600519,SH,145554000.0,4634987,5.097192e+09,1100.50,...,600,200,2900,400,1300,1109.00,NaN,NaN,NaN,NaN
4620123,11050446.0,1.566975e+15,93643907.0,4.0,601166,SH,145554000.0,268956940,4.701550e+09,17.36,...,74130,104208,137371,193171,179958,17.62,NaN,NaN,NaN,NaN
4621280,11052949.0,1.566975e+15,93669622.0,4.0,601166,SH,145557000.0,268994540,4.702203e+09,17.36,...,69230,104208,137371,193171,179958,17.62,NaN,NaN,NaN,NaN
4622208,11055178.0,1.566975e+15,93694451.0,4.0,601166,SH,145600000.0,269097940,4.703997e+09,17.36,...,66836,104208,137371,193171,179958,17.62,NaN,NaN,NaN,NaN
4623431,11057877.0,1.566975e+15,93725541.0,4.0,601166,SH,145603000.0,269158940,4.705056e+09,17.36,...,21536,105208,137371,193171,179958,17.62,NaN,NaN,NaN,NaN

7.295074576535984e-05

'20190828 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8487,8419824.0,1.566972e+15,72764735.0,5.0,905,SH,135631000.0,74965193,6.888389e+10,4935.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:45:13.597295
5:47:41.806288

'20190829 SH lv2 check:'

4627204
4627431
4627431
-----------------------------------------------

'SSE lv2 test is complete'

'20190829 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
10755,10403355.0,1.567061e+15,87995387.0,5.0,905,SH,144350000.0,89000060,8.718575e+10,4932.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:49:43.524864
5:52:13.388761

'20190830 SH lv2 check:'

4785890
4786004
4786453
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3944069,9537386.0,1.567146e+15,88573134.0,4.0,600519,SH,141803000.0,3912964,4.439652e+09,1131.80,...,628,300,200,400,400,1125.0,NaN,NaN,NaN,NaN
3945010,9539519.0,1.567146e+15,88590864.0,4.0,600519,SH,141806000.0,3913264,4.439992e+09,1131.80,...,828,100,200,300,200,1125.0,NaN,NaN,NaN,NaN
3945810,9541514.0,1.567146e+15,88608201.0,4.0,600519,SH,141809000.0,3913664,4.440444e+09,1131.80,...,100,428,100,200,300,1125.0,NaN,NaN,NaN,NaN
3946775,9543665.0,1.567146e+15,88627232.0,4.0,600519,SH,141812000.0,3913864,4.440671e+09,1131.78,...,100,300,328,100,200,1125.0,NaN,NaN,NaN,NaN
3947944,9546066.0,1.567146e+15,88645639.0,4.0,600519,SH,141815000.0,3914064,4.440897e+09,1131.77,...,100,100,300,228,100,1125.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4735434,11278103.0,1.567148e+15,104802543.0,4.0,600519,SH,145454000.0,4343226,4.927599e+09,1134.80,...,400,100,1700,100,600,1125.0,NaN,NaN,NaN,NaN
4736318,11279490.0,1.567148e+15,104812845.0,4.0,601318,SH,145455000.0,54454113,4.757368e+09,87.05,...,14892,21191,1700,3900,2200,87.7,NaN,NaN,NaN,NaN
4737251,11281354.0,1.567148e+15,104836999.0,4.0,601318,SH,145458000.0,54454913,4.757438e+09,87.05,...,14892,20691,1700,3900,1800,87.7,NaN,NaN,NaN,NaN
4738602,11284145.0,1.567148e+15,104863969.0,4.0,601318,SH,145501000.0,54472013,4.758926e+09,87.05,...,6292,20691,1700,3900,1800,87.7,NaN,NaN,NaN,NaN
4740732,11288909.0,1.567148e+15,104915963.0,4.0,601318,SH,145507000.0,54522213,4.763296e+09,87.04,...,7892,1200,20291,2200,3900,87.7,NaN,NaN,NaN,NaN

9.38174508816542e-05

'20190830 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
563,1001536.0,1.567129e+15,14690830.0,5.0,905,SH,94134000.0,13933547,1.564547e+10,4965.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
5:54:22.424039
5:57:40.061343

'20190902 SH lv2 check:'

4885581
4885956
4886097
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3418925,8328981.0,1.567403e+15,74942987.0,4.0,601318,SH,134548000.0,49038245,4.331386e+09,88.60,...,8400,2000,3700,74500,11400,87.0,NaN,NaN,NaN,NaN
3420248,8331510.0,1.567403e+15,74959446.0,4.0,601318,SH,134551000.0,49038445,4.331404e+09,88.60,...,8500,2000,3700,74500,11400,87.0,NaN,NaN,NaN,NaN
3421359,8333662.0,1.567403e+15,74974382.0,4.0,601318,SH,134554000.0,49042245,4.331741e+09,88.60,...,54300,9200,2000,3700,74500,87.0,NaN,NaN,NaN,NaN
4015439,9653067.0,1.567405e+15,85361358.0,4.0,601318,SH,141542000.0,53535519,4.729893e+09,88.56,...,300,3694,12900,15900,13700,87.0,NaN,NaN,NaN,NaN
4016300,9655180.0,1.567405e+15,85381504.0,4.0,601318,SH,141545000.0,53536919,4.730017e+09,88.56,...,300,3894,13100,15900,13700,87.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150314,9952638.0,1.567405e+15,87814536.0,4.0,601318,SH,142221000.0,54803119,4.842224e+09,88.63,...,18800,13600,23400,33100,46200,87.0,NaN,NaN,NaN,NaN
4587059,10920132.0,1.567407e+15,95369942.0,4.0,601318,SH,144354000.0,59152411,5.227507e+09,88.55,...,19700,13000,8100,14300,46239,87.0,NaN,NaN,NaN,NaN
4587975,10922679.0,1.567407e+15,95390521.0,4.0,601318,SH,144357000.0,59159211,5.228109e+09,88.55,...,22600,13000,8100,14300,46239,87.0,NaN,NaN,NaN,NaN
4734215,11242456.0,1.567407e+15,98235099.0,4.0,601318,SH,145033000.0,60757450,5.369617e+09,88.53,...,4600,16200,27900,35300,26700,87.0,NaN,NaN,NaN,NaN
4734945,11244273.0,1.567407e+15,98261698.0,4.0,601318,SH,145036000.0,60780850,5.371688e+09,88.54,...,3100,10400,16200,29500,30200,87.0,NaN,NaN,NaN,NaN

2.8860436455766468e-05

'20190902 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
5:59:51.444748
6:02:42.321871

'20190903 SH lv2 check:'

4708827
4709016
4709043
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4539116,10835117.0,1.567493e+15,96226506.0,4.0,601318,SH,144943000.0,48725597,4.301133e+09,88.08,...,9701,15483,30500,17800,1200,88.6,NaN,NaN,NaN,NaN
4540389,10837877.0,1.567493e+15,96248120.0,4.0,601318,SH,144946000.0,48727397,4.301291e+09,88.07,...,19101,15483,30400,17800,1200,88.6,NaN,NaN,NaN,NaN
4541681,10840402.0,1.567493e+15,96269205.0,4.0,601318,SH,144949000.0,48728497,4.301388e+09,88.07,...,18501,15483,30400,17800,1200,88.6,NaN,NaN,NaN,NaN
4542795,10842831.0,1.567493e+15,96291714.0,4.0,601318,SH,144952000.0,48751697,4.303431e+09,88.08,...,15101,15483,31500,17800,1100,88.6,NaN,NaN,NaN,NaN
4543714,10845076.0,1.567493e+15,96312135.0,4.0,601318,SH,144955000.0,48758597,4.304039e+09,88.07,...,8901,15483,30900,17800,1600,88.6,NaN,NaN,NaN,NaN
4545200,10848091.0,1.567493e+15,96334350.0,4.0,601318,SH,144958000.0,48761997,4.304339e+09,88.07,...,7201,15483,30900,17800,1600,88.6,NaN,NaN,NaN,NaN
4546309,10850525.0,1.567493e+15,96359007.0,4.0,601318,SH,145001000.0,48771097,4.305140e+09,88.07,...,2301,15483,30900,17800,1700,88.6,NaN,NaN,NaN,NaN
4547541,10853154.0,1.567493e+15,96385022.0,4.0,601318,SH,145004000.0,48777997,4.305748e+09,88.07,...,2801,15483,41000,18500,1700,88.6,NaN,NaN,NaN,NaN
4548511,10855537.0,1.567493e+15,96410505.0,4.0,601318,SH,145007000.0,48787897,4.306620e+09,88.08,...,4601,15483,41000,18500,1700,88.6,NaN,NaN,NaN,NaN
4549272,10857275.0,1.567493e+15,96431582.0,4.0,601318,SH,145010000.0,48800897,4.307765e+09,88.07,...,4901,15483,41000,18500,2000,88.6,NaN,NaN,NaN,NaN
4550857,10860591.0,1.567493e+15,96461191.0,4.0,601318,SH,145013000.0,48803697,4.308011e+09,88.07,...,6701,15483,41000,18500,2000,88.6,NaN,NaN,NaN,NaN
4551610,10862707.0,1.567493e+15,96489097.0,4.0,601318,SH,145016000.0,48812297,4.308769e+09,88.07,...,5101,15483,41000,18500,2000,88.6,NaN,NaN,NaN,NaN
4615683,11001966.0,1.567494e+15,97833152.0,4.0,601318,SH,145304000.0,49406381,4.361103e+09,88.10,...,11700,41900,22900,26700,28300,88.6,NaN,NaN,NaN,NaN
4617071,11004713.0,1.567494e+15,97859063.0,4.0,601318,SH,145307000.0,49412781,4.361667e+09,88.11,...,11700,41900,22900,26700,28300,88.6,NaN,NaN,NaN,NaN
4617823,11006653.0,1.567494e+15,97882359.0,4.0,601318,SH,145310000.0,49417281,4.362063e+09,88.11,...,20700,41900,22900,26700,28300,88.6,NaN,NaN,NaN,NaN
4619392,11009569.0,1.567494e+15,97907058.0,4.0,601318,SH,145313000.0,49423781,4.362636e+09,88.12,...,17500,41400,22900,26800,28300,88.6,NaN,NaN,NaN,NaN
4620324,11011984.0,1.567494e+15,97932400.0,4.0,601318,SH,145316000.0,49434881,4.363614e+09,88.11,...,14900,41400,22900,26800,28300,88.6,NaN,NaN,NaN,NaN
4621677,11014770.0,1.567494e+15,97957522.0,4.0,601318,SH,145319000.0,49441081,4.364160e+09,88.11,...,15400,40900,22900,27000,28300,88.6,NaN,NaN,NaN,NaN
4623050,11017528.0,1.567494e+15,97983237.0,4.0,601318,SH,145322000.0,49445981,4.364592e+09,88.11,...,12900,40900,22900,27000,28300,88.6,NaN,NaN,NaN,NaN
4651975,11080559.0,1.567494e+15,98627678.0,4.0,601318,SH,145437000.0,49873984,4.402302e+09,88.10,...,49958,19700,28600,26604,22700,88.6,NaN,NaN,NaN,NaN
4653150,11082892.0,1.567494e+15,98652476.0,4.0,601318,SH,145440000.0,49885584,4.403324e+09,88.09,...,43558,19700,28600,26604,22700,88.6,NaN,NaN,NaN,NaN
4654294,11085587.0,1.567494e+15,98678797.0,4.0,601318,SH,145443000.0,49939884,4.408108e+09,88.11,...,11558,28600,27304,22700,28100,88.6,NaN,NaN,NaN,NaN
4655267,11087933.0,1.567494e+15,98706032.0,4.0,601318,SH,145446000.0,49943684,4.408443e+09,88.10,...,9258,28600,27804,22700,28500,88.6,NaN,NaN,NaN,NaN
4656634,11090658.0,1.567494e+15,98731388.0,4.0,601318,SH,145449000.0,49947484,4.408777e+09,88.10,...,8958,29600,27804,22700,28500,88.6,NaN,NaN,NaN,NaN
4657379,11092752.0,1.567494e+15,98756066.0,4.0,601318,SH,145452000.0,49963384,4.410178e+09,88.11,...,12858,29600,27804,23000,27000,88.6,NaN,NaN,NaN,NaN
4658550,11094952.0,1.567494e+15,98779912.0,4.0,601318,SH,145455000.0,49965784,4.410390e+09,88.11,...,14358,29600,27804,23000,27100,88.6,NaN,NaN,NaN,NaN
4660079,11098131.0,1.567494e+15,98805379.0,4.0,601318,SH,145458000.0,49972784,4.411006e+09,88.10,...,13258,29600,27804,23000,28100,88.6,NaN,NaN,NaN,NaN

5.733912076192224e-06

'20190903 SH index check:'

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
6:04:47.089420
6:07:08.758496

'20190904 SH lv2 check:'

4814304
4814304
4814509
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4356447,10439137.0,1.567579e+15,94426194.0,4.0,601318,SH,143656000.0,51026921,4.481806e+09,87.92,...,2900,3700,27200,5000,6500,87.83,NaN,NaN,NaN,NaN
4357854,10441840.0,1.567579e+15,94447772.0,4.0,601318,SH,143659000.0,51031321,4.482193e+09,87.91,...,6600,3700,27200,4900,6500,87.83,NaN,NaN,NaN,NaN
4358705,10443930.0,1.567579e+15,94465214.0,4.0,601318,SH,143702000.0,51036521,4.482650e+09,87.92,...,17500,4700,27200,4900,6500,87.83,NaN,NaN,NaN,NaN
4359719,10446129.0,1.567579e+15,94483994.0,4.0,601318,SH,143705000.0,51043721,4.483283e+09,87.91,...,18000,4700,27200,4900,6500,87.83,NaN,NaN,NaN,NaN
4360578,10448235.0,1.567579e+15,94502034.0,4.0,601318,SH,143708000.0,51045521,4.483441e+09,87.91,...,18100,3700,27200,4900,6700,87.83,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4664528,11112985.0,1.567580e+15,100381288.0,4.0,601318,SH,145059000.0,55746028,4.897547e+09,88.18,...,91800,38500,51900,33700,67800,87.83,NaN,NaN,NaN,NaN
4665711,11115595.0,1.567580e+15,100411673.0,4.0,601318,SH,145102000.0,55759028,4.898693e+09,88.19,...,108200,38000,52600,33700,67800,87.83,NaN,NaN,NaN,NaN
4667133,11118440.0,1.567580e+15,100441738.0,4.0,601318,SH,145105000.0,55765628,4.899275e+09,88.18,...,1900,116700,39000,52600,33700,87.83,NaN,NaN,NaN,NaN
4668368,11121071.0,1.567580e+15,100470870.0,4.0,601318,SH,145108000.0,55777628,4.900333e+09,88.19,...,14600,111100,38800,52600,33700,87.83,NaN,NaN,NaN,NaN
4684881,11156812.0,1.567580e+15,100831977.0,4.0,601318,SH,145150000.0,56066782,4.925833e+09,88.18,...,88586,37900,53000,34000,70800,87.83,NaN,NaN,NaN,NaN

4.2581440640225464e-05

'20190904 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2915,3411073.0,1.567564e+15,40944918.0,5.0,905,SH,103036000.0,51366005,5.274116e+10,5057.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:09:18.625600
6:12:02.267906

'20190905 SH lv2 check:'

5266926
5266926
5268791
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1312285,3226821.0,1.567650e+15,41782613.0,4.0,601318,SH,102246000.0,48884033,4.356722e+09,89.96,...,21500,33600,390990,287180,1411500,88.8,NaN,NaN,NaN,NaN
1314003,3229971.0,1.567650e+15,41810445.0,4.0,601318,SH,102249000.0,48946233,4.362318e+09,89.97,...,389690,286080,1408700,37158,12100,88.8,NaN,NaN,NaN,NaN
1314669,3231985.0,1.567650e+15,41835178.0,4.0,601318,SH,102252000.0,48952133,4.362848e+09,89.97,...,386290,285580,1406800,37158,12100,88.8,NaN,NaN,NaN,NaN
1316049,3234786.0,1.567650e+15,41862555.0,4.0,601318,SH,102255000.0,48984533,4.365764e+09,89.97,...,359990,284880,1402300,37158,12300,88.8,NaN,NaN,NaN,NaN
1317444,3237567.0,1.567650e+15,41888439.0,4.0,601318,SH,102258000.0,49003533,4.367473e+09,89.98,...,348590,285680,1396500,37158,12300,88.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5230404,12256563.0,1.567667e+15,121444992.0,4.0,601318,SH,145534000.0,99888761,8.938876e+09,89.22,...,15337,26900,109100,15800,20800,88.8,NaN,NaN,NaN,NaN
5231642,12259020.0,1.567667e+15,121475578.0,4.0,601318,SH,145537000.0,99895861,8.939509e+09,89.22,...,12837,26900,109400,15800,20800,88.8,NaN,NaN,NaN,NaN
5232436,12261170.0,1.567667e+15,121504712.0,4.0,601318,SH,145540000.0,99907261,8.940526e+09,89.22,...,13037,27400,109600,15800,20800,88.8,NaN,NaN,NaN,NaN
5234341,12264558.0,1.567667e+15,121539438.0,4.0,601318,SH,145543000.0,99923161,8.941945e+09,89.22,...,6337,27000,104200,15500,20800,88.8,NaN,NaN,NaN,NaN
5247596,12293348.0,1.567667e+15,121904005.0,4.0,601318,SH,145616000.0,100109161,8.958541e+09,89.22,...,5037,400,17000,105400,15200,88.8,NaN,NaN,NaN,NaN

0.00035409648816026653

'20190905 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2299,2966427.0,1.567650e+15,39077789.0,5.0,905,SH,101742000.0,54554201,5.646263e+10,5157.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:14:19.345020
6:17:22.049105

'20190906 SH lv2 check:'

4841621
4841621
4841805
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3801175,9180736.0,1.567750e+15,85927818.0,4.0,601318,SH,140808000.0,47742078,4.295138e+09,89.93,...,29451,8900,7500,4000,7000,89.95,NaN,NaN,NaN,NaN
3802206,9182978.0,1.567750e+15,85945317.0,4.0,601318,SH,140811000.0,47751128,4.295952e+09,89.91,...,2600,29751,10200,7500,4000,89.95,NaN,NaN,NaN,NaN
3803445,9185475.0,1.567750e+15,85965841.0,4.0,601318,SH,140814000.0,47757828,4.296555e+09,89.93,...,27951,10200,7500,4000,7000,89.95,NaN,NaN,NaN,NaN
3804290,9187548.0,1.567750e+15,85984769.0,4.0,601318,SH,140817000.0,47759028,4.296662e+09,89.92,...,100,30851,9100,7500,4000,89.95,NaN,NaN,NaN,NaN
3805154,9189694.0,1.567750e+15,86004796.0,4.0,601318,SH,140820000.0,47764228,4.297130e+09,89.92,...,30851,9100,7500,4000,7000,89.95,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4821798,11423534.0,1.567753e+15,105490645.0,4.0,601318,SH,145614000.0,65771828,5.923250e+09,90.65,...,200,127306,59160,19800,111600,89.95,NaN,NaN,NaN,NaN
4822808,11425773.0,1.567753e+15,105520890.0,4.0,601318,SH,145617000.0,65816528,5.927302e+09,90.65,...,93906,59160,19800,111800,37500,89.95,NaN,NaN,NaN,NaN
4824086,11428679.0,1.567753e+15,105560192.0,4.0,601318,SH,145620000.0,65826628,5.928218e+09,90.64,...,200,96506,59760,19800,111800,89.95,NaN,NaN,NaN,NaN
4825311,11431316.0,1.567753e+15,105588034.0,4.0,601318,SH,145623000.0,65898528,5.934735e+09,90.65,...,51206,59760,21500,112400,37400,89.95,NaN,NaN,NaN,NaN
4826524,11433953.0,1.567753e+15,105620626.0,4.0,601318,SH,145626000.0,65912828,5.936031e+09,90.64,...,46506,59060,22300,112700,37500,89.95,NaN,NaN,NaN,NaN

3.800380079316411e-05

'20190906 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2479,2955982.0,1.567737e+15,37571593.0,5.0,905,SH,102130000.0,42359522,4.760756e+10,5162.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:19:34.208122
6:23:06.011465

'20190909 SH lv2 check:'

4987279
4987279
4987755
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2590495,6547562.0,1.568005e+15,64063912.0,4.0,601318,SH,130316000.0,47336025,4.306757e+09,90.20,...,2800,1000,1000,3400,95800,91.37,NaN,NaN,NaN,NaN
2591430,6549633.0,1.568005e+15,64078873.0,4.0,601318,SH,130319000.0,47362125,4.309111e+09,90.20,...,2700,1000,1000,3400,95800,91.37,NaN,NaN,NaN,NaN
2592307,6551629.0,1.568005e+15,64093837.0,4.0,601318,SH,130322000.0,47362625,4.309156e+09,90.20,...,3600,1000,1000,3400,95800,91.37,NaN,NaN,NaN,NaN
2593201,6553644.0,1.568005e+15,64108485.0,4.0,601318,SH,130325000.0,47365325,4.309400e+09,90.20,...,2400,1000,1000,3400,95800,91.37,NaN,NaN,NaN,NaN
2654716,6690979.0,1.568006e+15,65260407.0,4.0,601318,SH,130637000.0,48472825,4.409328e+09,90.35,...,18400,30300,500,10200,22400,91.37,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4901478,11646742.0,1.568012e+15,108451987.0,4.0,601318,SH,145343000.0,68371627,6.205573e+09,90.15,...,13300,11000,11300,11300,32200,91.37,NaN,NaN,NaN,NaN
4902754,11649469.0,1.568012e+15,108482122.0,4.0,601318,SH,145346000.0,68384527,6.206736e+09,90.15,...,6200,11000,11300,11300,32200,91.37,NaN,NaN,NaN,NaN
4904010,11652182.0,1.568012e+15,108513251.0,4.0,601318,SH,145349000.0,68398527,6.207998e+09,90.15,...,1800,11000,11300,11300,32200,91.37,NaN,NaN,NaN,NaN
4968078,11789675.0,1.568012e+15,110186144.0,4.0,601318,SH,145619000.0,69320999,6.291255e+09,90.36,...,8600,6500,13700,13600,13300,91.37,NaN,NaN,NaN,NaN
4983367,11822591.0,1.568012e+15,110599223.0,4.0,601318,SH,145655000.0,69534093,6.310510e+09,90.37,...,2856,48100,7000,9000,4800,91.37,NaN,NaN,NaN,NaN

9.544282563698562e-05

'20190909 SH index check:'

11395
11395
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4275,4745360.0,1.567998e+15,52259268.0,5.0,905,SH,105851000.0,63132749,6.710838e+10,5188.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:25:21.413854
6:28:12.699662

'20190910 SH lv2 check:'

4919949
4919949
4920490
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2274992,5348690.0,1.568085e+15,62927780.0,4.0,600536,SH,111332000.0,50527299,4.298701e+09,82.86,...,9000,5000,15400,700,25000,89.69,NaN,NaN,NaN,NaN
2276125,5351126.0,1.568085e+15,62946138.0,4.0,600536,SH,111335000.0,50528099,4.298767e+09,82.89,...,8900,5000,15400,700,25000,89.69,NaN,NaN,NaN,NaN
2277066,5353132.0,1.568085e+15,62963623.0,4.0,600536,SH,111338000.0,50535899,4.299414e+09,82.89,...,6100,5000,15400,700,25000,89.69,NaN,NaN,NaN,NaN
2281782,5363654.0,1.568085e+15,63053503.0,4.0,600536,SH,111353000.0,50639799,4.308023e+09,82.86,...,10600,4800,2000,15400,200,89.69,NaN,NaN,NaN,NaN
2283118,5366457.0,1.568085e+15,63073428.0,4.0,600536,SH,111356000.0,50649899,4.308860e+09,82.86,...,9900,4800,2000,15400,200,89.69,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4914572,11620228.0,1.568099e+15,112114354.0,4.0,600536,SH,145650000.0,66867338,5.679064e+09,83.86,...,16000,1600,200,6600,100,89.69,NaN,NaN,NaN,NaN
4915330,11622378.0,1.568099e+15,112143305.0,4.0,600536,SH,145653000.0,66871438,5.679408e+09,83.82,...,14400,1600,200,6600,100,89.69,NaN,NaN,NaN,NaN
4916559,11625011.0,1.568099e+15,112172539.0,4.0,600536,SH,145656000.0,66877938,5.679953e+09,83.86,...,12500,1600,200,6700,300,89.69,NaN,NaN,NaN,NaN
4917549,11627178.0,1.568099e+15,112200686.0,4.0,600536,SH,145659000.0,66971438,5.687810e+09,84.25,...,1000,300,500,200,200,89.69,NaN,NaN,NaN,NaN
4918515,11628431.0,1.568099e+15,112205744.0,4.0,600536,SH,145700000.0,66972438,5.687895e+09,84.25,...,0,0,0,0,0,89.69,NaN,NaN,NaN,NaN

0.00010996048942783757

'20190910 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
6:30:21.632153
6:32:43.113548

'20190911 SH lv2 check:'

4868980
4869342
4870510
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1567626,3818957.0,1.568170e+15,45314880.0,4.0,600519,SH,103903000.0,4038137,4.450330e+09,1088.98,...,100,1100,4300,100,1000,1119.22,NaN,NaN,NaN,NaN
1568684,3821299.0,1.568170e+15,45335571.0,4.0,600519,SH,103906000.0,4038637,4.450875e+09,1088.50,...,200,1100,4300,100,1000,1119.22,NaN,NaN,NaN,NaN
1569718,3823601.0,1.568170e+15,45356736.0,4.0,600519,SH,103909000.0,4040037,4.452399e+09,1088.66,...,900,1000,400,200,1100,1119.22,NaN,NaN,NaN,NaN
1687075,4083398.0,1.568170e+15,47780735.0,4.0,600519,SH,104445000.0,4207206,4.634374e+09,1089.57,...,300,4000,3300,100,100,1119.22,NaN,NaN,NaN,NaN
1688044,4085581.0,1.568170e+15,47798462.0,4.0,600519,SH,104448000.0,4207506,4.634701e+09,1089.99,...,100,3900,3300,100,100,1119.22,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4866099,11570616.0,1.568185e+15,107371587.0,4.0,600030,SH,145656000.0,200253203,4.903759e+09,24.39,...,213600,101100,121200,129554,123850,24.48,NaN,NaN,NaN,NaN
4866835,11571949.0,1.568185e+15,107383931.0,4.0,600519,SH,145657000.0,8086231,8.813329e+09,1069.89,...,900,200,1400,638,400,1119.22,NaN,NaN,NaN,NaN
4867315,11573257.0,1.568185e+15,107401039.0,4.0,600030,SH,145659000.0,200275403,4.904300e+09,24.39,...,202500,101100,121300,127554,120850,24.48,NaN,NaN,NaN,NaN
4867691,11573698.0,1.568185e+15,107406290.0,4.0,600030,SH,145700000.0,200284103,4.904512e+09,24.40,...,0,0,0,0,0,24.48,NaN,NaN,NaN,NaN
4868573,11574799.0,1.568185e+15,107409541.0,4.0,600519,SH,145700000.0,8087231,8.814398e+09,1069.51,...,1000,200,1400,638,400,1119.22,NaN,NaN,NaN,NaN

0.00023988597201056485

'20190911 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
6:34:50.082034
6:37:44.930684

'20190912 SH lv2 check:'

4705962
4706254
4706553
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3891362,9463155.0,1.568269e+15,79979243.0,4.0,601318,SH,141951000.0,48777518,4.417450e+09,91.48,...,600,18453,29100,24300,22100,90.09,NaN,NaN,NaN,NaN
3897645,9477028.0,1.568269e+15,80093322.0,4.0,601318,SH,142009000.0,49127511,4.449485e+09,91.56,...,19300,17900,73000,21811,134371,90.09,NaN,NaN,NaN,NaN
3898710,9479370.0,1.568269e+15,80115858.0,4.0,601318,SH,142012000.0,49171211,4.453486e+09,91.57,...,73000,20111,135171,1500,6100,90.09,NaN,NaN,NaN,NaN
3899974,9481932.0,1.568269e+15,80138580.0,4.0,601318,SH,142015000.0,49194411,4.455611e+09,91.55,...,67400,20611,135071,1500,6100,90.09,NaN,NaN,NaN,NaN
3901055,9484319.0,1.568269e+15,80162152.0,4.0,601318,SH,142018000.0,49221111,4.458056e+09,91.58,...,49000,21211,134971,1500,6100,90.09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4688890,11211675.0,1.568271e+15,95321302.0,4.0,600519,SH,145621000.0,4079447,4.452396e+09,1099.33,...,100,392,100,300,4370,1066.00,NaN,NaN,NaN,NaN
4689940,11214178.0,1.568271e+15,95349636.0,4.0,600519,SH,145624000.0,4079747,4.452726e+09,1099.28,...,100,392,100,200,4470,1066.00,NaN,NaN,NaN,NaN
4691366,11217065.0,1.568271e+15,95380870.0,4.0,600519,SH,145627000.0,4080147,4.453165e+09,1099.33,...,392,100,300,4470,300,1066.00,NaN,NaN,NaN,NaN
4702175,11240605.0,1.568271e+15,95647745.0,4.0,601318,SH,145654000.0,77632177,7.076564e+09,92.30,...,15434,3000,13200,115200,109880,90.09,NaN,NaN,NaN,NaN
4703412,11243257.0,1.568271e+15,95677283.0,4.0,601318,SH,145657000.0,77652777,7.078465e+09,92.31,...,4834,4900,23700,118800,108680,90.09,NaN,NaN,NaN,NaN

6.353642464601286e-05

'20190912 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
6:39:52.471781
6:43:17.747773

'20190916 SH lv2 check:'

4825972
4826192
4826264
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4669253,11118164.0,1.568617e+15,96637563.0,4.0,601318,SH,145019000.0,52357575,4.799112e+09,91.45,...,1000,5200,13200,2900,9700,92.3,NaN,NaN,NaN,NaN
4670631,11120932.0,1.568617e+15,96662017.0,4.0,601318,SH,145022000.0,52362375,4.799551e+09,91.47,...,900,7000,13800,2900,9700,92.3,NaN,NaN,NaN,NaN
4671580,11123208.0,1.568617e+15,96686041.0,4.0,601318,SH,145025000.0,52366975,4.799972e+09,91.48,...,2400,2100,14100,2900,9700,92.3,NaN,NaN,NaN,NaN
4672942,11125961.0,1.568617e+15,96709575.0,4.0,601318,SH,145028000.0,52372775,4.800502e+09,91.45,...,500,200,3100,2400,14600,92.3,NaN,NaN,NaN,NaN
4674278,11128619.0,1.568617e+15,96733301.0,4.0,601318,SH,145031000.0,52373975,4.800612e+09,91.46,...,3000,500,3200,2400,14800,92.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4745984,11285552.0,1.568617e+15,98208523.0,4.0,601318,SH,145340000.0,52916875,4.850279e+09,91.48,...,2000,11400,28500,1500,13600,92.3,NaN,NaN,NaN,NaN
4747334,11288264.0,1.568617e+15,98232970.0,4.0,601318,SH,145343000.0,52920875,4.850645e+09,91.48,...,11400,28500,1500,13600,7200,92.3,NaN,NaN,NaN,NaN
4748698,11290973.0,1.568617e+15,98257120.0,4.0,601318,SH,145346000.0,52926575,4.851166e+09,91.48,...,17300,28500,1500,13600,7200,92.3,NaN,NaN,NaN,NaN
4749653,11293273.0,1.568617e+15,98281245.0,4.0,601318,SH,145349000.0,52933975,4.851843e+09,91.48,...,1602,16800,28600,1500,13600,92.3,NaN,NaN,NaN,NaN
4786195,11372661.0,1.568617e+15,99085275.0,4.0,601318,SH,145522000.0,53485599,4.902318e+09,91.49,...,100,51100,16500,300,1400,92.3,NaN,NaN,NaN,NaN

1.4919274293344428e-05

'20190916 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
6:45:27.240950
6:48:17.163664

'20190917 SH lv2 check:'

5074502
5074634
5074756
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4129500,9854356.0,1.568701e+15,89431218.0,4.0,601318,SH,141300000.0,47612219,4.301836e+09,89.90,...,12401,2500,2100,1100,10400,90.9,NaN,NaN,NaN,NaN
4130832,9857023.0,1.568701e+15,89453647.0,4.0,601318,SH,141303000.0,47614319,4.302025e+09,89.91,...,24001,2500,2100,1100,10400,90.9,NaN,NaN,NaN,NaN
4131759,9859235.0,1.568701e+15,89472484.0,4.0,601318,SH,141306000.0,47636519,4.304021e+09,89.91,...,2301,1800,2100,1100,10400,90.9,NaN,NaN,NaN,NaN
4171621,9946770.0,1.568701e+15,90170774.0,4.0,601318,SH,141457000.0,47981983,4.335094e+09,89.94,...,29600,11444,13985,9100,46100,90.9,NaN,NaN,NaN,NaN
4172520,9948877.0,1.568701e+15,90190220.0,4.0,601318,SH,141500000.0,48012283,4.337819e+09,89.94,...,25800,11944,13985,9100,45800,90.9,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5068885,11916031.0,1.568703e+15,106820702.0,4.0,601318,SH,145648000.0,62938622,5.675315e+09,89.63,...,8600,16900,22000,37103,35600,90.9,NaN,NaN,NaN,NaN
5070019,11918523.0,1.568703e+15,106848018.0,4.0,601318,SH,145651000.0,63011622,5.681857e+09,89.60,...,1800,15400,22000,37103,35600,90.9,NaN,NaN,NaN,NaN
5071217,11921100.0,1.568703e+15,106872550.0,4.0,601318,SH,145654000.0,63015022,5.682161e+09,89.63,...,1100,2000,22000,22900,31803,90.9,NaN,NaN,NaN,NaN
5071937,11923166.0,1.568703e+15,106899301.0,4.0,601318,SH,145657000.0,63023622,5.682932e+09,89.64,...,500,16900,23500,31803,35600,90.9,NaN,NaN,NaN,NaN
5073224,11925611.0,1.568703e+15,106919032.0,4.0,601318,SH,145700000.0,63030122,5.683514e+09,89.64,...,0,0,0,0,0,90.9,NaN,NaN,NaN,NaN

2.4041768039504173e-05

'20190917 SH index check:'

11388
11388
11389
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3863,4410559.0,1.568689e+15,48022755.0,5.0,905,SH,105020000.0,53031507,5.397808e+10,5174.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:50:27.398858
6:52:46.053752

'20190918 SH lv2 check:'

4653132
4653403
4654276
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1386449,3382523.0,1.568774e+15,35051307.0,4.0,600519,SH,103112000.0,3820927,4.332114e+09,1146.80,...,694,200,100,900,100,1108.5,NaN,NaN,NaN,NaN
1577752,3809349.0,1.568774e+15,38633263.0,4.0,600519,SH,104054000.0,4059231,4.605464e+09,1146.62,...,521,100,3010,400,100,1108.5,NaN,NaN,NaN,NaN
1578848,3811635.0,1.568774e+15,38650623.0,4.0,600519,SH,104057000.0,4059431,4.605693e+09,1146.59,...,421,100,3010,400,100,1108.5,NaN,NaN,NaN,NaN
1579615,3813523.0,1.568774e+15,38668610.0,4.0,600519,SH,104100000.0,4061162,4.607678e+09,1146.80,...,2710,400,100,1200,1100,1108.5,NaN,NaN,NaN,NaN
1580606,3815760.0,1.568774e+15,38685886.0,4.0,600519,SH,104103000.0,4061462,4.608022e+09,1146.62,...,800,2710,400,100,1400,1108.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4647304,11108809.0,1.568790e+15,91526704.0,4.0,600519,SH,145648000.0,6819647,7.771116e+09,1148.00,...,400,100,100,1830,100,1108.5,NaN,NaN,NaN,NaN
4648421,11111436.0,1.568790e+15,91552551.0,4.0,600519,SH,145651000.0,6820147,7.771690e+09,1148.00,...,700,100,100,1830,100,1108.5,NaN,NaN,NaN,NaN
4649588,11113746.0,1.568790e+15,91575532.0,4.0,600519,SH,145654000.0,6820747,7.772379e+09,1147.95,...,700,100,100,1930,100,1108.5,NaN,NaN,NaN,NaN
4650766,11116290.0,1.568790e+15,91599445.0,4.0,600519,SH,145657000.0,6821647,7.773412e+09,1148.00,...,100,300,700,100,1930,1108.5,NaN,NaN,NaN,NaN
4652085,11118931.0,1.568790e+15,91620918.0,4.0,600519,SH,145700000.0,6822747,7.774675e+09,1148.00,...,0,0,0,0,0,1108.5,NaN,NaN,NaN,NaN

0.0001876155673211076

'20190918 SH index check:'

11388
11388
11390
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2295,2761274.0,1.568773e+15,28914855.0,5.0,905,SH,101740000.0,31506966,3.096902e+10,5128.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,9851121.0,1.568788e+15,80596164.0,5.0,905,SH,143015000.0,77504843,8.019244e+10,5145.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
6:54:50.777315
6:58:04.551564

'20190919 SH lv2 check:'

4609026
4609026
4609026
-----------------------------------------------

'SSE lv2 test is complete'

'20190919 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3951,4207499.0,1.568862e+15,42751330.0,5.0,905,SH,105206000.0,42348870,4.305066e+10,5153.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4455,4629821.0,1.568862e+15,45857599.0,5.0,905,SH,110236000.0,45328958,4.623978e+10,5166.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:00:08.167599
7:02:57.389380

'20190920 SH lv2 check:'

4668336
4668336
4668336
-----------------------------------------------

'SSE lv2 test is complete'

'20190920 SH index check:'

11388
11388
11388
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
7:04:57.986628
7:07:19.656187

'20190923 SH lv2 check:'

4682257
4681664
4682552
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
386833,1159646.0,1.569203e+15,16177766.0,4.0,600004,SH,94423000.0,738700,1.560225e+07,21.19,...,1900,9600,7300,4600,29900,21.13,NaN,NaN,NaN,NaN
386834,1159647.0,1.569203e+15,16177767.0,4.0,600008,SH,94423000.0,3194012,1.085353e+07,3.39,...,5202,141300,231482,27900,75000,3.45,NaN,NaN,NaN,NaN
386835,1159648.0,1.569203e+15,16177768.0,4.0,600009,SH,94423000.0,1682655,1.361250e+08,80.67,...,300,300,7100,900,2200,81.50,NaN,NaN,NaN,NaN
386836,1159649.0,1.569203e+15,16177769.0,4.0,600015,SH,94423000.0,2930881,2.186338e+07,7.46,...,105900,302200,99700,435650,183200,7.48,NaN,NaN,NaN,NaN
386837,1159650.0,1.569203e+15,16177770.0,4.0,600031,SH,94423000.0,11248557,1.638164e+08,14.55,...,7950,13900,8500,24300,37200,14.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675938,11156264.0,1.569222e+15,93981175.0,4.0,600015,SH,145647000.0,13638539,1.014988e+08,7.44,...,152606,194184,115800,150440,135890,7.48,NaN,NaN,NaN,NaN
4675939,11156265.0,1.569222e+15,93981176.0,4.0,600031,SH,145647000.0,61463275,8.874427e+08,14.43,...,38583,65900,79400,29500,55000,14.70,NaN,NaN,NaN,NaN
4675940,11156266.0,1.569222e+15,93981177.0,4.0,600066,SH,145647000.0,11891605,1.689287e+08,14.32,...,33200,5200,67700,3200,12400,14.49,NaN,NaN,NaN,NaN
4675941,11156267.0,1.569222e+15,93981178.0,4.0,600080,SH,145647000.0,3029261,1.937372e+07,6.37,...,5600,46800,21200,9200,26000,6.51,NaN,NaN,NaN,NaN
4675942,11156268.0,1.569222e+15,93981179.0,4.0,600085,SH,145647000.0,3532844,9.671202e+07,27.39,...,14600,41300,3000,1700,200,27.59,NaN,NaN,NaN,NaN

0.00018965212716858556

'20190923 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
7:09:24.441105
7:12:40.896920

'20190924 SH lv2 check:'

4708383
4658593
4708453
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2898,346557.0,1.569289e+15,2340846.0,4.0,600456,SH,93003000.0,22200,590396.00,26.60,...,1000,300,9000,300,12800,26.60,NaN,NaN,NaN,NaN
2899,346558.0,1.569289e+15,2340847.0,4.0,600485,SH,93003000.0,1161881,1940887.27,1.67,...,299023,620897,338100,438281,338100,1.67,NaN,NaN,NaN,NaN
2900,346559.0,1.569289e+15,2340848.0,4.0,600500,SH,93003000.0,53400,272904.00,5.12,...,1600,42200,95374,52300,50000,5.11,NaN,NaN,NaN,NaN
2901,346560.0,1.569289e+15,2340849.0,4.0,600501,SH,93003000.0,15400,140056.00,9.10,...,1700,500,6600,3900,35300,9.09,NaN,NaN,NaN,NaN
2902,346561.0,1.569289e+15,2340850.0,4.0,600508,SH,93003000.0,4400,40286.00,9.18,...,6300,6400,15500,4000,100,9.18,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4704069,11226609.0,1.569308e+15,97808665.0,4.0,600167,SH,145651000.0,3544722,40595133.58,11.38,...,300,28400,4800,5000,11600,11.45,NaN,NaN,NaN,NaN
4704070,11226610.0,1.569308e+15,97808666.0,4.0,600187,SH,145651000.0,5825501,15940586.73,2.73,...,219900,512300,340508,234800,280700,2.73,NaN,NaN,NaN,NaN
4704071,11226611.0,1.569308e+15,97808667.0,4.0,600191,SH,145651000.0,3662000,19852467.00,5.39,...,354200,1000,18200,25000,4600,5.40,NaN,NaN,NaN,NaN
4704072,11226612.0,1.569308e+15,97808668.0,4.0,600192,SH,145651000.0,4184720,22802527.20,5.45,...,1800,23100,16500,24200,47800,5.44,NaN,NaN,NaN,NaN
4704073,11226613.0,1.569308e+15,97808669.0,4.0,600200,SH,145651000.0,7892258,41639723.42,5.21,...,14900,21500,13400,27600,28600,5.23,NaN,NaN,NaN,NaN

0.010589622806810747

'20190924 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
7:14:47.895060
7:17:22.688128

'20190925 SH lv2 check:'

4684887
4611904
4685174
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1675,330664.0,1.569375e+15,1839537.0,4.0,600467,SH,93000000.0,83100,2.029650e+05,2.44,...,437000,98200,258800,92600,139100,2.45,NaN,NaN,NaN,NaN
1676,330665.0,1.569375e+15,1839538.0,4.0,600483,SH,93000000.0,5100,4.513500e+04,8.85,...,37,116,300,2500,2016,8.85,NaN,NaN,NaN,NaN
1677,330666.0,1.569375e+15,1839539.0,4.0,600488,SH,93000000.0,26000,1.131000e+05,4.35,...,27400,2000,19100,17100,50400,4.35,NaN,NaN,NaN,NaN
1678,330667.0,1.569375e+15,1839540.0,4.0,600490,SH,93000000.0,133900,6.587880e+05,4.92,...,20700,17500,90400,15900,34000,4.92,NaN,NaN,NaN,NaN
1679,330668.0,1.569375e+15,1839541.0,4.0,600568,SH,93000000.0,1262900,2.197392e+06,1.74,...,1200,670000,483000,319000,185100,1.74,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4680468,11160089.0,1.569395e+15,97624224.0,4.0,600152,SH,145651000.0,9126263,5.703625e+07,6.27,...,37900,46300,46100,89800,36600,6.32,NaN,NaN,NaN,NaN
4680469,11160090.0,1.569395e+15,97624228.0,4.0,600153,SH,145651000.0,12817030,1.135909e+08,8.82,...,1800,17900,39700,1900,14600,8.99,NaN,NaN,NaN,NaN
4680470,11160091.0,1.569395e+15,97624229.0,4.0,600157,SH,145651000.0,93129726,1.364131e+08,1.45,...,1084600,6422572,6116462,4215400,2988900,1.49,NaN,NaN,NaN,NaN
4680471,11160092.0,1.569395e+15,97624230.0,4.0,600184,SH,145651000.0,2553804,3.102739e+07,12.11,...,1100,11500,7700,12000,51800,12.18,NaN,NaN,NaN,NaN
4684827,11168496.0,1.569395e+15,97700393.0,4.0,600090,SH,145700000.0,14406014,6.281853e+07,4.40,...,0,0,0,0,0,4.39,NaN,NaN,NaN,NaN

0.015639651500665864

'20190925 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3151,3673234.0,1.569379e+15,42572187.0,5.0,905,SH,103528000.0,43519992,5.118965e+10,5120.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:19:27.589455
7:21:58.283184

'20190926 SH lv2 check:'

4827551
4827356
4827677
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2596,338755.0,1.569461e+15,2012373.0,4.0,603317,SH,93002000.0,96200,4.771868e+06,49.70,...,100,400,200,1600,200,49.59,NaN,NaN,NaN,NaN
2597,338756.0,1.569461e+15,2012374.0,4.0,603326,SH,93002000.0,12100,1.496880e+05,12.37,...,2700,5500,1100,1500,2700,12.39,NaN,NaN,NaN,NaN
2598,338758.0,1.569461e+15,2012376.0,4.0,603333,SH,93002000.0,94100,1.030258e+06,10.94,...,8500,7300,4200,48500,6200,10.95,NaN,NaN,NaN,NaN
2599,338759.0,1.569461e+15,2012377.0,4.0,603337,SH,93002000.0,8400,1.817760e+05,21.64,...,1800,6100,1000,1500,7100,21.64,NaN,NaN,NaN,NaN
2600,338760.0,1.569461e+15,2012384.0,4.0,603338,SH,93002000.0,8700,5.379390e+05,61.82,...,5400,7800,4900,997,200,61.84,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695680,6689411.0,1.569474e+15,64512373.0,4.0,601311,SH,130600000.0,4919541,4.629262e+07,9.28,...,9100,10813,129200,3200,19300,9.51,NaN,NaN,NaN,NaN
2695681,6689412.0,1.569474e+15,64512374.0,4.0,601328,SH,130600000.0,55911717,3.095695e+08,5.56,...,4836399,3046400,2125330,4645500,5272787,5.51,NaN,NaN,NaN,NaN
2695682,6689413.0,1.569474e+15,64512375.0,4.0,601375,SH,130600000.0,11093127,5.651887e+07,5.02,...,32000,62300,34700,40800,23300,5.14,NaN,NaN,NaN,NaN
2695683,6689414.0,1.569474e+15,64512376.0,4.0,601577,SH,130600000.0,8891995,7.762160e+07,8.75,...,30096,65100,119100,114952,310200,8.65,NaN,NaN,NaN,NaN
2695684,6689415.0,1.569474e+15,64512377.0,4.0,601606,SH,130600000.0,8177418,1.118345e+08,13.45,...,27200,40400,32600,16500,14800,14.03,NaN,NaN,NaN,NaN

6.64933420693018e-05

'20190926 SH index check:'

11392
11390
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1605,2083639,1569463395657878,25650805,5,300,SH,100316000,23968103,3.629723e+10,3889.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,2083640,1569463395657888,25650806,5,852,SH,100316000,33712587,3.582129e+10,5395.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:24:03.867903
7:27:11.500340

'20190927 SH lv2 check:'

4402042
4331891
4402328
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2028,307590.0,1.569548e+15,1543157.0,4.0,603725,SH,93000000.0,6500,5.193500e+04,7.99,...,4220,1800,1000,300,1000,7.99,NaN,NaN,NaN,NaN
2029,307591.0,1.569548e+15,1543158.0,4.0,603729,SH,93000000.0,4800,7.036800e+04,14.66,...,1000,800,1600,2600,5300,14.66,NaN,NaN,NaN,NaN
2030,307592.0,1.569548e+15,1543159.0,4.0,603739,SH,93000000.0,7800,2.169180e+05,27.81,...,300,400,700,2000,100,27.81,NaN,NaN,NaN,NaN
2031,307593.0,1.569548e+15,1543160.0,4.0,603767,SH,93000000.0,6200,4.451600e+04,7.18,...,2500,5900,4300,600,2500,7.18,NaN,NaN,NaN,NaN
2032,307594.0,1.569548e+15,1543161.0,4.0,603773,SH,93000000.0,300,9.807000e+03,32.69,...,700,1100,600,100,600,32.69,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4400567,10603956.0,1.569567e+15,84190467.0,4.0,688122,SH,145658000.0,2072992,8.627127e+07,41.54,...,100,13507,2729,5000,1206,41.43,NaN,NaN,NaN,NaN
4400568,10603957.0,1.569567e+15,84190468.0,4.0,688333,SH,145658000.0,5178622,3.987706e+08,81.99,...,10572,500,300,200,2143,71.00,NaN,NaN,NaN,NaN
4401153,10605606.0,1.569567e+15,84206732.0,4.0,603989,SH,145700000.0,1413860,2.823481e+07,19.83,...,0,0,0,0,0,19.75,NaN,NaN,NaN,NaN
4401154,10605607.0,1.569567e+15,84206733.0,4.0,603991,SH,145700000.0,662046,1.261590e+07,19.28,...,0,0,0,0,0,18.69,NaN,NaN,NaN,NaN
4401155,10605608.0,1.569567e+15,84206734.0,4.0,688015,SH,145700000.0,2711524,1.078303e+08,40.29,...,0,0,0,0,0,38.60,NaN,NaN,NaN,NaN

0.0160009831800787

'20190927 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
7:29:15.621840
20190930
92 SSE snapshot data is missing
*************************************************************************************************
7:30:07.133317
7:32:22.478530

'20191008 SH lv2 check:'

4186144
4186144
4186144
-----------------------------------------------

'SSE lv2 test is complete'

'20191008 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
7:34:11.429512
7:36:28.791784

'20191009 SH lv2 check:'

4201665
4150533
4201803
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2086,333842.0,1.570585e+15,1849643.0,4.0,600652,SH,93002000.0,703400,1.406936e+06,2.00,...,11400,36400,76700,26100,25700,2.00,NaN,NaN,NaN,NaN
2087,333843.0,1.570585e+15,1849644.0,4.0,600662,SH,93002000.0,21800,1.022260e+05,4.67,...,5200,7600,6800,67500,6500,4.69,NaN,NaN,NaN,NaN
2088,333844.0,1.570585e+15,1849645.0,4.0,600665,SH,93002000.0,11000,3.753000e+04,3.42,...,7600,30000,40000,42523,36100,3.41,NaN,NaN,NaN,NaN
2089,333845.0,1.570585e+15,1849646.0,4.0,600674,SH,93002000.0,50800,5.073730e+05,9.98,...,500,15100,3400,13600,3000,9.99,NaN,NaN,NaN,NaN
2090,333846.0,1.570585e+15,1849647.0,4.0,600679,SH,93002000.0,5800,7.187100e+04,12.36,...,4500,800,500,6400,6100,12.40,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200100,10248249.0,1.570604e+15,77604388.0,4.0,600187,SH,145659000.0,4221053,1.124415e+07,2.69,...,265300,311600,110400,177800,10900,2.66,NaN,NaN,NaN,NaN
4200101,10248250.0,1.570604e+15,77604389.0,4.0,600200,SH,145659000.0,3231968,1.634100e+07,5.08,...,138800,102200,134400,109400,27000,5.05,NaN,NaN,NaN,NaN
4200102,10248251.0,1.570604e+15,77604390.0,4.0,600216,SH,145659000.0,12914400,1.509130e+08,11.76,...,84400,8000,6800,34300,59500,11.45,NaN,NaN,NaN,NaN
4200103,10248252.0,1.570604e+15,77604391.0,4.0,600217,SH,145659000.0,3953300,2.055681e+07,5.21,...,3900,164800,39500,79000,32700,5.16,NaN,NaN,NaN,NaN
4200104,10248254.0,1.570604e+15,77604393.0,4.0,600227,SH,145659000.0,2330544,5.838830e+06,2.52,...,309200,388101,172800,112051,37800,2.51,NaN,NaN,NaN,NaN

0.01220230551459957

'20191009 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
6987,6611101.0,1.570599e+15,51867065.0,5.0,905,SH,132512000.0,43652651,4.441476e+10,4952.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:38:25.139870
7:41:32.778414

'20191010 SH lv2 check:'

4362469
4362582
4362812
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4025843,9844068.0,1.570690e+15,76128548.0,4.0,600519,SH,144133000.0,3779372,4.295315e+09,1158.48,...,200,100,100,100,100,1127.0,NaN,NaN,NaN,NaN
4026710,9846198.0,1.570690e+15,76147238.0,4.0,600519,SH,144136000.0,3780172,4.296242e+09,1158.37,...,100,100,100,200,100,1127.0,NaN,NaN,NaN,NaN
4027935,9848697.0,1.570690e+15,76166019.0,4.0,600519,SH,144139000.0,3780672,4.296821e+09,1158.40,...,100,200,200,100,100,1127.0,NaN,NaN,NaN,NaN
4029007,9851043.0,1.570690e+15,76184557.0,4.0,600519,SH,144142000.0,3780872,4.297052e+09,1158.45,...,100,200,200,100,100,1127.0,NaN,NaN,NaN,NaN
4029881,9853181.0,1.570690e+15,76202620.0,4.0,600519,SH,144145000.0,3781972,4.298327e+09,1158.37,...,300,200,200,100,100,1127.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340700,10534732.0,1.570691e+15,82013329.0,4.0,600519,SH,145606000.0,4045656,4.602757e+09,1153.55,...,600,600,600,200,300,1127.0,NaN,NaN,NaN,NaN
4341867,10537280.0,1.570691e+15,82037633.0,4.0,600519,SH,145609000.0,4046256,4.603449e+09,1153.60,...,100,600,600,200,300,1127.0,NaN,NaN,NaN,NaN
4343009,10539776.0,1.570691e+15,82062392.0,4.0,600519,SH,145612000.0,4048856,4.606448e+09,1153.65,...,600,300,5000,4300,200,1127.0,NaN,NaN,NaN,NaN
4344164,10542279.0,1.570691e+15,82087059.0,4.0,600519,SH,145615000.0,4049956,4.607717e+09,1152.85,...,1200,100,600,300,600,1127.0,NaN,NaN,NaN,NaN
4345332,10544816.0,1.570691e+15,82112951.0,4.0,600519,SH,145618000.0,4053356,4.611638e+09,1152.40,...,182,100,600,300,5000,1127.0,NaN,NaN,NaN,NaN

5.272243768379787e-05

'20191010 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8586,8100957.0,1.570687e+15,63374048.0,5.0,905,SH,135833000.0,54815078,5.603392e+10,5023.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9934,9209019.0,1.570689e+15,71176893.0,5.0,905,SH,142638000.0,61248841,6.273478e+10,5030.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:43:35.694867
7:45:46.750794

'20191011 SH lv2 check:'

4440389
4440521
4440894
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3570323,8785062.0,1.570774e+15,71189829.0,4.0,601318,SH,141229000.0,49065478,4.387128e+09,89.99,...,17900,7300,7600,7300,8800,88.89,NaN,NaN,NaN,NaN
3571370,8787317.0,1.570774e+15,71203855.0,4.0,601318,SH,141232000.0,49073978,4.387893e+09,89.99,...,18200,7300,7600,7300,8800,88.89,NaN,NaN,NaN,NaN
3572220,8789275.0,1.570774e+15,71217751.0,4.0,601318,SH,141235000.0,49110178,4.391151e+09,90.02,...,8800,8800,84440,45920,3700,88.89,NaN,NaN,NaN,NaN
3572785,8790834.0,1.570774e+15,71229408.0,4.0,601318,SH,141238000.0,49122578,4.392267e+09,90.02,...,8800,8800,84440,46420,3700,88.89,NaN,NaN,NaN,NaN
3573588,8792685.0,1.570774e+15,71241652.0,4.0,601318,SH,141241000.0,49124278,4.392420e+09,90.02,...,8900,8800,84440,46420,3700,88.89,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4434102,10711335.0,1.570777e+15,86106169.0,4.0,601318,SH,145647000.0,59295979,5.308190e+09,89.94,...,6800,27100,17200,27100,38200,88.89,NaN,NaN,NaN,NaN
4435245,10713867.0,1.570777e+15,86130557.0,4.0,601318,SH,145650000.0,59303679,5.308883e+09,89.94,...,30200,17500,27100,38400,64400,88.89,NaN,NaN,NaN,NaN
4436398,10716385.0,1.570777e+15,86154431.0,4.0,601318,SH,145653000.0,59305879,5.309080e+09,89.94,...,30200,13500,27100,38400,65400,88.89,NaN,NaN,NaN,NaN
4437364,10718345.0,1.570777e+15,86176246.0,4.0,601318,SH,145656000.0,59333479,5.311563e+09,89.93,...,2800,19800,12000,27100,38400,88.89,NaN,NaN,NaN,NaN
4438684,10721414.0,1.570777e+15,86200339.0,4.0,601318,SH,145659000.0,59338579,5.312022e+09,89.94,...,13800,25000,12200,27100,38100,88.89,NaN,NaN,NaN,NaN

8.400164940504086e-05

'20191011 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
79,415692.0,1.570757e+15,3819447.0,5.0,905,SH,93129000.0,2522952,3.058284e+09,5058.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:47:45.761923
7:50:26.308324

'20191014 SH lv2 check:'

4636957
4637144
4637514
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2937138,7307885.0,1.571031e+15,63571307.0,4.0,601318,SH,132537000.0,48120823,4.378222e+09,90.59,...,28199,1400,2000,8100,15400,90.8,NaN,NaN,NaN,NaN
2938043,7309835.0,1.571031e+15,63585151.0,4.0,601318,SH,132540000.0,48123323,4.378449e+09,90.60,...,25999,1400,2000,8300,15400,90.8,NaN,NaN,NaN,NaN
2939027,7311915.0,1.571031e+15,63601165.0,4.0,601318,SH,132543000.0,48124723,4.378576e+09,90.60,...,24599,1400,2000,8300,15400,90.8,NaN,NaN,NaN,NaN
2939968,7314120.0,1.571031e+15,63616603.0,4.0,601318,SH,132546000.0,48136423,4.379636e+09,90.60,...,14499,1400,2000,8300,15400,90.8,NaN,NaN,NaN,NaN
2940918,7316303.0,1.571031e+15,63632389.0,4.0,601318,SH,132549000.0,48140723,4.380025e+09,90.59,...,2000,11199,1400,2000,8300,90.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459153,10733214.0,1.571036e+15,88377165.0,4.0,601318,SH,144919000.0,60832500,5.527252e+09,90.32,...,2328,1300,21800,2400,6900,90.8,NaN,NaN,NaN,NaN
4571629,10978435.0,1.571036e+15,90603131.0,4.0,601318,SH,145416000.0,61883109,5.622295e+09,90.55,...,5383,12700,46700,24800,32400,90.8,NaN,NaN,NaN,NaN
4572758,10980906.0,1.571036e+15,90626373.0,4.0,601318,SH,145419000.0,61895909,5.623454e+09,90.56,...,783,12700,46700,24800,32400,90.8,NaN,NaN,NaN,NaN
4573921,10983425.0,1.571036e+15,90650562.0,4.0,601318,SH,145422000.0,61914709,5.625157e+09,90.54,...,5400,683,14600,47200,24800,90.8,NaN,NaN,NaN,NaN
4575068,10985931.0,1.571036e+15,90673369.0,4.0,601318,SH,145425000.0,61923409,5.625944e+09,90.55,...,2200,2883,15500,24700,24800,90.8,NaN,NaN,NaN,NaN

7.979370953838908e-05

'20191014 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1183,1685708.0,1.571018e+15,21364100.0,5.0,905,SH,95430000.0,27754146,2.637185e+10,5130.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:52:32.801409
7:55:42.621652

'20191015 SH lv2 check:'

4473592
4473592
4473609
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4348720,10494990.0,1.571122e+15,87481049.0,4.0,600519,SH,145135000.0,3757197,4.508212e+09,1213.33,...,1200,700,100,200,100,1180.0,NaN,NaN,NaN,NaN
4349799,10497409.0,1.571122e+15,87502638.0,4.0,600519,SH,145138000.0,3759697,4.511245e+09,1213.33,...,1200,700,100,200,100,1180.0,NaN,NaN,NaN,NaN
4350847,10499541.0,1.571122e+15,87524449.0,4.0,600519,SH,145141000.0,3760297,4.511973e+09,1213.33,...,74,1200,700,100,200,1180.0,NaN,NaN,NaN,NaN
4351902,10502089.0,1.571122e+15,87546574.0,4.0,600519,SH,145144000.0,3761571,4.513519e+09,1213.34,...,1600,100,700,100,200,1180.0,NaN,NaN,NaN,NaN
4360902,10521819.0,1.571122e+15,87725659.0,4.0,600519,SH,145208000.0,3772673,4.526991e+09,1212.58,...,200,87,101,100,2500,1180.0,NaN,NaN,NaN,NaN
4361904,10523957.0,1.571122e+15,87746759.0,4.0,600519,SH,145211000.0,3773073,4.527476e+09,1213.34,...,400,87,601,100,2600,1180.0,NaN,NaN,NaN,NaN
4364207,10528919.0,1.571122e+15,87790877.0,4.0,600519,SH,145217000.0,3783769,4.540463e+09,1213.60,...,1100,100,200,700,17800,1180.0,NaN,NaN,NaN,NaN
4383349,10570733.0,1.571122e+15,88177209.0,4.0,600519,SH,145308000.0,3810708,4.573159e+09,1214.55,...,100,200,2100,1600,100,1180.0,NaN,NaN,NaN,NaN
4384043,10572378.0,1.571122e+15,88197699.0,4.0,600519,SH,145311000.0,3811808,4.574495e+09,1214.55,...,200,200,2100,1600,100,1180.0,NaN,NaN,NaN,NaN
4392209,10590091.0,1.571122e+15,88355780.0,4.0,600519,SH,145332000.0,3820600,4.585173e+09,1214.77,...,600,100,200,700,20900,1180.0,NaN,NaN,NaN,NaN
4410950,10630763.0,1.571122e+15,88734746.0,4.0,600519,SH,145420000.0,3844752,4.614506e+09,1214.88,...,300,100,200,1755,2100,1180.0,NaN,NaN,NaN,NaN
4420231,10650905.0,1.571122e+15,88916886.0,4.0,600519,SH,145444000.0,3856837,4.629178e+09,1213.57,...,251,900,500,100,1200,1180.0,NaN,NaN,NaN,NaN
4422169,10655034.0,1.571122e+15,88959952.0,4.0,600519,SH,145450000.0,3858634,4.631359e+09,1214.00,...,4851,400,200,900,500,1180.0,NaN,NaN,NaN,NaN
4426952,10665440.0,1.571123e+15,89053091.0,4.0,600519,SH,145502000.0,3864634,4.638642e+09,1214.00,...,5151,200,400,300,100,1180.0,NaN,NaN,NaN,NaN
4457249,10731331.0,1.571123e+15,89701728.0,4.0,600519,SH,145620000.0,3916473,4.701506e+09,1211.89,...,1504,200,200,500,100,1180.0,NaN,NaN,NaN,NaN
4458204,10733497.0,1.571123e+15,89726021.0,4.0,600519,SH,145623000.0,3916973,4.702112e+09,1211.84,...,100,1304,900,200,500,1180.0,NaN,NaN,NaN,NaN
4459583,10736718.0,1.571123e+15,89751648.0,4.0,600519,SH,145626000.0,3919573,4.705262e+09,1211.89,...,1504,1100,200,500,200,1180.0,NaN,NaN,NaN,NaN

3.800078326320326e-06

'20191015 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4235,4445269.0,1.571108e+15,46137525.0,5.0,905,SH,105805000.0,49559207,4.934728e+10,5067.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4903,4985327.0,1.571109e+15,49972959.0,5.0,905,SH,111200000.0,53090634,5.286275e+10,5065.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6754,6799002.0,1.571117e+15,60679349.0,5.0,905,SH,132025000.0,61107005,6.049525e+10,5063.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
7:57:41.358467
7:59:48.286312

'20191016 SH lv2 check:'

4393157
4393546
4395171
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1352141,3350446.0,1.571193e+15,34566366.0,4.0,600519,SH,103351000.0,3778677,4.432119e+09,1171.75,...,157,200,300,200,100,1168.0,NaN,NaN,NaN,NaN
1353286,3352730.0,1.571193e+15,34580692.0,4.0,600519,SH,103354000.0,3779577,4.433173e+09,1171.74,...,100,600,100,300,100,1168.0,NaN,NaN,NaN,NaN
1354173,3354701.0,1.571193e+15,34594026.0,4.0,600519,SH,103357000.0,3780177,4.433876e+09,1171.74,...,200,100,300,100,200,1168.0,NaN,NaN,NaN,NaN
1355377,3357104.0,1.571193e+15,34610811.0,4.0,600519,SH,103400000.0,3781377,4.435283e+09,1171.75,...,100,200,300,100,100,1168.0,NaN,NaN,NaN,NaN
1355629,3358231.0,1.571193e+15,34624187.0,4.0,600519,SH,103403000.0,3781777,4.435751e+09,1171.75,...,200,200,300,100,100,1168.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4350204,10550388.0,1.571209e+15,83988874.0,4.0,601318,SH,145509000.0,48884848,4.452507e+09,90.53,...,15400,11400,14700,26800,20322,90.7,NaN,NaN,NaN,NaN
4351382,10552943.0,1.571209e+15,84017616.0,4.0,601318,SH,145512000.0,48979348,4.461061e+09,90.51,...,13900,13500,7100,27800,20222,90.7,NaN,NaN,NaN,NaN
4352363,10555275.0,1.571209e+15,84044172.0,4.0,601318,SH,145515000.0,48983048,4.461396e+09,90.55,...,11100,14400,7100,27400,20222,90.7,NaN,NaN,NaN,NaN
4353543,10557839.0,1.571209e+15,84069608.0,4.0,601318,SH,145518000.0,48989147,4.461948e+09,90.55,...,10400,14500,7100,27400,20222,90.7,NaN,NaN,NaN,NaN
4379140,10613226.0,1.571209e+15,84603198.0,4.0,601318,SH,145624000.0,49214011,4.482312e+09,90.58,...,78822,9400,4492,2100,4800,90.7,NaN,NaN,NaN,NaN

0.00036989345019993597

'20191016 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7606,7346092.0,1.571204e+15,60685635.0,5.0,905,SH,133807000.0,56141429,5.325418e+10,5056.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:01:43.806661
8:04:25.858070

'20191017 SH lv2 check:'

4274843
4274843
4275004
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3035559,7625953.0,1.571291e+15,58757858.0,4.0,601318,SH,135104000.0,47809133,4.381893e+09,91.86,...,11602,14800,3500,10600,3200,91.2,NaN,NaN,NaN,NaN
3036350,7627750.0,1.571291e+15,58770881.0,4.0,601318,SH,135107000.0,47811233,4.382085e+09,91.83,...,100,1200,3100,9102,14800,91.2,NaN,NaN,NaN,NaN
3036991,7629414.0,1.571291e+15,58782392.0,4.0,601318,SH,135110000.0,47817733,4.382682e+09,91.82,...,600,9002,14800,4000,11400,91.2,NaN,NaN,NaN,NaN
3037775,7631170.0,1.571291e+15,58794741.0,4.0,601318,SH,135113000.0,47820133,4.382903e+09,91.87,...,400,7002,15400,4000,11500,91.2,NaN,NaN,NaN,NaN
3038691,7633121.0,1.571291e+15,58807304.0,4.0,601318,SH,135116000.0,47821433,4.383022e+09,91.87,...,7802,15400,4000,11600,3200,91.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4244398,10324652.0,1.571295e+15,78845784.0,4.0,601318,SH,145543000.0,60781587,5.570387e+09,91.67,...,24691,11400,49100,9800,5900,91.2,NaN,NaN,NaN,NaN
4245526,10327116.0,1.571295e+15,78868387.0,4.0,601318,SH,145546000.0,60785687,5.570762e+09,91.67,...,28091,12600,49300,9800,6000,91.2,NaN,NaN,NaN,NaN
4246846,10329764.0,1.571295e+15,78891109.0,4.0,601318,SH,145549000.0,60792487,5.571386e+09,91.67,...,8300,27991,12600,51000,9800,91.2,NaN,NaN,NaN,NaN
4247756,10331989.0,1.571295e+15,78913110.0,4.0,601318,SH,145552000.0,60796618,5.571764e+09,91.67,...,9800,27991,14600,51000,9800,91.2,NaN,NaN,NaN,NaN
4248860,10334414.0,1.571295e+15,78934586.0,4.0,601318,SH,145555000.0,60817818,5.573708e+09,91.67,...,1295,30891,15200,51600,10300,91.2,NaN,NaN,NaN,NaN

3.7662201863319896e-05

'20191017 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
8:06:24.873241
8:09:26.271833

'20191018 SH lv2 check:'

4605385
4605385
4605608
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3780196,9203080.0,1.571379e+15,73148684.0,4.0,601318,SH,141659000.0,47243125,4.297406e+09,89.88,...,1435,24200,2800,12000,14800,92.3,NaN,NaN,NaN,NaN
3803935,9255987.0,1.571379e+15,73530216.0,4.0,601318,SH,141811000.0,47467725,4.317593e+09,89.86,...,4335,1000,1579,37900,6300,92.3,NaN,NaN,NaN,NaN
3807337,9262985.0,1.571380e+15,73577327.0,4.0,601318,SH,141820000.0,47491225,4.319705e+09,89.85,...,1000,38400,6300,1100,8100,92.3,NaN,NaN,NaN,NaN
3808129,9264948.0,1.571380e+15,73591740.0,4.0,601318,SH,141823000.0,47494625,4.320010e+09,89.86,...,3900,38700,6300,1100,8100,92.3,NaN,NaN,NaN,NaN
3809243,9267217.0,1.571380e+15,73606947.0,4.0,601318,SH,141826000.0,47495925,4.320127e+09,89.88,...,1900,4000,38700,6300,1400,92.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524149,10846282.0,1.571382e+15,85687002.0,4.0,601318,SH,145332000.0,56246272,5.107090e+09,89.96,...,1900,17000,10552,47300,205140,92.3,NaN,NaN,NaN,NaN
4581118,10970882.0,1.571382e+15,86898896.0,4.0,601318,SH,145602000.0,57198198,5.192639e+09,89.85,...,3200,9200,4500,1400,18700,92.3,NaN,NaN,NaN,NaN
4582947,10974160.0,1.571382e+15,86926622.0,4.0,601318,SH,145605000.0,57222698,5.194840e+09,89.86,...,4800,4500,1400,18700,15000,92.3,NaN,NaN,NaN,NaN
4583914,10976450.0,1.571382e+15,86950922.0,4.0,601318,SH,145608000.0,57237198,5.196143e+09,89.86,...,2800,4500,4100,18700,15500,92.3,NaN,NaN,NaN,NaN
4584846,10978775.0,1.571382e+15,86975693.0,4.0,601318,SH,145611000.0,57259198,5.198120e+09,89.85,...,4500,4300,5600,4100,18900,92.3,NaN,NaN,NaN,NaN

4.8421576046302316e-05

'20191018 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
10198,9873358.0,1.571380e+15,78138524.0,5.0,905,SH,143208000.0,71460248,6.482783e+10,4968.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:11:27.028154
8:13:30.118286

'20191021 SH lv2 check:'

4323961
4323961
4324029
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3709728,9112672.0,1.571639e+15,70019391.0,4.0,601688,SH,142550000.0,249904221,4.295170e+09,17.01,...,221600,13700,22700,58000,53400,17.2,NaN,NaN,NaN,NaN
3710725,9114748.0,1.571639e+15,70032008.0,4.0,601688,SH,142553000.0,250119821,4.298837e+09,17.01,...,233400,13700,22700,58000,53400,17.2,NaN,NaN,NaN,NaN
3711401,9116304.0,1.571639e+15,70043203.0,4.0,601688,SH,142556000.0,250189221,4.300017e+09,17.01,...,7400,233400,15900,22700,58000,17.2,NaN,NaN,NaN,NaN
3712085,9118027.0,1.571639e+15,70055462.0,4.0,601688,SH,142559000.0,250203621,4.300262e+09,17.02,...,1000,233400,15900,22700,58000,17.2,NaN,NaN,NaN,NaN
3712976,9120206.0,1.571639e+15,70068961.0,4.0,601688,SH,142602000.0,250232321,4.300750e+09,17.01,...,45500,233400,15900,22700,58000,17.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4240959,10297481.0,1.571641e+15,78706328.0,4.0,601688,SH,145323000.0,270488052,4.647258e+09,17.16,...,191400,144500,168200,150390,53300,17.2,NaN,NaN,NaN,NaN
4242250,10300089.0,1.571641e+15,78727086.0,4.0,601688,SH,145326000.0,270503052,4.647516e+09,17.16,...,191000,144500,168200,150390,53300,17.2,NaN,NaN,NaN,NaN
4243180,10302328.0,1.571641e+15,78747467.0,4.0,601688,SH,145329000.0,270530552,4.647988e+09,17.17,...,183200,144500,167500,150390,53300,17.2,NaN,NaN,NaN,NaN
4244647,10305120.0,1.571641e+15,78768665.0,4.0,601688,SH,145332000.0,270649752,4.650034e+09,17.16,...,24300,137200,154300,167500,150390,17.2,NaN,NaN,NaN,NaN
4245533,10307279.0,1.571641e+15,78788647.0,4.0,601688,SH,145335000.0,270705852,4.650996e+09,17.16,...,1200,155800,154300,167500,148690,17.2,NaN,NaN,NaN,NaN

1.5726321305858217e-05

'20191021 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
8:15:24.325776
8:18:02.714274

'20191022 SH lv2 check:'

4239335
4239461
4239461
-----------------------------------------------

'SSE lv2 test is complete'

'20191022 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
827,1048418.0,1.571709e+15,12901325.0,5.0,905,SH,94703000.0,10445903,9.850869e+09,4971.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:19:57.578561
8:22:36.459849

'20191023 SH lv2 check:'

4194746
4195015
4195015
-----------------------------------------------

'SSE lv2 test is complete'

'20191023 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
6726,6325154.0,1.571808e+15,51267232.0,5.0,905,SH,131946000.0,44086450,4.241164e+10,4989.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:24:29.530782
8:26:33.627335

'20191024 SH lv2 check:'

4223725
4223961
4223961
-----------------------------------------------

'SSE lv2 test is complete'

'20191024 SH index check:'

11397
11397
11397
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
8:28:30.541491
8:31:34.658892

'20191025 SH lv2 check:'

4354914
4355469
4356594
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
729158,1929523.0,1.571969e+15,20538361.0,4.0,601318,SH,100251000.0,50283535,4.406480e+09,87.48,...,1400,24800,919,8800,30100,88.0,NaN,NaN,NaN,NaN
730323,1931928.0,1.571969e+15,20557460.0,4.0,601318,SH,100254000.0,50301035,4.408011e+09,87.49,...,4700,10500,919,8800,30100,88.0,NaN,NaN,NaN,NaN
731101,1933889.0,1.571969e+15,20575529.0,4.0,601318,SH,100257000.0,50309135,4.408720e+09,87.49,...,8200,10700,919,8800,30100,88.0,NaN,NaN,NaN,NaN
745601,1966348.0,1.571969e+15,20858026.0,4.0,601318,SH,100342000.0,50840954,4.455260e+09,87.55,...,13700,600,3300,31400,46600,88.0,NaN,NaN,NaN,NaN
746452,1968347.0,1.571969e+15,20875301.0,4.0,601318,SH,100345000.0,50951454,4.464939e+09,87.60,...,200,1000,8100,3100,26700,88.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795009,9315805.0,1.571985e+15,73275104.0,4.0,601318,SH,143057000.0,102514576,8.997602e+09,88.22,...,3000,600,43813,5500,15700,88.0,NaN,NaN,NaN,NaN
3795880,9317836.0,1.571985e+15,73294212.0,4.0,601318,SH,143100000.0,102548976,9.000637e+09,88.22,...,36213,5500,15700,32400,69600,88.0,NaN,NaN,NaN,NaN
3797358,9320752.0,1.571985e+15,73317713.0,4.0,601318,SH,143103000.0,102560176,9.001625e+09,88.21,...,200,300,37313,5500,15700,88.0,NaN,NaN,NaN,NaN
3798228,9322759.0,1.571985e+15,73337602.0,4.0,601318,SH,143106000.0,102567976,9.002313e+09,88.22,...,300,8400,37313,5500,15700,88.0,NaN,NaN,NaN,NaN
3799271,9325052.0,1.571985e+15,73359521.0,4.0,601318,SH,143109000.0,102599376,9.005082e+09,88.23,...,9400,37813,5700,15700,32600,88.0,NaN,NaN,NaN,NaN

0.000258328867114253

'20191025 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
711,1076971.0,1.571968e+15,12000855.0,5.0,905,SH,94436000.0,9967342,9.694092e+09,4943.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,1520454.0,1.571968e+15,16609700.0,5.0,905,SH,95351000.0,14289569,1.388052e+10,4941.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7299,6923058.0,1.571982e+15,55523737.0,5.0,905,SH,133141000.0,46448777,4.567400e+10,4955.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10383,9543270.0,1.571985e+15,75134286.0,5.0,905,SH,143556000.0,63773065,6.346575e+10,4997.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:33:39.068777
8:36:28.317647

'20191028 SH lv2 check:'

4723010
4723282
4724115
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2082013,4943038.0,1.572232e+15,49939170.0,4.0,600570,SH,110831000.0,52643197,4.295326e+09,82.28,...,9640,14500,27640,13280,20860,82.49,NaN,NaN,NaN,NaN
2123473,5036542.0,1.572232e+15,50629082.0,4.0,600570,SH,111046000.0,52908507,4.317147e+09,82.30,...,24952,23930,36647,11200,4500,82.49,NaN,NaN,NaN,NaN
2124429,5038706.0,1.572232e+15,50646113.0,4.0,600570,SH,111049000.0,52909007,4.317189e+09,82.30,...,24952,23930,36647,11200,4500,82.49,NaN,NaN,NaN,NaN
2125384,5040816.0,1.572232e+15,50661055.0,4.0,600570,SH,111052000.0,52922407,4.318292e+09,82.33,...,11552,23930,36647,11200,4500,82.49,NaN,NaN,NaN,NaN
2126283,5042850.0,1.572232e+15,50675616.0,4.0,600570,SH,111055000.0,52923807,4.318407e+09,82.31,...,12152,23930,36647,11200,4500,82.49,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595232,10982293.0,1.572246e+15,92264880.0,4.0,601318,SH,145145000.0,63015849,5.567503e+09,88.58,...,13779,18835,56400,5000,4400,88.39,NaN,NaN,NaN,NaN
4596621,10985053.0,1.572246e+15,92288303.0,4.0,601318,SH,145148000.0,63036649,5.569345e+09,88.58,...,15779,18835,56900,5000,4400,88.39,NaN,NaN,NaN,NaN
4597800,10987615.0,1.572246e+15,92311039.0,4.0,601318,SH,145151000.0,63046049,5.570178e+09,88.58,...,10779,18835,56900,5000,4500,88.39,NaN,NaN,NaN,NaN
4601255,10995166.0,1.572246e+15,92378906.0,4.0,601318,SH,145200000.0,63075349,5.572773e+09,88.58,...,379,18735,57200,5600,4500,88.39,NaN,NaN,NaN,NaN
4712368,11235755.0,1.572246e+15,94718533.0,4.0,601318,SH,145636000.0,64235922,5.675615e+09,88.60,...,74300,10001,10000,20199,64800,88.39,NaN,NaN,NaN,NaN

0.0001763705772378208

'20191028 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1559,2025808.0,1.572228e+15,26542986.0,5.0,905,SH,100219000.0,36652556,3.482112e+10,5047.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:38:33.255240
8:40:52.806766

'20191029 SH lv2 check:'

4681381
4681612
4682451
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1408057,3407410.0,1.572316e+15,40993081.0,4.0,600570,SH,103300000.0,51002402,4.369428e+09,87.05,...,16460,3900,6300,1200,3300,84.0,NaN,NaN,NaN,NaN
1409448,3410173.0,1.572316e+15,41018609.0,4.0,600570,SH,103303000.0,51034462,4.372219e+09,87.10,...,600,5000,2000,200,6300,84.0,NaN,NaN,NaN,NaN
1410413,3412508.0,1.572316e+15,41040948.0,4.0,600570,SH,103306000.0,51049602,4.373537e+09,87.05,...,5060,100,5000,1200,2000,84.0,NaN,NaN,NaN,NaN
1411346,3414807.0,1.572316e+15,41063071.0,4.0,600570,SH,103309000.0,51068862,4.375215e+09,87.10,...,600,200,800,18500,10000,84.0,NaN,NaN,NaN,NaN
1412482,3417270.0,1.572316e+15,41085985.0,4.0,600570,SH,103312000.0,51123762,4.380001e+09,87.17,...,300,7800,2037,1100,1000,84.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4670677,11098165.0,1.572332e+15,99177529.0,4.0,600570,SH,145636000.0,86070286,7.331199e+09,81.20,...,6800,1000,4700,400,4400,84.0,NaN,NaN,NaN,NaN
4672291,11101532.0,1.572332e+15,99211391.0,4.0,600570,SH,145639000.0,86086686,7.332530e+09,81.15,...,2200,100,5200,400,4700,84.0,NaN,NaN,NaN,NaN
4673450,11104121.0,1.572332e+15,99241399.0,4.0,600570,SH,145642000.0,86106386,7.334128e+09,81.12,...,1300,7300,900,3300,1200,84.0,NaN,NaN,NaN,NaN
4674185,11105770.0,1.572332e+15,99265187.0,4.0,600570,SH,145645000.0,86120086,7.335239e+09,81.05,...,4050,5800,6000,1300,900,84.0,NaN,NaN,NaN,NaN
4675561,11108696.0,1.572332e+15,99298814.0,4.0,600570,SH,145648000.0,86140886,7.336926e+09,81.12,...,3350,6000,2400,900,4400,84.0,NaN,NaN,NaN,NaN

0.00017922061887293514

'20191029 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
475,863459.0,1.572313e+15,12934924.0,5.0,905,SH,93944000.0,17668272,1.658666e+10,5059.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:42:55.976957
8:45:58.959966

'20191030 SH lv2 check:'

4583468
4583468
4583468
-----------------------------------------------

'SSE lv2 test is complete'

'20191030 SH index check:'

11391
11391
11391
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
8:48:03.970186
8:50:54.902687

'20191031 SH lv2 check:'

4597414
4597414
4597454
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4176545,10070587.0,1.572504e+15,83109211.0,4.0,600887,SH,143816000.0,153913798,4.439786e+09,29.16,...,169638,536850,413200,1939375,442600,28.48,NaN,NaN,NaN,NaN
4177512,10072945.0,1.572504e+15,83136740.0,4.0,600887,SH,143819000.0,153921998,4.440025e+09,29.16,...,170438,537050,416700,1941775,442600,28.48,NaN,NaN,NaN,NaN
4178887,10075686.0,1.572504e+15,83162688.0,4.0,600887,SH,143822000.0,153942598,4.440626e+09,29.16,...,170438,536750,420600,1941775,442600,28.48,NaN,NaN,NaN,NaN
4180016,10078148.0,1.572504e+15,83186744.0,4.0,600887,SH,143825000.0,153951498,4.440885e+09,29.16,...,168138,534650,421200,1947075,442600,28.48,NaN,NaN,NaN,NaN
4180953,10080400.0,1.572504e+15,83208443.0,4.0,600887,SH,143828000.0,153965398,4.441291e+09,29.16,...,176138,535650,422100,1946975,442600,28.48,NaN,NaN,NaN,NaN
4181866,10082512.0,1.572504e+15,83231507.0,4.0,600887,SH,143831000.0,153983598,4.441821e+09,29.17,...,175838,536650,421900,1945975,442600,28.48,NaN,NaN,NaN,NaN
4183200,10085289.0,1.572504e+15,83256113.0,4.0,600887,SH,143834000.0,154011298,4.442629e+09,29.16,...,155938,534850,421900,1946975,442600,28.48,NaN,NaN,NaN,NaN
4184322,10087547.0,1.572504e+15,83276822.0,4.0,600887,SH,143837000.0,154026798,4.443081e+09,29.16,...,156338,532450,421900,1949575,442800,28.48,NaN,NaN,NaN,NaN
4185237,10089733.0,1.572504e+15,83298074.0,4.0,600887,SH,143840000.0,154046698,4.443662e+09,29.16,...,155538,521350,422700,1948875,442800,28.48,NaN,NaN,NaN,NaN
4186708,10092690.0,1.572504e+15,83321402.0,4.0,600887,SH,143843000.0,154075198,4.444493e+09,29.16,...,162038,520850,421700,1949575,442800,28.48,NaN,NaN,NaN,NaN
4187826,10095101.0,1.572504e+15,83344862.0,4.0,600887,SH,143846000.0,154103598,4.445321e+09,29.17,...,166438,520850,423500,1950975,442800,28.48,NaN,NaN,NaN,NaN
4188735,10097378.0,1.572504e+15,83367025.0,4.0,600887,SH,143849000.0,154115098,4.445656e+09,29.17,...,169538,522150,423700,1952975,442800,28.48,NaN,NaN,NaN,NaN
4189649,10099429.0,1.572504e+15,83387854.0,4.0,600887,SH,143852000.0,154200198,4.448138e+09,29.17,...,162238,524050,427200,1958375,442800,28.48,NaN,NaN,NaN,NaN
4191152,10102378.0,1.572504e+15,83412452.0,4.0,600887,SH,143855000.0,154234598,4.449141e+09,29.16,...,141538,523450,432200,1958975,443000,28.48,NaN,NaN,NaN,NaN
4191848,10104364.0,1.572504e+15,83436355.0,4.0,600887,SH,143858000.0,154270698,4.450194e+09,29.17,...,141438,523450,435700,1962475,443000,28.48,NaN,NaN,NaN,NaN
4260606,10253384.0,1.572504e+15,84810950.0,4.0,600887,SH,144201000.0,155420724,4.483684e+09,29.10,...,49432,55700,55400,109100,257600,28.48,NaN,NaN,NaN,NaN
4261342,10255305.0,1.572504e+15,84830352.0,4.0,600887,SH,144204000.0,155435024,4.484100e+09,29.11,...,48732,55700,55400,109100,260900,28.48,NaN,NaN,NaN,NaN
4262630,10258003.0,1.572504e+15,84850694.0,4.0,600887,SH,144207000.0,155466624,4.485020e+09,29.10,...,1500,48432,30900,55700,109100,28.48,NaN,NaN,NaN,NaN
4263706,10260360.0,1.572504e+15,84870866.0,4.0,600887,SH,144210000.0,155479324,4.485389e+09,29.10,...,4900,48032,30900,55200,110400,28.48,NaN,NaN,NaN,NaN
4264979,10262930.0,1.572504e+15,84890912.0,4.0,600887,SH,144213000.0,155481724,4.485459e+09,29.10,...,14600,48032,34700,56000,110400,28.48,NaN,NaN,NaN,NaN
4265889,10265122.0,1.572504e+15,84911242.0,4.0,600887,SH,144216000.0,155498524,4.485948e+09,29.10,...,18600,50032,34900,55000,110700,28.48,NaN,NaN,NaN,NaN
4267213,10267798.0,1.572504e+15,84931537.0,4.0,600887,SH,144219000.0,155509624,4.486271e+09,29.10,...,101000,50032,34900,56900,110900,28.48,NaN,NaN,NaN,NaN
4268279,10270183.0,1.572504e+15,84951167.0,4.0,600887,SH,144222000.0,155515124,4.486431e+09,29.10,...,107100,50932,34900,56900,110900,28.48,NaN,NaN,NaN,NaN
4269009,10272168.0,1.572504e+15,84969875.0,4.0,600887,SH,144225000.0,155531524,4.486908e+09,29.10,...,97700,52332,35100,57400,111100,28.48,NaN,NaN,NaN,NaN
4270279,10274748.0,1.572504e+15,84989780.0,4.0,600887,SH,144228000.0,155537624,4.487086e+09,29.10,...,97800,52332,37100,57400,111100,28.48,NaN,NaN,NaN,NaN
4271172,10276898.0,1.572504e+15,85011104.0,4.0,600887,SH,144231000.0,155651024,4.490386e+09,29.10,...,52332,38300,57400,111100,285400,28.48,NaN,NaN,NaN,NaN
4272514,10279487.0,1.572504e+15,85031500.0,4.0,600887,SH,144234000.0,155657724,4.490581e+09,29.10,...,51932,36200,57000,111100,284600,28.48,NaN,NaN,NaN,NaN
4273794,10282138.0,1.572504e+15,85051140.0,4.0,600887,SH,144237000.0,155667324,4.490860e+09,29.10,...,46132,37400,57000,111100,284900,28.48,NaN,NaN,NaN,NaN
4473437,10718209.0,1.572505e+15,88696943.0,4.0,600887,SH,145143000.0,159910024,4.614272e+09,29.07,...,46674,43400,182201,341300,78632,28.48,NaN,NaN,NaN,NaN
4474175,10719940.0,1.572505e+15,88717244.0,4.0,600887,SH,145146000.0,159928324,4.614804e+09,29.07,...,33374,68100,175501,343700,78632,28.48,NaN,NaN,NaN,NaN
4475704,10722890.0,1.572505e+15,88739784.0,4.0,600887,SH,145149000.0,159931424,4.614894e+09,29.06,...,34274,76900,177801,342900,78632,28.48,NaN,NaN,NaN,NaN
4476427,10724882.0,1.572505e+15,88760170.0,4.0,600887,SH,145152000.0,159934724,4.614990e+09,29.06,...,32974,80000,172901,364307,78632,28.48,NaN,NaN,NaN,NaN
4477735,10727647.0,1.572505e+15,88782803.0,4.0,600887,SH,145155000.0,159946124,4.615321e+09,29.07,...,34674,72400,183901,354007,78632,28.48,NaN,NaN,NaN,NaN
4478633,10729716.0,1.572505e+15,88803721.0,4.0,600887,SH,145158000.0,159950824,4.615458e+09,29.06,...,35474,72900,185801,353407,78632,28.48,NaN,NaN,NaN,NaN
4479971,10732434.0,1.572505e+15,88829197.0,4.0,600887,SH,145201000.0,159970924,4.616042e+09,29.07,...,133174,78400,185801,349007,78632,28.48,NaN,NaN,NaN,NaN
4482064,10737194.0,1.572505e+15,88875137.0,4.0,600887,SH,145207000.0,160003824,4.616998e+09,29.06,...,131,136674,81600,186801,350407,28.48,NaN,NaN,NaN,NaN
4486788,10747307.0,1.572505e+15,88965364.0,4.0,600887,SH,145219000.0,160119124,4.620348e+09,29.05,...,6631,21500,109874,86700,183201,28.48,NaN,NaN,NaN,NaN
4574626,10937707.0,1.572505e+15,90844962.0,4.0,600887,SH,145604000.0,162864275,4.699948e+09,28.99,...,51700,98582,25400,34100,41300,28.48,NaN,NaN,NaN,NaN
4575614,10940126.0,1.572505e+15,90871516.0,4.0,600887,SH,145607000.0,162874875,4.700255e+09,28.99,...,45600,138582,26400,34200,42100,28.48,NaN,NaN,NaN,NaN
4576771,10942654.0,1.572505e+15,90898807.0,4.0,600887,SH,145610000.0,162974875,4.703153e+09,28.99,...,41000,143382,36300,34200,42100,28.48,NaN,NaN,NaN,NaN

8.700543392437574e-06

'20191031 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
8:52:57.455867
8:55:09.404084

'20191101 SH lv2 check:'

4633544
4633544
4633789
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3573677,8749109.0,1.572588e+15,71015208.0,4.0,601318,SH,140338000.0,48343361,4.309998e+09,89.91,...,112837,6000,1000,8700,6600,88.12,NaN,NaN,NaN,NaN
3574610,8751141.0,1.572588e+15,71030513.0,4.0,601318,SH,140341000.0,48358861,4.311391e+09,89.91,...,99137,6500,2900,4700,8800,88.12,NaN,NaN,NaN,NaN
3575775,8753339.0,1.572588e+15,71047679.0,4.0,601318,SH,140344000.0,48360961,4.311580e+09,89.90,...,103337,6500,3200,4800,8900,88.12,NaN,NaN,NaN,NaN
3576587,8755744.0,1.572588e+15,71071210.0,4.0,601318,SH,140347000.0,48371461,4.312524e+09,89.89,...,700,100137,500,3200,7800,88.12,NaN,NaN,NaN,NaN
3577422,8757397.0,1.572588e+15,71084267.0,4.0,601318,SH,140350000.0,48374561,4.312803e+09,89.89,...,22800,100337,500,14900,7800,88.12,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628502,11090498.0,1.572591e+15,89537618.0,4.0,601318,SH,145650000.0,63726703,5.693483e+09,90.00,...,900,47200,27900,24700,10900,88.12,NaN,NaN,NaN,NaN
4629437,11092515.0,1.572591e+15,89556776.0,4.0,601318,SH,145653000.0,63736761,5.694388e+09,90.00,...,31042,46500,28600,24700,10900,88.12,NaN,NaN,NaN,NaN
4630392,11095048.0,1.572591e+15,89583548.0,4.0,601318,SH,145656000.0,63743961,5.695036e+09,90.00,...,68542,46600,29100,24700,11200,88.12,NaN,NaN,NaN,NaN
4631516,11096856.0,1.572591e+15,89599859.0,4.0,601318,SH,145659000.0,63765761,5.696998e+09,89.98,...,20600,63842,57400,31700,19600,88.12,NaN,NaN,NaN,NaN
4632175,11097945.0,1.572591e+15,89604666.0,4.0,601318,SH,145700000.0,63775861,5.697906e+09,89.98,...,0,0,0,0,0,88.12,NaN,NaN,NaN,NaN

5.2875293727652096e-05

'20191101 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5259,5216739.0,1.572578e+15,46964117.0,5.0,905,SH,111923000.0,38027786,3.775418e+10,4946.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
8:57:11.730791
9:00:02.568777

'20191104 SH lv2 check:'

4517903
4517903
4518107
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4207005,10182138.0,1.572850e+15,83574803.0,4.0,601318,SH,144304000.0,47610129,4.296399e+09,90.12,...,2100,9400,300,8800,10000,90.35,NaN,NaN,NaN,NaN
4207706,10184042.0,1.572850e+15,83593022.0,4.0,601318,SH,144307000.0,47618229,4.297129e+09,90.14,...,9100,300,8100,10000,12500,90.35,NaN,NaN,NaN,NaN
4208605,10186044.0,1.572850e+15,83611882.0,4.0,601318,SH,144310000.0,47630629,4.298246e+09,90.14,...,300,8100,10000,12500,8200,90.35,NaN,NaN,NaN,NaN
4210288,10189194.0,1.572850e+15,83631789.0,4.0,601318,SH,144313000.0,47631929,4.298364e+09,90.15,...,7700,9400,12500,8200,7800,90.35,NaN,NaN,NaN,NaN
4211131,10191269.0,1.572850e+15,83650643.0,4.0,601318,SH,144316000.0,47634229,4.298571e+09,90.15,...,6000,9500,12500,8800,7700,90.35,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4488671,10797377.0,1.572851e+15,89081901.0,4.0,601318,SH,145549000.0,49908434,4.503762e+09,90.26,...,2440,16500,11500,9500,26600,90.35,NaN,NaN,NaN,NaN
4490225,10800593.0,1.572851e+15,89108732.0,4.0,601318,SH,145552000.0,49912834,4.504159e+09,90.23,...,13,4340,16500,11500,9500,90.35,NaN,NaN,NaN,NaN
4514380,10853297.0,1.572851e+15,89653161.0,4.0,601318,SH,145655000.0,50128829,4.523653e+09,90.27,...,2700,11400,11100,28900,14200,90.35,NaN,NaN,NaN,NaN
4515959,10856294.0,1.572851e+15,89677393.0,4.0,601318,SH,145658000.0,50135229,4.524231e+09,90.27,...,2800,12100,11100,29500,14200,90.35,NaN,NaN,NaN,NaN
4516603,10857780.0,1.572851e+15,89691693.0,4.0,601318,SH,145700000.0,50136229,4.524321e+09,90.26,...,0,0,0,0,0,90.35,NaN,NaN,NaN,NaN

4.515369187873224e-05

'20191104 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
9526,9126399.0,1.572848e+15,75308530.0,5.0,905,SH,141809000.0,67124818,6.846110e+10,4996.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:02:08.355398
9:05:23.384650

'20191105 SH lv2 check:'

4602708
4602945
4603294
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3098181,7656329.0,1.572932e+15,65120864.0,4.0,601318,SH,133655000.0,48053329,4.342464e+09,90.60,...,118802,1000,400,6200,9600,90.3,NaN,NaN,NaN,NaN
3099100,7658395.0,1.572932e+15,65136941.0,4.0,601318,SH,133658000.0,48070529,4.344022e+09,90.59,...,107502,1000,400,6200,9600,90.3,NaN,NaN,NaN,NaN
3100004,7660471.0,1.572932e+15,65151631.0,4.0,601318,SH,133701000.0,48081629,4.345028e+09,90.59,...,1700,84702,1000,400,6200,90.3,NaN,NaN,NaN,NaN
3107343,7677108.0,1.572932e+15,65271630.0,4.0,601318,SH,133725000.0,48168018,4.352853e+09,90.60,...,81702,800,400,4800,9400,90.3,NaN,NaN,NaN,NaN
3109918,7683130.0,1.572932e+15,65316047.0,4.0,601318,SH,133734000.0,48272520,4.362320e+09,90.63,...,3300,8100,23700,7100,300,90.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4577070,10968292.0,1.572937e+15,90263064.0,4.0,601318,SH,145555000.0,64470299,5.825102e+09,90.08,...,18600,11625,30000,2300,7025,90.3,NaN,NaN,NaN,NaN
4577978,10970576.0,1.572937e+15,90288307.0,4.0,601318,SH,145558000.0,64493799,5.827219e+09,90.07,...,5600,12225,31100,2300,7025,90.3,NaN,NaN,NaN,NaN
4586376,10988588.0,1.572937e+15,90474038.0,4.0,601318,SH,145619000.0,64628671,5.839366e+09,90.07,...,1500,6400,10925,31200,2300,90.3,NaN,NaN,NaN,NaN
4587590,10991214.0,1.572937e+15,90501496.0,4.0,601318,SH,145622000.0,64648871,5.841185e+09,90.08,...,9500,10925,30400,2300,6025,90.3,NaN,NaN,NaN,NaN
4588724,10993643.0,1.572937e+15,90525463.0,4.0,601318,SH,145625000.0,64651271,5.841401e+09,90.07,...,600,7900,9925,31600,2300,90.3,NaN,NaN,NaN,NaN

7.582492741229728e-05

'20191105 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
9:07:30.927378
9:10:19.116424

'20191106 SH lv2 check:'

4507400
4507512
4507512
-----------------------------------------------

'SSE lv2 test is complete'

'20191106 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
43,372415.0,1.573004e+15,2981150.0,5.0,905,SH,93045000.0,1834430,1.631450e+09,5013.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,959581.0,1.573005e+15,11273953.0,5.0,905,SH,94155000.0,9871416,9.780627e+09,5018.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5882,6010002.0,1.573017e+15,52229971.0,5.0,905,SH,130215000.0,48260192,4.984380e+10,4996.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:12:20.174051
9:14:25.578390

'20191107 SH lv2 check:'

4393561
4393561
4393561
-----------------------------------------------

'SSE lv2 test is complete'

'20191107 SH index check:'

11391
11391
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4651,4674202.0,1.573096e+15,43132795.0,5.0,905,SH,110644000.0,39670063,3.928029e+10,5002.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7238,7062328.0,1.573105e+15,57176267.0,5.0,905,SH,133029000.0,49387772,4.853009e+10,4992.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7810,7528507.0,1.573105e+15,60519073.0,5.0,905,SH,134224000.0,51740946,5.082770e+10,4990.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:16:22.612406
9:19:06.782283

'20191108 SH lv2 check:'

4392258
4392394
4392394
-----------------------------------------------

'SSE lv2 test is complete'

'20191108 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
9:21:08.967288
9:24:23.802651

'20191111 SH lv2 check:'

4533351
4533566
4533566
-----------------------------------------------

'SSE lv2 test is complete'

'20191111 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1123,1543871.0,1.573437e+15,18519993.0,5.0,905,SH,95313000.0,17114895,1.630447e+10,4943.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:26:22.752893
9:28:22.074904

'20191112 SH lv2 check:'

4301632
4301174
4301632
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3295884,8149210,1573538472199841,64939930,4,600011,SH,140111000,15374732,8.772912e+07,5.68,...,201200,173100,190900,125900,214000,5.66,NaN,NaN,NaN,NaN
3295885,8149211,1573538472199868,64939931,4,600017,SH,140111000,5012400,1.417162e+07,2.83,...,137200,647700,444400,295900,259900,2.83,NaN,NaN,NaN,NaN
3295886,8149212,1573538472199874,64939932,4,600019,SH,140111000,34627485,1.882604e+08,5.42,...,624800,549572,400916,294300,401484,5.49,NaN,NaN,NaN,NaN
3295887,8149213,1573538472199879,64939933,4,600026,SH,140111000,13532404,7.592131e+07,5.59,...,36700,58910,139219,20500,16700,5.67,NaN,NaN,NaN,NaN
3295888,8149214,1573538472199884,64939934,4,600037,SH,140111000,2405700,2.090388e+07,8.72,...,7900,21685,21000,24900,8000,8.75,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3296367,8149821,1573538472391721,64940862,4,601866,SH,140111000,8893749,2.205413e+07,2.49,...,1433200,659900,862500,649470,610400,2.48,NaN,NaN,NaN,NaN
3296368,8149822,1573538472391726,64940863,4,601877,SH,140111000,5643186,1.331797e+08,23.62,...,15900,2000,24200,73900,13500,23.40,NaN,NaN,NaN,NaN
3296369,8149823,1573538472391744,64940864,4,601899,SH,140111000,96747771,3.334779e+08,3.43,...,759511,1554100,3170206,2476400,1203900,3.49,NaN,NaN,NaN,NaN
3296370,8149824,1573538472391757,64940865,4,688001,SH,140111000,1179496,3.901908e+07,32.96,...,7069,753,500,777,200,33.33,NaN,NaN,NaN,NaN
3296372,8149826,1573538472391765,64940867,4,688006,SH,140111000,3416627,1.071643e+08,31.44,...,1792,364,700,770,180,32.70,NaN,NaN,NaN,NaN

458

'20191112 SH index check:'

11392
11388
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
8780,8201582,1573538559793490,65289483,5,16,SH,140239000,16034013,2.473527e+10,2966.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,8201583,1573538559869739,65290016,5,300,SH,140239000,60081689,8.677148e+10,3894.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,8201584,1573538559879740,65290066,5,852,SH,140239000,72929586,6.827229e+10,5170.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,8201585,1573538559879762,65290067,5,905,SH,140239000,54444959,5.102438e+10,4864.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:30:13.683567
9:32:44.752171

'20191113 SH lv2 check:'

4157966
4158142
4158142
-----------------------------------------------

'SSE lv2 test is complete'

'20191113 SH index check:'

11392
11392
11392
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
9:34:40.775409
9:37:44.016383

'20191114 SH lv2 check:'

4213083
4213083
4213117
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4045910,9940280.0,1.573714e+15,76904469.0,4.0,600703,SH,144925000.0,248365918,4.294996e+09,17.78,...,22200,49000,170577,60900,57210,16.8,NaN,NaN,NaN,NaN
4046444,9942014.0,1.573714e+15,76920115.0,4.0,600703,SH,144928000.0,248372418,4.295111e+09,17.77,...,95200,22400,52000,183777,63300,16.8,NaN,NaN,NaN,NaN
4047234,9943974.0,1.573714e+15,76937923.0,4.0,600703,SH,144931000.0,248377118,4.295195e+09,17.76,...,116500,30000,132400,186777,64200,16.8,NaN,NaN,NaN,NaN
4048858,9946873.0,1.573714e+15,76957857.0,4.0,600703,SH,144934000.0,248397418,4.295555e+09,17.76,...,117000,41800,136300,197777,64200,16.8,NaN,NaN,NaN,NaN
4050226,9950638.0,1.573714e+15,76990862.0,4.0,600703,SH,144940000.0,248464328,4.296744e+09,17.76,...,38800,126200,32100,131800,134577,16.8,NaN,NaN,NaN,NaN
4051168,9952755.0,1.573714e+15,77007737.0,4.0,600703,SH,144943000.0,248519528,4.297724e+09,17.76,...,71200,161700,29700,128000,152477,16.8,NaN,NaN,NaN,NaN
4052499,9955341.0,1.573714e+15,77027065.0,4.0,600703,SH,144946000.0,248566128,4.298551e+09,17.76,...,99900,93900,29700,128000,142977,16.8,NaN,NaN,NaN,NaN
4055847,9962529.0,1.573714e+15,77084578.0,4.0,600703,SH,144955000.0,248721928,4.301315e+09,17.75,...,1900,232000,131800,90900,26400,16.8,NaN,NaN,NaN,NaN
4056835,9964758.0,1.573714e+15,77102265.0,4.0,600703,SH,144958000.0,248733128,4.301514e+09,17.75,...,2000,340900,136400,90900,26400,16.8,NaN,NaN,NaN,NaN
4057873,9966993.0,1.573714e+15,77125535.0,4.0,600703,SH,145001000.0,248755928,4.301918e+09,17.73,...,13200,361400,128300,89900,25500,16.8,NaN,NaN,NaN,NaN
4059019,9969516.0,1.573714e+15,77152383.0,4.0,600703,SH,145004000.0,248807328,4.302829e+09,17.74,...,31600,371400,130300,89900,17500,16.8,NaN,NaN,NaN,NaN
4149233,10167170.0,1.573714e+15,78930836.0,4.0,600703,SH,145413000.0,254431156,4.402011e+09,17.54,...,34500,53100,90400,60400,92400,16.8,NaN,NaN,NaN,NaN
4150357,10169581.0,1.573714e+15,78952186.0,4.0,600703,SH,145416000.0,254529456,4.403736e+09,17.55,...,55300,88400,60900,90200,124660,16.8,NaN,NaN,NaN,NaN
4167555,10207904.0,1.573715e+15,79304516.0,4.0,600703,SH,145504000.0,256078266,4.430991e+09,17.62,...,1600,41900,34800,64700,107000,16.8,NaN,NaN,NaN,NaN
4169174,10210927.0,1.573715e+15,79332570.0,4.0,600703,SH,145507000.0,256115566,4.431648e+09,17.64,...,1500,40200,34800,72700,107000,16.8,NaN,NaN,NaN,NaN
4170138,10213283.0,1.573715e+15,79357177.0,4.0,600703,SH,145510000.0,256189266,4.432949e+09,17.62,...,500,38900,34800,146900,107000,16.8,NaN,NaN,NaN,NaN
4171464,10215970.0,1.573715e+15,79382073.0,4.0,600703,SH,145513000.0,256240066,4.433845e+09,17.65,...,2400,20000,38800,35400,146900,16.8,NaN,NaN,NaN,NaN
4172207,10218019.0,1.573715e+15,79405443.0,4.0,600703,SH,145516000.0,256264466,4.434275e+09,17.62,...,8900,28800,43900,41800,153900,16.8,NaN,NaN,NaN,NaN
4173121,10220269.0,1.573715e+15,79430379.0,4.0,600703,SH,145519000.0,256317366,4.435207e+09,17.62,...,3800,46500,44000,41800,153700,16.8,NaN,NaN,NaN,NaN
4174776,10223317.0,1.573715e+15,79456528.0,4.0,600703,SH,145522000.0,256339466,4.435596e+09,17.65,...,52700,44460,41800,166700,107000,16.8,NaN,NaN,NaN,NaN
4175403,10225260.0,1.573715e+15,79480033.0,4.0,600703,SH,145525000.0,256392466,4.436531e+09,17.64,...,1800,70000,45460,41800,166700,16.8,NaN,NaN,NaN,NaN
4177277,10228757.0,1.573715e+15,79508614.0,4.0,600703,SH,145528000.0,256438566,4.437344e+09,17.64,...,19700,77300,43560,44800,167800,16.8,NaN,NaN,NaN,NaN
4178448,10231088.0,1.573715e+15,79532446.0,4.0,600703,SH,145531000.0,256475566,4.437996e+09,17.63,...,9200,214700,45560,45800,168800,16.8,NaN,NaN,NaN,NaN
4179294,10233280.0,1.573715e+15,79555767.0,4.0,600703,SH,145534000.0,256509766,4.438599e+09,17.65,...,235900,51860,45600,168900,106500,16.8,NaN,NaN,NaN,NaN
4180580,10235891.0,1.573715e+15,79579549.0,4.0,600703,SH,145537000.0,256586666,4.439956e+09,17.64,...,71200,211000,53060,45900,168900,16.8,NaN,NaN,NaN,NaN
4181302,10237917.0,1.573715e+15,79602250.0,4.0,600703,SH,145540000.0,256635666,4.440820e+09,17.64,...,11400,67500,218500,53460,45900,16.8,NaN,NaN,NaN,NaN
4182205,10240167.0,1.573715e+15,79624789.0,4.0,600703,SH,145543000.0,256705966,4.442059e+09,17.63,...,53800,227300,61060,45900,198900,16.8,NaN,NaN,NaN,NaN
4183533,10242815.0,1.573715e+15,79648131.0,4.0,600703,SH,145546000.0,256789166,4.443526e+09,17.64,...,38400,230700,62260,45900,202900,16.8,NaN,NaN,NaN,NaN
4184417,10245042.0,1.573715e+15,79671175.0,4.0,600703,SH,145549000.0,256814566,4.443973e+09,17.64,...,60400,248500,62260,45900,202900,16.8,NaN,NaN,NaN,NaN
4186145,10248142.0,1.573715e+15,79697136.0,4.0,600703,SH,145552000.0,256867166,4.444901e+09,17.63,...,53900,112800,249200,62260,45900,16.8,NaN,NaN,NaN,NaN
4186655,10249905.0,1.573715e+15,79719183.0,4.0,600703,SH,145555000.0,256909166,4.445641e+09,17.62,...,58700,123900,255000,78260,45900,16.8,NaN,NaN,NaN,NaN
4188179,10252820.0,1.573715e+15,79744071.0,4.0,600703,SH,145558000.0,256976066,4.446820e+09,17.63,...,54300,133800,259600,75760,46200,16.8,NaN,NaN,NaN,NaN
4189506,10255516.0,1.573715e+15,79771830.0,4.0,600703,SH,145601000.0,257016566,4.447534e+09,17.62,...,10500,67200,135600,267000,75560,16.8,NaN,NaN,NaN,NaN
4190719,10258090.0,1.573715e+15,79799526.0,4.0,600703,SH,145604000.0,257144866,4.449794e+09,17.61,...,12700,74300,126700,270300,71460,16.8,NaN,NaN,NaN,NaN

8.070099734564925e-06

'20191114 SH index check:'

11395
11395
11397
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
3371,3425163.0,1.573699e+15,32103595.0,5.0,905,SH,104003000.0,23357578,2.414305e+10,4880.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5731,5220994.0,1.573702e+15,44213477.0,5.0,905,SH,112913000.0,32791801,3.452511e+10,4897.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:39:39.106632
9:41:32.950334

'20191115 SH lv2 check:'

4231168
4230570
4231168
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1065801,2676395,1573784392030536,28160036,4,600011,SH,101950000,8446085,4.608021e+07,5.43,...,250600,95400,84900,99200,160300,5.53,NaN,NaN,NaN,NaN
1065802,2676396,1573784392030544,28160037,4,600019,SH,101950000,20692764,1.097203e+08,5.28,...,4300,245900,457900,710400,712600,5.34,NaN,NaN,NaN,NaN
1065803,2676397,1573784392030550,28160038,4,600026,SH,101950000,3440356,1.939963e+07,5.65,...,49325,51200,117900,143752,617800,5.64,NaN,NaN,NaN,NaN
1065804,2676398,1573784392030555,28160039,4,600037,SH,101950000,854947,7.280486e+06,8.48,...,4000,9900,6400,5000,12400,8.57,NaN,NaN,NaN,NaN
1065805,2676399,1573784392030574,28160040,4,600050,SH,101950000,24505522,1.422769e+08,5.78,...,723850,932864,287100,449908,219500,5.85,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066461,2677118,1573784392187967,28161105,4,603979,SH,101950000,436800,3.588400e+06,8.17,...,6500,600,11100,1700,105400,8.29,NaN,NaN,NaN,NaN
1066462,2677119,1573784392187972,28161106,4,688005,SH,101950000,548766,1.392939e+07,25.60,...,2533,2301,7533,2095,4959,25.30,NaN,NaN,NaN,NaN
1066463,2677120,1573784392187975,28161107,4,688012,SH,101950000,2297688,1.654384e+08,72.15,...,3945,8241,1472,2713,600,69.56,NaN,NaN,NaN,NaN
1066468,2677126,1573784392188019,28161113,4,688288,SH,101950000,2826694,9.239196e+07,32.86,...,2553,964,8,500,3808,33.90,NaN,NaN,NaN,NaN
1066469,2677128,1573784392188026,28161115,4,688388,SH,101950000,564611,2.367022e+07,42.12,...,1001,3143,431,69,200,42.36,NaN,NaN,NaN,NaN

598

'20191115 SH index check:'

11388
11388
11390
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2967,3149439.0,1.573785e+15,31880062.0,5.0,905,SH,103140000.0,27229095,2.872280e+10,4893.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11130,10037285.0,1.573801e+15,79967925.0,5.0,852,SH,145140000.0,88397809,8.911388e+10,5160.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:43:27.116450
9:45:57.441024

'20191118 SH lv2 check:'

4241660
4240979
4241660
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3626988,8932730,1574058286056210,68827406,4,600006,SH,142443000,4382520,1.868729e+07,4.26,...,71600,167000,108600,132800,63300,4.28,NaN,NaN,NaN,NaN
3626989,8932731,1574058286056239,68827407,4,600010,SH,142443000,160151785,2.047919e+08,1.28,...,14102350,20251540,19603982,15478780,16914863,1.27,NaN,NaN,NaN,NaN
3626990,8932732,1574058286056245,68827408,4,600028,SH,142443000,53510842,2.615222e+08,4.89,...,11508,949764,1949100,1810970,1019750,4.86,NaN,NaN,NaN,NaN
3626992,8932734,1574058286056254,68827410,4,600057,SH,142443000,4670415,1.870073e+07,4.00,...,43800,317413,128594,123724,135000,4.00,NaN,NaN,NaN,NaN
3626993,8932735,1574058286056263,68827411,4,600058,SH,142443000,1601346,1.173509e+07,7.38,...,23362,17171,50821,54199,26600,7.42,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627790,8933816,1574058286675358,68829510,4,601098,SH,142444000,2878637,3.287948e+07,11.44,...,3700,4300,4300,14300,20700,11.44,NaN,NaN,NaN,NaN
3627791,8933817,1574058286675361,68829511,4,601398,SH,142444000,69912260,4.050221e+08,5.81,...,3080960,2913800,2492300,2791615,1799200,5.78,NaN,NaN,NaN,NaN
3627792,8933818,1574058286675365,68829512,4,601818,SH,142444000,76563721,3.305177e+08,4.38,...,617600,1693601,1458594,663000,528700,4.25,NaN,NaN,NaN,NaN
3627794,8933820,1574058286675373,68829514,4,601877,SH,142444000,5687947,1.322953e+08,23.57,...,23500,39200,73600,16100,22000,22.88,NaN,NaN,NaN,NaN
3627796,8933822,1574058286675389,68829516,4,688002,SH,142444000,1225249,4.170159e+07,33.94,...,200,1000,12601,700,71000,34.12,NaN,NaN,NaN,NaN

681

'20191118 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
7542,7104910.0,1.574055e+15,56390259.0,5.0,852,SH,133647000.0,59517811,5.914281e+10,5183.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:47:56.144149
9:51:02.389314

'20191119 SH lv2 check:'

4326727
4326727
4326727
-----------------------------------------------

'SSE lv2 test is complete'

'20191119 SH index check:'

11392
11392
11394
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4627,4621693.0,1.574133e+15,42275754.0,5.0,905,SH,110615000.0,38063152,3.763645e+10,4951.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5695,5422634.0,1.574134e+15,47648059.0,5.0,905,SH,112830000.0,42165528,4.192920e+10,4948.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:52:57.809238
9:55:03.386029

'20191120 SH lv2 check:'

4253557
4253672
4253672
-----------------------------------------------

'SSE lv2 test is complete'

'20191120 SH index check:'

11392
11392
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2095,2385166.0,1.574216e+15,26924275.0,5.0,905,SH,101327000.0,26605465,2.824674e+10,4990.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,3555750.0,1.574218e+15,36447475.0,5.0,905,SH,104202000.0,36292560,3.842380e+10,4980.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8187,7554317.0,1.574229e+15,63552443.0,5.0,905,SH,135012000.0,58171540,6.072762e+10,4965.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9835,8893475.0,1.574231e+15,73863200.0,5.0,905,SH,142432000.0,66328826,6.910606e+10,4955.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4

'test is complete, the difference is caused by round difference'

*************************************************************************************************
9:56:57.270919
9:59:11.716809

'20191121 SH lv2 check:'

4133387
4133720
4133944
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2918005,7390358.0,1.574315e+15,59336103.0,4.0,601318,SH,134839000.0,50562475,4.395200e+09,86.67,...,1500,1200,2800,900,2780,87.72,NaN,NaN,NaN,NaN
2918474,7391651.0,1.574315e+15,59345878.0,4.0,601318,SH,134842000.0,50573975,4.396197e+09,86.69,...,900,2780,1200,700,800,87.72,NaN,NaN,NaN,NaN
2919634,7393847.0,1.574315e+15,59357830.0,4.0,601318,SH,134845000.0,50596275,4.398129e+09,86.66,...,800,2780,1200,700,800,87.72,NaN,NaN,NaN,NaN
2920356,7395693.0,1.574315e+15,59369108.0,4.0,601318,SH,134848000.0,50618375,4.400045e+09,86.66,...,3800,1600,2980,1200,700,87.72,NaN,NaN,NaN,NaN
2920841,7397004.0,1.574315e+15,59379863.0,4.0,601318,SH,134851000.0,50626175,4.400721e+09,86.66,...,1300,1600,700,2780,1000,87.72,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4070224,9993806.0,1.574319e+15,79090843.0,4.0,601318,SH,145415000.0,74106975,6.427440e+09,86.19,...,19100,63100,10000,4800,19800,87.72,NaN,NaN,NaN,NaN
4070824,9995489.0,1.574319e+15,79110327.0,4.0,601318,SH,145418000.0,74126075,6.429086e+09,86.20,...,9200,63100,9800,4600,19800,87.72,NaN,NaN,NaN,NaN
4072353,9998587.0,1.574319e+15,79135563.0,4.0,601318,SH,145421000.0,74140875,6.430362e+09,86.20,...,9700,62600,9800,4600,19400,87.72,NaN,NaN,NaN,NaN
4073449,10000996.0,1.574319e+15,79156876.0,4.0,601318,SH,145424000.0,74158775,6.431904e+09,86.20,...,8500,62600,9800,4400,19400,87.72,NaN,NaN,NaN,NaN
4074151,10002781.0,1.574319e+15,79178523.0,4.0,601318,SH,145427000.0,74169575,6.432835e+09,86.20,...,62500,9800,4400,19400,14300,87.72,NaN,NaN,NaN,NaN

5.419284475419311e-05

'20191121 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2503,2751800.0,1.574303e+15,29195610.0,5.0,905,SH,102157000.0,26869191,2.453993e+10,4953.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:01:10.978470
10:04:24.581039

'20191122 SH lv2 check:'

4517519
4517635
4518241
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3348174,8278338.0,1.574402e+15,72595695.0,4.0,601318,SH,135635000.0,50350695,4.327716e+09,85.36,...,500,1200,23300,12800,40500,86.42,NaN,NaN,NaN,NaN
3349369,8280624.0,1.574402e+15,72609695.0,4.0,601318,SH,135638000.0,50359995,4.328510e+09,85.38,...,20000,12800,40500,600,7100,86.42,NaN,NaN,NaN,NaN
3351689,8286129.0,1.574402e+15,72650432.0,4.0,601318,SH,135647000.0,50372942,4.329615e+09,85.34,...,2200,653,4900,23800,12900,86.42,NaN,NaN,NaN,NaN
3352671,8288202.0,1.574402e+15,72664078.0,4.0,601318,SH,135650000.0,50398742,4.331816e+09,85.35,...,2800,300,5100,23800,12900,86.42,NaN,NaN,NaN,NaN
3353318,8289763.0,1.574402e+15,72676768.0,4.0,601318,SH,135653000.0,50406142,4.332448e+09,85.34,...,6700,4000,600,5100,23800,86.42,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4503719,10857744.0,1.574406e+15,93166565.0,4.0,600519,SH,145627000.0,4628728,5.586063e+09,1194.50,...,400,300,100,854,1034,1223.00,NaN,NaN,NaN,NaN
4504905,10860318.0,1.574406e+15,93192520.0,4.0,600519,SH,145630000.0,4629728,5.587257e+09,1194.60,...,300,100,854,1034,600,1223.00,NaN,NaN,NaN,NaN
4506057,10862822.0,1.574406e+15,93217177.0,4.0,600519,SH,145633000.0,4632928,5.591080e+09,1194.19,...,1200,2354,1034,600,100,1223.00,NaN,NaN,NaN,NaN
4507189,10865297.0,1.574406e+15,93241778.0,4.0,600519,SH,145636000.0,4634028,5.592394e+09,1194.19,...,700,800,300,2354,1034,1223.00,NaN,NaN,NaN,NaN
4508321,10867766.0,1.574406e+15,93266272.0,4.0,600519,SH,145639000.0,4635128,5.593707e+09,1194.19,...,73,800,300,2454,1034,1223.00,NaN,NaN,NaN,NaN

0.00013414442750545155

'20191122 SH index check:'

11391
11391
11392
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
10317,9883615.0,1.574404e+15,85172040.0,5.0,852,SH,143440000.0,104221485,1.000894e+11,5180.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:06:31.052226
10:09:14.284951

'20191125 SH lv2 check:'

4343466
4343466
4343547
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
4076982,9850032.0,1.574664e+15,80228452.0,4.0,601318,SH,144453000.0,50675207,4.302925e+09,85.42,...,4200,14062,10200,17340,35200,85.10,NaN,NaN,NaN,NaN
4078320,9852629.0,1.574664e+15,80245485.0,4.0,601318,SH,144456000.0,50694807,4.304599e+09,85.43,...,400,100,47162,10700,17340,85.10,NaN,NaN,NaN,NaN
4078932,9854380.0,1.574664e+15,80259701.0,4.0,601318,SH,144459000.0,50699907,4.305035e+09,85.43,...,1600,58862,11200,17340,36300,85.10,NaN,NaN,NaN,NaN
4080332,9857227.0,1.574664e+15,80282254.0,4.0,601318,SH,144502000.0,50731207,4.307709e+09,85.43,...,12200,3300,59062,11500,17540,85.10,NaN,NaN,NaN,NaN
4081861,9861079.0,1.574664e+15,80317997.0,4.0,601318,SH,144508000.0,50758207,4.310015e+09,85.42,...,17859,13000,10300,60062,11600,85.10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4332706,10411419.0,1.574665e+15,85071547.0,4.0,600519,SH,145635000.0,3781662,4.463804e+09,1180.70,...,100,3000,100,100,500,1188.05,NaN,NaN,NaN,NaN
4333431,10413480.0,1.574665e+15,85092595.0,4.0,600519,SH,145638000.0,3785162,4.467938e+09,1180.75,...,100,100,500,100,100,1188.05,NaN,NaN,NaN,NaN
4334354,10415701.0,1.574665e+15,85115152.0,4.0,600519,SH,145641000.0,3785262,4.468056e+09,1180.75,...,100,100,100,500,100,1188.05,NaN,NaN,NaN,NaN
4335505,10418196.0,1.574665e+15,85138959.0,4.0,600519,SH,145644000.0,3785462,4.468292e+09,1181.40,...,100,500,100,200,100,1188.05,NaN,NaN,NaN,NaN
4337271,10421388.0,1.574665e+15,85164962.0,4.0,600519,SH,145647000.0,3786162,4.469119e+09,1180.75,...,100,100,500,100,200,1188.05,NaN,NaN,NaN,NaN

1.864870129062827e-05

'20191125 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
5175,4996925.0,1.574652e+15,48129715.0,5.0,905,SH,111739000.0,54088510,4.807294e+10,4883.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5422,5192344.0,1.574652e+15,49595723.0,5.0,852,SH,112249000.0,67776047,5.993105e+10,5130.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6275,6243366.0,1.574659e+15,55116856.0,5.0,905,SH,131024000.0,59015652,5.279798e+10,4885.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:11:10.884934
10:13:12.569871

'20191126 SH lv2 check:'

4162872
4162872
4162872
-----------------------------------------------

'SSE lv2 test is complete'

'20191126 SH index check:'

11388
11388
11391
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2086,2406362.0,1.574734e+15,25370363.0,5.0,852,SH,101321000.0,33619929,2.756303e+10,5139.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654,5167067.0,1.574739e+15,44713456.0,5.0,852,SH,112741000.0,52414301,4.459621e+10,5147.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10082,8992100.0,1.574750e+15,70380011.0,5.0,852,SH,142946000.0,77179871,6.819087e+10,5148.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:15:05.514519
10:17:43.326115

'20191127 SH lv2 check:'

4179454
4179454
4179454
-----------------------------------------------

'SSE lv2 test is complete'

'20191127 SH index check:'

11391
11391
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
4418,4282148.0,1.574824e+15,38984955.0,5.0,852,SH,110152000.0,45678059,4.143580e+10,5157.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6170,6023069.0,1.574831e+15,49369747.0,5.0,905,SH,130812000.0,44262327,4.354580e+10,4924.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:19:38.173204
10:22:34.204185

'20191129 SH lv2 check:'

4146706
4146706
4147510
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
1766716,4247059.0,1.574997e+15,37191733.0,4.0,600519,SH,110556000.0,4080049,4.672140e+09,1128.17,...,800,600,600,3100,800,1165.50,NaN,NaN,NaN,NaN
1767740,4249169.0,1.574997e+15,37203265.0,4.0,600519,SH,110559000.0,4081149,4.673381e+09,1128.10,...,600,900,600,600,3200,1165.50,NaN,NaN,NaN,NaN
1768490,4250844.0,1.574997e+15,37214106.0,4.0,600519,SH,110602000.0,4082449,4.674847e+09,1128.10,...,300,800,600,600,3200,1165.50,NaN,NaN,NaN,NaN
1769255,4252576.0,1.574997e+15,37225792.0,4.0,600519,SH,110605000.0,4083149,4.675637e+09,1128.10,...,200,800,600,600,3200,1165.50,NaN,NaN,NaN,NaN
1770030,4254402.0,1.574997e+15,37236984.0,4.0,600519,SH,110608000.0,4083849,4.676427e+09,1128.14,...,800,600,600,3300,800,1165.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979033,9713232.0,1.575010e+15,72837367.0,4.0,601318,SH,144921000.0,55020439,4.600510e+09,83.72,...,27500,46800,78700,4400,16300,84.39,NaN,NaN,NaN,NaN
3980009,9715354.0,1.575010e+15,72851536.0,4.0,601318,SH,144924000.0,55033339,4.601590e+09,83.69,...,300,100,18600,46600,78700,84.39,NaN,NaN,NaN,NaN
3980956,9717539.0,1.575010e+15,72869271.0,4.0,601318,SH,144927000.0,55047139,4.602745e+09,83.73,...,13900,10400,46600,78700,4400,84.39,NaN,NaN,NaN,NaN
3981922,9719687.0,1.575010e+15,72884388.0,4.0,601318,SH,144930000.0,55047939,4.602812e+09,83.72,...,200,16100,10500,46600,78600,84.39,NaN,NaN,NaN,NaN
3982909,9721928.0,1.575010e+15,72902952.0,4.0,601318,SH,144933000.0,55071639,4.604796e+09,83.72,...,13700,10900,46400,78600,4300,84.39,NaN,NaN,NaN,NaN

0.00019388883610268006

'20191129 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
6643,6137632.0,1.575005e+15,47921726.0,5.0,905,SH,131803000.0,38111546,3.729618e+10,4863.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8462,7585568.0,1.575007e+15,57709423.0,5.0,852,SH,135558000.0,58372345,5.572056e+10,5093.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10358,9106198.0,1.575009e+15,68318209.0,5.0,852,SH,143528000.0,69145072,6.542057e+10,5125.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:24:30.070329
10:26:32.721882

'20191202 SH lv2 check:'

4422837
4323307
4467006
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3609,342206.0,1.575250e+15,1987388.0,4.0,600870,SH,93002000.0,3000,9.570000e+03,3.19,...,1000,11700,18200,3000,1100,3.19,NaN,NaN,NaN,NaN
3825,342432.0,1.575250e+15,2001394.0,4.0,603970,SH,93002000.0,17500,2.112150e+05,12.07,...,400,1800,100,5000,500,12.07,NaN,NaN,NaN,NaN
3960,343052.0,1.575250e+15,2043186.0,4.0,603838,SH,93004000.0,11800,9.337800e+04,7.89,...,500,6400,300,2000,1300,7.98,NaN,NaN,NaN,NaN
4050,343480.0,1.575250e+15,2068994.0,4.0,603500,SH,93005000.0,300,3.520000e+03,11.74,...,89,1900,9500,1500,3900,11.73,NaN,NaN,NaN,NaN
4085,343515.0,1.575250e+15,2070126.0,4.0,603298,SH,93005000.0,400,5.060000e+03,12.65,...,1200,1800,1000,2600,2000,12.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421069,10535608.0,1.575270e+15,75340333.0,4.0,600104,SH,145659000.0,10919799,2.532293e+08,23.19,...,5800,9700,200,7800,24300,23.27,NaN,NaN,NaN,NaN
4421094,10535636.0,1.575270e+15,75340511.0,4.0,600269,SH,145659000.0,3003000,1.207642e+07,4.02,...,95500,248263,399300,298900,314900,4.03,NaN,NaN,NaN,NaN
4421145,10536237.0,1.575270e+15,75342528.0,4.0,600592,SH,145659000.0,5912730,8.174853e+07,13.66,...,20000,1200,1900,3000,6400,14.10,NaN,NaN,NaN,NaN
4421275,10536607.0,1.575270e+15,75345117.0,4.0,600530,SH,145659000.0,1582550,7.339870e+06,4.63,...,14900,8200,59650,102000,45300,4.65,NaN,NaN,NaN,NaN
4421287,10536620.0,1.575270e+15,75345259.0,4.0,600959,SH,145659000.0,9718811,3.738913e+07,3.82,...,202470,203350,170750,115700,420100,3.86,NaN,NaN,NaN,NaN

0.03249023194840778

'20191202 SH index check:'

11392
11386
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
9633,8943104.0,1.575268e+15,63928468.0,5.0,300,SH,142022000.0,65712254,9.368552e+10,3832.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9635,8943107.0,1.575268e+15,63928501.0,5.0,905,SH,142022000.0,52633247,5.162758e+10,4893.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9636,8946640.0,1.575268e+15,63949527.0,5.0,16,SH,142027000.0,18089682,2.990890e+10,2897.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9637,8946665.0,1.575268e+15,63950071.0,5.0,300,SH,142027000.0,65731776,9.371387e+10,3832.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9638,8946674.0,1.575268e+15,63950152.0,5.0,852,SH,142027000.0,67452219,6.521700e+10,5129.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9639,8946675.0,1.575268e+15,63950153.0,5.0,905,SH,142027000.0,52650654,5.164655e+10,4894.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10151,9373100.0,1.575268e+15,66714796.0,5.0,905,SH,143107000.0,54672364,5.356101e+10,4891.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:28:33.327932
10:31:09.519834

'20191203 SH lv2 check:'

4396166
4355838
4441430
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
5427,346377.0,1.575337e+15,2185658.0,4.0,600463,SH,93006000.0,15600,110130.00,7.06,...,1700,12000,6000,5000,24200,7.06,NaN,NaN,NaN,NaN
5996,347441.0,1.575337e+15,2232290.0,4.0,603269,SH,93009000.0,3800,49818.00,13.07,...,2000,1000,4300,200,2400,13.14,NaN,NaN,NaN,NaN
6742,348617.0,1.575337e+15,2237579.0,4.0,600463,SH,93009000.0,15600,110130.00,7.06,...,100,300,12000,6000,5000,7.06,NaN,NaN,NaN,NaN
7114,349868.0,1.575337e+15,2273813.0,4.0,603269,SH,93011000.0,4100,53748.00,13.07,...,300,2000,1000,4300,200,13.14,NaN,NaN,NaN,NaN
8172,351319.0,1.575337e+15,2295089.0,4.0,600463,SH,93012000.0,15900,112239.00,7.03,...,300,12000,6000,5000,24200,7.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393931,10486558.0,1.575356e+15,77263203.0,4.0,600512,SH,145658000.0,19724619,53407437.69,2.72,...,476100,1024200,697900,592100,516000,2.69,NaN,NaN,NaN,NaN
4394317,10487352.0,1.575356e+15,77268141.0,4.0,601218,SH,145659000.0,5781196,15622716.57,2.72,...,27000,158100,175300,220400,122600,2.71,NaN,NaN,NaN,NaN
4394367,10487442.0,1.575356e+15,77268586.0,4.0,603638,SH,145659000.0,912785,25711250.64,28.04,...,100,2721,1000,500,500,27.91,NaN,NaN,NaN,NaN
4394565,10487882.0,1.575356e+15,77271262.0,4.0,603727,SH,145659000.0,1807116,32929840.12,18.37,...,5500,4900,30900,2300,500,17.99,NaN,NaN,NaN,NaN
4395868,10489244.0,1.575356e+15,77278340.0,4.0,600192,SH,145700000.0,3602905,17621464.60,4.94,...,3500,47200,98100,107100,120000,4.85,NaN,NaN,NaN,NaN

0.01946969245474352

'20191203 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1394,1785533.0,1.575338e+15,18289462.0,5.0,852,SH,95853000.0,21033001,2.095173e+10,5115.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4002,3989694.0,1.575342e+15,34532889.0,5.0,852,SH,105313000.0,38961265,3.872223e+10,5107.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7570,7149830.0,1.575351e+15,52982611.0,5.0,852,SH,133723000.0,55744390,5.497809e+10,5138.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:33:13.040672
10:36:21.588742

'20191204 SH lv2 check:'

4394593
4408094
4440165
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2945,334010.0,1.575423e+15,2104635.0,4.0,688098,SH,93002000.0,400,5.956000e+03,14.90,...,4200,3000,1600,200,3000,14.88,NaN,NaN,NaN,NaN
3234,334303.0,1.575423e+15,2109939.0,4.0,603895,SH,93002000.0,1700,3.934700e+04,23.15,...,500,600,100,300,500,23.15,NaN,NaN,NaN,NaN
3237,334307.0,1.575423e+15,2109943.0,4.0,600367,SH,93002000.0,1800,1.265400e+04,0.00,...,14600,1000,35100,6500,10800,7.03,NaN,NaN,NaN,NaN
3622,334883.0,1.575423e+15,2117385.0,4.0,600665,SH,93002000.0,500,1.692000e+03,3.38,...,4800,60900,15617,31900,20744,3.40,NaN,NaN,NaN,NaN
3802,335168.0,1.575423e+15,2119897.0,4.0,600071,SH,93003000.0,1900,2.027800e+04,10.68,...,900,10000,14300,1900,4500,10.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4392505,10494646.0,1.575443e+15,78465894.0,4.0,600634,SH,145657000.0,8048500,1.233477e+07,1.51,...,66400,153700,187200,170100,114200,1.51,NaN,NaN,NaN,NaN
4392559,10494707.0,1.575443e+15,78466175.0,4.0,603887,SH,145657000.0,1757639,3.690487e+07,21.03,...,9600,23100,14300,5300,3700,21.27,NaN,NaN,NaN,NaN
4393068,10495872.0,1.575443e+15,78472339.0,4.0,600612,SH,145659000.0,2189766,1.101128e+08,50.41,...,2000,3400,400,4600,900,49.62,NaN,NaN,NaN,NaN
4393170,10496179.0,1.575443e+15,78474538.0,4.0,600100,SH,145659000.0,16081113,1.283396e+08,8.02,...,127300,89900,104300,76800,77500,8.00,NaN,NaN,NaN,NaN
4393209,10496367.0,1.575443e+15,78475665.0,4.0,603041,SH,145659000.0,463600,7.290357e+06,15.72,...,9500,300,2800,12100,22500,15.69,NaN,NaN,NaN,NaN

0.007297831676334987

'20191204 SH index check:'

11397
11397
11397
-----------------------------------------------

'SSE index test is complete'

*************************************************************************************************
10:38:29.831553
10:40:49.910182

'20191205 SH lv2 check:'

4591854
4605540
4638935
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
2605,319845.0,1.575509e+15,2019535.0,4.0,600877,SH,93002000.0,1900,9310.00,0.00,...,59772,18000,53400,20000,10500,4.90,NaN,NaN,NaN,NaN
2663,319981.0,1.575509e+15,2023209.0,4.0,603159,SH,93002000.0,600,6648.00,0.00,...,3600,2000,1900,2800,200,11.08,NaN,NaN,NaN,NaN
2684,320003.0,1.575509e+15,2025065.0,4.0,688300,SH,93002000.0,1000,30980.00,30.98,...,1000,5000,2000,1200,800,30.98,NaN,NaN,NaN,NaN
2847,320171.0,1.575509e+15,2042703.0,4.0,600353,SH,93002000.0,14800,75533.00,5.10,...,1100,5000,10000,44100,17500,5.11,NaN,NaN,NaN,NaN
3669,321078.0,1.575509e+15,2068968.0,4.0,603569,SH,93003000.0,5000,50820.00,0.00,...,1000,4900,4000,2500,100,10.18,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589991,10851497.0,1.575529e+15,84542584.0,4.0,600373,SH,145658000.0,4378445,52194641.91,11.95,...,21100,20300,20400,54500,110200,11.91,NaN,NaN,NaN,NaN
4590019,10851527.0,1.575529e+15,84543161.0,4.0,600252,SH,145658000.0,8118036,23578197.72,2.91,...,652700,532500,338286,497212,143900,2.90,NaN,NaN,NaN,NaN
4590180,10851705.0,1.575529e+15,84544696.0,4.0,603277,SH,145659000.0,834280,7966987.20,9.58,...,13100,18700,32500,18600,24300,9.48,NaN,NaN,NaN,NaN
4590186,10851711.0,1.575529e+15,84544736.0,4.0,601598,SH,145659000.0,17115520,72170059.62,4.21,...,169965,158800,244603,144787,221593,4.24,NaN,NaN,NaN,NaN
4590443,10852436.0,1.575529e+15,84551692.0,4.0,600418,SH,145659000.0,8871875,42942221.99,4.84,...,188522,76900,101400,121800,257000,4.85,NaN,NaN,NaN,NaN

0.007272661543681485

'20191205 SH index check:'

11392
11392
11393
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
770,1151407.0,1.575510e+15,12052156.0,5.0,852,SH,94554000.0,13605548,1.369080e+10,5202.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:42:56.116727
10:45:20.868221

'20191206 SH lv2 check:'

4540630
4554941
4589350
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3041,321892.0,1.575596e+15,2207533.0,4.0,603709,SH,93003000.0,100,2.390000e+03,23.90,...,2400,3200,1100,3500,700,23.90,NaN,NaN,NaN,NaN
3364,322227.0,1.575596e+15,2212059.0,4.0,601002,SH,93003000.0,12500,7.016100e+04,5.61,...,37000,21700,19100,66800,40300,5.61,NaN,NaN,NaN,NaN
3365,322228.0,1.575596e+15,2212060.0,4.0,601616,SH,93003000.0,2100,6.395000e+03,3.03,...,5000,30400,34600,105300,43600,3.03,NaN,NaN,NaN,NaN
3388,322251.0,1.575596e+15,2212083.0,4.0,688036,SH,93003000.0,1200,4.547200e+04,37.96,...,300,2222,700,200,300,37.88,NaN,NaN,NaN,NaN
3649,322526.0,1.575596e+15,2215694.0,4.0,603180,SH,93003000.0,3700,2.243800e+05,60.83,...,600,800,600,1200,700,60.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538461,10753895.0,1.575615e+15,83907368.0,4.0,603755,SH,145658000.0,618009,2.943121e+07,47.36,...,400,800,500,1100,1000,48.00,NaN,NaN,NaN,NaN
4538512,10754058.0,1.575615e+15,83907661.0,4.0,600185,SH,145658000.0,4826020,2.302644e+07,4.76,...,9400,95000,62300,213680,102300,4.75,NaN,NaN,NaN,NaN
4538593,10754180.0,1.575615e+15,83909278.0,4.0,600586,SH,145658000.0,3555099,9.838628e+06,2.78,...,343300,293000,301301,251904,191100,2.77,NaN,NaN,NaN,NaN
4538754,10754358.0,1.575615e+15,83911173.0,4.0,600885,SH,145658000.0,6663024,1.966610e+08,29.90,...,17800,7700,3300,8500,500,28.64,NaN,NaN,NaN,NaN
4538775,10754614.0,1.575615e+15,83912276.0,4.0,600006,SH,145658000.0,5986100,2.676621e+07,4.50,...,350100,392100,200739,196700,129300,4.51,NaN,NaN,NaN,NaN

0.0075780233139454214

'20191206 SH index check:'

11395
11395
11396
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
1711,2092206.0,1.575598e+15,21817682.0,5.0,905,SH,100527000.0,17876762,1.949948e+10,4973.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1

'test is complete, the difference is caused by round difference'

*************************************************************************************************
10:47:30.436945
10:50:48.490850

'20191209 SH lv2 check:'

4681372
4695397
4728489
-----------------------------------------------

'SSE lv2 test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,TotalBidQty,TotalOfferQty,time_y
3306,291554.0,1.575855e+15,2045152.0,4.0,603185,SH,93003000.0,1300,3.017500e+04,23.19,...,300,200,100,700,800,23.20,NaN,NaN,NaN,NaN
3360,291901.0,1.575855e+15,2070696.0,4.0,688368,SH,93003000.0,1400,9.566600e+04,68.11,...,1704,600,250,250,400,68.30,NaN,NaN,NaN,NaN
3665,292235.0,1.575855e+15,2097877.0,4.0,603871,SH,93003000.0,8200,2.312440e+05,28.22,...,200,12000,500,500,4700,28.22,NaN,NaN,NaN,NaN
3807,292501.0,1.575855e+15,2111332.0,4.0,603416,SH,93003000.0,2500,6.502000e+04,25.65,...,1000,400,12600,800,900,25.79,NaN,NaN,NaN,NaN
4475,294443.0,1.575855e+15,2336028.0,4.0,601028,SH,93006000.0,6400,3.519200e+04,5.50,...,2400,6700,23200,31000,12880,5.48,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678383,10981814.0,1.575875e+15,89107591.0,4.0,600976,SH,145656000.0,1258800,2.090009e+07,16.56,...,2500,3800,7300,100,2000,16.78,NaN,NaN,NaN,NaN
4678897,10983142.0,1.575875e+15,89119823.0,4.0,603970,SH,145657000.0,854332,1.044248e+07,12.19,...,10100,8160,10220,1100,5700,12.30,NaN,NaN,NaN,NaN
4679223,10983543.0,1.575875e+15,89125201.0,4.0,603709,SH,145658000.0,274236,6.642665e+06,24.35,...,1100,200,3600,4500,300,24.19,NaN,NaN,NaN,NaN
4679404,10984289.0,1.575875e+15,89132145.0,4.0,603099,SH,145659000.0,739200,6.424466e+06,8.68,...,31700,5300,500,17600,1400,8.70,NaN,NaN,NaN,NaN
4679657,10984819.0,1.575875e+15,89135072.0,4.0,601633,SH,145659000.0,16109983,1.439833e+08,8.92,...,5400,4800,26900,56300,38900,8.94,NaN,NaN,NaN,NaN

0.0070688678447258626

'20191209 SH index check:'

11392
11392
11395
-----------------------------------------------

'SSE index test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount_x,close,...,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y,TotalBidQty,TotalOfferQty,time_y
2627,2967385.0,1.575858e+15,32401625.0,5.0,905,SH,102432000.0,35776152,3.871161e+10,5032.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,8523842.0,1.575871e+15,70020406.0,5.0,905,SH,140207000.0,69634986,7.402243e+10,5017.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9823,9450866.0,1.575873e+15,76733264.0,5.0,905,SH,142417000.0,75344580,7.964790e+10,5020.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3

'test is complete, the difference is caused by round difference'

         Date        Data                                         Condition  \
0    20190429    lv2 data                          SSE lv2 test is complete
1    20190429  index data                        SSE index test is complete
2    20190430    lv2 data                          SSE lv2 test is complete
3    20190430  index data                        SSE index test is complete
4    20190506    lv2 data                          SSE lv2 test is complete
..        ...         ...                                               ...
281  20191205  index data  SSE index test is complete with round difference
282  20191206    lv2 data                      SSE lv2 test is not complete
283  20191206  index data  SSE index test is complete with round difference
284  20191209    lv2 data                      SSE lv2 test is not complete
285  20191209  index data  SSE index test is complete with round difference

            Prob      Time
0    0.000109856  0.999745
1              C  0.999210
2    0.000183133  0.999773
3              C  0.996401
4    0.000272199  0.999789
..           ...       ...
281            C  0.999912
282   0.00757802  0.999647
283            C  0.999912
284   0.00706887  0.999727
285            C  1.000000

[286 rows x 5 columns]