In [1]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 100)
pd.set_option('max_columns', 100)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

In [2]:
startDate = '20200925'
endDate = '20201009'

readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
rawOrderLog = []
for thisDate, thisPath in zip(dateLs, dataPathLs):
    data = pd.read_csv(thisPath)
    data = data.rename(columns={'mdClockAtArrival': 'caamd'})
    rawOrderLog += [data]
rawOrderLog = pd.concat(rawOrderLog, sort=False)
for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
            'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
    rawOrderLog[col] = rawOrderLog[col].astype('int64')   
rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]


targetStock = rawOrderLog['secid'].unique()
targetStock = np.array([int(str(i)[1:]) for i in targetStock])
targetStockSZ = sorted(targetStock[targetStock < 600000])
targetStockSH = sorted(targetStock[targetStock >= 600000])

rawOrderLog['clock'] = rawOrderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
rawOrderLog['broker'] = rawOrderLog['accCode'] // 100
rawOrderLog["broker"] = np.where(rawOrderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), rawOrderLog['accCode'] // 10000, rawOrderLog["broker"])
rawOrderLog['colo_broker'] = rawOrderLog['colo'].str[:2] + '_' + rawOrderLog['broker'].astype('str')
rawOrderLog['order'] = rawOrderLog.groupby(['date', 'accCode', 'secid', 'vai']).grouper.group_info[0]
rawOrderLog['group'] = rawOrderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
rawOrderLog['startClock'] = rawOrderLog.groupby(['order'])['clockAtArrival'].transform('first')
rawOrderLog['duration'] = rawOrderLog['clockAtArrival'] - rawOrderLog['startClock']
rawOrderLog['orderPrice'] = rawOrderLog['orderPrice'].apply(lambda x: round(x, 2))
rawOrderLog['tradePrice'] = rawOrderLog['tradePrice'].apply(lambda x: round(x, 2))
rawOrderLog['orderDirection1'] = np.where(rawOrderLog["orderDirection"] == -2, -1, np.where(
    rawOrderLog["orderDirection"] == 2, 1, rawOrderLog["orderDirection"]))
orderLog = rawOrderLog.copy()

### Assertion 1:  make sure same direction in same date, secid, vai
print('=======================================================================================')
print('1. same date, secid, vai: same direction')
orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
if len(orderLog[orderLog['directNum'] != 1]) > 0:
    print('opposite direction for same date, same secid, same vai')
    display(orderLog[(orderLog['directNum'] != 1) & (orderLog['updateType'] == 0)][['date', 'accCode', 'secid', 'vai', 'orderDirection', 'order']])
    orderLog = orderLog[orderLog['directNum'] == 1]

assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

## Assertion 2:  make sure each account, secid, vai only has one insertion
print('=======================================================================================')
print('2. same date, secid, vai, accCode: one insertion')
a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'accCode', 'secid', 'vai', 'order'])['clockAtArrival'].count()
if len(a[a > 1]) > 0:
    print('more than one insertion at same time')
    a = a[a>1].reset_index()
    display(a)
    orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                             np.where(orderLog['mse'] == 100, 1, 0), np.nan)
orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


### Assertion 3:  check IPO stocks selling status
print('=======================================================================================')
print('3. IPO stocks selling (ars = 301, 302)')
if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
    kk = orderLog[orderLog['ars'].isin([301, 302])]
    print(kk)
    try:
        assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
        print('we only sell, never buy')
    except:
        print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk[kk['orderDirection1'] == 1])
    kk1 = kk[kk['updateType'] == 0]
    kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
    kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
    kk1['diff'] = kk1['diff'].fillna(0)
    try:
        assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
        print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
    except:
        print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk1[kk1['diff'] < 10e6])
    kk2 = kk[(kk['updateType'] == 1)]
    try:
        assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
        print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
    except:
        print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(kk2[kk2['duration'] < 3e6])


### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
print('=======================================================================================')
print('4. updateType 7 orders')
if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
    assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().max() < 20)
    assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().sum() < 100)

### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
print('=======================================================================================')
print('5. updateType 6 orders')
k1 = orderLog[orderLog['updateType'] == 6].groupby('accCode')['order'].nunique().reset_index()
k2 = orderLog.groupby('accCode')['order'].nunique().reset_index()
k = pd.merge(k1, k2, on='accCode', how='left')
k['prob'] = k['order_x']/k['order_y']
try:
    assert(sum(k['prob'] >= 0.05) == 0)
except:
    print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
    print(k[k['prob'] >= 0.05])

### Assertion 6: check CYB orders, make sure CYB stocks total absOrderSize < 30w
print('=======================================================================================')
print('6. CYB stocks total order size < 30w')
try:
    assert(orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)]['absOrderSize'].max() <= 300000)
except:
    print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')


### Assertion 7:  make sure there is no unexpected updateType 
print('=======================================================================================')
print('7. unexpected updateType')
def getTuple(x):
    return tuple(i for i in x)

checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                     np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                               (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                               (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                     np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))

orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

### Assertion 8:  make sure status==0 got all traded
print('=======================================================================================')
print('8. status == 0: all traded')
a = orderLog[orderLog['status'] == 0]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in total trade, any fill != total cases')
display(a[a['filled'] != a['total']])
if a[a['filled'] != a['total']].shape[0] > 0:
    removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

### Assertion 9:  make sure status==1 got partial traded
print('=======================================================================================')
print('9. status == 1: partial traded')
a = orderLog[orderLog['status'] == 1]
a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
a.columns = ['order', 'filled', 'total']
print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
    removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

### Assertion 10: make sure no cancellation within 1 sec
print('=======================================================================================')
print('10. no cancellation within 1 sec')
a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
print('any cancellation within 1 sec')
display(a)
if a.shape[0] > 0:
    removeOrderLs = a['order'].unique()
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


### Assertion 11: make sure no order has shares > 80w or notional > 800w
print('=======================================================================================')
print('11. Orders with size > 80w or notional > 800w')
orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
    print('some order quantity are > 80w')
    print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                         'orderNtl', 'orderDirection', 'clock', 'order']])

if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
    print('some order ntl are > 800w')
    print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
    display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                      'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                      "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
orderLog["ars"] = orderLog.groupby(['order'])['ars'].transform('first')

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

             date  accCode    secid      vai  orderDirection   order
95151    20200925     9741  1603655  3241444              -1   53144
95154    20200925   522501  1603655  3241444               1   65503
95157    20200925   527601  1603655  3241444               1   71208
95160    20200925   527701  1603655  3241444               1   72402
95163    20200925   528101  1603655  3241444               1   73160
95166    20200925   529001  1603655  3241444               1   76775
95169    20200925   529101  1603655  3241444               1   77744
95172    20200925   975602  1603655  3241444              -1   82873
165567   20200925     5290  2002208  1097300              -1   21075
165570   20200925     5474  2002208  1097300               1   26038
212569   20200925     6623  2002791  2157330               1   31744
212572   20200925     6627  2002791  2157330               1   33306
212577   20200925     6683  2002791  2157330               1   35398
212581   20200925     8854  2002791  2157330              -1   37265
324596   20200925     5290  2300738   694919               1   23059
324599   20200925     5474  2300738   694919              -1   27366
324602   20200925     9756  2300738   694919               1   62336
329015   20200925     6683  2300766  1542201              -1   36484
329019   20200925     8854  2300766  1542201               1   37567
479088   20200928     5291  2002250  5461738              -1  103239
479093   20200928     6678  2002250  5461738              -1  113064
479096   20200928   896702  2002250  5461738              -1  151583
479100   20200928   966301  2002250  5461738               1  152880
653534   20200929     8854  1600897  2356224               1  182595
653537   20200929     9551  1600897  2356224              -1  192122
787647   20200929     8854  2002933  1729059               1  183070
787650   20200929     9685  2002933  1729059              -1  193327
1033971  20200930     5275  2002677  1616000              -1  228516
1033975  20200930     5287  2002677  1616000              -1  232025
1033979  20200930     6623  2002677  1616000              -1  243864
1033983  20200930     6627  2002677  1616000              -1  244952
1033987  20200930     8854  2002677  1616000               1  247552
1033990  20200930     8865  2002677  1616000              -1  248129
1033994  20200930     9471  2002677  1616000              -1  256965
1371456  20201009     8854  2300423  4655660               1  314823
1371459  20201009     9471  2300423  4655660              -1  323610

=======================================================================================
2. same date, secid, vai, accCode: one insertion
more than one insertion at same time

        date  accCode    secid      vai   order  clockAtArrival
0   20200925     6683  2002712  1607100   35305               2
1   20200925     6683  2002712  2658160   35308               2
2   20200925     6683  2002880   723058   35505               2
3   20200925     6683  2300741  1222561   36454               2
4   20200925     9551  1603039   439053   49848               2
5   20200925     9551  1603489   519654   50157               3
6   20200925     9551  1603613  1103196   50294               2
7   20200925     9551  1603992  1052310   50549               2
8   20200925     9741  1603192   445733   52850               2
9   20200925     9741  1603322   517500   52986               2
10  20200925     9741  1603859   499800   53344               2
11  20200925     9741  1603991   296200   53456               2
12  20200925     9741  2002395   594669   53892               2
13  20200925     9741  2002395   595269   53893               2
14  20200925     9741  2002801  2085950   54242               2
15  20200925     9741  2002801  2086050   54243               2
16  20200925     9741  2002862   405050   54400               2
17  20200925     9741  2300483   324800   55243               2
18  20200925     9741  2300546   493350   55485               2
19  20200925     9741  2300553   182900   55527               2
20  20200925     9741  2300557   723881   55554               2
21  20200925     9741  2300583   713100   55637               2
22  20200925     9741  2300703  2981785   56028               2
23  20200925     9741  2300791   458221   56225               2
24  20200925     9756  2002395   595269   59700               2
25  20200925     9756  2002729   776600   59987               2
26  20200925     9756  2002801  2086050   60140               2
27  20200925     9756  2002862   405050   60332               2
28  20200925     9756  2300174   171900   60732               2
29  20200925     9756  2300546   493350   61580               2
30  20200925     9756  2300583   713100   61777               2
31  20200925     9756  2300791   458221   62567               2
32  20200925   975602  1603192   445733   82401               2
33  20200925   975602  1603297   462866   82550               2
34  20200925   975602  1603322   517500   82596               2
35  20200925   975602  1603722  1671500   82974               2
36  20200925   975602  1603991   296200   83388               2
37  20200928     5225  2002674    11500   85272               2
38  20200928     5273  2002674    11500   91890               2
39  20200928     6683  2002907   265800  114150               2
40  20200928     6683  2002933   209000  114200               2
41  20200928     6683  2300659   834484  114846               2
42  20200928     8854  1600990   747201  115273               2
43  20200928     9551  1603236   343054  126104               2
44  20200928     9551  1603610   673545  126397               2
45  20200928     9741  1603297   424393  128726               4
46  20200928     9741  1603580   340085  128868               2
47  20200928     9741  1603679   453940  128921               2
48  20200928     9741  1603991   324500  129173               2
49  20200928     9741  2002395   363100  129497               2
50  20200928     9741  2002718   488600  129630               2
51  20200928     9741  2300356  8516400  130270               2
52  20200928     9756  2002623   790700  134048               2
53  20200928     9756  2002715   284201  134133               2
54  20200928     9756  2300356  8516400  135148               2
55  20200928     9756  2300619   311016  135991               2
56  20200928     9756  2300756   206272  136484               2
57  20200928     9756  2300769   125300  136530               2
58  20200928   975602  1603029   369400  153965               2
59  20200928   975602  1603165   945620  154117               2
60  20200928   975602  1603297   424393  154256               3
61  20200928   975602  1603679   453940  154526               2
62  20200928   975602  1603991   324500  154817               2
63  20200929     8854  1603222   953100  182719               2
64  20200929     8854  2300762  2042771  183257               2
65  20200929     8854  2300799   401810  183270               2
66  20200929     9741  1603683  1362800  194534               2
67  20200929     9741  1603922   489800  194739               2
68  20200929     9741  2300550   616700  196285               2
69  20200929     9741  2300609   437100  196417               2
70  20200929     9741  2300609   744200  196429               2
71  20200929     9741  2300609   749400  196432               2
72  20200929     9741  2300727   531900  196739               2
73  20200929     9741  2300763   691520  196840               2
74  20200929   966301  1603659  2068856  214749               2
75  20200930     5225  2300705    30400  220156               2
76  20200930     9741  1603297   253000  260115               2
77  20200930     9741  1603726   610540  260359               2
78  20200930     9741  1603811   449140  260406               2
79  20200930     9741  2002735  1029020  261107               2
80  20200930     9741  2002802   340600  261210               2
81  20200930     9741  2300492   151700  262010               2
82  20200930     9741  2300522  1074820  262096               2
83  20200930     9741  2300681   468700  262521               2
84  20201009     5273  2300622    31500  293461               2

99.56% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled  total
7466     10620     100    900
8813     12543     300   3300
10730    15066     100   1100
14755    20204    1100   1700
20620    28292     100   4100
...        ...     ...    ...
237213  339868    3800  16900
238204  341279     620    800
238289  341418     700  18700
242615  347408     300   1100
242722  347568     576    600

[152 rows x 3 columns]

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [Unnamed: 0, clockAtArrival, caamd, secid, updateType, vai, ars, absFilledThisUpdate, orderDirection, absOrderSize, absOrderSizeCumFilled, orderPrice, tradePrice, date, accCode, mse, colo, orderSysId, internalId, tradeId, sdd, aaa, ApplSeqNum, mrm, mta, mrsb, mrss, mrv, mrb100, mra100, l4tr, clock, broker, colo_broker, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

In [3]:
orderLog['updateType1'] = orderLog.groupby(["order"])["updateType"].apply(lambda x: x.shift(-1))
order_list = orderLog[(orderLog["updateType"] == 0) & (orderLog["updateType1"] == 2)]["order"].unique()
checkLog = orderLog[orderLog["order"].isin(order_list)]
checkLog = checkLog.groupby("order").head(2)
checkLog['caa1'] = checkLog.groupby('order')['clockAtArrival'].transform('first')
checkLog['diff1'] = checkLog['clockAtArrival'] - checkLog['caa1']
re1 = checkLog[checkLog["updateType"] == 2].groupby(['exchange', 'colo', 'accCode'])['diff1'].describe().reset_index()
from IPython.display import display, HTML
for col in ['count','mean','min','25%','50%','75%','max']:
    re1[col] = re1[col].astype(int)
display(HTML(re1.groupby(['exchange', 'colo', 'accCode']).first().to_html()))

In [6]:
display(HTML(re1[re1['colo'] == 'zt_94_02'].groupby(['exchange', 'colo', 'accCode']).first().to_html()))