In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_snap1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_snap_spot\am_hq_snap_spot.txt", header=None)
am_snap1.columns = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
am_snap2 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_snap_level_spot\am_snap_level_spot.txt",header=None)
am_snap2.columns = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
am_snap2["time"] = am_snap2["OrigTime"] - 20190315000000000
am_snap2["SecurityID"] = am_snap2["SecurityID"].astype(int)
am_snap1["SecurityID"] = am_snap1["SecurityID"].astype(int)
am = pd.merge(am_snap2, am_snap1, on=['Date',"OrigTime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID"], how="outer")

pm_snap1 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_snap_spot\pm_hq_snap_spot.txt", header=None).iloc[:, :22]
pm_snap1.columns = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase"]
pm_snap2 = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_snap_level_spot\pm_snap_level_spot.txt",header=None)
pm_snap2.columns = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
pm_snap2["SecurityID"] = pm_snap2["SecurityID"].astype(int)
pm_snap1["SecurityID"] = pm_snap1["SecurityID"].astype(int)
pm = pd.merge(pm_snap2, pm_snap1, on=['Date',"OrigTime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID"], how="outer")
logSZ1 = pd.concat([am, pm]).sort_values(by=["SecurityID", "OrigTime"])
logSZ1 = logSZ1.rename(columns={"SecurityID":"StockID"})
logSZ1['time'] = (logSZ1['OrigTime'] - 20190315000000000).astype(int)

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_trade = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_trade_spot\am_hq_trade_spot.txt",header=None)
am_trade.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]
pm_trade = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_trade_spot\pm_hq_trade_spot.txt",header=None)
pm_trade.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]
TradeLogSZ1 = pd.concat([am_trade, pm_trade])[["ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum","OrigTime","SendTime","recvtime","dbtime",
                   "OfferApplSeqNum","TradePrice","TradeQty","ExecType","TransactTime"]]
TradeLogSZ1["TransactTime"] = TradeLogSZ1["TransactTime"] - 20190315000000000

In [3]:
pd.set_option("max_columns", 200)
TradeLogSZ1["time1"] = TradeLogSZ1["OrigTime"] - 20190315000000000 
TradeLogSZ1[TradeLogSZ1["time1"] != TradeLogSZ1["TransactTime"]]

Empty DataFrame
Columns: [ApplSeqNum, SecurityID, SecurityIDSource, BidApplSeqNum, OrigTime, SendTime, recvtime, dbtime, OfferApplSeqNum, TradePrice, TradeQty, ExecType, TransactTime, time1]
Index: []

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm

am_order = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\am_hq_order_spot\am_hq_order_spot.txt",header=None)
am_order.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "Price",
                   "OrderQty","TransactTime","Side","OrderType","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
pm_order = pd.read_table(r"\\192.168.10.30\Kevin_zhenyu\exchange data\LEVEL2_shenzhen\0315\pm_hq_order_spot\pm_hq_order_spot.txt",header=None)
pm_order.columns = ["Date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "Price",
                   "OrderQty","TransactTime","Side","OrderType","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
OrderLog1 = pd.concat([am_order, pm_order])[["TransactTime", "OrigTime","SendTime","recvtime","dbtime","ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]]
OrderLog1["TransactTime"] = OrderLog1["TransactTime"] - 20190315000000000

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
OrderLog1["time1"] = OrderLog1["OrigTime"] - 20190315000000000 
OrderLog1[OrderLog1["time1"] != OrderLog1["TransactTime"]]

Empty DataFrame
Columns: [TransactTime, OrigTime, SendTime, recvtime, dbtime, ApplSeqNum, Side, OrderType, Price, OrderQty, SecurityID, time1]
Index: []

In [6]:
OrderLog1.head(20)

,TransactTime,OrigTime,SendTime,recvtime,dbtime,ApplSeqNum,Side,OrderType,Price,OrderQty,SecurityID,time1
0,91500000,20190315091500000,20190315091500045,20190315091500061,20190315091500062,1,1,2,25.78,29100,300762,91500000
1,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,2,1,2,25.78,29000,300762,91500000
2,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,3,1,2,25.78,198700,300762,91500000
3,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,4,1,2,25.78,29300,300762,91500000
4,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,5,1,2,25.78,105500,300762,91500000
5,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,6,2,2,4.91,200,8,91500000
6,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,7,1,2,25.78,192100,300762,91500000
7,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,8,1,2,25.78,193000,300762,91500000
8,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,9,1,2,25.78,90600,300762,91500000
9,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,10,1,2,25.78,19700,300762,91500000
10,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,11,1,2,16.68,121200,2356,91500000
11,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,12,1,2,25.78,35200,300762,91500000
12,91500000,20190315091500000,20190315091500046,20190315091500061,20190315091500066,13,1,2,25.78,28800,300762,91500000
13,91500000,20190315091500000,20190315091500046,20190315091500062,20190315091500066,14,1,2,25.78,198000,300762,91500000
14,91500000,20190315091500000,20190315091500046,20190315091500062,20190315091500066,15,1,2,25.78,38800,300762,91500000
15,91500000,20190315091500000,20190315091500046,20190315091500062,20190315091500067,16,1,2,15.25,435500,803,91500000
16,91500000,20190315091500000,20190315091500046,20190315091500062,20190315091500067,17,1,2,25.78,193600,300762,91500000
17,91500000,20190315091500000,20190315091500046,20190315091500062,20190315091500067,18,1,2,25.78,19900,300762,91500000
18,91500000,20190315091500000,20190315091500046,20190315091500063,20190315091500067,19,1,2,15.25,408800,803,91500000
19,91500000,20190315091500000,20190315091500046,20190315091500063,20190315091500067,20,1,2,7.59,5300,2606,91500000