In [1]:
import pandas as pd
import numpy as np
import glob
import os
import pickle

startDate = '20190729'
endDate = '20190927'

readPath = r'K:\recordData\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

F1 = open("\\\\192.168.10.30\\Kevin_zhenyu\\index\\weight_table_IC.pkl", 'rb')
df1 = pickle.load(F1)

for i in dataPathLs:
    path = r'\\192.168.10.30\Kevin_zhenyu\record data' 
    os.mkdir(path + '\\' + os.path.basename(i).split('_')[1])
    
    logSZ = pd.read_csv(np.array(glob.glob(i + "\\mdLog_SZ***"))[0],
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    mdOrderLog = pd.read_csv(np.array(glob.glob(i + "\\mdOrderLog***"))[0],
                    encoding="utf-8").loc[:, ['clockAtArrival', 'TransactTime', 'sequenceNo', 'SecurityID', 'ApplSeqNum', 
                                              'Side', 'OrderType', 'Price', 'OrderQty']]
    mdTradeLog = pd.read_csv(np.array(glob.glob(i + "\\mdTradeLog***"))[0],
                    encoding="utf-8").loc[:, ['clockAtArrival', 'TransactTime', 'sequenceNo', 'SecurityID', "exchId", 'ApplSeqNum', 
                                              'ExecType', 'TradePrice', 'TradeQty', 'TradeMoney', 'BidApplSeqNum', 
                                              'OfferApplSeqNum']]
    logSH = pd.read_csv(np.array(glob.glob(i + "\\mdLog_SH***"))[0],
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    in_dex = [16, 300, 852, 905]
    logSH = logSH[logSH["StockID"].isin(in_dex)]
    logSZ["newID"] = logSZ["exchange"] + logSZ["StockID"].astype(str).apply(lambda x: x.rjust(6, '0'))
    da_te = os.path.basename(i).split('_')[1]
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:]
    logSZ = logSZ[(logSZ["newID"].isin(df1[df1["date"] == da_te]["ID"].unique())) & (logSZ["source"] == 4)]
    logSZ["ID"] = logSZ["StockID"] + 2000000
    logSH["ID"] = logSH["StockID"] + 1000000
    mdData = pd.concat([logSH, logSZ])
    mdData['time'] = mdData.time.str.slice(0, 2) + mdData.time.str.slice(3, 5) + mdData.time.str.slice(6, 8) + '000'
    mdData['time'] = mdData['time'].astype('int64')
    mdData['time'] = mdData.groupby(['ID'])['time'].cummax()
    mdData = mdData[(mdData["cum_volume"] > 0) & (mdData["time"] <= 150000000)]
    mdData = mdData.sort_values(by="sequenceNo").reset_index(drop=True)
    mdDataCols = ['clockAtArrival', 'time', 'sequenceNo', 'ID', 'cum_volume', 'cum_amount', 'close',
              'bid1p', 'bid2p', 'bid3p', 'bid4p', 'bid5p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
              'ask1p', 'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask1q', 'ask2q', 'ask3q', 'ask4q', 'ask5q', 'openPrice']
    mdData = mdData[mdDataCols]
    display(mdData.head(5))
    mdData.to_pickle(r"\\192.168.10.30\Kevin_zhenyu\record data" + '\\' + os.path.basename(i).split('_')[1] + '\\'
                    + 'mdLog_' + os.path.basename(i).split('_')[1] + '.pkl')
    
    mdOrderLog["newID"] = 'SZ' + mdOrderLog["SecurityID"].astype(str).apply(lambda x: x.rjust(6, '0'))
    mdOrderLog = mdOrderLog[mdOrderLog["newID"].isin(df1[df1["date"] == da_te]["ID"].unique())]
    mdOrderLog = mdOrderLog.rename(columns={"TransactTime": "time"})
    mdOrderLog["ID"] = mdOrderLog["SecurityID"] + 2000000
    mdOrderLog["OrderType"] = mdOrderLog["OrderType"].astype(str)
    mdOrderLogCols = ['clockAtArrival', 'time', 'sequenceNo', 'ID', 'ApplSeqNum', 'Side', 'OrderType', 'Price', 'OrderQty']
    mdOrderLog = mdOrderLog[mdOrderLogCols]
    display(mdOrderLog.head(5))
    mdOrderLog.to_pickle(r"\\192.168.10.30\Kevin_zhenyu\record data" + '\\' + os.path.basename(i).split('_')[1] + '\\'
                    + 'mdOrderLog_' + os.path.basename(i).split('_')[1] + '.pkl')
    
    mdTradeLog = mdTradeLog[mdTradeLog["exchId"] != 1]
    mdTradeLog["newID"] = 'SZ' + mdTradeLog["SecurityID"].astype(str).apply(lambda x: x.rjust(6, '0'))
    mdTradeLog = mdTradeLog[mdTradeLog["newID"].isin(df1[df1["date"] == da_te]["ID"].unique())]
    mdTradeLog = mdTradeLog.rename(columns={"TransactTime": "time"})
    mdTradeLog["ID"] = mdTradeLog["SecurityID"] + 2000000
    mdTradeLogCols = ['clockAtArrival', 'time', 'sequenceNo', 'ID', 'ApplSeqNum', 'ExecType', 
                      'TradePrice', 'TradeQty', 'TradeMoney', 'BidApplSeqNum', 'OfferApplSeqNum']
    mdTradeLog = mdTradeLog[mdTradeLogCols]
    display(mdTradeLog.head(5))
    mdTradeLog.to_pickle(r"\\192.168.10.30\Kevin_zhenyu\record data" + '\\' + os.path.basename(i).split('_')[1] + '\\'
                    + 'mdTradeLog_' + os.path.basename(i).split('_')[1] + '.pkl')

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564536318884921,92503000,1423377,2000008,24000,86880.00,3.62,3.61,3.60,3.59,...,3.63,3.64,3.65,3.66,76300,114300,108900,279100,209024,3.62
1,1564536318884978,92503000,1423379,2000012,8200,34440.00,4.20,4.20,4.19,4.18,...,4.23,4.24,4.25,4.26,47286,7000,97730,35700,16100,4.20
2,1564536318885014,92503000,1423383,2000028,3100,127844.00,41.24,41.12,41.06,41.04,...,41.26,41.29,41.32,41.33,100,800,2200,1200,500,41.24
3,1564536318885130,92503000,1423385,2000031,90516,639948.12,7.07,7.07,7.06,7.05,...,7.10,7.11,7.12,7.15,12900,25816,2000,2000,16000,7.07
4,1564536318885244,92503000,1423391,2000060,53700,235206.00,4.38,4.37,4.36,4.35,...,4.39,4.40,4.41,4.42,83500,51100,163400,133700,68600,4.38

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
168,1564535715811929,91500000,293949,2002517,169,1,2,31600,100
331,1564535715814105,91500000,294112,2002131,312,2,2,18000,553700
373,1564535715814154,91500000,294154,2002920,355,1,2,259100,300
389,1564535715814176,91500000,294170,2002517,371,1,2,34800,53100
528,1564535715815360,91500000,294309,2002407,386,2,2,151100,7500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
11,1564535715841956,91500020,298416,2002157,940,4,0,8000,0,0,915
36,1564535716087552,91500130,316250,2002482,5800,4,0,1200,0,5799,0
37,1564535716118071,91500140,318749,2300027,6449,4,0,7000,0,6235,0
49,1564535716351450,91500230,335676,2002372,11246,4,0,100,0,0,11244
54,1564535716409254,91500240,340372,2000536,12258,4,0,4200,0,0,12239

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564363518568228,92503000,1321217,2000006,1100,5885.0,5.35,5.35,5.33,5.32,...,5.39,5.40,5.41,5.42,2900,2700,18400,5100,6900,5.35
1,1564363518568239,92503000,1321219,2000012,7800,32994.0,4.23,4.23,4.22,4.21,...,4.26,4.27,4.28,4.29,15900,34600,9400,35636,56080,4.23
2,1564363518568321,92503000,1321224,2000027,30200,178180.0,5.90,5.90,5.89,5.88,...,5.93,5.94,5.95,5.96,23500,2100,2100,34700,9500,5.90
3,1564363518568630,92503000,1321234,2000078,108200,361388.0,3.34,3.34,3.33,3.32,...,3.36,3.37,3.38,3.39,40000,72300,12800,9000,10200,3.34
4,1564363518568660,92503000,1321238,2000156,26000,273260.0,10.51,10.50,10.48,10.45,...,10.52,10.53,10.54,10.55,24600,15000,7200,11300,31800,10.51

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
217,1564362915464626,91500000,269685,2002385,23,2,2,56800,1000
224,1564362915464636,91500000,269692,2300088,30,2,2,60700,1000
344,1564362915465809,91500000,269812,2000027,523,1,2,64900,12700
358,1564362915465916,91500000,269826,2000563,43,2,2,43700,1000
362,1564362915465920,91500000,269830,2002607,47,1,2,137500,400

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
16,1564362915502184,91500030,275839,2002131,680,4,0,100,0,679,0
17,1564362915503214,91500040,276039,2002373,2110,4,0,1800,0,0,2091
20,1564362915511478,91500050,277656,2300001,1294,4,0,1000,0,1293,0
26,1564362915643550,91500090,285709,2300115,3442,4,0,200,0,0,3429
27,1564362915657364,91500090,286614,2000536,4517,4,0,1200,0,0,4516

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564449918685942,92503000,1272810,2000008,3100,11222.0,3.62,3.62,3.61,3.60,...,3.64,3.65,3.66,3.67,222700,111000,373200,76800,49400,3.62
1,1564449918685959,92503000,1272811,2000021,21600,173232.0,8.02,7.98,7.96,7.95,...,8.04,8.05,8.06,8.07,26700,7300,1000,23900,4300,8.02
2,1564449918686324,92503000,1272863,2000078,2700,9072.0,3.36,3.35,3.34,3.33,...,3.37,3.38,3.39,3.40,9500,11100,13700,21200,11700,3.36
3,1564449918686332,92503000,1272865,2000090,2900,16617.0,5.73,5.71,5.70,5.69,...,5.75,5.76,5.78,5.79,5600,500,20200,4000,2156,5.73
4,1564449918686733,92503000,1273038,2000488,113400,601020.0,5.30,5.29,5.28,5.27,...,5.31,5.32,5.33,5.34,29100,31900,31300,38700,74500,5.30

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
36,1564449315638181,91500000,240819,2000878,38,1,2,103000,500
42,1564449315638411,91500000,240825,2300182,45,2,2,40000,5000
43,1564449315638412,91500000,240826,2002470,46,1,2,31400,1000
46,1564449315638417,91500000,240829,2300168,49,1,2,109100,1000
48,1564449315638426,91500000,240831,2300244,51,2,2,209500,9900

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
7,1564449315655020,91500050,242744,2000878,900,4,0,500,0,38,0
24,1564449316099848,91500190,275503,2000012,8112,4,0,100,0,7600,0
25,1564449316131896,91500200,277597,2300383,9326,4,0,100,0,9325,0
27,1564449316136360,91500210,278344,2300088,8804,4,0,50000,0,0,8802
36,1564449316221233,91500250,284115,2002470,10652,4,0,43000,0,0,10606

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564622719083433,92503000,1433410,2000025,17700,335946.0,18.98,18.97,18.96,18.90,...,18.99,19.10,19.19,19.20,5135,7300,500,545,500,18.98
1,1564622719083559,92503000,1433411,2000027,9500,56050.0,5.90,5.89,5.88,5.86,...,5.91,5.92,5.94,5.95,27400,2000,1000,6800,12200,5.90
2,1564622719093880,92503000,1433455,2000078,99800,336326.0,3.37,3.36,3.35,3.34,...,3.38,3.39,3.40,3.41,262200,74000,20000,62000,73700,3.37
3,1564622719093889,92503000,1433457,2000158,600,3198.0,5.33,5.32,5.31,5.30,...,5.36,5.41,5.42,5.45,7700,4000,20000,12500,18100,5.33
4,1564622719094079,92503000,1433466,2000426,210400,1062520.0,5.05,5.05,5.04,5.03,...,5.07,5.08,5.09,5.10,7100,28700,107700,49600,40300,5.05

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
187,1564622115985972,91500000,343392,2002273,189,2,2,126700,11000
298,1564622115987045,91500000,343505,2300009,300,2,2,162500,500
419,1564622115988308,91500000,343627,2000563,424,1,2,43100,1000
427,1564622115988363,91500000,343635,2002505,432,2,2,20700,5300
431,1564622115988387,91500000,343639,2002505,436,2,2,19000,10000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1564622115992565,91500010,344132,2000488,839,4,0,1000,0,800,0
1,1564622115992567,91500010,344134,2000488,841,4,0,1000,0,840,0
54,1564622115993563,91500020,344411,2000830,1039,4,0,500,0,1038,0
56,1564622115993612,91500010,344451,2002191,228,4,0,17600,0,0,225
71,1564622116010450,91500010,347904,2002948,221,4,0,1000,0,213,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564709119205555,92503000,1762853,2000008,218600,782588.0,3.58,3.57,3.56,3.55,...,3.59,3.60,3.61,3.62,139400,179900,108419,195400,41100,3.58
1,1564709119205560,92503000,1762854,2000009,398640,1853676.0,4.65,4.65,4.64,4.63,...,4.67,4.68,4.69,4.70,126040,190700,70400,7000,220860,4.65
2,1564709119205658,92503000,1762858,2000039,137800,1400048.0,10.16,10.15,10.14,10.13,...,10.18,10.19,10.20,10.22,8400,8000,82000,43120,10000,10.16
3,1564709119215865,92503000,1762861,2000061,50400,267624.0,5.31,5.31,5.30,5.29,...,5.34,5.35,5.36,5.37,106600,7900,4200,800,4300,5.31
4,1564709119215930,92503000,1762864,2000090,173000,935930.0,5.41,5.40,5.39,5.38,...,5.42,5.43,5.45,5.46,33052,290600,82000,122900,330380,5.41

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
134,1564708516166048,91500000,359838,2002640,139,2,2,70500,3000
159,1564708516166607,91500000,359863,2000008,165,2,2,39700,1200
166,1564708516166847,91500000,359870,2000008,172,2,2,36100,7300
194,1564708516167333,91500000,359898,2002344,200,2,2,45700,6000
199,1564708516167412,91500000,359903,2002074,205,2,2,132300,300

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
16,1564708516179473,91500010,361118,2002049,281,4,0,3000,0,279,0
17,1564708516184779,91500020,361982,2002195,1209,4,0,9000,0,1206,0
30,1564708516191579,91500040,363292,2000488,1328,4,0,5000,0,0,998
35,1564708516196882,91500010,364528,2002131,717,4,0,1000000,0,645,0
39,1564708516199242,91500010,364943,2300315,923,4,0,10100,0,903,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1564968319718471,92503000,1362293,2000009,95900,445935.0,4.65,4.64,4.63,4.62,...,4.66,4.67,4.68,4.69,36600,5760,34100,16600,2000,4.65
1,1564968319718512,92503000,1362296,2000025,10600,199386.0,18.81,18.81,18.74,18.73,...,18.92,18.93,18.99,19.11,1000,100,3000,100,2200,18.81
2,1564968319718596,92503000,1362300,2000039,36300,367719.0,10.13,10.12,10.10,10.09,...,10.15,10.20,10.21,10.22,52435,1200,1700,1000,2000,10.13
3,1564968319729312,92503000,1362366,2000089,227300,2172988.0,9.56,9.54,9.50,9.48,...,9.57,9.58,9.59,9.60,86900,7400,17461,15300,8500,9.56
4,1564968319729317,92503000,1362367,2000090,82900,449318.0,5.42,5.40,5.38,5.36,...,5.48,5.49,5.50,5.51,53750,600,1000,5800,5000,5.42

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
86,1564967716687987,91500000,342321,2002589,391,2,2,76900,200
92,1564967716688231,91500000,342327,2300168,1,2,2,94800,3000
93,1564967716688234,91500000,342328,2002482,2,2,2,58100,1200
115,1564967716688581,91500000,342350,2000581,23,2,2,175400,2000
116,1564967716688582,91500000,342351,2000559,24,2,2,56400,84600

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
2,1564967716695463,91500030,343377,2002131,695,4,0,100,0,694,0
3,1564967716697244,91500040,343747,2300168,927,4,0,8000,0,0,922
18,1564967716890677,91500100,358018,2000060,3477,4,0,3000,0,3223,0
25,1564967717182834,91500150,376914,2000778,7930,4,0,1200,0,7536,0
28,1564967717236575,91500170,380425,2000860,8858,4,0,100,0,0,8857

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565054719957781,92503000,1552754,2000012,94300,372485.0,3.95,3.93,3.92,3.91,...,3.96,3.98,3.99,4.00,63775,6600,8400,101245,19600,3.95
1,1565054719957790,92503000,1552756,2000021,132800,1035840.0,7.80,7.79,7.78,7.77,...,7.81,7.82,7.83,7.84,6500,9900,2400,1500,900,7.80
2,1565054719957855,92503000,1552761,2000039,150600,1472868.0,9.78,9.77,9.76,9.75,...,9.79,9.80,9.81,9.82,59700,131600,397800,2500,300,9.78
3,1565054719957922,92503000,1552766,2000062,20200,254520.0,12.60,12.53,12.52,12.51,...,12.62,12.68,12.70,12.72,17600,12800,1000,15700,4000,12.60
4,1565054719957936,92503000,1552768,2000078,164700,527040.0,3.20,3.20,3.19,3.18,...,3.22,3.23,3.24,3.25,100,20000,17198,5900,17300,3.20

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
67,1565054116865403,91500000,271463,2002936,205,1,2,47800,1000
114,1565054116866559,91500000,271511,2002131,5,1,2,16600,1000000
117,1565054116866568,91500000,271514,2002506,9,1,2,63200,300800
124,1565054116866584,91500000,271521,2000488,16,2,2,52900,1000
130,1565054116866598,91500000,271527,2000686,22,1,2,77100,4000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
11,1565054116877984,91500010,272973,2300315,352,4,0,10100,0,0,341
23,1565054116885340,91500010,274176,2002503,917,4,0,10100,0,0,902
34,1565054116900719,91500030,275935,2300266,810,4,0,55000,0,703,0
35,1565054116900720,91500030,275936,2000027,811,4,0,3000,0,0,799
37,1565054116900818,91500030,275976,2000975,851,4,0,1700,0,0,716

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565141120072666,92503000,1345571,2000021,19500,150345.00,7.71,7.70,7.69,7.68,...,7.72,7.74,7.75,7.76,1900,100,800,13200,500,7.71
1,1565141120072677,92503000,1345573,2000025,4765,85579.40,17.96,17.96,17.92,17.90,...,18.08,18.20,18.28,18.30,2000,200,500,1100,400,17.96
2,1565141120082828,92503000,1345578,2000062,11367,138222.72,12.16,12.16,12.15,12.13,...,12.19,12.20,12.25,12.30,98150,500,2700,300,1700,12.16
3,1565141120082839,92503000,1345580,2000078,18000,56880.00,3.16,3.15,3.14,3.13,...,3.17,3.18,3.19,3.20,5100,7000,53800,7200,31700,3.16
4,1565141120082854,92503000,1345581,2000089,91600,866536.00,9.46,9.46,9.45,9.44,...,9.48,9.49,9.50,9.51,8500,11000,13000,23400,300,9.46

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
14,1565140517026525,91500000,315773,2002131,16,1,2,16300,330000
15,1565140517026549,91500000,315774,2000878,17,2,2,104000,1000
17,1565140517026556,91500000,315776,2000552,19,2,2,24600,15000
23,1565140517026629,91500000,315782,2300002,27,1,2,32900,1500
28,1565140517026662,91500000,315787,2002129,32,2,2,123000,5600

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
6,1565140517046543,91500030,318298,2002512,889,4,0,23400,0,0,754
29,1565140517473416,91500170,349973,2300027,8660,4,0,7000,0,8078,0
44,1565140517555781,91500200,355374,2002916,9665,4,0,100,0,9608,0
59,1565140517702789,91500260,365052,2000988,12677,4,0,500,0,12647,0
61,1565140517718995,91500230,366345,2300244,10753,4,0,1000,0,10751,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565227520276646,92503000,1282329,2000006,1000,4950.0,4.95,4.95,4.90,4.88,...,4.97,4.98,4.99,5.00,5700,7200,900,1000,200,4.95
1,1565227520276744,92503000,1282332,2000021,13900,105362.0,7.58,7.57,7.56,7.55,...,7.59,7.60,7.61,7.62,3000,2200,1500,85100,6700,7.58
2,1565227520276763,92503000,1282335,2000039,18520,178347.6,9.63,9.63,9.61,9.60,...,9.65,9.66,9.67,9.68,500,500,5040,200,800,9.63
3,1565227520276836,92503000,1282343,2000400,2100,16548.0,7.88,7.88,7.86,7.85,...,7.91,7.92,7.94,7.95,29500,6300,6800,5000,4200,7.88
4,1565227520276841,92503000,1282344,2000401,42700,686616.0,16.08,16.07,16.05,16.03,...,16.09,16.10,16.11,16.12,20500,18000,1100,1200,15700,16.08

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
4,1565226917198807,91500000,284968,2000156,5,2,2,95500,5400
85,1565226917200005,91500000,285049,2000543,87,2,2,47000,13900
135,1565226917200774,91500000,285099,2002131,138,1,2,16000,1000000
151,1565226917200987,91500000,285115,2000877,155,1,2,86900,500
152,1565226917201003,91500000,285116,2000830,156,1,2,95800,1000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
2,1565226917207457,91500010,285522,2002131,564,4,0,100,0,562,0
3,1565226917207460,91500010,285523,2002131,565,4,0,100,0,563,0
4,1565226917207468,91500010,285525,2002131,567,4,0,100,0,566,0
13,1565226917214012,91500050,287109,2002056,1515,4,0,100,0,0,188
23,1565226917242234,91500020,292147,2000750,1009,4,0,1000,0,1008,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565313920403052,92503000,1341318,2000008,114208,403154.24,3.53,3.53,3.52,3.51,...,3.55,3.56,3.57,3.58,27700,24100,63600,47500,130100,3.53
1,1565313920403063,92503000,1341319,2000012,6500,25675.00,3.95,3.95,3.94,3.92,...,3.97,3.98,3.99,4.00,56800,15200,16300,43800,37400,3.95
2,1565313920403158,92503000,1341322,2000025,6905,125325.75,18.15,18.15,18.10,18.06,...,18.30,18.35,18.36,18.37,200,5000,100,500,600,18.15
3,1565313920403165,92503000,1341323,2000027,26300,147017.00,5.59,5.57,5.56,5.55,...,5.60,5.61,5.62,5.63,5700,7100,8350,3300,3300,5.59
4,1565313920403173,92503000,1341324,2000028,1000,40200.00,40.20,40.15,40.12,40.11,...,40.22,40.25,40.27,40.31,5300,3300,400,1500,100,40.20

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
1,1565313317375824,91500000,331691,2002340,2,1,2,45600,3000
2,1565313317375828,91500000,331692,2000008,3,2,2,38800,500
4,1565313317375833,91500000,331694,2000750,5,1,2,49000,3000
9,1565313317375842,91500000,331699,2000078,10,1,2,30000,5000
11,1565313317375847,91500000,331701,2002948,12,1,2,57500,1000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
16,1565313317433391,91500020,340651,2002431,1864,4,0,6000,0,1863,0
18,1565313317468899,91500050,343355,2002507,2834,4,0,100,0,2828,0
19,1565313317530967,91500100,347509,2002371,3920,4,0,2300,0,3919,0
23,1565313317722572,91500130,358758,2000723,6723,4,0,3400,0,5236,0
32,1565313317868660,91500200,368775,2000012,8987,4,0,100,0,8978,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565573120995752,92503000,1157637,2000012,3200,12384.0,3.87,3.86,3.85,3.84,...,3.88,3.89,3.90,3.91,6780,24100,4900,43000,16800,3.87
1,1565573120995906,92503000,1157646,2000060,52600,214608.0,4.08,4.08,4.07,4.06,...,4.10,4.11,4.12,4.13,102800,5500,4400,106400,74563,4.08
2,1565573120995913,92503000,1157647,2000062,71900,892279.0,12.41,12.41,12.40,12.39,...,12.45,12.48,12.51,12.57,20000,5500,4100,1000,500,12.41
3,1565573120995943,92503000,1157649,2000066,97400,808420.0,8.30,8.30,8.29,8.28,...,8.32,8.33,8.35,8.36,2300,2400,1000,1000,1700,8.30
4,1565573120995991,92503000,1157653,2000158,7600,36404.0,4.79,4.79,4.78,4.76,...,4.84,4.85,4.86,4.88,15600,44700,25000,27200,2100,4.79

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
6,1565572517900296,91500000,270738,2300159,9,1,2,39000,1400
12,1565572517900356,91500000,270744,2000028,16,2,2,413500,500
26,1565572517900778,91500000,270758,2002266,30,2,2,44200,11000
45,1565572517900816,91500000,270777,2002807,49,2,2,44900,300
47,1565572517900820,91500000,270779,2000681,51,2,2,217500,100

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
7,1565572517914967,91500010,272438,2002463,158,4,0,15500,0,0,148
11,1565572517935985,91500030,275802,2002131,2260,4,0,100,0,2259,0
13,1565572517944051,91500040,277217,2002503,1040,4,0,400,0,0,789
16,1565572517959244,91500040,279052,2002157,1273,4,0,2100,0,1213,0
21,1565572518071195,91500080,285303,2002056,2451,4,0,200,0,2450,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565659521111702,92503000,1355591,2000012,38800,151320.0,3.90,3.90,3.89,3.88,...,3.93,3.94,3.95,3.96,105600,5000,10600,17000,24700,3.90
1,1565659521111847,92503000,1355600,2000061,29300,141226.0,4.82,4.81,4.80,4.79,...,4.83,4.84,4.85,4.86,200,15300,19900,33600,40000,4.82
2,1565659521111904,92503000,1355604,2000078,22100,68952.0,3.12,3.12,3.11,3.10,...,3.14,3.15,3.16,3.17,45500,59500,47000,47900,47950,3.12
3,1565659521112027,92503000,1355608,2000158,40500,196830.0,4.86,4.86,4.85,4.84,...,4.88,4.89,4.91,4.94,4600,600,59800,40700,1500,4.86
4,1565659521122856,92503000,1355621,2000513,6700,165155.0,24.65,24.65,24.61,24.59,...,24.69,24.71,24.72,24.73,1200,10000,15100,500,7300,24.65

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
34,1565658918073126,91500000,302010,2000750,2,2,2,52500,28000
50,1565658918073146,91500000,302026,2000750,18,2,2,51500,10000
55,1565658918073152,91500000,302031,2300315,23,1,2,33100,10000
72,1565658918073185,91500000,302048,2000998,40,2,2,132000,5000
85,1565658918073200,91500000,302061,2300182,57,2,2,35000,7900

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
4,1565658918108351,91500030,306217,2000012,880,4,0,92400,0,140,0
6,1565658918116836,91500040,307383,2300274,1003,4,0,20000,0,1000,0
9,1565658918118025,91500040,307772,2002463,1217,4,0,1400,0,0,1195
31,1565658918218832,91500080,316963,2000723,4000,4,0,43500,0,0,2325
61,1565658918447983,91500180,332286,2000012,7895,4,0,100,0,7802,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565745921303115,92503000,1497857,2000008,178300,616918.0,3.46,3.46,3.45,3.44,...,3.48,3.49,3.50,3.51,24100,58300,115800,102800,84100,3.46
1,1565745921303143,92503000,1497862,2000025,243790,4705147.0,19.30,19.30,19.24,19.21,...,19.50,19.59,19.60,19.63,200,5700,1100,900,2100,19.30
2,1565745921313423,92503000,1497884,2000400,10600,83740.0,7.90,7.89,7.88,7.87,...,7.91,7.92,7.94,7.95,3800,6700,11000,9000,10000,7.90
3,1565745921313665,92503000,1497889,2000488,94800,454092.0,4.79,4.78,4.77,4.76,...,4.80,4.81,4.82,4.83,76850,40200,402700,48000,33200,4.79
4,1565745921313790,92503000,1497892,2000536,772100,2192764.0,2.84,2.83,2.82,2.81,...,2.85,2.86,2.87,2.88,18943,193500,63700,125100,186400,2.84

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
2,1565745318237633,91500000,275107,2002463,3,2,2,198200,99000
8,1565745318237734,91500000,275113,2000980,9,2,2,40400,7200
19,1565745318237999,91500000,275124,2002155,23,1,2,91800,500
24,1565745318238040,91500000,275129,2000066,28,1,2,85500,5000
34,1565745318238154,91500000,275139,2002299,40,2,2,283400,800

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1565745318243856,91500020,275740,2002818,626,4,0,2000,0,625,0
3,1565745318248443,91500010,276520,2300308,205,4,0,1000,0,204,0
20,1565745318272002,91500020,280186,2000975,1871,4,0,5300,0,0,1793
31,1565745318298505,91500070,284301,2300168,1861,4,0,1500,0,1859,0
35,1565745318503971,91500140,295425,2002358,4725,4,0,700,0,0,1640

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565832321455799,92503000,1660919,2000008,422200,1435480.0,3.40,3.39,3.38,3.37,...,3.41,3.42,3.43,3.44,13300,330600,97100,10400,118900,3.40
1,1565832321455812,92503000,1660920,2000009,387962,1629440.4,4.20,4.20,4.19,4.18,...,4.22,4.23,4.24,4.25,4400,95000,6000,23080,23500,4.20
2,1565832321455816,92503000,1660921,2000012,155940,601928.4,3.86,3.86,3.85,3.84,...,3.88,3.89,3.90,3.91,10000,14500,180910,128900,232260,3.86
3,1565832321466491,92503000,1660927,2000060,208800,847728.0,4.06,4.06,4.05,4.04,...,4.09,4.10,4.11,4.12,71900,41600,136500,400,39000,4.06
4,1565832321466500,92503000,1660928,2000061,45200,211536.0,4.68,4.67,4.66,4.65,...,4.70,4.71,4.75,4.78,52100,10700,8600,1029,141,4.68

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
0,1565831718415537,91500000,316568,2000932,1,1,2,45200,44400
7,1565831718415607,91500000,316575,2002916,8,2,2,1293000,800
12,1565831718415680,91500000,316580,2002701,13,1,2,44300,180000
18,1565831718415711,91500000,316586,2000932,19,1,2,45200,662000
26,1565831718415808,91500000,316594,2000488,27,2,2,47900,1000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
10,1565831718435954,91500040,318599,2000156,1255,4,0,1200,0,1105,0
11,1565831718435965,91500040,318601,2000975,1257,4,0,500,0,0,1142
12,1565831718435965,91500040,318602,2002463,1258,4,0,400,0,0,1143
19,1565831718448702,91500050,320836,2000062,1565,4,0,42900,0,1564,0
22,1565831718465646,91500040,323087,2002195,1742,4,0,5800,0,1586,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1565918721653315,92503000,1438828,2000028,4400,177760.00,40.40,40.37,40.31,40.30,...,40.57,40.60,40.63,40.75,2000,1700,6500,300,400,40.40
1,1565918721653321,92503000,1438829,2000031,27500,177100.00,6.44,6.44,6.43,6.42,...,6.46,6.47,6.48,6.49,5200,30400,3100,4800,17900,6.44
2,1565918721653342,92503000,1438831,2000039,10500,100800.00,9.60,9.51,9.50,9.48,...,9.62,9.63,9.65,9.67,1100,12060,30000,2080,2700,9.60
3,1565918721653449,92503000,1438836,2000089,758583,7547900.85,9.95,9.95,9.94,9.93,...,9.99,10.00,10.04,10.05,132900,1500,11300,15000,48200,9.95
4,1565918721653504,92503000,1438840,2000156,14450,139876.00,9.68,9.68,9.63,9.62,...,9.77,9.80,9.83,9.85,10000,18800,11500,500,1000,9.68

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
48,1565918118599413,91500000,331174,2300168,50,2,2,91800,8000
59,1565918118599532,91500000,331185,2002839,61,2,2,57700,1400
178,1565918118600657,91500000,331304,2300168,180,1,2,112200,9600
192,1565918118600812,91500000,331318,2300168,195,1,2,112200,10500
214,1565918118601035,91500000,331340,2002268,219,2,2,249800,30200

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
3,1565918118615704,91500020,333051,2000008,592,4,0,2100,0,591,0
4,1565918118618953,91500020,333403,2000766,808,4,0,92600,0,805,0
17,1565918118687323,91500040,341906,2000066,2147,4,0,10000,0,2064,0
27,1565918118865332,91500100,353795,2000830,5353,4,0,5000,0,5350,0
29,1565918118917138,91500140,357582,2300182,6312,4,0,108500,0,6269,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566177922284518,92503000,1537144,2000012,610537,2454358.74,4.02,4.02,4.01,4.00,...,4.04,4.05,4.06,4.07,16000,98400,26854,27970,15600,4.02
1,1566177922284540,92503000,1537147,2000031,280200,1944588.00,6.94,6.91,6.90,6.68,...,6.95,6.96,6.97,6.98,15901,39700,11900,36300,87000,6.94
2,1566177922294942,92503000,1537654,2000060,277000,1149550.00,4.15,4.15,4.14,4.13,...,4.17,4.18,4.19,4.20,59300,62400,89300,188450,75400,4.15
3,1566177922295052,92503000,1537659,2000156,85600,850008.00,9.93,9.85,9.84,9.78,...,9.94,9.95,9.96,9.97,7500,32000,34600,1200,9000,9.93
4,1566177922295116,92503000,1537661,2000400,26900,213048.00,7.92,7.92,7.91,7.90,...,7.98,7.99,8.00,8.01,8600,3000,2000,17200,400,7.92

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
7,1566177319185502,91500000,270031,2300418,8,2,2,131700,1000
36,1566177319185851,91500000,270060,2002424,37,1,2,94400,998500
50,1566177319186027,91500000,270074,2002424,51,1,2,94400,256400
88,1566177319186362,91500000,270112,2000021,1,1,2,96800,100
89,1566177319186366,91500000,270113,2000021,2,1,2,96800,100

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
16,1566177319214750,91500030,274725,2000021,1910,4,0,15300,0,1909,0
18,1566177319217619,91500010,275003,2000006,244,4,0,890900,0,243,0
27,1566177319230785,91500030,277504,2000543,940,4,0,17000,0,0,939
31,1566177319234720,91500020,278679,2300199,1144,4,0,163800,0,1143,0
47,1566177319428451,91500110,290183,2002129,4169,4,0,200,0,4066,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566264322405242,92503000,1687609,2000027,367720,2301927.2,6.26,6.26,6.25,6.24,...,6.28,6.29,6.30,6.31,1100,5700,14800,56800,2500,6.26
1,1566264322405282,92503000,1687611,2000031,101900,683749.0,6.71,6.70,6.69,6.68,...,6.73,6.74,6.75,6.77,18215,76300,2100,1500,1000,6.71
2,1566264322405366,92503000,1687613,2000039,366500,3745630.0,10.22,10.21,10.20,10.18,...,10.23,10.24,10.25,10.26,31000,15700,13900,68280,600,10.22
3,1566264322415486,92503000,1687827,2000062,936100,13891724.0,14.84,14.83,14.81,14.80,...,14.85,14.86,14.87,14.88,7979,15500,23100,26000,106955,14.84
4,1566264322415617,92503000,1687830,2000158,27200,137904.0,5.07,5.07,5.03,5.02,...,5.09,5.10,5.11,5.12,1000,500,200,4800,54900,5.07

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
14,1566263719375609,91500000,294154,2000975,100,2,2,162000,4300
79,1566263719377670,91500000,294219,2002916,334,2,2,1147500,100
83,1566263719377765,91500000,294223,2300383,343,1,2,225800,700
85,1566263719377857,91500000,294225,2000878,349,2,2,102200,2500
90,1566263719378000,91500000,294230,2002340,361,1,2,44300,2000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
14,1566263719384904,91500020,295091,2002131,1176,4,0,100,0,1175,0
15,1566263719384909,91500020,295093,2002131,1178,4,0,100,0,1177,0
31,1566263719415912,91500040,300985,2300287,2286,4,0,100,0,2283,0
32,1566263719415913,91500040,300986,2300287,2287,4,0,300,0,2285,0
40,1566263719421925,91500030,302508,2000006,1281,4,0,100,0,80,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566350722618459,92503000,1592969,2000031,16270,107382.0,6.60,6.60,6.59,6.58,...,6.63,6.64,6.65,6.67,5000,2300,7900,800,1000,6.60
1,1566350722619757,92503000,1592974,2000008,6100,21655.0,3.55,3.54,3.53,3.52,...,3.56,3.57,3.58,3.59,39600,254400,363725,40000,143424,3.55
2,1566350722619763,92503000,1592975,2000021,12504500,133798150.0,10.70,10.69,10.68,10.67,...,10.71,10.72,10.73,10.74,135277,401700,53000,512600,7400,10.70
3,1566350722619824,92503000,1592976,2000025,292000,6006440.0,20.57,20.57,20.55,20.54,...,20.60,20.64,20.65,20.66,700,2000,100,900,6500,20.57
4,1566350722619851,92503000,1592981,2000060,222400,949648.0,4.27,4.27,4.26,4.25,...,4.29,4.30,4.31,4.32,303500,358300,68400,3300,19800,4.27

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
1,1566350119566382,91500000,353550,2000975,2,2,2,167100,4300
21,1566350119566557,91500000,353570,2000021,33,1,2,117200,734100
151,1566350119567843,91500000,353700,2000021,57,1,2,117200,997100
153,1566350119567864,91500000,353702,2000021,81,1,2,117200,298800
156,1566350119567895,91500000,353705,2000021,119,1,2,117200,94500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1566350119585336,91500010,355006,2002926,921,4,0,500,0,0,910
3,1566350119591654,91500020,355924,2002157,1020,4,0,4700,0,0,1014
12,1566350119594770,91500020,356324,2002916,1359,4,0,1200,0,0,1346
19,1566350119618219,91500050,360465,2000021,2092,4,0,100,0,1901,0
24,1566350119621657,91500020,361738,2002463,801,4,0,8500,0,0,791

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566437122894324,92503000,1599073,2000009,361600,1742912.0,4.82,4.80,4.79,4.78,...,4.83,4.84,4.85,4.86,41260,12900,11000,61300,8900,4.82
1,1566437122904849,92503000,1599102,2000078,684000,2476080.0,3.62,3.62,3.61,3.60,...,3.64,3.65,3.66,3.67,67000,71300,16400,97500,26430,3.62
2,1566437122904863,92503000,1599106,2000158,46400,234320.0,5.05,5.03,5.01,5.00,...,5.06,5.07,5.08,5.09,6300,31900,18700,2500,11500,5.05
3,1566437122904932,92503000,1599118,2000400,800,6496.0,8.12,8.12,8.07,8.06,...,8.14,8.15,8.16,8.17,7900,10000,3500,15000,2000,8.12
4,1566437122916924,92503000,1599154,2000528,23200,145232.0,6.26,6.26,6.25,6.24,...,6.28,6.29,6.30,6.31,10000,384200,16400,64000,372840,6.26

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
86,1566436519772741,91500000,360717,2000488,1,1,2,47600,1000
220,1566436519774132,91500000,360851,2000513,10,1,2,275000,1000
226,1566436519774144,91500000,360857,2002131,18,1,2,16800,1000000
234,1566436519774155,91500000,360865,2000025,27,2,2,220700,4000
237,1566436519774164,91500000,360868,2000686,30,2,2,77200,14

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
15,1566436519794018,91500010,364228,2000006,150,4,0,407600,0,149,0
25,1566436519804831,91500040,366430,2000089,1330,4,0,100,0,0,1264
53,1566436519850114,91500070,371632,2300459,2189,4,0,900,0,0,2187
64,1566436520006477,91500120,382388,2002665,5238,4,0,500,0,0,5237
71,1566436520143134,91500170,392240,2000012,7908,4,0,100,0,7905,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566523523016519,92503000,1526425,2000006,133200,737928.00,5.54,5.52,5.51,5.50,...,5.55,5.56,5.57,5.58,3700,84700,83100,54000,55900,5.54
1,1566523523016543,92503000,1526427,2000008,57700,201950.00,3.50,3.49,3.48,3.47,...,3.51,3.52,3.53,3.54,348000,989200,58600,356181,49700,3.50
2,1566523523016624,92503000,1526430,2000021,3895761,48735970.11,12.51,12.51,12.50,12.49,...,12.53,12.54,12.55,12.56,1500,4500,12500,37700,52100,12.51
3,1566523523027301,92503000,1526899,2000061,26000,137800.00,5.30,5.29,5.28,5.27,...,5.31,5.34,5.35,5.36,2300,11200,8000,12400,16000,5.30
4,1566523523027320,92503000,1526901,2000066,333100,3317676.00,9.96,9.95,9.93,9.92,...,9.97,9.98,9.99,10.00,44802,149900,110300,6500,65300,9.96

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
0,1566522919986101,91500000,296303,2002183,1,1,2,52000,11400
1,1566522919986108,91500000,296304,2000501,2,2,2,99900,10000
7,1566522919986146,91500000,296310,2000807,8,2,2,56800,1300
11,1566522919986177,91500000,296314,2002183,12,1,2,52000,100
16,1566522919986218,91500000,296319,2002505,18,1,2,17400,989800

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1566522919990191,91500010,296659,2000501,122,4,0,10000,0,0,2
16,1566522920015116,91500020,300838,2000937,895,4,0,90000,0,893,0
26,1566522920034696,91500060,304312,2000636,2626,4,0,400,0,0,2625
34,1566522920047156,91500020,306362,2002507,2104,4,0,20000,0,0,2066
36,1566522920058533,91500050,307516,2000519,2802,4,0,1800,0,2801,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566782723802661,92503000,1943659,2000021,3771243,47178249.93,12.51,12.51,12.50,12.49,...,12.53,12.54,12.55,12.56,1300,1000,2000,1900,8800,12.51
1,1566782723802665,92503000,1943660,2000025,275440,6065188.80,22.02,22.02,22.01,22.00,...,22.11,22.15,22.20,22.22,100,200,600,1100,1800,22.02
2,1566782723802797,92503000,1943666,2000008,153000,527850.00,3.45,3.44,3.43,3.42,...,3.46,3.47,3.48,3.49,138200,4200,8300,223100,61700,3.45
3,1566782723802806,92503000,1943667,2000012,175700,723884.00,4.12,4.11,4.10,4.09,...,4.13,4.14,4.15,4.16,5763,95130,95965,92650,30600,4.12
4,1566782723802837,92503000,1943669,2000027,89000,525100.00,5.90,5.89,5.88,5.87,...,5.91,5.92,5.93,5.94,48000,3000,64400,94818,82800,5.90

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
33,1566782120645754,91500000,355060,2002074,34,1,2,142800,174800
57,1566782120645997,91500000,355084,2000401,58,2,2,146300,96
85,1566782120646330,91500000,355112,2002049,87,1,2,475000,200
86,1566782120646338,91500000,355113,2002344,88,1,2,41800,1000
115,1566782120646571,91500000,355142,2002195,117,2,2,32700,55

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
1,1566782120650059,91500010,355616,2000028,465,4,0,400,0,0,441
2,1566782120650060,91500010,355617,2002366,466,4,0,2000,0,0,461
6,1566782120652569,91500010,355971,2000021,431,4,0,1500,0,0,425
7,1566782120652572,91500010,355972,2000025,432,4,0,800,0,0,426
18,1566782120687476,91500050,361679,2002157,1670,4,0,4100,0,0,1666

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566869124003478,92503000,1585476,2000021,1973800,24889618.0,12.61,12.61,12.60,12.59,...,12.63,12.64,12.65,12.66,11800,18000,31100,87600,72800,12.61
1,1566869124003482,92503000,1585477,2000025,108700,2500100.0,23.00,22.95,22.90,22.88,...,23.01,23.05,23.15,23.18,37150,600,2000,2300,1600,23.00
2,1566869124003509,92503000,1585480,2000012,66400,286848.0,4.32,4.31,4.30,4.29,...,4.33,4.34,4.35,4.36,79454,11919,37000,56500,9710,4.32
3,1566869124003520,92503000,1585483,2000027,57800,349112.0,6.04,6.04,6.03,6.02,...,6.06,6.07,6.08,6.09,4100,1600,200,3000,6300,6.04
4,1566869124015259,92503000,1585487,2000006,26900,145260.0,5.40,5.39,5.38,5.37,...,5.43,5.44,5.45,5.46,11300,34000,1400,37400,4300,5.40

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
42,1566868520859553,91500000,349734,2002129,156,1,2,104100,10100
61,1566868520860043,91500000,349753,2002503,212,2,2,23100,10000
66,1566868520860052,91500000,349758,2300383,217,1,2,165200,1000
67,1566868520860098,91500000,349759,2300459,221,1,2,23000,5000
73,1566868520860278,91500000,349765,2002509,239,2,2,17000,200

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1566868520866453,91500010,350377,2000066,142,4,0,690700,0,141,0
12,1566868520915901,91500070,358125,2000156,2021,4,0,5300,0,1498,0
13,1566868520915928,91500070,358143,2000156,2040,4,0,5500,0,1517,0
16,1566868520935860,91500090,362236,2002074,2740,4,0,400,0,2738,0
19,1566868520942511,91500090,363558,2000975,4254,4,0,1600,0,0,602

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1566955524214537,92503000,1697845,2000009,110200,543286.0,4.93,4.92,4.91,4.90,...,4.94,4.95,4.96,4.97,1600,175762,65030,33110,5100,4.93
1,1566955524214619,92503000,1697850,2000039,150600,1487928.0,9.88,9.87,9.86,9.85,...,9.89,9.90,9.91,10.00,35060,5300,81500,4900,22900,9.88
2,1566955524225928,92503000,1698842,2000006,58900,314526.0,5.34,5.34,5.33,5.32,...,5.36,5.37,5.38,5.39,200,5000,29300,3500,24900,5.34
3,1566955524225945,92503000,1698844,2000012,170800,731024.0,4.28,4.28,4.27,4.26,...,4.30,4.31,4.32,4.33,437,18004,8900,310,7100,4.28
4,1566955524225953,92503000,1698846,2000021,3313407,40754906.1,12.30,12.30,12.29,12.28,...,12.32,12.34,12.35,12.36,1200,24600,1100,5100,600,12.30

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
7,1566954921072103,91500000,329744,2002280,9,1,2,39200,999600
64,1566954921072673,91500000,329801,2002385,67,1,2,48200,1000
80,1566954921072829,91500000,329817,2300168,83,2,2,119800,1000
102,1566954921073021,91500000,329839,2002414,106,2,2,211000,3000
132,1566954921073285,91500000,329869,2000717,138,1,2,34600,100

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1566954921073681,91500010,329908,2000025,178,4,0,100,0,177,0
1,1566954921073707,91500010,329910,2000025,180,4,0,100,0,179,0
2,1566954921073758,91500010,329916,2000025,186,4,0,100,0,0,185
6,1566954921088477,91500040,331608,2002019,1499,4,0,1700,0,0,1498
14,1566954921096008,91500010,333274,2002709,294,4,0,9400,0,293,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567041924429844,92503000,1657635,2000012,7200,30456.0,4.23,4.23,4.22,4.21,...,4.25,4.26,4.27,4.28,10700,13100,18000,18700,21000,4.23
1,1567041924429866,92503000,1657638,2000027,35200,212256.0,6.03,6.03,6.02,6.01,...,6.05,6.06,6.07,6.08,76500,5300,28500,6000,7200,6.03
2,1567041924437618,92503000,1658103,2000008,58500,204165.0,3.49,3.49,3.48,3.47,...,3.51,3.52,3.53,3.54,64900,95100,56900,73400,54900,3.49
3,1567041924437640,92503000,1658106,2000025,35600,799932.0,22.47,22.44,22.43,22.41,...,22.48,22.49,22.50,22.51,6700,2900,1700,34300,12000,22.47
4,1567041924440769,92503000,1658111,2000006,34500,183885.0,5.33,5.32,5.31,5.30,...,5.35,5.36,5.37,5.38,1700,15800,25500,3800,9800,5.33

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
245,1567041321285690,91500000,308596,2002273,246,2,2,123400,100
344,1567041321286563,91500000,308695,2000156,345,2,2,100900,12000
380,1567041321286825,91500000,308731,2000564,383,1,2,25300,25700
395,1567041321286975,91500000,308746,2000636,398,1,2,132700,999000
426,1567041321287273,91500000,308777,2000600,432,1,2,56700,1200

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
28,1567041321421833,91500120,331395,2000766,6308,4,0,1300,0,6202,0
31,1567041321423008,91500120,331637,2300134,6453,4,0,600,0,6154,0
33,1567041321423016,91500120,331643,2000766,6461,4,0,1300,0,6169,0
34,1567041321423856,91500120,331758,2002019,6497,4,0,700,0,0,6215
36,1567041321426110,91500120,332302,2002373,5276,4,0,600,0,5142,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567128324651540,92503000,1844621,2000012,41000,174660.00,4.26,4.22,4.21,4.20,...,4.27,4.28,4.29,4.30,102866,31100,56000,54900,131500,4.26
1,1567128324651638,92503000,1844624,2000021,1182998,14278785.86,12.07,12.07,12.06,12.05,...,12.09,12.10,12.12,12.13,82600,800,500,13900,1000,12.07
2,1567128324651683,92503000,1844625,2000025,31500,697725.00,22.15,22.15,22.14,22.13,...,22.39,22.40,22.43,22.48,300,600,5700,500,100,22.15
3,1567128324651705,92503000,1844628,2000006,330400,1794072.00,5.43,5.42,5.41,5.40,...,5.44,5.46,5.47,5.48,3345,7000,700,3800,10500,5.43
4,1567128324651902,92503000,1844636,2000009,103800,498240.00,4.80,4.79,4.78,4.77,...,4.81,4.82,4.83,4.84,636,61600,69010,25600,150000,4.80

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
141,1567127721501660,91500000,338792,2000738,143,2,2,146400,20000
309,1567127721504516,91500000,338960,2000727,299,1,2,21600,500
316,1567127721504531,91500000,338967,2002797,306,2,2,64100,3000
339,1567127721505296,91500000,338990,2000008,329,2,2,34900,30000
349,1567127721505307,91500000,339000,2000008,339,2,2,38300,500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
17,1567127721679402,91500050,357283,2002407,1516,4,0,2900,0,0,1515
32,1567127721866633,91500270,381949,2002373,14074,4,0,800,0,0,14029
33,1567127721869775,91500270,382642,2000686,15462,4,0,2300,0,0,13710
43,1567127721908488,91500300,388831,2002439,15747,4,0,100,0,15745,0
67,1567127722050186,91500260,411151,2000536,13199,4,0,10000,0,11623,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567387525293367,92503000,1537189,2000012,33100,137365.0,4.15,4.14,4.13,4.12,...,4.16,4.17,4.18,4.19,45800,100,1897,10000,15000,4.15
1,1567387525304430,92503000,1537205,2000009,48720,225086.4,4.62,4.62,4.61,4.60,...,4.65,4.66,4.67,4.68,3000,10100,8000,2100,3200,4.62
2,1567387525304457,92503000,1537207,2000021,1479900,16130910.0,10.90,10.89,10.88,10.87,...,10.91,10.92,10.93,10.94,139100,17600,14100,35900,70500,10.90
3,1567387525304479,92503000,1537208,2000025,47000,991700.0,21.10,21.02,21.01,21.00,...,21.15,21.16,21.19,21.20,5100,800,2200,200,800,21.10
4,1567387525304487,92503000,1537210,2000031,235100,1495236.0,6.36,6.36,6.35,6.34,...,6.39,6.40,6.41,6.42,500,3000,6400,100,2400,6.36

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
25,1567386922145520,91500000,337580,2000426,2,1,2,63100,995500
29,1567386922145562,91500000,337584,2000426,6,1,2,63100,792300
31,1567386922145583,91500000,337586,2000426,8,1,2,63100,555700
32,1567386922145590,91500000,337587,2000426,9,1,2,63100,999700
33,1567386922145617,91500000,337588,2000426,10,1,2,63100,794000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
11,1567386922225768,91500050,351671,2300134,3804,4,0,100,0,0,3802
21,1567386922283374,91500120,361876,2002812,5196,4,0,4100,0,0,5194
35,1567386922383040,91500200,376695,2300001,9373,4,0,5500,0,0,9372
36,1567386922384057,91500200,376975,2300001,9386,4,0,2500,0,0,9378
37,1567386922384058,91500200,376976,2300001,9387,4,0,5500,0,0,9369

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567473925520375,92503000,1702418,2000006,61995,331673.25,5.35,5.35,5.34,5.33,...,5.37,5.40,5.42,5.43,3000,10000,8000,4000,9600,5.35
1,1567473925520382,92503000,1702419,2000009,61100,290225.00,4.75,4.75,4.74,4.73,...,4.77,4.78,4.79,4.80,61400,2520,27400,15300,27800,4.75
2,1567473925520416,92503000,1702424,2000028,6816,324850.56,47.66,47.66,47.62,47.58,...,47.81,47.92,47.98,48.05,37,300,15,400,15,47.66
3,1567473925531038,92503000,1702426,2000021,968600,10848320.00,11.20,11.19,11.18,11.17,...,11.21,11.22,11.24,11.25,151300,21600,18300,5000,51786,11.20
4,1567473925531042,92503000,1702427,2000025,8700,185484.00,21.32,21.32,21.30,21.21,...,21.34,21.40,21.47,21.48,1300,2300,2900,300,4000,21.32

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
16,1567473322364243,91500000,345200,2000488,17,2,2,48000,5000
62,1567473322364762,91500000,345246,2300450,65,2,2,327000,500
63,1567473322364766,91500000,345247,2000998,66,2,2,126700,500
85,1567473322364939,91500000,345269,2000727,89,2,2,23100,10000
87,1567473322364941,91500000,345271,2000563,91,1,2,41300,1500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
8,1567473322427462,91500050,355373,2000547,3118,4,0,500,0,0,3117
16,1567473322472581,91500080,362142,2300182,4773,4,0,152800,0,3696,0
18,1567473322477588,91500060,362644,2000547,3743,4,0,800,0,3740,0
24,1567473322508798,91500080,367675,2002340,4512,4,0,17500,0,4503,0
25,1567473322508800,91500080,367676,2002340,4513,4,0,15900,0,4501,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567560325727188,92503000,1765006,2000006,137300,742793.00,5.41,5.41,5.40,5.39,...,5.46,5.47,5.48,5.49,10600,3000,48000,1400,42900,5.41
1,1567560325727290,92503000,1765008,2000027,2400,14184.00,5.91,5.90,5.89,5.88,...,5.92,5.93,5.94,5.96,26601,100,2000,20600,40200,5.91
2,1567560325727329,92503000,1765013,2000008,107800,385924.00,3.58,3.57,3.56,3.55,...,3.59,3.60,3.61,3.62,32700,79500,122500,116100,35200,3.58
3,1567560325727352,92503000,1765016,2000028,2316,109129.92,47.12,47.12,47.01,46.98,...,47.20,47.30,47.38,47.40,7,300,7,500,900,47.12
4,1567560325727358,92503000,1765017,2000031,7700,49126.00,6.38,6.38,6.37,6.36,...,6.43,6.44,6.45,6.46,7100,1400,7500,20900,6600,6.38

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
13,1567559722586063,91500000,353076,2000488,14,1,2,46500,1000
23,1567559722586331,91500000,353086,2000401,25,2,2,144300,36
29,1567559722586439,91500000,353092,2002273,32,2,2,141800,20000
33,1567559722586475,91500000,353096,2000021,36,2,2,132900,7700
42,1567559722586580,91500000,353105,2000563,46,1,2,41400,2000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
1,1567559722594082,91500010,353904,2000488,595,4,0,1000,0,321,0
3,1567559722602035,91500010,355037,2000027,504,4,0,1000,0,283,0
10,1567559722634319,91500020,361002,2000988,1840,4,0,1000,0,0,1553
12,1567559722637487,91500010,361526,2002948,458,4,0,1000,0,266,0
21,1567559722673248,91500070,369413,2002385,3691,4,0,73000,0,3690,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567646725941575,92503000,1885778,2000009,185220,905725.80,4.89,4.89,4.88,4.87,...,4.91,4.92,4.93,4.94,13840,10300,11600,5000,78800,4.89
1,1567646725941586,92503000,1885780,2000028,16400,768176.00,46.84,46.80,46.66,46.65,...,46.89,46.98,46.99,47.00,2368,29,300,5400,200,46.84
2,1567646725952176,92503000,1885791,2000021,3411441,43734673.62,12.82,12.82,12.81,12.80,...,12.84,12.85,12.86,12.87,18100,4100,6200,5200,5300,12.82
3,1567646725952191,92503000,1885793,2000025,136300,3080380.00,22.60,22.58,22.55,22.52,...,22.65,22.68,22.70,22.71,34345,1000,4000,10600,700,22.60
4,1567646725952209,92503000,1885794,2000031,272465,1817341.55,6.67,6.67,6.66,6.64,...,6.69,6.70,6.71,6.72,400,15100,26200,31000,4200,6.67

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
9,1567646122799018,91500000,353950,2002505,10,1,2,19300,200
12,1567646122799044,91500000,353953,2002491,13,1,2,75500,500
30,1567646122799170,91500000,353971,2002273,32,2,2,128500,200
74,1567646122799673,91500000,354015,2002280,78,1,2,34600,2000
84,1567646122799737,91500000,354025,2002407,88,1,2,148000,15700

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
18,1567646122902786,91500080,371874,2002049,4832,4,0,100,0,0,4831
44,1567646122994015,91500170,385833,2002385,7847,4,0,300,0,4947,0
46,1567646122999510,91500180,386615,2000723,8000,4,0,74400,0,0,7800
52,1567646123074782,91500230,398126,2002941,10874,4,0,100,0,0,9171
55,1567646123077700,91500230,398636,2000581,10262,4,0,100,0,0,10261

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567733126160443,92503000,1775378,2000028,12600,589806.00,46.81,46.81,46.80,46.78,...,46.90,46.95,46.98,46.99,39,300,17,500,900,46.81
1,1567733126171201,92503000,1775383,2000008,339854,1237068.56,3.64,3.64,3.63,3.62,...,3.66,3.67,3.68,3.69,85500,117000,117700,60100,38800,3.64
2,1567733126171218,92503000,1775384,2000012,30520,131236.00,4.30,4.30,4.29,4.28,...,4.32,4.33,4.34,4.35,27500,6145,25500,20400,146892,4.30
3,1567733126171295,92503000,1775389,2000006,90100,498253.00,5.53,5.53,5.52,5.51,...,5.57,5.58,5.59,5.60,1800,10300,12400,10100,10900,5.53
4,1567733126171304,92503000,1775391,2000009,47300,230824.00,4.88,4.87,4.86,4.85,...,4.90,4.91,4.92,4.93,64000,5700,10400,8920,35800,4.88

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
28,1567732523016880,91500000,254901,2000729,29,2,2,65700,300
31,1567732523016901,91500000,254904,2000587,32,2,2,26000,11600
41,1567732523016990,91500000,254914,2000008,42,2,2,36400,100
135,1567732523017886,91500000,255008,2300274,139,1,2,138500,700
158,1567732523018176,91500000,255031,2002092,160,1,2,70800,400

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
1,1567732523024703,91500010,255907,2000006,455,4,0,100,0,454,0
2,1567732523027262,91500010,256107,2000878,545,4,0,1000,0,542,0
16,1567732523126301,91500080,272199,2000060,4053,4,0,2000,0,0,4032
18,1567732523127146,91500060,272531,2000008,3256,4,0,100,0,0,42
32,1567732523164175,91500140,279935,2002118,5779,4,0,500,0,4968,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1567992326829540,92503000,2020351,2000021,2127900,28726650.0,13.50,13.49,13.48,13.45,...,13.51,13.52,13.53,13.54,1214700,1700,94600,26600,38800,13.50
1,1567992326829564,92503000,2020354,2000039,41900,429894.0,10.26,10.25,10.21,10.20,...,10.27,10.28,10.29,10.30,2901,500,3400,8200,40800,10.26
2,1567992326840482,92503000,2020361,2000012,52200,225504.0,4.32,4.32,4.31,4.30,...,4.34,4.35,4.36,4.37,11700,14400,201204,18900,6800,4.32
3,1567992326840567,92503000,2020364,2000025,19220,438216.0,22.80,22.80,22.78,22.75,...,22.85,22.87,22.89,22.90,1000,1500,3100,6000,500,22.80
4,1567992326840572,92503000,2020365,2000031,67300,443507.0,6.59,6.58,6.57,6.56,...,6.60,6.62,6.63,6.64,2000,6500,3600,5000,7300,6.59

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
83,1567991723673540,91500000,367174,2000066,85,2,2,135400,6900
89,1567991723673594,91500000,367180,2002268,91,1,2,322000,50000
159,1567991723674134,91500000,367250,2002926,161,2,2,113300,1200
213,1567991723674517,91500000,367304,2002118,215,1,2,62600,100
292,1567991723675141,91500000,367383,2002509,295,1,2,17100,13100

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
32,1567991723741675,91500030,378215,2002131,2120,4,0,100,0,2119,0
33,1567991723754166,91500060,380985,2002941,3368,4,0,500,0,3029,0
52,1567991723846485,91500140,395456,2002157,6436,4,0,100,0,6435,0
62,1567991723898989,91500170,403265,2000988,9387,4,0,600,0,9385,0
68,1567991723928366,91500190,408022,2000581,9940,4,0,100,0,0,9938

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568078727034883,92503000,1886229,2000008,258700,952016.0,3.68,3.67,3.66,3.65,...,3.69,3.70,3.71,3.72,215900,235100,393047,71000,60900,3.68
1,1568078727034969,92503000,1886236,2000006,18000,100080.0,5.56,5.55,5.53,5.52,...,5.57,5.58,5.59,5.60,21500,23400,117600,21000,4200,5.56
2,1568078727034986,92503000,1886238,2000009,67300,333135.0,4.95,4.94,4.93,4.92,...,4.96,4.97,4.98,4.99,35120,75400,3100,26120,119540,4.95
3,1568078727035046,92503000,1886242,2000021,784500,10410315.0,13.27,13.26,13.25,13.24,...,13.28,13.29,13.30,13.31,209600,47300,19700,130500,328100,13.27
4,1568078727036829,92503000,1886249,2000025,24500,554435.0,22.63,22.62,22.60,22.58,...,22.65,22.68,22.70,22.71,3100,3300,3200,12500,190,22.63

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
63,1568078123881757,91500000,324019,2002266,64,1,2,58000,339600
72,1568078123881766,91500000,324028,2002266,73,1,2,58000,556600
137,1568078123881833,91500000,324093,2002266,138,1,2,58000,971100
154,1568078123881851,91500000,324110,2002233,155,1,2,104500,100
234,1568078123882274,91500000,324190,2002266,236,1,2,58000,124500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
9,1568078124033643,91500030,334516,2002373,1688,4,0,1100,0,61,0
14,1568078124050460,91500060,337448,2000807,3144,4,0,745900,0,3143,0
31,1568078124095197,91500120,346787,2002358,5916,4,0,5400,0,0,3612
35,1568078124107321,91500110,349221,2000998,5434,4,0,4300,0,0,5408
51,1568078124210945,91500240,370121,2000581,11602,4,0,100,0,0,11549

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568165127230457,92503000,1906530,2000012,113500,491455.0,4.33,4.32,4.31,4.30,...,4.34,4.35,4.36,4.37,3260,5800,38320,9400,48533,4.33
1,1568165127230509,92503000,1906532,2000021,766348,9962524.0,13.00,13.00,12.99,12.98,...,13.02,13.03,13.04,13.05,7700,8900,22400,13900,1300,13.00
2,1568165127230520,92503000,1906533,2000025,10045,226012.5,22.50,22.50,22.47,22.45,...,22.55,22.58,22.60,22.61,10000,2700,3500,3100,800,22.50
3,1568165127230537,92503000,1906535,2000031,29100,199626.0,6.86,6.86,6.85,6.83,...,6.89,6.90,6.91,6.92,2700,15500,12800,4200,900,6.86
4,1568165127230554,92503000,1906538,2000027,29200,178704.0,6.12,6.11,6.10,6.09,...,6.13,6.14,6.15,6.16,59500,51300,11100,42700,25700,6.12

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
146,1568164524085453,91500000,362578,2002512,143,2,2,55000,3000
175,1568164524085510,91500000,362607,2000598,174,2,2,49600,6400
176,1568164524085512,91500000,362608,2300459,175,1,2,26800,8000
178,1568164524085513,91500000,362610,2300088,177,1,2,78000,200000
199,1568164524085558,91500010,362631,2000930,204,2,2,73600,3500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
26,1568164524105392,91500010,365881,2002941,146,4,0,217600,0,5,0
47,1568164524181917,91500050,379879,2002507,3996,4,0,800,0,0,3994
49,1568164524184959,91500070,380413,2002407,4086,4,0,34700,0,4085,0
50,1568164524184960,91500070,380414,2002407,4087,4,0,62400,0,4084,0
65,1568164524261747,91500150,393321,2002384,7123,4,0,600,0,0,6528

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568251527418059,92503000,1756009,2000025,14100,314148.00,22.28,22.20,22.18,22.15,...,22.30,22.38,22.40,22.42,7045,2400,10000,700,2400,22.28
1,1568251527418063,92503000,1756010,2000028,11700,535275.00,45.75,45.71,45.70,45.65,...,45.76,45.98,45.99,46.08,2400,300,400,200,100,45.75
2,1568251527418075,92503000,1756012,2000031,28320,194558.40,6.87,6.87,6.85,6.84,...,6.89,6.90,6.91,6.92,100,4000,500,10000,6700,6.87
3,1568251527428939,92503000,1756052,2000027,4700,28858.00,6.14,6.13,6.11,6.10,...,6.15,6.16,6.17,6.18,16000,92500,19200,87100,75100,6.14
4,1568251527428991,92503000,1756055,2000066,434154,5505072.72,12.68,12.68,12.66,12.65,...,12.70,12.71,12.72,12.73,28500,47100,8100,26800,30300,12.68

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
16,1568250924276062,91500000,354424,2002463,17,2,2,286800,3200
32,1568250924276144,91500000,354440,2002665,33,2,2,38100,16300
45,1568250924276279,91500000,354453,2000519,46,1,2,93500,800
50,1568250924276330,91500000,354458,2000021,51,2,2,140900,20700
53,1568250924276399,91500000,354461,2002831,57,2,2,220000,11540

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
10,1568250924341518,91500060,365898,2000723,2772,4,0,500,0,2771,0
24,1568250924379138,91500100,373837,2000723,4245,4,0,500,0,0,111
34,1568250924423545,91500140,380708,2002463,5923,4,0,100,0,0,5829
37,1568250924495163,91500190,391799,2000829,9951,4,0,1500,0,9950,0
39,1568250924526654,91500200,396814,2000066,10839,4,0,500,0,0,10837

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568597128238724,92503000,1749040,2000006,40500,224775.0,5.55,5.53,5.51,5.50,...,5.56,5.57,5.58,5.59,21700,69300,20000,107500,7200,5.55
1,1568597128238816,92503000,1749042,2000025,26100,589338.0,22.58,22.51,22.38,22.30,...,22.59,22.60,22.63,22.64,17610,8500,28000,400,1600,22.58
2,1568597128238827,92503000,1749044,2000031,94200,665052.0,7.06,7.04,7.03,7.02,...,7.07,7.08,7.09,7.10,55200,1100,500,1300,1600,7.06
3,1568597128243242,92503000,1749052,2000021,694900,8825230.0,12.70,12.70,12.69,12.68,...,12.72,12.73,12.74,12.75,500,1200,100,300,16200,12.70
4,1568597128243381,92503000,1749054,2000008,185400,682272.0,3.68,3.67,3.66,3.65,...,3.69,3.70,3.71,3.72,36200,65800,72200,55600,32000,3.68

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
23,1568596525078343,91500000,280709,2000598,24,2,2,49900,5000
25,1568596525078375,91500000,280711,2000738,26,2,2,164900,1200
26,1568596525078377,91500000,280712,2000983,27,1,2,62300,30000
38,1568596525078504,91500000,280724,2000012,40,2,2,49300,100
43,1568596525078535,91500000,280729,2002217,45,2,2,66800,4800

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
1,1568596525081126,91500010,281001,2002254,323,4,0,123400,0,302,0
8,1568596525119424,91500010,286718,2000997,456,4,0,100,0,452,0
9,1568596525119425,91500010,286719,2002465,457,4,0,200,0,454,0
10,1568596525119511,91500010,286798,2000528,477,4,0,400,0,451,0
17,1568596525125250,91500020,287519,2002407,2348,4,0,1000,0,2339,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568683528426730,92503000,1764562,2000006,34400,189200.0,5.50,5.49,5.48,5.47,...,5.51,5.52,5.53,5.54,14500,28900,117600,54000,127000,5.50
1,1568683528426825,92503000,1764569,2000008,99200,364064.0,3.67,3.66,3.65,3.64,...,3.68,3.69,3.70,3.71,95400,189366,127300,298100,131800,3.67
2,1568683528430156,92503000,1764578,2000009,11100,53946.0,4.86,4.85,4.84,4.83,...,4.87,4.88,4.89,4.90,1160,125640,84520,7500,44900,4.86
3,1568683528430250,92503000,1764580,2000012,68500,319210.0,4.66,4.65,4.64,4.63,...,4.67,4.68,4.69,4.70,96646,2100,113810,19100,30540,4.66
4,1568683528430267,92503000,1764583,2000021,485600,6162264.0,12.69,12.68,12.67,12.66,...,12.70,12.71,12.73,12.75,33535,100900,2100,3000,1800,12.69

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
5,1568682925275545,91500000,361093,2002506,6,2,2,65000,2500
16,1568682925275559,91500000,361104,2002038,17,2,2,140000,100
19,1568682925275564,91500000,361107,2002831,20,2,2,198700,60
22,1568682925275721,91500000,361110,2002407,23,1,2,141000,5000
36,1568682925275908,91500000,361124,2000066,39,2,2,142400,1400

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
28,1568682925468388,91500140,393647,2000488,7704,4,0,500,0,4999,0
33,1568682925469705,91500150,393977,2000878,7776,4,0,10000,0,5082,0
36,1568682925502969,91500170,399111,2000766,8927,4,0,500,0,0,7657
40,1568682925541961,91500190,405436,2000581,10674,4,0,100,0,0,10666
47,1568682925601771,91500230,414522,2300308,12916,4,0,2800,0,0,10407

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568769928624283,92503000,1616883,2000009,31147,147013.84,4.72,4.72,4.71,4.70,...,4.74,4.75,4.76,4.77,3100,200,65600,22000,59500,4.72
1,1568769928624354,92503000,1616887,2000027,45400,270584.00,5.96,5.95,5.94,5.93,...,5.97,5.98,5.99,6.02,24300,12400,3300,3300,5500,5.96
2,1568769928624360,92503000,1616888,2000028,5400,244134.00,45.21,45.21,45.20,45.13,...,45.28,45.30,45.35,45.40,200,500,300,500,100,45.21
3,1568769928625219,92503000,1616891,2000008,141700,504452.00,3.56,3.56,3.55,3.54,...,3.58,3.60,3.61,3.62,3000,600,2300,115000,101800,3.56
4,1568769928625298,92503000,1616894,2000025,25369,570802.50,22.50,22.50,22.45,22.44,...,22.70,22.80,22.84,22.85,1200,500,4300,6000,10600,22.50

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
12,1568769325468750,91500000,337769,2000006,13,2,2,57600,1000
35,1568769325468848,91500000,337792,2002221,36,1,2,90600,876300
40,1568769325468898,91500000,337797,2002221,41,1,2,90600,331000
45,1568769325468951,91500000,337802,2002221,46,1,2,90600,200
52,1568769325468964,91500000,337809,2002221,53,1,2,90600,16200

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
28,1568769325576736,91500080,357172,2000988,4309,4,0,13000,0,4203,0
29,1568769325576752,91500080,357185,2000988,4322,4,0,13000,0,4248,0
31,1568769325600498,91500130,361090,2002221,5254,4,0,200,0,4716,0
36,1568769325660798,91500180,370565,2300134,7602,4,0,2000,0,0,7601
40,1568769325720458,91500210,379643,2300418,10308,4,0,100,0,0,10307

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568856328809399,92503000,1541923,2000006,500,2680.00,5.36,5.36,5.35,5.34,...,5.39,5.40,5.41,5.42,1300,11500,1600,12100,7400,5.36
1,1568856328809419,92503000,1541926,2000025,37400,811954.00,21.71,21.70,21.67,21.65,...,21.85,21.88,21.89,21.91,31965,5000,2000,500,6400,21.71
2,1568856328809425,92503000,1541927,2000031,24125,172011.25,7.13,7.13,7.12,7.11,...,7.16,7.17,7.18,7.19,25100,12600,2301,29700,21800,7.13
3,1568856328809459,92503000,1541928,2000039,960,9609.60,10.01,10.01,10.00,9.99,...,10.03,10.04,10.05,10.06,1300,16500,2040,1600,900,10.01
4,1568856328820228,92503000,1542410,2000008,46729,168224.40,3.60,3.60,3.59,3.58,...,3.62,3.63,3.64,3.65,6200,12900,111900,64700,146400,3.60

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
20,1568855725673412,91500000,310931,2002056,16,1,2,66700,400
25,1568855725673424,91500000,310936,2002665,21,1,2,33000,700
27,1568855725673432,91500000,310938,2002665,24,2,2,34200,11000
35,1568855725673454,91500000,310946,2000685,32,2,2,82300,20000
36,1568855725673455,91500000,310947,2002110,33,1,2,83600,10000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
9,1568855725715429,91500020,316754,2002317,1192,4,0,400,0,1170,0
15,1568855725752668,91500020,322481,2002920,1909,4,0,100,0,803,0
24,1568855725767343,91500060,325759,2002317,3489,4,0,900,0,3443,0
26,1568855725772201,91500060,326666,2000062,3356,4,0,200,0,3351,0
31,1568855725780725,91500060,328036,2002920,4300,4,0,100,0,4232,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1568942729022591,92503000,1751698,2000008,558900,2045574.0,3.66,3.66,3.65,3.64,...,3.68,3.69,3.70,3.71,42500,66100,53500,78600,3300,3.66
1,1568942729022700,92503000,1751700,2000028,6100,289445.0,47.45,47.45,47.30,47.27,...,47.55,47.67,47.75,47.80,700,1300,1100,1400,1000,47.45
2,1568942729022705,92503000,1751701,2000031,6300,44289.0,7.03,7.03,7.00,6.99,...,7.06,7.07,7.08,7.09,1500,3000,157900,7500,10000,7.03
3,1568942729022799,92503000,1751705,2000006,11900,63427.0,5.33,5.31,5.30,5.28,...,5.34,5.35,5.36,5.37,6600,22300,5600,10000,17300,5.33
4,1568942729022839,92503000,1751707,2000009,78600,370206.0,4.71,4.70,4.69,4.68,...,4.72,4.73,4.74,4.75,27530,2800,94600,22122,44218,4.71

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
88,1568942125863801,91500000,317660,2002373,89,1,2,204900,26800
151,1568942125864363,91500000,317723,2000685,152,2,2,82000,1400
167,1568942125864473,91500000,317739,2002373,168,1,2,204900,122000
184,1568942125864690,91500000,317756,2002217,185,1,2,63900,5000
235,1568942125865014,91500000,317807,2002463,237,2,2,278500,500

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
7,1568942125951999,91500050,327002,2002463,3349,4,0,1800,0,0,3348
8,1568942125953940,91500020,327376,2002266,1483,4,0,500,0,1481,0
9,1568942125953941,91500020,327377,2002266,1484,4,0,500,0,1479,0
14,1568942125977542,91500060,331590,2300207,3564,4,0,500,0,268,0
26,1568942126009335,91500080,338481,2002195,4439,4,0,30400,0,4429,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1569201929616336,92503000,1640391,2000028,9700,453475.0,46.75,46.75,46.71,46.70,...,47.05,47.10,47.15,47.19,215,100,1000,200,1700,46.75
1,1569201929616344,92503000,1640393,2000039,7600,75468.0,9.93,9.92,9.91,9.90,...,9.94,9.95,9.97,9.98,1100,6500,100,200,9400,9.93
2,1569201929617780,92503000,1640397,2000009,20900,98230.0,4.70,4.69,4.68,4.67,...,4.71,4.72,4.73,4.74,1100,12500,34578,4600,17000,4.70
3,1569201929627781,92503000,1640407,2000006,45500,242970.0,5.34,5.33,5.32,5.31,...,5.35,5.36,5.37,5.38,111900,45200,7900,6500,21700,5.34
4,1569201929627786,92503000,1640408,2000008,5715700,22805643.0,3.99,3.98,3.97,3.96,...,4.00,4.01,4.02,4.03,205545,775200,61300,121200,181400,3.99

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
27,1569201326473856,91500000,310201,2002273,28,2,2,149500,400
67,1569201326475487,91500000,310241,2000078,67,2,2,35700,6000
77,1569201326475500,91500000,310251,2000937,77,2,2,37600,200
101,1569201326475543,91500000,310275,2002509,101,1,2,14600,100
103,1569201326475546,91500000,310277,2300207,103,2,2,165000,1000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
16,1569201326511603,91500010,315143,2002607,467,4,0,100,0,403,0
25,1569201326537387,91500010,319180,2002920,842,4,0,100,0,749,0
29,1569201326547792,91500030,321758,2002131,2300,4,0,100,0,2299,0
30,1569201326547852,91500030,321794,2002607,2336,4,0,100,0,2310,0
33,1569201326556187,91500020,323533,2002463,2209,4,0,50400,0,284,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1569288329817498,92503000,1610735,2000031,43000,299280.0,6.96,6.96,6.95,6.94,...,6.98,7.00,7.01,7.03,600,19100,8700,400,4900,6.96
1,1569288329817528,92503000,1610737,2000039,5300,52258.0,9.86,9.82,9.80,9.78,...,9.87,9.88,9.89,9.90,5457,500,300,1000,6800,9.86
2,1569288329828537,92503000,1610743,2000009,61300,281980.0,4.60,4.58,4.57,4.56,...,4.61,4.62,4.63,4.64,957819,8900,3000,41500,3000,4.60
3,1569288329828598,92503000,1610750,2000008,1504900,5989502.0,3.98,3.98,3.97,3.96,...,4.00,4.01,4.02,4.03,47700,327100,25400,23600,385400,3.98
4,1569288329828603,92503000,1610751,2000012,16000,71840.0,4.49,4.49,4.48,4.47,...,4.52,4.53,4.54,4.55,5000,5727,17600,7200,5660,4.49

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
8,1569287726675412,91500000,354181,2002074,9,2,2,138600,1400
20,1569287726675447,91500000,354193,2000066,22,2,2,157700,14000
32,1569287726675510,91500000,354205,2300244,36,1,2,265000,5000
34,1569287726675516,91500000,354207,2002509,38,1,2,14300,100
44,1569287726676252,91500000,354217,2002242,1,1,2,261800,270900

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
4,1569287726691120,91500020,355555,2002512,783,4,0,400,0,0,779
5,1569287726691122,91500020,355556,2002509,784,4,0,700,0,0,778
6,1569287726691122,91500020,355557,2002699,785,4,0,400,0,0,780
11,1569287726703129,91500020,356397,2300026,906,4,0,1800,0,0,886
12,1569287726703767,91500020,356459,2300055,907,4,0,400,0,0,890

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1569374730016641,92503000,1651193,2000009,139700,639826.0,4.58,4.56,4.55,4.54,...,4.59,4.60,4.61,4.62,150610,18700,145788,120600,678500,4.58
1,1569374730016760,92503000,1651198,2000025,47700,1046061.0,21.93,21.90,21.86,21.85,...,21.94,21.96,21.97,21.98,9800,1500,6600,500,1000,21.93
2,1569374730016789,92503000,1651200,2000006,135400,723036.0,5.34,5.34,5.33,5.32,...,5.36,5.37,5.38,5.39,153800,31800,218600,9300,27600,5.34
3,1569374730016796,92503000,1651201,2000021,227500,2834650.0,12.46,12.45,12.44,12.43,...,12.47,12.48,12.49,12.50,9100,9900,55300,1100,52900,12.46
4,1569374730028762,92503000,1651212,2000008,581600,2233344.0,3.84,3.83,3.82,3.81,...,3.85,3.86,3.87,3.88,99000,184600,8300,2000,34800,3.84

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
13,1569374126875096,91500000,303727,2002509,15,1,2,17600,989800
23,1569374126875198,91500000,303737,2002463,25,2,2,299000,900
26,1569374126875237,91500000,303740,2002509,28,1,2,14400,100
32,1569374126875289,91500000,303746,2000738,34,2,2,145800,1000
35,1569374126875318,91500000,303749,2300253,37,2,2,162800,3800

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
32,1569374126985658,91500080,322383,2002273,4684,4,0,7000,0,4255,0
34,1569374126985706,91500080,322414,2002373,4464,4,0,7000,0,2823,0
35,1569374126986202,91500080,322546,2002489,4492,4,0,3000,0,4491,0
44,1569374127005048,91500080,325941,2002129,4043,4,0,3400,0,4042,0
48,1569374127068938,91500150,336915,2002505,7618,4,0,75400,0,2619,0

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1569461102527111,92503000,1540292,2000012,700,3045.0,4.35,4.34,4.33,4.32,...,4.37,4.38,4.39,4.40,2900,10000,25500,19200,7000,4.35
1,1569461102527163,92503000,1540299,2000009,73200,331596.0,4.53,4.52,4.51,4.50,...,4.56,4.58,4.59,4.60,24220,300,2400,54700,23792,4.53
2,1569461102527166,92503000,1540300,2000021,171384,2065177.2,12.05,12.05,12.04,12.03,...,12.07,12.08,12.12,12.13,600,100,1000,11700,5700,12.05
3,1569461102527204,92503000,1540304,2000066,1978700,28770298.0,14.54,14.53,14.52,14.51,...,14.55,14.56,14.57,14.58,40578,151200,21100,9362,16700,14.54
4,1569461102527211,92503000,1540305,2000025,21000,446670.0,21.27,21.25,21.24,21.23,...,21.28,21.32,21.35,21.40,63600,1000,2400,11005,1500,21.27

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
185,1569460499377009,91500000,324447,2002589,186,1,2,84700,5000
291,1569460499377923,91500000,324553,2000975,293,1,2,174900,102800
323,1569460499378245,91500000,324585,2000975,325,1,2,174900,114500
331,1569460499378330,91500000,324593,2000975,333,1,2,174900,11600
339,1569460499378397,91500000,324601,2000975,341,1,2,174900,171300

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
9,1569460499443275,91500030,336248,2002373,2248,4,0,16800,0,0,2242
10,1569460499443276,91500030,336249,2002373,2249,4,0,51200,0,0,2245
11,1569460499443277,91500030,336250,2002373,2250,4,0,15500,0,0,2246
12,1569460499443278,91500030,336251,2002373,2251,4,0,9800,0,0,2247
13,1569460499443279,91500030,336252,2002373,2252,4,0,21600,0,0,2241

,clockAtArrival,time,sequenceNo,ID,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,1569547502709591,92503000,1370135,2000031,41366,277565.86,6.71,6.71,6.70,6.68,...,6.78,6.79,6.80,6.81,600,1000,1000,10200,2200,6.71
1,1569547502720358,92503000,1370164,2000027,117000,684450.00,5.85,5.84,5.83,5.82,...,5.94,5.95,5.96,5.97,23500,5500,1000,5000,3000,5.85
2,1569547502720450,92503000,1370168,2000060,64900,262196.00,4.04,4.04,4.03,4.02,...,4.06,4.07,4.08,4.09,2850,367700,51830,96200,233200,4.04
3,1569547502720458,92503000,1370169,2000061,3300,17259.00,5.23,5.19,5.18,5.17,...,5.25,5.26,5.27,5.28,1500,11000,4000,8000,40500,5.23
4,1569547502720462,92503000,1370170,2000062,41227,606449.17,14.71,14.71,14.61,14.55,...,14.74,14.75,14.76,14.77,20900,600,2000,6600,15100,14.71

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,Side,OrderType,Price,OrderQty
19,1569546899577497,91500000,279144,2300115,21,2,2,149800,6300
27,1569546899577615,91500000,279152,2000975,29,2,2,128800,7700
39,1569546899577727,91500000,279164,2000878,41,2,2,101500,1000
45,1569546899577742,91500000,279170,2000021,47,2,2,117000,400
56,1569546899578171,91500000,279181,2000975,57,2,2,151000,9000

,clockAtArrival,time,sequenceNo,ID,ApplSeqNum,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
25,1569546899695363,91500090,299272,2000723,5148,4,0,500,0,5147,0
31,1569546899793922,91500180,315668,2002281,9490,4,0,2000,0,9112,0
35,1569546899806579,91500180,317815,2000158,9977,4,0,25900,0,0,4766
38,1569546899824589,91500200,320060,2000547,10152,4,0,300000,0,10151,0
42,1569546899862155,91500230,326632,2002440,11581,4,0,6800,0,0,11580