In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP
logSH = pd.read_csv(r'F:\data\20200812\logs_20200812_zt_88_03_day_88data\mdLog_SH_20200812_0849.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice"]]
logSH1 = pd.read_csv(r'F:\data\20200812\full_20200812_zt_70_01_day_7079\mdLog_SH_20200812_1359.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice"]]

# # 1. data format
print("new data source type: ")
print(logSH1["source"].unique())
print(logSH["time"].unique())
print(logSH1["time"].unique())

new data source type:
[25]
['08:49:30.000' '08:49:30.470' '08:49:31.370' ... '15:14:02.110'
 '15:14:02.000' '15:14:03.000']
['13:59:56' '13:59:57' '13:59:58' ... '15:19:46' '15:19:48' '15:19:49']

In [123]:
logSH1 = pd.read_csv(r'F:\data\20200813\full_20200813_zt_70_01_day_7079\mdLog_SH_20200813_1122.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice"]]
logSH1["time"] = logSH1["time"].apply(lambda x: int(x.replace(':', "").replace('.', ""))) * 1000

In [6]:
logSH["time"] = logSH["time"].apply(lambda x: int(x.replace(':', "").replace('.', "")))
logSH1["time"] = logSH1["time"].apply(lambda x: int(x.replace(':', "").replace('.', ""))) * 1000

display(logSH[(logSH["StockID"] == 600000) & (logSH["time"] >= 104000000) & (logSH["time"] <= 104500000) & (logSH['source'] == 23)])
display(logSH1[(logSH1["StockID"] == 600000) & (logSH1["time"] >= 104000000) & (logSH1["time"] <= 104500000)])

,clockAtArrival,sequenceNo,source,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
4737575,1597200025750325,105649521,23,600000,104002000,19924728,2.099857e+08,10.53,10.53,10.52,10.51,10.5,10.49,59200,49627,44100,288300,47400,10.54,10.55,10.56,10.57,10.58,87800,250529,109000,126200,287000,10.49
4740516,1597200028744357,105706822,23,600000,104005000,19925928,2.099984e+08,10.53,10.53,10.52,10.51,10.5,10.49,60000,50327,44100,288300,47400,10.54,10.55,10.56,10.57,10.58,34500,250529,109000,126200,287000,10.49
4743432,1597200031752017,105753110,23,600000,104008000,19926028,2.099994e+08,10.53,10.53,10.52,10.51,10.5,10.49,59900,50327,44100,288300,47400,10.54,10.55,10.56,10.57,10.58,34500,250529,109000,126200,287000,10.49
4746347,1597200034751188,105798113,23,600000,104011000,19927128,2.100110e+08,10.53,10.53,10.52,10.51,10.5,10.49,58800,110127,44100,288300,47400,10.54,10.55,10.56,10.57,10.58,35500,250529,109000,126200,287000,10.49
4749222,1597200037752107,105842859,23,600000,104014000,19928128,2.100215e+08,10.53,10.53,10.52,10.51,10.5,10.49,53000,110127,44100,288300,47400,10.54,10.55,10.56,10.57,10.58,35800,250329,109000,126200,287000,10.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5006818,1597200308322653,109742826,23,600000,104444000,20445855,2.154723e+08,10.53,10.53,10.52,10.51,10.5,10.49,39400,127200,301700,308100,43900,10.54,10.55,10.56,10.57,10.58,42973,253629,104600,125400,298000,10.49
5009649,1597200311319234,109784105,23,600000,104447000,20449255,2.155081e+08,10.53,10.53,10.52,10.51,10.5,10.49,36100,127200,301700,308100,43900,10.54,10.55,10.56,10.57,10.58,42773,253629,104600,125400,298000,10.49
5012292,1597200314265354,109826270,23,600000,104450000,20459655,2.156177e+08,10.53,10.53,10.52,10.51,10.5,10.49,34100,127200,301700,308100,43900,10.54,10.55,10.56,10.57,10.58,34673,213629,104600,125400,298000,10.49
5017875,1597200319939822,109906017,23,600000,104456000,20459655,2.156177e+08,10.53,10.53,10.52,10.51,10.5,10.49,34100,128700,301700,308100,43900,10.54,10.55,10.56,10.57,10.58,35473,213629,104600,125400,298000,10.49
5020726,1597200322935261,109947979,23,600000,104459000,20459955,2.156209e+08,10.53,10.53,10.52,10.51,10.5,10.49,33800,132200,301700,308100,43900,10.54,10.55,10.56,10.57,10.58,35473,213629,104600,125400,298000,10.49

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice]
Index: []

In [3]:
logSH1['time'].max()

104714000

In [98]:
logSH[~logSH["StockID"].isin(in_dex) & (logSH['source'] == 23)]['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique()

array([1, 2, 6, 7], dtype=int64)

In [7]:
logSH1['time'].min()

135956000

In [8]:
in_dex = [16, 300, 852, 905]
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH['source'] == 23) & (logSH['time'] >= 135956000)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", 'openPrice']
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]

# data1_1['openPrice'] = np.where(data1_1['cum_volume'] > 0, data1_1.groupby('StockID')['openPrice'].transform('max'), data1_1['cum_amount'])
for cols in ["cum_amount"]:
    data2_1[cols] = (data2_1[cols]*10).round(2) 
    data1_1[cols] = data1_1[cols].round(2)

test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    display(len(test[np.isnan(test["sequenceNo_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    display(n2-n1)
    print((n2-n1)/n1)

1667
1667
1544413
1544333
1620176
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange,time_y
0,10985372.0,1.597212e+15,194258385.0,23.0,601996,135956000.0,7900177,2.292667e+07,2.89,2.89,2.88,2.87,2.86,2.85,57952,195900,296000,206900,118600,2.90,2.91,2.92,2.93,2.94,125300,161100,523200,274200,141300,2.93,NaN,NaN,NaN,NaN,NaN,NaN
1,10985373.0,1.597212e+15,194258386.0,23.0,603035,135956000.0,30753970,4.551477e+08,15.38,15.37,15.36,15.35,15.33,15.32,5800,9800,1400,1500,4600,15.38,15.39,15.40,15.41,15.42,2500,19200,44700,31500,16000,14.56,NaN,NaN,NaN,NaN,NaN,NaN
3,10985376.0,1.597212e+15,194258389.0,23.0,601233,135956000.0,20933993,3.192298e+08,14.90,14.89,14.87,14.86,14.85,14.84,700,3200,9400,5800,5100,14.90,14.91,14.92,14.93,14.94,21100,25900,14800,10200,40600,15.15,NaN,NaN,NaN,NaN,NaN,NaN
4,10985377.0,1.597212e+15,194258390.0,23.0,600571,135956000.0,5914198,5.305818e+07,8.88,8.88,8.87,8.86,8.85,8.84,25800,40600,57100,38000,15700,8.89,8.90,8.91,8.92,8.93,3400,108100,29200,4400,2000,9.10,NaN,NaN,NaN,NaN,NaN,NaN
5,10985378.0,1.597212e+15,194258391.0,23.0,600818,135956000.0,2532542,2.992454e+07,11.73,11.69,11.68,11.67,11.66,11.65,2600,5700,12800,11900,15800,11.73,11.74,11.75,11.76,11.78,8700,4800,1300,1000,1000,12.05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544126,14323912.0,1.597216e+15,243803346.0,23.0,601086,150001000.0,44329073,3.063139e+08,6.91,6.91,6.90,6.89,6.88,6.87,18352127,57000,700,13000,9100,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,6.91,NaN,NaN,NaN,NaN,NaN,NaN
1544171,14324134.0,1.597216e+15,243803568.0,23.0,600209,150001000.0,6528000,3.583416e+07,5.45,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,5.45,5.46,5.47,5.48,5.49,1032711,41100,23100,31800,4000,5.74,NaN,NaN,NaN,NaN,NaN,NaN
1544212,14324262.0,1.597216e+15,243803696.0,23.0,688180,150001000.0,4005997,4.479805e+08,112.90,112.94,0.00,0.00,0.00,0.00,40037,0,0,0,0,112.94,0.00,0.00,0.00,0.00,40037,17820,0,0,0,115.00,NaN,NaN,NaN,NaN,NaN,NaN
1544227,14324280.0,1.597216e+15,243803714.0,23.0,601399,150001000.0,34436793,1.829526e+08,5.45,5.44,5.43,5.42,5.41,5.40,213860,65300,37900,65400,34200,5.45,0.00,0.00,0.00,0.00,803511,0,0,0,0,5.13,NaN,NaN,NaN,NaN,NaN,NaN
1544361,14324470.0,1.597216e+15,243809198.0,23.0,603129,150002000.0,2513321,2.357697e+08,92.28,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,92.28,92.29,92.38,92.40,92.49,32598,200,300,1000,100,101.00,NaN,NaN,NaN,NaN,NaN,NaN

0.04910797824157139

In [10]:
pd.set_option('max_columns', 200)
test[np.isnan(test["sequenceNo_x"]) & (test['time_y'] >= 145700000) & (test['bid2p'] != 0)]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange,time_y
3121773,NaN,NaN,NaN,NaN,600742,NaN,11444639,1.361709e+08,12.00,12.00,11.99,11.97,11.94,11.92,8028285,127300,800,14500,2300,12.00,0.0,0.000,0.000,0.00,479900,0,0,0,0,11.42,3506329.0,1.597302e+15,51403162.0,25.0,SH,150000000.0
3121774,NaN,NaN,NaN,NaN,600939,NaN,31651374,1.411801e+08,4.70,4.70,4.69,4.68,4.67,4.66,16428400,256800,345900,68600,1000,4.70,0.0,0.000,0.000,0.00,2224300,0,0,0,0,4.20,3506353.0,1.597302e+15,51405279.0,25.0,SH,150000000.0
3121775,NaN,NaN,NaN,NaN,600157,NaN,296667430,4.476988e+08,1.55,1.55,1.54,1.53,1.52,1.51,60447660,648900,615800,709900,1050900,1.55,0.0,0.000,0.000,0.00,2501600,0,0,0,0,1.41,3506362.0,1.597302e+15,51405288.0,25.0,SH,150000000.0
3121966,NaN,NaN,NaN,NaN,600313,NaN,131655277,6.378331e+08,5.02,5.02,5.01,5.00,4.99,4.98,23598218,123000,103700,28200,61600,5.02,0.0,0.000,0.000,0.00,39700,0,0,0,0,4.52,3506615.0,1.597302e+15,51405541.0,25.0,SH,150000000.0
3121967,NaN,NaN,NaN,NaN,601456,NaN,2538963,3.661185e+07,14.42,14.42,14.41,14.40,14.39,14.38,55158977,36900,43800,10400,7200,14.42,0.0,0.000,0.000,0.00,78670,0,0,0,0,14.42,3506620.0,1.597302e+15,51405546.0,25.0,SH,150000000.0
3121968,NaN,NaN,NaN,NaN,600166,NaN,182335824,5.255778e+08,2.95,2.95,2.94,2.93,2.92,2.91,42660700,4670300,582300,285200,336900,2.95,0.0,0.000,0.000,0.00,808600,0,0,0,0,2.80,3506622.0,1.597302e+15,51405548.0,25.0,SH,150000000.0
3121970,NaN,NaN,NaN,NaN,603809,NaN,6200112,1.584826e+08,25.96,25.96,25.95,25.90,25.88,25.81,502991,4300,3900,200,3000,25.96,0.0,0.000,0.000,0.00,4800,0,0,0,0,24.00,3506658.0,1.597302e+15,51413668.0,25.0,SH,150000000.0
3121971,NaN,NaN,NaN,NaN,603077,NaN,579469263,8.758387e+08,1.55,1.55,1.54,1.53,1.52,1.51,9093474,1664990,4184399,4256200,2198300,1.55,0.0,0.000,0.000,0.00,3304826,0,0,0,0,1.42,3506686.0,1.597302e+15,51415364.0,25.0,SH,150000000.0
3121972,NaN,NaN,NaN,NaN,601086,NaN,2711329,2.060610e+07,7.60,7.60,7.59,7.58,7.56,7.55,14518500,15700,21600,5400,2800,7.60,0.0,0.000,0.000,0.00,34200,0,0,0,0,7.60,3506690.0,1.597302e+15,51415368.0,25.0,SH,150000000.0
3122049,NaN,NaN,NaN,NaN,600071,NaN,22185509,3.036791e+08,14.19,14.19,14.18,14.16,14.08,14.07,1051192,3900,100,1000,100,14.19,0.0,0.000,0.000,0.00,162100,0,0,0,0,12.83,3507113.0,1.597302e+15,51442333.0,25.0,SH,150001000.0
3122050,NaN,NaN,NaN,NaN,600537,NaN,101122531,3.798967e+08,3.80,3.80,3.79,3.78,3.77,3.76,407620,108800,176100,130200,194700,3.80,0.0,0.000,0.000,0.00,241700,0,0,0,0,3.47,3507232.0,1.597302e+15,51445668.0,25.0,SH,150001000.0
3122052,NaN,NaN,NaN,NaN,600421,NaN,1433301,2.014917e+07,14.10,14.10,14.09,14.06,14.01,14.00,226199,100,2000,10900,7000,14.10,0.0,0.000,0.000,0.00,3500,0,0,0,0,13.71,3507273.0,1.597302e+15,51446811.0,25.0,SH,150001000.0
3122053,NaN,NaN,NaN,NaN,603167,NaN,77939059,1.117026e+09,14.53,14.53,14.52,14.51,14.50,14.49,458200,5400,3400,24600,4400,14.53,0.0,0.004,0.000,0.00,232400,0,200,0,0,12.95,3507314.0,1.597302e+15,51447080.0,25.0,SH,150001000.0
3122054,NaN,NaN,NaN,NaN,603555,NaN,7546094,1.463630e+07,1.94,1.94,1.93,1.92,1.91,1.90,320290,57000,43700,86900,35000,1.94,0.0,0.000,0.000,0.00,200,0,0,0,0,1.94,3507320.0,1.597302e+15,51447086.0,25.0,SH,150001000.0
3122055,NaN,NaN,NaN,NaN,600247,NaN,4535901,9.532895e+06,2.12,2.12,2.10,2.09,2.08,2.07,1447699,6500,300,2600,87900,2.12,0.0,0.000,0.000,0.00,6000,0,0,0,0,2.05,3507352.0,1.597302e+15,51450109.0,25.0,SH,150001000.0
3122056,NaN,NaN,NaN,NaN,600127,NaN,135500454,1.889616e+09,14.52,14.52,14.51,14.50,14.49,14.48,13820078,23900,49800,5800,13900,14.52,0.0,0.000,0.000,0.00,345100,0,0,0,0,13.11,3507375.0,1.597302e+15,51450365.0,25.0,SH,150001000.0
3122057,NaN,NaN,NaN,NaN,600462,NaN,9841168,2.043129e+07,2.12,2.11,2.10,2.09,2.08,2.07,262900,250000,25555,73800,81700,2.12,0.0,2.120,0.000,0.00,117700,117700,1118800,0,0,2.02,3507378.0,1.597302e+15,51450368.0,25.0,SH,150001000.0
3122058,NaN,NaN,NaN,NaN,600255,NaN,48340413,6.371835e+07,1.33,1.33,1.32,1.31,1.30,1.29,3576300,982595,678700,985200,915100,1.33,0.0,0.000,0.000,0.00,220400,0,0,0,0,1.26,3507383.0,1.597302e+15,51450373.0,25.0,SH,150001000.0
3122059,NaN,NaN,NaN,NaN,600226,NaN,70516476,8.171516e+07,1.17,1.17,1.16,1.15,1.14,1.13,7840024,1415900,813600,518200,1002800,1.17,0.0,0.000,0.000,0.00,6700,0,0,0,0,1.11,3507422.0,1.597302e+15,51452177.0,25.0,SH,150001000.0
3122060,NaN,NaN,NaN,NaN,603056,NaN,13592029,1.880324e+08,13.94,13.94,13.93,13.92,13.91,13.90,3319991,118100,6100,6300,72000,13.94,0.0,0.000,0.000,0.00,22500,0,0,0,0,13.89,3507499.0,1.597302e+15,51452254.0,25.0,SH,150001000.0
3122061,NaN,NaN,NaN,NaN,603267,NaN,6640933,4.266287e+08,65.41,65.41,65.40,65.39,65.38,65.37,120383,9580,1000,46700,700,65.41,0.0,65.370,0.000,0.00,3000,0,400,0,0,60.02,3507520.0,1.597302e+15,51452275.0,25.0,SH,150001000.0
3122062,NaN,NaN,NaN,NaN,600151,NaN,146111265,1.063119e+09,7.49,7.49,7.48,7.47,7.46,7.45,8768578,109900,14900,22691,16100,7.49,0.0,7.460,0.000,0.00,137850,0,84500,0,0,6.87,3507539.0,1.597302e+15,51452294.0,25.0,SH,150001000.0
3122063,NaN,NaN,NaN,NaN,600237,NaN,30280837,1.292107e+08,4.38,4.38,4.37,4.36,4.35,4.34,11845438,141800,36800,17100,1900,4.38,0.0,0.000,0.000,0.00,120100,0,0,0,0,3.96,3507562.0,1.597302e+15,51452317.0,25.0,SH,150001000.0
3122064,NaN,NaN,NaN,NaN,603009,NaN,28001980,2.083151e+08,7.49,7.49,7.48,7.47,7.46,7.45,1497515,420530,3300,9900,4200,7.49,0.0,0.000,0.000,0.00,64700,0,0,0,0,6.89,3507669.0,1.597302e+15,51453756.0,25.0,SH,150001000.0
3122065,NaN,NaN,NaN,NaN,603017,NaN,16791895,2.042207e+08,12.49,12.49,12.48,12.47,12.46,12.44,481080,34500,2200,40500,100,12.49,0.0,0.000,0.000,0.00,42600,0,0,0,0,11.36,3507677.0,1.597302e+15,51453764.0,25.0,SH,150001000.0
3122066,NaN,NaN,NaN,NaN,600856,NaN,19990600,3.401220e+07,1.71,1.71,1.70,1.69,1.68,1.67,346000,554400,151300,106300,195400,1.71,0.0,0.000,0.000,0.00,6700,0,0,0,0,1.61,3507685.0,1.597302e+15,51453772.0,25.0,SH,150001000.0
3122067,NaN,NaN,NaN,NaN,600083,NaN,6844103,3.639699e+07,5.42,5.42,5.41,5.40,5.39,5.38,1199600,2600,5400,3000,3500,5.42,0.0,5.420,0.000,0.00,800,0,698000,0,0,5.15,3507687.0,1.597302e+15,51453774.0,25.0,SH,150001000.0
3122068,NaN,NaN,NaN,NaN,603995,NaN,11354993,3.873704e+08,35.21,35.21,35.20,35.19,35.18,35.16,365800,11000,6100,3900,5400,35.21,0.0,0.000,0.000,0.00,5600,0,0,0,0,32.19,3507731.0,1.597302e+15,51453818.0,25.0,SH,150001000.0
3122069,NaN,NaN,NaN,NaN,600316,NaN,42010333,1.535944e+09,37.39,37.39,37.38,37.37,37.36,37.35,278397,197939,9061,2500,1000,37.39,0.0,37.390,0.001,0.00,53224,0,172270,190,0,33.90,3507751.0,1.597302e+15,51455728.0,25.0,SH,150001000.0
3122070,NaN,NaN,NaN,NaN,601952,NaN,76701279,1.127234e+09,14.93,14.93,14.92,14.91,14.90,14.89,884500,145300,14000,18400,11700,14.93,0.0,0.000,0.000,0.00,27400,0,0,0,0,13.61,3507839.0,1.597302e+15,51457264.0,25.0,SH,150001000.0
3122170,NaN,NaN,NaN,NaN,600078,NaN,27902321,1.439584e+08,5.29,5.29,5.28,5.27,5.26,5.25,8699339,7300,4100,1800,8400,5.29,0.0,5.230,5.240,5.25,103200,0,30800,15000,68500,4.80,3508105.0,1.597302e+15,51460422.0,25.0,SH,150001000.0
3122173,NaN,NaN,NaN,NaN,600470,NaN,12085947,3.934746e+07,3.32,3.32,3.31,3.30,3.29,3.28,620598,59100,87899,19900,27700,3.32,0.0,0.000,0.000,0.00,174600,0,0,0,0,3.18,3508275.0,1.597302e+15,51485226.0,25.0,SH,150002000.0
3122174,NaN,NaN,NaN,NaN,600108,NaN,283078884,1.139778e+09,4.10,4.10,4.09,4.08,4.07,4.06,4187658,888018,372600,87100,161000,4.10,0.0,0.000,0.000,0.00,260100,0,0,0,0,3.71,3508295.0,1.597302e+15,51487279.0,25.0,SH,150002000.0
3122175,NaN,NaN,NaN,NaN,600354,NaN,15449705,6.660257e+07,4.38,4.38,4.37,4.36,4.35,4.34,598500,102600,110800,53300,43102,4.38,0.0,0.000,0.000,0.00,21300,0,0,0,0,4.18,3508301.0,1.597302e+15,51487285.0,25.0,SH,150002000.0
3122176,NaN,NaN,NaN,NaN,600634,NaN,16516702,1.921308e+07,1.17,1.17,1.16,1.15,1.14,1.13,617364,285400,188800,169500,102000,1.17,0.0,0.000,0.000,0.00,7600,0,0,0,0,1.12,3508305.0,1.597302e+15,51487289.0,25.0,SH,150002000.0
3122177,NaN,NaN,NaN,NaN,600976,NaN,5316208,1.155111e+08,22.36,22.36,22.26,22.20,22.16,22.14,978600,11700,24600,1100,1100,22.36,0.0,0.000,0.000,0.00,2500,0,0,0,0,20.63,3508312.0,1.597302e+15,51487296.0,25.0,SH,150002000.0
3122180,NaN,NaN,NaN,NaN,688357,NaN,4865452,2.937418e+08,62.22,62.22,62.21,62.20,62.19,62.18,37438,7670,12289,200,1000,62.22,0.0,0.000,0.000,0.00,4780,0,0,0,0,56.00,3508502.0,1.597302e+15,51499289.0,25.0,SH,150002000.0

In [12]:
pd.set_option('max_columns', 200)
test[np.isnan(test["sequenceNo_x"]) & (test['openPrice'] != 0)]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange,time_y
2208159,NaN,NaN,NaN,NaN,603555,NaN,140900,2.733460e+05,1.94,1.94,1.93,1.90,1.88,1.85,3866500,16000,10000,30000,600,1.940,0.00,0.00,0.000,0.00,140900,0,0,0,0,1.94,156655.0,1.597282e+15,1740442.0,25.0,SH,92502000.0
2208160,NaN,NaN,NaN,NaN,601086,NaN,932075,7.083770e+06,7.60,7.60,7.59,7.58,7.57,7.55,18479625,3700,6800,1300,3500,7.600,0.00,0.00,0.000,0.00,932075,0,0,0,0,7.60,156714.0,1.597282e+15,1740501.0,25.0,SH,92502000.0
2208161,NaN,NaN,NaN,NaN,601456,NaN,711570,1.026084e+07,14.42,14.42,14.41,14.40,14.39,14.38,693558730,62400,109600,4900,4100,14.420,0.00,0.00,0.000,0.00,705800,0,0,0,0,14.42,156769.0,1.597282e+15,1741500.0,25.0,SH,92502000.0
2208162,NaN,NaN,NaN,NaN,600086,NaN,1134400,1.349936e+06,1.19,1.19,0.00,0.00,0.00,0.00,3226500,3223400,0,0,0,1.200,1.21,1.22,1.240,1.25,400,5300,11400,1600,52400,1.19,156804.0,1.597282e+15,1793578.0,25.0,SH,92502000.0
2208163,NaN,NaN,NaN,NaN,600234,NaN,900,1.007100e+04,11.19,11.19,11.16,11.15,11.11,11.10,1722200,2000,1500,1500,1000,11.190,0.00,0.00,0.000,0.00,900,0,0,0,0,11.19,156871.0,1.597282e+15,1793645.0,25.0,SH,92502000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2214364,NaN,NaN,NaN,NaN,601086,NaN,2479829,1.884670e+07,7.60,7.60,7.59,7.58,7.56,7.55,16114200,22200,28800,9700,5500,7.600,0.00,0.00,0.000,0.00,932075,0,0,0,0,7.60,2457012.0,1.597287e+15,60009378.0,25.0,SH,104711000.0
2214365,NaN,NaN,NaN,NaN,603167,NaN,56752413,8.094779e+08,14.53,14.53,14.52,14.51,14.50,14.49,3249341,14800,8600,5700,100,14.530,0.00,0.00,0.004,0.00,250600,0,0,200,0,12.95,2457684.0,1.597287e+15,60020801.0,25.0,SH,104712000.0
2214366,NaN,NaN,NaN,NaN,601456,NaN,2006582,2.893491e+07,14.42,14.42,14.41,14.40,14.39,14.38,307337558,37400,53400,7100,13000,14.420,0.00,0.00,0.000,0.00,705800,0,0,0,0,14.42,2457805.0,1.597287e+15,60023202.0,25.0,SH,104713000.0
2214367,NaN,NaN,NaN,NaN,600316,NaN,27786284,1.005368e+09,37.39,37.39,37.38,37.35,37.34,37.31,8196547,7200,5700,1300,3900,0.001,0.00,0.00,0.000,0.00,190,0,0,0,0,33.90,2457969.0,1.597287e+15,60025679.0,25.0,SH,104713000.0
2214368,NaN,NaN,NaN,NaN,600078,NaN,25610879,1.318367e+08,5.29,5.29,5.28,5.27,5.26,5.25,16693981,20000,4100,2800,5600,5.210,5.22,5.23,5.240,5.25,16800,26500,30800,15000,68500,4.80,2458347.0,1.597287e+15,60033300.0,25.0,SH,104714000.0

In [153]:
data2_1[data2_1['time'] >= 145700000]

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
2978407,3438863,1597301820123452,50945158,25,600608,SH,145700000,1565219,6.998381e+06,4.48,4.47,4.46,4.45,4.44,4.43,25100,20200,10500,83900,16500,4.48,4.49,4.50,4.51,4.52,22400,14700,56200,42000,25400,4.45
2978408,3438864,1597301820141784,50945203,25,600050,SH,145700000,476045508,2.520347e+09,5.31,0.00,0.00,5.28,5.27,5.26,0,0,1697900,1002200,1183200,0.00,0.00,5.33,5.34,5.35,0,0,4685700,6131238,12586653,5.23
2978409,3438865,1597301820141790,50945204,25,600130,SH,145700000,22896435,1.022036e+08,4.47,0.00,0.00,4.44,4.43,4.42,0,0,264400,70600,180700,0.00,0.00,4.49,4.50,4.51,0,0,77400,336100,99700,4.45
2978410,3438866,1597301820141792,50945205,25,600511,SH,145700000,31861576,1.319297e+09,41.02,0.00,0.00,41.00,40.99,40.98,0,0,15200,13700,47121,0.00,0.00,41.05,41.06,41.07,0,0,10000,6500,2200,41.76
2978411,3438867,1597301820141795,50945206,25,600601,SH,145700000,49939897,2.743644e+08,5.40,0.00,0.00,5.37,5.36,5.35,0,0,241100,628400,294300,0.00,0.00,5.42,5.43,5.44,0,0,118410,224600,17500,5.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042987,3508507,1597302002839030,51499294,25,688222,SH,150002000,829869,3.671412e+07,44.30,44.20,44.17,44.16,44.15,44.12,3819,2667,646,900,1500,44.30,44.31,44.32,44.33,44.34,9564,500,766,3000,2000,44.18
3042988,3508508,1597302002839033,51499295,25,688360,SH,150002000,1783684,8.939384e+07,50.28,50.27,50.26,50.25,50.24,50.23,453,3400,11920,2065,700,50.28,50.30,50.31,50.35,50.39,1407,725,3000,1200,6000,48.48
3042989,3508509,1597302002839036,51499296,25,688520,SH,150002000,1670243,1.197255e+08,71.12,71.12,71.10,71.09,71.08,71.07,4069,200,500,3128,1200,71.13,71.14,71.26,71.28,71.40,2500,2700,9700,300,400,72.00
3042990,3508510,1597302002839037,51499297,25,688050,SH,150002000,1277221,3.043572e+08,230.00,229.95,229.60,229.21,229.00,228.99,362,200,352,1000,200,230.00,230.35,230.48,230.49,230.50,86,5200,400,2800,200,243.69
3042991,3508511,1597302002839039,51499298,25,688586,SH,150002000,13906780,5.464950e+08,38.96,38.95,38.94,38.93,38.92,38.91,3055,20120,7945,12248,5851,38.96,38.97,38.98,38.99,39.00,20411,11701,26343,13128,11946,38.80

In [112]:
for i in test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] == 112237000.0)]['StockID'].unique():
    try:
        assert(data2_1[data2_1['StockID'] == i]['time'].max() < 112237000)
    except:
        print(data2_1[(data2_1['StockID'] == i) & (data2_1['time'] >= 112237000)])
        print(data1_1[(data1_1['StockID'] == i) & (data1_1['time'] >= 112237000)])

In [127]:
for i in test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] == 112257000.0)]['StockID'].unique():
    try:
        assert(data2_1[data2_1['StockID'] == i]['time'].min() > 112257000)
    except:
        print(data1_1[(data1_1['StockID'] == i) & (data1_1['time'] <= 112257000)])
        print(data2_1[(data2_1['StockID'] == i) & (data2_1['time'] <= 112257000)])

       index    clockAtArrival  sequenceNo  source  StockID       time  \
203  6788438  1597289002199182   120797039      23   600083  112257000

     cum_volume   cum_amount  close  bid1p  bid2p  bid3p  bid4p  bid5p  \
203     6297003  33431703.17   5.42   5.42   5.41    5.4   5.39   5.38

       bid1q  bid2q  bid3q  bid4q  bid5q  ask1p  ask2p  ask3p  ask4p  ask5p  \
203  1753700  98800  15800   6000  48100    0.0    0.0    0.0    0.0    0.0

     ask1q  ask2q  ask3q  ask4q  ask5q  openPrice
203      0      0      0      0      0       5.15
    index    clockAtArrival  sequenceNo  source  StockID exchange       time  \
88     88  1597288977903827        1955      25   600083       SH  112257000

    cum_volume   cum_amount  close  bid1p  bid2p  bid3p  bid4p  bid5p  \
88     6297003  33431703.17   5.42   5.42   5.41    5.4   5.39   5.38

      bid1q  bid2q  bid3q  bid4q  bid5q  ask1p  ask2p  ask3p  ask4p  ask5p  \
88  1753700  98800  15800   6000  48100   5.42    0.0    0.0    0.0    0.0

     ask1q  ask2q  ask3q  ask4q  ask5q  openPrice
88  698000      0      0      0      0       5.15
       index    clockAtArrival  sequenceNo  source  StockID       time  \
235  6788470  1597289002337742   120798785      23   600275  112257000

     cum_volume   cum_amount  close  bid1p  bid2p  bid3p  bid4p  bid5p  bid1q  \
235     9396300  31676086.51   3.34    0.0    0.0    0.0    0.0    0.0      0

     bid2q  bid3q  bid4q  bid5q  ask1p  ask2p  ask3p  ask4p  ask5p  ask1q  \
235      0      0      0      0   3.34   3.35   3.36   3.37   3.38   4600

     ask2q  ask3q  ask4q  ask5q  openPrice
235  22700  44900  51200  26000       3.46
     index    clockAtArrival  sequenceNo  source  StockID exchange       time  \
120    120  1597288978017456        2807      25   600275       SH  112257000

     cum_volume   cum_amount  close  bid1p  bid2p  bid3p  bid4p  bid5p  bid1q  \
120     9396300  31676086.51   3.34   3.34    0.0    0.0    0.0    0.0  11100

     bid2q  bid3q  bid4q  bid5q  ask1p  ask2p  ask3p  ask4p  ask5p  ask1q  \
120      0      0      0      0   3.34   3.35   3.36   3.37   3.38   4600

     ask2q  ask3q  ask4q  ask5q  openPrice
120  22700  44900  51200  26000       3.46

In [76]:
test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] != 104714000.0)].groupby('StockID')['time_x'].size().sort_values()

StockID
688600       1
688003       1
603991       1
603365       1
688081       1
603086       1
601952       1
688228       1
688369       1
600857       1
688021       1
600619       1
600665       1
688028       1
600508       1
600327       1
600530       1
603779       3
603818       3
600086       3
600255       7
603085       8
600416      16
600351      22
600083      23
600165      26
603555     107
600234     133
600634     187
600316     285
600078    1092
603167    1095
601086    1238
601456    1505
Name: time_x, dtype: int64

In [82]:
pd.merge(data2_1, test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] != 104714000.0)], on=["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q"]).shape[0]

16

In [80]:
test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] != 104714000.0) & (test['StockID'] == 601952)]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange,time_y
1047638,2435776.0,1.597284e+15,56945693.0,23.0,601952,100214000.0,47256472,6.881190e+08,14.91,14.91,14.89,14.88,14.86,14.85,1700,175100,74840,54100,31200,14.92,14.93,0.0,0.0,0.0,131071,2017845,0,0,0,13.61,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
data2_1[(data2_1['StockID'] == 601952) & (data2_1['time'] >= 100200000.0)].head(10)

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
1042066,1176197,1597284122297450,36883431,25,601952,SH,100202000,47040792,6.849029e+08,14.90,14.90,14.89,14.88,14.86,14.85,16580,175900,76640,54100,27200,14.91,14.92,14.93,0.00,0.0,28500,227551,1857545,0,0,13.61
1043440,1177685,1597284125291115,36914823,25,601952,SH,100205000,47080272,6.854914e+08,14.90,14.89,14.88,14.86,14.85,14.84,175900,75240,54100,27200,122600,14.90,14.91,14.92,14.93,0.0,920,10400,229051,2003745,0,13.61
1044864,1179198,1597284128324882,36939542,25,601952,SH,100208000,47196272,6.872217e+08,14.92,14.89,14.88,14.86,14.85,14.84,177100,75240,54100,27200,122600,14.91,14.92,14.93,0.00,0.0,1000,141471,2004545,0,0,13.61
1046238,1180670,1597284131292707,36984947,25,601952,SH,100211000,47212872,6.874692e+08,14.90,14.89,14.88,14.86,14.85,14.84,176000,74840,54100,31200,122600,14.90,14.91,14.92,14.93,0.0,14000,2800,135171,2007145,0,13.61
1047632,1182169,1597284134304432,37018660,25,601952,SH,100214000,47256472,6.881190e+08,14.91,14.91,14.89,14.88,14.86,14.85,1700,175100,74840,54100,31200,14.92,14.93,14.92,14.93,0.0,131071,2017845,135171,2007145,0,13.61
1049041,1183678,1597284137295514,37050952,25,601952,SH,100217000,47269172,6.883083e+08,14.91,14.90,14.89,14.88,14.86,14.85,500,173600,74840,54100,31200,14.91,14.92,14.93,0.00,0.0,8500,188971,2017345,0,0,13.61
1050456,1185191,1597284140291853,37082743,25,601952,SH,100220000,47386572,6.900596e+08,14.90,14.90,14.89,14.88,14.86,14.85,10100,173300,74840,54100,31200,14.92,14.93,0.00,0.00,0.0,96971,2010345,0,0,0,13.61
1051819,1186670,1597284143288354,37113575,25,601952,SH,100223000,47414972,6.904827e+08,14.90,14.90,14.89,14.88,14.86,14.85,200,164000,74840,54100,31200,14.91,14.92,14.93,0.00,0.0,5500,101671,2019245,0,0,13.61
1053196,1188169,1597284146290612,37145130,25,601952,SH,100226000,47459372,6.911451e+08,14.90,14.90,14.89,14.88,14.86,14.85,60900,164000,76740,54100,31200,14.91,14.92,14.93,0.00,0.0,5600,66600,2039245,0,0,13.61
1054577,1189670,1597284149292594,37175893,25,601952,SH,100229000,47554172,6.925581e+08,14.91,14.91,14.90,14.89,14.88,14.86,4400,15700,164000,70840,54100,14.92,14.93,0.00,0.00,0.0,56600,2053345,0,0,0,13.61

In [77]:
test[np.isnan(test["sequenceNo_y"]) & (test['time_x'] != 104714000.0)]['StockID'].nunique()

34

In [71]:
data2_1[(data2_1['StockID'] == 600351) & (data2_1['time'] >= 93038000)][['StockID', 'time',
                                                                                  'cum_volume', 'cum_amount', 'close', 
           "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q", "bid3q",
           "bid4q", "bid5q", "ask1p", "ask2p", "ask1q", "ask2q"]].head(10)

,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask1q,ask2q
109133,600351,93038000,18270300,1.400939e+08,7.41,7.41,7.40,7.39,7.38,7.37,87800,311600,138800,593000,3039300,7.42,7.43,1500,1500
110819,600351,93041000,19784400,1.512817e+08,7.37,7.37,7.38,0.00,0.00,0.00,2799800,580700,0,0,0,7.39,7.45,1200,48800
112419,600351,93044000,21470300,1.637096e+08,7.37,7.37,7.38,0.00,0.00,0.00,1141900,580700,0,0,0,7.39,7.40,117400,10100
114117,600351,93047000,22236100,1.693644e+08,7.41,7.41,7.39,7.37,7.38,0.00,90500,4400,830500,580700,0,7.42,7.43,65100,24700
115686,600351,93050000,23414000,1.780525e+08,7.37,7.38,0.00,0.00,0.00,0.00,580700,0,0,0,0,7.37,7.38,422221,800
117316,600351,93053000,24006900,1.824221e+08,7.37,7.38,0.00,0.00,0.00,0.00,580700,0,0,0,0,7.37,7.38,358121,389200
118921,600351,93056000,24717630,1.876603e+08,7.37,7.37,7.38,0.00,0.00,0.00,93470,580700,0,0,0,7.38,7.39,677300,7000
120605,600351,93059000,26204430,1.986199e+08,7.37,7.37,7.38,0.00,0.00,0.00,848370,580700,0,0,0,7.38,7.39,518084,7400
122236,600351,93102000,26641230,2.018410e+08,7.37,7.37,7.38,0.00,0.00,0.00,1027470,580700,0,0,0,7.38,7.39,322684,6600
123876,600351,93105000,27421714,2.075978e+08,7.38,7.38,7.37,7.38,0.00,0.00,806516,934070,580700,0,0,7.40,7.41,28700,28700

In [72]:
data1_1[(data1_1['StockID'] == 600351) & (data1_1['time'] >= 93038000)][['StockID', 'time',
                                                                                  'cum_volume', 'cum_amount', 'close', 
           "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q", "bid3q",
           "bid4q", "bid5q", "ask1p", "ask2p", "ask1q", "ask2q"]].head(10)

,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask1q,ask2q
109139,600351,93038000,18270300,1.400939e+08,7.41,7.41,7.40,7.39,7.38,7.37,87800,311600,138800,593000,3039300,7.42,7.43,1500,1500
110825,600351,93041000,19784400,1.512817e+08,7.37,7.37,0.00,0.00,0.00,0.00,2799800,0,0,0,0,7.39,7.45,1200,48800
112425,600351,93044000,21470300,1.637096e+08,7.37,7.37,0.00,0.00,0.00,0.00,1141900,0,0,0,0,7.39,7.40,117400,10100
114123,600351,93047000,22236100,1.693644e+08,7.41,7.41,7.39,7.37,0.00,0.00,90500,4400,830500,0,0,7.42,7.43,65100,24700
115692,600351,93050000,23414000,1.780525e+08,7.37,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,7.37,7.38,422221,800
117322,600351,93053000,24006900,1.824221e+08,7.37,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,7.37,7.38,358121,389200
118927,600351,93056000,24717630,1.876603e+08,7.37,7.37,0.00,0.00,0.00,0.00,93470,0,0,0,0,7.38,7.39,677300,7000
120611,600351,93059000,26204430,1.986199e+08,7.37,7.37,0.00,0.00,0.00,0.00,848370,0,0,0,0,7.38,7.39,518084,7400
122242,600351,93102000,26641230,2.018410e+08,7.37,7.37,0.00,0.00,0.00,0.00,1027470,0,0,0,0,7.38,7.39,322684,6600
123882,600351,93105000,27421714,2.075978e+08,7.38,7.38,7.37,0.00,0.00,0.00,806516,934070,0,0,0,7.40,7.41,28700,28700

In [39]:
logSH[(logSH['StockID'] == 603779) & (logSH['cum_volume'] == 253500)]

,clockAtArrival,sequenceNo,source,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
352030,1597281925036807,4239992,23,603779,92500000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,0.00
355985,1597281928661013,4498605,22,603779,92504360,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
356120,1597281928671847,4498827,23,603779,92504000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,0.00
357043,1597281931314762,4565738,23,603779,92506000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
358311,1597281944234711,4684754,22,603779,92518770,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
360773,1597281973074224,4706399,22,603779,92548770,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
362348,1597281991288414,4737706,23,603779,92606000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
363311,1597282003081411,4746008,22,603779,92618410,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
365786,1597282033089632,4767260,22,603779,92648510,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
367361,1597282051290336,4798656,23,603779,92706000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
368324,1597282063095462,4806873,22,603779,92718610,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
370799,1597282093104258,4828116,22,603779,92748700,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
372374,1597282111290842,4859305,23,603779,92806000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
373337,1597282123110157,4867766,22,603779,92818780,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
375812,1597282153116593,4889131,22,603779,92847680,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
377387,1597282171290542,4920377,23,603779,92906000,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
378350,1597282183123248,4928852,22,603779,92917680,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31
380825,1597282213125988,4950210,22,603779,92947690,253500,1599585.0,6.31,6.31,0.0,0.0,0.0,0.0,30200,0,0,0,0,6.33,6.34,6.35,6.38,6.4,39100,1000,800,10000,31900,6.31

In [85]:
data1_1[data1_1['StockID'] == 300]

,index,clockAtArrival,sequenceNo,source,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
1,358511,1597281945422947,4686974,22,300,92521140,1255841,2.067322e+09,4666.4901,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
5,389289,1597282230491286,5630735,22,300,93006190,2297389,3.515177e+09,4668.4877,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
9,394689,1597282235447340,6153260,22,300,93011160,2861903,4.596104e+09,4670.6107,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
13,400809,1597282240427708,6687511,22,300,93016140,3125459,4.996339e+09,4671.7109,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
17,406906,1597282245509278,7215209,22,300,93021220,3377510,5.436142e+09,4671.7689,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3685,4937827,1597286830537749,95816355,22,300,104646200,72402789,1.167683e+11,4645.1303,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3689,4943002,1597286835567426,95884389,22,300,104651160,72468679,1.168851e+11,4644.7384,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3693,4947407,1597286840481239,95951070,22,300,104656140,72498481,1.169494e+11,4644.5219,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3697,4952029,1597286845567827,96021139,22,300,104701230,72563410,1.170476e+11,4644.2308,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3701,4957108,1597286850567346,96099367,22,300,104706200,72619986,1.171372e+11,4643.7352,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901

In [86]:
data2_1[data2_1['StockID'] == 300]

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
1,158559,1597281921201445,1985976,25,300,SH,92521000,1255841,2.067322e+08,4666.4901,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
5,170137,1597282207769467,2252997,25,300,SH,93006000,2297389,3.515177e+08,4668.4877,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
9,173005,1597282211327395,2361670,25,300,SH,93011000,2861903,4.596104e+08,4670.6107,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
13,176196,1597282216298436,2513381,25,300,SH,93016000,3125459,4.996339e+08,4671.7109,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
17,178816,1597282221395959,2679090,25,300,SH,93021000,3377510,5.436142e+08,4671.7689,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3689,2447606,1597286811225393,59848222,25,300,SH,104651000,72468679,1.168851e+10,4644.7384,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3693,2449838,1597286816229978,59887713,25,300,SH,104656000,72498481,1.169494e+10,4644.5219,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3697,2452163,1597286821309702,59926073,25,300,SH,104701000,72563410,1.170476e+10,4644.2308,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3701,2454720,1597286826273678,59967247,25,300,SH,104706000,72619986,1.171372e+10,4643.7352,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901
3705,2456936,1597286831219456,60008446,25,300,SH,104711000,72677538,1.172215e+10,4643.9178,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901

In [12]:
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0)]
data2['time'].min()

112301000

In [13]:
data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH['time'] >= 112301000)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0)]

columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()

# for cols in ["openPrice"]:
#     data2_1[cols] = (data2_1[cols]/1000000).round(4)    
for cols in ["cum_amount"]:
    data2_1[cols] = (data2_1[cols]*10).round(4) 
    data1_1[cols] = data1_1[cols].round(4) 
    
    
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])

5989
5988
5989

'test is not complete:'

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,time_x,cum_volume,cum_amount,close,bid1p_x,bid2p_x,bid3p_x,bid4p_x,bid5p_x,bid1q_x,bid2q_x,bid3q_x,bid4q_x,bid5q_x,ask1p_x,ask2p_x,ask3p_x,ask4p_x,ask5p_x,ask1q_x,ask2q_x,ask3q_x,ask4q_x,ask5q_x,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange,time_y,bid1p_y,bid2p_y,bid3p_y,bid4p_y,bid5p_y,bid1q_y,bid2q_y,bid3q_y,bid4q_y,bid5q_y,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y
5410,13066581,1597301155787830,206265189,22,300,144531140,143270582,2.350902e+11,4634.4614,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,4666.4901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
import pandas as pd
import random
import numpy as np
import pickle 

TradeLog = pd.read_csv(r'F:\data\20200821\logs_20200821_zt_88_03_day_88data\mdTradeLog_20200821_0900.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "TransactTime", "SecurityID", "exchId", 
                                                 "ApplSeqNum", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]]
TradeLog1 = pd.read_csv(r'F:\data\20200821\full_20200821_zt_70_01_day_7079\mdTradeLog_20200821_0834.csv').loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLog1 = TradeLog1[TradeLog1['exchId'] == 1]
TradeLog = TradeLog[TradeLog['exchId'] == 1]
display(TradeLog1.groupby('SecurityID')['TransactTime'].max().max())
display(TradeLog1.groupby('SecurityID')['TransactTime'].min().min())
display(TradeLog.groupby('SecurityID')['TransactTime'].max().max())
display(TradeLog.groupby('SecurityID')['TransactTime'].min().min())
# TradeLog = TradeLog[(TradeLog['TransactTime'] >= m_in)]
display(set(TradeLog['SecurityID'].unique()) - set(TradeLog1['SecurityID'].unique()))
display(set(TradeLog1['SecurityID'].unique()) - set(TradeLog['SecurityID'].unique()))
stocks = list(set(TradeLog1["SecurityID"].unique()) & set(TradeLog["SecurityID"].unique()))
display(len(stocks))
SH = TradeLog[TradeLog["SecurityID"].isin(stocks)]
SH1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
print(len(SH["SecurityID"].unique()))
print(len(SH1["SecurityID"].unique()))


columns = ["TransactTime", "ApplSeqNum", "SecurityID", "TradePrice", "TradeQty", "TradeMoney", "TradeBSFlag","ExecType",
           "BidApplSeqNum", "OfferApplSeqNum"]
# SH1['TradeQty'] = (SH1['TradeQty']/100).round(0)
# SH1['TradeMoney'] = (SH1['TradeMoney']/100).round(0)
re = pd.merge(SH, SH1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

150000920

92500000

150000920

92500000

set()

set()

1662

1662
1662
19834067
19834067
19834067
-----------------------------------------------

In [5]:
for i in re[np.isnan(re["sequenceNo_y"]) & (re['TransactTime'] == 105631350)]['SecurityID'].unique():
    try:
        assert(SH1[SH1['SecurityID'] == i]['TransactTime'].max() < 105631350)
    except:
        print(SH1[(SH1['SecurityID'] == i) & (SH1['TransactTime'] >= 105631350)].shape[0])
        print(SH[(SH['SecurityID'] == i) & (SH['TransactTime'] >= 105631350)].shape[0])

In [3]:
for i in re[np.isnan(re["sequenceNo_y"]) & (re['TransactTime'] == 105650110 )]['SecurityID'].unique():
    try:
        assert(SH1[SH1['SecurityID'] == i]['TransactTime'].min() > 105650110 )
    except:
        print(SH1[(SH1['SecurityID'] == i) & (SH1['TransactTime'] <= 105650110 )].shape[0])
        print(SH[(SH['SecurityID'] == i) & (SH['TransactTime'] <= 105650110 )].shape[0])

In [1]:
import pandas as pd
import random
import numpy as np
import pickle 

TradeLog = pd.read_csv(r'F:\data\20200821\logs_20200821_zs_96_03_day_96data\mdTradeLog_20200821_0859.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "TransactTime", "SecurityID", "exchId", 
                                                 "ApplSeqNum", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]]
TradeLog1 = pd.read_csv(r'F:\data\20200821\full_20200821_zt_70_01_day_7079\mdTradeLog_20200821_0834.csv').loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLog1 = TradeLog1[TradeLog1['exchId'] == 2]
TradeLog = TradeLog[TradeLog['exchId'] == 2]
m_ax = TradeLog1.groupby('SecurityID')['TransactTime'].max().max()
m_in = TradeLog1.groupby('SecurityID')['TransactTime'].min().min()
display(m_ax)
display(m_in)
m_ax = TradeLog.groupby('SecurityID')['TransactTime'].max().max()
m_in = TradeLog.groupby('SecurityID')['TransactTime'].min().min()
display(m_ax)
display(m_in)
display(TradeLog1['TradeBSFlag'].unique())
display(TradeLog['TradeBSFlag'].unique())
display(TradeLog1['ExecType'].unique())
# TradeLog = TradeLog[(TradeLog['TransactTime'] >= m_in)]
display(set(TradeLog['SecurityID'].unique()) - set(TradeLog1['SecurityID'].unique()))
display(set(TradeLog1['SecurityID'].unique()) - set(TradeLog['SecurityID'].unique()))
stocks = list(set(TradeLog1["SecurityID"].unique()) & set(TradeLog["SecurityID"].unique()))
display(len(stocks))
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(stocks)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))

TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# TradeLogSZ1['TradeQty'] = (TradeLogSZ1['TradeQty']/100).round(0)
# TradeLogSZ1['TradeMoney'] = (TradeLogSZ1['TradeMoney']/100).round(0)
re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

150000000

91500030

150000000

91500030

array(['N'], dtype=object)

array(['N'], dtype=object)

array([4, '4', 'F'], dtype=object)

set()

set()

2233

2233
2233
39845059
39845059
39845059
-----------------------------------------------

In [2]:
for i in re[np.isnan(re["sequenceNo_y"]) & (re['TransactTime'] == 112257400  )]['SecurityID'].unique():
    try:
        assert(TradeLogSZ1[TradeLogSZ1['SecurityID'] == i]['TransactTime'].min() > 112257400  )
    except:
        print(TradeLogSZ1[(TradeLogSZ1['SecurityID'] == i) & (TradeLogSZ1['TransactTime'] <= 112257400  )].shape[0])
        print(TradeLogSZ[(TradeLogSZ['SecurityID'] == i) & (TradeLogSZ['TransactTime'] <= 112257400  )].shape[0])

In [1]:
import pandas as pd
import random
import numpy as np
import pickle 

OrderLog = pd.read_csv(r'F:\data\20200812\logs_20200812_zs_96_03_day_96data\mdOrderLog_20200812_0849.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "TransactTime", "exchId", 
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
OrderLog1 = pd.read_csv(r'F:\data\20200812\full_20200812_zt_70_01_day_7079\mdOrderLog_20200812_0840.csv').loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
m_ax = OrderLog1.groupby('SecurityID')['TransactTime'].max().max()
display(m_ax)
m_in = OrderLog1.groupby('SecurityID')['TransactTime'].min().min()
display(m_in)
display(OrderLog["OrderType"].unique())
display(OrderLog1["OrderType"].unique())

OrderLog = OrderLog[(OrderLog['TransactTime'] <= m_ax)]
display(set(OrderLog['SecurityID'].unique()) - set(OrderLog1['SecurityID'].unique()))
display(set(OrderLog1['SecurityID'].unique()) - set(OrderLog['SecurityID'].unique()))
stocks = list(set(OrderLog1["SecurityID"].unique()) & set(OrderLog["SecurityID"].unique()))
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(stocks)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(stocks)]
del OrderLog
del OrderLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))

columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]
# OrderLogSZ1['OrderQty'] = (OrderLogSZ1['OrderQty']/100).round(0)
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["sequenceNo_y"])])
    print(len(ree[np.isnan(ree["sequenceNo_y"])]))
    print(np.sort(ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo_x"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

103618500

91500000

array([2, 1, '2', 'U', '1'], dtype=object)

array([2, 1, '2', 'U', '1'], dtype=object)

set()

set()

2235
2235
26448695
26448640
26448695
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,TransactTime,exchId_x,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y
121800,1597194909253810,510409,91500570,2,29012,2175,1,2,14700,17200,NaN,NaN,NaN
121801,1597194909253811,510410,91500570,2,29013,567,1,2,131200,100,NaN,NaN,NaN
121802,1597194909253814,510411,91500570,2,29014,2991,1,2,1196400,200,NaN,NaN,NaN
121803,1597194909253815,510412,91500570,2,29015,856,1,2,103700,1000,NaN,NaN,NaN
121804,1597194909253818,510413,91500570,2,29016,2847,1,2,1300000,100,NaN,NaN,NaN
121805,1597194909253818,510414,91500570,2,29017,612,1,2,75400,500,NaN,NaN,NaN
121806,1597194909253819,510415,91500570,2,29018,2991,1,2,1196400,500,NaN,NaN,NaN
121807,1597194909253820,510416,91500570,2,29019,30,2,2,86000,1000,NaN,NaN,NaN
121808,1597194909253820,510417,91500570,2,29020,753,2,2,31400,2000,NaN,NaN,NaN
121809,1597194909253821,510418,91500570,2,29021,2885,1,2,162600,100,NaN,NaN,NaN
121810,1597194909253821,510419,91500570,2,29022,753,2,2,31900,2000,NaN,NaN,NaN
121811,1597194909253822,510420,91500570,2,29023,2988,1,2,181800,1000,NaN,NaN,NaN
121812,1597194909253824,510421,91500570,2,29024,2988,1,2,180000,1000,NaN,NaN,NaN
121813,1597194909253825,510422,91500570,2,29025,2988,1,2,176000,1000,NaN,NaN,NaN
121814,1597194909253826,510423,91500570,2,29026,300843,2,2,308500,100,NaN,NaN,NaN
121815,1597194909253827,510424,91500570,2,29027,2475,1,2,501800,200,NaN,NaN,NaN
121816,1597194909253831,510425,91500570,2,29028,2153,2,2,349600,300,NaN,NaN,NaN
121817,1597194909253831,510426,91500570,2,29029,2099,2,2,85000,1000,NaN,NaN,NaN
121818,1597194909253832,510427,91500570,2,29030,2099,1,2,72600,700,NaN,NaN,NaN
121819,1597194909253833,510428,91500570,2,29031,650,2,2,70800,900,NaN,NaN,NaN
121820,1597194909253834,510429,91500570,2,29032,2475,2,2,540000,4800,NaN,NaN,NaN
121821,1597194909253834,510430,91500570,2,29033,2700,2,2,43300,1000,NaN,NaN,NaN
121822,1597194909253835,510431,91500570,2,29034,524,1,2,121000,4000,NaN,NaN,NaN
121823,1597194909253836,510432,91500570,2,29035,300750,2,2,2039900,200,NaN,NaN,NaN
121824,1597194909253839,510433,91500570,2,29036,300334,2,2,100000,500,NaN,NaN,NaN
121825,1597194909253840,510434,91500570,2,29037,300021,2,2,52000,100,NaN,NaN,NaN
121826,1597194909253840,510435,91500570,2,29038,300021,1,2,42700,200,NaN,NaN,NaN
121827,1597194909253841,510436,91500570,2,29039,300086,2,2,75500,1000,NaN,NaN,NaN
121828,1597194909253842,510437,91500570,2,29040,2610,2,2,25600,2300,NaN,NaN,NaN
121829,1597194909253843,510438,91500570,2,29041,2625,2,2,297500,7500,NaN,NaN,NaN
121830,1597194909253843,510439,91500570,2,29042,300622,1,2,125500,1000,NaN,NaN,NaN
121831,1597194909253846,510440,91500570,2,29043,1896,2,2,44400,4000,NaN,NaN,NaN
121832,1597194909253847,510441,91500570,2,29044,2665,1,2,24100,20000,NaN,NaN,NaN
121833,1597194909253848,510442,91500570,2,29045,876,1,2,331100,2000,NaN,NaN,NaN
121834,1597194909253848,510443,91500570,2,29046,300011,1,2,64800,3000,NaN,NaN,NaN
121835,1597194909253849,510444,91500570,2,29047,876,2,2,367600,1000,NaN,NaN,NaN
121836,1597194909253849,510445,91500570,2,29048,876,2,2,374600,1000,NaN,NaN,NaN
121837,1597194909253850,510446,91500570,2,29049,876,2,2,381500,1000,NaN,NaN,NaN
121838,1597194909253851,510447,91500570,2,29050,2517,2,2,66600,5700,NaN,NaN,NaN
26448679,1597199786956002,122587902,103618500,2,12784977,2413,1,2,101800,100,NaN,NaN,NaN
26448680,1597199786956254,122587904,103618500,2,12586781,2074,2,2,273400,7600,NaN,NaN,NaN
26448681,1597199786956257,122587907,103618500,2,12586784,300014,1,2,498900,400,NaN,NaN,NaN
26448682,1597199786956496,122587912,103618500,2,11723612,2503,1,2,27100,100,NaN,NaN,NaN
26448683,1597199786956497,122587913,103618500,2,11723613,2237,1,2,156200,1000,NaN,NaN,NaN
26448684,1597199786956575,122587919,103618500,2,11915537,2172,1,2,27100,15100,NaN,NaN,NaN
26448685,1597199786956575,122587920,103618500,2,11915538,300676,1,2,1480000,200,NaN,NaN,NaN
26448686,1597199786956668,122587921,103618500,2,11915539,2550,1,2,52300,12000,NaN,NaN,NaN
26448687,1597199786956860,122587929,103618500,2,12586789,2685,1,2,68300,1500,NaN,NaN,NaN
26448688,1597199786956861,122587930,103618500,2,12586790,9,1,2,78000,800,NaN,NaN,NaN
26448689,1597199786956991,122587933,103618500,2,11723618,2436,1,2,123500,2000,NaN,NaN,NaN
26448690,1597199786956993,122587934,103618500,2,11723619,2959,1,2,1360000,100,NaN,NaN,NaN
26448691,1597199786957271,122587944,103618500,2,12784978,625,1,2,113400,2200,NaN,NaN,NaN
26448692,1597199786957940,122587966,103618500,2,11915541,2036,2,2,109700,2200,NaN,NaN,NaN
26448693,1597199786958017,122587968,103618500,2,11723621,2382,1,2,293400,3300,NaN,NaN,NaN
26448694,1597199786959186,122587972,103618500,2,11915542,300443,1,2,268800,1600,NaN,NaN,NaN

55
[ 91500570 103618500]
45
[  2175    567   2991    856   2847    612     30    753   2885   2988
 300843   2475   2153   2099    650   2700    524 300750 300334 300021
 300086   2610   2625 300622   1896   2665    876 300011   2517   2413
   2074 300014   2503   2237   2172 300676   2550   2685      9   2436
   2959    625   2036   2382 300443]

In [3]:
for i in ree[np.isnan(ree["sequenceNo_y"]) & (ree['TransactTime'] == 103618500)]['SecurityID'].unique():
    try:
        assert(OrderLogSZ1[OrderLogSZ1['SecurityID'] == i]['TransactTime'].max() < 103618500)
    except:
        print(OrderLogSZ1[(OrderLogSZ1['SecurityID'] == i) & (OrderLogSZ1['TransactTime'] >= 103618500)].shape[0])
        print(OrderLogSZ[(OrderLogSZ['SecurityID'] == i) & (OrderLogSZ['TransactTime'] >= 103618500)].shape[0])

1
2

In [5]:
import pandas as pd
import csv
with open(r'F:\data\20200812\logs_20200812_zs_96_03_day_96data\mdOrderLog_20200812_0849.csv') as f:
    reader = csv.DictReader(f)    
    for row in reader:
        if row['OrderType'] not in {'1', '2', 'U'}:
            print(row)
with open(r'F:\data\20200812\logs_20200812_zs_96_03_day_96data\mdTradeLog_20200812_0849.csv') as f:
    reader = csv.DictReader(f)    
    for row in reader:
        if row['ExecType'] not in {'4', 'F'}:
            print(row)

In [4]:
import pandas as pd
import numpy as np

logSZ = pd.read_csv(r'F:\data\20200814\logs_20200814_zs_92_01_day_data\mdLog_SZ_20200814_0836.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "StockID", 'source', "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ1 = pd.read_csv(r'F:\data\20200814\full_20200814_zt_70_01_day_7079\mdLog_SZ_20200814_1153.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]

print("new data source type: ")
print(logSZ1["source"].unique())
print(logSZ["time"].unique())
print(logSZ1["time"].unique())

logSZ["time"] = logSZ["time"].apply(lambda x: int(x.replace(':', "").replace('.', "")))
logSZ1["time"] = logSZ1["time"].apply(lambda x: int((x.replace(':', "")))) * 1000

m_in = logSZ1['time'].min()
m_ax = logSZ1['time'].max()
print(m_in)
print(m_ax)

data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ['time'] >= m_in) & (logSZ['source'] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", 'openPrice']
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]

for cols in ["cum_amount"]:
    data2_1[cols] = data2_1[cols].round(2)
    data1_1[cols] = data1_1[cols].round(2)
    
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    display(n2-n1)

new data source type:
[25]
['08:37:03.000' '08:38:03.000' '08:39:03.000' ... '15:15:03.000'
 '15:16:03.000' '15:17:03.000']
['11:54:00' '11:54:03' '11:55:00' ... '15:29:03' '15:30:03' '15:31:03']
115400000
153103000
2236
2236
3756972
3756972
3756972
-----------------------------------------------