In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP
logSH = pd.read_csv(r'\\mentos\dailyRawData\logs_20200813_zt_52_03_day_pcap\mdL1Pcap_SH_20200813_0900.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "ID",
                                               "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "open"]]
logSH1 = pd.read_csv(r'F:\data\20200813\full_20200813_zt_88_03_day_testprevde\mdLog_SH_20200813_0906.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice"]]
# logSH1 = pd.concat([SH1, SH2])
# # 1. data format
logSH['StockID'] = logSH['ID'] - 1000000
logSH = logSH.rename(columns={'open':'openPrice'})
print("new data source type: ")
print(logSH1["source"].unique())
print(logSH["time"].unique())
print(logSH1["time"].unique())

new data source type:
[22 23]
[ 90032000  90036000  90038000 ... 150331000 150332000 150333000]
['09:05:48.670' '09:05:48.000' '09:05:51.080' ... '15:36:16.000'
 '15:36:18.000' '15:36:18.480']

In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP
# logSH = pd.read_csv(r'\\mentos\dailyRawData\logs_20200813_zt_52_03_day_pcap\mdL2Pcap_SH_20200813_0900.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "ID",
#                                                "time", "cum_volume", "cum_amount", "close",
#                                                "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                                "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                                "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                                "ask4q", "ask5q", "open"]]
logSH[logSH['cum_volume'] > 0].groupby('ID')['open'].nunique().sort_values()

ID
1600684    1
1510170    1
1600757    1
1501090    1
1512930    1
          ..
1600195    2
1600196    2
1600197    2
1600220    2
1900957    2
Name: open, Length: 2424, dtype: int64

In [2]:
logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
# logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).ljust(9, "0")))
# logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).ljust(9, "0")))

display(logSH[(logSH["StockID"] == 600004) & (logSH["time"] >= 143000000) & (logSH["time"] <= 145000000)])
display(logSH1[(logSH1["StockID"] == 600004) & (logSH1["time"] >= 143000000) & (logSH1["time"] <= 145000000)])

,clockAtArrival,sequenceNo,ID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,...,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,StockID
10459673,1597300205167276,46210205,1600004,143000000,28186886,4119730094900,144400,144300,144200,144100,...,144800,144900,145000,500,26400,2200,3500,16000,148500,600004
10461543,1597300207795223,46218714,1600004,143002000,28187086,4119758974900,144400,144300,144200,144100,...,144800,144900,145000,300,26400,2200,3500,16700,148500,600004
10463445,1597300210580874,46227165,1600004,143005000,28187186,4119773404900,144300,144300,144200,144100,...,144800,144900,145000,300,26400,2200,6200,16700,148500,600004
10465993,1597300213605420,46237354,1600004,143008000,28200186,4121650814900,144400,144300,144200,144100,...,144800,144900,145000,600,18100,2200,6200,16700,148500,600004
10468042,1597300216597326,46246820,1600004,143011000,28204786,4122315054900,144400,144300,144200,144100,...,144800,144900,145000,6400,18100,2200,6200,16700,148500,600004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11299720,1597301392405044,49918906,1600004,144947000,31814415,4641297466800,143600,143500,143400,143300,...,143900,144000,144100,18100,29900,15500,44000,24300,148500,600004
11301956,1597301395426389,49928606,1600004,144950000,31840315,4645018076800,143800,143700,143500,143400,...,144000,144100,144200,22800,15500,44000,24300,3100,148500,600004
11304081,1597301398396863,49938474,1600004,144953000,31842215,4645291296800,143800,143700,143600,143500,...,144000,144100,144200,20900,15500,44000,24300,3100,148500,600004
11306250,1597301401414100,49948292,1600004,144956000,31842615,4645348816800,143800,143700,143600,143500,...,144000,144100,144200,20500,15500,44000,24300,3100,148500,600004
11308348,1597301404390085,49958965,1600004,144959000,31843715,4645506996800,143800,143700,143600,143500,...,144000,144100,144200,20400,15500,44000,24300,3100,148500,600004

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
11759766,1597300224680337,29585292,23,600004,SH,143000000,28186886,4.119730e+08,14.44,14.43,...,14.45,14.48,14.49,14.50,500,26400,2200,3500,16000,14.85
11759781,1597300224711995,29585307,22,600004,SH,143000220,28186886,4.119730e+08,14.44,14.43,...,14.45,14.48,14.49,14.50,500,26400,2200,3500,16000,14.85
11761939,1597300227314886,29591388,23,600004,SH,143002000,28187086,4.119759e+08,14.44,14.43,...,14.45,14.48,14.49,14.50,300,26400,2200,3500,16700,14.85
11762336,1597300227715259,29592413,22,600004,SH,143003220,28187086,4.119759e+08,14.44,14.43,...,14.45,14.48,14.49,14.50,300,26400,2200,3500,16700,14.85
11764211,1597300230094880,29597313,23,600004,SH,143005000,28187186,4.119773e+08,14.43,14.43,...,14.45,14.48,14.49,14.50,300,26400,2200,6200,16700,14.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12823684,1597301417920636,32150849,23,600004,SH,144953000,31842215,4.645291e+08,14.38,14.37,...,14.39,14.40,14.41,14.42,20900,15500,44000,24300,3100,14.85
12824661,1597301418890696,32153106,22,600004,SH,144954330,31842215,4.645291e+08,14.38,14.37,...,14.39,14.40,14.41,14.42,20900,15500,44000,24300,3100,14.85
12826507,1597301420938669,32157498,23,600004,SH,144956000,31842615,4.645349e+08,14.38,14.37,...,14.39,14.40,14.41,14.42,20500,15500,44000,24300,3100,14.85
12827425,1597301421836332,32159355,22,600004,SH,144957330,31842615,4.645349e+08,14.38,14.37,...,14.39,14.40,14.41,14.42,20500,15500,44000,24300,3100,14.85
12829231,1597301423913347,32165366,23,600004,SH,144959000,31843715,4.645507e+08,14.38,14.37,...,14.39,14.40,14.41,14.42,20400,15500,44000,24300,3100,14.85

In [3]:
logSH[logSH['time'] <= 150100000].groupby('StockID')['time'].max().min()

150002000

In [30]:
in_dex = [16, 300, 852, 905]
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 150100000)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 150100000)
              & (logSH1['source'] == 22)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", 'openPrice']
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
data1_1 = data1_1[(data1_1['StockID'] >= 600000) & (data1_1['StockID'] < 700000)]
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
print(set(data1_1['StockID'].unique()) - set(data2_1['StockID'].unique()))
print(set(data2_1['StockID'].unique()) - set(data1_1['StockID'].unique()))

if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]
for cols in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p","ask1p", "ask2p", "ask3p", "ask4p", "ask5p", 'openPrice', 'cum_amount']:
    data1_1[cols] = (data1_1[cols]/10000).round(4) 
    
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    display(len(test[np.isnan(test["sequenceNo_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    display(n2-n1)
    print((n2-n1)/n1)

1674
1611
{688256, 605188, 688004, 688518, 605318, 688520, 605066, 605199, 688528, 603408, 688277, 688155, 688027, 688157, 688286, 688418, 688165, 605222, 688555, 688556, 605100, 688558, 688561, 688050, 688180, 688309, 605108, 688311, 688312, 688313, 688185, 688567, 688568, 601399, 605118, 605366, 688060, 688065, 688579, 688580, 688069, 600956, 688586, 688589, 688077, 603087, 688336, 688338, 688339, 688981, 688599, 688600, 605399, 601827, 605158, 688488, 688505, 688106, 605166, 601456, 688500, 688377, 688508}
set()
5495577
5495577
5495577
-----------------------------------------------

In [40]:
in_dex = [16, 300, 852, 905]
logSH = pd.read_csv(r'\\mentos\dailyRawData\logs_20200813_zt_52_03_day_pcap\mdIndexPcap_SH_20200813_0900.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "ID",
                                               "time", "cum_volume", "cum_amount", "close", "open"]]
logSH['StockID'] = logSH['ID'] - 1000000
logSH = logSH.rename(columns={'open':'openPrice'})

data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0)]

columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()

for cols in ["cum_amount","close", "openPrice"]:
    data1_1[cols] = (data1_1[cols]/10000).round(4)    

data2_1['cum_amount'] = data2_1['cum_amount'].round(4)

test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])

11412
11413
11413

In [41]:
test[np.isnan(test["sequenceNo_x"])]

,index_x,clockAtArrival_x,sequenceNo_x,ID,time_x,cum_volume,cum_amount,close,openPrice,StockID,index_y,clockAtArrival_y,sequenceNo_y,source,exchange,time_y,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q
11412,NaN,NaN,NaN,NaN,NaN,143270582,2.350902e+11,4634.4614,4666.4901,300,12583119,1597301155698438,31577340,22,SH,144531140,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [46]:
data1_1[(data1_1['StockID'] == 300) & (data1_1['time'] >= 144700000)].head(10)

,index,clockAtArrival,sequenceNo,ID,time,cum_volume,cum_amount,close,openPrice,StockID
10909,657620,1597301231193588,49410124,1000300,144704720,144092233,2.365172e+11,4636.3919,4666.4901,300
10913,657811,1597301236154794,49426856,1000300,144709240,144137459,2.366003e+11,4636.5962,4666.4901,300
10917,658046,1597301241140457,49442476,1000300,144714760,144176101,2.366615e+11,4636.3346,4666.4901,300
10921,658243,1597301246115020,49457752,1000300,144719730,144226176,2.367350e+11,4636.7432,4666.4901,300
10925,658454,1597301251211553,49473579,1000300,144724260,144265884,2.367990e+11,4636.4705,4666.4901,300
10929,658696,1597301256163519,49488384,1000300,144729750,144300460,2.368669e+11,4636.4942,4666.4901,300
10933,658915,1597301261143268,49503719,1000300,144734730,144345386,2.369408e+11,4636.6221,4666.4901,300
10937,659107,1597301266225348,49519052,1000300,144739250,144395288,2.370121e+11,4636.3764,4666.4901,300
10941,659341,1597301271266518,49534805,1000300,144744730,144422406,2.370704e+11,4636.4350,4666.4901,300
10945,659541,1597301276160282,49550108,1000300,144749720,144457592,2.371399e+11,4636.2671,4666.4901,300

In [11]:
# import pandas as pd
# import random
# import numpy as np
# import pickle 
# TradeLog = pd.read_csv(r'\\mentos\dailyRawData\logs_20200813_zt_52_03_day_pcap\mdTradePcap_SH_20200813_0900.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "time", "ID", 
#                                                  "ApplSeqNum", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]]
# TradeLog1 = pd.read_csv(r'F:\data\20200813\full_20200813_zt_88_03_day_testprevde\mdTradeLog_20200813_0906.csv').loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
#                                                  "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
#                                                  "OfferApplSeqNum"]]
# TradeLog1 = TradeLog1[TradeLog1['exchId'] == 1]
# TradeLog['SecurityID'] = TradeLog['ID'] - 1000000
# TradeLog = TradeLog.rename(columns={'time':"TransactTime"})
# TradeLog = TradeLog[(TradeLog['SecurityID'] >= 600000) & (TradeLog['SecurityID'] < 700000)]
# display(set(TradeLog['SecurityID'].unique()) - set(TradeLog1['SecurityID'].unique()))
# display(set(TradeLog1['SecurityID'].unique()) - set(TradeLog['SecurityID'].unique()))
# stocks = list(set(TradeLog1["SecurityID"].unique()) & set(TradeLog["SecurityID"].unique()))
# display(len(stocks))
# SH = TradeLog[TradeLog["SecurityID"].isin(stocks)]
# SH1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
# del TradeLog
# del TradeLog1
# print(len(SH["SecurityID"].unique()))
# print(len(SH1["SecurityID"].unique()))

SH['TradeBSFlag'] = SH['TradeBSFlag'].astype(str)
SH['ExecType'] = 'F'
SH1['TradeBSFlag'] = SH1['TradeBSFlag'].astype(str)
SH1['ExecType'] = SH1['ExecType'].astype(str)
columns = ["TransactTime", "ApplSeqNum", "SecurityID", "TradePrice", "TradeQty", "TradeMoney", "TradeBSFlag","ExecType",
           "BidApplSeqNum", "OfferApplSeqNum"]
re = pd.merge(SH, SH1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

20286428
20286428
20286428
-----------------------------------------------