In [1]:
import pandas as pd
import numpy as np

# data1 = pd.read_csv(r'\\192.168.10.28\DataTeamShared\20200723\zs_52_08\mdLog_SZ_20200723_1225.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
#                                               "exchange", "time", "cum_volume", "cum_amount", "close",
#                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                               "ask4q", "ask5q", "openPrice"]]
# data2 = pd.read_csv(r'\\192.168.10.28\DataTeamShared\20200723\zs_52_08\mdLog_SZ_20200723_1306.csv',
#                     encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
#                                               "exchange", "time", "cum_volume", "cum_amount", "close",
#                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                               "ask4q", "ask5q", "openPrice"]]
# data3 = pd.read_csv(r'F:\data\20200723\preMDGW\mdLog_SZ_20200723_0911.csv').loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
#                                               "exchange", "time", "cum_volume", "cum_amount", "close",
#                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
#                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
#                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#                                               "ask4q", "ask5q", "openPrice"]]
# logSZ = pd.concat([data3, data1, data2])
# del data1
# del data2
# del data3
logSZ = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_mdtest\mdLog_SZ_20200820_0843.csv').loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ1 = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_6678\mdLog_SZ_20200820_0847.csv').loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
print("original data source type: ")
print(logSZ["source"].unique())
print("new data source type: ")
print(logSZ1["source"].unique())
print(logSZ["time"].unique())
print(logSZ1["time"].unique())

original data source type:
[4 3]
new data source type:
[24]
['08:44:09.000' '08:45:09.000' '08:46:09.000' ... '15:32:03.000'
 '15:33:03.000' '15:34:03.000']
['08:48:09.000' '08:49:09.000' '08:50:09.000' ... '15:28:03.000'
 '15:29:03.000' '15:30:03.000']

In [8]:
logSZ[logSZ['time'] <= 114203000].groupby('StockID')['time'].max().min()

114200000

In [9]:
logSZ1[logSZ1['time'] <= 114203000].groupby('StockID')['time'].max().min()

114200000

In [2]:
logSZ1["time"] = logSZ1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 93000000) & (logSZ["time"] <= 93500000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 93000000) & (logSZ1["time"] <= 93500000)])

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
317048,1597887004380294,2244101,4,1,SZ,93000000,1806986,2.712710e+07,15.04,15.04,...,15.06,15.07,15.08,15.09,15100,10200,1500,3800,28200,15.01
317150,1597887004429409,2251170,3,1,SZ,93000000,1806986,2.712710e+07,15.04,15.04,...,15.06,15.07,15.08,15.09,15100,10200,1500,3800,28200,15.01
319870,1597887007523874,2694965,4,1,SZ,93003000,2461186,3.696332e+07,15.02,15.02,...,15.04,15.05,15.06,15.07,100,64700,22800,21100,2000,15.01
320495,1597887007783258,2728948,3,1,SZ,93003000,2461186,3.696332e+07,15.02,15.02,...,15.04,15.05,15.06,15.07,100,64700,22800,21100,2000,15.01
324345,1597887010501358,3112547,4,1,SZ,93006000,2694286,4.046596e+07,15.02,15.02,...,15.04,15.05,15.06,15.07,24200,46500,21700,10000,2000,15.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739276,1597887298787393,12594383,3,1,SZ,93454000,7392100,1.112170e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,10300,42700,68600,68300,29990,15.01
742739,1597887301457215,12654920,4,1,SZ,93457000,7412400,1.115226e+08,15.05,15.05,...,15.07,15.08,15.09,15.10,2000,11600,41700,68600,68500,15.01
742836,1597887301489713,12656018,3,1,SZ,93457000,7412400,1.115226e+08,15.05,15.05,...,15.07,15.08,15.09,15.10,2000,11600,41700,68600,68500,15.01
746970,1597887304415018,12722996,4,1,SZ,93500000,7418400,1.116129e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,13100,41700,68700,69200,28890,15.01
747278,1597887304598977,12728323,3,1,SZ,93500000,7418400,1.116129e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,13100,41700,68700,69200,28890,15.01

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
137644,1597887004358951,3944434,24,1,SZ,93000000,1806986,2.712710e+07,15.04,15.04,...,15.06,15.07,15.08,15.09,15100,10200,1500,3800,28200,15.01
139055,1597887007518918,4814046,24,1,SZ,93003000,2461186,3.696332e+07,15.02,15.02,...,15.04,15.05,15.06,15.07,100,64700,22800,21100,2000,15.01
141290,1597887010483099,5619342,24,1,SZ,93006000,2694286,4.046596e+07,15.02,15.02,...,15.04,15.05,15.06,15.07,24200,46500,21700,10000,2000,15.01
143539,1597887013469262,6426443,24,1,SZ,93009000,2818586,4.233269e+07,15.01,15.01,...,15.03,15.04,15.05,15.06,23200,500,40700,13900,10600,15.01
145754,1597887016434573,6785378,24,1,SZ,93012000,3186500,4.785317e+07,15.00,15.00,...,15.02,15.03,15.04,15.05,42786,4900,1400,28300,18600,15.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345559,1597887292412908,21954935,24,1,SZ,93448000,7333100,1.103289e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,13500,44700,80200,65300,29990,15.01
347716,1597887295411943,22080741,24,1,SZ,93451000,7369900,1.108827e+08,15.07,15.05,...,15.08,15.09,15.10,15.11,13500,42700,78900,65300,29990,15.01
349870,1597887298413356,22200165,24,1,SZ,93454000,7392100,1.112170e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,10300,42700,68600,68300,29990,15.01
351998,1597887301423108,22321048,24,1,SZ,93457000,7412400,1.115226e+08,15.05,15.05,...,15.07,15.08,15.09,15.10,2000,11600,41700,68600,68500,15.01
354142,1597887304413709,22439322,24,1,SZ,93500000,7418400,1.116129e+08,15.05,15.05,...,15.08,15.09,15.10,15.11,13100,41700,68700,69200,28890,15.01

In [16]:
logSZ = pd.read_csv(r'F:\data\20200817\logs_20200817_zs_96_03_day_96data\mdLog_SZ_20200817_0839.csv').loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
display(logSZ['source'].unique())
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

array([24], dtype=int64)

In [3]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) & (logSZ["source"] == 4)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000) & (logSZ1["source"] == 24)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    display(n2-n1)

2233
2233
7630618
7771174
7771174
-----------------------------------------------

'baseline is not complete:'

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,...,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
7630618,NaN,NaN,NaN,NaN,536,NaN,NaN,8070300,1.766729e+07,2.19,...,908843,546900,377000,2.16,484264,1597887487503706,29956264,24,SZ,93803000
7630619,NaN,NaN,NaN,NaN,537,NaN,NaN,549600,4.166092e+06,7.57,...,20000,6200,10000,7.60,484265,1597887487503708,29956265,24,SZ,93803000
7630620,NaN,NaN,NaN,NaN,538,NaN,NaN,532920,5.406586e+07,101.30,...,600,100,100,101.71,484266,1597887487503711,29956266,24,SZ,93803000
7630621,NaN,NaN,NaN,NaN,553,NaN,NaN,1229400,1.162026e+07,9.50,...,21710,14200,31800,9.42,484267,1597887487503717,29956267,24,SZ,93803000
7630622,NaN,NaN,NaN,NaN,555,NaN,NaN,1970700,3.428637e+07,17.45,...,9400,3700,19200,17.22,484268,1597887487503721,29956268,24,SZ,93803000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7771169,NaN,NaN,NaN,NaN,300796,NaN,NaN,654392,1.349524e+07,20.55,...,300,5700,500,20.68,8354431,1597906274343989,225826130,24,SZ,145109000
7771170,NaN,NaN,NaN,NaN,300772,NaN,NaN,2314951,3.367381e+07,14.46,...,8100,1600,2700,14.75,8354432,1597906274344025,225826131,24,SZ,145109000
7771171,NaN,NaN,NaN,NaN,300783,NaN,NaN,1780637,1.173836e+08,65.88,...,200,300,1000,66.98,8354441,1597906274347220,225826161,24,SZ,145109000
7771172,NaN,NaN,NaN,NaN,300840,NaN,NaN,4924992,9.475866e+07,19.07,...,4400,2300,2900,19.92,8354470,1597906274358341,225826256,24,SZ,145109000
7771173,NaN,NaN,NaN,NaN,300849,NaN,NaN,969782,2.646611e+07,27.31,...,1600,2500,4300,27.20,8354484,1597906274367153,225826325,24,SZ,145109000

140556

In [4]:
# speed check
test1 = test[~np.isnan(test["sequenceNo_x"])]
test1 = test1[~np.isnan(test1["sequenceNo_y"])]
diff = test1["clockAtArrival_y"] - test1["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

1522.0
6767.0
13569.0
2893.0
3311.5
3669.25
0.9999944958586579
5.504141342156035e-06

In [1]:
import pandas as pd
import random
import numpy as np
import pickle

TradeLog = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_mdtest\mdTradeLog_20200820_0843.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLog1 = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_6678\mdTradeLog_20200820_0847.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]

OrderLog = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_mdtest\mdOrderLog_20200820_0843.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]

OrderLog1 = pd.read_csv(r'F:\data\20200820\full_20200820_zs_66_01_day_6678\mdOrderLog_20200820_0847.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]

stocks = OrderLog1["SecurityID"].unique()
l1 = stocks[:1000]
l2 = stocks[1000:]
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(l1)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(l1)]
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
OrderLogSZZ = OrderLog[OrderLog["SecurityID"].isin(l2)]
OrderLogSZZ1 = OrderLog1[OrderLog1["SecurityID"].isin(l2)]
print(len(OrderLogSZZ["SecurityID"].unique()))
print(len(OrderLogSZZ1["SecurityID"].unique()))
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(l1)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(l1)]
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
TradeLogSZZ = TradeLog[TradeLog["SecurityID"].isin(l2)]
TradeLogSZZ1 = TradeLog1[TradeLog1["SecurityID"].isin(l2)]
print(len(TradeLogSZZ["SecurityID"].unique()))
print(len(TradeLogSZZ1["SecurityID"].unique()))
# TradeLogSH = TradeLog[TradeLog["exchId"] == 1]
# TradeLogSH1 = TradeLog1[TradeLog1["exchId"] == 1]
# print(len(TradeLogSH["SecurityID"].unique()))
# print(len(TradeLogSH1["SecurityID"].unique()))
del TradeLog
del TradeLog1

OrderLogSZ.to_pickle(r'F:\\data\\20200820\\baseline\\order1.pkl')
OrderLogSZZ.to_pickle(r'F:\\data\\20200820\\baseline\\order2.pkl')
TradeLogSZ.to_pickle(r'F:\\data\\20200820\\baseline\\trade1.pkl')
TradeLogSZZ.to_pickle(r'F:\\data\\20200820\\baseline\\trade2.pkl')
# TradeLogSH.to_pickle(r'F:\\data\\20200324\\zt_88_02\\SH.pkl')
OrderLogSZ1.to_pickle(r'F:\\data\\20200820\\test\\order1.pkl')
OrderLogSZZ1.to_pickle(r'F:\\data\\20200820\\test\\order2.pkl')
TradeLogSZ1.to_pickle(r'F:\\data\\20200820\\test\\trade1.pkl')
TradeLogSZZ1.to_pickle(r'F:\\data\\20200820\\test\\trade2.pkl')
# TradeLogSH1.to_pickle(r'F:\\data\\20200324\\zt_88_03\\SH.pkl')

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1000
1000
1233
1233
1000
1000
1233
1233

In [1]:
import pandas as pd
import random
import numpy as np
import pickle

F1 = open("F:\\data\\20200903\\baseline\\order1.pkl", 'rb')
OrderLogSZ = pickle.load(F1)
F2 = open("F:\\data\\20200903\\test\\order1.pkl", 'rb')
OrderLogSZ1 = pickle.load(F2)

OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
sl = list(set(OrderLogSZ["SecurityID"].unique()) & set(OrderLogSZ1['SecurityID'].unique()))
OrderLogSZ = OrderLogSZ[OrderLogSZ["SecurityID"].isin(sl)]
OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["SecurityID"].isin(sl)]
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))

F1 = open("F:\\data\\20200903\\baseline\\order2.pkl", 'rb')
o = pickle.load(F1)
F2 = open("F:\\data\\20200903\\test\\order2.pkl", 'rb')
o1 = pickle.load(F2)
o["OrderType"] = o["OrderType"].apply(lambda x: str(x))
o["OrderType"] = o["OrderType"].apply(lambda x: str(x))
sl = list(set(o["SecurityID"].unique()) & set(o1['SecurityID'].unique()))
o = o[o["SecurityID"].isin(sl)]
o1 = o1[o1["SecurityID"].isin(sl)]
print(len(o["SecurityID"].unique()))
print(len(o1["SecurityID"].unique()))

OrderLogSZ = pd.concat([OrderLogSZ, o])
OrderLogSZ1 = pd.concat([OrderLogSZ1, o1])
del o
del o1

1000
1000
1232
1232

In [1]:
import pandas as pd
import random
import numpy as np
import pickle

F3 = open("F:\\data\\20200903\\baseline\\trade1.pkl", 'rb')
TradeLogSZ = pickle.load(F3)
F4 = open("F:\\data\\20200903\\test\\trade1.pkl", 'rb')
TradeLogSZ1 = pickle.load(F4)
sl = list(set(TradeLogSZ["SecurityID"].unique()) & set(TradeLogSZ1['SecurityID'].unique()))
TradeLogSZ = TradeLogSZ[TradeLogSZ["SecurityID"].isin(sl)]
TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["SecurityID"].isin(sl)]
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))


F3 = open("F:\\data\\20200903\\baseline\\trade2.pkl", 'rb')
t = pickle.load(F3)
F4 = open("F:\\data\\20200903\\test\\trade2.pkl", 'rb')
t1 = pickle.load(F4)
sl = list(set(t["SecurityID"].unique()) & set(t1['SecurityID'].unique()))
t = t[t["SecurityID"].isin(sl)]
t1 = t1[t1["SecurityID"].isin(sl)]
print(len(t["SecurityID"].unique()))
print(len(t1["SecurityID"].unique()))

TradeLogSZ = pd.concat([TradeLogSZ, t])
TradeLogSZ1 = pd.concat([TradeLogSZ1, t1])
del t
del t1

1000
1000
1232
1232

In [ ]:
import pandas as pd
import numpy as np

TradeLog = pd.read_csv(r'F:\data\20200817\logs_20200817_zs_96_03_day_96data\mdTradeLog_20200817_0839.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLog1 = pd.read_csv(r'F:\data\20200817\full_20200817_zs_66_01_day_test\mdTradeLog_20200817_0859.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]

OrderLog = pd.read_csv(r'F:\data\20200817\logs_20200817_zs_96_03_day_96data\mdOrderLog_20200817_0839.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]

OrderLog1 = pd.read_csv(r'F:\data\20200817\full_20200817_zs_66_01_day_test\mdOrderLog_20200817_0859.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]

stocks = list(set(OrderLog1["SecurityID"].unique()) & set(OrderLog["SecurityID"].unique()))
display(len(stocks))
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(stocks)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(stocks)]
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(stocks)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))

In [13]:
TradeLogSZ1[(TradeLogSZ1['TransactTime'] >= 103248080) & (TradeLogSZ1['TransactTime'] <= 112959990)].groupby('SecurityID')['TransactTime'].max().min()

112457430

In [12]:
TradeLogSZ[(TradeLogSZ['TransactTime'] >= 103248080) & (TradeLogSZ['TransactTime'] <= 112959990)].groupby('SecurityID')['TransactTime'].max().min()

112457430

In [ ]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

# TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1['TransactTime'] > 103248080) & (TradeLogSZ1['TransactTime'] <= 112959990)]
# TradeLogSZ = TradeLogSZ[(TradeLogSZ['TransactTime'] > 103248080) & (TradeLogSZ['TransactTime'] <= 112959990)]

columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]
TradeLogSZ = TradeLogSZ.sort_values(by=["sequenceNo"])
TradeLogSZ = TradeLogSZ.drop_duplicates(columns, keep='first')

re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

46701118
46666243
46701118
-----------------------------------------------

'test is not complete:'

In [3]:
TradeLogSZ[(TradeLogSZ['SecurityID'] == 300853) & (TradeLogSZ['ApplSeqNum'] == 25711469)]

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
65419699,1599116401643331,146837436,2,150000000,25711469,300853,F,B,666500,400,266600000,25624589,25592197

In [4]:
TradeLogSZ1[(TradeLogSZ1['SecurityID'] == 300853) & (TradeLogSZ1['ApplSeqNum'] == 25711469)]

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
18089612,1599116401559207,47709105,2,150000000,25711469,300853,F,N,666500,400,266600000,25624589,25592197

In [105]:
TradeLogSZ1[TradeLogSZ1['TransactTime'] < 130000000].groupby('SecurityID')['TransactTime'].max().min()

112457430

In [103]:
TradeLogSZ[(TradeLogSZ['SecurityID'] == 2277) & (TradeLogSZ['TransactTime'] >= 112956000)].head(50)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
32429498,1595474996015644,74253180,2,112956010,17721798,2277,F,N,45900,3000,137700000,17575387,17721797
8436,1595480400133636,90299,2,130000040,17727816,2277,4,N,0,2000,0,0,6181465
13654,1595480400224592,101214,2,130000100,17730257,2277,F,N,45900,1500,68850000,17582202,17730256
18872,1595480400304579,111155,2,130000150,17732795,2277,4,N,0,2000,0,0,8001343
24339,1595480400405651,123161,2,130000200,17735600,2277,F,N,46000,4000,184000000,17735599,17554221
25039,1595480400416924,124729,2,130000200,17736052,2277,4,N,0,200,0,8017250,0
28184,1595480400473329,131594,2,130000220,17737575,2277,F,N,46000,100,4600000,17737574,17554221
28817,1595480400484411,133047,2,130000220,17737884,2277,4,N,0,10000,0,495998,0
29070,1595480400492976,133582,2,130000230,17738096,2277,4,N,0,10000,0,4721796,0
36926,1595480400632618,152076,2,130000290,17742335,2277,4,N,0,1000,0,0,6304780
40568,1595480400708519,161245,2,130000330,17744516,2277,4,N,0,300,0,4010413,0
41223,1595480400723170,162963,2,130000340,17744907,2277,4,N,0,700,0,0,16679329
43586,1595480400769739,168763,2,130000370,17746297,2277,4,N,0,200,0,11801033,0
45399,1595480400803583,173471,2,130000380,17747389,2277,F,N,46000,42000,1932000000,17747388,17554221
49298,1595480400883232,182796,2,130000430,17749546,2277,F,N,46000,5600,257600000,17749545,17554221
51690,1595480400928745,188745,2,130000460,17750877,2277,F,N,45900,2000,91800000,17582202,17750876
52149,1595480400936627,189939,2,130000460,17751040,2277,4,N,0,4000,0,0,17036442
52150,1595480400936627,189940,2,130000460,17751041,2277,4,N,0,3000,0,0,17010378
52151,1595480400936628,189941,2,130000460,17751042,2277,4,N,0,2000,0,0,16958348
56544,1595480401018856,200119,2,130000490,17753568,2277,F,N,45900,100,4590000,17582202,17753567
58087,1595480401052526,204361,2,130000510,17754547,2277,4,N,0,2000,0,0,13788769
58214,1595480401052863,204705,2,130000520,17754764,2277,F,N,46000,3000,138000000,17754763,17554221
58215,1595480401052865,204706,2,130000520,17754765,2277,F,N,46000,37000,1702000000,17754763,17595373
62230,1595480401131250,214521,2,130000560,17757121,2277,4,N,0,600,0,17743289,0
65833,1595480401199136,223493,2,130000610,17759276,2277,4,N,0,3000,0,17667948,0
67209,1595480401232108,226901,2,130000630,17760053,2277,4,N,0,5000,0,17615555,0
68239,1595480401252454,229432,2,130000650,17760622,2277,F,N,46000,10700,492200000,17760621,17595373
68714,1595480401264466,230730,2,130000660,17761031,2277,4,N,0,59700,0,0,6556902
72020,1595480401332324,239246,2,130000700,17763016,2277,F,N,46000,7400,340400000,17763015,17595373
73071,1595480401355236,242104,2,130000710,17763597,2277,F,N,45900,200,9180000,17582202,17763596
76409,1595480401423089,250559,2,130000760,17765615,2277,4,N,0,5000,0,3020301,0
76451,1595480401423210,250666,2,130000760,17765722,2277,4,N,0,5800,0,6046932,0
81388,1595480401535194,263998,2,130000810,17768895,2277,4,N,0,800,0,17690361,0
82004,1595480401546819,265724,2,130000820,17769348,2277,4,N,0,1000,0,2853205,0
82496,1595480401557703,266845,2,130000830,17769598,2277,4,N,0,800,0,17618705,0
83688,1595480401580221,270023,2,130000850,17770493,2277,4,N,0,1100,0,15524634,0
84686,1595480401602254,272664,2,130000870,17771107,2277,4,N,0,3300,0,1411635,0
86773,1595480401646726,278377,2,130000900,17772494,2277,4,N,0,4700,0,17730388,0
91081,1595480401737839,289366,2,130000960,17774905,2277,F,N,46000,16900,777400000,17774904,17595373
91409,1595480401748366,290181,2,130000960,17775088,2277,4,N,0,1200,0,0,17618335
91415,1595480401748373,290196,2,130000960,17775103,2277,4,N,0,400,0,0,9714149
93416,1595480401793098,295870,2,130000990,17776321,2277,F,N,46000,100,4600000,17776320,17595373
95082,1595480401827292,300132,2,130001020,17777432,2277,F,N,45900,200,9180000,17582202,17777431
95274,1595480401827830,300622,2,130001030,17777670,2277,4,N,0,400,0,15165970,0
97314,1595480401874172,306378,2,130001050,17778723,2277,4,N,0,1000,0,0,10841339
99348,1595480401918717,311815,2,130001100,17780103,2277,4,N,0,4800,0,0,12504167
99349,1595480401918718,311816,2,130001100,17780104,2277,4,N,0,8000,0,0,7701066
102747,1595480401998147,321069,2,130001150,17782233,2277,F,N,46000,500,23000000,17782232,17595373
104730,1595480402043753,326729,2,130001190,17783565,2277,4,N,0,10000,0,0,14258701
105701,1595480402066602,329213,2,130001200,17784139,2277,4,N,0,2200,0,17760888,0

In [8]:
# speed test
re = re[~re["sequenceNo_x"].isnull()]
re = re[~re["sequenceNo_y"].isnull()]
diff = re["clockAtArrival_y"] - re["clockAtArrival_x"]
re["diff"] = re["clockAtArrival_y"] - re["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
# print(np.quantile(diff[diff > 0], 0.25))
# print(np.median(diff[diff > 0]))
# print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))
print(sum(diff == 0)/len(diff))

6800.0
10922.0
14961.0
1.0
0.0
0.0

In [31]:
OrderLogSZ[(OrderLogSZ['TransactTime'] >= 103430010) & (OrderLogSZ['TransactTime'] <= 112457430)].groupby('SecurityID')['TransactTime'].max().min()

112246420

In [32]:
OrderLogSZ1[(OrderLogSZ1['TransactTime'] >= 103430010) & (OrderLogSZ1['TransactTime'] <= 112457430)].groupby('SecurityID')['TransactTime'].max().min()

112246420

In [3]:
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]
OrderLogSZ1['OrderType'] = OrderLogSZ1['OrderType'].astype(str)
OrderLogSZ = OrderLogSZ.drop_duplicates(columns, keep='first')
# OrderLogSZ = OrderLogSZ[(OrderLogSZ['TransactTime'] >= 103430010) & (OrderLogSZ['TransactTime'] <= 112457430)]
# OrderLogSZ1 = OrderLogSZ1[(OrderLogSZ1['TransactTime'] >= 103430010) & (OrderLogSZ1['TransactTime'] <= 112457430)]
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["sequenceNo_y"])])
    print(len(ree[np.isnan(ree["sequenceNo_y"])]))
    print(np.sort(ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo_x"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

52280691
51297917
52280691
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y
0,1599095699570760,14061,2,91500000,1,709,1,2,22000,60000,NaN,NaN,NaN
1,1599095699570767,14062,2,91500000,2,2630,1,2,27800,970800,NaN,NaN,NaN
2,1599095699570776,14064,2,91500000,4,300301,1,2,48100,293400,NaN,NaN,NaN
3,1599095699570784,14065,2,91500000,5,2315,1,2,283100,70400,NaN,NaN,NaN
4,1599095699570784,14066,2,91500000,6,2315,1,2,283100,529700,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35018066,1599096038250270,1172075,2,92038790,253208,2863,2,2,80000,1000,NaN,NaN,NaN
35018067,1599096038250289,1172078,2,92038790,253211,300032,1,2,54900,200,NaN,NaN,NaN
35018068,1599096038250331,1172084,2,92038800,278804,2040,2,2,70800,2500,NaN,NaN,NaN
35018069,1599096038265871,1172085,2,92038800,278805,70,1,2,112300,100,NaN,NaN,NaN
35018070,1599096038265883,1172087,2,92038800,253215,300177,2,2,121000,1000,NaN,NaN,NaN

982774
[91500000 91500010 91500020 ... 92038790 92038800 92038810]
2232
[   709   2630 300301 ... 300530   2569    803]

In [97]:
OrderLogSZ[(OrderLogSZ['SecurityID'] == 2241) & (OrderLogSZ['TransactTime'] >= 112958000)].head(100)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
37112707,1595474998203444,74260736,2,112958200,17390901,2241,2,2,347700,200
37112915,1595474998333556,74261136,2,112958330,17390984,2241,2,2,342500,200
37112963,1595474998372673,74261238,2,112958370,17391003,2241,2,2,342500,1000
37113023,1595474998420442,74261354,2,112958420,17391034,2241,2,2,342500,1100
37113433,1595474998712697,74262122,2,112958710,17391204,2241,1,2,342800,600
37113796,1595474999008491,74262942,2,112959010,17391406,2241,2,2,342500,400
37114113,1595474999259454,74263702,2,112959260,17391588,2241,1,2,331800,100
37114270,1595474999394549,74264009,2,112959390,17391658,2241,2,2,342400,100
37114732,1595474999785847,74264930,2,112959780,17391876,2241,2,2,342400,200
23,1595480400026037,75813,2,130000000,17392371,2241,1,2,342600,700
107,1595480400027180,76264,2,130000000,17392767,2241,1,2,342600,400
326,1595480400028736,76960,2,130000020,17393238,2241,1,2,331800,1000
363,1595480400029018,77041,2,130000020,17393268,2241,1,2,343000,1400
390,1595480400029064,77094,2,130000020,17393321,2241,2,2,342200,6000
439,1595480400029442,77271,2,130000020,17393382,2241,2,2,346500,100
539,1595480400029866,77506,2,130000030,17393563,2241,1,2,337300,800
820,1595480400041592,78575,2,130000030,17394037,2241,1,2,345000,6500
884,1595480400041728,78723,2,130000030,17394185,2241,1,2,335000,1000
953,1595480400041946,78858,2,130000030,17394322,2241,1,2,342500,600
1019,1595480400042180,78993,2,130000030,17394457,2241,2,2,345500,100
1034,1595480400042205,79025,2,130000030,17394489,2241,2,2,343000,100
1035,1595480400042205,79026,2,130000030,17394490,2241,2,2,345000,100
1055,1595480400042232,79061,2,130000030,17394527,2241,2,2,350000,500
1280,1595480400052760,80012,2,130000030,17394792,2241,2,2,342700,800
1363,1595480400052915,80151,2,130000030,17394932,2241,2,2,342200,100
1998,1595480400063988,81423,2,130000040,17395602,2241,2,2,346000,100
2462,1595480400076117,82741,2,130000040,17395834,2241,1,2,337500,100
2913,1595480400087261,84001,2,130000040,17396034,2241,1,2,334000,500
2941,1595480400087297,84052,2,130000040,17396085,2241,1,2,341000,1300
2957,1595480400087316,84077,2,130000040,17396110,2241,2,2,342600,600
3432,1595480400089857,85052,2,130000040,17396244,2241,2,2,348700,2000
3434,1595480400089859,85056,2,130000040,17396248,2241,1,2,330600,500
3632,1595480400098834,85592,2,130000050,17396307,2241,1,2,335000,100
3653,1595480400098853,85622,2,130000050,17396337,2241,1,2,342900,400
4879,1595480400113191,88054,2,130000050,17396575,2241,1,2,342300,100
6363,1595480400134035,90652,2,130000050,17396768,2241,2,2,342800,100
7341,1595480400145402,92370,2,130000060,17396983,2241,2,2,349800,1000
7366,1595480400147278,92416,2,130000060,17397029,2241,2,2,343000,400
7981,1595480400156335,93452,2,130000060,17397181,2241,1,2,342400,500
8488,1595480400167228,94343,2,130000070,17397446,2241,2,2,342500,200
8490,1595480400167229,94346,2,130000070,17397449,2241,1,2,343000,300
8491,1595480400167233,94348,2,130000070,17397451,2241,2,2,345000,600
8519,1595480400167277,94400,2,130000070,17397503,2241,1,2,342400,200
8737,1595480400167746,94835,2,130000070,17397689,2241,2,2,352000,1400
9449,1595480400178968,96226,2,130000080,17398095,2241,2,2,349700,400
9455,1595480400178984,96249,2,130000080,17398118,2241,2,2,342900,7200
9586,1595480400189573,96518,2,130000080,17398152,2241,2,2,344000,300
9593,1595480400189583,96532,2,130000080,17398166,2241,2,2,345000,100
9594,1595480400189583,96533,2,130000080,17398167,2241,1,2,335100,300
9745,1595480400189939,96847,2,130000090,17398312,2241,2,2,342500,400
9760,1595480400189956,96872,2,130000090,17398337,2241,2,2,342400,100
9991,1595480400190455,97315,2,130000090,17398447,2241,2,2,341700,100
9995,1595480400190462,97324,2,130000090,17398456,2241,2,2,343500,100
10002,1595480400190469,97336,2,130000090,17398468,2241,2,2,346000,1000
10337,1595480400200879,98081,2,130000100,17398643,2241,2,2,356600,1700
11249,1595480400213032,100078,2,130000100,17399051,2241,2,2,345000,500
11392,1595480400213382,100326,2,130000110,17399175,2241,1,2,332600,300
11486,1595480400214265,100513,2,130000110,17399261,2241,2,2,342500,300
11524,1595480400214317,100587,2,130000110,17399335,2241,2,2,345000,100
12438,1595480400235433,102258,2,130000130,17399751,2241,2,2,342200,100
12440,1595480400235436,102261,2,130000130,17399754,2241,2,2,342500,4200
12453,1595480400235563,102291,2,130000130,17399784,2241,1,2,342500,3000
12487,1595480400235612,102369,2,130000130,17399862,2241,2,2,366600,300
12980,1595480400246510,103408,2,130000130,17400040,2241,1,2,333000,300
13005,1595480400246547,103459,2,130000140,17400092,2241,1,2,333300,5000
13046,1595480400246707,103535,2,130000140,17400168,2241,2,2,344500,2500
13047,1595480400246707,103536,2,130000140,17400169,2241,2,2,346500,2500
13061,1595480400246724,103557,2,130000140,17400190,2241,1,2,327500,900
13680,1595480400257560,104766,2,130000140,17400408,2241,2,2,344000,100
13792,1595480400257812,105005,2,130000150,17400524,2241,1,2,342600,200
14342,1595480400269048,106332,2,130000150,17401029,2241,2,2,342500,100
14343,1595480400269048,106333,2,130000150,17401030,2241,2,2,343000,100
14357,1595480400269075,106368,2,130000150,17401065,2241,2,2,346000,300
14718,1595480400270894,107053,2,130000150,17401214,2241,2,2,342200,100
14816,1595480400279836,107263,2,130000150,17401228,2241,1,2,335000,100
14818,1595480400279838,107266,2,130000150,17401231,2241,1,2,342500,500
14954,1595480400280213,107615,2,130000160,17401465,2241,1,2,342500,100
14987,1595480400280270,107680,2,130000160,17401531,2241,2,2,351200,200
14995,1595480400280282,107694,2,130000160,17401545,2241,2,2,342800,800
14998,1595480400280284,107698,2,130000160,17401549,2241,2,2,348800,300
15457,1595480400292232,108714,2,130000160,17401663,2241,2,2,342400,200
15458,1595480400292234,108717,2,130000160,17401666,2241,2,2,342500,100
15468,1595480400292257,108738,2,130000160,17401687,2241,2,2,343800,600
15626,1595480400292837,109048,2,130000160,17401754,2241,2,2,370000,200
15654,1595480400292886,109119,2,130000160,17401825,2241,1,2,333800,2000
16008,1595480400302948,109885,2,130000170,17401874,2241,2,2,342000,2000
16880,1595480400314574,111727,2,130000170,17402368,2241,1,2,342600,1000
17516,1595480400325566,112974,2,130000180,17402594,2241,2,2,346800,400
17674,1595480400325935,113291,2,130000180,17402823,2241,1,2,342400,100
18467,1595480400337319,114722,2,130000180,17403139,2241,1,2,342600,500
18848,1595480400338152,115377,2,130000190,17403319,2241,1,2,333000,300
18970,1595480400347804,115618,2,130000190,17403418,2241,1,2,331500,100
19219,1595480400348347,116070,2,130000190,17403508,2241,1,2,335000,200
19574,1595480400358776,116752,2,130000190,17403710,2241,1,2,329600,200
19772,1595480400359257,117129,2,130000190,17403821,2241,1,2,342200,1700
20489,1595480400370240,118436,2,130000200,17404003,2241,2,2,343000,100
20536,1595480400370338,118508,2,130000200,17404075,2241,1,2,330100,100
21022,1595480400381068,119433,2,130000200,17404400,2241,2,2,350000,400
21030,1595480400381075,119444,2,130000200,17404411,2241,2,2,342400,200
21304,1595480400381640,119934,2,130000200,17404526,2241,1,2,342400,500

In [91]:
OrderLogSZ[(OrderLogSZ['SecurityID'] == 300139) & (OrderLogSZ['TransactTime'] >= 103900000)].head(100)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
27916557,1595471940842143,54547642,2,103900840,12416520,300139,2,2,83800,3600
27917770,1595471941137887,54550522,2,103901130,12417036,300139,1,2,83200,3000
27919355,1595471941563444,54554016,2,103901560,12417797,300139,1,2,83700,400
27929351,1595471944797325,54575561,2,103904790,12422463,300139,1,2,83900,1100
27929719,1595471944934472,54576247,2,103904930,12422638,300139,1,2,83900,2000
27933240,1595471946178019,54582799,2,103906170,12424102,300139,1,2,82100,600
27933669,1595471946337663,54583698,2,103906330,12424360,300139,1,2,83900,2000
27936811,1595471947210877,54591496,2,103907210,12425812,300139,2,2,83800,2000
27941302,1595471948799634,54600469,2,103908800,12427894,300139,1,2,83900,200
27944057,1595471949775090,54606212,2,103909770,12429181,300139,1,2,81800,2000
27946243,1595471950354400,54611477,2,103910350,12430174,300139,1,2,83900,1000
27950101,1595471951680241,54618737,2,103911680,12431912,300139,1,2,83900,400
27950165,1595471951702189,54618827,2,103911700,12431934,300139,1,2,83900,1000
27951147,1595471952070093,54620699,2,103912070,12432453,300139,2,2,83800,10000
27970537,1595471958159906,54661412,2,103918160,12441679,300139,1,2,83300,4000
27981298,1595471961814677,54684376,2,103921810,12446815,300139,1,2,78800,3300
27984713,1595471962882222,54692230,2,103922880,12448463,300139,2,2,83900,2000
27989561,1595471964647506,54701683,2,103924640,12450781,300139,1,2,83900,1000
27993447,1595471965783458,54710572,2,103925780,12452602,300139,1,2,83900,200
28001663,1595471968485365,54727717,2,103928480,12456375,300139,2,2,89600,1000
28004335,1595471969498572,54732604,2,103929490,12457561,300139,1,2,83700,500
28006406,1595471970243899,54736611,2,103930240,12458581,300139,1,2,83900,3700
28006936,1595471970435957,54737638,2,103930430,12458791,300139,1,2,83000,300
28007729,1595471970701461,54739496,2,103930700,12459169,300139,1,2,83900,12300
28009602,1595471971193116,54744048,2,103931190,12460077,300139,2,2,90000,100
28010697,1595471971528279,54746416,2,103931520,12460587,300139,2,2,83900,4000
28011171,1595471971690979,54747327,2,103931690,12460784,300139,2,2,83800,100
28014017,1595471972761910,54753242,2,103932760,12461945,300139,2,2,84000,3000
28014994,1595471973154516,54755043,2,103933150,12462338,300139,1,2,83900,2000
28015429,1595471973308935,54755861,2,103933310,12462514,300139,1,2,83400,300
28017184,1595471973862173,54759913,2,103933860,12463340,300139,2,2,83800,24000
28029273,1595471977824156,54785739,2,103937820,12469093,300139,1,2,83800,6000
28036374,1595471980163596,54800522,2,103940160,12472360,300139,2,2,84100,2000
28058916,1595471987735484,54848183,2,103947730,12483385,300139,1,2,84000,1000
28059160,1595471987838325,54848623,2,103947830,12483498,300139,1,2,83000,2000
28061224,1595471988621812,54852967,2,103948620,12484436,300139,1,2,83200,200
28070019,1595471991641196,54872033,2,103951640,12488650,300139,1,2,83700,700
28072059,1595471992198698,54877661,2,103952190,12489565,300139,2,2,83800,3000
28081703,1595471995481970,54898449,2,103955480,12494105,300139,1,2,83800,1000
28083963,1595471996218677,54903020,2,103956220,12495162,300139,1,2,83300,3000
28087899,1595471997481049,54910643,2,103957480,12497171,300139,2,2,83800,900
28088449,1595471997634483,54911944,2,103957630,12497452,300139,2,2,83800,46700
28091903,1595471998358950,54919922,2,103958350,12499246,300139,1,2,83800,300
28093727,1595471998927821,54923488,2,103958920,12500219,300139,1,2,83800,2900
28104248,1595472001583707,54946647,2,104001580,12505828,300139,1,2,83100,300
28104669,1595472001701664,54947452,2,104001700,12506056,300139,1,2,83800,300
28117429,1595472004628812,54974241,2,104004630,12512318,300139,1,2,83800,3000
28120247,1595472005418053,54979867,2,104005410,12513685,300139,1,2,83700,3600
28121231,1595472005704719,54981824,2,104005700,12514205,300139,1,2,83800,3900
28124917,1595472006730159,54989566,2,104006730,12515864,300139,1,2,83700,6000
28128476,1595472007286765,54998052,2,104007280,12517573,300139,1,2,83500,500
28129429,1595472007448913,55000196,2,104007450,12518130,300139,1,2,84000,100
28129891,1595472007547150,55001122,2,104007540,12518313,300139,1,2,83800,800
28133302,1595472008525901,55008092,2,104008520,12519962,300139,2,2,84200,5000
28135237,1595472009137812,55011933,2,104009130,12520920,300139,2,2,90000,1000
28139624,1595472010130189,55022187,2,104010130,12523246,300139,1,2,83600,2000
28159259,1595472014655110,55065189,2,104014650,12533521,300139,1,2,83700,6000
28161688,1595472015411483,55070246,2,104015410,12534901,300139,1,2,81900,500
28162396,1595472015602597,55071713,2,104015600,12535213,300139,1,2,83800,200
28163326,1595472015777956,55073948,2,104015770,12535645,300139,1,2,83700,2000
28168523,1595472016754245,55085709,2,104016750,12538264,300139,1,2,83100,1000
28169398,1595472017057898,55087518,2,104017050,12538707,300139,2,2,83700,3400
28172609,1595472018113589,55093833,2,104018110,12540268,300139,2,2,83700,200
28178818,1595472019508915,55108417,2,104019510,12543584,300139,1,2,81000,1100
28189833,1595472022388185,55133181,2,104022380,12549339,300139,1,2,80000,400
28192592,1595472023139038,55138760,2,104023130,12550700,300139,2,2,83700,3400
28202578,1595472025381042,55161590,2,104025380,12555699,300139,1,2,83400,500
28203127,1595472025514152,55162779,2,104025510,12556069,300139,1,2,83800,200
28205041,1595472026056318,55166793,2,104026050,12557083,300139,2,2,84300,3000
28211847,1595472027775106,55182236,2,104027770,12560280,300139,2,2,83700,1500
28216899,1595472028710298,55193747,2,104028710,12562616,300139,1,2,83600,1000
28217396,1595472028873139,55194719,2,104028870,12562893,300139,1,2,83100,4000
28219285,1595472029392080,55198483,2,104029390,12563761,300139,2,2,84000,3700
28223461,1595472030561626,55207294,2,104030560,12565985,300139,2,2,83800,100
28231524,1595472032399262,55226217,2,104032390,12569987,300139,2,2,91800,2800
28232600,1595472032741387,55228339,2,104032740,12570460,300139,2,2,83700,1300
28236073,1595472033747526,55236156,2,104033740,12572558,300139,1,2,83800,200
28251907,1595472037560132,55271903,2,104037560,12580651,300139,1,2,82900,600
28256793,1595472038922876,55281759,2,104038920,12582872,300139,2,2,83700,600
28260419,1595472039877974,55290334,2,104039870,12584762,300139,2,2,94000,1000
28260943,1595472039989940,55291574,2,104039990,12584991,300139,2,2,83700,900
28268164,1595472041853174,55307052,2,104041850,12588719,300139,1,2,83500,500
28275987,1595472043531381,55325731,2,104043530,12592838,300139,2,2,83400,5000
28280844,1595472044844585,55336222,2,104044840,12595101,300139,2,2,95200,3800
28298081,1595472049148757,55377417,2,104049150,12603588,300139,1,2,83700,1000
28306649,1595472051456469,55396590,2,104051450,12607975,300139,1,2,81800,900
28310316,1595472052212501,55406714,2,104052210,12609973,300139,2,2,83800,3000
28311048,1595472052327136,55408490,2,104052320,12610286,300139,1,2,83900,2000
28311757,1595472052467567,55410025,2,104052460,12610609,300139,2,2,83700,7500
28318628,1595472054434472,55424809,2,104054430,12613945,300139,1,2,83700,600
28320344,1595472054826544,55429310,2,104054820,12614730,300139,2,2,86800,2000
28322408,1595472055193828,55434376,2,104055190,12615699,300139,1,2,83000,1000
28325694,1595472055915326,55441718,2,104055910,12617240,300139,1,2,83100,1200
28344522,1595472060671010,55485297,2,104100670,12627427,300139,1,2,83700,300
28347485,1595472061209272,55493165,2,104101210,12629064,300139,1,2,83500,400
28352494,1595472062432092,55504650,2,104102430,12632121,300139,2,2,83700,5000
28356267,1595472063486272,55512832,2,104103480,12634004,300139,2,2,83600,1000
28357838,1595472063830344,55517151,2,104103830,12634897,300139,1,2,83800,22700
28369436,1595472066361104,55542908,2,104106360,12640739,300139,1,2,83800,100
28377976,1595472068206747,55563516,2,104108200,12644941,300139,2,2,83700,3000

In [4]:
# speed test
ree = ree[~ree["sequenceNo_x"].isnull()]
ree = ree[~ree["sequenceNo_y"].isnull()]
ree["diff"] = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
diff = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

6729.0
10858.0
14907.0

IndexError: cannot do a non-empty take from an empty axes.