In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()
    
    


import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = 'A:\\day_stock\\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2015"
startDate = '20150101'
endDate = '20151231'
readPath = 'L:\\' + year + '\\***\\Order\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date = np.unique(np.array([os.path.basename(i) for i in dataPathLs]))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
ll = []
problems = []

for d in date: 
    OrderLog = []
    path = dataPathLs[dateLs == d]
    for p in path:
        readPath = p + '\\***'
        datapath = np.array(glob.glob(readPath))
        dd = np.array([int(os.path.basename(i).split('.')[0]) for i in datapath])
        datapath = datapath[(dd < 4000) | ((dd > 300000) & (dd < 310000))]
        for i in datapath:
            try:
                df = pd.read_csv(i, encoding='GBK')
            except:
                print("empty data")
                print(i)
                ll.append(int(os.path.basename(i).split('.')[0]))
                continue
            OrderLog += [df]
    OrderLog = pd.concat(OrderLog).reset_index(drop=True)
    OrderLog = OrderLog[OrderLog['function_code'] != 67]
    
    OrderLog = OrderLog.rename(columns={"function_code": "order_side", "order_kind":"order_type",
                                       "order_volume":"order_qty", "order":"ApplSeqNum"})
    OrderLog['skey'] = OrderLog['wind_code'].apply(lambda x: x.split('.')[0]).astype(int) + 2000000
    OrderLog["order_type"] = np.where(OrderLog["order_type"] == '0', 2, np.where(OrderLog['order_type'] == 'X', 3, 1))
    OrderLog['order_side'] = np.where(OrderLog['order_side'] == 66, 1, 2)
    OrderLog['TransactTime'] = (OrderLog['date'] * 1000000000).astype('int64') + OrderLog['time']
    OrderLog["clockAtArrival"] = OrderLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    OrderLog['datetime'] = OrderLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    OrderLog["time"] = OrderLog['time'].astype(np.int64)*1000
    
    OrderLog = OrderLog[~OrderLog['order_qty'].isnull()]
    for col in ["skey", "date", "ApplSeqNum", "order_qty", "order_side", "order_type"]:
        OrderLog[col] = OrderLog[col].astype('int32')
    for cols in ["order_price"]:
        OrderLog[cols] = (OrderLog[cols]/10000).round(2)

    da_te = str(OrderLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    del db1
    try:
        assert(len(set(sl) - set(OrderLog["skey"].unique())) == 0)
    except:
        print("less stocks")
        display(set(sl) - set(OrderLog["skey"].unique()))
    if len(set(OrderLog["skey"].unique()) - set(sl)) != 0:
        print("more stocks")
        print(set(OrderLog["skey"].unique()) - set(sl))
    
    OrderLog = OrderLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "order_side", "order_type", "order_price",
                                                 "order_qty"]]
    
    print(OrderLog["date"].iloc[0])
    print("order finished")
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    
    trade = db1.read('md_trade', start_date=str(d), end_date=str(d))
    trade = trade[trade['skey'] > 2000000]
    t1 = trade.groupby('skey')['BidApplSeqNum'].unique().reset_index()
    t2 = trade.groupby('skey')['OfferApplSeqNum'].unique().reset_index()
    t3 = OrderLog.groupby('skey')['ApplSeqNum'].unique().reset_index()
    t = pd.merge(t1, t2, on='skey')
    t['union'] = [list(set(a) | set(b)) for a, b in zip(t.BidApplSeqNum, t.OfferApplSeqNum)]
    t = pd.merge(t, t3, on='skey', how='outer')
    assert(t[(t['union'].isnull()) | (t['ApplSeqNum'].isnull())].shape[0] == 0)
    t['less'] = [len(set(a) - set(b)) for a, b in zip(t.union, t.ApplSeqNum)]
    try:
        assert(t[t['less'] > 1].shape[0] == 0)
    except:
        print(t[t['less'] > 1])
        t['date'] = d
        add = OrderLog[OrderLog['skey'].isin(t[t['less'] > 1]['skey'].unique())].groupby('skey')['time'].max().reset_index()
        problems += [pd.merge(t[t['less'] > 1], add)[['date', 'skey', 'time']]]

    db1.write('md_order', OrderLog)
    
    del OrderLog
    
    print(datetime.datetime.now() - startTm)

problems = pd.concat(problems).reset_index(drop=True)
print(problems)
problems.to_pickle(r'G:\\2015_order_1.pkl')

In [6]:
import pandas as pd
order = pd.read_csv(r'H:\2015\SZ\x64release\Order\SZ\20150105\000001.csv', encoding='GBK')
trade = pd.read_csv(r'H:\2015\SZ\x64release\Transaction\SZ\20150105\000001.csv', encoding='GBK')

In [8]:
order.groupby('order_kind')['code'].size()

order_kind
48    152885
50        58
86      1302
87         9
88        44
89       461
Name: code, dtype: int64

In [41]:
order['function_code'].unique()

array([66, 83, 67], dtype=int64)

In [27]:
order[(order['order_kind'] == 48) & (order['order_price'] != 0) & (order['time'] > 93000000)].groupby('function_code').head()

,code,wind_code,name,date,time,order,order_kind,function_code,order_price,order_volume
5614,1,000001.SZ,平安银行,20150105,93000010,70667,48,66,159900,1200
5615,1,000001.SZ,平安银行,20150105,93000020,70668,48,66,160000,1000
5616,1,000001.SZ,平安银行,20150105,93000020,70669,48,66,159900,5000
5618,1,000001.SZ,平安银行,20150105,93000020,70671,48,66,159900,600
5622,1,000001.SZ,平安银行,20150105,93000020,70675,48,83,159900,1000
5624,1,000001.SZ,平安银行,20150105,93000020,70677,48,66,159900,500
5628,1,000001.SZ,平安银行,20150105,93000040,71311,48,83,165000,300
5632,1,000001.SZ,平安银行,20150105,93000070,71315,48,83,159700,2000
5633,1,000001.SZ,平安银行,20150105,93000070,71316,48,83,168000,1100
5634,1,000001.SZ,平安银行,20150105,93000070,71317,48,83,161900,100

In [40]:
trade[trade['bid_order'] == 70677]

,code,wind_code,name,date,time,function_code,order_kind,bs_flag,trade_price,trade_volume,ask_order,bid_order
864,1,000001.SZ,平安银行,20150105,93000130,48,48,66,159900,500,52513,70677

In [ ]:
trade[trade]