In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()
    
    


import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = 'L:\\daily\\2015\\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2015"
startDate = '20150101'
endDate = '20151231'
readPath = 'H:\\' + year + '\\SZ\\x64release\\Transaction\\SZ\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date = np.unique(np.array([os.path.basename(i) for i in dataPathLs]))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
ll = []
problems = []

for d in date: 
    TradeLog = []
    path = dataPathLs[dateLs == d]
    for p in path:
        readPath = p + '\\***'
        datapath = np.array(glob.glob(readPath))
        dd = np.array([int(os.path.basename(i).split('.')[0]) for i in datapath])
        datapath = datapath[(dd < 4000) | ((dd > 300000) & (dd < 310000))]
        for i in datapath:
            try:
                df = pd.read_csv(i, encoding='GBK')
            except:
                print("empty data")
                print(i)
                ll.append(int(os.path.basename(i).split('.')[0]))
                continue
            TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    
    TradeLog = TradeLog.rename(columns={"function_code": "trade_type", "trade_volume":"trade_qty",
                                       "bid_order":"BidApplSeqNum", "ask_order":"OfferApplSeqNum"})
    TradeLog['skey'] = TradeLog['wind_code'].apply(lambda x: x.split('.')[0]).astype(int) + 2000000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 67, 4, 1)
    TradeLog["trade_flag"] = 0
    TradeLog['trade_price'] = (TradeLog['trade_price'] / 10000).round(2)
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog['TransactTime'] = (TradeLog['date'] * 1000000000).astype('int64') + TradeLog['time']
    TradeLog = TradeLog[TradeLog["TransactTime"].astype(str).str[12:14].astype(int) < 60]
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = TradeLog['time'].astype(np.int64)*1000
    
    for col in ["skey", "date", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
        re['date'] = d
        add = TradeLog[TradeLog['skey'].isin(re[(re["cum_amount"].round(2) != re["max_amount"]) & (~re['skey'].isin([2001872, 2001914]))]['skey'].unique())].groupby('skey')['time'].max().reset_index()
        problems += [pd.merge(re[(re["cum_amount"].round(2) != re["max_amount"]) & (~re['skey'].isin([2001872, 2001914]))], add, on='skey')[['date', 'skey', 'time']]]
    del t1
    del t2
    del re
    
    TradeLog['ApplSeqNum'] = 0
    TradeLog['ApplSeqNum'] = TradeLog['ApplSeqNum'].astype(int)
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)
problems = pd.concat(problems).reset_index(drop=True)
print(problems)
problems.to_pickle(r'G:\\2015_trade_1.pkl')

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:195: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:01:46.010462

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:256: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:257: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{2000403,
 2000409,
 2000422,
 2000511,
 2000585,
 2000655,
 2000693,
 2000707,
 2000720,
 2000737,
 2000816,
 2000893,
 2000912,
 2000922,
 2000939,
 2000953,
 2000972,
 2002102,
 2002122,
 2002194,
 2002259,
 2002260,
 2002263,
 2002306,
 2002427,
 2002445,
 2002473,
 2002496,
 2002570,
 2002604,
 2002680,
 2300299,
 2300301,
 2300302,
 2300303,
 2300304,
 2300305,
 2300306,
 2300307,
 2300308,
 2300309,
 2300310,
 2300311,
 2300312,
 2300314,
 2300316,
 2300317,
 2300318,
 2300319,
 2300320,
 2300321,
 2300322,
 2300323,
 2300325,
 2300326,
 2300327,
 2300328,
 2300329,
 2300330,
 2300331,
 2300332,
 2300333,
 2300334,
 2300335,
 2300336,
 2300337,
 2300338,
 2300339,
 2300340,
 2300341,
 2300342,
 2300344,
 2300345,
 2300346,
 2300348,
 2300349,
 2300351,
 2300352,
 2300353,
 2300354,
 2300355,
 2300356,
 2300357,
 2300358,
 2300360,
 2300363,
 2300365,
 2300366,
 2300367,
 2300368,
 2300369,
 2300371,
 2300373,
 2300375,
 2300376,
 2300377,
 2300378,
 2300379,
 2300380,
 2300381,
 2300382,
 2300383,
 2300384,
 2300385,
 2300386,
 2300387,
 2300388,
 2300389,
 2300390,
 2300391,
 2300392,
 2300393,
 2300395,
 2300396,
 2300397,
 2300398,
 2300399,
 2300400,
 2300401,
 2300402,
 2300403,
 2300405,
 2300406,
 2300407,
 2300408,
 2300409,
 2300410,
 2300411,
 2300412}

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
71    SZ000403   3083673.0  5.373307e+07  2000403         NaN         NaN
75    SZ000409   8845104.0  9.233572e+07  2000409         NaN         NaN
84    SZ000422  51173396.0  3.958065e+08  2000422         NaN         NaN
96    SZ000511  66122038.0  5.755510e+08  2000511         NaN         NaN
146   SZ000585  11698694.0  4.800403e+07  2000585         NaN         NaN
...        ...         ...           ...      ...         ...         ...
1419  SZ300408   2295399.0  1.078508e+08  2300408         NaN         NaN
1420  SZ300409   1630035.0  7.465354e+07  2300409         NaN         NaN
1421  SZ300410      3800.0  6.494200e+04  2300410         NaN         NaN
1422  SZ300411      6050.0  1.226335e+05  2300411         NaN         NaN
1423  SZ300412      3250.0  7.000500e+04  2300412         NaN         NaN

[129 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
71    SZ000403   3083673.0  5.373307e+07  2000403         NaN         NaN
75    SZ000409   8845104.0  9.233572e+07  2000409         NaN         NaN
84    SZ000422  51173396.0  3.958065e+08  2000422         NaN         NaN
96    SZ000511  66122038.0  5.755510e+08  2000511         NaN         NaN
146   SZ000585  11698694.0  4.800403e+07  2000585         NaN         NaN
...        ...         ...           ...      ...         ...         ...
1419  SZ300408   2295399.0  1.078508e+08  2300408         NaN         NaN
1420  SZ300409   1630035.0  7.465354e+07  2300409         NaN         NaN
1421  SZ300410      3800.0  6.494200e+04  2300410         NaN         NaN
1422  SZ300411      6050.0  1.226335e+05  2300411         NaN         NaN
1423  SZ300412      3250.0  7.000500e+04  2300412         NaN         NaN

[129 rows x 6 columns]

2015-01-05
trade finished
0:05:22.273162