In [5]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime

# deal with duplicates in 深交所数据
startTm = datetime.datetime.now()
F2 = open('F:\\SZ2018.pkl', 'rb')
SZ = pickle.load(F2)
p1 = SZ[SZ["date"].isin(['2017-06-20', "2017-06-22"])].groupby(["ID", "date"]).first().reset_index()
p2 = SZ[SZ["date"].isin(['2017-06-20', "2017-06-22"])].groupby(["ID", "date"]).last().reset_index()
p3 = SZ[~SZ["date"].isin(['2017-06-20', "2017-06-22"])]
SZ = pd.concat([p1, p3])

readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200416\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
date = SZ["date"].unique()
date1 = db["date"].unique()
date1 = date1[(date1>=date.min()) & (date1 <= date.max())]
display(set(date1) - set(date))
db = db[db["date"].isin(date)]

# 注意
# 1. diff里包括所有的不匹配，可能是close price造成的，需要在下一步验证
# 2. 第二次merge仍有不匹配，继续查找原因
# 3. 天软数据包括当天停牌的股票，openPrice == 0
# 4. 实际的收盘价调整是两次merge相减的结果
# 5. 深交所数据那天会重复
# 6. SZ包括当天停牌的股票，SH应该不包括，再确认
df = pd.merge(SZ, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"], how="outer")
if sum(df["d_amount_x"].isnull()) != 0:
    diff = df[df["d_amount_x"].isnull()][["ID", "date"]]
    re = pd.merge(SZ, diff, how="right")
    print("%d different ticks compared with Tianruan" % re.shape[0])
    if sum(re["auction"] == 1) == 0:
        print("%d ticks no auction:" % re[re["auction"] == 0].shape[0])
        print("  %d days" % len(re[re["auction"] == 0]["date"].unique()))
        print("  %d stocks" % len(re[re["auction"] == 0]["ID"].unique()))
        if re[re["auction"].isnull()].shape[0] == 0:
            df1 = pd.merge(SZ, db, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
            if sum(df1["d_amount_x"].isnull()) == 0:
                print("all data same as Tianruan")
            else:
                print(df1[df1["d_amount_x"].isnull()])
        else:
            re1 = re[re["auction"].isnull()]
            dup = db[db.duplicated(keep=False, subset=["date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"])]
            dup1 = pd.merge(dup, re1[["ID", "date"]], on=["ID", "date"], how="outer")
            re2 = re[~re["auction"].isnull()]
            db1 = pd.merge(db, re2[["ID", "date"]], on=["ID", "date"])
            df1 = pd.merge(SZ, db1, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
            if (dup1.shape[0] == dup.shape[0]) & (sum(df1["d_amount_x"].isnull()) == 0):
                print("%d ticks duplicated in Tianruan:" % re1.shape[0])
                print("  %d days" % len(re1["date"].unique()))
                print(re1["ID"].unique())
                print("all data same as Tianruan")
            else:
                print("%d ticks missing in HD" % dup1[dup1["d_open"].isnull()].shape[0])
                print(dup1[dup1["d_open"].isnull()][["ID", "date"]])
                print(df1[df1["d_amount_x"].isnull()])
    else:
        print("%d ticks no auction:" % re[re["auction"] == 0].shape[0])
        print("  %d days" % len(re[re["auction"] == 0]["date"].unique()))
        print("  %d stocks" % len(re[re["auction"] == 0]["ID"].unique()))
        if re[re["auction"].isnull()].shape[0] == 0:
            print("all data same as Tianruan")
        else:
            re1 = re[re["auction"].isnull()]
            dup = db[db.duplicated(keep=False, subset=["date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"])]
            dup1 = pd.merge(dup, re1[["ID", "date"]], on=["ID", "date"], how="outer")
            if dup1.shape[0] == dup.shape[0]:
                print("%d ticks duplicated in Tianruan:" % re1.shape[0])
                print("  %d days" % len(re1["date"].unique()))
                print(re1["ID"].unique())
                print("all data same as Tianruan")
            else:
                print("%d ticks missing in HD" % dup1[dup1["d_open"].isnull()].shape[0])
                print(dup1[dup1["d_open"].isnull()][["ID", "date"]])  
            
        SZ1 = pd.merge(SZ, re[re["auction"] == 1][["ID", "date"]], how="right")
        db1 = pd.merge(db, re[re["auction"] == 1][["ID", "date"]], how="left")
        df = pd.merge(SZ1, db1, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_close"], how="outer")
        if sum(df["d_amount_x"].isnull()) == 0:
            print("%d ticks have different cum_volume" % re[re["auction"] == 1].shape[0])
print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

set()

652 different ticks compared with Tianruan
289 ticks no auction:
  148 days
  201 stocks
352 ticks duplicated in Tianruan:
  243 days
['SZ001872' 'SZ001914']
all data same as Tianruan
0:05:51.038663

In [21]:
re[re["auction"] == 1][["ID", "date"]]

           ID        date
10   SZ300125  2018-01-12
19   SZ300632  2018-01-25
35   SZ300553  2018-02-07
41   SZ300442  2018-02-13
57   SZ300108  2018-04-16
91   SZ300286  2018-06-27
147  SZ000753  2018-08-28
188  SZ300530  2018-09-19
189  SZ300575  2018-09-19
219  SZ300516  2018-10-15
228  SZ300330  2018-10-18

In [20]:
db[(db["ID"] == "SZ300125") & (db["date"] == "2018-01-12")]

,ID,date,d_open,d_high,d_low,d_close,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,...,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares
1328,SZ300125,2018-01-12,25.14,25.67,25.14,25.62,25.43,0.987198,0.007471,-0.028073,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90297460.0,118000000.0

In [7]:
SZ1 = pd.merge(SZ, re[re["auction"] == 0][["ID", "date"]], how="right")
db1 = pd.merge(db, re[re["auction"] == 0][["ID", "date"]], how="right")
df2 = pd.merge(SZ1, db1, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
df2[df2["d_amount_x"].isnull()]["date"].unique()

array([], dtype=object)

In [8]:
SZ1 = pd.merge(SZ, re[re["auction"] == 1][["ID", "date"]], how="right")
db1 = pd.merge(db, re[re["auction"] == 1][["ID", "date"]], how="right")
df1 = pd.merge(SZ1, db1, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
df1[df1["d_amount_x"].isnull()]

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high, d_low, d_close_x, d_volume, d_amount_x, massive_missing, security_missing, auction, d_close_y, d_cumprodCAA, d_dayReturn, d_5dayReturn, d_ICDayReturn, d_CSIDayReturn, d_amount_y, TORate, allZT, hasZT, isZT, allDT, hasDT, isDT, tmrHalted, haltedDays, marketShares, totalShares]
Index: []

[0 rows x 30 columns]

In [20]:
df1 = pd.merge(SZ1, db1, on=["ID", "date", "d_open", "d_yclose"], how="outer")
df1[df1["d_amount_x"].isnull()]

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high_x, d_low_x, d_close_x, d_volume_x, d_amount_x, massive_missing, security_missing, auction, d_high_y, d_low_y, d_close_y, d_cumprodCAA, d_dayReturn, d_5dayReturn, d_ICDayReturn, d_CSIDayReturn, d_volume_y, d_amount_y, TORate, allZT, hasZT, isZT, allDT, hasDT, isDT, tmrHalted, haltedDays, marketShares, totalShares]
Index: []

[0 rows x 33 columns]

In [25]:
display(SZ[(SZ["ID"] == "SZ000584") & (SZ["date"] == "2016-04-11")])
display(db[(db["ID"] == "SZ000584") & (db["date"] == "2016-04-11")][["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_close", "d_volume"]])

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount,massive_missing,security_missing,auction
96292,SZ000584,2016-04-11,12.78,12.6,12.9,12.66,12.72,11974321,1.529006e+08,1,1,0

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume
876,SZ000584,2016-04-11,12.78,12.6,12.9,12.6,12.63,14222958.0

In [44]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 = ["Date", "SENDTIME", "SecurityID", "DATATIMESTAMP", "PreClosePx", "openPrice", "HighPx", "LowPx", "close", "NUMTRADES", "cum_volume",
           "cum_amount", "TOTALLONGPOSITION", "PERATIO1", "PERATIO2", "ENDOFDAYMAKER", "TOTALOFFERQTY", "WEIGHTEDAVGOFFERPX", "TOTALBIDQTY", "WEIGHTEDAVGBIDPX"]
columns4 = ["Date", "SENDTIME", "SecurityID", "DATATIMESTAMP", "ask10p", "ask9p", "ask8p", "ask7p", "ask6p", "ask5p", "ask4p", "ask3p", "ask2p",
           "ask1p", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid6p", "bid7p", "bid8p", "bid9p", "bid10p", "ask10q", "ask9q", "ask8q", "ask7q",
           "ask6q", "ask5q", "ask4q", "ask3q", "ask2q", "ask1q", "bid1q", "bid2q", "bid3q", "bid4q", "bid5q", "bid6q", "bid7q", "bid8q", "bid9q", 
           "bid10q", "NUMORDERS_B1", "NOORDERS _B1", "ORDERQTY_B1", "NUMORDERS_S1", "NOORDERS _S1", "ORDERQTY_S1"]
columns5 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# snap1 = pd.read_table("F:\\SZ\\2017\\0620\\am_hq_snap_spot.txt", header=None)
# # snap1 = pd.read_table("J:\\LEVEL2_shenzhen\\2016\\05\\05\\SZL2_SNAPSHOT_20160505_AM.txt", header=None)
# assert(snap1.shape[1] == len(columns5))
# snap1.columns = columns5
# snap2 = pd.read_table("F:\\SZ\\2017\\0620\\pm_hq_snap_spot.txt", header=None)
# # snap2 = pd.read_table("J:\\LEVEL2_shenzhen\\2016\\05\\05\\SZL2_SNAPSHOT_20160505_PM.txt", header=None)
# assert(snap2.shape[1] == len(columns5))
# snap2.columns = columns5
# snapshot = pd.concat([snap1, snap2]).sort_values(by=["SecurityID", "OrigTime"])
# # snapshot = pd.concat([snap1, snap2]).sort_values(by=["SecurityID", "DATATIMESTAMP"])
# del snap1
# del snap2
# # snapshot["SecurityID"] = snapshot["SecurityID"].astype(int)
# # snapshot = snapshot.rename(columns={"SecurityID":"StockID"})
# # snapshot['time'] = snapshot["DATATIMESTAMP"]
# # snapshot["OrigTime"] = snapshot["Date"] * 1000000000 + snapshot["DATATIMESTAMP"]
# # snapshot = snapshot[snapshot["time"] != 0]
# # snapshot = pd.read_table("F:\\SZ\\2017\\0620(深交所数据)\\hq_snap.txt", header=None, encoding="UTF-8-sig")
# # assert(snapshot.shape[1] == len(columns1))
# # snapshot.columns = columns1

F1 = open("E:\\SZ\\2019\\0610\\Snapshot.pkl", 'rb')
snapshot = pickle.load(F1)
snapshot["StockID"] = snapshot["StockID"].astype(int)
# snapshot = snapshot.rename(columns={"SecurityID":"StockID"})
snapshot['time'] = (snapshot['OrigTime'] - int(snapshot['OrigTime'].iloc[0]//1000000000*1000000000)).astype(int)
        
snapshot = snapshot[(snapshot["StockID"] < 4000) | (snapshot["StockID"] > 300000)]
snapshot["cum_max"] = snapshot.groupby("StockID")["cum_volume"].transform(max)

date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
date["group"] = date["time"]//30000
snapshot["group"] = snapshot["time"]//30000
gl = date[((date["time"] >= 93000000) & (date["time"] < 113000000))|((date["time"] >= 130000000) & (date["time"] <= 145700000))]["group"].unique()
date[date["group"].isin(list(set(gl) - set(snapshot["group"].unique())))]

# snapshot = snapshot.sort_values(by=["StockID", "OrigTime"])    
# data2 = snapshot[(snapshot["time"] > 92500000) & (snapshot["time"] <= 145700000) & (snapshot["cum_volume"] > 0)][["StockID", "cum_volume",
#                                                                                                                      "OrigTime", "time"]]
# data2 = data2.sort_values(by=["StockID", "OrigTime"])
# data2["volume_update"] = data2.groupby("StockID")["cum_volume"].apply(lambda x: x - x.shift(1))
# data2["time1"] = pd.to_datetime(data2["OrigTime"].apply(lambda x: str(x)[:-3]))
# data2["time_interval"] = data2.groupby("StockID")["time1"].apply(lambda x: x - x.shift(1))
# data2["time_interval"] = data2["time_interval"].apply(lambda x: x.seconds)
# data2 = pd.merge(data2, data2[data2["volume_update"] > 0].groupby("StockID")["time_interval"].describe()["75%"].reset_index(), on="StockID")
# data2 = data2.rename(columns={"75%": "75%_time"})
# vu = data2[data2["volume_update"] > 0].groupby("StockID")["volume_update"].apply(lambda x: x.describe([0.9])["90%"]).reset_index()
# vu = vu.rename(columns={"volume_update":"90%"})
# data2 = pd.merge(data2, vu, on="StockID")
# data2["90%"] = data2["90%"].apply(lambda x: max(1000, x))
# data2["indicator"] = 0
# data2.loc[data2[data2["time"] >= 130000000].groupby("StockID").head(1).index, 'indicator'] = 1
# data2.loc[data2[data2["time"] >= 93000000].groupby("StockID").head(1).index, 'indicator'] = 1
# data2 = data2[data2["indicator"] != 1]    
# data2[(data2["time_interval"] > 180) & (data2["volume_update"] >= data2["90%"]) & (data2["75%_time"] <= 4)].shape[0]

                     Orig       time  group
19260 2019-06-10 13:51:00  135100000   4503
19261 2019-06-10 13:51:01  135101000   4503
19262 2019-06-10 13:51:02  135102000   4503
19263 2019-06-10 13:51:03  135103000   4503
19264 2019-06-10 13:51:04  135104000   4503
...                   ...        ...    ...
19675 2019-06-10 13:57:55  135755000   4525
19676 2019-06-10 13:57:56  135756000   4525
19677 2019-06-10 13:57:57  135757000   4525
19678 2019-06-10 13:57:58  135758000   4525
19679 2019-06-10 13:57:59  135759000   4525

[420 rows x 3 columns]

In [47]:
np.sort(snapshot[(snapshot["time"] > 135000000) & (snapshot["time"] < 135900000)]["time"].unique())

array([135003000, 135006000, 135009000, 135012000, 135015000, 135018000,
       135021000, 135024000, 135027000, 135030000, 135033000, 135036000,
       135039000, 135042000, 135045000, 135048000, 135051000, 135054000,
       135057000, 135806000, 135809000, 135812000, 135815000, 135818000,
       135821000, 135824000, 135827000, 135830000, 135833000, 135836000,
       135839000, 135842000, 135845000, 135848000, 135851000, 135854000,
       135857000], dtype=int64)

In [46]:
for i in date[date["group"].isin(list(set(gl) - set(snapshot["group"].unique())))]["time"].unique():
    print(i)

135100000
135101000
135102000
135103000
135104000
135105000
135106000
135107000
135108000
135109000
135110000
135111000
135112000
135113000
135114000
135115000
135116000
135117000
135118000
135119000
135120000
135121000
135122000
135123000
135124000
135125000
135126000
135127000
135128000
135129000
135130000
135131000
135132000
135133000
135134000
135135000
135136000
135137000
135138000
135139000
135140000
135141000
135142000
135143000
135144000
135145000
135146000
135147000
135148000
135149000
135150000
135151000
135152000
135153000
135154000
135155000
135156000
135157000
135158000
135159000
135200000
135201000
135202000
135203000
135204000
135205000
135206000
135207000
135208000
135209000
135210000
135211000
135212000
135213000
135214000
135215000
135216000
135217000
135218000
135219000
135220000
135221000
135222000
135223000
135224000
135225000
135226000
135227000
135228000
135229000
135230000
135231000
135232000
135233000
135234000
135235000
135236000
135237000
135238000
135239000
135240000
135241000
135242000
135243000
135244000
135245000
135246000
135247000
135248000
135249000
135250000
135251000
135252000
135253000
135254000
135255000
135256000
135257000
135258000
135259000
135300000
135301000
135302000
135303000
135304000
135305000
135306000
135307000
135308000
135309000
135310000
135311000
135312000
135313000
135314000
135315000
135316000
135317000
135318000
135319000
135320000
135321000
135322000
135323000
135324000
135325000
135326000
135327000
135328000
135329000
135330000
135331000
135332000
135333000
135334000
135335000
135336000
135337000
135338000
135339000
135340000
135341000
135342000
135343000
135344000
135345000
135346000
135347000
135348000
135349000
135350000
135351000
135352000
135353000
135354000
135355000
135356000
135357000
135358000
135359000
135400000
135401000
135402000
135403000
135404000
135405000
135406000
135407000
135408000
135409000
135410000
135411000
135412000
135413000
135414000
135415000
135416000
135417000
135418000
135419000
135420000
135421000
135422000
135423000
135424000
135425000
135426000
135427000
135428000
135429000
135430000
135431000
135432000
135433000
135434000
135435000
135436000
135437000
135438000
135439000
135440000
135441000
135442000
135443000
135444000
135445000
135446000
135447000
135448000
135449000
135450000
135451000
135452000
135453000
135454000
135455000
135456000
135457000
135458000
135459000
135500000
135501000
135502000
135503000
135504000
135505000
135506000
135507000
135508000
135509000
135510000
135511000
135512000
135513000
135514000
135515000
135516000
135517000
135518000
135519000
135520000
135521000
135522000
135523000
135524000
135525000
135526000
135527000
135528000
135529000
135530000
135531000
135532000
135533000
135534000
135535000
135536000
135537000
135538000
135539000
135540000
135541000
135542000
135543000
135544000
135545000
135546000
135547000
135548000
135549000
135550000
135551000
135552000
135553000
135554000
135555000
135556000
135557000
135558000
135559000
135600000
135601000
135602000
135603000
135604000
135605000
135606000
135607000
135608000
135609000
135610000
135611000
135612000
135613000
135614000
135615000
135616000
135617000
135618000
135619000
135620000
135621000
135622000
135623000
135624000
135625000
135626000
135627000
135628000
135629000
135630000
135631000
135632000
135633000
135634000
135635000
135636000
135637000
135638000
135639000
135640000
135641000
135642000
135643000
135644000
135645000
135646000
135647000
135648000
135649000
135650000
135651000
135652000
135653000
135654000
135655000
135656000
135657000
135658000
135659000
135700000
135701000
135702000
135703000
135704000
135705000
135706000
135707000
135708000
135709000
135710000
135711000
135712000
135713000
135714000
135715000
135716000
135717000
135718000
135719000
135720000
135721000
135722000
135723000
135724000
135725000
135726000
135727000
135728000
135729000
135730000
135731000
135732000
135733000
135734000
135735000
135736000
135737000
135738000
135739000
135740000
135741000
135742000
135743000
135744000
135745000
135746000
135747000
135748000
135749000
135750000
135751000
135752000
135753000
135754000
135755000
135756000
135757000
135758000
135759000

In [4]:
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock_20200416\SZ000001.csv.gz'
dayData = pd.read_csv(readPath, compression='gzip')
dayData["year"] = dayData["date"].apply(lambda x: x.split('-')[0])
dayData["date1"] = dayData["date"].apply(lambda x: x.split('-')[1] + x.split('-')[2])
da_te2 = dayData[dayData["year"] == '2019']["date1"].unique()
da_te2

array(['0102', '0103', '0104', '0107', '0108', '0109', '0110', '0111',
       '0114', '0115', '0116', '0117', '0118', '0121', '0122', '0123',
       '0124', '0125', '0128', '0129', '0130', '0131', '0201', '0211',
       '0212', '0213', '0214', '0215', '0218', '0219', '0220', '0221',
       '0222', '0225', '0226', '0227', '0228', '0301', '0304', '0305',
       '0306', '0307', '0308', '0311', '0312', '0313', '0314', '0315',
       '0318', '0319', '0320', '0321', '0322', '0325', '0326', '0327',
       '0328', '0329', '0401', '0402', '0403', '0404', '0408', '0409',
       '0410', '0411', '0412', '0415', '0416', '0417', '0418', '0419',
       '0422', '0423', '0424', '0425', '0426', '0429', '0430', '0506',
       '0507', '0508', '0509', '0510', '0513', '0514', '0515', '0516',
       '0517', '0520', '0521', '0522', '0523', '0524', '0527', '0528',
       '0529', '0530', '0531', '0603', '0604', '0605', '0606', '0610',
       '0611', '0612', '0613', '0614', '0617', '0618', '0619', '0620',
       '0621', '0624', '0625', '0626', '0627', '0628', '0701', '0702',
       '0703', '0704', '0705', '0708', '0709', '0710', '0711', '0712',
       '0715', '0716', '0717', '0718', '0719', '0722', '0723', '0724',
       '0725', '0726', '0729', '0730', '0731', '0801', '0802', '0805',
       '0806', '0807', '0808', '0809', '0812', '0813', '0814', '0815',
       '0816', '0819', '0820', '0821', '0822', '0823', '0826', '0827',
       '0828', '0829', '0830', '0902', '0903', '0904', '0905', '0906',
       '0909', '0910', '0911', '0912', '0916', '0917', '0918', '0919',
       '0920', '0923', '0924', '0925', '0926', '0927', '0930', '1008',
       '1009', '1010', '1011', '1014', '1015', '1016', '1017', '1018',
       '1021', '1022', '1023', '1024', '1025', '1028', '1029', '1030',
       '1031', '1101', '1104', '1105', '1106', '1107', '1108', '1111',
       '1112', '1113', '1114', '1115', '1118', '1119', '1120', '1121',
       '1122', '1125', '1126', '1127', '1128', '1129', '1202', '1203',
       '1204', '1205', '1206', '1209', '1210', '1211', '1212', '1213',
       '1216', '1217', '1218', '1219', '1220', '1223', '1224', '1225',
       '1226', '1227', '1230', '1231'], dtype=object)

In [5]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

year = "2019"
readPath = 'E:\\SZ\\' + year + '\\***\\Snapshot.pkl'
dataPathLs = np.array(glob.glob(readPath))
da_te1 = [x.split('\\')[3] for x in dataPathLs]
display(len(da_te1))

247

In [21]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

year = "2019"
readPath = 'G:\\' + year + '\\***\\Snapshot.csv'
dataPathLs = np.array(glob.glob(readPath))
da_te1 = [x.split('\\')[2] for x in dataPathLs]
display(len(da_te1))
year = "2019"
readPath = 'F:\\' + year + '\\***\\Snapshot.csv'
dataPathLs = np.array(glob.glob(readPath))
da_te = [x.split('\\')[2] for x in dataPathLs]
display(len(da_te))
da_te1 = list(set(da_te) | set(da_te1))
display(len(da_te1))
da_te1

120

124

244

['20191211',
 '20190516',
 '20190627',
 '20190726',
 '20190823',
 '20190215',
 '20190523',
 '20191113',
 '20190312',
 '20190107',
 '20190320',
 '20190611',
 '20191226',
 '20190416',
 '20191112',
 '20190424',
 '20190812',
 '20191121',
 '20190807',
 '20191029',
 '20190410',
 '20191014',
 '20190829',
 '20190708',
 '20190628',
 '20190701',
 '20190211',
 '20191227',
 '20191231',
 '20191030',
 '20191111',
 '20190510',
 '20190612',
 '20190415',
 '20190129',
 '20190815',
 '20190305',
 '20190704',
 '20191218',
 '20190822',
 '20190903',
 '20190311',
 '20191118',
 '20190619',
 '20190417',
 '20190705',
 '20190315',
 '20191224',
 '20190930',
 '20191206',
 '20190709',
 '20190329',
 '20190618',
 '20190118',
 '20190403',
 '20191204',
 '20190912',
 '20190104',
 '20191223',
 '20190425',
 '20190430',
 '20190110',
 '20190918',
 '20190130',
 '20190906',
 '20191210',
 '20190925',
 '20191212',
 '20191024',
 '20190927',
 '20191108',
 '20191028',
 '20190301',
 '20191023',
 '20191126',
 '20190326',
 '20191031',
 '20191018',
 '20191230',
 '20190524',
 '20190605',
 '20191106',
 '20190225',
 '20190517',
 '20190228',
 '20191217',
 '20191219',
 '20190620',
 '20191105',
 '20190507',
 '20190610',
 '20190411',
 '20190902',
 '20190830',
 '20190325',
 '20191220',
 '20190724',
 '20190227',
 '20190916',
 '20190103',
 '20190717',
 '20190820',
 '20190710',
 '20190514',
 '20190319',
 '20190426',
 '20190530',
 '20190725',
 '20190814',
 '20190923',
 '20191022',
 '20190625',
 '20190422',
 '20190308',
 '20190613',
 '20190606',
 '20190719',
 '20190813',
 '20191011',
 '20190506',
 '20190904',
 '20190402',
 '20191015',
 '20190826',
 '20191025',
 '20191101',
 '20190218',
 '20190617',
 '20190911',
 '20190307',
 '20190314',
 '20190321',
 '20190909',
 '20190109',
 '20190123',
 '20190805',
 '20190220',
 '20190806',
 '20191127',
 '20190527',
 '20190114',
 '20190828',
 '20190521',
 '20190423',
 '20191119',
 '20191128',
 '20190905',
 '20190529',
 '20190419',
 '20191120',
 '20191104',
 '20191202',
 '20190924',
 '20191225',
 '20191213',
 '20190604',
 '20190723',
 '20190515',
 '20190917',
 '20191125',
 '20190328',
 '20190621',
 '20190226',
 '20190513',
 '20190213',
 '20190111',
 '20190429',
 '20190531',
 '20190125',
 '20191017',
 '20190712',
 '20190122',
 '20191209',
 '20190731',
 '20190614',
 '20190131',
 '20190520',
 '20191107',
 '20190910',
 '20190715',
 '20191016',
 '20190718',
 '20190327',
 '20190409',
 '20190802',
 '20191021',
 '20190522',
 '20191008',
 '20191205',
 '20190626',
 '20191122',
 '20190214',
 '20190124',
 '20190722',
 '20191009',
 '20190322',
 '20190508',
 '20190509',
 '20190115',
 '20190102',
 '20190222',
 '20190827',
 '20190920',
 '20190117',
 '20190702',
 '20190919',
 '20191115',
 '20190401',
 '20190528',
 '20190730',
 '20190821',
 '20190624',
 '20190404',
 '20190703',
 '20190808',
 '20190116',
 '20190716',
 '20190201',
 '20191129',
 '20190418',
 '20191010',
 '20190306',
 '20190926',
 '20191203',
 '20190108',
 '20190809',
 '20190121',
 '20190711',
 '20190801',
 '20191216',
 '20191114',
 '20190412',
 '20190816',
 '20190408',
 '20190128',
 '20190219',
 '20190313',
 '20190221',
 '20190212',
 '20190729',
 '20190318',
 '20190603',
 '20190304',
 '20190819']

In [6]:
set(da_te2) - set(da_te1)

set()

In [7]:
set(da_te1) - set(da_te2)

{'0109(深交所数据)', '0314(深交所数据)', '0315(深交所数据)'}

In [63]:
F1 = open("\\\\192.168.10.30\\Kevin_zhenyu\\auction\\mdAucLog_SH_20190102.pkl", 'rb')
aucData = pickle.load(F1)
aucData = aucData.rename(columns={"time":"datetime"})
aucData["DateTime"] = aucData["datetime"].apply(lambda x: x.strftime("%Y%m%d%H%M%S"))
aucData["DateTime"] = aucData["DateTime"].astype("int64")
m_in = 91500 + int(aucData["DateTime"].iloc[0]//1000000 * 1000000)
m_ax = 92459 + int(aucData["DateTime"].iloc[0]//1000000 * 1000000)
aucData["DateTime"] = aucData['DateTime'].clip(m_in, m_ax)
aucData['time'] = ((aucData["DateTime"] - int(aucData["DateTime"].iloc[0]//1000000 * 1000000))*1000000).astype(np.int64)
aucData["clockAtArrival"] = aucData["DateTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S').timestamp()*1e6))
aucData[['date', 'time', 'datetime', 'clockAtArrival', 'ID', 'bid1p', 'ask1p', 'bid2q', 'bid1q', 'ask1q', 'ask2q']].reset_index(drop=True)

'20190102'

In [ ]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime