In [41]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
year = "2020"
startDate = "0327"
endDate = "0327"
df = []
bad = []
readPath = 'L:\\backup_data\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    if len(np.array(glob.glob(data +'\\***'))) == 0:
        continue
    
    if len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_trade_spot.7z')
            bad.append(data + '\\am_hq_trade_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_trade_spot.7z')
            bad.append(data + '\\pm_hq_trade_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()

        am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
        am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
        pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        TradeLogSZ1 = pd.concat([am_trade, pm_trade])
        del am_trade
        del pm_trade
        
    elif len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z.001'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        os.system("copy /b am_hq_trade_spot.7z.* am_hq_trade_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_trade_spot.7z')
            bad.append(data + '\\am_hq_trade_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        os.system("copy /b pm_hq_trade_spot.7z.* pm_hq_trade_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_trade_spot.7z')
            bad.append(data + '\\pm_hq_trade_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()
        
        am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
        am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
        pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        TradeLogSZ1 = pd.concat([am_trade, pm_trade])
        del am_trade
        del pm_trade
        
    elif len(np.array(glob.glob(data +'\\hq_trade.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\hq_trade.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\hq_trade.7z')
            bad.append(data + '\\hq_trade.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        
        TradeLogSZ1 = pd.read_table(path1 + "\\hq_trade.txt",header=None)
        TradeLogSZ1.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]

    
    TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1["SecurityID"] < 4000) | (TradeLogSZ1["SecurityID"] > 300000)]
    TradeLogSZ1["trade_money"] = TradeLogSZ1["trade_price"] * TradeLogSZ1["trade_qty"]
    TradeLogSZ1["trade_flag"] = 0
    TradeLogSZ1["skey"] = TradeLogSZ1["SecurityID"] + 2000000
    TradeLogSZ1["clockAtArrival"] = TradeLogSZ1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLogSZ1['datetime'] = TradeLogSZ1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLogSZ1["time"] = (TradeLogSZ1['TransactTime'] - int(TradeLogSZ1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLogSZ1["trade_type"] = np.where(TradeLogSZ1["trade_type"] == 'F', 1, TradeLogSZ1["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLogSZ1[col] = TradeLogSZ1[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLogSZ1[cols] = TradeLogSZ1[cols].round(2)
    display(TradeLogSZ1["trade_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    da_te = str(TradeLogSZ1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    print(datetime.datetime.now() - startTm)

array([1, 2], dtype=int64)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   4671196.0  96286629.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   4671196.0  96286629.86  2001914         NaN         NaN

2019-11-13
trade finished
0:14:42.242427

In [10]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
year = "2017"
startDate = "0714"
endDate = "0714"
df = []
bad = []
readPath = 'J:\\LEVEL2_shenzhen\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    if len(np.array(glob.glob(data +'\\***'))) == 0:
        continue
    
    if len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_trade_spot.7z')
            bad.append(data + '\\am_hq_trade_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_trade_spot.7z')
            bad.append(data + '\\pm_hq_trade_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()

        am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
        am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
        pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        TradeLogSZ1 = pd.concat([am_trade, pm_trade])
        del am_trade
        del pm_trade
        
    elif len(np.array(glob.glob(data +'\\am_hq_trade_spot.7z.001'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        os.system("copy /b am_hq_trade_spot.7z.* am_hq_trade_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\am_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\am_hq_trade_spot.7z')
            bad.append(data + '\\am_hq_trade_spot.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        os.system("copy /b pm_hq_trade_spot.7z.* pm_hq_trade_spot.7z")
        try:
            a = py7zr.SevenZipFile(data + '\\pm_hq_trade_spot.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\pm_hq_trade_spot.7z')
            bad.append(data + '\\pm_hq_trade_spot.7z')
            continue
        a.extractall(path = path1)
        a.close()
        
        am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
        am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
        pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
        TradeLogSZ1 = pd.concat([am_trade, pm_trade])
        del am_trade
        del pm_trade
        
    elif len(np.array(glob.glob(data +'\\hq_trade.7z'))) == 1:
        date = os.path.basename(data)
        path = 'L:\\backup data\\' + year 
        os.chdir(data)
        try:
            a = py7zr.SevenZipFile(data + '\\hq_trade.7z','r',filters=None)
        except:
            print("Bad unzip here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            print(data + '\\hq_trade.7z')
            bad.append(data + '\\hq_trade.7z')
            continue
        path1 = path + '\\' + date
        a.extractall(path = path1)
        a.close()
        
        TradeLogSZ1 = pd.read_table(path1 + "\\hq_trade.txt",header=None)
        TradeLogSZ1.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
                   "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]

    
    TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1["SecurityID"] < 4000) | (TradeLogSZ1["SecurityID"] > 300000)]
    TradeLogSZ1["trade_money"] = TradeLogSZ1["trade_price"] * TradeLogSZ1["trade_qty"]
    TradeLogSZ1["trade_flag"] = 0
    TradeLogSZ1["skey"] = TradeLogSZ1["SecurityID"] + 2000000
    TradeLogSZ1["clockAtArrival"] = TradeLogSZ1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLogSZ1['datetime'] = TradeLogSZ1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLogSZ1["time"] = (TradeLogSZ1['TransactTime'] - int(TradeLogSZ1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLogSZ1["trade_type"] = np.where(TradeLogSZ1["trade_type"] == 'F', 1, TradeLogSZ1["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLogSZ1[col] = TradeLogSZ1[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLogSZ1[cols] = TradeLogSZ1[cols].round(2)
    display(TradeLogSZ1["trade_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    da_te = str(TradeLogSZ1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    print(datetime.datetime.now() - startTm)

array([1, 2], dtype=int64)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  11174764.0  3.373807e+08  2001872         NaN         NaN
426  SZ001914   4855217.0  5.394854e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  11174764.0  3.373807e+08  2001872         NaN         NaN
426  SZ001914   4855217.0  5.394854e+07  2001914         NaN         NaN

2017-07-14
trade finished
0:11:56.311334

In [12]:
TradeLogSZ1.head(5)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
0,2300673,20170714,91500010000,1499994900010000,2017-07-14 09:15:00.010,178,4,0,0.0,67700,177,0
2,2002457,20170714,91500010000,1499994900010000,2017-07-14 09:15:00.010,675,4,0,0.0,45000,0,673
3,2000921,20170714,91500080000,1499994900080000,2017-07-14 09:15:00.080,1132,4,0,0.0,25600,0,1131
4,2002457,20170714,91500050000,1499994900050000,2017-07-14 09:15:00.050,1367,4,0,0.0,21200,0,491
5,2002884,20170714,91500070000,1499994900070000,2017-07-14 09:15:00.070,1238,4,0,0.0,2000,1234,0

In [13]:
# database_name = 'com_md_eq_cn'
# user = "zhenyuy"
# password = "bnONBrzSMGoE"

# db1 = DB("192.168.10.178", database_name, user, password)
# db1.write('md_trade', TradeLogSZ1)

In [8]:
TradeLogSZ1.head(5)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
0,2000060,20170628,91500020000,1498612500020000,2017-06-28 09:15:00.020,466,4,0,0.0,2400,465,0
1,2000916,20170628,91500010000,1498612500010000,2017-06-28 09:15:00.010,685,4,0,0.0,676300,684,0
2,2002142,20170628,91500020000,1498612500020000,2017-06-28 09:15:00.020,781,4,0,0.0,100,780,0
3,2300668,20170628,91500050000,1498612500050000,2017-06-28 09:15:00.050,802,4,0,0.0,55500,791,0
4,2300667,20170628,91500050000,1498612500050000,2017-06-28 09:15:00.050,1067,4,0,0.0,55500,1059,0

In [3]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

In [43]:
TradeLogSZ1.head(5)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
0,2002321,20191113,91500010000,1573607700010000,2019-11-13 09:15:00.010,725,4,0,0.0,275100,0,723
2,2002642,20191113,91500020000,1573607700020000,2019-11-13 09:15:00.020,1133,4,0,0.0,10000,1132,0
3,2000520,20191113,91500020000,1573607700020000,2019-11-13 09:15:00.020,933,4,0,0.0,100,932,0
4,2002341,20191113,91500010000,1573607700010000,2019-11-13 09:15:00.010,166,4,0,0.0,199900,165,0
5,2002139,20191113,91500010000,1573607700010000,2019-11-13 09:15:00.010,191,4,0,0.0,10000,189,0

In [44]:
TradeLogSZ1['trade_type'].unique()

array([4, 1], dtype=int64)

In [45]:
# database_name = 'com_md_eq_cn'
# user = "zhenyuy"
# password = "bnONBrzSMGoE"

# db1 = DB("192.168.10.223", database_name, user, password)
# db1.write('md_trade', TradeLogSZ1)

In [56]:
pd.read_csv(dataPathLs[0], nrows=10)

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,__origTickSeq,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
0,1554081322785329,180609,2,1,0,91500010,2014,257,300266,4,N,3261272,0,999600,0,44,0
1,1554081322785846,180694,2,1,0,91500010,2014,344,28,4,N,3261361,0,400,0,0,342
2,1554081322785849,180695,2,1,0,91500010,2014,345,28,4,N,3261362,0,500,0,343,0
3,1554081322786049,180786,2,1,0,91500020,2014,440,2598,4,N,3261457,0,785500,0,46,0
4,1554081322786053,180787,2,1,0,91500020,2014,441,300767,4,N,3261458,0,58800,0,156,0
5,1554081322828885,182256,2,1,0,91500010,2011,742,2548,4,N,3263437,0,25000,0,0,738
6,1554081322828902,182259,2,1,0,91500010,2011,745,2548,4,N,3263440,0,6700,0,0,739
7,1554081322828988,182289,2,1,0,91500010,2011,776,2235,4,N,3263471,0,3900,0,772,0
8,1554081322863630,183543,2,1,0,91500010,2011,856,300468,4,N,3265443,0,100,0,855,0
9,1554081322864053,183713,2,1,0,91500010,2012,501,2759,4,N,3265619,0,30000,0,0,500

In [54]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime


# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
startDate = "20190401"
endDate = "20190401"
df = []
bad = []
readPath = 'H:\\recordData\\logs_***_zs_92_01_day_data'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
for data in dataPathLs:
    readPath = data + '\\mdTradeLog***'
    dataPathLs = np.array(glob.glob(readPath))
    TradeLogSZ1 = pd.read_csv(dataPathLs[0], encoding="utf-8").loc[:, ["TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
    TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1["SecurityID"] < 4000) | (TradeLogSZ1["SecurityID"] > 300000)]
    TradeLogSZ1 = TradeLogSZ1.rename(columns={"TradeBSFlag":"trade_flag", "TradeMoney":"trade_money", "TradePrice":"trade_price",
                                             "TradeQty":'trade_qty', "ExecType":"trade_type"})
    TradeLogSZ1['date'] = os.path.basename(dataPathLs[0]).split('_')[1]
    TradeLogSZ1["skey"] = TradeLogSZ1["SecurityID"] + 2000000
    TradeLogSZ1["clockAtArrival"] = TradeLogSZ1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLogSZ1['datetime'] = TradeLogSZ1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLogSZ1["time"] = TradeLogSZ1['TransactTime'].astype(np.int64)*1000
    TradeLogSZ1["trade_type"] = np.where(TradeLogSZ1["trade_type"] == 'F', 1, TradeLogSZ1["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLogSZ1[col] = TradeLogSZ1[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLogSZ1[cols] = TradeLogSZ1[cols].round(2)
    display(TradeLogSZ1["trade_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    da_te = str(TradeLogSZ1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyboardInterrupt:

In [7]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime


startTm = datetime.datetime.now()
readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
startDate = "20200327"
endDate = "20200327"
df = []
bad = []
readPath = 'A:\\rawData\\logs_***_zs_92_01_day_data'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
for data in dataPathLs:
    readPath = data + '\\mdOrderLog***'
    dataPathLs = np.array(glob.glob(readPath))
    OrderLog1 = pd.read_csv(dataPathLs[0], encoding="utf-8").loc[:, ["sequenceNo","TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
    OrderLog1 = OrderLog1[(OrderLog1["SecurityID"] < 4000) | (OrderLog1["SecurityID"] > 300000)]
    OrderLog1 = OrderLog1.rename(columns={"Side":"order_side", "OrderType":"order_type", "Price":"order_price",
                                             "OrderQty":'order_qty'})
    OrderLog1['date'] = int(os.path.basename(dataPathLs[0]).split('_')[1])
    OrderLog1["skey"] = OrderLog1["SecurityID"] + 2000000
    OrderLog1["time"] = OrderLog1['TransactTime'].astype(np.int64)*1000
    OrderLog1['TransactTime'] = OrderLog1['date'] * 1000000000 + OrderLog1['TransactTime']
    OrderLog1["clockAtArrival"] = OrderLog1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    OrderLog1['datetime'] = OrderLog1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    OrderLog1["order_type"] =np.where(OrderLog1["order_type"] == 'U', 3, OrderLog1["order_type"])
    for col in ["skey", "date", "ApplSeqNum", "order_qty", "order_side", "order_type"]:
        OrderLog1[col] = OrderLog1[col].astype('int32')
    OrderLog1['order_price'] = OrderLog1['order_price']/10000
    display(OrderLog1["order_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    assert(OrderLog1[((OrderLog1["order_side"] != 1) & (OrderLog1["order_side"] != 2)) | (OrderLog1["order_type"].isnull())].shape[0] == 0)
    da_te = str(OrderLog1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    del db1
    try:
        assert(len(set(sl) - set(OrderLog1["skey"].unique())) == 0)
    except:
        print(set(sl) - set(OrderLog1["skey"].unique()))
    
    OrderLog1 = OrderLog1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "order_side", "order_type", "order_price",
                                                 "order_qty"]]
    
    print(OrderLog1["date"].iloc[0])
    print("order finished")
    
    print(datetime.datetime.now() - startTm)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  from ipykernel import kernelapp as app

0:04:00.999250

array([2, 1], dtype=int64)

{2300832, 2300833, 2300835, 2002988, 2002990}
20200525
order finished
0:07:14.990973

In [10]:
# database_name = 'com_md_eq_cn'
# user = "zhenyuy"
# password = "bnONBrzSMGoE"

# db1 = DB("192.168.10.223", database_name, user, password)
# db1.write('md_order', OrderLog1)

In [8]:
OrderLog1.dtypes

skey                       int32
date                       int32
time                       int64
clockAtArrival             int64
datetime          datetime64[ns]
ApplSeqNum                 int32
order_side                 int32
order_type                 int32
order_price              float64
order_qty                  int32
dtype: object

In [18]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
year = "2020"
startDate = "0327"
endDate = "0327"
df = []
bad = []
readPath = 'L:\\backup_data\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:

    path1 = data
    am_trade = pd.read_table(path1 + "\\am_hq_trade_spot.txt",header=None)
    am_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
               "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
    pm_trade = pd.read_table(path1 + "\\pm_hq_trade_spot.txt",header=None)
    pm_trade.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "BidApplSeqNum",
               "OfferApplSeqNum","trade_price","trade_qty","trade_type","TransactTime"]
    TradeLogSZ1 = pd.concat([am_trade, pm_trade])
    del am_trade
    del pm_trade 
 
    TradeLogSZ1 = TradeLogSZ1[(TradeLogSZ1["SecurityID"] < 4000) | (TradeLogSZ1["SecurityID"] > 300000)]
    TradeLogSZ1["trade_money"] = TradeLogSZ1["trade_price"] * TradeLogSZ1["trade_qty"]
    TradeLogSZ1["trade_flag"] = 0
    TradeLogSZ1["skey"] = TradeLogSZ1["SecurityID"] + 2000000
    TradeLogSZ1["clockAtArrival"] = TradeLogSZ1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLogSZ1['datetime'] = TradeLogSZ1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLogSZ1["time"] = (TradeLogSZ1['TransactTime'] - int(TradeLogSZ1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLogSZ1["trade_type"] = np.where(TradeLogSZ1["trade_type"] == 'F', 1, TradeLogSZ1["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLogSZ1[col] = TradeLogSZ1[col].astype('int32')
    for cols in ["trade_money"]:
        TradeLogSZ1[cols] = TradeLogSZ1[cols].round(2)
    display(TradeLogSZ1["trade_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    da_te = str(TradeLogSZ1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLogSZ1[TradeLogSZ1["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLogSZ1 = TradeLogSZ1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    print(datetime.datetime.now() - startTm)

array([1, 2], dtype=int64)

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2020-03-27
trade finished
0:10:05.497963

In [19]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
year = "2020"
startDate = "0327"
endDate = "0327"
df = []
bad = []
readPath = 'L:\\backup_data\\' + year + '\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    path1 = data
    am_order = pd.read_table(path1 + '\\am_hq_order_spot.txt',header=None)
    am_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
               "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
    pm_order = pd.read_table(path1 + '\\pm_hq_order_spot.txt',header=None)
    pm_order.columns = ["date","OrigTime","SendTime","recvtime","dbtime","ChannelNo","MDStreamID","ApplSeqNum", "SecurityID","SecurityIDSource", "order_price",
               "order_qty","TransactTime","order_side","order_type","ConfirmID","Contactor","ContactInfo","ExpirationDays","ExpirationType"]
    OrderLog1 = pd.concat([am_order, pm_order])
    del am_order
    del pm_order

    OrderLog1 = OrderLog1[(OrderLog1["SecurityID"] < 4000) | (OrderLog1["SecurityID"] > 300000)]
    OrderLog1["skey"] = OrderLog1["SecurityID"] + 2000000
    OrderLog1["clockAtArrival"] = OrderLog1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    OrderLog1['datetime'] = OrderLog1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    OrderLog1["time"] = (OrderLog1['TransactTime'] - int(OrderLog1['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    OrderLog1["order_type"] =np.where(OrderLog1["order_type"] == 'U', 3, OrderLog1["order_type"])
    for col in ["skey", "date", "ApplSeqNum", "order_qty", "order_side", "order_type"]:
        OrderLog1[col] = OrderLog1[col].astype('int32')
    display(OrderLog1["order_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
    assert(OrderLog1[((OrderLog1["order_side"] != 1) & (OrderLog1["order_side"] != 2)) | (OrderLog1["order_type"].isnull())].shape[0] == 0)
    da_te = str(OrderLog1["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    del db1
    try:
        assert(len(set(sl) - set(OrderLog1["skey"].unique())) == 0)
    except:
        print(set(sl) - set(OrderLog1["skey"].unique()))
    
    OrderLog1 = OrderLog1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "order_side", "order_type", "order_price",
                                                 "order_qty"]]
    
    print(OrderLog1.dtypes)
    print(OrderLog1["date"].iloc[0])
    print("order finished")
    
    print(datetime.datetime.now() - startTm)

array([2, 1], dtype=int64)

skey                       int32
date                       int32
time                       int64
clockAtArrival             int64
datetime          datetime64[ns]
ApplSeqNum                 int32
order_side                 int32
order_type                 int32
order_price              float64
order_qty                  int32
dtype: object
20200327
order finished
0:11:23.615231

In [20]:
t1 = TradeLogSZ1.groupby('skey')['BidApplSeqNum'].unique().reset_index()
t2 = TradeLogSZ1.groupby('skey')['OfferApplSeqNum'].unique().reset_index()
t3 = OrderLog1.groupby('skey')['ApplSeqNum'].unique().reset_index()
t = pd.merge(t1, t2, on='skey', how='outer')
display(t[(t['BidApplSeqNum'].isnull()) | (t['OfferApplSeqNum'].isnull())])
t['union'] = [list(set(a) | set(b)) for a, b in zip(t.BidApplSeqNum, t.OfferApplSeqNum)]
t = pd.merge(t, t3, on='skey', how='outer')
display(t[(t['BidApplSeqNum'].isnull()) | (t['OfferApplSeqNum'].isnull()) | (t['ApplSeqNum'].isnull())])
t['less'] = [len(set(a) - set(b)) for a, b in zip(t.union, t.ApplSeqNum)]
t['less1'] = [list(set(a) - set(b))[0] for a, b in zip(t.union, t.ApplSeqNum)]
display(t['less1'].unique())
t[t['less'] > 1]

Empty DataFrame
Columns: [skey, BidApplSeqNum, OfferApplSeqNum]
Index: []

Empty DataFrame
Columns: [skey, BidApplSeqNum, OfferApplSeqNum, union, ApplSeqNum]
Index: []

array([0], dtype=int64)

Empty DataFrame
Columns: [skey, BidApplSeqNum, OfferApplSeqNum, union, ApplSeqNum, less, less1]
Index: []

In [6]:
# 2020 version

import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime

columns1 = ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition", "unknown1", "unknown2", "unknown3"]
columns2 = ['Date',"OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID",'ask1p','bid1p',
                   "ask1q","bid1q", 'ask2p','bid2p',"ask2q","bid2q",'ask3p','bid3p',"ask3q","bid3q",'ask4p','bid4p',"ask4q","bid4q",'ask5p',
                    'bid5p',"ask5q","bid5q",'ask6p','bid6p',"ask6q","bid6q",'ask7p','bid7p',"ask7q","bid7q",'ask8p','bid8p',"ask8q","bid8q",
                   'ask9p','bid9p',"ask9q","bid9q",'ask10p','bid10p',"ask10q","bid10q","NUMORDERS_B1","NOORDERS_B1","ORDERQTY_B1",
                    "NUMORDERS_S1","NOORDERS_S1","ORDERQTY_S1"]
columns3 =  ["Date","OrigTime","SendTime","ercvtime","dbtime","ChannelNo","SecurityID","SecurityIDsource", "MDStreamID","PreClosePx",
                   "PxChnage1","PXChange2","openPrice","HighPx","LowPx","close","NumTrades","cum_volume","cum_amount","PE1","PE2","TradingPhase",
                   "totalofferqty", "wa_offerPrice", "totalbidqty", "wa_bidPrice", "PreNAV", "RealTimeNAV", "WarrantPremiumRate", "UpLimitPx",
                   "DownLimitPx", "TotalLongPosition"]

# startTm = datetime.datetime.now()
# readPath = r'\\192.168.10.30\Kevin_zhenyu\day_stock\***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
startDate = "20200102"
endDate = "20200102"
df = []
bad = []
readPath = 'A:\\rawData\\logs_***_zs_92_01_day_data'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

# for data in dataPathLs:
#     readPath = data + '\\mdOrderLog***'
#     dataPathLs = np.array(glob.glob(readPath))
#     OrderLog1 = pd.read_csv(dataPathLs[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
#                                                  "OrderQty"]]
#     OrderLog1 = OrderLog1[(OrderLog1["SecurityID"] < 4000) | (OrderLog1["SecurityID"] > 300000)]
#     OrderLog1 = OrderLog1.rename(columns={"Side":"order_side", "OrderType":"order_type", "Price":"order_price",
#                                              "OrderQty":'order_qty'})
#     OrderLog1['date'] = int(os.path.basename(dataPathLs[0]).split('_')[1])
#     OrderLog1["skey"] = OrderLog1["SecurityID"] + 2000000
#     OrderLog1["time"] = OrderLog1['TransactTime'].astype(np.int64)*1000
#     OrderLog1['TransactTime'] = OrderLog1['date'] * 1000000000 + OrderLog1['TransactTime']
#     OrderLog1["clockAtArrival"] = OrderLog1["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
#     OrderLog1['datetime'] = OrderLog1["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
#     OrderLog1["order_type"] =np.where(OrderLog1["order_type"] == 'U', 3, OrderLog1["order_type"])
#     for col in ["skey", "date", "ApplSeqNum", "order_qty", "order_side", "order_type"]:
#         OrderLog1[col] = OrderLog1[col].astype('int32')
#     OrderLog1['order_price'] = OrderLog1['order_price']/10000
#     display(OrderLog1["order_price"].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
    
#     assert(OrderLog1[((OrderLog1["order_side"] != 1) & (OrderLog1["order_side"] != 2)) | (OrderLog1["order_type"].isnull())].shape[0] == 0)
#     da_te = str(OrderLog1["date"].iloc[0]) 
#     da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
#     db1 = db[db["date"] == da_te]
#     sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
#     del db1
#     try:
#         assert(len(set(sl) - set(OrderLog1["skey"].unique())) == 0)
#     except:
#         print(set(sl) - set(OrderLog1["skey"].unique()))
    
#     OrderLog1 = OrderLog1[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "order_side", "order_type", "order_price",
#                                                  "order_qty"]]
    
#     print(OrderLog1["date"].iloc[0])
#     print("order finished")
    
#     print(datetime.datetime.now() - startTm)

    
startDate = 20200102
endDate = 20200102
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db1 = DB("192.168.10.178", database_name, user, password)
trade = db1.read('md_trade', start_date=startDate, end_date=endDate)
trade = trade[trade['skey'] > 2000000]
t1 = trade.groupby('skey')['BidApplSeqNum'].unique().reset_index()
t2 = trade.groupby('skey')['OfferApplSeqNum'].unique().reset_index()
t3 = OrderLog1.groupby('skey')['ApplSeqNum'].unique().reset_index()
t = pd.merge(t1, t2, on='skey')
t['union'] = [list(set(a) | set(b)) for a, b in zip(t.BidApplSeqNum, t.OfferApplSeqNum)]
t = pd.merge(t, t3, on='skey')
t['less'] = [len(set(a) - set(b)) for a, b in zip(t.union, t.ApplSeqNum)]
t['less1'] = [list(set(a) - set(b))[0] for a, b in zip(t.union, t.ApplSeqNum)]
display(t['less1'].unique())
t[t['less'] > 1]

array([0], dtype=int64)

Empty DataFrame
Columns: [skey, BidApplSeqNum, OfferApplSeqNum, union, ApplSeqNum, less, less1]
Index: []

In [7]:
OrderLog1.head(5)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
0,2300116,20200102,91500000000,1577927700000000,2020-01-02 09:15:00,1,1,2,2.16,994100
1,2300116,20200102,91500000000,1577927700000000,2020-01-02 09:15:00,2,1,2,2.16,999300
2,2300116,20200102,91500000000,1577927700000000,2020-01-02 09:15:00,3,1,2,2.16,277100
3,2300116,20200102,91500000000,1577927700000000,2020-01-02 09:15:00,4,1,2,2.16,998900
4,2000018,20200102,91500000000,1577927700000000,2020-01-02 09:15:00,5,1,2,0.25,444400

In [9]:
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

db1 = DB("192.168.10.178", database_name, user, password)
db1.write('md_order', OrderLog1)

In [10]:
startDate = 20190401
endDate = 20190401
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db1 = DB("192.168.10.223", database_name, user, password)
trade = db1.read('md_trade', start_date=startDate, end_date=endDate)
trade = trade[trade['skey'] > 2000000]
t1 = trade.groupby('skey')['BidApplSeqNum'].unique().reset_index()
t2 = trade.groupby('skey')['OfferApplSeqNum'].unique().reset_index()
t3 = OrderLog1.groupby('skey')['ApplSeqNum'].unique().reset_index()
t = pd.merge(t1, t2, on='skey')
t['union'] = [list(set(a) | set(b)) for a, b in zip(t.BidApplSeqNum, t.OfferApplSeqNum)]
t = pd.merge(t, t3, on='skey')
t['less'] = [len(set(a) - set(b)) for a, b in zip(t.union, t.ApplSeqNum)]
t[t['less'] > 1]

Empty DataFrame
Columns: [skey, BidApplSeqNum, OfferApplSeqNum, union, ApplSeqNum, less]
Index: []

In [11]:
OrderLog1.head(5)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
0,2002235,20190401,91500000000,1554081300000000,2019-04-01 09:15:00,1,1,2,9.28,996100
1,2002958,20190401,91500000000,1554081300000000,2019-04-01 09:15:00,2,1,2,8.35,181200
2,2002958,20190401,91500000000,1554081300000000,2019-04-01 09:15:00,3,1,2,8.35,181700
3,2300766,20190401,91500000000,1554081300000000,2019-04-01 09:15:00,4,1,2,30.34,108200
4,2002958,20190401,91500000000,1554081300000000,2019-04-01 09:15:00,5,1,2,8.35,599200

In [8]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
startTm = datetime.datetime.now()

startDate = '20200731'
endDate = '20200806'

# readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
# dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
# dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
# dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
# dateLs = dateLs[(dateLs >= startDate) & (dateLs <= endDate)]
dateLs = ['20200806']

for thisDate in dateLs:
    
    orderLog = pd.read_pickle(r'A:\temp\zs66 speed\speedCompare_zs66_0730_0806.pkl')
    orderLog = orderLog[orderLog['date'] == int(thisDate)]
    orderLog = orderLog.fillna(0)
    
#     readPath = r'\\192.168.10.30\Kevin_zhenyu\orderLog\equityTradeLogs'
#     orderLog = pd.read_csv(os.path.join(readPath, 'speedCompare_%s.csv'%thisDate))
    for col in ['clockAtArrival', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
                'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
        orderLog[col] = orderLog[col].astype('int64')

    orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)
    orderLog = orderLog[orderLog["secid"] >= 1000000]

    orderLog['clock'] = orderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    orderLog['broker'] = orderLog['accCode'] // 100
    orderLog['colo_account'] = orderLog['colo'].str[:2] + '_' + orderLog['accCode'].astype('str')
    orderLog['order'] = orderLog.groupby(['date', 'accCode', 'secid', 'vai']).grouper.group_info[0]
    orderLog['group'] = orderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
    orderLog['startClock'] = orderLog.groupby(['order'])['clockAtArrival'].transform('first')
    orderLog['duration'] = orderLog['clockAtArrival'] - orderLog['startClock']
    orderLog['orderPrice'] = orderLog['orderPrice'].apply(lambda x: round(x, 2))
    orderLog['tradePrice'] = orderLog['tradePrice'].apply(lambda x: round(x, 2))
    orderLog['orderDirection1'] = np.where(orderLog["orderDirection"] == -2, -1, np.where(
    orderLog["orderDirection"] == 2, 1, orderLog["orderDirection"]))
    display("Different orderDirection type:")
    display(orderLog["orderDirection"].unique())
    display(orderLog["orderDirection1"].unique())
    orderLog = orderLog.copy()

    ### make sure no order has shares > 80w or notional > 800w
    orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']

    ### make sure same direction in same colo_broker
    orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
    if len(orderLog[orderLog['directNum'] != 1]) > 0:
        orderLog = orderLog[orderLog['directNum'] == 1]

    assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

    ## make sure each account, secid, vai only has one insertion
    a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'accCode', 'secid', 'vai', 'order'])['clockAtArrival'].count()
    if len(a[a > 1]) > 0:
        a = a[a>1].reset_index()
        orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

    orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                                 np.where(orderLog['mse'] == 100, 1, 0), np.nan)
    orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()
    placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]

    ### make sure there is no unexpected updateType 
    def getTuple(x):
        return tuple(i for i in x)

    checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
    checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
    checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 2, 4), (0, 2, 2, 1, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 4, 1, 4), (0, 2, 2, 4, 1, 4), (0, 4, 2, 4)]),0,
                     np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 4, 1, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3), (0, 4, 2, 1, 3), (0, 2, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 2, 4, 1, 4, 3)]), 1,
                     np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3)]), 2,
                     np.where(checkLog['updateType'].isin([(0, 3)]), 3,
                     np.where(checkLog['updateType'].isin([(0,), (0, 2), (0, 2, 1), (0, 2, 2), (0, 2, 4, 1)]), 4, 5)))))
    display(set(checkLog["updateType"].unique()) - set([(0, 2, 4), (0, 2, 2, 4), (0, 2, 2, 1, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4),
                                                    (0, 2, 4, 1, 4), (0, 4), (0, 4, 1, 4), (0, 2, 2, 4, 1, 4), (0, 4, 2, 4),
                                                    (0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3),
                                                    (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 4, 1, 3), (0, 2, 2, 1, 4, 3),
                                                    (0, 4, 2, 4, 1, 3), (0, 4, 2, 1, 3), (0, 4, 2, 4, 1, 4, 3), (0, 2, 1, 3), (0, 2, 2, 1, 3),
                                                    (0, 3), (0,), (0, 2), (0, 2, 1), (0, 2, 4, 2, 1, 3), (0, 4, 1, 4, 3), 
                                                    (0, 2, 2), (0, 2, 4, 1)]))

    orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
    orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

    ### check status==0 got all traded
    a = orderLog[orderLog['status'] == 0]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    if a[a['filled'] != a['total']].shape[0] > 0:
        removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### check status==1 got partial traded
    a = orderLog[orderLog['status'] == 1]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
        removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### check if any cancellation within 1 sec
    a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
    if a.shape[0] > 0:
        removeOrderLs = a['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

    orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
    orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
    orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
    orderLog = orderLog[orderLog['secid'] >= 2000000].reset_index(drop=True)
    
    # 1. market orders
    readPath = r'L:\orderLog\mdData'
    rawMsgDataSZ = pd.read_pickle(os.path.join(readPath, 'mdLog66_msg_%s.pkl'%thisDate))
    orderDataSZ = rawMsgDataSZ[rawMsgDataSZ['ExecType'] == '2'][['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'OrderQty', 'Price', 'cum_volume', "agg", "TransactTime"]].reset_index(drop=True)
    orderDataSZ['updateType'] = 0
    tradeDataSZ = pd.concat([rawMsgDataSZ[rawMsgDataSZ['ExecType'] == 'F'][['SecurityID', 'BidApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]],
                             rawMsgDataSZ[rawMsgDataSZ['ExecType'] == 'F'][['SecurityID', 'OfferApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]]], sort=False)
    tradeDataSZ['ApplSeqNum'] = np.where(tradeDataSZ['BidApplSeqNum'].isnull(), tradeDataSZ['OfferApplSeqNum'], tradeDataSZ['BidApplSeqNum'])
    tradeDataSZ['Side'] = np.where(tradeDataSZ['BidApplSeqNum'].isnull(), 2, 1)
    tradeDataSZ = tradeDataSZ[['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]]
    tradeDataSZ['updateType'] = 4
    cancelDataSZ = rawMsgDataSZ[rawMsgDataSZ['ExecType'] == '4'][['SecurityID', 'BidApplSeqNum', 'OfferApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]].reset_index(drop=True)
    cancelDataSZ['ApplSeqNum'] = np.where(cancelDataSZ['BidApplSeqNum'] == 0, cancelDataSZ['OfferApplSeqNum'], cancelDataSZ['BidApplSeqNum'])
    cancelDataSZ['Side'] = np.where(cancelDataSZ['BidApplSeqNum'] == 0, 2, 1)
    cancelDataSZ = cancelDataSZ[['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'TradeQty', 'cum_volume', "TransactTime"]]
    cancelDataSZ['updateType'] = 3

    msgDataSZ = pd.concat([orderDataSZ, tradeDataSZ, cancelDataSZ], sort=False)
    del orderDataSZ
    del tradeDataSZ
    del cancelDataSZ
    msgDataSZ = msgDataSZ.sort_values(by=['SecurityID', 'ApplSeqNum', 'sequenceNo']).reset_index(drop=True)
    msgDataSZ['TradePrice'] = np.where(msgDataSZ['updateType'] == 4, msgDataSZ['TradePrice'], 0)
    msgDataSZ['TradePrice'] = msgDataSZ['TradePrice'].astype('int64')
    msgDataSZ['TradeQty'] = np.where(msgDataSZ['updateType'] == 4, msgDataSZ['TradeQty'], 0)
    msgDataSZ['TradeQty'] = msgDataSZ['TradeQty'].astype('int64')
    msgDataSZ['secid'] = msgDataSZ['SecurityID'] + 2000000
    assert(msgDataSZ['ApplSeqNum'].max() < 1e8)
    msgDataSZ['StockSeqNum'] = msgDataSZ['SecurityID']*1e8 + msgDataSZ['ApplSeqNum']
    msgDataSZ['date'] = int(thisDate) 
    msgDataSZ1 = msgDataSZ
    print('finish market orders')
 

    # 2. orderLog
    infoData = orderLog[(orderLog['date'] == int(thisDate)) & (orderLog["isMsg"] == 1) 
                        & (orderLog['updateType'].isin([0, 3, 4]))].reset_index(drop=True)
    infoData['Price'] = infoData['orderPrice'].apply(lambda x: round(x*100, 0))
    infoData['Price'] = infoData['Price'].astype('int64')*100
    infoData['OrderQty'] = infoData['absOrderSize']
    infoData['Side'] = np.where(infoData['orderDirection1'] == 1, 1, 2)
    infoData['TradePrice'] = np.where(infoData['updateType'] == 4, round(infoData['tradePrice']*100, 0), 0)
    infoData['TradePrice'] = infoData['TradePrice'].astype('int64')*100
    statusInfo = infoData.groupby(['order'])['updateType'].apply(lambda x: tuple(x)).reset_index()
    statusInfo.columns = ['order', 'statusLs']
    tradePriceInfo = infoData.groupby(['order'])['TradePrice'].apply(lambda x: tuple(x)).reset_index()
    tradePriceInfo.columns = ['order', 'TradePriceLs']
    tradeQtyInfo = infoData.groupby(['order'])['absFilledThisUpdate'].apply(lambda x: tuple(x)).reset_index()
    tradeQtyInfo.columns = ['order', 'TradeQtyLs']
    infoData = infoData[infoData['updateType'] == 0]
    infoData = pd.merge(infoData, statusInfo, how='left', on=['order'], validate='one_to_one')
    infoData = pd.merge(infoData, tradePriceInfo, how='left', on=['order'], validate='one_to_one')
    infoData = pd.merge(infoData, tradeQtyInfo, how='left', on=['order'], validate='one_to_one')
    infoData['brokerNum'] = infoData.groupby(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'])['colo_account'].transform('count')
    display(infoData[infoData['brokerNum'] >= 2].groupby(['colo', 'accCode'])['date'].count())
    display('%.2f%%'%(infoData[infoData['brokerNum'] >= 2].shape[0] / infoData.shape[0]*100))
    display(infoData[infoData['brokerNum'] >= 2].shape[0])
    display(infoData.shape[0])
    infoData = infoData[infoData['brokerNum'] == 1]
    infoData = infoData[['date', 'secid', 'vai', 'ars', 'exchange', 'group', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum', 'order', 'colo', 'accCode']]   
    
    print('finish our orders')
    
    # 3. find the position of our orders
    checkLog = msgDataSZ[msgDataSZ['updateType'] == 0]
    checkLog = pd.merge(checkLog, infoData.drop_duplicates(subset=['secid', 'ApplSeqNum'])[['secid', 'ApplSeqNum', 'ars']], 
                    on=['secid', 'ApplSeqNum'], how='left')
    checkLog['ApplSeqNum'] = np.where(~checkLog['ars'].isnull(), checkLog['ApplSeqNum'], checkLog['ars'])
    checkLog['start_time'] = np.where(~checkLog['ars'].isnull(), checkLog['clockAtArrival'], checkLog['ars'])
    checkLog.drop(["ars"],axis=1,inplace=True)
    checkLog['ApplSeqNum'] = checkLog.groupby(['secid'])['ApplSeqNum'].ffill()
    checkLog['start_time'] = checkLog.groupby(['secid'])['start_time'].ffill()
    checkLog['end_time'] = checkLog['start_time'] + 1*1e6
    checkLog = checkLog[(~checkLog['ApplSeqNum'].isnull()) & (checkLog['clockAtArrival'] > checkLog['start_time']) & 
                       (checkLog['clockAtArrival'] < checkLog['end_time'])]
    msgDataSZ = msgDataSZ[msgDataSZ['StockSeqNum'].isin(checkLog['StockSeqNum'].values)]
    print('finish get the interval')
    
    statusInfo = msgDataSZ.groupby(['StockSeqNum'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
    statusInfo.columns = ['StockSeqNum', 'statusLs']
    tradePriceInfo = msgDataSZ.groupby(['StockSeqNum'])['TradePrice'].apply(lambda x: tuple(x)).reset_index()
    tradePriceInfo.columns = ['StockSeqNum', 'TradePriceLs']
    tradeQtyInfo = msgDataSZ.groupby(['StockSeqNum'])['TradeQty'].apply(lambda x: tuple(x)).reset_index()
    tradeQtyInfo.columns = ['StockSeqNum', 'TradeQtyLs']
    checkLog = pd.merge(checkLog, statusInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
    checkLog = pd.merge(checkLog, tradePriceInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
    checkLog = pd.merge(checkLog, tradeQtyInfo, how='left', on=['StockSeqNum'], validate='one_to_one')  

      
    try:
        checkLog = pd.merge(checkLog, infoData, how='left', on=['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], validate='many_to_one')
    except:
        print('There are orders with same pattern but different vai, same ApplSeqNum')
        display([infoData[infoData.duplicates(['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)]])
        checkLog = pd.merge(checkLog, infoData, how='left', on=['date', 'secid', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'])
    savePath = r'L:\orderLog\result\marketPos'
    checkLog.reset_index(drop=True).to_pickle(os.path.join(savePath, 'SZspeed66_%s.pkl'%thisDate))

'Different orderDirection type:'

array([-1,  1], dtype=int64)

array([-1,  1], dtype=int64)

set()

finish market orders

Series([], Name: date, dtype: int64)

'0.00%'

0

3277

finish our orders
finish get the interval

In [81]:
orderLog = pd.read_pickle(r'A:\temp\zs66 speed\speedCompare_zs66_0730_0807.pkl')
orderLog = orderLog[orderLog['date'] == 20200730]
orderLog[(orderLog['updateType'] == 0) & (orderLog['secid'] == 2300418)]

,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,l4tr,internalId
446,1.596073e+15,1.596073e+15,2300418.0,0.0,4086105.0,11.0,0.0,1.0,400.0,0.0,27.19,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93346600.0,0.001984,2027877.0,0.003297,0.003297,0.001984,-0.002330,4086105.0,2718.0,2719.0,NaN,NaN
454,1.596073e+15,1.596073e+15,2300418.0,0.0,4128205.0,11.0,0.0,1.0,200.0,0.0,27.19,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93348030.0,0.002295,2034497.0,0.003297,0.003297,0.002295,-0.002633,4128205.0,2718.0,2719.0,NaN,NaN
466,1.596073e+15,1.596073e+15,2300418.0,0.0,4238305.0,11.0,0.0,1.0,200.0,0.0,27.22,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93349300.0,0.002543,2041649.0,0.003415,0.003415,0.002543,-0.002835,4238305.0,2721.0,2722.0,NaN,NaN
473,1.596073e+15,1.596073e+15,2300418.0,0.0,4269405.0,11.0,0.0,1.0,200.0,0.0,27.23,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93350000.0,0.002937,2045245.0,0.003415,0.003415,0.002937,-0.003187,4269405.0,2722.0,2723.0,NaN,NaN
512,1.596073e+15,1.596073e+15,2300418.0,0.0,4405305.0,11.0,0.0,1.0,200.0,0.0,27.26,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93353300.0,0.004257,2063768.0,0.003366,0.003366,0.004257,-0.005129,4405305.0,2723.0,2726.0,NaN,NaN
788,1.596076e+15,1.596076e+15,2300418.0,0.0,18681179.0,11.0,0.0,1.0,300.0,0.0,27.05,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,102113270.0,0.002104,9627229.0,0.005679,0.005679,0.002104,-0.002453,18681179.0,2704.0,2705.0,NaN,NaN
791,1.596076e+15,1.596076e+15,2300418.0,0.0,18697979.0,11.0,0.0,1.0,100.0,0.0,27.05,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,102114630.0,0.002288,9629567.0,0.005679,0.005679,0.002288,-0.002606,18697979.0,2704.0,2705.0,NaN,NaN
1130,1.596079e+15,1.596079e+15,2300418.0,0.0,29426581.0,11.0,0.0,1.0,100.0,0.0,27.00,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,111814520.0,0.002010,14075739.0,0.005658,0.005658,0.002010,-0.002402,29426581.0,2699.0,2700.0,NaN,NaN

In [84]:
orderLog = pd.read_pickle(r'A:\temp\zs66 speed\speedCompare_zs66.pkl')
orderLog = orderLog[orderLog['date'] == 20200730]
orderLog[(orderLog['updateType'] == 0) & (orderLog['secid'] == 2300418)]

,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100
8193,1.596073e+15,1.596073e+15,2300418.0,0.0,7983100.0,11.0,0.0,1.0,12800.0,0.0,27.39,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,94250100.0,0.000147,4172459.0,0.006254,0.006254,0.000147,-0.000524,7983100.0,2738.0,2739.0
8226,1.596073e+15,1.596073e+15,2300418.0,0.0,8075900.0,11.0,0.0,1.0,1900.0,0.0,27.40,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,94252340.0,0.000364,4178884.0,0.006251,0.006251,0.000364,-0.000699,8075900.0,2739.0,2740.0
8243,1.596073e+15,1.596073e+15,2300418.0,0.0,8102400.0,11.0,0.0,1.0,600.0,0.0,27.40,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,94255280.0,0.000436,4186953.0,0.006251,0.006251,0.000436,-0.000827,8102400.0,2739.0,2740.0
8266,1.596073e+15,1.596073e+15,2300418.0,0.0,8157400.0,11.0,0.0,1.0,2800.0,0.0,27.43,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,94257550.0,0.000550,4193067.0,0.006218,0.006218,0.000550,-0.001221,8157400.0,2741.0,2743.0
8300,1.596073e+15,1.596073e+15,2300418.0,0.0,8197300.0,11.0,0.0,1.0,400.0,0.0,27.49,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,94303370.0,0.000553,4210388.0,0.005839,0.005839,0.000553,-0.000939,8197300.0,2748.0,2749.0
9356,1.596076e+15,1.596076e+15,2300418.0,0.0,18433679.0,11.0,0.0,1.0,1500.0,0.0,27.07,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,102044910.0,0.000689,9573602.0,0.005858,0.005858,0.000689,-0.001331,18433679.0,2705.0,2707.0
9362,1.596076e+15,1.596076e+15,2300418.0,0.0,18455479.0,11.0,0.0,1.0,2300.0,0.0,27.05,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,102048230.0,0.001829,9580443.0,0.005858,0.005858,0.001829,-0.002161,18455479.0,2704.0,2705.0
10128,1.596079e+15,1.596079e+15,2300418.0,0.0,29389181.0,11.0,0.0,1.0,100.0,0.0,27.00,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,111813340.0,0.001742,14074673.0,0.005658,0.005658,0.001742,-0.002125,29389181.0,2699.0,2700.0
10656,1.596090e+15,1.596090e+15,2300418.0,0.0,39287517.0,11.0,0.0,1.0,100.0,0.0,26.73,-1.0,20200730,9448,100.0,zs_94_03,NaN,NaN,142217370.0,0.001402,20434097.0,0.006096,0.006096,0.001402,-0.001863,39287517.0,2672.0,2673.0
32554,1.596073e+15,1.596073e+15,2300418.0,0.0,4086105.0,11.0,0.0,1.0,400.0,0.0,27.19,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93346600.0,0.001984,2027877.0,0.003297,0.003297,0.001984,-0.002330,4086105.0,2718.0,2719.0
32562,1.596073e+15,1.596073e+15,2300418.0,0.0,4128205.0,11.0,0.0,1.0,200.0,0.0,27.19,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93348030.0,0.002295,2034497.0,0.003297,0.003297,0.002295,-0.002633,4128205.0,2718.0,2719.0
32574,1.596073e+15,1.596073e+15,2300418.0,0.0,4238305.0,11.0,0.0,1.0,200.0,0.0,27.22,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93349300.0,0.002543,2041649.0,0.003415,0.003415,0.002543,-0.002835,4238305.0,2721.0,2722.0
32581,1.596073e+15,1.596073e+15,2300418.0,0.0,4269405.0,11.0,0.0,1.0,200.0,0.0,27.23,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93350000.0,0.002937,2045245.0,0.003415,0.003415,0.002937,-0.003187,4269405.0,2722.0,2723.0
32620,1.596073e+15,1.596073e+15,2300418.0,0.0,4405305.0,11.0,0.0,1.0,200.0,0.0,27.26,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,93353300.0,0.004257,2063768.0,0.003366,0.003366,0.004257,-0.005129,4405305.0,2723.0,2726.0
32896,1.596076e+15,1.596076e+15,2300418.0,0.0,18681179.0,11.0,0.0,1.0,300.0,0.0,27.05,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,102113270.0,0.002104,9627229.0,0.005679,0.005679,0.002104,-0.002453,18681179.0,2704.0,2705.0
32899,1.596076e+15,1.596076e+15,2300418.0,0.0,18697979.0,11.0,0.0,1.0,100.0,0.0,27.05,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,102114630.0,0.002288,9629567.0,0.005679,0.005679,0.002288,-0.002606,18697979.0,2704.0,2705.0
33238,1.596079e+15,1.596079e+15,2300418.0,0.0,29426581.0,11.0,0.0,1.0,100.0,0.0,27.00,-1.0,20200730,6678,100.0,zs_66_01,NaN,NaN,111814520.0,0.002010,14075739.0,0.005658,0.005658,0.002010,-0.002402,29426581.0,2699.0,2700.0
33578,1.596073e+15,1.596073e+15,2300418.0,0.0,904900.0,11.0,0.0,-1.0,400.0,0.0,27.50,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,93000280.0,0.002773,421824.0,-0.000023,-0.000023,-0.004820,0.002773,904900.0,2750.0,2755.0
34132,1.596073e+15,1.596073e+15,2300418.0,0.0,3138505.0,11.0,0.0,1.0,100.0,0.0,27.28,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,93234340.0,0.002018,1638508.0,0.004275,0.004275,0.002018,-0.002287,3138505.0,2727.0,2728.0
34263,1.596073e+15,1.596073e+15,2300418.0,0.0,4161305.0,11.0,0.0,1.0,200.0,0.0,27.20,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,93348040.0,0.002408,2034520.0,0.003268,0.003268,0.002408,-0.002713,4161305.0,2719.0,2720.0
34280,1.596073e+15,1.596073e+15,2300418.0,0.0,4294305.0,11.0,0.0,1.0,300.0,0.0,27.25,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,93350910.0,0.003477,2049740.0,0.003225,0.003225,0.003477,-0.003746,4294305.0,2724.0,2725.0
34569,1.596076e+15,1.596076e+15,2300418.0,0.0,18455479.0,11.0,0.0,1.0,200.0,0.0,27.05,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,102048230.0,0.001728,9580443.0,0.005858,0.005858,0.001728,-0.002058,18455479.0,2704.0,2705.0
34572,1.596076e+15,1.596076e+15,2300418.0,0.0,18681179.0,11.0,0.0,1.0,200.0,0.0,27.05,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,102113270.0,0.002132,9627229.0,0.005679,0.005679,0.002132,-0.002481,18681179.0,2704.0,2705.0
34575,1.596076e+15,1.596076e+15,2300418.0,0.0,18697979.0,11.0,0.0,1.0,100.0,0.0,27.05,-1.0,20200730,6479,100.0,zs_64_01,NaN,NaN,102114630.0,0.002366,9629567.0,0.005679,0.005679,0.002366,-0.002684,18697979.0,2704.0,2705.0

In [68]:
checkLog.iloc[21655651:, :].head(100)

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time
21655651,300418,2034497.0,1596072830223400,11083397,1.0,400.0,271900.0,4128205.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15
21655652,300418,NaN,1596072830224554,11083432,1.0,400.0,271900.0,4128605.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,NaN
21655653,300418,2034520.0,1596072830227100,11083488,1.0,33100.0,271900.0,4161305.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15
21655654,300418,NaN,1596072830231300,11083597,1.0,400.0,272000.0,4161705.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655655,300418,NaN,1596072830231301,11083599,1.0,800.0,272000.0,4162505.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655656,300418,NaN,1596072830231304,11083602,1.0,200.0,272000.0,4162705.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655657,300418,NaN,1596072830234837,11083666,1.0,100.0,272000.0,4162805.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655658,300418,NaN,1596072830234846,11083668,1.0,400.0,272000.0,4163205.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655659,300418,NaN,1596072830258907,11084241,1.0,200.0,271900.0,4163205.0,0.0,93348070,0,0,0,2300418,3.004180e+13,20200730,NaN
21655660,300418,NaN,1596072830263986,11084417,1.0,300.0,272000.0,4163505.0,1.0,93348070,0,0,0,2300418,3.004180e+13,20200730,NaN
21655661,300418,NaN,1596072830267553,11084503,1.0,500.0,272000.0,4164005.0,1.0,93348080,0,0,0,2300418,3.004180e+13,20200730,NaN
21655662,300418,NaN,1596072830286142,11084971,1.0,300.0,271900.0,4164005.0,0.0,93348100,0,0,0,2300418,3.004180e+13,20200730,NaN
21655663,300418,NaN,1596072830289339,11085113,2.0,9000.0,271500.0,4173005.0,1.0,93348100,0,0,0,2300418,3.004180e+13,20200730,NaN
21655664,300418,NaN,1596072830357381,11088329,2.0,100.0,271600.0,4173105.0,1.0,93348170,0,0,0,2300418,3.004180e+13,20200730,NaN
21655665,300418,NaN,1596072830383484,11088996,1.0,5000.0,271900.0,4173105.0,0.0,93348190,0,0,0,2300418,3.004180e+13,20200730,NaN
21655666,300418,NaN,1596072830440690,11090321,1.0,1100.0,271900.0,4173105.0,0.0,93348250,0,0,0,2300418,3.004180e+13,20200730,NaN
21655667,300418,NaN,1596072830442338,11090374,2.0,1500.0,272000.0,4173105.0,0.0,93348250,0,0,0,2300418,3.004180e+13,20200730,NaN
21655668,300418,NaN,1596072830442944,11090387,2.0,3000.0,271600.0,4176105.0,1.0,93348250,0,0,0,2300418,3.004180e+13,20200730,NaN
21655669,300418,NaN,1596072830445713,11090453,1.0,1100.0,271900.0,4176105.0,0.0,93348260,0,0,0,2300418,3.004180e+13,20200730,NaN
21655670,300418,NaN,1596072830450105,11090611,1.0,1000.0,271500.0,4176105.0,0.0,93348260,0,0,0,2300418,3.004180e+13,20200730,NaN
21655671,300418,NaN,1596072830536961,11093536,2.0,2000.0,271600.0,4178105.0,1.0,93348350,0,0,0,2300418,3.004180e+13,20200730,NaN
21655672,300418,NaN,1596072830570122,11094947,1.0,22000.0,271200.0,4178105.0,0.0,93348380,0,0,0,2300418,3.004180e+13,20200730,NaN
21655673,300418,NaN,1596072830578785,11095130,1.0,900.0,270100.0,4178105.0,0.0,93348390,0,0,0,2300418,3.004180e+13,20200730,NaN
21655674,300418,NaN,1596072830597539,11095567,1.0,100.0,271800.0,4178105.0,0.0,93348410,0,0,0,2300418,3.004180e+13,20200730,NaN
21655675,300418,NaN,1596072830612263,11095796,2.0,400.0,271600.0,4178505.0,1.0,93348420,0,0,0,2300418,3.004180e+13,20200730,NaN
21655676,300418,NaN,1596072830626102,11096121,2.0,3000.0,271600.0,4181505.0,1.0,93348440,0,0,0,2300418,3.004180e+13,20200730,NaN
21655677,300418,NaN,1596072830657099,11096913,2.0,200.0,271800.0,4181705.0,1.0,93348470,0,0,0,2300418,3.004180e+13,20200730,NaN
21655678,300418,NaN,1596072830839459,11103506,2.0,500.0,283000.0,4181705.0,0.0,93348650,0,0,0,2300418,3.004180e+13,20200730,NaN
21655679,300418,NaN,1596072830918322,11105784,1.0,100.0,264900.0,4181705.0,0.0,93348730,0,0,0,2300418,3.004180e+13,20200730,NaN
21655680,300418,NaN,1596072830994063,11108077,1.0,3000.0,271600.0,4181705.0,0.0,93348800,0,0,0,2300418,3.004180e+13,20200730,NaN
21655681,300418,NaN,1596072831023629,11108960,2.0,900.0,271600.0,4182605.0,1.0,93348830,0,0,0,2300418,3.004180e+13,20200730,NaN
21655682,300418,NaN,1596072831048920,11111287,1.0,1200.0,272100.0,4183805.0,1.0,93348860,0,0,0,2300418,3.004180e+13,20200730,NaN
21655683,300418,NaN,1596072831074704,11112038,2.0,3000.0,271700.0,4186805.0,1.0,93348880,0,0,0,2300418,3.004180e+13,20200730,NaN
21655684,300418,NaN,1596072831119492,11113459,2.0,100.0,271900.0,4186805.0,0.0,93348930,0,0,0,2300418,3.004180e+13,20200730,NaN
21655685,300418,NaN,1596072831123353,11113595,1.0,600.0,272000.0,4187405.0,1.0,93348930,0,0,0,2300418,3.004180e+13,20200730,NaN
21655686,300418,NaN,1596072831177110,11115244,1.0,2000.0,270000.0,4187405.0,0.0,93348990,0,0,0,2300418,3.004180e+13,20200730,NaN
21655687,300418,NaN,1596072831204213,11116070,1.0,200.0,270100.0,4187405.0,0.0,93349010,0,0,0,2300418,3.004180e+13,20200730,NaN
21655688,300418,NaN,1596072831232972,11117009,2.0,700.0,271900.0,4187405.0,0.0,93349040,0,0,0,2300418,3.004180e+13,20200730,NaN
21655689,300418,NaN,1596072831243752,11117452,1.0,300.0,271300.0,4187405.0,0.0,93349050,0,0,0,2300418,3.004180e+13,20200730,NaN
21655690,300418,NaN,1596072831260601,11118039,1.0,1000.0,269900.0,4187405.0,0.0,93349070,0,0,0,2300418,3.004180e+13,20200730,NaN
21655691,300418,NaN,1596072831276795,11118596,2.0,400.0,271800.0,4187805.0,1.0,93349090,0,0,0,2300418,3.004180e+13,20200730,NaN
21655692,300418,NaN,1596072831368237,11123114,2.0,1200.0,271900.0,4187805.0,0.0,93349180,0,0,0,2300418,3.004180e+13,20200730,NaN
21655693,300418,NaN,1596072831391866,11123940,1.0,1000.0,271200.0,4187805.0,0.0,93349200,0,0,0,2300418,3.004180e+13,20200730,NaN
21655694,300418,NaN,1596072831454062,11126372,1.0,600.0,271900.0,4188405.0,1.0,93349260,0,0,0,2300418,3.004180e+13,20200730,NaN
21655695,300418,NaN,1596072831458242,11126587,1.0,1300.0,271900.0,4189705.0,1.0,93349270,0,0,0,2300418,3.004180e+13,20200730,NaN
21655696,300418,NaN,1596072831460003,11126665,1.0,100.0,271900.0,4189705.0,0.0,93349270,0,0,0,2300418,3.004180e+13,20200730,NaN
21655697,300418,NaN,1596072831461769,11126761,1.0,500.0,271900.0,4189705.0,0.0,93349270,0,0,0,2300418,3.004180e+13,20200730,NaN
21655698,300418,NaN,1596072831472736,11127188,1.0,22500.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655699,300418,NaN,1596072831472739,11127191,1.0,24000.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655700,300418,NaN,1596072831472748,11127192,1.0,22800.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655701,300418,NaN,1596072831472751,11127195,1.0,300.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655702,300418,NaN,1596072831472753,11127197,1.0,200.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655703,300418,NaN,1596072831472805,11127204,1.0,39300.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655704,300418,NaN,1596072831474921,11127266,1.0,8400.0,271900.0,4189705.0,0.0,93349280,0,0,0,2300418,3.004180e+13,20200730,NaN
21655705,300418,NaN,1596072831475877,11127295,1.0,600.0,271900.0,4189705.0,0.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655706,300418,NaN,1596072831475879,11127297,1.0,400.0,272000.0,4190105.0,1.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655707,300418,NaN,1596072831475885,11127302,1.0,16600.0,271900.0,4190105.0,0.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655708,300418,NaN,1596072831475885,11127303,1.0,10200.0,271900.0,4190105.0,0.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655709,300418,NaN,1596072831480290,11127504,1.0,400.0,272000.0,4190505.0,1.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655710,300418,NaN,1596072831480292,11127506,1.0,100.0,272000.0,4190605.0,1.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655711,300418,NaN,1596072831480298,11127508,1.0,400.0,272000.0,4191005.0,1.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655712,300418,NaN,1596072831480300,11127510,1.0,800.0,272000.0,4191805.0,1.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655713,300418,NaN,1596072831480307,11127519,1.0,1600.0,271900.0,4191805.0,0.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655714,300418,NaN,1596072831483594,11127676,1.0,1300.0,271900.0,4191805.0,0.0,93349290,0,0,0,2300418,3.004180e+13,20200730,NaN
21655715,300418,NaN,1596072831487093,11127792,1.0,500.0,272000.0,4192305.0,1.0,93349300,0,0,0,2300418,3.004180e+13,20200730,NaN
21655716,300418,NaN,1596072831487095,11127794,1.0,400.0,272000.0,4192705.0,1.0,93349300,0,0,0,2300418,3.004180e+13,20200730,NaN
21655717,300418,2041649.0,1596072831490294,11127917,1.0,48200.0,272100.0,4238305.0,1.0,93349300,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15
21655718,300418,NaN,1596072831490496,11127973,1.0,200.0,271900.0,4238305.0,0.0,93349300,0,0,0,2300418,3.004180e+13,20200730,NaN
21655719,300418,NaN,1596072831515124,11128830,1.0,200.0,271900.0,4238305.0,0.0,93349330,0,0,0,2300418,3.004180e+13,20200730,NaN
21655720,300418,NaN,1596072831516663,11128878,1.0,600.0,271900.0,4238305.0,0.0,93349330,0,0,0,2300418,3.004180e+13,20200730,NaN
21655721,300418,NaN,1596072831518753,11128954,1.0,2300.0,271900.0,4238305.0,0.0,93349330,0,0,0,2300418,3.004180e+13,20200730,NaN
21655722,300418,NaN,1596072831528052,11129652,1.0,200.0,271900.0,4238305.0,0.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655723,300418,NaN,1596072831528174,11129658,1.0,8400.0,272000.0,4238305.0,0.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655724,300418,NaN,1596072831528257,11129661,1.0,100.0,272200.0,4238405.0,1.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655725,300418,NaN,1596072831528260,11129663,1.0,1900.0,272000.0,4238405.0,0.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655726,300418,NaN,1596072831530331,11130126,1.0,3000.0,272200.0,4241405.0,1.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655727,300418,NaN,1596072831535148,11130221,1.0,19100.0,272200.0,4257405.0,1.0,93349340,0,0,0,2300418,3.004180e+13,20200730,NaN
21655728,300418,NaN,1596072831537516,11130362,1.0,3200.0,271900.0,4257405.0,0.0,93349350,0,0,0,2300418,3.004180e+13,20200730,NaN
21655729,300418,NaN,1596072831545088,11130762,1.0,46600.0,271900.0,4257405.0,0.0,93349360,0,0,0,2300418,3.004180e+13,20200730,NaN
21655730,300418,NaN,1596072831551666,11131153,1.0,4300.0,271900.0,4257405.0,0.0,93349360,0,0,0,2300418,3.004180e+13,20200730,NaN
21655731,300418,NaN,1596072831573524,11131953,1.0,200.0,272200.0,4257405.0,0.0,93349380,0,0,0,2300418,3.004180e+13,20200730,NaN
21655732,300418,NaN,1596072831592169,11132615,1.0,2400.0,272000.0,4257405.0,0.0,93349400,0,0,0,2300418,3.004180e+13,20200730,NaN
21655733,300418,NaN,1596072831593103,11132671,1.0,11400.0,272000.0,4257405.0,0.0,93349400,0,0,0,2300418,3.004180e+13,20200730,NaN
21655734,300418,NaN,1596072831599866,11132866,1.0,100.0,271900.0,4257405.0,0.0,93349410,0,0,0,2300418,3.004180e+13,20200730,NaN
21655735,300418,NaN,1596072831611548,11133264,2.0,5000.0,290000.0,4257405.0,0.0,93349420,0,0,0,2300418,3.004180e+13,20200730,NaN
21655736,300418,NaN,1596072831621806,11133680,1.0,200.0,272000.0,4257405.0,0.0,93349430,0,0,0,2300418,3.004180e+13,20200730,NaN
21655737,300418,NaN,1596072831622657,11133725,1.0,100.0,272000.0,4257405.0,0.0,93349430,0,0,0,2300418,3.004180e+13,20200730,NaN
21655738,300418,NaN,1596072831645894,11134456,1.0,100.0,271900.0,4257405.0,0.0,93349460,0,0,0,2300418,3.004180e+13,20200730,NaN
21655739,300418,NaN,1596072831648863,11134551,1.0,1400.0,271800.0,4257405.0,0.0,93349460,0,0,0,2300418,3.004180e+13,20200730,NaN
21655740,300418,NaN,1596072831674747,11135288,1.0,7000.0,272200.0,4257405.0,0.0,93349480,0,0,0,2300418,3.004180e+13,20200730,NaN
21655741,300418,NaN,1596072831694389,11135758,1.0,100.0,271900.0,4257405.0,0.0,93349500,0,0,0,2300418,3.004180e+13,20200730,NaN
21655742,300418,NaN,1596072831712608,11136124,1.0,1300.0,271900.0,4257405.0,0.0,93349520,0,0,0,2300418,3.004180e+13,20200730,NaN
21655743,300418,NaN,1596072831721114,11136304,2.0,200.0,271500.0,4257605.0,1.0,93349530,0,0,0,2300418,3.004180e+13,20200730,NaN
21655744,300418,NaN,1596072831721390,11136324,1.0,100.0,271900.0,4257605.0,0.0,93349530,0,0,0,2300418,3.004180e+13,20200730,NaN
21655745,300418,NaN,1596072831725104,11136392,1.0,100.0,271900.0,4257605.0,0.0,93349540,0,0,0,2300418,3.004180e+13,20200730,NaN
21655746,300418,NaN,1596072831726455,11136411,2.0,500.0,271800.0,4258105.0,1.0,93349540,0,0,0,2300418,3.004180e+13,20200730,NaN
21655747,300418,NaN,1596072831726475,11136420,1.0,100.0,271900.0,4258105.0,0.0,93349540,0,0,0,2300418,3.004180e+13,20200730,NaN
21655748,300418,NaN,1596072831747404,11136810,1.0,100.0,271900.0,4258105.0,0.0,93349560,0,0,0,2300418,3.004180e+13,20200730,NaN
21655749,300418,NaN,1596072831754536,11136944,1.0,100.0,271900.0,4258105.0,0.0,93349560,0,0,0,2300418,3.004180e+13,20200730,NaN
21655750,300418,NaN,1596072831786770,11138791,1.0,100.0,271900.0,4258105.0,0.0,93349600,0,0,0,2300418,3.004180e+13,20200730,NaN

In [69]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034520.0)]

,date,secid,vai,ars,exchange,group,Price,OrderQty,Side,statusLs,TradePriceLs,TradeQtyLs,ApplSeqNum,order,colo,accCode
10625,20200730,2300418,4161305,11.0,SZE,9923,272000,200,1,"(0, 4)","(0, 272000)","(0, 200)",2034520.0,469,zs_64_01,6479

In [71]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034520.0)]

Empty DataFrame
Columns: [date, secid, vai, ars, exchange, group, Price, OrderQty, Side, statusLs, TradePriceLs, TradeQtyLs, ApplSeqNum, order, colo, accCode]
Index: []

In [51]:
    checkLog = msgDataSZ[msgDataSZ['updateType'] == 0]
    checkLog = pd.merge(checkLog, infoData.drop_duplicates(subset=['secid', 'ApplSeqNum'])[['secid', 'ApplSeqNum', 'ars']], 
                    on=['secid', 'ApplSeqNum'], how='left')
    checkLog['ApplSeqNum'] = np.where(~checkLog['ars'].isnull(), checkLog['ApplSeqNum'], checkLog['ars'])
    checkLog['start_time'] = np.where(~checkLog['ars'].isnull(), checkLog['clockAtArrival'], checkLog['ars'])
    checkLog.drop(["ars"],axis=1,inplace=True)
    checkLog['ApplSeqNum'] = checkLog.groupby(['secid'])['ApplSeqNum'].ffill()
    checkLog['start_time'] = checkLog.groupby(['secid'])['start_time'].ffill()
    checkLog['end_time'] = checkLog['start_time'] + 1*1e6
    checkLog = checkLog[(~checkLog['ApplSeqNum'].isnull()) & (checkLog['clockAtArrival'] > checkLog['start_time']) & 
                       (checkLog['clockAtArrival'] < checkLog['end_time'])]
    msgDataSZ = msgDataSZ[msgDataSZ['StockSeqNum'].isin(checkLog['StockSeqNum'].values)]
    print('finish get the interval')
    
#     statusInfo = msgDataSZ.groupby(['StockSeqNum'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
#     statusInfo.columns = ['StockSeqNum', 'statusLs']
#     tradePriceInfo = msgDataSZ.groupby(['StockSeqNum'])['TradePrice'].apply(lambda x: tuple(x)).reset_index()
#     tradePriceInfo.columns = ['StockSeqNum', 'TradePriceLs']
#     tradeQtyInfo = msgDataSZ.groupby(['StockSeqNum'])['TradeQty'].apply(lambda x: tuple(x)).reset_index()
#     tradeQtyInfo.columns = ['StockSeqNum', 'TradeQtyLs']
#     checkLog = pd.merge(checkLog, statusInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
#     checkLog = pd.merge(checkLog, tradePriceInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
#     checkLog = pd.merge(checkLog, tradeQtyInfo, how='left', on=['StockSeqNum'], validate='one_to_one')

finish get the interval

In [30]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034497.0) & (infoData['OrderQty'] == 200) & (infoData['Price'] == 271900.0)]

,date,secid,vai,ars,exchange,group,Price,OrderQty,Side,statusLs,TradePriceLs,TradeQtyLs,ApplSeqNum,order,colo,accCode
10624,20200730,2300418,4128205,11.0,SZE,9922,271900,200,1,"(0, 4)","(0, 271900)","(0, 200)",2034497.0,902,zs_66_01,6678

In [37]:
checkLog[(checkLog['SecurityID'] == 300418) & (checkLog['ApplSeqNum'] == 2034497.0)]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs
115924,300418,2034497.0,1596072830224554,11083432,1.0,400.0,271900.0,4128605.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 400)"

In [52]:
checkLog[(checkLog['SecurityID'] == 300418) & (checkLog['ApplSeqNum'] == 2034497.0)]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time
21655652,300418,2034497.0,1596072830224554,11083432,1.0,400.0,271900.0,4128605.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655653,300418,2034497.0,1596072830227100,11083488,1.0,33100.0,271900.0,4161305.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655654,300418,2034497.0,1596072830231300,11083597,1.0,400.0,272000.0,4161705.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655655,300418,2034497.0,1596072830231301,11083599,1.0,800.0,272000.0,4162505.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655656,300418,2034497.0,1596072830231304,11083602,1.0,200.0,272000.0,4162705.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655657,300418,2034497.0,1596072830234837,11083666,1.0,100.0,272000.0,4162805.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655658,300418,2034497.0,1596072830234846,11083668,1.0,400.0,272000.0,4163205.0,1.0,93348040,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655659,300418,2034497.0,1596072830258907,11084241,1.0,200.0,271900.0,4163205.0,0.0,93348070,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655660,300418,2034497.0,1596072830263986,11084417,1.0,300.0,272000.0,4163505.0,1.0,93348070,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655661,300418,2034497.0,1596072830267553,11084503,1.0,500.0,272000.0,4164005.0,1.0,93348080,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655662,300418,2034497.0,1596072830286142,11084971,1.0,300.0,271900.0,4164005.0,0.0,93348100,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655663,300418,2034497.0,1596072830289339,11085113,2.0,9000.0,271500.0,4173005.0,1.0,93348100,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655664,300418,2034497.0,1596072830357381,11088329,2.0,100.0,271600.0,4173105.0,1.0,93348170,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655665,300418,2034497.0,1596072830383484,11088996,1.0,5000.0,271900.0,4173105.0,0.0,93348190,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655666,300418,2034497.0,1596072830440690,11090321,1.0,1100.0,271900.0,4173105.0,0.0,93348250,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655667,300418,2034497.0,1596072830442338,11090374,2.0,1500.0,272000.0,4173105.0,0.0,93348250,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655668,300418,2034497.0,1596072830442944,11090387,2.0,3000.0,271600.0,4176105.0,1.0,93348250,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655669,300418,2034497.0,1596072830445713,11090453,1.0,1100.0,271900.0,4176105.0,0.0,93348260,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655670,300418,2034497.0,1596072830450105,11090611,1.0,1000.0,271500.0,4176105.0,0.0,93348260,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655671,300418,2034497.0,1596072830536961,11093536,2.0,2000.0,271600.0,4178105.0,1.0,93348350,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655672,300418,2034497.0,1596072830570122,11094947,1.0,22000.0,271200.0,4178105.0,0.0,93348380,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655673,300418,2034497.0,1596072830578785,11095130,1.0,900.0,270100.0,4178105.0,0.0,93348390,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655674,300418,2034497.0,1596072830597539,11095567,1.0,100.0,271800.0,4178105.0,0.0,93348410,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655675,300418,2034497.0,1596072830612263,11095796,2.0,400.0,271600.0,4178505.0,1.0,93348420,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655676,300418,2034497.0,1596072830626102,11096121,2.0,3000.0,271600.0,4181505.0,1.0,93348440,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655677,300418,2034497.0,1596072830657099,11096913,2.0,200.0,271800.0,4181705.0,1.0,93348470,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655678,300418,2034497.0,1596072830839459,11103506,2.0,500.0,283000.0,4181705.0,0.0,93348650,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655679,300418,2034497.0,1596072830918322,11105784,1.0,100.0,264900.0,4181705.0,0.0,93348730,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655680,300418,2034497.0,1596072830994063,11108077,1.0,3000.0,271600.0,4181705.0,0.0,93348800,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655681,300418,2034497.0,1596072831023629,11108960,2.0,900.0,271600.0,4182605.0,1.0,93348830,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655682,300418,2034497.0,1596072831048920,11111287,1.0,1200.0,272100.0,4183805.0,1.0,93348860,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655683,300418,2034497.0,1596072831074704,11112038,2.0,3000.0,271700.0,4186805.0,1.0,93348880,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655684,300418,2034497.0,1596072831119492,11113459,2.0,100.0,271900.0,4186805.0,0.0,93348930,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655685,300418,2034497.0,1596072831123353,11113595,1.0,600.0,272000.0,4187405.0,1.0,93348930,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655686,300418,2034497.0,1596072831177110,11115244,1.0,2000.0,270000.0,4187405.0,0.0,93348990,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15
21655687,300418,2034497.0,1596072831204213,11116070,1.0,200.0,270100.0,4187405.0,0.0,93349010,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15

In [9]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

startDate = '20200730'
endDate = '20200807'
readPath = r'L:\orderLog\result\marketPos'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'SZspeed66_***.pkl')))
dateLs = np.array([os.path.basename(i).split('.')[0].split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
checkData = []
for path in dataPathLs:
    data = pd.read_pickle(path)
    checkData += [data]
checkLog = pd.concat(checkData).reset_index(drop=True)   
checkLog['date'].unique()

array([20200807, 20200730, 20200731, 20200803, 20200804, 20200805,
       20200806], dtype=int64)

In [10]:
checkLog = checkLog.drop_duplicates(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
checkLog = checkLog[(checkLog['colo'] == 'zs_66_01')]
checkLog = checkLog[((checkLog['TransactTime'] >= 93300000) & (checkLog['TransactTime'] <= 113000000)) |
                   ((checkLog['TransactTime'] >= 130300000) & (checkLog['TransactTime'] <= 145500000))]

checkLog['time_diff'] = checkLog['clockAtArrival'] - checkLog['start_time']
checkLog['colo1'] = checkLog['colo'].str[:2]
checkLog['colo_broker'] = checkLog['colo1'] + '_' + checkLog["accCode"].astype(str).str[:2]

from IPython.display import display, HTML
re1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].describe().fillna(0).astype(int).reset_index()
# re1 = re1[re1['count'] > 20].reset_index()
c1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].apply(lambda x: x.describe([0.1])['10%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"10%"})
re1 = pd.merge(re1, c1[['date', 'accCode', '10%']], on=['date', 'accCode'])
c1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].apply(lambda x: x.describe([0.9])['90%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"90%"})
re1 = pd.merge(re1, c1[['date', 'accCode', '90%']], on=['date', 'accCode'])
re1['accCode'] = re1['accCode'].astype(int)
display(HTML(re1[['date', 'colo', 'accCode', 'count', 'min', '10%', '25%', '50%', '75%', '90%', 'max']].groupby(['colo', 'accCode', 'date']).first().to_html()))

In [4]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

startDate = '20200730'
endDate = '20200807'
readPath = r'L:\orderLog\result\marketPos'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'SZspeed661_***.pkl')))
dateLs = np.array([os.path.basename(i).split('.')[0].split('_')[1] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
checkData = []
for path in dataPathLs:
    data = pd.read_pickle(path)
    checkData += [data]
checkLog = pd.concat(checkData).reset_index(drop=True)   
checkLog['date'].unique()

array([20200730, 20200806], dtype=int64)

In [18]:
data1 = pd.read_pickle(r'L:\orderLog\result\marketPos\SZspeed66_20200730.pkl')
data2 = pd.read_pickle(r'L:\orderLog\result\marketPos\SZspeed661_20200730.pkl')
data1 = data1.drop_duplicates(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
data1 = data1[(data1['colo'] == 'zs_66_01')]
data1 = data1[((data1['TransactTime'] >= 93300000) & (data1['TransactTime'] <= 113000000)) |
                   ((data1['TransactTime'] >= 130300000) & (data1['TransactTime'] <= 145500000))]
data1['time_diff'] = data1['clockAtArrival'] - data1['start_time']
data1['colo1'] = data1['colo'].str[:2]
data1['colo_broker'] = data1['colo1'] + '_' + data1["accCode"].astype(str).str[:2]
display(data1.groupby(['date', 'colo', 'accCode'])['time_diff'].describe().fillna(0).astype(int).reset_index())
data2 = data2.drop_duplicates(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
data2 = data2[(data2['colo'] == 'zs_66_01')]
data2 = data2[((data2['TransactTime'] >= 93300000) & (data2['TransactTime'] <= 113000000)) |
                   ((data2['TransactTime'] >= 130300000) & (data2['TransactTime'] <= 145500000))]
data2['time_diff'] = data2['clockAtArrival'] - data2['start_time']
data2['colo1'] = data2['colo'].str[:2]
data2['colo_broker'] = data2['colo1'] + '_' + data2["accCode"].astype(str).str[:2]
display(data2.groupby(['date', 'colo', 'accCode'])['time_diff'].describe().fillna(0).astype(int).reset_index())
data1 = data1[data1['accCode'] == 6678]
data2 = data2[data2['accCode'] == 6678]
display(data1)
display(data2)
re = pd.merge(data1, data2, on=['SecurityID', 'ApplSeqNum', 'clockAtArrival'], how='outer')
display(re[re['sequenceNo_x'].isnull()])
display(re[re['sequenceNo_y'].isnull()])

,date,colo,accCode,count,mean,std,min,25%,50%,75%,max
0,20200730,zs_66_01,6678.0,225,28296,49302,3663,4697,16989,34431,599725
1,20200730,zs_66_01,6683.0,1870,27831,33549,3403,5122,20600,35560,537428

,date,colo,accCode,count,mean,std,min,25%,50%,75%,max
0,20200730,zs_66_01,6678.0,222,27977,49637,3663,4688,15944,33651,599725
1,20200730,zs_66_01,6683.0,1738,27159,33533,2895,5097,20083,34775,537428

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode,time_diff,colo1,colo_broker
203,12,1824809.0,1596072798398830,10154673,2.0,900.0,58200.0,1756227.0,1.0,93316210,0,0,0,2000012,1.201825e+09,20200730,1.596073e+15,1.596073e+15,"(0, 4, 4)","(0, 58200, 58200)","(0, 800, 100)",1742727.0,11.0,SZE,28.0,0.0,zs_66_01,6678.0,89931.0,zs,zs_66
213,12,1832895.0,1596072799629321,10192749,2.0,300.0,58300.0,1770227.0,1.0,93317440,0,0,0,2000012,1.201833e+09,20200730,1.596073e+15,1.596073e+15,"(0, 4, 4, 4)","(0, 58300, 58300, 58300)","(0, 69, 100, 131)",1766058.0,11.0,SZE,29.0,1.0,zs_66_01,6678.0,42096.0,zs,zs_66
369,21,10802381.0,1596076216264483,61879956,2.0,300.0,243700.0,17409727.0,0.0,103014070,0,0,0,2000021,2.110803e+09,20200730,1.596076e+15,1.596076e+15,"(0, 4)","(0, 243700)","(0, 300)",17359527.0,11.0,SZE,49.0,2.0,zs_66_01,6678.0,26031.0,zs,zs_66
411,27,19464277.0,1596088860089034,119695133,2.0,700.0,55800.0,9438915.0,0.0,140057860,0,0,0,2000027,2.719464e+09,20200730,1.596089e+15,1.596089e+15,"(0, 3)","(0, 0)","(0, 0)",9436343.0,11.0,SZE,53.0,6.0,zs_66_01,6678.0,18170.0,zs,zs_66
424,27,20392399.0,1596089663597893,126040735,2.0,500.0,56800.0,12268028.0,1.0,141421370,0,0,0,2000027,2.720392e+09,20200730,1.596090e+15,1.596090e+15,"(0, 4)","(0, 56800)","(0, 500)",12267528.0,11.0,SZE,55.0,8.0,zs_66_01,6678.0,5207.0,zs,zs_66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33296,300418,2034497.0,1596072830258907,11084241,1.0,200.0,271900.0,4163205.0,0.0,93348070,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 200)",4128205.0,11.0,SZE,2778.0,410.0,zs_66_01,6678.0,35507.0,zs,zs_66
33338,300418,2041649.0,1596072831573524,11131953,1.0,200.0,272200.0,4257405.0,0.0,93349380,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 272200)","(0, 200)",4238305.0,11.0,SZE,2779.0,411.0,zs_66_01,6678.0,83230.0,zs,zs_66
33385,300418,2045245.0,1596072832219891,11148457,1.0,200.0,272300.0,4273905.0,0.0,93350030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 3)","(0, 0)","(0, 0)",4269405.0,11.0,SZE,2780.0,412.0,zs_66_01,6678.0,28926.0,zs,zs_66
34185,300459,1747952.0,1596072786034337,9739971,2.0,1500.0,30500.0,5127794.0,1.0,93303840,0,0,0,2300459,3.004590e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 30500)","(0, 1500)",5080294.0,11.0,SZE,2844.0,418.0,zs_66_01,6678.0,49453.0,zs,zs_66
35401,300558,19924269.0,1596088924925584,120275668,1.0,100.0,1360000.0,4952373.0,1.0,140202700,0,0,0,2300558,3.005582e+13,20200730,1.596089e+15,1.596089e+15,"(0, 4, 4)","(0, 1360000, 1360000)","(0, 80, 20)",4952093.0,11.0,SZE,2987.0,423.0,zs_66_01,6678.0,4062.0,zs,zs_66

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode,time_diff,colo1,colo_broker
741,12,1824809.0,1596072798398830,10154673,2.0,900.0,58200.0,1756227.0,1.0,93316210,0,0,0,2000012,1.201825e+09,20200730,1.596073e+15,1.596073e+15,"(0, 4, 4)","(0, 58200, 58200)","(0, 800, 100)",1742727.0,11.0,SZE,1311.0,492.0,zs_66_01,6678.0,89931.0,zs,zs_66
751,12,1832895.0,1596072799629321,10192749,2.0,300.0,58300.0,1770227.0,1.0,93317440,0,0,0,2000012,1.201833e+09,20200730,1.596073e+15,1.596073e+15,"(0, 4, 4, 4)","(0, 58300, 58300, 58300)","(0, 69, 100, 131)",1766058.0,11.0,SZE,1312.0,493.0,zs_66_01,6678.0,42096.0,zs,zs_66
1161,21,10802381.0,1596076216264483,61879956,2.0,300.0,243700.0,17409727.0,0.0,103014070,0,0,0,2000021,2.110803e+09,20200730,1.596076e+15,1.596076e+15,"(0, 4)","(0, 243700)","(0, 300)",17359527.0,11.0,SZE,1368.0,494.0,zs_66_01,6678.0,26031.0,zs,zs_66
1220,27,19464277.0,1596088860089034,119695133,2.0,700.0,55800.0,9438915.0,0.0,140057860,0,0,0,2000027,2.719464e+09,20200730,1.596089e+15,1.596089e+15,"(0, 3)","(0, 0)","(0, 0)",9436343.0,11.0,SZE,1375.0,498.0,zs_66_01,6678.0,18170.0,zs,zs_66
1233,27,20392399.0,1596089663597893,126040735,2.0,500.0,56800.0,12268028.0,1.0,141421370,0,0,0,2000027,2.720392e+09,20200730,1.596090e+15,1.596090e+15,"(0, 4)","(0, 56800)","(0, 500)",12267528.0,11.0,SZE,1377.0,500.0,zs_66_01,6678.0,5207.0,zs,zs_66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108524,300315,19494741.0,1596088879520007,119893925,1.0,200.0,92400.0,113613603.0,0.0,140117300,0,0,0,2300315,3.003152e+13,20200730,1.596089e+15,1.596089e+15,"(0, 4, 4)","(0, 92400, 92400)","(0, 100, 100)",113613403.0,11.0,SZE,9363.0,899.0,zs_66_01,6678.0,4709.0,zs,zs_66
115972,300418,2041649.0,1596072831573524,11131953,1.0,200.0,272200.0,4257405.0,0.0,93349380,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 272200)","(0, 200)",4238305.0,11.0,SZE,9924.0,903.0,zs_66_01,6678.0,83230.0,zs,zs_66
116019,300418,2045245.0,1596072832219891,11148457,1.0,200.0,272300.0,4273905.0,0.0,93350030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 3)","(0, 0)","(0, 0)",4269405.0,11.0,SZE,9925.0,904.0,zs_66_01,6678.0,28926.0,zs,zs_66
118150,300459,1747952.0,1596072786034337,9739971,2.0,1500.0,30500.0,5127794.0,1.0,93303840,0,0,0,2300459,3.004590e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 30500)","(0, 1500)",5080294.0,11.0,SZE,10118.0,910.0,zs_66_01,6678.0,49453.0,zs,zs_66
121997,300558,19924269.0,1596088924925584,120275668,1.0,100.0,1360000.0,4952373.0,1.0,140202700,0,0,0,2300558,3.005582e+13,20200730,1.596089e+15,1.596089e+15,"(0, 4, 4)","(0, 1360000, 1360000)","(0, 80, 20)",4952093.0,11.0,SZE,10519.0,915.0,zs_66_01,6678.0,4062.0,zs,zs_66

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo_x,Side_x,OrderQty_x,Price_x,cum_volume_x,agg_x,TransactTime_x,updateType_x,TradePrice_x,TradeQty_x,secid_x,StockSeqNum_x,date_x,start_time_x,end_time_x,statusLs_x,TradePriceLs_x,TradeQtyLs_x,vai_x,ars_x,exchange_x,group_x,order_x,colo_x,accCode_x,time_diff_x,colo1_x,colo_broker_x,sequenceNo_y,Side_y,OrderQty_y,Price_y,cum_volume_y,agg_y,TransactTime_y,updateType_y,TradePrice_y,TradeQty_y,secid_y,StockSeqNum_y,date_y,start_time_y,end_time_y,statusLs_y,TradePriceLs_y,TradeQtyLs_y,vai_y,ars_y,exchange_y,group_y,order_y,colo_y,accCode_y,time_diff_y,colo1_y,colo_broker_y
225,887,8859698.0,1596075068401972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49806019.0,1.0,300.0,93600.0,27665395.0,1.0,101106210.0,0.0,0.0,0.0,2000887.0,8.870886e+10,20200730.0,1.596075e+15,1.596075e+15,"(0, 4)","(0, 93600)","(0, 300)",27665095.0,11.0,SZE,2810.0,605.0,zs_66_01,6678.0,15256.0,zs,zs_66
226,2340,10230014.0,1596076040814142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60234201.0,1.0,200.0,54000.0,65706280.0,1.0,102718620.0,0.0,0.0,0.0,2002340.0,2.340102e+11,20200730.0,1.596076e+15,1.596076e+15,"(0, 4)","(0, 54000)","(0, 200)",65700080.0,11.0,SZE,4887.0,708.0,zs_66_01,6678.0,3903.0,zs,zs_66
227,2603,12541699.0,1596077214466380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71759275.0,1.0,100.0,313900.0,17227591.0,1.0,104652270.0,0.0,0.0,0.0,2002603.0,2.603125e+11,20200730.0,1.596077e+15,1.596077e+15,"(0, 4)","(0, 313900)","(0, 100)",17227291.0,11.0,SZE,5984.0,766.0,zs_66_01,6678.0,3868.0,zs,zs_66
228,300244,11944138.0,1596076859694468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68802496.0,2.0,100.0,384400.0,5392860.0,1.0,104057500.0,0.0,0.0,0.0,2300244.0,3.002441e+13,20200730.0,1.596077e+15,1.596077e+15,"(0, 4)","(0, 384400)","(0, 100)",5392760.0,11.0,SZE,8996.0,876.0,zs_66_01,6678.0,5085.0,zs,zs_66

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo_x,Side_x,OrderQty_x,Price_x,cum_volume_x,agg_x,TransactTime_x,updateType_x,TradePrice_x,TradeQty_x,secid_x,StockSeqNum_x,date_x,start_time_x,end_time_x,statusLs_x,TradePriceLs_x,TradeQtyLs_x,vai_x,ars_x,exchange_x,group_x,order_x,colo_x,accCode_x,time_diff_x,colo1_x,colo_broker_x,sequenceNo_y,Side_y,OrderQty_y,Price_y,cum_volume_y,agg_y,TransactTime_y,updateType_y,TradePrice_y,TradeQty_y,secid_y,StockSeqNum_y,date_y,start_time_y,end_time_y,statusLs_y,TradePriceLs_y,TradeQtyLs_y,vai_y,ars_y,exchange_y,group_y,order_y,colo_y,accCode_y,time_diff_y,colo1_y,colo_broker_y
70,998,16006509.0,1596085559959977,94883657.0,1.0,100.0,181800.0,41516797.0,1.0,130557740.0,0.0,0.0,0.0,2000998.0,9.981601e+10,20200730.0,1.596086e+15,1.596086e+15,"(0, 4)","(0, 181800)","(0, 100)",41436597.0,11.0,SZE,637.0,128.0,zs_66_01,6678.0,4511.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2185,2126419.0,1596072830356826,11088308.0,1.0,1500.0,161700.0,12201100.0,1.0,93348170.0,0.0,0.0,0.0,2002185.0,2.185021e+11,20200730.0,1.596073e+15,1.596073e+15,"(0, 4, 4, 4)","(0, 161700, 161700, 161700)","(0, 1200, 100, 200)",12198500.0,11.0,SZE,888.0,195.0,zs_66_01,6678.0,41124.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2221,18832804.0,1596088866043884,119761994.0,2.0,600.0,98800.0,13937468.0,1.0,140103820.0,0.0,0.0,0.0,2002221.0,2.221188e+11,20200730.0,1.596089e+15,1.596089e+15,"(0, 4)","(0, 98800)","(0, 600)",13928568.0,11.0,SZE,935.0,202.0,zs_66_01,6678.0,16989.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2385,12275027.0,1596076989174053,69992863.0,1.0,1800.0,107100.0,126710836.0,0.0,104306980.0,0.0,0.0,0.0,2002385.0,2.385123e+11,20200730.0,1.596077e+15,1.596077e+15,"(0, 3)","(0, 0)","(0, 0)",126672836.0,11.0,SZE,1169.0,228.0,zs_66_01,6678.0,36179.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2429,15948835.0,1596085537836906,94705747.0,1.0,2400.0,68800.0,92518910.0,0.0,130535620.0,0.0,0.0,0.0,2002429.0,2.429159e+11,20200730.0,1.596086e+15,1.596086e+15,"(0, 3)","(0, 0)","(0, 0)",92463860.0,11.0,SZE,1257.0,252.0,zs_66_01,6678.0,4173.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,2500,2007656.0,1596072825190171,10930694.0,1.0,1200.0,81700.0,4335500.0,0.0,93343000.0,0.0,0.0,0.0,2002500.0,2.500020e+11,20200730.0,1.596073e+15,1.596073e+15,"(0, 4)","(0, 81700)","(0, 1200)",4261400.0,11.0,SZE,1355.0,257.0,zs_66_01,6678.0,45370.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,300418,2034497.0,1596072830258907,11084241.0,1.0,200.0,271900.0,4163205.0,0.0,93348070.0,0.0,0.0,0.0,2300418.0,3.004180e+13,20200730.0,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 200)",4128205.0,11.0,SZE,2778.0,410.0,zs_66_01,6678.0,35507.0,zs,zs_66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data1 = pd.read_pickle(r'L:\orderLog\result\marketPos\SZspeed66_20200730.pkl')
data1[(data1['SecurityID'] == 887) & (data1['ApplSeqNum'] == 8859698.0) & (data1['OrderQty'] == 300)]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode
5251,887,8859698.0,1596075068401972,49806019,1.0,300.0,93600.0,27665395.0,1.0,101106210,0,0,0,2000887,8.870886e+10,20200730,1.596075e+15,1.596075e+15,"(0, 4)","(0, 93600)","(0, 300)",27665095.0,11.0,SZE,537.0,113.0,zs_66_01,6678.0
5270,887,8859698.0,1596075068926070,49812504,1.0,300.0,93600.0,27777595.0,0.0,101106730,0,0,0,2000887,8.870886e+10,20200730,1.596075e+15,1.596075e+15,"(0, 4)","(0, 93600)","(0, 300)",27665095.0,11.0,SZE,537.0,113.0,zs_66_01,6678.0
5289,887,8859698.0,1596075069294368,49819014,1.0,300.0,93400.0,27787195.0,0.0,101107100,0,0,0,2000887,8.870886e+10,20200730,1.596075e+15,1.596075e+15,"(0, 3)","(0, 0)","(0, 0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
checkLog = checkLog.drop_duplicates(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'ApplSeqNum'], keep=False)
checkLog = checkLog[(checkLog['colo'] == 'zs_66_01')]
# checkLog = checkLog[((checkLog['TransactTime'] >= 93300000) & (checkLog['TransactTime'] <= 113000000)) |
#                    ((checkLog['TransactTime'] >= 130300000) & (checkLog['TransactTime'] <= 145500000))]

checkLog['time_diff'] = checkLog['clockAtArrival'] - checkLog['start_time']
checkLog['colo1'] = checkLog['colo'].str[:2]
checkLog['colo_broker'] = checkLog['colo1'] + '_' + checkLog["accCode"].astype(str).str[:2]

from IPython.display import display, HTML
re1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].describe().fillna(0).astype(int).reset_index()
# re1 = re1[re1['count'] > 20].reset_index()
c1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].apply(lambda x: x.describe([0.1])['10%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"10%"})
re1 = pd.merge(re1, c1[['date', 'accCode', '10%']], on=['date', 'accCode'])
c1 = checkLog.groupby(['date', 'colo', 'accCode'])['time_diff'].apply(lambda x: x.describe([0.9])['90%']).astype(int).reset_index()
c1 = c1.rename(columns={"time_diff":"90%"})
re1 = pd.merge(re1, c1[['date', 'accCode', '90%']], on=['date', 'accCode'])
re1['accCode'] = re1['accCode'].astype(int)
display(HTML(re1[['date', 'colo', 'accCode', 'count', 'min', '10%', '25%', '50%', '75%', '90%', 'max']].groupby(['colo', 'accCode', 'date']).first().to_html()))

In [17]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034497.0) & (infoData['OrderQty'] == 200) & (infoData['Price'] == 271900.0)]

,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,clock,broker,colo_account,order,group,startClock,duration,orderDirection1,orderNtl,directNum,isMsg,status,exchange,tradeNtl,Price,OrderQty,Side,TradePrice,statusLs,TradePriceLs,TradeQtyLs,brokerNum
10624,1596072830961034,1.596073e+15,2300418,0,4128205,11.0,0,1,200,0,27.19,-1.0,20200730,6678,100,zs_66_01,0,0.0,93348030.0,0.002295,2034497.0,0.003297,0.003297,0.002295,-0.002633,4128205.0,2718.0,2719.0,2020-07-30 09:33:50.961034,66,zs_6678,902,9922,1596072830961034,0,1,5438.0,1,1.0,0,SZE,0.0,271900,200,1,0,"(0, 4)","(0, 271900)","(0, 200)",1

In [23]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034497.0) & (infoData['OrderQty'] == 200) & (infoData['Price'] == 271900.0)]

,date,secid,vai,ars,exchange,group,Price,OrderQty,Side,statusLs,TradePriceLs,TradeQtyLs,ApplSeqNum,order,colo,accCode
10624,20200730,2300418,4128205,11.0,SZE,9922,271900,200,1,"(0, 4)","(0, 271900)","(0, 200)",2034497.0,902,zs_66_01,6678

In [19]:
checkLog1[(checkLog1['SecurityID'] == 300418) & (checkLog1['ApplSeqNum'] == 2034497.0)]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode
115924,300418,2034497.0,1596072830224554,11083432,1.0,400.0,271900.0,4128605.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 400)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
checkLog[(checkLog['SecurityID'] == 300418) & (checkLog['ApplSeqNum'] == 2034497.0)]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode
115924,300418,2034497.0,1596072830224554,11083432,1.0,400.0,271900.0,4128605.0,1.0,93348030,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 400)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
re = pd.merge(checkLog1[(checkLog1['date'] == 20200730) & (checkLog1['accCode'] == 6678)], checkLog[(checkLog['date'] == 20200730)  & (checkLog['accCode'] == 6678)][['SecurityID', 'vai', 'Side']], 
         on=['SecurityID', 'vai'], how='left')
re[re['Side_y'].isnull()]

,SecurityID,ApplSeqNum,clockAtArrival,sequenceNo,Side_x,OrderQty,Price,cum_volume,agg,TransactTime,updateType,TradePrice,TradeQty,secid,StockSeqNum,date,start_time,end_time,statusLs,TradePriceLs,TradeQtyLs,vai,ars,exchange,group,order,colo,accCode,time_diff,colo1,colo_broker,Side_y
70,998,16006509.0,1596085559959977,94883657,1.0,100.0,181800.0,41516797.0,1.0,130557740,0,0,0,2000998,9.981601e+10,20200730,1.596086e+15,1.596086e+15,"(0, 4)","(0, 181800)","(0, 100)",41436597.0,11.0,SZE,637.0,128.0,zs_66_01,6678.0,4511.0,zs,zs_66,NaN
111,2185,2126419.0,1596072830356826,11088308,1.0,1500.0,161700.0,12201100.0,1.0,93348170,0,0,0,2002185,2.185021e+11,20200730,1.596073e+15,1.596073e+15,"(0, 4, 4, 4)","(0, 161700, 161700, 161700)","(0, 1200, 100, 200)",12198500.0,11.0,SZE,888.0,195.0,zs_66_01,6678.0,41124.0,zs,zs_66,NaN
116,2221,18832804.0,1596088866043884,119761994,2.0,600.0,98800.0,13937468.0,1.0,140103820,0,0,0,2002221,2.221188e+11,20200730,1.596089e+15,1.596089e+15,"(0, 4)","(0, 98800)","(0, 600)",13928568.0,11.0,SZE,935.0,202.0,zs_66_01,6678.0,16989.0,zs,zs_66,NaN
133,2385,12275027.0,1596076989174053,69992863,1.0,1800.0,107100.0,126710836.0,0.0,104306980,0,0,0,2002385,2.385123e+11,20200730,1.596077e+15,1.596077e+15,"(0, 3)","(0, 0)","(0, 0)",126672836.0,11.0,SZE,1169.0,228.0,zs_66_01,6678.0,36179.0,zs,zs_66,NaN
147,2429,15948835.0,1596085537836906,94705747,1.0,2400.0,68800.0,92518910.0,0.0,130535620,0,0,0,2002429,2.429159e+11,20200730,1.596086e+15,1.596086e+15,"(0, 3)","(0, 0)","(0, 0)",92463860.0,11.0,SZE,1257.0,252.0,zs_66_01,6678.0,4173.0,zs,zs_66,NaN
152,2500,2007656.0,1596072825190171,10930694,1.0,1200.0,81700.0,4335500.0,0.0,93343000,0,0,0,2002500,2.500020e+11,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 81700)","(0, 1200)",4261400.0,11.0,SZE,1355.0,257.0,zs_66_01,6678.0,45370.0,zs,zs_66,NaN
220,300418,2034497.0,1596072830258907,11084241,1.0,200.0,271900.0,4163205.0,0.0,93348070,0,0,0,2300418,3.004180e+13,20200730,1.596073e+15,1.596073e+15,"(0, 4)","(0, 271900)","(0, 200)",4128205.0,11.0,SZE,2778.0,410.0,zs_66_01,6678.0,35507.0,zs,zs_66,NaN

In [48]:
infoData[(infoData['secid'] == 2300418) & (infoData['ApplSeqNum'] == 2034497.0)]

,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,clock,broker,colo_account,order,group,startClock,duration,orderDirection1,orderNtl,directNum,isMsg,status,exchange,tradeNtl,Price,OrderQty,Side,TradePrice,statusLs,TradePriceLs,TradeQtyLs,brokerNum
10624,1596072830961034,1.596073e+15,2300418,0,4128205,11.0,0,1,200,0,27.19,-1.0,20200730,6678,100,zs_66_01,0,0.0,93348030.0,0.002295,2034497.0,0.003297,0.003297,0.002295,-0.002633,4128205.0,2718.0,2719.0,2020-07-30 09:33:50.961034,66,zs_6678,902,9922,1596072830961034,0,1,5438.0,1,1.0,0,SZE,0.0,271900,200,1,0,"(0, 4)","(0, 271900)","(0, 200)",1

In [47]:

infoData[(infoData['secid'] == 2002500) & (infoData['ApplSeqNum'] == 2007656.0)]

,clockAtArrival,caamd,secid,updateType,vai,ars,absFilledThisUpdate,orderDirection,absOrderSize,absOrderSizeCumFilled,orderPrice,tradePrice,date,accCode,mse,colo,orderSysId,tradeId,sdd,aaa,ApplSeqNum,mrm,mta,mrsb,mrss,mrv,mrb100,mra100,clock,broker,colo_account,order,group,startClock,duration,orderDirection1,orderNtl,directNum,isMsg,status,exchange,tradeNtl,Price,OrderQty,Side,TradePrice,statusLs,TradePriceLs,TradeQtyLs,brokerNum
5457,1596072825892236,1.596073e+15,2002500,0,4261400,11.0,0,1,1200,0,8.17,-1.0,20200730,6678,100,zs_66_01,0,0.0,93342950.0,0.00251,2007656.0,0.002689,0.002689,0.00251,-0.003671,4261400.0,816.0,817.0,2020-07-30 09:33:45.892236,66,zs_6678,749,5653,1596072825892236,0,1,9804.0,1,1.0,0,SZE,0.0,81700,1200,1,0,"(0, 4)","(0, 81700)","(0, 1200)",1