In [ ]:
import pandas as pd
import random
import numpy as np
import glob
import os
from unrar import rarfile
import py7zr
import pickle
import datetime
import time
pd.set_option("max_columns", 200)


year = "2020"
startDate = '20200406'
endDate = '20200531'
bad = []
less = []
readPath = 'K:\\data\\' + year + '\\***\\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("G:\\trading_days.csv")
l = []
for data in dataPathLs:
    if len(np.array(glob.glob(data + '\\SH\\***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    
    startTm = datetime.datetime.now()

    date = os.path.basename(data)
    exe_path = 'G:\\7z1900-extra\\7za.exe'
    rar_path = data + '\\SZ\\snapshot.7z'
    path = 'L:\\DB\\' + year + '\\SZ'
    path1 = path + '\\' + date
    un_path = path1
    cmd = '{} x {} -o{} -aos -r'.format(exe_path, rar_path, un_path)
    os.system(cmd)
    
    date = os.path.basename(data)
    exe_path = 'G:\\7z1900-extra\\7za.exe'
    rar_path = data + '\\SZ\\order.7z'
    path = 'L:\\DB\\' + year + '\\SZ'
    path1 = path + '\\' + date
    un_path = path1
    cmd = '{} x {} -o{} -aos -r'.format(exe_path, rar_path, un_path)
    os.system(cmd)
    
    date = os.path.basename(data)
    exe_path = 'G:\\7z1900-extra\\7za.exe'
    rar_path = data + '\\SZ\\tick.7z'
    path = 'L:\\DB\\' + year + '\\SZ'
    path1 = path + '\\' + date
    un_path = path1
    cmd = '{} x {} -o{} -aos -r'.format(exe_path, rar_path, un_path)
    os.system(cmd)
    
    l.append(data)
    print(datetime.datetime.now() - startTm)
    print(date + ' SZ finished')
    
print(len(l))
print(bad)
print(less)

1:04:06.256069
20200407 SZ finished

In [18]:
import pandas as pd
kk = pd.read_csv(r'F:\data\20200812\logs_20200812_zt_88_03_day_88data\mdTradeLog_20200812_0849.csv')

In [15]:
kk['OrderType'].unique()

array([2, 1, '2', 'U', '1'], dtype=object)

In [17]:
kk[(kk['SecurityID'] == 2413)].to_csv('F:\\data\\20200812\\mdOrderLog_20200812_0849_2413.csv')

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')
            
    def read_daily(self, table_name, start_date=None, end_date=None, skey=None, indexCode=None, interval=None, col=None, return_sdi=True):
        collection = self.db[table_name]
        # Build projection
        prj = {'_id': 0}
        if col is not None:
            if return_sdi:
                col = ['skey', 'date', 'interval'] + col
            for col_name in col:
                prj[col_name] = 1
    
        # Build query
        query = {}
        if skey is not None:
            query['skey'] = {'$in': skey}
        if indexCode is not None:
            query['indexCode'] = {'$in': indexCode}
        if interval is not None:
            query['interval'] = {'$in': interval}
        if start_date is not None:
            if end_date is not None:
                query['date'] = {'$gte': start_date, '$lte': end_date}
            else:
                query['date'] = {'$gte': start_date}
        elif end_date is not None:
            query['date'] = {'$lte': end_date}
    
        # Load data
        cur = collection.find(query, prj)
        if cur is not None:
            df = pd.DataFrame.from_records(cur)
        else:
            df = pd.DataFrame()
        return df


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


# database_name = 
# user = 
# password = 

# db = white_db.DB("192.168.10.223", database_name, user, password)
# data = db.read(table, ***)

In [14]:
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

pd.set_option('max_columns', 200)
db1 = DB("192.168.10.178", database_name, user, password)
data1 = db1.read('md_snapshot_mbd', 20200102, 20200102, symbol = 2002385)
data1

,skey,date,time,clockAtArrival,datetime,ordering,ApplSeqNum,bbo_improve,pass_filter,cum_volume,cum_amount,prev_close,open,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,bid10qList,bid9qList,bid8qList,bid7qList,bid6qList,bid5qList,bid4qList,bid3qList,bid2qList,bid1qList,ask1qList,ask2qList,ask3qList,ask4qList,ask5qList,ask6qList,ask7qList,ask8qList,ask9qList,ask10qList,bid10qInsert,bid9qInsert,bid8qInsert,bid7qInsert,bid6qInsert,bid5qInsert,bid4qInsert,bid3qInsert,bid2qInsert,bid1qInsert,ask1qInsert,ask2qInsert,ask3qInsert,ask4qInsert,ask5qInsert,ask6qInsert,ask7qInsert,ask8qInsert,ask9qInsert,ask10qInsert,bid10qCancel,bid9qCancel,bid8qCancel,bid7qCancel,bid6qCancel,bid5qCancel,bid4qCancel,bid3qCancel,bid2qCancel,bid1qCancel,ask1qCancel,ask2qCancel,ask3qCancel,ask4qCancel,ask5qCancel,ask6qCancel,ask7qCancel,ask8qCancel,ask9qCancel,ask10qCancel,bid10sCancel,bid9sCancel,bid8sCancel,bid7sCancel,bid6sCancel,bid5sCancel,bid4sCancel,bid3sCancel,bid2sCancel,bid1sCancel,ask1sCancel,ask2sCancel,ask3sCancel,ask4sCancel,ask5sCancel,ask6sCancel,ask7sCancel,ask8sCancel,ask9sCancel,ask10sCancel,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels,cum_buy_market_order_volume,cum_sell_market_order_volume,cum_buy_market_order_amount,cum_sell_market_order_amount,cum_buy_market_trade_volume,cum_sell_market_trade_volume,cum_buy_market_trade_amount,cum_sell_market_trade_amount,cum_buy_aggLimit_onNBBO_order_volume,cum_sell_aggLimit_onNBBO_order_volume,cum_buy_aggLimit_onNBBO_order_amount,cum_sell_aggLimit_onNBBO_order_amount,cum_buy_aggLimit_onNBBO_trade_volume,cum_sell_aggLimit_onNBBO_trade_volume,cum_buy_aggLimit_onNBBO_trade_amount,cum_sell_aggLimit_onNBBO_trade_amount,cum_buy_aggLimit_improveNBBO_order_volume,cum_sell_aggLimit_improveNBBO_order_volume,cum_buy_aggLimit_improveNBBO_order_amount,cum_sell_aggLimit_improveNBBO_order_amount,cum_buy_aggLimit_improveNBBO_trade_volume,cum_sell_aggLimit_improveNBBO_trade_volume,cum_buy_aggLimit_improveNBBO_trade_amount,cum_sell_aggLimit_improveNBBO_trade_amount
0,2002385,20200102,92500000000,1577928300000000,2020-01-02 09:25:00.000,1,278323,1,1,4374200,2.397062e+07,4.98,5.48,5.48,5.38,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72000,30700,2100,1600,12600,12100,24500,8300,122400,69462300,0,0,0,0,0,0,0,0,0,0,3,14,3,3,4,3,10,8,21,2189,0,0,0,0,0,0,0,0,0,0,"(20000, 22000, 30000)","(100, 200, 200, 20000, 300, 1000, 200, 3000, 1...","(1400, 600, 100)","(1000, 500, 100)","(3900, 4200, 3000, 1500)","(9800, 1600, 700)","(4400, 2600, 1000, 2000, 2000, 10000, 1300, 10...","(500, 1900, 4000, 1000, 200, 500, 100, 100)","(100, 1500, 5800, 14500, 300, 600, 3900, 10000...","(466100, 257300, 333300, 550800, 206600, 93270...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71926400,0,5.464906,0.0,2941,0,86,0,0,0,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.000000e+00,0,0,0.0,0.000000e+00,0,0,0.0,0.00,0,0,0.0,0.00
1,2002385,20200102,93000000000,1577928600000000,2020-01-02 09:30:00.000,2,298364,0,-1,4374200,2.397062e+07,4.98,5.48,5.48,5.38,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72000,30700,2100,1600,12600,12100,24500,8300,122400,69451000,0,0,0,0,0,0,0,0,0,0,3,14,3,3,4,3,10,8,21,2188,0,0,0,0,0,0,0,0,0,0,"(20000, 22000, 30000)","(100, 200, 200, 20000, 300, 1000, 200, 3000, 1...","(1400, 600, 100)","(1000, 500, 100)","(3900, 4200, 3000, 1500)","(9800, 1600, 700)","(4400, 2600, 1000, 2000, 2000, 10000, 1300, 10...","(500, 1900, 4000, 1000, 200, 500, 100, 100)","(100, 1500, 5800, 14500, 300, 600, 3900, 10000...","(466100, 257300, 333300, 550800, 206600, 93270...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11300,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61924.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71915100,0,5.464903,0.0,2940,0,86,0,0,0,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.000000e+00,0,0,0.0,0.000000e+00,0,0,0.0,0.00,0,0,0.0,0.00
2,2002385,20200102,93000000000,1577928600000000,2020-01-02 09:30:00.000,3,298462,0,-1,4374200,2.397062e+07,4.98,5.48,5.48,5.38,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72000,30700,2100,1600,12600,12100,24500,8300,122400,69380900,0,0,0,0,0,0,0,0,0,0,3,14,3,3,4,3,10,8,21,2187,0,0,0,0,0,0,0,0,0,0,"(20000, 22000, 30000)","(100, 200, 200, 20000, 300, 1000, 200, 3000, 1...","(1400, 600, 100)","(1000, 500, 100)","(3900, 4200, 3000, 1500)","(9800, 1600, 700)","(4400, 2600, 1000, 2000, 2000, 10000, 1300, 10...","(500, 1900, 4000, 1000, 200, 500, 100, 100)","(100, 1500, 5800, 14500, 300, 600, 3900, 10000...","(466100, 257300, 333300, 550800, 206600, 93270...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70100,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,384148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71845000,0,5.464889,0.0,2939,0,86,0,0,0,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.000000e+00,0,0,0.0,0.000000e+00,0,0,0.0,0.00,0,0,0.0,0.00
3,2002385,20200102,93000000000,1577928600000000,2020-01-02 09:30:00.000,4,298585,0,-1,4374200,2.397062e+07,4.98,5.48,5.48,5.38,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72000,30700,2100,1600,12600,12100,24500,8300,122400,69880900,0,0,0,0,0,0,0,0,0,0,3,14,3,3,4,3,10,8,21,2188,0,0,0,0,0,0,0,0,0,0,"(20000, 22000, 30000)","(100, 200, 200, 20000, 300, 1000, 200, 3000, 1...","(1400, 600, 100)","(1000, 500, 100)","(3900, 4200, 3000, 1500)","(9800, 1600, 700)","(4400, 2600, 1000, 2000, 2000, 10000, 1300, 10...","(500, 1900, 4000, 1000, 200, 500, 100, 100)","(100, 1500, 5800, 14500, 300, 600, 3900, 10000...","(466100, 257300, 333300, 550800, 206600, 93270...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72345000,0,5.464993,0.0,2940,0,86,0,0,0,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.000000e+00,0,0,0.0,0.000000e+00,0,0,0.0,0.00,0,0,0.0,0.00
4,2002385,20200102,93000000000,1577928600000000,2020-01-02 09:30:00.000,5,298681,0,-1,4374200,2.397062e+07,4.98,5.48,5.48,5.38,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72000,30700,2100,1600,12600,12100,24500,8300,122400,69880500,0,0,0,0,0,0,0,0,0,0,3,14,3,3,4,3,10,8,21,2187,0,0,0,0,0,0,0,0,0,0,"(20000, 22000, 30000)","(100, 200, 200, 20000, 300, 1000, 200, 3000, 1...","(1400, 600, 100)","(1000, 500, 100)","(3900, 4200, 3000, 1500)","(9800, 1600, 700)","(4400, 2600, 1000, 2000, 2000, 10000, 1300, 10...","(500, 1900, 4000, 1000, 200, 500, 100, 100)","(100, 1500, 5800, 14500, 300, 600, 3900, 10000...","(466100, 257300, 333300, 550800, 206600, 93270...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,400,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2192.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72344600,0,5.464993,0.0,2939,0,86,0,0,0,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.000000e+00,0,0,0.0,0.000000e+00,0,0,0.0,0.00,0,0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24303,2002385,20200102,145652360000,1577948212360000,2020-01-02 14:56:52.360,24304,17581886,0,-1,56117709,3.075250e+08,4.98,5.48,5.48,5.39,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7800,73700,549700,9100,11600,10300,83200,94600,94100,25197641,0,0,0,0,0,0,0,0,0,0,4,22,16,5,6,13,33,32,36,4069,0,0,0,0,0,0,0,0,0,0,"(3000, 100, 700, 4000)","(3000, 200, 200, 400, 500, 5300, 17700, 300, 6...","(600, 1000, 1000, 15800, 25200, 108300, 39000,...","(100, 2000, 2200, 4600, 200)","(4200, 3000, 2900, 800, 600, 100)","(1100, 200, 1000, 100, 100, 300, 4500, 600, 12...","(4400, 2000, 1000, 100, 100, 1000, 1000, 1200,...","(1900, 1000, 20000, 2000, 200, 200, 3000, 600,...","(100, 500, 100, 200, 2000, 600, 1400, 6000, 39...","(9841, 11300, 500, 4200, 2000, 3000, 1000, 200...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27897641,0,5.458329,0.0,4585,0,79,0,124600,9400,684054.0,51512.0,0,9400,0.0,51512.0,0,49191161,0.0,2.695676e+08,0,49191161,0.0,2.695676e+08,0,2542948,0.0,13783873.08,0,2542948,0.0,13935355.04
24304,2002385,20200102,145652380000,1577948212380000,2020-01-02 14:56:52.380,24305,17581916,0,-1,56117709,3.075250e+08,4.98,5.48,5.48,5.39,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7800,73700,549700,9100,11600,10300,83200,94600,94100,25197441,0,0,0,0,0,0,0,0,0,0,4,22,16,5,6,13,33,32,36,4068,0,0,0,0,0,0,0,0,0,0,"(3000, 100, 700, 4000)","(3000, 200, 200, 400, 500, 5300, 17700, 300, 6...","(600, 1000, 1000, 15800, 25200, 108300, 39000,...","(100, 2000, 2200, 4600, 200)","(4200, 3000, 2900, 800, 600, 100)","(1100, 200, 1000, 100, 100, 300, 4500, 600, 12...","(4400, 2000, 1000, 100, 100, 1000, 1000, 1200,...","(1900, 1000, 20000, 2000, 200, 200, 3000, 600,...","(100, 500, 100, 200, 2000, 600, 1400, 6000, 39...","(9841, 11300, 500, 4200, 2000, 3000, 1000, 200...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,200,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1096.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27897441,0,5.458329,0.0,4584,0,79,0,124600,9400,684054.0,51512.0,0,9400,0.0,51512.0,0,49191161,0.0,2.695676e+08,0,49191161,0.0,2.695676e+08,0,2542948,0.0,13783873.08,0,2542948,0.0,13935355.04
24305,2002385,20200102,145653300000,1577948213300000,2020-01-02 14:56:53.300,24306,17583345,0,-1,56117709,3.075250e+08,4.98,5.48,5.48,5.39,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7800,73700,549700,9100,11600,10300,83200,94600,94100,25197041,0,0,0,0,0,0,0,0,0,0,4,22,16,5,6,13,33,32,36,4067,0,0,0,0,0,0,0,0,0,0,"(3000, 100, 700, 4000)","(3000, 200, 200, 400, 500, 5300, 17700, 300, 6...","(600, 1000, 1000, 15800, 25200, 108300, 39000,...","(100, 2000, 2200, 4600, 200)","(4200, 3000, 2900, 800, 600, 100)","(1100, 200, 1000, 100, 100, 300, 4500, 600, 12...","(4400, 2000, 1000, 100, 100, 1000, 1000, 1200,...","(1900, 1000, 20000, 2000, 200, 200, 3000, 600,...","(100, 500, 100, 200, 2000, 600, 1400, 6000, 39...","(9841, 11300, 500, 4200, 2000, 3000, 1000, 200...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,400,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2192.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27897041,0,5.458329,0.0,4583,0,79,0,124600,9400,684054.0,51512.0,0,9400,0.0,51512.0,0,49191161,0.0,2.695676e+08,0,49191161,0.0,2.695676e+08,0,2542948,0.0,13783873.08,0,2542948,0.0,13935355.04
24306,2002385,20200102,145654020000,1577948214020000,2020-01-02 14:56:54.020,24307,17584442,0,-1,56117709,3.075250e+08,4.98,5.48,5.48,5.39,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7800,73700,549700,9100,11600,10300,83200,94600,94100,24831441,0,0,0,0,0,0,0,0,0,0,4,22,16,5,6,13,33,32,36,4066,0,0,0,0,0,0,0,0,0,0,"(3000, 100, 700, 4000)","(3000, 200, 200, 400, 500, 5300, 17700, 300, 6...","(600, 1000, 1000, 15800, 25200, 108300, 39000,...","(100, 2000, 2200, 4600, 200)","(4200, 3000, 2900, 800, 600, 100)","(1100, 200, 1000, 100, 100, 300, 4500, 600, 12...","(4400, 2000, 1000, 100, 100, 1000, 1000, 1200,...","(1900, 1000, 20000, 2000, 200, 200, 3000, 600,...","(100, 500, 100, 200, 2000, 600, 1400, 6000, 39...","(9841, 11300, 500, 4200, 2000, 3000, 1000, 200...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,365600,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2003488.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27531441,0,5.458041,0.0,4582,0,79,0,124600,9400,684054.0,51512.0,0,9400,0.0,51512.0,0,49191161,0.0,2.695676e+08,0,49191161,0.0,2.695676e+08,0,2542948,0.0,13783873.08,0,2542948,0.0,13935355.04
24307,2002385,20200102,145654020000,1577948214020000,2020-01-02 14:56:54.020,24308,17584443,0,-1,56117709,3.075250e+08,4.98,5.48,5.48,5.39,5.4,5.41,5.42,5.43,5.44,5.45,5.46,5.47,5.48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7800,73700,549700,9100,11600,10300,83200,94600,94100,24465841,0,0,0,0,0,0,0,0,0,0,4,22,16,5,6,13,33,32,36,4065,0,0,0,0,0,0,0,0,0,0,"(3000, 100, 700, 4000)","(3000, 200, 200, 400, 500, 5300, 17700, 300, 6...","(600, 1000, 1000, 15800, 25200, 108300, 39000,...","(100, 2000, 2200, 4600, 200)","(4200, 3000, 2900, 800, 600, 100)","(1100, 200, 1000, 100, 100, 300, 4500, 600, 12...","(4400, 2000, 1000, 100, 100, 1000, 1000, 1200,...","(1900, 1000, 20000, 2000, 200, 200, 3000, 600,...","(100, 500, 100, 200, 2000, 600, 1400, 6000, 39...","(9841, 11300, 500, 4200, 2000, 3000, 1000, 200...",(),(),(),(),(),(),(),(),(),(),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,365600,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2003488.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27165841,0,5.457745,0.0,4581,0,79,0,124600,9400,684054.0,51512.0,0,9400,0.0,51512.0,0,49191161,0.0,2.695676e+08,0,49191161,0.0,2.695676e+08,0,2542948,0.0,13783873.08,0,2542948,0.0,13935355.04

In [15]:
import sys
display(sys.getsizeof(data1) / (1024 ** 3))
display(sys.getsizeof(data1[['bid1qList']]) / (1024 ** 3))
display(sys.getsizeof(data1['bid1qList'].apply(lambda x: x[:500])) / (1024 ** 3))
display(sys.getsizeof(data1['bid1qList'].apply(lambda x: ','.join(map(str, x)))) / (1024 ** 3))

0.6206464543938637

0.5530746281147003

0.5530746281147003

0.09127893298864365

0.3274216493591666

In [9]:
import numpy as np
data1[['ask1qList']].apply(lambda x: np.array(x)).iloc[0]

ask1qList    (361506, 20300, 20000, 10600, 15000, 405000, 4...
Name: 0, dtype: object

In [32]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz

def DB1(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_stock_daily(db, name, start_date=None, end_date=None, skey=None, index_name=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_name is not None:
        query['index_name'] = {'$in': index_name}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'skey'])
    return df    

host = '192.168.10.178'
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"
db1 = DB1(host, database_name, user, password)

startDate = 20200918
endDate = 20200921
targetStockLs = [1600000, 2000001]
read_stock_daily(db1, 'mdbar1d_tr', startDate, endDate, skey=targetStockLs)
 
# startDate = 20200918
# endDate = 20200921
# targetIndexLs = ['IC']
# read_stock_daily(db1, 'mdbar1d_tr', startDate, endDate, index_name=targetIndexLs)

# startDate = 20200918
# endDate = 20200921
# targetIndexLs = ['IC']
# read_stock_daily(db1, 'mdbar1d_tr', startDate, endDate, index_name=targetIndexLs, col=['yclose', 'open', 'close'])

,skey,date,time,name,trade_status,listed_days,open,high,low,close,closeL1,yclose,ztClose,dtClose,dayReturn,volume,amount,buy_volume,sell_volume,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,isST,VWAP,TWAP,marketValue,marketShares,totalShares,SW1_name,SW1_code,SW2_code,SW3_code,index_name,index_weight,exchange
0,1600000,20200918,180000000000,浦发银行,1,4939,9.84,9.94,9.80,9.94,9.83,9.83,10.81,8.85,0.011190,95230581,9.416305e+08,52881455.0,42349126.0,0.003244,0,0,0,0,0,0,0,9.887900,9.879104,2.917602e+11,2.935213e+10,2.935213e+10,申万银行,SW801780,SW801192,SW851911,IF,0.692216,SSE
1,2000001,20200918,180000000000,平安银行,1,7031,15.62,16.09,15.52,16.07,15.57,15.57,17.13,14.01,0.032113,137319330,2.186759e+09,78917618.0,58401712.0,0.007076,0,0,0,0,0,0,0,15.924627,15.896483,3.118504e+11,1.940575e+10,1.940592e+10,申万银行,SW801780,SW801192,SW851911,IF,0.924760,SZSE
2,1600000,20200921,180000000000,浦发银行,1,4940,9.94,9.97,9.83,9.84,9.94,9.94,10.93,8.95,-0.010060,55998716,5.530376e+08,25618965.0,30379751.0,0.001908,0,0,0,0,0,0,0,9.875898,9.867140,2.888250e+11,2.935213e+10,2.935213e+10,申万银行,SW801780,SW801192,SW851911,IF,0.691940,SSE
3,2000001,20200921,180000000000,平安银行,1,7032,16.00,16.05,15.71,15.86,16.07,16.07,17.68,14.46,-0.013068,89616165,1.418371e+09,43130483.0,46485682.0,0.004618,0,0,0,0,0,0,0,15.827178,15.809364,3.077752e+11,1.940575e+10,1.940592e+10,申万银行,SW801780,SW801192,SW851911,IF,0.921584,SZSE

In [37]:
95230581 / read_stock_daily(db1, 'mdbar1d_tr', startDate, endDate, skey=targetStockLs)['marketShares'].iloc[0]

0.0032444178819580243