In [27]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200515_Tick\20200515_Tick\SH\20200515\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))| (dateLs == 16) | (dateLs == 300)
                       | (dateLs == 852) | (dateLs == 905)]
logSH1 = pd.DataFrame()
for i in dataPathLs:
    df = pd.read_csv(i, encoding="GBK")[["code", "time", "accvolume", "price", "volume", "open", 
                                            "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
                                            "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
                                            "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
    logSH1 = pd.concat([logSH1, df])
logSH1 = logSH1.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
                               "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
                               "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
                               "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
                                "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})
logSH1

,StockID,time,cum_volume,close,volume,openPrice,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q
0,603676,80000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,603676,84543000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,603676,91410000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,603676,91503000,0,0,0,0,107300,0,0,0,0,9000,0,0,0,0,107300,0,0,0,0,9000,4400,0,0,0
4,603676,91505000,0,0,0,0,105900,0,0,0,0,9000,0,0,0,0,105900,0,0,0,0,9000,200,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4643,688008,150118000,3948937,1050800,0,1026000,1050700,1050600,1050200,1050100,1050000,800,500,1209,1000,4400,1050800,1050900,1051000,1051100,1051300,619,1400,12805,457,4447
4644,688008,150500160,3948937,1050800,0,1026000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4645,688008,151101291,3948937,1050800,0,1026000,1050800,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4646,688008,153001870,3948937,1050800,0,1026000,1050800,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4647,688008,153016000,3948937,1050800,0,1026000,1050700,1050600,1050200,1050100,1050000,800,500,1209,1000,4400,1050800,1050900,1051000,1051100,1051300,619,1400,12805,457,4447

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os

readPath = r'\\192.168.10.30\Kevin_zhenyu\temp\wind\20200515\Tick\SZ\20200515\***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | (dateLs > 300000)]
logSZ1 = []

for i in dataPathLs:
    df = pd.read_csv(i, compression='gzip')[["code", "time", "accvolume", "price", "volume", "open", 
                                            "bid1", "bid2", "bid3", "bid4", "bid5", "bsize1", "bsize2",
                                            "bsize3", "bsize4", "bsize5", "ask1", "ask2", "ask3", "ask4", 
                                            "ask5", "asize1", "asize2", "asize3", "asize4", "asize5"]]
    logSZ1 += [df]
logSZ1 = pd.concat(logSZ1).reset_index(drop=True)
logSZ1 = logSZ1.rename(columns={"code":"StockID", "accvolume":"cum_volume", "price":"close", "open":"openPrice",
                               "bid1":"bid1p", "bid2":"bid2p", "bid3":"bid3p", "bid4":"bid4p", "bid5":"bid5p",
                               "bsize1":"bid1q", "bsize2":"bid2q", "bsize3":"bid3q", "bsize4":"bid4q", "bsize5":"bid5q",
                               "ask1":"ask1p", "ask2":"ask2p", "ask3":"ask3p", "ask4":"ask4p", "ask5":"ask5p","asize1":"ask1q", 
                                "asize2":"ask2q", "asize3":"ask3q", "asize4":"ask4q", "asize5":"ask5q"})
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    logSZ1[col] = logSZ1[col]/10000
    logSH1[col] = logSH1[col]/10000

In [2]:
logSH = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200515_zt_96_04_day_96data\mdLog_SH_20200515_0837.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSZ = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200515_zt_96_04_day_96data\mdLog_SZ_20200515_0837.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

In [3]:
piu = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200515_zs_92_01_day_data\mdL2Log_20200515_0834.csv',
                    encoding="utf-8")
piu = piu.rename(columns={"SecurityID":"StockID", "updateTime":"time", "TotalVolumeTraded":"cum_volume", "TotalValueTraded":"cum_amount",\
                           "TradePx":"close", "OpenPx":"openPrice"})
for i in range(10):
    piu = piu.rename(columns={"BidLevels"+str(i)+"Price":"bid"+str(i+1)+"p", "BidLevels"+str(i)+"OrderQty":"bid"+str(i+1)+"q",
                               "OfferLevels"+str(i)+"Price":"ask"+str(i+1)+"p", "OfferLevels"+str(i)+"OrderQty":"ask"+str(i+1)+"q"})
logSZ = piu[piu["exchId"] == 2]

In [194]:
piu1 = piu[piu["SecurityID"] == 2242]   
piu1 = piu1[["SecurityID", "updateTime", "TotalVolumeTraded", "TotalValueTraded", "TradePx", "BidLevels0Price", "BidLevels1Price",
            "BidLevels2Price", "BidLevels3Price", "BidLevels4Price", "BidLevels5Price", "BidLevels6Price",
            "BidLevels7Price", "BidLevels8Price", "BidLevels9Price", "BidLevels0OrderQty", "BidLevels1OrderQty", "BidLevels2OrderQty",
            "BidLevels3OrderQty", "BidLevels4OrderQty", "BidLevels5OrderQty", "BidLevels6OrderQty", "BidLevels7OrderQty",
            "BidLevels8OrderQty", "BidLevels9OrderQty", "OfferLevels0Price", "OfferLevels1Price", "OfferLevels2Price", "OfferLevels3Price", 
            "OfferLevels4Price", "OfferLevels5Price", "OfferLevels6Price", "OfferLevels7Price", "OfferLevels8Price", 
            "OfferLevels9Price", "OfferLevels0OrderQty", "OfferLevels1OrderQty", "OfferLevels2OrderQty", "OfferLevels3OrderQty", 
            "OfferLevels4OrderQty", "OfferLevels5OrderQty", "OfferLevels6OrderQty", "OfferLevels7OrderQty", "OfferLevels8OrderQty", 
            "OfferLevels9OrderQty"]]
piu1 = piu1.rename(columns={"SecurityID":"StockID", "updateTime":"time", "TotalVolumeTraded":"cum_volume", "TotalValueTraded":"cum_amount",
                           "TradePx":"close", "OpenPx":"openPrice"})
for i in range(10):
    piu1 = piu1.rename(columns={"BidLevels"+str(i)+"Price":"bid"+str(i+1)+"p", "BidLevels"+str(i)+"OrderQty":"bid"+str(i+1)+"q",
                               "OfferLevels"+str(i)+"Price":"ask"+str(i+1)+"p", "OfferLevels"+str(i)+"OrderQty":"ask"+str(i+1)+"q"})

piu1.to_csv(r'\\192.168.10.30\Kevin_zhenyu\temp\002242.csv', index=False)

In [79]:
display(logSZ["source"].unique())
display(logSH["source"].unique())
display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 144500000) & (logSZ["time"] <= 145000000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 144500000) & (logSZ1["time"] <= 145000000)])
display(logSH[(logSH["StockID"] == 600004) & (logSH["time"] >= 143000000) & (logSH["time"] <= 145000000)])
display(logSH1[(logSH1["StockID"] == 600004) & (logSH1["time"] >= 143000000) & (logSH1["time"] <= 145000000)])

array([ 9, 13], dtype=int64)

array([ 9, 13], dtype=int64)

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
14305720,1589525096432152,113545248,13,1,SZ,144500000,70331262,9.336190e+08,13.22,13.22,13.21,13.20,13.19,13.18,153649,551600,809300,84400,291900,13.23,13.24,13.25,13.26,13.27,118071,58900,101200,85200,43600,13.39
14305737,1589525096439307,113545356,9,1,SZ,144500000,70331262,9.336190e+08,13.22,13.22,13.21,13.20,13.19,13.18,153649,551600,809300,84400,291900,13.23,13.24,13.25,13.26,13.27,118071,58900,101200,85200,43600,13.39
14309127,1589525099484850,113576545,13,1,SZ,144503000,70411162,9.346755e+08,13.23,13.22,13.21,13.20,13.19,13.18,102949,551600,809400,84400,291900,13.23,13.24,13.25,13.26,13.27,74471,58900,102200,85200,43600,13.39
14309167,1589525099492266,113577074,9,1,SZ,144503000,70411162,9.346755e+08,13.23,13.22,13.21,13.20,13.19,13.18,102949,551600,809400,84400,291900,13.23,13.24,13.25,13.26,13.27,74471,58900,102200,85200,43600,13.39
14312602,1589525102434051,113615094,13,1,SZ,144506000,70418662,9.347747e+08,13.22,13.22,13.21,13.20,13.19,13.18,97349,551600,809100,84400,291900,13.23,13.24,13.25,13.26,13.27,74771,59300,102200,85200,43600,13.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14638853,1589525390448028,116218758,9,1,SZ,144954000,71708131,9.518164e+08,13.21,13.21,13.20,13.19,13.18,13.17,428780,986200,114400,547100,112800,13.22,13.23,13.24,13.25,13.26,157083,63930,172300,60770,23300,13.39
14642253,1589525393430744,116245536,13,1,SZ,144957000,71720631,9.519816e+08,13.22,13.21,13.20,13.19,13.18,13.17,430680,987500,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,162383,63930,172300,60770,23300,13.39
14642281,1589525393447732,116245659,9,1,SZ,144957000,71720631,9.519816e+08,13.22,13.21,13.20,13.19,13.18,13.17,430680,987500,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,162383,63930,172300,60770,23300,13.39
14645628,1589525396431276,116276305,13,1,SZ,145000000,71786031,9.528461e+08,13.22,13.21,13.20,13.19,13.18,13.17,439180,989000,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,106683,63930,172300,60770,23300,13.39
14645640,1589525396437186,116276378,9,1,SZ,145000000,71786031,9.528461e+08,13.22,13.21,13.20,13.19,13.18,13.17,439180,989000,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,106683,63930,172300,60770,23300,13.39

,StockID,time,cum_volume,close,volume,openPrice,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,amount,cum_amount
4569,1,144500000,70331262,13.22,91344,13.39,13.22,13.21,13.20,13.19,13.18,153649,551600,809300,84400,291900,13.23,13.24,13.25,13.26,13.27,118071,58900,101200,85200,43600,12075676800,9336683667900
4570,1,144503000,70411162,13.23,79900,13.39,13.22,13.21,13.20,13.19,13.18,102949,551600,809400,84400,291900,13.23,13.24,13.25,13.26,13.27,74471,58900,102200,85200,43600,10570770000,9347254437900
4571,1,144506000,70418662,13.22,7500,13.39,13.22,13.21,13.20,13.19,13.18,97349,551600,809100,84400,291900,13.23,13.24,13.25,13.26,13.27,74771,59300,102200,85200,43600,991500000,9348245937900
4572,1,144509000,70434662,13.22,16000,13.39,13.22,13.21,13.20,13.19,13.18,85749,551600,809900,84400,291900,13.23,13.24,13.25,13.26,13.27,75171,59300,102200,85200,43600,2115200000,9350361137900
4573,1,144512000,70442862,13.23,8200,13.39,13.22,13.21,13.20,13.19,13.18,83149,552600,810500,84400,292400,13.23,13.24,13.25,13.26,13.27,73071,59300,101600,85200,43600,1084860000,9351445997900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4665,1,144948000,71676831,13.22,3455,13.39,13.21,13.20,13.19,13.18,13.17,429780,980600,114100,546100,112800,13.22,13.23,13.24,13.25,13.26,76583,63930,172300,60770,23300,456751000,9514512359400
4666,1,144951000,71689831,13.21,13000,13.39,13.21,13.20,13.19,13.18,13.17,429280,985000,114100,547100,112800,13.22,13.23,13.24,13.25,13.26,171083,63930,172300,60770,23300,1717300000,9516229659400
4667,1,144954000,71708131,13.21,18300,13.39,13.21,13.20,13.19,13.18,13.17,428780,986200,114400,547100,112800,13.22,13.23,13.24,13.25,13.26,157083,63930,172300,60770,23300,2417430000,9518647089400
4668,1,144957000,71720631,13.22,12500,13.39,13.21,13.20,13.19,13.18,13.17,430680,987500,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,162383,63930,172300,60770,23300,1652500000,9520299589400
4669,1,145000000,71786031,13.22,65400,13.39,13.21,13.20,13.19,13.18,13.17,439180,989000,114400,545700,112800,13.22,13.23,13.24,13.25,13.26,106683,63930,172300,60770,23300,8645880000,9528945469400

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
9866253,1589524197538336,105819398,13,600004,SH,143001000,10448603,1.436540e+08,13.72,13.72,13.71,13.70,13.69,13.68,24235,52300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,4104,83950,18100,46300,22779,13.68
9868722,1589524200539425,105846748,13,600004,SH,143004000,10461003,1.438242e+08,13.72,13.72,13.71,13.70,13.69,13.68,15935,52300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1504,83950,18100,46300,22779,13.68
9869542,1589524201718067,105854367,9,600004,SH,143003950,10461003,1.438242e+08,13.72,13.72,13.71,13.70,13.69,13.68,15935,52300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1504,83950,18100,46300,22779,13.68
9871007,1589524203585530,105875014,13,600004,SH,143007000,10461603,1.438324e+08,13.73,13.72,13.71,13.70,13.69,13.68,15835,53300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1004,83550,18000,46300,22779,13.68
9871881,1589524204704595,105882831,9,600004,SH,143006690,10461603,1.438324e+08,13.73,13.72,13.71,13.70,13.69,13.68,15835,53300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1004,83450,18000,46300,22779,13.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10820845,1589525389821504,116213860,9,600004,SH,144950920,11605204,1.595097e+08,13.70,13.69,13.68,13.67,13.66,13.65,46554,11900,26300,33800,79600,13.70,13.71,13.72,13.73,13.74,3600,21942,76605,9500,47900,13.68
10822667,1589525391652085,116231807,13,600004,SH,144955000,11608873,1.595600e+08,13.70,13.70,13.69,13.68,13.67,13.66,2865,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,21942,76605,9500,47900,10500,13.68
10823540,1589525392848565,116241138,9,600004,SH,144954150,11608873,1.595600e+08,13.70,13.70,13.69,13.68,13.67,13.66,2865,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,21542,76605,9500,47900,10500,13.68
10825318,1589525394644584,116258791,13,600004,SH,144958000,11610473,1.595819e+08,13.70,13.70,13.69,13.68,13.67,13.66,1265,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,20642,76605,9500,47900,10500,13.68
10826108,1589525395877789,116269241,9,600004,SH,144958970,11610573,1.595833e+08,13.70,13.70,13.69,13.68,13.67,13.66,1165,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,20642,76605,9500,47900,10500,13.68

,StockID,time,cum_volume,close,volume,openPrice,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,amount,cum_amount
4244,600004,143001000,10448603,13.72,900,13.68,13.72,13.71,13.70,13.69,13.68,24235,52300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,4104,83950,18100,46300,22779,123480000,1436611837200
4245,600004,143004000,10461003,13.72,12400,13.68,13.72,13.71,13.70,13.69,13.68,15935,52300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1504,83950,18100,46300,22779,1701280000,1438313117200
4246,600004,143007000,10461603,13.73,600,13.68,13.72,13.71,13.70,13.69,13.68,15835,53300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,1004,83550,18000,46300,22779,82380000,1438395497200
4247,600004,143010000,10463203,13.72,1600,13.68,13.72,13.71,13.70,13.69,13.68,15235,53300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,304,83250,18000,46300,22779,219520000,1438615017200
4248,600004,143013000,10463803,13.72,600,13.68,13.72,13.71,13.70,13.69,13.68,14935,53300,82099,78400,91500,13.73,13.74,13.75,13.76,13.77,104,85250,16900,46300,22779,82320000,1438697337200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4640,600004,144946000,11602004,13.69,0,13.68,13.69,13.68,13.67,13.66,13.65,16654,11600,25200,33800,79600,13.71,13.72,13.73,13.74,13.75,23442,81305,9500,47900,10500,0,1594732304800
4641,600004,144949000,11603504,13.71,1500,13.68,13.69,13.68,13.67,13.66,13.65,17354,11900,25200,33800,79600,13.70,13.71,13.72,13.73,13.74,4800,21942,76605,9500,47900,205650000,1594937954800
4642,600004,144952000,11605204,13.70,1700,13.68,13.69,13.68,13.67,13.66,13.65,46554,11900,26300,33800,79600,13.70,13.71,13.72,13.73,13.74,3600,21942,76605,9500,47900,232900000,1595170854800
4643,600004,144955000,11608873,13.70,3669,13.68,13.70,13.69,13.68,13.67,13.66,2865,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,21942,76605,9500,47900,10500,502653000,1595673507800
4644,600004,144958000,11610473,13.70,1600,13.68,13.70,13.69,13.68,13.67,13.66,1265,44420,11900,26400,33800,13.71,13.72,13.73,13.74,13.75,20642,76605,9500,47900,10500,219200000,1595892707800

## SH lv2 comparison

In [125]:
in_dex = [16, 300, 852, 905]
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)
              & (logSH["source"] == 13)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    data2_1[col] = data2_1[col].round(2)

n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
#columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#           "ask4q", "ask5q"]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["cum_amount_x"].count()
n2 = test["cum_amount_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["cum_amount_y"])])
    display(len(test[np.isnan(test["cum_amount_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["cum_amount_x"])])
    display(n2-n1)
    print((n2-n1)/n1)

1601
1603
5176926
5176926
5176926
-----------------------------------------------

In [ ]:
display(data1_1[(data1_1["StockID"] == 603789) & (data1_1["cum_volume"] == 62400)]["bid5p"].iloc[1])
display(data2_1[(data2_1["StockID"] == 603789) & (data2_1["cum_volume"] == 62400)]["bid5p"].iloc[1])

In [120]:
for cols in columns:
    print(cols)
    print(data1_1[(data1_1["StockID"] == 603789) & (data1_1["cum_volume"] == 62400)][cols].iloc[1] == \
data2_1[(data2_1["StockID"] == 603789) & (data2_1["cum_volume"] == 62400)][cols].iloc[1])

StockID
True
cum_volume
True
close
True
bid1p
True
bid2p
True
bid3p
True
bid4p
True
bid5p
False
bid1q
True
bid2q
True
bid3q
True
bid4q
True
bid5q
True
ask1p
True
ask2p
True
ask3p
True
ask4p
True
ask5p
True
ask1q
True
ask2q
True
ask3q
True
ask4q
True
ask5q
True
openPrice
True

## SH index comparison

In [12]:
data1 = logSH[(logSH["StockID"] == 300) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000) & (logSH["source"] == 13)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
data2["cum_volume"] = data2["cum_volume"]/100
for col in ["close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "ask1p", "ask2p","ask3p", "ask4p", "ask5p","openPrice"]:
    data1[col] = data1[col].round(2)
    data2[col] = data2[col].round(2)
# data2 = data2[data2["openPrice"] != 0]
columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
columns = ["StockID", "cum_volume", "close", "openPrice"]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["cum_amount_x"].count()
n2 = test["cum_amount_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["cum_amount_y"])])

NameError: name 'logSH' is not defined

In [146]:
display(data1_1[(data1_1["cum_volume"] == 81295726)])
display(data2_1[(data2_1["cum_volume"] == 81295726)])

,index,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
2573,10057096,1589524444049245,107896953,13,300,SH,143408000,81295726,1.360389e+11,3917.16,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,3941.12

,index,StockID,time,cum_volume,close,volume,openPrice,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,amount,cum_amount
2573,2573,300,143408000,81295726.0,3917.17,1728300,3941.12,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,67700362695000,319045979494421200

## SZ lv2 comparison

In [5]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["time"] < 145700000) ]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["time"] < 145700000)]

columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 > n2:
    data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
if n2 > n1:
    data2_1 = data2_1[data2_1["StockID"].isin(data1_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["time_x"].count()
n2 = test["time_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["time_y"])])
    print(len(test[np.isnan(test["time_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["time_x"])])
    display(n2-n1)

2209
2569
6981029
6981029
6981029
-----------------------------------------------

In [170]:
test[np.isnan(test["cum_amount_x"])]["time_y"].unique()

array([101457000], dtype=int64)

In [16]:
test[np.isnan(test["time_y"])]["time_x"].astype(int).unique()

array([ 93615000,  95515000, 131539000, 133133000, 144724000, 145527000],
      dtype=int64)

In [73]:
logSZ1[(logSZ1["StockID"] == 300003) & (logSZ1["time"] >= 95500000) & (logSZ1["time"] < 95540000)][["StockID", "time", "cum_volume",
                                                                                                  "bid1p", 
"bid1q", 
"ask1p", 
"ask1q"]]

     StockID      time  cum_volume  bid1p  bid1q  ask1p  ask1q
545   300003  95500000     2322101  39.71   9340  39.74  34100
546   300003  95503000     2323501  39.73   2800  39.74  32900
547   300003  95506000     2327001  39.71   9340  39.73    272
548   300003  95509000     2332335  39.71   8006  39.74  70172
549   300003  95512000     2334505  39.71   6036  39.73   5600
550   300003  95518000     2388305  39.71    600  39.74  25472
551   300003  95521000     2389705  39.70  71898  39.71    500
552   300003  95524000     2435105  39.70  26498  39.71   4900
553   300003  95527000     2457105  39.70  25498  39.74  23572
554   300003  95530000     2458705  39.71   2900  39.73   1000
555   300003  95533000     2469705  39.71   2400  39.74  14972
556   300003  95536000     2469905  39.73    300  39.74  14972
557   300003  95539000     2474405  39.70  46298  39.71   1700

In [74]:
logSZ[(logSZ["StockID"] == 300003) & (logSZ["time"] >= 95500000) & (logSZ["time"] < 95540000) & (logSZ["source"] == 4)][["StockID", "time", "cum_volume",
                                                                                                  "bid1p", "bid1q","ask1p","ask1q"]]

         StockID      time  cum_volume  bid1p  bid1q  ask1p  ask1q
2165179   300003  95500000     2322101  39.71   9340  39.74  34100
2168719   300003  95503000     2323501  39.73   2800  39.74  32900
2172400   300003  95506000     2327001  39.71   9340  39.73    272
2176072   300003  95509000     2332335  39.71   8006  39.74  70172
2179619   300003  95512000     2334505  39.71   6036  39.73   5600
2183137   300003  95515000     2354905  39.71   6936  39.74  55672
2186707   300003  95518000     2388305  39.71    600  39.74  25472
2190185   300003  95521000     2389705  39.70  71898  39.71    500
2193760   300003  95524000     2435105  39.70  26498  39.71   4900
2197174   300003  95527000     2457105  39.70  25498  39.74  23572
2200609   300003  95530000     2458705  39.71   2900  39.73   1000
2204114   300003  95533000     2469705  39.71   2400  39.74  14972
2207522   300003  95536000     2469905  39.73    300  39.74  14972
2210930   300003  95539000     2474405  39.70  46298  39.71   1700